Repository department-of-veterans-affairs/vets-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers, @department-of-veterans-affairs/vfs-vaos, @department-of-veterans-affairs/vfs-ebenefits, @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/vsa-bam-1-backend, @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/va-cto-health-products, @department-of-veterans-affairs/vsa-healthcare-health-quest-1-backend, @department-of-veterans-affairs/vsa-facilities-backend

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/backend-review-group and @department-of-veterans-affairs/va-api-engineers will be requested for
# review when someone opens a pull request.

*       @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/va-api-engineers

# Experiment for isolating VFS teams
modules/vaos/                        @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group
spec/support/*/vaos/                 @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group

lib/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group
spec/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group

modules/mobile/                      @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group
spec/support/*/mobile/               @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group

rakelib/form526.rake @department-of-veterans-affairs/vsa-bam-1-backend @department-of-veterans-affairs/backend-review-group
spec/rakelib/form526_spec.rb @department-of-veterans-affairs/vsa-bam-1-backend @department-of-veterans-affairs/backend-review-group

# authentication
app/controllers/*/sessions_controller.rb @department-of-veterans-affairs/vsp-identity
app/models/account.rb @department-of-veterans-affairs/vsp-identity
app/models/saml_request_tracker.rb @department-of-veterans-affairs/vsp-identity
app/models/user.rb @department-of-veterans-affairs/vsp-identity
app/models/user_identity.rb @department-of-veterans-affairs/vsp-identity
app/models/user_session_form.rb @department-of-veterans-affairs/vsp-identity
lib/saml @department-of-veterans-affairs/vsp-identity
lib/mpi @department-of-veterans-affairs/vsp-identity

# covid_vaccine product
modules/covid_vaccine @department-of-veterans-affairs/va-cto-health-products @department-of-veterans-affairs/backend-review-group
spec/support/*/covid_vaccine @department-of-veterans-affairs/va-cto-health-products @department-of-veterans-affairs/backend-review-group
rakelib/covid_vaccine.rake @department-of-veterans-affairs/va-cto-health-products @department-of-veterans-affairs/backend-review-group

# health_quest product
modules/health_quest  @department-of-veterans-affairs/vsa-healthcare-health-quest-1-backend @department-of-veterans-affairs/backend-review-group
spec/support/*/health_quest/ @department-of-veterans-affairs/vsa-healthcare-health-quest-1-backend @department-of-veterans-affairs/backend-review-group

# facilities product
modules/facilities_api @department-of-veterans-affairs/vsa-facilities-backend @department-of-veterans-affairs/backend-review-group
spec/support/*/facilities @department-of-veterans-affairs/vsa-facilities-backend @department-of-veterans-affairs/backend-review-group
spec/support/*/lighthouse @department-of-veterans-affairs/vsa-facilities-backend @department-of-veterans-affairs/backend-review-group

changing email report format (#6847)
  app/mailers/ch31_submissions_report_mailer.rb
  app/mailers/views/ch31_submissions_report.html.erb
  app/workers/vre/create_ch31_submissions_report.rb
  spec/fixtures/vre_claim/ch31_submissions_report.html
  spec/jobs/vre/create_ch31_submissions_report_spec.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

changing email report format (#6847)
  app/mailers/ch31_submissions_report_mailer.rb
  app/mailers/views/ch31_submissions_report.html.erb
  app/workers/vre/create_ch31_submissions_report.rb
  spec/fixtures/vre_claim/ch31_submissions_report.html
  spec/jobs/vre/create_ch31_submissions_report_spec.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Added test for session
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

add launch context caching for system and user tokens
  app/controllers/openid_application_controller.rb
  app/models/session.rb
  config/redis.yml
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

updated table formatting
  modules/vba_documents/app/views/vba_documents/common/_table_styling.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_elapsed_status_times.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_time_btw_statuses.html.erb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Refactor code and detail delegation
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Allow only some file types for NOD supporting evidence
  app/uploaders/decision_review_evidence_attachment_uploader.rb
  spec/request/decision_review_evidences_request_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

More tweaks
  modules/va_forms/app/swagger/va_forms/v0/controller_swagger.rb
  modules/va_forms/app/swagger/va_forms/v0/description.md
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

adds message log when failing to look up edipi (#6857)
  app/models/user.rb
  lib/evss/vso_search/service.rb
Owners: @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

adds message log when failing to look up edipi (#6857)
  app/models/user.rb
  lib/evss/vso_search/service.rb
Owners: @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

remove uuid requirement, add null checks
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/openid_application_controller.rb
  app/controllers/v0/sessions_controller.rb
  app/controllers/v1/sessions_controller.rb
  app/models/session.rb
  lib/flipper/admin_user_constraint.rb
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers, @department-of-veterans-affairs/vsp-identity

refactored systems service get_available_slots
  modules/vaos/app/controllers/vaos/v2/slots_controller.rb
  modules/vaos/app/services/vaos/v2/systems_service.rb
Owners: @department-of-veterans-affairs/vfs-vaos, @department-of-veterans-affairs/backend-review-group

rubocop
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

fix appt req spec
  modules/mobile/spec/request/appointments_request_spec.rb
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

Refactor code and detail delegation (#6846)
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Refactor code and detail delegation (#6846)
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

bump pundit to lastest major
  Gemfile.lock
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

bump factory_bot_rails to the latest minor
  Gemfile.lock
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

bump parallel_tests to lastest minor
  Gemfile.lock
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

bump bootsnap to latest patch
  Gemfile.lock
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

bump super_diff to latest minor
  Gemfile.lock
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers
