Repository department-of-veterans-affairs/vets-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers, @department-of-veterans-affairs/vfs-vaos, @department-of-veterans-affairs/vfs-ebenefits, @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/vsp-identity

minor test improvement (#5423)
  spec/lib/common/models/concerns/cache_aside_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

minor test improvement (#5423)
  spec/lib/common/models/concerns/cache_aside_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

refactor out expirations config file (#5389)
  app/models/in_progress_form.rb
  config/in_progress_forms/expirations.yml
  spec/models/in_progress_form_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

refactor out expirations config file (#5389)
  app/models/in_progress_form.rb
  config/in_progress_forms/expirations.yml
  spec/models/in_progress_form_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

POST Patient resource to the PGD
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/factory.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/map_query.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/resource.rb
  modules/health_quest/spec/services/patient_generated_data/patient/factory_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/map_query_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/resource_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

adding YARD doc to map_query
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/map_query.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

adding YARD doc to factory
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/factory.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Linting
  lib/facilities/ppms/v1/client.rb
  spec/request/v1/apidoc/shared_examples/facility_locator_spec.rb
  spec/request/v1/facilities/ccp_request_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

completes status detail response unit test
  lib/saml/responses/login.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/support/saml/response_builder.rb
Owners: @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

adds status_detail method for better error handling
  app/controllers/v1/sessions_controller.rb
  lib/saml/responses/login.rb
Owners: @department-of-veterans-affairs/vsp-identity

adds reminder to add status_detail specific test
  spec/controllers/v1/sessions_controller_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

refactors status_detail spec and builds document_status_detail mock XML functionality
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/responses/login_spec.rb
  spec/support/saml/response_builder.rb
Owners: @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Update list of enum values for flashes in swagger and 526 schema (#5395)
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Update list of enum values for flashes in swagger and 526 schema (#5395)
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

16089 post patient pgd (#5424)
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/factory.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/map_query.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/resource.rb
  modules/health_quest/spec/services/patient_generated_data/patient/factory_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/map_query_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/resource_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

16089 post patient pgd (#5424)
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/factory.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/map_query.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/resource.rb
  modules/health_quest/spec/services/patient_generated_data/patient/factory_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/map_query_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/resource_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

don't return true because nothing cares about the return value
  app/models/okta_redis/grants.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

add GET appointments route, connect service with adapters
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/request/appointments_request_spec.rb
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

checkpoint - added test_files directory to gitignore; added unknown uuids to multiple status check; added all required keys to upload_processor_spec.rb tests
  .gitignore
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  spec/lib/central_mail/service_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Rename PGDService to PatientGeneratedDataService for Zeitwerk
  modules/health_quest/app/services/health_quest/pgd_service.rb
  modules/health_quest/spec/services/pgd_service_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Name AppsSwagger after its filename (#5301)
  modules/apps_api/app/controllers/apps_api/docs/v0/api_controller.rb
  modules/apps_api/app/swagger/apps_api/v0/apps/apps_swagger.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Name AppsSwagger after its filename (#5301)
  modules/apps_api/app/controllers/apps_api/docs/v0/api_controller.rb
  modules/apps_api/app/swagger/apps_api/v0/apps/apps_swagger.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

removing accidental tag.
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

13444 refactor okta grant caching (#5420)
  app/models/okta_redis/grants.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

13444 refactor okta grant caching (#5420)
  app/models/okta_redis/grants.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

API-3752 Add hearing type page to NOD pdf (#5400)
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_options.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Only skip authentication for some attachment controllers (#5385)
  app/controllers/concerns/form_attachment_create.rb
  app/controllers/v0/hca_attachments_controller.rb
  app/controllers/v0/preneeds/preneed_attachments_controller.rb
  app/controllers/v0/vic/supporting_documentation_attachments_controller.rb
  spec/request/swagger_spec.rb
  spec/request/upload_supporting_evidence_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

fetch QRs by appointment id (#5372)
  modules/health_quest/app/controllers/health_quest/v0/questionnaire_responses_controller.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/options_builder.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/questionnaire_response/factory.rb
  modules/health_quest/spec/services/patient_generated_data/options_builder_spec.rb
  modules/health_quest/spec/services/patient_generated_data/questionnaire_response/factory_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

API-3181 NOD Extra Issues page (#5398)
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_options.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

some basic deployment documentation (#5383)
  README.md
  docs/deployment/information.md
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Api 3044 add pdf data to upload report (#5303)
  modules/vba_documents/app/controllers/vba_documents/docs/v1/api_controller.rb
  modules/vba_documents/app/serializers/vba_documents/upload_serializer.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/status_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/pdf_dimension_attributes_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/pdf_upload_attributes_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/status_attributes_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v1/controller_swagger.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/tasks/vba_documents_tasks.rake
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v1/reports_request_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

add some sentry logging for activity around okta service calls (#5408)
  app/models/okta_redis/grants.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Changing app_logo to s3 source (#5394)
  modules/apps_api/lib/apps_api/directory_application_creator.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Add status to notice of disagreement migration (#5401)
  db/schema.rb
  modules/appeals_api/db/migrate/20201127195258_add_status_to_notice_of_disagreements.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

API-3366: Need to filter 526 and 2122 find_by methods using the source label (#5285)
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/spec/requests/v0/claims_request_spec.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Coronavirus research schema diagnosed details (#5393)
  modules/covid_research/README.md
  modules/covid_research/lib/tasks/covid_research_tasks.rake
  modules/covid_research/spec/fixtures/files/encrypted-form.json
  modules/covid_research/spec/fixtures/files/genisis-mapping.json
  modules/covid_research/spec/fixtures/files/valid-submission.json
  modules/covid_research/spec/serializers/covid_research/genisis_serializer_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Fix lint issue in master (#5409)
  modules/appeals_api/db/migrate/20201127195258_add_status_to_notice_of_disagreements.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Add ch31 vendor endpoint (#5402)
  config/settings.yml
  config/settings/test.yml
  lib/vre/ch31_form.rb
  lib/vre/service.rb
  spec/support/vcr_cassettes/veteran_readiness_employment/failed_send_to_vre.yml
  spec/support/vcr_cassettes/veteran_readiness_employment/send_to_vre.yml
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Api 3058 veteran confirmation mock emis integration (#5406)
  modules/veteran_confirmation/app/services/veteran_confirmation/status_service.rb
  modules/veteran_confirmation/config/mock_veteran_status_config.rb
  modules/veteran_verification/config/mock_veteran_status_config.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Mobile Community Care appointments adapter (#5397)
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/appointment_address.rb
  modules/mobile/app/models/mobile/v0/appointment_location.rb
  modules/mobile/app/models/mobile/v0/appointment_phone.rb
  modules/mobile/config/initializers/va_facilities.rb
  modules/mobile/spec/models/adapters/community_care_appointments_adapter_spec.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/support/fixtures/cc_appointments.json
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/backend-review-group and @department-of-veterans-affairs/va-api-engineers will be requested for
# review when someone opens a pull request.

*       @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/va-api-engineers

# Experiment for isolating VFS teams
modules/vaos/                        @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group
spec/support/*/vaos/                 @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group

lib/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group
spec/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group

modules/mobile/                      @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group
spec/support/*/mobile/               @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group

# authentication
app/controllers/*/sessions_controller.rb @department-of-veterans-affairs/vsp-identity
app/models/account.rb @department-of-veterans-affairs/vsp-identity
app/models/saml_request_tracker.rb @department-of-veterans-affairs/vsp-identity
app/models/user.rb @department-of-veterans-affairs/vsp-identity
app/models/user_identity.rb @department-of-veterans-affairs/vsp-identity
app/models/user_session_form.rb @department-of-veterans-affairs/vsp-identity
lib/saml @department-of-veterans-affairs/vsp-identity
