Repository department-of-veterans-affairs/vets-api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers, @department-of-veterans-affairs/vfs-vaos, @department-of-veterans-affairs/vfs-ebenefits, @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/vsp-identity

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/backend-review-group and @department-of-veterans-affairs/va-api-engineers will be requested for
# review when someone opens a pull request.

*       @department-of-veterans-affairs/backend-review-group @department-of-veterans-affairs/va-api-engineers

# Experiment for isolating VFS teams
modules/vaos/                        @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group
spec/support/*/vaos/                 @department-of-veterans-affairs/vfs-vaos @department-of-veterans-affairs/backend-review-group

lib/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group
spec/bgs @department-of-veterans-affairs/vfs-ebenefits @department-of-veterans-affairs/backend-review-group

modules/mobile/                      @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group
spec/support/*/mobile/               @department-of-veterans-affairs/mobile-api-team @department-of-veterans-affairs/backend-review-group

# authentication
app/controllers/*/sessions_controller.rb @department-of-veterans-affairs/vsp-identity
app/models/account.rb @department-of-veterans-affairs/vsp-identity
app/models/saml_request_tracker.rb @department-of-veterans-affairs/vsp-identity
app/models/user.rb @department-of-veterans-affairs/vsp-identity
app/models/user_identity.rb @department-of-veterans-affairs/vsp-identity
app/models/user_session_form.rb @department-of-veterans-affairs/vsp-identity
lib/saml @department-of-veterans-affairs/vsp-identity

14838 mobile appointments service (#5375)
  modules/mobile/app/services/mobile/v0/appointments/configuration.rb
  modules/mobile/app/services/mobile/v0/appointments/service.rb
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/services/appointments_service_spec.rb
  modules/mobile/spec/support/iam_session_helper.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_500.yml
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

rubocop ignore migrations for all modules (#5416)
  .rubocop.yml
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

added directory#show (#5411)
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/config/routes.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Revert "add some sentry logging for activity around okta service calls (#5408)" (#5413)
  app/models/okta_redis/grants.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

get banking info from ppiu if submitted info has asterisks (#5347)
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

12739 prefill ch31 (#5391)
  app/models/form_profile.rb
  app/models/form_profiles/va281900.rb
  config/form_profile_mappings/28-1900.yml
  config/settings.yml
  spec/models/form_profile_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

consistent User#birth_date format (#5407)
  app/models/user.rb
  spec/models/user_spec.rb
Owners: @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

changed value sorted by (#5418)
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

Increase NOD email & rep fields to 3 lines of text (#5415)
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Move facilities_query to app/models (#5299)
  app/models/base_facility.rb
  app/models/facilities_query.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

minor test improvement (#5423)
  spec/lib/common/models/concerns/cache_aside_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Update list of enum values for flashes in swagger and 526 schema (#5395)
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

refactor out expirations config file (#5389)
  app/models/in_progress_form.rb
  config/in_progress_forms/expirations.yml
  spec/models/in_progress_form_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

16089 post patient pgd (#5424)
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/factory.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/map_query.rb
  modules/health_quest/app/services/health_quest/patient_generated_data/patient/resource.rb
  modules/health_quest/spec/services/patient_generated_data/patient/factory_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/map_query_spec.rb
  modules/health_quest/spec/services/patient_generated_data/patient/resource_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Name AppsSwagger after its filename (#5301)
  modules/apps_api/app/controllers/apps_api/docs/v0/api_controller.rb
  modules/apps_api/app/swagger/apps_api/v0/apps/apps_swagger.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Add nod#show and surface status
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreement_serializer.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Adding in some tests
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  spec/lib/central_mail/service_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Pass Regional Office in SOJ field for 686c Submission (#5421)
  app/models/bgs_dependents/veteran.rb
  lib/bgs/benefit_claim.rb
  lib/bgs/vnp_veteran.rb
  spec/lib/bgs/vnp_veteran_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers, @department-of-veterans-affairs/vfs-ebenefits

Pass Regional Office in SOJ field for 686c Submission (#5421)
  app/models/bgs_dependents/veteran.rb
  lib/bgs/benefit_claim.rb
  lib/bgs/vnp_veteran.rb
  spec/lib/bgs/vnp_veteran_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers, @department-of-veterans-affairs/vfs-ebenefits

adding sync update service
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/services/mobile/v0/profile/service.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/addresses_request_spec.rb
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

Add code scanning
  .github/workflows/codeql.yml
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

add countryCodeIso3 to mobile user profile response
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/support/schemas/address.json
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group

use strong_migrations
  Gemfile
  Gemfile.lock
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

MVI slo improvements and and additional error logging (#5340)
  app/controllers/v0/sessions_controller.rb
  lib/mpi/service.rb
  spec/controllers/v0/sessions_controller_spec.rb
Owners: @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

MVI slo improvements and and additional error logging (#5340)
  app/controllers/v0/sessions_controller.rb
  lib/mpi/service.rb
  spec/controllers/v0/sessions_controller_spec.rb
Owners: @department-of-veterans-affairs/vsp-identity, @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

initialize strong_migrations
  config/initializers/strong_migrations.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Removed job to trigger vets-website workflow. Modified Pact verification artifact.
  .circleci/config.yml
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

Update notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

rubocop style cleanup
  Gemfile
  config/initializers/strong_migrations.rb
Owners: @department-of-veterans-affairs/backend-review-group, @department-of-veterans-affairs/va-api-engineers

started on tests, appeal ready for serialization
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/individual_appeal_request_spec.rb
  modules/mobile/spec/request/individual_claim_request_spec.rb
Owners: @department-of-veterans-affairs/mobile-api-team, @department-of-veterans-affairs/backend-review-group
