Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

[12634] Adding private_key_jwt flow to sign in service (#12690)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/state_payload.rb
  app/services/sign_in/client_assertion_validator.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/fixtures/sign_in/sample_client.crt
  spec/fixtures/sign_in/sample_client.pem
  spec/models/sign_in/client_config_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/services/sign_in/client_assertion_validator_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
Labels: console-services-review

Refactor specs for bug squashing (#12758)
  spec/requests/v0/user_transition_availabilities_controller_spec.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

Ensure larger page size limit is enabled for Benefits Intake (#12785)
  modules/vba_documents/config/flipper/enabled_features.yml
Labels: none

API-26689: Stop storing doc_type in UploadSubmission metadata (#12780)
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

[API-25973] Add healthchecks to all endpoint versions (#12773)
  modules/appeals_api/config/routes.rb
  modules/vba_documents/config/routes.rb
Labels: none

[department-of-veterans-affairs/va-virtual-agent#951] Setup flipper for JWT fetching in the front end (#12736)
  config/features.yml
  config/settings.yml
Labels: console-services-review

Hotfix UTC conversion (#12737)
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: mobile, vaos

Update Appealable Issues API v0 OAuth scopes (#12779)
  modules/appeals_api/app/controllers/appeals_api/appealable_issues/v0/appealable_issues_controller.rb
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

API-26932 Update Appeals Status API v1 description (#12787)
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
Labels: none

13320 income limits sidekiq jobs (#12791)
  app/workers/income_limits/std_income_threshold_import.rb
  app/workers/income_limits/std_state_import.rb
  app/workers/income_limits/std_zipcode_import.rb
  config/sidekiq_scheduler.yml
  spec/jobs/income_limits/std_income_threshold_import_spec.rb
  spec/jobs/income_limits/std_state_import_spec.rb
  spec/jobs/income_limits/std_zipcode_import_spec.rb
Labels: console-services-review

13320 GMT and County import jobs for Income Limits (#12732)
  app/workers/income_limits/gmt_thresholds_import.rb
  app/workers/income_limits/std_county_import.rb
  config/sidekiq_scheduler.yml
  spec/jobs/income_limits/gmt_thresholds_import_spec.rb
  spec/jobs/income_limits/std_county_import_spec.rb
Labels: console-services-review

58164 Parse JSON file from VBS for copay notifications (#12768)
  app/controllers/v0/medical_copays_controller.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  app/workers/copay_notifications/mcp_notification_email_job.rb
  app/workers/copay_notifications/new_statement_notification_job.rb
  app/workers/copay_notifications/parse_new_statements_job.rb
  app/workers/mcp_notification_email_job.rb
  spec/fixtures/medical_copays/duplicate_new_statements.json
  spec/fixtures/medical_copays/new_statements.json
  spec/jobs/copay_notifications/mcp_notification_email_job_spec.rb
  spec/jobs/copay_notifications/new_statement_notification_job_spec.rb
  spec/jobs/copay_notifications/parse_new_statements_job_spec.rb
Labels: console-services-review

Call LH token on each request to avoid annoying expired token error (#12760)
  lib/lighthouse/letters_generator/configuration.rb
  lib/lighthouse/letters_generator/service.rb
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

5310: remove location logging (#12793)
  modules/mobile/app/controllers/mobile/v0/locations_controller.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
Labels: mobile

Remove profile_email_specify feature toggle (#12595)
  config/features.yml
  lib/va_profile/contact_information/service.rb
Labels: console-services-review

Api 26149 evss docker service (#12754)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/lib/evss_service/token.rb
Labels: none

Vfep 603 - add functionality for different types of chapter 33 selections in form 1995 (#12772)
  Gemfile.lock
  app/models/education_benefits_claim.rb
  app/workers/education_form/forms/va_1995.rb
  spec/factories/va1995.rb
  spec/fixtures/education_benefits_claims/1995/ch33_fry.json
  spec/fixtures/education_benefits_claims/1995/ch33_fry.spl
  spec/fixtures/education_benefits_claims/1995/ch33_post911.json
  spec/fixtures/education_benefits_claims/1995/ch33_post911.spl
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/jobs/education_form/forms/va1995_spec.rb
  spec/models/education_benefits_claim_spec.rb
Labels: console-services-review

added more unit tests
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

remove whitespace
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

fixes header + updates styling (#12798)
  modules/mocked_authentication/app/views/mocked_authentication/credential/index.html.erb
Labels: none

git rid of debug code
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

Additional testing for branch protection settings (#12778)
  .github/settings.yml
Labels: console-services-review

Filter out claims with certain statuses (#12762)
  .rubocop_todo.yml
  app/controllers/v0/benefits_claims_controller.rb
  lib/lighthouse/benefits_claims/service.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/benefits_claims/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/401_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/404_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/401_response.yml
Labels: console-services-review

Mobile - add maintence window async job (#12781)
  config/sidekiq_scheduler.yml
  modules/mobile/app/workers/mobile/v0/weekly_maintenance_window_logger.rb
  modules/mobile/spec/factories/maintenance_windows.rb
  modules/mobile/spec/workers/weekly_maintenance_window_logger_spec.rb
Labels: mobile, console-services-review

Mobile: Add guard against users that cannot access preferred name and gender identity (#12786)
  app/policies/demographics_policy.rb
  modules/mobile/app/controllers/mobile/v0/gender_identity_controller.rb
  modules/mobile/app/controllers/mobile/v0/preferred_names_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/gender_identity_request_spec.rb
  modules/mobile/spec/request/preferred_name_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/demographics/logingov.yml
  spec/support/vcr_cassettes/mobile/demographics/logingov.yml
  spec/support/vcr_cassettes/mobile/va_profile/post_gender_identity_success.yml
  spec/support/vcr_cassettes/mobile/va_profile/post_preferred_name_success.yml
Labels: mobile, console-services-review

Fixing uninitialized constant benchmarklogger (#12797)
  modules/appeals_api/app/workers/appeals_api/flipper_status_alert.rb
  modules/va_forms/app/workers/va_forms/flipper_status_alert.rb
  modules/vba_documents/app/workers/vba_documents/flipper_status_alert.rb
Labels: none

update brakeman (#12808)
  Gemfile.lock
Labels: console-services-review

mobile - allow nil dates in LH claims overview (#12796)
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_claims_overview.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_claims/index/200_response.yml
Labels: mobile

Add clamav for native setup instructions (#12810)
  config/initializers/clamav.rb
  docs/setup/native.md
Labels: console-services-review

Update appt ids in docs to be more accurate (#12800)
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/cc_appointment_request.yml
  modules/mobile/docs/examples/appointments/partial_appointments.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
Labels: mobile

API-25894 Save Benefits Intake file sizes (#12799)
  lib/pdf_info.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/lib/pdf_info/metadata_spec.rb
Labels: console-services-review

4195 update endpoint to receive letters from lighthouse (#12765)
  lib/lighthouse/letters_generator/service.rb
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/letter_info.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/service.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_200.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_404.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_500_error_bgs.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_503.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/download.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/download_error.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/download_with_options.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/letters_200.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/letters_404.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/letters_500_error_bgs.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/letters_503.yml
Labels: mobile, console-services-review

Direct deposit client get with exception handling (#12805)
  app/controllers/v0/profile/direct_deposits/disability_compensations_controller.rb
  app/serializers/disability_compensations_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/lighthouse/direct_deposit/base.rb
  lib/lighthouse/direct_deposit/client.rb
  lib/lighthouse/direct_deposit/configuration.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/error.rb
  lib/lighthouse/direct_deposit/parsers/bad_request_parser.rb
  lib/lighthouse/direct_deposit/parsers/denied_request_parser.rb
  lib/lighthouse/direct_deposit/parsers/error_parser.rb
  lib/lighthouse/direct_deposit/parsers/invalid_creds_parser.rb
  lib/lighthouse/direct_deposit/payment_account.rb
  lib/lighthouse/direct_deposit/payment_info_parser.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  lib/lighthouse/direct_deposit/response.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/lib/lighthouse/direct_deposit/error_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/403_response.yml
Labels: console-services-review

API-26689: No need to scrub the doc_type key anymore as it does not exist (#12782)
  modules/vba_documents/app/serializers/vba_documents/upload_serializer.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
Labels: none

API-26964: Add Forms Modernization Team to Benefits Intake Prod email reports (#12806)
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: none

API-26838 Remove vba_documents_larger_page_size_limit flag (#12811)
  config/features.yml
  modules/vba_documents/config/flipper/enabled_features.yml
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/postman_tests/Automated Benefits Intake API.postman_collection.json
  modules/vba_documents/spec/fixtures/18x22.pdf
  modules/vba_documents/spec/fixtures/22x18.pdf
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/lib/pdf_utilities/pdf_validator/validator_spec.rb
Labels: console-services-review

mobile claim copy update (#12809)
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
Labels: mobile

[bug] Update identifier key name and add notify template id reference (#12802)
  app/workers/copay_notifications/mcp_notification_email_job.rb
  app/workers/copay_notifications/new_statement_notification_job.rb
  config/settings.yml
  spec/jobs/copay_notifications/mcp_notification_email_job_spec.rb
Labels: console-services-review

Add authorization for VBS API in copay controller (#12784)
  app/controllers/v0/medical_copays_controller.rb
  config/settings.yml
  spec/controllers/v0/medical_copays_controller_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

Mobile: Update demographics policy and update all associated controllers and … (#12813)
  app/controllers/v0/profile/gender_identities_controller.rb
  app/controllers/v0/profile/personal_informations_controller.rb
  app/controllers/v0/profile/preferred_names_controller.rb
  app/policies/demographics_policy.rb
  lib/va_profile/demographics/service.rb
  modules/mobile/spec/request/gender_identity_request_spec.rb
  modules/mobile/spec/request/preferred_name_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/demographics/demographics.yml
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/mobile/va_profile/post_gender_identity_success.yml
  spec/support/vcr_cassettes/mobile/va_profile/post_preferred_name_success.yml
Labels: mobile, console-services-review
