Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

added statsd timing (#13129)
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
Labels: none

Add Amy Lai to Flipper admin (#13197)
  config/settings.yml
Labels: console-services-review

Update preview_envs to deploy from preview_envs_k8s branch (#13222)
  .github/workflows/preview-environment-update-main.yml
  .github/workflows/sync_preview_env_k8s.yml
Labels: console-services-review

Correct and re-enable tests (#13223)
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  spec/support/vcr_cassettes/mobile/appointments/get_multiple_facilities_200.yml
  spec/support/vcr_cassettes/mobile/appointments/get_multiple_mfs_facilities_200.yml
Labels: mobile, console-services-review

updates sis service account keys (#13192)
  spec/fixtures/sign_in/sample_service_account.pem
  spec/fixtures/sign_in/sample_service_account_public.pem
Labels: console-services-review

Revert "Revert "API-27482 Split appeals PDF generator tests - part 1 (#13112)" (#13217)" (#13226)
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_headers_minimum.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator/generator_hlr_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: none

Allow /onsite_notifications to return dismissed notifications (#13172)
  app/controllers/v0/onsite_notifications_controller.rb
  app/models/onsite_notification.rb
  app/swagger/swagger/requests/onsite_notifications.rb
  config/features.yml
  spec/controllers/v0/.onsite_notifications_controller_spec.rb.swp
  spec/controllers/v0/onsite_notifications_controller_spec.rb
  spec/models/onsite_notification_spec.rb
Labels: console-services-review

Adds mapping for on v1 claim index (#13215)
  modules/claims_api/lib/claims_api/evss_bgs_mapper.rb
Labels: none

61120 Add Exception class for CHIP lib (#13218)
  config/locales/exceptions.en.yml
  lib/chip/service_exception.rb
  spec/lib/chip/service_exception_spec.rb
Labels: console-services-review

Mobile: Add versioning to redis cache (#13224)
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/claim_overview.rb
  modules/mobile/app/models/mobile/v0/concerns/redis_caching.rb
  modules/mobile/app/models/mobile/v0/immunization.rb
  modules/mobile/app/models/mobile/v0/lighthouse_session.rb
Labels: mobile

Revert "Revert "Revert "API-27482 Split appeals PDF generator tests - part 1 (#13112)" (#13217)" (#13226)" (#13241)
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_headers_minimum.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator/generator_hlr_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: none

Update ddl doctype handling (#13240)
  lib/claim_letters/claim_letter_downloader.rb
Labels: console-services-review

Comment out test that fails in k8s branch (#13243)
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

Dbex/59695: add LH Provider flag to Flipper config (#13234)
  config/features.yml
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/models/saved_claim/disability_compensation/form526_all_claim_bdd_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
Labels: console-services-review

Use reactivation test template b (#13204)
  config/settings.yml
Labels: console-services-review

Remove portions of users from qualification group for initial test (#13209)
  app/services/acceptable_verified_credential_adoption_service.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

Add Lighthouse Doc Upload Service (#13090)
  app/models/lighthouse_document.rb
  app/uploaders/lighthouse_document_uploader.rb
  app/uploaders/lighthouse_document_uploader_base.rb
  app/workers/lighthouse/document_upload.rb
  config/betamocks/services_config.yml
  config/settings.yml
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/service.rb
  lib/lighthouse/benefits_documents/worker_service.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
Labels: console-services-review

Adding comment to trigger manifest deployment
  app/models/expiry_scanner.rb
Labels: console-services-review

55953/flipper flag submit (#13196)
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

API-27969: Update AR queries to account for non-ideal data scenarios (#13230)
  modules/appeals_api/lib/appeals_api/stats_report.rb
Labels: none

updated traefik-real-ip for prev-env (#13248)
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.12.07.tgz
Labels: console-services-review

API-27980-claims-v1-show-bgs-diff (#13229)
  modules/claims_api/lib/claims_api/evss_bgs_mapper.rb
Labels: none

API-25989 Add watermarked downloads to appeals APIs (#13138)
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/pdf_downloads.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/controllers/concerns/appeals_api/pdf_downloads_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_pdf_downloads.rb
Labels: none

API-27468: Add Sidekiq `current_retry` Middleware / Retry `VAForms::FormReloader` Job (#13194)
  config/initializers/sidekiq.rb
  lib/sidekiq/set_current_retry.rb
  modules/va_forms/app/workers/va_forms/form_builder.rb
  modules/va_forms/spec/fixtures/gql_form_invalid_url.json
  modules/va_forms/spec/workers/form_builder_spec.rb
  spec/lib/sidekiq/set_current_retry_spec.rb
  spec/support/vcr_cassettes/va_forms/fails.yml
  spec/support/vcr_cassettes/va_forms/gql_form.yml
  spec/support/vcr_cassettes/va_forms/gql_form_invalid_url.yml
  spec/support/vcr_cassettes/va_forms/pdf_not_found.yml
  spec/support/vcr_cassettes/va_forms/stringio.yml
  spec/support/vcr_cassettes/va_forms/tempfile.yml
  spec/support/vcr_cassettes/va_forms/valid_pdf.yml
Labels: console-services-review

61119 Adding chip lib configuration settings (#13183)
  config/settings.yml
  lib/chip/configuration.rb
  lib/chip/service.rb
  spec/lib/chip/configuration_spec.rb
  spec/lib/chip/service_spec.rb
Labels: console-services-review

chore: remove 1990 and 1990e auth confirmation email feat flags (#13242)
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_1990e.rb
  config/features.yml
  spec/models/saved_claim/education_benefits/va1990_spec.rb
  spec/models/saved_claim/education_benefits/va1990e_spec.rb
Labels: console-services-review

Update `CODEOWNERS` for APIs Owned by Lighthouse Team Banana Peels (#13253)
  .github/CODEOWNERS
Labels: console-services-review

Api 28118 pdf mapper fix (#13249)
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

Update Folder Destination in sidekiq for Education's daily vetsgov.spl files (#13255)
  config/settings.yml
  lib/sftp_writer/local.rb
  lib/sftp_writer/remote.rb
Labels: console-services-review

added field name, ie reasonCode or comment, and updated endpoint keys (#13258)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: vaos

Remove my_va_redirect feature flag (#13244)
  config/features.yml
Labels: console-services-review

MHV-45434: Immunizations get one endpoint fixed (#13245)
  lib/medical_records/client.rb
  modules/my_health/app/controllers/my_health/v1/vaccines_controller.rb
  modules/my_health/app/services/my_health/pdf_construction/generator.rb
  modules/my_health/spec/request/v1/vaccines_request_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vaccines.yml
  spec/support/vcr_cassettes/mr_client/get_a_vaccine.yml
Labels: console-services-review

vfep-292 - changes to 1990 spool file - remove fields, add guardian fields (#13231)
  Gemfile.lock
  app/workers/education_form/templates/1990.erb
  spec/fixtures/education_benefits_claims/1990/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_edu_prog.spl
  spec/jobs/education_form/forms/va1990_spec.rb
Labels: console-services-review

Ask-VA prototype form (#13250)
  app/controllers/v0/ask_va/static_data_auth_controller.rb
  app/controllers/v0/ask_va/static_data_controller.rb
  config/routes.rb
  spec/controllers/v0/ask_va/static_data_auth_spec.rb
  spec/controllers/v0/ask_va/static_data_spec.rb
Labels: console-services-review

Corrected traefik middleware name
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.12.08.tgz
Labels: console-services-review

add migration to create new table (#13259)
  db/migrate/20230713182204_create_credential_adoption_email_records.rb
  db/schema.rb
Labels: console-services-review

feat(config/features.yml): add va_online_scheduling_static_landing_page (#13246)
  config/features.yml
Labels: console-services-review

[60337] Identity Dashboard Service Account configs (#13193)
  db/seeds/development.rb
  spec/fixtures/identity_dashboard/public_key.pem
Labels: console-services-review

API 16232 526 v2 align required fields for substantial completeness (#13228)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

Api 27383 update suspense date 5103 (#13257)
  modules/claims_api/app/workers/claims_api/ews_updater.rb
  modules/claims_api/lib/bgs_service/benefit_claim_service.rb
  modules/claims_api/lib/bgs_service/claim_management_service.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/workers/ews_updater_spec.rb
  spec/support/vcr_cassettes/bgs/benefit_claim/update_5103_claim.yml
  spec/support/vcr_cassettes/bgs/benefit_claim/update_bnft_claim.yml
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
