Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Moving around (#11733)
  lib/evss/disability_compensation_form/non_breakered_configuration.rb
  lib/evss/disability_compensation_form/non_breakered_service.rb
  lib/evss/non_breakered_configuration.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

add monkey patch for file scanning based on volume mounts
  lib/clamav/commands/scan_command.rb
Labels: console-services-review

debug statement
  lib/clamav/commands/scan_command.rb
Labels: console-services-review

rename to patch_scan_command
  lib/clamav/commands/patch_scan_command.rb
Labels: console-services-review

use patch
  lib/common/virus_scan.rb
Labels: console-services-review

add requires
  config/application.rb
  lib/common/virus_scan.rb
Labels: console-services-review

[53062] Require LOA and EDIPI for COE Form (#11732)
  app/policies/coe_policy.rb
  app/services/users/profile.rb
  spec/policies/coe_policy_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

API-23236-CST-ClaimStatusNull (#11667)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/lib/claims_api/bgs_claim_status_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Mobile: Allow for no entry field in immunizations (#11734)
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_no_entry.yml
Labels: mobile

Trying build and push needs
  .github/workflows/deploy.yml
Labels: console-services-review

remove needs
  .github/workflows/deploy.yml
Labels: console-services-review

wait for build
  .github/workflows/deploy.yml
Labels: console-services-review

add call
  .github/workflows/deploy.yml
Labels: console-services-review

move call
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: console-services-review

remove required
  .github/workflows/build.yml
Labels: console-services-review

fake comment
  lib/common/virus_scan.rb
Labels: console-services-review

add secrets
  .github/workflows/deploy.yml
Labels: console-services-review

build before deploy
  .github/workflows/build.yml
Labels: console-services-review

remove
  .github/workflows/build.yml
Labels: console-services-review

reverted changes
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: console-services-review

push to deploy-k8s
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: console-services-review

Add support for form 26-4555 (#11745)
  modules/forms_api/app/form_mappings/vba_26_4555.json.erb
  modules/forms_api/app/models/forms_api/vba_26_4555.rb
  modules/forms_api/app/services/forms_api/pdf_filler.rb
  modules/forms_api/app/services/forms_api/pdf_stamper.rb
  modules/forms_api/spec/fixtures/form_json/vba_26_4555-min.json
  modules/forms_api/spec/fixtures/form_json/vba_26_4555.json
  modules/forms_api/spec/requests/v1/uploads_spec.rb
  modules/forms_api/spec/services/pdf_filler_spec.rb
  modules/forms_api/templates/vba_26_4555.pdf
Labels: none

revert
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: console-services-review

Update to make team list smaller and more accurate (#11676)
  modules/check_in/README.md
Labels: none

K8s push (#11748)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  lib/common/virus_scan.rb
Labels: console-services-review

Adding coe to list of pager duty maintenance services. (#11678)
  config/settings.yml
Labels: console-services-review

tweak code to check if files are safe
  app/uploaders/uploader_virus_scan.rb
  config/application.rb
  lib/clamav/patch_client.rb
  lib/common/virus_scan.rb
Labels: console-services-review

revert GHA
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: console-services-review

test commit
  lib/common/virus_scan.rb
Labels: console-services-review

use require relative
  lib/clamav/patch_client.rb
Labels: console-services-review

remove application.rb requires
  config/application.rb
Labels: console-services-review

remove debug code
  lib/clamav/commands/patch_scan_command.rb
Labels: console-services-review

remove clam_scan (#11751)
  Gemfile
  Gemfile.lock
  app/uploaders/uploader_virus_scan.rb
  config/initializers/clamscan.rb
  lib/clamav/commands/patch_scan_command.rb
  lib/clamav/patch_client.rb
  lib/common/virus_scan.rb
Labels: console-services-review

API-21503: Remove VBADocuments Checksum Comparison Feature (Part 2) (#11746)
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_file.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/lib/vba_documents/payload_manager.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

ClamAV in worker deployment
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.11.tgz
Labels: console-services-review

removed extra clamav worker
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.12.tgz
Labels: console-services-review

Removed extra end
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.13.tgz
Labels: console-services-review

add workflow call for mockdata
  .github/workflows/build.yml
Labels: console-services-review

allow this to be callable from mockdata
  .github/workflows/deploy.yml
Labels: console-services-review

remove branch check - not necessary
  .github/workflows/deploy-template.yml
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
