Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Adds back 526 docs (#12437)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: none

57042 Include code in TravelClaim Response when successful (#12436)
  modules/check_in/app/services/travel_claim/response.rb
  modules/check_in/spec/services/travel_claim/response_spec.rb
  modules/check_in/spec/services/travel_claim/service_spec.rb
Labels: none

API-25080: Generate Slack alert when Appeals PACT Act boolean field not enabled in Dev and Staging (#12440)
  modules/appeals_api/config/flipper/enabled_features.yml
Labels: none

Bdex/54508: intent to file get abstraction (#12427)
  app/controllers/v0/intent_to_files_controller.rb
  config/features.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider.rb
  lib/disability_compensation/providers/intent_to_file/intent_to_file_provider.rb
  lib/disability_compensation/providers/intent_to_file/lighthouse_intent_to_file_provider.rb
  lib/disability_compensation/responses/intent_to_files_response.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider_spec.rb
  spec/lib/disability_compensation/providers/intent_to_file/intent_to_file_provider_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities/rated_disabilities_provider_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/intent_to_files_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/disability_compensation_form/shared_examples/intent_to_file_provider.rb
Labels: console-services-review

Remove original VHA FSR email (#12433)
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

Include deduction code and resolution comment in FSR params (#12434)
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
Labels: console-services-review

fix (#12441)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ClaimsAndAppeals.yml
Labels: mobile

Added payload session (#12388)
  app/controllers/concerns/authentication_and_sso_concerns.rb
  spec/controllers/application_controller_spec.rb
Labels: console-services-review

4743: change mobile lighthouse letters client id to match new key (#12172)
  config/settings.yml
  modules/mobile/app/models/mobile/v0/lighthouse_assertion.rb
  modules/mobile/app/models/mobile/v0/lighthouse_params_factory.rb
  modules/mobile/spec/models/lighthouse_assertion_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
Labels: mobile, console-services-review

VA-11593: Remove PPMS Remove Roced Unique ID feature (#12432)
  config/features.yml
Labels: console-services-review

add logging (#12449)
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
Labels: mobile

add worker annotations (#12452)
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.37.tgz
Labels: console-services-review

release 0.11.38
  chart/Chart.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.38.tgz
Labels: console-services-review

Adding zip backup (#12445)
  app/controllers/v1/supplemental_claims_controller.rb
  lib/decision_review_v1/service.rb
Labels: console-services-review

Added cronjob volumes and mounts
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
Labels: console-services-review

Update chart version
  docs/index.yaml
  docs/vets-api-0.11.39.tgz
Labels: console-services-review

fixed cron jobs
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.40.tgz
Labels: console-services-review

[12423] Remove StatsD reset counters from initializers (#12426)
  app/mailers/application_mailer.rb
  app/swagger/swagger/schemas/intent_to_file.rb
  app/workers/evss/disability_compensation_form/metrics.rb
  config/initializers/statsd.rb
  lib/evss/reference_data/response_strategy.rb
  modules/appeals_api/app/workers/appeals_api/add_icn_updater.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/monthly_stats_report.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/check_in/config/initializers/statsd.rb
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/covid_vaccine/config/initializers/statsd.rb
  modules/covid_vaccine/spec/request/covid_vaccine/v0/facilities_request_spec.rb
  modules/mobile/config/initializers/statsd.rb
  modules/vaos/config/initializers/statsd.rb
  modules/vaos/config/initializers/statsd_instrument_monkeypatch.rb
  spec/lib/sidekiq/form526_job_status_tracker/job_tracker_spec.rb
Labels: mobile, vaos, console-services-review

add metadata business lines (#12270)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

56976 add mobile_phone method to TravelClaim RedisClient (#12456)
  modules/check_in/app/services/travel_claim/redis_client.rb
  modules/check_in/spec/services/travel_claim/redis_client_spec.rb
Labels: none

Removing spec functionality that was updating fixtures during tests (#12450)
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/jobs/education_form/forms/va5490_spec.rb
  spec/support/spool_helpers.rb
Labels: console-services-review

5284 filter doc 27 (#12447)
  config/features.yml
  modules/mobile/app/models/mobile/v0/adapters/decision_letters.rb
  modules/mobile/spec/request/decision_letters_request_spec.rb
Labels: mobile, console-services-review

Removed logging (#12463)
  lib/rx/middleware/response/rx_parser.rb
Labels: console-services-review

Add extra build args to docker build process (#12466)
  .github/workflows/preview-environment-update-main.yml
Labels: console-services-review

Fix capitalizaton (#12464)
  lib/va_profile/models/gender_identity.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
Labels: mobile, console-services-review

Migrate 1010ez disability rating code to BGS (#12442)
  app/controllers/v0/health_care_applications_controller.rb
  app/models/health_care_application.rb
  app/serializers/hca_rating_info_serializer.rb
  app/swagger/swagger/requests/health_care_applications.rb
  config/routes.rb
  lib/bgs/service.rb
  spec/lib/bgs/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/bgs/service/find_rating_data.yml
Labels: console-services-review

API-25980: Fix Benefits Intake 'Status Summary' Slack Alert (#12458)
  config/settings.yml
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/spec/workers/slack_notifier_spec.rb
Labels: console-services-review

API-25790-closed-phase-dates (#12448)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

API-25814: Update `api_version` to "V0" for Segmented Appeals APIs (#12443)
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/models/concerns/appeals_api/hlr_status_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
Labels: none

Add job class to allow for one time in progress reminders (#12459)
  modules/va_notify/app/models/va_notify/in_progress_reminders_sent.rb
  modules/va_notify/app/workers/va_notify/one_time_in_progress_reminder.rb
  modules/va_notify/spec/workers/one_time_in_progress_reminder_spec.rb
Labels: none

Mocked auth views (#12444)
  config/settings.yml
  modules/mocked_authentication/app/controllers/mocked_authentication/credential_controller.rb
  modules/mocked_authentication/app/views/layouts/application.html.erb
  modules/mocked_authentication/app/views/mocked_authentication/credential/index.html.erb
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/credential/service.rb
  modules/mocked_authentication/spec/lib/credential/service_spec.rb
  modules/mocked_authentication/spec/requests/credential_request_spec.rb
Labels: console-services-review

Additional Protection (#12461)
  lib/decision_review_v1/service.rb
  spec/lib/decision_review_v1/service_spec.rb
Labels: console-services-review

Adding controller / route for EVSS benefits claims (#12469)
  app/controllers/v0/evss_benefits_claims_controller.rb
  config/routes.rb
Labels: console-services-review

56975 Caching mobilePhone for travel claims notification (#12455)
  modules/check_in/app/serializers/check_in/v2/appointment_identifiers_serializer.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_identifiers_serializer_spec.rb
Labels: none

5246 rx mapping (#12454)
  config/locales/exceptions.en.yml
  lib/rx/client.rb
  lib/rx/configuration.rb
  lib/rx/middleware/response/rx_raise_error.rb
  lib/rx/rx_gateway_timeout.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_optimistic_locking_error.yml
Labels: mobile, console-services-review

VACMS-13117 Remove BTSSS login widget flag (#12468)
  config/features.yml
Labels: console-services-review

use avg (#12472)
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.11.41.tgz
Labels: console-services-review

HPA stabilization (#12476)
  chart/Chart.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.11.42.tgz
Labels: console-services-review

fix hpa
  chart/Chart.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.11.43.tgz
Labels: console-services-review

undo
  chart/Chart.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.11.44.tgz
Labels: console-services-review
