Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Support pagination for /v0/onsite_notifications (#13298)
  app/controllers/v0/onsite_notifications_controller.rb
  app/swagger/swagger/requests/onsite_notifications.rb
  spec/controllers/v0/onsite_notifications_controller_spec.rb
Labels: console-services-review

6165 update claims and appeals to use both policies (#13279)
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/request/individual_appeal_request_spec.rb
Labels: mobile

[60600] Add flexibility to prefilled FSR payment data (#13291)
  app/models/form_profiles/va_5655.rb
  config/settings.yml
  spec/models/form_profile_spec.rb
Labels: console-services-review

Makes adjustments to cut down on unnecessary 404s (#13313)
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
Labels: none

implemented logic for claimProcessType + supporting tests (#13338)
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: console-services-review

62094 Add redis client to get, save token in redis (#13329)
  config/redis.yml
  lib/chip/redis_client.rb
  spec/lib/chip/redis_client_spec.rb
Labels: console-services-review

Adding identity team as codeowners for app/services/login directory (#13315)
  .github/CODEOWNERS
Labels: console-services-review

Mobile: Update maintenance window graph (#13326)
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/spec/request/maintenance_windows_request_spec.rb
Labels: mobile

MHV-44887 VHIE sharing API hookup (#13341)
  lib/bb/client.rb
  lib/bb/middleware/response/bb_parser.rb
  modules/my_health/app/controllers/my_health/v1/health_records_controller.rb
  modules/my_health/config/routes.rb
  spec/lib/bb/client_spec.rb
  spec/support/vcr_cassettes/bb_client/gets_vhie_sharing_status.yml
  spec/support/vcr_cassettes/bb_client/opts_in_to_vhie_sharing.yml
  spec/support/vcr_cassettes/bb_client/opts_in_to_vhie_sharing_while_opted_in.yml
  spec/support/vcr_cassettes/bb_client/opts_out_of_vhie_sharing.yml
  spec/support/vcr_cassettes/bb_client/opts_out_of_vhie_sharing_while_opted_out.yml
Labels: console-services-review

62093 Initialize chip lib service class (#13339)
  lib/chip/client.rb
  lib/chip/configuration.rb
  lib/chip/service.rb
  spec/lib/chip/client_spec.rb
  spec/lib/chip/configuration_spec.rb
  spec/lib/chip/service_spec.rb
Labels: console-services-review

SA-58801 email phone duplicate (#12875)
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/contact_info_serializer.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/contact_info/configuration.rb
  modules/meb_api/lib/dgi/contact_info/response.rb
  modules/meb_api/lib/dgi/contact_info/service.rb
  modules/meb_api/spec/dgi/contact_info/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/post_contact_info.yml
Labels: console-services-review

VACMS-13614: Adds income limits to swagger ui. (#13334)
  app/controllers/v1/apidocs_controller.rb
  app/swagger/swagger/v1/requests/income_limits.rb
  app/swagger/swagger/v1/schemas/income_limits.rb
  modules/income_limits/README.md
Labels: console-services-review

API-28368-claims-v1-events-timeline (#13345)
  modules/claims_api/lib/claims_api/evss_bgs_mapper.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
Labels: none

Api 28400 526 pdf boolean cleanup (#13324)
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

remove operation ids (#13351)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

Update VANotify readme (#13348)
  modules/va_notify/README.md
Labels: none

API-27881-doc-search-flipper-feature (#13292)
  config/features.yml
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/models/veteran/service/user_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
  modules/veteran/spec/models/veteran/user_spec.rb
Labels: console-services-review

remove feature flags (#13349)
  app/workers/education_form/templates/1990.erb
Labels: console-services-review

API 27390 rework benefits documents token fetcher (#13271)
  config/settings.yml
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/benefits_documents/configuration.rb
  modules/claims_api/lib/claims_api/v2/benefits_documents/service.rb
Labels: console-services-review

RT progress (or lack thereof)
  app/models/emis_redis/military_information.rb
  app/models/form_profile.rb
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/prefill/military_information.rb
  spec/lib/hca/military_information_spec.rb
Labels: console-services-review

API-26763: Improve `VBADocuments` Monthly Report Performance (Part 2) (#13358)
  modules/vba_documents/app/models/vba_documents/monthly_stat.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/lib/tasks/vba_documents_tasks.rake
  modules/vba_documents/lib/vba_documents/monthly_stats_generator.rb
Labels: none

API-28016 Move SC header params to body (#13350)
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/schemas/shared/v0/ssn.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/200995.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/evidence_submission.json
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Correct lighthouse document uploader (#13368)
  app/workers/lighthouse/document_upload.rb
Labels: console-services-review

Add Jason Conigliari to flipper access (#13362)
  config/settings.yml
Labels: console-services-review

Add speech token
  app/controllers/v0/virtual_agent_speech_token_controller.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/virtual_agent_speech_token_controller_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_speech_error.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_speech_token_success.yml
Labels: console-services-review

EVSS Migration - 526 Submit - Translation Service - Veteran (#13363)
  lib/disability_compensation/requests/form526_request_body.rb
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/support/disability_compensation_form/submissions/with_everything.json
Labels: console-services-review

[58965] - Sign-in Service client_configs api (#13344)
  .github/CODEOWNERS
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/sign_in/client_configs_controller.rb
  app/controllers/v0/sign_in_controller.rb
  config/routes.rb
  db/seeds/development.rb
  spec/controllers/sign_in/client_configs_controller_spec.rb
Labels: console-services-review

Ask va auth spike (#13373)
  app/controllers/v0/ask_va/static_data_auth_controller.rb
  app/controllers/v0/ask_va/static_data_controller.rb
  config/routes.rb
  modules/ask_va_api/app/controllers/ask_va_api/application_controller.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/static_data_auth_controller.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/static_data_controller.rb
  modules/ask_va_api/spec/requests/v0/static_data_auth_spec.rb
  spec/controllers/v0/ask_va/static_data_auth_spec.rb
  spec/controllers/v0/ask_va/static_data_spec.rb
Labels: console-services-review

add an attribute to fsr forms that changes box 3 for VHS pdf submissions (#13365)
  app/controllers/v0/financial_status_reports_controller.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/factories/form5655_submission.rb
  spec/fixtures/dmc/non_sw_form5655_submission.json
  spec/fixtures/dmc/sw_form5655_submission.json
  spec/fixtures/dmc/sw_fsr_submission.json
  spec/fixtures/pdf_fill/5655/simple.json
  spec/fixtures/pdf_fill/5655/simple.pdf
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

VACMS-13614: Adds missing income limits schema definitions for apidocs (#13367)
  app/swagger/swagger/v1/requests/income_limits.rb
  app/swagger/swagger/v1/schemas/income_limits.rb
Labels: console-services-review

Mobile: Mobile vet360 linking migrations (#13372)
  db/schema.rb
  modules/mobile/db/migrate/20230725172333_add_vet360_link_attempts_to_mobile_users.rb
Labels: mobile, console-services-review

Mobile: Add tracking of vet360 linking attempts (#13346)
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/controllers/mobile/v1/users_controller.rb
  modules/mobile/app/models/mobile/user.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/app/workers/mobile/v0/vet360_linking_job.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/workers/vet360_linking_spec.rb
Labels: mobile

API-28555: Remove email address from monthly and daily VBADocuments email reports (#13374)
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: none

API-26763: Wire up `VBADocuments::ReportMonthlySubmissions` Job to Stored Stats (Performance) (#13366)
  modules/vba_documents/app/mailers/vba_documents/monthly_report_mailer.rb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_monthly_rolling_elapsed_times.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_time_between_statuses.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_time_btw_statuses.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/monthly_report.html.erb
  modules/vba_documents/app/views/vba_documents/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/vba_documents/app/workers/vba_documents/report_monthly_submissions.rb
  modules/vba_documents/lib/vba_documents/monthly_stats_generator.rb
  modules/vba_documents/spec/mailers/monthly_report_mailer_spec.rb
  modules/vba_documents/spec/workers/report_monthly_submissions_spec.rb
Labels: none

[DBEx 60966] add logging to uploaded evidence retrieval (#13371)
  .gitignore
  app/controllers/concerns/third_party_transaction_logging.rb
  app/controllers/v0/upload_supporting_evidences_controller.rb
  app/workers/evss/document_upload.rb
  lib/logging/third_party_transaction.rb
  lib/shrine/plugins/validate_virus_free.rb
  spec/controllers/concerns/third_party_transaction_logging_spec.rb
  spec/lib/logging/third_party_transaction_spec.rb
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
Labels: console-services-review

EVSS Migration - 526 Submit - Transform Service - Service Info (#13377)
  lib/disability_compensation/requests/form526_request_body.rb
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/support/disability_compensation_form/submissions/with_everything.json
Labels: console-services-review

API-27406-getPdf-docs-update (#13355)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: none

API-26763: Remove Unused `VBADocuments` Monthly Report Generation Code (#13378)
  modules/vba_documents/app/models/vba_documents/monthly_stat.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_monthly_processing_success.html.erb
  modules/vba_documents/lib/vba_documents/monthly_stats_generator.rb
  modules/vba_documents/lib/vba_documents/sql_support.rb
  modules/vba_documents/spec/fixtures/reports/monthly_report/avg_processing_time.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/final_monthly_results.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/max_avg.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/mode.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/monthly_counts.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/monthly_summary.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/rolling_elapsed_times.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/still_processing.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/still_success.yml
  modules/vba_documents/spec/models/upload_submission_spec.rb
Labels: none

EVSS Migration - 526 Submit - Transform Service - Disabilities (#13379)
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: console-services-review

62849 Changes to fsrReasons and streamlined attribute shape (#13385)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
