Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

49786 add BTSSS 404 response handling (#11204)
  modules/check_in/app/services/travel_claim/response.rb
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
  modules/check_in/spec/services/travel_claim/response_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_404.yml
Labels: console-services-review

49848 add/update statsd metrics for travel claims (#11207)
  modules/check_in/config/initializers/statsd.rb
Labels: none

[11193] Drop session activities table (#11195)
  db/migrate/20221118215335_drop_session_activities.rb
  db/schema.rb
Labels: console-services-review

[11196] Migration to add user_account association to terms_and_conditions model (#11197)
  db/migrate/20221118223800_add_user_account_to_terms_and_conditions.rb
  db/schema.rb
Labels: console-services-review

[11199] Migration to add user_account to appeal_submissions (#11200)
  db/migrate/20221118232353_add_user_accountto_appeal_submissions.rb
  db/schema.rb
Labels: console-services-review

[11209] Migration to drop beta_registratiosn table, as it is no longer used (#11210)
  db/migrate/20221121200033_drop_beta_registrations.rb
  db/schema.rb
Labels: console-services-review

[11211] Adding refresh token in Sign in Service log when refresh token cannot be decrypted (#11213)
  app/services/sign_in/refresh_token_decryptor.rb
  spec/services/sign_in/refresh_token_decryptor_spec.rb
Labels: console-services-review

Removes old feature flag for original mocked API endpoints (#11228)
  config/features.yml
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
Labels: console-services-review

Api 20567 handle retries (#11149)
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/lib/claims_api/common/exceptions/missing_id_exception.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: none

update k8s image deploy for helm charts
  .github/workflows/deploy-template.yml
  .github/workflows/deploy.yml
Labels: console-services-review

update manifests directory
  .github/workflows/deploy-template.yml
Labels: console-services-review

remove staging from GHA
  .github/workflows/deploy.yml
Labels: console-services-review

git GITHUB_ENV
  .github/workflows/deploy-template.yml
Labels: console-services-review

4268 nil person bug (#11206)
  lib/va_profile/models/person.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/person_without_data.yml
Labels: console-services-review

undo changes
  .github/workflows/deploy-template.yml
  .github/workflows/deploy.yml
Labels: console-services-review

update gha to use helm for templating
  .github/workflows/deploy-template.yml
  .github/workflows/deploy.yml
Labels: console-services-review

fix copy paste oopsie
  .github/workflows/deploy-template.yml
Labels: console-services-review

remove env reference
  .github/workflows/deploy-template.yml
Labels: console-services-review

helm101 gha image updates
  .github/workflows/deploy-template.yml
Labels: console-services-review

update message
  .github/workflows/deploy-template.yml
Labels: console-services-review

[11214] Adding User Account column to EducationStemAutomatedDecision table (#11220)
  db/migrate/20221122002132_add_user_account_to_education_stem_automated_decisions.rb
  db/schema.rb
Labels: console-services-review

Api 20613 rswag documentation per env (#10965)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
  spec/rswag_override.rb
  spec/spec_helper.rb
  spec/support/rswag/text_helpers.rb
Labels: console-services-review

[11214] Adding user_account to async_transaction table (#11221)
  db/migrate/20221122002707_add_user_account_to_async_transaction.rb
  db/schema.rb
Labels: console-services-review

[11214] Adding user_account to evss_claims table (#11222)
  db/migrate/20221122003213_add_user_account_to_evss_claims.rb
  db/schema.rb
Labels: console-services-review

[11216] Adding user_account to form526_submissions table (#11223)
  db/migrate/20221122003512_add_user_account_to_form526_submissions.rb
  db/schema.rb
Labels: console-services-review

[49907] Adding user_account to form5655_submissions table (#11224)
  db/migrate/20221122003745_add_user_account_to_form5655_submissions.rb
  db/schema.rb
Labels: console-services-review

[11217] Adding user_account to health_quest_questionnaire_responses table (#11225)
  db/migrate/20221122004008_add_user_account_to_health_quest_questionnaire_responses.rb
  db/schema.rb
Labels: console-services-review

[11226] Adding user_account to mhv_accounts table (#11227)
  db/migrate/20221122004441_add_user_account_to_mhv_accounts.rb
  db/schema.rb
Labels: console-services-review

Add swagger docs for new COE endpoints. (#11205)
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/coe.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

11196 save user account on terms and conditions acceptances creatin (#11198)
  app/controllers/v0/terms_and_conditions_controller.rb
  app/models/terms_and_conditions_acceptance.rb
Labels: console-services-review

[11199] Code change to add UserAccount records to AppealSubmissions (#11202)
  app/controllers/v0/higher_level_reviews_controller.rb
  app/controllers/v1/higher_level_reviews_controller.rb
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/controllers/v1/supplemental_claims_controller.rb
  app/models/appeal_submission.rb
Labels: console-services-review

Increase timeout for VRO client (#11232)
  lib/virtual_regional_office/configuration.rb
Labels: console-services-review

VaNotify - 674 confirmation email (#11229)
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  config/features.yml
  config/redis.yml
  modules/va_notify/app/models/va_notify/confirmation_email.rb
  modules/va_notify/spec/models/confirmation_email_spec.rb
  spec/jobs/bgs/submit_form674_job_spec.rb
Labels: console-services-review

add feature flag (#11241)
  config/features.yml
Labels: console-services-review

4309 vaprofile models validation error (#11240)
  lib/va_profile/concerns/expirable.rb
  lib/va_profile/models/base.rb
  lib/va_profile/models/base_address.rb
  lib/va_profile/models/email.rb
  lib/va_profile/models/gender_identity.rb
  lib/va_profile/models/permission.rb
  lib/va_profile/models/preferred_name.rb
  lib/va_profile/models/telephone.rb
  spec/lib/va_profile/concerns/expirable_spec.rb
  spec/lib/va_profile/models/base_spec.rb
Labels: console-services-review

Remove 686 feature flag (#11248)
  app/workers/bgs/submit_form686c_job.rb
  config/features.yml
Labels: console-services-review

VAOS::V2::SystemService#get_facility_clinics: GET clinics when paging is not passed in does not return all clinics (#11238)
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_facility_id_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_service_400.yml
  modules/vaos/app/services/vaos/v2/systems_service.rb
  spec/support/vcr_cassettes/vaos/v2/systems/get_facility_clinics_200.yml
  spec/support/vcr_cassettes/vaos/v2/systems/get_facility_clinics_400.yml
Labels: mobile, vaos, console-services-review

[11214] Updating user_account when EducationStemAutomatedDecision records are created (#11233)
  app/models/education_stem_automated_decision.rb
  app/models/saved_claim/education_benefits/va_10203.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: console-services-review

[11208] Adding user account to created AsyncTransactions (#11234)
  app/models/async_transaction/base.rb
  app/models/async_transaction/va_profile/base.rb
  app/models/async_transaction/vet360/base.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
Labels: console-services-review

[11215] Adding user account to created EVSSClaims (#11235)
  app/models/evss_claim.rb
  app/services/evss_claim_service.rb
  app/workers/evss/retrieve_claims_from_remote_job.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
Labels: mobile, console-services-review
