Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Change doc type for 5103 (#11340)
  modules/claims_api/lib/claims_api/ews_vbms_sidekiq.rb
Labels: none

4277 flexible parsing (#11337)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
Labels: mobile

Remove PII attributes from being logged in sentry (#11344)
  lib/debt_management_center/payments_service.rb
  lib/debt_management_center/workers/va_notify_email_job.rb
Labels: console-services-review

[41137] MPI profile parser DOB validation (#11325)
  lib/mpi/responses/profile_parser.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/support/mpi/find_candidate_incomplete_dob_response.xml
Labels: console-services-review

Mobile integrate with new MHV RX list interface (#11339)
  app/models/prescription.rb
  lib/rx/client.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_refills_serializer.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/docs/schemas/PrescriptionsRefill.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_not_found.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_with_error.yml
Labels: mobile, console-services-review

Simplify notification letter filtering for COE status page. (#11338)
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

Remove direct_deposit_vanotify_flag (#11327)
  app/controllers/v0/ppiu_controller.rb
  app/controllers/v0/profile/ch33_bank_accounts_controller.rb
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/app/services/mobile/v0/payment_information/proxy.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/requests/ppiu_request_spec.rb
Labels: mobile, console-services-review

Implemented external services (#11346)
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/ingress_route.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.5.0.tgz
Labels: console-services-review

Updated externalservice to externalService
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.5.1.tgz
Labels: console-services-review

Updated manifest deployment groups
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.5.2.tgz
Labels: console-services-review

[#661] Update claims auth check (#11352)
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
Labels: console-services-review

VaNotify - 527ez confirmation email (#11333)
  app/models/saved_claim/pension.rb
  app/workers/central_mail/submit_saved_claim_job.rb
  config/features.yml
  config/settings.yml
  spec/models/saved_claim/pension_spec.rb
Labels: console-services-review

remove hash from params (#11355)
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_not_found.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_with_error.yml
Labels: mobile

[11358] Updating TTL for mobile_test client for SiS (#11359)
  app/services/sign_in/constants/client_config.rb
Labels: console-services-review

Add feature flag for browser monitoring in Health Care application (#11361)
  config/features.yml
Labels: console-services-review

API-21502: Return cached status on VBADocuments::uploads#show endpoint when status refresh fails (#11353)
  modules/vba_documents/app/controllers/vba_documents/v1/uploads_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
Labels: none

Remove email address from job logs (#11357)
  app/workers/va_notify_email_job.rb
  spec/jobs/va_notify_email_job_spec.rb
Labels: console-services-review

Add /v0/mhv_account to swagger doc (#11356)
  app/swagger/swagger/requests/profile.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

update va-home flag (#11343)
  config/features.yml
Labels: console-services-review

Update personalization params (#11363)
  app/models/saved_claim/pension.rb
  spec/models/saved_claim/pension_spec.rb
Labels: console-services-review

Clinic Patient Friendly Names Not Displaying (#11354)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: vaos

Removed external service extra ingress route
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.5.3.tgz
Labels: console-services-review

[#MHV-39388] adding feature flag for mhv secure messaging (#11366)
  config/features.yml
Labels: console-services-review

Updated external serivce annotation
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.5.4.tgz
Labels: console-services-review

Changed external service annotations
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.5.5.tgz
Labels: console-services-review

Updated external service container name
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.5.6.tgz
Labels: console-services-review

Removed bgs-evss deployment
  chart/Chart.yaml
  chart/templates/deployment-bgs-evss.yaml
  chart/templates/external-service-deployment.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.5.7.tgz
Labels: console-services-review

API-21476: Add Logging and Metadata for Base64-Encoded VBADocuments Submissions (#11370)
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/models/upload_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

Loop through external service routes
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.5.8.tgz
Labels: console-services-review

4246 add preferred name gender identity to UserSerializer (#11287)
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/serializers/mobile/v1/user_serializer.rb
  modules/mobile/docs/schemas/v1/User.yml
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/demographics/demographics.yml
Labels: mobile

Condensed external service into server deployment
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  chart/templates/ingress_route.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.6.0.tgz
Labels: console-services-review

Implement blue/green deployment
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.6.1.tgz
Labels: console-services-review

Adds bgs response factory (#11362)
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/workers/ews_updater_spec.rb
Labels: none

bump rails-html-sanitizer (#11375)
  Gemfile.lock
Labels: console-services-review

Mhv secure messaging feature flag (#11369)
  config/settings.yml
Labels: console-services-review

remove deprecated set-output
  .github/workflows/deploy-template.yml
Labels: console-services-review

use GITHUB_OUTPUT
  .github/workflows/deploy-template.yml
Labels: console-services-review

Added pathprefix and path to ingress
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.6.2.tgz
Labels: console-services-review

Revert claim establisher (#11379)
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: none

4195 mobile lighthouse ccg letters (#11313)
  config/features.yml
  config/settings.yml
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/letter.rb
  modules/mobile/app/models/mobile/v0/lighthouse_assertion.rb
  modules/mobile/app/models/mobile/v0/lighthouse_params_factory.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/service.rb
  modules/mobile/spec/models/lighthouse_assertion_spec.rb
  modules/mobile/spec/models/lighthouse_params_factory_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_200.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_404.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_503.yml
Labels: mobile, console-services-review
