Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

List both middlewares in the Ingress routes
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.8.8.tgz
Labels: console-services-review

[51834] Updating rake task to backfill user_acceptable_verified_credential (#11668)
  rakelib/prod/backfill_user_acceptable_credential.rake
Labels: console-services-review

Adds to AOS docs (#11647)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

(feat) add toggle for FE work (#11661)
  config/features.yml
Labels: console-services-review

Specify intent for every loan in COE form. (#11666)
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

API-22862-Updates Test Users Link (#11664)
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
Labels: none

API-21503: Make Sentry error less specific, for grouping purposes (#11665)
  modules/vba_documents/lib/vba_documents/upload_integrity_checker.rb
  modules/vba_documents/spec/lib/upload_integrity_checker_spec.rb
Labels: none

Adding claimDate to cmp metadata on backup submission (#11674)
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

48800 remove UserIdentity attributes (#11544)
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/mpi_data.rb
  app/models/user.rb
  app/models/user_identity.rb
  app/services/bgs/base_service.rb
  app/swagger/swagger/schemas/user_internal_services.rb
  lib/bgs/service.rb
  lib/saml/user_attributes/ssoe.rb
  modules/health_quest/spec/factories/health_quest_users.rb
  modules/vaos/spec/factories/vaos_users.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/factories/iam_user_identities.rb
  spec/factories/iam_users.rb
  spec/factories/mvi_profiles.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/bgs/service_spec.rb
  spec/lib/inherited_proofing/user_attributes_fetcher_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_spec.rb
  spec/serializers/sign_in/introspect_serializer_spec.rb
  spec/services/bgs/base_service_spec.rb
Labels: vaos, console-services-review

Add flag for vaos request flow update (#11653)
  config/features.yml
Labels: console-services-review

updates AVC updated log (#11657)
  app/services/login/user_acceptable_verified_credential_updater.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
Labels: console-services-review

EVSS DependentsApplicationJob Form Encryption (#11520)
  app/models/dependents_application.rb
  app/workers/evss/dependents_application_job.rb
  spec/jobs/evss/dependents_application_job_spec.rb
Labels: console-services-review

Remove `willRefinance` parameter from payload to LGY. (#11675)
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

Adding Flipper to add additional metadata to 526 backup submissions (#11681)
  config/features.yml
  lib/sidekiq/form526_backup_submission_process/processor.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
Labels: console-services-review

AppealsApi: Convert updater jobs to flipper (#11680)
  config/features.yml
  config/settings.yml
  config/settings/test.yml
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_batch.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/supplemental_claim_upload_status_batch_spec.rb
Labels: console-services-review

REjiggering (#11687)
  lib/sidekiq/form526_backup_submission_process/processor.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
Labels: console-services-review

Add JWT Generator for Lighthouse CCG (#11677)
  config/settings.yml
  lib/lighthouse/auth/client_credentials/jwt_generator.rb
  spec/lib/lighthouse/auth/client_credentials/jwt_generator_spec.rb
  spec/support/certificates/lhdd-fake-private.pem
  spec/support/certificates/lhdd-fake-public.pem
Labels: console-services-review

update actions to mitigate save-state warning
  .github/workflows/code_checks.yml
Labels: console-services-review

update build-push-action@v4 to remove save-state deprecation warning
  .github/workflows/build.yml
Labels: console-services-review

address dep warning
  .github/workflows/build.yml
  .github/workflows/deploy-template.yml
  .github/workflows/preview_environment_deployment.yml
  .github/workflows/sync_branch.yml
Labels: console-services-review

API 22838 Claim status response formatting (#11605)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Disabled dogstatsd (#11642)
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

Api 22862 fixes other test users link (#11691)
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
Labels: none

Add blank participant_id check (#11640)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Revert "Disabled dogstatsd (#11642)" (#11694)
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

remove helm101 image update
  .github/workflows/deploy-template.yml
Labels: console-services-review

Disabled dogstatsd (#11695)
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

test commit
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
Labels: vaos

fixed robocup errors
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
Labels: vaos

[39033] Add individual compromise amounts to fsr (#11672)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

Turn retries off for 5655 form workers (#11685)
  app/workers/form5655/vba_submission_job.rb
  app/workers/form5655/vha_submission_job.rb
Labels: console-services-review

Rcassity chmod clam (#11698)
  Dockerfile
Labels: console-services-review

Rcassity chmod clam (#11699)
  Dockerfile
Labels: console-services-review

Rcassity chmod clam (#11700)
  Dockerfile
Labels: console-services-review

Update flipper email (#11614)
  config/settings.yml
Labels: console-services-review

Capture Appointment Type of Care, Provider's Info in Loki (#11658)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: vaos

755
  Dockerfile
Labels: console-services-review

update clam perms
  Dockerfile
  config/clamd.conf
Labels: console-services-review

Added run command
  Dockerfile
Labels: console-services-review

Revert "Added run command"
  Dockerfile
Labels: console-services-review
