Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

[56520] Monkeypatching StatsD::Instrument functions to replace StatsD key strings, dots with underscores (#12392)
  config/initializers/statsd_instrument_monkeypatch.rb
  modules/check_in/config/initializers/statsd_instrument_monkeypatch.rb
  modules/covid_vaccine/config/initializers/statsd_instrument_monkeypatch.rb
  modules/mobile/config/initializers/statsd_instrument_monkeypatch.rb
  modules/vaos/config/initializers/statsd_instrument_monkeypatch.rb
Labels: mobile, vaos, console-services-review

Added a preStop sleep command (#12407)
  chart/templates/server-deployment.yaml
Labels: console-services-review

Rcassity prestop (#12408)
  docs/index.yaml
  docs/vets-api-0.11.33.tgz
Labels: console-services-review

Bumped chart version
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.11.34.tgz
Labels: console-services-review

Update chart version
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.11.35.tgz
Labels: console-services-review

Forms API: parse out characters that break json (#12404)
  modules/forms_api/app/services/forms_api/pdf_filler.rb
  modules/forms_api/spec/fixtures/form_json/vba_26_4555.json
Labels: none

Rcassity enabled startup probe (#12409)
  chart/templates/server-deployment.yaml
  chart/values.yaml
Labels: console-services-review

Indent values
  chart/values.yaml
Labels: console-services-review

Bump chart version
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.11.36.tgz
Labels: console-services-review

Set ssn to User#ssn if malformed in SubmitForm674Job. (#12410)
  lib/bgs/vnp_veteran.rb
  spec/lib/bgs/vnp_veteran_spec.rb
Labels: console-services-review

Update appeals_api rake tasks for new OAuth scopes (#12368)
  config/settings.yml
  rakelib/appeals_api_oauth.rake
Labels: console-services-review

Task update native doc (#12297)
  docs/setup/native.md
Labels: console-services-review

Bdex/54161: Migrate eVSS calls to rated disabilities functionality (vets-api /rated_disabilities) (#12234)
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/controllers/v0/disability_compensation_in_progress_forms_controller.rb
  app/models/form_profiles/va_526ez.rb
  config/settings.yml
  config/settings/test.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  lib/lighthouse/auth/client_credentials/service.rb
  lib/lighthouse/veteran_verification/configuration.rb
  lib/lighthouse/veteran_verification/service.rb
  lib/lighthouse/veteran_verification/service_exception.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/lighthouse_rated_disabilities_provider_spec.rb
  spec/lib/lighthouse/veteran_verification/service_spec.rb
  spec/models/form_profile_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/200_response.yml
Labels: console-services-review

Update appeals insomnia config (#12393)
  modules/appeals_api/appeals_api_insomnia.json
Labels: none

Disable Rails console autocomplete in deployed envs (#12411)
  .gitignore
  .irbrc
Labels: console-services-review

[12331] Refactor BGS Services to more clearly show what User model fields are being leveraged (#12332)
  app/models/vet_info.rb
  app/services/bgs/awards_service.rb
  app/services/bgs/base_service.rb
  app/services/bgs/constants.rb
  app/services/bgs/dependency_verification_service.rb
  app/services/bgs/dependent_service.rb
  app/services/bgs/errors.rb
  app/services/bgs/payment_service.rb
  app/services/bgs/people/service.rb
  app/services/bgs/uploaded_document_service.rb
  spec/services/bgs/awards_service_spec.rb
  spec/services/bgs/base_service_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

Remove sign-in service stats from initializer (#12415)
  config/initializers/statsd.rb
Labels: console-services-review

55882 update travel claim controller to call worker (#12371)
  config/betamocks/services_config.yml
  config/settings.yml
  modules/check_in/app/controllers/check_in/v0/travel_claims_controller.rb
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
Labels: console-services-review

API-25108 deprecate veteran confirmation (#12412)
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
Labels: none

[52864] Add signature date to 5655 pdf (#12382)
  lib/pdf_fill/forms/pdfs/5655.pdf
  lib/pdf_fill/forms/va5655.rb
  spec/fixtures/pdf_fill/5655/kitchen_sink.pdf
  spec/fixtures/pdf_fill/5655/overflow.pdf
  spec/fixtures/pdf_fill/5655/simple.pdf
Labels: console-services-review

[55554] Use Sidekiq Batch to bulk upload VHA submissions (#12376)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

API-24975 BGS healthchecks (#12399)
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: none

Api 25719 current phase back (#12380)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Adds logging for organic modal experiment (#12373)
  app/services/acceptable_verified_credential_adoption_service.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

Remove enable_in_development key from Appeals feature flags (#12418)
  config/features.yml
Labels: console-services-review

Forms api - add 21-4142 mappings (#12405)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/form_mappings/vba_21_4142.json.erb
  modules/forms_api/app/models/forms_api/vba_21_4142.rb
  modules/forms_api/app/services/forms_api/pdf_stamper.rb
  modules/forms_api/spec/fixtures/form_json/vba_21_4142.json
  modules/forms_api/spec/requests/v1/uploads_spec.rb
  modules/forms_api/spec/services/pdf_filler_spec.rb
  modules/forms_api/templates/vba_21_4142.pdf
Labels: none

[12421] Remove unnecessary identity related statsd from initializers (#12422)
  config/initializers/statsd.rb
Labels: console-services-review

Add prefill config for 21-4142 (#12416)
  app/models/form_profile.rb
  app/models/form_profiles/va_214142.rb
  config/form_profile_mappings/21-4142.yml
  config/settings.yml
  spec/models/form_profile_spec.rb
Labels: console-services-review

Fixing spec issue with loading certain files (#12429)
  spec/factories/users.rb
  spec/lib/saml/responses/login_spec.rb
  spec/lib/sidekiq_stats_instrumentation/client_middleware_spec.rb
Labels: console-services-review

Fixing spec that was updating fixtures when run and causing file changes in Git (#12428)
  spec/jobs/education_form/forms/va5490_spec.rb
Labels: console-services-review

Add feature toggle for using LH as backing service (#12419)
  config/features.yml
Labels: console-services-review

Update cron schedule for some VBADocuments jobs (#12417)
  config/sidekiq_scheduler.yml
Labels: console-services-review

APT 25791 latestPhaseType values (#12420)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Reenable merge to master image update in ECR for preview environments (#12431)
  .github/workflows/preview-environment-update-main.yml
  .github/workflows/preview_environment_deployment.yml
Labels: console-services-review

API-24681-526-schema-draft (#12400)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/config/schemas/v1/0966.json
  modules/claims_api/config/schemas/v1/2122.json
  modules/claims_api/config/schemas/v1/526.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/form_schemas.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/support/swagger_shared_components/v1.rb
Labels: none

Add Melissa Staging email address for testing (#12430)
  config/settings.yml
Labels: console-services-review

- add an umbrella feature toggle for My VA (#12424)
  config/features.yml
Labels: console-services-review

add logging (#12435)
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
Labels: mobile

add decision_letter_sent field to claims and appeals overview (#12387)
  modules/mobile/app/models/mobile/v0/adapters/claims_overview.rb
  modules/mobile/app/models/mobile/v0/claim_overview.rb
  modules/mobile/app/serializers/mobile/v0/claim_overview_serializer.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/support/schemas/claims_and_appeals_overview_response.json
  modules/mobile/spec/workers/pre_cache_claims_and_appeals_job_spec.rb
Labels: mobile

Vfep 531 - fix 5490 spool file phone number order and school selection questions (#12402)
  app/workers/education_form/templates/5490.erb
  app/workers/education_form/templates/phone_numbers.erb
  spec/fixtures/education_benefits_claims/1990/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_edu_prog.spl
  spec/fixtures/education_benefits_claims/1990/simple_ch33.spl
  spec/fixtures/education_benefits_claims/1990e/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990e/simple.spl
  spec/fixtures/education_benefits_claims/1990n/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990n/simple.spl
  spec/fixtures/education_benefits_claims/1995/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1995/minimal.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_adopted_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_biological_child.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_step_child.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/5495/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/5495/simple.spl
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
