Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

update sidekiq pro and ent (#10755)
  Gemfile.lock
Labels: console-services-review

Remove debugging in Docker on Windows when using RubyMine (#10756)
  .gitignore
  Gemfile
  Gemfile.lock
  README.md
  docker-compose.yml
  docker-entrypoint.sh
  docs/setup/debugging_with_docker_rubymine_windows.md
  docs/setup/images/RubyMine-AdminController-breakpoint.png
  docs/setup/images/RubyMine-configure-remote-docker.png
  docs/setup/images/RubyMine-debug-config.png
  docs/setup/images/RubyMine-settings.png
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  rakelib/docker_debugging.rake
Labels: console-services-review

Upgrade redis-namespace to 1.9.0 (#10757)
  Gemfile
  Gemfile.lock
Labels: console-services-review

Rails cache reconnect may be eating logs (#10761)
  config/puma.rb
Labels: console-services-review

Remove formdata for HLR, NOD and SC show (#10733)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/serializers/appeals_api/higher_level_review_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreement_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claim_serializer.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

[department-of-veterans-affairs/va-virtual-agent#585] Adds workers to… (#10694)
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  app/models/virtual_agent_user_access_record.rb
  app/workers/virtual_agent_store_user_info_job.rb
  config/features.yml
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/factories/virtual_agent_user_access_records.rb
  spec/jobs/virtual_agent_store_user_info_job_spec.rb
  spec/models/virtual_agent_user_access_record_spec.rb
Labels: console-services-review

API-16005 split doc updates (part 2: NOD) (#10737)
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/put_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Mobile vaos v2 bug fixes (#10736)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

API-16005 split doc updates (part 3: SC) (#10750)
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
Labels: none

10-10CG: Add ICN to Application Payload (#10305)
  lib/carma/models/submission.rb
  spec/lib/carma/models/submission_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/mulesoft/addDocument.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: console-services-review

API-16005 split doc updates (part 4: CI & LA) (#10763)
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

API-18656 Adds migration for 5103. (#10749)
  db/migrate/20220920211515_evidence_waiver_submission.rb
  db/schema.rb
Labels: console-services-review

Toe submit form (#10767)
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/lib/dgi/forms/service/claimant_service.rb
  modules/meb_api/lib/dgi/forms/service/letter_service.rb
  modules/meb_api/lib/dgi/forms/service/sponsor_service.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/claimant_spec.rb
  modules/meb_api/spec/dgi/forms/service/sponsor_spec.rb
  modules/meb_api/spec/dgi/forms/service/submission_service_spec.rb
  modules/meb_api/spec/dgi/toe/service_spec.rb
  modules/meb_api/spec/dgi/toe/sponsors_service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  spec/support/vcr_cassettes/dgi/forms/sponsor_toes.yml
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
  spec/support/vcr_cassettes/dgi/post_toe_claimant_info.yml
Labels: console-services-review

[COE] Fix issue with multiple uploads causing 500 (#10760)
  app/controllers/v0/coe_controller.rb
Labels: console-services-review

API-19820-update-email-report (#10747)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: none

API-19796: Add Benefits Intake API (VBADocuments) entries to CODEOWNERS (#10714)
  .github/CODEOWNERS
Labels: console-services-review

API-19630 - Use shared schemas in appeals_api LA & CI endpoints (#10764)
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v2/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v2/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/contestable_issues_headers_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/legacy_appeals_headers_with_shared_refs.json
  modules/appeals_api/spec/requests/contestable_issues/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v2/legacy_appeals_controller_spec.rb
Labels: none

[46584] Refactoring MPI SAML building for find_profile queries (#10738)
  app/models/user.rb
  config/settings.yml
  lib/mpi/messages/find_candidate_message_error.rb
  lib/mpi/messages/find_profile_by_attributes.rb
  lib/mpi/messages/find_profile_by_edipi.rb
  lib/mpi/messages/find_profile_by_identifier.rb
  lib/mpi/messages/find_profile_message.rb
  lib/mpi/messages/find_profile_message_edipi.rb
  lib/mpi/messages/find_profile_message_fields.rb
  lib/mpi/messages/find_profile_message_helpers.rb
  lib/mpi/messages/find_profile_message_identifier.rb
  lib/mpi/messages/message_builder.rb
  lib/mpi/messages/request_builder.rb
  lib/mpi/messages/request_helper.rb
  lib/mpi/service.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  spec/lib/mpi/messages/find_profile_by_attributes_spec.rb
  spec/lib/mpi/messages/find_profile_by_edipi_spec.rb
  spec/lib/mpi/messages/find_profile_by_identifier_spec.rb
  spec/lib/mpi/messages/find_profile_message_fields_spec.rb
  spec/lib/mpi/messages/find_profile_message_spec.rb
  spec/lib/mpi/messages/message_builder_spec.rb
  spec/lib/mpi/messages/request_builder_spec.rb
  spec/lib/mpi/messages/request_helper_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_user_not_found.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_edipi.yml
Labels: console-services-review

Fix doc path (#10769)
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
Labels: none

Change RRD doctype to Automated Review Summary Document (#10771)
  app/models/evss_claim_document.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  config/features.yml
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

[COE] Add file upload betamocks config (#10768)
  config/betamocks/services_config.yml
Labels: console-services-review

Updates to FSR timestamp field (#10779)
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

Update Postman to test all endpoints and clearly designate which tests require which user tokens (#10775)
  modules/mobile/docs/MobileAPI Integration Test Collection.postman_collection.json
Labels: mobile

Change sidekiq job execution timings to avoid job execution overlap (#10780)
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_batch.rb
Labels: none

API-20066 - Rename Claimant to NonVeteranClaimant (#10782)
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers_extra.json
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: none

updated flag name show_meb_mailing_address_foreign to show_meb_dgi40_features (#10783)
  config/features.yml
Labels: console-services-review

increased timeout to user/v2/session calls (#10778)
  modules/vaos/app/services/vaos/user_service.rb
Labels: vaos

Mobile - VAOS V2 integration arrived status (#10781)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_no_requests_200.yml
Labels: mobile

Fixes issue with clamdscan scanning whole vets-api directory (#10791)
  lib/common/virus_scan.rb
Labels: console-services-review

Remove everPhaseBack attribute (#10773)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Add fail catch on empty array (#10793)
  lib/pdf_fill/forms/va5655.rb
Labels: console-services-review

Return PDF contents of 5655 form on submission (#10785)
  app/swagger/swagger/requests/financial_status_reports.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/controllers/v0/financial_status_reports_controller_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

[46584] Updating MPI AddPerson and UpdateProfile requests to dynamically build messages instead of relying on template files (#10787)
  lib/mpi/constants.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/add_person_proxy_add_message.rb
  lib/mpi/messages/find_profile_by_attributes.rb
  lib/mpi/messages/find_profile_by_edipi.rb
  lib/mpi/messages/find_profile_by_identifier.rb
  lib/mpi/messages/request_builder.rb
  lib/mpi/messages/request_helper.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/add_person_proxy_add_message_spec.rb
  spec/lib/mpi/messages/find_profile_by_attributes_spec.rb
  spec/lib/mpi/messages/find_profile_by_edipi_spec.rb
  spec/lib/mpi/messages/find_profile_by_identifier_spec.rb
  spec/lib/mpi/messages/request_builder_spec.rb
  spec/lib/mpi/messages/request_helper_spec.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_empty.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_user_not_found.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_edipi.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_icn.yml
  spec/support/vcr_cassettes/mpi/find_candidate/orch_search_with_attributes.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: console-services-review

Adds travel reimbursement feature toggle. (#10798)
  config/features.yml
Labels: console-services-review

[46405] add `request_id` to failed login redirects (#10754)
  app/controllers/v0/sign_in_controller.rb
  app/controllers/v1/sessions_controller.rb
  lib/saml/post_url_service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: console-services-review

3771 provider backfill (#10786)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/provider_names.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/services/v2/appointments/provider_names_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_with_mixed_provider_types.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_200.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_400.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_500.yml
Labels: mobile

Adds feature flag pw_ehr_cta_use_slo (#10796)
  config/features.yml
Labels: console-services-review

Fixes docs for v2. (#10800)
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

AppealsApi::PDFSubmitJob - Add model name to slack notification for ease of debugging (#10799)
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: none

39199 Custom exception implementation for delete endpoint integration (#10744)
  modules/check_in/app/exceptions/check_in/v2/checkin_service_exception.rb
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/exceptions/check_in/v2/checkin_service_exception_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: none
