Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

add feature toggle (#12319)
  config/features.yml
Labels: console-services-review

add users for authd experience team (#12310)
  config/settings.yml
Labels: console-services-review

Update va_facilities.rb (#12320)
  modules/mobile/config/initializers/va_facilities.rb
Labels: mobile

Add tracking for appointment type (#12317)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/config/initializers/statsd.rb
Labels: mobile

Update appeals API routes to comply w/Lighthouse standards (#12131)
  modules/appeals_api/config/route_concerns.rb
  modules/appeals_api/config/routes.rb
Labels: none

API-24329-tracked-item-needed-status (#12309)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Supplemental Claims post launch improvements (#12325)
  app/controllers/v1/supplemental_claims_controller.rb
  app/workers/decision_review/submit_upload.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/decision_review_v1/utilities/helpers.rb
Labels: console-services-review

vfep-386-final - add guardian fields to spool file (#12322)
  Gemfile.lock
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/jobs/education_form/forms/va5490_spec.rb
  spec/support/spool_helpers.rb
Labels: console-services-review

Adjust when json middleware runs (#12290)
  lib/lighthouse/letters_generator/configuration.rb
Labels: console-services-review

Mhv 41341 download immunizations fixes (#12328)
  lib/statsd_middleware.rb
  modules/my_health/app/controllers/my_health/mr_controller.rb
  modules/my_health/app/controllers/my_health/phr_controller.rb
  modules/my_health/app/controllers/my_health/v1/vaccines_controller.rb
  modules/my_health/config/routes.rb
Labels: console-services-review

API-24392: Add Feature Flag Monitoring Job for `VAForms` (#12283)
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/va_forms/app/services/va_forms/slack/hash_notification.rb
  modules/va_forms/app/services/va_forms/slack/messenger.rb
  modules/va_forms/app/workers/va_forms/flipper_status_alert.rb
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/config/flipper/enabled_features.yml
  modules/va_forms/spec/services/va_forms/slack/hash_notification_spec.rb
  modules/va_forms/spec/services/va_forms/slack/messenger_spec.rb
  modules/va_forms/spec/workers/flipper_status_alert_spec.rb
Labels: console-services-review

Api 23700 add back suspense date (#12321)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Fix flaky test (#12326)
  spec/jobs/decision_review/submit_upload_spec.rb
Labels: console-services-review

API-24184-missing-participant-id (#12103)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

Direct deposit swagger docs (#12324)
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  app/controllers/v0/profile/direct_deposits/disability_compensations_controller.rb
  app/policies/lighthouse_policy.rb
  app/serializers/disability_compensations_serializer.rb
  app/swagger/swagger/requests/profile.rb
  config/routes.rb
  lib/lighthouse/direct_deposit/error.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/lib/lighthouse/direct_deposit/error_spec.rb
  spec/policies/lighthouse_policy_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/400_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/201_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/422_response.yml
Labels: console-services-review

FIX: updated lookups to take into account various types of appointments (#12327)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_cc_proposed.yml
Labels: vaos, console-services-review

56098 VANotify: add send_sms method (#12318)
  modules/va_notify/lib/va_notify/service.rb
  modules/va_notify/spec/lib/service_spec.rb
Labels: none

Add insomnia config for appeals_api (#12323)
  modules/appeals_api/appeals_api_insomnia.json
Labels: none

MHV-41341: fixed font import case error (#12330)
  modules/my_health/app/services/my_health/pdf_construction/generator.rb
Labels: none

API-24392: Move `VBADocuments` Slack alerts to different Slack channel (#12311)
  config/settings.yml
  modules/appeals_api/app/services/appeals_api/slack/messager.rb
  modules/va_forms/config/flipper/enabled_features.yml
  modules/va_forms/spec/workers/flipper_status_alert_spec.rb
  modules/vba_documents/app/services/vba_documents/slack/messenger.rb
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/spec/services/vba_documents/slack/messenger_spec.rb
  modules/vba_documents/spec/workers/slack_notifier_spec.rb
Labels: console-services-review

Api 25259 faraday bgs itf part2 (#12287)
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

Add migrations initializer to va_notify module (#12334)
  modules/va_notify/lib/va_notify/engine.rb
Labels: none

Removed host from IngressRoute match
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.11.13.tgz
Labels: console-services-review

updated helm url
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.11.14.tgz
Labels: console-services-review

Fixing helm charts
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.11.15.tgz
Labels: console-services-review

Use the service name not the app name
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.16.tgz
Labels: console-services-review

Update dry-logic to 1.5 (#12338)
  Gemfile.lock
Labels: console-services-review

remove secondary contact (#12336)
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
Labels: console-services-review

5242: add puerto rico timezone to mobile appointments model (#12339)
  modules/mobile/app/models/mobile/v0/appointment.rb
Labels: mobile

[12341] Fix breaking specs from Webhooks Utilities classes (#12342)
  spec/lib/webhooks/utilities_spec.rb
  spec/models/webhooks/utilities_spec.rb
Labels: console-services-review

Direct deposit swagger docs (#12345)
  app/controllers/v0/profile/direct_deposits/disability_compensations_controller.rb
  app/swagger/swagger/requests/profile.rb
  lib/lighthouse/direct_deposit/client.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/200_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/201_response.yml
Labels: console-services-review

API-25179: Add newer team members to Appeals and Benefits Intake reports (#12347)
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: none

5090 vaos unauthorized exception (#12350)
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/spec/services/user_service_spec.rb
Labels: vaos

Back-End: Board Of Appeals letter support for CST DDL (#12329)
  config/features.yml
  lib/claim_letters/claim_letter_downloader.rb
  lib/claim_letters/claim_letter_test_data.rb
  modules/mobile/spec/request/decision_letters_request_spec.rb
Labels: mobile, console-services-review

Adding extra metadata to supplemental claims (#12352)
  lib/decision_review_v1/service.rb
Labels: console-services-review

updated schema for 40-10007 (#12353)
  Gemfile.lock
Labels: console-services-review

add puma scaling (#12358)
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.17.tgz
  docs/vets-api-0.11.18.tgz
Labels: console-services-review

Parent helm puma vars (#12359)
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.19.tgz
  docs/vets-api-0.11.20.tgz
Labels: console-services-review

100 * hpa query
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.11.21.tgz
Labels: console-services-review

Fixed syntax
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/vets-api-0.11.22.tgz
Labels: console-services-review
