Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

[API-15184] - ClaimsApi - ITF POST permit 'claimant_ssn' attribute (#9810)
  Gemfile.lock
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: console-services-review

test CI env var again
  .github/workflows/code_checks.yml
  .rspec_parallel
Labels: console-services-review

Update 2122a docs to clarify signatures (#9825)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/2122.json
Labels: none

Adds updates to MEB API swagger for enrollment verification and enrollment verification submission endpoints. (#9808)
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
Labels: none

remove unnecessary ENV var used for testing
  .github/workflows/code_checks.yml
Labels: console-services-review

40510 fix betamock settings for base path (#9828)
  config/betamocks/services_config.yml
Labels: console-services-review

[37686] Sign in Service Token Logging - Pt. 1 (#9685)
  app/controllers/sign_in_controller.rb
  app/models/sign_in/access_token.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/session_revoker.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
  spec/services/sign_in/logger_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
Labels: console-services-review

[9820] Adding ability to decrypt id.me oauth user attributes (#9821)
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/errors.rb
  lib/sign_in/idme/service.rb
  spec/fixtures/idme/idme_oauth_pub.pem
  spec/lib/sign_in/idme/service_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: console-services-review

Adds health_records to my_health module (#9812)
  modules/my_health/app/controllers/concerns/my_health/mhv_controller_concerns.rb
  modules/my_health/app/controllers/my_health/bb_controller.rb
  modules/my_health/app/controllers/my_health/concerns/mhv_controller_concerns.rb
  modules/my_health/app/controllers/my_health/rx_controller.rb
  modules/my_health/app/controllers/my_health/sm_controller.rb
  modules/my_health/app/controllers/my_health/v1/health_record_contents_controller.rb
  modules/my_health/app/controllers/my_health/v1/health_records_controller.rb
  modules/my_health/app/serializers/my_health/v1/eligible_data_classes_serializer.rb
  modules/my_health/app/serializers/my_health/v1/extract_status_serializer.rb
  modules/my_health/config/routes.rb
Labels: none

Refactor InProgressReminder job (#9826)
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
Labels: none

add helene.mccarron to flipper admin (#9831)
  config/settings.yml
Labels: console-services-review

40907 CIE max auth limit config (#9827)
  config/settings.yml
  config/settings/test.yml
Labels: console-services-review

Add Ryan Shaw for access to flipper (#9840)
  config/settings.yml
Labels: console-services-review

(fix) alphabatize and fix the name of the toggle (#9823)
  config/features.yml
Labels: console-services-review

Api 14834 add bi and forms to backstage (#9833)
  modules/va_forms/catalog-info.yaml
  modules/vba_documents/catalog-info.yaml
Labels: none

[9818] Adding credential information to OAuthSession that is not available from MPI query (#9829)
  db/migrate/20220510182554_add_user_verification__credential_email_to_oauth_sessions.rb
  db/schema.rb
Labels: console-services-review

RRD: notify of EVSS submission error (#9809)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

mobile - fix path to doc file (#9834)
  modules/mobile/docs/schemas/AppointmentExtensions.yml
  modules/mobile/docs/schemas/CodeableConcept.yml
Labels: mobile

Update service class to use new settings (#9844)
  app/services/medical_copays/vbs/service.rb
Labels: console-services-review

Update Bundler to 2.3.13 (#9850)
  Gemfile.lock
  docker-entrypoint.sh
Labels: console-services-review

Update vets-json-schema to 20.20.1 (#9846)
  Gemfile.lock
  app/models/saved_claim/coe_claim.rb
  lib/pdf_fill/forms/va261880.rb
  spec/fixtures/pdf_fill/26-1880/kitchen_sink.json
  spec/fixtures/pdf_fill/26-1880/overflow.json
Labels: console-services-review

Update params sent to va notify (#9847)
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
Labels: none

Remove `bundle binstubs bundler` (#9856)
  docker-entrypoint.sh
Labels: console-services-review

add dependabot scheduled updates (#9842)
  .github/dependabot.yml
Labels: console-services-review

Update cache volume name for GHA bundle dir (#9857)
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
  docker-entrypoint.sh
Labels: console-services-review

VAVFA-000: Add new feature flag to control VAMC expandable alert visibility. (#9855)
  config/features.yml
Labels: console-services-review

Add service_history model with specs (#9858)
  lib/va_profile/models/service_history.rb
  spec/lib/va_profile/models/service_history_spec.rb
Labels: console-services-review

Revert bundler 2.3.13 update (#9860)
  docker-entrypoint.sh
Labels: console-services-review

Revert bundler version in Gemfile.lock (#9861)
  Gemfile.lock
Labels: console-services-review

API-15509 - ClaimsApi - Fix 526 "title10ActivationDate" validation (#9851)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

Fixing specs that aren't passing locally (#9864)
  lib/mdot/response.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/website_host_service_spec.rb
  spec/lib/debt_management_center/payments_service_spec.rb
Labels: console-services-review

added hca_short_form_enabled flipper feature (#9867)
  config/features.yml
Labels: console-services-review

41218 Add StatsD Constants & Initializers (#9853)
  app/services/sign_in/constants/statsd.rb
  config/initializers/statsd.rb
Labels: console-services-review

Don't automatically fill in loa3 user data if it's null for the 1010ez (#9870)
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

rubocop
  spec/lib/debt_management_center/payments_service_spec.rb
Labels: console-services-review

revert rubocop bump (#9880)
  Gemfile.lock
Labels: console-services-review

Reducing batch size of HigherLevelReviewUploadStatusBatch to a sensible number (#9877)
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
Labels: none

API-16045 Fixup SC NVC Pt. 1 (#9868)
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
Labels: none

API-16045 Fixup SC NVC Pt 2 (#9872)
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200995.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_minimum.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

[9806] Adding ability for MPI to create a new user (#9848)
  app/controllers/v0/mpi_users_controller.rb
  app/models/mpi_data.rb
  app/models/user.rb
  app/policies/mpi_policy.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  app/services/users/services.rb
  config/mpi_schema/mpi_add_person_implicit_search_template.xml
  config/mpi_schema/mpi_add_person_proxy_add_template.xml
  lib/backend_services.rb
  lib/mpi/errors/errors.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/add_person_proxy_add_message.rb
  lib/mpi/responses/add_parser.rb
  lib/mpi/service.rb
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/add_person_proxy_add_message_spec.rb
  spec/lib/mpi/responses/add_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_spec.rb
  spec/policies/mpi_policy_spec.rb
  spec/requests/mpi_users_request_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/support/vcr_cassettes/mpi/add_person/add_person_implicit_search_server_error.yml
  spec/support/vcr_cassettes/mpi/add_person/add_person_implicit_search_success.yml
Labels: console-services-review
