Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Adding benefits team #1 members to flipper admin list (#10541)
  config/settings.yml
Labels: console-services-review

1095 b script updates (#10539)
  app/workers/form1095/new1095_bs_job.rb
  spec/jobs/form1095/new1095_bs_job_spec.rb
  spec/support/form1095/multiple_valid_forms_corrections.txt
Labels: console-services-review

API-18899 - ClaimsApi - Fix 526 'applicationExpirationDate' validation (#10545)
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

API-18899 - ClaimsApi - Revert change until we can get a Release Note (#10546)
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

API-17727: VBADocuments PDF Validation Refactor (#10523)
  lib/central_mail/utilities.rb
  lib/pdf_utilities/pdf_validator.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  spec/fixtures/pdf_utilities/pdf_validator/18x22.pdf
  spec/fixtures/pdf_utilities/pdf_validator/21x21.pdf
  spec/fixtures/pdf_utilities/pdf_validator/22x18.pdf
  spec/fixtures/pdf_utilities/pdf_validator/encrypted.pdf
  spec/fixtures/pdf_utilities/pdf_validator/locked.pdf
  spec/fixtures/pdf_utilities/pdf_validator/metadata.json
  spec/lib/pdf_utilities/pdf_validator/validation_result_spec.rb
  spec/lib/pdf_utilities/pdf_validator/validator_spec.rb
Labels: console-services-review

Allow VeteranRecordWsClientException exceptions to be retryable (#10492)
  config/locales/exceptions.en.yml
  lib/evss/disability_compensation_form/service_exception.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_500_with_java_ws_error.yml
Labels: console-services-review

auto update vets-api-server image tags for helm chart
  .github/workflows/deploy-template.yml
  .github/workflows/deploy.yml
Labels: console-services-review

add env to values path
  .github/workflows/deploy-template.yml
Labels: console-services-review

[10552] Fixing UserVerificationCannotBeCreated sentry error (#10553)
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

Removing two feature flags for GIBCT. (#10555)
  config/features.yml
Labels: console-services-review

update sidekiq images for all envs
  .github/workflows/deploy-template.yml
Labels: console-services-review

[10558] Updating Sign in Service auth so that mpi user update does not block authentication (#10559)
  app/services/sign_in/user_creator.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

COE | No longer using S3 for document downloads (#10443)
  app/controllers/v0/coe_controller.rb
  config/betamocks/services_config.yml
  config/routes.rb
  config/settings.yml
  lib/lgy/aws_uploader.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

Add MEB Unverified User Alert Flag (#10563)
  config/features.yml
Labels: console-services-review

updated New1095BsJob script to allow for null city/address in file data (#10564)
  app/models/form1095_b.rb
  app/workers/form1095/new1095_bs_job.rb
  spec/support/form1095/multiple_valid_forms.txt
Labels: console-services-review

[10561] Updating MPI with idme_uuid when authenticating with MHV sign in service (#10566)
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

[46262] Updating dslogon to auto-authenticate as verified when necessary in sign in service (#10565)
  app/services/sign_in/credential_level_creator.rb
  config/initializers/loa.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

assert veteran status outside of background job (#10554)
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/services/form1010cg/service.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
Labels: console-services-review

Mobile vaos v2 integration cont (#10549)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_500.yml
Labels: mobile

Revert "add sidekiq_alive and bash bin file (#10527)" (#10573)
  Gemfile
  Gemfile.lock
  bin/sidekiq_quiet
Labels: console-services-review

Fixing flaky spec caused by overwriting error schema that other files use (#10572)
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: console-services-review

Sidekiq alive improvements (#10575)
  Gemfile
  Gemfile.lock
  app/workers/sidekiq_alive/cleanup_queues.rb
  bin/sidekiq_quiet
  config/sidekiq_scheduler.yml
  spec/jobs/sidekiq_alive/cleanup_queues_spec.rb
Labels: console-services-review

Api 18775 add errors to v2 (#10551)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/claims/claim_by_id_response.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Add index route for NOD submissions (#10557)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreement_serializer.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers_extra.json
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: none

[46255] Adding addiional information to id.me and login.gov service errors during sign in service authentication (#10571)
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
Labels: console-services-review

[46255] Removing sentry error on sign in service logout (#10569)
  app/controllers/v0/sign_in_controller.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

Fix: filter out formdata on SC index, not create (#10577)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
Labels: none

[API-18899] ClaimsApi - Add 526 'currentMailingaddress.country' validation (#10547)
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: none

[API-18899] - ClaimsApi - Fix 526 'applicationExpirationDate' validation (#10550)
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

1095 b update script (#10576)
  app/models/form1095_b.rb
  app/workers/form1095/new1095_bs_job.rb
  spec/support/form1095/multiple_valid_forms.txt
  spec/support/form1095/single_invalid_form.txt
Labels: console-services-review

Convert facility_ids in staging (#10540)
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_multiple_facilities_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  spec/factories/iam_users.rb
Labels: mobile, console-services-review

45705 mpi find profile error (#10482)
  lib/mpi/responses/add_parser.rb
  lib/mpi/responses/find_profile_response.rb
  lib/mpi/responses/profile_parser.rb
  spec/lib/mpi/responses/find_profile_response_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

[10578] Removing sentry error from MPI find profile invalid request response (#10583)
  app/services/sign_in/user_creator.rb
  lib/mpi/responses/find_profile_response.rb
  lib/mpi/service.rb
  spec/lib/mpi/responses/find_profile_response_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

Add feature flag for facilities API use in health care application (#10585)
  config/features.yml
Labels: console-services-review

API-18796 Verify claim belongs to veteran (#10562)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
Labels: none

API-18300 Use Flipper for decision review PII jobs (#10543)
  config/features.yml
  config/settings.yml
  modules/appeals_api/app/workers/appeals_api/higher_level_review_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_clean_up_pii.rb
  modules/appeals_api/spec/workers/higher_level_review_clean_up_week_old_pii_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_clean_up_week_old_pii_spec.rb
  modules/appeals_api/spec/workers/supplemental_claim_clean_up_pii_spec.rb
Labels: console-services-review

[10488] Creating a caching class for BGS find_person_by_participant_id route (#10544)
  app/controllers/v0/profile/payment_history_controller.rb
  app/controllers/v0/profile/valid_va_file_numbers_controller.rb
  app/models/form_profiles/decision_review.rb
  app/models/form_profiles/va_5655.rb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/services/bgs/base_service.rb
  app/services/bgs/errors.rb
  app/services/bgs/payment_service.rb
  app/services/bgs/people/request.rb
  app/services/bgs/people/response.rb
  app/services/bgs/people/service.rb
  app/services/bgs/people_service.rb
  config/redis.yml
  lib/debt_management_center/base_service.rb
  lib/debt_management_center/payments_service.rb
  lib/efolder/service.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  spec/controllers/v0/profile/payment_history_controller_spec.rb
  spec/lib/debt_management_center/payments_service_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
  spec/services/bgs/payment_service_spec.rb
  spec/services/bgs/people/request_spec.rb
  spec/services/bgs/people/response_spec.rb
  spec/services/bgs/people/service_spec.rb
  spec/services/bgs/people_service_spec.rb
Labels: mobile, console-services-review

Temp disable Claims request spec (#10588)
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Remove RedisDuplicator (secondary) (#10587)
  config/initializers/01_redis.rb
  config/settings.yml
  docs/setup/debugging_with_docker_rubymine_windows.md
Labels: console-services-review

[46386] Add new class to upload files to VHA SharePoint (#10586)
  config/settings/test.yml
  lib/debt_management_center/sharepoint/request.rb
  spec/factories/form5655_submission.rb
  spec/lib/debt_management_center/sharepoint/request_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
