Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

release 0.10.18 to remove probes
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.10.18.tgz
Labels: console-services-review

fix maxSurge
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.10.19.tgz
Labels: console-services-review

put probes back
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.10.20.tgz
Labels: console-services-review

API-22649-new-526-endpoints (#11938)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Lighthouse direct deposit (#11896)
  config/settings.yml
  lib/lighthouse/direct_deposit/base.rb
  lib/lighthouse/direct_deposit/configuration.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/error.rb
  lib/lighthouse/direct_deposit/financial_institution.rb
  lib/lighthouse/direct_deposit/payment_account.rb
  lib/lighthouse/direct_deposit/response.rb
  lib/lighthouse/direct_deposit/service.rb
  spec/lib/lighthouse/direct_deposit/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_400.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_401.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_404.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_502.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_valid_200.yml
Labels: console-services-review

Add api and worker namespaces to UAVC StatsD keys (#11942)
  app/services/login/user_acceptable_verified_credential_updater_logger.rb
  app/workers/identity/user_acceptable_verified_credential_totals_job.rb
  config/initializers/statsd.rb
  spec/jobs/identity/user_acceptable_verified_credential_totals_job_spec.rb
  spec/services/login/user_acceptable_verified_credential_updater_logger_spec.rb
Labels: console-services-review

Api 24397 faraday bgs ssn (#11943)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: none

53958 CHIP client initiate_check_in method (#11940)
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/spec/services/v2/chip/client_spec.rb
Labels: none

API-24442-consent-addr-change (#11939)
  modules/claims_api/app/workers/claims_api/poa_vbms_updater.rb
Labels: none

Add duration logging to LocalBGS service (#11947)
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_spec.rb
Labels: none

API-22858: Add supplemental claim form v3 fields and data (part 1) (#11866)
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_fields.rb
  modules/appeals_api/config/pdfs/200995_v3.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_fields_spec.rb
Labels: none

Http check readiness probe (#11953)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.10.21.tgz
Labels: console-services-review

Capture Type of Care, Provider's Info in Loki - update (#11944)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: vaos

API-23874 Track SC evidenceType on records (#11787)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

fixed syntax
  docs/index.yaml
Labels: console-services-review

bumped chart
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.10.22.tgz
Labels: console-services-review

Changes description to include new status of 'canceled'. (#11950)
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: none

Api 24364 improve validation for survivor (#11898)
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

Ruby 3 KwArgs: fix emis_redis spec (#11955)
  lib/emis/service.rb
Labels: console-services-review

Extract form_id/factory using values_at rather than kw args (#11920)
  spec/lib/pdf_fill/filler_spec.rb
Labels: console-services-review

Use 16 core GHA runners (#11948)
  .github/workflows/code_checks.yml
Labels: console-services-review

Ruby 3: KwArgs fix for CareGiversAssistanceClaimSpec (#11929)
  app/models/saved_claim/caregivers_assistance_claim.rb
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
Labels: console-services-review

[EVSS to Lighthouse] Set up client credentials alternative (#11537)
  .rubocop_todo.yml
  app/controllers/v0/benefits_claims_controller.rb
  config/betamocks/services_config.yml
  config/routes.rb
  config/settings.yml
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service.rb
  lib/lighthouse/benefits_claims/service_exception.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/401_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/404_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/401_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/404_response.yml
Labels: console-services-review

Vfep 281 - remove addtitional benefits section from 5490 spool file (#11958)
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.spl
Labels: console-services-review

4723 update military info service connections from emis to va profile (#11961)
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/models/service_graph_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile

Added new statds metric to track appeals rx email notifications (#11949)
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: none

[11862] Setting vsp_environment values for localhost and test environments (#11933)
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  modules/dhp_connected_devices/app/services/token_storage_service.rb
  modules/dhp_connected_devices/app/services/website_host_service.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/token_storage_service_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/website_host_service_spec.rb
Labels: console-services-review

fix failing tests (#11968)
  app/services/form1010cg/auditor.rb
  spec/services/form1010cg/auditor_spec.rb
Labels: console-services-review

require 'i18n' in file (#11967)
  spec/spec_helper.rb
Labels: console-services-review

[11890] Dropping table VirtualAgentUserAccessRecord (#11932)
  db/migrate/20230228223626_remove_virtual_agent_user_access_record.rb
  db/schema.rb
Labels: console-services-review

API-23731 remove /v0/mvi-user items (#11941)
  modules/openid_auth/app/controllers/openid_auth/docs/v0/mpi_users_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v0/mpi_users_controller.rb
  modules/openid_auth/config/routes.rb
  modules/openid_auth/spec/requests/api_docs_request_spec.rb
  modules/openid_auth/spec/requests/mpi_user_request_spec.rb
Labels: none

[11935] Making ClientConfig usage during sign in service authentication more consistent (#11946)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/access_token.rb
  app/models/sign_in/session_container.rb
  app/models/sign_in/user_code_map.rb
  app/models/sign_in/validated_credential.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  app/services/sign_in/token_serializer.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/access_tokens.rb
  spec/factories/sign_in/session_containers.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/models/sign_in/access_token_spec.rb
  spec/models/sign_in/session_container_spec.rb
  spec/models/sign_in/user_code_map_spec.rb
  spec/models/sign_in/validated_credential_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
  spec/services/sign_in/token_serializer_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

add logging to RX endpoints (#11913)
  lib/rx/middleware/response/rx_parser.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
Labels: mobile, console-services-review

fix spec failures (#11970)
  app/workers/va_notify_email_job.rb
Labels: console-services-review

API-24371-valid-ssn (#11899)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: none

Trying to update schema (#11952)
  Gemfile.lock
  app/swagger/swagger/v1/schemas/appeals/supplemental_claims.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
Labels: console-services-review

forms_api: add central mail stamp and cleanup (#11966)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/form_mappings/vba_26_4555.json.erb
  modules/forms_api/app/services/forms_api/pdf_filler.rb
  modules/forms_api/app/services/forms_api/pdf_stamper.rb
  modules/forms_api/config/routes.rb
  modules/forms_api/spec/fixtures/form_json/vba_26_4555-min.json
  modules/forms_api/spec/fixtures/form_json/vba_26_4555.json
  modules/forms_api/spec/fixtures/form_json/vha_10_10d.json
  modules/forms_api/spec/requests/v1/uploads_spec.rb
Labels: none

Add prefill for form 26-4555 Adapted housing (#11976)
  app/models/form_profile.rb
  app/models/form_profiles/va_264555.rb
  config/form_profile_mappings/26-4555.yml
  config/settings.yml
  spec/models/form_profile_spec.rb
Labels: console-services-review

forms_api 26-4555 fix name mappings (#11977)
  modules/forms_api/app/form_mappings/vba_26_4555.json.erb
  modules/forms_api/app/services/forms_api/pdf_stamper.rb
  modules/forms_api/spec/fixtures/form_json/vba_26_4555.json
Labels: none

Configure fields and data for HLR form v3 (#11960)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/form_fields.rb
  modules/appeals_api/config/pdfs/200996_v3.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v3/form_data_spec.rb
Labels: none
