Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Revert "Bundler >2.2 reorder the Gemfile.lock (#12115)"
  Gemfile.lock
Labels: console-services-review

bdex/54076: Design Common Api Interface (#12088)
  .github/CODEOWNERS
  app/controllers/v0/disability_compensation_forms_controller.rb
  config/features.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/rated_disabilities_provider.rb
  lib/disability_compensation/responses/rated_disabilities_response.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/evss_rated_disabilities_provider_spec.rb
  spec/lib/disability_compensation/providers/lighthouse_rated_disabilities_provider_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities_provider_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/disability_compensation_form/shared_examples/rated_disabilities_provider.rb
Labels: console-services-review

Flipperize and remove stuck records from daily error report; misc cleanups & comments (#12113)
  config/features.yml
  modules/appeals_api/app/mailers/appeals_api/daily_error_report_mailer.rb
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
  modules/appeals_api/app/views/appeals_api/daily_error_report_mailer/mailer.html.erb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/daily_stuck_records_report.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/mailers/weekly_error_report_mailer_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_error_report_spec.rb
Labels: console-services-review

Fix bug (#12129)
  app/models/saved_claim/education_benefits.rb
Labels: console-services-review

Chore: Re-bump bundler
  Dockerfile
Labels: console-services-review

Revert: Bundler
  Dockerfile
Labels: console-services-review

Chore: Fix gemfile.lock for bundler upgrade
  Dockerfile
  Gemfile.lock
Labels: console-services-review

Update rails to 6.1.7.3 and rack to 2.2.6.4 (#12141)
  Gemfile.lock
Labels: console-services-review

redo cleanup branch (#12144)
  .github/workflows/preview-environment-cleanup.yml
  script/github-actions/pe-cleanup.js
Labels: console-services-review

removed vaos v0 direct scheduling facilities serializer (#12119)
  modules/vaos/app/serializers/vaos/v0/direct_scheduling_facility_serializer.rb
  modules/vaos/spec/request/systems_request_spec.rb
Labels: vaos

54542 Log Atlas Details for Telehealth Appointments (#12128)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_and_log_data.yml
Labels: vaos, console-services-review

API-24717 Support Lighthouse V3 token validation upgrade (#12134)
  app/controllers/openid_application_controller.rb
  app/models/openid_user_identity.rb
  lib/okta/service.rb
  spec/controllers/openid_application_controller_spec.rb
Labels: console-services-review

[11974] Creating logout proxy for logingov sign in service authentication (#12114)
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/logout_redirect_generator.rb
  config/routes.rb
  config/settings.yml
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/logout_redirect_generator_spec.rb
Labels: console-services-review

Forms api: businessline update (#12125)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/models/forms_api/vba_26_4555.rb
  modules/forms_api/app/models/forms_api/vha_10_10d.rb
Labels: none

add pod saturation configmap
  chart/Chart.yaml
  chart/templates/settings-and-readiness-configmap.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.05.tgz
Labels: console-services-review

remove old configmap
  chart/Chart.yaml
  chart/templates/settings-configmap.yaml
  docs/index.yaml
  docs/vets-api-0.11.06.tgz
Labels: console-services-review

0.11.07
  chart/Chart.yaml
  chart/templates/settings-and-readiness-configmap.yaml
  docs/index.yaml
  docs/vets-api-0.11.07.tgz
Labels: console-services-review

Update configuration, add serializer to mask sensitive data (#12120)
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  app/serializers/comp_and_pen_direct_deposit_serializer.rb
  config/settings.yml
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
Labels: console-services-review

remove appt logging (#12122)
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
Labels: mobile

Forms Api: generator update (#12154)
  modules/forms_api/lib/tasks/forms.rake
Labels: none

generate metadata (uuid specifically) once and reuse static hash (#12153)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
Labels: none

release 0.11.08
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.08.tgz
Labels: console-services-review

54619 Modify CIE betamocks Config (#12157)
  config/betamocks/services_config.yml
Labels: console-services-review

Remove NCA LOB flag (#12160)
  config/features.yml
  lib/central_mail/utilities.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/metadata_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/metadata_swagger.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
Labels: console-services-review

[12133] Adding mocked authentication authorize redirect to sign in service callback (#12149)
  modules/mocked_authentication/app/controllers/mocked_authentication/credential_providers_controller.rb
  modules/mocked_authentication/app/controllers/mocked_authentication/mock_credential_controller.rb
  modules/mocked_authentication/app/services/mocked_authentication/mock_credential_info_creator.rb
  modules/mocked_authentication/app/services/mocked_authentication/redirect_url_generator.rb
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/spec/factories/mock_credential_infos.rb
  modules/mocked_authentication/spec/requests/credential_providers_request_spec.rb
  modules/mocked_authentication/spec/requests/mock_credential_request_spec.rb
  modules/mocked_authentication/spec/services/mocked_authentication/mock_credential_info_creator_spec.rb
  modules/mocked_authentication/spec/services/mocked_authentication/redirect_url_generator_spec.rb
Labels: none

fixed vaos logging (#12162)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: vaos

Mobile: 4975 update order of gender identity values (#12111)
  lib/va_profile/models/gender_identity.rb
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
  modules/mobile/spec/request/gender_identity_request_spec.rb
Labels: mobile, console-services-review

Changing safelisted remote IP (#12165)
  config/initializers/rack_attack.rb
Labels: console-services-review

Pe update main (#12145)
  .github/workflows/preview-environment-update-main.yml
Labels: console-services-review

update hybrid setup k8s
  docs/setup/hybrid.md
Labels: console-services-review

add clamav hybrid setup to k8s
  docker-compose-deps.yml
Labels: console-services-review

Api 24649 enable 526 v2 docs in lowers (#12118)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: none

bumping json schema (#12168)
  Gemfile.lock
  app/swagger/swagger/v1/schemas/appeals/supplemental_claims.rb
Labels: console-services-review

Fix quotes and double boolean casting (#12155)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

removed vaos v0 clinic institutions controller (#12147)
  modules/vaos/app/controllers/vaos/v0/clinic_institutions_controller.rb
  modules/vaos/app/serializers/vaos/v0/clinic_institution_serializer.rb
  modules/vaos/spec/request/systems_request_spec.rb
Labels: vaos

(chore) added PM to users for feature toggles (#12105)
  config/settings.yml
Labels: console-services-review

Updated catalog info to reflect current API status. (#12159)
  modules/veteran_confirmation/catalog-info.yaml
  modules/veteran_verification/catalog-info-v0.yaml
  modules/veteran_verification/catalog-info.yaml
Labels: none

API-24199: Update LOB mapping for nationalCemeteryAdministration (#12164)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
Labels: none

API-24392: Appeals API Feature Flag Monitoring (#12117)
  config/features.yml
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/workers/appeals_api/flipper_status_alert.rb
  modules/appeals_api/config/flipper/enabled_features.yml
  modules/appeals_api/spec/workers/appeals_api/flipper_status_alert_spec.rb
Labels: console-services-review

increase 1010cg retries (#12098)
  app/workers/form1010cg/submission_job.rb
Labels: console-services-review
