Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

RuboCop: Fix warning for Capybara namespace (#11891)
  .rubocop_explicit_enables.yml
Labels: console-services-review

GHA: Use native RuboCop annotation format (#11888)
  .github/workflows/code_checks.yml
  config/brakeman.ignore
Labels: console-services-review

Created new flags for MEB landing page redirect and benefits selection logic (#11889)
  config/features.yml
Labels: console-services-review

MHV-41829: Adjustments made to thread api (#11831)
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/threads_controller.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageThread.yml
  modules/my_health/spec/request/v1/threads_request_spec.rb
  spec/support/schemas/message_threads.json
  spec/support/schemas_camelized/message_threads.json
  spec/support/vcr_cassettes/sm_client/threads/gets_threads_in_a_folder.yml
  spec/support/vcr_cassettes/sm_client/threads/gets_threads_in_a_folder_camel.yml
Labels: console-services-review

Remove unneeded feature flags (#11876)
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  app/workers/central_mail/submit_career_counseling_job.rb
  config/features.yml
Labels: console-services-review

[11861] Creating schema for client_config table for Sign in Service authentication (#11875)
  db/migrate/20230222214919_create_client_config.rb
  db/schema.rb
Labels: console-services-review

Update UserAcceptableVerifiedCredentialCountsJob to use StatsD (#11780)
  app/models/user_acceptable_verified_credential.rb
  app/services/login/user_acceptable_verified_credential_updater_logger.rb
  app/workers/identity/user_acceptable_verified_credential_counts_job.rb
  app/workers/identity/user_acceptable_verified_credential_totals_job.rb
  config/initializers/statsd.rb
  config/sidekiq_scheduler.yml
  spec/factories/user_acceptable_verified_credentials.rb
  spec/jobs/identity/user_acceptable_verified_credential_counts_job_spec.rb
  spec/jobs/identity/user_acceptable_verified_credential_totals_job_spec.rb
Labels: console-services-review

VAOS Appointment Service Category Logging (#11869)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_and_log_service_category.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
Labels: vaos, console-services-review

4824 update gender identity values (#11849)
  lib/va_profile/models/gender_identity.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
  spec/lib/va_profile/models/gender_identity_spec.rb
Labels: mobile, console-services-review

add filename to error message (#11906)
  app/uploaders/uploader_virus_scan.rb
  lib/shrine/plugins/validate_virus_free.rb
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
Labels: console-services-review

Api 24421 remove participant claimant (#11871)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: none

API-24372-fix-curl-for-oas (#11893)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

API-21586-v2-oas-updates (#11894)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

Update log metrics uploader for Ruby 3.0 (#11907)
  app/uploaders/log_metrics.rb
Labels: console-services-review

53789 feature toggle for organic login adoption (#11879)
  config/features.yml
  config/settings.yml
Labels: console-services-review

[35053] UserIdentity vs MPI ID Validations (#11646)
  app/controllers/v1/sessions_controller.rb
  app/models/user.rb
  app/services/login/after_login_actions.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/services/login/after_login_actions_spec.rb
Labels: console-services-review

Ruby 3 KwArg: Form526 Convert to PDF (#11915)
  lib/form526_backup_submission/utilities/convert_to_pdf.rb
Labels: console-services-review

VaNotify - Add confirmation email to 1990 (#11900)
  app/models/saved_claim/education_benefits.rb
  config/features.yml
  config/settings.yml
  spec/factories/va1990.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

GHA: Set 20 minute timeout for Test job (#11911)
  .github/workflows/code_checks.yml
Labels: console-services-review

HCA Validations: Also pass kwargs (#11917)
  lib/hca/validations.rb
Labels: console-services-review

Update rspec and related rspec gems
  Gemfile.lock
Labels: console-services-review

Downgrade Rack to fix tests
  Gemfile.lock
Labels: console-services-review

Fix passing message to exceptions via `raise` (#11919)
  app/controllers/v0/mhv_opt_in_flags_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/refresh_token_encryptor.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/state_payload_jwt_decoder.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  app/services/sign_in/state_payload_verifier.rb
  app/services/sign_in/user_loader.rb
Labels: console-services-review

Fix sign in controller spec (kwarg) (#11916)
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

add file_number toggle (#11921)
  config/features.yml
Labels: console-services-review

API-24495-add-email-recip (#11910)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Corrects canceled spelling in mapper, oas docs, and schemas (#11908)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/lib/claims_api/bgs_claim_status_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

test workflow ordered run (#11928)
  .github/workflows/deploy.yml
Labels: console-services-review

Revert "test workflow ordered run (#11928)"
  .github/workflows/deploy.yml
Labels: console-services-review

Implemented web services maxReplicas and maxSurge
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.10.17.tgz
Labels: console-services-review

update ECR before manifests
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: console-services-review

Profile/add derrick as toggle admin (#11927)
  config/settings.yml
Labels: console-services-review

add toggle (#11925)
  config/features.yml
Labels: console-services-review

Ignore Ruby 2.7 EOL from Brakeman (#11936)
  .github/workflows/code_checks.yml
Labels: console-services-review

remove old feature toggles (#11926)
  config/features.yml
Labels: console-services-review

Update params (#11934)
  app/models/saved_claim/education_benefits.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

Ruby 3 KwArgs: PDF Fill Va21p527ez spec (#11937)
  spec/lib/pdf_fill/forms/va21p527ez_spec.rb
Labels: console-services-review

Ruby 3 KwArgs: Various Raven-related specs (#11931)
  spec/controllers/application_controller_spec.rb
  spec/jobs/evss/failed_claims_report_spec.rb
  spec/jobs/facilities/pssg_download_spec.rb
  spec/lib/bb/client_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/va_profile/contact_information/service_spec.rb
Labels: console-services-review

Ruby 3 Upgrade - Handle various keyword arg/params deprecation_toolkit warnings (#11905)
  app/models/emis_redis/model.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
Labels: console-services-review

[11890] Removing VirtualAgentUserAccessRecord model, as it is currently unused (#11914)
  app/models/virtual_agent_user_access_record.rb
  spec/factories/virtual_agent_user_access_records.rb
  spec/models/virtual_agent_user_access_record_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
