Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Adding new settings for Lighthouse Benefits Claims API (#11481)
  config/settings.yml
Labels: console-services-review

[11348] Adding temporary string status for MPI response until MPI cache has cycled (#11513)
  app/services/users/profile.rb
  lib/mpi/services/find_profile_response_creator.rb
  lib/va_profile/contact_information/transaction_response.rb
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
  rakelib/connectivity.rake
Labels: console-services-review

[#MHV-40133] Added "triage_group_name" passthrough from MHV SM APIs (#11497)
  app/models/message.rb
  app/serializers/messages_serializer.rb
  app/swagger/swagger/schemas/health/messages.rb
  modules/mobile/app/serializers/mobile/v0/messages_serializer.rb
  modules/my_health/app/serializers/my_health/v1/messages_serializer.rb
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageDetail.yml
  modules/my_health/docs/schemas/SecureMessageSummary.yml
  spec/models/message_spec.rb
  spec/support/schemas/folder_search.json
  spec/support/schemas/message.json
  spec/support/schemas/message_with_attachment.json
  spec/support/schemas/messages.json
  spec/support/schemas/messages_thread.json
  spec/support/schemas_camelized/message.json
  spec/support/schemas_camelized/message_with_attachment.json
  spec/support/schemas_camelized/messages.json
  spec/support/schemas_camelized/messages_thread.json
Labels: mobile, console-services-review

reverts to base Ruby SAML v1.15.0 (#11494)
  Gemfile
  Gemfile.lock
Labels: console-services-review

[11348] Adding various MPI errors requires that were causing some weird intermittent staging errors (#11514)
  app/services/users/exception_handler.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/services/add_person_response_creator.rb
  lib/mpi/services/find_profile_response_creator.rb
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: console-services-review

DHP 477 Registration flow for users without ICN (#11472)
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit/fitbit_controller.rb
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/veteran_device_records_controller.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/veteran_device_record_controller_spec.rb
Labels: none

4484 coerce filter values (#11506)
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

API-22384 Adds logging of ICN for MPI troubleshooting (#11360)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: none

Adding claimDate to get_pdf call for backup 526 Submission (#11505)
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

Adding support to enqueue supp claims uploads (#11433)
  app/controllers/v1/supplemental_claims_controller.rb
  app/workers/decision_review/submit_upload.rb
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/appeals/supplemental_claims.rb
  lib/decision_review_v1/configuration.rb
  lib/decision_review_v1/service.rb
  lib/decision_review_v1/utilities/constants.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/decision_review_v1/utilities/helpers.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/factories/appeal_submissions.rb
  spec/jobs/decision_review/submit_upload_spec.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-URL-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-CREATE-RESPONSE-WITH-UPLOADS-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-UPLOAD-URL-200_V1.yml
Labels: console-services-review

[11529] Preferring MPI query by credential uuid for sign in service authentication (#11530)
  app/services/sign_in/attribute_validator.rb
Labels: console-services-review

[va-virtual-agent#758] remove unused toggle and related dead code paths (#11519)
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  app/workers/virtual_agent_store_user_info_job.rb
  config/features.yml
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/jobs/virtual_agent_store_user_info_job_spec.rb
Labels: console-services-review

Remove rrd_mas_disability_tracking and rrd_mas_notification toggles (#11510)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/constants.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

Upgrade RuboCop to 1.43.0 (#11524)
  Gemfile.lock
Labels: console-services-review

Apply group labeling to /vaos/v1/locations/xxxxx/clinics endpoints for Grafana (#11480)
  lib/string_helpers.rb
  spec/lib/string_helpers_spec.rb
Labels: console-services-review

Bump GHA bundler cache for 2.7 (#11540)
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
Labels: console-services-review

Updating so it's impossible to have _debug in prod (#11539)
  modules/mobile/app/controllers/mobile/v0/push_notifications_controller.rb
Labels: mobile

add `include` and `included` parameters to mobile appointment index docs (#11499)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

51475 Enforce LGY document ownership (#11478)
  app/controllers/v0/coe_controller.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
  spec/support/vcr_cassettes/lgy/document_download.yml
  spec/support/vcr_cassettes/lgy/documents_list.yml
Labels: console-services-review

[11535] Updating proper error response when MPI find_by_attributes is invoked and no user is found (#11536)
  lib/mpi/responses/profile_parser.rb
  lib/mpi/services/find_profile_response_creator.rb
  spec/lib/mpi/services/find_profile_response_creator_spec.rb
  spec/support/mpi/find_candidate_no_match_response.xml
Labels: console-services-review

Split RuboCop Enables to separate file (#11525)
  .rubocop.yml
  .rubocop_explicit_enables.yml
  .rubocop_todo.yml
Labels: console-services-review

RuboCop: Fix 'AllowedPatterns' warning (#11528)
  modules/claims_api/.rubocop.yml
Labels: none

Chore: Enable sidekiq metrics for datadog (#11511)
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
Labels: console-services-review

API-22952 - Fix appeals status API tags (#11533)
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: none

Enable pending cops; Ignore with todo (#11526)
  .rubocop.yml
  .rubocop_explicit_enables.yml
  .rubocop_todo.yml
  app/swagger/swagger/schemas/gibct/institutions.rb
Labels: console-services-review

Chore: Add dogstatsd line (#11543)
  config/initializers/sidekiq.rb
Labels: console-services-review

Do not enable datadog statsd in other environments besides dev (#11547)
  config/initializers/sidekiq.rb
Labels: console-services-review

Fixed vsp_environment spelling (#11549)
  config/initializers/sidekiq.rb
Labels: console-services-review

[11111] Removing accounts table reference in TUD component (#11483)
  modules/test_user_dashboard/app/services/test_user_dashboard/create_test_user_account.rb
Labels: none

API-22759: Remove Team Caracal from Benefits Intake API CODEOWNERS entries (#11538)
  .github/CODEOWNERS
Labels: console-services-review

Api 21582 submit ITF (#11432)
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
Labels: none

Fix app name issue (#11555)
  modules/mobile/app/controllers/mobile/v0/push_notifications_controller.rb
  modules/mobile/spec/request/push_register_request_spec.rb
Labels: mobile

Adds completed dates for each phase. (#11440)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/fixtures/v2/veterans/claims/claims_by_participant_id_response.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

[11550] Checking UserIdentity as well as User models when User redis is refreshed (#11551)
  app/services/sign_in/user_loader.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

test commit to trigger image build and deploy
  README.md
Labels: console-services-review

Revert "test commit to trigger image build and deploy"
  README.md
Labels: console-services-review

[11306] Remove Notifications and DismissedStatuses (#11307)
  app/controllers/concerns/notifications/validateable.rb
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/notifications/dismissed_statuses_controller.rb
  app/controllers/v0/notifications_controller.rb
  app/models/account.rb
  app/models/health_care_application.rb
  app/models/notification.rb
  app/serializers/dismissed_status_serializer.rb
  app/serializers/notification_serializer.rb
  app/swagger/swagger/requests/health_care_applications.rb
  app/swagger/swagger/requests/notifications.rb
  app/swagger/swagger/schemas/dismissed_status.rb
  app/swagger/swagger/schemas/notification.rb
  config/routes.rb
  lib/hca/enrollment_eligibility/constants.rb
  lib/hca/enrollment_eligibility/status_matcher.rb
  spec/factories/notifications.rb
  spec/lib/hca/enrollment_eligibility/status_matcher_spec.rb
  spec/models/health_care_application_spec.rb
  spec/models/notification_spec.rb
  spec/requests/health_care_applications_request_spec.rb
  spec/requests/notifications/dismissed_statuses_request_spec.rb
  spec/requests/notifications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/schemas/dismissed_status.json
  spec/support/schemas/notification.json
  spec/support/schemas_camelized/dismissed_status.json
  spec/support/schemas_camelized/notification.json
Labels: console-services-review

Make Eugene flipper admin. (#11545)
  config/settings.yml
Labels: console-services-review

Backup submission bugfix (#11569)
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

API-21523 Convert appeals status v1 docs to RSwag (#11534)
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v0/appeals_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/appeals_status.yml
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/spec/docs/appeals_status_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/appeal.json
  rakelib/rswag.rake
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
