Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Defined image pull policy:
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  docs/index.yaml
  docs/vets-api-0.1.3.tgz
Labels: console-services-review

[11024] Moving EVSS create_user_account job headers out of sidekiq params and into job (#11025)
  app/services/login/after_login_actions.rb
  app/workers/evss/create_user_account_job.rb
  lib/iam_ssoe_oauth/session_manager.rb
  spec/jobs/evss/create_user_account_job_spec.rb
Labels: console-services-review

[10968] Adding address field to update MPI during Sign in Service authentication (#11007)
  app/models/form_profile.rb
  app/models/id_card_attributes.rb
  app/models/user.rb
  app/services/mhv_accounts_service.rb
  app/services/sign_in/attribute_validator.rb
  lib/inherited_proofing/user_attributes_fetcher.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/request_helper.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/service.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/lib/inherited_proofing/user_attributes_fetcher_spec.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/request_helper_spec.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/user_spec.rb
  spec/requests/in_progress_forms_request_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
  spec/support/vcr_cassettes/identity/logingov_200_responses.yml
Labels: console-services-review

Updated sidekiq service account name
  chart/Chart.yaml
  chart/templates/sa.yaml
  docs/index.yaml
  docs/vets-api-0.1.4.tgz
Labels: console-services-review

Added lighthouse pre configs
  chart/Chart.yaml
  chart/templates/lighthouse-pre-configs.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.1.5.tgz
Labels: console-services-review

fix hca validation error (#11023)
  app/controllers/v0/health_care_applications_controller.rb
  lib/hca/soap_parser.rb
  spec/lib/hca/service_spec.rb
Labels: console-services-review

add feature toggle (#11017)
  config/features.yml
Labels: console-services-review

API-17731: Documentation for Benefits Intake Document Validation Endpoint (#10950)
  modules/vba_documents/app/controllers/vba_documents/docs/v1/api_controller.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/put_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_error_details.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/responses/not_found_error.rb
  modules/vba_documents/app/swagger/vba_documents/v1/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
Labels: none

add john cater to toggle admins (#11033)
  config/settings.yml
Labels: console-services-review

Add option to send multiple in progress emails in one personalization field (behind feature flag) (#11014)
  config/features.yml
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: console-services-review

fixed time zone offset addition, leave date time as is and tacking on facility time zone offset (#11034)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
Labels: vaos

Add default send indicator to communication channel response (#11030)
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/models/communication_channel.rb
  spec/fixtures/va_profile/communication_items.json
  spec/fixtures/va_profile/items_and_permissions.json
  spec/fixtures/va_profile/items_without_permissions.json
  spec/support/vcr_cassettes/va_profile/communication/communication_items.yml
Labels: console-services-review

Updated chart version
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/server-deployment.yaml
  chart/templates/settings-configmap.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.1.6.tgz
Labels: console-services-review

Updated configmap
  chart/Chart.yaml
  chart/templates/settings-configmap.yaml
  docs/index.yaml
  docs/vets-api-0.1.1.tgz
  docs/vets-api-0.1.7.tgz
Labels: console-services-review

Updated configmap
  chart/Chart.yaml
  chart/templates/settings-configmap.yaml
  docs/index.yaml
  docs/vets-api-0.1.8.tgz
Labels: console-services-review

Fixed security context
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.1.9.tgz
Labels: console-services-review

API-18667-Ews-Email-Report (#11027)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_ews_errors_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_ews_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: console-services-review

Add cancel booked appointment toggle (#11039)
  config/features.yml
Labels: console-services-review

use location phone number when telehealth (#11045)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
Labels: mobile

DLD: Use `received_at` for ordering claim letters (#11035)
  app/controllers/v0/claim_letters_controller.rb
  lib/claim_letters/claim_letter_downloader.rb
  lib/claim_letters/claim_letter_test_data.rb
  spec/fixtures/claim_letter/claim_letter_list.json
Labels: console-services-review

Profile default send indicator (#11036)
  lib/va_profile/models/communication_channel.rb
  lib/va_profile/models/communication_item.rb
  spec/fixtures/va_profile/communication_items.json
  spec/support/vcr_cassettes/va_profile/communication/communication_items.yml
Labels: console-services-review

don't require telehealth field to get name and phone number (#11046)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
Labels: mobile

47009 travel claim submission controller (#11019)
  modules/check_in/app/controllers/check_in/v0/travel_claims_controller.rb
  modules/check_in/config/routes.rb
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_200.yml
  spec/support/vcr_cassettes/check_in/btsss/token/token_200.yml
Labels: console-services-review

Defined fsgroup
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.1.10.tgz
Labels: console-services-review

Updated envSecrets
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.1.11.tgz
Labels: console-services-review

Updated sidekiq commands
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.1.12.tgz
Labels: console-services-review

Added dbmigrate env
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.1.13.tgz
Labels: console-services-review

Updated db-migrate configuration
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.1.14.tgz
Labels: console-services-review

Api 21393 mock documents service (#11038)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/lib/claims_api/v2/mock_documents_service.rb
Labels: none

Added feature for tagalog disclaimer. (#11048)
  config/features.yml
Labels: console-services-review

Update line length (merge lines 1 -> 2&3) (#11032)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: none

Update 1010EZ SIGI to use new codes (#11043)
  lib/hca/enrollment_system.rb
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/sigi.yml
Labels: console-services-review

API-20495: Rename pension_burial_token to central_mail_token (#11051)
  config/settings.yml
  spec/support/vcr.rb
  spec/support/vcr_cassettes/central_mail/status_multiple_uuids.yml
  spec/support/vcr_cassettes/central_mail/status_multiple_uuids_GDIT.yml
  spec/support/vcr_cassettes/central_mail/status_one_uuid.yml
  spec/support/vcr_cassettes/central_mail/status_one_uuid_GDIT.yml
Labels: console-services-review

46891 Claim api service object implementation (#10969)
  modules/check_in/app/services/travel_claim/response.rb
  modules/check_in/app/services/travel_claim/service.rb
  modules/check_in/spec/services/travel_claim/response_spec.rb
  modules/check_in/spec/services/travel_claim/service_spec.rb
Labels: none

Ksoskin/supp claims prefill (#11052)
  app/models/form_profile.rb
  app/models/form_profiles/va_0995.rb
  config/form_profile_mappings/20-0995.yml
Labels: console-services-review

[10951] Adding protection against missing attributes in credential for sign in service authentication (#11028)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/credential_level.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

fix(certs): VA Cert Exclusion for Non-DER Certificate
  Dockerfile
Labels: console-services-review

Update Dockerfile
  Dockerfile
Labels: console-services-review

remove flipper facility_locator_covid_vaccine_walk_in_availability_text_frontend (#11057)
  config/features.yml
Labels: console-services-review

remove flipper facilities_locator_mobile_covid_online_scheduling (#11056)
  config/features.yml
Labels: console-services-review
