Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

put back BigQuery GHA
  .github/workflows/code_checks.yml
Labels: console-services-review

add aws creds
  .github/workflows/code_checks.yml
Labels: console-services-review

test
  .github/workflows/code_checks.yml
Labels: console-services-review

Revert "test"
  .github/workflows/code_checks.yml
Labels: console-services-review

inspect response
  rakelib/test_stats_to_bigquery.rb
Labels: console-services-review

debug the date
  rakelib/test_stats_to_bigquery.rb
Labels: console-services-review

use the k8s branch
  .github/workflows/code_checks.yml
Labels: console-services-review

add branch name in quotes?
  .github/workflows/code_checks.yml
Labels: console-services-review

test
  .github/workflows/code_checks.yml
Labels: console-services-review

[9776] Adding rendered error messages and proper error statuses for sign in service (#9805)
  app/controllers/sign_in_controller.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/refresh_token_encryptor.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/factories/sign_in/access_tokens.rb
  spec/models/sign_in/access_token_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/refresh_token_decryptor_spec.rb
  spec/services/sign_in/refresh_token_encryptor_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

updated docs to include new mobile facilities info endpoint (#9769)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/FacilitiesInfo.yml
  modules/mobile/docs/schemas/FacilitiesInfoRequestBody.yml
  modules/mobile/docs/schemas/FacilityInfo.yml
Labels: mobile

facilities info endpoint and related refactoring (#9758)
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/facility_info.rb
  modules/mobile/app/models/mobile/v0/facility_info.rb
  modules/mobile/app/serializers/mobile/v0/facilities_info_serializer.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/helpers/mobile/facilities_helper_spec.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/fixtures/va_appointments_for_facility_info.json
  modules/mobile/spec/support/schemas/facilities_info.json
  modules/mobile/spec/support/schemas/facility_info.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_multiple_mfs_facilities_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info_yml.yml
Labels: mobile

RRD: identify potential microservices (#9781)
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

Retire beta_registration API (#9792)
  app/controllers/v0/beta_registrations_controller.rb
  app/models/beta_registration.rb
  app/models/user.rb
  app/services/users/services.rb
  config/routes.rb
  docs/HISTORY.md
  lib/beta_switch.rb
  spec/controllers/v0/beta_registrations_controller_spec.rb
  spec/factories/beta_registrations.rb
  spec/requests/beta_registration_spec.rb
  spec/services/users/services_spec.rb
Labels: console-services-review

Update profile feature toggles (#9811)
  config/features.yml
Labels: console-services-review

API-15626 HLRv1: remove sunset date from deprecation headers (#9773)
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
Labels: none

API-15628 Fix development rswag generation (#9789)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
Labels: none

WIP - Api 14963 add nvc pdf (#9744)
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_minimum.json
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields_spec.rb
Labels: none

2982 precache appointments flag (#9751)
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/controllers/mobile/v1/users_controller.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

test if config is missing
  .github/workflows/code_checks.yml
Labels: console-services-review

undo
  .github/workflows/code_checks.yml
Labels: console-services-review

test removing conditional
  .rspec_parallel
Labels: console-services-review

pass CI env var to tests
  .github/workflows/code_checks.yml
  .rspec_parallel
Labels: console-services-review

remove debug statements
  rakelib/test_stats_to_bigquery.rb
Labels: console-services-review

3016 create evss account after login (#9801)
  lib/iam_ssoe_oauth/session_manager.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
Labels: console-services-review

test removing conditional again
  .rspec_parallel
Labels: console-services-review

test CI env var
  .github/workflows/code_checks.yml
Labels: console-services-review

remove quotes
  .github/workflows/code_checks.yml
Labels: console-services-review

40510 add a feature flag to enable mocks (#9803)
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: console-services-review

test env var
  .github/workflows/code_checks.yml
  lib/mdot/response.rb
Labels: console-services-review

(feature) Added toggle for new feature (#9817)
  config/features.yml
Labels: console-services-review

require statement
  spec/lib/debt_management_center/payments_service_spec.rb
Labels: console-services-review

why is this not evaluating
  .rspec_parallel
Labels: console-services-review

see if env var exists
  .rspec_parallel
Labels: console-services-review

try setting env var
  .github/workflows/code_checks.yml
  .rspec_parallel
Labels: console-services-review

pass in CI env var
  .github/workflows/code_checks.yml
Labels: console-services-review

AppealsAPI: Fix PDF content checking (#9802)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/pdf_matcher.rb
Labels: none

test a different env var
  .rspec_parallel
Labels: console-services-review

update env vars and branch names
  .github/workflows/code_checks.yml
Labels: console-services-review

[39362] Add toggle to use new V2 MCP endpoint (#9783)
  app/services/medical_copays/request.rb
  config/settings.yml
  config/settings/test.yml
  spec/requests/medical_copays_request_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
