Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, be-review

Removing sql file
  modules/va_forms/db/migrate/ranking.sql
Labels: none

API-6441 - Make the "rswaggerized" docs use the same /forms/526 description verbiage as current prod
  modules/claims_api/app/swagger/v1/swagger.json
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: none

Populating data (#7107)
  db/migrate/20210602154022_add_insert_ranking_to_va_forms_forms.rb
  db/schema.rb
Labels: be-review

Populating data (#7107)
  db/migrate/20210602154022_add_insert_ranking_to_va_forms_forms.rb
  db/schema.rb
Labels: be-review

Update folder message looping logic and add logic to determine whether to use_cache or not. Update specs.
  app/controllers/v0/messages_controller.rb
  lib/sm/client.rb
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
  spec/lib/sm/client/folders_spec.rb
  spec/request/folders_request_spec.rb
  spec/support/vcr_cassettes/sm_client/folders/nested_resources/gets_a_collection_of_messages.yml
Labels: mobile, be-review

update rubocop_todo
  .rubocop_todo.yml
Labels: be-review

API-6441 - Remove useless "type description" attributes
  modules/claims_api/app/swagger/v1/swagger.json
  spec/support/schemas/claims_api/claim.json
  spec/support/schemas/claims_api/claims.json
  spec/support/schemas/claims_api/forms/disability/attachments.json
  spec/support/schemas/claims_api/forms/disability/submission.json
  spec/support/schemas/claims_api/forms/disability/upload.json
  spec/support/schemas/claims_api/forms/disability/validate.json
  spec/support/schemas/claims_api/forms/intent_to_file/active.json
  spec/support/schemas/claims_api/forms/intent_to_file/submission.json
  spec/support/schemas/claims_api/forms/intent_to_file/validate.json
  spec/support/schemas/claims_api/forms/power_of_attorney/active.json
  spec/support/schemas/claims_api/forms/power_of_attorney/get.json
  spec/support/schemas/claims_api/forms/power_of_attorney/submission.json
  spec/support/schemas/claims_api/forms/power_of_attorney/upload.json
  spec/support/schemas/claims_api/forms/power_of_attorney/validate.json
Labels: be-review

Remove unused filterable
  app/models/folder.rb
Labels: be-review

rubocop fix
  spec/models/form_profile_spec.rb
Labels: be-review

bump fastimage to latest patch
  Gemfile.lock
Labels: be-review

Adding a line to modules/mobile/README for testing purposes
  modules/mobile/README.md
Labels: mobile

25428 Add the ability to change the resource count
  modules/health_quest/app/services/health_quest/shared/options_builder.rb
  modules/health_quest/spec/services/shared/options_builder_spec.rb
Labels: none

bump minor version
  Gemfile.lock
Labels: be-review

25428 decompose the registry method (#7111)
  modules/health_quest/app/services/health_quest/shared/options_builder.rb
  modules/health_quest/spec/services/shared/options_builder_spec.rb
Labels: none

25428 decompose the registry method (#7111)
  modules/health_quest/app/services/health_quest/shared/options_builder.rb
  modules/health_quest/spec/services/shared/options_builder_spec.rb
Labels: none

updated SCO email content
  app/mailers/views/school_certifying_officials.html.erb
Labels: be-review

Removing testing line in one file and adding testing line in another
  app/models/account.rb
  modules/mobile/README.md
Labels: mobile, be-review

allow mobile authorized services to be derived from multiple policies
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
  spec/factories/iam_users.rb
Labels: mobile, be-review

Wrap messages specs in single folder vcr cassette
  modules/mobile/spec/request/folders_request_spec.rb
Labels: mobile

Mark.viterna/api 7354 (#7108)
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/lib/va_forms/regex_helper.rb
Labels: none

Mark.viterna/api 7354 (#7108)
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/lib/va_forms/regex_helper.rb
Labels: none

bump aws-sdk-sns
  Gemfile.lock
Labels: be-review

API-6441 - Remove incorrect verbiage from "POST /forms/2122" endpoint description
  modules/claims_api/app/swagger/v1/swagger.json
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: none

25430 Adding ability to paginate FHIR resources
  modules/health_quest/app/services/health_quest/shared/options_builder.rb
  modules/health_quest/spec/services/shared/options_builder_spec.rb
Labels: none

Appeals api & aws-sdk-s3 gem rollback (#7081)
  Gemfile.lock
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
Labels: be-review

Appeals api & aws-sdk-s3 gem rollback (#7081)
  Gemfile.lock
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
Labels: be-review

API-6441 - Include details in the ClaimsApi README for generating/updating rswag generated docs
  modules/claims_api/README.md
  modules/claims_api/README.rdoc
Labels: none

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add be-review label to any change not within the modules directory
be-review:
  - any: ['./**/*', '!modules/**/*']
