Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Api 26010 intake sites (#12517)
  config/settings/test.yml
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/lib/brd/brd.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  spec/support/vcr_cassettes/brd/intake_sites.yml
Labels: console-services-review

Add more debugging for Feature Toggles 500 errors (#12596)
  lib/common/models/redis_store.rb
Labels: console-services-review

correct string interpolation
  lib/common/models/redis_store.rb
Labels: console-services-review

Removes requires statements that were made redundant as a result of Zeitwerk (#12567)
  app/services/login/user_verifier.rb
  app/workers/education_form/forms/base.rb
  app/workers/webhooks/notifications_job.rb
  app/workers/webhooks/scheduler_job.rb
  lib/webhooks/utilities.rb
  spec/models/webhooks/utilities_spec.rb
Labels: console-services-review

Mhv 42068 mr allergies api (#12599)
  lib/medical_records/client.rb
  modules/my_health/app/controllers/my_health/v1/allergies_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/allergies_request_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_allergies.yml
  spec/support/vcr_cassettes/mr_client/get_an_allergy.yml
Labels: console-services-review

Properly reference first name for 1880 in progress form (#12604)
  modules/va_notify/app/models/va_notify/veteran.rb
  modules/va_notify/spec/models/veteran_spec.rb
Labels: none

Only send to unauthenticated users (#12601)
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_1990e.rb
  spec/models/saved_claim/education_benefits/va1990_spec.rb
  spec/models/saved_claim/education_benefits/va1990e_spec.rb
Labels: console-services-review

Removes unnecessary 'require_dependency' from mobile module (#12597)
  modules/mobile/app/controllers/mobile/discovery_controller.rb
  modules/mobile/app/controllers/mobile/messaging_controller.rb
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/controllers/mobile/v0/attachments_controller.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/controllers/mobile/v0/disability_rating_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/controllers/mobile/v0/folders_controller.rb
  modules/mobile/app/controllers/mobile/v0/immunizations_controller.rb
  modules/mobile/app/controllers/mobile/v0/locations_controller.rb
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/app/controllers/mobile/v0/message_drafts_controller.rb
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/controllers/mobile/v0/profile_base_controller.rb
  modules/mobile/app/controllers/mobile/v0/triage_teams_controller.rb
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/controllers/mobile/v1/users_controller.rb
Labels: mobile

fix (#12607)
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
Labels: mobile

Clamav separate file path (#12605)
  Dockerfile
  app/uploaders/uploader_virus_scan.rb
  lib/clamav/commands/patch_scan_command.rb
  lib/common/file_helpers.rb
  lib/shrine/plugins/validate_virus_free.rb
  modules/claims_api/lib/claims_api/form_schemas.rb
Labels: console-services-review

Modify clamav_tmp ownership (#12609)
  Dockerfile
Labels: console-services-review

Removes unnecessary 'require_dependency' from veteran_confirmation module (#12590)
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/health_controller.rb
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
Labels: none

Removes "require_dependency" from va_forms module (#12583)
  modules/va_forms/app/controllers/va_forms/docs/v0/api_controller.rb
Labels: none

Removes 'require_dependency' from apps_api module (#12573)
  modules/apps_api/app/controllers/apps_api/docs/v0/api_controller.rb
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
Labels: none

Removes unnecessary require_dependency statement from appeals_api module (#12572)
  modules/appeals_api/app/controllers/appeals_api/v0/appeals_controller.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
Labels: none

Removes unnecessary 'require_dependency' from openid_auth module (#12581)
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
Labels: none

Removes unnecessary 'require_dependency' from meb_api module (#12579)
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
Labels: none

Removes unnecessary require_dependency statement (#12577)
  modules/facilities_api/app/controllers/facilities_api/v1/ccp_controller.rb
Labels: none

[API-25991] Create `FormBuilder` worker (#12549)
  modules/va_forms/app/workers/va_forms/form_builder.rb
  modules/va_forms/spec/workers/form_builder_spec.rb
Labels: none

income limits data migration (#12602)
  db/migrate/20230509181327_create_income_limits_tables.rb
  db/schema.rb
Labels: console-services-review

VaNotify - Add feature flag (#12611)
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_1990e.rb
  config/features.yml
Labels: console-services-review

Add BDEx1 engineers to Flipper allow list (#12522)
  config/settings.yml
Labels: console-services-review

Update pdf_submit sidekiq worker to retry specific EMMS errors when s… (#12483)
  lib/central_mail/upload_error.rb
  lib/central_mail/utilities.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: console-services-review

Mobile: Remove statsd (#12598)
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/config/initializers/statsd_instrument_monkeypatch.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
Labels: mobile

[57955] Add success and error logging for Form 686c. (#12569)
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  spec/jobs/vbms/submit_dependents_pdf_job_spec.rb
Labels: console-services-review

Api 24826 section 1 validation (#12603)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

VACMS-13585 Add feature flipper for new income limits application (#12616)
  config/features.yml
Labels: console-services-review

4745 update to Lighthouse upstream service to Mobile claims index (#12575)
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_claims_overview.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/app/services/mobile/v0/lighthouse_claims/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
  modules/mobile/app/services/mobile/v0/lighthouse_claims/service.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/request/individual_claim_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_claims/index/200_response.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_claims/index/404_response.yml
  modules/mobile/spec/workers/pre_cache_claims_and_appeals_job_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/200_response.yml
Labels: mobile, console-services-review

Implement Rails Cache for VAOS Facility and Clinic Calls (#12588)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
Labels: vaos

Fix settings key for template id (#12615)
  config/settings.yml
  modules/va_notify/app/workers/va_notify/in_progress_1880_form_reminder.rb
  modules/va_notify/spec/workers/in_progress_1880_form_reminder_spec.rb
Labels: console-services-review

1010EZ update SOAP response for Race/Ethnicity/Origin question (#12554)
  lib/hca/enrollment_system.rb
  spec/fixtures/hca/demographic_no.json
  spec/lib/hca/enrollment_system_spec.rb
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/demographic_no.yml
Labels: console-services-review

Form 21-10210 lay-witness prefill (#12619)
  app/models/form_profile.rb
  app/models/form_profiles/va_2110210.rb
  config/form_profile_mappings/21-10210.yml
  config/settings.yml
Labels: console-services-review

Update Benefits Intake docs with new page size limit (#12584)
  modules/vba_documents/app/swagger/vba_documents/document_upload/status_code_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/pdf_dimension_attributes_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_error_details.md
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
  modules/vba_documents/lib/tasks/vba_documents_tasks.rake
  modules/vba_documents/postman_tests/Automated Benefits Intake API.postman_collection.json
Labels: none

Removing hard coded logout values -- ticket 56883 (#12482)
  app/controllers/v0/sign_in_controller.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

add feature toggle for quick submit (#12621)
  config/features.yml
Labels: console-services-review

add logging around redis response and key (#12624)
  lib/common/models/redis_store.rb
Labels: console-services-review

add emails, update note (#12626)
  app/mailers/create_staging_spool_files_mailer.rb
  config/settings.yml
Labels: console-services-review

Revert "add logging around redis response and key (#12624)" (#12629)
  lib/common/models/redis_store.rb
Labels: console-services-review

Removes unnecessary 'require_dependency' from spec directory (#12594)
  spec/models/webhooks/notification_spec.rb
  spec/models/webhooks/subscription_spec.rb
Labels: console-services-review

Logging around the session response for 500 Internal Server Errors (#12630)
  lib/common/models/redis_store.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
