Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

API-27880-526-v2-validate-endpoint (#13181)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Update rswag_setup.md (#13239)
  docs/setup/rswag_setup.md
Labels: console-services-review

Mobile - Draft Checkin Documentation (#13254)
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/cc_appointment_request.yml
  modules/mobile/docs/examples/appointments/partial_appointments.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/docs/schemas/AppointmentCheckin.yml
  modules/mobile/docs/schemas/AppointmentCheckin400Appointment.yml
  modules/mobile/docs/schemas/AppointmentCheckin400Demographics.yml
  modules/mobile/docs/schemas/AppointmentCheckin400Insurance.yml
  modules/mobile/docs/schemas/AppointmentCheckinDemographics.yml
  modules/mobile/docs/schemas/AppointmentCheckinDemographicsPatch.yml
  modules/mobile/docs/schemas/Appointments.yml
Labels: mobile

[#MHV-47421] Get a patient's MHV FHIR ID from their MHV correlation ID (#13260)
  lib/common/client/concerns/mhv_jwt_session_client.rb
  lib/medical_records/client.rb
  lib/medical_records/client_session.rb
  modules/my_health/app/controllers/my_health/v1/allergies_controller.rb
  modules/my_health/app/controllers/my_health/v1/clinical_notes_controller.rb
  modules/my_health/app/controllers/my_health/v1/conditions_controller.rb
  modules/my_health/app/controllers/my_health/v1/labs_and_tests_controller.rb
  modules/my_health/app/controllers/my_health/v1/vaccines_controller.rb
  modules/my_health/app/controllers/my_health/v1/vitals_controller.rb
  modules/my_health/spec/request/v1/allergies_request_spec.rb
  modules/my_health/spec/request/v1/clinical_notes_request_spec.rb
  modules/my_health/spec/request/v1/conditions_request_spec.rb
  modules/my_health/spec/request/v1/labs_and_tests_request_spec.rb
  modules/my_health/spec/request/v1/vaccines_request_spec.rb
  modules/my_health/spec/request/v1/vitals_request_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/mr_client_helpers.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_allergies.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_chemhem_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_clinical_notes.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_diagreport_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_docref_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vaccines.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vitals.yml
  spec/support/vcr_cassettes/mr_client/get_a_patient_by_identifier.yml
  spec/support/vcr_cassettes/mr_client/session.yml
Labels: console-services-review

Updating Flipper Admin List (#13274)
  config/settings.yml
Labels: console-services-review

Add streamlined waiver feature flag (#13277)
  config/features.yml
Labels: console-services-review

add feature flag for document service migration (#13262)
  app/workers/evss/disability_compensation_form/submit_form0781.rb
  app/workers/evss/disability_compensation_form/submit_form8940.rb
  app/workers/evss/disability_compensation_form/submit_uploads.rb
  app/workers/evss/disability_compensation_form/upload_bdd_instructions.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form0781_spec.rb
  spec/jobs/evss/disability_compensation_form/submit_form8940_spec.rb
  spec/jobs/evss/disability_compensation_form/submit_uploads_spec.rb
  spec/jobs/evss/disability_compensation_form/upload_bdd_instructions_spec.rb
Labels: console-services-review

Add nod update feature flag (#13286)
  config/features.yml
Labels: console-services-review

Ask-va modular api Refactor (#13278)
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/ask_va_api/.rspec
  modules/ask_va_api/Gemfile
  modules/ask_va_api/README.rdoc
  modules/ask_va_api/Rakefile
  modules/ask_va_api/app/controllers/ask_va_api/application_controller.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/static_data_auth_controller.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/static_data_controller.rb
  modules/ask_va_api/ask_va_api.gemspec
  modules/ask_va_api/bin/rails
  modules/ask_va_api/config/routes.rb
  modules/ask_va_api/lib/ask_va_api.rb
  modules/ask_va_api/lib/ask_va_api/engine.rb
  modules/ask_va_api/lib/ask_va_api/version.rb
  modules/ask_va_api/spec/requests/v0/static_data_auth_spec.rb
  modules/ask_va_api/spec/requests/v0/static_data_spec.rb
  modules/ask_va_api/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

feat: add toggle for email channel notifs (#13285)
  config/features.yml
Labels: console-services-review

API-27973-cleanup-switch-to-bgs (#13273)
  modules/claims_api/lib/claims_api/evss_bgs_mapper.rb
Labels: none

Api 25626 pact tracking (#13164)
  app/models/claims_api/claim_submission.rb
  lib/periodic_jobs.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/mailers/claims_api/submission_report_mailer.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/views/claims_api/submission_report_mailer/submission_report.html.erb
  modules/claims_api/app/workers/claims_api/report_monthly_submissions.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/workers/report_monthly_submissions_spec.rb
  spec/mailers/previews/claims_api_submission_report_mailer_preview.rb
Labels: console-services-review

add appt id (#13294)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: vaos

Adds priority_group to /v0/health_care_application/enrollment_status (#61047) (#13180)
  app/models/health_care_application.rb
  app/swagger/swagger/requests/health_care_applications.rb
  lib/hca/enrollment_eligibility/service.rb
  spec/lib/hca/enrollment_eligibility/service_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: console-services-review

MHV-47341 Wrote OpenAPI docs for medical records app (#13296)
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
Labels: none

Configure ddtrace not to report in test (#13195)
  config/initializers/datadog.rb
Labels: console-services-review

Remove swap file (#13297)
  spec/controllers/v0/.onsite_notifications_controller_spec.rb.swp
Labels: console-services-review

add per page default (#13295)
  modules/mobile/app/controllers/mobile/messaging_controller.rb
  modules/mobile/spec/request/folders_request_spec.rb
Labels: mobile

Rename RapidReadyForDecision to ClaimsFastTracking and remove dead code (#13288)
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  app/models/form526_submission.rb
  app/services/claim_fast_tracking/constants.rb
  app/services/claim_fast_tracking/diagnostic_codes.rb
  app/services/rapid_ready_for_decision/lighthouse_medication_request_data.rb
  app/services/rapid_ready_for_decision/lighthouse_observation_data.rb
  spec/services/claim_fast_tracking/constants_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
Labels: console-services-review

API 28206 optional treatment attributes (#13275)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

Add form mappings for 21-0972 (#13299)
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/form_mappings/vba_21_0972.json.erb
  modules/simple_forms_api/app/models/simple_forms_api/vba_21_0972.rb
  modules/simple_forms_api/app/services/simple_forms_api/pdf_stamper.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_21_0972-min.json
  modules/simple_forms_api/spec/fixtures/form_json/vba_21_0972.json
  modules/simple_forms_api/spec/requests/v1/uploads_spec.rb
  modules/simple_forms_api/spec/services/pdf_filler_spec.rb
  modules/simple_forms_api/templates/vba_21_0972.pdf
Labels: none

Attempting to reduce duplicate submissions (#13220)
  app/models/form526_submission.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
  lib/sidekiq/form526_job_status_tracker/backup_submission.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/sidekiq/form526_job_status_tracker/job_tracker_spec.rb
Labels: console-services-review

Update caching of claims and appeals to properly cache when both claims and appeals succeeds, and also skip caching if one or both fails (#13306)
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile

60787 anti spam controls (#13247)
  app/models/credential_adoption_email_record.rb
  app/services/acceptable_verified_credential_adoption_service.rb
  config/settings.yml
  spec/factories/credential_adoption_email_records.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

add sleep apnea toogle (#13308)
  config/features.yml
Labels: console-services-review

62244 - Properly Connect and Gate the Acceptable Verified Credential Adoption Service (#13309)
  app/services/acceptable_verified_credential_adoption_service.rb
  app/services/login/after_login_actions.rb
  config/features.yml
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
  spec/services/login/after_login_actions_spec.rb
Labels: console-services-review

Simple forms api: Modify mapped fields and add new pdf for form 21p-0847 (#13251)
  modules/simple_forms_api/app/form_mappings/vba_21p_0847.json.erb
  modules/simple_forms_api/app/models/simple_forms_api/vba_21p_0847.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_21p_0847-min.json
  modules/simple_forms_api/spec/fixtures/form_json/vba_21p_0847.json
  modules/simple_forms_api/templates/vba_21p_0847.pdf
Labels: none

udpate brakeman to 6.0.1 (#13322)
  Gemfile.lock
Labels: console-services-review

Skip tests that only fail in k8s branch (#13316)
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator/generator_hlr_spec.rb
Labels: none

Add NOD Datadog RUM monitoring flag (#13312)
  config/features.yml
Labels: console-services-review

EVSS Migration - 526 Submit - Transformation Service - basic framework (#13314)
  lib/disability_compensation/requests/form526_request_body.rb
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: console-services-review

Add worker to resubmit VHA FSRs (#13327)
  app/workers/form5655/vha_resubmission_job.rb
  spec/jobs/form5655/vha_resubmission_job_spec.rb
Labels: console-services-review

[13310] Refactor for service account functionality for sign in service to more closely follow existing conventions (#13311)
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/refresh_token.rb
  app/models/sign_in/service_account_access_token.rb
  app/models/sign_in/service_account_config.rb
  app/services/sign_in/assertion_validator.rb
  app/services/sign_in/client_assertion_validator.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/service_account_access_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/service_account_access_token_jwt_decoder.rb
  app/services/sign_in/service_account_access_token_jwt_encoder.rb
  app/services/sign_in/service_account_assertion_validator.rb
  app/services/sign_in/service_account_validator.rb
  db/seeds/development.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/service_account_access_tokens.rb
  spec/factories/sign_in/service_account_configs.rb
  spec/fixtures/identity_dashboard/public_key.pem
  spec/fixtures/sign_in/identity_dashboard_service_account.crt
  spec/fixtures/sign_in/identity_dashboard_service_account.pem
  spec/fixtures/sign_in/sample_service_account.crt
  spec/fixtures/sign_in/sample_service_account_public.pem
  spec/fixtures/sign_in/sample_service_account_public_2.pem
  spec/models/sign_in/access_token_spec.rb
  spec/models/sign_in/refresh_token_spec.rb
  spec/models/sign_in/service_account_access_token_spec.rb
  spec/models/sign_in/service_account_config_spec.rb
  spec/services/sign_in/assertion_validator_spec.rb
  spec/services/sign_in/client_assertion_validator_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/logger_spec.rb
  spec/services/sign_in/service_account_access_token_jwt_decoder_spec.rb
  spec/services/sign_in/service_account_access_token_jwt_encoder_spec.rb
  spec/services/sign_in/service_account_assertion_validator_spec.rb
  spec/services/sign_in/service_account_validator_spec.rb
Labels: console-services-review

62087 Adding chip lib tenant parameters (#13301)
  config/settings.yml
  lib/chip/configuration.rb
  lib/chip/service.rb
  spec/lib/chip/configuration_spec.rb
  spec/lib/chip/service_spec.rb
Labels: console-services-review

[dbex-60944] add logging to evidence upload (#13167)
  app/controllers/concerns/form_attachment_create.rb
  app/controllers/concerns/third_party_transaction_logging.rb
  app/controllers/v0/upload_supporting_evidences_controller.rb
  app/uploaders/supporting_evidence_attachment_uploader.rb
  spec/controllers/concerns/third_party_transaction_logging_spec.rb
Labels: console-services-review

Add auth exp profile team members as flipper admins (#13307)
  config/settings.yml
Labels: console-services-review

Tests for form526_requests_body_spec.rb (#13325)
  spec/lib/disability_compensation/requests/form526_requests_body_spec.rb
Labels: console-services-review

Skip tests that fail in k8s (#13335)
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator/generator_hlr_spec.rb
Labels: none

API-28016 Move SC auth_header data to body json (#13305)
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/app/swagger/supplemental_claims/v0/put_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/shared/v0/icn.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/200995.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/200995_headers.json
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995_headers.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995_headers_extra.json
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Mobile: Lighthouse doc upload and lighthouse service fixes (#13284)
  config/features.yml
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/spec/request/legacy_claims_document_upload_spec.rb
Labels: mobile, console-services-review
