Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

update script per latest metadata changes (#12680)
  modules/forms_api/lib/tasks/forms.rake
Labels: none

EVSS Migration: Form 21-526EZ Submit Workflow: retrieve ICN for rated disabilities call (#12647)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/models/form526_submission_spec.rb
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/200_Not_Connected_response.yml
Labels: console-services-review

4745 Add Lighthouse upstream service to Mobile claims (#12547)
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
  modules/mobile/app/models/mobile/v0/claim.rb
  modules/mobile/app/serializers/mobile/v0/claim_serializer.rb
  modules/mobile/spec/models/adapters/lighthouse_individual_claims_adapter_spec.rb
  modules/mobile/spec/request/individual_lighthouse_claim_request_spec.rb
  modules/mobile/spec/support/fixtures/individual_claims.json
  modules/mobile/spec/support/schemas/individual_claim.json
  modules/mobile/spec/support/vcr_cassettes/lighthouse_claims/show/200_response.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_claims/show/404_response.yml
Labels: mobile

Define sidekiq failure thresholds
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.48.tgz
Labels: console-services-review

Replace user.session.uuid with token (#12568)
  app/controllers/concerns/authentication_and_sso_concerns.rb
  spec/controllers/application_controller_spec.rb
Labels: console-services-review

VaNotify - Remove feature flag that is no longer needed (#12682)
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_1990e.rb
  config/features.yml
Labels: console-services-review

Add scopes for letters generator (#12686)
  lib/lighthouse/letters_generator/configuration.rb
Labels: console-services-review

[58093, 57942] Use vet360 ID for mcp notification email (#12683)
  app/workers/mcp_notification_email_job.rb
  lib/va_profile/contact_information/service.rb
  spec/jobs/mcp_notification_email_job_spec.rb
  spec/lib/va_profile/contact_information/service_spec.rb
Labels: console-services-review

Adds validation to the schema and tests for that validation. (#12654)
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Dedicated specs for HLR docs (#12685)
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Dedicated specs for SC docs (#12684)
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Finish renaming Contestable Issues v0 to Appealable Issues (#12691)
  modules/appeals_api/app/controllers/appeals_api/appealable_issues/v0/appealable_issues_controller.rb
  modules/appeals_api/appeals_api_insomnia.json
  modules/appeals_api/config/schemas/v0/appealable_issues_headers.json
  modules/appeals_api/spec/docs/appealable_issues/v0_spec.rb
  modules/appeals_api/spec/requests/appealable_issues/v0/appealable_issues_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/appealable_issue.json
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/lib/vba_documents/webhooks_registrations.rb
  rakelib/appeals_api_oauth.rake
Labels: console-services-review

API-26270-526-v2-exp-info-pdf-map (#12640)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

Update settings.yml (#12699)
  config/settings.yml
Labels: console-services-review

Dedicated specs for NOD docs (#12669)
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Api 24829 section 3 validation (#12658)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

[API-26991] Spawn child FormBuilder jobs (#12661)
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/spec/workers/form_reloader_spec.rb
Labels: none

Changed sidekiq_alive to sidekiq-alive in CleanupQueues job (#12702)
  app/workers/sidekiq_alive/cleanup_queues.rb
Labels: console-services-review

Removed SidekiqAlive::CleanupQueues (#12705)
  app/workers/sidekiq_alive/cleanup_queues.rb
  config/sidekiq_scheduler.yml
  spec/jobs/sidekiq_alive/cleanup_queues_spec.rb
Labels: console-services-review

Dedicated specs for NOD docs, part 2 (#12703)
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  rakelib/rswag.rake
Labels: console-services-review

[12645] Adding Model definitions for Client Config private_key_jwt updates (#12648)
  app/models/sign_in/client_config.rb
  db/seeds/development.rb
  spec/factories/sign_in/client_configs.rb
  spec/fixtures/sign_in/sample_client.crt
  spec/models/sign_in/client_config_spec.rb
Labels: console-services-review

VAOS: Set Cancellable:false for Compensation and Pension Appointments (#12689)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/schemas_camelized/vaos/v2/va_appointment_raw.json
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_CnP.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_single_status_200.yml
Labels: vaos, console-services-review

[12711] Fixing lots of specs failing due to uninitialized constants errors, and other related errors (#12712)
  app/models/webhooks/utilities.rb
  app/services/bgs/awards_service.rb
  app/services/bgs/uploaded_document_service.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/forms/base.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  lib/form526_backup_submission/utilities/convert_to_pdf.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/claims_api/lib/claims_api/poa_pdf_constructor/base.rb
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
  modules/vba_documents/app/models/vba_documents/upload_file.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/jobs/education_form/forms/va10203_spec.rb
  spec/lib/form526_backup_submission/utilities/convert_to_pdf_spec.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/lib/sidekiq/form526_job_status_tracker/metrics_spec.rb
  spec/support/spool_helpers.rb
Labels: console-services-review

Add missing military service info (#12695)
  lib/lighthouse/letters_generator/service.rb
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

add pod name as env var (#12718)
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.49.tgz
Labels: console-services-review

Sidekiq alive queue name
  config/sidekiq_alive.rb
Labels: console-services-review

Revert "Sidekiq alive queue name"
  config/sidekiq_alive.rb
Labels: console-services-review

Edits feature flag naming to match vets-website (#12701)
  config/features.yml
Labels: console-services-review

Add unique queue naming (#12719)
  config/sidekiq_alive.rb
Labels: console-services-review

change 'veteran' to 'claimant' as per frontend change (#12717)
  modules/forms_api/app/form_mappings/vba_21_10210.json.erb
  modules/forms_api/spec/fixtures/form_json/vba_21_10210.json
Labels: none

release 0.11.50
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.50.tgz
Labels: console-services-review

58514 Adding CIE travel_claims endpoint in Swagger (#12710)
  modules/check_in/app/docs/check_in/v2/check_in.yaml
Labels: none

add logging statement
  config/sidekiq_alive.rb
Labels: console-services-review

move to correct dir
  config/initializers/sidekiq_alive.rb
Labels: console-services-review

remove debug line
  config/initializers/sidekiq_alive.rb
Labels: console-services-review

Dedicated specs for HLR docs, part 2 (#12707)
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  rakelib/rswag.rake
Labels: console-services-review

Dedicated specs for SC docs, part 2 (#12709)
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  rakelib/rswag.rake
Labels: console-services-review

Moved frequent sidekiq scheduled jobs to periodic jobs (#12720)
  config/initializers/sidekiq.rb
  config/sidekiq_scheduler.yml
Labels: console-services-review

Remove RRD contention-specific flags and job selector (#12708)
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.html.erb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/sidekiq_job_selector.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/sidekiq_job_selector_spec.rb
Labels: console-services-review

remove log
  app/controllers/application_controller.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
