Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

add toe controller and sponsor endpoint (#10136)
  modules/meb_api/app/controllers/meb_api/v0/toes_controller.rb
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
  modules/meb_api/app/serializers/sponsors_serializer.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/toe/sponsors_configuration.rb
  modules/meb_api/lib/dgi/toe/sponsors_response.rb
  modules/meb_api/lib/dgi/toe/sponsors_service.rb
  modules/meb_api/spec/dgi/toe/sponsors_service_spec.rb
  modules/meb_api/spec/requests/toes_spec.rb
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
Labels: console-services-review

[API-16756] - ClaimsApi - update email report to show 526 api consumer (#10158)
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_claims_status_table.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/lib/claims_api/cid_mapper.rb
  modules/claims_api/spec/lib/claims_api/cid_mapper_spec.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: console-services-review

Adds and modifies feature flag (#10186)
  config/features.yml
Labels: console-services-review

Api 15020 doc formatting stringnull (#10175)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/forms/disability/attachments.json
  spec/support/schemas/claims_api/forms/disability/upload.json
  spec/support/schemas/claims_api/forms/intent_to_file/active.json
  spec/support/schemas/claims_api/forms/power_of_attorney/active.json
  spec/support/schemas/claims_api/forms/power_of_attorney/get.json
  spec/support/schemas/claims_api/forms/power_of_attorney/submission.json
  spec/support/schemas/claims_api/forms/power_of_attorney/upload.json
Labels: console-services-review

Log when 1010cg attachments fail to submit (#10183)
  app/services/form1010cg/auditor.rb
  app/workers/form1010cg/deliver_attachments_job.rb
  config/initializers/statsd.rb
  spec/jobs/form1010cg/deliver_attachments_job_spec.rb
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#503] Removes all code and testing for coronavirus_chatbot (#10193)
  app/controllers/v0/coronavirus_chatbot/tokens_controller.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/coronavirus_chatbot/tokens_controller_spec.rb
  spec/support/vcr_cassettes/coronavirus_chatbot/chat_bot/healthy.yml
  spec/support/vcr_cassettes/coronavirus_chatbot/chat_bot/unhealthy.yml
Labels: console-services-review

38263 Modifying vcr_cassettes and rspec with appointment type (#10189)
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
  spec/support/vcr_cassettes/check_in/lorota/data/data_200.yml
Labels: console-services-review

Update catalog-info.yaml (#10188)
  catalog-info.yaml
Labels: console-services-review

add fry_dea controller and sponsors endpoint w/spec & docs (#10195)
  modules/meb_api/app/controllers/meb_api/v0/fry_dea_controller.rb
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/fry_dea/configuration.rb
  modules/meb_api/lib/dgi/fry_dea/response.rb
  modules/meb_api/lib/dgi/fry_dea/service.rb
  modules/meb_api/spec/dgi/fry_dea/service_spec.rb
  modules/meb_api/spec/requests/fry_dea_spec.rb
  spec/support/vcr_cassettes/dgi/fry_post_sponsor.yml
Labels: console-services-review

Mobile create direct appt doc changes (#10197)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentDirect.yml
Labels: mobile

36057 Removing demographics and emergency contact feature flags (#10198)
  config/features.yml
  modules/check_in/app/serializers/check_in/v2/appointment_data_serializer.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_data_serializer_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: console-services-review

break out CC appt create into own section in docs (#10203)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentKind.yml
  modules/mobile/docs/schemas/CreateAppointmentCC.yml
  modules/mobile/docs/schemas/CreateAppointmentDirect.yml
  modules/mobile/docs/schemas/PatientContact.yml
  modules/mobile/docs/schemas/Practitioner.yml
  modules/mobile/docs/schemas/PreferredLocation.yml
  modules/mobile/docs/schemas/ReasonCodeDirect.yml
Labels: mobile

removes unused errors (#10200)
  app/services/sign_in/errors.rb
Labels: console-services-review

API-16012: Rescue failures for appeals healthcheck calls (#10169)
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
Labels: none

Update features.yml (#10202)
  config/features.yml
Labels: console-services-review

Mobile: add VAOS v2 flipper (#10194)
  config/features.yml
  config/settings.yml
Labels: console-services-review

[10196] Using MPI attributes instead of credential attributes and invalidating MPI cache with each authentication for SiS (#10206)
  app/models/mpi_data.rb
  app/models/user.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/health_quest/spec/factories/health_quest_users.rb
  modules/vaos/spec/factories/vaos_users.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_spec.rb
  spec/requests/user_request_spec.rb
  spec/requests/va_profile/person_request_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: vaos, console-services-review

Remove HLRv1 (Part 1) (#10110)
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/spec/controllers/v1/higher_level_reviews/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v1/docs_controller_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

remove puma-plugin-statsd (#10201)
  Gemfile
  Gemfile.lock
  config/puma.rb
Labels: console-services-review

Remove HLRv1 (part 2) (#10111)
  modules/appeals_api/app/controllers/concerns/appeals_api/higher_level_reviews/pdf_form_field_v1_validator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v1/200996.json
  modules/appeals_api/config/schemas/v1/200996_headers.json
  modules/appeals_api/spec/config/schemas/v1/200996_headers_json_spec.rb
  modules/appeals_api/spec/config/schemas/v1/200996_json_spec.rb
Labels: none

Remove v0 code (#10185)
  config/brakeman.ignore
  config/initializers/rswag-ui.rb
  modules/claims_api/app/controllers/claims_api/docs/v0/api_controller.rb
  modules/claims_api/app/controllers/claims_api/metadata_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/endpoint_deprecation.rb
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/security_scheme_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/swagger_root.rb
  modules/claims_api/claims_api.gemspec
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
  modules/claims_api/spec/requests/v0/api_docs_request_spec.rb
  modules/claims_api/spec/requests/v0/claims_request_spec.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v0/document_validations_request_spec.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  spec/requests/csrf_request_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

API-7277 Update weekly report totals to use complete instead of success (#10205)
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/decision_review_mailer_spec.rb
Labels: none

Remove HLRv1 (part 3) (#10112)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/structure_spec.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: none

44152 Removing demographics confirmation feature flag for unverified scenario (#10211)
  config/features.yml
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
Labels: console-services-review

Remove HLRv1 PDF FormFields (#10113)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/form_fields.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/form_fields_spec.rb
Labels: none

Remove HLRv1 (part 5) (#10114)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/form_data.rb
  modules/appeals_api/app/swagger/appeals_api/v1/api_description.md
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/form_data_spec.rb
Labels: none

Remove HLRv1 (part 6) (#10115)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/swagger/appeals_api/v1/response_hlr_create_error.json
  modules/appeals_api/app/swagger/appeals_api/v1/response_hlr_show_not_found.json
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/higher_level_reviews.rb
  modules/appeals_api/config/pdfs/200996.pdf
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/fixtures/v1/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v1/invalid_200996.json
  modules/appeals_api/spec/fixtures/v1/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/v1/valid_200996_minimum.json
  modules/appeals_api/spec/fixtures/v2/invalid_200996_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers_minimum.json
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/serializers/higher_level_review_serializer_spec.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_updater_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_updater_spec.rb
Labels: none

Remove profile_show_demographic feature flag (#10213)
  app/controllers/v0/profile/gender_identities_controller.rb
  app/controllers/v0/profile/personal_informations_controller.rb
  app/controllers/v0/profile/preferred_names_controller.rb
  config/features.yml
Labels: console-services-review

SA-15079: Create new endpoint claim_letter/fry service (#10214)
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/fry_dea_controller.rb
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/claimant/service.rb
  modules/meb_api/lib/dgi/letters/service.rb
  modules/meb_api/lib/dgi/status/service.rb
  modules/meb_api/spec/dgi/letters/service_spec.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  modules/meb_api/spec/requests/fry_dea_spec.rb
  spec/support/vcr_cassettes/dgi/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_status.yml
Labels: console-services-review

API-17415 - ClaimsApi - Fix bug with setting mpi "mhv_icn" (#10215)
  modules/claims_api/app/models/claims_api/veteran.rb
Labels: none

42656 Integrate with VBS to submit FSR form (#10210)
  config/features.yml
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

[10207] Adding rake task to backfill in progress forms with user_account (#10212)
  rakelib/backfill_user_account_id_for_in_progress_forms.rake
Labels: console-services-review

[API-17189] - ClaimsApi - Update slackbot (#10208)
  config/settings.yml
  modules/claims_api/app/workers/claims_api/claim_auditor.rb
  modules/claims_api/spec/workers/claim_auditor_spec.rb
Labels: console-services-review

Ignore false-positive CVE in Bundle Audit (#10227)
  .github/workflows/code_checks.yml
Labels: console-services-review

API-17035: ensure schema validation (#10119)
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/config/schemas/shared/v1/address.json
  modules/appeals_api/config/schemas/shared/v1/date.json
  modules/appeals_api/config/schemas/shared/v1/non_blank_string.json
  modules/appeals_api/config/schemas/shared/v1/phone.json
  modules/appeals_api/config/schemas/shared/v1/timezone.json
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs.json
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/spec/config/schemas/v2/200996_v2_json_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: none

Make VeteranRecordWsClientException a sidekiq retryable error (#10216)
  lib/evss/disability_compensation_form/service_exception.rb
Labels: console-services-review

adjusts prepare_document_data's document_data (#10204)
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

Update features.yml (#10223)
  config/features.yml
Labels: console-services-review

API-17386 Remove poa field (#10217)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

[44222] Adding extra credential attributes to user creator and user loader that might not necessarily come from MPI (#10219)
  app/models/user_verification.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/user_verification_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review
