Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Avoid using `.empty?` on a variable that can be `nil` (#11280)
  lib/claim_letters/claim_letter_downloader.rb
Labels: console-services-review

Revert "add lighthouse letters service to mobile (#11191)" (#11281)
  config/features.yml
  config/settings.yml
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/letter.rb
  modules/mobile/app/models/mobile/v0/lighthouse_assertion.rb
  modules/mobile/app/models/mobile/v0/lighthouse_params_factory.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/service.rb
  modules/mobile/spec/models/lighthouse_assertion_spec.rb
  modules/mobile/spec/models/lighthouse_params_factory_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_200.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_404.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_503.yml
Labels: mobile, console-services-review

Made service account a common value
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/deployment-bgs-evss.yaml
  chart/templates/lighthouse-pre-configs.yaml
  chart/templates/sa.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.4.3.tgz
Labels: console-services-review

Update parent helm prompt
  .github/workflows/helm_chart_prompt.yml
Labels: console-services-review

Api 21969/stuck records report (#11274)
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/slack/messager.rb
  modules/appeals_api/app/services/appeals_api/slack/stuck_record_notification.rb
  modules/appeals_api/app/workers/appeals_api/daily_stuck_records_report.rb
  modules/appeals_api/spec/services/appeals_api/slack/messager_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_stuck_records_report_spec.rb
Labels: console-services-review

Update settings.yml (#11283)
  config/settings.yml
Labels: console-services-review

Implemented helm test github action (#11286)
  .github/workflows/helm_chart_prompt.yml
  chart/values.yaml
Labels: console-services-review

Claim letter sentry tagging (#11230)
  app/controllers/v0/claim_letters_controller.rb
Labels: console-services-review

Increment bundle cache for GHA (#11301)
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
Labels: console-services-review

Remove rrd_asthma_release_pdf and rrd_add_special_issue toggles (#11212)
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

50260 Fixing BTSSS Claims API failure (#11291)
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/services/travel_claim/client.rb
Labels: console-services-review

add myva drupal flag (#11295)
  config/features.yml
Labels: console-services-review

add excessive logging to troubleshoot (#11294)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: none

Modifying BTSSS claims API request body (#11303)
  modules/check_in/app/services/travel_claim/client.rb
Labels: none

Remove bad address indicator flags (#11298)
  config/features.yml
Labels: console-services-review

[API-20671]: Flip between DVP and vets-api EVSS service (#11261)
  config/features.yml
  config/settings.yml
  lib/evss/disability_compensation_form/dvp/configuration.rb
  lib/evss/disability_compensation_form/dvp/service.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: console-services-review

Api 21955 handle EVSS errors (#11267)
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: none

49855 BTSSS add different headers for production (#11260)
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
Labels: none

DDL: Handle VBMS::FilenumberDoesNotExist error gracefully (#11292)
  lib/claim_letters/claim_letter_downloader.rb
Labels: console-services-review

[bug] Set file number to user SSN for VHA FSR (#11311)
  app/models/form5655_submission.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/models/form5655_submission_spec.rb
Labels: console-services-review

Regenerate appeals docs (#11299)
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
Labels: none

API-21969 Fix Flipper config for daily appeals report (#11314)
  config/features.yml
  modules/appeals_api/app/workers/appeals_api/daily_stuck_records_report.rb
  modules/appeals_api/spec/workers/appeals_api/daily_stuck_records_report_spec.rb
Labels: console-services-review

[11304] Removing unused preferred facilities controller and model (#11305)
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/preferred_facilities_controller.rb
  app/models/account.rb
  app/models/preferred_facility.rb
  app/serializers/preferred_facility_serializer.rb
  app/swagger/swagger/requests/preferred_facilities.rb
  config/routes.rb
  spec/controllers/v0/preferred_facilities_controller_spec.rb
  spec/factories/preferred_facility.rb
  spec/models/preferred_facility_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/preferred_facility_serializer_spec.rb
Labels: console-services-review

Mobile: Add preferred name updating (#11259)
  modules/mobile/app/controllers/mobile/v0/preferred_names_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
  modules/mobile/docs/schemas/GenderIdentityUpdate.yml
  modules/mobile/docs/schemas/PreferredNameUpdate.yml
  modules/mobile/spec/request/preferred_name_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_preferred_name_success.yml
Labels: mobile

4277 parse appointment details from comment (#11273)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

Remove direct_deposit_edu flag (#11310)
  app/policies/ch33_dd_policy.rb
  config/features.yml
  spec/policies/ch33_dd_policy_spec.rb
Labels: console-services-review

50260 Fix for client not authorized to access claims API (#11316)
  modules/check_in/app/services/travel_claim/client.rb
Labels: none

[11304] Drop preferred facilities table (#11315)
  db/migrate/20221206191853_drop_preferred_facilities.rb
  db/schema.rb
Labels: console-services-review

update PR template (#11293)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: console-services-review

BE feature toggle created for CST's migration to the Lighthouse API (#11285)
  config/features.yml
Labels: console-services-review

add Holden Hinkle to Flipper admin email list (#11324)
  config/settings.yml
Labels: console-services-review

Moved report recipients from settings to in repo config files (#11290)
  modules/appeals_api/app/mailers/appeals_api/daily_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/app/workers/concerns/appeals_api/report_recipients_reader.rb
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_daily_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_weekly_spec.rb
Labels: none

Remove direct_deposit_cnp flag (#11321)
  app/policies/ppiu_policy.rb
  config/features.yml
  modules/mobile/spec/support/iam_session_helper.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/policies/ppiu_policy_spec.rb
Labels: mobile, console-services-review

Revert "Moved report recipients from settings to in repo config files (#11290)" (#11332)
  modules/appeals_api/app/mailers/appeals_api/daily_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/app/workers/concerns/appeals_api/report_recipients_reader.rb
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_daily_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_weekly_spec.rb
Labels: none

Api 21920 service branch naming (#11258)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/lib/claims_api/service_branch_mapper.rb
  modules/claims_api/spec/lib/claims_api/service_branch_mapper_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: none

adds additional logging for 499 (#11334)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: none

[50438] Display only notification letters on the COE status page. (#11335)
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

[#661] Remove auth check in dev env for claims (#11326)
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
Labels: console-services-review

Allow user to be nil in DMC base class (#11336)
  lib/debt_management_center/base_service.rb
Labels: console-services-review

Remove mulesoft v1 code (#11136)
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/services/form1010cg/service.rb
  app/swagger/swagger/requests/caregivers_assistance_claims.rb
  app/workers/form1010cg/deliver_attachments_job.rb
  config/features.yml
  lib/carma/client/mule_soft_client.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/jobs/form1010cg/deliver_attachments_job_spec.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/requests/caregivers_assistance_claims_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review
