Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

API-14738 Log Caseflow::Service.get_contestable_issues errors (#9543)
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/contestable_issues_controller.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: none

Normalize responses with the same example UUIDs and timestamps (#9544)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
Labels: none

Added feature flag for forthcoming combined debt experience (#9515)
  config/features.yml
Labels: console-services-review

final payload updates (#9538)
  app/models/saved_claim/coe_claim.rb
  spec/factories/coe_claim.rb
Labels: console-services-review

API-14634 - Add claims submission logging (#9500)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/app/workers/claims_api/claim_uploader.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/app/workers/claims_api/vbms_updater.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: none

Add required fields back to HCA long form (#9503)
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

API-14936: Remove invalid value from sample 526 POST request (#9540)
  modules/claims_api/app/swagger/claims_api/forms/form_526_example.json
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/post_examples/526.json
Labels: none

[35662] inherited_proofing controller & authentication request to Login.gov (#9453)
  app/controllers/inherited_proofing_controller.rb
  config/routes.rb
  config/settings.yml
  lib/inherited_proofing/logingov/configuration.rb
  lib/inherited_proofing/logingov/service.rb
  lib/inherited_proofing/logingov/templates/oauth_get_form.html.erb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/lib/inherited_proofing/logingov/service_spec.rb
Labels: console-services-review

API-14939: Fix date parsing in claims v2 mapper (#9542)
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
Labels: none

DHP-92 Navigation to consent selection at Fitbit (#9548)
  Gemfile
  Gemfile.lock
  config/features.yml
  config/settings.yml
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/apidocs_controller.rb
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/docs/dhp_connected_devices.yaml
  modules/dhp_connected_devices/bin/rails
  modules/dhp_connected_devices/config/initializers/fitbit_api.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/lib/fitbit/client.rb
  modules/dhp_connected_devices/lib/fitbit/configuration.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/apidocs_controller_spec.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/lib/fitbit_client_spec.rb
Labels: console-services-review

Updated COE submission to return reference number (#9514)
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  lib/lgy/service.rb
  spec/factories/coe_claim.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/application_put.yml
Labels: console-services-review

2832: EVSS errors (#9521)
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

Added edit messaging feature flag. (#9552)
  config/features.yml
Labels: console-services-review

API-13065: Claims v2 error handling (#9444)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/common/exceptions/token_validation_error.rb
  modules/claims_api/lib/claims_api/error/error_handler.rb
  modules/claims_api/spec/lib/claims_api/error/error_handler_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  spec/support/schemas/claims_api/v2/errors/default.json
Labels: console-services-review

API-9548 Remove V1 Lighthouse Token Validation Service (#9547)
  modules/openid_auth/README.yml
  modules/openid_auth/app/controllers/openid_auth/docs/v1/validation_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v1/validation_controller.rb
  modules/openid_auth/app/serializers/openid_auth/validation_serializer.rb
  modules/openid_auth/config/routes.rb
  modules/openid_auth/spec/requests/api_docs_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
Labels: none

Add people back to mailer (#9557)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: none

API-14930 - ClaimsApi - Add title10 'anticipatedSeparationDate' validation (#9550)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

Update Dockerfile to install Poppler version 22 (#9558)
  Dockerfile
  app/models/evss_claim_document.rb
  app/models/form_attachment.rb
Labels: console-services-review

install poppler-utils from bookworm distro (#9504)
  Dockerfile
Labels: console-services-review

VaNotify email job (#9524)
  app/workers/bgs/submit_form686c_job.rb
  config/features.yml
  config/settings.yml
  modules/va_notify/app/workers/va_notify/email_job.rb
  modules/va_notify/spec/workers/email_job_spec.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
Labels: console-services-review

Add appeal created_at to PDFSubmitJob error reporting (#9545)
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
Labels: none

Use single template for Hypertension PDF (#9523)
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/hypertension.erb
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  app/services/rapid_ready_for_decision/views/shared/intro.erb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_medication_data_are_nil/continues_rendering_with_message.yml
Labels: console-services-review

[39040] Adding inherited proofing user attributes route, taking an encoded JWT with an auth code and returning encrypted user attribute data (#9516)
  Gemfile
  Gemfile.lock
  app/controllers/inherited_proofing_controller.rb
  config/routes.rb
  config/settings.yml
  lib/inherited_proofing/errors.rb
  lib/inherited_proofing/jwt_decoder.rb
  lib/inherited_proofing/mhv/inherited_proofing_verifier.rb
  lib/inherited_proofing/user_attributes_encryptor.rb
  lib/inherited_proofing/user_attributes_fetcher.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/fixtures/logingov/oauth_pub.key
  spec/lib/inherited_proofing/jwt_decoder_spec.rb
  spec/lib/inherited_proofing/mhv/inherited_proofing_verifier_spec.rb
  spec/lib/inherited_proofing/user_attributes_encryptor_spec.rb
  spec/lib/inherited_proofing/user_attributes_fetcher_spec.rb
Labels: console-services-review

Updating brakeman to 5.2.2 (#9567)
  Gemfile.lock
Labels: console-services-review

[35634] Adding inherited proofing callback after login.gov authentication success (#9555)
  app/controllers/inherited_proofing_controller.rb
  config/routes.rb
  lib/inherited_proofing/errors.rb
  spec/controllers/inherited_proofing_controller_spec.rb
Labels: console-services-review

39128: Additional MHV Inherited Proofing Flippers (#9535)
  config/features.yml
Labels: console-services-review

RRD: refactor to use new RRD concern (#9537)
  app/mailers/rrd_completed_mailer.rb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

rename mobile appointments param to include pending from 'included' to 'include' (#9566)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/contracts/get_paginated_list.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
Labels: mobile

RRD: Fix boolean bug preventing claims from adding special issue (#9570)
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/adds_a_special_issue_to_the_submission.yml
Labels: console-services-review

[39718] Adding a transaction to database interactions with user verifier (#9572)
  app/services/login/user_verifier.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

38679 Custom cookie in check-in experience for low auth token (#9509)
  config/features.yml
  modules/check_in/app/controllers/check_in/application_controller.rb
  modules/check_in/app/controllers/check_in/v2/demographics_controller.rb
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/pre_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

Update 686c email confirmation details (#9576)
  app/workers/bgs/submit_form686c_job.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
Labels: console-services-review

Ignores IntelliJ files ending in .iml (#9578)
  .gitignore
Labels: console-services-review

update enrollment endpoint to match java service (#9583)
  modules/meb_api/app/serializers/enrollment_serializer.rb
  modules/meb_api/lib/dgi/enrollment/response.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  spec/support/vcr_cassettes/dgi/enrollment.yml
Labels: console-services-review

updates inherited_proofing callback url (#9568)
  config/settings.yml
  lib/inherited_proofing/logingov/configuration.rb
Labels: console-services-review

Update puma.rb (#9565)
  config/puma.rb
Labels: console-services-review

Adding Temporary auth code mock to aid in testing for inherited proofing (#9581)
  lib/inherited_proofing/user_attributes_fetcher.rb
Labels: console-services-review

updates logingov public key filename (#9586)
  config/settings.yml
  spec/fixtures/logingov/logingov_oauth_pub.pem
Labels: console-services-review

Cleaning up thoughtworks flipper admins (#9590)
  config/settings.yml
Labels: console-services-review

1095b (#9423)
  app/controllers/v0/form1095_bs_controller.rb
  app/models/form1095_b.rb
  app/policies/form1095_policy.rb
  config/routes.rb
  lib/pdf_fill/forms/pdfs/f1095bs/1095b-2021.pdf
  spec/factories/form1095_bs.rb
  spec/models/form1095_b_spec.rb
  spec/policies/form1095_policy_spec.rb
  spec/requests/form1095_b_spec.rb
Labels: console-services-review
