Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

add V2 VAOS appointment cancel to cancel endpoint (#10209)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/cancel_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/cancel_appointment_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/cancel_appointment_500.yml
Labels: mobile

Updates VCR Configuration in service tests (#10218)
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/eligibility/service_spec.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/dgi/fry_dea/service_spec.rb
  modules/meb_api/spec/dgi/submission/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  modules/meb_api/spec/requests/toes_spec.rb
  spec/support/vcr_cassettes/dgi/enrollment.yml
  spec/support/vcr_cassettes/dgi/fry_post_sponsor.yml
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_toe_letter.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
  spec/support/vcr_cassettes/dgi/service_get_eligibility.yml
  spec/support/vcr_cassettes/dgi/submit_claim.yml
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

Updating logingov service client_id (#10232)
  config/settings.yml
Labels: console-services-review

add yaml to VC for Developer Hub (#10234)
  modules/veteran_confirmation/catalog-info.yaml
Labels: none

Add DEA/Fry (5490E) Form ID (#10229)
  app/models/form_profile.rb
  app/models/form_profiles/va_5490e.rb
Labels: console-services-review

Api 17384 fix camel case (#10224)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_files/request.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
  spec/support/schemas/claims_api/v2/veterans/intent_to_files/intent_to_file.json
Labels: console-services-review

Refactor shared schemas spec to use shared_examples (#10228)
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
Labels: none

[42315] Adding job that cleans up expired OAuthSessions for Sign in Service (#10236)
  app/workers/sign_in/delete_expired_sessions_job.rb
  config/sidekiq_scheduler.yml
  spec/jobs/sign_in/delete_expired_sessions_job_spec.rb
Labels: console-services-review

Add links from duplicated vets-api catalog file (#10244)
  catalog-info.yaml
Labels: console-services-review

[43096] Adds context, clientid, acr, to SiS StatsD (#10121)
  app/controllers/v0/sign_in_controller.rb
  app/models/iam_user_identity.rb
  app/services/sign_in/user_loader.rb
  config/initializers/statsd.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/user_loader_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

44153 Deprecating custom cookie feature flag (#10226)
  config/features.yml
  modules/check_in/app/controllers/check_in/application_controller.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

Add cancel capability to long running jobs (#10252)
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
Labels: none

API-17456 Add supplemental_claims to list of contestable issues appeal types in documentaiton (#10225)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
Labels: none

[10246] Removing secure setting from SiS info_token (#10251)
  app/services/sign_in/token_serializer.rb
  config/settings.yml
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

[10248] Updating sso logging info to be compatible with sign in service (#10249)
  app/controllers/concerns/authentication_and_sso_concerns.rb
Labels: console-services-review

API-17135-Poa-service-branch-updates (#10182)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/2122.json
Labels: none

API-15186-Add-Service-branch (#10161)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/lib/claims_api/service_branch_mapper_spec.rb
Labels: none

[10247] Adding multifactor field on user model for Sign in Service (#10250)
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

[44156] Deleting Sign in Service cookies when sign_in/authorize is called (#10233)
  app/controllers/v0/sign_in_controller.rb
Labels: console-services-review

add vaos preference endpoints to mobile (#10241)
  modules/mobile/app/controllers/mobile/v0/appointment_preferences_controller.rb
  modules/mobile/app/serializers/mobile/v0/appointment_preferences_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentPreferences.yml
  modules/mobile/docs/schemas/AppointmentPreferencesRequest.yml
  modules/mobile/spec/request/appointments_preferences_request_spec.rb
  modules/mobile/spec/support/schemas/appointment_preferences.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_preferences.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_preferences.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_preferences_minimal_payload.yml
Labels: mobile

API-17394 Part 1 Eventing breakup - create new appeal received job and spec (#10239)
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: none

Add and update new status updated job and spec (#10242)
  modules/appeals_api/app/workers/appeals_api/status_updated_job.rb
  modules/appeals_api/spec/workers/status_updated_job_spec.rb
Labels: none

API-17394 Part 3 Eventing breakup - refactor hlr #update_status (#10255)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
Labels: none

Refactor #update_status on nod model (#10259)
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: none

API-17394 Part 5 Eventing breakup - refactor sc #update_status (#10260)
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

[10258] Adding ability to set domain for info cookie for Sign in Service (#10262)
  app/services/sign_in/token_serializer.rb
  config/settings.yml
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

VA Notify 366: 21P-530 Confirmation Email Trigger (#10181)
  app/models/saved_claim/burial.rb
  app/workers/structured_data/process_data_job.rb
  config/features.yml
  config/settings.yml
  spec/factories/burial_claim.rb
  spec/jobs/structured_data/process_data_job_spec.rb
  spec/models/saved_claim/burial_spec.rb
Labels: console-services-review

VaNotify - Add in progress form_age (#10256)
  config/features.yml
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: console-services-review

Manifest file for TechDocs for Console UI. (#10187)
  mkdocs.yaml
Labels: console-services-review

flipper access for josh mills (#10268)
  config/settings.yml
Labels: console-services-review

add yaml to VV for Developer Hub (#10245)
  modules/veteran_verification/catalog-info.yaml
Labels: none

updates statsd tags to "type" (#10272)
  config/initializers/statsd.rb
Labels: console-services-review

VA Notify 489: Fix formatting for 21P-530 confirmation email (#10274)
  app/workers/structured_data/process_data_job.rb
  spec/jobs/structured_data/process_data_job_spec.rb
Labels: console-services-review

Api 17454 remove links (#10254)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

[44598] SiS Statsd Tag Separation (#10279)
  app/controllers/v0/sign_in_controller.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

API-17441 & API-17444 - documentation updates (#10263)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/contestable_issues.yml
Labels: console-services-review

Update nod controllers and v1 fixtures (#10261)
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/valid_10182_headers.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
Labels: none

API-17394 Part 8 Eventing breakup - delete event related specs (#10269)
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/handler_spec.rb
  modules/appeals_api/spec/workers/appeals_api/events_worker_spec.rb
Labels: none

API-17394 Part 7 Eventing breakup - refactor hlr & sc controller specs (#10267)
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

API-17394 Part 9 Eventing breakup - delete appeal received and status updated event files (#10270)
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/app/services/appeals_api/events/status_updated.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/status_updated_spec.rb
Labels: none
