Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Api 25291 contention list updates (#12277)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

[55722] Fixing typo in latest sign in service redirect script change that broke auth on lowers environments (#12281)
  app/controllers/v0/sign_in_controller.rb
Labels: console-services-review

API-23700-remove-attributes (#12280)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Updated Gemfile.lock (#12226)
  Gemfile.lock
Labels: console-services-review

Add new service for Letters App migration (#12183)
  config/settings.yml
  lib/lighthouse/letters_generator/configuration.rb
  lib/lighthouse/letters_generator/service.rb
  lib/lighthouse/letters_generator/service_error.rb
  spec/lib/lighthouse/letters_generator/fakeResponses/fakeBadRequest.json
  spec/lib/lighthouse/letters_generator/fakeResponses/fakeResponse.json
  spec/lib/lighthouse/letters_generator/fakeResponses/fakeUnauthorized.json
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

Revert "disable http_origin rack_protection in flipper (#12267)"
  config/routes.rb
Labels: console-services-review

Update ddtrace to 1.10 (#12285)
  Gemfile.lock
Labels: console-services-review

Fix boot error
  lib/va_profile/exceptions/parser.rb
Labels: console-services-review

Upgrade to Ruby 3.1
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/setup/native.md
Labels: console-services-review

RuboCop: Auto correct Naming/BlockForwarding
  config/initializers/integration_recorder.rb
  lib/common/hash_helpers.rb
  lib/debt_management_center/base_service.rb
  lib/decision_review/service.rb
  lib/decision_review_v1/service.rb
  lib/evss/base_service.rb
  lib/evss/intent_to_file/response_strategy.rb
  lib/evss/pciu_address/response_strategy.rb
  lib/evss/reference_data/response_strategy.rb
  lib/evss/service.rb
  lib/mdot/client.rb
  lib/sidekiq_stats_instrumentation/server_middleware.rb
  modules/mobile/app/models/mobile/v0/contracts/pagination_base.rb
  spec/support/okta_users_helpers.rb
Labels: mobile, console-services-review

Spec Fix: Mobile Claims and Appeals request spec
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile

RuboCop: Auto correct Style/ArrayIntersect
  app/controllers/openid_application_controller.rb
Labels: console-services-review

Implemented Expiry Scanner for vets-api (#12278)
  app/models/expiry_scanner.rb
  config/settings.yml
Labels: console-services-review

API-25265-tracked-items-attribute-names (#12279)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Include MHV in organic experiment (#12195)
  app/services/acceptable_verified_credential_adoption_service.rb
  config/features.yml
  spec/requests/v0/user_transition_availabilities_controller_spec.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

Omit contention text from RRD-to-MAS handoff tracking emails (#12288)
  app/mailers/views/rrd_mas_notification_mailer.html.erb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/mailers/rrd_mas_notification_mailer_spec.rb
Labels: console-services-review

Change vagov_info_token to JSON (#12161)
  app/services/sign_in/token_serializer.rb
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

API-24392: Add Feature Flag Monitoring Job for `VBADocuments` (#12256)
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/services/vba_documents/slack/hash_notification.rb
  modules/vba_documents/app/services/vba_documents/slack/messenger.rb
  modules/vba_documents/app/workers/vba_documents/flipper_status_alert.rb
  modules/vba_documents/config/flipper/enabled_features.yml
  modules/vba_documents/spec/services/vba_documents/slack/hash_notification_spec.rb
  modules/vba_documents/spec/services/vba_documents/slack/messenger_spec.rb
  modules/vba_documents/spec/workers/flipper_status_alert_spec.rb
Labels: console-services-review

Fixed spec fails (#12293)
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

Add vsp environment and description text to ExpiryScanner job (#12289)
  app/models/expiry_scanner.rb
Labels: console-services-review

Adds Daniel Sasser to admin user list; (#12291)
  config/settings.yml
Labels: console-services-review

Update flipper email for Adrian Rollett (#12295)
  config/settings.yml
Labels: console-services-review

Upgrade Ruby to 3.2
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/setup/native.md
Labels: console-services-review

RuboCop: Correct Lint/RedundantRequireStatement
  rakelib/form526.rake
Labels: console-services-review

Revert "Spec Fix: Mobile Claims and Appeals request spec"
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile

API-24392: Remove test feature from `VBADocuments` enabled_features config (#12300)
  modules/vba_documents/config/flipper/enabled_features.yml
  modules/vba_documents/spec/workers/flipper_status_alert_spec.rb
Labels: none

[12301] Removing Sidekiq DowntimeChecker middleware and using regular sidekiq retries instead (#12302)
  .rubocop_todo.yml
  app/workers/bgs/job.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  config/initializers/sidekiq.rb
  lib/down_time_checker.rb
  lib/sidekiq/downtime_checker_middleware.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/lib/down_time_checker_spec.rb
  spec/lib/sidekiq/downtime_checker_middleware_spec.rb
  spec/rails_helper.rb
Labels: console-services-review

Fixing non-retryable non-triggering of backup claim submissions (#12298)
  app/models/form526_submission.rb
  config/settings.yml
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

MHV-41341: download immunizations scaffolding complete (#12282)
  modules/my_health/app/controllers/my_health/phr_controller.rb
  modules/my_health/app/controllers/my_health/v1/vaccines_controller.rb
  modules/my_health/app/services/my_health/pdf_construction/generator.rb
  modules/my_health/config/routes.rb
Labels: none

55597 mocked auth data profiles (#12232)
  modules/mocked_authentication/app/controllers/mocked_authentication/credential_controller.rb
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/mockdata/reader.rb
  modules/mocked_authentication/lib/mockdata/writer.rb
  modules/mocked_authentication/spec/fixtures/credential_mock_data/credentials/logingov/vetsgovuser0.json
  modules/mocked_authentication/spec/fixtures/credential_mock_data/credentials/logingov/vetsgovuser1.json
  modules/mocked_authentication/spec/fixtures/credential_mock_data/credentials/logingov/vetsgovuser228.json
  modules/mocked_authentication/spec/lib/mockdata/reader_spec.rb
  modules/mocked_authentication/spec/lib/mockdata/writer_spec.rb
  modules/mocked_authentication/spec/requests/credential_request_spec.rb
Labels: none

Update Ruby to 3.1.4 (CVE) (#12305)
  .github/workflows/code_checks.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/setup/native.md
Labels: console-services-review

GHA: Revert ruby/setup-ruby to @v1 (#12306)
  .github/workflows/code_checks.yml
Labels: console-services-review

Update danger's ubunut version for Ruby 3.1.4 (#12307)
  .github/workflows/danger.yml
Labels: console-services-review

Lighthouse direct deposit (#12292)
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  lib/lighthouse/direct_deposit/client.rb
  lib/lighthouse/direct_deposit/configuration.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/error.rb
  lib/lighthouse/direct_deposit/parsers/bad_request_parser.rb
  lib/lighthouse/direct_deposit/parsers/denied_request_parser.rb
  lib/lighthouse/direct_deposit/parsers/error_parser.rb
  lib/lighthouse/direct_deposit/parsers/invalid_creds_parser.rb
  lib/lighthouse/direct_deposit/payment_account.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  lib/lighthouse/direct_deposit/payment_information_response.rb
  lib/lighthouse/direct_deposit/service.rb
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
  spec/lib/lighthouse/direct_deposit/error_spec.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/invalid_client_id_400.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/400_invalid_scopes.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/401_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/403_response.yml
Labels: console-services-review

Upgrade Ruby to 3.2
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/setup/native.md
Labels: console-services-review

Upgrade Ruby to 3.2 (#12296)
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/setup/native.md
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  rakelib/form526.rake
Labels: mobile, console-services-review

Fix badly anchored regex (#12315)
  modules/vba_documents/lib/vba_documents/upload_validator.rb
Labels: none

RX log clean up (#12303)
  lib/rx/configuration.rb
  lib/rx/middleware/response/rx_parser.rb
Labels: console-services-review

API-24392: Modify `VBADocuments` Feature Flag Slack Alert (#12312)
  modules/vba_documents/app/workers/vba_documents/flipper_status_alert.rb
  modules/vba_documents/spec/workers/flipper_status_alert_spec.rb
Labels: none

'API-25271-tracked-items-uploaded-always-false (#12275)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none
