Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

39154 removed unused vaos v0 cce controller (#12019)
  modules/vaos/app/controllers/vaos/v0/cc_eligibility_controller.rb
Labels: vaos

fix failure (#12035)
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
Labels: none

WIP fix: failing to reference file (#12034)
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: none

Update SiS localhost oauth and token signing certs (#11995)
  spec/fixtures/sign_in/oauth.crt
  spec/fixtures/sign_in/oauth.key
  spec/fixtures/sign_in/oauth_test.crt
  spec/fixtures/sign_in/oauth_test.key
  spec/fixtures/sign_in/privatekey.pem
  spec/lib/sign_in/idme/service_spec.rb
Labels: console-services-review

Refactor 5490 and 1990 email confirmation logic location (#12020)
  app/models/saved_claim/education_benefits.rb
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_5490.rb
  spec/models/saved_claim/education_benefits/va1990_spec.rb
  spec/models/saved_claim/education_benefits/va5490_spec.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

Update deploy.yml
  .github/workflows/deploy.yml
Labels: console-services-review

removed unused v0 cc supported sites implementation (#12036)
  modules/vaos/app/controllers/vaos/v0/cc_supported_sites_controller.rb
  modules/vaos/app/services/vaos/cc_supported_sites_service.rb
  modules/vaos/spec/request/cc_supported_sites_request_spec.rb
  modules/vaos/spec/services/cc_supported_sites_service_spec.rb
Labels: vaos

removed vaos v0 messages controller and request specs (#12023)
  modules/vaos/app/controllers/vaos/v0/messages_controller.rb
  modules/vaos/app/serializers/vaos/v0/messages_serializer.rb
  modules/vaos/spec/request/messages_request_spec.rb
Labels: vaos

removed vaos v0 messages serializer and rspecs (#12025)
  modules/vaos/app/models/vaos/message_form.rb
  modules/vaos/app/services/vaos/messages_service.rb
  modules/vaos/spec/models/message_form_spec.rb
  modules/vaos/spec/services/messages_service_spec.rb
Labels: vaos

Revert "Update deploy.yml"
  .github/workflows/deploy.yml
Labels: console-services-review

Ruby 3 upgrade: Fix /modules/mobile/spec/request/user_request_spec.rb (#12027)
  app/models/iam_user.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile, console-services-review

fix spec (#12038)
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
Labels: none

Use va profile military personnel api to prefill 1010ez form (#11858)
  app/models/form_profile.rb
  config/features.yml
  config/form_profile_mappings/1010ez.yml
  lib/hca/military_information.rb
  lib/va_profile/models/service_history.rb
  spec/lib/hca/military_information_spec.rb
  spec/models/form_profile_spec.rb
Labels: console-services-review

Update appeals API oauth docs with actual scopes (#12033)
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/appeals_status_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Ruby 3 KwArgs: Fix Vaos Logging Spec (#12032)
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
Labels: vaos

fix all failing examples in intent_to_files_request_spec (#12040)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/intent_to_file_blueprint.rb
Labels: none

GHA code check cleanup (#12018)
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
Labels: console-services-review

Monitor RRD/MAS handoff successes and failures with StatsD (#12021)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

Forms API: add pdf extension (#12051)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
Labels: none

Disable Coverband in test environment (#12053)
  Gemfile
  config/routes.rb
Labels: console-services-review

Removed VAOS v0 Appointment Controller and Some Rspecs (#12047)
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/spec/request/appointments_request_spec.rb
Labels: vaos

VBA Documents: Unsuccessful report mailer would frequently fail (#12054)
  modules/vba_documents/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: none

GitHub Actions: Use less CPU cores (#12058)
  .github/workflows/code_checks.yml
Labels: console-services-review

Updated imagePullPolicy and restartPolicy and mounted volumes (#12061)
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.03.tgz
Labels: console-services-review

GitHub Actions: Use 13 CPU cores (#12060)
  .github/workflows/code_checks.yml
Labels: console-services-review

MBMS-37683 incremented version and changed revision (#11971)
  Gemfile.lock
Labels: console-services-review

fix kwargs issue (#12059)
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
Labels: mobile

Revert "MBMS-37683 incremented version and changed revision (#11971)" (#12065)
  Gemfile.lock
Labels: console-services-review

Use token validation service v3 for appeals OAuth (#12029)
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
  rakelib/appeals_api_oauth.rake
  spec/support/vcr_cassettes/token_validation/v3/indicates_token_is_invalid.yml
  spec/support/vcr_cassettes/token_validation/v3/indicates_token_is_valid.yml
Labels: console-services-review

MBMS-37863 New Commit Hash (#12067)
  Gemfile.lock
Labels: console-services-review

Add more jobs to the sidekiq hpa (#12066)
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review

4910 update docs for authorizedServices and availableServices (#12046)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/User.yml
  modules/mobile/docs/schemas/v1/User.yml
Labels: mobile

Updating engine spec helper template and unnecessary functions (#12064)
  lib/generators/module/templates/spec/spec_helper.rb.erb
  modules/appeals_api/spec/spec_helper.rb
  modules/apps_api/spec/spec_helper.rb
  modules/check_in/spec/spec_helper.rb
  modules/claims_api/spec/spec_helper.rb
  modules/covid_research/spec/spec_helper.rb
  modules/debts_api/spec/spec_helper.rb
  modules/dhp_connected_devices/spec/spec_helper.rb
  modules/facilities_api/spec/spec_helper.rb
  modules/forms_api/spec/spec_helper.rb
  modules/health_quest/spec/spec_helper.rb
  modules/meb_api/spec/spec_helper.rb
  modules/openid_auth/spec/spec_helper.rb
  modules/va_forms/spec/spec_helper.rb
  modules/va_notify/spec/spec_helper.rb
  modules/vba_documents/spec/spec_helper.rb
  modules/veteran/spec/spec_helper.rb
  modules/veteran_confirmation/spec/spec_helper.rb
  modules/veteran_verification/spec/spec_helper.rb
Labels: console-services-review

Lighthouse direct deposit (#12055)
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  app/policies/lighthouse_policy.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
  spec/policies/lighthouse_policy_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/403_response.yml
Labels: console-services-review

Api 24396 faraday poa history (#12039)
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/models/veteran/service/user_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
  modules/veteran/spec/models/veteran/user_spec.rb
Labels: none

Api 24569 itf v2 oas updates (#11994)
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
Labels: none

Changes 401 message to match docs (#12044)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/lib/claims_api/common/exceptions/token_validation_error.rb
  modules/claims_api/spec/lib/claims_api/error/error_handler_spec.rb
Labels: none

fix failing tests (#12074)
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: none

removed no longer needed vaos v0 request rspecs (#12057)
  modules/vaos/spec/request/appointments_request_spec.rb
Labels: vaos

[11945] Creating logout redirects for sign in service that are dependent on client id setups (#11973)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/client_config.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/logout_redirect_generator.rb
  db/seeds/development.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/client_configs.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/logout_redirect_generator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
