Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Fix capitalization of first name (#9630)
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: none

RRD: Extract RRD processor from Sidekiq job - part 1 (#9577)
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/sidekiq_job_selector_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_perform/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/failure/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call_and_emails_the_engineers.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/marks_the_new_Form526JobStatus_record_as_successful.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/the_claim_IS_for_hypertension/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/when_the_user_uuid_is_not_associated_with_an_Account_AND_the_edipi_auth_header_is_present/finishes_successfully.yml
Labels: console-services-review

Logging for mobile payment history filtering (#9639)
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
Labels: mobile

Add missing decisionDate validations to HLR & SC (#9643)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

API-13154 Update NOD v2 Production Documentation (#9641)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: none

38796 demographics service object (#9627)
  config/settings.yml
  lib/va_profile/demographics/configuration.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/gender_identity.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/support/vcr_cassettes/va_profile/demographics/demographics.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

RRD: Extract RRD processor from Sidekiq job - part 2 (#9596)
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/failure/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call_and_emails_the_engineers.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/marks_the_new_Form526JobStatus_record_as_successful.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_is_NOT_for_hypertension/returns_from_the_class_if_the_claim_observations_does_NOT_include_bp_readings_from_the_past_year.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/when_the_user_uuid_is_not_associated_with_an_Account_AND_the_edipi_auth_header_is_present/finishes_successfully.yml
Labels: console-services-review

RRD: Extract RRD processor from Sidekiq job - part 3 (#9597)
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_assess_data/when_there_are_active_medication_requests/returns_the_active_medication_requests.yml
Labels: console-services-review

Update prod docs with SC (#9644)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: none

2792 update appointments to use mfs for facilities lookup (#9612)
  config/features.yml
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_mfs_facilities.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile, console-services-review

Api 13927 organize additional page directories (#9645)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/pages/v2/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/pages/hearing_type_and_additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/additional_content_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/time_extension_reason_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages_spec.rb
Labels: none

Make NODv2 pdf page class name more descriptive (#9650)
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/long_data_and_extra_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/long_data_and_extra_issues_spec.rb
Labels: none

Update lower env docs with latest changes (#9649)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: none

(feature) added new flip (#9624)
  config/features.yml
Labels: console-services-review

Asthma PDF: move medication flagging logic into asthma job class (#9620)
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/asthma/about.erb
  app/services/rapid_ready_for_decision/views/asthma/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/hypertension/about.erb
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  app/services/rapid_ready_for_decision/views/hypertension/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_assess_data/correctly_orders_potential_asthma-related_medication_to_appear_first.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_assess_data/flags_potential_asthma-related_medication.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/when_potential_asthma-related_medication_is_available/flags_potential_asthma-related_medication.yml
Labels: console-services-review

fix long form required fields validation bug (#9653)
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

add user to feature toggle admin users (#9655)
  config/settings.yml
Labels: console-services-review

[39796] Unified Sign In `application` parameter validation (#9600)
  lib/saml/url_service.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: console-services-review

Update attribute properties for ClaimsApi::Veteran (#9642)
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

Va virtual agent 439 Reconnect to a chatbot conversation (#9661)
  app/controllers/v0/virtual_agent_token_controller.rb
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_token_success.yml
Labels: console-services-review

removed logging that is no longer necessary (#9657)
  lib/iam_ssoe_oauth/session_manager.rb
Labels: console-services-review

RRD: Add link_to helper to make hyperlinks consistent (#9638)
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/asthma/about.erb
  app/services/rapid_ready_for_decision/views/asthma/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/hypertension/about.erb
  app/services/rapid_ready_for_decision/views/hypertension/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/shared/_link_to.erb
Labels: console-services-review

RRD: refactor release_pdf method (#9633)
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/support/vcr_cassettes/rrd/hypertension.yml
Labels: console-services-review

Mobile Payment History Scheduled Payment Filtering (#9666)
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/payment_history_adapter.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/payment_history/retrieve_payment_summary_with_bdn_only_blank_dates.yml
Labels: mobile

RDD: Warn if multiple Account records with different ICNs found (#9656)
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

RRD: increase RRD job retry limit (#9670)
  app/services/rapid_ready_for_decision/lighthouse_medication_request_data.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
Labels: console-services-review

API-15088 - ClaimsApi - Set "doctype" for 526 attachment uploads (#9671)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: none

fix missing email bug for payment history (#9665)
  app/models/iam_user.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
  spec/factories/iam_users.rb
Labels: mobile, console-services-review

38797 return pi data (#9660)
  app/controllers/v0/profile/personal_informations_controller.rb
  app/serializers/personal_information_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/requests/personal_information_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/personal_information_serializer_spec.rb
  spec/support/schemas/personal_information_response.json
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

API-15140: Claims API - Update string property validation for 526 submissions (#9667)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

[API-15088] - ClaimsApi - Ensure Unique FileNames for 526 Binary Attachments (#9673)
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: none

update json schema (#9569)
  Gemfile.lock
  spec/fixtures/hca/conformance/missing-booleans.json
Labels: console-services-review

Revert "38797 return pi data (#9660)" (#9677)
  app/controllers/v0/profile/personal_informations_controller.rb
  app/serializers/personal_information_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/requests/personal_information_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/personal_information_serializer_spec.rb
  spec/support/schemas/personal_information_response.json
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

(feature) added new flip for Authenticated Experience (#9678)
  config/features.yml
Labels: console-services-review

Api 14342 fix overlapping pdf fields (#9654)
  lib/central_mail/datestamp_pdf.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/stamper.rb
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
Labels: console-services-review

API-15223 - ClaimsApi - Add missing betamock config for EVSS referencedata countries call (#9683)
  config/betamocks/services_config.yml
Labels: console-services-review

RRD: rename method rrd_job_selector (#9682)
  app/models/form526_submission.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
Labels: console-services-review

Console UI Catalog File for the vets-api Rails App (#9679)
  catalog-info.yaml
Labels: console-services-review

Revert "Revert "38797 return pi data (#9660)" (#9677)" (#9681)
  app/controllers/v0/profile/personal_informations_controller.rb
  app/serializers/personal_information_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/requests/personal_information_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/personal_information_serializer_spec.rb
  spec/support/schemas/personal_information_response.json
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

Profile gender identity (#9689)
  lib/va_profile/models/gender_identity.rb
  spec/lib/va_profile/models/gender_identity_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
