Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

direct schedule controller and spec cleanup (#12078)
  modules/vaos/app/controllers/vaos/v0/direct_booking_eligibility_criteria_controller.rb
  modules/vaos/app/controllers/vaos/v0/direct_scheduling_facilities_controller.rb
  modules/vaos/spec/request/direct_booking_eligiblity_criteria_request_spec.rb
Labels: vaos

Adding logging and adjusting form4142 triggering logic (#12072)
  app/controllers/v1/supplemental_claims_controller.rb
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/decision_review_v1/utilities/helpers.rb
Labels: console-services-review

Adds elsif to add phase_change_date when the bgs_details are provided. Can't test because I can't ssh to our upstream services (#12041)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

Increase sidekiq hpa cron job (#12073)
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review

removed no longer needed vaos v0 appointment request rspecs (#12079)
  modules/vaos/spec/request/appointment_requests_request_spec.rb
Labels: vaos

fix failing test (#12081)
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/structure.rb
Labels: none

Removed sidekiq hpa testing cron job" (#12083)
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review

Mobile: 4897 decision letters download (#12017)
  modules/mobile/app/controllers/mobile/v0/decision_letters_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/decision_letters_request_spec.rb
Labels: mobile

fix failing tests (#12084)
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
Labels: none

Ruby 3 Upgrade: Fix modules/appeals_api/ tests (#12082)
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
Labels: none

fix failing tests (#12077)
  modules/covid_vaccine/app/jobs/covid_vaccine/expanded_submission_state_job.rb
Labels: none

Ruby 3 Upgrade: Fix tests in modules/check_in/ specs (#12086)
  modules/check_in/spec/request/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v1/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v1/sessions_request_spec.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
Labels: none

Removing logging of user uuid and icn, I dont think they are PII, but no need to do this just incase (#12095)
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/service.rb
Labels: console-services-review

removed vaos v0 appointment requests controller (#12085)
  modules/vaos/app/controllers/vaos/v0/appointment_requests_controller.rb
  modules/vaos/spec/request/appointments_request_spec.rb
Labels: vaos

Ruby 3 KwArgs: Fix Prescriptions Request spec (#12089)
  modules/my_health/app/controllers/my_health/v1/prescriptions_controller.rb
  modules/my_health/app/controllers/my_health/v1/trackings_controller.rb
Labels: none

Ruby 3 KwArgs: Fix Folder Request Spec (#12090)
  lib/sm/client.rb
  modules/mobile/app/controllers/mobile/v0/folders_controller.rb
Labels: mobile, console-services-review

Ruby 3 KwArgs: Local BGS Spec (#12091)
  modules/claims_api/lib/bgs_service/local_bgs.rb
Labels: none

Ruby 3 KwArgs: Fix misc specs (#12092)
  modules/claims_api/app/workers/claims_api/ews_updater.rb
  modules/claims_api/spec/lib/claims_api/evidence_waiver_pdf_constructor/pdf_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/registration_email_job_spec.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/scheduled_batch_job_spec.rb
  modules/health_quest/spec/request/patients_request_spec.rb
  modules/mobile/spec/workers/vet360_linking_spec.rb
  modules/va_notify/spec/workers/email_job_spec.rb
  modules/va_notify/spec/workers/icn_job_spec.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/spec/services/appointment_service_spec.rb
Labels: mobile, vaos

changed actor_type for check_in_experience_updated_appt_presentation (#12097)
  config/features.yml
Labels: console-services-review

API-24392: Add Flipper Utility for Fetching Feature Statuses in Bulk (#12080)
  lib/flipper/utilities/bulk_feature_checker.rb
  spec/lib/flipper/utilities/bulk_feature_checker_spec.rb
Labels: console-services-review

Create login adoption service for Organic Modal Experiment (#12013)
  app/controllers/v0/user_transition_availabilities_controller.rb
  app/services/acceptable_verified_credential_adoption_service.rb
  config/routes.rb
  spec/requests/v0/user_transition_availabilities_controller_spec.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

removed v0 preferences controller and request specs (#12101)
  modules/vaos/app/controllers/vaos/v0/preferences_controller.rb
  modules/vaos/spec/request/preferences_request_spec.rb
Labels: vaos

[virtual_agent#857] Adding floating bot feauture toggle (#12104)
  config/features.yml
Labels: console-services-review

Chore: Update bundler for docker (#12100)
  Dockerfile
  Gemfile.lock
Labels: console-services-review

Chore: Bump bundler version
  Dockerfile-k8s
Labels: console-services-review

Chore: Sync Docker k8 file (#12108)
  Dockerfile-k8s
Labels: console-services-review

removed vaos v0 request eligibility criteria controller (#12106)
  modules/vaos/app/controllers/vaos/v0/request_eligibility_criteria_controller.rb
  modules/vaos/app/serializers/vaos/v0/request_eligibility_criteria_serializer.rb
  modules/vaos/spec/request/request_eligibility_criteria_request_spec.rb
Labels: vaos

Change double splat params to keywords (#12014)
  app/controllers/v1/sessions_controller.rb
  lib/saml/user_attributes/ssoe.rb
Labels: console-services-review

Chore: Update dockerfile to reflect correct bundler
  Dockerfile
Labels: console-services-review

Add additional logging to RX library (#12099)
  lib/rx/middleware/response/rx_failed_station.rb
  lib/rx/middleware/response/rx_parser.rb
Labels: console-services-review

Add Higher-Level Review PDF v3 (#12008)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/structure.rb
  modules/appeals_api/spec/fixtures/v3/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200996_minimum.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

Correct content type for appeals token validation (#12107)
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
Labels: none

release 0.11.04 - server rolling deploy termination
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.04.tgz
Labels: console-services-review

add toggle (#12102)
  config/features.yml
Labels: console-services-review

Forms_api: fix date and add uuid (#12110)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/models/forms_api/vba_26_4555.rb
  modules/forms_api/app/models/forms_api/vha_10_10d.rb
  modules/forms_api/spec/requests/v1/uploads_spec.rb
Labels: none

Revert "Chore: Update dockerfile to reflect correct bundler"
  Dockerfile
Labels: console-services-review

removed vaos v0 pact controller (#12112)
  modules/vaos/app/controllers/vaos/v0/pact_controller.rb
  modules/vaos/app/serializers/vaos/v0/system_pact_serializer.rb
  modules/vaos/spec/request/systems_request_spec.rb
Labels: vaos

Bundler >2.2 reorder the Gemfile.lock (#12115)
  Gemfile.lock
Labels: console-services-review

Revert "Revert "Chore: Update dockerfile to reflect correct bundler""
  Dockerfile
Labels: console-services-review

Revert "Revert "Revert "Chore: Update dockerfile to reflect correct bundler"""
  Dockerfile
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
