Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

rm stale readme (#11978)
  modules/openid_auth/MVI_README.yml
Labels: none

Ruby 3 KwArgs: MHV (#11959)
  app/controllers/v0/mhv_opt_in_flags_controller.rb
Labels: console-services-review

Enabled cron jobs (#11982)
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.00.tgz
Labels: console-services-review

Ruby 3 upgrade: fix DetailedSchemaErrors spec failures (#11983)
  lib/common/exceptions/detailed_schema_errors.rb
Labels: console-services-review

Ruby 3 KwArgs: Credential_level_creator (#11965)
  app/services/sign_in/credential_level_creator.rb
Labels: console-services-review

[11945] Schema change to add logout redirect url to client config (#11963)
  db/migrate/20230303003828_add_web_logout_to_client_config.rb
  db/schema.rb
Labels: console-services-review

53955 add feature flag for precheckin to checkin handoff (#11912)
  config/features.yml
Labels: console-services-review

Ruby 3 KwArgs: SAML SSOE (#11954)
  lib/saml/user_attributes/ssoe.rb
Labels: console-services-review

resolve csrf vulnerability (#11986)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
Labels: none

Remove Providers Controller in VAOS (#11979)
  modules/vaos/app/controllers/vaos/v2/providers_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/mobile_ppms_request_spec.rb
Labels: vaos

[22988] Making UserAttributeError initialization more clear (#11989)
  lib/saml/user_attributes/ssoe.rb
Labels: console-services-review

Testing argocd cron job (#11985)
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review

Ruby 3 KwArgs: Session Controller & SAML SSOE (#11992)
  app/controllers/v1/sessions_controller.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

Make Supplemental Claim form v3 available (#11987)
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/pages/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/structure.rb
  modules/appeals_api/spec/fixtures/v3/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_alternate_signer.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_alternate_signer_overflow.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_maxlength.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/structure_spec.rb
Labels: console-services-review

API-22458-update-v2-healthchecks (#11850)
  modules/claims_api/app/controllers/claims_api/upstream_healthcheck_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/ok_computer_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/upstream_healthcheck_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/ok_computer_controller.rb
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: none

Api 24720 validation consolidation (#11975)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: none

Ruby 3 KwArgs: Fix Caregivers Assistance controller spec (#11993)
  app/services/form1010cg/auditor.rb
Labels: console-services-review

Bump Rack to 2.2.6.3 (#11999)
  Gemfile.lock
Labels: console-services-review

39154 pt1 remove v0 implementations from vets api v0 facilities controller (#11990)
  modules/vaos/app/controllers/vaos/v0/facilities_controller.rb
  modules/vaos/spec/request/facilities_request_spec.rb
Labels: vaos

fix metadata mapping (#12001)
  modules/forms_api/app/models/forms_api/vba_26_4555.rb
  modules/forms_api/app/models/forms_api/vha_10_10d.rb
Labels: none

[54398] Increase delay between 686c and 674 form submissions. (#11998)
  app/services/bgs/dependent_service.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

Ruby 3 KwArgs: Monkeypatch ApiVore (#12003)
  config/initializers/apivore_validator_monkeypatch.rb
Labels: console-services-review

removed remainder of vaos v0 facilities request spec (#12004)
  modules/vaos/spec/request/facilities_request_spec.rb
Labels: vaos

Ruby 3 KwArgs: Fix HCA Validations spec (#12006)
  spec/lib/hca/validations_spec.rb
  spec/support/spec_builders.rb
Labels: console-services-review

Removed web env secrets from cron job (#12015)
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.01.tgz
Labels: console-services-review

Removed VAOS v0 limits controller, VAOS V0 limit serializer and VAOS V0 routing rspecs (#12007)
  modules/vaos/app/controllers/vaos/v0/limits_controller.rb
  modules/vaos/app/serializers/vaos/v0/limit_serializer.rb
  modules/vaos/spec/routing/vaos_routing_spec.rb
Labels: vaos

Don't set vaCompensationType when disability rating is nil (#11930)
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

try converting to json (#12012)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
Labels: none

Reverts v2 healthcheck updates (#12005)
  modules/claims_api/app/controllers/claims_api/upstream_healthcheck_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/ok_computer_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/upstream_healthcheck_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/ok_computer_controller.rb
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: none

[53040] Mocked Authentication `authorize` route setup (#11867)
  .rubocop_todo.yml
  config/redis.yml
  config/routes.rb
  modules/mocked_authentication/app/controllers/application_controller.rb
  modules/mocked_authentication/app/controllers/mocked_authentication/credential_providers_controller.rb
  modules/mocked_authentication/app/models/mocked_authentication/mock_credential_info.rb
  modules/mocked_authentication/app/services/mocked_authentication/mock_credential_info_creator.rb
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/mocked_authentication/engine.rb
  modules/mocked_authentication/spec/factories/factories.rb
  modules/mocked_authentication/spec/models/mock_credential_info_spec.rb
  modules/mocked_authentication/spec/requests/credential_providers_request_spec.rb
  modules/mocked_authentication/spec/services/mocked_authentication/mock_credential_info_creator_spec.rb
Labels: console-services-review

[45352] remove MHV Accounts / Terms & Conditions (#11922)
  .rubocop.yml
  app/controllers/v0/mhv_accounts_controller.rb
  app/models/mhv_account.rb
  app/models/mhv_account_ineligible.rb
  app/models/terms_and_conditions_acceptance.rb
  app/models/user.rb
  app/policies/mhv_account_creation_policy.rb
  app/serializers/mhv_account_serializer.rb
  app/services/mhv_accounts_service.rb
  app/services/users/services.rb
  app/swagger/swagger/requests/profile.rb
  app/workers/mhv/account_statistics_job.rb
  config/redis.yml
  config/routes.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/mhv_accounts.rb
  spec/jobs/mhv/account_statistics_job_spec.rb
  spec/models/mhv_account_spec.rb
  spec/requests/mhv_accounts_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/user_request_spec.rb
  spec/services/mhv_accounts_service_spec.rb
  spec/services/mhv_logging_service_spec.rb
Labels: console-services-review

53958 CHIP initiate_check_in service method (#11962)
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
Labels: none

fix example ./modules/my_health/spec/request/v1/folders_request_spec.rb:56 (#12016)
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
Labels: none

Lighthouse Direct Deposit Controller (#11964)
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  app/policies/lighthouse_policy.rb
  app/services/users/services.rb
  config/features.yml
  config/routes.rb
  lib/backend_services.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/financial_institution.rb
  lib/lighthouse/direct_deposit/payment_account.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  lib/lighthouse/direct_deposit/payment_information_response.rb
  lib/lighthouse/direct_deposit/response.rb
  lib/lighthouse/direct_deposit/service.rb
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
  spec/lib/lighthouse/direct_deposit/service_spec.rb
  spec/policies/lighthouse_policy_spec.rb
  spec/requests/user_request_spec.rb
  spec/services/users/services_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_valid_200.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/200_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/400_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/401_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/403_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/404_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/502_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/200_response.yml
Labels: console-services-review

Added cronjob security group and migration env secrets
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.02.tgz
Labels: console-services-review

4842: remove unused maintenance window (#11981)
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/MaintenanceWindows.yml
Labels: mobile

fix failing example (#12024)
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
Labels: none

add decision letters (#11980)
  modules/mobile/app/controllers/mobile/v0/decision_letters_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/decision_letters.rb
  modules/mobile/app/models/mobile/v0/decision_letter.rb
  modules/mobile/app/serializers/mobile/v0/decision_letter_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/DecisionLetterRecord.yml
  modules/mobile/docs/schemas/DecisionLetters.yml
  modules/mobile/spec/request/decision_letters_request_spec.rb
  modules/mobile/spec/support/schemas/decision_letter.json
Labels: mobile

Replace fast_jsonapi requires (#12030)
  lib/generators/module_component/templates/app/serializers/serializer.rb.erb
  modules/mobile/app/serializers/mobile/v0/appointment_preferences_serializer.rb
  modules/mobile/app/serializers/mobile/v0/claim_overview_serializer.rb
  modules/mobile/app/serializers/mobile/v0/community_care_eligibility_serializer.rb
  modules/mobile/app/serializers/mobile/v0/facility_eligibility_serializer.rb
  modules/mobile/app/serializers/mobile/v0/gender_identity_options_serializer.rb
  modules/mobile/app/serializers/mobile/v0/letters_beneficiary_serializer.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/app/serializers/mobile/v0/payment_history_serializer.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/serializers/mobile/v0/veterans_affairs_eligibility_serializer.rb
  modules/mobile/app/serializers/mobile/v1/user_serializer.rb
  modules/vaos/app/serializers/vaos/v0/availability_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cancel_reason_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_eligibility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_supported_sites_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_institution_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_booking_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_scheduling_facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_visit_serializer.rb
  modules/vaos/app/serializers/vaos/v0/preferences_serializer.rb
  modules/vaos/app/serializers/vaos/v0/request_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_pact_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_serializer.rb
  modules/vaos/app/serializers/vaos/v2/cc_eligibility_serializer.rb
  modules/vaos/app/serializers/vaos/v2/patient_appointment_metadata_serializer.rb
Labels: mobile, vaos, console-services-review

Ruby 3 KwArgs: Fix PreCheckInsRequest Spec (#12031)
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
Labels: none

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
