Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

DHP-288 Handle errors in fitbit controller callback (#9937)
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
Labels: none

Va notify 281/1010ez in progress (#9934)
  config/features.yml
  config/settings.yml
  modules/va_notify/app/models/va_notify/in_progress_form_1010ez.rb
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/app/workers/va_notify/in_progress_forms.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/models/in_progress_form_1010ez_spec.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_forms_spec.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
Labels: console-services-review

Add backstage config files (#9945)
  modules/appeals_api/catalog-info.yaml
  modules/appeals_api/config/backstage/appeals-status.yaml
  modules/appeals_api/config/backstage/decision-reviews.yaml
Labels: none

Refactoring specs for sign in controller to correlate many of the error response behaviors (#9935)
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

Removing apparantly unnecessary callback cancellation in kms encryption verification job (#9938)
  app/workers/kms_encryption_verification_job.rb
Labels: console-services-review

Va notify 281 - icn lookup (#9949)
  modules/va_notify/app/models/va_notify/in_progress_form_1010ez.rb
  modules/va_notify/app/models/va_notify/in_progress_form_686c.rb
  modules/va_notify/app/models/va_notify/veteran.rb
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/models/in_progress_form_1010ez_spec.rb
  modules/va_notify/spec/models/in_progress_form_686c_spec.rb
  modules/va_notify/spec/models/veteran_spec.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: none

Add Feature Flag for New Fry/DEA Form (#9950)
  config/features.yml
Labels: console-services-review

mobile rx refill endpoint (#9932)
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/fixtures/prescriptions.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/prescription_refill_error.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_a_prescription.yml
Labels: mobile

Adding logingov_uuid and idme_uuid to ClaimsApi::Veteran to satisfy new requirements for MPI querying (#9948)
  modules/claims_api/app/models/claims_api/veteran.rb
Labels: none

JobTracker job_exhausted was not visible to child classes (#9941)
  app/workers/evss/disability_compensation_form/job_status.rb
Labels: console-services-review

If looking up the ICN fails try adding hyphens to the user_uuid and lookup again (#9956)
  modules/va_notify/app/models/va_notify/veteran.rb
  modules/va_notify/spec/models/veteran_spec.rb
Labels: none

update method to check for array in params (#9951)
  modules/meb_api/lib/dgi/enrollment/service.rb
Labels: none

Fixing issue with change in add-person service name (#9955)
  lib/backend_services.rb
Labels: console-services-review

Add feature flag for 10-10CG address prefill (#9962)
  config/features.yml
Labels: console-services-review

Remove and fixup duplicate header schema (#9960)
  modules/appeals_api/config/schemas/v2/200995_headers.json
Labels: none

change from cookie to user (#9963)
  config/features.yml
Labels: console-services-review

Api 15662 final statuses (#9863)
  config/features.yml
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/nod_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/sc_status.rb
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/models/concerns/appeals_api/hlr_status_spec.rb
  modules/appeals_api/spec/models/concerns/appeals_api/nod_status_spec.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
Labels: console-services-review

39896 Sign in Service Error Logs & StatsD (#9816)
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/logger.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

API-10871: Consolidate 526 validations into a concern (#9943)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
Labels: none

41113 Passing uuid to confirm-demographics endpoint (#9965)
  modules/check_in/app/services/v2/chip/service.rb
Labels: none

update mobile appt request docs (#9954)
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

added enum for refillStatus (#9969)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
Labels: mobile

API-15662 Fix data access crashes when PII is removed on status updates (#9970)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

3086 pagination helper improvements (#9946)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/app/models/mobile/v0/contracts/appointments.rb
  modules/mobile/app/models/mobile/v0/contracts/base.rb
  modules/mobile/app/models/mobile/v0/contracts/claims_and_appeals.rb
  modules/mobile/app/models/mobile/v0/contracts/community_care_providers.rb
  modules/mobile/app/models/mobile/v0/contracts/facility_eligibility.rb
  modules/mobile/app/models/mobile/v0/contracts/get_paginated_list.rb
  modules/mobile/app/models/mobile/v0/contracts/immunizations.rb
  modules/mobile/app/models/mobile/v0/contracts/pagination_base.rb
  modules/mobile/app/models/mobile/v0/contracts/payment_history.rb
  modules/mobile/app/models/mobile/v0/contracts/prescriptions.rb
  modules/mobile/app/models/mobile/v0/contracts/schemas.rb
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/request/community_care_providers_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
Labels: mobile

[42171] Adding betamocks definitions for MPI search by idme_uuid and logingov_uuid (#9973)
  config/betamocks/services_config.yml
Labels: console-services-review

[9966] Adding revoke_all route for signin controller to revoke all sessions for a authenticated user (#9972)
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/constants/statsd.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/revoke_sessions_for_user.rb
  config/initializers/statsd.rb
  config/routes.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/revoke_sessions_for_user_spec.rb
Labels: console-services-review

Log when 1010ez in progress form email different than va profile email (#9968)
  app/models/in_progress_form.rb
  app/workers/hca/log_email_diff_job.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/jobs/hca/log_email_diff_job_spec.rb
  spec/models/in_progress_form_spec.rb
Labels: console-services-review

Adjust HigherLevelReviewUploadStatusBatch throttling numbers (#9977)
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
Labels: none

3086: fix last page link and add additional tests (#9979)
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
Labels: mobile

Rename 1010CG address autofill feature flag (#9975)
  config/features.yml
Labels: console-services-review

Updated admin users for flipper to enable combined portal for testing in staging (#9967)
  config/settings.yml
Labels: console-services-review

VACMS-8811: (#9978)
  config/features.yml
Labels: console-services-review

API-15629 Consolidated model errors (#9981)
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

API-15629 Extract common validations into shared examples (#9986)
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
Labels: none

AppealsApi: Extract duplicated method into base controller, add tests (#9989)
  modules/appeals_api/app/controllers/appeals_api/application_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/spec/controllers/application_controller_spec.rb
Labels: none

API-16565 SC validate endpoint and tests (#9992)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

defaults force_authn to true (#9931)
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

[9985] Adding ability to mock MPI Add Person Implicit Search with betamocks (#9987)
  config/betamocks/services_config.yml
Labels: console-services-review

Skip sending reminder emails if there is no first name (#9995)
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
Labels: none

37906 getProvider endpoint (#9729)
  modules/vaos/app/controllers/vaos/v2/providers_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/serializers/vaos/v2/providers_serializer.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/mobile_ppms_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_400.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_500.yml
Labels: vaos, console-services-review
