Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Fix redis deprecations (#9592)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/models/concerns/redis_caching.rb
  app/services/mhv_account_type_service.rb
  config/initializers/01_redis.rb
  lib/common/models/collection.rb
  lib/common/models/redis_store.rb
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/app/models/mobile/v0/concerns/redis_caching.rb
  modules/mobile/app/workers/mobile/v0/vet360_linking_job.rb
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/spec/services/user_service_spec.rb
  rakelib/connectivity.rake
  rakelib/redis.rake
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/middleware/rack/attack_spec.rb
  spec/service_consumers/pact_helper.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/services/mhv_accounts_service_spec.rb
Labels: mobile, vaos, console-services-review

RRD: rename Constants' hash key to sidekiq_job (#9575)
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/processor_selector.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/services/rapid_ready_for_decision/processor_selector_spec.rb
Labels: console-services-review

API-14928: Fix type error/error handling for 526 establishment (#9560)
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
Labels: none

API-14708: Fixes infinitely growing events issue by removing expired events from the event group (#9593)
  config/sidekiq_scheduler.yml
  modules/apps_api/lib/apps_api/notification_service.rb
Labels: console-services-review

Api 14964 perserve original data (#9582)
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: none

VaNotify InProgressForm reminder - Change icn retrieval method (#9487)
  modules/va_notify/app/models/va_notify/in_progress_form_686c.rb
  modules/va_notify/app/models/va_notify/veteran.rb
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
  modules/va_notify/spec/models/in_progress_form_686c_spec.rb
  modules/va_notify/spec/models/veteran_spec.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: none

RRD: Add templates for asthma PDF (#9559)
  app/services/rapid_ready_for_decision/views/asthma.erb
  app/services/rapid_ready_for_decision/views/asthma/about.erb
  app/services/rapid_ready_for_decision/views/asthma/rating_schedule.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/behaves_like_includes_introduction/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/behaves_like_includes_introduction/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/behaves_like_includes_introduction/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/behaves_like_includes_introduction/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/includes_the_veterans_blood_pressure_readings.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/includes_the_veterans_medications.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_medication_data_are_nil/continues_rendering_with_message.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_no_medications_are_present/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_no_medications_are_present/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
Labels: console-services-review

RRD: consolidate code into a shared send_rrd_alert_email method (#9579)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/processor_selector.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

RRD: Allow asthma claims with active medications to proceed to PDF generation (#9580)
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526AsthmaJob/_assess_data/when_there_are_active_medication_requests/returns_the_active_medication_requests.yml
Labels: console-services-review

1095b s3 script (#9430)
  app/workers/form1095/new1095_bs_job.rb
  config/settings.yml
  config/sidekiq_scheduler.yml
  spec/jobs/form1095/new1095_bs_job_spec.rb
  spec/support/form1095/multiple_valid_forms.txt
  spec/support/form1095/single_invalid_form.txt
  spec/support/form1095/single_valid_form.txt
Labels: console-services-review

Update in progress form reminder job (#9599)
  config/settings.yml
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: console-services-review

Api 12293 remove extra validations (#9588)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

[39784] Updating UserVerified to throw an error if user is previously verified and a new login shows an ICN that already exists on another user (#9595)
  app/models/user_account.rb
  app/models/user_verification.rb
  app/services/login/errors.rb
  app/services/login/user_verifier.rb
  spec/models/user_account_spec.rb
  spec/models/user_verification_spec.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

Docker/GHA: Set the correct env vars for build (#9607)
  .github/workflows/build.yml
Labels: console-services-review

Silence docker bundle cache extraction (#9608)
  Dockerfile
Labels: console-services-review

[38760] removes orch_search_service create_profile_message method (#9420)
  app/models/mpi_data.rb
  config/settings.yml
  lib/mpi/orch_search_service.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/find_profile_message_edipi_spec.rb
  spec/lib/mpi/messages/find_profile_message_spec.rb
  spec/lib/mpi/orch_search_service_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/form526_submission_spec.rb
  spec/models/mpi_data_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_user_not_found.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_edipi.yml
Labels: console-services-review

Add Simi Adebowal for access to flipper (#9606)
  config/settings.yml
Labels: console-services-review

DHP-93 confirm fitbit registration (#9614)
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/docs/dhp_connected_devices.yaml
  modules/dhp_connected_devices/app/services/fitbit_service.rb
  modules/dhp_connected_devices/app/services/website_host_service.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/fitbit_service_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/website_host_service_spec.rb
Labels: none

RRD: add rrd_asthma_release_pdf Flipper flag (#9613)
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  config/features.yml
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
Labels: console-services-review

add tom.harrison@adhocteam.us to flipper emails (#9617)
  config/settings.yml
Labels: console-services-review

add profile_show_demographics feature (#9618)
  config/features.yml
Labels: console-services-review

Flag asthma meds (#9601)
  Gemfile
  Gemfile.lock
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  public/fonts/deja-vu-sans.ttf
Labels: console-services-review

added log line (#9611)
  app/services/bgs/base_service.rb
Labels: console-services-review

[API-15062] - ClaimsAPI - update 'servicebranch' mappings (#9605)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/lib/claims_api/service_branch_mapper.rb
  modules/claims_api/spec/lib/claims_api/service_branch_mapper_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: none

[9609] Changing multiple account records sentry log to a rails log (#9610)
  app/services/identity/account_creator.rb
  spec/services/identity/account_creator_spec.rb
Labels: console-services-review

[9615] Removing sentry log in favor of rails log for MHVAccountTypeService errors (#9616)
  app/services/mhv_account_type_service.rb
  spec/services/mhv_account_type_service_spec.rb
Labels: console-services-review

Add flipper permissions (#9621)
  config/settings.yml
Labels: console-services-review

Update to Ruby 2.7.6 (#9622)
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/setup/native.md
Labels: console-services-review

Change extensionRequest to requestingExtension (#9626)
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/time_extension_reason.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_minimum.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields_spec.rb
Labels: none

API-8172 Lighthouse OAuth Revoke session if Okta Profile ICN Mismatch with MPI response (#9573)
  app/controllers/openid_application_controller.rb
  spec/controllers/openid_application_controller_spec.rb
  spec/factories/user_identity_attributes.rb
Labels: console-services-review

RRD: add RrdProcessor classes but don't enable them yet (#9594)
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  app/services/rapid_ready_for_decision/sidekiq_job_selector.rb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/services/rapid_ready_for_decision/sidekiq_job_selector_spec.rb
Labels: console-services-review

Api 15056 birth past validation (#9625)
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: none

Adjust BI report recipients (#9604)
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: none

updating logging for better PII protection (#9629)
  app/services/bgs/base_service.rb
Labels: console-services-review

(Redis deprecations) Rack Attack Updated (#9632)
  Gemfile
  Gemfile.lock
Labels: console-services-review

2863 mobile appointment request v2 (#9619)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentExtensions.yml
  modules/mobile/docs/schemas/AppointmentIdentifier.yml
  modules/mobile/docs/schemas/AppointmentKind.yml
  modules/mobile/docs/schemas/AppointmentRequestAddress.yml
  modules/mobile/docs/schemas/AppointmentStatus.yml
  modules/mobile/docs/schemas/CodeableConcept.yml
  modules/mobile/docs/schemas/Coding.yml
  modules/mobile/docs/schemas/CommunityCareLocation.yml
  modules/mobile/docs/schemas/ContactPoint.yml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/docs/schemas/NewAppointment.yml
  modules/mobile/docs/schemas/PatientContact.yml
  modules/mobile/docs/schemas/Period.yml
  modules/mobile/docs/schemas/Practitioner.yml
  modules/mobile/docs/schemas/PractitionerIds.yml
  modules/mobile/docs/schemas/PreferredLocation.yml
  modules/mobile/docs/schemas/TasAddress.yml
  modules/mobile/docs/schemas/TasInfo.yml
  modules/mobile/docs/schemas/TelehealthInfo.yml
  modules/mobile/lib/mobile/v0/vaos_appointments/appointments_helper.rb
  modules/mobile/spec/request/appointments_create_request_request_spec.rb
Labels: mobile

updated logging again to contain and object (#9636)
  app/services/bgs/base_service.rb
Labels: console-services-review

RRD: add pdf_guid in RRD notification (#9637)
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

Remove outdated link in README (#9631)
  README.md
Labels: console-services-review

[27790] Create endpoint to fetch debts by id (#9635)
  app/controllers/v0/debts_controller.rb
  config/redis.yml
  config/routes.rb
  lib/debt_management_center/debts_service.rb
  lib/debt_management_center/models/debt_store.rb
  spec/fixtures/dmc/debt.json
  spec/lib/debt_management_center/debts_service_spec.rb
Labels: console-services-review
