Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Update lighthouseId example in schema files (#10964)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

API-18662-add-claim-id-to-ews. (#10967)
  db/migrate/20221020193309_add_claim_id_errors_to_evidence_waiver_submission.rb
  db/schema.rb
Labels: console-services-review

Avoids masking SSLErrors in breakers filter (#10972)
  lib/common/client/configuration/base.rb
Labels: console-services-review

Doc upload optimizations (#10980)
  app/workers/evss/document_upload.rb
  lib/evss/base_service.rb
  lib/evss/documents_service.rb
Labels: console-services-review

10-10CG: Add Additional Data Points to DataDog (#10974)
  app/workers/form1010cg/submission_job.rb
  config/initializers/statsd.rb
  spec/jobs/form1010cg/submission_job_spec.rb
Labels: console-services-review

3994 appointment filters (#10957)
  modules/mobile/app/services/mobile/v2/appointments/presentation_filter.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/services/v2/appointments/presentation_filter_spec.rb
Labels: mobile

Adding header confirmation to test (#10988)
  spec/lib/decision_review/service_spec.rb
Labels: console-services-review

Api 18662 background update bnft claim (#10867)
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/models/claims_api/evidence_waiver_submission.rb
  modules/claims_api/app/workers/claims_api/ews_updater.rb
  modules/claims_api/spec/factories/evidence_waiver_submissions.rb
  modules/claims_api/spec/models/evidence_waiver_submission_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/workers/ews_updater_spec.rb
  spec/support/vcr_cassettes/bgs/benefit_claim/update_5103_200.yml
  spec/support/vcr_cassettes/bgs/benefit_claim/update_bnft_claim.yml
Labels: console-services-review

API-20070: Add logging for VBA Documents validate_document endpoint (#10989)
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
Labels: none

46891 BTSSS Claims API header fix in client layer (#10973)
  config/settings/test.yml
  modules/check_in/app/services/travel_claim/client.rb
Labels: console-services-review

update vets json schema (#10982)
  Gemfile.lock
  spec/fixtures/hca/conformance/all-fields.json
  spec/fixtures/hca/conformance/australian-vet.json
  spec/fixtures/hca/conformance/canadian-vet.json
  spec/fixtures/hca/conformance/child-financial.json
  spec/fixtures/hca/conformance/married-no-disclosure.json
  spec/fixtures/hca/conformance/missing-booleans.json
  spec/fixtures/hca/conformance/no-children.json
  spec/fixtures/hca/conformance/no-financials-children.json
  spec/fixtures/hca/conformance/no-financials-spouse.json
  spec/fixtures/hca/conformance/no-spouse.json
  spec/fixtures/hca/conformance/only-vet-authenticated-icn.json
  spec/fixtures/hca/conformance/single-no-disclosure.json
  spec/fixtures/hca/conformance/spouse-financial.json
  spec/fixtures/hca/medicare_claim_num.json
  spec/fixtures/hca/veteran.json
Labels: console-services-review

API-20292: Increase Read Timeout for Central Mail Service (#10992)
  lib/central_mail/configuration.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
Labels: console-services-review

Allow NODv1 to accept VA ICN headers (#10994)
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/spec/fixtures/v1/valid_10182_headers.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: none

48604 save icn with appt identifiers (#10983)
  modules/check_in/app/serializers/check_in/v2/appointment_identifiers_serializer.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_identifiers_serializer_spec.rb
Labels: none

API-20070: Remove Redundant Log Trace ID in VBADocuments::DocumentRequestValidator Logs (#10993)
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
Labels: none

Add new metrics to differentiate SIS from IAM auths (#10991)
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/config/initializers/statsd.rb
Labels: mobile

Decoding url to get ID (#10995)
  app/controllers/v0/claim_letters_controller.rb
Labels: console-services-review

Remove new line break character from FSR form (#11002)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

API-12693 Veteran Verification - Handle BGS Person Not Found (#10981)
  modules/veteran_verification/app/services/bgs/disability_rating_service.rb
  modules/veteran_verification/app/services/bgs/mock_disability_rating_service.rb
Labels: none

[DDL] Send request content (#11003)
  lib/claim_letters/claim_letter_downloader.rb
Labels: console-services-review

DHP-374 Rake task to reset all Veteran fitbit device records (#10986)
  modules/dhp_connected_devices/lib/dhp_connected_devices/data_migrations/reset_all_veteran_fitbit_records.rb
  modules/dhp_connected_devices/lib/tasks/dhp_create_devices.rake
  modules/dhp_connected_devices/lib/tasks/dhp_reset_all_veteran_fitbit_device_records.rake
Labels: none

Add phone and address type changes to email notification (#10996)
  config/features.yml
  lib/va_profile/contact_information/service.rb
  lib/va_profile/contact_information/transaction_response.rb
  spec/lib/va_profile/contact_information/transaction_response_spec.rb
  spec/requests/va_profile/transactions_request_spec.rb
Labels: console-services-review

Don't log 404s to Sentry (for null IDs) (#11001)
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
Labels: none

API-19791 Fix OAS docs (#11006)
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v2/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/errors/default.json
  modules/appeals_api/spec/support/swagger_shared_components.rb
  rakelib/rswag.rake
Labels: console-services-review

Update Slack channel for alert notifications (#11012)
  modules/claims_api/app/workers/claims_api/claim_auditor.rb
Labels: none

API-20292: Increase timeout for Central Mail requests (#11011)
  lib/.DS_Store
  lib/central_mail/configuration.rb
Labels: console-services-review

Created parent helm charts
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/external-dns.yaml
  chart/templates/hpa.yml
  chart/templates/ingress_route.yaml
  chart/templates/sa.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
  chart/templates/settings-configmap.yaml
  chart/templates/ssoe-config.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
Labels: console-services-review

Add SC & remove HLR features (#11013)
  config/features.yml
Labels: console-services-review

Packaged parent helm charts
  docs/index.yaml
  docs/vets-api-0.1.0.tgz
Labels: console-services-review

Updated configmap value type
  chart/values.yaml
Labels: console-services-review

[10848] Adding credential email to MPI update/add with Sign in Service authentication (#10985)
  app/services/sign_in/attribute_validator.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/request_helper.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/request_helper_spec.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
Labels: console-services-review

API-20292: Revert Increase to Central Mail Read Timeout (#11018)
  lib/central_mail/configuration.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: console-services-review

Pass all MAS-eligible claims to APCAS endpoint (#10966)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/models/form526_submission_spec.rb
  spec/support/disability_compensation_form/submissions/only_526_mixed_action_disabilities.json
  spec/support/disability_compensation_form/submissions/only_526_two_rated_disabilities.json
Labels: console-services-review

Corrected configmap data
  chart/templates/settings-configmap.yaml
Labels: console-services-review

Updated version
  chart/Chart.yaml
Labels: console-services-review

4027 appointments comparison script (#11005)
  modules/mobile/lib/scripts/appointments_list_validation.rb
Labels: mobile

Updated index for chart versions
  docs/index.yaml
  docs/vets-api-0.1.1.tgz
Labels: console-services-review

Removed namespace from ssoe-config
  chart/templates/ssoe-config.yaml
Labels: console-services-review

Reverted chart
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.1.0.tgz
  docs/vets-api-0.1.1.tgz
Labels: console-services-review

Updated chart version
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.1.2.tgz
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
