Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Mobile LH claims - contention list field fix (#12807)
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/Claim.yml
  modules/mobile/docs/schemas/claimDocument.yml
  modules/mobile/docs/schemas/claimEventTimeline.yml
  modules/mobile/spec/models/adapters/lighthouse_individual_claims_adapter_spec.rb
  modules/mobile/spec/support/fixtures/individual_claims.json
Labels: mobile

[58320] Exposing sign in service public key for access token decoding (#12814)
  app/controllers/sign_in/openid_connect_certificates_controller.rb
  app/services/sign_in/openid_connect_certificates_presenter.rb
  config/routes.rb
  spec/controllers/sign_in/openid_connect_certificates_controller_spec.rb
  spec/services/sign_in/openid_connect_certificates_presenter_spec.rb
Labels: console-services-review

set tag with form_id on active traces (#12823)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
Labels: none

Hotfix to allow edit action even if user can't update (#12826)
  modules/mobile/app/controllers/mobile/v0/gender_identity_controller.rb
  modules/mobile/spec/request/gender_identity_request_spec.rb
Labels: mobile

Bdex/57064 migrate post intent to file to lighthouse (#12753)
  app/controllers/v0/intent_to_files_controller.rb
  lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider.rb
  lib/disability_compensation/providers/intent_to_file/lighthouse_intent_to_file_provider.rb
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider_spec.rb
  spec/lib/disability_compensation/providers/intent_to_file/lighthouse_intent_to_file_provider_spec.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/create_compensation_200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/create_survivor_200_response.yml
Labels: console-services-review

remove unused mobile code (#12822)
  modules/mobile/app/models/mobile/v0/adapters/appointment_requests.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/templates/base_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/community_care_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/va_appointment.rb
  modules/mobile/spec/models/adapters/appointment_requests_adapter_spec.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments_facilities.json
  modules/mobile/spec/support/fixtures/va_appointments_for_facility_info.json
Labels: mobile

change span to trace to put tag at highest level (#12831)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
Labels: none

updates production swagger for sandbox docs (#12803)
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: none

Api 24833 526 v2 section 6 service info validation part 1 v2 (#12789)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

Remove skipDimensionCheck benefits intake key (#12827)
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/fixtures/valid_metadata_oversized.json
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

Create two endpoints for startupProbe and readinessProbes (#12836)
  app/controllers/v0/example_controller.rb
  config/routes.rb
Labels: console-services-review

Code review changes
  lib/central_mail/utilities.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/config/metadata/internal_consumer_fields.yml
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: console-services-review

Api 24834 section 7 service pay validation (#12771)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Allow disabling of startupProbe
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.51.tgz
Labels: console-services-review

API-26689: `VBADocuments` Data Migration to Remove `doc_type` from `UploadSubmission` Records (#12843)
  modules/vba_documents/lib/tasks/20200803_one_time_status_update.rake
  modules/vba_documents/lib/tasks/20200914_update_to_vbms_status.rake
  modules/vba_documents/lib/tasks/20230530_scrub_doc_type_from_metadata.rake
Labels: none

API-26273-526-v2-sec-6-serv-info-pdf-gen (#12748)
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

Revert "API-26059 Log durations of some sidekiq jobs (#12474)" (#12840)
  config/initializers/sidekiq.rb
  lib/sidekiq/benchmark_logging_worker.rb
  lib/sidekiq/middleware/benchmark_logging_middleware.rb
  modules/appeals_api/app/workers/appeals_api/flipper_status_alert.rb
  modules/va_forms/app/workers/va_forms/flipper_status_alert.rb
  modules/vba_documents/app/workers/vba_documents/flipper_status_alert.rb
  spec/lib/sidekiq/middleware/benchmark_logging_middleware_spec.rb
Labels: console-services-review

Api 24831 section 5 disabilities validation (#12749)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/brd/brd.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/vcr_cassettes/brd/disabilities.yml
Labels: console-services-review

add flipper for form 21-4142 (#12841)
  config/features.yml
Labels: console-services-review

Adds country transform (#12801)
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

API-26761 Optimize VBADocuments::UploadRemover job (#12839)
  modules/vba_documents/app/workers/vba_documents/upload_remover.rb
Labels: none

update with new pdf (#12842)
  modules/forms_api/templates/vba_21_4142.pdf
Labels: none

[#951] create new route for Virtual Agent JWT proof of concept (#12844)
  app/controllers/v0/virtual_agent_jwt_token_controller.rb
  config/routes.rb
Labels: console-services-review

Direct deposit update (#12812)
  app/controllers/v0/profile/direct_deposits/disability_compensations_controller.rb
  app/swagger/swagger/requests/profile.rb
  lib/common/exceptions/forbidden.rb
  lib/common/exceptions/unauthorized.rb
  lib/lighthouse/direct_deposit/client.rb
  lib/lighthouse/direct_deposit/error_parser.rb
  lib/lighthouse/direct_deposit/error_response.rb
  lib/lighthouse/service_exception.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/200_has_restrictions.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/200_valid.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/400_invalid_icn.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/400_unspecified_error.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/401_invalid_token.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/404_icn_not_found.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/200_valid.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_account_number_fraud.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_generic_error.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_invalid_account_number.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_invalid_account_type.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_invalid_routing_number.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_routing_number_fraud.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_unspecified_error.yml
Labels: console-services-review

56197 Filter Out Service Type(s) on Non-health Non-CnP Appointments (#12845)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/scheduling_configurations_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_non_med.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_non_med.yml
Labels: vaos, console-services-review

58400 appointment details comment logging (#12848)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_with_facility_200_and_log_pap_comp.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_facilities_200_and_log_pap_comp.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_and_log_facility.yml
Labels: vaos, console-services-review

remove concurrent processes on claims (#12849)
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
Labels: mobile

Maps direct deposit info for the pdf generator. (#12792)
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

Adds feature flag for August release (#12838)
  config/features.yml
Labels: console-services-review

Api 24833 526 v2 section 6 service info validation part 2 v2 (#12790)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

API 24828 v2 526 address validation (#12795)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

824 create 22 1995 confirmation email trigger (#12514)
  app/models/saved_claim/education_benefits/va_1995.rb
  config/features.yml
  config/settings.yml
  spec/models/saved_claim/education_benefits/va1995_spec.rb
Labels: console-services-review

4195 beneficiary endpoint fix (#12846)
  modules/mobile/app/models/mobile/v0/adapters/letter_info.rb
  modules/mobile/app/models/mobile/v0/benefit_information.rb
  modules/mobile/spec/request/letters_request_spec.rb
Labels: mobile

Removing metadata flag (#12857)
  lib/decision_review_v1/service.rb
  spec/lib/decision_review_v1/service_spec.rb
Labels: console-services-review

API-26689: `VBADocuments` Data Migration to Remove `doc_type` from `UploadSubmission` Records (Take 2) (#12864)
  modules/vba_documents/lib/tasks/20230530_scrub_doc_type_from_metadata.rake
Labels: none

Config change to add Randi Mays for Flipper Admin (#12867)
  config/settings.yml
Labels: console-services-review

[#951] Refactor the Virtual Agent JWT fetch code to use a helper class. (#12859)
  app/controllers/v0/virtual_agent/jwt_token.rb
  app/controllers/v0/virtual_agent_jwt_token_controller.rb
Labels: console-services-review

Remove profile_use_vaos_v2_api feature flag (#12750)
  config/features.yml
Labels: console-services-review

API-26923 Update description wording for appeals APIs (#12850)
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description_dev.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description_dev.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description_dev.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description_dev.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
Labels: none

Add 5103 endpoint to benefits_claims controller (#12862)
  app/controllers/v0/benefits_claims_controller.rb
  config/betamocks/services_config.yml
  config/routes.rb
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service.rb
  lib/lighthouse/benefits_claims/service_exception.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/submit5103/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/submit5103/404_response.yml
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
