Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

[12929] Properly adding idme_uuid as a field when user model is reloaded (#12930)
  app/services/sign_in/user_loader.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

Update demographics policy to match business rules (#12890)
  app/policies/demographics_policy.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/gender_identity_request_spec.rb
  modules/mobile/spec/request/preferred_name_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  spec/support/vcr_cassettes/mobile/va_profile/demographics/demographics.yml
  spec/support/vcr_cassettes/mobile/va_profile/post_gender_identity_success.yml
  spec/support/vcr_cassettes/mobile/va_profile/post_preferred_name_success.yml
Labels: mobile, console-services-review

update Form526Submission.form w/ classificationCode before submitting to eVSS (#12905)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  config/settings.yml
  lib/virtual_regional_office/configuration.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification_null_response.yml
Labels: console-services-review

revert cron (#12944)
  lib/periodic_jobs.rb
Labels: console-services-review

Mobile: Update appointments to use VAOS for local time (#12933)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
Labels: mobile

59960 Truncate travel claim number to last4 (#12936)
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
Labels: none

update cron time (#12947)
  lib/periodic_jobs.rb
Labels: console-services-review

Change how we represent UK addresses to BIS (#12911)
  app/models/bgs_dependents/base.rb
  spec/lib/bgs/vnp_veteran_spec.rb
  spec/support/vcr_cassettes/bgs/vnp_veteran/create.yml
Labels: console-services-review

Move copay notifications back to concurrent approach (#12938)
  app/workers/copay_notifications/new_statement_notification_job.rb
Labels: console-services-review

5931: lighthouse letters access (#12937)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/spec/request/letters_request_spec.rb
Labels: mobile

Return nil for strange FT 500 errors (#12948)
  lib/common/models/redis_store.rb
Labels: console-services-review

Use blank? instead of empty?
  lib/common/models/redis_store.rb
Labels: console-services-review

Revert "API-27078-526-v2-allow-yyyy-mm-date-format-2 (#12927)" (#12949)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

API-27180-add-526-v2-getpdf-endpoint (#12913)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/config/routes.rb
Labels: none

Update OAS content claims v1, add swagger (#12943)
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
Labels: none

VA forms: Add form 21P-0847 (#12960)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/form_mappings/vba_21p_0847.json.erb
  modules/forms_api/app/models/forms_api/vba_21p_0847.rb
  modules/forms_api/app/services/forms_api/pdf_stamper.rb
  modules/forms_api/spec/fixtures/form_json/vba_21p_0847-min.json
  modules/forms_api/spec/fixtures/form_json/vba_21p_0847.json
  modules/forms_api/spec/requests/v1/uploads_spec.rb
  modules/forms_api/spec/services/pdf_filler_spec.rb
  modules/forms_api/spec/services/pdf_stamper_spec.rb
  modules/forms_api/templates/vba_21p_0847.pdf
Labels: none

Combine code checks and deploy to create blocking actions (#12967)
  .github/workflows/build.yml
  .github/workflows/code_checks.yml
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: console-services-review

update linting
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

feat: Lock build to specific debian release (#12962)
  Dockerfile
Labels: console-services-review

Remove blocking tests
  .github/workflows/build.yml
Labels: console-services-review

publish results needs tests
  .github/workflows/build.yml
Labels: console-services-review

better name for combined action
  .github/workflows/build.yml
Labels: console-services-review

mobile - update claim request decision response (#12952)
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ClaimDocUpload.yml
  modules/mobile/spec/request/claims_decision_request_spec.rb
  spec/support/vcr_cassettes/mobile/lighthouse_claims/request_decision/200_failure_response.yml
Labels: mobile, console-services-review

mobile disability rating EVSS to LH (#12934)
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/disability_rating_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/disability_rating.rb
  modules/mobile/app/models/mobile/v0/adapters/legacy_rating.rb
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
  modules/mobile/app/services/mobile/v0/legacy_disability_rating/proxy.rb
  modules/mobile/spec/request/disability_rating_request_spec.rb
  modules/mobile/spec/request/legacy_disability_rating_request_spec.rb
  modules/mobile/spec/support/schemas/lighthouse_errors.json
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_Not_Connected_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_individual_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_multiple_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/400_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/401_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/403_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/404_ICN_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/405_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/413_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/429_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/500_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/502_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/503_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/introspect_active.yml
Labels: mobile, console-services-review

Adds flipper feature for evss switch to bgs (#12946)
  config/features.yml
Labels: console-services-review

ECR build and push dependent upon test action
  .github/workflows/build.yml
Labels: console-services-review

Api 27050 request disability examples (#12931)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
Labels: none

Add service description for /veterans/{veteranId}/526 (#12971)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: none

Update disabilityActionType enum values, add swagger (#12958)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
Labels: none

update deprecated GHA's
  .github/workflows/build.yml
  .github/workflows/delete_stale_branches.yml
  .github/workflows/deploy-template.yml
  .github/workflows/preview-environment-cleanup.yml
Labels: console-services-review

API-22655 526 v2 service description for validate endpoint (#12972)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: none

move to separate actions
  .github/workflows/build.yml
Labels: console-services-review

API-22657 526 v2 service description for attachments (#12973)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: none

Api 27078 526 v2 allow yyyy mm date format 2 (#12957)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

testing publish results
  .github/workflows/build.yml
Labels: console-services-review

Revert "testing publish results"
  .github/workflows/build.yml
Labels: console-services-review

59503 add schedulable param to get_facilities (#12865)
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_false.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_not_passed.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_true.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_with_children_and_schedulable_true_400.yml
Labels: vaos, console-services-review

Api 26640 establish 526 claim (#12907)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
Labels: none

Api 26837/shared schema updates for appeals (#12961)
  modules/appeals_api/app/controllers/appeals_api/application_controller.rb
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/appealable_issues/v0/headers.json
  modules/appeals_api/config/schemas/higher_level_reviews/v0/200996.json
  modules/appeals_api/config/schemas/higher_level_reviews/v0/200996_headers.json
  modules/appeals_api/config/schemas/legacy_appeals/v0/headers.json
  modules/appeals_api/config/schemas/notice_of_disagreements/v0/10182_headers.json
  modules/appeals_api/config/schemas/shared/v0/nonBlankString.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/200995_headers.json
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/requests/appealable_issues/v0/appealable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

API-27105: Reinstate Sidekiq Jobs Lost in Periodic Jobs Migration (#12969)
  config/sidekiq_scheduler.yml
  lib/periodic_jobs.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
