Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

[11060] Skipping missing credential attribute checks for certain attributes with an auto-uplevelled sign in service credential (#11061)
  app/services/sign_in/attribute_validator.rb
  spec/services/sign_in/attribute_validator_spec.rb
Labels: console-services-review

Refactor icn and first name lookup (#11054)
  modules/va_notify/app/models/va_notify/veteran.rb
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/models/veteran_spec.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_reminder_spec.rb
Labels: none

Update va_0995.rb (#11059)
  app/models/form_profiles/va_0995.rb
Labels: console-services-review

[11060] Adding first name and last name to attributes that are not checked when a Sign in Service auth occurs and credential auto-uplevel happens (#11062)
  app/services/sign_in/attribute_validator.rb
  spec/services/sign_in/attribute_validator_spec.rb
Labels: console-services-review

[11066] Returning nil for address in id.me oauth interface when any field in the address is missing for Sign in Service authentication (#11067)
  lib/sign_in/idme/service.rb
  spec/lib/sign_in/idme/service_spec.rb
Labels: console-services-review

MHV-36025 Added a pass-through API for searching secure messages (#10984)
  app/models/message_search.rb
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageSearch.yml
  modules/my_health/docs/schemas/SecureMessageSearchRequest.yml
  modules/my_health/spec/request/v1/folders_request_spec.rb
  spec/support/schemas/folder_search.json
  spec/support/vcr_cassettes/sm_client/folders/searches_a_folder.yml
Labels: console-services-review

MHV-36024 Pass-through API for renaming secure messaging folders (#11058)
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/spec/request/v1/folders_request_spec.rb
  spec/support/vcr_cassettes/sm_client/folders/renames_a_folder.yml
Labels: console-services-review

add new feature flag (#11068)
  config/features.yml
Labels: console-services-review

Bump vets-json-schema version to 20.24.1 (#11075)
  Gemfile.lock
  app/models/emis_redis/military_information.rb
Labels: console-services-review

MHV-37666 Don't force the use of caching when getting SM folder list (#11078)
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
Labels: none

[48505] Fixing MPI parse_name and parse_ssn errors for relationship component of MPI responses (#11069)
  lib/mpi/responses/profile_parser.rb
Labels: console-services-review

Require OpenID token in segmented appeals APIs (#11037)
  .rubocop_todo.yml
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/mpi_veteran.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs_headers.json
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
  modules/appeals_api/spec/requests/supplemental_claims/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
Labels: console-services-review

[48014] Log SiS Add/Update MPI User calls (#11053)
  app/models/user.rb
  app/services/sign_in/attribute_validator.rb
  spec/models/user_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
Labels: console-services-review

[41908] SiS User Fingerprint (#11031)
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/user.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

[11090] Setting DSLogon scope value for id.me service to 'dslogon' for all sign in service authentication loa types (#11091)
  app/services/sign_in/acr_translator.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  spec/services/sign_in/acr_translator_spec.rb
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#627] add better error handling
  app/controllers/v0/virtual_agent/report_to_cxdw.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/support/vcr_cassettes/virtual_agent_cxdw_post_to_table_failure.yml
Labels: console-services-review

VaNotify - Refactor VANotify::Veteran (#11092)
  modules/va_notify/app/models/va_notify/in_progress_form_1010ez.rb
  modules/va_notify/app/models/va_notify/in_progress_form_686c.rb
  modules/va_notify/app/models/va_notify/veteran.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/models/in_progress_form_1010ez_spec.rb
  modules/va_notify/spec/models/in_progress_form_686c_spec.rb
  modules/va_notify/spec/models/veteran_spec.rb
Labels: none

Remove feature flag wrapper for utilizing generic logic in progress form reminders (#11093)
  config/features.yml
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_reminder_spec.rb
Labels: console-services-review

Require OpenID token in segmented HLR appeals API (#11085)
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v2/higher_level_reviews_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs_headers.json
  modules/appeals_api/spec/requests/higher_level_reviews/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: none

Require OpenID token in segmented NOD appeals API (#11086)
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v2/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v2/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs_headers.json
  modules/appeals_api/spec/requests/notice_of_disagreements/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: none

Require OpenID token for segemented contestable issues and legacy appeals APIs (#11087)
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v2/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v2/legacy_appeals_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/contestable_issues/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: none

API-21039 Serve OAS docs for appeals status API v1 (#11064)
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/appeals_status.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
Labels: none

[49351] Flipper Index Logging Mute (#11079)
  app/controllers/v0/feature_toggles_controller.rb
  config/settings.yml
  spec/controllers/v0/feature_toggles_controller_spec.rb
Labels: console-services-review

[11082] Remove account from evss service initialization (#11083)
  app/workers/education_form/process10203_submissions.rb
  lib/evss/service.rb
  lib/evss/vso_search/service.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
  spec/lib/evss/vso_search/service_spec.rb
Labels: console-services-review

API-19334: Remove code for monthly VBADocuments reconciliation report, which no longer needs to be run (#11102)
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
  modules/vba_documents/lib/vba_documents/console_utilities.rb
Labels: none

3998 update military info to come from va profile upstream services (#11098)
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/app/models/mobile/v0/military_information.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/spec/request/military_information_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200_empty.yml
Labels: mobile

Add 526ez to in progress reminders (behind feature flag) (#11094)
  config/features.yml
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
Labels: console-services-review

Revert "3998 update military info to come from va profile upstream services (#11098)" (#11103)
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/app/models/mobile/v0/military_information.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/spec/request/military_information_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200_empty.yml
Labels: mobile

[11099] Using idme_uuid as a user uuid for mhv and dslogon accounts for sign in service authentication (#11100)
  app/models/user.rb
  app/services/sign_in/session_creator.rb
  spec/models/user_spec.rb
  spec/services/sign_in/session_creator_spec.rb
Labels: console-services-review

[11080] Using UserAccount to retrieve a missing idme_uuid instead of Account table (#11081)
  app/models/user_session_form.rb
  spec/models/user_session_form_spec.rb
Labels: console-services-review

Mobile update type of care descriptions to mirror VAOS (#11016)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
Labels: mobile

[41908] restores load_user and authenticate behaviors (#11096)
  app/controllers/concerns/sign_in/authentication.rb
Labels: console-services-review

log disability rating (#11088)
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

Reversion segmented appeals API routes v2 to v0 (#11097)
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/requests/contestable_issues/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: none

update vets-api parent helm deployment
  .github/workflows/deploy-template.yml
Labels: console-services-review

update bad spacing
  .github/workflows/deploy-template.yml
Labels: console-services-review

update to correct yaml key
  .github/workflows/deploy-template.yml
Labels: console-services-review

add comment to temp GHA
  .github/workflows/deploy-template.yml
Labels: console-services-review

test
  .github/workflows/deploy-template.yml
Labels: console-services-review

remove comments
  .github/workflows/deploy-template.yml
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
