Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Api 16757 email report percentage issue (#10080)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/fixtures/form_526_no_flashes_no_special_issues.json
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/spec_helper.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
Labels: none

39195 Changing param key for lorota token endpoint (#10130)
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: none

allow multiple filter values (#10107)
  lib/common/models/collection.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/prescriptions_request_spec.rb
Labels: mobile, console-services-review

[41350] Adds Notice of Disagreement to the Decision Review V1 Service (#10131)
  Gemfile.lock
  lib/decision_review_v1/service.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-CREATE-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-CREATE-RESPONSE-422_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-404_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-URL-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-URL-404_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-PUT-UPLOAD-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-SHOW-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-SHOW-RESPONSE-404_V1.yml
Labels: console-services-review

Support signasrepresentative field for the 1010cg form (#10088)
  app/models/saved_claim/caregivers_assistance_claim.rb
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/mulesoft/addDocument.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
Labels: console-services-review

add prescription to authorized services (#10133)
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile

API-17012: Clean up Slack Alerts for Benefits Intake API (#10126)
  config/settings.yml
  modules/vba_documents/app/models/vba_documents/git_items.rb
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/spec/fixtures/git_items_benefits.json
  modules/vba_documents/spec/jobs/deployments_notifier_spec.rb
  modules/vba_documents/spec/jobs/slack_notifier_spec.rb
  modules/vba_documents/spec/models/git_items_spec.rb
Labels: console-services-review

[43342] Add mocking for mpi add user calls for id.me (#10125)
  config/betamocks/services_config.yml
Labels: console-services-review

API-17067 Fix 500 errors when parsing invalid dates (#10106)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
Labels: none

2929 request appointment logging metrics (#10109)
  modules/mobile/app/controllers/mobile/v0/community_care_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/spec/request/community_care_eligibility_request_spec.rb
Labels: mobile

Removed feature flag for check-in insurance page. (#10086)
  config/features.yml
Labels: console-services-review

[API-16756] - ClaimsApi - Add 'cid' column to 'claims_api_auto_established_claims' table (#10129)
  db/migrate/20220627202719_add_cid_to_claims_api_auto_established_claims.rb
  db/schema.rb
Labels: console-services-review

API-16226: OAS copy edits for Claims v2 (#10005)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/veteran_identifier/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/veteran_identifier/veteran_info_validator.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

API-16195 Update "Complete" status description; misc doc updates (#10096)
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: none

[10141] Migration to add user_account.uuid to InProgressForms (#10142)
  db/migrate/20220628222858_add_user_account_uuid_to_in_progress_forms.rb
  db/schema.rb
Labels: console-services-review

3265 direct appointment scheduling (#10105)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/spec/request/appointments_create_request_request_spec.rb
  modules/mobile/spec/request/appointments_create_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_cc_200_2222022.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_proposed_clinic_200.yml
Labels: mobile

Remove unused feature toggles (#10128)
  config/features.yml
Labels: console-services-review

Revert "3265 direct appointment scheduling (#10105)" (#10162)
  Gemfile.lock
  app/models/appeal_submission.rb
  app/models/async_transaction/base.rb
  app/models/education_stem_automated_decision.rb
  app/models/form1095_b.rb
  app/models/form526_submission.rb
  app/models/form_attachment.rb
  app/models/gibs_not_found_user.rb
  app/models/in_progress_form.rb
  app/models/persistent_attachment.rb
  app/models/saved_claim.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/app/models/concerns/claims_api/file_data.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/expanded_registration_submission.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/registration_submission.rb
  modules/health_quest/app/models/health_quest/questionnaire_response.rb
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/spec/request/appointments_create_request_request_spec.rb
  modules/mobile/spec/request/appointments_create_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_cc_200_2222022.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_proposed_clinic_200.yml
  modules/veteran/app/models/veteran/service/representative.rb
Labels: mobile, console-services-review

[10152] Setting common name field on the user object (#10154)
  app/models/user.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/lib/bgs/service_spec.rb
  spec/models/bank_name_spec.rb
  spec/models/user_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/bgs/base_service_spec.rb
Labels: console-services-review

[41350] Adds Notice of Disagreement V1 Route + Controllers (#10145)
  app/controllers/v1/apidocs_controller.rb
  app/controllers/v1/notice_of_disagreements/contestable_issues_controller.rb
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/swagger/swagger/v1/requests/appeals/appeals.rb
  app/swagger/swagger/v1/schemas/appeals/notice_of_disagreement.rb
  config/routes.rb
  spec/fixtures/notice_of_disagreements/NOD_contestable_issues_response_200_V1.json
  spec/fixtures/notice_of_disagreements/NOD_show_response_200_V1.json
  spec/fixtures/notice_of_disagreements/valid_NOD_create_request_V1.json
  spec/requests/v1/notice_of_disagreements/contestable_issues_controller_request_spec.rb
  spec/requests/v1/notice_of_disagreements_controller_request_spec.rb
Labels: console-services-review

VAOS V2 Appointments controller merge_clinics not caching calls to get clinics (#10151)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: vaos

Rename vsa-bam-1- to benefits-team-1- (#10163)
  .github/CODEOWNERS
Labels: console-services-review

[10141] Adding user_account uuid to newly created in progress forms (#10143)
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/workers/bgs/job.rb
  spec/jobs/bgs/job_spec.rb
Labels: console-services-review

43658 prevent logins with dead users (#10156)
  app/models/mpi_data.rb
  app/models/user.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  lib/mpi/models/mvi_profile_identity.rb
  lib/mpi/responses/profile_parser.rb
  spec/factories/mvi_profiles.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/models/user_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

changed id to be set from uuid to play nice with both user models (#10150)
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
Labels: mobile

3265 direct appointment scheduling redo (#10166)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/spec/request/appointments_create_request_request_spec.rb
  modules/mobile/spec/request/appointments_create_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_cc_200_2222022.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_proposed_clinic_200.yml
Labels: mobile

Fix phase_type array vs object (#10101)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Remove links (#10139)
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: none

40390 Deprecating lorota 401 mapping feature flag (#10108)
  config/features.yml
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: console-services-review

Add more details to EvidenceSubmission reporting to lessen the need for production access (#10116)
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/_evidence_table.html.erb
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/decision_review_mailer_spec.rb
Labels: none

Added va_online_scheduling_clinic_location feature flag (#10159)
  config/features.yml
Labels: console-services-review

43680 add statsd to demographics controller (#10168)
  modules/check_in/config/initializers/statsd.rb
Labels: none

Ldhub catalog updates 1 (#10137)
  modules/appeals_api/config/backstage/appeals-status.yaml
  modules/appeals_api/config/backstage/decision-reviews.yaml
  modules/claims_api/catalog-info.yaml
Labels: none

Mobile: remove regex check for nested brackets for filtering (#10160)
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/prescriptions_request_spec.rb
Labels: mobile

add slots endpoint (#10148)
  modules/mobile/app/controllers/mobile/v0/clinics_controller.rb
  modules/mobile/app/serializers/mobile/v0/clinic_slots_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Slot.yml
  modules/mobile/spec/request/clinics_request_spec.rb
  modules/mobile/spec/support/schemas/clinic_slot.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_available_slots_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_available_slots_200_no_start_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_available_slots_500.yml
Labels: mobile

Update service history response to include data source (#10173)
  app/controllers/v0/profile/service_histories_controller.rb
  app/policies/vet360_policy.rb
  app/serializers/service_history_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/military_personnel/service.rb
  spec/policies/vet360_policy_spec.rb
  spec/support/schemas/service_history_response.json
  spec/support/schemas_camelized/service_history_response.json
Labels: console-services-review

Fixing bug with deceased date for SiS (#10176)
  lib/mpi/responses/profile_parser.rb
Labels: console-services-review

API-16756 - ClaimsApi - Store 'cid' on 526 record (#10147)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

Merge methods (#10138)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/ccg_token_validation.rb
Labels: none

[43649] Adding logout redirect for logingov authentications with SiS (#10177)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/credential_info.rb
  app/services/sign_in/credential_info_creator.rb
  app/services/sign_in/errors.rb
  config/redis.yml
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/logingov/configuration.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/credential_infos.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/credential_info_spec.rb
  spec/services/sign_in/credential_info_creator_spec.rb
Labels: console-services-review
