Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

allow 202 status code (#10627)
  lib/carma/client/mule_soft_client.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
Labels: console-services-review

1095 b update script (#10630)
  app/workers/form1095/new1095_bs_job.rb
Labels: console-services-review

[46701] add 2fa authn contexts (#10637)
  config/initializers/ial.rb
  config/initializers/loa.rb
  lib/saml/user.rb
Labels: console-services-review

Add debt letter VBMS feature flag (#10636)
  app/controllers/v0/debt_letters_controller.rb
  app/policies/debt_letters_policy.rb
  config/features.yml
Labels: console-services-review

Disable failing appeals api test (#10641)
  modules/appeals_api/spec/controllers/application_controller_spec.rb
Labels: none

46021 update statsd metric name for synthetic transactions (#10616)
  config/features.yml
  modules/check_in/config/initializers/statsd.rb
Labels: console-services-review

Dhp 287 fix revoke token (#10642)
  modules/dhp_connected_devices/app/services/token_storage_service.rb
  modules/dhp_connected_devices/lib/fitbit/client.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/token_storage_service_spec.rb
Labels: none

[DHP-287] Fixes icn folder deletion logic (#10644)
  modules/dhp_connected_devices/app/services/token_storage_service.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/token_storage_service_spec.rb
Labels: none

Override default timeout in v2 AppointmentService. (#10645)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: vaos

Add logging for combined FSR and various fixes (#10646)
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/sharepoint/request.rb
Labels: console-services-review

Warn instead of removing old features (#10649)
  config/initializers/flipper.rb
Labels: console-services-review

Add push prefs enum to docs (#10648)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PushGetPreferences.yml
  modules/mobile/docs/schemas/PushPreferences.yml
Labels: mobile

Cleaned up Appeals Received Unit test, a little more DRY (#10638)
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: none

Add feature cleaner job (#10650)
  app/workers/feature_cleaner_job.rb
  config/sidekiq_scheduler.yml
Labels: console-services-review

SA-23885: TOE Claimant info (#10625)
  config/settings.yml
  config/settings/test.yml
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/app/serializers/toe_claimant_info_serializer.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/automation/service.rb
  modules/meb_api/lib/dgi/forms/response/claimant_info_response.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/forms/service/claimant_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  spec/support/schemas/dgi/toe_claimant_info_response.json
  spec/support/vcr_cassettes/dgi/enrollment.yml
  spec/support/vcr_cassettes/dgi/forms/claimant_info.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_status.yml
  spec/support/vcr_cassettes/dgi/forms/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/get_toe_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_fry_dea.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_toes.yml
  spec/support/vcr_cassettes/dgi/forms/submit_toe_claim.yml
  spec/support/vcr_cassettes/dgi/fry_post_sponsor.yml
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_toe_letter.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
  spec/support/vcr_cassettes/dgi/post_toe_claimant_info.yml
  spec/support/vcr_cassettes/dgi/service_get_eligibility.yml
  spec/support/vcr_cassettes/dgi/submit_claim.yml
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

(logging) updated logging for 1095b sidekiq (#10651)
  app/workers/form1095/new1095_bs_job.rb
Labels: console-services-review

Increased logging for 526 failures (#10635)
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

[46736] Updates Flipper authentication to work with SiS (#10652)
  config/settings.yml
  lib/flipper/admin_user_constraint.rb
Labels: console-services-review

modifies config/settings.yml (#10657)
  config/settings.yml
Labels: console-services-review

Add rack timeout gem (#10621)
  Gemfile
  Gemfile.lock
  config/initializers/rack_timeout.rb
Labels: console-services-review

Log MPI transaction id when user not found in MPI when trying to submit the 1010cg (#10581)
  app/services/form1010cg/service.rb
  lib/mpi/responses/find_profile_response.rb
  spec/lib/mpi/responses/find_profile_response_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

Add claims to user response (#10655)
  app/services/users/profile.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

API-18233-Add-claimPhaseDates (#10567)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

[API-19332] - ClaimsApi - Enhance Rep Search for POA Validation (#10643)
  lib/bgs/power_of_attorney_verifier.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/veteran/app/models/veteran/service/representative.rb
  spec/lib/bgs/power_of_attorney_verifier_spec.rb
Labels: console-services-review

Ups the sleep timer in the hopes to give more time for identity verification to go through. (#10661)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: none

API-18269/API-18408: VBADocuments "UploadStatusUpdater" Job Performance Improvements (#10665)
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/workers/vba_documents/report_monthly_submissions.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_updater.rb
  modules/vba_documents/lib/vba_documents/console_utilities.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/models/upload_submission_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/deployments_notifier_spec.rb
  modules/vba_documents/spec/workers/report_monthly_submissions_spec.rb
  modules/vba_documents/spec/workers/report_unsuccessful_submissions_spec.rb
  modules/vba_documents/spec/workers/run_unsuccessful_submissions_spec.rb
  modules/vba_documents/spec/workers/slack_notifier_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  modules/vba_documents/spec/workers/upload_remover_spec.rb
  modules/vba_documents/spec/workers/upload_scanner_spec.rb
  modules/vba_documents/spec/workers/upload_status_batch_spec.rb
  modules/vba_documents/spec/workers/upload_status_updater_spec.rb
Labels: none

Fix on problem found while testing staging get claims. (#10668)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

585 create table (#10669)
  db/migrate/20220912152647_create_virtual_agent_user_access_records.rb
  db/schema.rb
Labels: console-services-review

Change timeout for mulesoft api calls that are run in background jobs (#10664)
  config/settings.yml
  lib/carma/client/mule_soft_client.rb
  lib/carma/client/mule_soft_configuration.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
Labels: console-services-review

Update documentation with latest schema changes (#10670)
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/nod_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/sc_status.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

[45484] Removing the multiple birls_id check during user authentication (#10672)
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: console-services-review

Use variables from settings instead of ENV (#10667)
  config/initializers/rack_timeout.rb
Labels: console-services-review

[DHP-287] Fixed error that occurs when user has manually revoked token (#10671)
  modules/dhp_connected_devices/lib/fitbit/client.rb
  modules/dhp_connected_devices/spec/lib/fitbit_client_spec.rb
Labels: none

Adding va_eauth_service_transaction_id to failed/exhausted Form526 submission error log (#10675)
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

VANotify - Update in progress reminder cadence (#10659)
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
  modules/va_notify/spec/workers/in_progress_forms_spec.rb
Labels: none

API-18269: Updates to VBADocuments job schedule, for consistency and performance (#10673)
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
Labels: console-services-review

Invert logic for rack timeout settings (#10680)
  config/initializers/rack_timeout.rb
Labels: console-services-review

VAOS Update VAOS_Logging to include message body on errors. (#10666)
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_spec.rb
Labels: vaos

adjusts headers on LGY get_document method (#10685)
  lib/lgy/service.rb
Labels: console-services-review

API-18269: Stagger VBADocuments Status Update Jobs (#10684)
  modules/vba_documents/app/workers/vba_documents/upload_scanner.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_updater.rb
Labels: none
