Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

[10508] Schema change to add backing_idme_uuid to user_verifications (#10682)
  db/migrate/20220913100825_add_backing_idme_uuid_to_user_verification.rb
  db/schema.rb
Labels: console-services-review

Strip disability names (#10620)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: none

[API-19865] Added techdocs for some modules and fixed broken links in… (#10678)
  docs/index.md
  docs/setup/debugging_with_docker_rubymine_windows.md
  docs/setup/native.md
  docs/setup/running_docker.md
  mkdocs.yaml
  modules/appeals_api/docs/index.md
  modules/appeals_api/mkdocs.yml
  modules/claims_api/docs/index.md
  modules/claims_api/mkdocs.yml
  modules/facilities_api/docs/index.md
  modules/facilities_api/mkdocs.yml
  modules/va_forms/catalog-info.yaml
  modules/vba_documents/catalog-info.yaml
Labels: console-services-review

API-16006 Split appeals_api rswag docs (#10634)
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

Various VHA FSR JSON adjustments (#10686)
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

3753 appointments fetch service (#10676)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/request/appointment_request_messages_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

added feature toggle for MEB to show updated State and City (#10640)
  config/features.yml
Labels: console-services-review

[API-19685] Added relative path to subdirectories with README.mds (#10689)
  modules/appeals_api/docs/index.md
  modules/claims_api/docs/index.md
  modules/facilities_api/docs/index.md
  modules/facilities_api/mkdocs.yml
  modules/va_forms/catalog-info.yaml
Labels: none

Added Code highlights, added Contestable Issues and Legacy Appeals (#10679)
  Dangerfile
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
Labels: console-services-review

add personCriteria and type params to request to vets-service (#10639)
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
Labels: none

Api 18947 add fields to tracked items (#10654)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/vcr_cassettes/bgs/ebenefits_benefit_claims_status/empty_find_benefit_claim_details_by_benefit_claim_id.yml
  spec/support/vcr_cassettes/bgs/ebenefits_benefit_claims_status/find_benefit_claim_details_by_benefit_claim_id.yml
  spec/support/vcr_cassettes/evss/documents/get_claim_documents.yml
Labels: console-services-review

[10688] Adding auto-uplevel capability for id.me and login.gov authentications for sign in service (#10698)
  app/services/sign_in/credential_level_creator.rb
  config/settings.yml
  lib/sign_in/logingov/service.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

mhv_opt_in_flag table creation (#10711)
  db/migrate/20220915172901_add_mhv_opt_in_flags.rb
  db/schema.rb
Labels: console-services-review

[API-19683] Added providesApis field to the vets-api system (#10693)
  catalog-info.yaml
  modules/appeals_api/catalog-info.yaml
  modules/appeals_api/config/backstage/appeals-status.yaml
  modules/appeals_api/config/backstage/decision-reviews.yaml
  modules/claims_api/catalog-info.yaml
  modules/va_forms/catalog-info.yaml
  modules/vba_documents/catalog-info.yaml
  modules/veteran_confirmation/catalog-info.yaml
  modules/veteran_verification/catalog-info.yaml
Labels: console-services-review

[10508] Adding backing_idme_uuid to user_verifications when credential type is dslogon or mhv (#10683)
  app/models/user_verification.rb
  app/services/login/user_verifier.rb
  spec/factories/user_verifications.rb
  spec/models/user_verification_spec.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

recreates mhv_opt_in_flags table (#10719)
  db/migrate/20220916043854_delete_and_recreate_mhv_opt_in_flags.rb
  db/schema.rb
Labels: console-services-review

API-19631, API-19632 Additional routes for appeals API contestable_issues and legacy_appeals endpoints (#10715)
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: none

API-18269: Reduce Retries for VBADocuments Jobs (#10712)
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/workers/vba_documents/report_monthly_submissions.rb
  modules/vba_documents/app/workers/vba_documents/report_unsuccessful_submissions.rb
  modules/vba_documents/app/workers/vba_documents/run_unsuccessful_submissions.rb
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/app/workers/vba_documents/upload_remover.rb
  modules/vba_documents/app/workers/vba_documents/upload_scanner.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_updater.rb
Labels: console-services-review

Api 19453 mpi error (#10674)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: none

API-17728: VBADocuments (Benefits Intake) V1 Document Validation Endpoint (#10734)
  config/settings/test.yml
  lib/pdf_utilities/pdf_validator.rb
  modules/vba_documents/app/controllers/vba_documents/v1/uploads_controller.rb
  modules/vba_documents/config/routes.rb
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  spec/lib/pdf_utilities/pdf_validator/validator_spec.rb
Labels: console-services-review

Fixing flaky spec around improper error middleware being picked up (#10727)
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile

Adding dslogon assurance log for sign in service authentication (#10725)
  app/services/sign_in/credential_level_creator.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

Trigger VRO via vets-api RRD with new VRO client class (#10718)
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  config/settings.yml
  lib/virtual_regional_office/client.rb
  lib/virtual_regional_office/configuration.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/lib/virtual_regional_office/client_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf.yml
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf_download.yml
  spec/support/vcr_cassettes/virtual_regional_office/health_assessment.yml
Labels: console-services-review

3753 broaden appointments cache enddate (#10723)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_at_home_no_location.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_200.yml
Labels: mobile

AppealsApi: Sidekiq job updates (#10699)
  config/features.yml
  modules/appeals_api/app/workers/appeals_api/add_icn_updater.rb
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/status_updated_job.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_clean_up_pii.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_updater.rb
  modules/appeals_api/spec/workers/appeals_api/add_icn_updater_spec.rb
Labels: console-services-review

Mobile - Appointments - use Timezone from clinic (#10681)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

39302 CIE Auth Retry Limit Implementation (#10660)
  modules/check_in/app/services/v2/lorota/redis_client.rb
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/redis_client_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: none

API-16005 Update Segmented API documentation (part 1) (#10717)
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs.json
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: console-services-review

Va notify 553/career counseling email (#10716)
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/models/saved_claim/education_career_counseling_claim.rb
  app/workers/central_mail/submit_career_counseling_job.rb
  config/features.yml
  config/settings.yml
  spec/controllers/v0/education_career_counseling_claims_controller_spec.rb
  spec/factories/education_career_counseling_claim.rb
  spec/jobs/central_mail/submit_career_counseling_job_spec.rb
  spec/models/saved_claim/education_career_counseling_claim_spec.rb
Labels: console-services-review

Api 19482 v2 schema cleanup (#10724)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_files_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

API-19743 Adds to auth_headers for evss. (#10721)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
Labels: none

3753: handle client end date mismatch (#10739)
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
Labels: mobile

removed vaos vcr cassette uri matching and replaced with method path query match (#10745)
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/cc_eligibility_request_spec.rb
  modules/vaos/spec/request/cc_supported_sites_request_spec.rb
  modules/vaos/spec/request/direct_booking_eligiblity_criteria_request_spec.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
  modules/vaos/spec/request/preferences_request_spec.rb
  modules/vaos/spec/request/request_eligibility_criteria_request_spec.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/request/v1/appointments_request_spec.rb
  modules/vaos/spec/request/v1/healthcare_service_request_spec.rb
  modules/vaos/spec/request/v1/locations_request_spec.rb
  modules/vaos/spec/request/v1/organization_request_spec.rb
  modules/vaos/spec/request/v1/patient_request_spec.rb
  modules/vaos/spec/request/v1/slot_request_spec.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/request/v2/available_slots_request_spec.rb
  modules/vaos/spec/request/v2/clinics_request_spec.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/request/v2/mobile_ppms_request_spec.rb
  modules/vaos/spec/request/v2/patients_request_spec.rb
  modules/vaos/spec/request/v2/scheduling_configurations_request_spec.rb
Labels: vaos

Fixing broken spec due to shared example not found error (#10741)
  modules/appeals_api/spec/workers/appeals_api/add_icn_updater_spec.rb
Labels: none

Dgi/feature toe form config (#10726)
  app/models/form_profiles/va_1990emeb.rb
  config/form_profile_mappings/22-1990EMEB.yml
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/forms/service/claimant_service.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
Labels: console-services-review

Reconnect rails cache on worker boot (#10751)
  config/puma.rb
Labels: console-services-review

removed vaos vcr cassette uri matching and replaced with method path query match (#10746)
  modules/vaos/spec/services/appointment_requests_service_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  modules/vaos/spec/services/cc_eligibility_service_spec.rb
  modules/vaos/spec/services/cc_supported_sites_service_spec.rb
  modules/vaos/spec/services/messages_service_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  modules/vaos/spec/services/preferences_service_spec.rb
  modules/vaos/spec/services/session_service_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  modules/vaos/spec/services/v1/fhir_service_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
  modules/vaos/spec/services/v2/patients_service_spec.rb
  modules/vaos/spec/services/v2/systems_service_spec.rb
Labels: vaos

update message that ends a forced outage (#10753)
  rakelib/breakers_outage.rake
Labels: console-services-review

API-17729: Add Postman Tests for New VBADocuments `validate_document` Endpoint (#10735)
  modules/vba_documents/postman_tests/Automated Benefits Intake API.postman_collection.json
  modules/vba_documents/postman_tests/Benefits_Intake_Postman.md
  modules/vba_documents/spec/fixtures/encrypted.pdf
Labels: none

added toggle for VAOS direct scheduling & appointment request clinic filtering (#10748)
  config/features.yml
Labels: console-services-review
