Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

[11216] Add user account when Form526Submission record is created (#11242)
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/form526_submission.rb
Labels: console-services-review

[49907] Adding user_account when a Form5655Submission is created (#11243)
  app/models/form5655_submission.rb
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

[11217] Adding user_account to created HealthQuest::QuestionnaireResponse records (#11244)
  modules/health_quest/app/models/health_quest/questionnaire_response.rb
  modules/health_quest/app/services/health_quest/questionnaire_manager/factory.rb
  modules/health_quest/spec/services/questionnaire_manager/factory_spec.rb
Labels: none

[11226] Adding user_account to MHVAccount record creation (#11245)
  app/models/mhv_account.rb
  app/models/user.rb
Labels: console-services-review

MHV-38375: Pagination made optional for get folder messages for keyword search (#11246)
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/spec/request/v1/folders_request_spec.rb
Labels: none

Fixing typo in EVSS claim (#11251)
  app/models/evss_claim.rb
Labels: console-services-review

Appeals docs revisions (#11219)
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/json_format_validation.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/errors/default.json
  modules/appeals_api/spec/support/schemas/hlr_validate.json
Labels: none

Created bgs-evss deployment
  chart/Chart.yaml
  chart/templates/deployment-bgs-evss.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.3.0.tgz
Labels: console-services-review

[33386] Update User.zip to User.postal_code (#11188)
  app/models/user.rb
  app/models/user_identity.rb
  app/services/users/profile.rb
  lib/decision_review/service.rb
  lib/decision_review_v1/service.rb
  lib/saml/user_attributes/ssoe.rb
  modules/health_quest/spec/factories/health_quest_users.rb
  modules/health_quest/spec/models/questionnaire_response_spec.rb
  modules/vaos/spec/factories/vaos_users.rb
  spec/factories/iam_user_identities.rb
  spec/factories/iam_users.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_spec.rb
  spec/services/users/profile_spec.rb
Labels: vaos, console-services-review

Updated bgs-evss manifest
  chart/Chart.yaml
  chart/templates/deployment-bgs-evss.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.3.1.tgz
Labels: console-services-review

Removed extra space from bgs-evss
  chart/Chart.yaml
  chart/templates/deployment-bgs-evss.yaml
  chart/values.yaml
  docs/index.yaml
  vets-api-0.3.2.tgz
Labels: console-services-review

Pushed new chart version
  docs/index.yaml
  docs/vets-api-0.3.2.tgz
Labels: console-services-review

pdf cert flipper (#11249)
  config/features.yml
Labels: console-services-review

Support for form 4142 for supplemental claims, plus additional logging (#10990)
  app/controllers/v1/supplemental_claims_controller.rb
  config/settings.yml
  lib/decision_review_v1/appeals/supplemental_claims.rb
  lib/decision_review_v1/service.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/SC-CREATE-RESPONSE-WITH-4142-200_V1.yml
Labels: console-services-review

Update client.rb (#11171)
  lib/mdot/client.rb
Labels: console-services-review

Changed bgs-evss servie account name
  chart/Chart.yaml
  chart/templates/deployment-bgs-evss.yaml
  docs/index.yaml
  docs/vets-api-0.3.3.tgz
Labels: console-services-review

Update hardcoded COE form params. (#11237)
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

Mobile: Implement a GenderIdentityController (#11252)
  modules/mobile/app/controllers/mobile/v0/gender_identity_controller.rb
  modules/mobile/app/serializers/mobile/v0/gender_identity_options_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/gender_identity_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_gender_identity_success.yml
Labels: mobile

VFEP-264 Add GCIO VFEP team to spool notifications (#11254)
  config/settings.yml
  spec/mailers/create_daily_spool_files_mailer_spec.rb
  spec/mailers/spool10203_submissions_report_mailer_spec.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: console-services-review

Hardcoded COE params hotfix. (#11262)
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

update prod helm chart image
  .github/workflows/deploy.yml
Labels: console-services-review

remove old vets-api-server image update
  .github/workflows/deploy-template.yml
Labels: console-services-review

update sandbox test app image
  .github/workflows/deploy-template.yml
Labels: console-services-review

update GHA commit message
  .github/workflows/deploy-template.yml
Labels: console-services-review

Api 21642 introduce rswag env (#11250)
  modules/claims_api/README.md
  modules/claims_api/app/controllers/claims_api/docs/v2/api_controller.rb
Labels: none

Chore: Add external service to templates (#11236)
  chart/templates/ingress_route.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
Labels: console-services-review

Chore: Bump version to pick up latest template (#11265)
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.3.4.tgz
Labels: console-services-review

Added externalService values
  chart/Chart.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.3.5.tgz
Labels: console-services-review

Appeals docs revisions [part 2] (#11247)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/contestable_issue.json
  modules/appeals_api/spec/support/schemas/nod_validate.json
  modules/appeals_api/spec/support/schemas/sc_validate.json
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: none

add lighthouse letters service to mobile (#11191)
  config/features.yml
  config/settings.yml
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/letter.rb
  modules/mobile/app/models/mobile/v0/lighthouse_assertion.rb
  modules/mobile/app/models/mobile/v0/lighthouse_params_factory.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/service.rb
  modules/mobile/spec/models/lighthouse_assertion_spec.rb
  modules/mobile/spec/models/lighthouse_params_factory_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_200.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_404.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_503.yml
Labels: mobile, console-services-review

Va notify 545/preneeds burial form email (#11253)
  app/controllers/v0/preneeds/burial_forms_controller.rb
  config/features.yml
  config/settings.yml
  spec/requests/preneeds/burial_forms_request_spec.rb
Labels: console-services-review

Add parent helm chart prompt to ensure templates can be locally rendered and new values were added to chart/values.yaml (#11270)
  .github/workflows/helm_chart_prompt.yml
Labels: console-services-review

Updated helm chart prompt
  .github/workflows/helm_chart_prompt.yml
Labels: console-services-review

Updated helm chart workflow name
  .github/workflows/helm_chart_prompt.yml
Labels: console-services-review

(fix) remove unneeded char in feature flag name (#11271)
  config/features.yml
Labels: console-services-review

Added presync hooks to pods
  chart/Chart.yaml
  chart/templates/lighthouse-pre-configs.yaml
  chart/templates/sa.yaml
  chart/templates/settings-configmap.yaml
  chart/templates/ssoe-config.yaml
  docs/index.yaml
  docs/vets-api-0.4.0.tgz
Labels: console-services-review

Replace server deployment during sync
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
  docs/index.yaml
  docs/vets-api-0.4.1.tgz
Labels: console-services-review

[30826] Removing gender from MPI service search by attributes (#11269)
  lib/mpi/service.rb
  spec/lib/mpi/service_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/orch_search_with_attributes.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: console-services-review

Set revision history to 1
  chart/Chart.yaml
  chart/templates/deployment-bgs-evss.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.4.2.tgz
Labels: console-services-review

removes identity module (#11278)
  Gemfile
  Gemfile.lock
  modules/identity/Gemfile
  modules/identity/README.rdoc
  modules/identity/Rakefile
  modules/identity/bin/rails
  modules/identity/config/routes.rb
  modules/identity/identity.gemspec
  modules/identity/lib/identity.rb
  modules/identity/lib/identity/engine.rb
  modules/identity/lib/identity/version.rb
  modules/identity/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review
