Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

adds require string_helpers (#12470)
  lib/breakers/statsd_plugin.rb
Labels: console-services-review

sum the HPA values
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.11.45.tgz
Labels: console-services-review

Api 25622 tracked item status (#12451)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/vcr_cassettes/bgs/tracked_item_service/claims_v2_show_tracked_items.yml
Labels: console-services-review

Flipper auto refresh (#11897)
  lib/flipper/views/layout.erb
Labels: console-services-review

5198 handle partial appointments response (#12438)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/docs/examples/appointments/partial_appointments.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_partial_error.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

Add logging for contact information updates (#12398)
  modules/mobile/app/controllers/mobile/v0/profile_base_controller.rb
  modules/mobile/spec/controllers/profile_base_controller_spec.rb
  modules/mobile/spec/support/schemas/sso_log.json
  modules/mobile/spec/support/sis_session_helper.rb
  spec/factories/iam_user_identities.rb
Labels: mobile, console-services-review

Forms api - Mask all potential PII from error message (#12471)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/spec/requests/v1/uploads_spec.rb
Labels: none

API-25979-post-schema-docs (#12462)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

Add require so PdfFill module is found (#12479)
  lib/central_mail/datestamp_pdf.rb
Labels: console-services-review

handle nils in appt failures (#12481)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
Labels: mobile

handle nils in appt failures (#12485)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
Labels: mobile

Require pdf filler for FSR (#12478)
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

Mobile: Relocate logging of sso information to controller concern (#12486)
  modules/mobile/app/controllers/mobile/concerns/sso_logging.rb
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/app/controllers/mobile/v0/profile_base_controller.rb
Labels: mobile

Bdex/56794: refactor Lighthouse Veteran Verification API service (#12467)
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/form_profiles/va_526ez.rb
  config/settings.yml
  config/settings/test.yml
  lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/rated_disabilities_provider.rb
  lib/lighthouse/veteran_verification/configuration.rb
  lib/lighthouse/veteran_verification/service.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities/rated_disabilities_provider_spec.rb
  spec/lib/lighthouse/veteran_verification/service_spec.rb
Labels: console-services-review

WIP: Add config for Datdog's Unified Service Tagging
  chart/templates/worker-deployment.yaml
Labels: console-services-review

Forms api - 21 4142 fixups (#12490)
  modules/forms_api/app/form_mappings/vba_21_4142.json.erb
  modules/forms_api/spec/fixtures/form_json/vba_21_4142-min.json
  modules/forms_api/spec/services/pdf_filler_spec.rb
Labels: none

Revert "WIP: Add config for Datdog's Unified Service Tagging"
  chart/templates/worker-deployment.yaml
Labels: console-services-review

Prevent redis cache if data is nil (#12494)
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
Labels: mobile

[department-of-veterans-affairs/va-virtual-agent#873] Adds logging fo… (#12489)
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
Labels: console-services-review

Revert "Prevent redis cache if data is nil (#12494)" (#12495)
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
Labels: mobile

API-24186 New max dimensions for Benefits Intake API (#12457)
  config/features.yml
  lib/central_mail/upload_error.rb
  lib/pdf_info.rb
  lib/pdf_utilities/pdf_validator.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/fixtures/10x102.pdf
  modules/vba_documents/spec/fixtures/79x10.pdf
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/fixtures/pdf_utilities/pdf_validator/10x102.pdf
  spec/fixtures/pdf_utilities/pdf_validator/79x10.pdf
  spec/lib/central_mail/upload_error_spec.rb
  spec/lib/pdf_info/metadata_spec.rb
Labels: console-services-review

Values cleanup
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/hpa.yml
  chart/templates/ingress_route.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.46.tgz
Labels: console-services-review

5531: remove logging when attempting to cache nil (#12497)
  modules/mobile/app/models/mobile/v0/concerns/redis_caching.rb
Labels: mobile

Add params to vets-api workflow (#12473)
  .github/workflows/preview_environment_deployment.yml
  script/github-actions/pe-deploy-source.js
Labels: console-services-review

Add mcp notifications feature flag (#12496)
  app/controllers/v0/medical_copays_controller.rb
  app/policies/medical_copays_policy.rb
  config/features.yml
Labels: console-services-review

57009: temporarily remove rx logging (#12503)
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
Labels: mobile

API-26059 Log durations of some sidekiq jobs (#12474)
  config/initializers/sidekiq.rb
  lib/sidekiq/benchmark_logging_worker.rb
  lib/sidekiq/middleware/benchmark_logging_middleware.rb
  modules/appeals_api/app/workers/appeals_api/flipper_status_alert.rb
  modules/va_forms/app/workers/va_forms/flipper_status_alert.rb
  modules/vba_documents/app/workers/vba_documents/flipper_status_alert.rb
  spec/lib/sidekiq/middleware/benchmark_logging_middleware_spec.rb
Labels: console-services-review

Forms Api: Add log for submission UUID (#12505)
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
Labels: none

Rename MCP notifications endpoint (#12453)
  app/controllers/v0/medical_copays_controller.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  config/routes.rb
  spec/controllers/v0/medical_copays_controller_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

API-24891 Correct underscores to dashes in segmented appeals API docs (#12491)
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
Labels: none

Commented out EVSSClaimBaseSerializer and Claims::Proxy rails error logs (#12508)
  app/serializers/evss_claim_base_serializer.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile, console-services-review

Added Stop Codes to Type of Care Logging. (#12504)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: vaos

Revert "API-24186 New max dimensions for Benefits Intake API (#12457)" (#12518)
  config/features.yml
  lib/central_mail/upload_error.rb
  lib/pdf_info.rb
  lib/pdf_utilities/pdf_validator.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/fixtures/10x102.pdf
  modules/vba_documents/spec/fixtures/79x10.pdf
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/fixtures/pdf_utilities/pdf_validator/10x102.pdf
  spec/fixtures/pdf_utilities/pdf_validator/79x10.pdf
  spec/lib/central_mail/upload_error_spec.rb
  spec/lib/pdf_info/metadata_spec.rb
Labels: console-services-review

Adding a random uuid if the passed in value is nil. Just send the payload, the id is not important (#12519)
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

5541: update openapi docs to represent new Rx endpoint statuses (#12520)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

5541 rx status tests (#12516)
  spec/lib/rx/client_request_spec.rb
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_optimistic_locking_error.yml
Labels: console-services-review

Add logingov to backend_statuses (#12521)
  config/settings.yml
Labels: console-services-review

Vfep 413 - remove feature flags 5490 spool file (#12523)
  app/workers/education_form/templates/5490.erb
Labels: console-services-review

Api 26160 remove uploaded attribute (#12500)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Always set overdue to false unless it's in wwsnfy (#12480)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
