Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

RRD: Update claim established message for pending EP offramp (#9480)
  app/mailers/hypertension_fast_track_pilot_mailer.rb
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/mailers/hypertension_fast_track_pilot_mailer_spec.rb
Labels: console-services-review

Api 14669 max length header tests (#9471)
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/additional_content.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/pages/v2/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

API-13229 HLRv2 & NOD Non-Veteran Claimant email support (#9473)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: none

Mhv identity model 35659 (#9461)
  app/models/inherited_proofing/mhv_identity_data.rb
  config/redis.yml
  spec/factories/inherited_proofing/mhv_identity_data.rb
  spec/models/inherited_proofing/mhv_identity_data_spec.rb
Labels: console-services-review

remove sidekiq enqueue for update mail job until email is added (#9493)
  modules/covid_research/app/controllers/covid_research/volunteer/submissions_controller.rb
  modules/covid_research/spec/requests/volunteer_request_spec.rb
Labels: none

add toggle to show or hide 2 fields (#9485)
  config/features.yml
Labels: console-services-review

API-12495 Cemetery businessline to CMP (#9495)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
Labels: none

RRD: in notifications, add medications count grouped by year and status (#9484)
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
Labels: console-services-review

[38647] Add compatability to switch api key header name (#9492)
  app/services/medical_copays/request.rb
  config/features.yml
Labels: console-services-review

API-12126 HLRv2 Claimant Error Handling (#9497)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200996.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers.json
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: none

adding additional logging for appointments errors (#9499)
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
Labels: mobile

RRD: rename hypertension classes (#9478)
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/services/rapid_ready_for_decision/lighthouse_medication_request_data.rb
  app/services/rapid_ready_for_decision/lighthouse_observation_data.rb
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_blood_pressure_readings.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_medications.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_no_medications_are_present/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_no_medications_are_present/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_LighthouseMedicationRequestData/_transform/returns_all_of_the_medications_that_are_active.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_LighthouseMedicationRequestData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_LighthouseObservationData/_transform/returns_only_bp_readings_from_the_past_year.yml
Labels: console-services-review

removing emails (#9491)
  app/mailers/dependents_application_failure_mailer.rb
  config/settings.yml
  spec/mailers/dependents_application_failure_mailer_spec.rb
Labels: console-services-review

Fix skipped HCA specs (#9482)
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/submit_with_attachment.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment_jpg.yml
Labels: console-services-review

Fixes 'veteranReadinessAndEmployment' in form_data.rb to match 200995.json schema. (#9502)
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
Labels: none

Mhv api service object 35657 (#9459)
  .rubocop_todo.yml
  config/settings.yml
  lib/inherited_proofing/mhv/configuration.rb
  lib/inherited_proofing/mhv/inherited_proofing_verifier.rb
  lib/inherited_proofing/mhv/service.rb
  spec/lib/inherited_proofing/mhv/inherited_proofing_verifier_spec.rb
  spec/lib/inherited_proofing/mhv/service_spec.rb
Labels: console-services-review

RRD: add rescue within rrd_processor_failed_handler (#9460)
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

updates filename to be dynaic based on status of applicant (#9498)
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
Labels: console-services-review

Removing unnecessary redis.current values set in sessions spec (#9510)
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

RRD: refactor LighthouseMedicationRequestData for reusability (#9501)
  app/services/rapid_ready_for_decision/lighthouse_medication_request_data.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
Labels: console-services-review

remove old hypertension Flipper flags (#9479)
  app/services/rapid_ready_for_decision/processor_selector.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  config/features.yml
  spec/models/form526_submission_spec.rb
Labels: console-services-review

RRD: Move more existing Hypertension PDF into templates (#9489)
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
Labels: console-services-review

Changes NCA to CMP for SC. (#9513)
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
Labels: none

Added new feature flip for larota security updates. (#9507)
  config/features.yml
Labels: console-services-review

API-14302: Distinguish between claims and supporting docs in EVSS uploads, Claims API (#9488)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/workers/claims_api/claim_uploader.rb
  modules/claims_api/spec/workers/claim_uploader_spec.rb
Labels: none

API-14883 Hide NODv2 claimant from docs since it is still WIP (#9506)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Add deprecate key to swagger blocks for nod v1 (#9291)
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
Labels: none

created form 1095B table (#9457)
  db/migrate/20220217005515_create_form1095_bs.rb
  db/schema.rb
Labels: console-services-review

Add `README` for Cypress Viewport Updater worker (#9517)
  app/workers/cypress_viewport_updater/README.md
Labels: console-services-review

Remove sunset date from nod v1 (#9520)
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
Labels: none

Add deprecate key to swagger blocks for nod v1 (#9291) (#9519)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: none

Fixing flaky spec in delete_old_uploads (#9525)
  spec/jobs/preneeds/delete_old_uploads_spec.rb
Labels: console-services-review

RRD: Allow worker subclass to skip release of generated PDF to EVSS (#9518)
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

remove email (#9522)
  app/mailers/dependents_application_failure_mailer.rb
  spec/mailers/dependents_application_failure_mailer_spec.rb
Labels: console-services-review

[9532] Fixing flaky spec by removing singleton mutation that was causing downstream test failures] (#9533)
  modules/appeals_api/spec/services/appeals_api/events/handler_spec.rb
Labels: none

allow mobile appointment location when no provider (#9536)
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
Labels: mobile

API-14658: Transform POA 'uploaded' status to 'updated' when serialized (#9526)
  modules/claims_api/app/serializers/claims_api/power_of_attorney_serializer.rb
  modules/claims_api/spec/serializers/power_of_attorney_serializer_spec.rb
Labels: none

[39116] Serializing inherited proof verified field for users serializer (#9496)
  app/controllers/v1/sessions_controller.rb
  app/models/user.rb
  app/models/user_identity.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/user_creator.rb
  app/services/users/profile.rb
  spec/models/user_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

Dgi toe feature flag (#9539)
  config/features.yml
Labels: console-services-review

API-14937 Fix sending HLR emails to veteran when no NVC present (#9541)
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: none

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
