Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

45491 Changes to support lorota security updates partial dial-up (#10479)
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/models/check_in/v2/session.rb
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: console-services-review

Prevent claims with pending_eps from moving through to MAS (#10496)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

DHP-284 :code param bugfix (#10499)
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit/fitbit_controller.rb
  modules/dhp_connected_devices/spec/lib/fitbit_client_spec.rb
Labels: none

Fixing flaky spec in rrd_completed_mailer_spec occurring by overwriting Settings values (#10495)
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

adds safer handling for error code (#10501)
  app/controllers/v0/sign_in_controller.rb
Labels: console-services-review

add vaos appt list feature flag (#10498)
  config/features.yml
Labels: console-services-review

Correct VBS api key header name for FSR (#10505)
  lib/debt_management_center/vbs/request.rb
  spec/lib/debt_management_center/vbs/request_spec.rb
Labels: console-services-review

add vaos v2 integration specs (#10484)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_bad_facility_id_200.yml
Labels: mobile

Update docs to include two new endpoints: POST /v0/messaging/health/folders and GET/v0/maintenance_windows (#10504)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateSecureMessagingFolder.yml
  modules/mobile/docs/schemas/CreateSecureMessagingFolderResponse.yml
  modules/mobile/docs/schemas/MaintenanceWindows.yml
Labels: mobile

Include Facility Number with VHA FSR Request (#10506)
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/schemas/fsr.json
Labels: console-services-review

[45805] Making direct MPI calls during sign in service user creation (#10503)
  app/controllers/v1/sessions_controller.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

updates to make 1095B loading script work with real data (#10500)
  app/workers/form1095/new1095_bs_job.rb
Labels: console-services-review

API-18170: Add index actions to fetch submissions filtered by veteran (#10418)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/mpi_veteran.rb
  modules/appeals_api/app/serializers/appeals_api/higher_level_review_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claim_serializer.rb
  modules/appeals_api/app/workers/appeals_api/add_icn_updater.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

(chore) add payments notification toggle (#10509)
  config/features.yml
Labels: console-services-review

API-18603 Fix duplicates in appeals error report (#10510)
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
Labels: none

45308 Creating lorota delete feature flag (#10502)
  config/features.yml
Labels: console-services-review

3651: autoload mobile lib path (#10497)
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/contracts/base.rb
Labels: mobile

Add feature flag for facilities API use in Caregivers application (#10525)
  config/features.yml
Labels: console-services-review

API-18639-setup-getClaimDocs (#10471)
  lib/evss/documents_service.rb
  spec/lib/evss/documents_service_spec.rb
  spec/support/vcr_cassettes/evss/documents/get_claim_documents.yml
Labels: console-services-review

Add trackedItems to v2 claim blueprint (#10489)
  Gemfile.lock
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/vcr_cassettes/bgs/tracked_items/find_tracked_items.yml
Labels: console-services-review

RRD: Send notification when processing a PACT-related claim (#10420)
  app/mailers/rrd_new_disability_claim_mailer.rb
  app/mailers/views/rrd_new_disability_claim_mailer.html.erb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  config/settings.yml
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

convert cancelid facility to non-prod id (#10514)
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/templates/va_appointment.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/models/appointment_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cancel_reasons.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cancel_reasons_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cancel_reasons_invalid.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_409.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_500.yml
Labels: mobile

[45793] Adding log that triggers when a user authenticates with sign in service and has not previously authenticated with va.gov (#10517)
  app/services/sign_in/user_creator.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

[10518] Updating user_verification edge case where user authenticated with an ICN and then later authenticates with an older valid ICN (#10520)
  app/services/login/errors.rb
  app/services/login/user_verifier.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

MAS integration: Make pending_eps? method idempotent (#10528)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
Labels: console-services-review

Preserve evidence of initial pending EP check (#10531)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
Labels: console-services-review

Mobile fix facilities info controller facility id conversion (#10530)
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_multiple_mfs_facilities_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info_yml.yml
Labels: mobile

add sidekiq_alive and bash bin file (#10527)
  Gemfile
  Gemfile.lock
  bin/sidekiq_quiet
Labels: console-services-review

add yq entry to update sidekiq image_tag (#10537)
  .github/workflows/deploy-template.yml
Labels: console-services-review

update dir name and syntax
  .github/workflows/deploy-template.yml
Labels: console-services-review

separate sidekiq and vets-api image update
  .github/workflows/deploy-template.yml
Labels: console-services-review

Add Form5655 Submission model and create records for cFSR submission (#10536)
  app/models/form5655_submission.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

Appointments controller vamf partial logging v2 (#10461)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/schemas_camelized/vaos/v2/va_appointment_raw.json
  spec/support/schemas_camelized/vaos/v2/va_appointments.json
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_v2_partial_error.yml
Labels: vaos, console-services-review

Adds test, and adds line to add veteran_icn to the claim. (#10526)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

testing manifests directory
  .github/workflows/deploy-template.yml
Labels: console-services-review

API-18819 - ClaimsApi - Fixes invalid "stringboolean" type in developer docs (#10532)
  modules/claims_api/app/controllers/concerns/claims_api/json_format_validation.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/errors/default_with_source.json
Labels: console-services-review

PACT-ish: Correct the New Claim reporting filters (#10538)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

Toe submission endpoint (#10529)
  config/features.yml
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/fry_dea_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/toes_controller.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/submission_service_spec.rb
  modules/meb_api/spec/dgi/fry_dea/service_spec.rb
  modules/meb_api/spec/requests/fry_dea_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  modules/meb_api/spec/requests/toes_spec.rb
  spec/support/vcr_cassettes/dgi/forms/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/get_toe_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/submit_toe_claim.yml
Labels: console-services-review

Api 17275 update poa pdf (#10459)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/pdf_templates/21-22/1.pdf
  modules/claims_api/config/pdf_templates/21-22/2.pdf
  modules/claims_api/config/pdf_templates/21-22/3.pdf
  modules/claims_api/config/pdf_templates/21-22/4.pdf
  modules/claims_api/config/pdf_templates/21-22A/1.pdf
  modules/claims_api/config/pdf_templates/21-22A/2.pdf
  modules/claims_api/config/pdf_templates/21-22A/3.pdf
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/config/schemas/v2/2122.json
  modules/claims_api/lib/claims_api/poa_pdf_constructor/base.rb
  modules/claims_api/lib/claims_api/poa_pdf_constructor/individual.rb
  modules/claims_api/lib/claims_api/poa_pdf_constructor/organization.rb
  modules/claims_api/spec/fixtures/21-22/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/21-22A/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/VBA-21-22-ARE.pdf
  modules/claims_api/spec/fixtures/VBA-21-22A-ARE.pdf
Labels: none

Add statsd logging for 1010cg background jobs (#10515)
  app/workers/form1010cg/submission_job.rb
  config/initializers/statsd.rb
  spec/jobs/form1010cg/submission_job_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
