Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Only set Datadog env if DD_ENV not set (#10591)
  config/initializers/datadog.rb
Labels: console-services-review

Fix ICN vs Errors test (#10590)
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Adds OpenAPI Spec docs for my_health module (#10519)
  modules/my_health/app/controllers/my_health/apidocs_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/README.md
  modules/my_health/docs/generate_html_docs.sh
  modules/my_health/docs/merge_api_docs.sh
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/Error.yml
  modules/my_health/docs/schemas/Errors.yml
  modules/my_health/docs/schemas/SecureMessageAttachment.yml
  modules/my_health/docs/schemas/SecureMessageCategories.yml
  modules/my_health/docs/schemas/SecureMessageDetail.yml
  modules/my_health/docs/schemas/SecureMessageList.yml
  modules/my_health/docs/schemas/SecureMessageNewMessageRequest.yml
  modules/my_health/docs/schemas/SecureMessageReplyRequest.yml
  modules/my_health/docs/schemas/SecureMessageSignature.yml
  modules/my_health/docs/schemas/SecureMessageSummary.yml
  modules/my_health/docs/schemas/SecureMessagingFolder.yml
  modules/my_health/docs/schemas/SecureMessagingFolders.yml
  modules/my_health/docs/schemas/SecureMessagingRecipients.yml
Labels: none

test commenting this out
  config/initializers/datadog.rb
Labels: console-services-review

remove host/port - we use socat + uds
  config/initializers/datadog.rb
Labels: console-services-review

VAOS v2 get the appointments clinic is incorrect (#10579)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/config/initializers/statsd.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_clinic_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_clinic_500.yml
Labels: vaos, console-services-review

Fixing slow sidekiq jobs that were creating slow queries by reducing the batch size of ids sent to the jobs (#10596)
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
Labels: none

Include Submission ID with VHA FSR (#10593)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

Add profile claims to user response (#10594)
  app/policies/bgs_policy.rb
  app/services/users/profile.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/policies/bgs_policy_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

46386 Populate SharePoint columns for VHA FSR (#10597)
  config/settings/test.yml
  lib/debt_management_center/sharepoint/request.rb
  spec/lib/debt_management_center/sharepoint/request_spec.rb
Labels: console-services-review

Api 17680 supporting documents (#10584)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/transformers/lower_camel_transformer.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/vcr_cassettes/evss/documents/get_claim_documents.yml
Labels: console-services-review

add with_monitoring to session_service (#10595)
  modules/vaos/app/services/vaos/session_service.rb
Labels: vaos

[10589] Removing sentry logs for expected errors in sign in service authentication (#10599)
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/constants/statsd.rb
  app/services/sign_in/session_revoker.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

API-18947 trackedItems fields (#10600)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

Remove orphaned sidekiq alive queues every 30 minutes (#10602)
  config/sidekiq_scheduler.yml
Labels: console-services-review

Fix cypress viewport updater (#10580)
  app/workers/cypress_viewport_updater/cypress_config_js_file.rb
  app/workers/cypress_viewport_updater/cypress_json_file.rb
  app/workers/cypress_viewport_updater/github_service.rb
  app/workers/cypress_viewport_updater/update_cypress_viewports_job.rb
  spec/jobs/cypress_viewport_updater/cypress_config_js_file_spec.rb
  spec/jobs/cypress_viewport_updater/existing_github_file_spec.rb
  spec/jobs/cypress_viewport_updater/github_service_spec.rb
  spec/jobs/cypress_viewport_updater/update_cypress_viewports_job_spec.rb
  spec/support/vcr_cassettes/cypress_viewport_updater/github_get_cypress_config_js_file.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_get_cypress_json_file.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_get_content.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_get_content_file_1.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_get_content_file_2.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_new.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_update_content_file_1.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_update_content_file_2.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_update.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_update_content_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_update_content_new.yml
Labels: console-services-review

Add user level flipper toggle for 1010cg submissions (#10604)
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/requests/caregivers_assistance_claims_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

1095 b update script (#10598)
  app/workers/form1095/new1095_bs_job.rb
  spec/support/form1095/multiple_valid_forms.txt
Labels: console-services-review

[DHP-287] Revoke token on disconnect (#10603)
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit/fitbit_controller.rb
  modules/dhp_connected_devices/app/services/token_storage_service.rb
  modules/dhp_connected_devices/lib/fitbit/client.rb
  modules/dhp_connected_devices/lib/fitbit/configuration.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/lib/fitbit_client_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/token_storage_service_spec.rb
Labels: none

Mobile vaos v2 integration vista id fix (#10605)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/va_v0_appointment.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_clinic_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_clinic_bad_facility_id_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_bad_facility_id_200.yml
Labels: mobile

3747 claims and appeals error handling (#10610)
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile

3730: switch ppms to use new staff.apps.va.gov url (#10592)
  config/settings.yml
  modules/vaos/app/services/vaos/ppms_configuration.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_400.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_500.yml
Labels: vaos, console-services-review

Add profile_user_claims feature flag (#10609)
  app/services/users/profile.rb
  config/features.yml
  spec/controllers/v0/users_controller_spec.rb
Labels: console-services-review

Upload to sharepoint on submission (#10601)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

[10612] Fixing issue with optional authentication routes with sign in service not actually refreshing the session when being used (#10613)
  app/controllers/claims_base_controller.rb
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/burial_claims_controller.rb
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/controllers/v0/coe_controller.rb
  app/controllers/v0/education_benefits_claims_controller.rb
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/controllers/v0/gi_bill_feedbacks_controller.rb
  app/controllers/v0/health_care_applications_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/controllers/v0/veteran_readiness_employment_claims_controller.rb
  spec/controllers/sign_in/application_controller_spec.rb
Labels: console-services-review

[46586] Ensuring that MPI properly parses full user name by searching for legal name stanza in MPI response (#10607)
  lib/mpi/responses/parser_base.rb
  lib/mpi/responses/profile_parser.rb
  spec/lib/mpi/responses/parser_base_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/support/mpi/find_candidate_multiple_name_response.xml
Labels: console-services-review

Feature/ksoskin/increased 526 logging (#10611)
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

Updates certs, paths, and token service for new DGI local setup (#10606)
  config/settings.yml
  modules/meb_api/lib/authentication_token_service.rb
  modules/meb_api/spec/fixtures/dgi_private_test.pem
  modules/meb_api/spec/fixtures/dgi_public_test.pem
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
Labels: console-services-review

Offramp MAS-related claims if they're not service-connected (#10614)
  app/workers/evss/disability_compensation_form/submit_form526.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/evss/disability_compensation_form/rated_disabilities_with_non_service_connected.yml
Labels: console-services-review

API-19332 - ClaimsApi - Add "middle initial" column to Veteran::Representatives table (#10623)
  db/migrate/20220906163019_add_middle_initial_to_veteran_representative.rb
  db/schema.rb
Labels: console-services-review

Incorrect Email Template for HLR\SC received notifications (#10619)
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: none

[46618] Changing SiS statsd callback so that it uses actual user ial instead of requested acr value in statsd and logged values (#10615)
  app/controllers/v0/sign_in_controller.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

Removes translation feature flags from features. (#10624)
  config/features.yml
Labels: console-services-review

Add back end feature flag for cfsr enhancements. (#10626)
  config/features.yml
Labels: console-services-review

Revert "Updates certs, paths, and token service for new DGI local setup (#10606)" (#10633)
  config/settings.yml
  modules/meb_api/lib/authentication_token_service.rb
  modules/meb_api/spec/fixtures/dgi_private_test.pem
  modules/meb_api/spec/fixtures/dgi_public_test.pem
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
Labels: console-services-review

ABD VRO integration (assess-claim endpoint) (#10560)
  .rubocop_todo.yml
  config/settings.yml
  lib/virtual_regional_office/client.rb
  lib/virtual_regional_office/configuration.rb
  spec/lib/virtual_regional_office/client_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/health_assessment.yml
Labels: console-services-review

API-19332 - ClaimsApi - Allow VSOReloader to store middle initial (#10628)
  modules/veteran/app/workers/veteran/vso_reloader.rb
  modules/veteran/spec/workers/veteran/vso_reloader_spec.rb
  spec/support/vcr_cassettes/veteran/ogc_vso_rep_data_no_middle_initial.yml
Labels: console-services-review

Mobile: filter appoointment requests on VAOS v2 upstream service (#10622)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/schemas/VAOS_v2_appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_no_requests_200.yml
Labels: mobile

changed the VAOS v2 MobileFacilityService#get_clinic parameters to required (#10617)
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
Labels: vaos

Revert "add with_monitoring to session_service (#10595)"
  modules/vaos/app/services/vaos/session_service.rb
Labels: vaos

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
