Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

update with EKS info
  docs/setup/running_natively.md
Labels: console-services-review

[54956] SiS Constants Isolation (#12063)
  app/models/sign_in/credential_level.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/factories/sign_in/credential_levels.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

removes MHV Accounts table (#12109)
  db/migrate/20230314210725_drop_mhv_accounts.rb
  db/schema.rb
Labels: console-services-review

put back docker entrypoint
  docker-entrypoint.sh
Labels: console-services-review

update clamav
  docs/setup/hybrid.md
Labels: console-services-review

Oopsie
  docs/setup/hybrid.md
Labels: console-services-review

removed vaos v0 api docs controller (#12173)
  modules/vaos/app/controllers/vaos/v0/apidocs_controller.rb
  modules/vaos/spec/request/apidocs_request_spec.rb
Labels: vaos

telehealth logging on post (#12174)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_and_logs_data.yml
Labels: vaos, console-services-review

update clamav docs
  config/initializers/clamav.rb
  docker-compose-clamav.yml
  docs/setup/running_natively.md
Labels: console-services-review

updates prod swagger (#12158)
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: none

Vfep 369 - add Marriage Date to back end spool files (#12171)
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
Labels: console-services-review

54619 Removing CIE throttling for test environments (#12181)
  config/initializers/rack_attack.rb
Labels: console-services-review

removed vaos v0 cc eligibility serializer and request rspecs (#12179)
  modules/vaos/app/serializers/vaos/v0/cc_eligibility_serializer.rb
  modules/vaos/spec/request/cc_eligibility_request_spec.rb
Labels: vaos

add clamav config for shared volumes
  config/initializers/clamav.rb
  docker-compose.yml
Labels: console-services-review

edit hybrid setup
  docs/setup/running_natively.md
Labels: console-services-review

add clamav config
  config/initializers/clamav.rb
  docker-compose-clamav.yml
  docker-compose-deps.yml
Labels: console-services-review

update hybrid.md
  docs/setup/hybrid.md
Labels: console-services-review

update running_natively.md
  docs/setup/running_natively.md
Labels: console-services-review

update Developer setup
  docs/setup/native.md
Labels: console-services-review

update docker.md
  docs/setup/docker.md
Labels: console-services-review

Put this in a different place
  docs/setup/docker.md
Labels: console-services-review

update clamav docker steps
  docs/setup/running_docker.md
Labels: console-services-review

Add EKS clam config docs
  docs/setup/running_docker.md
Labels: console-services-review

removed vaos v0 available appointments controller (#12184)
  modules/vaos/app/controllers/vaos/v0/available_appointments_controller.rb
Labels: vaos

API-22858 HLR form v3, part 3 (#12130)
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v3/structure_spec.rb
Labels: console-services-review

API-24392: Fix Symbols vs. Strings Bug in `BulkFeatureChecker` (#12180)
  config/sidekiq_scheduler.yml
  lib/flipper/utilities/bulk_feature_checker.rb
  spec/lib/flipper/utilities/bulk_feature_checker_spec.rb
Labels: console-services-review

removed vaos v0 cancel reasons controller and cancel reasons serializer (#12187)
  modules/vaos/app/controllers/vaos/v0/cancel_reasons_controller.rb
  modules/vaos/app/serializers/vaos/v0/cancel_reason_serializer.rb
Labels: vaos

fix kwargs (#12188)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/structure.rb
Labels: none

Docker bundle cache (#12136)
  .github/workflows/code_checks.yml
  Dockerfile
Labels: console-services-review

Revert "Vfep 369 - add Marriage Date to back end spool files (#12171)" (#12191)
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
Labels: console-services-review

removed vaos v0 clinics controller and clinics serializer (#12190)
  modules/vaos/app/controllers/vaos/v0/clinics_controller.rb
  modules/vaos/app/serializers/vaos/v0/clinic_serializer.rb
Labels: vaos

Copy only necessary module files and use BuildKit cache (#12177)
  .github/workflows/code_checks.yml
  .github/workflows/update_bundle_cache.yml
  Dockerfile
Labels: console-services-review

API-24437: Add `X-VA-ICN` Header Validation to HLR/NOD/SC Appeals Endpoints (#12163)
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs_headers.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs_headers.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs_headers.json
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/fixtures/v1/valid_10182_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers_extra.json
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

Api 24646 handling bgs error no pid (#11996)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

Fix Contestable Issues double-render error (#12193)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: none

removed vaos v0 visits controller and facility visit serializer (#12196)
  modules/vaos/app/controllers/vaos/v0/visits_controller.rb
  modules/vaos/app/serializers/vaos/v0/facility_visit_serializer.rb
Labels: vaos

API-24698-appropriate-error-icn-not-found (#12002)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

removed vaos v0 systems controller (#12198)
  modules/vaos/app/controllers/vaos/v0/systems_controller.rb
  modules/vaos/app/serializers/vaos/v0/system_serializer.rb
  modules/vaos/spec/request/systems_request_spec.rb
Labels: vaos

Configured startupProbe and livenessProbe as httpRequests" (#12200)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.09.tgz
Labels: console-services-review

(chore) added desginer to admin toggle (#12175)
  config/settings.yml
Labels: console-services-review
