Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Update settings.yml (#10795)
  config/settings.yml
Labels: console-services-review

Add route, endpiont skeleton and test (#10792)
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  spec/support/schemas/claims_api/v2/veterans/submit_waiver_5103.json
Labels: console-services-review

updates config/features.yml (#10806)
  config/features.yml
Labels: console-services-review

Increase address limit to 30 characters (#10772)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/config/schemas/v2/2122.json
Labels: none

Create Form5655Submission for each VHA submission (#10807)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

Military service data (#10808)
  app/swagger/swagger/requests/profile.rb
  config/features.yml
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/military_personnel/service_history_response.rb
  lib/va_profile/models/service_history.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/lib/va_profile/models/service_history_spec.rb
  spec/requests/service_history_request_spec.rb
  spec/support/schemas/service_history_response.json
  spec/support/schemas_camelized/service_history_response.json
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_histories_200.yml
Labels: console-services-review

46107 Update refresh_precheckin error handling (#10788)
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/check_in/check_in_500.yml
  spec/support/vcr_cassettes/check_in/chip/pre_check_in/pre_check_in_500.yml
Labels: console-services-review

Mobile: Add logging for when immunization array comparison fails (#10801)
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_blank_group_name.yml
Labels: mobile

[10794] Using backing_idme_uuid with User creation for Sign in Servic… (#10804)
  app/models/user_verification.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_verification_spec.rb
Labels: console-services-review

Fixing MPI unexpected raised error when we have missing attributes (#10809)
  lib/mpi/service.rb
Labels: console-services-review

API-20141: VBADocuments - Fix 'Unexpected End of Payload' Bug when Parsing Base64-Decoded File (#10812)
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
Labels: none

39199 Service/client layer changes for delete endpoint integration (#10802)
  config/betamocks/services_config.yml
  config/brakeman.ignore
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/chip/client_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
  spec/support/vcr_cassettes/check_in/chip/delete/delete_from_lorota_200.yml
  spec/support/vcr_cassettes/check_in/chip/delete/delete_from_lorota_500.yml
  spec/support/vcr_cassettes/check_in/lorota/token/token_dob_mismatch_401.yml
Labels: console-services-review

add claimantId to params for enrollment submission (#10784)
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/lib/dgi/enrollment/service.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

Set VAOS default timeout to 55 seconds (#10814)
  config/settings.yml
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/services/vaos/configuration.rb
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/configuration_spec.rb
  modules/vaos/spec/services/v1/fhir_configuration_spec.rb
Labels: vaos, console-services-review

Update prawn-markup (#10759)
  Gemfile
  Gemfile.lock
Labels: console-services-review

[47665] Adding idme and logingov uuid to Sign in Service introspect endpoint serialized response (#10816)
  app/serializers/sign_in/introspect_serializer.rb
  spec/serializers/sign_in/introspect_serializer_spec.rb
Labels: console-services-review

39199 Fixing max_auth_retry_limit as string datatype in staging (#10817)
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: none

API-18656-add-model-and-test (#10797)
  modules/claims_api/app/models/claims_api/evidence_waiver_submission.rb
  modules/claims_api/spec/factories/evidence_waiver_submissions.rb
  modules/claims_api/spec/models/evidence_waiver_submission_spec.rb
Labels: none

Mobile - Update RX tracking to include multiple tracking numbers (#10813)
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescription_tracking_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/docs/schemas/PrescriptionTracking.yml
  modules/mobile/docs/schemas/PrescriptionTrackingRecord.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription_tracking.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_tracking_with_empty_other_prescriptions.yml
Labels: mobile

47091 group filtering Grafana VAOS Alerts V2 (#10821)
  lib/string_helpers.rb
  spec/lib/string_helpers_spec.rb
Labels: console-services-review

slack service updates to not take message at instantiation (#10820)
  lib/slack/service.rb
  spec/lib/slack/service_spec.rb
Labels: console-services-review

VA Notify 553: Career counseling email update logic (#10770)
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/workers/central_mail/submit_career_counseling_job.rb
  spec/jobs/central_mail/submit_career_counseling_job_spec.rb
Labels: console-services-review

Updating MPI parsing rules so that it doesn't log a message to sentry when multiple mhv ids are found but they are the same (#10815)
  lib/mpi/responses/profile_parser.rb
Labels: console-services-review

API-20060 - Healthcheck endpoints for segmented appeals APIs (#10810)
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/lib/appeals_api/health_checker.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
Labels: none

Updating the public cert for id.me service interface (#10823)
  spec/fixtures/idme/idme_oauth_pub.pem
  spec/lib/sign_in/idme/service_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: console-services-review

Remove rrd_asrd_doctype flag introduced in #10771 (#10803)
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  config/features.yml
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

update idme pub oauth cert (#10828)
  spec/fixtures/idme/idme_oauth_pub.pem
  spec/lib/sign_in/idme/service_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: console-services-review

Removing extra caseflow_errors middlware definition (#10831)
  lib/caseflow/configuration.rb
  lib/caseflow/middleware/errors.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  spec/lib/caseflow/middleware/errors_spec.rb
Labels: mobile, console-services-review

[47625] Adding 30 minute access token and 45 day refresh token expirations for mobile Sign in Service interface (#10825)
  app/models/sign_in/access_token.rb
  app/models/sign_in/o_auth_session.rb
  app/serializers/sign_in/introspect_serializer.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/constants/access_token.rb
  app/services/sign_in/constants/client_config.rb
  app/services/sign_in/constants/refresh_token.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  spec/factories/sign_in/access_tokens.rb
  spec/models/sign_in/access_token_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/serializers/sign_in/introspect_serializer_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
Labels: console-services-review

[10834] Adding logging for id.me and login.gov service interface for sign in service (#10835)
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
Labels: console-services-review

[47082] MHV Opt In Flags (#10713)
  app/controllers/v0/mhv_opt_in_flags_controller.rb
  app/models/mhv_opt_in_flag.rb
  config/routes.rb
  spec/controllers/v0/mhv_opt_in_flags_controller_spec.rb
  spec/models/mhv_opt_in_flag_spec.rb
Labels: console-services-review

[47821] Add character limit to FSR additional comments (#10837)
  lib/pdf_fill/forms/va5655.rb
Labels: console-services-review

[47822] Use SSN for VHA FSR file number (#10839)
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

Check for COE application submissions without an edipi (#10811)
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

Log response body for LGY's put_application endpoint. (#10826)
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: console-services-review

47013 Client for Travel Reimbursement Auth Endpoint (#10833)
  config/settings/test.yml
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
Labels: console-services-review

[47821] Add question text for 5655 additional comments field (#10842)
  lib/pdf_fill/forms/va5655.rb
Labels: console-services-review

new int metadata file (#10843)
  config/ssoe_idp_int_metadata_isam.xml
Labels: console-services-review

Lighthouse BRD passthrough wrapper for front end. (#10728)
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/benefits_reference_data_controller.rb
  app/swagger/swagger/requests/benefits_reference_data.rb
  config/routes.rb
  config/settings.yml
  lib/lighthouse/benefits_reference_data/configuration.rb
  lib/lighthouse/benefits_reference_data/service.rb
  lib/lighthouse/benefits_reference_data/service_exception.rb
  spec/controllers/v0/benefits_reference_data_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_reference_data/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_reference_data/404_response.yml
Labels: console-services-review

[10838] Adding functionality to Sign in Service so that callback can only be called with a unique state that was originally created with an authorize call (#10841)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/state_code.rb
  app/models/sign_in/state_payload.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/state_payload_jwt_decoder.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  app/services/sign_in/state_payload_verifier.rb
  config/redis.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/state_codes.rb
  spec/factories/sign_in/state_payloads.rb
  spec/models/sign_in/state_code_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
  spec/services/sign_in/state_payload_verifier_spec.rb
Labels: console-services-review
