Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

RRD: add environment to RRD notification subjectline and body #9686
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

RRD: move test to more appropriate base RrdProcessor class (#9687)
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

VaNotify in progress form reminders (#9688)
  config/sidekiq_scheduler.yml
Labels: console-services-review

39036 patientDfn case change in CHIP refresh-appointment payload (#9672)
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
Labels: none

Api 14961 add sc nvc schema (#9680)
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_extra.json
Labels: none

API 15252 HLR NVC Feedback (#9684)
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

[API-15200] - ClaimsApi - Require attachment on 526 PUT endpoint (#9697)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/document_validations.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: none

Update special issue manager to work for all RRD disabilities (#9640)
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
Labels: console-services-review

DHP-256 debug error in dev/staging (#9700)
  modules/dhp_connected_devices/app/services/fitbit_service.rb
  modules/dhp_connected_devices/lib/fitbit/configuration.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/fitbit_service_spec.rb
Labels: none

RRD: remove unnecessary Sidekiq::Worker.clear_all (#9693)
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

Update assigning authority for idme (#9696)
  lib/va_profile/demographics/service.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/support/vcr_cassettes/va_profile/demographics/demographics.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

Swagger docs (#9698)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: none

RRD: remove unnecessary :vcr tag from tests (#9695)
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
Labels: console-services-review

DHP-256 change = to ||= in PKCE challenge (#9704)
  modules/dhp_connected_devices/config/initializers/fitbit_api.rb
Labels: none

RRD: Add status details to RRD notification (#9690)
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

40042 update preferred name (#9675)
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/profile/preferred_names_controller.rb
  app/serializers/preferred_name_serializer.rb
  app/swagger/swagger/requests/profile.rb
  app/swagger/swagger/schemas/vet360/preferred_name.rb
  config/routes.rb
  lib/va_profile/demographics/preferred_name_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/models/preferred_name_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/va_profile/preferred_name_spec.rb
  spec/support/schemas/va_profile/preferred_name_response.json
  spec/support/vcr_cassettes/va_profile/demographics/post_preferred_name_success.yml
Labels: console-services-review

RRD: use metadata_hash so that we write to DB only once (#9694)
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

40042 update preferred name - fixed merge conflict (#9706)
  spec/support/vcr_cassettes/va_profile/demographics/post_preferred_name_success.yml
Labels: console-services-review

RRD Asthma PDF: Adds Duration, Refills, and Route to medications (#9674)
  app/services/rapid_ready_for_decision/lighthouse_medication_request_data.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
Labels: console-services-review

RRD: replace DOCUMENT_TITLE constant with PREFIX and SUFFIX constants (#9702)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/factories/form526_submissions.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

DHP-256 changes pkce to be hard coded values (#9703)
  config/settings.yml
  modules/dhp_connected_devices/config/initializers/fitbit_api.rb
Labels: console-services-review

RRD: don't show "[production]" in RRD notification subjectline (#9710)
  app/mailers/rrd_completed_mailer.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

2928 appointment request cc eligibility (#9699)
  modules/mobile/app/controllers/mobile/v0/community_care_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/community_care_eligibility_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CommunityCaresEligibility.yml
  modules/mobile/spec/request/community_care_eligibility_request_spec.rb
  modules/mobile/spec/support/schemas/cc_eligibility.json
  modules/mobile/spec/support/vcr_cassettes/cc_eligibility/get_eligibility_400.yml
  modules/mobile/spec/support/vcr_cassettes/cc_eligibility/get_eligibility_false.yml
  modules/mobile/spec/support/vcr_cassettes/cc_eligibility/get_eligibility_true.yml
Labels: mobile

Dgi enrollment updates (#9709)
  modules/meb_api/app/.DS_Store
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/submit_enrollment_serializer.rb
  modules/meb_api/lib/dgi/enrollment/enrollment_response.rb
  modules/meb_api/lib/dgi/enrollment/service.rb
  modules/meb_api/lib/dgi/enrollment/submit_enrollment_response.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/enrollment.yml
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

RRD: fix diagnostic code in RRD notification (#9712)
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

38788 update gender identity (#9715)
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/profile/gender_identities_controller.rb
  app/serializers/gender_identity_serializer.rb
  app/swagger/swagger/requests/profile.rb
  app/swagger/swagger/schemas/vet360/gender_identity.rb
  app/swagger/swagger/schemas/vet360/preferred_name.rb
  config/routes.rb
  lib/va_profile/demographics/gender_identity_response.rb
  lib/va_profile/demographics/preferred_name_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/gender_identity.rb
  spec/lib/va_profile/models/gender_identity_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/va_profile/gender_identity_request_spec.rb
  spec/requests/va_profile/preferred_name_request_spec.rb
  spec/support/schemas/va_profile/gender_identity_response.json
  spec/support/vcr_cassettes/va_profile/demographics/post_gender_identity_success.yml
Labels: console-services-review

API-14961 Add SC NVC type fields & schema requirements (#9713)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
Labels: none

Fix logger tracing (#9719)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: none

Rswag dev generation (#9651)
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/spec_helper.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

RRD PDF: Always convert (birth)date to simpler format (#9707)
  app/services/rapid_ready_for_decision/views/shared/intro.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
Labels: console-services-review

RRD Asthma: Add warning about meds (#9720)
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  public/fonts/sourcesanspro-bolditalic-webfont.ttf
Labels: console-services-review

RRD: simplify release_pdf logic (#9721)
  app/workers/rapid_ready_for_decision/rrd_processor.rb
Labels: console-services-review

2856 cc providers (#9701)
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/serializers/mobile/v0/community_care_provider_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CommunityCareProvider.yml
  modules/mobile/docs/schemas/CommunityCareProviders.yml
  modules/mobile/spec/request/community_care_providers_request_spec.rb
  modules/mobile/spec/support/schemas/community_care_providers.json
  modules/mobile/spec/support/vcr_cassettes/facilities/ppms/community_clinics_empty_search.yml
  modules/mobile/spec/support/vcr_cassettes/facilities/ppms/community_clinics_near_facility.yml
  modules/mobile/spec/support/vcr_cassettes/facilities/ppms/community_clinics_near_user.yml
Labels: mobile

[9722] Separating module definitions to multiple lines for signin logingov and idme services (#9723)
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
Labels: console-services-review

[38872] Adding ability to send state parameter for sign in service authentication (#9724)
  app/controllers/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

RRD: handle nil BP reading values (#9732)
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
Labels: console-services-review

Remove validation of international postal code (#9727)
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
Labels: console-services-review

Revocation endpoint 37193 (#9658)
  app/controllers/sign_in_controller.rb
  app/services/sign_in/session_revoker.rb
  config/routes.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
Labels: console-services-review

update to ~> 6.1.5 (#9736)
  Gemfile
  Gemfile.lock
  modules/covid_research/covid_research.gemspec
  modules/test_user_dashboard/test_user_dashboard.gemspec
Labels: console-services-review

Pv my health module (#9659)
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/my_health/Gemfile
  modules/my_health/README.md
  modules/my_health/Rakefile
  modules/my_health/app/controllers/my_health/application_controller.rb
  modules/my_health/app/controllers/my_health/concerns/mhv_controller_concerns.rb
  modules/my_health/app/controllers/my_health/sm_controller.rb
  modules/my_health/app/controllers/my_health/v1/attachments_controller.rb
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
  modules/my_health/app/controllers/my_health/v1/message_drafts_controller.rb
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/app/controllers/my_health/v1/messaging_preferences_controller.rb
  modules/my_health/app/controllers/my_health/v1/triage_teams_controller.rb
  modules/my_health/app/helpers/my_health/application_helper.rb
  modules/my_health/app/helpers/my_health/routing.rb
  modules/my_health/app/helpers/my_health/url_helper.rb
  modules/my_health/app/serializers/my_health/v1/attachment_serializer.rb
  modules/my_health/app/serializers/my_health/v1/category_serializer.rb
  modules/my_health/app/serializers/my_health/v1/folder_serializer.rb
  modules/my_health/app/serializers/my_health/v1/message_serializer.rb
  modules/my_health/app/serializers/my_health/v1/messages_serializer.rb
  modules/my_health/app/serializers/my_health/v1/messaging_preference_serializer.rb
  modules/my_health/app/serializers/my_health/v1/triage_team_serializer.rb
  modules/my_health/bin/rails
  modules/my_health/config/routes.rb
  modules/my_health/lib/my_health.rb
  modules/my_health/lib/my_health/engine.rb
  modules/my_health/lib/my_health/version.rb
  modules/my_health/lib/tasks/my_health_tasks.rake
  modules/my_health/my_health.gemspec
  modules/my_health/spec/request/v1/attachments_request_spec.rb
  modules/my_health/spec/request/v1/folders_request_spec.rb
  modules/my_health/spec/request/v1/message_drafts_request_spec.rb
  modules/my_health/spec/request/v1/messages_request_spec.rb
  modules/my_health/spec/request/v1/messaging_preferences_spec.rb
  modules/my_health/spec/request/v1/triage_teams_request_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
