Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Add toggle for proof of concept in VAOS (#11697)
  config/features.yml
Labels: console-services-review

Allow none as a valid evidence type for Supp Claims (#11689)
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs.json
  modules/appeals_api/spec/fixtures/v2/invalid_200995_evidence.json
  modules/appeals_api/spec/fixtures/v2/invalid_200995_missing_retrieve_from.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_no_evidence.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

4439 filter docs (#11701)
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/docs/params/filter.yml
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

[#MHV-39022] Added API for moving SM threads (#11673)
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/threads_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/spec/request/v1/threads_request_spec.rb
Labels: console-services-review

Fixing broken BGS connection due to change in external_key definition (#11707)
  app/services/bgs/base_service.rb
  lib/bgs/service.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/lib/bgs/service_spec.rb
  spec/models/bank_name_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/bgs/base_service_spec.rb
Labels: console-services-review

4619 sis workers (#11663)
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/app/workers/mobile/v0/vet360_linking_job.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
  modules/mobile/spec/workers/pre_cache_claims_and_appeals_job_spec.rb
  modules/mobile/spec/workers/vet360_linking_spec.rb
Labels: mobile

Created clamAV parent helm charts (#11709)
  chart/Chart.yaml
  chart/templates/clamav-deployment.yaml
  chart/templates/server-service.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.9.0.tgz
Labels: console-services-review

SM to VA.gov: updating attachment size requirements to match MHV SM API (#11708)
  app/models/message.rb
  spec/models/message_spec.rb
Labels: console-services-review

Setting to not retry and not go to dead queue (#11714)
  lib/evss/disability_compensation_form/service.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
Labels: console-services-review

removed replicas
  chart/Chart.yaml
  chart/templates/clamav-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.1.tgz
Labels: console-services-review

Changed all clamAV to clamav
  chart/Chart.yaml
  chart/templates/clamav-deployment.yaml
  chart/templates/server-service.yaml
  chart/values.yaml
Labels: console-services-review

Changed all clamAV to clamav
  docs/index.yaml
  docs/vets-api-0.9.2.tgz
Labels: console-services-review

update clamd.conf
  config/clamd.conf
Labels: console-services-review

Add logging lines
  config/clamd.conf
Labels: console-services-review

test pointing to localhost
  config/initializers/clamscan.rb
Labels: console-services-review

use quotes
  config/initializers/clamscan.rb
Labels: console-services-review

Adding non-breakered EVSS services (#11723)
  lib/evss/disability_compensation_form/non_breakered_service.rb
  lib/evss/non_breakered_configuration.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

Update regional office param (#11706)
  app/models/saved_claim/education_benefits.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

clamav on vets-api container
  chart/Chart.yaml
  chart/templates/clamav-deployment.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.9.3.tgz
Labels: console-services-review

update to http://clamav:3310
  config/initializers/clamscan.rb
Labels: console-services-review

clamav container
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.9.4.tgz
Labels: console-services-review

More clamav config
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.9.5.tgz
Labels: console-services-review

put settings back
  config/initializers/clamscan.rb
Labels: console-services-review

clamav 0.9.6
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.6.tgz
Labels: console-services-review

Api 23202 no evidence scs (#11705)
  modules/appeals_api/spec/fixtures/v2/invalid_200995_evidence.json
  modules/appeals_api/spec/fixtures/v2/invalid_200995_missing_retrieve_from.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_no_evidence.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

API-21503: Remove checksum comparison (failed experiment) (#11704)
  config/features.yml
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_integrity_checker.rb
  modules/vba_documents/spec/lib/upload_integrity_checker_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: console-services-review

Reject missing icn on HLR\SC index (#11612)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

Updated clam TCPAddr and NotifyClamd file path
  config/clamd.conf
  config/freshclam.conf
Labels: console-services-review

fix save-state deprecation warnings (#11693)
  .github/workflows/code_checks.yml
  .github/workflows/preview_environment_deployment.yml
  .github/workflows/sync_branch.yml
Labels: console-services-review

update to /usr/bin/clamdscan
  config/settings.yml
Labels: console-services-review

Api 22980 claim id validate icn (#11688)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
Labels: none

add volumeMounts to clamav container (#11737)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.7.tgz
Labels: console-services-review

0.9.8 - volumeMounts
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.8.tgz
Labels: console-services-review

Fix flaky claims request spec (#11739)
  dump.rdb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: console-services-review

add clamav to worker deployment
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.9.tgz
Labels: console-services-review

Adding 2 extra requirements to the backup submission (#11731)
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

version 0.9.10 - .root
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.9.10.tgz
Labels: console-services-review

add clam client (#11741)
  Gemfile
  Gemfile.lock
  lib/common/virus_scan.rb
Labels: console-services-review

add logging to 499 endpoints (#11736)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: none

Update scopes and key usage in appeals OAuth APIs (#11727)
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/appeals_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v1/appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
  modules/appeals_api/spec/support/shared_examples_for_appeals_status.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
Labels: console-services-review
