Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

replace flag with dummy in spec (#13076)
  spec/lib/flipper/instrumentation/event_subscriber_spec.rb
Labels: console-services-review

Removed sidekiq scheduler references in spec tests (#13057)
  config/sidekiq_scheduler.yml
  lib/periodic_jobs.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/expanded_scheduled_submission_job_spec.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/expanded_submission_state_job_spec.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/scheduled_batch_job_spec.rb
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: console-services-review

Downgrade copay notification missing email exception level (#13080)
  app/workers/copay_notifications/mcp_notification_email_job.rb
  spec/jobs/copay_notifications/mcp_notification_email_job_spec.rb
Labels: console-services-review

MHV-42069: Health conditions endpoints complete (#13072)
  lib/medical_records/client.rb
  modules/my_health/app/controllers/my_health/v1/conditions_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/conditions_request_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_clinical_note.yml
  spec/support/vcr_cassettes/mr_client/get_a_health_condition.yml
  spec/support/vcr_cassettes/mr_client/get_a_health_condition_error.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_clinical_notes.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions_error.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vitals.yml
Labels: console-services-review

59503 schedulable param required (#13036)
  config/features.yml
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_false_required.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_not_passed.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_true_required.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_500.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_single_id_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_with_children_schedulable_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_with_children_schedulable_false_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_multi_facilities_with_children_schedulable_false_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_multi_facilities_with_children_schedulable_true_200.yml
Labels: mobile, vaos, console-services-review

Api 27624 add evss logging (#13081)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

59503 hotfix force schedulable true (#13087)
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_400.yml
Labels: vaos, console-services-review

4747 download letters param logging (#13082)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
Labels: mobile

Require appeals spec helper in factories (#13091)
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
Labels: none

Fix nil bug (#13092)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

clean up - remove unsed Dockerfile-k8s file (#13094)
  Dockerfile-k8s
Labels: console-services-review

Mobile - Update maintenance windows. (#13088)
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/spec/factories/maintenance_windows.rb
  modules/mobile/spec/request/maintenance_windows_request_spec.rb
Labels: mobile

13968 zipcode validation endpoint (#13074)
  modules/income_limits/README.md
  modules/income_limits/app/controllers/income_limits/v1/income_limits_controller.rb
  modules/income_limits/config/routes.rb
  modules/income_limits/spec/requests/v1/validate_zip_code_spec.rb
Labels: none

Fix "Require appeals spec helper in factories" (#13103)
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
Labels: none

4747: parse post body as json (#13099)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/spec/request/letters_request_spec.rb
Labels: mobile

Feature flag for using Lighthouse instead of EVSS for benefit claims (#13095)
  config/features.yml
Labels: console-services-review

API-000 Filter device_sso scope in directory_service.rb (#13107)
  lib/okta/directory_service.rb
Labels: console-services-review

Api 25626 pact tracking db (#12991)
  db/migrate/20230616145330_create_claims_api_claim_submissions.rb
  db/schema.rb
Labels: console-services-review

added new feature toggle (#13109)
  config/features.yml
Labels: console-services-review

4747: remove logging (#13115)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
Labels: mobile

Remove terms of service from appeals docs (#13118)
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

[API-27473] Improve Slack Alert for Form Updates (#13065)
  modules/va_forms/app/workers/va_forms/form_builder.rb
  modules/va_forms/spec/workers/form_builder_spec.rb
Labels: none

add bash script for tt1 project (#13120)
  bin/git_blame
Labels: console-services-review

60466 implement alternate way to source user email for MCP notifications (#13105)
  app/models/identifier_index.rb
  app/workers/copay_notifications/new_statement_notification_job.rb
  config/redis.yml
  lib/debt_management_center/statement_identifier_service.rb
  spec/factories/user_accounts.rb
  spec/factories/user_verifications.rb
  spec/jobs/copay_notifications/new_statement_notification_job_spec.rb
  spec/lib/debt_management_center/statement_identifier_service_spec.rb
Labels: console-services-review

Upated schema migration info in the deployment docs (#13121)
  docs/deployment/information.md
Labels: console-services-review

test commit
  docker-compose-clamav.yml
Labels: console-services-review

add service name to opt in to access token lifetime caching (#13108)
  lib/lighthouse/letters_generator/configuration.rb
Labels: console-services-review

Dbex/58558: EVSS Migration - rated disabilities - implement `rated_disability_id` in Lighthouse API Provider transform layer (#13110)
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/form_profiles/va_526ez.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  lib/lighthouse/veteran_verification/configuration.rb
  lib/lighthouse/veteran_verification/service.rb
  spec/factories/form526_submissions.rb
  spec/models/form_profile_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
  spec/support/disability_compensation_form/526_in_progress_form_minimal.json
  spec/support/disability_compensation_form/526_in_progress_form_minimal_lighthouse_rated_disabilities.json
  spec/support/disability_compensation_form/front_end_submission_with_uploads.json
  spec/support/disability_compensation_form/saved_claim.json
  spec/support/disability_compensation_form/submissions/only_526.json
  spec/support/disability_compensation_form/submissions/only_526_asthma.json
  spec/support/disability_compensation_form/submissions/only_526_hypertension.json
  spec/support/disability_compensation_form/submissions/only_526_mixed_action_disabilities.json
  spec/support/disability_compensation_form/submissions/only_526_two_rated_disabilities.json
  spec/support/disability_compensation_form/submissions/with_4142_missing_postalcode.json
  spec/support/disability_compensation_form/submissions/with_8940.json
  spec/support/disability_compensation_form/submissions/with_non_pdf_uploads.json
  spec/support/disability_compensation_form/submissions/with_uploads.json
  spec/support/disability_compensation_form/submissions/without_form526_uploads.json
  spec/support/vcr_cassettes/evss/disability_compensation_form/rated_disabilities.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/rated_disabilities_with_non_service_connected.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/200_Not_Connected_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/200_response.yml
  spec/support/vcr_cassettes/mobile/profile/rated_disabilities.yml
Labels: console-services-review

Add dependent/Veteran relationship resolver (#13116)
  app/controllers/v0/letters_generator_controller.rb
  lib/lighthouse/letters_generator/veteran_sponsor_resolver.rb
  spec/lib/lighthouse/letters_generator/veteran_sponsor_resolver_spec.rb
Labels: console-services-review

Reactivation Proof of Concept (#12950)
  app/controllers/v0/user_transition_availabilities_controller.rb
  app/services/acceptable_verified_credential_adoption_service.rb
  config/features.yml
  config/routes.rb
  config/settings.yml
  spec/requests/v0/user_transition_availabilities_controller_spec.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

db migrate for refresh token path client config ticket. (#13101)
  db/migrate/20230531154627_add_refresh_token_path_to_client_config.rb
  db/schema.rb
Labels: console-services-review

Handle special characters in names before sending data to BGS. (#13135)
  app/workers/bgs/job.rb
  lib/bgs/benefit_claim.rb
  lib/bgs/utilities/helpers.rb
  spec/lib/bgs/benefit_claim_spec.rb
Labels: console-services-review

Fix day/month bug in HLR form v3 (#13142)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/form_fields.rb
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996.pdf
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996_minimum.pdf
Labels: none

Initial commit after including Gemifle.lock in previous iteration (#13089)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

MHV-44988 Medical Records API authentication (#13100)
  .rubocop_todo.yml
  config/locales/exceptions.en.yml
  config/redis.yml
  lib/common/client/concerns/mhv_jwt_session_client.rb
  lib/medical_records/client.rb
  lib/medical_records/client_session.rb
  lib/medical_records/configuration.rb
  modules/my_health/app/controllers/my_health/mr_controller.rb
  modules/my_health/app/controllers/my_health/v1/allergies_controller.rb
  modules/my_health/spec/request/v1/allergies_request_spec.rb
  modules/my_health/spec/request/v1/clinical_notes_request_spec.rb
  modules/my_health/spec/request/v1/conditions_request_spec.rb
  modules/my_health/spec/request/v1/labs_and_tests_request_spec.rb
  modules/my_health/spec/request/v1/vaccines_request_spec.rb
  modules/my_health/spec/request/v1/vitals_request_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/mr_client_helpers.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/mr_client/get_a_clinical_note.yml
  spec/support/vcr_cassettes/mr_client/get_a_health_condition.yml
  spec/support/vcr_cassettes/mr_client/get_a_health_condition_error.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_allergies.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_clinical_notes.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions_error.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_labs_and_tests.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vaccines.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vitals.yml
  spec/support/vcr_cassettes/mr_client/get_a_single_lab_or_test.yml
  spec/support/vcr_cassettes/mr_client/get_a_vaccine.yml
  spec/support/vcr_cassettes/mr_client/get_an_allergy.yml
  spec/support/vcr_cassettes/mr_client/session.yml
Labels: console-services-review

5932: remove user specs that will be replaced by unit tests in upcoming PR (#13133)
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

5932: remove v1 user specs that will be replaced by unit tests in upcoming PR (#13134)
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile

6177 remove 422 as universal response in docs (#13136)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

Remove call to vestigial FormBuilder method sig (#13159)
  modules/va_forms/app/workers/va_forms/form_builder.rb
Labels: none

VA Cert Import should fail if any command is unsuccessful (#13130)
  import-va-certs.sh
Labels: console-services-review
