Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

44610 legacy appeals (#10381)
  app/controllers/v1/supplemental_claims/contestable_issues_controller.rb
  lib/decision_review_v1/service.rb
Labels: console-services-review

Update errors and add some logging (#10386)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: none

API-18166 Add attributes to claim status v2 services (#10360)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Api 17762 poa email report (#10312)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_poa_errors_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_poa_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/lib/claims_api/cid_mapper.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/models/power_of_attorney_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: console-services-review

DHP-284 Add settings for DHP store token feature (#10379)
  config/settings.yml
Labels: console-services-review

Add feature toggle for Medicare claim number (#10388)
  config/features.yml
Labels: console-services-review

Update documentation for reason code, merge reason code description for both direct and request appointments (#10390)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentDirect.yml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/docs/schemas/ReasonCode.yml
  modules/mobile/docs/schemas/ReasonCodeDirect.yml
Labels: mobile

DHP 284 Store tokens in s3 (#10222)
  modules/dhp_connected_devices/.gitignore
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit/fitbit_controller.rb
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/services/fitbit_service.rb
  modules/dhp_connected_devices/app/services/token_storage_service.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/lib/fitbit/client.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/lib/fitbit_client_spec.rb
  modules/dhp_connected_devices/spec/rails_helper.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/fitbit_service_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/token_storage_service_spec.rb
Labels: none

make VBADocuments::UploadProcessor jobs unique (#10397)
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
Labels: none

API-13969: Clean up pdf_version vs api_version vs version in appeals calls (#10385)
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

Fixing database cleaner in specs that were breaking other specs (#10404)
  modules/claims_api/spec/models/power_of_attorney_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
Labels: none

[44162] fix load_user functionality for SiS (#10289)
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/concerns/sign_in/authentication.rb
  spec/controllers/sign_in/application_controller_spec.rb
Labels: console-services-review

[10375] Adding redirect to sign in service logout call to web frontend regardless of success or failure (#10392)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/refresh_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/session_revoker.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/refresh_tokens.rb
  spec/models/sign_in/refresh_token_spec.rb
  spec/services/sign_in/logger_spec.rb
  spec/services/sign_in/refresh_token_decryptor_spec.rb
  spec/services/sign_in/session_creator_spec.rb
Labels: console-services-review

Set UploadStatusBatch and UploadStatusUpdater retry to false (#10407)
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_updater.rb
Labels: none

add profile_use_vafsc toggle (#10394)
  config/features.yml
Labels: console-services-review

[45036] Change 'myhealthevet' to 'mhv' (#10371)
  app/controllers/concerns/accountable.rb
  app/models/user.rb
  app/models/user_verification.rb
  app/policies/mhv_prescriptions_policy.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/user_loader.rb
  app/swagger/swagger/schemas/user_internal_services.rb
  app/workers/account_login_statistics_job.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  lib/sign_in/idme/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/iam_users.rb
  spec/factories/user_identities.rb
  spec/factories/user_identity_attributes.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/models/user_verification_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/services/users/profile_spec.rb
Labels: console-services-review

[43667] statsd sis mpi add person (#10384)
  config/initializers/statsd.rb
Labels: console-services-review

update namespacing of form services (#10406)
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/lib/dgi/forms/response/submission_response.rb
  modules/meb_api/lib/dgi/forms/service/claimant_info_service.rb
  modules/meb_api/lib/dgi/forms/service/claimant_service.rb
  modules/meb_api/lib/dgi/forms/service/letter_service.rb
  modules/meb_api/lib/dgi/forms/service/sponsor_service.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/claimant_spec.rb
  modules/meb_api/spec/dgi/forms/service/sponsor_spec.rb
Labels: none

API-17763 - ClaimsApi - Adds "IntentToFiles" database table (#10396)
  db/migrate/20220804141726_create_claims_api_intent_to_files.rb
  db/schema.rb
Labels: console-services-review

Removes db cleaner config. (#10409)
  modules/claims_api/spec/spec_helper.rb
Labels: none

Allthesignals/176 detect hypertension new (#10415)
  app/mailers/rrd_alert_mailer.rb
  app/mailers/rrd_completed_mailer.rb
  app/mailers/rrd_mas_notification_mailer.rb
  app/mailers/views/rrd_alert_mailer.html.erb
  app/mailers/views/rrd_completed_mailer.html.erb
  app/mailers/views/rrd_mas_notification_mailer.html.erb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
Labels: console-services-review

added feature toggle for 1095B download (#10402)
  config/features.yml
Labels: console-services-review

API-18169: Add veteran_icn column to appeals tables (#10400)
  db/migrate/20220804165221_add_veteran_icn_to_appeals.rb
  db/schema.rb
Labels: console-services-review

API-18299 Do not remove pii from errored records (#10412)
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/nod_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/sc_status.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
Labels: none

API-18325 Update email report (#10410)
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_poa_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: console-services-review

uppercases coe_status response status (#10391)
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

Api 18149 update v2 enum (#10408)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/models/claims_api/evss_claim.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Add Datadog instrumenting & profiling (#10417)
  Gemfile
  Gemfile.lock
  Rakefile
  config.ru
  config/initializers/datadog.rb
Labels: console-services-review

[44472] Adding call for MPI update profile to update correlation records on every sign in service authentication (#10413)
  app/models/mpi_data.rb
  app/models/user.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  config/betamocks/services_config.yml
  config/mpi_schema/mpi_update_profile_template.xml
  lib/mpi/constants.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/responses/add_parser.rb
  lib/mpi/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/responses/add_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/user_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/support/vcr_cassettes/mpi/update_profile/update_profile_server_error.yml
  spec/support/vcr_cassettes/mpi/update_profile/update_profile_success.yml
Labels: console-services-review

44944 Separate VBS FSR Requests per Facility (#10421)
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/vbs/request.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

LGY: adds Certificate of Eligibility to betamocks (#10419)
  config/betamocks/services_config.yml
  config/settings.yml
Labels: console-services-review

2870 additional logging around login session creation (#10401)
  config/initializers/statsd.rb
  lib/iam_ssoe_oauth/session_manager.rb
Labels: console-services-review

Add 1010cg submit v2 API (#10373)
  app/services/form1010cg/service.rb
  lib/carma/client/mule_soft_client.rb
  lib/carma/client/mule_soft_configuration.rb
  spec/factories/form1010cg/attachment.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/lib/carma/client/mule_soft_configuration_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: console-services-review

API-17763 - ClaimsApi - Store ITF records for reporting (#10424)
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_files_controller.rb
  modules/claims_api/app/models/claims_api/intent_to_file.rb
  modules/claims_api/spec/models/intent_to_file_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: none

Datadog Bug Fix (given 1, expect 0) (#10432)
  config/initializers/datadog.rb
Labels: console-services-review

Mobile: 3573 add cc supported (#10423)
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/veterans_affairs_eligibility_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

Datadog: Remove faraday tracing (#10436)
  config/initializers/datadog.rb
Labels: console-services-review

API-18169: Add indices to new veteran_icn columns in Appeals API (#10437)
  db/schema.rb
  modules/appeals_api/db/migrate/20220804165221_add_veteran_icn_to_appeals.rb
  modules/appeals_api/db/migrate/20220809191220_add_index_on_icns_to_appeals.rb
Labels: console-services-review

Datadog: Add service name back for sidekiq (#10438)
  config/initializers/datadog.rb
Labels: console-services-review

Changes logic in ccg validation. (#10416)
  modules/claims_api/app/controllers/concerns/claims_api/ccg_token_validation.rb
Labels: none

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
