Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

API-28016 Finish moving supplemental claims headers to bodies (#13376)
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/pdf_downloads.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/stamper.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/controllers/concerns/appeals_api/pdf_downloads_spec.rb
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_headers.json
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_pdf_downloads.rb
Labels: none

MFS Regression Testing (#13392)
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
Labels: vaos

Mhv 46162 rx update to new mhv endpoint (#13342)
  app/models/prescription_details.rb
  lib/rx/client.rb
  lib/rx/middleware/response/rx_parser.rb
  modules/my_health/app/controllers/my_health/v1/prescriptions_controller.rb
  modules/my_health/app/serializers/my_health/v1/prescription_details_serializer.rb
  modules/my_health/spec/request/v1/prescriptions_request_spec.rb
  spec/support/schemas/prescription_details.json
  spec/support/schemas/prescription_list_filtered.json
  spec/support/schemas/prescription_single.json
  spec/support/schemas/prescriptions_list.json
  spec/support/schemas_camelized/prescription_details.json
  spec/support/schemas_camelized/prescription_list_filtered.json
  spec/support/schemas_camelized/prescription_single.json
  spec/support/schemas_camelized/prescriptions_list.json
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_a_list_of_active_prescriptions_v1.yml
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_a_list_of_all_prescriptions_filtered_v1.yml
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_a_list_of_all_prescriptions_v1.yml
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_a_single_prescription_v1.yml
Labels: console-services-review

[DBeX-60979] wrap 4142 3rd party action in logging (#13388)
  app/controllers/v0/upload_supporting_evidences_controller.rb
  app/models/form526_submission.rb
  app/workers/central_mail/submit_form4142_job.rb
  app/workers/evss/document_upload.rb
  lib/logging/third_party_transaction.rb
  spec/lib/logging/third_party_transaction_spec.rb
Labels: console-services-review

925 evss to lighthouse (#13272)
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_lighthouse_claim_spec.rb
  spec/fixtures/lighthouse_claim/claim.json
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/claims_multiple_open_compensation_claims.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/claims_with_single_open_compensation_claim.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/no_open_compensation_claims.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/only_closed_comp_claims.yml
Labels: console-services-review

Add VCR recording for empty DMC response (#13283)
  spec/lib/debt_management_center/debts_service_spec.rb
  spec/support/vcr_cassettes/debts/get_letters_empty_response.yml
Labels: console-services-review

Update feature toggle declaration for HCA application (#13357)
  config/features.yml
Labels: console-services-review

VA-13359: Add Trainings to PPMS facilities response (#13213)
  modules/facilities_api/app/models/facilities_api/v1/ppms/provider.rb
  modules/facilities_api/app/serializers/facilities_api/v1/ppms/provider_serializer.rb
  modules/facilities_api/spec/models/facilities_api/v1/ppms/provider_spec.rb
  modules/facilities_api/spec/requests/facilities_api/v1/ccp_request_spec.rb
Labels: none

EVSS Migration - 526 Submit - Transform Service - Banking Info (#13390)
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/factories/form526_submissions.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/support/disability_compensation_form/submissions/only_526_required.json
Labels: console-services-review

Add module for pulling historical form526 claims data (#12860)
  config/settings.yml
  lib/sidekiq/form526_historical_data_exporter/exporter.rb
  lib/sidekiq/form526_historical_data_exporter/queuer.rb
  spec/lib/sidekiq/form526_historical_data_exporter/exporter_spec.rb
  spec/lib/sidekiq/form526_historical_data_exporter/queuer_spec.rb
Labels: console-services-review

Added warning clama comments (#13399)
  chart/values.yaml
Labels: console-services-review

add status to PID logging (#13391)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: vaos

fix test
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
Labels: console-services-review

Mhv 47574 get message signature (#13396)
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/app/serializers/my_health/v1/message_signature_serializer.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageSignature.yml
  modules/my_health/spec/request/v1/messages_request_spec.rb
Labels: none

Update claims token validation content (#13400)
  lib/token_validation/v2/client.rb
  spec/support/vcr_cassettes/token_validation/v2/indicates_token_is_valid.yml
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#925] EVSS to lighthouse claims migration bug fix (#13410)
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
Labels: console-services-review

[DBX-61003] wrap form 526 ancillary jobs in logging (#13401)
  app/models/form526_submission.rb
Labels: console-services-review

Fix 504s returning as 500s (#13303)
  config/locales/exceptions.en.yml
  lib/lighthouse/letters_generator/service_error.rb
  spec/lib/lighthouse/letters_generator/fakeResponses/fakeTimeout.json
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

[62615] Allow SharePoint uploads to be isolated (#13398)
  app/workers/form5655/vha/sharepoint_submission_job.rb
  app/workers/form5655/vha/vbs_submission_job.rb
  app/workers/form5655/vha_resubmission_job.rb
  lib/debt_management_center/sharepoint/request.rb
  spec/factories/form5655_submission.rb
  spec/jobs/form5655/vha/sharepoint_submission_job_spec.rb
  spec/jobs/form5655/vha/vbs_submission_job_spec.rb
  spec/lib/debt_management_center/sharepoint/request_spec.rb
Labels: console-services-review

add feature toggle for updating errors and (#13405)
  config/features.yml
Labels: console-services-review

update regex to account for some symbols (#13408)
  lib/bgs/utilities/helpers.rb
  spec/jobs/bgs/job_spec.rb
Labels: console-services-review

[BDX-60990] add logging around flash updater in 526 flow (#13404)
  app/workers/bgs/flash_updater.rb
Labels: console-services-review

[DBX-60986] add logging around form 8940 submission (#13402)
  app/workers/evss/disability_compensation_form/submit_form8940.rb
Labels: console-services-review

[DBX-60987] add logging to upload of bdd instructions (#13403)
  app/workers/evss/disability_compensation_form/upload_bdd_instructions.rb
Labels: console-services-review

Api 22653 upload to bd (#13347)
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/vcr_cassettes/bd/upload.yml
  spec/support/vcr_cassettes/claims_api/disability_comp.yml
Labels: console-services-review

add logging (#13411)
  modules/mobile/app/controllers/mobile/messaging_controller.rb
Labels: mobile

Lh doc service controller (#13261)
  app/controllers/v0/benefits_documents_controller.rb
  app/models/lighthouse_document.rb
  config/routes.rb
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  spec/controllers/v0/benefits_documents_controller_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
Labels: mobile, console-services-review

Add description column to client_configs (#13413)
  db/migrate/20230803151452_add_description_to_client_configs.rb
  db/schema.rb
Labels: console-services-review

add disability information
  app/models/form_profile.rb
  config/settings.yml
  lib/va_profile/disability/configuration.rb
  lib/va_profile/disability/disability_response.rb
  lib/va_profile/disability/service.rb
  lib/va_profile/models/disability.rb
  lib/va_profile/prefill/military_information.rb
  spec/lib/hca/military_information_spec.rb
  spec/lib/va_profile/prefill/military_information_spec.rb
Labels: console-services-review

add feature flag for debts-api module (#13416)
  config/features.yml
Labels: console-services-review

Add description to ClientConfig (#13417)
  app/controllers/sign_in/client_configs_controller.rb
  spec/factories/sign_in/client_configs.rb
Labels: console-services-review

DBex/61556: EVSS Migration - 526 Submit - Transform Service - Treatments (#13421)
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/support/disability_compensation_form/submissions/only_526_required.json
Labels: console-services-review

Scrub PII by overwriting the error message from UploadsController (#13361)
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/spec/fixtures/form_json/form_with_dangerous_characters.json
  modules/simple_forms_api/spec/requests/v1/uploads_spec.rb
Labels: none

[DBeX-60984] wrap form 0781* 3rd party action in logging (#13394)
  app/workers/evss/disability_compensation_form/submit_form0781.rb
  lib/logging/third_party_transaction.rb
Labels: console-services-review

[DBX-61003] wrap final 526 submission in logging (#13409)
  app/workers/evss/disability_compensation_form/submit_form526.rb
Labels: console-services-review

Updates flipper admin emails for DGIB project (#13359)
  config/settings.yml
Labels: console-services-review

clean up DisabilityResponse
  lib/va_profile/disability/disability_response.rb
Labels: console-services-review

don't inherit from MilitaryPersonnel::Service
  lib/va_profile/prefill/military_information.rb
Labels: console-services-review

remove comment
  lib/va_profile/disability/disability_response.rb
Labels: console-services-review

remove comment
  lib/va_profile/disability/service.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
