Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

claim wording fix (#12722)
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
Labels: mobile

API-26385: Updated "Empty payload" Error Handling for BI Upload Submissions (#12700)
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

Mobile: Add v1 message thread endpoint using new api (#12633)
  modules/mobile/app/controllers/mobile/v1/messages_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/v1/messages_request_spec.rb
  spec/support/vcr_cassettes/mobile/messages/v1_get_thread.yml
Labels: mobile, console-services-review

56139 convert datetime from UTC to local on appointment responses (#12632)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/app/services/mobile/v2/appointments/presentation_filter.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_CnP.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_JACQUELINE_M_BOOKED_with_facility_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_cc_proposed_with_facility_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_with_facility_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_facilities_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_facilities_200_and_log_data.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_system_service_500.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_multi_status_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_single_status_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_v2_partial_error.yml
Labels: mobile, vaos, console-services-review

Remove VAOS Type of Care, Stop Code Logging (#12697)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: vaos

Mobile: Secure messaging thread quick fix (#12727)
  modules/mobile/app/controllers/mobile/v1/messages_controller.rb
Labels: mobile

fix 'uninitialized constant BGS::Exceptions' failures in bank_name_spec.rb in the k8s branch (#12726)
  app/models/bank_name.rb
Labels: console-services-review

Finalize appeals rswag updates (part 1) (#12729)
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

model validation for income limits data import (#12731)
  modules/income_limits/app/models/gmt_threshold.rb
  modules/income_limits/app/models/income_limits/limits_by_zip_code.rb
  modules/income_limits/app/models/std_county.rb
  modules/income_limits/app/models/std_income_threshold.rb
  modules/income_limits/app/models/std_state.rb
  modules/income_limits/app/models/std_zipcode.rb
Labels: none

API-25981 Make VAForms::FormBuilder less chatty in slack (#12730)
  modules/va_forms/app/workers/va_forms/form_builder.rb
  modules/va_forms/spec/workers/form_builder_spec.rb
Labels: none

switch out mobile claims service with Benefit claims service (#12724)
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
  modules/mobile/spec/request/individual_lighthouse_claim_request_spec.rb
Labels: mobile

add logging around shutdown callback (#12740)
  config/sidekiq_alive.rb
Labels: console-services-review

Orphaned queue cleanup job (#12746)
  app/workers/sidekiq_alive/cleanup_queues.rb
  config/sidekiq_scheduler.yml
  spec/jobs/sidekiq_alive/cleanup_queues_spec.rb
Labels: console-services-review

Mobile Claim hotfix (#12745)
  modules/mobile/app/serializers/mobile/v0/claim_serializer.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/spec/request/individual_lighthouse_claim_request_spec.rb
Labels: mobile

58604 Modifying appointment date format for travel claims (#12743)
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
Labels: none

Mobile: Secure messaging thread schema update (#12738)
  modules/mobile/app/controllers/mobile/v1/messages_controller.rb
  modules/mobile/app/serializers/mobile/v1/messages_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/v1/SecureMessageList.yml
  modules/mobile/spec/request/v1/messages_request_spec.rb
  spec/support/vcr_cassettes/mobile/messages/v1_get_thread.yml
Labels: mobile, console-services-review

VAOS: Set Appointments 'cancellable' Flag to False for Covid Appointments (#12739)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_cnp_covid.yml
Labels: vaos, console-services-review

API-26673-526-v2-schema-alternate-names (#12698)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

Api 26589 v2 itf request format (#12688)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/example.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

Bdex/57063/migrate get intent to file to lighthouse (#12623)
  app/controllers/v0/intent_to_files_controller.rb
  config/settings.yml
  config/settings/test.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider.rb
  lib/disability_compensation/providers/intent_to_file/lighthouse_intent_to_file_provider.rb
  lib/lighthouse/auth/client_credentials/service.rb
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service.rb
  lib/lighthouse/veteran_verification/configuration.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider_spec.rb
  spec/lib/disability_compensation/providers/intent_to_file/lighthouse_intent_to_file_provider_spec.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/requests/intent_to_files_request_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/400_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/401_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/403_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/404_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/413_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/429_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/500_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/502_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/503_response.yml
Labels: console-services-review

MHV-42054: Labs and tests api complete (#12741)
  lib/medical_records/client.rb
  modules/my_health/app/controllers/my_health/v1/labs_and_tests_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/labs_and_tests_request_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_labs_and_tests.yml
  spec/support/vcr_cassettes/mr_client/get_a_single_lab_or_test.yml
Labels: console-services-review

Feature - call VRO contention classification service for some 526-ez claims (#12638)
  .gitignore
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  config/settings.yml
  lib/virtual_regional_office/client.rb
  lib/virtual_regional_office/configuration.rb
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/virtual_regional_office/client_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification.yml
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf.yml
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf_download.yml
  spec/support/vcr_cassettes/virtual_regional_office/health_assessment.yml
Labels: console-services-review

Restrict metadata keys to only support known keys
  lib/central_mail/utilities.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/config/metadata/internal_consumer_fields.yml
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: console-services-review

5310 remove logging low hanging fruit (#12755)
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/controllers/mobile/v0/push_notifications_controller.rb
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/appointment_requests.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/models/mobile/v0/templates/base_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/community_care_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/va_appointment.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/app/services/mobile/v2/appointments/presentation_filter.rb
  modules/mobile/app/services/mobile/v2/appointments/provider_names.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/spec/models/adapters/appointment_requests_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/request/community_care_eligibility_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/services/v2/appointments/presentation_filter_spec.rb
  modules/mobile/spec/services/v2/appointments/provider_names_spec.rb
Labels: mobile

mobile VA rep copy update (#12759)
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
Labels: mobile

Remove remaining RRD processor code (#12761)
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/asthma.erb
  app/services/rapid_ready_for_decision/views/asthma/about.erb
  app/services/rapid_ready_for_decision/views/asthma/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/hypertension.erb
  app/services/rapid_ready_for_decision/views/hypertension/about.erb
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  app/services/rapid_ready_for_decision/views/hypertension/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/shared/_link_to.erb
  app/services/rapid_ready_for_decision/views/shared/intro.erb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
Labels: console-services-review

58537 Add datadog metrics for travel claim responses (#12757)
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
Labels: none

Add find MPI profile by facility method (#12622)
  lib/mpi/constants.rb
  lib/mpi/messages/find_profile_by_facility.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/find_profile_by_facility_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

Finalize appeals rswag updates (part 2) (#12744)
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

renamed evss specs and removed lighthouse specs (#12774)
  modules/mobile/spec/request/legacy_letters_request_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
Labels: mobile

Configure Branch Protection Settings via .github/settings.yml instead of UI (#12681)
  .github/settings.yml
Labels: console-services-review

wrap contention classification code in rescue (#12766)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification_failure.yml
Labels: console-services-review

API-26271-526-v2-sec-5-disability-pdf-mapping (#12725)
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

refactor(vaos): remove unused find_service_type_and_category method and related logging (#12769)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: vaos

Add HLR disable submit feature (#12775)
  config/features.yml
Labels: console-services-review

5310: remove unnecessary logging (#12776)
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
Labels: mobile

Adds pdf mapping for 526-v2-tx-centers (#12733)
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

Api 24832 526 v2 section 5 treatment centers validation (#12752)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Claims API v2 handle hash in index (#12764)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

Potentially fixing flaky specs in claims api (#12783)
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none
