Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Add VANotify to flipper admin (#12868)
  config/settings.yml
Labels: console-services-review

Api 24835 526 v2 section 8 direct deposit information validation (#12818)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

API-27053 526v2 currentVAEmployee not required and defaults to false (#12856)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

API-26148-526-v2-pdf-gen-setup (#12663)
  config/settings.yml
  lib/evss/disability_compensation_form/dvp/configuration.rb
Labels: console-services-review

API-26966-526-v2-req-body-updates & API-27054 (#12824)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Add mapping and spec test (#12837)
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: none

its honest work (#12879)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

API-24836-526-v2-sec-9-map-signature (#12834)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Disable FeatureCleanerJob (#12893)
  config/initializers/sidekiq.rb
Labels: console-services-review

58559 - Add a rake task to generate stats about recent unsubmitted FSR forms (#12832)
  app/models/in_progress_form.rb
  rakelib/in_progress_forms.rake
  spec/models/in_progress_form_spec.rb
Labels: console-services-review

flipper for injected header web component work (#12887)
  config/features.yml
Labels: console-services-review

5708 vet360 linking (#12866)
  config/redis.yml
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/controllers/mobile/v1/users_controller.rb
  modules/mobile/app/services/mobile/v0/profile/sync_update_service.rb
  modules/mobile/app/workers/mobile/v0/vet360_linking_job.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/workers/vet360_linking_spec.rb
Labels: mobile, console-services-review

changes user.fingerprint to request.remote_ip for better accuracy (#12878)
  app/controllers/concerns/sign_in/authentication.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

Mobile: Create new Secure Messaging Threads endpoint (#12851)
  modules/mobile/app/controllers/mobile/v0/threads_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/SecureMessageThread.yml
  modules/mobile/docs/schemas/SecureMessageThreadList.yml
  modules/mobile/spec/request/threads_request_spec.rb
  spec/support/vcr_cassettes/mobile/messages/get_threads_in_folder_400.yml
Labels: mobile, console-services-review

Enabled ClamavPrivate Mirror sidecar (#12897)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.52.tgz
Labels: console-services-review

add mobile QA engineers to flipper config (#12894)
  config/settings.yml
Labels: console-services-review

Show GUID as part of alert message on slow moving UploadSubmission statuses (#12881)
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/spec/workers/slack_notifier_spec.rb
Labels: none

0.11.53 - Add feature to manually roll pods
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.53.tgz
Labels: console-services-review

Revert "0.11.53 - Add feature to manually roll pods"
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.53.tgz
Labels: console-services-review

Revert "Revert "0.11.53 - Add feature to manually roll pods""
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.53.tgz
Labels: console-services-review

release 0.11.54
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.54.tgz
Labels: console-services-review

Replace sidekiq scheduled jobs with periodic jobs (#12825)
  config/initializers/sidekiq.rb
  config/sidekiq_scheduler.yml
  lib/periodic_jobs.rb
  modules/covid_vaccine/app/jobs/covid_vaccine/expanded_scheduled_submission_job.rb
  modules/covid_vaccine/app/jobs/covid_vaccine/expanded_submission_state_job.rb
  modules/covid_vaccine/app/jobs/covid_vaccine/scheduled_batch_job.rb
Labels: console-services-review

Modified letters generator route to be POST and updated tests (#12794)
  app/controllers/v0/letters_generator_controller.rb
  config/routes.rb
  lib/lighthouse/letters_generator/service.rb
  spec/controllers/v0/letters_generator_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/letters_generator/download_with_options.yml
Labels: console-services-review

VACMS-13184 Remove homepage modal flipper (#12908)
  config/features.yml
Labels: console-services-review

Added clamav command
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.55.tgz
Labels: console-services-review

add feature flipper for form 21-10210 (#12904)
  config/features.yml
Labels: console-services-review

VAOS: Migrate MFS Clinics Search Call Over to VAOS Service (#12863)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/mobile/appointments/VAOS_v2/get_clinic_200.yml
  spec/support/vcr_cassettes/mobile/appointments/VAOS_v2/get_clinic_bad_facility_id_500.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_clinic_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_clinic_500.yml
Labels: vaos, console-services-review

mobile - lighthouse claims request decision (#12896)
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
  modules/mobile/spec/request/claims_decision_request_spec.rb
  modules/mobile/spec/request/legacy_claims_decision_request_spec.rb
  spec/support/vcr_cassettes/mobile/lighthouse_claims/request_decision/200_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_claims/request_decision/404_response.yml
Labels: mobile, console-services-review

Updating PR template description to negate 'specs run' as an acceptable testing option (#12912)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: console-services-review

Add limiter for copay batch processing (#12910)
  app/workers/copay_notifications/parse_new_statements_job.rb
Labels: console-services-review

VAOS Delete Feature Toggle 'va_online_scheduling_convert_utc_to_local' (#12915)
  config/features.yml
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
Labels: vaos, console-services-review

Restrict copay statement notifications to 1000 / minute (#12924)
  app/workers/copay_notifications/parse_new_statements_job.rb
Labels: console-services-review

Api 27055 null vet icn v2 526 (#12895)
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

feat(vaos): add get_clinics method to batch retrieve clinic details (#12926)
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_clinics_200.yml
Labels: vaos, console-services-review

API-27078-526-v2-allow-yyyy-mm-date-format-2 (#12927)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

API-27098: Updates to handling of duplicate UUID response from Central Mail (#12906)
  lib/central_mail/utilities.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: console-services-review

Add StatsD counters for copay notifications (#12909)
  app/policies/medical_copays_policy.rb
  app/workers/copay_notifications/mcp_notification_email_job.rb
  app/workers/copay_notifications/new_statement_notification_job.rb
  app/workers/copay_notifications/parse_new_statements_job.rb
Labels: console-services-review

Move limiter logic to child job for copay notifications (#12932)
  app/workers/copay_notifications/new_statement_notification_job.rb
  app/workers/copay_notifications/parse_new_statements_job.rb
Labels: console-services-review

- remove payment and debt section feature toggle (#12923)
  config/features.yml
Labels: console-services-review

VaNotify - Re-enable 1990 confirmation emails to authenticated users (#12925)
  app/models/saved_claim/education_benefits/va_1990.rb
  config/features.yml
  spec/models/saved_claim/education_benefits/va1990_spec.rb
Labels: console-services-review
