Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Fixed syntax error
  docs/index.yaml
Labels: console-services-review

Trying HPA targetValue instead of averageTargetValue
  chart/Chart.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.11.23.tgz
Labels: console-services-review

Set Sidekiq hpa value to targetValue not averageTargetValue
  chart/Chart.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.24.tgz
Labels: console-services-review

Update tracked item display name, associated documentation (#12355)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Api 25151 Fix PreviousPhases Completion Dates (#12349)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
Labels: none

VaNotify - Add email confirmation for 1990e (#12354)
  app/models/saved_claim/education_benefits/va_1990e.rb
  config/features.yml
  config/settings.yml
  spec/factories/va1990e.rb
  spec/models/saved_claim/education_benefits/va1990e_spec.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

Api 25504 contention objects (#12340)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Api 25682 tracked item desc (#12351)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Add migration to track in progress reminders that have been sent (#12348)
  db/schema.rb
  modules/va_notify/db/migrate/20230404190930_create_in_progress_reminders_sent.rb
Labels: console-services-review

Add Additional Logging to `VAForms::FormReloader` Job (#12365)
  config/settings.yml
  modules/va_forms/app/workers/va_forms/form_reloader.rb
Labels: console-services-review

Added postStart commands (#12367)
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.25.tgz
Labels: console-services-review

Fixed cronjob syntax (#12366)
  config/sidekiq_scheduler.yml
Labels: console-services-review

12402 income limits mocked endpoint module setup (#12333)
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/income_limits/Gemfile
  modules/income_limits/README.rdoc
  modules/income_limits/Rakefile
  modules/income_limits/app/controllers/income_limits/application_controller.rb
  modules/income_limits/app/controllers/income_limits/v1/income_limits_controller.rb
  modules/income_limits/app/models/income_limits/limits_by_zip_code.rb
  modules/income_limits/bin/rails
  modules/income_limits/config/routes.rb
  modules/income_limits/income_limits.gemspec
  modules/income_limits/lib/income_limits.rb
  modules/income_limits/lib/income_limits/engine.rb
  modules/income_limits/lib/income_limits/version.rb
  modules/income_limits/spec/requests/v1/limits_by_zip_code_spec.rb
  modules/income_limits/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

[56048] Mockdata sync api (#12335)
  config/routes.rb
  config/settings.yml
  modules/mocked_authentication/app/controllers/mocked_authentication/application_controller.rb
  modules/mocked_authentication/app/controllers/mocked_authentication/credential_controller.rb
  modules/mocked_authentication/app/controllers/mocked_authentication/mpi/mockdata_controller.rb
  modules/mocked_authentication/app/helpers/mocked_authentication/url_helper.rb
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/mockdata/mpi/find.rb
  modules/mocked_authentication/spec/lib/mockdata/mpi/find_spec.rb
  modules/mocked_authentication/spec/requests/mockdata_request_spec.rb
Labels: console-services-review

Fix mockdata authorize (#12369)
  modules/mocked_authentication/app/controllers/mocked_authentication/mpi/mockdata_controller.rb
  modules/mocked_authentication/spec/requests/mockdata_request_spec.rb
Labels: none

Improved Error Handling for `VAForms::FormReloader` Job (#12370)
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/spec/workers/form_reloader_spec.rb
Labels: none

First attempt to run clamav mirror (#12374)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.26.tgz
Labels: console-services-review

Removed sidekiq postStart command
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.27.tgz
Labels: console-services-review

Added clamav volumes (#12377)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.28.tgz
Labels: console-services-review

Log error to sentry if invalid SSN or File Number sent to BGS create_person endpoint. (#12379)
  lib/bgs/vnp_veteran.rb
  spec/lib/bgs/vnp_veteran_spec.rb
Labels: console-services-review

Adds flag for MEB applications to gate minor changes (#12337)
  config/features.yml
Labels: console-services-review

VA-12984: Add notes on running Hybrid setup (#12361)
  docs/setup/hybrid.md
Labels: console-services-review

Add notes for installing and setting up RVM (#12360)
  docs/setup/native.md
Labels: console-services-review

Vfep 361 final - 5490 spool file changes (child type, educ history, school selection) (#12383)
  Gemfile.lock
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_adopted_child.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_adopted_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_biological_child.json
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_biological_child.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_step_child.json
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_step_child.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.json
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.json
  spec/fixtures/education_benefits_claims/5490/template/kitchen_sink_chapter_33_died_non_duty_guardian_not_graduated.spl
  spec/jobs/education_form/forms/va5490_spec.rb
Labels: console-services-review

API-25080: Add New 'potentialPactAct' Boolean Field to Supplemental Claims (#12346)
  config/features.yml
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs.json
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: console-services-review

Api 25551 nil bgs claims (#12378)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Api 25272 tracked items dates (#12357)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Update Appeal info to actually show examples and also add example types for the two docket types (#12381)
  modules/mobile/docs/examples/appeals/appeal_docket_1.yml
  modules/mobile/docs/examples/appeals/appeal_docket_2.yml
  modules/mobile/docs/examples/appeals/appeal_docket_null.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Appeal.yml
  modules/mobile/docs/schemas/AppealDocket.yml
  modules/mobile/docs/schemas/AppealEvent.yml
  modules/mobile/docs/schemas/AppealIssue.yml
Labels: mobile

Setup http readinessProbe (#12389)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
Labels: console-services-review

Bump chart version
  docs/index.yaml
  docs/vets-api-0.11.29.tgz
Labels: console-services-review

Removed clamav volumes
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.30.tgz
Labels: console-services-review

Fixed helm template
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.31.tgz
Labels: console-services-review

Removed sticky sessions value
  chart/Chart.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.32.tgz
Labels: console-services-review

resolves nil upload_date (#12384)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

Api 25788 update tracked item to (#12386)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

Pre stop lifecycle (#12394)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.33.tgz
Labels: console-services-review

Import digicert for www.vba.va.gov (#12395)
  import-va-certs.sh
Labels: console-services-review

Vanotify - Change in progress reminder table (#12396)
  db/schema.rb
  modules/va_notify/db/migrate/20230412000219_drop_notify_in_progress_reminders_sent.rb
  modules/va_notify/db/migrate/20230412000222_re_add_in_progress_reminders_sent.rb
Labels: console-services-review

Updating import-va-certs to use /bin/bash
  import-va-certs.sh
Labels: console-services-review

API-25677 - New appeals scopes (#12364)
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/appeals_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
  modules/appeals_api/spec/support/shared_examples_for_appeals_status.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
  modules/vba_documents/spec/fixtures/valid_metadata_oversized.json
Labels: none
