Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

3998 update military info to come from va profile upstream services (#11105)
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/app/models/mobile/v0/military_information.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/spec/request/military_information_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200_empty.yml
Labels: mobile

More example data (#11022)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: none

add comment
  .github/workflows/deploy-template.yml
Labels: console-services-review

fix(va-certs): Adjust file extension and display VA Certs for verification
  Dockerfile
  import-va-certs.sh
Labels: console-services-review

update image tag for test app
  .github/workflows/deploy-template.yml
Labels: console-services-review

update to correct image tag
  .github/workflows/deploy-template.yml
Labels: console-services-review

updated vaos logging to not log error msg on http 400 errors (#11115)
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
Labels: vaos

API-20509: Add VBADocuments V1 internal /upload_complete endpoint (will replace V0) (#11114)
  modules/vba_documents/app/controllers/vba_documents/internal/v1/upload_complete_controller.rb
  modules/vba_documents/config/routes.rb
  modules/vba_documents/spec/request/v1/upload_complete_request_spec.rb
Labels: none

Add back button feature flag (#10677)
  config/features.yml
Labels: console-services-review

Adds extra method before submission to check for masked parameters to… (#11107)
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/submission_service_spec.rb
Labels: none

Removing Rating Decision Letters (doc_type 339) from allowlist (#11116)
  lib/claim_letters/claim_letter_downloader.rb
  spec/fixtures/claim_letter/claim_letter_list.json
Labels: console-services-review

Added new text base appeals error report (#11076)
  config/features.yml
  config/initializers/sidekiq.rb
  config/settings.yml
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/spec/mailers/weekly_error_report_mailer_spec.rb
Labels: console-services-review

Enable Feature Cleaner Job (#11124)
  config/sidekiq_scheduler.yml
Labels: console-services-review

48740 Claims service object reading icn from redis (#11089)
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/app/services/travel_claim/redis_client.rb
  modules/check_in/app/services/travel_claim/service.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
  modules/check_in/spec/services/travel_claim/redis_client_spec.rb
  modules/check_in/spec/services/travel_claim/service_spec.rb
Labels: none

49566 add btsss betamock config (#11127)
  config/betamocks/services_config.yml
Labels: console-services-review

[11112] Adding fallback query for InProgressForms to search for associated user_account if no matching user_uuid form is found (#11122)
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/models/user.rb
  app/services/users/profile.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/models/in_progress_form_spec.rb
  spec/requests/in_progress_forms_request_spec.rb
  spec/services/users/profile_spec.rb
Labels: console-services-review

Removed check_in_experience_day_of_demographics_flags_enabled flag (#11121)
  config/features.yml
Labels: console-services-review

[11129] Myhealthet loa3 scope for sign in service when loa3 is specifically requested (#11130)
  app/services/sign_in/acr_translator.rb
  spec/services/sign_in/acr_translator_spec.rb
Labels: console-services-review

[11129] Forcing verification for MHV accounts when sign in service loa3 is requested and MHV non-premium account is authenticated (#11132)
  app/models/sign_in/credential_level.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
Labels: console-services-review

Api 20702 error report (#11134)
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/spec/workers/appeals_api/weeky_error_report_spec.rb
  spec/mailers/previews/appeals_api_weekly_error_report_mailer_preview.rb
Labels: console-services-review

Increase timeout for va.gov / MAS claim handoff (#11118)
  lib/mail_automation/configuration.rb
Labels: console-services-review

upstream healthcheck to version (#11120)
  modules/claims_api/config/routes.rb
Labels: none

API-21472: Remove Forms API deployment notifications from VBADocuments module (#11141)
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/models/vba_documents/git_items.rb
  modules/vba_documents/app/workers/vba_documents/deployments_notifier.rb
  modules/vba_documents/spec/fixtures/git_items_forms.json
  modules/vba_documents/spec/models/git_items_spec.rb
  modules/vba_documents/spec/workers/deployments_notifier_spec.rb
Labels: console-services-review

API-18247: Remove VBADocuments V0 Endpoints (Retire V0) (#11106)
  modules/vba_documents/config/routes.rb
  modules/vba_documents/spec/request/metadata_request_spec.rb
Labels: none

revert commit that's causing server from not running locally (#11142)
  config/betamocks/services_config.yml
Labels: console-services-review

Update segmented appeals API internal versions to v0 (#11126)
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

49566 add btsss betamock config (#11143)
  config/betamocks/services_config.yml
  config/settings.yml
Labels: console-services-review

Removed Feature Flag profile_notification_settings (#11128)
  config/features.yml
Labels: console-services-review

4127 allow pagination helper to use false values (#11138)
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
Labels: mobile

test new permissions on LH CCG authorization (#11144)
  config/settings.yml
Labels: console-services-review

[49586] Adding functionality for MHV to verify if loa3 mhv was specifically requested on authentication and a non-premium mhv account was returned (#11131)
  app/controllers/v1/sessions_controller.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: console-services-review

[49586] Fixing unintentional typo around idme authn context (#11148)
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

API-21474: Remove GDIT-specific cassettes that were used during Central Mail transition from GDIT to GovCIO (#11147)
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_fileNumber_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_veteranFirstName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_veteranLastName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_zipCode_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_invalid_zipCode_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_fileNumber_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_veteranFirstName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_veteranLastName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_zipCode_GDIT.yml
  spec/support/vcr_cassettes/central_mail/status_multiple_uuids_GDIT.yml
  spec/support/vcr_cassettes/central_mail/status_one_uuid_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_duplicate_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_locked_attachment_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_locked_main_form_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_mainform_only_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_mismatch_error_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_mismatch_error_attach_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_one_attachment_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_two_attachments_GDIT.yml
Labels: console-services-review

[49586] Changing rules around when an mhv account should verify if SSOe mhv_verified context was called (#11152)
  lib/saml/post_url_service.rb
Labels: console-services-review

49083 Travel Claims Controller (#11146)
  config/settings/test.yml
  modules/check_in/app/controllers/check_in/v0/travel_claims_controller.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_400.yml
  spec/support/vcr_cassettes/check_in/btsss/token/token_200.yml
  spec/support/vcr_cassettes/check_in/lorota/data/data_200.yml
Labels: console-services-review

Revert "test new permissions on LH CCG authorization (#11144)" (#11151)
  config/settings.yml
Labels: console-services-review

HPA metrics for puma (#11157)
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/vets-api-0.2.0.tgz
Labels: console-services-review

Chart index bump (#11159)
  docs/index.yaml
Labels: console-services-review

VaNotify - Customize form id display (#11158)
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_reminder_spec.rb
Labels: none

Return hash with empty values if nil address (#11145)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
