Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Lighthouse direct deposit (#12189)
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  lib/lighthouse/direct_deposit/configuration.rb
  lib/lighthouse/direct_deposit/error.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/400_invalid_scopes.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/422_response.yml
Labels: console-services-review

12591 btsss login flipper (#12185)
  config/features.yml
Labels: console-services-review

moved vaos v0 basecontroller to vaos basecontroller (#12201)
  modules/vaos/app/controllers/vaos/base_controller.rb
  modules/vaos/app/controllers/vaos/v0/base_controller.rb
  modules/vaos/app/controllers/vaos/v1/base_controller.rb
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/controllers/vaos/v2/cc_eligibility_controller.rb
  modules/vaos/app/controllers/vaos/v2/clinics_controller.rb
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
  modules/vaos/app/controllers/vaos/v2/patients_controller.rb
  modules/vaos/app/controllers/vaos/v2/scheduling_controller.rb
  modules/vaos/app/controllers/vaos/v2/slots_controller.rb
Labels: vaos

Fixed extra ending in worker deployment (#12202)
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.10.tgz
Labels: console-services-review

Api 24751 system scope (#12138)
  modules/claims_api/app/controllers/concerns/claims_api/ccg_token_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/lib/claims_api/error/error_handler_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
Labels: none

Update API scopes for Benefits Claims Wrapper (#12126)
  lib/lighthouse/benefits_claims/configuration.rb
Labels: console-services-review

Claims api update 526 oas route (#12203)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

removed v0 cc serializers (#12205)
  modules/vaos/app/serializers/vaos/v0/cc_appointments_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_supported_sites_serializer.rb
Labels: vaos

clamav mock
  config/settings.yml
  lib/common/virus_scan.rb
Labels: console-services-review

[54398] Force SubmitForm674Job to run after SubmitForm686cJob. (#12186)
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form686c_job.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

53997 day of check in handoff (#12167)
  config/betamocks/services_config.yml
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/models/check_in/v2/session.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
Labels: console-services-review

test branch PE deployment (#12170)
  .github/workflows/preview-environment-cleanup.yml
  .github/workflows/preview_environment_deployment.yml
Labels: console-services-review

RX logging changes (#12197)
  lib/rx/configuration.rb
  lib/rx/middleware/response/rx_failed_station.rb
  lib/rx/middleware/response/rx_parser.rb
Labels: console-services-review

Add rollup back to hpa metric (#12209)
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.11.11.tgz
Labels: console-services-review

removed vaos v0 appointment serializers (#12206)
  modules/vaos/app/serializers/vaos/v0/appointment_requests_serializer.rb
  modules/vaos/app/serializers/vaos/v0/va_appointments_serializer.rb
Labels: vaos

removed vaos v0 facilitySerializer (#12211)
  modules/vaos/app/serializers/vaos/v0/facility_serializer.rb
Labels: vaos

removed preferences and facilities serializers (#12212)
  modules/vaos/app/serializers/vaos/v0/preferences_serializer.rb
Labels: vaos

Reverted livenessProbe back to TCP connection (#12213)
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.12.tgz
Labels: console-services-review

API-25152-cst-latest-phase-type-docs (#12210)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/fixtures/v2/veterans/claims/claim_by_id_response.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

API-25148-cst-tracked-items (#12208)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Adds edipi check method and a cooresponding test. (#12156)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

add mock option for clamav
  docs/setup/hybrid.md
Labels: console-services-review

set unused vaos v2 serializers to no code coverage (#12217)
  modules/vaos/app/serializers/vaos/v2/appointments_serializer.rb
  modules/vaos/app/serializers/vaos/v2/patient_appointment_metadata_serializer.rb
  modules/vaos/app/serializers/vaos/v2/providers_serializer.rb
Labels: vaos

removed vaos v0 direct booking eligibility criteria serializer (#12215)
  modules/vaos/app/serializers/vaos/v0/direct_booking_eligibility_criteria_serializer.rb
Labels: vaos

removed vaos v0 availability serializer (#12214)
  modules/vaos/app/serializers/vaos/v0/availability_serializer.rb
Labels: vaos

[53049] Completing mock auth service API and sign in controller integration with sign in service mock auth (#12182)
  .rubocop_todo.yml
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/client_config.rb
  app/services/sign_in/authentication_service_retriever.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/logout_redirect_generator.rb
  app/services/sign_in/token_serializer.rb
  config/settings.yml
  db/seeds/development.rb
  modules/mocked_authentication/app/controllers/mocked_authentication/credential_controller.rb
  modules/mocked_authentication/app/models/mocked_authentication/credential_info.rb
  modules/mocked_authentication/app/services/mocked_authentication/credential_info_creator.rb
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/credential/service.rb
  modules/mocked_authentication/spec/factories/mock_credential_infos.rb
  modules/mocked_authentication/spec/lib/credential/service_spec.rb
  modules/mocked_authentication/spec/models/credential_info_spec.rb
  modules/mocked_authentication/spec/requests/credential_request_spec.rb
  modules/mocked_authentication/spec/services/mocked_authentication/credential_info_creator_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/services/sign_in/authentication_service_retriever_spec.rb
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

Bundler: Add platform x86_64-linux (#12219)
  Gemfile.lock
Labels: console-services-review

[55528] Creating service for ID.me and Login.gov integrations that will create mocked records for credentials (#12216)
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/configuration.rb
  lib/sign_in/logingov/service.rb
  modules/mocked_authentication/lib/mockdata/writer.rb
  modules/mocked_authentication/spec/lib/mockdata/writer_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
Labels: console-services-review

Replaces bgs-ext with local bgs for tracked items. (#12194)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  spec/support/vcr_cassettes/bgs/tracked_items/find_tracked_items.yml
Labels: console-services-review

Api 24327 multiple pids (#12087)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
  modules/claims_api/spec/factories/claims_veteran.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: none

partial removal of vaos system service rspecs (#12221)
  modules/vaos/spec/services/systems_service_spec.rb
Labels: vaos

Fix syntax in Claims API specs (#12223)
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

partial removal of vaos system service rspecs (#12222)
  modules/vaos/spec/services/systems_service_spec.rb
Labels: vaos

removed vaos systems service and assoc classes (#12225)
  modules/vaos/app/models/vaos/appointment_time_slot.rb
  modules/vaos/app/models/vaos/clinic_institution.rb
  modules/vaos/app/models/vaos/facility_availability.rb
  modules/vaos/app/services/vaos/systems_service.rb
Labels: vaos

Revert "Revert "Vfep 369 - add Marriage Date to back end spool files (#12171)" (#12191)" (#12218)
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
Labels: console-services-review

Api 25261 itf response cleanup (#12207)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/intent_to_file/intent_to_file.json
Labels: console-services-review

removed vaos v0 appointment requests service (#12227)
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/spec/services/appointment_requests_service_spec.rb
Labels: vaos

Fix another syntax in Claims API specs (#12228)
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

removed vaos appointment requests service assoc classes (#12230)
  modules/vaos/app/models/vaos/appointment_request_form.rb
  modules/vaos/app/models/vaos/cc_appointment_request_form.rb
  modules/vaos/spec/models/cc_appointment_request_form_spec.rb
Labels: vaos

Ruby 3.1: Fix RSwag POA Request Spec (#12238)
  lib/oidc/key_service.rb
Labels: console-services-review
