Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

[11617] Rescuing MPI request argument errors when mpi is called through MPI data object (#11622)
  app/models/mpi_data.rb
Labels: console-services-review

Add ICN check (#11465)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: none

adds consistent date formatting (#11574)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Slight bug fixes (#11627)
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

VaNotify - Add confirmation email to 5490 (#11581)
  app/models/saved_claim/education_benefits.rb
  config/features.yml
  config/settings.yml
  spec/factories/va5490.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

Api 22825 add status logs (#11623)
  modules/veteran_confirmation/app/services/veteran_confirmation/status_service.rb
Labels: none

API-23109-show-bug (#11604)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

Reverting changes to account creator (#11631)
  app/services/identity/account_creator.rb
  spec/services/identity/account_creator_spec.rb
Labels: console-services-review

Updates Spec for TOE form object with new signature field (#11558)
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/toe_submission_service_spec.rb
  spec/support/vcr_cassettes/dgi/forms/submit_toe_claim.yml
Labels: console-services-review

create datadog.yaml with sidekiq configs (#11621)
  config/datadog.yaml
  config/initializers/sidekiq.rb
Labels: console-services-review

Enabled sidekiq dogstatsd for all env (#11628)
  config/initializers/sidekiq.rb
Labels: console-services-review

Revert "create datadog.yaml with sidekiq configs (#11621)" (#11636)
  config/datadog.yaml
  config/initializers/sidekiq.rb
Labels: console-services-review

Mobile: Manually set province to nil when domestic (#11630)
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/spec/request/addresses_request_spec.rb
Labels: mobile

add to dev in v2 (#11632)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

Remove rrd_new_pact_related_disability feature toggle (#11634)
  app/mailers/rrd_new_disability_claim_mailer.rb
  app/mailers/views/rrd_new_disability_claim_mailer.html.erb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

adds logging of user avc creation & update (#11633)
  app/services/login/user_acceptable_verified_credential_updater.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
Labels: console-services-review

Add ICN header to swagger docs (#11556)
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: none

API-21503: Generate and Save Post-Processed File Checksum for VBADocuments Submissions (#11619)
  config/features.yml
  config/settings.yml
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_integrity_checker.rb
  modules/vba_documents/spec/lib/upload_integrity_checker_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: console-services-review

feat(Ingress): Enable CORS for va.gov and vfs.va.gov Vets API addresses (#11643)
  chart/templates/ingress_route.yaml
Labels: console-services-review

Bump chart version
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.8.0.tgz
Labels: console-services-review

Add ingress header values
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.8.1.tgz
Labels: console-services-review

Created header properties value
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.8.2.tgz
Labels: console-services-review

Re-configured headers
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.8.3.tgz
Labels: console-services-review

Another heading configuration
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.8.4.tgz
Labels: console-services-review

add military addresses and check user address (#11654)
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
Labels: mobile

Add new messaging fields to docs (#11645)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/SecureMessageDetail.yml
  modules/mobile/docs/schemas/SecureMessageSummary.yml
Labels: mobile

Add Sidekiq Metrics config in Datadog YML (#11655)
  config/datadog.yaml
Labels: console-services-review

526 backup bug fixes (#11651)
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

Update ddtrace to 1.8 (#11659)
  Gemfile.lock
Labels: console-services-review

API-23131: Fix Appeals Duplicate Client Notification Email Bug (#11652)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/support/shared_examples_for_appeal_status_updates.rb
Labels: none

[51834] Rake task to backfill user acceptable verified credential table (#11637)
  rakelib/prod/backfill_user_acceptable_credential.rake
Labels: console-services-review

Revert hpa prod values
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.8.5.tgz
Labels: console-services-review

add forms_api module (#11615)
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/forms_api/Gemfile
  modules/forms_api/README.rdoc
  modules/forms_api/Rakefile
  modules/forms_api/app/controllers/forms_api/v1/application_controller.rb
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/form_mappings/vha_10_10d.json.erb
  modules/forms_api/app/models/forms_api/vha_10_10d.rb
  modules/forms_api/app/services/forms_api/pdf_filler.rb
  modules/forms_api/bin/rails
  modules/forms_api/config/routes.rb
  modules/forms_api/forms_api.gemspec
  modules/forms_api/lib/forms_api.rb
  modules/forms_api/lib/forms_api/engine.rb
  modules/forms_api/lib/forms_api/version.rb
  modules/forms_api/lib/tasks/forms.rake
  modules/forms_api/spec/fixtures/form_json/vha_10_10d.json
  modules/forms_api/spec/requests/v1/uploads_spec.rb
  modules/forms_api/spec/services/pdf_filler_spec.rb
  modules/forms_api/spec/spec_helper.rb
  modules/forms_api/templates/vha_10_10d.pdf
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

Update params being sent for confirmation email (#11641)
  app/models/saved_claim/education_benefits.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

Created new middleware manifest (#11662)
  chart/templates/ingress_route.yaml
Labels: console-services-review

Bump chart version
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.8.6.tgz
Labels: console-services-review

Modified headers middleware name
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.8.7.tgz
Labels: console-services-review

API-14905 Add NCA as Central Mail line of business (#11638)
  config/features.yml
  config/settings.yml
  lib/central_mail/utilities.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/metadata_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/metadata_swagger.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
Labels: console-services-review

API-22844 Update segmented appeals API descriptions (#11573)
  modules/appeals_api/app/swagger/contestable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/contestable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description_dev.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description_dev.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description_dev.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description_dev.md
Labels: none

[52258] Remove requirement that applicant be absent if unsuccessful. (#11648)
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/application_200_status_unexpected.yml
Labels: console-services-review
