Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

remove tracer config
  config/initializers/datadog.rb
Labels: console-services-review

RRD Asthma: Tweaks asthma PDF with slight formatting changes (#9734)
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
Labels: console-services-review

39195 Replacing last4 with dob for lorota security update (#9646)
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/models/check_in/v2/session.rb
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: none

AppealsApi: extract rswag boilerplate into shared examples (#9714)
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
Labels: none

API-15406 - ClaimsApi - 526 transform 'addressChangeType' case (#9731)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

RRD: use new ClaimContext class (#9711)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  app/workers/rapid_ready_for_decision/claim_context.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/claim_context_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
Labels: console-services-review

Rename to platform-console-services (#9733)
  catalog-info.yaml
Labels: console-services-review

API-15242: Update EVSS schema validations for regex, optional properties (#9739)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/fixtures/form_526_json_api.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

Adjust spacing and improve test data (#9740)
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
Labels: console-services-review

RRD: increase Sidekiq job retries for RRD Asthma job (#9742)
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
Labels: console-services-review

Fix for international postal code being required on non-international address (#9745)
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
Labels: console-services-review

[40530] Adding ability for User model to be reloaded as long as sign in service session is still active (#9741)
  app/controllers/sign_in_controller.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_loader.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

Removes never-launched /v0/vso_appointments API (#9747)
  app/controllers/v0/vso_appointments_controller.rb
  app/models/vso_appointment.rb
  config/routes.rb
  docs/HISTORY.md
  lib/vso_pdf/VBA-21-22-ARE.pdf
  lib/vso_pdf/vso_appointment_form.rb
  spec/controllers/v0/vso_appointments_controller_spec.rb
  spec/lib/vsopdf/vso_appointment_form_spec.rb
  spec/support/vcr_cassettes/vso_appointments/upload.yml
Labels: console-services-review

Remove feature flip for bypassing international postal code requirement (#9750)
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
Labels: console-services-review

Update to bullseye distribution to fix docker build error (#9768)
  Dockerfile
Labels: console-services-review

RRD: make status notifications more precise (#9752)
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

RDD: add Conditions endpoint to the Lighthouse API client (#9748)
  config/settings.yml
  lib/lighthouse/veterans_health/client.rb
  spec/lib/lighthouse/veterans_health/client_spec.rb
Labels: console-services-review

Create generic ICN sending job (#9764)
  modules/va_notify/app/workers/va_notify/icn_job.rb
  modules/va_notify/spec/workers/icn_job_spec.rb
Labels: none

2982: add mobile_precache_appointments flag and email tied to production id.me in order to set the flag in production (#9757)
  config/features.yml
  config/settings.yml
Labels: console-services-review

VACMS-8938: Adds new public websites team members to flipper config. (#9763)
  config/settings.yml
Labels: console-services-review

2862 appointment facility eligibility (#9728)
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/facility_eligibility_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/FacilityEligibilities.yml
  modules/mobile/docs/schemas/FacilityEligibility.yml
  modules/mobile/spec/request/facility_eligibility_request_spec.rb
  modules/mobile/spec/support/schemas/facility_eligibility.json
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_bad_facility.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_100.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_101.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_102.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_103.yml
Labels: mobile

API-12180 nod non-veteran claimant validation and error handling (#9730)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: none

API-15348 - ClaimsApi - Document conditional 526 requirements (#9760)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: none

Retire VICv2 API endpoints (#9761)
  app/controllers/v0/vic/base_controller.rb
  app/controllers/v0/vic/profile_photo_attachments_controller.rb
  app/controllers/v0/vic/supporting_documentation_attachments_controller.rb
  app/models/vic/profile_photo_attachment.rb
  app/models/vic/supporting_documentation_attachment.rb
  app/uploaders/profile_photo_attachment_uploader.rb
  app/uploaders/supporting_documentation_attachment_uploader.rb
  app/uploaders/vic/processing_uploader.rb
  config/routes.rb
  config/settings.yml
  docs/HISTORY.md
  lib/vic/tag_sentry.rb
  spec/controllers/v0/vic/profile_photo_attachments_controller_spec.rb
  spec/controllers/v0/vic/supporting_documentation_attachments_controller_spec.rb
  spec/factories/vic/profile_photo_attachment.rb
  spec/factories/vic/supporting_documentation_attachment.rb
  spec/models/vic/profile_photo_attachment_spec.rb
  spec/models/vic/supporting_documentation_attachment_spec.rb
  spec/uploaders/profile_photo_attachment_uploader_spec.rb
  spec/uploaders/supporting_documentation_attachment_uploader_spec.rb
Labels: console-services-review

Add POA code to logger (#9767)
  modules/claims_api/app/workers/claims_api/vbms_updater.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: none

Preferred provider address not going through to HSRM (#9765)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: vaos

40391 Removing cie logging feature flag (#9777)
  config/features.yml
  modules/check_in/app/controllers/check_in/application_controller.rb
  modules/check_in/app/controllers/check_in/v2/demographics_controller.rb
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/pre_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

RRD: decouple assessed data and sufficient data (#9756)
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/claim_context.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

RRD: use Lighthouse query methods directly (#9749)
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  lib/lighthouse/veterans_health/client.rb
  spec/lib/lighthouse/veterans_health/client_spec.rb
  spec/lib/lighthouse/veterans_health/integration/client_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
  spec/support/vcr_cassettes/lighthouse/veterans_health/medication_requests.yml
  spec/support/vcr_cassettes/lighthouse/veterans_health/observations.yml
Labels: console-services-review

API-15575 - ClaimsApi - Validate 526 'claimDate' relative to Central US Time Zone (#9770)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

Update PDF fixtures for appeals_api generator spec (#9791)
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
Labels: none

Add class to handle logic for in progress forms (#9771)
  config/settings.yml
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
Labels: console-services-review

2858 mobile service eligibility (#9786)
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/app/models/mobile/v0/medical_service.rb
  modules/mobile/app/serializers/mobile/v0/veterans_affairs_eligibility_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
  modules/mobile/spec/support/schemas/service.json
  modules/mobile/spec/support/schemas/service_eligibility.json
  modules/mobile/spec/support/vcr_cassettes/va_eligibility/get_scheduling_configurations_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_eligibility/get_scheduling_configurations_200_all_enabled.yml
  modules/mobile/spec/support/vcr_cassettes/va_eligibility/get_scheduling_configurations_200_bad_facility.yml
Labels: mobile

AppealsAPI: Regenerate PDF files due to library update. No visual changes. (#9794)
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

Log 1010ez validation errors (#9778)
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

Removes feature flags from Identity team (#9784)
  config/features.yml
  spec/controllers/v0/feature_toggles_controller_spec.rb
Labels: console-services-review

Adding id.me verified email addresses to flipper. (#9799)
  config/settings.yml
Labels: console-services-review

update swagger docs for preferred name and gender identity (#9782)
  app/swagger/swagger/schemas/vet360/gender_identity.rb
  app/swagger/swagger/schemas/vet360/preferred_name.rb
Labels: console-services-review

Adds prescription refill to my_health module (#9754)
  modules/my_health/app/controllers/my_health/rx_controller.rb
  modules/my_health/app/controllers/my_health/v1/prescription_preferences_controller.rb
  modules/my_health/app/controllers/my_health/v1/prescriptions_controller.rb
  modules/my_health/app/controllers/my_health/v1/trackings_controller.rb
  modules/my_health/app/serializers/my_health/v1/prescription_preference_serializer.rb
  modules/my_health/app/serializers/my_health/v1/prescription_serializer.rb
  modules/my_health/app/serializers/my_health/v1/tracking_serializer.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/prescriptions_request_spec.rb
Labels: none

RRD: Add medication counts to completed mailer (#9785)
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  spec/factories/form526_submissions.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review
