Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

[12511] Use betamocks cache dir instead of mock credential dir (#12512)
  config/settings.yml
  modules/mocked_authentication/lib/mockdata/reader.rb
  modules/mocked_authentication/lib/mockdata/writer.rb
  modules/mocked_authentication/spec/lib/mockdata/reader_spec.rb
  modules/mocked_authentication/spec/lib/mockdata/writer_spec.rb
  modules/mocked_authentication/spec/requests/credential_request_spec.rb
Labels: console-services-review

56517 service type/category null value logging refactor (#12528)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: vaos

VAOS Implement low-level Rails caching for Provider Name (#12525)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
Labels: vaos

Vfep 550 - email spool files on staging (#12531)
  app/mailers/create_staging_spool_files_mailer.rb
  app/workers/education_form/create_daily_spool_files.rb
  config/settings.yml
Labels: console-services-review

API-24827-part-1 Cleanup (#12537)
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/workers/poa_form_builder_job_spec.rb
Labels: none

Rubocop (#12538)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
Labels: none

[department-of-veterans-affairs/va-virtual-agent#864] Defaults appeals status to unknown (#12535)
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/recent_open_unknown_appeal_status.yml
Labels: console-services-review

Migrate the form526_rapid_ready_for_decision_concern to ApiProviderFactory (#12524)
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form_profiles/va_526ez.rb
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/models/form526_submission_spec.rb
  spec/support/disability_compensation_form/shared_examples/rated_disabilities_provider.rb
Labels: console-services-review

API-24827-part-3: adds validators (#12539)
  modules/claims_api/app/controllers/claims_api/v2/veterans/base.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

55883 Travel Claim and Notifications Async (#12501)
  config/betamocks/services_config.yml
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
  spec/support/vcr_cassettes/check_in/vanotify/send_sms_201_created.yml
  spec/support/vcr_cassettes/check_in/vanotify/send_sms_403_forbidden.yml
Labels: console-services-review

Fixing flaky spec in inherited proofing spec (#12541)
  spec/factories/users.rb
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#873] Raises error if… (#12510)
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/lighthouse_mock_no_appeals_another_user.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/lighthouse_mock_not_found.yml
Labels: console-services-review

API-25718-bgs-error-handling (#12425)
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: none

API-24891 Unique spec file for Contestable Issues v0 (#12513)
  modules/appeals_api/spec/docs/contestable_issues/v0_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

Vfep 571 - add tests for emailing spool files on staging and put contents in body of email instead of attaching (#12542)
  app/mailers/create_staging_spool_files_mailer.rb
  app/workers/education_form/create_daily_spool_files.rb
  spec/fixtures/education_form/stagingspool.txt
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/mailers/create_staging_spool_files_mailer_spec.rb
Labels: console-services-review

56995 Strip dashes from valid BGS file numbers and log invalid SSNs and file numbers. (#12530)
  app/services/bgs/dependent_service.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

Update danger to use actions/checkout@v3 (#12507)
  .github/workflows/check_stale_prs.yml
  .github/workflows/danger.yml
  .github/workflows/labeler.yml
  .github/workflows/preview-environment-cleanup.yml
  .github/workflows/preview-environment-update-main.yml
  .github/workflows/preview_environment_deployment.yml
  .github/workflows/sync_branch.yml
Labels: console-services-review

[56749] Combine FSR reasons for user facing PDF (#12546)
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

Update betamocks config (#12540)
  config/betamocks/services_config.yml
Labels: console-services-review

debug line for CSRF token (#12555)
  app/controllers/application_controller.rb
Labels: console-services-review

FSR service should always submit with submit_combined_fsr irrespective of combined_financial_status_report feature flag (#12515)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

API-24186 - Un-revert VBADocuments max page limit, fix upload error detail (#12545)
  config/features.yml
  lib/central_mail/upload_error.rb
  lib/pdf_info.rb
  lib/pdf_utilities/pdf_validator.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/fixtures/10x102.pdf
  modules/vba_documents/spec/fixtures/79x10.pdf
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/lib/upload_validator_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/fixtures/pdf_utilities/pdf_validator/10x102.pdf
  spec/fixtures/pdf_utilities/pdf_validator/79x10.pdf
  spec/lib/central_mail/upload_error_spec.rb
  spec/lib/pdf_info/metadata_spec.rb
Labels: console-services-review

Bdex/57603: EVSS Migration: rated_disabilities - match app behavior response out side of successful response (#12552)
  config/locales/exceptions.en.yml
  lib/common/exceptions/bad_request.rb
  lib/common/exceptions/external_server_internal_server_error.rb
  lib/common/exceptions/payload_too_large.rb
  lib/common/exceptions/service_unavailable.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  lib/lighthouse/service_exception.rb
  lib/lighthouse/veteran_verification/configuration.rb
  lib/lighthouse/veteran_verification/service.rb
  lib/lighthouse/veteran_verification/service_exception.rb
  spec/lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider_spec.rb
  spec/lib/lighthouse/veteran_verification/service_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
  spec/support/disability_compensation_form/526_in_progress_form_minimal_lighthouse_rated_disabilities.json
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/400_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/401_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/403_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/404_ICN_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/405_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/413_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/429_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/500_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/502_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/503_response.yml
Labels: console-services-review

Update segmented appeals API routes (#12559)
  modules/appeals_api/config/route_concerns.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

Vanotify - 1880 in progress reminder (#12558)
  config/features.yml
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/va_notify/app/workers/va_notify/in_progress_1880_form.rb
  modules/va_notify/app/workers/va_notify/in_progress_1880_form_reminder.rb
  modules/va_notify/spec/workers/in_progress_1880_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_1880_form_spec.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
Labels: console-services-review

Updated 'vets_json_schema' gem (#12534)
  Gemfile.lock
Labels: console-services-review

Api 26250 section 0 validation part 2 (#12548)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Add john.woolschlager@va.gov to flipper admin user emails (#12563)
  config/settings.yml
Labels: console-services-review

[#MHV-39259] Adding MHV FHIR-ized API calls (#12492)
  config/settings/test.yml
  lib/medical_records/client.rb
  lib/medical_records/configuration.rb
  modules/my_health/app/controllers/my_health/mr_controller.rb
  modules/my_health/app/controllers/my_health/v1/vaccines_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/vaccines_request_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/mr_client_helpers.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vaccines.yml
  spec/support/vcr_cassettes/mr_client/get_a_vaccine.yml
Labels: console-services-review

10-10EZ - Bug: Discharge Character showing as "Other than Honorable" (#12566)
  app/models/emis_redis/military_information.rb
  lib/hca/military_information.rb
  spec/lib/hca/military_information_spec.rb
  spec/models/emis_redis/military_information_spec.rb
  spec/models/form_profile_spec.rb
Labels: console-services-review

Bdex/57603: follow up - added more evss provider tests and local file requirement (#12561)
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  spec/lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider_spec.rb
Labels: console-services-review

set csrf header before saml_callback (#12564)
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

58015 handle updated BTSSS success response (#12570)
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/services/travel_claim/response_spec.rb
  modules/check_in/spec/services/travel_claim/service_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_200.yml
Labels: console-services-review

58039 Modify test.yml with fake IDs (#12574)
  config/settings/test.yml
Labels: console-services-review

API-26384: Fix Bug where Error Detail was Missing for "UnidentifiableMail" Appeal Submissions (#12578)
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
Labels: none

Fixes flakely tests. (#12586)
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: none

Api 26143 526 pdf mapper section 0 (#12562)
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disabilitiy_compensation_pdf_mapper_spec.rb
Labels: none

Revert "set csrf header before saml_callback (#12564)" (#12585)
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

Api 26350 526 v2 526 schema description updates (#12551)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
Labels: none

Add BRD service (for countries) (#12401)
  config/settings/test.yml
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/lib/brd/brd.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  spec/support/vcr_cassettes/brd/countries.yml
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
