Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Fixing flaky spec with timecop not being returned after frozen (#10902)
  modules/mobile/spec/request/clinics_request_spec.rb
Labels: mobile

Returning Timecop after every spec to fix loads of flaky Timecop related specs (#10903)
  spec/spec_helper.rb
Labels: console-services-review

replaces id_token with client_id for SiS logingov logouts (#10886)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/credential_info.rb
  app/services/sign_in/credential_info_creator.rb
  app/services/sign_in/errors.rb
  config/redis.yml
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/credential_infos.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/credential_info_spec.rb
  spec/services/sign_in/credential_info_creator_spec.rb
Labels: console-services-review

[10904] Adding MPI add_person_proxy mocking with betamocks functionality (#10906)
  config/betamocks/services_config.yml
Labels: console-services-review

Fix HCA::LogEmailDiffJob (#10908)
  app/workers/hca/log_email_diff_job.rb
  config/initializers/statsd.rb
  spec/jobs/hca/log_email_diff_job_spec.rb
Labels: console-services-review

3756 doc update add enum of services for maintenance_windows endpoint (#10910)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/MaintenanceWindows.yml
Labels: mobile

Fix LGY put_application endpoint error logging. (again) (#10912)
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/application_put_500.yml
Labels: console-services-review

[10888] Adding transaction ID log to MPI requests (#10901)
  lib/mpi/models/mvi_profile.rb
  lib/mpi/responses/add_parser.rb
  lib/mpi/responses/add_person_response.rb
  lib/mpi/responses/find_profile_response.rb
  lib/mpi/responses/profile_parser.rb
  lib/mpi/service.rb
  spec/lib/mpi/responses/add_parser_spec.rb
  spec/lib/mpi/responses/add_person_response_spec.rb
  spec/lib/mpi/responses/find_profile_response_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/support/vcr_cassettes/mpi/add_person/add_person_implicit_search_server_error.yml
  spec/support/vcr_cassettes/mpi/add_person/add_person_implicit_search_success.yml
Labels: console-services-review

Create toggle for acheron service (#10915)
  config/features.yml
Labels: console-services-review

[bug] Convert last name spaces to underscores for valid filename (#10911)
  lib/debt_management_center/sharepoint/request.rb
Labels: console-services-review

API-20524-mpi-error (#10914)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/models/claims_api/veteran.rb
Labels: none

47015 BTSSS Claims api client changes (#10905)
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
Labels: none

Updates claim status and letters endpoint to accommadate TOE (#10913)
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/forms/service/sponsor_service.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  spec/support/vcr_cassettes/dgi/get_toe_claim_status.yml
Labels: console-services-review

46890 Service object for travel claim authentication (#10874)
  config/settings.yml
  modules/check_in/app/services/travel_claim/redis_client.rb
  modules/check_in/app/services/travel_claim/service.rb
  modules/check_in/config/initializers/statsd.rb
  modules/check_in/spec/services/travel_claim/redis_client_spec.rb
  modules/check_in/spec/services/travel_claim/service_spec.rb
Labels: console-services-review

[10907] Refactoring the sign in service user creator for a more sensible code flow (#10918)
  app/controllers/v0/sign_in_controller.rb
  app/controllers/v1/sessions_controller.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/user_creator.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

sets false to enable_in_development (#10920)
  config/features.yml
Labels: console-services-review

Notify Slack and email of all claims eligible to send to MAS (#10916)
  app/mailers/rrd_mas_notification_mailer.rb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  config/features.yml
  config/settings.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

VANotify - Re-enable 1010ez in progress reminder (still behind flag) (#10926)
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
Labels: none

Encrypting the refresh token before setting the access token so that encryption failures will block authentication (#10927)
  app/services/sign_in/token_serializer.rb
Labels: console-services-review

47684 VAMF Partials group labels for Grafana (#10932)
  lib/string_helpers.rb
  spec/lib/string_helpers_spec.rb
Labels: console-services-review

Updated test data to fix mismatch with format of staging/prod data (#10924)
  app/controllers/v0/claim_letters_controller.rb
  lib/claim_letters/claim_letter_downloader.rb
  lib/claim_letters/claim_letter_test_data.rb
Labels: console-services-review

API-19896 - Add status detail/code to appeals updates table (#10935)
  db/migrate/20221017192638_add_code_detail_to_appeals_api_status_updates.rb
  db/schema.rb
Labels: console-services-review

access claiman id frmo claimant response in toe letter action (#10937)
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
Labels: none

Remove unused in progress cadence details (#10933)
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
Labels: none

[47390] Use separate templates for VBA/VHA FSR (#10939)
  config/settings.yml
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

upgrade nokogiri to 1.13.9 (#10946)
  Gemfile.lock
Labels: console-services-review

Remove unused worker - all functionality migrated to InProgressFormReminder (#10940)
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
Labels: none

API-21092 Adds status attribute to evidence_waiver_submission. (#10945)
  db/migrate/20221019134649_add_status_to_evidence_waiver_submission.rb
  db/schema.rb
Labels: console-services-review

Add alternate signer to supp claims (#10898)
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/spec/fixtures/v2/expected_200995_alternate_signer.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_alternate_signer_overflow.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: none

[10948] Querying mpi by icn for mhv users during sign in service auth (#10949)
  app/services/sign_in/attribute_validator.rb
Labels: console-services-review

Remove feature flag wrapper for form age data (#10947)
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
Labels: none

API-19896 - Save detail/code with appeals status updates (#10936)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/status_updated_job.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_appeal_status_updates.rb
Labels: none

Removed eMIS references from profile service history (#10956)
  app/controllers/v0/profile/service_histories_controller.rb
  app/swagger/swagger/requests/profile.rb
  config/features.yml
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/requests/service_history_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

API-21077 - Add V1 controller for appeals status (#10960)
  modules/appeals_api/app/controllers/appeals_api/v1/appeals_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/appeals_request_spec.rb
  modules/appeals_api/spec/requests/v1/appeals_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_appeals_status.rb
Labels: none

Add browser monitoring ff for Patient CheckIn (#10958)
  config/features.yml
Labels: console-services-review

Handle accounts without participant id in Claim Letter Downloader (#10959)
  lib/claim_letters/claim_letter_downloader.rb
Labels: console-services-review

[10928] Adding script to auto_update mpi mockdata records (#10961)
  config/mpi_schema/mpi_find_person_icn_template.xml
  rakelib/mockdata_synchronize.rake
Labels: console-services-review

When creating a direct scheduled appointment include facility timezone offset to the desired date (#10895)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
Labels: vaos, console-services-review

Adds secure-messaging as a valid source app (#10962)
  lib/statsd_middleware.rb
Labels: console-services-review

[10970] Removing extraneous noisy logs around User model and Account Creator model (#10971)
  app/models/user.rb
  app/services/identity/account_creator.rb
  spec/models/user_spec.rb
  spec/services/identity/account_creator_spec.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
