Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

[#MHV-44988] Remove session token values to avoid flagging (#13163)
  spec/support/mr_client_helpers.rb
  spec/support/vcr_cassettes/mr_client/session.yml
Labels: console-services-review

Depreciated Sidekiq Scheduler (#13137)
  Gemfile
  Gemfile.lock
  app/workers/cypress_viewport_updater/README.md
  config/initializers/sidekiq.rb
  config/routes.rb
  config/sidekiq_scheduler.yml
  modules/covid_vaccine/spec/jobs/covid_vaccine/expanded_submission_state_job_spec.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
  spec/jobs/vre/create_ch31_submissions_report_job_spec.rb
Labels: console-services-review

API-27588-bgs-connection-v1-claims-show (#13075)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/app/services/claims_api/unsynchronized_evss_claim_service.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
  modules/claims_api/lib/claims_api/evss_bgs_mapper.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  spec/support/vcr_cassettes/bgs/claims/claim.yml
  spec/support/vcr_cassettes/bgs/claims/claim_with_errors.yml
  spec/support/vcr_cassettes/bgs/claims/claims.yml
  spec/support/vcr_cassettes/bgs/claims/claims_trimmed_down.yml
  spec/support/vcr_cassettes/bgs/claims/claims_with_errors.yml
Labels: console-services-review

60274 mcp worker retry logic (#13149)
  app/workers/copay_notifications/new_statement_notification_job.rb
  lib/debt_management_center/statement_identifier_service.rb
  spec/jobs/copay_notifications/new_statement_notification_job_spec.rb
  spec/lib/debt_management_center/statement_identifier_service_spec.rb
Labels: console-services-review

5932: add UserAccessibleServices model (#13154)
  modules/mobile/app/models/mobile/v0/user_accessible_services.rb
  modules/mobile/spec/models/user_accessible_services_spec.rb
Labels: mobile

60084 log pid comment (#13168)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_with_facility_200_and_log_comm_data.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_facilities_200_and_log_pid_comm.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_and_log_facility.yml
Labels: vaos, console-services-review

60468 handle BTSSS token error (#13085)
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/token/token_500.yml
Labels: console-services-review

61118 Chip module base files (#13158)
  .github/CODEOWNERS
  lib/chip/configuration.rb
  lib/chip/service.rb
  spec/lib/chip/configuration_spec.rb
  spec/lib/chip/service_spec.rb
Labels: console-services-review

API-26763: Add migration for vba_documents_monthly_stats table (#13161)
  db/migrate/20230705144658_create_vba_documents_monthly_stats.rb
  db/schema.rb
Labels: console-services-review

[#990] Add feature flag for VA chatbot voice feature (#13170)
  config/features.yml
Labels: console-services-review

Updates GMT Threshold Query to account for all County variations (#13175)
  modules/income_limits/app/controllers/income_limits/v1/income_limits_controller.rb
  modules/income_limits/spec/requests/v1/limits_by_zip_code_spec.rb
Labels: none

[va-virtual-agent#925] Adding feature toggle for evss and lighthouse claims (#13127)
  config/features.yml
  config/settings.yml
Labels: console-services-review

[58964] Sign in Service "Service Account" Access Token creation (#12951)
  .gitguardian.yaml
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/service_account_config.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/service_account_access_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/service_account_access_token_jwt_decoder.rb
  app/services/sign_in/service_account_access_token_jwt_encoder.rb
  app/services/sign_in/service_account_assertion_validator.rb
  app/services/sign_in/service_account_validator.rb
  config/routes.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/service_account_configs.rb
  spec/fixtures/sign_in/sample_service_account.pem
  spec/fixtures/sign_in/sample_service_account_public.pem
  spec/fixtures/sign_in/sample_service_account_public_2.pem
  spec/models/sign_in/service_account_config_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/service_account_access_token_jwt_decoder_spec.rb
  spec/services/sign_in/service_account_access_token_jwt_encoder_spec.rb
  spec/services/sign_in/service_account_assertion_validator_spec.rb
  spec/services/sign_in/service_account_validator_spec.rb
Labels: console-services-review

5932 authorized services (#13106)
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/controllers/mobile/v1/users_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile

Let exception bubble up (#13147)
  app/controllers/v0/letters_generator_controller.rb
Labels: console-services-review

ignore non-secrets some mr_client spec files (#13182)
  .gitguardian.yaml
Labels: console-services-review

Handle 504 errors in HTML format (#13128)
  lib/lighthouse/direct_deposit/configuration.rb
  lib/lighthouse/direct_deposit/error_parser.rb
  lib/lighthouse/service_exception.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/504_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/504_gateway_timeout.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/504_response.yml
Labels: console-services-review

Simple forms api - pdf layer fix (#13165)
  modules/simple_forms_api/app/services/simple_forms_api/pdf_filler.rb
  modules/simple_forms_api/app/services/simple_forms_api/pdf_stamper.rb
Labels: none

remove gitguardian ignore (#13189)
  .gitguardian.yaml
Labels: console-services-review

Queue Supplemental Claims Form4142 generation and sending (#13153)
  app/controllers/v1/supplemental_claims_controller.rb
  app/workers/decision_review/form4142_submit.rb
  app/workers/decision_review/submit_upload.rb
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/service.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/decision_review_v1/utilities/helpers.rb
  spec/jobs/decision_review/form4142_submit_spec.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
Labels: console-services-review

MBMS-40990 Updated json Schema revision and version (#13179)
  Gemfile.lock
Labels: console-services-review

dbex/59695: abstract call to EVSS PPIU service (#13184)
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/ppiu_direct_deposit/evss_ppiu_provider.rb
  lib/disability_compensation/providers/ppiu_direct_deposit/lighthouse_ppiu_provider.rb
  lib/disability_compensation/providers/ppiu_direct_deposit/ppiu_provider.rb
  lib/disability_compensation/responses/payment_information_response.rb
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/ppiu_direct_deposit/evss_ppiu_provider_spec.rb
  spec/lib/disability_compensation/providers/ppiu_direct_deposit/lighthouse_ppiu_provider_spec.rb
  spec/lib/disability_compensation/providers/ppiu_direct_deposit/ppiu_provider_spec.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/support/disability_compensation_form/shared_examples/ppiu_provider.rb
Labels: console-services-review

Mobile: Map hasAttachments to attachments (#13191)
  modules/mobile/app/serializers/mobile/v1/messages_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/v1/SecureMessageList.yml
  modules/mobile/spec/request/v1/messages_request_spec.rb
Labels: mobile

Add personalization to emails (#13139)
  app/services/acceptable_verified_credential_adoption_service.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

Fixes RSpec 'Shared example group V1 Facility Locator...' warning (#13102)
  spec/requests/v1/apidoc/shared_examples/facility_locator.rb
Labels: console-services-review

5934 use new clinics and providers caches (#13113)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/helpers/mobile/appointments_helper.rb
  modules/mobile/app/services/mobile/v2/appointments/provider_names.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/lib/mobile/v0/vaos_appointments/appointments_helper.rb
  modules/mobile/spec/request/appointments_create_request_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
Labels: mobile

Sa 69426 add meb pundit policy (#13188)
  app/policies/meb_policy.rb
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/spec/requests/meb_api/v0/base_controller_spec.rb
  spec/policies/meb_policy_spec.rb
  spec/support/vcr_cassettes/dgi/claimant_info_loa3.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claimant_info_loa3.yml
Labels: console-services-review

Use access token caching (#13117)
  lib/lighthouse/direct_deposit/configuration.rb
Labels: console-services-review

MHV-45451 Merge results from Labs & Tests API calls; sort and paginate (#13169)
  lib/common/client/concerns/mhv_jwt_session_client.rb
  lib/medical_records/client.rb
  modules/my_health/app/controllers/my_health/v1/labs_and_tests_controller.rb
  modules/my_health/spec/request/v1/conditions_request_spec.rb
  modules/my_health/spec/request/v1/labs_and_tests_request_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_health_condition.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_allergies.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_chemhem_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_clinical_notes.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_diagreport_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_docref_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions_error.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_labs_and_tests.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vaccines.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vitals.yml
  spec/support/vcr_cassettes/mr_client/get_a_single_lab_or_test.yml
  spec/support/vcr_cassettes/mr_client/get_a_vaccine.yml
  spec/support/vcr_cassettes/mr_client/get_full_list_of_labs_and_tests.yml
Labels: console-services-review

add notes/comments
  app/models/emis_redis/military_information.rb
Labels: console-services-review

start migrating methods from eMIS to VaProfile
  app/models/emis_redis/military_information.rb
  lib/hca/military_information.rb
Labels: console-services-review

Enable rubocop-factory_bot. Fix namespaces (#13199)
  .rubocop.yml
  .rubocop_explicit_enables.yml
Labels: console-services-review

Changes errors to warnings in 2 spots (#13176)
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

API-27482 Split appeals PDF generator tests - part 1 (#13112)
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_headers_minimum.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator/generator_hlr_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: none

Add environment to stat report subject line (#13211)
  modules/appeals_api/app/workers/appeals_api/monthly_stats_report.rb
  modules/appeals_api/spec/workers/appeals_api/monthly_stats_report_spec.rb
Labels: none

Mobile: Mobile v1 threads optional parameter (#13208)
  modules/mobile/app/controllers/mobile/v1/messages_controller.rb
  modules/mobile/app/serializers/mobile/v1/messages_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/v1/SecureMessageList.yml
  modules/mobile/spec/request/v1/messages_request_spec.rb
  spec/support/vcr_cassettes/mobile/messages/v1_get_thread.yml
Labels: mobile, console-services-review

fixed bug with ddl board of appeals letters (#13207)
  lib/claim_letters/claim_letter_downloader.rb
  spec/lib/claim_status_tool/claim_letter_downloader_spec.rb
Labels: console-services-review

Add loa3 force to Sign-in Service (#13190)
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  spec/services/sign_in/acr_translator_spec.rb
Labels: console-services-review

Revert "API-27482 Split appeals PDF generator tests - part 1 (#13112)" (#13217)
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_headers_minimum.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator/generator_hlr_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: none

Initial commit of API 16232 526 v2 align required fields for substantial completeness 2 (#13156)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
