Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

exposes X-Request-Id headers for authn error handling on vets-website (#10275)
  config/application.rb
Labels: console-services-review

Delete final event related files (#10271)
  modules/appeals_api/app/models/appeals_api/event_subscription.rb
  modules/appeals_api/app/services/appeals_api/events/handler.rb
  modules/appeals_api/app/workers/appeals_api/events_worker.rb
Labels: none

API-17394 Part 11 Eventing breakup - drop event subscription table (#10281)
  db/schema.rb
  modules/appeals_api/db/migrate/20220720183142_drop_appeals_api_event_subscriptions.rb
Labels: console-services-review

initial create (#10286)
  .github/CODEOWNERS
  rakelib/prod/README.md
  rakelib/prod/backfill_user_account_id_for_in_progress_forms.rake
Labels: console-services-review

Add stats for 1010ez short form (#10284)
  app/controllers/v0/health_care_applications_controller.rb
  app/models/health_care_application.rb
  config/initializers/statsd.rb
  lib/hca/service.rb
  spec/lib/hca/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: console-services-review

API-17473: Add new routes to serve shared appeals schemas (#10235)
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v2/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v2/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v2/supplemental_claims_controller_spec.rb
Labels: none

Update features.yml (#10288)
  config/features.yml
Labels: console-services-review

(chore) remove unused toggles (#10290)
  config/features.yml
Labels: console-services-review

[44472] Use credential data when missing in MPI when authenticating with Sign in Service (#10287)
  app/models/user.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/user_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

[10280] Changing SiS access token cookie expiration to session expiration itself (#10282)
  app/services/sign_in/token_serializer.rb
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

[10207] Update in progress form backfill script to attempt to find ICN from user_verification records (#10291)
  rakelib/backfill_user_account_id_for_in_progress_forms.rake
  rakelib/prod/backfill_user_account_id_for_in_progress_forms.rake
Labels: console-services-review

Revert "Add stats for 1010ez short form" (#10293)
  app/controllers/v0/health_care_applications_controller.rb
  app/models/health_care_application.rb
  config/initializers/statsd.rb
  lib/hca/service.rb
  spec/lib/hca/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: console-services-review

Revert "Revert "Add stats for 1010ez short form" (#10293)" (#10294)
  app/controllers/v0/health_care_applications_controller.rb
  app/models/health_care_application.rb
  config/initializers/statsd.rb
  lib/hca/service.rb
  spec/lib/hca/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: console-services-review

Add client for MAS/APCAS claims handoff (#10265)
  .rubocop_todo.yml
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  config/settings.yml
  lib/mail_automation/client.rb
  lib/mail_automation/configuration.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/mail_automation/client_spec.rb
  spec/lib/mail_automation/integration/client_spec.rb
  spec/support/vcr_cassettes/mail_automation/mas_initiate_apcas_request.yml
  spec/support/vcr_cassettes/mail_automation/mas_initiate_apcas_request_failure.yml
Labels: console-services-review

Mobile: Add toggle for non prod ids for fetching facilities (#10273)
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/templates/va_appointment.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/models/appointment_spec.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_multiple_mfs_facilities_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  spec/factories/iam_users.rb
Labels: mobile, console-services-review

API-17448: Add retrieveFrom validations to supplemental claim model (#10276)
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

Update references to JSON API versions (#10297)
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: none

Update onsite notifications to display in descending order (#10298)
  app/models/onsite_notification.rb
  spec/models/onsite_notification_spec.rb
Labels: console-services-review

[44255] Adds Supplemental Claims to the Decision Review V1 Service (#10283)
  Gemfile.lock
  app/controllers/v1/notice_of_disagreements/contestable_issues_controller.rb
  config/routes.rb
  lib/decision_review_v1/service.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/requests/v1/notice_of_disagreements/contestable_issues_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-404_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-CREATE-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-CREATE-RESPONSE-422_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-CONTESTABLE-ISSUES-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-CONTESTABLE-ISSUES-RESPONSE-404_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-CONTESTABLE-ISSUES-RESPONSE-422_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-UPLOAD-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-UPLOAD-URL-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-UPLOAD-URL-404_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-PUT-UPLOAD-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-SHOW-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-SHOW-RESPONSE-404_V1.yml
Labels: console-services-review

Fixing logic that didn't properly look for loa3 user when attempting to update mpi record in SiS (#10299)
  app/services/sign_in/user_creator.rb
Labels: console-services-review

43411 update specs to include clinic location (#10304)
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_data_serializer_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
  spec/support/vcr_cassettes/check_in/lorota/data/data_200.yml
Labels: console-services-review

Add new placeholder route for medical copay notifications (#10310)
  app/controllers/v0/medical_copays_controller.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  config/routes.rb
  spec/controllers/v0/medical_copays_controller_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

[44675] Adding MPI record ruleset to block authentication if user has certain malformed MPI ids (#10303)
  app/models/mpi_data.rb
  app/models/user.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  lib/mpi/models/mvi_profile_ids.rb
  lib/mpi/responses/profile_parser.rb
  spec/factories/mvi_profile_relationships.rb
  spec/factories/mvi_profiles.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

[44262] Adds V1 Supplemental Claims Controller (#10307)
  Gemfile.lock
  app/controllers/v1/apidocs_controller.rb
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/controllers/v1/supplemental_claims/contestable_issues_controller.rb
  app/controllers/v1/supplemental_claims_controller.rb
  app/models/appeal_submission.rb
  app/swagger/swagger/v1/requests/appeals/appeals.rb
  app/swagger/swagger/v1/schemas/appeals/higher_level_review.rb
  app/swagger/swagger/v1/schemas/appeals/notice_of_disagreement.rb
  app/swagger/swagger/v1/schemas/appeals/supplemental_claims.rb
  config/routes.rb
  lib/decision_review_v1/service.rb
  spec/fixtures/notice_of_disagreements/NOD_contestable_issues_response_200_V1.json
  spec/fixtures/notice_of_disagreements/NOD_show_response_200_V1.json
  spec/fixtures/notice_of_disagreements/valid_NOD_create_request_V1.json
  spec/lib/decision_review_v1/service_spec.rb
  spec/requests/v1/supplemental_claims/contestable_issues_controller_request_spec.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-404_V1.yml
Labels: console-services-review

API-17776 - ClaimsApi - POA PUT enforce "attachment" inclusion (#10318)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: none

API-17389 - ClaimsApi - V2 claims additional attributes (#10292)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/services/bgs_to_lighthouse_claims_mapper_service_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Adds emails for flipper admin support (#10317)
  config/settings.yml
Labels: console-services-review

44216 Error mapping for CHIP 504 (#10311)
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/check_in/check_in_504.yml
  spec/support/vcr_cassettes/check_in/chip/confirm_demographics/confirm_demographics_504.yml
  spec/support/vcr_cassettes/check_in/chip/pre_check_in/pre_check_in_504.yml
Labels: console-services-review

[44737] Adding mobile test client for sign in service that redirects to a different url than the standard mobile interface (#10314)
  app/models/iam_user_identity.rb
  app/services/sign_in/constants/client_config.rb
  app/services/sign_in/login_redirect_url_generator.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/user_identities.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
Labels: console-services-review

update bgs_ext gem (#10323)
  Gemfile.lock
Labels: console-services-review

Make auth and endpoint configurable (#10319)
  config/settings.yml
  lib/mail_automation/client.rb
Labels: console-services-review

Adding prod rakelib directory in rake search (#10322)
  Rakefile
Labels: console-services-review

API-17389 - ClaimsApi - Remove unused "BGSToLighthouseClaimsMapperService" class (#10320)
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/spec/services/bgs_to_lighthouse_claims_mapper_service_spec.rb
Labels: none

Adds CID attribute to POA table. (#10324)
  db/migrate/20220727124515_adds_cid_to_poa_table.rb
  db/schema.rb
Labels: console-services-review

added rx to downtime list (#10326)
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
Labels: mobile

Implemented coverband to expose unused code (#10237)
  Gemfile
  Gemfile.lock
  config/application.rb
  config/coverband.rb
  config/initializers/warden_github.rb
  config/routes.rb
  config/settings.yml
  lib/github_authentication/coverband_reporters_web.rb
  lib/github_authentication/sidekiq_web.rb
  spec/lib/github_authentication/coverband_reporters_web_spec.rb
Labels: console-services-review

API-17673 Fix 500 error on incorrect benefit_type to contestable issues (#10300)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: none

API-18124: Update Benefits Intake report recipients to Team Caracal (#10325)
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: none

Adds method for processing cid in controller and adds tests. (#10328)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/models/power_of_attorney_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: none

fixed settings typo (#10332)
  lib/github_authentication/coverband_reporters_web.rb
Labels: console-services-review
