Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Update appeals mailing list members (#11562)
  config/settings.yml
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
Labels: console-services-review

43195 Merge CC Provider Info Into Appointment Response (#11322)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_JACQUELINE_M_PROPOSED_12082022_backup.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_cc_proposed.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_12082022.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_cc_proposed.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200_with_provider.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_scheduling_configurations_cc_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_200_12082022.yml
Labels: vaos, console-services-review

Revert "Revert "test commit to trigger image build and deploy""
  README.md
Labels: console-services-review

Replace LH appeals_api unmaintained FastJsonapi Serializer with maintained fork JSONAPI::Serializer (#11464)
  Gemfile.lock
  modules/appeals_api/app/serializers/appeals_api/higher_level_review_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreement_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claim_serializer.rb
  modules/appeals_api/appeals_api.gemspec
  modules/appeals_api/lib/appeals_api/engine.rb
Labels: console-services-review

45359 remove EVSS create user account (#11498)
  app/services/login/after_login_actions.rb
  app/workers/evss/create_user_account_job.rb
  config/betamocks/services_config.yml
  lib/evss/common_service.rb
  lib/iam_ssoe_oauth/session_manager.rb
  spec/jobs/evss/create_user_account_job_spec.rb
  spec/lib/evss/common_service_spec.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/support/vcr_cassettes/evss/common/create_user_account.yml
Labels: console-services-review

Revert "Bump rubocop-rspec from 2.16.0 to 2.18.0 (#11580)" (#11582)
  Gemfile.lock
Labels: console-services-review

[11427] Updating specs for attribute validator file to prevent untested MPI interactions (#11467)
  spec/services/sign_in/attribute_validator_spec.rb
Labels: console-services-review

rubocop fix (#11583)
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: vaos

API-22867-Adds encryption to auth headers (#11496)
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/app/workers/claims_api/flash_updater.rb
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
  modules/claims_api/app/workers/claims_api/updater_service.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/workers/flash_updater_spec.rb
  modules/claims_api/spec/workers/special_issue_updater_spec.rb
Labels: none

API-22828-close-date-cst (#11571)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Fix buggy rswag rake tasks (#11590)
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

Api 22829 claim status mapping (#11579)
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/lib/claims_api/bgs_claim_status_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

adds vaweb & vamobile client_ids (#11541)
  app/models/sign_in/client_config.rb
  app/services/sign_in/constants/auth.rb
Labels: console-services-review

[11468] Remove historical icns MPI query (#11471)
  app/models/gi_bill_feedback.rb
  app/models/mpi_data.rb
  app/models/user.rb
  lib/identity/parsers/gc_ids.rb
  lib/mpi/models/mvi_profile_ids.rb
  lib/mpi/responses/profile_parser.rb
  spec/factories/mvi_profiles.rb
  spec/fixtures/gibft/transform_form.json
  spec/lib/identity/parsers/gc_ids_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_spec.rb
  spec/support/mpi/stub_mpi.rb
Labels: console-services-review

[11531] Removing MPI checks for string 'OK' status that was temporarily added for redis compatibility (#11532)
  app/services/users/profile.rb
  lib/va_profile/contact_information/transaction_response.rb
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
Labels: console-services-review

[11306] Migration to drop table notifications (#11489)
  db/migrate/20230106010006_remove_notifications.rb
  db/schema.rb
Labels: console-services-review

[51829] Credential Email Schema (#11559)
  db/migrate/20230112221719_create_user_credential_email.rb
  db/schema.rb
Labels: console-services-review

[51828] Creating schema for UserAcceptableVerifiedCredential table (#11561)
  db/migrate/20230112220807_create_table_user_acceptable_verified_credential.rb
  db/schema.rb
Labels: console-services-review

API-22759: Update Benefits Intake Email Report Recipients (Includes Refactoring) (#11557)
  config/settings.yml
  modules/vba_documents/app/mailers/vba_documents/monthly_report_mailer.rb
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_mailer.rb
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/avg_processing_time.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/final_monthly_results.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/max_avg.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/mode.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/monthly_counts.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/monthly_summary.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/report_recipients.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/rolling_elapsed_times.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/still_processing.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/still_success.yml
  modules/vba_documents/spec/fixtures/reports/unsuccessful_report/report_recipients.yml
  modules/vba_documents/spec/mailers/monthly_report_mailer_spec.rb
  modules/vba_documents/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/vba_documents/spec/workers/report_monthly_submissions_spec.rb
Labels: console-services-review

Create VAOS V2 controller for cc eligibility (#11591)
  modules/vaos/app/controllers/vaos/v2/cc_eligibility_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/serializers/vaos/v2/cc_eligibility_serializer.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/cc_eligibility_request_spec.rb
Labels: vaos

API-22835-5103-default-CST (#11572)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

FIX: added correct path in VAOS API docs for cc eligibility (#11603)
  modules/vaos/app/docs/vaos/v0/vaos.yaml
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
Labels: vaos

[11594] Fixing flaky spec in submit_upload_spec occurring because a sidekiq stats middleware was being removed in certain tests (#11595)
  spec/jobs/decision_review/submit_upload_spec.rb
  spec/lib/sidekiq_stats_instrumentation/server_middleware_spec.rb
Labels: console-services-review

[51829] Credential Email model (#11563)
  app/models/user_credential_email.rb
  app/models/user_verification.rb
  spec/factories/user_credential_emails.rb
  spec/models/user_credential_email_spec.rb
Labels: console-services-review

[51828] User Acceptable Verified Credential model definition (#11564)
  app/models/user_acceptable_verified_credential.rb
  app/models/user_account.rb
  spec/factories/user_acceptable_verified_credentials.rb
  spec/models/user_acceptable_verified_credential_spec.rb
Labels: console-services-review

add address log (#11601)
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
Labels: mobile

Log unexpected statuses in LGY::Service#coe_status. (#11610)
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: console-services-review

[51831] This PR creates a User Credential Email when a user authentic… (#11575)
  app/services/login/after_login_actions.rb
  app/services/login/user_credential_email_updater.rb
  app/services/sign_in/user_creator.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/login/user_credential_email_updater_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

(chore) remove toggle (#11589)
  config/features.yml
Labels: console-services-review

4408 filter list collection (#11613)
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

API-23042 Allow benefits intake uploads with owner passwords (#11606)
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_error_details.md
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/postman_tests/Automated Benefits Intake API.postman_collection.json
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
Labels: none

Remove rubocop Memoized Helpers rule (#11552)
  .rubocop.yml
  .rubocop_todo.yml
Labels: console-services-review

API-21503: Capture Original File Checksum for VBADocuments Submissions (#11592)
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_file.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/lib/vba_documents/payload_manager.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/fixtures/base_64
  modules/vba_documents/spec/fixtures/base_64_with_attachment
  modules/vba_documents/spec/fixtures/valid_multipart_pdf.blob
  modules/vba_documents/spec/fixtures/valid_multipart_pdf_attachments.blob
  modules/vba_documents/spec/fixtures/valid_multipart_pdf_attachments_invalid_metadata.blob
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

API-22731: Enable Appeals API /legacy_appeals path (#11611)
  config/settings.yml
Labels: console-services-review

Methods to support scripts to add paper 526 submissions to S3 (only used manually, not used in any automated process yet) (#11588)
  config/settings.yml
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

Sidekiq 526 submission from 15 retries to 14 (#11600)
  app/workers/evss/disability_compensation_form/submit_form526.rb
Labels: console-services-review

[11617] Removing User model SSN and Gender format validations (#11618)
  app/models/user.rb
  app/services/identity/account_creator.rb
  spec/services/identity/account_creator_spec.rb
Labels: console-services-review

Remove data_source field from service_history response. (#11602)
  app/controllers/v0/profile/service_histories_controller.rb
  app/serializers/service_history_serializer.rb
  app/swagger/swagger/requests/profile.rb
  spec/support/schemas/service_history_response.json
  spec/support/schemas_camelized/service_history_response.json
Labels: console-services-review

[51832] Creating user acceptable verified credential objects when a user authenticates (#11584)
  app/services/login/after_login_actions.rb
  app/services/login/user_acceptable_verified_credential_updater.rb
  app/services/sign_in/user_creator.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

Create routes:csv rake task (#11620)
  rakelib/routes_csv.rake
Labels: console-services-review
