Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Fix loan parameters sent to LGY. (#11439)
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

Transform Marine Corps and Marine Corps Reserves to Marines. (#11438)
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

50746 Deprecate CHIP 500 error map feature flag (#11413) (#11437)
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

Change V1 appeals status healthchecks to fit API standards (#11441)
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
Labels: none

50750 Deprecate Lorota delete feature flag (#11430)
  config/features.yml
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: console-services-review

Appeals docs regeneration (#11429)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

50747 remove feature flag for synthetic metric name (#11414)
  config/features.yml
  modules/check_in/config/initializers/statsd.rb
Labels: console-services-review

changes inherited_proofing access_token auth to prevent method name collisions (#11436)
  app/controllers/inherited_proofing_controller.rb
Labels: console-services-review

Reverted clamd.conf permissions
  config/clamd.conf
Labels: console-services-review

update claim_status route in forms_controller (#11452)
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
Labels: none

Update helm101 prod metrics
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.7.8.tgz
Labels: console-services-review

Update code_checks.yml (#11454)
  .github/workflows/code_checks.yml
Labels: console-services-review

Removed comment
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.7.9.tgz
Labels: console-services-review

Add sanitized branchname to pe deploy workflow (#11428)
  .github/workflows/preview_environment_deployment.yml
  script/github-actions/pe-deploy-source.js
Labels: console-services-review

Add lighthouse-banana-peels team to pertinent spots (#11447)
  .github/CODEOWNERS
Labels: console-services-review

[11349] Refactor mpi service update_profile (#11391)
  app/models/mpi_data.rb
  app/services/sign_in/attribute_validator.rb
  lib/mpi/service.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

CST DLD: Added ClaimLetter-YYYY-MM-D.pdf format filename and changed … (#11368)
  lib/claim_letters/claim_letter_downloader.rb
  spec/controllers/v0/claim_letters_controller_spec.rb
Labels: console-services-review

526 backup path uploads to pdf (#11449)
  lib/form526_backup_submission/service.rb
  lib/form526_backup_submission/utilities/convert_to_pdf.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/factories/form526_submissions.rb
  spec/fixtures/files/buddy_statement.txt
  spec/fixtures/files/doctors-note-actual-jpg.jpg
  spec/fixtures/files/doctors-note.bmp
  spec/fixtures/files/doctors-note.png
  spec/lib/form526_backup_submission/utilities/convert_to_pdf_spec.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/support/disability_compensation_form/submissions/with_non_pdf_uploads.json
Labels: console-services-review

Adding icn variable to fix MPI update profile error (#11458)
  app/services/sign_in/attribute_validator.rb
Labels: console-services-review

Bump rubocop-rails to v2.17.4 (#11455)
  Gemfile.lock
  lib/saml/responses/login.rb
  lib/sm/client.rb
Labels: console-services-review

adds inherited_proofing to CODEOWNERS under vsp-identity (#11423)
  .github/CODEOWNERS
Labels: console-services-review

Fixes for appeals stats report (#11456)
  config/settings.yml
  modules/appeals_api/app/mailers/appeals_api/stats_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/monthly_stats_report.rb
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
  modules/appeals_api/spec/workers/appeals_api/monthly_stats_report_spec.rb
Labels: console-services-review

removes status in response (#11459)
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
Labels: none

Add Kyle Soskin to production daily report email (#11457)
  modules/appeals_api/config/mailinglists/report_daily.yml
Labels: none

Vfep 56 final - remove employment from spool files form 5490 (#11446)
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.spl
Labels: console-services-review

Encrypt form arguments in HCA submission jobs (#11416)
  app/models/health_care_application.rb
  app/workers/hca/anon_encrypted_submission_job.rb
  app/workers/hca/base_encrypted_submission_job.rb
  app/workers/hca/encrypted_submission_job.rb
  spec/jobs/hca/anon_encrypted_submission_job_spec.rb
  spec/jobs/hca/encrypted_submission_job_spec.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

50749 remove specs related to ssn (#11443)
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: none

4409 filter validation (#11466)
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

adds logging around service build (#11470)
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: none

API 21584 Add get ITF by type endpoint (#11411)
  modules/claims_api/app/controllers/claims_api/v2/blueprints/intent_to_file_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/models/claims_api/v2/intent_to_file.rb
  modules/claims_api/config/initializers/blueprinter.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/intent_to_file/intent_to_file.json
Labels: console-services-review

Api 22541 update 5103 description (#11412)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/support/rswag_config.rb
Labels: none

Inherited Proofing Audit Data Validations (#11421)
  app/controllers/inherited_proofing_controller.rb
  app/models/inherited_proofing/audit_data.rb
  config/redis.yml
  lib/inherited_proofing/errors.rb
  lib/inherited_proofing/mhv/inherited_proofing_verifier.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/factories/inherited_proofing/audit_data.rb
  spec/models/inherited_proofing/audit_data_spec.rb
Labels: console-services-review

Adding forms documentation (#11482)
  docs/setup/va_forms.md
Labels: console-services-review

removes redundant identity_proofed? method (#11479)
  app/models/user.rb
  app/services/users/services.rb
Labels: console-services-review

Refactor rake tasks for Appeals docs (#11469)
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/api_description.md
  modules/appeals_api/app/swagger/decision_reviews/v2/api_description_dev.md
  modules/appeals_api/app/swagger/decision_reviews/v2/put_description.md
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

Revert "Bump mail from 2.7.1 to 2.8.0 (#11396)" (#11484)
  Gemfile.lock
  spec/lib/preneeds/service_spec.rb
Labels: console-services-review

51340 remove ssn4 code (#11485)
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/models/check_in/v2/session.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: none

Remove PACT Broker Support (#11493)
  .github/workflows/pact.yml
  Gemfile
  Gemfile.lock
  Makefile
  Rakefile
  lib/commands/pact/pact_command.rb
  lib/generators/provider_state/USAGE
  lib/generators/provider_state/provider_state_generator.rb
  lib/generators/provider_state/templates/provider_states.rb.erb
  spec/lib/generators/provider_state/provider_state_generator_spec.rb
  spec/lib/pact/command/pact_command_spec.rb
  spec/service_consumers/pact_helper.rb
  spec/service_consumers/provider_states_for/contact_us.rb
  spec/service_consumers/provider_states_for/coronavirus_vaccination.rb
  spec/service_consumers/provider_states_for/facilities.rb
  spec/service_consumers/provider_states_for/hca.rb
  spec/service_consumers/provider_states_for/search.rb
  spec/service_consumers/provider_states_for/secure_messages.rb
  spec/service_consumers/provider_states_for/users.rb
  spec/service_consumers/provider_states_for/va_profile.rb
  spec/support/authenticated_session_helper.rb
  spec/support/stub_session.rb
  spec/support/vcr.rb
Labels: console-services-review

Ignore CVE-2022-46648 (#11508)
  .github/workflows/code_checks.yml
Labels: console-services-review

update prod oas (#11507)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
Labels: none
