Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Master -> main branch name change in vets-website (#40469) (#9788)
  app/workers/cypress_viewport_updater/github_service.rb
  modules/check_in/README.md
  spec/support/vcr_cassettes/cypress_viewport_updater/github_get_cypress_json_file.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_get_viewport_preset_js_file.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_get_content.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_get_content_file_1.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_get_content_file_2.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_update_content_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_update_content_get_content.yml
Labels: console-services-review

[9818] Adding credential information to OAuthSession object that doesn't necessarily come from MPI (#9876)
  app/controllers/sign_in_controller.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/o_auth_session.rb
  app/models/sign_in/validated_credential.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/models/sign_in/validated_credential_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

3142 update user serializer to return nil for fax (#9882)
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

API-16015 - ClaimsApi - Doc updates for date validations (#9869)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: none

API-16045 Fixup SC NVC Pt 3 (#9879)
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

appointment request doc updates (#9875)
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentKind.yml
  modules/mobile/docs/schemas/AppointmentStatus.yml
  modules/mobile/docs/schemas/ContactPoint.yml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/docs/schemas/PatientContact.yml
  modules/mobile/docs/schemas/Period.yml
  modules/mobile/docs/schemas/PreferredLocation.yml
  modules/mobile/docs/schemas/ReasonCode.yml
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/docs/schemas/User.yml
  modules/mobile/docs/schemas/v1/User.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

Update swagger values/config for claims v1 and v2 (#9852)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/veteran_identifier/example.json
  modules/claims_api/spec/support/rswag_config.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
Labels: none

[9884] Adding proper parsed attributes for dslogon and mhv sign in service (#9885)
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  spec/controllers/sign_in_controller_spec.rb
Labels: console-services-review

corrects degree typo (#9878)
  Gemfile.lock
  app/swagger/swagger/schemas/form526/form8940.rb
  spec/support/disability_compensation_form/526_in_progress_form_maixmal.json
  spec/support/disability_compensation_form/bdd_large_fe_submission.json
Labels: console-services-review

2968 Prescription controller (#9843)
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/docs/schemas/Prescriptions.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_a_list_of_all_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/handles_failed_stations.yml
  spec/factories/iam_users.rb
Labels: mobile, console-services-review

[9891] Adding migration to set user_verifications on OAuthSession to null: false (#9892)
  db/migrate/20220518234857_change_oauth_sessions_user_verification_null_false.rb
  db/schema.rb
Labels: console-services-review

API-16166 - ClaimsApi - Fix "burial" ITF validation (#9890)
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: none

Removing jquery in flipper erb that is not being used (#9897)
  lib/flipper/views/layout.erb
Labels: console-services-review

API-16009 Fix adding duplicate NOD & SC StatusUpdate records (#9865)
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

Update va210781.rb (#9886)
  lib/pdf_fill/forms/va210781.rb
Labels: console-services-review

API-16045 Fixup SC NVC Pt 4 (#9883)
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/lib/appeals_api/sc_pdf_submit_wrapper.rb
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

add service type enum to docs (#9899)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
Labels: mobile

PR updates (#9902)
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

add service type enum to docs (#9905)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
Labels: mobile

40758 military info vaprofile (#9906)
  config/settings.yml
  lib/va_profile/military_personnel/configuration.rb
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/military_personnel/service_history_response.rb
  lib/va_profile/models/service_history.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_histories_200.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_200.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_400.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_403.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_404.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_500.yml
Labels: console-services-review

API-15422: Remove validation check of EDIPI for MPI add calls (#9772)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: none

41611 Update betamocks config to add response delay (#9908)
  config/betamocks/services_config.yml
Labels: console-services-review

DHP-154 Add migrations and schema for connected devices (#9835)
  db/migrate/20220426212418_create_device.rb
  db/migrate/20220427215503_create_veteran_device_record.rb
  db/schema.rb
Labels: console-services-review

DHP 154 View My Devices (#9881)
  .gitignore
  config/settings.yml
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/veteran_device_records_controller.rb
  modules/dhp_connected_devices/app/docs/dhp_connected_devices.yaml
  modules/dhp_connected_devices/app/models/device.rb
  modules/dhp_connected_devices/app/models/veteran_device_record.rb
  modules/dhp_connected_devices/app/serializers/device_serializer.rb
  modules/dhp_connected_devices/app/serializers/veteran_device_record_serializer.rb
  modules/dhp_connected_devices/app/services/veteran_device_records_service.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/apidocs_controller_spec.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/veteran_device_record_controller_spec.rb
  modules/dhp_connected_devices/spec/factories/devices.rb
  modules/dhp_connected_devices/spec/factories/veteran_device_records.rb
  modules/dhp_connected_devices/spec/models/device_spec.rb
  modules/dhp_connected_devices/spec/models/veteran_device_record_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/veteran_device_records_service_spec.rb
Labels: console-services-review

update prescription docs (#9919)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
Labels: mobile

API-16103: Update claims error when veteran has participant_id but no BIRLS id (#9916)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: none

[9918] Versioning the sign in service controller routes (#9914)
  .github/CODEOWNERS
  app/controllers/sign_in_controller.rb
  app/controllers/v0/sign_in_controller.rb
  config/initializers/statsd.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: console-services-review

(feature) added new toggle (#9917)
  config/features.yml
Labels: console-services-review

DHP-154 Create fitbit device record in the devices table via Rake task (#9922)
  modules/dhp_connected_devices/lib/dhp_connected_devices/data_migrations/create_devices.rb
  rakelib/dhp_connected_devices_create_devices.rake
Labels: console-services-review

Dhp 228 disconnect device (#9921)
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/docs/dhp_connected_devices.yaml
  modules/dhp_connected_devices/app/services/veteran_device_records_service.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/veteran_device_records_service_spec.rb
Labels: none

[9893] Adding Sign In Service Application controller with concerns that can be mixed into other clients of sign in service (#9907)
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/concerns/sign_in/instrumentation.rb
  app/controllers/sign_in/application_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/errors.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
Labels: console-services-review

API-13124 - update monthly_report to remove bottom two sections. (#9929)
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/monthly_report.html.erb
Labels: none

Mobile update rx prescription (#9924)
  app/models/prescription.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_a_list_of_all_prescriptions.yml
Labels: mobile, console-services-review

40758 military info vaprofile (#9926)
  app/controllers/v0/profile/service_histories_controller.rb
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/military_personnel/service_history_response.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/requests/service_history_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

Send notification for specific MAS-related disabilities (#9909)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  config/settings.yml
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

API-16045 Fixup SC NVC pt 5 (#9888)
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields_spec.rb
Labels: none

[9895] Adding ability to query MPI by idme or logingov identifier (#9927)
  lib/hca/user_attributes.rb
  lib/mpi/constants.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/find_profile_message_identifier.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/find_profile_message_identifier_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

updated vaos v2 systems_service get_available_slots to handle no slots found (#9933)
  modules/vaos/app/services/vaos/v2/systems_service.rb
Labels: vaos

Update feature toggle demographics (#9936)
  app/controllers/v0/profile/gender_identities_controller.rb
  app/controllers/v0/profile/personal_informations_controller.rb
  app/controllers/v0/profile/preferred_names_controller.rb
Labels: console-services-review

Add Issued At and Expiration checks to JWT token (#9915)
  app/controllers/v0/onsite_notifications_controller.rb
  app/swagger/swagger/requests/onsite_notifications.rb
  config/settings.yml
  spec/controllers/v0/onsite_notifications_controller_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review
