Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Updated Coverband's Redis url (#10334)
  config/coverband.rb
Labels: console-services-review

Enable Faraday logging (#10329)
  lib/mail_automation/configuration.rb
Labels: console-services-review

[API-17701] - ClaimsApi - remove "/benefits" routing (#10295)
  config/routes.rb
  modules/claims_api/app/controllers/claims_api/metadata_controller.rb
  modules/claims_api/app/swagger/claims_api/description/v0.md
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
Labels: console-services-review

API-17672: VBADocuments::UploadProcessor: Fix 'undefined method `gsub'' Error (#10321)
  lib/central_mail/utilities.rb
Labels: console-services-review

API-17475: Enable claimant details for SCv2 (#10309)
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: console-services-review

API-17675 Use json schema date validator (#10327)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/config/schemas/shared/v1/date.json
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/contestable_issues_headers.json
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
  spec/fixtures/json/detailed_schema_errors_schema.json
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: console-services-review

[44619] Make Sign in Service user_uuid equal to csp_uuid for now, to prevent thrash with SiS release (#10335)
  app/controllers/v0/sign_in_controller.rb
  app/models/user_verification.rb
  app/services/sign_in/revoke_sessions_for_user.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_verification_spec.rb
  spec/services/sign_in/revoke_sessions_for_user_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

Allow PaymentHistory to be enabled/disabled manually (#10344)
  app/models/adapters/payment_history_adapter.rb
  config/features.yml
  spec/controllers/v0/profile/payment_history_controller_spec.rb
Labels: console-services-review

44941 Generate Debts API Engine (#10338)
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/debts_api/Gemfile
  modules/debts_api/README.rdoc
  modules/debts_api/Rakefile
  modules/debts_api/bin/rails
  modules/debts_api/config/routes.rb
  modules/debts_api/debts_api.gemspec
  modules/debts_api/lib/debts_api.rb
  modules/debts_api/lib/debts_api/engine.rb
  modules/debts_api/lib/debts_api/version.rb
  modules/debts_api/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

Add TechDocs Index and Sidekiq Dev Environment of IET (#10345)
  catalog-info.yaml
  docs/index.md
Labels: console-services-review

Allow for selected debts and copays properties in controller (#10342)
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
Labels: console-services-review

add email for flipper admin access. (#10350)
  config/settings.yml
Labels: console-services-review

Expand flipper check for payment history (#10351)
  app/models/adapters/payment_history_adapter.rb
Labels: console-services-review

xit failing spec (#10353)
  spec/models/user_spec.rb
Labels: console-services-review

Adding domain to properly delete info cookie on sign in service logout (#10352)
  app/controllers/v0/sign_in_controller.rb
Labels: console-services-review

Fixing spec that was set to pending because of other test pollution (#10354)
  modules/mobile/spec/request/facilities_info_request_spec.rb
  spec/models/user_spec.rb
Labels: mobile, console-services-review

add aj ana erica to the flipper (#10339)
  config/settings.yml
Labels: console-services-review

API-17807: Fully remove vba_documents V0 /docs endpoint (#10357)
  modules/vba_documents/config/routes.rb
  modules/vba_documents/vba_documents.gemspec
Labels: none

change name of feature flag (#10347)
  config/features.yml
Labels: console-services-review

This is already the index file for TechDocs. (#10356)
  mkdocs.yaml
Labels: console-services-review

SiS pre_login_error handling (#10231)
  app/controllers/v0/sign_in_controller.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

[43709] Certificate of Eligibility: Document Downloads (#10359)
  app/controllers/v0/coe_controller.rb
  config/routes.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
  spec/support/vcr_cassettes/lgy/document_download.yml
  spec/support/vcr_cassettes/lgy/document_download_not_found.yml
Labels: console-services-review

Remove unused caregiver feature flags (#10333)
  config/features.yml
Labels: console-services-review

API-17776 - ClaimsApi - Fix "VbmsUpdater" logging (#10358)
  modules/claims_api/app/workers/claims_api/vbms_updater.rb
Labels: none

(chore) updated my email (#10361)
  config/settings.yml
Labels: console-services-review

Allthesignals/mas integration env 2 (#10368)
  lib/mail_automation/client.rb
  lib/mail_automation/configuration.rb
  spec/lib/mail_automation/client_spec.rb
  spec/lib/mail_automation/integration/client_spec.rb
Labels: console-services-review

Delete stale branches workflow (#10243)
  .github/workflows/delete_stale_branches.yml
Labels: console-services-review

added feature flag (#10370)
  config/features.yml
Labels: console-services-review

Cast claimDate as DateTime object (#10364)
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: none

Add New ToE (1990E) App (#10308)
  app/models/form_profile.rb
  app/models/form_profiles/va_1990emeb.rb
Labels: console-services-review

1095 b text form (#10285)
  app/controllers/v0/form1095_bs_controller.rb
  app/models/form1095_b.rb
  config/routes.rb
  lib/form1095_b/templates/pdfs/1095b-2021.pdf
  lib/form1095_b/templates/txts/1095b-2021.txt
  lib/pdf_fill/forms/pdfs/f1095bs/1095b-2021.pdf
  spec/models/form1095_b_spec.rb
  spec/requests/form1095_b_spec.rb
Labels: console-services-review

[10264] Adding ability to auto-uplevel MHV premium accounts (#10355)
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

Medicare claim number (#10336)
  Gemfile.lock
  lib/hca/enrollment_system.rb
  spec/fixtures/hca/medicare_claim_num.json
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/medicare_claim_num.yml
Labels: console-services-review

forms controller/services/configuration (#10369)
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/forms/configuration/configuration.rb
  modules/meb_api/lib/dgi/forms/configuration/letter_configuration.rb
  modules/meb_api/lib/dgi/forms/response/claimant_info_response.rb
  modules/meb_api/lib/dgi/forms/response/sponsor_response.rb
  modules/meb_api/lib/dgi/forms/service/claimant_info_service.rb
  modules/meb_api/lib/dgi/forms/service/letter_service.rb
  modules/meb_api/lib/dgi/forms/service/sponsor_service.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/claimant_info_spec.rb
  modules/meb_api/spec/dgi/forms/service/sponsor_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  spec/support/vcr_cassettes/dgi/forms/claimant_info.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_status.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_fry_dea.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_toes.yml
Labels: console-services-review

Add User to Flipper Admins (#10377)
  config/settings.yml
Labels: console-services-review

add links to grafana and sentry (#10349)
  catalog-info.yaml
Labels: console-services-review

Fix delete_prefix errors that throw every 15 mins (#10383)
  modules/covid_vaccine/app/services/covid_vaccine/v0/expanded_registration_service.rb
Labels: none

Bypass sorting when no episodes (#10380)
  lib/va_profile/military_personnel/service_history_response.rb
  spec/requests/service_history_request_spec.rb
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_200_empty.yml
Labels: console-services-review

Fixing BGS job salvage save error (#10382)
  app/workers/bgs/job.rb
  spec/jobs/bgs/job_spec.rb
Labels: console-services-review

Add onsite-notification template ID (#10387)
  config/settings.yml
  spec/models/onsite_notification_spec.rb
Labels: console-services-review
