Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Add context for when error happens (#9997)
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
Labels: none

[41765] restores inbound custom force_authn = false (#10001)
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

API-16564 Update birth date to indicate veteran vs claimant (#9998)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
  spec/controllers/v0/onsite_notifications_controller_spec.rb
Labels: console-services-review

API-16567 Claimant type handling Pt 1 (#10003)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/fixtures/v2/valid_200995_minimum.json
Labels: none

API-16629 - ClaimsApi - Add developer hub config file (#10007)
  modules/claims_api/catalog-info.yaml
Labels: none

(feature) added new toggle for BAI (#10012)
  config/features.yml
Labels: console-services-review

API-16573: Update claim submission source property for lighthouse claims (#10006)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: none

remove pagination from apps list (#10013)
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
Labels: none

add feature toggle for spanish translation disclaimer (#10016)
  config/features.yml
Labels: console-services-review

Log response body to sentry when a mulesoft api error occurs (#9994)
  lib/carma/client/mule_soft_client.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
Labels: console-services-review

API-16567 Claimant type model validation (#10004)
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

API-16423: Update validations for POA submission requests (#9999)
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: none

Set BAI to false on adds and updates (#10014)
  lib/va_profile/models/address.rb
  spec/lib/va_profile/models/address_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/delete_address_success.yml
  spec/support/vcr_cassettes/va_profile/contact_information/put_address_override.yml
Labels: console-services-review

[#000] Adding permissions for flipping FFs (#10015)
  config/settings.yml
Labels: console-services-review

2995 API Integration Test Collection (#10019)
  modules/mobile/docs/MobileAPI Integration Test Collection.postman_collection.json
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

Adds fwdproxy certificate to k8s build (#9984)
  .gitignore
  Dockerfile
  config/ca-trust/README.md
  config/ca-trust/fwdproxy.crt
Labels: console-services-review

[10011] Adding client ids to OAuthSession (#10020)
  db/migrate/20220608131919_add_client_id_oauth_sessions.rb
  db/schema.rb
Labels: console-services-review

[9988] Creating capability for a web client for sign-in service authorize and callback endpoints (#10009)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/user_code_map.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/user_creator.rb
  config/initializers/statsd.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/user_code_map_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/logger_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

Add check in experience telephone appointment feature toggle (#10027)
  config/features.yml
Labels: console-services-review

HLR v2 zip code5 schema cleanup (#10030)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200996.json
Labels: none

API-16565 Update SC documentation (#10025)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/v2/valid_200995_minimum.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/schemas/sc_validate.json
Labels: none

removes type parameter from being filtere (#10028)
  config/initializers/filter_parameter_logging.rb
Labels: console-services-review

[10011] Adding complete web interface that allows authentication and use of introspect authenticated endpoint (#10021)
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/sign_in/application_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/o_auth_session.rb
  app/models/sign_in/session_container.rb
  app/models/sign_in/validated_credential.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/client_config.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/token_serializer.rb
  config/settings.yml
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/session_containers.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/models/sign_in/session_container_spec.rb
  spec/models/sign_in/validated_credential_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/token_serializer_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

Update VAOS v2 swagger file, appointment reason code (#10026)
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
Labels: vaos

[10011] Migration to make client_id on oauth_session not nullable (#10024)
  db/migrate/20220609131439_change_oauth_sessions_client_id_null_false.rb
  db/schema.rb
Labels: console-services-review

exhausted email notification (#9957)
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/form526_submission_failed_email_job.rb
  config/features.yml
Labels: console-services-review

Disable 1010ez in progress reminders (#10032)
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
Labels: none

Fix HCA::LogEmailDiffJob nil user error (#10031)
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/workers/hca/log_email_diff_job.rb
  spec/jobs/hca/log_email_diff_job_spec.rb
  spec/requests/in_progress_forms_request_spec.rb
Labels: console-services-review

adjusted rate limit from 3 to 8 (#9996)
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: console-services-review

[42523] makes verify routes force_authn = false (#10017)
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

API-16596 - ClaimsApi - Remove 526 BDD detection logic (#10018)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: none

Api 16002 nod namespace routes (#10037)
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: none

Remove authentication helper method from specs (#10029)
  spec/controllers/v0/onsite_notifications_controller_spec.rb
Labels: console-services-review

Raise when template id is not found (#10036)
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: none

40652 Adding load test host ip to rack_attack safelist to skip throttling (#10035)
  config/initializers/rack_attack.rb
Labels: console-services-review

[42765] StatsD Tracking for Unified Sign-in Attempts and Callbacks (#10043)
  config/initializers/statsd.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
Labels: console-services-review

41653 Add generation for 5655 PDF form (#10041)
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/5655.pdf
  lib/pdf_fill/forms/va5655.rb
  spec/fixtures/pdf_fill/5655/kitchen_sink.json
  spec/fixtures/pdf_fill/5655/kitchen_sink.pdf
  spec/fixtures/pdf_fill/5655/overflow.json
  spec/fixtures/pdf_fill/5655/overflow.pdf
  spec/fixtures/pdf_fill/5655/overflow_extras.pdf
  spec/fixtures/pdf_fill/5655/simple.json
  spec/fixtures/pdf_fill/5655/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: console-services-review

API-16001 hlr namespaced routes (#10040)
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: none

40393 Deprecating check_in_experience_refresh_pre_checkin feature flag (#10050)
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

[10034] Adding SignIn Service authentication for arbitrary routes (#10044)
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/concerns/instrumentation.rb
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v1/sessions_controller.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/token_serializer.rb
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review
