Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

retry hpa
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.8.tgz
Labels: console-services-review

update hpa query
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.9.tgz
Labels: console-services-review

revert external hpa
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.10.10.tgz
Labels: console-services-review

update hpa
  chart/Chart.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.10.11.tgz
Labels: console-services-review

make query value
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.12.tgz
Labels: console-services-review

update virus scan spec
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
Labels: console-services-review

Bumped rollup time
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.13.tgz
Labels: console-services-review

add web metric query
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.10.14.tgz
Labels: console-services-review

add web metric query
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/vets-api-0.10.15.tgz
Labels: console-services-review

index chart
  docs/index.yaml
Labels: console-services-review

bump brakeman to 5.4.1 (#11860)
  Gemfile.lock
Labels: console-services-review

VA-11863: Remove shift_vets_banner flipper (#11773)
  config/features.yml
Labels: console-services-review

VA-11864: Remove VA global downtime notification flipper (#11770)
  config/features.yml
Labels: console-services-review

VA-11862: Remove mega menu mobile V2 flipper (#11769)
  config/features.yml
Labels: console-services-review

Remove VAOS feature toggle (#11859)
  config/features.yml
Labels: console-services-review

Api 24395 move first bgs endpoint (#11851)
  config/initializers/bgs.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/bgs_service/base.rb
  modules/claims_api/lib/claims_api/bgs_service/bgs.rb
  modules/claims_api/lib/claims_api/bgs_service/errors.rb
  modules/claims_api/lib/claims_api/bgs_service/services.rb
  modules/claims_api/lib/claims_api/bgs_service/services/benefit_claims.rb
  modules/claims_api/lib/claims_api/bgs_service/services/intent_to_file.rb
  modules/claims_api/lib/claims_api/bgs_service/services/person.rb
  modules/claims_api/lib/claims_api/bgs_service/string_utils.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
Labels: console-services-review

Mhv 39021 thread details api new (#11629)
  app/models/message_thread_details.rb
  lib/sm/client.rb
  lib/sm/middleware/response/sm_parser.rb
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/app/serializers/my_health/v1/message_details_serializer.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageListInThread.yml
  modules/my_health/docs/schemas/SecureMessageSummaryInThread.yml
  modules/my_health/spec/request/v1/messages_request_spec.rb
Labels: console-services-review

Increment StatsD when a uavc is added (#11854)
  app/services/login/user_acceptable_verified_credential_updater.rb
  app/services/login/user_acceptable_verified_credential_updater_logger.rb
  spec/services/login/user_acceptable_verified_credential_updater_logger_spec.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
Labels: console-services-review

[53905] Creating engine framework for mocked_authentication (#11852)
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/mocked_authentication/Gemfile
  modules/mocked_authentication/README.md
  modules/mocked_authentication/Rakefile
  modules/mocked_authentication/app/controllers/mocked_authentication/application_controller.rb
  modules/mocked_authentication/app/helpers/mocked_authentication/application_helper.rb
  modules/mocked_authentication/app/helpers/mocked_authentication/routing.rb
  modules/mocked_authentication/app/helpers/mocked_authentication/url_helper.rb
  modules/mocked_authentication/bin/rails
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/mocked_authentication.rb
  modules/mocked_authentication/lib/mocked_authentication/engine.rb
  modules/mocked_authentication/lib/mocked_authentication/version.rb
  modules/mocked_authentication/mocked_authentication.gemspec
  modules/mocked_authentication/spec/mocked_authentication_spec.rb
Labels: console-services-review

skip pundit authorization error from sentry (#11865)
  app/controllers/concerns/exception_handling.rb
  spec/controllers/application_controller_spec.rb
Labels: console-services-review

Update hpa queries (#11873)
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.16.tgz
Labels: console-services-review

add feature toggle, fix toggle description (#11847)
  config/features.yml
Labels: console-services-review

Use GitHub Actions Cloud Runners (#11872)
  .github/workflows/code_checks.yml
  Gemfile.lock
Labels: console-services-review

Fix host header (#11882)
  modules/claims_api/lib/bgs_service/local_bgs.rb
Labels: none

API-22837-update-claimId-docs (#11819)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

Api 24399 update http error response (#11840)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

API-23078: Remove Contestable Issues ICN feature flag and update prod docs (#11868)
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: console-services-review

Fix load order for CI (GHA) (#11884)
  .github/workflows/code_checks.yml
Labels: console-services-review

RuboCop: Auto correct Lint/LastKeywordArgument (#11546) (#11870)
  app/controllers/v0/folders_controller.rb
  app/controllers/v0/messages_controller.rb
  app/controllers/v0/prescriptions_controller.rb
  app/controllers/v0/trackings_controller.rb
  app/models/form1095_b.rb
  app/services/form_durations/worker.rb
  app/services/mhv_account_type_service.rb
  lib/bb/client.rb
  lib/bgs/service.rb
  lib/common/exceptions/base_error.rb
  lib/common/models/collection.rb
  lib/emis/service.rb
  lib/lighthouse/veterans_health/client.rb
  lib/preneeds/service.rb
  lib/rx/client.rb
  lib/sm/client.rb
  spec/jobs/webhooks/callback_url_job_spec.rb
  spec/lib/central_mail/datestamp_pdf_spec.rb
  spec/lib/common/models/collection_spec.rb
  spec/models/webhooks/utilities_spec.rb
  spec/services/form1010cg/auditor_spec.rb
Labels: console-services-review

MyVA - removed Drupal feature toggle for (#11836)
  config/features.yml
Labels: console-services-review

API-24296: Remove Legacy Appeals ICN feature flag and update prod docs (#11843)
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
Labels: console-services-review

bump bgs_ext gem (#11886)
  Gemfile.lock
Labels: console-services-review

GHA: Resolve some deprecation warnings (#11885)
  .github/workflows/code_checks.yml
Labels: console-services-review

4700: handle nil filters (#11874)
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

Remove BigQuery from TUD (#11887)
  .github/workflows/code_checks.yml
  Gemfile
  Gemfile.lock
  app/workers/test_user_dashboard/mirror_account_availability_logs_in_big_query.rb
  app/workers/test_user_dashboard/mirror_accounts_in_big_query.rb
  app/workers/test_user_dashboard/track_account_statuses_in_big_query.rb
  config/initializers/test_user_dashboard.rb
  config/sidekiq_scheduler.yml
  modules/test_user_dashboard/app/services/test_user_dashboard/big_query.rb
  modules/test_user_dashboard/spec/services/big_query_spec.rb
  modules/test_user_dashboard/test_user_dashboard.gemspec
  rakelib/test_stats_to_bigquery.rb
  spec/jobs/test_user_dashboard/mirror_account_availability_logs_in_big_query_spec.rb
  spec/jobs/test_user_dashboard/mirror_accounts_in_big_query_spec.rb
  spec/jobs/test_user_dashboard/track_account_statuses_in_big_query_spec.rb
  spec/rakelib/test_stats_to_bigquery_spec.rb
Labels: console-services-review

update appointment date range (#11883)
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_no_requests_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_with_mixed_provider_types.yml
Labels: mobile

Fix RuboCop violation (use single quotes) for virus free spec
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
Labels: console-services-review

Fix bad merge in code_checks.yml
  .github/workflows/code_checks.yml
Labels: console-services-review

Fix bad merge in code_checks.yml
  .github/workflows/code_checks.yml
Labels: console-services-review

GHA: Use native RuboCop annotations
  .github/workflows/code_checks.yml
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
