Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

49563 BTSSS Claims api error code implementation (#11137)
  modules/check_in/app/services/travel_claim/response.rb
  modules/check_in/app/services/travel_claim/service.rb
  modules/check_in/spec/services/travel_claim/response_spec.rb
  modules/check_in/spec/services/travel_claim/service_spec.rb
Labels: none

[46667] Submit FSR forms to external APIs in background (#11161)
  app/models/form5655_submission.rb
  app/swagger/swagger/requests/financial_status_reports.rb
  app/workers/form5655/vba_submission_job.rb
  app/workers/form5655/vha_submission_job.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/factories/form5655_submission.rb
  spec/fixtures/dmc/form5655_submission.json
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/models/form5655_submission_spec.rb
Labels: console-services-review

MyVa: Update user claims (#11160)
  app/services/users/profile.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

Update appeals_api rswag paths (#11153)
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/response_hlr_create_error.json
  modules/appeals_api/app/swagger/appeals_api/v2/response_hlr_show_not_found.json
  modules/appeals_api/app/swagger/contestable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/contestable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description_dev.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description_dev.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description_dev.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/put_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description_dev.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/put_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: console-services-review

Add git revision to parent helm charts
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.1.15.tgz
Labels: console-services-review

Created hpa external metric
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.2.1.tgz
Labels: console-services-review

add manifest auto release for dev helm charts (#11139)
  .github/workflows/deploy-template.yml
  .github/workflows/deploy.yml
Labels: console-services-review

[11129] Blocking unverified accounts from authenticating at loa3/ial2 level Sign in Service authentications (#11165)
  app/models/sign_in/credential_level.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/error_code.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/errors.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

Add back autoscaling for sidekiq
  chart/Chart.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.2.2.tgz
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#709] Remove deprecated toggles (#11156)
  app/controllers/v0/virtual_agent_token_controller.rb
  config/features.yml
  config/settings.yml
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_token_a.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_b.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_success.yml
Labels: console-services-review

Remove stale HCA feature flag (#11169)
  config/features.yml
Labels: console-services-review

API-18660 upload job 5103 (#10938)
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/uploaders/claims_api/evidence_waiver_submission_uploader.rb
  modules/claims_api/app/workers/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/lib/claims_api/evidence_waiver_pdf/pdf.rb
  modules/claims_api/lib/claims_api/ews_vbms_sidekiq.rb
  modules/claims_api/spec/factories/evidence_waiver_submissions.rb
  modules/claims_api/spec/fixtures/v2/veterans/5103/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/v2/veterans/5103/signed_filled_final_long.pdf
  modules/claims_api/spec/lib/claims_api/evidence_waiver_pdf_constructor/pdf_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/workers/evidence_waiver_builder_job_spec.rb
  modules/claims_api/spec/workers/ews_vbms_sidekiq_spec.rb
  spec/support/vcr_cassettes/bgs/benefit_claim/find_bnft_claim_400.yml
  spec/support/vcr_cassettes/bgs/benefit_claim/update_5103_200.yml
Labels: console-services-review

Fix calling to_datetime on nil and properly test no_end_date (#11168)
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
Labels: mobile

Pull urls and codes from patient object not providers (#11173)
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

[49586] Preventing MHV basic accounts from authenticating for an mhv_verified ssoe session (#11176)
  app/controllers/v1/sessions_controller.rb
  lib/saml/errors.rb
  lib/saml/post_url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

Fixing typo with idme_verified login param type (#11179)
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

add updated commit message for dev
  .github/workflows/deploy-template.yml
Labels: console-services-review

bump chart to use diff autoscaler version
  chart/Chart.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.2.3.tgz
Labels: console-services-review

Add swagger docs and integration for claims letters (#11150)
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/claim_letters.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

[11167] Adding checks for presence of sign in service params (#11177)
  app/controllers/v0/sign_in_controller.rb
Labels: console-services-review

Update service.rb (#11181)
  lib/decision_review/service.rb
Labels: console-services-review

API-21225-add-error-tracking-5103 (#11163)
  modules/claims_api/app/workers/claims_api/ews_updater.rb
Labels: none

Revert "[department-of-veterans-affairs/va-virtual-agent#709] Remove deprecated toggles (#11156)" (#11182)
  app/controllers/v0/virtual_agent_token_controller.rb
  config/features.yml
  config/settings.yml
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_token_a.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_b.yml
Labels: console-services-review

[48496] Adding csp uuid to the sign in service dslogon level of assurance log (#11178)
  app/services/sign_in/credential_level_creator.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

Api 20702 error report (#11170)
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
Labels: none

[48798] sets mpi as primary source for person_types attribute (#11162)
  app/models/user.rb
  app/models/user_identity.rb
  lib/saml/user_attributes/ssoe.rb
  spec/factories/mvi_profiles.rb
  spec/factories/users.rb
  spec/lib/evss/auth_headers_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_spec.rb
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#709] Remove deprecated toggles (final) (#11184)
  app/controllers/v0/virtual_agent_token_controller.rb
  config/features.yml
  config/settings.yml
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_token_a.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_b.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_success.yml
Labels: console-services-review

49628 handle BTSSS response exceptions (#11183)
  modules/check_in/app/controllers/check_in/v0/travel_claims_controller.rb
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/app/services/travel_claim/response.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_400_exists.yml
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_400_multiple.yml
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_401.yml
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_500.yml
Labels: console-services-review

Regenerate Appeals rswag docs with OAuth details (#11175)
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: none

Add Lighthouse PDF validation to evidence submissions for NOD and SC evidence submissions (#11125)
  app/models/decision_review_evidence_attachment.rb
  config/settings.yml
  lib/decision_review/utilities/pdf_validation/configuration.rb
  lib/decision_review/utilities/pdf_validation/service.rb
  spec/jobs/decision_review/submit_upload_spec.rb
  spec/requests/decision_review_evidences_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/decision_review/200_pdf_validation.yml
  spec/support/vcr_cassettes/decision_review/422_page_dimensions_pdf_validation.yml
Labels: console-services-review

update brakeman to 5.4.0 (#11186)
  Gemfile.lock
Labels: console-services-review

API-21877: Add Michael Hobson to VBADocuments automated email reports (#11187)
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: none

Allow worker and puma to be disabled
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.2.4.tgz
Labels: console-services-review

guard sidekiq enterprise periodic jobs config behind enterprise check (#11192)
  config/initializers/sidekiq.rb
Labels: console-services-review

Fix calls to perform_async to avoid Sidekiq.strict_arg! failures (#11201)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
Labels: none

MHV-38443 Small changes to fix secure messaging attachments (#11189)
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
Labels: none

API-21093-rename_and_refactor_5103_poa (#11164)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/workers/claims_api/poa_form_builder_job.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/app/workers/claims_api/poa_vbms_updater.rb
  modules/claims_api/app/workers/claims_api/poa_vbms_upload_job.rb
  modules/claims_api/lib/claims_api/poa_vbms_sidekiq.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
  modules/claims_api/spec/workers/poa_vbms_sidekiq_spec.rb
  modules/claims_api/spec/workers/poa_vbms_updater_spec.rb
  modules/claims_api/spec/workers/vbms_upload_job_spec.rb
Labels: none

Bumping vets-json-schema version (#11185)
  Gemfile.lock
  app/workers/education_form/templates/0994.erb
  spec/fixtures/education_benefits_claims/0994/kitchen_sink.json
  spec/fixtures/education_benefits_claims/0994/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/0994/prefill.json
  spec/fixtures/education_benefits_claims/0994/prefill.spl
  spec/fixtures/education_benefits_claims/0994/simple.json
  spec/fixtures/education_benefits_claims/0994/simple.spl
Labels: console-services-review

[11193] Remove Session Activity model (#11194)
  app/models/session_activity.rb
  spec/factories/session_activities.rb
  spec/models/session_activity_spec.rb
Labels: console-services-review

[49169] Sign in Service CSP Types constants (#11172)
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/inherited_proofing_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/credential_level.rb
  app/models/sign_in/state_payload.rb
  app/policies/mhv_prescriptions_policy.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/user_loader.rb
  app/swagger/swagger/schemas/user_internal_services.rb
  config/initializers/statsd.rb
  lib/sign_in/idme/service.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
  modules/my_health/spec/request/v1/prescriptions_request_spec.rb
  rakelib/login.rake
  spec/controllers/application_controller_spec.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/credential_levels.rb
  spec/factories/sign_in/state_payloads.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/user_identities.rb
  spec/factories/user_identity_attributes.rb
  spec/factories/users.rb
  spec/lib/sentry/processor/filter_request_body_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/policies/ch33_dd_policy_spec.rb
  spec/policies/ppiu_policy_spec.rb
  spec/requests/prescriptions_request_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
  spec/services/users/profile_spec.rb
Labels: mobile, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
