Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

10-10CG - Bug: PDF Special Character Generation Error (#10789)
  lib/pdf_fill/filler.rb
  spec/fixtures/pdf_fill/10-10CG/signed/overflow.pdf
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
Labels: console-services-review

47435 Log all LGY errors from put_application endpoint (#10847)
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: console-services-review

add keys and values to parameters for toe submission (#10840)
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
Labels: none

Fixing flaky spec with notification service where Timecop was being frozen and not returned (#10853)
  modules/apps_api/spec/lib/notification_service_spec.rb
Labels: none

[47840] Adding acr value to Sign in Service callback statsd and success log (#10852)
  app/controllers/v0/sign_in_controller.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

Appointment field is_pending change in criteria (#10845)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

1010ez add SIGI field (#10849)
  lib/hca/enrollment_system.rb
  spec/fixtures/hca/sigi.json
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/sigi.yml
Labels: console-services-review

DHP-306 Add Michael (Tech Lead for DHP) to Flipper admins (#10855)
  config/settings.yml
Labels: console-services-review

More granular timestamp (#10863)
  lib/debt_management_center/sharepoint/request.rb
Labels: console-services-review

Disable Rack Timeout logging (#10866)
  config/initializers/rack_timeout.rb
Labels: console-services-review

add keys to enrollment response (#10832)
  modules/meb_api/app/serializers/enrollment_serializer.rb
  modules/meb_api/lib/dgi/enrollment/enrollment_response.rb
  modules/meb_api/lib/dgi/enrollment/service.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
Labels: none

Allow appeals to optionally accept ICN in header (#10862)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers_extra.json
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

generates new state payload for upleveling logins to fix missing statecode bug (#10864)
  app/controllers/v0/sign_in_controller.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

[10805] Adding additional checks for MPI versus credential attributes when authenticating with Sign in Service (#10859)
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

41523 Sign in Service Swagger docs (#10846)
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/sign_in.rb
  app/swagger/swagger/schemas/sign_in.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

Mobile - Fix friendly_location_name fallback (#10873)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

[10856] Fixing va.gov new user check for sign in service (#10857)
  app/services/sign_in/user_creator.rb
Labels: console-services-review

API-18658 find bnft claim 5103 (#10822)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/fixtures/v2/veterans/claims/find_bnft_claim_response.json
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  spec/support/schemas/claims_api/v2/veterans/submit_waiver_5103.json
  spec/support/vcr_cassettes/bgs/benefit_claim/find_bnft_claim_200.yml
  spec/support/vcr_cassettes/bgs/benefit_claim/find_bnft_claim_500.yml
Labels: console-services-review

Add single-issue hypertension claims to MAS integration (#10851)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  spec/models/form526_submission_spec.rb
Labels: console-services-review

[10875] Removing attribute mismatch check for Sign in Service authentications when credential is auto-upleveled (#10877)
  app/models/sign_in/credential_level.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/factories/sign_in/credential_levels.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

Adding icn to request headers for appeals (#10880)
  lib/decision_review/service.rb
  lib/decision_review_v1/service.rb
Labels: console-services-review

remove form_id from params to avoidn vets-service error (#10883)
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
Labels: none

Adding feature flag for claim letters (#10868)
  config/features.yml
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#627] report conversationID and ICN number when accessing claims
  app/controllers/v0/virtual_agent/report_to_cxdw.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  config/settings.yml
  spec/controllers/v0/virtual_agent/report_to_cxdw_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/support/vcr_cassettes/virtual_agent_cxdw_oauth_token.yml
  spec/support/vcr_cassettes/virtual_agent_cxdw_post_to_table.yml
Labels: console-services-review

47017 Adding claims api configuration (#10858)
  config/settings/test.yml
Labels: console-services-review

API-000 Lighthouse Removed Unused Okta Callback Endpoint (#10884)
  modules/openid_auth/OKTA_README.yml
  modules/openid_auth/app/controllers/openid_auth/docs/v0/okta_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v0/okta_controller.rb
  modules/openid_auth/config/routes.rb
  modules/openid_auth/spec/requests/api_docs_request_spec.rb
  modules/openid_auth/spec/requests/okta_callback_request_spec.rb
Labels: none

[10878] Logging errors in Sign in Service user creator with Rails logger rather than Sentry (#10885)
  app/controllers/concerns/sign_in/authentication.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#627] Revert chatbot reporting mechanism
  app/controllers/v0/virtual_agent/report_to_cxdw.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  config/settings.yml
  spec/controllers/v0/virtual_agent/report_to_cxdw_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/support/vcr_cassettes/virtual_agent_cxdw_oauth_token.yml
  spec/support/vcr_cassettes/virtual_agent_cxdw_post_to_table.yml
Labels: console-services-review

[46092] adds idp_sso_service_binding config to ssoe_settings_service (#10631)
  Gemfile
  Gemfile.lock
  config/settings.yml
  lib/saml/ssoe_settings_service.rb
Labels: console-services-review

(logging) added logging to sentry (#10861)
  app/workers/form1095/new1095_bs_job.rb
Labels: console-services-review

[department-of-veterans-affairs/va-virtual-agent#627] Add chatbot reporting mechanism back in (#10893)
  app/controllers/v0/virtual_agent/report_to_cxdw.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  config/settings.yml
  spec/controllers/v0/virtual_agent/report_to_cxdw_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/support/vcr_cassettes/virtual_agent_cxdw_oauth_token.yml
  spec/support/vcr_cassettes/virtual_agent_cxdw_post_to_table.yml
Labels: console-services-review

Removing old feature flags (#10894)
  config/features.yml
Labels: console-services-review

[DHp-306] Passing in current_user to feature toggle (#10896)
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit/fitbit_controller.rb
Labels: none

Fix LGY put_application endpoint error logging. (#10897)
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: console-services-review

add new dashboard flag for myva (#10892)
  config/features.yml
Labels: console-services-review

Api 18659 generate 5103 pdf (#10882)
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/workers/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/config/pdf_templates/5103/1.pdf
  modules/claims_api/lib/claims_api/evidence_waiver_pdf/pdf.rb
  modules/claims_api/spec/fixtures/v2/veterans/5103/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/v2/veterans/5103/signed_filled_final_long.pdf
  modules/claims_api/spec/lib/evidence_waiver_pdf_constructor/pdf.rb
  modules/claims_api/spec/workers/evidence_waiver_builder_job_spec.rb
Labels: none

Update settings.yml (#10899)
  config/settings.yml
Labels: console-services-review

Claim Letter API prototype (#10824)
  app/controllers/v0/claim_letters_controller.rb
  config/routes.rb
  lib/claim_letters/claim_letter_downloader.rb
  lib/claim_letters/claim_letter_test_data.rb
  lib/claim_letters/test_pdf/1.pdf
  spec/controllers/v0/claim_letters_controller_spec.rb
  spec/fixtures/claim_letter/claim_letter_list.json
Labels: console-services-review

MHV-37293: MHV SM post and put requests with body fixed (#10887)
  modules/my_health/app/controllers/my_health/v1/message_drafts_controller.rb
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
Labels: none

APM for DocumentUpload Process (#10900)
  app/workers/evss/document_upload.rb
  lib/shrine/plugins/validate_virus_free.rb
Labels: console-services-review
