Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

[22884] adds USiP logging to SiS auth & refactors applications constants (#11345)
  app/controllers/v1/sessions_controller.rb
  config/initializers/statsd.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

Don't log email address when email job fails (#11382)
  modules/va_notify/app/workers/va_notify/email_job.rb
  modules/va_notify/spec/workers/email_job_spec.rb
Labels: none

Test preview environment workflow (#11380)
  .github/workflows/preview_environment_deployment.yml
  script/github-actions/pe-deploy-source.js
Labels: console-services-review

Add environment to appeals stuck record notifications (#11381)
  modules/appeals_api/app/services/appeals_api/slack/stuck_record_notification.rb
  modules/appeals_api/spec/services/appeals_api/slack/stuck_record_notification_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_stuck_records_report_spec.rb
Labels: none

Pulling DB stuff into it's own PR (#11386)
  db/migrate/20221214161602_add_backup_submitted_claim_id_to_form526submissions.rb
  db/schema.rb
Labels: console-services-review

Rcassity vets api env namespace (#11378)
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/external-dns.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/templates/ingress_route.yaml
  chart/templates/lighthouse-pre-configs.yaml
  chart/templates/sa.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
  chart/templates/settings-configmap.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.6.3.tgz
Labels: console-services-review

Add backup form 526 submission path (#11317)
  app/workers/evss/disability_compensation_form/submit_form0781.rb
  app/workers/evss/disability_compensation_form/submit_form8940.rb
  config/betamocks/services_config.yml
  config/features.yml
  config/settings.yml
  lib/decision_review_v1/appeals/supplemental_claims.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/evss/disability_compensation_form/service.rb
  lib/form526_backup_submission/configuration.rb
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
  spec/factories/form526_submissions.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/lib/sidekiq/form526_job_status_tracker/job_tracker_spec.rb
  spec/support/disability_compensation_form/submissions/with_everything.json
  spec/support/vcr_cassettes/evss/disability_compensation_form/getPDF_200.yml
  spec/support/vcr_cassettes/form526_backup/200_evss_get_pdf.yml
  spec/support/vcr_cassettes/form526_backup/200_lighthouse_intake_upload.yml
  spec/support/vcr_cassettes/form526_backup/200_lighthouse_intake_upload_location.yml
Labels: console-services-review

Removed {{ Release.namespace }} tag
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/external-dns.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/templates/ingress_route.yaml
  chart/templates/lighthouse-pre-configs.yaml
  chart/templates/sa.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
  chart/templates/settings-configmap.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.6.4.tgz
Labels: console-services-review

Mobile EVSS to Lighthouse letters benefits (#11279)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/letter_info.rb
  modules/mobile/app/models/mobile/v0/benefit_information.rb
  modules/mobile/app/models/mobile/v0/letter_info.rb
  modules/mobile/app/serializers/mobile/v0/letters_beneficiary_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/service.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/support/schemas/letter_beneficiary.json
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_500_error_bgs.yml
Labels: mobile

[bug] Account for old flow FSR edge case (#11367)
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

VAOS::V2::AppointmentsController#index throwing 500 error (#11387)
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_no_location_id.yml
Labels: vaos, console-services-review

Appeals status API docs fixes (#11372)
  modules/appeals_api/app/swagger/appeals_api/v1/appeals_status.yml
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: none

This needs to go one layer deeper for EVSS (#11389)
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

Remove caregiver_mulesoft feature flag and 1010cg carma api code (#11376)
  .rubocop.yml
  app/services/form1010cg/service.rb
  config/features.yml
  lib/carma/client/client.rb
  lib/carma/client/configuration.rb
  lib/carma/models/submission.rb
  spec/lib/carma/client/client_spec.rb
  spec/lib/carma/client/configuration_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

API-20509: Retire VBADocument V0 upload_complete endpoint (#11140)
  modules/vba_documents/app/controllers/vba_documents/internal/v0/upload_complete_controller.rb
  modules/vba_documents/config/routes.rb
  modules/vba_documents/spec/request/v0/upload_complete_request_spec.rb
Labels: none

API-22209 Fix Decision Reviews OAS documents (#11308)
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: none

49533 remove dev lorota key from settings (#11390)
  config/settings.yml
Labels: console-services-review

Make COE downloads work directly (#11399)
  app/controllers/v0/coe_controller.rb
Labels: console-services-review

Set homeSellIndictor to nil (#11393)
  app/models/saved_claim/coe_claim.rb
  spec/factories/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
  spec/support/vcr_cassettes/lgy/application_put.yml
  spec/support/vcr_cassettes/lgy/application_put_500.yml
Labels: console-services-review

Certificate of Eligibility | Transform Marine Corps to Marines (#11388)
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

Ksoskin/fix/minor 526 backup submission fixes (#11398)
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

Fix homeSellIndicator values (#11401)
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

VaNotify - 527ez update personalization params (#11394)
  app/models/saved_claim/pension.rb
  spec/models/saved_claim/pension_spec.rb
Labels: console-services-review

Making dslogon_verified scope in sessions controller call standard dslogon authn_context (#11402)
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

API-21392: Add Error Processing for VBADocuments Submissions that Consistently Time Out (#11400)
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/models/upload_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

check if claimant_service returned a valid claimant_id (#11302)
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
Labels: none

add field (#11403)
  modules/mobile/app/serializers/mobile/v0/prescriptions_refills_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionsRefill.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_with_multiple_errors.yml
Labels: mobile

Fix appeals daily stuck records report cadence (#11405)
  config/sidekiq_scheduler.yml
Labels: console-services-review

add sandbox to auto deploy envs
  .github/workflows/deploy.yml
Labels: console-services-review

4407 filter logic (#11404)
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

Add validate endpoint (#11331)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/example.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/spec/fixtures/v2/veterans/intent_to_file/find_by_ptcpnt_id_and_itf_type.json
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
  spec/support/schemas/claims_api/v2/veterans/intent_to_file/intent_to_file.json
Labels: console-services-review

Bulk deployment and hpa for vets-api-web and all external services
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/external-dns.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/templates/ingress_route.yaml
  chart/templates/lighthouse-pre-configs.yaml
  chart/templates/sa.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
  chart/templates/settings-configmap.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.7.0.tgz
Labels: console-services-review

Fixed affinity spelling
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.7.1.tgz
Labels: console-services-review

Added service name to hpa external metric name
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.7.2.tgz
Labels: console-services-review

Add GCIO VFEP to Flipper UI (Feature Toggles). (#11408)
  config/settings.yml
Labels: console-services-review

Removed service name from datadog metric
  chart/Chart.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.7.3.tgz
Labels: console-services-review

Correct datadog query
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  docs/index.yaml
  docs/vets-api-0.7.4.tgz
Labels: console-services-review

[#MHV-39815] Don't force using cache when getting the list of triage teams (#11409)
  modules/my_health/app/controllers/my_health/v1/triage_teams_controller.rb
Labels: none

Api 22117 email rx yaml setting file (#11342)
  modules/appeals_api/app/mailers/appeals_api/daily_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/app/workers/concerns/appeals_api/report_recipients_reader.rb
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_error_report_spec.rb
  modules/appeals_api/spec/workers/concerns/appeals_api/report_recipients_reader_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_daily_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_weekly_spec.rb
Labels: none

[11329] Refactoring MPI Service add_person_implicit_search (#11383)
  app/models/mpi_data.rb
  app/models/user_session_form.rb
  app/services/sign_in/attribute_validator.rb
  lib/mpi/constants.rb
  lib/mpi/errors/errors.rb
  lib/mpi/responses/add_person_response.rb
  lib/mpi/service.rb
  lib/mpi/services/add_person_response_creator.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/mpi/responses/add_person_response_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/lib/mpi/services/add_person_response_creator_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_session_form_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/support/vcr_cassettes/mpi/add_person/add_person_internal_error_request.yml
  spec/support/vcr_cassettes/mpi/add_person/addadd_person_already_exists_person_success.yml
  spec/support/vcr_cassettes/mpi/add_person/update_profile_server_error.yml
  spec/support/vcr_cassettes/mpi/add_person_internal_error_response.yml
  spec/support/vcr_cassettes/spec/support/mpi/add_person_internal_error_response.yml
Labels: console-services-review
