Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

update permissions
  .github/workflows/build.yml
Labels: console-services-review

removed claims service and configuration files (#12965)
  modules/mobile/app/services/mobile/v0/lighthouse_claims/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_claims/service.rb
Labels: mobile

Api 27356 27357 docs service and logging (#12974)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

re-add concurrent claims index (#12980)
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
Labels: mobile

Re-enable 1990e confirmation emails to authenticated users (#12970)
  app/models/saved_claim/education_benefits/va_1990e.rb
  config/features.yml
  spec/models/saved_claim/education_benefits/va1990e_spec.rb
Labels: console-services-review

Fix periodic job call to VAForms::FormReloader (#12984)
  lib/periodic_jobs.rb
Labels: console-services-review

Improve BGS validation error logging (#12939)
  lib/bgs/exceptions/bgs_errors.rb
  spec/fixtures/bgs/bgs_oracle_error.txt
  spec/lib/bgs/exceptions/bgs_errors_spec.rb
Labels: console-services-review

Handle special characters in names and addresses sent to BGS. (#12968)
  app/workers/bgs/job.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  spec/jobs/bgs/job_spec.rb
Labels: console-services-review

API-26351 526 v2 schema start/end date alignment (#12982)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

mobile - disability rating update docs and error specs (#12975)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/LighthouseErrors.yml
  modules/mobile/spec/request/disability_rating_request_spec.rb
Labels: mobile

Mobile: Update endpoint to include feature flag for flipping to lighthouse fo… (#12553)
  app/policies/lighthouse_policy.rb
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_direct_deposit.rb
  modules/mobile/app/serializers/mobile/v0/payment_information_serializer.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
  spec/support/vcr_cassettes/mobile/direct_deposit/show/403_forbidden.yml
  spec/support/vcr_cassettes/mobile/direct_deposit/update/403_forbidden.yml
Labels: mobile, console-services-review

migration to convert zipcode data type to string (#12978)
  db/migrate/20230613132004_zipcode_data_type_to_string.rb
  db/schema.rb
  spec/jobs/income_limits/std_zipcode_import_spec.rb
Labels: console-services-review

add Luke contractor email for flipper UI (#12995)
  config/settings.yml
Labels: console-services-review

API-27427-500-errors-claims-status-v2 (#12994)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: none

Api 27427 500 claims status v2 404 (#12997)
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
Labels: none

Add error parsing for unhandled responses and update logic (#12998)
  lib/lighthouse/direct_deposit/error_parser.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_invalid_day_phone_number.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_invalid_mailing_address.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/400_routing_number_checksum.yml
Labels: console-services-review

API-27326 Fixing my overwrites (#13015)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
Labels: none

Schedule copay notification jobs in time intervals (#12964)
  app/workers/copay_notifications/new_statement_notification_job.rb
  app/workers/copay_notifications/parse_new_statements_job.rb
  config/settings.yml
  config/settings/test.yml
  spec/jobs/copay_notifications/parse_new_statements_job_spec.rb
Labels: console-services-review

modify sidekiq job and tests for string zip codes (#12979)
  app/workers/income_limits/std_zipcode_import.rb
  spec/jobs/income_limits/std_zipcode_import_spec.rb
Labels: console-services-review

Task update classifier logging (#13013)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
Labels: console-services-review

remove deceased claimant mappings as per stakeholders (#13017)
  modules/forms_api/app/form_mappings/vba_21p_0847.json.erb
  modules/forms_api/spec/fixtures/form_json/vba_21p_0847.json
Labels: none

Revert "59503 add schedulable param to get_facilities (#12865)" (#13016)
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_false.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_not_passed.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200_schedulable_true.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_with_children_and_schedulable_true_400.yml
Labels: vaos, console-services-review

API-26837 Clean up appeals fixture factories (#13001)
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
Labels: none

[59055] Update VHA FSR sidekiq batch callback (#13014)
  lib/debt_management_center/base_service.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

4747: add get letter as json method to lighthouse letters generator s… (#12990)
  lib/lighthouse/letters_generator/service.rb
  lib/lighthouse/letters_generator/service_error.rb
  spec/lib/lighthouse/letters_generator/fakeResponses/fakeProofOfServiceLetterResponse.json
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

Change to nil so FE can default (#13024)
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
Labels: mobile

[12999] Adding field to mocked auth credentials that describe whether a matching MPI mock record is found or not (#13002)
  modules/mocked_authentication/lib/mockdata/reader.rb
  modules/mocked_authentication/spec/fixtures/credential_mock_data/credentials/logingov/vetsgovuser1.json
  modules/mocked_authentication/spec/fixtures/credential_mock_data/credentials/logingov/vetsgovuser228.json
  modules/mocked_authentication/spec/fixtures/credential_mock_data/mvi/profile_logingov_uuid/eb172e31-36a0-4266-aa7b-b44c939e6850.yml
  modules/mocked_authentication/spec/lib/mockdata/reader_spec.rb
  modules/mocked_authentication/spec/requests/credential_request_spec.rb
Labels: none

Task: remove old code - health assessment data (#12993)
  config/settings.yml
  lib/virtual_regional_office/client.rb
  spec/lib/virtual_regional_office/client_spec.rb
Labels: console-services-review

Configured clamav mirror service and deployment (#13029)
  chart/Chart.yaml
  chart/templates/clamav-mirror-deployment.yaml
  chart/templates/clamav-service.yaml
  chart/templates/server-deployment.yaml
  chart/templates/worker-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.12.00.tgz
Labels: console-services-review

Configured clamav mirror network policy (#13031)
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.12.01.tgz
Labels: console-services-review

Fixing clamav mirror bugs
  chart/Chart.yaml
  chart/templates/clamav-mirror-deployment.yaml
  chart/templates/ingress_route.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.12.02.tgz
Labels: console-services-review

Removed clamav mirror volume mounts
  chart/Chart.yaml
  chart/templates/clamav-mirror-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.12.03.tgz
Labels: console-services-review

Allow to disable clamav mirror socat proxy
  chart/Chart.yaml
  chart/templates/clamav-mirror-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.12.04.tgz
Labels: console-services-review

Add logic to handle missing award amount from LH response (#13009)
  lib/lighthouse/letters_generator/service.rb
  spec/lib/lighthouse/letters_generator/fakeResponses/fakeResponse_no_award.json
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

Removed clamav mirror volumes
  chart/Chart.yaml
  chart/templates/clamav-mirror-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.12.05.tgz
Labels: console-services-review

allow for empty array of individual ratings (#13028)
  modules/mobile/app/models/mobile/v0/adapters/disability_rating.rb
  modules/mobile/spec/request/disability_rating_request_spec.rb
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_no_individual_response.yml
Labels: mobile, console-services-review

remove code for temporary feature toggle (#13021)
  config/features.yml
Labels: console-services-review

[58964] add account_configs table (#12992)
  db/migrate/20230614144145_create_service_account_config.rb
  db/schema.rb
Labels: console-services-review

API-26837 Update use of fixture helpers for NODs (#13000)
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: none

Removed clamav command
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.12.06.tgz
Labels: console-services-review
