Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Profile - Get Rating Disability from Lighthouse API (#13012)
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/serializers/lighthouse_rating_info_serializer.rb
  app/serializers/rating_info_serializer.rb
  config/features.yml
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  spec/controllers/v0/disability_compensation_forms_controller_spec.rb
  spec/lib/evss/common_service_spec.rb
  spec/requests/rating_info_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/schemas/rating_info_response.json
  spec/support/vcr_cassettes/evss/disability_compensation_form/rating_info.yml
Labels: console-services-review

Mobile:: Letter type bugfix (#13022)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/letter.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/spec/request/letters_request_spec.rb
  spec/support/vcr_cassettes/mobile/lighthouse_letters/letters_with_extra_types_200.yml
Labels: mobile, console-services-review

13558 income limits logic (#12877)
  modules/income_limits/README.md
  modules/income_limits/README.rdoc
  modules/income_limits/app/controllers/income_limits/v1/income_limits_controller.rb
  modules/income_limits/spec/factories/gmt_thresholds.rb
  modules/income_limits/spec/factories/leading_zero_factories.rb
  modules/income_limits/spec/factories/std_counties.rb
  modules/income_limits/spec/factories/std_income_thresholds.rb
  modules/income_limits/spec/factories/std_states.rb
  modules/income_limits/spec/factories/std_zipcodes.rb
  modules/income_limits/spec/requests/v1/limits_by_zip_code_spec.rb
Labels: none

53021 alternative to PR#12858 (#12928)
  app/models/form5655_submission.rb
  app/models/user_profile_attributes.rb
  app/workers/form5655/vba_submission_job.rb
  app/workers/form5655/vha_submission_job.rb
  config/redis.yml
  lib/user_profile_attribute_service.rb
  spec/controllers/v0/financial_status_reports_controller_spec.rb
  spec/factories/user_profile_attributes.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/lib/user_profile_attribute_service_spec.rb
  spec/models/form5655_submission_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

Updating BenefitsClaims service to handle 504s (#13020)
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service_exception.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/504_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/504_response.yml
Labels: console-services-review

feat: add toggle (#13034)
  config/features.yml
Labels: console-services-review

added new feature toggle for breadcrumb and url changes (#13030)
  config/features.yml
Labels: console-services-review

[11109] Removing unused code related to Rapid Ready for Decision functionality (#13023)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  app/workers/rapid_ready_for_decision/claim_context.rb
  spec/jobs/rapid_ready_for_decision/claim_context_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
Labels: console-services-review

fix: issues with pdftk dependency
  .github/workflows/build.yml
  Dockerfile
Labels: console-services-review

Put back the deploy job
  .github/workflows/build.yml
Labels: console-services-review

remove extra apt-get update
  Dockerfile
Labels: console-services-review

MHV-42070: Vitals endpoint complete (#13044)
  lib/medical_records/client.rb
  modules/my_health/app/controllers/my_health/v1/vitals_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/vitals_request_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vitals.yml
Labels: console-services-review

try installing ca-certificates-java only
  Dockerfile
Labels: console-services-review

add back dpkg --configure -a
  Dockerfile
Labels: console-services-review

5852 update openapi docs (#13043)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

Update submit.rb (#13025)
  lib/sidekiq/form526_backup_submission_process/submit.rb
Labels: console-services-review

Fix log message to reflect correct endpoint (#13037)
  lib/lighthouse/letters_generator/service.rb
Labels: console-services-review

Adding access token tracker to allow caching of access tokens (#13039)
  config/redis.yml
  lib/lighthouse/auth/client_credentials/access_token_tracker.rb
  lib/lighthouse/auth/client_credentials/service.rb
  lib/lighthouse/benefits_claims/configuration.rb
  spec/lib/lighthouse/auth/client_credentials/access_token_tracker_spec.rb
Labels: console-services-review

53021 small addendum missed in previous merge (#13050)
  app/models/form5655_submission.rb
  spec/controllers/v0/financial_status_reports_controller_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/models/form5655_submission_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

Fix issue with log_info method (#13052)
  lib/lighthouse/auth/client_credentials/service.rb
Labels: console-services-review

API-26837 Refactor appeals fixtures - part 3 (#13041)
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

4747: add ability to download letter as json (#13040)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/serializers/mobile/v0/letter_serializer.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/support/schemas/letter.json
  spec/support/vcr_cassettes/mobile/lighthouse_letters/download_as_json.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/download_as_json_with_options.yml
  spec/support/vcr_cassettes/mobile/lighthouse_letters/download_with_options.yml
Labels: mobile, console-services-review

updates link for mocked authentication documentation (#13054)
  modules/mocked_authentication/app/views/mocked_authentication/credential/index.html.erb
Labels: none

Docker: Use Debian Bookworm (#13049)
  Dockerfile
  docs/setup/native.md
  modules/appeals_api/spec/fixtures/pdfs/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996_maxlength.pdf
  modules/claims_api/spec/fixtures/test_client.p12
  spec/support/vcr.rb
Labels: console-services-review

Missed merge conflict for bookworm/bullseye
  Dockerfile
Labels: console-services-review

4747: update letters documentation (#13042)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Letter.yml
Labels: mobile

Revert "Docker: Use Debian Bookworm (#13049)" (#13058)
  Dockerfile
  docs/setup/native.md
  modules/appeals_api/spec/fixtures/pdfs/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996_maxlength.pdf
  modules/claims_api/spec/fixtures/test_client.p12
  spec/support/vcr.rb
Labels: console-services-review

API-26837 Finish updating use of appeals FixtureHelpers (#13056)
  modules/appeals_api/spec/config/schemas/v2/200996_v2_json_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/support/fixture_helpers.rb
Labels: none

Simple forms api: Remove prefill for form 21-4142 and 21-10210 (#13053)
  app/models/form_profile.rb
  app/models/form_profiles/va_2110210.rb
  app/models/form_profiles/va_214142.rb
  config/form_profile_mappings/21-10210.yml
  config/form_profile_mappings/21-4142.yml
  config/settings.yml
  spec/models/form_profile_spec.rb
Labels: console-services-review

Api 27260 disability validation updates (#13018)
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review

Add service category name to mobile appts (#13051)
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/serializers/mobile/v0/appointment_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/va_v0_appointment.json
Labels: mobile

Revert "Revert "Docker: Use Debian Bookworm (#13049)" (#13058)" (#13064)
  Dockerfile
  config/initializers/tic_mitm.rb
  docs/setup/native.md
  modules/appeals_api/spec/fixtures/pdfs/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996_maxlength.pdf
  modules/claims_api/spec/fixtures/test_client.p12
  spec/support/vcr.rb
Labels: console-services-review

add dummy feature flag and replace one in use by other teams (#13069)
  config/features.yml
  spec/controllers/v0/feature_toggles_controller_spec.rb
Labels: console-services-review

added print list flag (#13071)
  config/features.yml
Labels: console-services-review

[API-27572] HLR, NOD, and SC field rename (#13068)
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/appeals_api_insomnia.json
  modules/appeals_api/config/schemas/higher_level_reviews/v0/200996.json
  modules/appeals_api/config/schemas/notice_of_disagreements/v0/10182.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/200995.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_minimum.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_extra.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_minimum.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995_extra.json
Labels: none

4747: fix letters download body params read method (#13066)
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
Labels: mobile

Revert "Revert "Revert "Docker: Use Debian Bookworm (#13049)" (#13058)" (#13064)" (#13073)
  Dockerfile
  config/initializers/tic_mitm.rb
  docs/setup/native.md
  modules/appeals_api/spec/fixtures/pdfs/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/pdfs/v3/expected_200996_maxlength.pdf
  modules/claims_api/spec/fixtures/test_client.p12
  spec/support/vcr.rb
Labels: console-services-review

Capitalize direct deposit account types (#13067)
  app/swagger/swagger/requests/profile.rb
  lib/lighthouse/direct_deposit/payment_account.rb
  lib/lighthouse/direct_deposit/payment_info_parser.rb
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/lib/lighthouse/direct_deposit/payment_account_spec.rb
  spec/requests/swagger_spec.rb
Labels: mobile, console-services-review

API-26923 Docs updates for appeals APIs (#13070)
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description_dev.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description_dev.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description_dev.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description_dev.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
Labels: none

API-27449 Remove socOptIn option from HLR API v0 and SC API v0 (#13059)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/higher_level_reviews/v0/200996.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/200995.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_minimum.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995_extra.json
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: none

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
