Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Replace levenshtein-ffi gem with build in Gem::Text (#12240)
  Gemfile
  Gemfile.lock
  lib/string_helpers.rb
  spec/lib/string_helpers_spec.rb
Labels: console-services-review

Update google-protobuf gem (#12241)
  Gemfile.lock
Labels: console-services-review

Update Rails to 6-1-stable (#12242)
  Gemfile
  Gemfile.lock
Labels: console-services-review

Update Bundler version to 2.4.9 (#12243)
  Dockerfile
  Dockerfile-k8s
Labels: console-services-review

removed vaos appointment service part 1 (#12233)
  modules/vaos/spec/services/appointment_service_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
Labels: vaos

Update mail gem (#12245)
  Gemfile.lock
  spec/support/vcr_cassettes/preneeds/burial_forms/burial_form_with_attachments.yml
Labels: console-services-review

RuboCop: Auto correct Style/RedundantFreeze (k8s only)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
Labels: none

removed vaos appointment service rspecs (#12244)
  modules/vaos/spec/services/appointment_service_spec.rb
Labels: vaos

removed vaos appointment service and appointment form (#12246)
  modules/vaos/app/models/vaos/appointment_form.rb
  modules/vaos/app/services/vaos/appointment_service.rb
Labels: vaos

removed vaos cancel form and rspec - appointment time (#12249)
  modules/vaos/app/models/vaos/appointment_time.rb
  modules/vaos/app/models/vaos/cancel_form.rb
  modules/vaos/spec/models/cancel_form_spec.rb
Labels: vaos

[12148] Adding Sign in Service javascript redirect to prevent CORS issues when authenticating with non-va.gov Sign in Service clients (#12237)
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/login_redirect_url_generator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
Labels: console-services-review

54558 Vaos service types and category logging (#12250)
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_and_logs_data.yml
Labels: vaos, console-services-review

add flipper for 26-4555 (#12248)
  config/features.yml
Labels: console-services-review

Add github deployment logic to preview environment deployment workflow (#12251)
  .github/workflows/preview_environment_deployment.yml
Labels: console-services-review

remove camel case header from gender identity edit endpoint (#12224)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
  modules/mobile/spec/request/gender_identity_request_spec.rb
  modules/mobile/spec/support/iam_session_helper.rb
Labels: mobile

Allow payment date to be either date or string type (#11892)
  app/models/form_profiles/va_5655.rb
Labels: console-services-review

log user icn in enrollment_status api (#12143)
  app/controllers/v0/health_care_applications_controller.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: console-services-review

Adds correct list to docs (#12247)
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review

[53995] SiS template client config (#12204)
  db/seeds/development.rb
Labels: console-services-review

Api 25071 faraday bgs itf (#12178)
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: none

Ruby 3 upgrade: Fix form526.rake deprecations (#12263)
  rakelib/form526.rake
Labels: console-services-review

Ruby 3 upgrade: Fix utilities_spec.rb deprecations (#12265)
  spec/models/webhooks/utilities_spec.rb
Labels: console-services-review

API-24936-Replace-bgs-ext-claims (#12192)
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/vcr_cassettes/bgs/ebenefits_benefit_claims_status/find_benefit_claim_details_by_benefit_claim_id.yml
Labels: console-services-review

Removed update_appt_presentatin flag. (#12259)
  config/features.yml
Labels: console-services-review

5086 verify military access in controller (#12252)
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/spec/request/military_information_request_spec.rb
Labels: mobile

Update form526 rake fix (#12268)
  rakelib/form526.rake
Labels: console-services-review

K8s rack cors (#12266)
  config/application.rb
Labels: console-services-review

disable http_origin rack_protection in flipper (#12267)
  config/routes.rb
Labels: console-services-review

remove as base
  Dockerfile
Labels: console-services-review

Revert "K8s rack cors (#12266)"
  config/application.rb
Labels: console-services-review

Replace empty treatment center names with a space (#12258)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

API-25337 Convert SCs metadata keys to snake_case (#12235)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

Rake tasks for general-purpose appeals oauth tokens (#12264)
  rakelib/appeals_api_oauth.rake
Labels: console-services-review

API-24186 Skippable benefits intake dimension checks (#12257)
  config/features.yml
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: console-services-review

add va forms team members to flipper admin list (#12260)
  config/settings.yml
Labels: console-services-review

Changes rescue (#12273)
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
Labels: none

fix deprecation warning - Encoding::UndefinedConversionError (#12272)
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_8940.yml
Labels: console-services-review

fix 'Breakers is not implemented for service: TokenValidation' warning (#12274)
  lib/token_validation/v2/configuration.rb
Labels: console-services-review

Add grandfathering feature flags for dsl and mhv (#12255)
  config/features.yml
Labels: console-services-review

[55722] Refactoring sign in service redirect script (#12269)
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/redirect_url_generator.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
  spec/services/sign_in/redirect_url_generator_spec.rb
Labels: console-services-review
