Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

44524 Check-in module passing stationNo to front-end (#10431)
  modules/check_in/app/serializers/check_in/v2/appointment_data_serializer.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_data_serializer_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: none

added flipper admin email to settings.yml (#10429)
  config/settings.yml
Labels: console-services-review

Update brakeman to 5.3.1 (#10449)
  Gemfile.lock
Labels: console-services-review

API-17763 - ClaimsApi - Update daily report to include ITF metrics (#10439)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/models/claims_api/intent_to_file.rb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_itf_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: console-services-review

[10441] Adding user csp id to MPI if we do not get the credential identifier from eauth headers in SSOE auth (#10442)
  app/models/user_session_form.rb
  spec/models/user_session_form_spec.rb
Labels: console-services-review

Check if input payment is nil (#10453)
  app/models/adapters/payment_history_adapter.rb
Labels: console-services-review

44940 Create Form 5655 Submissions Table (#10428)
  db/migrate/20220809134330_add_form5655_submissions_table.rb
  db/migrate/20220809142412_add_index_to_form5655_submissions.rb
  db/schema.rb
Labels: console-services-review

Update catalog-info.yaml (#10430)
  catalog-info.yaml
Labels: console-services-review

Fix NoMethodError when facility is nil (#10455)
  modules/covid_vaccine/app/services/covid_vaccine/v0/expanded_registration_service.rb
Labels: none

add feature toggle (#10448)
  config/features.yml
Labels: console-services-review

added vaos v2 to vaos statsd initializer (#10454)
  modules/vaos/config/initializers/statsd.rb
Labels: vaos

[10441] Making a call to update MPI record when a user idme or logingov uuid is not in MPI but in authenticated credential (#10457)
  app/models/user_session_form.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/saml_attributes.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_session_form_spec.rb
Labels: console-services-review

[cFSR] - Enabling combined financial status report in staging (#10434)
  config/features.yml
Labels: console-services-review

Clear out NOD in-progress form if users request to submit is accepted (#10465)
  app/models/appeal_submission.rb
Labels: console-services-review

[10301] Adding error codes for sign in service failures for frontend to consume (#10464)
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/refresh_token.rb
  app/serializers/sign_in/introspect_serializer.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/error_code.rb
  app/services/sign_in/credential_info_creator.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/refresh_token_encryptor.rb
  app/services/sign_in/revoke_sessions_for_user.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/state_payload_jwt_decoder.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  app/services/sign_in/token_serializer.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  app/workers/sign_in/delete_expired_sessions_job.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

Telehealth param swagger update (#10460)
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
Labels: vaos

added ownsership fields to institution swagger schema (#10398)
  app/swagger/swagger/schemas/gibct/institutions.rb
Labels: console-services-review

Add validation to only accept US-ASCII characters in address lines (#10466)
  app/swagger/swagger/schemas/vet360/address.rb
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
  spec/requests/va_profile/address_request_spec.rb
Labels: console-services-review

Changes source for ITF. (#10447)
  modules/claims_api/app/models/claims_api/intent_to_file.rb
Labels: none

API-18640 Changes consumer names. (#10468)
  modules/claims_api/lib/claims_api/cid_mapper.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
Labels: none

API-15627 - ClaimsApi - Update V1 active POA dev docs (#10462)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/forms/power_of_attorney/active.json
Labels: console-services-review

API-18635 - ClaimsApi - Fix claim "status" in V2 dev docs (#10463)
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

added swagger API documentation for 1095-B endpoints (#10422)
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/form1095_bs.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

Log ptcpnt and birls presence and delay 5s. (#10469)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: none

Limit phone ext. to 6 digits (#10474)
  app/swagger/swagger/schemas/vet360/telephone.rb
  dump.rdb
  lib/va_profile/models/telephone.rb
  spec/lib/va_profile/models/telephone_spec.rb
Labels: console-services-review

Insert certain classification codes for MAS (#10470)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/disability_compensation_form/submissions/with_uploads.json
Labels: console-services-review

Mobile appointment vaos v2 integration (#10440)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointment_request_messages_spec.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
  modules/mobile/spec/support/fixtures/va_v0_appointment.json
  modules/mobile/spec/support/schemas/VAOS_v2_appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
Labels: mobile

API-18690: Reinstate VBADocuments specs that were temporarily disabled (#10475)
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
Labels: none

Removing noisy log to sentry that is unnecessary (#10478)
  app/models/va_profile_redis/cache.rb
  spec/models/va_profile_redis/cache_spec.rb
Labels: console-services-review

Add US-ASCII validation to city, province, and international postal code (#10477)
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
Labels: console-services-review

3586: autoload mobile lib directory (#10473)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
Labels: mobile

[44144] MPI error parsing updates (#10452)
  lib/mpi/responses/add_parser.rb
  lib/mpi/responses/add_person_response.rb
  lib/mpi/service.rb
  spec/lib/mpi/responses/add_parser_spec.rb
  spec/lib/mpi/responses/add_person_response_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/support/vcr_cassettes/mpi/update_profile/update_profile_failed_no_correlation.yml
Labels: console-services-review

[44987] Adding MHV data to inherited proofing user attribute response (#10476)
  lib/inherited_proofing/user_attributes_fetcher.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/lib/inherited_proofing/user_attributes_fetcher_spec.rb
Labels: console-services-review

submit 1010cg applications using background job (#10458)
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/models/saved_claim/caregivers_assistance_claim.rb
  app/serializers/form1010cg/claim_serializer.rb
  app/workers/form1010cg/submission_job.rb
  config/features.yml
  lib/carma/client/mule_soft_client.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/jobs/form1010cg/submission_job_spec.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
  spec/requests/caregivers_assistance_claims_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

- Adding my ID.me associated email to feature flag flipper access list. (#10483)
  config/settings.yml
Labels: console-services-review

remove dev worker deploy (#10485)
  Jenkinsfile
Labels: console-services-review

reverts force_authn = false for verified routes (#10486)
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

MAS integration: Only allow claim for increase (#10490)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

Account for new data format of FSR selected debts (#10487)
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/requests/financial_status_reports.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
  config/betamocks/services_config.yml
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

Adding betamocks definition for EVSS create_user_account (#10493)
  config/betamocks/services_config.yml
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
