Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

Revert "remove branch check - not necessary"
  .github/workflows/deploy-template.yml
Labels: console-services-review

Add new ff (#11750)
  config/features.yml
Labels: console-services-review

Inline parsing of form data (#11752)
  app/models/saved_claim/education_benefits.rb
Labels: console-services-review

[51835] Log UserAcceptableVerifiedCredential counts for Datadog consumption (#11715)
  .github/CODEOWNERS
  .gitignore
  app/models/user_account.rb
  app/models/user_session_form.rb
  app/models/user_verification.rb
  app/services/login/user_acceptable_verified_credential_updater.rb
  app/workers/identity/user_acceptable_verified_credential_counts_job.rb
  config/sidekiq_scheduler.yml
  dump.rdb
  spec/jobs/identity/user_acceptable_verified_credential_counts_job_spec.rb
Labels: console-services-review

Rake tasks for appeals CCG auth (#11743)
  config/settings.yml
  rakelib/appeals_api_oauth.rake
Labels: console-services-review

API-21503: Store Additional VBADocuments File Checksums (#11747)
  modules/vba_documents/app/serializers/vba_documents/upload_serializer.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/lib/upload_validator_spec.rb
  modules/vba_documents/spec/serializers/upload_serializer_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: none

Api 23200 move a bgs service (#11710)
  config/initializers/bgs.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/claims_api/bgs_service/base.rb
  modules/claims_api/lib/claims_api/bgs_service/bgs.rb
  modules/claims_api/lib/claims_api/bgs_service/errors.rb
  modules/claims_api/lib/claims_api/bgs_service/services.rb
  modules/claims_api/lib/claims_api/bgs_service/services/benefit_claims.rb
  modules/claims_api/lib/claims_api/bgs_service/services/intent_to_file.rb
  modules/claims_api/lib/claims_api/bgs_service/services/person.rb
  modules/claims_api/lib/claims_api/bgs_service/string_utils.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: console-services-review

Pe cleanup (#11756)
  .github/workflows/preview-environment-cleanup.yml
  script/github-actions/pe-cleanup.js
Labels: console-services-review

Distinguish between LGY documents using `documentType` (#11616)
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

API-23726-remove-leading-space-contentions (#11735)
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: none

Mobile - Correct RX docs to reflect refill by array (#11760)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/RefillPayload.yml
Labels: mobile

4501 remove pagination links logic and references in docs (#11726)
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/cc_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Appointments.yml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverview.yml
  modules/mobile/docs/schemas/PaymentHistory.yml
  modules/mobile/docs/schemas/SecureMessageList.yml
  modules/mobile/docs/schemas/SecureMessagingFolders.yml
  modules/mobile/docs/schemas/v1/Immunizations.yml
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/request/community_care_providers_request_spec.rb
  modules/mobile/spec/request/facility_eligibility_request_spec.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
  modules/mobile/spec/support/schemas/VAOS_v2_appointments.json
  modules/mobile/spec/support/schemas/appointments.json
  modules/mobile/spec/support/schemas/community_care_providers.json
  modules/mobile/spec/support/schemas/facility_eligibility.json
  modules/mobile/spec/support/schemas/payment_history.json
Labels: mobile

remove cors
  chart/Chart.yaml
  chart/templates/ingress_route.yaml
  docs/index.yaml
  docs/vets-api-0.9.14.tgz
Labels: console-services-review

update to v3 (#11753)
  .github/workflows/code_checks.yml
Labels: console-services-review

Add distinct to uavc counts job query (#11771)
  app/workers/identity/user_acceptable_verified_credential_counts_job.rb
  spec/jobs/identity/user_acceptable_verified_credential_counts_job_spec.rb
Labels: console-services-review

API 23450 Submit ITF type fix (#11692)
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: none

Chore: Enable sidekiq metrics for datadog (#11778)
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

Remove Unused Feature Flags (#11764)
  app/controllers/v0/preneeds/burial_forms_controller.rb
  app/models/saved_claim/pension.rb
  app/workers/structured_data/process_data_job.rb
  config/features.yml
Labels: console-services-review

Faraday checks (#11779)
  modules/claims_api/app/controllers/claims_api/upstream_faraday_healthcheck_controller.rb
  modules/claims_api/config/routes.rb
Labels: none

[53278] Update COE documentation post-launch. (#11774)
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  app/swagger/swagger/requests/coe.rb
  lib/lgy/service.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

Removed VAOS v0 Routes and Controller Request rspecs (#11763)
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/apidocs_request_spec.rb
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/cc_eligibility_request_spec.rb
  modules/vaos/spec/request/cc_supported_sites_request_spec.rb
  modules/vaos/spec/request/direct_booking_eligiblity_criteria_request_spec.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
  modules/vaos/spec/request/preferences_request_spec.rb
  modules/vaos/spec/request/request_eligibility_criteria_request_spec.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/routing/vaos_routing_spec.rb
Labels: vaos

Add Dockerfile for preview environment deploys (#11757)
  Dockerfile-k8s
  import-va-certs.sh
Labels: console-services-review

remove vets-api dev deploy (#11781)
  Jenkinsfile
Labels: console-services-review

enable sidekiq enterprise historical metrics (#11792)
  config/initializers/sidekiq.rb
Labels: console-services-review

set no longer used VAOS V0 controller and serializers to no code coverage (#11784)
  modules/vaos/app/controllers/vaos/v0/apidocs_controller.rb
  modules/vaos/app/controllers/vaos/v0/appointment_requests_controller.rb
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/app/controllers/vaos/v0/available_appointments_controller.rb
  modules/vaos/app/controllers/vaos/v0/cancel_reasons_controller.rb
  modules/vaos/app/controllers/vaos/v0/cc_eligibility_controller.rb
  modules/vaos/app/controllers/vaos/v0/cc_supported_sites_controller.rb
  modules/vaos/app/controllers/vaos/v0/clinic_institutions_controller.rb
  modules/vaos/app/controllers/vaos/v0/clinics_controller.rb
  modules/vaos/app/controllers/vaos/v0/direct_booking_eligibility_criteria_controller.rb
  modules/vaos/app/controllers/vaos/v0/direct_scheduling_facilities_controller.rb
  modules/vaos/app/controllers/vaos/v0/facilities_controller.rb
  modules/vaos/app/controllers/vaos/v0/limits_controller.rb
  modules/vaos/app/controllers/vaos/v0/messages_controller.rb
  modules/vaos/app/controllers/vaos/v0/pact_controller.rb
  modules/vaos/app/controllers/vaos/v0/preferences_controller.rb
  modules/vaos/app/controllers/vaos/v0/request_eligibility_criteria_controller.rb
  modules/vaos/app/controllers/vaos/v0/systems_controller.rb
  modules/vaos/app/controllers/vaos/v0/visits_controller.rb
  modules/vaos/app/serializers/vaos/v0/appointment_requests_serializer.rb
  modules/vaos/app/serializers/vaos/v0/availability_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cancel_reason_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_appointments_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_eligibility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_supported_sites_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_institution_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_booking_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_scheduling_facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_visit_serializer.rb
  modules/vaos/app/serializers/vaos/v0/limit_serializer.rb
  modules/vaos/app/serializers/vaos/v0/preferences_serializer.rb
  modules/vaos/app/serializers/vaos/v0/request_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_pact_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_serializer.rb
  modules/vaos/app/serializers/vaos/v0/va_appointments_serializer.rb
Labels: vaos

Fix: k8s branch (#11794)
  config/initializers/sidekiq.rb
Labels: console-services-review

Remove Jenkinsfile
  Jenkinsfile
Labels: console-services-review

Mobile: Add documentation for 207 and 502 responses (#11765)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverviewAppealsError.yml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverviewClaimsError.yml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverviewDoubleFailure.yml
Labels: mobile

Chore: Promote sidekiq metrics to higher environment (#11795)
  config/initializers/sidekiq.rb
Labels: console-services-review

Update to Notice of Disagreement PDF v3 (#11786)
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v3/structure.rb
  modules/appeals_api/config/pdfs/10182_v3.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182_minimal.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/structure_spec.rb
Labels: none

clean-up -- remove config/datadog.yaml (#11798)
  config/datadog.yaml
Labels: console-services-review

Chore: Comment out retain_history (#11799)
  config/initializers/sidekiq.rb
Labels: console-services-review

remove appt req messages (#11797)
  modules/mobile/app/controllers/mobile/v0/appointment_request_messages_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/MobileAPI Integration Test Collection.postman_collection.json
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentRequestMessage.yml
  modules/mobile/docs/schemas/AppointmentRequestMessages.yml
  modules/mobile/spec/request/appointment_request_messages_spec.rb
  modules/mobile/spec/support/schemas/appointment_request_messages.json
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages.yml
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages_unparsable.yml
Labels: mobile

Chore: Sidekiq metrics for staging only (#11801)
  config/initializers/sidekiq.rb
Labels: console-services-review

Chore/sidekiq/metrics (#11802)
  config/initializers/sidekiq.rb
Labels: console-services-review

API-23874 Add metadata to appeals tables (#11788)
  db/migrate/20230214001703_add_metadata_to_appeals_tables.rb
  db/schema.rb
Labels: console-services-review

Chore: Enable sidekiq metrics for higher env (#11807)
  config/initializers/sidekiq.rb
Labels: console-services-review

Mhv 39020 thread list api (#11800)
  app/models/message_thread.rb
  lib/sm/client.rb
  lib/sm/middleware/response/sm_parser.rb
  modules/my_health/app/controllers/my_health/v1/threads_controller.rb
  modules/my_health/app/serializers/my_health/v1/threads_serializer.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageThread.yml
  modules/my_health/docs/schemas/SecureMessageThreadList.yml
  modules/my_health/spec/request/v1/threads_request_spec.rb
  spec/support/schemas/message_threads.json
  spec/support/schemas_camelized/message_threads.json
  spec/support/vcr_cassettes/sm_client/threads/gets_threads_in_a_folder.yml
  spec/support/vcr_cassettes/sm_client/threads/gets_threads_in_a_folder_camel.yml
Labels: console-services-review

Chore: Enable sidekiq metrics prod only (#11810)
  config/initializers/sidekiq.rb
Labels: console-services-review

fix: .safe? not used - only true/false
  lib/shrine/plugins/validate_virus_free.rb
Labels: console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']
