Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Removes forced throttling now that we have caught up with moving our HLRv2s from 'success' to 'complete'. (#10062)
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
Labels: none

Add sorting to service history episodes (#10059)
  lib/va_profile/military_personnel/service_history_response.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/requests/service_history_request_spec.rb
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_histories_200.yml
Labels: console-services-review

Make the VAOS V2 swagger file available via HTTP (#10055)
  modules/vaos/app/controllers/vaos/v2/apidocs_controller.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/apidocs_request_spec.rb
Labels: vaos

Update features.yml (#10053)
  config/features.yml
Labels: console-services-review

new refill statuses to docs (#10061)
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
Labels: mobile

API-16751 Fix weekly report totals (#10052)
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_batch.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
Labels: none

API-16003 SC versioned namespace routes (#10047)
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: none

adds flipper feature (#10057)
  config/features.yml
Labels: console-services-review

2970 prescription tracking (#10054)
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescription_tracking_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionTracking.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription_tracking.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_tracking_for_a_prescription.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_tracking_with_empty_other_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/tracking_error_id.yml
Labels: mobile

splits postal/zip codes to retrieve suffixes (#10058)
  Gemfile.lock
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

VACMS-9076: (#10064)
  config/features.yml
Labels: console-services-review

Clean up redundant fields in Provider endpoint (#10066)
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/serializers/vaos/v2/providers_serializer.rb
Labels: vaos

Update specs so that they use mulesoft VCR Cassettes (#10068)
  spec/fixtures/carma/10-10CG_f6056cff-d4cb-4058-8fb0-42296e12698f.pdf
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/mulesoft/addDocument.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
Labels: console-services-review

SA-15063: TOE Letter endpoint (#10033)
  config/features.yml
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/toe/configuration.rb
  modules/meb_api/lib/dgi/toe/service.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/dgi/letters/service_spec.rb
  modules/meb_api/spec/dgi/toe/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/get_toe_letter.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/service_get_eligibility.yml
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

42131 Add debt type indicator to FSR form (#10051)
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

Mobile Direct Schedule: tentative documentation (#10056)
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/ClinicSlots.yml
  modules/mobile/docs/schemas/CreateAppointmentDirect.yml
  modules/mobile/docs/schemas/FacilityClinic.yml
  modules/mobile/docs/schemas/FacilityClinics.yml
  modules/mobile/docs/schemas/Slot.yml
Labels: mobile

mobile: add filtering to boolean rx fields (#10065)
  app/models/prescription.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_a_list_of_all_prescriptions.yml
Labels: mobile, console-services-review

Allow TimeZone for claimDate (#9971)
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

API-16254: 526 homelessness validations (#9947)
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/lib/claims_api/homelessness_risk_situation_type_mapper.rb
  modules/claims_api/spec/lib/claims_api/homelessness_risk_situation_type_mapper_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: none

[API-14300] - ClaimsApi - Email report updates (#10049)
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_submission_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: console-services-review

API-16410: Claims Slackbot updates (#10067)
  config/sidekiq_scheduler.yml
  modules/claims_api/app/workers/claims_api/claim_auditor.rb
Labels: console-services-review

API-16942 - ClaimsApi - Add docs for 526 "separationLocationCode" (#10072)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: none

Only run one NODStatusUpdateBatch across all workers; add SCUploadStatusBatch to schedule (#10073)
  config/sidekiq_scheduler.yml
Labels: console-services-review

Adding second load test host to rack_attack safe list (#10081)
  config/initializers/rack_attack.rb
Labels: console-services-review

Deprecating pre_check_in status set feature flag (#10078)
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

3265 sis application controller (#10071)
  app/controllers/concerns/sign_in/instrumentation.rb
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
Labels: mobile, console-services-review

API-16226 - ClaimsApi - V2 veteran identifier return 201 code (#10085)
  modules/claims_api/app/controllers/claims_api/v2/veteran_identifier_controller.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
Labels: none

42857 enable rails cache for review env (#10082)
  docker-compose.review.yml
Labels: console-services-review

VA Notify #300: Ch31 Email Confirmation Trigger (#10079)
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  config/features.yml
  config/settings.yml
  spec/jobs/vre/submit1900_job_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: console-services-review

[42907] auth_broker attribute for sign_in object (#10076)
  app/models/iam_user_identity.rb
  app/services/sign_in/constants/auth.rb
  app/services/users/profile.rb
  lib/saml/url_service.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/factories/iam_user_identities.rb
  spec/factories/iam_users.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

API-16004 shared schemas route (#10060)
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/shared_schemas/v1/address.json
  modules/appeals_api/config/shared_schemas/v1/date.json
  modules/appeals_api/config/shared_schemas/v1/non_blank_string.json
  modules/appeals_api/config/shared_schemas/v1/phone.json
  modules/appeals_api/config/shared_schemas/v1/timezone.json
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
Labels: none

mobile: remove clinics field from facilities-info (#10093)
  modules/mobile/app/models/mobile/v0/adapters/facility_info.rb
  modules/mobile/app/models/mobile/v0/facility_info.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/FacilityInfo.yml
  modules/mobile/spec/support/schemas/facility_info.json
Labels: mobile

[42312] Adding new classes for sign in service up levelling (#10090)
  app/models/sign_in/credential_level.rb
  app/models/sign_in/state_payload.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/state_payload_jwt_decoder.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  config/initializers/loa.rb
  spec/factories/sign_in/credential_levels.rb
  spec/factories/sign_in/state_payloads.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
Labels: console-services-review

42658 Add initial config for VBS FSR endpoint (#10092)
  lib/debt_management_center/vbs/request.rb
  spec/lib/debt_management_center/vbs/request_spec.rb
Labels: console-services-review

Mobile - add direct schedule clinic endpoint (#10083)
  modules/mobile/app/controllers/mobile/v0/clinics_controller.rb
  modules/mobile/app/serializers/mobile/v0/clinics_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/clinics_request_spec.rb
  modules/mobile/spec/support/schemas/clinic.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_facility_id_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_service_400.yml
Labels: mobile

mobile: va eligibility: add a couple of missed types of service (#10104)
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

[42312] Adding the ability to uplevel authentications with the sign in service (#10091)
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/constants/access_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  config/redis.yml
  config/routes.rb
  config/settings.yml
  lib/inherited_proofing/jwt_decoder.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/lib/inherited_proofing/jwt_decoder_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

[10094] Add ability to retrieve Account record from UserAccount uuid (#10097)
  app/models/account.rb
  rakelib/form526.rake
  spec/models/account_spec.rb
Labels: console-services-review

[10098] Adding logout route for sign in service (#10099)
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/constants/statsd.rb
  app/services/sign_in/session_revoker.rb
  config/initializers/statsd.rb
  config/routes.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/services/sign_in/session_revoker_spec.rb
Labels: console-services-review

replace id with uuid so code plays nice with base user model (#10103)
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
Labels: mobile
