Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, tools-be-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add tools-be-review label to any change not within the modules directory
tools-be-review:
  - any: ['!modules/**/*']

Differentiate between v1 and v2 header fixtures
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/fixtures/valid_200996_headers_v2.json
Labels: none

Add description to conference rep swagger docs
  modules/appeals_api/config/schemas/v2/200996.json
Labels: none

add my email to admin_user_emails for #25817
  config/settings.yml
Labels: tools-be-review

updated the v2 get appointments call to accept statuses query param
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200.yml
Labels: vaos, tools-be-review

update rubocop_todo.yml
  .rubocop_todo.yml
Labels: tools-be-review

Initial code
  modules/va_forms/app/workers/va_forms/form_reloader.rb
Labels: none

Rubocop
  modules/va_forms/app/workers/va_forms/form_reloader.rb
Labels: none
