Repository department-of-veterans-affairs/vets-api, changes with the labels that .github/labeler.yml gives for each.
All labels: mobile, vaos, console-services-review

.github/labeler.yml:

# Add mobile label to any change within the modules/mobile directory
mobile:
  - any: ['modules/mobile/**/*']
  
# Add vaos label to any change within the modules/vaos directory
vaos:
  - any: ['modules/vaos/**/*']

# Add console-services-review label to any change not within the modules directory
console-services-review:
  - any: ['!modules/**/*']

Remove spring (#11812)
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/rspec
  bin/spring
  config/settings/development.yml
  docs/setup/betamocks.md
  spec/spec_helper.rb
Labels: console-services-review

MHV-41222: Move thread api unit test working (#11813)
  modules/my_health/spec/request/v1/threads_request_spec.rb
  spec/support/vcr_cassettes/sm_client/threads/moves_a_thread_with_id.yml
Labels: console-services-review

Adjusts logic for homelessness situation - other (#11817)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
Labels: none

Adds 'established' to docs for v1 526 attachments service (#11818)
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/forms/disability/attachments.json
Labels: console-services-review

fix typo (#11820)
  modules/claims_api/app/controllers/claims_api/upstream_faraday_healthcheck_controller.rb
Labels: none

Api 23988 treatment ctr name (#11772)
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: none

add logging (#11821)
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
Labels: mobile

Add sidekiq mapper settings to datadog.rb (#11826)
  config/initializers/datadog.rb
  config/initializers/sidekiq.rb
Labels: console-services-review

Mobile: Make user direct deposit check error capture more generic (#11809)
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/payment_information/service_error_500.yml
  modules/mobile/spec/support/vcr_cassettes/payment_information/service_error_502.yml
Labels: mobile

Revert "Add sidekiq mapper settings to datadog.rb (#11826)" (#11828)
  config/initializers/datadog.rb
  config/initializers/sidekiq.rb
Labels: console-services-review

Remove RRD-to-MAS feature toggles (#11827)
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

Lighthouse CCG Service (#11805)
  lib/lighthouse/auth/client_credentials/configuration.rb
  lib/lighthouse/auth/client_credentials/service.rb
  spec/lib/lighthouse/auth/client_credentials/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/invalid_assertion_401.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/invalid_client_id_400.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/invalid_scopes_400.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/token_200.yml
Labels: console-services-review

53166 return 404 when CHIP returns 404 for refresh-precheckin (#11785)
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/check_in/check_in_404.yml
  spec/support/vcr_cassettes/check_in/chip/pre_check_in/pre_check_in_404.yml
  spec/support/vcr_cassettes/check_in/chip/refresh_pre_check_in/refresh_pre_check_in_404.yml
  spec/support/vcr_cassettes/check_in/chip/set_precheckin_started/set_precheckin_started_404.yml
Labels: console-services-review

[Letters] Add ability to mock EVSS letter generator PDF downloads (#11775)
  config/betamocks/services_config.yml
  lib/evss/letters/download_configuration.rb
Labels: console-services-review

add logging (#11834)
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
Labels: mobile

Add lighthouse Pundit policy (#11830)
  app/policies/lighthouse_policy.rb
  app/services/users/services.rb
  lib/.DS_Store
  lib/backend_services.rb
  spec/policies/coe_policy_spec.rb
  spec/policies/lighthouse_policy_spec.rb
  spec/requests/user_request_spec.rb
  spec/services/users/services_spec.rb
Labels: console-services-review

Add unit tests to DDL feature (#11410)
  lib/claim_letters/claim_letter_downloader.rb
  spec/controllers/v0/claim_letters_controller_spec.rb
  spec/fixtures/claim_letter/claim_letter_list.json
  spec/lib/claim_letters/claim_letter_downloader_spec.rb
Labels: console-services-review

API-23078: Add Support for `X-VA-ICN` Header to Contestable Issues Endpoints (#11796)
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/contestable_issues_headers.json
  modules/appeals_api/config/schemas/v2/contestable_issues_headers_with_shared_refs.json
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: console-services-review

API-24296: Add Support for `X-VA-ICN` Header to Legacy Appeals Endpoints (#11811)
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/config/schemas/v2/legacy_appeals_headers.json
  modules/appeals_api/config/schemas/v2/legacy_appeals_headers_with_shared_refs.json
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
Labels: console-services-review

fix docker-compose for local dev
  Makefile
Labels: console-services-review

Bumping json schema (#11835)
  Gemfile.lock
  app/swagger/swagger/v1/schemas/appeals/supplemental_claims.rb
Labels: console-services-review

enable faraday connection to bgs (#11842)
  config/features.yml
Labels: console-services-review

Enable dogstatds for all env (#11845)
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

Remove vets-api staging worker jennkins build (#11846)
  Jenkinsfile
Labels: console-services-review

Upgrade clamav to 1.0.1 using sid repo (#11844)
  Dockerfile
Labels: console-services-review

fix dockerfile
  Dockerfile
Labels: console-services-review

Clean up 1010 Health Apps team features (#11791)
  config/features.yml
Labels: console-services-review

Added mbs_preneed_change_va_4010007 feature flag to backend (#11806)
  config/features.yml
Labels: console-services-review

Implemented sidekiq hpa (#11856)
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/vets-api-0.10.0.tgz
Labels: console-services-review

Push new chart
  docs/index.yaml
Labels: console-services-review

Implement sidekiq hpa external metric
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.1.tgz
Labels: console-services-review

update query format
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  doccs
  docs/index.yaml
Labels: console-services-review

repackaed chart
  doccs
  docs/index.yaml
  docs/vets-api-0.10.2.tgz
Labels: console-services-review

Remove if statement
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.3.tgz
Labels: console-services-review

added sidekiq hpa query
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.4.tgz
Labels: console-services-review

(feature) added new feature toggle (#11833)
  config/features.yml
Labels: console-services-review

added eks
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.5.tgz
Labels: console-services-review

Set query to count
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.6.tgz
Labels: console-services-review

Fix clam specs and update scanning dir (#11855)
  .rubocop.yml
  app/uploaders/uploader_virus_scan.rb
  lib/shrine/plugins/validate_virus_free.rb
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
  spec/models/persistent_attachments/dependency_claim_spec.rb
  spec/models/persistent_attachments/lgy_claim_spec.rb
  spec/models/persistent_attachments/pension_burial_spec.rb
  spec/requests/claim_documents_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
  spec/support/uploader_helpers.rb
  spec/uploaders/uploader_virus_scan_spec.rb
Labels: console-services-review

set up external metric
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  docs/index.yaml
  docs/vets-api-0.10.7.tgz
Labels: console-services-review
