Repository department-of-veterans-affairs/vets-api, pull requests merged in 2018-07, with the labels that each got.

#1933 Bypass instructions for sidekiq enterprise
  README.md
Labels: in progress

#2058 Add endpoint for sns http notifications from s3
  config/locales/exceptions.en.yml
  config/settings.yml
  lib/common/exceptions/internal/message_authenticity_error.rb
  modules/vba_documents/app/controllers/vba_documents/internal/v0/upload_complete_controller.rb
  modules/vba_documents/app/workers/vba_documents/upload_scanner.rb
  modules/vba_documents/config/routes.rb
  modules/vba_documents/spec/jobs/upload_scanner_spec.rb
  modules/vba_documents/spec/request/upload_complete_request_spec.rb
Labels: in progress

#2079 Ensure cleanup is performed even if coverage/ dir doesnt exist
  Jenkinsfile
Labels: in progress

#2095 Aligns military type with Vet360’s return type
  lib/vet360/models/address.rb
Labels: dragons, in progress

#2090 StatsD reporting on Vet360 exception error keys
  config/initializers/statsd.rb
  lib/vet360/service.rb
  lib/vet360/stats.rb
  spec/lib/vet360/service_spec.rb
  spec/lib/vet360/stats_spec.rb
Labels: dragons, in progress

#2099 update nokogiri
  Gemfile.lock
  rakelib/security.rake
Labels: in progress

#2091 use beta registration for v360 prefill
  app/models/form_profile.rb
  app/models/form_profiles/va1990.rb
  config/routes.rb
  spec/models/form_profile_spec.rb
Labels: in progress

#2100 Resolve the MVI cache invalidation issue for Vet360 initializations
  app/controllers/v0/profile/persons_controller.rb
Labels: in progress

#2098 Map Spectrum error codes
  config/locales/exceptions.en.yml
Labels: in progress

#2093 adding the ability to load/reload state cemeteries from static file
  app/workers/facilities/facility_location_download_job.rb
  app/workers/facilities/state_cemetery_reload_job.rb
  lib/facilities/cemetery_data/cems.xml
  rakelib/jobs.rake
  spec/jobs/facilities/state_cemetery_reload_job_spec.rb
Labels: facility locator, in progress

#2102 remove cve ignore that is no longer needed
  rakelib/security.rake
Labels: in progress

#2097 Begin off-board process for Ryan Baker
  app/mailers/failed_claims_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/failed_claims_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: in progress

#2096 log EVSS_10021 error as warning
  lib/evss/claims_service.rb
Labels: in progress

#2101 Add service info transform
  lib/evss/disability_compensation_form/data_translation.rb
  spec/request/disability_compensation_form_request_spec.rb
  spec/support/disability_compensation_form/evss_submission.json
  spec/support/disability_compensation_form/front_end_submission.json
Labels: in progress

#2110 Removed VET360_ADDRVAL104
  config/locales/exceptions.en.yml
Labels: in progress

#2112 prepend va_eauth to gender header
  lib/evss/disability_compensation_auth_headers.rb
  spec/lib/evss/disability_compensation_auth_headers_spec.rb
Labels: in progress

#2114 fixes 526 submit validation error handling
  lib/evss/disability_compensation_form/service_exception.rb
  spec/request/disability_compensation_form_request_spec.rb
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_400.yml
Labels: in progress

#2108 Add reserves guard to prefill
  app/models/emis_redis/military_information.rb
  app/models/form_profile.rb
  config/form_profile_mappings/21-526EZ.yml
  spec/models/emis_redis/military_information_spec.rb
  spec/models/form_profile_spec.rb
  spec/support/vcr_cassettes/emis/get_guard_reserve_service_periods/valid_no_end_date.yml
Labels: in progress

#2118 add temp 526 debug header logging
  lib/evss/disability_compensation_auth_headers.rb
  lib/evss/service.rb
Labels: in progress

#2104 11369 emis error tracking
  app/controllers/v0/profile/service_histories_controller.rb
  app/policies/emis_policy.rb
  config/initializers/statsd.rb
  lib/emis/service.rb
  spec/policies/emis_policy_spec.rb
  spec/request/service_history_request_spec.rb
Labels: dragons, in progress

#2113 remove beta registration for vets360 prefill
  app/models/form_profile.rb
  app/models/form_profiles/va1990.rb
  config/routes.rb
  spec/models/form_profile_spec.rb
Labels: in progress

#2119 add missing require_relative
  lib/evss/disability_compensation_form/service.rb
Labels: in progress

#2120 Update 526 logging
  lib/evss/disability_compensation_auth_headers.rb
  lib/evss/service.rb
Labels: in progress

#2109 fix query to include nulls; add specs to cover bug
  app/workers/facilities/facility_location_download_job.rb
  spec/jobs/facilities/facility_location_download_job_spec.rb
Labels: facility locator, in progress

#2117 Add eMIS properties to the user serializer for veteran status
  app/models/emis_redis/veteran_status.rb
  app/models/user.rb
  app/serializers/user_serializer.rb
  app/swagger/requests/user.rb
  spec/serializers/user_serializer_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/stub_emis.rb
Labels: dragons, in progress

#2121 move gender to authorization hash
  lib/evss/disability_compensation_auth_headers.rb
  lib/evss/disability_compensation_form/service.rb
  lib/evss/service.rb
  spec/lib/evss/disability_compensation_auth_headers_spec.rb
Labels: in progress

#2122 remove the itf type error check
  lib/evss/intent_to_file/intent_to_file.rb
Labels: in progress

#2123 Update Reserve flag to be Reserves
  app/models/emis_redis/military_information.rb
  spec/models/emis_redis/military_information_spec.rb
Labels: in progress

#2105 9614 incorporate scheduling data for vha fl
  app/models/base_facility.rb
  lib/common/client/middleware/response/facility_parser.rb
  spec/lib/facilities/vha_facility_spec.rb
  spec/support/vcr_cassettes/facilities/va/vha_facilities_limit_results.yml
Labels: facility locator, griffin, in progress

#2116 Pass region argument to client instead of confirm method
  modules/vba_documents/app/controllers/vba_documents/internal/v0/upload_complete_controller.rb
  modules/vba_documents/spec/request/upload_complete_request_spec.rb
Labels: in progress

#2043 GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: in progress

#2107 Log forms from HCA validation errors to database
  app/models/personal_information_log.rb
  app/workers/delete_old_pii_logs_job.rb
  app/workers/hca/submission_job.rb
  config/sidekiq_scheduler.yml
  db/migrate/20180709214011_create_personal_information_logs_table.rb
  db/schema.rb
  spec/factories/personal_information_log.rb
  spec/jobs/delete_old_pii_logs_job_spec.rb
  spec/jobs/hca/submission_job_spec.rb
  spec/workers/delete_old_pii_logs_job_spec.rb
Labels: in progress

#2089 Add form 22-0993 (Opt-Out)
  Gemfile.lock
  app/models/education_benefits_claim.rb
  app/models/form_profile.rb
  app/models/form_profiles/va0993.rb
  app/models/saved_claim/education_benefits/va0993.rb
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/create_daily_year_to_date_report.rb
  app/workers/education_form/education_facility.rb
  app/workers/education_form/forms/base.rb
  app/workers/education_form/forms/va0993.rb
  app/workers/education_form/forms/va1990e.rb
  app/workers/education_form/forms/va1990n.rb
  app/workers/education_form/templates/0993.erb
  app/workers/education_form/templates/header.erb
  config/form_profile_mappings/22-0993.yml
  lib/sftp_writer/remote.rb
  spec/factories/va0993.rb
  spec/fixtures/education_benefits_claims/0993/ssn.json
  spec/fixtures/education_benefits_claims/0993/ssn.spl
  spec/fixtures/education_benefits_claims/0993/va_file_number.json
  spec/fixtures/education_benefits_claims/0993/va_file_number.spl
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/jobs/education_form/forms/va0993_spec.rb
  spec/models/education_benefits_claim_spec.rb
  spec/models/education_benefits_submission_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/saved_claims/education_benefits/va0993_spec.rb
Labels: in progress

#2071 Add consumer id to upload submission
  db/schema.rb
  modules/vba_documents/db/migrate/20180626141145_add_consumer_id_to_upload_submission.rb
Labels: in progress

#2067 iHub Appointments
  config/initializers/inflections.rb
  config/settings.yml
  lib/ihub/appointments/configuration.rb
  lib/ihub/appointments/response.rb
  lib/ihub/appointments/service.rb
  lib/ihub/configuration.rb
  lib/ihub/service.rb
  spec/lib/ihub/appointments/service_spec.rb
  spec/spec_helper.rb
  spec/support/vcr_cassettes/ihub/appointments/success.yml
Labels: dragons, in progress

#2103 add json validation to appeals response
  lib/appeals/responses/appeals.rb
  lib/appeals/schema/appeals.json
  lib/appeals/schema/appeals_alert.json
  lib/appeals/schema/appeals_event.json
  lib/appeals/schema/appeals_evidence.json
  lib/appeals/schema/appeals_issue.json
  lib/appeals/schema/appeals_status.json
  spec/request/appeals_request_spec.rb
  spec/support/vcr_cassettes/appeals/invalid_body.yml
Labels: in progress

#2148 Updates iHub config
  config/settings.yml
  lib/ihub/appointments/configuration.rb
  lib/ihub/appointments/service.rb
  spec/lib/ihub/appointments/service_spec.rb
  spec/support/vcr_cassettes/ihub/appointments/success.yml
Labels: dragons

#2094 Check file parts are less than 100MB
  modules/vba_documents/README.yml
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
Labels: in progress

#2147 Scopes EDIPI presence counter to service history endpoint
  app/controllers/v0/profile/service_histories_controller.rb
  app/policies/emis_policy.rb
  spec/policies/emis_policy_spec.rb
  spec/request/service_history_request_spec.rb
Labels: dragons

#2141 Iteration of the GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: dragons

#2160 updating data after feedback from our POC
  lib/facilities/cemetery_data/cems.xml
Labels: facility locator
