Repository department-of-veterans-affairs/vets-api, pull requests merged in 2018-08, with the labels that each got.

#2166 11756 ihub appointments endpoint
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/appointments_controller.rb
  app/serializers/appointment_serializer.rb
  app/swagger/requests/appointments.rb
  config/locales/exceptions.en.yml
  config/routes.rb
  lib/ihub/appointments/response.rb
  lib/ihub/appointments/service.rb
  lib/ihub/models/appointment.rb
  lib/ihub/models/base.rb
  spec/lib/ihub/appointments/service_spec.rb
  spec/request/appointments_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/appointments_response.json
  spec/support/vcr_cassettes/ihub/appointments/error_occurred.yml
  spec/support/vcr_cassettes/ihub/appointments/simple_success.yml
Labels: dragons

#2080 MHV Upgrade Launch
  app/controllers/v0/mhv_accounts_controller.rb
  app/models/mhv_account.rb
  app/models/user.rb
  app/policies/mhv_account_creation_policy.rb
  app/policies/mhv_prescriptions_policy.rb
  app/serializers/mhv_account_serializer.rb
  app/serializers/user_serializer.rb
  app/services/mhv_account_type_service.rb
  app/services/mhv_accounts_service.rb
  config/routes.rb
  config/settings.yml
  lib/mvi/models/mvi_profile.rb
  lib/mvi/responses/profile_parser.rb
  spec/factories/mhv_accounts.rb
  spec/factories/mvi_profiles.rb
  spec/lib/mvi/responses/profile_parser_spec.rb
  spec/models/mhv_account_spec.rb
  spec/models/user_spec.rb
  spec/request/mhv_accounts_request_spec.rb
  spec/request/user_request_spec.rb
  spec/serializers/user_serializer_spec.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/services/mhv_accounts_service_spec.rb
  spec/support/mvi/find_candidate_multiple_mhv_response.xml
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/vcr_cassettes/complex_interaction/internal_interactions.yml
Labels: griffin, identity, in progress

#2181 add guard clause to deletes workflow
  app/workers/facilities/facility_location_download_job.rb
  spec/jobs/facilities/facility_location_download_job_spec.rb
Labels: facility locator

#2189 adding dental services to health
  app/models/base_facility.rb
Labels: facility locator

#2205 #11565 remove vet360 simplecov and add spec coverage
  spec/lib/vet360/reference_data/configuration_spec.rb
  spec/lib/vet360/reference_data/service_spec.rb
  spec/lib/vet360/service_spec.rb
  spec/rakelib/vet360_spec.rb
  spec/spec_helper.rb
  spec/support/vcr_cassettes/vet360/reference_data/countries_error.yml
  spec/support/vcr_cassettes/vet360/reference_data/states_error.yml
  spec/support/vcr_cassettes/vet360/reference_data/zipcodes_error.yml
Labels: in progress

#2076 posting ineligible states to statsd with redis for state
  app/models/mhv_account.rb
  app/models/mhv_account_ineligible.rb
  config/redis.yml
  spec/models/mhv_account_spec.rb
Labels: in progress

#2230 Creates an Account record on user login
  app/controllers/concerns/accountable.rb
  app/controllers/v0/sessions_controller.rb
  config/settings.yml
  config/settings/test.yml
  spec/controllers/v0/sessions_controller_spec.rb
  spec/spec_helper.rb
Labels: dragons
