Repository department-of-veterans-affairs/vets-api, pull requests merged in 2018-09, with the labels that each got.

#2259 Form 5490: Fix disclaimer text on spool files
  app/workers/education_form/templates/5490.erb
  spec/factories/va5490.rb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.json
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.json
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.spl
  spec/jobs/education_form/forms/va5490_spec.rb
Labels: rainbows

#2258 WIP 12410 build preferences database and models
  app/models/account.rb
  app/models/preference.rb
  app/models/preference_choice.rb
  app/models/user_preference.rb
  db/migrate/20180905172335_create_preferences.rb
  db/migrate/20180905173759_create_preference_choices.rb
  db/migrate/20180905174728_create_user_preferences.rb
  db/migrate/20180905180210_add_indexes_to_preferences.rb
  db/schema.rb
  spec/factories/preference_choices.rb
  spec/factories/preferences.rb
  spec/factories/user_preferences.rb
  spec/models/preference_choice_spec.rb
  spec/models/preference_spec.rb
  spec/models/user_preference_spec.rb
Labels: dragons

#2255 12533 Cache the account_uuid in redis
  app/controllers/concerns/accountable.rb
  app/models/account.rb
  config/redis.yml
  config/settings/development.yml
  lib/common/models/concerns/active_record_cache_aside.rb
  lib/common/models/concerns/cache_aside.rb
  spec/lib/common/models/concerns/active_record_cache_aside_spec.rb
  spec/models/account_spec.rb
Labels: dragons

#2272 Env var for secure storage & reference of access key/value
  config/settings.yml
Labels: dragons

#2278 Add Search::Results::Service object
  config/locales/exceptions.en.yml
  config/settings.yml
  config/settings/test.yml
  lib/search/configuration.rb
  lib/search/response.rb
  lib/search/service.rb
  spec/lib/search/configuration_spec.rb
  spec/lib/search/service_spec.rb
  spec/spec_helper.rb
  spec/support/vcr_cassettes/search/empty_query.yml
  spec/support/vcr_cassettes/search/invalid_access_key.yml
  spec/support/vcr_cassettes/search/invalid_affiliate.yml
  spec/support/vcr_cassettes/search/success.yml
Labels: dragons

#1853 Point to Devops configs in README.md
  README.md
Labels: in progress

#2072 Always log consumer_id and consumer_name in the same format
  config/environments/production.rb
  modules/appeals_api/app/controllers/appeals_api/v0/appeals_controller.rb
  modules/appeals_api/spec/requests/appeals_request_spec.rb
  modules/vba_documents/app/controllers/vba_documents/v0/uploads_controller.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/models/upload_submission_spec.rb
  modules/vba_documents/spec/request/uploads_request_spec.rb
Labels: in progress

#2282 12694 search endpoint
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/search_controller.rb
  app/serializers/search_serializer.rb
  app/swagger/requests/search.rb
  config/routes.rb
  config/settings/test.yml
  spec/request/search_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/search.json
Labels: dragons

#2290 13353 Builds class to deliver page load metrics to StatsD
  lib/benchmark/performance.rb
  lib/benchmark/whitelist.rb
  spec/lib/benchmark/performance_spec.rb
  spec/lib/benchmark/whitelist_spec.rb
Labels: dragons

#2295 13352 performance monitoring endpoint
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/performance_monitorings_controller.rb
  app/serializers/performance_monitoring_serializer.rb
  app/swagger/requests/performance_monitoring.rb
  config/routes.rb
  spec/request/performance_monitorings_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/performance_monitoring.json
Labels: dragons
