Repository department-of-veterans-affairs/vets-api, pull requests merged in 2018-04, with the labels that each got.

#1813 user must have edipi for emis
  app/policies/emis_policy.rb
  spec/models/user_spec.rb
Labels: in progress

#1805 using raw_get_params in the only instance of get_params found
  app/controllers/v0/sessions_controller.rb
Labels: in progress

#1808 don't log timeout errors twice
  lib/common/client/base.rb
  spec/lib/evss/letters/service_spec.rb
  spec/lib/mvi/service_spec.rb
Labels: in progress

#1804 use Raven.extra_context for soap errors
  lib/common/client/middleware/response/soap_parser.rb
  spec/lib/common/client/middleware/response/soap_response_spec.rb
Labels: in progress

#1817 Parse and expose Vet360 from MVI service
  app/models/mvi.rb
  app/models/user.rb
  lib/mvi/models/mvi_profile.rb
  lib/mvi/responses/id_parser.rb
  lib/mvi/responses/profile_parser.rb
  spec/factories/mvi_profiles.rb
  spec/lib/mvi/responses/profile_parser_spec.rb
  spec/lib/mvi/service_spec.rb
  spec/models/mvi_spec.rb
  spec/models/user_spec.rb
  spec/support/mvi/find_candidate_response.xml
  spec/support/vcr_cassettes/mvi/find_candidate/valid_vet360_id.yml
Labels: in progress

#1822 Update swagger-ui instructions
  app/swagger/readme.md
Labels: in progress

#1823 First pass at some swagger endpoint organization
  app/controllers/v0/apidocs_controller.rb
  app/swagger/requests/address.rb
  app/swagger/requests/appeals.rb
  app/swagger/requests/backend_statuses.rb
  app/swagger/requests/bb/health_records.rb
  app/swagger/requests/burial_claims.rb
  app/swagger/requests/education_benefits_claims.rb
  app/swagger/requests/feedbacks.rb
  app/swagger/requests/gibct/calculator_constants.rb
  app/swagger/requests/gibct/institutions.rb
  app/swagger/requests/health_care_applications.rb
  app/swagger/requests/in_progress_forms.rb
  app/swagger/requests/letters.rb
  app/swagger/requests/maintenance_windows.rb
  app/swagger/requests/messages/folders.rb
  app/swagger/requests/messages/message_drafts.rb
  app/swagger/requests/messages/messages.rb
  app/swagger/requests/messages/triage_teams.rb
  app/swagger/requests/pension_claims.rb
  app/swagger/requests/post911_gi_bill_statuses.rb
  app/swagger/requests/prescriptions/trackings.rb
Labels: in progress

#1809 Improve Sentry logging for HCA errors
  app/controllers/v0/health_care_applications_controller.rb
  lib/hca/service.rb
  lib/sentry_logging.rb
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/jobs/facilities/access_data_download_spec.rb
  spec/jobs/maintenance/poll_pagerduty_spec.rb
  spec/lib/bb/client_spec.rb
  spec/lib/hca/service_spec.rb
  spec/lib/mvi/responses/profile_parser_spec.rb
  spec/lib/sentry_logging_spec_helper.rb
  spec/request/health_care_applications_request_spec.rb
  spec/services/mhv_account_type_service_spec.rb
Labels: in progress

#1821 Sentry ignored error
  config/initializers/raven.rb
  lib/evss/claims_service.rb
  lib/evss/documents_service.rb
  lib/sentry/ignored_error.rb
  lib/sentry/rescue_evss_errors.rb
  rakelib/connectivity.rake
  spec/lib/evss/claims_service_spec.rb
  spec/lib/evss/documents_service_spec.rb
  spec/support/vcr_cassettes/evss/claims/claims_with_errors.yml
  spec/support/vcr_cassettes/evss/documents/upload_with_errors.yml
Labels: in progress

#1825 Pension submission change
  app/controllers/claims_base_controller.rb
  app/models/central_mail_claim.rb
  app/models/central_mail_submission.rb
  app/models/saved_claim/burial.rb
  app/models/saved_claim/pension.rb
  app/serializers/central_mail_submission_serializer.rb
  app/workers/submit_saved_claim_job.rb
  config/routes.rb
  db/migrate/20180404214912_add_state_to_saved_claims.rb
  db/migrate/20180404230656_add_guid_index_to_saved_claims.rb
  db/schema.rb
  lib/pension_burial/service.rb
  spec/controllers/v0/burial_claims_controller_spec.rb
  spec/jobs/submit_saved_claim_job_spec.rb
Labels: in progress

#1801 move Facility locator back to v0/ path, replicate vbeta/ temporarily via routes
  app/controllers/v0/facilities/va_controller.rb
  app/controllers/vbeta/facilities/va_controller.rb
  app/models/base_facility.rb
  app/models/nca_facility_adapter.rb
  app/models/va_facility.rb
  app/models/vba_facility_adapter.rb
  app/models/vc_facility_adapter.rb
  app/models/vha_facility_adapter.rb
  config/routes.rb
  lib/facilities/async_client.rb
  lib/facilities/multi_client.rb
  rakelib/connectivity.rake
  spec/models/base_facility_spec.rb
  spec/models/nca_facility_adapter_spec.rb
  spec/models/va_facility_spec.rb
  spec/models/vha_facility_adapter_spec.rb
  spec/request/swagger_spec.rb
  spec/request/va_facilities_request_spec.rb
  spec/request/va_facilities_vbeta_request_spec.rb
Labels: in progress

#1827 Corrected logic for user object flag indicating terms acceptance.
  app/serializers/user_serializer.rb
  spec/request/swagger_spec.rb
  spec/request/user_request_spec.rb
  spec/serializers/user_serializer_spec.rb
Labels: griffin, health consent, identity

#1834 remove reference to old vbeta routes
  config/routes.rb
Labels: in progress

#1833 7211 mvi monitoring
  config/initializers/statsd.rb
  lib/mvi/service.rb
  spec/lib/mvi/service_spec.rb
Labels: in progress

#1837 pension burial metadata changes
  Gemfile.lock
  app/workers/submit_saved_claim_job.rb
  lib/pdf_fill/filler.rb
  lib/pension_burial/service.rb
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-527EZ/overflow.pdf
  spec/fixtures/pdf_fill/21P-527EZ/simple.json
  spec/fixtures/pdf_fill/21P-527EZ/simple.pdf
  spec/fixtures/pdf_fill/21P-530/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-530/overflow.json
  spec/fixtures/pdf_fill/21P-530/overflow.pdf
  spec/fixtures/pdf_fill/21P-530/overflow_extras.pdf
  spec/fixtures/pdf_fill/21P-530/simple.json
  spec/fixtures/pdf_fill/21P-530/simple.pdf
  spec/jobs/education_form/create_daily_spool_files_spec.rb
Labels: in progress

#1844 Pension burial statsd
  lib/pension_burial/service.rb
  spec/lib/pension_burial/service_spec.rb
Labels: in progress

#1843 Add endpoint for unenrolling from beta
  app/controllers/v0/beta_registrations_controller.rb
  config/routes.rb
  spec/controllers/v0/beta_registrations_controller_spec.rb
Labels: in progress

#1838 Facility Locator: stop using common collection to wrap result set
  app/controllers/v0/facilities/va_controller.rb
  app/models/base_facility.rb
  spec/models/base_facility_spec.rb
Labels: in progress

#1835 Ensure in progress form deletion
  app/controllers/application_controller.rb
  app/controllers/claims_base_controller.rb
  app/controllers/v0/education_benefits_claims_controller.rb
  spec/controllers/v0/burial_claims_controller_spec.rb
  spec/controllers/v0/education_benefits_claims_controller_spec.rb
  spec/controllers/v0/pension_claims_controller_spec.rb
  spec/controllers/v0/vic/vic_submissions_controller_spec.rb
  spec/support/controller_spec_helper.rb
Labels: in progress

#1846 change saved claim confirmation code to just be the uuid
  app/models/saved_claim.rb
  app/models/saved_claim/burial.rb
  app/models/saved_claim/pension.rb
  spec/lib/saved_claims_spec_helper.rb
Labels: in progress

#1849 remove unused saved_claim code
  app/models/saved_claim.rb
  app/models/saved_claim/burial.rb
  app/models/saved_claim/education_benefits/va1990.rb
  app/models/saved_claim/education_benefits/va1990e.rb
  app/models/saved_claim/education_benefits/va1990n.rb
  app/models/saved_claim/education_benefits/va1995.rb
  app/models/saved_claim/education_benefits/va5490.rb
  app/models/saved_claim/education_benefits/va5495.rb
  app/models/saved_claim/pension.rb
Labels: in progress

#1774 526 form service
  config/locales/exceptions.en.yml
  config/settings/development.yml
  lib/evss/disability_compensation_auth_headers.rb
  lib/evss/disability_compensation_form/configuration.rb
  lib/evss/disability_compensation_form/form_submit_response.rb
  lib/evss/disability_compensation_form/rated_disabilities.rb
  lib/evss/disability_compensation_form/rated_disabilities_response.rb
  lib/evss/disability_compensation_form/service.rb
  lib/evss/disability_compensation_form/service_exception.rb
  lib/evss/disability_compensation_form/special_issue.rb
  lib/evss/letters/service_exception.rb
  lib/evss/service_exception.rb
  spec/factories/users.rb
  spec/lib/evss/disability_compensation_auth_headers_spec.rb
  spec/lib/evss/disability_compensation_form/service_spec.rb
  spec/support/disability_compensation_submit_data.json
  spec/support/vcr_cassettes/evss/disability_compensation_form/rated_disabilities.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_form.yml
Labels: in progress

#1848 add missing indexes to persistent_attachments
  db/migrate/20180414001259_persistent_attachment_indexes.rb
  db/schema.rb
Labels: in progress

#1851 9848 intent to file service
  config/locales/exceptions.en.yml
  lib/evss/intent_to_file/configuration.rb
  lib/evss/intent_to_file/intent_to_file.rb
  lib/evss/intent_to_file/intent_to_file_response.rb
  lib/evss/intent_to_file/intent_to_files_response.rb
  lib/evss/intent_to_file/service.rb
  lib/evss/intent_to_file/service_exception.rb
  spec/lib/evss/intent_to_file/service_spec.rb
  spec/support/vcr_cassettes/evss/intent_to_file/active_compensation.yml
  spec/support/vcr_cassettes/evss/intent_to_file/active_compensation_partner_service_invalid.yml
  spec/support/vcr_cassettes/evss/intent_to_file/create_compensation.yml
  spec/support/vcr_cassettes/evss/intent_to_file/create_compensation_403.yml
  spec/support/vcr_cassettes/evss/intent_to_file/create_compensation_partner_service_error.yml
  spec/support/vcr_cassettes/evss/intent_to_file/create_compensation_type_error.yml
  spec/support/vcr_cassettes/evss/intent_to_file/intent_to_file.yml
  spec/support/vcr_cassettes/evss/intent_to_file/intent_to_file_service_error.yml
Labels: in progress

#1856 Adds sentry logging to debug controller issue
  app/controllers/v0/profile/personal_informations_controller.rb
Labels: dragons, in progress

#1852 delete old saved claims job
  .rubocop.yml
  app/models/persistent_attachments/pension_burial.rb
  app/models/saved_claim.rb
  app/workers/central_mail/delete_old_claims.rb
  app/workers/central_mail/submit_saved_claim_job.rb
  app/workers/submit_saved_claim_job.rb
  config/sidekiq_scheduler.yml
  db/migrate/20180416231107_add_delete_claims_indexes_to_saved_claims.rb
  db/schema.rb
  spec/jobs/central_mail/delete_old_claims_spec.rb
  spec/jobs/central_mail/submit_saved_claim_job_spec.rb
  spec/lib/saved_claims_spec_helper.rb
  spec/models/persistent_attachments/pension_burial_spec.rb
  spec/models/saved_claims/pension_spec.rb
Labels: in progress

#1860 delete migration that references class that no longer exists.
  db/migrate/20171017181144_persistent_attachments_name_change.rb
Labels: in progress

#1847 9772 postput emails
  config/locales/exceptions.en.yml
  lib/vet360/contact_information/async_response.rb
  lib/vet360/contact_information/service.rb
  lib/vet360/models/email.rb
  lib/vet360/models/transaction.rb
  lib/vet360/service.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/support/vcr_cassettes/vet360/contact_information/post_email_duplicate_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_email_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_email_w_id_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/put_email_success.yml
Labels: in progress

#1858 evss doc upload error
  app/controllers/v0/documents_controller.rb
  app/models/evss_claim_document.rb
  app/services/evss_claim_service.rb
  app/uploaders/evss_claim_document_uploader.rb
  app/workers/evss/document_upload.rb
  spec/uploaders/evss_claim_document_uploader_spec.rb
Labels: in progress

#1826 ppiu service
  config/locales/exceptions.en.yml
  lib/evss/disability_compensation_form/service_exception.rb
  lib/evss/gi_bill_status/external_service_unavailable.rb
  lib/evss/letters/service_exception.rb
  lib/evss/ppiu/configuration.rb
  lib/evss/ppiu/control_information.rb
  lib/evss/ppiu/payment_account.rb
  lib/evss/ppiu/payment_address.rb
  lib/evss/ppiu/payment_information.rb
  lib/evss/ppiu/payment_information_response.rb
  lib/evss/ppiu/service.rb
  lib/evss/ppiu/service_exception.rb
  lib/evss/service_exception.rb
  spec/lib/evss/ppiu/service_spec.rb
  spec/support/vcr_cassettes/evss/ppiu/payment_information.yml
  spec/support/vcr_cassettes/evss/ppiu/service_error.yml
Labels: in progress

#1855 configure Sentry to be asynchronous via Sidekiq
  app/workers/sentry_job.rb
  config/initializers/raven.rb
  spec/jobs/sentry_job_spec.rb
Labels: in progress

#1864 strip chars from branch name that are invalid for docker name
  Jenkinsfile
  docker-compose.test.yml
  docker-compose.yml
Labels: in progress

#1866 remove pension burial testing logging
  lib/pension_burial/service.rb
Labels: in progress

#1861 Add unique base url for evss.letters and update settings file
  config/settings.yml
  lib/evss/letters/configuration.rb
Labels: in progress

#1863 vet360 POST / PUT address
  config/locales/exceptions.en.yml
  lib/vet360/configuration.rb
  lib/vet360/contact_information/async_response.rb
  lib/vet360/contact_information/service.rb
  lib/vet360/models/address.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/models/vet360_redis/contact_information_spec.rb
  spec/support/vcr_cassettes/vet360/contact_information/post_address_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_address_w_id_error.yml
Labels: in progress

#1870 Removing sentry debugging
  app/controllers/v0/profile/personal_informations_controller.rb
Labels: dragons, in progress

#1868 adding additional exceptions to be mapped so that VA900 does not pollute
  config/locales/exceptions.en.yml
Labels: in progress

#1854 refactor for readability
  lib/common/client/middleware/response/facility_parser.rb
Labels: in progress

#1873 post/put vet360 telephones
  config/locales/exceptions.en.yml
  lib/vet360/contact_information/service.rb
  lib/vet360/models/telephone.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/support/vcr_cassettes/vet360/contact_information/post_telephone_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_telephone_w_id_error.yml
Labels: in progress

#1840 Document upload service
  Dockerfile
  Gemfile
  Gemfile.lock
  Rakefile
  app/controllers/v0/benefits/document_uploads_controller.rb
  app/controllers/v0/docs/benefits_controller.rb
  config/initializers/inflections.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  config/sidekiq_scheduler.yml
  db/schema.rb
  modules/vba_documents/.gitignore
  modules/vba_documents/.rubocop.yml
  modules/vba_documents/Gemfile
  modules/vba_documents/Gemfile.lock
  modules/vba_documents/README.yml
  modules/vba_documents/Rakefile
  modules/vba_documents/app/controllers/vba_documents/application_controller.rb
  modules/vba_documents/app/controllers/vba_documents/docs/v0/api_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v0/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/serializers/vba_documents/upload_serializer.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/app/workers/vba_documents/upload_scanner.rb
  modules/vba_documents/bin/rails
  modules/vba_documents/config/routes.rb
  modules/vba_documents/db/migrate/20180411001427_create_vba_documents_upload_submissions.rb
  modules/vba_documents/lib/tasks/vba_documents_tasks.rake
  modules/vba_documents/lib/vba_documents.rb
  modules/vba_documents/lib/vba_documents/engine.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/lib/vba_documents/upload_error.rb
  modules/vba_documents/lib/vba_documents/version.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/fixtures/invalid_metadata_missing.json
  modules/vba_documents/spec/fixtures/invalid_metadata_nonstring.json
  modules/vba_documents/spec/fixtures/invalid_multipart_no_boundary.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_no_contenttype.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_no_partname.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_non_json.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_non_pdf.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_truncated.blob
  modules/vba_documents/spec/fixtures/valid_doc.pdf
  modules/vba_documents/spec/fixtures/valid_metadata.json
  modules/vba_documents/spec/fixtures/valid_multipart_pdf.blob
  modules/vba_documents/spec/fixtures/valid_multipart_pdf_attachments.blob
  modules/vba_documents/spec/fixtures/valid_multipart_txt.blob
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/jobs/upload_scanner_spec.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/rails_helper.rb
  modules/vba_documents/spec/request/api_docs_request_spec.rb
  modules/vba_documents/spec/request/uploads_request_spec.rb
  modules/vba_documents/spec/spec_helper.rb
  modules/vba_documents/spec/support/factory_bot.rb
  modules/vba_documents/spec/support/vba_document_fixtures.rb
  modules/vba_documents/vba_documents.gemspec
  spec/spec_helper.rb
Labels: in progress

#1875 Fix rake loading in prod; fix upload scan scheduling
  Rakefile
  config/sidekiq_scheduler.yml
Labels: in progress

#1876 determine emergency and urgent care service flag
  app/models/facility_access.rb
  app/workers/facilities/access_data_download.rb
  lib/common/client/middleware/response/facility_parser.rb
  spec/factories/vha_facilities.rb
  spec/request/va_facilities_request_spec.rb
Labels: in progress

#1874 GET Vet360 Address transaction status
  lib/vet360/contact_information/service.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/support/vcr_cassettes/vet360/contact_information/address_transaction_status.yml
  spec/support/vcr_cassettes/vet360/contact_information/address_transaction_status_error.yml
Labels: in progress

#1878 filter pii from pension burial sentry logs
  lib/sentry/processor/pii_sanitizer.rb
  spec/lib/sentry/processor/pii_sanitizer_processor_spec.rb
Labels: in progress

#1883 changing the name of EmergencyDept to EmergencyCare
  lib/common/client/middleware/response/facility_parser.rb
  spec/factories/vha_facilities.rb
  spec/request/va_facilities_request_spec.rb
Labels: in progress

#1882 combine all discharge documentation uploads into a single pdf
  lib/vic/service.rb
  spec/lib/vic/service_spec.rb
Labels: in progress

#1831 9706 Vet360 GET Person Integration
  app/models/user.rb
  app/models/vet360_redis/contact_information.rb
  app/serializers/user_serializer.rb
  config/locales/exceptions.en.yml
  config/redis.yml
  config/settings.yml
  lib/common/client/base.rb
  lib/common/client/errors.rb
  lib/common/models/attribute_types/iso8601_time.rb
  lib/vet360/configuration.rb
  lib/vet360/contact_information/configuration.rb
  lib/vet360/contact_information/person_response.rb
  lib/vet360/contact_information/service.rb
  lib/vet360/contact_information/transaction_response.rb
  lib/vet360/models/address.rb
  lib/vet360/models/base.rb
  lib/vet360/models/email.rb
  lib/vet360/models/message.rb
  lib/vet360/models/person.rb
  lib/vet360/models/telephone.rb
  lib/vet360/models/transaction.rb
  lib/vet360/response.rb
  lib/vet360/service.rb
  rakelib/vet360.rake
  spec/factories/vet360/addresses.rb
  spec/factories/vet360/emails.rb
  spec/factories/vet360/persons.rb
  spec/factories/vet360/telephones.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/models/vet360_redis/contact_information_spec.rb
  spec/spec_helper.rb
  spec/support/vcr_cassettes/vet360/contact_information/address_transaction_status.yml
  spec/support/vcr_cassettes/vet360/contact_information/address_transaction_status_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/email_transaction_status.yml
  spec/support/vcr_cassettes/vet360/contact_information/email_transaction_status_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/person.yml
  spec/support/vcr_cassettes/vet360/contact_information/person_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_address_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_address_w_id_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_email_duplicate_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_email_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_email_w_id_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_telephone_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_telephone_w_id_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/put_email_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/telephone_transaction_status.yml
  spec/support/vcr_cassettes/vet360/contact_information/telephone_transaction_status_error.yml
Labels: dragons, in progress

#1884 Update VBA_Documents part name
  modules/vba_documents/README.yml
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/spec/fixtures/invalid_multipart_no_boundary.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_no_contenttype.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_no_partname.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_non_json.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_non_pdf.blob
  modules/vba_documents/spec/fixtures/invalid_multipart_truncated.blob
  modules/vba_documents/spec/fixtures/valid_multipart_pdf.blob
  modules/vba_documents/spec/fixtures/valid_multipart_pdf_attachments.blob
  modules/vba_documents/spec/fixtures/valid_multipart_txt.blob
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
Labels: in progress

#1888 rake task for deletion of legacy Pension and Burial Claim database records.
  rakelib/pension_burial.rake
  spec/models/saved_claims/pension_spec.rb
Labels: in progress

#1886 Structured logging
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/production.rb
Labels: in progress

#1891 Structured logging to STDOUT instead of log/production.log
  config/environments/production.rb
Labels: bug, in progress

#1887 Retrieve/store status from CMAPI
  modules/vba_documents/app/controllers/vba_documents/v0/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/spec/models/upload_submission_spec.rb
Labels: in progress

#1892 Hca sentry logging
  lib/common/client/middleware/response/soap_parser.rb
  lib/hca/configuration.rb
  lib/hca/soap_parser.rb
  spec/fixtures/hca/validation_error.xml
  spec/lib/hca/soap_parser_spec.rb
Labels: in progress

#1877 AsyncTransactions Table
  app/models/async_transaction/base.rb
  app/models/async_transaction/vet360/address_transaction.rb
  app/models/async_transaction/vet360/base.rb
  app/models/async_transaction/vet360/email_transaction.rb
  app/models/async_transaction/vet360/telephone_transaction.rb
  app/serializers/async_transaction/base_serializer.rb
  db/migrate/20180423181323_create_async_transaction.rb
  db/migrate/20180423182604_add_indexes_to_async_transactions.rb
  db/schema.rb
  spec/factories/async_transactions.rb
  spec/models/async_transaction/base_spec.rb
Labels: dragons, in progress

#1869 Create intent to file endpoints
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/intent_to_files_controller.rb
  app/serializers/intent_to_file_serializer.rb
  app/swagger/requests/intent_to_file.rb
  app/swagger/schemas/intent_to_file.rb
  config/locales/exceptions.en.yml
  config/routes.rb
  lib/evss/intent_to_file/service.rb
  lib/evss/intent_to_file/service_exception.rb
  spec/lib/evss/intent_to_file/service_spec.rb
  spec/request/intent_to_files_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/intent_to_file.json
  spec/support/schemas/intent_to_file_base.json
  spec/support/schemas/intent_to_file_errors.json
  spec/support/schemas/intent_to_files.json
  spec/support/vcr_cassettes/evss/intent_to_file/active_compensation_403.yml
  spec/support/vcr_cassettes/evss/intent_to_file/intent_to_file_403.yml
  spec/support/vcr_cassettes/evss/intent_to_file/intent_to_file_intent_type_invalid.yml
Labels: in progress
