Repository department-of-veterans-affairs/vets-api, pull requests merged in 2018-03, with the labels that each got.

#1718 EVSS PCIU Services Endpoint - email_address
  Gemfile
  Gemfile.lock
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/profile/emails_controller.rb
  app/serializers/email_serializer.rb
  app/swagger/requests/profile.rb
  app/swagger/schemas/email.rb
  config/routes.rb
  config/settings.yml
  lib/evss/pciu/configuration.rb
  lib/evss/pciu/email_address_response.rb
  lib/evss/pciu/service.rb
  spec/lib/evss/pciu/service_spec.rb
  spec/request/email_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/email_address_response.json
  spec/support/vcr_cassettes/evss/pciu/email.yml
  spec/support/vcr_cassettes/evss/pciu/email_status_400.yml
  spec/support/vcr_cassettes/evss/pciu/email_status_403.yml
  spec/support/vcr_cassettes/evss/pciu/email_status_500.yml
Labels: dragons, in progress

#1708 Redirect to identity proof in SAML callback if user can level up.
  app/controllers/v0/sessions_controller.rb
  spec/controllers/v0/sessions_controller_spec.rb
Labels: griffin, identity

#1751 9022 pciu primary phone endpoint
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/profile/primary_phones_controller.rb
  app/serializers/phone_number_serializer.rb
  app/swagger/requests/profile.rb
  app/swagger/schemas/phone_number.rb
  config/routes.rb
  lib/evss/pciu/phone_number_response.rb
  lib/evss/pciu/service.rb
  spec/lib/evss/pciu/service_spec.rb
  spec/request/primary_phone_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/phone_number_response.json
  spec/support/vcr_cassettes/evss/pciu/primary_phone.yml
  spec/support/vcr_cassettes/evss/pciu/primary_phone_status_400.yml
  spec/support/vcr_cassettes/evss/pciu/primary_phone_status_403.yml
  spec/support/vcr_cassettes/evss/pciu/primary_phone_status_500.yml
Labels: dragons

#1684 Rake task to synthesize authenticated sessions from a file
  rakelib/redis.rake
Labels: in progress

#1755 9161 pciu alternate phone endpoint
  app/controllers/v0/profile/alternate_phones_controller.rb
  app/swagger/requests/profile.rb
  config/betamocks/services_config.yml
  config/routes.rb
  lib/evss/pciu/service.rb
  spec/lib/evss/pciu/service_spec.rb
  spec/request/alternate_phone_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/vcr_cassettes/evss/pciu/alternate_phone.yml
  spec/support/vcr_cassettes/evss/pciu/alternate_phone_status_400.yml
  spec/support/vcr_cassettes/evss/pciu/alternate_phone_status_403.yml
  spec/support/vcr_cassettes/evss/pciu/alternate_phone_status_500.yml
Labels: dragons

#1758 Alias for the existing address endpoint
  config/routes.rb
  spec/routing/profile_routing_spec.rb
Labels: dragons

#1771 Don't paginate triage teams (recipients)
  app/controllers/v0/triage_teams_controller.rb
  app/swagger/schemas/health/meta.rb
  app/swagger/schemas/health/triage_teams.rb
  spec/support/schemas/triage_teams.json
Labels: in progress

#1772 adding raven context tag; scheduling download of facility location data
  app/workers/facilities/facility_location_download_job.rb
  config/sidekiq_scheduler.yml
  lib/common/client/middleware/response/facility_parser.rb
Labels: in progress

#1773 Salesforce attachment changes
  lib/vic/service.rb
  spec/lib/vic/service_spec.rb
Labels: in progress

#1776 Change Pension/Burial receipt date timezone to CT
  app/workers/submit_saved_claim_job.rb
  spec/jobs/submit_saved_claim_job_spec.rb
Labels: in progress

#1778 Change vets.gov to Vets.gov in pension/burial upload metadata
  app/workers/submit_saved_claim_job.rb
  spec/jobs/submit_saved_claim_job_spec.rb
Labels: in progress

#1779 Pension burial new server
  config/settings.yml
  lib/pension_burial/configuration.rb
  lib/pension_burial/datestamp_pdf.rb
  spec/fixtures/pension/metadata.json
  spec/lib/pension_burial/service_spec.rb
  spec/support/vcr_cassettes/pension_burial/upload.yml
Labels: in progress

#1783 security vulnerability in loofah
  Gemfile.lock
Labels: in progress

#1782 Revert "Salesforce attachment changes"
  lib/vic/service.rb
  spec/lib/vic/service_spec.rb
Labels: in progress

#1780 Remove Appeals v1
  app/controllers/v0/appeals_controller.rb
  app/swagger/requests/appeals.rb
  config/initializers/breakers.rb
  config/routes.rb
  config/settings.yml
  lib/appeals/service.rb
  lib/appeals_status/configuration.rb
  lib/appeals_status/models/appeal.rb
  lib/appeals_status/models/event.rb
  lib/appeals_status/models/hearing.rb
  lib/appeals_status/responses/get_appeals_response.rb
  lib/appeals_status/service.rb
  spec/lib/appeals/configuration_spec.rb
  spec/lib/appeals_status/responses/get_appeals_response_spec.rb
  spec/lib/appeals_status/service_spec.rb
  spec/request/appeals_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/vcr_cassettes/appeals_status/invalid_ssn.yml
  spec/support/vcr_cassettes/appeals_status/valid_appeals.yml
Labels: in progress

#1784 update betamocks service config for appeals crossover
  config/betamocks/services_config.yml
Labels: in progress

#1785 Revert "Revert "Salesforce attachment changes""
  lib/vic/service.rb
  spec/lib/vic/service_spec.rb
Labels: in progress

#1787 Log Pension/Burial request metadata
  lib/pension_burial/service.rb
Labels: in progress

#1781 Return session redirect URLs as JSON.
  app/controllers/v0/sessions_controller.rb
  spec/controllers/v0/sessions_controller_spec.rb
Labels: griffin, identity, in progress

#1788 migrate emis authorization to policy file
  app/models/form_profile.rb
  app/models/user.rb
  app/policies/emis_policy.rb
  config/initializers/inflections.rb
  spec/models/form_profile_spec.rb
  spec/models/user_spec.rb
  spec/policies/emis_policy_spec.rb
Labels: in progress

#1752 Added verified flag to serialized user object.
  app/serializers/user_serializer.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
Labels: griffin, identity

#1775 9255 service history endpoint
  app/controllers/v0/profile/service_histories_controller.rb
  app/models/emis_redis/military_information.rb
  app/serializers/service_history_serializer.rb
  app/swagger/requests/profile.rb
  config/routes.rb
  spec/models/emis_redis/military_information_spec.rb
  spec/request/service_history_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/service_history_response.json
  spec/support/vcr_cassettes/emis/get_military_service_episodes/valid_multiple_episodes.yml
Labels: dragons, in progress

#1792 Add instructions for native setup
  docs/setup/native.md
Labels: in progress

#1777 temp controller for pulling facility data from the database
  app/controllers/vbeta/facilities/va_controller.rb
  app/models/base_facility.rb
  app/serializers/va_facility_serializer.rb
  config/routes.rb
  spec/factories/nca_facilities.rb
  spec/factories/vba_facilities.rb
  spec/factories/vc_facilities.rb
  spec/factories/vha_facilities.rb
  spec/request/va_facilities_vbeta_request_spec.rb
Labels: in progress

#1794 update rails-html-sanitizer
  Gemfile.lock
Labels: in progress

#1798 401 from upstream server should be 502
  lib/common/client/concerns/service_errors.rb
  spec/request/appeals_request_spec.rb
Labels: in progress

#1793 Mock out claims
  config/appeals_status/mock_get_appeals_responses.yml
  config/betamocks/services_config.yml
  config/settings.yml
  lib/evss/claims_service.rb
Labels: in progress

#1797 Education form prefill changes
  config/form_profile_mappings/22-1990E.yml
  config/form_profile_mappings/22-5490.yml
  config/form_profile_mappings/22-5495.yml
  spec/models/form_profile_spec.rb
Labels: in progress

#1802 Disable requests to Pensions/Burial API for load testing
  app/workers/submit_saved_claim_job.rb
  spec/jobs/submit_saved_claim_job_spec.rb
Labels: in progress

#1800 order hours by weekday for show
  app/models/base_facility.rb
  spec/models/base_facility_spec.rb
Labels: in progress

#1803 tag all rainbows sentry errors
  app/controllers/application_controller.rb
  app/controllers/preneeds_controller.rb
  app/controllers/v0/education_benefits_claims_controller.rb
  app/controllers/v0/evss_claims_controller.rb
  app/controllers/v0/health_care_applications_controller.rb
  app/controllers/v0/in_progress_forms_controller.rb
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/create_daily_year_to_date_report.rb
  app/workers/education_form/create_spool_submissions_report.rb
  app/workers/education_form/delete_old_applications.rb
  app/workers/evss/create_user_account_job.rb
  app/workers/evss/delete_old_claims.rb
  app/workers/evss/document_upload.rb
  app/workers/evss/failed_claims_report.rb
  app/workers/evss/request_decision.rb
  app/workers/in_progress_form_cleaner.rb
  app/workers/process_file_job.rb
  lib/pension_burial/tag_sentry.rb
  lib/sentry/tag_rainbows.rb
  lib/vic/tag_sentry.rb
  spec/request/education_benefits_claims_request_spec.rb
  spec/request/health_care_applications_request_spec.rb
Labels: in progress

#1807 Revert Pension/Burial load testing changes
  app/workers/submit_saved_claim_job.rb
  spec/jobs/submit_saved_claim_job_spec.rb
Labels: in progress

#1810 Secure Message mocking
  config/betamocks/services_config.yml
  config/settings.yml
  lib/sm/client.rb
  lib/sm/configuration.rb
Labels: in progress

#1812 Extend Future Discharge Date from 180 days to 2 years
  lib/hca/validations.rb
Labels: in progress
