Repository department-of-veterans-affairs/vets-api, pull requests merged in 2019-11, with the labels that each got.

#3498 re-add authn_context to user profile
  app/services/users/profile.rb
  app/swagger/schemas/user_internal_services.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
Labels: VSP

#3506 Causing upload errors to GDIT
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
Labels: Lighthouse

#3507 PSSG Download: stop drivetime_bands from being updated
  app/workers/facilities/pssg_download.rb
  spec/jobs/facilities/pssg_download_spec.rb
Labels: Lighthouse

#3476 Vaos appointments controller
  .codeclimate.yml
  .rubocop.yml
  Gemfile.lock
  config/routes.rb
  modules/vaos/app/controllers/vaos/apidocs_controller.rb
  modules/vaos/app/controllers/vaos/application_controller.rb
  modules/vaos/app/controllers/vaos/appointments_controller.rb
  modules/vaos/app/controllers/vaos/systems_controller.rb
  modules/vaos/app/controllers/vaos/v0/apidocs_controller.rb
  modules/vaos/app/controllers/vaos/v0/systems_controller.rb
  modules/vaos/app/serializers/vaos/cc_appointments_serializer.rb
  modules/vaos/app/serializers/vaos/va_appointments_serializer.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/swagger/vaos/requests/appointments.rb
  modules/vaos/app/swagger/vaos/schemas/cc_appointments.rb
  modules/vaos/app/swagger/vaos/schemas/pagination.rb
  modules/vaos/app/swagger/vaos/schemas/va_appointments.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  spec/support/schemas/vaos/cc_appointment.json
  spec/support/schemas/vaos/cc_appointments.json
  spec/support/schemas/vaos/patient.json
  spec/support/schemas/vaos/provider.json
  spec/support/schemas/vaos/va_appointment.json
  spec/support/schemas/vaos/va_appointments.json
Labels: VAOS

#3510 Remove danger from CI rake task
  Jenkinsfile
  Makefile
  rakelib/ci.rake
  rakelib/danger.rake
Labels: VSP

#3518 Add migration to index polygon on drivetime_bands table
  db/migrate/20191106190228_index_drivetime_bands_on_polygon.rb
  db/schema.rb
Labels: Lighthouse

#3515 create unique config for vaos user service
  modules/vaos/app/services/vaos/concerns/headers.rb
  modules/vaos/app/services/vaos/user_configuration.rb
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  modules/vaos/spec/services/user_service_spec.rb
  spec/support/vcr_cassettes/vaos/users/post_session_blank_body.yml
Labels: VAOS

#3511 first pass at dockerfile refactoring
  .dockerignore
  .gitignore
  Dockerfile
  Jenkinsfile
  Makefile
  docker-compose.test.yml
  docker-compose.yml
  docker-entrypoint.sh
  rakelib/ci.rake
Labels: infrastructure

#3512 New Drivetime Band Query
  app/models/drivetime_band.rb
  app/models/nearby_facility.rb
  lib/facilities/vha_facility.rb
  modules/va_facilities/app/controllers/va_facilities/v1/nearby_controller.rb
  modules/va_facilities/app/serializers/va_facilities/nearby_facility_serializer.rb
  modules/va_facilities/app/serializers/va_facilities/nearby_serializer.rb
  modules/va_facilities/app/services/geocoding_service.rb
  modules/va_facilities/lib/va_facilities/api_serialization_v1.rb
  modules/va_facilities/lib/va_facilities/geo_serializer_v1.rb
  modules/va_facilities/spec/requests/nearby_request_spec.rb
  modules/va_facilities/spec/serializers/nearby_serializer_spec.rb
  modules/va_facilities/spec/services/geocoding_service_spec.rb
  modules/va_facilities/spec/validators/param_validators_spec.rb
  spec/factories/drivetime_band.rb
  spec/lib/facilities/vha_facility_spec.rb
  spec/models/drivetime_band_spec.rb
  spec/models/nearby_facility_spec.rb
  spec/support/vcr_cassettes/bing/geocoding/vha_648.yml
  spec/support/vcr_cassettes/bing/isochrone/no_health_services_drive_time.yml
  spec/support/vcr_cassettes/bing/isochrone/pdx_drive_time_1.yml
  spec/support/vcr_cassettes/bing/isochrone/pdx_drive_time_3000.yml
  spec/support/vcr_cassettes/bing/isochrone/pdx_drive_time_60.yml
  spec/support/vcr_cassettes/bing/isochrone/pdx_drive_time_60_lat_lng.yml
  spec/support/vcr_cassettes/bing/isochrone/pdx_drive_time_60_services_primarycare.yml
  spec/support/vcr_cassettes/bing/isochrone/pdx_malformed_address.yml
Labels: Lighthouse

#3478 Typos are the worst -- report fix variable name
  modules/vba_documents/app/mailers/vba_documents/views/unsuccessful_report.erb
Labels: Lighthouse

#3524 Fix cc appointments endpoint and handle no icn
  modules/vaos/app/controllers/vaos/application_controller.rb
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments_500.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments_empty.yml
Labels: VAOS

#3525 VAOS facility clinics
  Gemfile
  Gemfile.lock
  modules/vaos/app/controllers/vaos/clinics_controller.rb
  modules/vaos/app/serializers/vaos/clinic_serializer.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/support/schemas/vaos/facility_clinics.json
  spec/support/vcr_cassettes/vaos/systems/get_facility_clinics.yml
  spec/support/vcr_cassettes/vaos/systems/get_facility_clinics_500.yml
Labels: VAOS

#3526 Move nearby endpoint to v0 after schema changes
  modules/va_facilities/README.v1.yml
  modules/va_facilities/README.yml
  modules/va_facilities/app/controllers/va_facilities/docs/v1/api_controller.rb
  modules/va_facilities/app/controllers/va_facilities/metadata_controller.rb
  modules/va_facilities/app/controllers/va_facilities/v0/nearby_controller.rb
  modules/va_facilities/config/routes.rb
  modules/va_facilities/spec/requests/api_docs_request_spec.rb
  modules/va_facilities/spec/requests/nearby_request_spec.rb
Labels: Lighthouse

#3504 improve unauthenticated experience for feature toggles
  Gemfile
  Gemfile.lock
  lib/flipper/action_patch.rb
  lib/flipper/admin_user_constraint.rb
  lib/flipper/views/feature.erb
  lib/flipper/views/features.erb
  spec/request/flipper_request_spec.rb
Labels: VSP

#3532 make requests and appointments a bit more consistent and fix params
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/app/services/vaos/appointment_service.rb
Labels: VAOS

#3522 Exclude app/swagger from danger-bot
  Dangerfile
Labels: VSP

#3530 Quick update to enum for service branch
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/fixtures/form_526_json_api.json
Labels: Lighthouse

#3528 remove Flipper feature: mvi_id_parser
  config/features.yml
Labels: VSP

#3521 JSON Schema Updates and Support
  Gemfile
  Gemfile.lock
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/lib/claims_api/form_schemas.rb
  modules/claims_api/lib/claims_api/json_api_missing_attribute.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#3471 Validating 526 for no claims
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/services/claims_api/unsynchronized_evss_claims_service.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#3496 Update fuubar gem to fix pry-refresh bug
  Gemfile.lock
  spec/rails_helper.rb
Labels: VSP

#3542 Update NearbyFacility min_time and max_time type in doc
  modules/va_facilities/README.yml
Labels: Lighthouse

#3485 break ci out into jenkins stages
  Jenkinsfile
  Makefile
Labels: VSP

#3539 Add Coverage, YARD docs badge
  README.md
Labels: VSP

#3531 Increase VAOS timeout
  config/settings.yml
  modules/vaos/app/services/vaos/configuration.rb
  modules/vaos/spec/services/configuration_spec.rb
Labels: VAOS

#3548 accidentally broke dates here
  modules/vaos/app/controllers/vaos/appointments_controller.rb
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/services/appointment_requests_service_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  modules/vaos/spec/services/messages_service_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/support/vcr_cassettes/vaos/appointment_requests/get_requests_with_params.yml
  spec/support/vcr_cassettes/vaos/appointments/get_appointments.yml
  spec/support/vcr_cassettes/vaos/appointments/get_appointments_500.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments_500.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments_empty.yml
  spec/support/vcr_cassettes/vaos/systems/get_facility_clinics.yml
  spec/support/vcr_cassettes/vaos/systems/get_facility_clinics_500.yml
Labels: VAOS

#3558 VAOS get preferences endpoint
  modules/vaos/app/controllers/vaos/preferences_controller.rb
  modules/vaos/app/serializers/vaos/preferences_serializer.rb
  modules/vaos/app/services/vaos/preferences_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/preferences_request_spec.rb
  modules/vaos/spec/services/preferences_service_spec.rb
  spec/support/schemas/vaos/preferences.json
  spec/support/vcr_cassettes/vaos/preferences/get_preferences.yml
Labels: VAOS

#3561 Return empty result when nutrition and podiatry are provided
  modules/va_facilities/app/controllers/va_facilities/v0/nearby_controller.rb
  modules/va_facilities/spec/requests/nearby_request_spec.rb
Labels: Lighthouse

#3552 Cancel appointment
  config/locales/exceptions.en.yml
  modules/vaos/app/controllers/vaos/appointments_controller.rb
  modules/vaos/app/models/vaos/appointment_time.rb
  modules/vaos/app/models/vaos/cancel_form.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/services/vaos/configuration.rb
  modules/vaos/app/services/vaos/middleware/response/errors.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/models/cancel_form_spec.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/get_appointments.yml
  spec/support/vcr_cassettes/vaos/appointments/get_appointments_500.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments_500.yml
  spec/support/vcr_cassettes/vaos/appointments/get_cc_appointments_empty.yml
  spec/support/vcr_cassettes/vaos/appointments/put_cancel_appointment.yml
  spec/support/vcr_cassettes/vaos/appointments/put_cancel_appointment_400.yml
Labels: VAOS

#3226 config key/certificate onboarding instruction updates
  docs/setup/native.md
Labels: VSP

#3547 Update the description to encourage retries
  modules/vba_documents/app/swagger/vba_documents/v0/description.md
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
Labels: Lighthouse

#3472 More bug fixes for claim swagger
  modules/claims_api/app/swagger/claims_api/claims_v1_swagger.rb
Labels: Lighthouse

#3582 Post and put va appointment request
  modules/vaos/app/controllers/vaos/appointment_requests_controller.rb
  modules/vaos/app/models/vaos/appointment_request_form.rb
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/app/services/vaos/jwt.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/factories/appointment_request_forms.rb
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/services/appointment_requests_service_spec.rb
  modules/vaos/spec/services/jwt_spec.rb
  spec/support/matchers/schema_matchers.rb
  spec/support/schemas/vaos/appointment_request.json
  spec/support/vcr_cassettes/vaos/appointment_requests/post_request.yml
  spec/support/vcr_cassettes/vaos/appointment_requests/put_request.yml
Labels: VAOS

#3559 Removed STEM logic from 1995 form
  app/workers/education_form/create_spool_submissions_report.rb
  app/workers/education_form/education_facility.rb
  app/workers/education_form/forms/va1995.rb
  spec/factories/va1995.rb
  spec/fixtures/education_benefits_claims/1995/kitchen_sink_stem.json
  spec/fixtures/education_benefits_claims/1995/kitchen_sink_stem.spl
  spec/jobs/education_form/create_spool_submissions_report_spec.rb
Labels: bah

#3587 Update docs for Claims v1
  modules/claims_api/app/swagger/claims_api/description/v1.md
Labels: Lighthouse

#3584 Claims api Validate all the headers
  config/locales/exceptions.en.yml
  lib/common/exceptions/internal/parameters_missing.rb
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/controllers/claims_api/concerns/header_validation.rb
Labels: Lighthouse
