Repository department-of-veterans-affairs/vets-api, pull requests merged in 2019-12, with the labels that each got.

#3439 [WIP]1757 decision review integration
  config/locales/exceptions.en.yml
  config/settings.yml
  lib/decision_review/configuration.rb
  lib/decision_review/responses/response.rb
  lib/decision_review/schemas/intake_status.json
  lib/decision_review/schemas/review.json
  lib/decision_review/service.rb
  lib/decision_review/service_exception.rb
  spec/lib/decision_review/service_spec.rb
  spec/support/vcr_cassettes/decision_review/200_intake_status.yml
  spec/support/vcr_cassettes/decision_review/200_review.yml
  spec/support/vcr_cassettes/decision_review/202_intake_status.yml
  spec/support/vcr_cassettes/decision_review/400_intake_status.yml
  spec/support/vcr_cassettes/decision_review/403_intake_status.yml
  spec/support/vcr_cassettes/decision_review/404_get_intake_status.yml
  spec/support/vcr_cassettes/decision_review/404_intake_status.yml
  spec/support/vcr_cassettes/decision_review/404_review.yml
Labels: VSA

#3599 Base64 documentation on Benefits Intake V1
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
Labels: Lighthouse

#3598 updated JSON commit hash
  Gemfile.lock
Labels: bah

#3566 VAOS system facilities endpoint
  modules/vaos/app/controllers/vaos/direct_scheduling_facilities_controller.rb
  modules/vaos/app/serializers/vaos/direct_scheduling_facility_serializer.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/support/schemas/vaos/system_facilities.json
  spec/support/vcr_cassettes/vaos/systems/get_system_facilities.yml
  spec/support/vcr_cassettes/vaos/systems/get_system_facilities_500.yml
Labels: VAOS

#3589 Fixes 3667 VAOS facilities array of ids
  modules/vaos/app/controllers/vaos/facilities_controller.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  spec/support/vcr_cassettes/vaos/systems/get_facilities_multiple.yml
Labels: VAOS

#3608 Add visn column to base_facilities table
  db/migrate/20191204152342_add_visn_to_base_facilities.rb
  db/schema.rb
Labels: Lighthouse

#3594 VAOS facility available appointments endpoint
  lib/common/models/resource.rb
  modules/vaos/app/controllers/vaos/available_appointments_controller.rb
  modules/vaos/app/controllers/vaos/cancel_reasons_controller.rb
  modules/vaos/app/controllers/vaos/clinics_controller.rb
  modules/vaos/app/controllers/vaos/direct_scheduling_facilities_controller.rb
  modules/vaos/app/controllers/vaos/facilities_controller.rb
  modules/vaos/app/controllers/vaos/limits_controller.rb
  modules/vaos/app/controllers/vaos/systems_controller.rb
  modules/vaos/app/models/vaos/appointment_time_slot.rb
  modules/vaos/app/models/vaos/facility_availability.rb
  modules/vaos/app/serializers/vaos/availability_serializer.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/support/schemas/vaos/appointment_time_slot.json
  spec/support/schemas/vaos/facility_available_appointments.json
  spec/support/vcr_cassettes/vaos/systems/get_facility_appointments.yml
  spec/support/vcr_cassettes/vaos/systems/get_facility_available_appointments.yml
Labels: VAOS

#3604 fixes best_timeto_call getting blanked out
  modules/vaos/app/controllers/vaos/appointment_requests_controller.rb
Labels: VAOS

#3600 Fix/3722 missing cc appointment request
  modules/vaos/app/serializers/vaos/appointment_requests_serializer.rb
  modules/vaos/app/serializers/vaos/clinic_serializer.rb
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/services/appointment_requests_service_spec.rb
  spec/support/schemas/vaos/appointment_request.json
  spec/support/schemas/vaos/cc_appointment_request.json
  spec/support/schemas/vaos/facility_clinics.json
  spec/support/vcr_cassettes/vaos/appointment_requests/get_requests.yml
  spec/support/vcr_cassettes/vaos/appointment_requests/get_requests_with_params.yml
Labels: VAOS

#3609 Add visn as attribute of vha facilities
  lib/common/client/middleware/response/facility_parser.rb
  lib/facilities/vha_facility.rb
  modules/va_facilities/README.yml
  modules/va_facilities/app/serializers/va_facilities/facility_serializer.rb
  modules/va_facilities/lib/va_facilities/csv_serializer.rb
  modules/va_facilities/lib/va_facilities/geo_serializer.rb
  modules/va_facilities/spec/requests/facilities_request_spec.rb
  spec/factories/vha_facilities.rb
  spec/lib/facilities/vha_facility_spec.rb
  spec/serializers/va_facilities/csv_serializer_spec.rb
  spec/serializers/va_facilities/facility_serializer_spec.rb
  spec/serializers/va_facilities/geo_serializer_spec.rb
Labels: Lighthouse

#3605 Add VET TEC Program Provider Filter feature flag
  config/features.yml
Labels: bah

#3533 do not gate feature toggle admin for development
  lib/flipper/admin_user_constraint.rb
  lib/flipper/views/feature.erb
  lib/flipper/views/features.erb
Labels: VSP

#3602 speed up VAOS specs 3x by loading rsa key instead of generating new one
  modules/vaos/spec/fixtures/open_ssl_rsa_private.pem
  modules/vaos/spec/services/jwt_spec.rb
  modules/vaos/spec/services/user_service_spec.rb
  modules/vaos/spec/support/fixture_helper.rb
Labels: VAOS

#3508 [no review needed]1880 notifications v1.5 permission bio on staging staging
  app/models/async_transaction/vet360/base.rb
  app/models/async_transaction/vet360/permission_transaction.rb
  app/swagger/schemas/async_transaction/vet360.rb
  app/swagger/schemas/vet360/permission.rb
  config/locales/exceptions.en.yml
  spec/factories/async_transactions.rb
  spec/factories/users.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/rakelib/vet360_spec.rb
  spec/request/swagger_spec.rb
  spec/request/vet360/permission_request_spec.rb
  spec/support/vcr_cassettes/vet360/contact_information/delete_permission_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/permission_transaction_status.yml
  spec/support/vcr_cassettes/vet360/contact_information/permission_transaction_status_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/person_full.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_permission_status_403.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_permission_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_permission_success_service.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_permission_w_id_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/put_permission_ignore_eed.yml
  spec/support/vcr_cassettes/vet360/contact_information/put_permission_success.yml
  spec/support/vet360/api_response_error_messages.csv
Labels: VSP

#3626 Update Facilities API cems.xml file
  lib/facilities/cemetery_data/cems.xml
Labels: Lighthouse

#3464 Update documentation
  README.md
  app/swagger/readme.md
Labels: VSP

#3619 VAOS systems pact endpoint
  modules/vaos/app/controllers/vaos/pact_controller.rb
  modules/vaos/app/serializers/vaos/system_pact_serializer.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/support/schemas/vaos/system_pact.json
  spec/support/vcr_cassettes/vaos/systems/get_system_pact.yml
  spec/support/vcr_cassettes/vaos/systems/get_system_pact_500.yml
Labels: VAOS

#3629 Fixing wrong accessor types claims
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
Labels: Lighthouse

#3630 Update vbms uploader to properly handle s3
  modules/claims_api/app/workers/claims_api/vbms_uploader.rb
  modules/claims_api/spec/workers/vbms_uploader_spec.rb
Labels: Lighthouse

#3611 updated Swagger documentation
  app/swagger/schemas/gibct/institution_programs.rb
Labels: bah, bah-sprint-36

#3620 send addressPOU with address validation requests
  app/controllers/v0/profile/address_validation_controller.rb
  app/swagger/requests/profile.rb
  app/swagger/schemas/vet360/address.rb
  lib/vet360/address_validation/address_suggestions_response.rb
  lib/vet360/models/address.rb
  lib/vet360/models/base_address.rb
  lib/vet360/models/validation_address.rb
  spec/controllers/v0/profile/address_validation_controller_spec.rb
  spec/factories/vet360/validation_address.rb
  spec/lib/vet360/address_validation/service_spec.rb
  spec/lib/vet360/models/address_spec.rb
  spec/lib/vet360/models/validation_address_spec.rb
  spec/support/vcr_cassettes/vet360/address_validation/candidate_multiple_matches.yml
  spec/support/vcr_cassettes/vet360/address_validation/candidate_no_match.yml
  spec/support/vcr_cassettes/vet360/address_validation/candidate_one_match.yml
  spec/support/vcr_cassettes/vet360/address_validation/validate_match.yml
  spec/support/vcr_cassettes/vet360/address_validation/validate_no_match.yml
Labels: VSA

#3593 [Search] Apply page limit based on search.gov offset limit
  lib/search/pagination.rb
Labels: VSA

#3643 VAOS::BaseController instead of VAOS::ApplicationController
  modules/vaos/app/controllers/vaos/apidocs_controller.rb
  modules/vaos/app/controllers/vaos/appointment_requests_controller.rb
  modules/vaos/app/controllers/vaos/appointments_controller.rb
  modules/vaos/app/controllers/vaos/available_appointments_controller.rb
  modules/vaos/app/controllers/vaos/base_controller.rb
  modules/vaos/app/controllers/vaos/cancel_reasons_controller.rb
  modules/vaos/app/controllers/vaos/clinics_controller.rb
  modules/vaos/app/controllers/vaos/direct_scheduling_facilities_controller.rb
  modules/vaos/app/controllers/vaos/facilities_controller.rb
  modules/vaos/app/controllers/vaos/limits_controller.rb
  modules/vaos/app/controllers/vaos/messages_controller.rb
  modules/vaos/app/controllers/vaos/pact_controller.rb
  modules/vaos/app/controllers/vaos/preferences_controller.rb
  modules/vaos/app/controllers/vaos/systems_controller.rb
  modules/vaos/app/controllers/vaos/visits_controller.rb
Labels: VAOS

#3616 Create Forms route consumable for www.va.gov
  app/controllers/v0/forms_controller.rb
  config/locales/exceptions.en.yml
  config/routes.rb
  config/settings.yml
  lib/forms/client.rb
  lib/forms/configuration.rb
  lib/forms/responses/response.rb
  lib/forms/schemas/forms.json
  spec/controllers/v0/forms_controller_spec.rb
  spec/lib/forms/client_spec.rb
  spec/support/vcr_cassettes/forms/200_all_forms.yml
  spec/support/vcr_cassettes/forms/200_form_query.yml
Labels: VSA

#3631 Add post appt req message
  config/locales/exceptions.en.yml
  modules/vaos/app/controllers/vaos/messages_controller.rb
  modules/vaos/app/models/vaos/message_form.rb
  modules/vaos/app/serializers/vaos/messages_serializer.rb
  modules/vaos/app/services/vaos/messages_service.rb
  modules/vaos/app/services/vaos/middleware/response/errors.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/models/message_form_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
  modules/vaos/spec/services/messages_service_spec.rb
  spec/support/schemas/vaos/message.json
  spec/support/schemas/vaos/messages.json
  spec/support/vcr_cassettes/vaos/messages/post_message.yml
  spec/support/vcr_cassettes/vaos/messages/post_message_error.yml
  spec/support/vcr_cassettes/vaos/messages/post_message_error_400.yml
Labels: VAOS

#3640 VAOS - GET CC Eligibility
  config/initializers/inflections.rb
  modules/vaos/app/controllers/vaos/cc_eligibility_controller.rb
  modules/vaos/app/serializers/vaos/cc_eligibility_serializer.rb
  modules/vaos/app/services/vaos/cc_eligibility_service.rb
  modules/vaos/app/services/vaos/middleware/response/errors.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/cc_eligibility_request_spec.rb
  modules/vaos/spec/routing/vaos_routing_spec.rb
  modules/vaos/spec/services/cc_eligibility_service_spec.rb
  spec/support/schemas/vaos/cc_eligibility.json
  spec/support/vcr_cassettes/vaos/cc_eligibility/get_eligibility_400.yml
  spec/support/vcr_cassettes/vaos/cc_eligibility/get_eligibility_false.yml
  spec/support/vcr_cassettes/vaos/cc_eligibility/get_eligibility_true.yml
Labels: VAOS

#3434 1880 notifications v1.5 permission bio
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/profile/permissions_controller.rb
  app/models/async_transaction/vet360/base.rb
  app/models/async_transaction/vet360/permission_transaction.rb
  app/models/vet360_redis/contact_information.rb
  app/serializers/permission_serializer.rb
  app/services/users/profile.rb
  app/swagger/requests/profile.rb
  app/swagger/schemas/async_transaction/vet360.rb
  app/swagger/schemas/permission.rb
  app/swagger/schemas/vet360/contact_information.rb
  app/swagger/schemas/vet360/permission.rb
  config/locales/exceptions.en.yml
  config/routes.rb
  lib/vet360/contact_information/service.rb
  lib/vet360/contact_information/transaction_response.rb
  lib/vet360/models/permission.rb
  lib/vet360/models/person.rb
  rakelib/vet360.rake
  spec/factories/async_transactions.rb
  spec/factories/users.rb
  spec/factories/vet360/permissions.rb
  spec/factories/vet360/persons.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/lib/vet360/models/permission_spec.rb
  spec/models/vet360_redis/contact_information_spec.rb
  spec/rakelib/vet360_spec.rb
  spec/request/swagger_spec.rb
  spec/request/vet360/permission_request_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/vcr_cassettes/vet360/contact_information/delete_permission_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/permission_transaction_status.yml
  spec/support/vcr_cassettes/vet360/contact_information/permission_transaction_status_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/person_full.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_permission_status_403.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_permission_success.yml
  spec/support/vcr_cassettes/vet360/contact_information/post_permission_w_id_error.yml
  spec/support/vcr_cassettes/vet360/contact_information/put_permission_ignore_eed.yml
  spec/support/vcr_cassettes/vet360/contact_information/put_permission_success.yml
  spec/support/vet360/api_response_error_messages.csv
  spec/support/vet360/stub_vet360.rb
Labels: By Light, adhoc leads, ato, platform

#3635 upgrade pg
  Gemfile.lock
Labels: VSP

#3636 upgrade rack-attack gem
  Gemfile.lock
Labels: VSP

#3638 Rt/create veteran confirmation api
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/veteran_confirmation/.gitignore
  modules/veteran_confirmation/.rspec
  modules/veteran_confirmation/.rubocop.yml
  modules/veteran_confirmation/Gemfile
  modules/veteran_confirmation/README.rdoc
  modules/veteran_confirmation/Rakefile
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_confirmation/app/controllers/veteran_confirmation/application_controller.rb
  modules/veteran_confirmation/app/controllers/veteran_confirmation/docs/v0/api_controller.rb
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
  modules/veteran_confirmation/app/helpers/.keep
  modules/veteran_confirmation/app/models/.keep
  modules/veteran_confirmation/bin/rails
  modules/veteran_confirmation/config/routes.rb
  modules/veteran_confirmation/lib/tasks/veteran_confirmation_tasks.rake
  modules/veteran_confirmation/lib/veteran_confirmation.rb
  modules/veteran_confirmation/lib/veteran_confirmation/engine.rb
  modules/veteran_confirmation/lib/veteran_confirmation/version.rb
  modules/veteran_confirmation/spec/rails_helper.rb
  modules/veteran_confirmation/spec/requests/api_docs_request_spec.rb
  modules/veteran_confirmation/spec/requests/veteran_confirmation_request_spec.rb
  modules/veteran_confirmation/spec/spec_helper.rb
  modules/veteran_confirmation/veteran_confirmation.gemspec
Labels: Lighthouse

#3648 Add vbms and bgs to healthcheck
  modules/claims_api/app/controllers/claims_api/metadata_controller.rb
  modules/claims_api/app/models/claims_api/evss_claim.rb
  modules/claims_api/lib/claims_api/health_checker.rb
  modules/claims_api/spec/lib/health_checker_spec.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse

#3264 fix json for rake job load_test:sessions_from_file
  spec/support/rakelib/users_serialized.json
Labels: VSP

#3674 Ignore gibs working hours exception in Sentry
  app/controllers/application_controller.rb
  spec/request/post911_gi_bill_status_request_spec.rb
Labels: VSP

#3583 Update VCR gem
  Gemfile.lock
  spec/support/vcr_cassettes/search/success.yml
Labels: VSP

#3683 Vaforms update to fix more parsing issues
  Gemfile
  Gemfile.lock
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/spec/workers/form_reloader_spec.rb
Labels: Lighthouse

#3585 Update awrence gem
  Gemfile.lock
Labels: VSP

#3694 Fix CC appointment request
  modules/vaos/app/controllers/vaos/appointment_requests_controller.rb
  modules/vaos/app/models/vaos/cc_appointment_request_form.rb
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/spec/factories/cc_appointment_request_forms.rb
  modules/vaos/spec/models/cc_appointment_request_form_spec.rb
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/services/appointment_requests_service_spec.rb
  spec/support/vcr_cassettes/vaos/appointment_requests/post_request_CC.yml
Labels: VAOS

#3645 include source_app label in StatsD
  lib/statsd_middleware.rb
  spec/request/statsd_middleware_spec.rb
Labels: VSP

#3639 VAOS - update preferences
  modules/vaos/app/controllers/vaos/preferences_controller.rb
  modules/vaos/app/models/vaos/preference_form.rb
  modules/vaos/app/services/vaos/preferences_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/preferences_request_spec.rb
  modules/vaos/spec/services/preferences_service_spec.rb
  spec/support/vcr_cassettes/vaos/preferences/put_preferences.yml
Labels: VAOS
