Repository department-of-veterans-affairs/vets-api, pull requests merged in 2019-10, with the labels that each got.

#3349 1995s - Spool submission report conditional recipients
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  app/workers/education_form/create_spool_submissions_report.rb
  spec/factories/education_benefits_claims.rb
  spec/factories/va1995.rb
  spec/jobs/education_form/create_spool_submissions_report_spec.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#3382 19740: STEM: Update 1995s descriptor in the YTD reports
  app/models/education_benefits_claim.rb
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  app/workers/education_form/create_daily_year_to_date_report.rb
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
Labels: bah

#3449 19657: STEM: Update Report Distributions for 22-1995 Submission on Production
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#3451 Remove type filter from nearby facilities
  app/models/nearby_facility.rb
  modules/va_facilities/README.v1.yml
  modules/va_facilities/app/controllers/va_facilities/v1/nearby_controller.rb
  modules/va_facilities/spec/requests/nearby_request_spec.rb
  spec/factories/vha_facilities.rb
  spec/models/nearby_facility_spec.rb
Labels: Lighthouse

#3461 Fix sort order for facilities
  app/models/facilities_query/radial_query.rb
  modules/va_facilities/spec/requests/facilities_request_spec.rb
  modules/va_facilities/spec/requests/nearby_request_spec.rb
Labels: Lighthouse

#3456 Kr/add serializer tests
  lib/common/client/middleware/response/facility_parser.rb
  modules/va_facilities/lib/va_facilities/csv_serializer.rb
  spec/factories/vha_facilities.rb
  spec/lib/facilities/vba_facility_spec.rb
  spec/lib/facilities/vha_facility_spec.rb
  spec/serializers/va_facilities/csv_serializer_spec.rb
  spec/serializers/va_facilities/facility_serializer_spec.rb
  spec/serializers/va_facilities/geo_serializer_spec.rb
Labels: Lighthouse

#3440 Skip upleveling for SSOe
  app/controllers/v1/sessions_controller.rb
  lib/saml/url_service.rb
Labels: VSA

#3459 1816 facilities/ppms service refactor
  app/controllers/v0/facilities/ccp_controller.rb
  app/controllers/v0/facilities/va_controller.rb
  config/initializers/breakers.rb
  lib/facilities/ppms/client.rb
  lib/facilities/ppms/configuration.rb
  lib/facilities/ppms/response.rb
  lib/facilities/ppms_client.rb
  lib/facilities/ppms_configuration.rb
  spec/lib/facilities/ppms/client_spec.rb
  spec/lib/facilities/ppms/response_spec.rb
Labels: VSP

#3442 Adding BGS gem and worker to 2122
  Gemfile
  Gemfile.lock
  config/initializers/bgs.rb
  config/settings.yml
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/app/swagger/claims_api/form_2122_model_swagger.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/spec/fixtures/form_2122_json_api.json
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
Labels: Lighthouse

#3450 Update Benefits Claims API Docs
  modules/claims_api/app/swagger/claims_api/description/v0.md
  modules/claims_api/app/swagger/claims_api/description/v1.md
Labels: Lighthouse

#3460 Update facilities v0 docs
  modules/va_facilities/README.yml
Labels: Lighthouse

#3457 Log vet360 address errors
  lib/vet360/contact_information/transaction_response.rb
  spec/lib/vet360/contact_information/service_spec.rb
  spec/support/vcr_cassettes/vet360/contact_information/address_transaction_addr_not_found.yml
Labels: VSA

#3473 Fix sort stability for facility specs
  modules/va_facilities/spec/requests/facilities_request_spec.rb
Labels: Lighthouse

#3477 update vso_search url
  lib/evss/vso_search/configuration.rb
  spec/lib/evss/vso_search/configuration_spec.rb
Labels: Lighthouse

#3487 fix VSO loader to capture poa codes on attorney's and claim agents
  modules/veteran/app/workers/veteran/base_reloader.rb
  modules/veteran/app/workers/veteran/vso_reloader.rb
  modules/veteran/spec/workers/veteran/vso_reloader_spec.rb
  spec/support/vcr_cassettes/veteran/ogc_attorney_data.yml
  spec/support/vcr_cassettes/veteran/ogc_claim_agent_data.yml
  spec/support/vcr_cassettes/veteran/ogc_vso_rep_data.yml
Labels: Lighthouse

#3479 Rt kr/pssg job updates
  app/workers/facilities/pssg_download.rb
  config/initializers/rgeo.rb
  lib/facilities/drivetime_band_client.rb
  spec/jobs/facilities/pssg_download_spec.rb
  spec/lib/facilities/drivetime_band_client_spec.rb
Labels: Lighthouse

#3490 10795 Added feature flag for Receive Text Notifications checkbox on P…
  config/features.yml
Labels: By Light, enhancement

#3486 Version Settings for VSO search
  config/betamocks/services_config.yml
  lib/evss/vso_search/configuration.rb
  spec/lib/evss/vso_search/configuration_spec.rb
Labels: Lighthouse

#3272 Update installation instructions
  docs/setup/native.md
Labels: VSP

#3483 vaos systems endpoint
  .codeclimate.yml
  .rubocop.yml
  config/features.yml
  config/routes.rb
  modules/vaos/app/controllers/vaos/v0/apidocs_controller.rb
  modules/vaos/app/controllers/vaos/v0/systems_controller.rb
  modules/vaos/app/policies/vaos_policy.rb
  modules/vaos/app/serializers/vaos/system_serializer.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/services/vaos/concerns/headers.rb
  modules/vaos/app/services/vaos/jwt.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/app/swagger/vaos/requests/systems.rb
  modules/vaos/app/swagger/vaos/schemas/systems.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/rails_helper.rb
  spec/support/schemas/vaos/systems.json
  spec/support/vcr_cassettes/vaos/systems/get_systems.yml
  spec/support/vcr_cassettes/vaos/systems/get_systems_500.yml
Labels: VAOS
