Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-08, with the labels that each got.

#4618 [686] [lib] Add Relationship
  lib/bgs/service.rb
  lib/bgs/vnp_relationships.rb
  spec/lib/bgs/vnp_relationships_spec.rb
  spec/support/vcr_cassettes/bgs/vnp_relationships/create/child.yml
  spec/support/vcr_cassettes/bgs/vnp_relationships/create/death.yml
  spec/support/vcr_cassettes/bgs/vnp_relationships/create/marriage_history.yml
  spec/support/vcr_cassettes/bgs/vnp_relationships/create/spouse.yml
Labels: VSA

#4620 Bgs itf doc updates
  modules/claims_api/app/swagger/claims_api/forms/form_0966_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/forms/form_0966_v0_example.json
  modules/claims_api/app/swagger/claims_api/forms/form_0966_v1_example.json
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/config/locales/en.yml
Labels: Lighthouse

#4605 [686] Adds children and benefit claim models for 686c submission
  app/models/bgs_dependents/adult_child_attending_school.rb
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/child.rb
  spec/factories/686c/form_686c_674.rb
  spec/fixtures/686c/dependents/all_flows_payload.json
  spec/models/bgs_dependents/adult_child_attending_school_spec.rb
  spec/models/bgs_dependents/child_school_spec.rb
  spec/models/bgs_dependents/child_spec.rb
  spec/models/bgs_dependents/child_student_spec.rb
  spec/models/bgs_dependents/veteran_spec.rb
Labels: VSA

#4613 [686] [lib] Add Vnp Benefit Claim
  app/models/bgs_dependents/vnp_benefit_claim.rb
  lib/bgs/service.rb
  lib/bgs/vnp_benefit_claim.rb
  spec/lib/bgs/vnp_benefit_claim_spec.rb
  spec/models/bgs_dependents/vnp_benefit_claim_spec.rb
  spec/support/vcr_cassettes/bgs/vnp_benefit_claim/create.yml
  spec/support/vcr_cassettes/bgs/vnp_benefit_claim/update.yml
Labels: VSA

#4646 Add BDD Feature Flag for Form 526
  config/features.yml
Labels: VSA

#4643 [686] [lib] Add Marriages
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/marriage_history.rb
  lib/bgs/marriages.rb
  lib/bgs/service.rb
  spec/lib/bgs/marriages_spec.rb
  spec/support/vcr_cassettes/bgs/dependents/create.yml
  spec/support/vcr_cassettes/bgs/dependents/create/spouse/is_veteran.yml
  spec/support/vcr_cassettes/bgs/dependents/create/spouse/lives_with_veteran.yml
Labels: VSA

#4617 [686] [lib] Add Student School
  app/models/bgs_dependents/child_school.rb
  app/models/bgs_dependents/child_student.rb
  lib/bgs/service.rb
  lib/bgs/student_school.rb
  spec/lib/bgs/student_school_spec.rb
  spec/models/bgs_dependents/child_school_spec.rb
  spec/models/bgs_dependents/child_student_spec.rb
  spec/support/vcr_cassettes/bgs/student_school/create.yml
Labels: VSA

#4642 [686] [lib] Add Dependents
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/child_marriage.rb
  app/models/bgs_dependents/child_stopped_attending_school.rb
  app/models/bgs_dependents/death.rb
  app/models/bgs_dependents/divorce.rb
  app/models/bgs_dependents/step_child.rb
  lib/bgs/dependents.rb
  spec/factories/686c/adopted_child_lives_with_veteran.rb
  spec/lib/bgs/dependents_spec.rb
  spec/support/vcr_cassettes/bgs/dependents/children/apdopted_child_lives_with_veteran.yml
  spec/support/vcr_cassettes/bgs/dependents/create/death.yml
Labels: VSA

#4637 When submitting to Central Mail, add `Appeals-HLR-` prefix to consumer name
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
Labels: Lighthouse, appeals

#4644 Appeals API - Clean up Complete HLRs Once They're a Week Old
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_clean_up_week_old_pii.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_clean_up_week_old_pii_spec.rb
Labels: Lighthouse, appeals

#4585 [686] Call VA file number and create PDF job
  app/controllers/v0/dependents_applications_controller.rb
  app/models/saved_claim/dependency_claim.rb
  app/models/vet_info.rb
  app/services/bgs/dependent_service.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  spec/factories/dependency_claim.rb
  spec/factories/dependency_claim_no_vet_information.rb
  spec/models/saved_claim/dependency_claim_spec.rb
  spec/services/bgs/dependent_service_spec.rb
  spec/support/vcr_cassettes/bgs/dependent_service/get_dependents.yml
  spec/support/vcr_cassettes/bgs/dependent_service/submit_686c_form.yml
  spec/support/vcr_cassettes/vbms/submit_dependents_pdf_job/perform.yml
  spec/workers/vbms/submit_dependents_pdf_job_spec.rb
Labels: VSA

#4629 STEM: Update SCO email content to reflect the final version recevied from EDU on 07/24 #11713
  app/mailers/views/school_certifying_officials.html.erb
  app/workers/education_form/send_sco_email.rb
  spec/mailers/previews/school_certifying_officials_mailer_preview.rb
  spec/mailers/school_certifying_officials_mailer_spec.rb
Labels: bah, bah-qa-needed

#4659 STEM - 10203 Submission fails when not signed in
  app/models/saved_claim/education_benefits/va10203.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, bah-qa-needed

#4641 10203 STEM applicant emails
  app/mailers/stem_applicant_confirmation_mailer.rb
  app/mailers/views/stem_applicant_confirmation.html.erb
  app/models/saved_claim/education_benefits/va10203.rb
  app/workers/education_form/education_facility.rb
  spec/mailers/previews/stem_applicant_confirmation_mailer_preview.rb
  spec/mailers/stem_applicant_confirmation_mailer_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, bah-stem

#4656 Create a /validate endpoint for ITF (Benefits API)
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse

#4619 [686] [lib] Add Veteran
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/veteran.rb
  lib/bgs/service.rb
  lib/bgs/vnp_veteran.rb
  spec/lib/bgs/vnp_veteran_spec.rb
  spec/models/bgs_dependents/veteran_spec.rb
  spec/support/vcr_cassettes/bgs/vnp_veteran/create.yml
Labels: VSA

#4660 [686] [lib] Add exceptions for calls
  config/locales/exceptions.en.yml
  lib/bgs/exceptions/bgs_errors.rb
  lib/bgs/exceptions/service_exception.rb
  lib/bgs/service.rb
  spec/lib/bgs/service_spec.rb
  spec/support/vcr_cassettes/bgs/service/create_address.yml
  spec/support/vcr_cassettes/bgs/service/create_participant.yml
  spec/support/vcr_cassettes/bgs/service/create_person.yml
  spec/support/vcr_cassettes/bgs/service/create_phone.yml
  spec/support/vcr_cassettes/bgs/service/create_proc.yml
  spec/support/vcr_cassettes/bgs/service/create_proc_form.yml
  spec/support/vcr_cassettes/bgs/service/errors/create_participant.yml
  spec/support/vcr_cassettes/bgs/service/errors/create_proc_form.yml
  spec/support/vcr_cassettes/bgs/service/update_proc.yml
Labels: VSA

#4662 [686] [lib] Adding Benefit Claim
  lib/bgs/benefit_claim.rb
  lib/bgs/service.rb
  spec/lib/bgs/benefit_claim_spec.rb
  spec/support/vcr_cassettes/bgs/benefit_claim/create.yml
  spec/support/vcr_cassettes/bgs/benefit_claim/create/error.yml
Labels: VSA

#4669 STEM: Update 'Auto Email Sent to SCO:' in Spool File #12205
  app/models/saved_claim.rb
  app/models/saved_claim/education_benefits/va10203.rb
  app/workers/education_form/send_sco_email.rb
  spec/fixtures/education_benefits_claims/10203/minimal.json
  spec/fixtures/education_benefits_claims/10203/minimal.spl
Labels: bah, bah-qa-needed

#4650 One-Time Rake Task for Benefits Intake API
  modules/vba_documents/lib/tasks/one_time_status_update_20200803.rake
Labels: Lighthouse, appeals

#4667 Claims API - Handle Streams That Don't Respond to Path (VbmsUploadJob)
  modules/claims_api/app/workers/claims_api/vbms_upload_job.rb
  modules/claims_api/spec/workers/vbms_upload_job_spec.rb
Labels: Lighthouse

#4664 [686] [lib] Adding Form686c lib code
  lib/bgs/form686c.rb
  lib/bgs/service.rb
  spec/lib/bgs/form686c_spec.rb
  spec/support/vcr_cassettes/bgs/form686c/submit.yml
Labels: VSA

#4679 remove Ed from VBADocuments::UnsuccessfulReportMailer
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_mailer.rb
  modules/vba_documents/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: Lighthouse

#4686 Api 1135 claims itf via bgs
  Gemfile
  Gemfile.lock
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/models/claims_api/intent_to_file.rb
  modules/claims_api/app/serializers/claims_api/intent_to_file_serializer.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  spec/support/vcr_cassettes/bgs/intent_to_file_web_service/get_intent_to_file.yml
  spec/support/vcr_cassettes/bgs/intent_to_file_web_service/insert_intent_to_file.yml
Labels: Lighthouse

#4612 Add pact boiler plate code
  Gemfile
  Gemfile.lock
  Makefile
  Rakefile
  config/settings/test.yml
  spec/rails_helper.rb
  spec/service_consumers/pact_helper.rb
  spec/service_consumers/provider_states_for/search.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/search/success_utf8.yml
Labels: ready

#4673 [686] form submit job
  app/models/saved_claim/dependency_claim.rb
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form686c_job.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
Labels: VSA

#4668 [686] Updating controller create action
  app/controllers/v0/dependents_applications_controller.rb
  app/models/saved_claim/dependency_claim.rb
  app/services/bgs/dependent_service.rb
  app/swagger/swagger/requests/dependents_applications.rb
  lib/pdf_fill/forms/va686c674.rb
  spec/controllers/v0/dependents_applications_controller_spec.rb
  spec/factories/dependency_claim.rb
  spec/factories/dependency_claim_no_vet_information.rb
  spec/fixtures/pdf_fill/686C-674/kitchen_sink.json
  spec/fixtures/pdf_fill/686C-674/overflow.json
  spec/fixtures/pdf_fill/686C-674/simple.json
  spec/request/swagger_spec.rb
  spec/workers/vbms/submit_dependents_pdf_job_spec.rb
Labels: VSA

#4697 Dont send signature indicator
  Gemfile.lock
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
Labels: Lighthouse

#4724 add more graceful handling of 526 error
  modules/claims_api/app/controllers/claims_api/base_disability_compensation_controller.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
Labels: Lighthouse

#4714 Recover intent to file empty
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
Labels: Lighthouse

#4737 [Development] Add 526 intro wizard feature
  config/features.yml
Labels: VSA

#4739 update 10203 form url
  app/mailers/views/school_certifying_officials.html.erb
Labels: bah

#4748 Add VCR files for GI Search Client Spec
  spec/lib/gi/search_client_spec.rb
  spec/support/vcr_cassettes/GI_SearchClient/gets_institution_program_search_results.yml
  spec/support/vcr_cassettes/GI_SearchClient/gets_institution_search_results.yml
Labels: bah

#4752 Add feature toggles for health care manage benefit pages
  config/features.yml
Labels: VSA

#4744 10203 - Implement EVSS feature flag
  app/models/form_profiles/va10203.rb
  app/models/saved_claim/education_benefits/va10203.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, bah-qa-needed

#4204 Separate Sidekiq Redis URL from caching/primary Redis URL
  config/initializers/sidekiq.rb
  config/redis.yml
Labels: VSP

#4758 10203 school country
  Gemfile.lock
  app/models/form_profiles/va10203.rb
  app/workers/education_form/templates/10203.erb
  config/form_profile_mappings/22-10203.yml
  spec/factories/va10203.rb
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.json
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/10203/minimal.json
  spec/fixtures/education_benefits_claims/10203/minimal.spl
  spec/models/form_profile_spec.rb
Labels: bah

#4770 Remove usage of edu_benefits_stem_scholarship
  app/models/education_benefits_claim.rb
  app/models/saved_claim/education_benefits/va10203.rb
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/models/education_benefits_claim_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah

#4771 Adding/Updating BGS Required Fields
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/relationship.rb
  app/models/bgs_dependents/vnp_benefit_claim.rb
  lib/bgs/dependents.rb
Labels: VSA

#4773 ActionMailer Documentation
  README.md
  docs/setup/mailer.md
Labels: bah

#4772 use transactional fixtures for pact rspec config
  spec/factories/in_progress_forms/hca_forms.rb
  spec/service_consumers/pact_helper.rb
Labels: ready

#4575 Feature Branch for moving ITF Service from EVSS to BGS
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/models/claims_api/intent_to_file.rb
  modules/claims_api/app/serializers/claims_api/intent_to_file_serializer.rb
  modules/claims_api/app/swagger/claims_api/forms/form_0966_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/forms/form_0966_v0_example.json
  modules/claims_api/app/swagger/claims_api/forms/form_0966_v1_example.json
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/config/locales/en.yml
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  spec/support/vcr_cassettes/bgs/intent_to_file_web_service/get_intent_to_file.yml
  spec/support/vcr_cassettes/bgs/intent_to_file_web_service/insert_intent_to_file.yml
Labels: Lighthouse

#4735 CT-EYB: Remove 'gibctEstimateYourBenefits' Feature Flag Toggle #8004
  config/features.yml
Labels: bah, bah-qa-needed

#4400 10197 zeitwerk eagerload tranactional email mailer
  app/workers/transactional_email_analytics_job.rb
  spec/jobs/transactional_email_analytics_job_spec.rb
Labels: VSP, ready

#4781 Updated 10203 spool file
  app/workers/education_form/forms/va10203.rb
  app/workers/education_form/templates/10203.erb
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/10203/minimal.spl
Labels: bah

#4786 Education spool file region cleanup
  app/workers/education_form/education_facility.rb
Labels: bah, bah-qa-needed

#4796 Decision Review API - Fix Typos in Documentation
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/response_hlr_create_error.json
Labels: Lighthouse, appeals

#4799 Decision Review API - Make Malformed JSON Error Responses Uniform
  modules/appeals_api/app/controllers/appeals_api/concerns/json_format_validation.rb
  modules/appeals_api/app/swagger/appeals_api/v1/response_hlr_create_error.json
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/claims_api/app/controllers/claims_api/concerns/json_format_validation.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse, appeals

#4805 Fixing the intent to file /active because BGS can return a single or …
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
Labels: Lighthouse
