Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-12, with the labels that each got.

#5411 added directory#show
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/config/routes.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
Labels: Lighthouse

#5415 Increase NOD email & rep fields to 3 lines of text
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
Labels: Lighthouse, appeals

#5421 Pass Regional Office in SOJ field for 686c Submission
  app/models/bgs_dependents/veteran.rb
  lib/bgs/benefit_claim.rb
  lib/bgs/vnp_veteran.rb
  spec/lib/bgs/vnp_veteran_spec.rb
Labels: VSA

#5414 Add nod show endpoint and surface status
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreement_serializer.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#5405 Fix incorrect path in bin/rails
  modules/appeals_api/bin/rails
Labels: Lighthouse, appeals

#5435 Add NOD error attrs code and detail migration
  db/schema.rb
  modules/appeals_api/db/migrate/20201204151107_add_code_to_notice_of_disagreement.rb
  modules/appeals_api/db/migrate/20201204151120_add_detail_to_notice_of_disagreement.rb
Labels: Lighthouse, appeals

#5417 Api 3589 remove v0 validation endpoint
  modules/openid_auth/README.yml
  modules/openid_auth/app/controllers/openid_auth/docs/v1/validation_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v0/validation_controller.rb
  modules/openid_auth/config/routes.rb
  modules/openid_auth/spec/requests/api_docs_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_spec.rb
Labels: Lighthouse

#5438 Fix for CH36 add veteranSocialSecurityNumber field
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/models/saved_claim/education_career_counseling_claim.rb
  spec/factories/education_career_counseling_claim.rb
  spec/factories/education_career_counseling_claim_no_vet_information.rb
  spec/models/saved_claim/education_career_counseling_claim_spec.rb
Labels: VSA

#5392 Pension Questions Default Values
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/child.rb
  app/models/bgs_dependents/spouse.rb
  lib/bgs/vnp_veteran.rb
  spec/factories/686c/form_686c_674.rb
  spec/lib/bgs/vnp_veteran_spec.rb
Labels: VSA

#5445 Remove form_1995_edu_updates feature
  config/features.yml
Labels: bah

#5457 Change location of appeals_api temp pdf files
  modules/appeals_api/lib/appeals_api/base_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
Labels: Lighthouse, appeals

#5493 Add Coral Health to Application Directory
  modules/apps_api/lib/apps_api/directory_application_creator.rb
Labels: Lighthouse

#5510 corrected privacy and tos url
  modules/apps_api/lib/apps_api/directory_application_creator.rb
Labels: Lighthouse

#5502 API-3812: Improve unsuccessful claims report
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_submission_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
Labels: Lighthouse

#5461 Use the correct schema name and add items for type array
  modules/openid_auth/README.yml
Labels: Lighthouse

#5512 Form 686c BGS DateTime conversion fix
  app/models/bgs_dependents/base.rb
  spec/lib/bgs/dependents_spec.rb
  spec/models/bgs_dependents/child_school_spec.rb
  spec/models/bgs_dependents/child_student_spec.rb
  spec/models/bgs_dependents/divorce_spec.rb
  spec/models/bgs_dependents/relationship_spec.rb
Labels: VSA

#5514 PDF Generation for VA Form 21-674
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/21-674.pdf
  lib/pdf_fill/forms/va21674.rb
  lib/pdf_fill/forms/va281900.rb
  spec/fixtures/pdf_fill/21-674/kitchen_sink.json
  spec/fixtures/pdf_fill/21-674/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-674/overflow.json
  spec/fixtures/pdf_fill/21-674/overflow.pdf
  spec/fixtures/pdf_fill/21-674/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-674/simple.json
  spec/fixtures/pdf_fill/21-674/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: VSA

#5479 Clean up appeals_api base pdf constructor
  modules/appeals_api/lib/appeals_api/base_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/higher_level_review_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/spec/fixtures/valid_200996_extra.json
  modules/appeals_api/spec/lib/higher_level_review_pdf_constructor_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#5532 API-4100: ClaimsApi::ReportUnsuccessfulSubmissions erroring out due to the gsub of an array type
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
Labels: Lighthouse

#5541 Add evss 150MB upload size feature flag
  config/features.yml
Labels: VSA, claim status

#5488 Central mail setup for NOD
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/swagger/appeals_api/v1/swagger_root.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/config/schemas/10182_headers.json
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_options.rb
  modules/appeals_api/lib/appeals_api/upload_error.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/invalid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182_headers.json
  modules/appeals_api/spec/fixtures/valid_10182_headers_minimum.json
  modules/appeals_api/spec/lib/notice_of_disagreement_pdf_options_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_clean_up_week_old_pii_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_updater_spec.rb
Labels: Lighthouse, appeals

#5542 API-4095 Veteran Confirmation - Handle empty EMIS responses
  modules/veteran_confirmation/app/services/veteran_confirmation/status_service.rb
  modules/veteran_confirmation/spec/services/veteran_confirmation/status_service_spec.rb
Labels: Lighthouse

#5550 add coronavirus-vaccination to app list
  lib/statsd_middleware.rb
Labels: bug, identity

#5545 Remove and add 'use on file' for address, phone, email
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_options.rb
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/invalid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182_minimum.json
  modules/appeals_api/spec/lib/notice_of_disagreement_pdf_options_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#5504 API-3264: Special Issues - 526 JSON Schema update (include schema inside of disability objects)
  app/swagger/swagger/schemas/form526/disability.rb
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
  modules/claims_api/lib/claims_api/special_issue_mapper.rb
  modules/claims_api/spec/lib/special_issue_mapper_spec.rb
Labels: Lighthouse

#5557 Enable https://staging-api.va.gov/rails/mailers/
  docs/setup/mailer.md
  lib/config_helper.rb
Labels: bah

#5546 Api 3866 remove unecessary swss headers
  lib/okta/service.rb
Labels: Lighthouse

#5551 Remove stem_sco_email flag
  app/models/form_profiles/va10203.rb
  app/models/saved_claim/education_benefits/va10203.rb
  config/features.yml
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, bah-qa-needed

#5555 STEM: Notify applicant when contacting SCO #17363
  app/mailers/stem_applicant_confirmation_mailer.rb
  app/mailers/stem_applicant_sco_mailer.rb
  app/mailers/transactional_email_mailer.rb
  app/mailers/views/stem_applicant_confirmation.html.erb
  app/mailers/views/stem_applicant_sco.html.erb
  app/workers/education_form/send_school_certifying_officials_email.rb
  app/workers/transactional_email_analytics_job.rb
  config/features.yml
  spec/jobs/education_form/send_school_certifying_officials_email_spec.rb
  spec/mailers/previews/stem_applicant_sco_mailer_preview.rb
  spec/mailers/stem_applicant_sco_mailer_spec.rb
Labels: bah, bah-qa-needed

#5538 Api 3456/swagger documentation for nod endpoints
  config/settings.yml
  config/settings/development.yml
  modules/appeals_api/.rubocop.yml
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/higher_level_reviews.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/app/swagger/appeals_api/v1/swagger_root.rb
  spec/spec_helper.rb
Labels: Lighthouse, appeals

#5562 Add <ed.mangimelli@adhocteam.us> to Admin List for Flipper
  config/settings.yml
Labels: VSA

#5561 STEM: Create automated decision feature flag#13829 Back end
  config/features.yml
Labels: bah

#5568 Add NOD routes to vets-api
  config/routes.rb
Labels: Lighthouse, appeals

#5404 API-3182 JSON Schema Errors
  config/locales/exceptions.en.yml
  lib/common/exceptions/detailed_schema_errors.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/spec/fixtures/invalid_10182.json
  modules/appeals_api/spec/fixtures/schema_error_schema.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  spec/fixtures/json/detailed_schema_errors_schema.json
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: Lighthouse, appeals

#5549 Add sidekiq job adding special issues to an auto-established claim
  Gemfile.lock
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
  modules/claims_api/spec/workers/special_issue_updater_spec.rb
Labels: Lighthouse

#5575 Refactor deprecated code
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
Labels: Lighthouse, appeals

#5574 API-4096: Update 526 PUT documentation with PDF info
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#5571 API-3265: [database-schema] Special Issues - Add special issues persistence for established claim
  db/schema.rb
  modules/claims_api/db/migrate/20201214164818_add_special_issues_to_auto_established_claim.rb
Labels: Lighthouse

#5577 API-3274: Special Issues - Set up logging to capture what we need
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/fixtures/form_526_json_api.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: Lighthouse

#5572 API-3265: [logic] Special Issues - Add special issues persistence for established claim
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/fixtures/form_526_json_api.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#5578 API-4221 Remove PDF Checksumming from specs
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/expected_200996_extra.pdf
  modules/appeals_api/spec/support/fixture_helpers.rb
  modules/appeals_api/spec/support/pdf_matcher.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals
