Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-10, with the labels that each got.

#4842 Increase file upload size for Form526 bdd
  app/models/supporting_evidence_attachment.rb
  app/uploaders/evss_claim_document_uploader.rb
  app/uploaders/supporting_evidence_attachment_uploader.rb
Labels: NOT YET

#5005 [API 687] Update the documentation for original appeals status endpoint
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: Lighthouse

#4915 simplify url_service calls
  app/controllers/v0/sessions_controller.rb
  app/controllers/v1/sessions_controller.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: debt

#5014 Update Letter Types
  lib/evss/letters/letter.rb
  spec/lib/evss/letters/download_service_spec.rb
Labels: VSA

#5013 EDU: Create feature flag for education form updates #14064
  config/features.yml
Labels: bah

#4994 enable SSOe in development by default
  config/features.yml
Labels: VSP

#4942 [API 2569] Report All Upstream Status Dependencies in our Healthchecks - Appeals
  modules/appeals_api/.rubocop.yml
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/lib/appeals_api/health_checker.rb
  modules/appeals_api/spec/lib/health_checker_spec.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
  spec/support/vcr_cassettes/caseflow/health-check-down.yml
Labels: Lighthouse

#5003 13784: Update schema hash
  Gemfile.lock
Labels: bah

#5011 Fix Typo in HLR Documentation
  modules/appeals_api/app/swagger/appeals_api/v1/responses_contestable_issues.json
Labels: Lighthouse, appeals

#4990 Add gibct_school_ratings feature flag
  config/features.yml
Labels: bah

#5017 Add More Data to HLR Prefill
  app/models/form_profile.rb
  app/models/form_profiles/va0996.rb
  app/models/form_profiles/va526ez.rb
  app/models/form_profiles/va686c674.rb
  config/form_profile_mappings/20-0996.yml
  spec/models/form_profile_spec.rb
Labels: VSA

#5029 only initialize Setnry if its defined
  lib/saml/templates/sso_post_form.html.erb
Labels: bug

#4948 Add BGS Regional Office Lookup by Zip Code
  Gemfile.lock
  app/models/bgs_dependents/veteran.rb
  app/models/bgs_dependents/vnp_benefit_claim.rb
  lib/bgs/service.rb
  lib/bgs/vnp_veteran.rb
  spec/lib/bgs/service_spec.rb
  spec/lib/bgs/vnp_veteran_spec.rb
  spec/models/bgs_dependents/veteran_spec.rb
  spec/support/vcr_cassettes/bgs/form686c/submit.yml
  spec/support/vcr_cassettes/bgs/service/get_regional_office_by_zip_code.yml
  spec/support/vcr_cassettes/bgs/vnp_veteran/create.yml
Labels: VSA

#5028 add mobile as preferred contact method in definitions
  Gemfile.lock
Labels: bah

#5035 removing ssoe transaction data from the sign_in object
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: debt

#5036 STEM: Add text message field to spool file #14247
  app/workers/education_form/forms/va10203.rb
  app/workers/education_form/templates/10203.erb
  config/features.yml
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.json
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/10203/minimal.spl
  spec/support/spool_helpers.rb
Labels: bah, bah-qa-needed

#5040 Update spool file phone number labels
  app/workers/education_form/templates/phone_numbers.erb
  config/features.yml
  spec/fixtures/education_benefits_claims/1990/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_edu_prog.spl
  spec/fixtures/education_benefits_claims/1990/simple_ch33.spl
  spec/fixtures/education_benefits_claims/1990e/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990e/simple.spl
  spec/fixtures/education_benefits_claims/1990n/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990n/simple.spl
  spec/fixtures/education_benefits_claims/1995/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1995/minimal.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.spl
  spec/fixtures/education_benefits_claims/5495/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/5495/simple.spl
Labels: bah, bah-ir-needed, bah-qa-needed

#5056 [API 2913] Add a Contestable Issues example (Decision Review API documentation)
  modules/appeals_api/app/swagger/appeals_api/v1/responses_contestable_issues.json
Labels: Lighthouse

#5044 Updates to `rake form526:errors`
  rakelib/form526.rake
Labels: VSA

#4683 Migrating from EVSS to BGS on PowerOfAttorneyVerifier
  lib/bgs/power_of_attorney_verifier.rb
  modules/appeals_api/spec/requests/appeals_request_spec.rb
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/controllers/claims_api/concerns/poa_verification.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
  modules/claims_api/spec/services/unsynchronized_evss_claim_service_spec.rb
  modules/veteran/app/models/veteran/user.rb
  modules/veteran/spec/models/veteran/user_spec.rb
  spec/fixtures/json/evss_with_poa.json
  spec/fixtures/json/veteran_with_poa.json
  spec/fixtures/json/veteran_without_poa.json
  spec/lib/bgs/power_of_attorney_verifier_spec.rb
  spec/lib/evss/vso_search/service_spec.rb
  spec/support/poa_stub.rb
  spec/support/vcr_cassettes/bgs/claimant_web_service/find_poa_by_participant_id.yml
  spec/support/vcr_cassettes/bgs/claimant_web_service/not_find_poa_by_participant_id.yml
Labels: Lighthouse

#5079 Add Identifier for BGS Mock Services
  Gemfile.lock
  app/services/bgs/people_service.rb
Labels: VSA

#5074 remove gibct_filter_enhancement feature flag
  config/features.yml
Labels: bah, bah-ir-needed, bah-qa-needed

#5086 [Development] Add PDF password feature flag
  config/features.yml
Labels: VSA, enhancement

#5060 API-2793 Update appeals api status swagger documentation
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: Lighthouse

#5058 [API 2880] NOD contestable issues endpoint (vets-api)
  lib/caseflow/service.rb
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/responses_contestable_issues.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notifce_of_disagreements/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
  spec/support/vcr_cassettes/caseflow/notice_of_disagreements/contestable_issues.yml
Labels: Lighthouse

#5125 Add a betamocks route for Appeals NOD
  config/betamocks/services_config.yml
Labels: Lighthouse

#5129 Add cerner override feature toggles
  config/features.yml
Labels: VSA

#5116 Remove edu_benefits_stem_scholarship feature flag
  config/features.yml
Labels: bah

#5124 remove stem_document_type feature flag
  app/workers/education_form/forms/va10203.rb
  config/features.yml
  spec/support/spool_helpers.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#5127 Update Payment Method for View Payments
  app/serializers/vet_payment_history_serializer.rb
Labels: VSA

#5097 Education report cleanup
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
Labels: bah

#5080 [API 683] Appeals - support veteran_file_number as alternative param for /contestable_issues
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/contestable_issues-by-file-number.yml
  spec/support/vcr_cassettes/caseflow/notice_of_disagreements/contestable_issues-by-file-number.yml
Labels: Lighthouse

#5126 Remove gibct_search_enhancements flag
  config/features.yml
Labels: bah, bah-qa-needed

#5075 Application directory
  Gemfile
  Gemfile.lock
  config/routes.rb
  lib/okta/directory_service.rb
  lib/okta/service.rb
  modules/apps_api/.rspec
  modules/apps_api/.rubocop.yml
  modules/apps_api/Gemfile
  modules/apps_api/Gemfile.lock
  modules/apps_api/Rakefile
  modules/apps_api/app/controllers/apps_api/application_controller.rb
  modules/apps_api/app/controllers/apps_api/docs/v0/api_controller.rb
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/app/models/directory_application.rb
  modules/apps_api/app/swagger/apps_api/v0/apps.yml
  modules/apps_api/app/swagger/apps_api/v0/apps/apps_swagger.rb
  modules/apps_api/app/swagger/apps_api/v0/controller_swagger.rb
  modules/apps_api/app/swagger/apps_api/v0/description.md
  modules/apps_api/app/swagger/apps_api/v0/swagger_root.rb
  modules/apps_api/apps_api.gemspec
  modules/apps_api/bin/rails
  modules/apps_api/config/locales/en.yml
  modules/apps_api/config/routes.rb
  modules/apps_api/lib/apps_api.rb
  modules/apps_api/lib/apps_api/engine.rb
  modules/apps_api/lib/apps_api/version.rb
  modules/apps_api/spec/factories/directory_applications.rb
  modules/apps_api/spec/models/directory_application_spec.rb
  modules/apps_api/spec/rails_helper.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
  modules/apps_api/spec/spec_helper.rb
  spec/spec_helper.rb
  spec/support/vcr_cassettes/okta/benefits-scopes.yml
  spec/support/vcr_cassettes/okta/health-scopes.yml
  spec/support/vcr_cassettes/okta/verification-scopes.yml
Labels: Lighthouse
