Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-03, with the labels that each got.

#3956 Filter out unneeded identifiers in VAOS systems and messages services
  modules/vaos/app/models/vaos/message_form.rb
  modules/vaos/app/serializers/vaos/messages_serializer.rb
  modules/vaos/app/services/vaos/messages_service.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/spec/services/messages_service_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/support/schemas/vaos/message.json
Labels: VAOS

#3948 Formatting JSON response for View Dependents API
  app/controllers/v0/dependents_applications_controller.rb
  app/serializers/dependents_serializer.rb
  app/swagger/schemas/dependents.rb
  spec/controllers/v0/dependents_applications_controller_spec.rb
Labels: VSA

#3945 Submitting a 1995-STEM form results in a 1995 form being saved #6096
  app/controllers/v0/education_benefits_claims_controller.rb
  app/models/saved_claim/education_benefits.rb
  app/models/saved_claim/education_benefits/va1995s.rb
  spec/models/saved_claim/education_benefits/va1995s_spec.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: bah

#4000 remove unused module
  app/controllers/concerns/authentication_and_sso_concerns.rb
Labels: VSP

#3991 Make maintenance windows file publicly readable.
  lib/pagerduty/maintenance_windows_uploader.rb
  spec/support/aws_helpers.rb
Labels: VSP

#3995 Settings.yml config for disabling local saml authn signing
  README.md
  config/settings.yml
  docs/setup/authentication_with_idme.md
  lib/saml/settings_service.rb
  spec/lib/saml/settings_service_spec.rb
Labels: VSP

#3951 Add exclusion to dependabot for vets_json_schema
  .dependabot/config.yml
Labels: VSP

#4001 Build new /gids/yellow_ribbon_programs endpoint
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/gids/yellow_ribbon_programs_controller.rb
  app/swagger/requests/gibct/yellow_ribbon_programs.rb
  app/swagger/schemas/gibct/yellow_ribbon_programs.rb
  config/routes.rb
  lib/gi/client.rb
  spec/lib/gi/client_spec.rb
  spec/request/swagger_spec.rb
  spec/support/vcr_cassettes/gi_client/gets_yellow_ribbon_programs_search_results.yml
Labels: Please Review, gibct

#3952 less redundant login logging
  app/controllers/concerns/authentication_and_sso_concerns.rb
Labels: VSP

#3955 Improve logging for 526 timeouts
  lib/common/client/base.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#4012 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: VSP

#4020 Adding a feature flag to suppress pharmacies in the facility locator
  config/features.yml
Labels: VSA

#4010 Get In Progress Form endpoint calls MVI proxy add
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/mvi.rb
  app/swagger/requests/in_progress_forms.rb
  lib/common/models/concerns/cache_aside.rb
  spec/factories/users.rb
  spec/models/mvi_spec.rb
  spec/request/in_progress_forms_request_spec.rb
Labels: VSA

#4014 Add deployments method to MilitaryInformationServiceV2
  lib/emis/military_information_service_v2.rb
  lib/emis/models/deployment_location_v2.rb
  lib/emis/models/deployment_v2.rb
  lib/emis/responses.rb
  lib/emis/responses/get_deployment_response_v2.rb
  spec/lib/emis/military_information_service_v2_spec.rb
  spec/support/vcr_cassettes/emis/get_deployment_v2/valid.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/valid.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/valid_multiple_episodes.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/valid_no_end_date.yml
Labels: Lighthouse

#4015 Add caching model for v2 of eMIS MilitaryInformationService
  .rubocop.yml
  .rubocop_todo.yml
  app/models/emis_redis/military_information_v2.rb
  spec/models/emis_redis/military_information_v2_spec.rb
Labels: Lighthouse

#4016 Add pay_grade_code and separation_reason fields to Veteran Verification
  config/betamocks/services_config.yml
  modules/veteran_verification/VETERAN_VERIFICATION.yml
  modules/veteran_verification/app/models/veteran_verification/service_history_episode.rb
  modules/veteran_verification/app/serializers/veteran_verification/service_history_serializer.rb
  modules/veteran_verification/spec/models/service_history_episode_spec.rb
  modules/veteran_verification/spec/requests/service_history_request_spec.rb
  spec/support/schemas/service_and_deployment_history_response.json
Labels: Lighthouse

#4047 Update mental health phone numbers for vha_689 facilities
  lib/facilities/cemetery_data/cems.xml
  lib/facilities/mental_health_data/mental_health_phone_numbers.csv
Labels: Lighthouse

#4021 fix va profile facility list
  app/models/user.rb
  app/services/users/profile.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Labels: va-startup

#4037 Create a JSON Schema for Appeals API / HLR Create
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/spec/config/schemas/200996.json.spec.rb
Labels: Lighthouse

#3980 Improve Benefits Claims documentation
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#3953 Change "dev" to "sandbox" in Swagger Documentation
  modules/appeals_api/app/swagger/v0/appeals.yml
  modules/appeals_api/app/swagger/v1/decision_reviews.yaml
  modules/claims_api/app/swagger/claims_api/v0/swagger_root.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger_root.rb
  modules/openid_auth/MVI_README.yml
  modules/openid_auth/README.yml
  modules/va_facilities/README.yml
  modules/va_forms/app/swagger/va_forms/v0/swagger_root.rb
  modules/vaos/app/docs/v0/vaos.yaml
  modules/vba_documents/app/swagger/vba_documents/document_upload/submission_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v0/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v0/description.md
  modules/vba_documents/app/swagger/vba_documents/v0/swagger_root.rb
  modules/vba_documents/app/swagger/vba_documents/v1/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v1/swagger_root.rb
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_verification/VETERAN_VERIFICATION.yml
Labels: Lighthouse

#4039 Model- Old 526 Submission Flow Cleanup
  app/models/async_transaction/evss/va526ez_submit_transaction.rb
  app/models/disability_compensation_job_status.rb
  app/models/disability_compensation_submission.rb
  app/models/saved_claim/disability_compensation.rb
  rakelib/form526.rake
  spec/factories/async_transactions.rb
  spec/factories/disability_compensation_submissions.rb
  spec/models/async_transaction/evss/va526ez_submit_transaction_spec.rb
Labels: VSA

#4042 Allow users to redirect to external application after SSOe authentication
  app/controllers/v1/sessions_controller.rb
  app/models/login_redirect_application.rb
  app/models/user_session_form.rb
  config/redis.yml
  config/settings.yml
  lib/common/models/redis_store.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/common/models/redis_store_spec.rb
  spec/support/saml/response_builder.rb
Labels: va-startup

#4043 DB- Old 526 Submission Flow Cleanup
  db/migrate/20200317162403_remove_disability_compensation_job_statuses.rb
  db/migrate/20200317164309_remove_disability_compensation_submissions.rb
  db/schema.rb
Labels: VSA

#4054 Update to Concatenate Pay Plan and Pay Grade
  modules/veteran_verification/VETERAN_VERIFICATION.yml
  modules/veteran_verification/app/models/veteran_verification/service_history_episode.rb
  modules/veteran_verification/app/serializers/veteran_verification/service_history_serializer.rb
  modules/veteran_verification/spec/models/service_history_episode_spec.rb
  spec/support/schemas/service_and_deployment_history_response.json
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/invalid_missing_pay_plan.yml
Labels: Lighthouse

#4013 multiple Account matches should select value with matching idme uuid
  app/models/account.rb
  spec/models/account_spec.rb
Labels: va-startup

#4019 Removing three facility feature flags
  app/serializers/provider_serializer.rb
  config/features.yml
  lib/facilities/ppms/client.rb
  spec/lib/facilities/ppms/client_spec.rb
  spec/serializers/provider_serializer_spec.rb
Labels: VSA

#4055 fix: using "myvahealth" as the key for a login redirect
  config/settings.yml
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: va-startup

#4060 fix Gemfile guard clause for installing Sidekiq Pro/Ent
  Gemfile
Labels: VSP

#4059 Cleanup v1 logout api
  app/controllers/v1/sessions_controller.rb
  config/routes.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: va-startup

#4063 Adds Patrick to flipper admin list
  config/settings.yml
Labels: va-startup

#4027 alternative user UUID
  app/models/account.rb
  app/models/user.rb
  app/models/user_identity.rb
  lib/saml/user_attributes/base.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v0/sessions_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/users.rb
  spec/lib/saml/dslogon_user_spec.rb
  spec/lib/saml/idme_user_spec.rb
  spec/lib/saml/mhv_user_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/account_spec.rb
Labels: va-startup

#4062 Fix mhv account type attribute for v1 login
  app/models/user_session_form.rb
  lib/saml/errors.rb
  lib/saml/user.rb
  lib/saml/user_attributes/base.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v0/sessions_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/saml_attributes.rb
  spec/lib/saml/dslogon_user_spec.rb
  spec/lib/saml/idme_user_spec.rb
  spec/lib/saml/mhv_user_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/support/saml/response_builder.rb
Labels: Please Review, va-startup

#4061 adding version tags to authentication StatsD metrics
  app/controllers/v0/sessions_controller.rb
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v0/sessions_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: va-startup

#4068 create feature flag for stem scholarship functionality
  config/features.yml
Labels: bah, bah-ir-needed, bah-qa-needed
