Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-05, with the labels that each got.

#4205 Update swagger docs for YR endpoint
  app/swagger/requests/gibct/yellow_ribbon_programs.rb
  app/swagger/schemas/gibct/yellow_ribbon_programs.rb
Labels: VSA, documentation

#4209 Add BAH Team emails to flipper.admin_user_emails
  config/settings.yml
Labels: bah

#4219 refactor how we configure redis
  config/redis.yml
  config/settings.yml
Labels: VSP

#4228 Add Flipper Admin
  config/settings.yml
Labels: Please Review

#4233 Update to Rails 6.0.3
  Gemfile.lock
  config/environments/test.rb
Labels: VSP

#4232 Upgrade dev/test gems
  Gemfile.lock
Labels: VSP

#4241 Fix casing of BAH flipper feature admin emails
  config/settings.yml
Labels: bah

#3865 Removing scopes from Claims V0 docs
  modules/claims_api/app/swagger/claims_api/description/v0.md
Labels: Lighthouse

#4247 Benefits Intake API documentation updates
  modules/vba_documents/app/swagger/vba_documents/document_upload/status_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/status_description.md
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
Labels: Lighthouse

#4226 Decision Reviews API - Add Timezone Field for Generating Local Signature Date
  config/settings.yml
  lib/json_schema/form_schemas.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_review/higher_level_reviews_controller.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/swagger/appeals_api/json_schema_reference_string.rb
  modules/appeals_api/app/swagger/appeals_api/json_schema_to_swagger_converter.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/lib/appeals_api/higher_level_review_pdf_constructor.rb
  modules/appeals_api/spec/fixtures/valid_200996.json
  modules/appeals_api/spec/lib/higher_level_review_pdf_constructor_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/swagger/appeals_api/json_schema_to_swagger_converter_spec.rb
Labels: Lighthouse

#4128 Upgrade Sidekiq to 5
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
  lib/sidekiq/semantic_logging.rb
  spec/jobs/sidekiq_stats_job_spec.rb
Labels: VSP

#4236 remove redis from testing docker compose
  docker-compose.test.yml
Labels: VSP

#4253 add new user to report mailers
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#4238 Decision Reviews API - Add Sidekiq Job for Updating HigherLevelReview Statuses Based on Central Mail Statuses
  config/settings.yml
  config/sidekiq_scheduler.yml
  db/schema.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/swagger/appeals_api/v1/swagger_root.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/db/migrate/20200508201027_change_hlr_status_to_string.rb
  modules/appeals_api/lib/appeals_api/higher_level_review_pdf_constructor.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/fixtures/valid_200996.json
  modules/appeals_api/spec/fixtures/valid_200996_minimum.json
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v1/docs_controller_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_updater_spec.rb
Labels: Lighthouse

#4227 Creating base64 tempfile for Claims API
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/spec/fixtures/base64pdf
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#4210 duplicate redis data to secondary redis
  config/initializers/01_redis.rb
  config/initializers/breakers.rb
  config/initializers/rack_attack.rb
Labels: VSP

#4248 enable enforcement of CSRF protection.
  app/controllers/application_controller.rb
  app/controllers/concerns/logging_forgery_strategy.rb
  spec/request/csrf_request_spec.rb
Labels: VSP

#4230 Expose redis port for Docker development
  docker-compose.yml
Labels: VSP

#4245 user email is now optional
  app/controllers/v0/post911_gi_bill_statuses_controller.rb
  app/models/id_card_attributes.rb
  app/models/user.rb
  app/models/user_identity.rb
  app/services/bgs/dependent_service.rb
  lib/evss/jwt.rb
  lib/saml/user_attributes/base.rb
  lib/saml/user_attributes/ssoe.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: va-startup

#4266 Decision Reviews API - don't run batch job unless there are hlrs to work on
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
Labels: Lighthouse

#4270 Update pg gem
  Gemfile.lock
Labels: VSP

#4269 Disable rubocop, brakeman, and bundler-audit CodeClimate plugins
  .codeclimate.yml
  .rubocop.yml
  rakelib/lint.rake
Labels: VSP

#4271 Update foreman gem
  Gemfile.lock
Labels: VSP

#4279 shorten dangerbot error messages
  Dangerfile
Labels: VSP

#4288 Update to Rails 6.0.3.1 to fix multiple CVEs
  Gemfile.lock
Labels: VSP

#4290 Update rspec-rails gem
  Gemfile.lock
Labels: VSP

#4295 return 403 status code for CSRF token violations
  app/controllers/application_controller.rb
  spec/request/csrf_request_spec.rb
Labels: VSP

#4298 Decision Reviews API - Anchor Area Code Regex
  modules/appeals_api/config/schemas/200996.json
Labels: Lighthouse, appeals

#4301 bam: Correctly accept more than one topic arn
  README.md
  config/settings.yml
  docs/setup/native.md
  modules/vba_documents/app/controllers/vba_documents/internal/v0/upload_complete_controller.rb
  modules/vba_documents/spec/request/v0/upload_complete_request_spec.rb
Labels: Lighthouse

#4303 Downgrade simplecov to < 0.18 due to bug with reporting to CodeClimate
  Gemfile
  Gemfile.lock
Labels: VSP

#4297 10-10CG Updates - Default veteran status, remove ICN for veteran when sending to CARMA , Fix MVI Lookup
  app/services/form1010cg/service.rb
  lib/carma/models/base.rb
  lib/carma/models/submission.rb
  spec/lib/carma/models/base_spec.rb
  spec/lib/carma/models/submission_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: Please Review

#4292 Decision Reviews API - Restrict to Only "compensation" Benefit Type
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/spec/fixtures/expected_200996.pdf
  modules/appeals_api/spec/fixtures/valid_200996.json
  modules/appeals_api/spec/fixtures/valid_200996_minimum.json
  modules/appeals_api/spec/lib/higher_level_review_pdf_constructor_spec.rb
Labels: Lighthouse, appeals

#4315 fix for when active_mhv_ids is nil
  app/models/user.rb
  spec/request/user_request_spec.rb
Labels: bug

#4323 Remove empty file
  lib/evss/evss_backend_service_error.rb
Labels: VSP

#4102 Remove dependabot
  .dependabot/config.yml
Labels: VSP

#4328 Update Rubcop to v0.84
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile.lock
  lib/aes_256_cbc_encryptor.rb
Labels: VSP

#4309 adding swagger properties for new va profile attributes
  app/swagger/requests/user.rb
Labels: va-startup

#4319 reworking session controllers statsd init
  app/controllers/v0/sessions_controller.rb
  app/controllers/v1/sessions_controller.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sessions_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: va-startup

#4334 Allow regex for allowed CORS origin domains
  config/application.rb
  config/settings.yml
Labels: VSP

#4285 Decision Reviews API - Update /contestable_issues Documentation
  modules/appeals_api/app/swagger/appeals_api/v1/responses_contestable_issues.json
Labels: Lighthouse, appeals

#4337 Revise CODEOWNER assignments
  .github/CODEOWNERS
Labels: VSP

#4313 Appeals API - Pull Our Settings Out of `decision_review`
  config/settings.yml
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_updater_spec.rb
  spec/support/vcr_cassettes/decision_review/200_contestable_issues.yml
  spec/support/vcr_cassettes/decision_review/200_intake_status.yml
  spec/support/vcr_cassettes/decision_review/200_review.yml
  spec/support/vcr_cassettes/decision_review/202_intake_status.yml
  spec/support/vcr_cassettes/decision_review/202_review.yml
  spec/support/vcr_cassettes/decision_review/303_intake_status.yml
  spec/support/vcr_cassettes/decision_review/400_contestable_issues.yml
  spec/support/vcr_cassettes/decision_review/400_intake_status.yml
  spec/support/vcr_cassettes/decision_review/400_review.yml
  spec/support/vcr_cassettes/decision_review/403_intake_status.yml
  spec/support/vcr_cassettes/decision_review/404_contestable_issues.yml
  spec/support/vcr_cassettes/decision_review/404_get_intake_status.yml
  spec/support/vcr_cassettes/decision_review/404_intake_status.yml
  spec/support/vcr_cassettes/decision_review/404_review.yml
  spec/support/vcr_cassettes/decision_review/409_intake_status.yml
  spec/support/vcr_cassettes/decision_review/422_contestable_issues.yml
  spec/support/vcr_cassettes/decision_review/422_intake_status.yml
  spec/support/vcr_cassettes/decision_review/502_contestable_issues.yml
  spec/support/vcr_cassettes/decision_review/502_intake_status.yml
  spec/support/vcr_cassettes/decision_review/502_review.yml
Labels: Lighthouse, appeals

#4335 Update and simplify native setup docs
  bin/install-ubuntu-packages
  bin/setup-osx
  docs/setup/native.md
Labels: VSP
