Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-09, with the labels that each got.

#4811 DEV: Get local builds working on iPhone / iOS #12964
  README.md
  config/settings/development.yml
  docs/setup/images/vma_1.png
  docs/setup/images/vma_2.png
  docs/setup/local_network_access.md
  docs/setup/virutal_machine_access.md
  lib/saml/url_service.rb
Labels: bah

#4807 Added user to feature flags for added email access
  app/models/form_profiles/va10203.rb
  app/models/saved_claim/education_benefits/va10203.rb
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#4824 create benefit question enhancements feature flag
  config/features.yml
Labels: bah, bah-ir-needed, bah-qa-needed

#4813 12946: Removal of gibctCh33BenefitRateUpdate feature flag
  config/features.yml
Labels: bah

#4843 statsd metrics with tags not matching those initialized restart the StatsD agent
  app/controllers/v0/sessions_controller.rb
  app/controllers/v1/sessions_controller.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sessions_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: bug

#4850 don't issue saml request tracking on logout
  app/controllers/v0/sessions_controller.rb
Labels: bug

#4830 Chapter 36 (VA Form 28-8832) PDF Generation
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/28-8832.pdf
  lib/pdf_fill/forms/va288832.rb
  spec/fixtures/pdf_fill/28-8832/kitchen_sink.json
  spec/fixtures/pdf_fill/28-8832/kitchen_sink.pdf
  spec/fixtures/pdf_fill/28-8832/overflow.json
  spec/fixtures/pdf_fill/28-8832/overflow.pdf
  spec/fixtures/pdf_fill/28-8832/overflow_extras.pdf
  spec/fixtures/pdf_fill/28-8832/simple.json
  spec/fixtures/pdf_fill/28-8832/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: VSA

#4665 IAM SSOe OAuthe service
  config/initializers/inflections.rb
  config/settings.yml
  lib/iam_ssoe_oauth/configuration.rb
  lib/iam_ssoe_oauth/service.rb
  spec/lib/iam_ssoe_oauth/configuration_spec.rb
  spec/lib/iam_ssoe_oauth/service_spec.rb
  spec/support/vcr_cassettes/iam_ssoe_oauth/introspect_active.yml
  spec/support/vcr_cassettes/iam_ssoe_oauth/introspect_inactive.yml
Labels: va-mobile, va-startup

#4881 [API-1793] Create an PoA /validate end point
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#4882 [API-1841] Update descriptions in docs by removing copy about feature being in t…
  modules/claims_api/app/swagger/claims_api/description/v0.md
  modules/claims_api/app/swagger/claims_api/description/v1.md
Labels: Lighthouse

#4886 STEM: Remove STEM from 22-1995 workflow #13414
  .rubocop_todo.yml
  app/models/education_benefits_claim.rb
  app/models/form_profile.rb
  app/models/form_profiles/va1995s.rb
  app/models/saved_claim/education_benefits/va1995s.rb
  app/swagger/swagger/requests/education_benefits_claims.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/create_spool_submissions_report.rb
  app/workers/education_form/education_facility.rb
  app/workers/education_form/forms/va1995s.rb
  app/workers/education_form/templates/1995s.erb
  config/form_profile_mappings/22-1995S.yml
  spec/factories/education_benefits_claims.rb
  spec/factories/va1995s.rb
  spec/fixtures/education_benefits_claims/1995s/kitchen_sink.json
  spec/fixtures/education_benefits_claims/1995s/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1995s/minimal.json
  spec/fixtures/education_benefits_claims/1995s/minimal.spl
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/jobs/education_form/education_facility_spec.rb
  spec/jobs/education_form/forms/va1995s_spec.rb
  spec/models/education_benefits_claim_spec.rb
  spec/models/education_benefits_submission_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/saved_claim/education_benefits/va1995s_spec.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#4890 [API-1188] Create daily sidekiq job to find, catch and rerun "uploaded" statuses for when SNS fails
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/workers/vba_documents/run_unsuccessful_submissions.rb
  modules/vba_documents/spec/jobs/run_unsuccessful_submissions_spec.rb
Labels: Lighthouse

#4895 Remove 1995S Schema
  Gemfile.lock
Labels: bah

#4880 Add stem_document_type feature flag
  config/features.yml
Labels: bah

#4893 updated SCO email link for privacy policy
  app/mailers/views/school_certifying_officials.html.erb
Labels: bah, bah-ir-needed, bah-qa-needed

#4900 Added school ratings feature flag to the backend
  config/features.yml
Labels: bah, bah-ir-needed, bah-qa-needed

#4903 [API-2001] Set status to 'vbms' on various UploadSubmission GUIDs
  modules/vba_documents/lib/tasks/update_to_vbms_status_20200914.rake
Labels: Lighthouse

#4884 Update 10203 spool file form id
  app/workers/education_form/forms/va10203.rb
  config/features.yml
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/10203/minimal.spl
  spec/support/spool_helpers.rb
Labels: bah

#4573 removing redirect logic from url_service
  config/settings.yml
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: debt

#4904 Update SCO email links
  app/mailers/views/school_certifying_officials.html.erb
Labels: bah

#4923 renaming the ssoe tracker url to trace
  config/routes.rb
  lib/saml/templates/sso_post_form.html.erb
Labels: bug

#4823 Update HLR for Lighthouse Changes
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/contestable_issues_controller.rb
  app/controllers/v0/higher_level_reviews/contestable_issues_controller.rb
  app/controllers/v0/higher_level_reviews_controller.rb
  app/controllers/v0/intake_statuses_controller.rb
  app/swagger/swagger/requests/appeals/appeals.rb
  app/swagger/swagger/requests/appeals/contestable_issues.rb
  app/swagger/swagger/schemas/appeals/contestable_issues.rb
  app/swagger/swagger/schemas/appeals/higher_level_review.rb
  app/swagger/swagger/schemas/appeals/higher_level_review_request.rb
  app/swagger/swagger/schemas/appeals/intake_status.rb
  config/initializers/breakers.rb
  config/locales/exceptions.en.yml
  config/routes.rb
  lib/decision_review/configuration.rb
  lib/decision_review/responses/response.rb
  lib/decision_review/schemas/contestable_issues.json
  lib/decision_review/schemas/intake_status.json
  lib/decision_review/schemas/review.json
  lib/decision_review/service.rb
  lib/decision_review/service_exception.rb
  spec/lib/decision_review/service_spec.rb
  spec/models/form_profile_spec.rb
  spec/request/appeals_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/vcr_cassettes/decision_review/HLR-CREATE-RESPONSE-200.yml
  spec/support/vcr_cassettes/decision_review/HLR-CREATE-RESPONSE-422.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-200.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-404.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-422.yml
  spec/support/vcr_cassettes/decision_review/HLR-SHOW-RESPONSE-200.yml
  spec/support/vcr_cassettes/decision_review/HLR-SHOW-RESPONSE-404.yml
Labels: VSA

#4928 Require Libs for HLR
  config/initializers/breakers.rb
  lib/decision_review/service.rb
  spec/request/swagger_spec.rb
Labels: VSA

#4277 Default flipper toggle to off in development
  config/features.yml
  config/initializers/flipper.rb
Labels: VSP

#4931 Add specialIssues to 526 form schema
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#4953 Handle Non-Hash Request Body (HLR#Create)
  app/controllers/appeals_base_controller.rb
  app/controllers/v0/higher_level_reviews_controller.rb
  config/locales/exceptions.en.yml
  spec/request/appeals_request_spec.rb
  spec/request/swagger_spec.rb
Labels: VSA

#4954 placing ssoe transaction in session object
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/v0/users_controller.rb
  app/models/session.rb
  app/models/user.rb
  app/models/user_identity.rb
  app/models/user_session_form.rb
  app/serializers/user_serializer.rb
  app/services/users/profile.rb
  app/services/users/scaffold.rb
  app/swagger/swagger/schemas/user_internal_services.rb
  lib/saml/user.rb
  spec/factories/users.rb
  spec/lib/saml/dslogon_user_spec.rb
  spec/lib/saml/idme_user_spec.rb
  spec/lib/saml/mhv_user_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/session_spec.rb
  spec/models/user_session_form_spec.rb
  spec/serializers/user_serializer_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
  spec/support/vcr_cassettes/complex_interaction/internal_interactions.yml
Labels: bug

#4991 Add Justin Linn to admin list
  config/settings.yml
Labels: Please Review

#4988 Small Prefill Refactor: Stop Passing Around User
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/form_profile.rb
  app/models/form_profiles/mdot.rb
  app/models/form_profiles/va0994.rb
  app/models/form_profiles/va10203.rb
  app/models/form_profiles/va21686c.rb
  app/models/form_profiles/va526ez.rb
  app/models/form_profiles/va686c674.rb
  spec/models/form_profile_spec.rb
Labels: VSA
