Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-01, with the labels that each got.

#3489 [1771] Higher Level Review submission endpoint
  app/controllers/v0/apidocs_controller.rb
  app/swagger/requests/appeals.rb
  app/swagger/schemas/appeals.rb
  app/swagger/schemas/appeals/higher_level_review.rb
  app/swagger/schemas/appeals/higher_level_review_request.rb
  app/swagger/schemas/appeals/intake_status.rb
  app/swagger/schemas/appeals/requests.rb
  config/locales/exceptions.en.yml
  modules/appeals_api/app/controllers/appeals_api/v0/appeals_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/appeals_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/higher_level_review_accepted.json
  spec/support/vcr_cassettes/decision_review/202_review.yml
  spec/support/vcr_cassettes/decision_review/400_review.yml
  spec/support/vcr_cassettes/decision_review/409_intake_status.yml
  spec/support/vcr_cassettes/decision_review/422_intake_status.yml
Labels: VSA

#3737 4591 fix bug community care requests
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/spec/factories/cc_appointment_request_forms.rb
  spec/support/vcr_cassettes/vaos/appointment_requests/post_request_CC.yml
Labels: VAOS

#3597 2604 - Enabling Betamocks for Rating Info Service
  config/settings.yml
  lib/evss/common_service.rb
Labels: VSA

#3704 Kr/change vet verification swagger docs
  modules/veteran_verification/VETERAN_CONFIRMATION.yml
  modules/veteran_verification/VETERAN_VERIFICATION.yml
  modules/veteran_verification/app/controllers/veteran_verification/docs/v0/api_controller.rb
  modules/veteran_verification/config/routes.rb
  modules/veteran_verification/spec/requests/api_docs_request_spec.rb
Labels: Lighthouse

#3676 Create Veteran Confirmation /status endpoint
  config/locales/exceptions.en.yml
  lib/common/exceptions.rb
  lib/common/exceptions/internal/no_query_params_allowed.rb
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
  modules/veteran_confirmation/app/services/veteran_confirmation/attr_service.rb
  modules/veteran_confirmation/app/services/veteran_confirmation/status_service.rb
  modules/veteran_confirmation/spec/requests/veteran_confirmation_request_spec.rb
  modules/veteran_confirmation/spec/requests/veteran_status_request_spec.rb
  modules/veteran_confirmation/spec/services/veteran_confirmation/status_service_spec.rb
  spec/lib/common/exceptions/no_query_params_allowed_spec.rb
  spec/support/vcr_cassettes/emis/get_veteran_status/valid_icn.yml
  spec/support/vcr_cassettes/emis/get_veteran_status/valid_non_veteran_icn.yml
Labels: Lighthouse

#3731 Lighthouse - Appeals API - add v1 docs
  modules/appeals_api/app/controllers/appeals_api/docs/v0/api_controller.rb
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/swagger/v0/appeals.yml
  modules/appeals_api/app/swagger/v1/decision_reviews.yaml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v1/docs_controller_spec.rb
Labels: Lighthouse, appeals

#3675 VAOS #2972 get cc supported sites
  modules/vaos/app/controllers/vaos/cc_supported_sites_controller.rb
  modules/vaos/app/serializers/vaos/cc_supported_sites_serializer.rb
  modules/vaos/app/services/vaos/cc_supported_sites_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/cc_supported_sites_request_spec.rb
  modules/vaos/spec/services/cc_supported_sites_service_spec.rb
  spec/support/schemas/vaos/cc_supported_sites.json
  spec/support/vcr_cassettes/vaos/cc_supported_sites/get_no_sites.yml
  spec/support/vcr_cassettes/vaos/cc_supported_sites/get_one_site.yml
Labels: VAOS

#3748 Add source data to power of attorney and sent to BGS
  Gemfile.lock
  db/schema.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/db/migrate/20200107144615_add_source_ids_to_power_of_attorney.rb
  modules/claims_api/spec/factories/power_of_attorney.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
Labels: Lighthouse

#3705 Use bgs env from settings
  config/initializers/bgs.rb
  config/settings.yml
Labels: Lighthouse

#3741 Update VHA website URLs for Facilities API
  lib/facilities/website_data/websites.csv
  spec/lib/facilities/vha_facility_spec.rb
  spec/services/facilities/website_url_service_spec.rb
Labels: Lighthouse

#3622 CT: Update auto-complete search functionality to use REDIS #4096
  app/controllers/gids_controller.rb
  app/controllers/v0/gi/calculator_constants_controller.rb
  app/controllers/v0/gi/institution_programs_controller.rb
  app/controllers/v0/gi/institutions_controller.rb
  app/controllers/v0/gi/zipcode_rates_controller.rb
  app/controllers/v0/gids/calculator_constants_controller.rb
  app/controllers/v0/gids/institution_programs_controller.rb
  app/controllers/v0/gids/institutions_controller.rb
  app/controllers/v0/gids/zipcode_rates_controller.rb
  app/models/gids_redis.rb
  config/initializers/inflections.rb
  config/redis.yml
  config/routes.rb
  lib/gi/client.rb
  lib/gi/gids_response.rb
  spec/lib/gi/client_spec.rb
  spec/models/gids_redis_spec.rb
  spec/request/gids/calculator_constants_request_spec.rb
  spec/request/gids/institution_programs_request_spec.rb
  spec/request/gids/institutions_request_spec.rb
  spec/request/gids/zipcode_rates_request_spec.rb
Labels: bah

#3761 Update Veteran Confirmation documentation route
  modules/veteran_confirmation/app/controllers/veteran_confirmation/docs/v0/api_controller.rb
  modules/veteran_confirmation/config/routes.rb
  modules/veteran_confirmation/spec/requests/api_docs_request_spec.rb
Labels: Lighthouse

#3729 Validate json body payload for posts
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/app/controllers/claims_api/concerns/json_format_validation.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: Lighthouse

#3771 Use sed instead of ruby sub for memory performance
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
Labels: Lighthouse

#3730 Update body for 526+2122
  modules/claims_api/app/swagger/claims_api/forms/form_2122_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/forms/form_526_example.json
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v0/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v1/controller_swagger.rb
Labels: Lighthouse

#3787 Add optional fields to query Veteran Confirmation
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
  modules/veteran_confirmation/spec/requests/veteran_status_request_spec.rb
Labels: Lighthouse

#3789 Update websites.csv
  lib/facilities/website_data/websites.csv
Labels: Lighthouse

#3794 Fix issue with upcasing an optional attribute
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
  modules/veteran_confirmation/spec/requests/veteran_status_request_spec.rb
Labels: Lighthouse

#3756 Add capability of POSTing to /appointments (direct scheduling)
  modules/vaos/app/controllers/vaos/appointments_controller.rb
  modules/vaos/app/models/vaos/appointment_form.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/services/vaos/middleware/response/errors.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/factories/appointment_forms.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/post_appointment.yml
  spec/support/vcr_cassettes/vaos/appointments/post_appointment_400.yml
  spec/support/vcr_cassettes/vaos/appointments/post_appointment_409.yml
Labels: VAOS

#3781 Adjust GIDS cache time
  config/redis.yml
Labels: bah

#3788 CT 116: Remove Feature Flag for VETTEC programs filter #4709
  config/features.yml
Labels: bah

#3802 Update VHA Mental Health Info CSV
  app/workers/facilities/mental_health_reload_job.rb
  lib/facilities/mental_health_data/mental_health_phone_numbers.csv
Labels: Lighthouse

#3805 Add NCA websites
  lib/facilities/nca_facility.rb
  spec/lib/facilities/nca_facility_spec.rb
Labels: Lighthouse

#3808 Vaos appointments post bug fix
  modules/vaos/app/controllers/vaos/appointments_controller.rb
  modules/vaos/app/models/vaos/appointment_form.rb
  modules/vaos/spec/factories/appointment_forms.rb
Labels: VAOS

#3810 VAOS Bug fix, round 2
  modules/vaos/app/models/vaos/appointment_form.rb
Labels: VAOS

#3826 Veteran Confirmation API Documentation Updates
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
Labels: Lighthouse

#3831 Remove Preneeds::SubmissionReport
  app/controllers/v0/preneeds/burial_forms_controller.rb
  app/mailers/preneeds_submissions_report_mailer.rb
  app/mailers/views/preneeds_submissions_report.erb
  app/workers/preneeds/submissions_report.rb
  config/sidekiq_scheduler.yml
  lib/preneeds/logged_configuration.rb
  lib/preneeds/logged_service.rb
  spec/jobs/preneeds/submissions_report_spec.rb
  spec/mailers/preneeds_submissions_report_mailer_spec.rb
Labels: VSP

#3497 Ruby 2.5.7 upgrade
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  app/workers/delete_old_transactions_job.rb
  config/initializers/flipper.rb
  docker-entrypoint.sh
  lib/sftp_writer/remote.rb
  rakelib/connectivity.rake
  rakelib/mvi.rake
  rakelib/redis.rake
  rakelib/vet360.rake
  spec/lib/common/client/middleware/request/remove_cookies_spec.rb
  spec/lib/evss/ppiu/service_spec.rb
  spec/support/url_service_helpers.rb
Labels: VSP
