Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-04, with the labels that each got.

#4089 Fix VCR cassette name.
  spec/request/swagger_spec.rb
Labels: VSP

#4071 adding eric.buckley@adhocteam.us to flipper admin users
  config/settings.yml
Labels: va-startup

#4091 Kelsonic 7443 update yellow ribbon
  app/swagger/schemas/gibct/yellow_ribbon_programs.rb
  spec/support/vcr_cassettes/gi_client/gets_yellow_ribbon_programs_search_results.yml
Labels: VSA, gibct

#4032 evss reference data service refactor
  app/controllers/v0/addresses_controller.rb
  config/routes.rb
  spec/request/address_request_spec.rb
  spec/routing/address_routing.rb
Labels: VSP

#4100 Update rubocop gem and configuration
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile.lock
Labels: VSP

#4103 Update Ruby to 2.6.6
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
Labels: VSP

#4058 Adds representative SAML factories for inbound SSO
  spec/factories/saml_attributes.rb
Labels: va-startup

#4110 update vets-json-schema revision with new hash
  Gemfile.lock
Labels: bah

#4122 Update new relic gem
  Gemfile.lock
Labels: VSP

#4117 Remove SSL configuration and certs from HCA configuration.
  config/settings.yml
  lib/hca/configuration.rb
  spec/lib/hca/service_spec.rb
Labels: VSP

#4118 Added estimate your benefits sec103 feature flag
  config/features.yml
Labels: bah, bah-ir-needed, bah-qa-needed

#4129 temporarily add addresses to daily reports
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: VSP

#4126 EYB: Create Feature Flag Toggle for Estimate Your Benefits Effort #7780
  config/features.yml
Labels: bah, bah-qa-needed

#4131 update vets-json-schema version
  Gemfile.lock
Labels: bah, bah-stem

#3899 Create CARMA Service (Salesforce Client)
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/models/form1010cg/submission.rb
  app/serializers/form1010cg/submission_serializer.rb
  app/services/caregivers_assistance_claims_service.rb
  app/services/form1010cg/service.rb
  app/swagger/requests/caregivers_assistance_claims.rb
  config/routes.rb
  config/settings.yml
  lib/carma/README.md
  lib/carma/client/client.rb
  lib/carma/client/configuration.rb
  lib/carma/models/base.rb
  lib/carma/models/submission.rb
  lib/carma/models/submission/metadata.rb
  spec/fixtures/carma/privatekey.pem
  spec/lib/carma/client/client_spec.rb
  spec/lib/carma/client/configuration_spec.rb
  spec/lib/carma/models/base_spec.rb
  spec/lib/carma/models/submission/metadata_spec.rb
  spec/lib/carma/models/submission_spec.rb
  spec/models/form1010cg/submission_spec.rb
  spec/request/caregivers_assistance_claims_request_spec.rb
  spec/services/caregivers_assistance_claims_service_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/carma/submissions/create/201.yml
Labels: Please Review

#4135 update vets-json-schema to latest version
  Gemfile.lock
Labels: bah

#4098 Remove legacy frontend performance monitoring endpoint
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/performance_monitorings_controller.rb
  app/serializers/performance_monitoring_serializer.rb
  app/swagger/requests/performance_monitoring.rb
  config/routes.rb
  lib/benchmark/performance.rb
  lib/benchmark/timer.rb
  lib/benchmark/whitelist.rb
  spec/lib/benchmark/performance_spec.rb
  spec/lib/benchmark/timer_spec.rb
  spec/lib/benchmark/whitelist_spec.rb
  spec/request/performance_monitorings_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/schemas/performance_monitoring.json
Labels: VSP

#4105 Add module scope to VAOS MessagesSerializer
  modules/vaos/app/controllers/vaos/messages_controller.rb
Labels: VAOS, VSP

#4123 Update test gems
  .rubocop_todo.yml
  Gemfile.lock
Labels: VSP

#4138 Update link to Sidekiq commercial credentials
  docs/setup/native.md
Labels: VSP

#4090 Add issue number link and clean up text on default pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: VSP

#4127 Upgrade Sentry integration gem to latest version
  Gemfile
  Gemfile.lock
Labels: VSP

#4134 Add support for international addresses in the address validation api
  lib/vet360/models/validation_address.rb
  spec/lib/vet360/models/validation_address_spec.rb
Labels: Please Review

#4106 7272: Removal of 1995s from Spool files and YTD reports
  app/models/education_benefits_claim.rb
  app/workers/education_form/templates/1995.erb
  spec/fixtures/education_benefits_claims/1995/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1995/minimal.spl
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/jobs/education_form/create_spool_submissions_report_spec.rb
  spec/models/education_benefits_claim_spec.rb
Labels: bah

#4148 Temporarily log CSRF response token
  app/controllers/application_controller.rb
Labels: VSP

#4094 Improve configuration and messaging for dealing with Sidekiq Enterprise in Gemfile
  Gemfile
Labels: VSP

#4155 Update byebug gem
  Gemfile.lock
Labels: VSP, dependencies

#4125 Changes for the new education 10203 form
  app/models/education_benefits_claim.rb
  app/models/form_profile.rb
  app/models/form_profiles/va10203.rb
  app/models/saved_claim/education_benefits/va10203.rb
  app/workers/education_form/forms/va10203.rb
  app/workers/education_form/templates/10203.erb
  config/form_profile_mappings/22-10203.yml
  spec/factories/va10203.rb
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.json
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/10203/minimal.json
  spec/fixtures/education_benefits_claims/10203/minimal.spl
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/jobs/education_form/forms/va10203_spec.rb
  spec/models/education_benefits_claim_spec.rb
  spec/models/education_benefits_submission_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: bah, bah-ir-needed

#4166 Bah 7272 Addition and Removal of Emails from Report Mailers
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#4147 Add Veteran and Caregiver to CARMA::Submission::Metadata
  lib/carma/models/submission.rb
  lib/carma/models/submission/metadata.rb
  lib/carma/models/submission/metadata/caregiver.rb
  lib/carma/models/submission/metadata/veteran.rb
  spec/lib/carma/models/submission/metadata/caregiver_spec.rb
  spec/lib/carma/models/submission/metadata/veteran_spec.rb
  spec/lib/carma/models/submission/metadata_spec.rb
  spec/lib/carma/models/submission_spec.rb
Labels: Please Review

#4162 Update Rubocop to v0.82 and handle exceptions.
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile.lock
  lib/common/client/middleware/response/facility_parser.rb
  lib/evss/pciu/request_body.rb
  lib/evss/ppiu/service.rb
  lib/saml/user_attributes/ssoe.rb
  lib/vsopdf/vso_appointment_form.rb
  spec/request/authentication/standard_authentication.rb
  spec/support/url_service_helpers.rb
Labels: VSP, dependencies

#4191 version policy in readme
  README.md
Labels: VSP

#4190 adding a new ssoe_ebenefits_links feature flag
  config/features.yml
Labels: va-startup

#4199 Bah remove personal email
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#4192 Minor update to some test gems
  Gemfile.lock
Labels: VSP

#4170 remove carma stub and hit endpoint
  Gemfile
  Gemfile.lock
  app/controllers/v0/vic/vic_submissions_controller.rb
  app/models/form_profile.rb
  app/models/form_profiles/vic.rb
  app/models/vic/vic_submission.rb
  app/serializers/vic_submission_serializer.rb
  app/workers/vic/attachment_upload_job.rb
  app/workers/vic/delete_old_uploads.rb
  app/workers/vic/submission_job.rb
  config/routes.rb
  config/sidekiq_scheduler.yml
  lib/carma/README.md
  lib/carma/client/client.rb
  lib/carma/models/submission.rb
  lib/pdf_fill/forms/va1010cg.rb
  lib/vic/service.rb
  spec/controllers/v0/vic/vic_submissions_controller_spec.rb
  spec/factories/vic/vic_submission.rb
  spec/fixtures/pdf_fill/10-10CG/kitchen_sink.json
  spec/fixtures/pdf_fill/10-10CG/kitchen_sink.pdf
  spec/fixtures/pdf_fill/10-10CG/overflow.json
  spec/fixtures/pdf_fill/10-10CG/overflow.pdf
  spec/fixtures/pdf_fill/10-10CG/simple.json
  spec/fixtures/pdf_fill/10-10CG/simple.pdf
  spec/jobs/vic/attachment_upload_job_spec.rb
  spec/jobs/vic/delete_old_uploads_spec.rb
  spec/jobs/vic/submission_job_spec.rb
  spec/lib/carma/client/client_spec.rb
  spec/lib/carma/models/submission_spec.rb
  spec/lib/vic/service_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/vic/vic_submission_spec.rb
  spec/request/caregivers_assistance_claims_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/vcr_cassettes/carma/submissions/create/201.yml
Labels: Please Review

#4168 Inbound SSOe
  app/policies/mhv_prescriptions_policy.rb
  lib/saml/url_service.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/lib/saml/url_service_spec.rb
  spec/request/prescriptions_request_spec.rb
Labels: va-startup

#4194 update binstubs
  .rubocop.yml
  bin/bundle
  bin/rails
  bin/rake
  bin/rspec
  bin/setup
  bin/spring
  bin/update
Labels: VSP
