Repository department-of-veterans-affairs/vets-api, pull requests merged in 2020-07, with the labels that each got.

#4450 Add appeals metadata controller
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v0/appeals_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/lib/appeals_api/health_checker.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse

#4459 change type ContestableIssue to contestableIssue
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/spec/fixtures/invalid_200996.json
  modules/appeals_api/spec/fixtures/valid_200996.json
  modules/appeals_api/spec/fixtures/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/valid_200996_minimum.json
  modules/appeals_api/spec/models/higher_level_review_spec.rb
Labels: Lighthouse, appeals

#4473 adding back in vbms and bgs healchecks
  modules/claims_api/lib/claims_api/health_checker.rb
Labels: Lighthouse

#4462 fix inbound autologin tracking
  app/controllers/v1/sessions_controller.rb
  config/initializers/statsd.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: bug, va-startup

#4436 Add Production URL to Appeals API v1 Server Block
  modules/appeals_api/app/swagger/appeals_api/v1/swagger_root.rb
  modules/appeals_api/spec/requests/v1/docs_controller_spec.rb
Labels: Lighthouse, appeals

#4339 CT-103: Remove 'eduSection103' Feature Flag #8201
  config/features.yml
Labels: bah

#4445 use newly renamed bgs gem
  Gemfile
  Gemfile.lock
  app/services/bgs/dependent_service.rb
  app/services/bgs/people_service.rb
  config/initializers/bgs.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
  modules/veteran_verification/app/services/bgs/disability_rating_service.rb
  spec/controllers/v0/dependents_applications_controller_spec.rb
Labels: Lighthouse

#4483 STEM: Update form 22-10203 submission. #7857
  Gemfile.lock
  app/workers/education_form/education_facility.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#4481 Appeals API v1 - Use Caseflow-style Field Names
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/spec/fixtures/valid_200996.json
  modules/appeals_api/spec/fixtures/valid_200996_extra.json
Labels: Lighthouse, appeals

#4489 EDU: Add EDU users to staging YTD report distribution #10970
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#4472 use lowercase camelCase for JSON:API datatypes
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/serializers/appeals_api/higher_level_review_serializer.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/spec/fixtures/invalid_200996.json
  modules/appeals_api/spec/fixtures/valid_200996.json
  modules/appeals_api/spec/fixtures/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/valid_200996_minimum.json
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/serializers/higher_level_review_serializer.rb
  modules/appeals_api/spec/serializers/higher_level_review_serializer_spec.rb
Labels: Lighthouse, appeals

#4490 Add HLR feature flag
  config/features.yml
Labels: VSA

#4471 Appeals API - nest /contestable_issues under /higher_level_reviews
  config/betamocks/services_config.yml
  lib/caseflow/service.rb
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/contestable_issues_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/responses_contestable_issues.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/controllers/v1/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v1/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v1/docs_controller_spec.rb
  spec/support/vcr_cassettes/caseflow/contestable_issues.yml
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/contestable_issues.yml
Labels: Lighthouse, appeals

#4501 Appeals API v1 - informalConferenceTimes bug
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/lib/higher_level_review_pdf_constructor_spec.rb
Labels: Lighthouse, appeals

#3884 Remove faker medical
  Gemfile
  Gemfile.lock
  modules/vaos/spec/request/v1/patient_request_spec.rb
  spec/factories/mvi_profiles.rb
Labels: VSP

#4506 add BAH Product Owner and Tech Lead to staging spool reports
  app/mailers/spool_submissions_report_mailer.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
Labels: bah

#4516 base claims healthchecks on the mock flag
  modules/claims_api/lib/claims_api/health_checker.rb
Labels: Lighthouse

#4507 Appeals API v1 -- fix typo
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
Labels: Lighthouse, appeals

#4512 add 10203 to spool submission report
  app/mailers/spool_submissions_report_mailer.rb
  app/workers/education_form/create_daily_spool_files.rb
  spec/factories/education_benefits_claims.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
Labels: bah, bah-stem

#4474 GIDS: Split out search timeouts
  app/models/gids_redis.rb
  lib/gi/client.rb
  lib/gi/search_client.rb
  lib/gi/search_configuration.rb
  spec/lib/gi/client_spec.rb
  spec/lib/gi/configuration_spec.rb
  spec/lib/gi/search_client_spec.rb
  spec/lib/gi/search_configuration_spec.rb
Labels: bah, bah-ir-needed

#4494 Update 10203 prefill
  app/models/form_profiles/va10203.rb
  config/form_profile_mappings/22-10203.yml
  spec/lib/gi/client_spec.rb
  spec/models/form_profile_spec.rb
  spec/request/gids/institutions_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/vcr_cassettes/gi_client/gets_the_institution_details.yml
Labels: bah, bah-ir-needed, bah-qa-needed

#4505 Updated staging email list for 10203
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#4468 10563 misc zeitwerk namespacing updates
  app/serializers/user_serializer.rb
  app/services/users/exception_handler.rb
  app/services/users/profile.rb
  lib/bb/client.rb
  lib/bip_claims/service.rb
  lib/caseflow/service.rb
  lib/central_mail/service.rb
  lib/common/client/concerns/mhv_session_based_client.rb
  lib/common/client/concerns/monitoring.rb
  lib/common/client/concerns/service_status.rb
  lib/common/client/concerns/streaming_client.rb
  lib/decision_review/service.rb
  lib/evss/letters/download_service.rb
  lib/evss/response.rb
  lib/evss/service.rb
  lib/facilities/metadata/client.rb
  lib/forms/client.rb
  lib/hca/enrollment_eligibility/service.rb
  lib/ihub/appointments/response.rb
  lib/ihub/appointments/service.rb
  lib/mdot/client.rb
  lib/mdot/exceptions/service_exception.rb
  lib/mhv_logging/client.rb
  lib/mvi/responses/add_person_response.rb
  lib/mvi/responses/find_profile_response.rb
  lib/mvi/service.rb
  lib/okta/service.rb
  lib/pagerduty/external_services/service.rb
  lib/preneeds/service.rb
  lib/rx/client.rb
  lib/salesforce/service.rb
  lib/search/response.rb
  lib/search/service.rb
  lib/sm/client.rb
  lib/vet360/contact_information/service.rb
  lib/vet360/person/service.rb
  lib/vet360/response.rb
  lib/vsopdf/vso_appointment_form.rb
  modules/vaos/app/services/vaos/base_service.rb
  spec/lib/common/client/concerns/monitoring_spec.rb
  spec/lib/mdot/client_spec.rb
Labels: ready

#4447 move common internal/external exceptions to root dir
  app/controllers/v0/letters_controller.rb
  lib/common/exceptions.rb
  lib/common/exceptions/ambiguous_request.rb
  lib/common/exceptions/backend_service_exception.rb
  lib/common/exceptions/bad_gateway.rb
  lib/common/exceptions/bing_service_error.rb
  lib/common/exceptions/filter_not_allowed.rb
  lib/common/exceptions/forbidden.rb
  lib/common/exceptions/gateway_timeout.rb
  lib/common/exceptions/internal_server_error.rb
  lib/common/exceptions/invalid_field.rb
  lib/common/exceptions/invalid_field_value.rb
  lib/common/exceptions/invalid_filters_syntax.rb
  lib/common/exceptions/invalid_pagination_params.rb
  lib/common/exceptions/invalid_resource.rb
  lib/common/exceptions/invalid_sort_criteria.rb
  lib/common/exceptions/message_authenticity_error.rb
  lib/common/exceptions/no_query_params_allowed.rb
  lib/common/exceptions/not_a_safe_host_error.rb
  lib/common/exceptions/parameter_missing.rb
  lib/common/exceptions/parameters_missing.rb
  lib/common/exceptions/record_not_found.rb
  lib/common/exceptions/resource_not_found.rb
  lib/common/exceptions/routing_error.rb
  lib/common/exceptions/schema_validation_errors.rb
  lib/common/exceptions/service_error.rb
  lib/common/exceptions/service_outage.rb
  lib/common/exceptions/token_validation_error.rb
  lib/common/exceptions/too_many_requests.rb
  lib/common/exceptions/unauthorized.rb
  lib/common/exceptions/unexpected_forbidden.rb
  lib/common/exceptions/unknown_format.rb
  lib/common/exceptions/unprocessable_entity.rb
  lib/common/exceptions/validation_errors.rb
  lib/decision_review/service_exception.rb
  lib/evss/letters/download_service.rb
  lib/evss/letters/service.rb
  lib/mdot/client.rb
  lib/mdot/exceptions/service_exception.rb
  lib/mvi/orch_search_service.rb
  modules/claims_api/app/controllers/claims_api/concerns/header_validation.rb
  modules/va_facilities/spec/validators/param_validators_spec.rb
  modules/vaos/app/services/vaos/v1/fhir_service.rb
Labels: VSP, ready

#4539 updated edu emails
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#4520 Add a fake clamav scanner for local development
  bin/fake_clamdscan
  config/settings.local.yml.example
  docs/setup/native.md
Labels: Developer :heart:

#4523 Add option to run ClamAV from `make up`
  .gitignore
  Makefile
Labels: Developer :heart:

#4535 Education form 22-10203 spool file update
  app/workers/education_form/forms/base.rb
  app/workers/education_form/forms/va10203.rb
  app/workers/education_form/templates/10203.erb
  app/workers/education_form/templates/header.erb
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.json
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/10203/minimal.json
  spec/fixtures/education_benefits_claims/10203/minimal.spl
Labels: bah

#4518 Appeals API v1 - Bug Fix: Empty Central Mail Response Causing Exception to be Thrown
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
Labels: Lighthouse, appeals

#4543 added gibct filter enhancement flag
  config/features.yml
Labels: bah, bah-ir-needed, bah-qa-needed

#4525 Adding form id 686c to document upload
  app/controllers/v0/claim_documents_controller.rb
  app/models/persistent_attachments/dependency_claim.rb
  app/models/saved_claim/dependency_claim.rb
  spec/factories/dependency_claim.rb
  spec/fixtures/files/marriage-certificate.pdf
  spec/models/persistent_attachments/dependency_claim_spec.rb
Labels: VSA

#4569 mc - add email to settings
  config/settings.yml
Labels: VSA

#4572 fix login status failure stats
  app/controllers/v1/sessions_controller.rb
  app/models/user_session_form.rb
  config/initializers/statsd.rb
  lib/saml/errors.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: bug

#4570 added chp33 feature flag to backend
  config/features.yml
Labels: bah, bah-ir-needed, bah-qa-needed

#4580 adding transactionid to sign_in property in user serializer
  app/swagger/swagger/schemas/user_internal_services.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: bug

#4583 using a browser safe ready function to post the saml request
  lib/saml/templates/sso_post_form.html.erb
Labels: bug

#4577 API-1453 Add new fields to va forms from drupal GQL
  db/schema.rb
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/app/serializers/va_forms/form_detail_serializer.rb
  modules/va_forms/app/serializers/va_forms/form_list_serializer.rb
  modules/va_forms/app/swagger/va_forms/forms/form_swagger.rb
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/config/graphql_query.txt
  modules/va_forms/config/locales/en.yml
  modules/va_forms/db/migrate/20200721133558_add_new_fields_to_va_forms_forms.rb
  modules/va_forms/spec/fixtures/gql_form.json
  modules/va_forms/spec/fixtures/gql_form_deleted.json
  modules/va_forms/spec/workers/form_reloader_spec.rb
  spec/support/schemas/va_forms/form.json
  spec/support/schemas/va_forms/forms.json
Labels: Lighthouse

#4576 Add 686c-674 failure mailer
  app/mailers/dependents_application_failure_mailer.rb
  app/mailers/views/dependents_application_failure.erb
  app/services/bgs/people_service.rb
  spec/mailers/dependents_application_failure_mailer_spec.rb
Labels: VSA

#4606 [686] Dependents application models 3
  app/models/bgs_dependents/child_marriage.rb
  app/models/bgs_dependents/child_stopped_attending_school.rb
  app/models/bgs_dependents/death.rb
  app/models/bgs_dependents/step_child.rb
  spec/models/bgs_dependents/child_marriage_spec.rb
  spec/models/bgs_dependents/child_stopped_attending_school_spec.rb
  spec/models/bgs_dependents/death_spec.rb
  spec/models/bgs_dependents/step_child_spec.rb
Labels: VSA

#4607 [686] Dependents application models 4
  app/models/bgs_dependents/benefit_claim.rb
  app/models/bgs_dependents/divorce.rb
  app/models/bgs_dependents/marriage_history.rb
  spec/models/bgs_dependents/benefit_claim_spec.rb
  spec/models/bgs_dependents/divorce_spec.rb
  spec/models/bgs_dependents/marriage_history_spec.rb
Labels: VSA

#4601 [686c] Adds BGSDependents models for 686c form submission
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/relationship.rb
  app/models/bgs_dependents/veteran.rb
  spec/fixtures/686c/dependents/all_flows_payload.json
  spec/models/bgs_dependents/relationship_spec.rb
  spec/models/bgs_dependents/veteran_spec.rb
Labels: VSA

#4545 Enable SSOe for localhost development
  .rubocop.yml
  config/settings.yml
  config/ssoe_idp_int_metadata_isam.xml
  lib/saml/ssoe_settings_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/ss_oe_settings_service_spec.rb
  spec/lib/saml/ssoe_settings_service_spec.rb
Labels: Please Review

#4593 update the appeals api docs
  modules/appeals_api/app/swagger/appeals_api/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v1/swagger_root.rb
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: Lighthouse

#4538 STEM: Email SCO on form Submission #10790
  app/controllers/v0/education_benefits_claims_controller.rb
  app/mailers/school_certifying_officials_mailer.rb
  app/mailers/transactional_email_mailer.rb
  app/mailers/views/school_certifying_officials.html.erb
  app/models/form_profiles/va10203.rb
  app/models/saved_claim/education_benefits.rb
  app/models/saved_claim/education_benefits/va10203.rb
  app/workers/education_form/send_sco_email.rb
  app/workers/education_form/templates/10203.erb
  lib/config_helper.rb
  spec/factories/gi_bill_status_response.rb
  spec/factories/gids_response.rb
  spec/factories/va10203.rb
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.json
  spec/fixtures/education_benefits_claims/10203/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/10203/minimal.spl
  spec/jobs/education_form/forms/base_spec.rb
  spec/jobs/education_form/send_sco_email_spec.rb
  spec/mailers/previews/school_certifying_officials_mailer_preview.rb
  spec/mailers/school_certifying_officials_mailer_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#4608 [686] Add spouse model
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/spouse.rb
  spec/factories/686c/spouse.rb
  spec/models/bgs_dependents/base_spec.rb
  spec/models/bgs_dependents/spouse_spec.rb
Labels: VSA
