Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-07, with the labels that each got.

#7320 24945 change sorting of daily summary report email
  app/workers/vre/create_ch31_submissions_report.rb
  spec/factories/veteran_readiness_employment_claim.rb
  spec/workers/vre/create_ch31_submissions_report_spec.rb
Labels: tools-be-review

#7336 adds Identity team as TUD module codeowners
  .github/CODEOWNERS
Labels: tools-be-review

#6995 [24862] makes User mpi and mpi_profile methods private
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/controllers/v0/profile/personal_informations_controller.rb
  app/controllers/v0/profile/persons_controller.rb
  app/models/user.rb
  modules/health_quest/app/controllers/health_quest/v0/base_controller.rb
  modules/health_quest/app/services/health_quest/questionnaire_manager/factory.rb
  modules/health_quest/spec/services/questionnaire_manager/factory_spec.rb
  rakelib/mvi.rake
  spec/models/user_spec.rb
Labels: identity, identity-backend, tools-be-review

#7337 Flipper - add facility_locator_covid_vaccine_walk_in_availability_text_frontend
  config/features.yml
  config/settings.yml
Labels: tools-be-review

#7327 Remove feature flag: spool_testing_error_1
  app/workers/education_form/create_daily_spool_files.rb
  config/features.yml
  spec/jobs/education_form/create_daily_spool_files_spec.rb
Labels: bah, tools-be-review

#7340 Flipper - add Dat Tran flipper access
  config/settings.yml
Labels: tools-be-review

#7331 Adding KEVIN MUSIORSKI (GCIO) as a feature flipper admin
  config/settings.yml
Labels: tools-be-review

#7348 Revert "Bump flipper gems to latest"
  Gemfile
  Gemfile.lock
  config/application.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/registration_email_job_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_spec.rb
Labels: VAOS, tools-be-review

#7341 [26884] adds notes column to test_user_dashboard
  db/schema.rb
  modules/test_user_dashboard/db/migrate/20210701173435_add_notes_to_tud_accounts.rb
Labels: tools-be-review

#7349 Fix contact info blank email bug
  lib/va_profile/contact_information/service.rb
  spec/lib/va_profile/contact_information/service_spec.rb
Labels: tools-be-review

#7351 25944 roll back additional logging
  modules/health_quest/app/controllers/health_quest/v0/base_controller.rb
  modules/health_quest/app/controllers/health_quest/v0/questionnaire_manager_controller.rb
  modules/health_quest/app/services/health_quest/questionnaire_manager/factory.rb
  modules/health_quest/spec/services/questionnaire_manager/factory_spec.rb
  spec/spec_helper.rb
Labels: tools-be-review

#7300 Created Check for service history null dates
  app/models/emis_redis/military_information.rb
  app/models/emis_redis/military_information_v2.rb
  modules/veteran_verification/app/models/veteran_verification/service_history_episode.rb
  modules/veteran_verification/spec/models/service_history_episode_spec.rb
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/valid_multiple_episodes_end_date_null.yml
Labels: tools-be-review

#7224 Sidekiq oauth
  Gemfile
  Gemfile.lock
  config/initializers/warden_github.rb
  config/routes.rb
  config/settings/test.yml
  lib/github_authentication/sidekiq_web.rb
  spec/lib/github_authentication/sidekiq_web_spec.rb
Labels: tools-be-review

#7255 Rails initializer class loading
  .rubocop_todo.yml
  Gemfile
  app/controllers/concerns/exception_handling.rb
  app/models/mhv_account.rb
  app/swagger/swagger/schemas/evss_auth_error.rb
  config/initializers/bgs.rb
  config/initializers/breakers.rb
  config/initializers/faraday_middleware.rb
  config/initializers/flipper.rb
  config/initializers/raven.rb
  config/initializers/rubyzip.rb
  config/initializers/shrine.rb
  config/initializers/sidekiq.rb
  config/initializers/sso_encryptor.rb
  config/initializers/statsd.rb
  config/initializers/zcta.rb
  lib/hca/enrollment_eligibility/service.rb
  lib/pdf_fill/forms/va218940.rb
  lib/pdf_fill/forms/va21p527ez.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/claims_api/app/controllers/concerns/claims_api/document_validations.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/covid_vaccine/config/initializers/statsd.rb
  modules/mobile/config/initializers/statsd.rb
  modules/va_forms/lib/tasks/va_forms.rake
  modules/vaos/config/initializers/statsd.rb
  modules/veteran/lib/tasks/veteran_tasks.rake
  rakelib/piilog_repl/piilog_helpers.rb
  spec/lib/pdf_fill/forms/common_ptsd_spec.rb
  spec/workers/form1010cg/deliver_attachments_job_spec.rb
Labels: VAOS, mobile, tools-be-review

#7330 Added Jim and Candy to flipper toggles
  config/settings.yml
Labels: tools-be-review

#7361 fix v2 contestable issues
  modules/appeals_api/app/swagger/appeals_api/v2/higher_level_reviews_controller_swagger.rb
Labels: Lighthouse, appeals

#7362 API-8438 - Update status job error threshold in lower envs
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
Labels: Lighthouse, appeals

#7329 Kevin.cranmer/api 3314 expired doc error
  modules/vba_documents/app/controllers/vba_documents/v1/uploads_controller.rb
  modules/vba_documents/app/swagger/vba_documents/v1/controller_swagger.rb
  modules/vba_documents/lib/vba_documents/payload_manager.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
Labels: BenefitsIntake

#7342 API-6719: Ensures new power of attorney has authorization to update Veteran's address
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/workers/claims_api/vbms_updater.rb
  modules/claims_api/spec/workers/vbms_updater_spec.rb
Labels: Lighthouse

#7352 API-8413: Prevent user matching multiple accredited representatives from using system
  lib/bgs/power_of_attorney_verifier.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/veteran/app/models/veteran/service/representative.rb
  spec/lib/bgs/power_of_attorney_verifier_spec.rb
Labels: Lighthouse, tools-be-review

#7360 Removing feature flag for form search algorithm
  config/features.yml
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
Labels: Forms, tools-be-review

#7364 Aec/fix repl
  rakelib/decision_review_repl.rb
  rakelib/piilog_repl.rb
Labels: tools-be-review

#7332 API-8244: SpecialIssueUpdater Background Job Error
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
Labels: Lighthouse

#7338 API-8258 - Reduce NOD controller duplication using routing
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#7343 [API-8289] - ClaimsApi prevent burial ITF submission from Veteran
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
Labels: Lighthouse

#7366 commit for review instance
  config/initializers/sidekiq.rb
  config/routes.rb
Labels: tools-be-review

#7297 [20767] Sidekiq Queues
  Procfile
  app/workers/after_login_job.rb
  app/workers/evss/create_user_account_job.rb
  app/workers/evss/delete_old_claims.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/evss/document_upload.rb
  app/workers/pager_duty/cache_global_downtime.rb
  app/workers/pager_duty/poll_maintenance_windows.rb
Labels: tools-be-review

#7365 claims show missing statuses
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/claim.json
Labels: Lighthouse, tools-be-review

#7294 Sanitize edipi in iam user identity
  app/models/iam_user_identity.rb
  spec/models/iam_user_identity_spec.rb
Labels: tools-be-review

#7372 add rack session config
  config/application.rb
  config/initializers/sidekiq.rb
  config/settings.yml
  config/settings/test.yml
Labels: tools-be-review

#7374 Remove sidekiq cookie config
  config/routes.rb
Labels: tools-be-review

#7353 API-8439 Increase NOD email character limit
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/valid_10182.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
Labels: Lighthouse, appeals

#7363 update schema with lighthouse changes
  lib/decision_review/schemas/NOD_create_request_body_schema.json
Labels: tools-be-review

#7368 update sql for InProgressForms to allow either case
  app/models/in_progress_form.rb
Labels: tools-be-review

#7382 Mark.viterna/form alg 10101
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/lib/tasks/update_form_tags.rake
  modules/va_forms/lib/va_forms/regex_helper.rb
  modules/va_forms/spec/lib/regex_helper_spec.rb
Labels: Forms

#7305 Stop running tests in CircleCI
  .circleci/config.yml
Labels: tools-be-review

#7370 [17794] Add Sidekiq Retry Queue Size to Grafana
  app/workers/sidekiq_stats_job.rb
Labels: tools-be-review

#7371 update vets-json-schema
  Gemfile.lock
  app/swagger/swagger/schemas/appeals/higher_level_review.rb
Labels: tools-be-review

#7384 Add profile_notification_settings feature flag
  config/features.yml
Labels: tools-be-review

#7386 Kevin.cranmer/api 8294 s3 file remover bug
  modules/vba_documents/app/workers/vba_documents/upload_remover.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/jobs/upload_remover_spec.rb
Labels: BenefitsIntake

#7379 Replace the mobile appointment facility and appointment type statsd metrics with log lines
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
Labels: mobile

#7373 Increse HLR v2 veteran & rep email lengths w/ additional page when needed
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
  modules/appeals_api/spec/fixtures/valid_200996_v2_extra.json
Labels: Lighthouse, appeals

#7335 Api 7661/contestable issue class
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/concerns/appeals_api/contestable_issue.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v1/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/models/concerns/appeals_api/contestable_issue_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
Labels: Lighthouse, appeals

#7388 New BID Service Integration
  config/initializers/inflections.rb
  config/settings.yml
  config/settings/test.yml
  lib/bid/awards/configuration.rb
  lib/bid/awards/service.rb
  lib/bid/configuration.rb
  lib/bid/service.rb
  spec/lib/bid/awards/service_spec.rb
  spec/support/vcr_cassettes/bid/awards/get_awards_pension.yml
Labels: tools-be-review

#7369 API-8410: Return current active power of attorney for a Veteran
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veteran_identifier_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
  spec/support/schemas/claims_api/veterans/power-of-attorney/get.json
  spec/swagger_helper.rb
Labels: Lighthouse, tools-be-review

#7273 Moving PDF Job for Dependents Application Submissions
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  spec/jobs/bgs/submit_form674_job_spec.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: VSA, tools-be-review

#7393 27114 ch31 report find_each bug
  app/mailers/views/ch31_submissions_report.html.erb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Labels: tools-be-review

#7398 Add EVSS middleware error handling to the mobile claims proxy
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/spec/request/individual_claim_request_spec.rb
  spec/support/vcr_cassettes/evss/claims/claim_doc_with_errors.yml
Labels: mobile, tools-be-review

#7380 remove user/preferences API
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/preferences_controller.rb
  app/controllers/v0/user_preferences_controller.rb
  app/models/account.rb
  app/models/preference.rb
  app/models/preference_choice.rb
  app/models/user_preference.rb
  app/serializers/delete_all_user_preferences_serializer.rb
  app/serializers/preference_serializer.rb
  app/serializers/preferences_serializer.rb
  app/serializers/user_preference_serializer.rb
  app/services/user_preferences/grantor.rb
  app/services/user_preferences/validator.rb
  app/swagger/swagger/requests/preferences.rb
  config/routes.rb
  spec/controllers/v0/preferences_controller_spec.rb
  spec/factories/preference_choices.rb
  spec/factories/preferences.rb
  spec/factories/user_preferences.rb
  spec/models/preference_choice_spec.rb
  spec/models/preference_spec.rb
  spec/models/user_preference_spec.rb
  spec/request/swagger_spec.rb
  spec/request/user_preferences_request_spec.rb
  spec/services/user_preferences/grantor_spec.rb
  spec/services/user_preferences/validator_spec.rb
  spec/support/schemas/delete_all_user_preferences.json
  spec/support/schemas/user_preferences.json
Labels: tools-be-review

#7414 API-8523: no implicit conversion of Symbol into Integer - ClaimsApi::V1::Forms::PowerOfAttorneyController#submit_form_2122
  modules/claims_api/spec/models/veteran/service/user_spec.rb
  modules/veteran/app/models/veteran/user.rb
Labels: Lighthouse

#7404 [26888] Tud routes
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
Labels: identity, identity-backend, tools-be-review

#7396 Add ezcg_use_facility_api feature flag
  config/features.yml
  config/settings.yml
Labels: tools-be-review

#7334 Api 7661/refactor form validations and contestable issues
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/higher_level_reviews/pdf_form_field_v1_validator.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/higher_level_reviews/pdf_form_field_v2_validator.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review/phone.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#7403 GCIO email change for flipper
  config/settings.yml
Labels: tools-be-review

#7418 Relax the version of Ruby required
  Gemfile
Labels: tools-be-review

#7394 [26884] Tud notes logic
  modules/test_user_dashboard/app/controllers/test_user_dashboard/tud_accounts_controller.rb
  modules/test_user_dashboard/app/serializers/test_user_dashboard/tud_account_serializer.rb
  modules/test_user_dashboard/config/routes.rb
  modules/test_user_dashboard/spec/requests/tud_accounts_request_spec.rb
  modules/test_user_dashboard/spec/support/spec_users.csv
Labels: identity, identity-backend

#7422 remove preferences seed and rake task
  db/seeds/development/preferences.seeds.rb
  rakelib/preferences.rake
Labels: tools-be-review

#7421 [API-8596] Use created_at for system-generated pdf timestamps
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/expected_200996.pdf
  modules/appeals_api/spec/fixtures/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/expected_200996_minimum_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: Lighthouse, appeals

#7417 Add job arguments to sidekiq retry notifier output
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/lib/appeals_api/sidekiq_retry_notifier.rb
  modules/appeals_api/spec/lib/sidekiq_retry_notifier_spec.rb
Labels: Lighthouse, appeals

#7390 remove unused preneeds/attachment_types code
  app/controllers/v0/preneeds/attachment_types_controller.rb
  app/serializers/preneeds_attachment_type_serializer.rb
  config/routes.rb
  lib/preneeds/service.rb
  spec/lib/preneeds/service_spec.rb
  spec/request/preneeds/attachment_types_request_spec.rb
  spec/serializers/preneeds_attachment_type_serializer_spec.rb
  spec/support/vcr_cassettes/preneeds/attachment_types/gets_a_list_of_attachment_types.yml
Labels: tools-be-review

#7419 Search local settings update
  app/controllers/v0/search_click_tracking_controller.rb
  app/swagger/swagger/requests/search_click_tracking.rb
  config/settings.yml
  lib/search_click_tracking/service.rb
  spec/lib/search_click_tracking/service_spec.rb
  spec/request/search_click_tracking_request_spec.rb
  spec/request/swagger_spec.rb
  spec/support/vcr_cassettes/search_click_tracking/missing_parameter.yml
  spec/support/vcr_cassettes/search_click_tracking/success.yml
Labels: VSA, tools-be-review

#7412 Adding Ryan to feature toggles
  config/settings.yml
Labels: tools-be-review

#7416 26822 remove ssn and va file number from ch31
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/factories/veteran_readiness_employment_claim.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: tools-be-review

#7392 25790 dependent verification listing adjustment
  app/services/bgs/dependency_verification_service.rb
  spec/services/bgs/dependency_verification_service_spec.rb
Labels: tools-be-review

#7428 26290 update vets-json-schema gemfile.lock
  Gemfile.lock
Labels: tools-be-review

#7391 remove unused preneeds/branches_of_service code
  app/controllers/v0/preneeds/branches_of_service_controller.rb
  app/serializers/branches_of_service_serializer.rb
  config/routes.rb
  lib/preneeds/service.rb
  spec/lib/preneeds/service_spec.rb
  spec/request/preneeds/branches_of_service_request_spec.rb
  spec/serializers/branches_of_service_serializer_spec.rb
  spec/support/schemas/preneeds/branches_of_service.json
  spec/support/schemas_camelized/preneeds/branches_of_service.json
  spec/support/vcr_cassettes/preneeds/branches_of_service/gets_a_list_of_service_branches.yml
Labels: tools-be-review

#7425 Updating Dependency Verification PDF
  lib/pdf_fill/forms/pdfs/21-0538.pdf
  lib/pdf_fill/forms/va210538.rb
  spec/fixtures/pdf_fill/21-0538/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0538/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-0538/overflow.json
  spec/fixtures/pdf_fill/21-0538/overflow.pdf
  spec/fixtures/pdf_fill/21-0538/simple.json
  spec/fixtures/pdf_fill/21-0538/simple.pdf
Labels: VSA, tools-be-review

#7407 Update to GET Facilities 25906
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_with_children_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facility_200.yml
Labels: VAOS, tools-be-review

#7376 Fix sessions on Sidekiq web
  Gemfile.lock
  config/application.rb
  config/initializers/sidekiq.rb
  config/initializers/warden_github.rb
  lib/github_authentication/sidekiq_web.rb
  spec/lib/github_authentication/sidekiq_web_spec.rb
Labels: tools-be-review

#7430 Send VA file number to VBMS instead of ssn
  app/models/saved_claim/dependency_claim.rb
Labels: tools-be-review

#7426 Modify flipper to enforce enable_in_development setting
  config/initializers/flipper.rb
Labels: tools-be-review

#7433 26899 add check_in settings
  config/settings.yml
Labels: tools-be-review

#7408 Api 6021/add received notification for hlr
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/config/initializers/event_subscriptions.rb
  modules/appeals_api/lib/appeals_api/data_migrations/event_subscription_subscriber.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
  rakelib/appeals_api_event_subscriber.rake
Labels: Lighthouse, appeals, tools-be-review

#7439 Removing GSA and SF regex
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/lib/va_forms/regex_helper.rb
  modules/va_forms/spec/lib/regex_helper_spec.rb
  modules/va_forms/spec/requests/v0/forms_request_spec.rb
Labels: Forms

#7442 Handle missing location phone numbers in mobile appointments
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/app/models/mobile/v0/appointment_location.rb
  modules/mobile/app/models/mobile/v0/appointment_phone.rb
  modules/mobile/spec/request/appointments_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facilities_phone_bug.yml
Labels: mobile

#7424 API-8394 - Add "veteran_icn" column to ClaimsApi::AutoEstablishedClaim table
  db/migrate/20210713192552_add_veteran_icn_to_claims_api_auto_established_claims.rb
  db/schema.rb
Labels: Lighthouse, tools-be-review

#7443 Api 8595/update nod pdf submit job errors b
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#7437 Dependents Application Claim Label Adjustment
  lib/bgs/form674.rb
  lib/bgs/form686c.rb
  spec/lib/bgs/form674_spec.rb
  spec/lib/bgs/form686c_spec.rb
  spec/lib/bid/awards/service_spec.rb
  spec/support/vcr_cassettes/bid/awards/get_awards_pension.yml
Labels: VSA, tools-be-review

#7445 26899 Adding config to test.yml
  config/locales/exceptions.en.yml
  config/settings/test.yml
Labels: tools-be-review

#7431 Remove 10203 email content feature flag
  app/mailers/views/school_certifying_officials.html.erb
  config/features.yml
Labels: bah, tools-be-review

#7444 bump activerecord_import to the latest minor
  Gemfile.lock
Labels: ready, tools-be-review

#7395 [API-8394] - ClaimsApi - GET V2 Veterans Claims
  Gemfile.lock
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/app/services/claims_api/service.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/fixtures/v2/veterans/claims/index.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/services/bgs_to_lighthouse_claims_mapper_service_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, tools-be-review

#7454 Added new Flags
  config/features.yml
Labels: tools-be-review

#7449 Updated request specs to validate against camelized schema, fixed the…
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/spec/request/v2/available_slots_request_spec.rb
  modules/vaos/spec/request/v2/clinics_request_spec.rb
  modules/vaos/spec/request/v2/patients_request_spec.rb
  modules/vaos/spec/request/v2/scheduling_configurations_request_spec.rb
  spec/support/schemas/vaos/v2/clinics.json
  spec/support/schemas_camelized/vaos/v2/meta.json
  spec/support/schemas_camelized/vaos/v2/patient_appointment_metadata.json
  spec/support/schemas_camelized/vaos/v2/scheduling_configurations.json
  spec/support/schemas_camelized/vaos/v2/slots.json
Labels: VAOS, tools-be-review

#7446 Mark.viterna/api 7956
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/spec/fixtures/bad_with_no_lob_metadata.json
Labels: BenefitsIntake

#7458 Bugfix. Although we do allow some of these, technically speaking, we …
  lib/central_mail/utilities.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
Labels: BenefitsIntake, tools-be-review

#7469 update brakeman to the latest minor version
  Gemfile.lock
Labels: tools-be-review

#7459 Adding Pension Check to Dependents Applications
  lib/bgs/form674.rb
  lib/bgs/form686c.rb
  spec/lib/bgs/form674_spec.rb
  spec/lib/bgs/form686c_spec.rb
Labels: VSA, tools-be-review

#7453 Test to get appointments when submitting multiple statuses
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200.yml
Labels: VAOS, tools-be-review

#7461 Handle and log malformed mobile appointment facility phone numbers
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/spec/request/appointments_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facilities_phone_bug.yml
Labels: mobile

#7472 26498 new 28-1900 pdf
  lib/pdf_fill/forms/pdfs/28-1900.pdf
  lib/pdf_fill/forms/va281900.rb
  spec/fixtures/pdf_fill/28-1900/kitchen_sink.pdf
  spec/fixtures/pdf_fill/28-1900/overflow.pdf
  spec/fixtures/pdf_fill/28-1900/simple.pdf
Labels: tools-be-review

#7401 remove unused preneeds/states
  app/controllers/v0/preneeds/states_controller.rb
  app/models/preneeds/state.rb
  app/serializers/preneeds_state_serializer.rb
  config/routes.rb
  lib/preneeds/service.rb
  spec/factories/preneeds/preneeds_states.rb
  spec/lib/preneeds/service_spec.rb
  spec/models/preneeds/state_spec.rb
  spec/request/preneeds/states_request_spec.rb
  spec/serializers/preneeds_state_serializer_spec.rb
  spec/support/schemas/preneeds/states.json
  spec/support/schemas_camelized/preneeds/states.json
  spec/support/vcr_cassettes/preneeds/states/gets_a_list_of_states.yml
Labels: tools-be-review

#7462 Create VBS client request models
  config/initializers/inflections.rb
  lib/vbs/requests/base.rb
  lib/vbs/requests/invalid_request_error.rb
  lib/vbs/requests/list_statements.rb
  spec/lib/vbs/requests/base_spec.rb
  spec/lib/vbs/requests/list_statements_spec.rb
  spec/lib/vbs/requests/vbs_request_model_shared_example.rb
Labels: tools-be-review

#7464 Create VBS client library
  config/settings.yml
  lib/vbs/client.rb
  lib/vbs/configuration.rb
  spec/lib/vbs/client_spec.rb
  spec/lib/vbs/configuration_spec.rb
Labels: tools-be-review

#7475 27444 update vets-json-schema gemfile.lock
  Gemfile.lock
Labels: VSA, tools-be-review

#7474 add additional VA profile error codes
  config/locales/exceptions.en.yml
Labels: tools-be-review

#7427 remove unused preneeds/burial_form new route
  config/routes.rb
Labels: tools-be-review

#7478 Updating VA Form 21-686c PDF Generation
  lib/pdf_fill/forms/va686c674.rb
Labels: tools-be-review

#7429 Toggle CG PDF facility data source by feature flag
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  lib/pcafc/facilities.rb
  lib/pdf_fill/forms/va1010cg.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/lib/pdf_fill/filler_spec.rb
  spec/request/caregivers_assistance_claims_request_spec.rb
  spec/support/vcr_cassettes/pcafc/get_facilities_with_cg_params.yml
Labels: tools-be-review

#7468 added additional exception rescue and updated test
  app/models/iam_user.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile, tools-be-review

#7480 Updating VA File Number Class Type When Submitting VA Form 21-686c
  app/models/vet_info.rb
Labels: VSA, tools-be-review

#7467 27524 StatsD functionality
  modules/check_in/app/services/chip_api/request.rb
  modules/check_in/config/initializers/statsd.rb
  spec/spec_helper.rb
Labels: tools-be-review

#7481 handle empty service periods in mobile military history serializer
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/spec/request/military_information_request_spec.rb
Labels: mobile

#7487 Update flipper admin email for cwheeler@governmentcio.com
  config/settings.yml
Labels: tools-be-review

#7488 Revert "Send VA file number to VBMS instead of ssn"
  app/models/saved_claim/dependency_claim.rb
Labels: tools-be-review

#7491 Dependents Application PDF Upload to VBMS
  app/models/saved_claim/dependency_claim.rb
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  spec/jobs/bgs/submit_form674_job_spec.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: VSA, tools-be-review

#7476 Send DMC veteran signature and date on FSR submission
  app/controllers/v0/financial_status_reports_controller.rb
  spec/fixtures/dmc/fsr_submission.json
  spec/support/vcr_cassettes/dmc/submit_fsr.yml
Labels: tools-be-review

#7447 5490: Remove feature flag for form updates
  app/workers/education_form/forms/va_5490.rb
  config/features.yml
  spec/jobs/education_form/forms/va5490_spec.rb
Labels: bah, bah-qa-needed, tools-be-review

#7489 [26888] updates afterlogin and afterlogout job TUD flags to use Settings
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/workers/after_login_job.rb
  spec/jobs/after_login_job_spec.rb
Labels: tools-be-review

#7483 [20219] adds link to TUD setup documentation
  README.md
Labels: identity, identity-backend, tools-be-review

#7413 remove unused preneeds/military_ranks code
  app/controllers/v0/preneeds/military_ranks_controller.rb
  app/models/preneeds/military_rank.rb
  app/models/preneeds/military_rank_detail.rb
  app/serializers/military_rank_detail_serializer.rb
  app/serializers/military_rank_serializer.rb
  config/routes.rb
  lib/preneeds/service.rb
  spec/factories/preneeds/military_rank_details.rb
  spec/factories/preneeds/military_ranks.rb
  spec/lib/preneeds/service_spec.rb
  spec/models/preneeds/military_rank_detail_spec.rb
  spec/models/preneeds/military_rank_spec.rb
  spec/request/preneeds/military_ranks_request_spec.rb
  spec/serializers/military_rank_detail_serializer_spec.rb
  spec/serializers/military_rank_serializer_spec.rb
  spec/support/schemas/preneeds/military_ranks.json
  spec/support/schemas_camelized/preneeds/military_ranks.json
  spec/support/vcr_cassettes/preneeds/military_ranks/gets_a_list_of_military_ranks.yml
Labels: tools-be-review

#7497 migration and schema file
  db/migrate/20210722175727_create_webhook_tables.rb
  db/schema.rb
Labels: BenefitsIntake, tools-be-review

#7500 GitHub Actions auth with dockerhub
  .github/workflows/code_checks.yml
Labels: tools-be-review

#7455 Claims V2: View claim by claim ID
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/fixtures/v2/veterans/claims/claim_by_id_response.json
  modules/claims_api/spec/fixtures/v2/veterans/claims/claims_by_participant_id_response.json
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: tools-be-review

#7463 Fix sidekiq expires_in jobs for auth exp
  app/workers/direct_deposit_email_job.rb
  app/workers/va_notify_dd_email_job.rb
  app/workers/va_notify_email_job.rb
Labels: tools-be-review

#7493 Update OpenAPI docs with info on sending drafts
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/SecureMessageNewMessageRequest.yml
  modules/mobile/docs/schemas/SecureMessageReplyRequest.yml
Labels: mobile

#7479 Whitelisted the dash character in the appointment id for the show end…
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/show_appointment_with_dash.yml
Labels: VAOS, tools-be-review

#7502 Don't retry on VANotify 400 errors
  app/workers/va_notify_email_job.rb
  spec/jobs/va_notify_email_job_spec.rb
Labels: tools-be-review

#7387 remove user/preferences API database migration
  db/migrate/20210708221444_remove_preference_tables.rb
  db/schema.rb
Labels: tools-be-review

#7508 DT-23071 Added new FF
  config/features.yml
Labels: tools-be-review

#7507 Update default Cypress viewport values in Sidekiq job
  app/workers/cypress_viewport_updater/cypress_json_file.rb
Labels: tools-be-review

#7496 27740 Throttling check_in endpoints
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: tools-be-review

#7490 API-8726 Clone HLR contesable issues to v2
  modules/appeals_api/app/swagger/appeals_api/v2/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/config/routes.rb
Labels: Lighthouse, appeals

#7482 API-8610: Investigate active_model_serializer alternatives for response serialization
  Gemfile
  Gemfile.lock
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/transformers/lower_camel_transformer.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/veteran_identifier_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veteran_identifier_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
Labels: Lighthouse, tools-be-review

#7504 supplemental claims
  db/migrate/20210723134730_create_supplemental_claims.rb
  db/schema.rb
Labels: Lighthouse, appeals, tools-be-review

#7510 Update mobile appointments facility adapter's phone number parser
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
Labels: mobile

#7521 Mark.viterna/swagger fix
  modules/vba_documents/app/controllers/vba_documents/metadata_controller.rb
Labels: BenefitsIntake

#7423 Flipper major update revert of revert
  Gemfile
  Gemfile.lock
  config/application.rb
Labels: VAOS, tools-be-review

#7506 27387 remove express care toggle backend
  config/features.yml
Labels: tools-be-review

#7409 remove unused preneeds/discharge_type code
  app/controllers/v0/preneeds/discharge_types_controller.rb
  app/models/preneeds/discharge_type.rb
  app/serializers/discharge_type_serializer.rb
  config/routes.rb
  lib/preneeds/service.rb
  spec/factories/preneeds/discharge_types.rb
  spec/lib/preneeds/service_spec.rb
  spec/models/preneeds/discharge_type_spec.rb
  spec/request/preneeds/discharge_types_request_spec.rb
  spec/serializers/discharge_type_serializer_spec.rb
  spec/support/schemas/preneeds/discharge_types.json
  spec/support/schemas_camelized/preneeds/discharge_types.json
  spec/support/vcr_cassettes/preneeds/discharge_types/gets_a_list_of_discharge_types.yml
Labels: tools-be-review

#7471 Removed usused preneeds endpoints delete branches of service models
  app/models/preneeds/branches_of_service.rb
  spec/factories/preneeds/branches_of_services.rb
  spec/models/preneeds/branches_of_service_spec.rb
Labels: tools-be-review

#7522 Find Forms needs 3rd flag for user testing research
  config/features.yml
Labels: tools-be-review

#7420 Kevin.cranmer/api 8100 postman webhook mvp
  modules/vba_documents/postman_tests/Sandbox Environment.postman_environment.json
  modules/vba_documents/postman_tests/images/monitors.PNG
  modules/vba_documents/postman_tests/images/run-webhook-collection.png
  modules/vba_documents/postman_tests/images/run-webhook-collection2.PNG
  modules/vba_documents/postman_tests/images/webhook-apikey.PNG
  modules/vba_documents/postman_tests/localhost Environment.postman_environment.json
  modules/vba_documents/postman_tests/postman_webhooks/Benefits Intake Webhook test.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook Debug 1.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook Debug 2.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook Debug 3.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook Debug 4.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook Debug 5.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook Setup.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook ping.postman_collection.json
  modules/vba_documents/postman_tests/postman_webhooks/Webhook_Testing_Guide.md
Labels: BenefitsIntake

#7532 Change EducationForm::Process10203Submissions job frequency
  config/sidekiq_scheduler.yml
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: tools-be-review

#7529 Claims V2: Implement HATEOAS for list of claims
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: tools-be-review

#7530 add dockerhub creds to pact gha
  .github/workflows/pact.yml
Labels: tools-be-review

#7531 [26795] adds error handling for multiple BIRLS and CORP ids
  lib/saml/errors.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: identity, identity-backend, tools-be-review

#7411 Key rotation
  app/controllers/concerns/authentication_and_sso_concerns.rb
  config/initializers/cookie_rotation.rb
  config/settings.yml
Labels: tools-be-review

#7534 [API-8399] - ClaimsApi V2 return claims status
  Gemfile.lock
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/fixtures/v2/veterans/claims/claim_by_id_response.json
  modules/claims_api/spec/fixtures/v2/veterans/claims/claims_by_participant_id_response.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/services/bgs_to_lighthouse_claims_mapper_service_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, tools-be-review

#7535 Add new feature toggle for VAOS
  config/features.yml
Labels: tools-be-review

#7519 Modify flipper to enforce enable_in_development setting
  config/settings.yml
Labels: tools-be-review

#7499 API-8797: Respond with 422 from 526 submission endpoint if consumer is a representative and the Veteran does not have a particpant_id
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse

#7486 Api 8634/supplemental claim tech spike
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: Lighthouse, appeals

#7501 API-8799: Respond with 422 from 526 submission endpoint if Veteran has a particpant_id but is missing a birls_id
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse

#7512 User DOB is required for 526
  app/policies/evss_policy.rb
  spec/factories/users.rb
  spec/policies/evss_policy_spec.rb
Labels: tools-be-review

#7545 change use cache default
  modules/mobile/app/controllers/mobile/v0/folders_controller.rb
Labels: mobile

#7548 Fix daily report run
  modules/vba_documents/app/workers/vba_documents/report_unsuccessful_submissions.rb
Labels: BenefitsIntake

#7541 Adds Kha to the list of flipper admins
  config/settings.yml
Labels: tools-be-review

#7549 Set date on FSR singature
  lib/debt_management_center/financial_status_report_service.rb
Labels: tools-be-review

#7543 Adding New Flipper Feature for 686 Pension Check
  config/features.yml
  config/settings.yml
  lib/bgs/form674.rb
  lib/bgs/form686c.rb
  spec/lib/bgs/form674_spec.rb
  spec/lib/bgs/form686c_spec.rb
Labels: VSA, tools-be-review
