Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-04, with the labels that each got.

#6391 Fix Flakey Test (VBA Documents)
  modules/vba_documents/spec/jobs/report_monthly_submissions_spec.rb
  spec/request/v1/facilities/va_request_spec.rb
Labels: VSA

#6329 Use `create!` in HLR Controller
  app/controllers/v0/higher_level_reviews_controller.rb
Labels: VSA

#6319 NOD - Refactor Schemas Test
  spec/lib/decision_review/schemas_spec.rb
Labels: VSA

#6318 NOD - Remove Old Schema Test
  spec/lib/decision_review/schemas/NOD_create_request_body_schema_json_spec.rb
Labels: VSA

#6262 Update HLR Headers Method (DecisionReview::Service)
  lib/decision_review/service.rb
  spec/lib/decision_review/service_spec.rb
Labels: VSA

#6388 Add NOD to FormProfile (VA Form 10182)
  app/models/form_profile.rb
  app/models/form_profiles/decision_review.rb
  app/models/form_profiles/va_0996.rb
  app/models/form_profiles/va_10182.rb
  config/form_profile_mappings/10182.yml
  spec/models/form_profile_spec.rb
Labels: VSA

#6379 1990S form submission
  app/models/education_benefits_claim.rb
  app/models/saved_claim/education_benefits/va_1990s.rb
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  app/workers/education_form/create_daily_year_to_date_report.rb
  app/workers/education_form/education_facility.rb
  spec/factories/va1990s.rb
  spec/fixtures/education_benefits_claims/1990s/kitchen_sink.json
  spec/fixtures/education_benefits_claims/1990s/simple.json
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/jobs/education_form/education_facility_spec.rb
  spec/models/education_benefits_claim_spec.rb
  spec/models/saved_claim/education_benefits/va1990s_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#6364 Added Redis call to Notification Service
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/apps_api/spec/lib/notification_service_spec.rb
Labels: Lighthouse

#6394 Remove Unnecessary Require in Test
  spec/request/v1/facilities/va_request_spec.rb
Labels: VSA, low-priority

#6397 Own the Test Too (Form526 rake task)
  .github/CODEOWNERS
Labels: VSA, low-priority

#6363 Added v2 validation documentation route.
  modules/openid_auth/README_V2.yml
  modules/openid_auth/app/controllers/openid_auth/docs/v2/validation_controller.rb
  modules/openid_auth/config/routes.rb
Labels: Lighthouse

#6372 VRRAP: Create spool file entry for submissions
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/forms/base.rb
  app/workers/education_form/forms/va_1990s.rb
  app/workers/education_form/templates/1990s.erb
  spec/fixtures/education_benefits_claims/1990s/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990s/simple.json
  spec/fixtures/education_benefits_claims/1990s/simple.spl
  spec/jobs/education_form/forms/va1990s_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#6415 Supporting Evidence Attachments for VA Form 686
  app/workers/vbms/submit_dependents_pdf_job.rb
Labels: VSA

#6260 21005 add relationship hash to user model
  app/models/user.rb
  spec/factories/mvi_profile_relationships.rb
  spec/factories/mvi_profiles.rb
  spec/factories/users.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/models/user_spec.rb
Labels: identity

#6399 Update vets-json-schema version
  Gemfile.lock
Labels: bah

#6422 Api 6002 - Refactor submissions#create to return submission data and signed url
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
Labels: Lighthouse, appeals

#6368 21603 vets api documentation facilities controller
  modules/vaos/app/docs/vaos/v0/vaos.yaml
Labels: VAOS

#6416 21600 vets api doc clinics controller
  modules/vaos/app/docs/vaos/v0/vaos.yaml
Labels: VAOS

#6443 API-4750 Corrected issue with Client Credentials token v2 token auth
  app/controllers/openid_application_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
Labels: Lighthouse

#6350 Api 5223 - evidence submission docs
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
Labels: Lighthouse, appeals

#6434 Remove 1990s from YTD reports
  app/models/education_benefits_claim.rb
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  app/workers/education_form/create_daily_year_to_date_report.rb
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/models/education_benefits_claim_spec.rb
Labels: bah

#6333 Refactor benefits claims api controllers with more separation between v0 and v1
  app/controllers/concerns/exception_handling.rb
  lib/common/exceptions/base_error.rb
  lib/common/exceptions/record_not_found.rb
  lib/common/exceptions/service_error.rb
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/controllers/claims_api/base_disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/document_validations.rb
  modules/claims_api/app/controllers/concerns/claims_api/mpi_verification.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/claims_api/spec/requests/v0/document_validations_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse

#6440 [API-5901] - Provide consistent error response structures in ClaimsApi endpoints
  modules/claims_api/app/controllers/claims_api/v0/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/common/not_found_swagger.rb
  modules/claims_api/app/swagger/claims_api/common/unprocessable_entity_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
Labels: Lighthouse

#6447 Spool: Disable emails for invalid submissions
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/process10203_submissions.rb
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: bah

#6243 API-5227 - evidence upload error handling
  modules/appeals_api/app/services/appeals_api/supporting_evidence/evidence_uploader.rb
  modules/appeals_api/spec/services/appeals_api/supporting_evidence/evidence_uploader_spec.rb
Labels: Lighthouse, appeals

#6482 added method back in
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: Lighthouse

#6470 Changed event type and updated service logic
  modules/apps_api/app/workers/apps_api/fetch_connections.rb
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/apps_api/spec/lib/notification_service_spec.rb
Labels: Lighthouse

#6486 API-6192: Issue when multiple POA changes are submitted with the same headers
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
Labels: Lighthouse

#6480 10203 EVSS POA update
  lib/evss/vso_search/service.rb
  spec/fixtures/evss_vso_search/service_headers.json
  spec/lib/evss/vso_search/service_spec.rb
Labels: bah

#6493 22461 refactor mobile caching to enable filtering/pagination
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/claims_overview.rb
  modules/mobile/app/models/mobile/v0/concerns/redis_caching.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/spec/request/appointments_request_spec.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/services/appointments_service_spec.rb
  modules/mobile/spec/support/fixtures/claims_and_appeals.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_500.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
  modules/mobile/spec/workers/pre_cache_claims_and_appeals_job_spec.rb
Labels: va-mobile

#6500 Chapter 31 - Add veteran information prefill
  config/form_profile_mappings/28-1900.yml
  spec/models/form_profile_spec.rb
Labels: VSA

#6503 Mark.viterna/api 5986 500
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/spec/requests/v0/forms_request_spec.rb
Labels: Forms

#6501 Remove region from submission confirmation
  app/workers/education_form/education_facility.rb
  spec/jobs/education_form/education_facility_spec.rb
  spec/models/education_benefits_claim_spec.rb
Labels: bah

#6520 API-6279 Prevent Repeated Okta Profile Fetching
  app/controllers/openid_application_controller.rb
  spec/controllers/openid_application_controller_spec.rb
Labels: Lighthouse

#6498 Removing staging flag from notification service
  config/settings.yml
  config/settings/test.yml
  modules/apps_api/lib/apps_api/notification_service.rb
Labels: Lighthouse

#6522 added swagger api docs for direct booking elig criteria controller
  modules/vaos/app/docs/vaos/v0/vaos.yaml
Labels: VAOS

#6490 22126: API modifications to support 1990s prefill
  .rubocop_todo.yml
  app/models/form_profile.rb
  app/models/form_profiles/va_1990s.rb
  config/form_profile_mappings/22-1990S.yml
Labels: bah, bah-qa-needed

#6459 22461 mobile appointments pagination
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/claims_overview.rb
  modules/mobile/app/models/mobile/v0/contracts/get_appointments.rb
  modules/mobile/app/serializers/mobile/v0/letters_beneficiary_serializer.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/app/services/mobile/v0/appointments/service.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/spec/request/appointments_request_spec.rb
  modules/mobile/spec/services/appointments_service_spec.rb
  modules/mobile/spec/support/schemas/appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_200_with_error.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_default.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: va-mobile

#6543 API-6012 - Update hlr updater job
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
Labels: Lighthouse, appeals

#6524 Update vets-json-schema
  Gemfile.lock
Labels: bah, bah-qa-needed

#6553 Add missing fetch profile call
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
Labels: Lighthouse

#6551 22126: Update returnUrl for 1990s prefill info
  app/models/form_profiles/va_1990s.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#6560 Tiny Refactor - Open Module Manually So That File Load Order Isn't Important (DecisionReview::Schemas)
  lib/decision_review/schemas.rb
Labels: VSA

#6547 Add DecisionReview PersonalInformationLog REPL
  rakelib/decision_review_repl.rb
  rakelib/piilog_repl.rb
  rakelib/piilog_repl/piilog_helpers.rb
  spec/rakelib/piilog_repl/piilog_helpers_spec.rb
Labels: VSA, low-priority

#6507 Add Act.Type to Token Validation Object V2
  modules/openid_auth/README_V2.yml
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
Labels: Lighthouse

#6572 API-6346 EvidenceSubmission backwards compat before migrations
  modules/appeals_api/app/services/appeals_api/supporting_evidence/evidence_uploader.rb
  modules/appeals_api/app/services/appeals_api/supporting_evidence/temporary_storage_uploader.rb
  modules/appeals_api/spec/models/evidence_submission_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
  modules/appeals_api/spec/services/appeals_api/supporting_evidence/evidence_uploader_spec.rb
  modules/appeals_api/spec/services/appeals_api/supporting_evidence/temporary_storage_uploader_spec.rb
Labels: Lighthouse, appeals

#6571 API-6346 EvidenceSubmission migration
  db/schema.rb
  modules/appeals_api/db/migrate/20210412175709_add_upload_submission_to_evidence_submissions.rb
Labels: Lighthouse, appeals

#6576 22461 mobile appointments pagination docs
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Appointments.yml
Labels: va-mobile

#6555 Changing the language field per va.gov/CMS team request.
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/config/graphql_query.txt
  modules/va_forms/spec/fixtures/gql_form.json
  modules/va_forms/spec/fixtures/gql_form_deleted.json
  spec/support/vcr_cassettes/va_forms/gql_forms.yml
Labels: Forms

#6565 Api 6123 enhance aud token validation
  app/models/token.rb
  modules/openid_auth/README_V2.yml
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
Labels: Lighthouse

#6527 Api 6001/add status audit log
  db/schema.rb
  modules/appeals_api/db/migrate/20210408211521_create_status_update.rb
  modules/appeals_api/db/migrate/20210409131024_add_event_subscriptions.rb
Labels: Lighthouse, appeals

#6566 Api 6346 Update Evidence submission create & show
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/models/evidence_submission_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
Labels: Lighthouse, appeals

#6563 Api 6001/audit logging event sourcing
  modules/appeals_api/app/models/appeals_api/event_subscription.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/status_update.rb
  modules/appeals_api/app/services/appeals_api/events/handler.rb
  modules/appeals_api/app/services/appeals_api/events/status_updated.rb
  modules/appeals_api/app/workers/appeals_api/events_worker.rb
  modules/appeals_api/config/initializers/event_subscriptions.rb
  modules/appeals_api/spec/services/appeals_api/events/handler_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/status_updated_spec.rb
  modules/appeals_api/spec/workers/appeals_api/events_worker_spec.rb
Labels: Lighthouse, appeals

#6580 [API-6386] - Fix swagger example for "directDeposit.accountType"
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#6564 Tweak Form526 "Errors Report" Rake Task for New Definition of Success
  rakelib/form526.rake
Labels: VSA

#6519 Cris.shupp/5580 slack deploy notifications
  config/initializers/sidekiq.rb
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/models/vba_documents/git_items.rb
  modules/vba_documents/app/workers/vba_documents/deployments_notifier.rb
  modules/vba_documents/spec/jobs/deployments_notifer_spec.rb
  modules/vba_documents/spec/models/git_items_spec.rb
Labels: BenefitsIntake

#6589 Bah 20138
  app/workers/education_form/templates/0994.erb
  config/features.yml
  spec/fixtures/education_benefits_claims/0994/kitchen_sink_old.json
  spec/fixtures/education_benefits_claims/0994/kitchen_sink_old.spl
  spec/jobs/education_form/forms/va0994_spec.rb
Labels: bah

#6595 Testing VRE emails in staging
  app/mailers/veteran_readiness_employment_mailer.rb
  spec/mailers/veteran_readiness_employment_mailer_spec.rb
Labels: VSA

#6433 Remove external 'User.va_profile' references
  app/controllers/concerns/failed_request_loggable.rb
  app/controllers/v0/sessions_controller.rb
  app/controllers/v1/sessions_controller.rb
  app/models/gi_bill_feedback.rb
  app/models/id_card_attributes.rb
  app/models/mhv_account.rb
  app/models/mpi_data.rb
  app/models/user.rb
  app/services/mhv_accounts_service.rb
  app/services/users/profile.rb
  lib/va_profile/contact_information/transaction_response.rb
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
  rakelib/connectivity.rake
  rakelib/mvi.rake
  spec/controllers/v0/sessions_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/user_spec.rb
  spec/request/in_progress_forms_request_spec.rb
  spec/request/letters_request_spec.rb
  spec/services/users/profile_spec.rb
Labels: identity, identity-backend

#6569 Greg.bowman/api 5948 add monthly upload size
  modules/vba_documents/app/mailers/vba_documents/monthly_report_mailer.rb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_monthly_processing_success.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/monthly_report.html.erb
  modules/vba_documents/app/workers/vba_documents/report_monthly_submissions.rb
  modules/vba_documents/spec/fixtures/monthly_report/avg_processing_time.yml
  modules/vba_documents/spec/fixtures/monthly_report/monthly_avg_and_pages.yml
  modules/vba_documents/spec/fixtures/monthly_report/monthly_counts.yml
  modules/vba_documents/spec/fixtures/monthly_report/monthly_max_avg_pages.yml
  modules/vba_documents/spec/fixtures/monthly_report/monthly_mode_pages.yml
  modules/vba_documents/spec/fixtures/monthly_report/monthly_still_processing.yml
  modules/vba_documents/spec/fixtures/monthly_report/monthly_summary.yml
  modules/vba_documents/spec/jobs/report_monthly_submissions_spec.rb
  modules/vba_documents/spec/mailers/monthly_report_mailer_spec.rb
Labels: BenefitsIntake

#6612 API-6434: 422 on Service Branch
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#6611 API-6451: Prevent issue with updating POA if representative does not have an ICN
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
Labels: Lighthouse

#6613 API-5349 - Update docs
  modules/appeals_api/app/swagger/appeals_api/v1/api_description.md
Labels: Lighthouse, appeals

#6619 add enum values to nodCreateInput docs
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
Labels: Lighthouse, appeals

#6606 reorganize user model methods (#18742)
  app/models/user.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  spec/models/form_profile_spec.rb
Labels: identity, identity-backend

#6596 Api 6066 validation smart launch failure enhancement
  app/controllers/openid_application_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
Labels: Lighthouse

#6640 API-6434: 422 on Service Branch
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#6636 Stem tracking
  app/mailers/stem_applicant_denial_mailer.rb
Labels: bah

#6621 API-6454: Retrieve canonical current and past POA values from BGS
  Gemfile.lock
  app/models/power_of_attorney.rb
  lib/bgs/power_of_attorney_verifier.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/veteran/app/models/veteran/user.rb
  modules/veteran/spec/models/veteran/user_spec.rb
Labels: Lighthouse

#6654 Greg.bowman/api 5948 update schedule recipients
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_monthly_processing_success.html.erb
  modules/vba_documents/app/workers/vba_documents/report_unsuccessful_submissions.rb
Labels: BenefitsIntake

#6620 Migration/add board review option to notice of disagreement
  db/schema.rb
  modules/appeals_api/db/migrate/20210420131905_add_board_review_option_to_notice_of_disagreement.rb
Labels: Lighthouse, appeals, database-migration

#6605 Ensure source tracked
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#6591 Evidence submission request validation
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/services/appeals_api/file_validator.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
  modules/appeals_api/spec/services/appeals_api/file_validator_spec.rb
Labels: Lighthouse, appeals

#6674 Greg.bowman/api 6289 monthly manual update final success flag
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/lib/vba_documents/console_utilities.rb
Labels: BenefitsIntake

#6680 I think this fixes it 😬
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
Labels: Lighthouse, appeals

#6670 API-6439: validate POA code
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#6662 Create a Daily Report for CH31
  app/mailers/ch31_submissions_report_mailer.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Labels: VSA

#6678 Api 6347/update docs
  modules/appeals_api/app/swagger/appeals_api/v1/api_description.md
Labels: Lighthouse, appeals

#6702 API-6718 - Update NOD header schema
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/config/schemas/10182_headers.json
  modules/appeals_api/spec/fixtures/valid_10182_headers.json
  modules/appeals_api/spec/fixtures/valid_10182_headers_minimum.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
Labels: Lighthouse, appeals

#6698 Daily Report for Chapter 31 Form Submissions
  app/mailers/ch31_submissions_report_mailer.rb
  app/mailers/views/veteran_readiness_employment.html.erb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/workers/vre/create_ch31_submissions_report.rb
  config/sidekiq_scheduler.yml
  spec/factories/veteran_readiness_employment_claim.rb
  spec/jobs/vre/create_ch31_submissions_report_spec.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: VSA

#6708 update monthly report to use final_success_status in metadata
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/workers/vba_documents/report_monthly_submissions.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
  modules/vba_documents/lib/vba_documents/console_utilities.rb
  modules/vba_documents/lib/vba_documents/sql_support.rb
Labels: BenefitsIntake

#6568 Always Save Full Error Response From Lighthouse to PersonalInformationLog
  app/controllers/concerns/failed_request_loggable.rb
  lib/decision_review/service.rb
Labels: VSA

#6676 API-6280 - SSOi session caching
  app/controllers/openid_application_controller.rb
  app/models/session.rb
  config/redis.yml
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
  spec/controllers/openid_application_controller_spec.rb
  spec/support/okta_users_helpers.rb
  spec/support/vcr_cassettes/okta/ssoi-user.yml
Labels: Lighthouse
