Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-01, with the labels that each got.

#5587 API-3277: [database schema] Special Issues - Track the successes for special issues by claim
  db/schema.rb
  modules/claims_api/db/migrate/20201231033748_add_bgs_special_issues_responses_column_to_auto_established_claims.rb
Labels: Lighthouse

#5584 API-4222/3725 character limits and copy changes
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/config/schemas/10182_headers.json
Labels: Lighthouse, appeals

#5588 API-3277: [logic] Special Issues - Track the successes for special issues by claim
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
  modules/claims_api/spec/workers/special_issue_updater_spec.rb
Labels: Lighthouse

#5589 API-3270: Special Issues - Portal documentation for any new / changed features from consumer standpoint
  modules/claims_api/app/swagger/claims_api/description/v0.md
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/forms/form_526_example.json
Labels: Lighthouse

#5564 BGS 686 Set Child Married Indicator
  app/models/bgs_dependents/child_marriage.rb
  app/models/saved_claim/dependency_claim.rb
  lib/bgs/children.rb
  spec/lib/bgs/children_spec.rb
  spec/models/bgs_dependents/child_marriage_spec.rb
Labels: VSA

#5560 Form 674 PDF Submission to VBMS
  app/models/saved_claim/dependency_claim.rb
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  spec/factories/dependency_claim.rb
  spec/models/saved_claim/dependency_claim_spec.rb
  spec/services/bgs/dependent_service_spec.rb
  spec/workers/vbms/submit_dependents_pdf_job_spec.rb
Labels: VSA

#5605 Add source field to NOD and HLR
  db/schema.rb
  modules/appeals_api/db/migrate/20210105174800_add_source_to_hlr.rb
  modules/appeals_api/db/migrate/20210105181435_add_source_to_nod.rb
Labels: Lighthouse, appeals

#5295 Tweak errors middleware
  modules/vaos/app/exceptions/vaos_backend_service_exception.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/services/vaos/middleware/response/errors.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  modules/vaos/spec/services/middleware/vaos_errors_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/put_cancel_appointment_400.yml
  spec/support/vcr_cassettes/vaos/appointments/put_cancel_appointment_409.yml
  spec/support/vcr_cassettes/vaos/appointments/put_cancel_appointment_500.yml
Labels: VAOS

#5585 Fix DetailedSchemaErrors
  lib/common/exceptions/detailed_schema_errors.rb
  modules/appeals_api/config/schemas/200996_headers.json
  spec/fixtures/json/detailed_schema_errors_schema.json
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: Lighthouse, appeals

#5626 Update Swagger docs to reflect schema minItems for included
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
Labels: Lighthouse, appeals

#5627 API-4074 Fix NOD header data retrieval
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#5633 API-4074 Temporarily use 0s for centralmail zip
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
Labels: Lighthouse, appeals

#5635 API-4232: Benefits Claims- POST requests response is different from expected.
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#5618 Combine Hearing Preference and Additional Issues
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
Labels: Lighthouse, appeals

#5630 Add More Tests for the InProgressForms Serializer
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/request/in_progress_forms_request_spec.rb
  spec/serializers/in_progress_form_serializer_spec.rb
Labels: VSA

#5631 API-4231: Benefits Claims- GET request for specific claim resulting in valid response
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/spec/requests/v0/claims_request_spec.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
Labels: Lighthouse

#5607 Add education_stem_automated_decisions table
  db/migrate/20210106135429_create_education_stem_automated_decisions.rb
  db/schema.rb
Labels: bah

#5640 API-4074 Add zipcode into NOD schema
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/spec/fixtures/invalid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182_minimum.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/support/pdf_matcher.rb
Labels: Lighthouse, appeals

#5624 API-4263: 404 "Claim not found" error on PUT to /526 after successful POST
  modules/claims_api/app/controllers/claims_api/base_disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#5634 Api 4180 - appeals_api report email
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/mailers/appeals_api/decision_review_mailer.rb
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_job.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/decision_review_report_mailer_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_spec.rb
  spec/mailers/previews/appeals_api_decision_review_preview.rb
Labels: Lighthouse, appeals

#5649 API-4354: Discover and document response when POA active endpoint is used by someone that is not POA
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
Labels: Lighthouse

#5608 Create EducationStemAutomatedDecision on 10203 submission
  app/models/education_benefits_claim.rb
  app/models/education_stem_automated_decision.rb
  app/models/saved_claim/education_benefits/va10203.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah

#5658 Remove Outdated Comment
  rakelib/form526.rake
Labels: VSA

#5582 Save-In-Progress Bug Fix: Use CamelCase in the Back End
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/serializers/in_progress_form_serializer.rb
  app/services/users/profile.rb
  app/workers/delete_attachment_job.rb
  spec/factories/in_progress_forms/hca_forms.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/models/in_progress_form_spec.rb
  spec/rakelib/form526_spec.rb
  spec/request/in_progress_forms_request_spec.rb
Labels: VSA

#5668 Improve claim submission error response if issues in record creation
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: Lighthouse

#5667 added index on name column for directory_applications
  db/schema.rb
  modules/apps_api/db/migrate/20210113203803_add_index_to_directory_applications.rb
Labels: Lighthouse

#5623 Consolidate hlr/nod central mail status logic into concern
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/concerns/appeals_api/central_mail_status.rb
  modules/appeals_api/spec/models/concerns/appeals_api/central_mail_status_spec.rb
Labels: Lighthouse, appeals

#5673 Prevent snake_casing For Update and Destroy Response (InProgressFormsController)
  app/controllers/v0/in_progress_forms_controller.rb
  spec/request/in_progress_forms_request_spec.rb
Labels: VSA

#5655 Api-4361 pii and status flags and specs
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/workers/appeals_api/higher_level_review_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_clean_up_week_old_pii.rb
  modules/appeals_api/spec/workers/higher_level_review_clean_up_week_old_pii_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_clean_up_week_old_pii_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
Labels: Lighthouse, appeals

#5683 Api 4523 fix already defined constants warnings
  modules/appeals_api/app/models/concerns/appeals_api/central_mail_status.rb
Labels: Lighthouse, appeals

#5619 STEM AD: Queue solution #17771
  .rubocop.yml
  app/models/education_stem_automated_decision.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/forms/va10203.rb
  app/workers/education_form/process10203_submissions.rb
  app/workers/education_form/templates/10203.erb
  config/features.yml
  config/sidekiq_scheduler.yml
  rakelib/jobs.rake
  spec/factories/va10203.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: bah

#5671 Refactor InProgressFormsController
  app/controllers/v0/in_progress_forms_controller.rb
Labels: VSA

#5662 Documentation Updates for Save-In-Progress Routes
  app/swagger/swagger/requests/in_progress_forms.rb
  spec/request/in_progress_forms_request_spec.rb
Labels: VSA

#5678 Small Refactor for InProgressForms Documentation
  app/swagger/swagger/requests/in_progress_forms.rb
Labels: VSA

#5680 Update HLR & NOD dev docs
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/config/schemas/200996.json
Labels: Lighthouse, appeals

#5700 API-4491 Move report recipients to settings
  config/settings.yml
  modules/appeals_api/app/mailers/appeals_api/decision_review_mailer.rb
  modules/appeals_api/spec/mailers/decision_review_report_mailer_spec.rb
Labels: Lighthouse, appeals

#5689 686 Dependency Claim Address Fix
  app/models/saved_claim/dependency_claim.rb
  spec/models/saved_claim/dependency_claim_spec.rb
Labels: VSA

#5711 Increase table width
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
Labels: Lighthouse, appeals

#5708 Add privacy policy url to profile/connected_applications response
  app/models/okta_redis/app.rb
  app/serializers/okta_app_serializer.rb
  app/swagger/swagger/schemas/connected_applications.rb
Labels: Lighthouse

#5690 API-4344: Add Lighthouse identifier to EVSS claim submissions
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: Lighthouse

#5677 Api 4306/pdf constructor refactor
  Gemfile
  Gemfile.lock
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/notice_of_disagreement_pdf_options.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/lib/notice_of_disagreement_pdf_options_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/pages/hearing_type_and_additional_issues_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#5682 Tweak module generator file insert
  config/routes.rb
  lib/generators/module/module_generator.rb
Labels: Please Review

#5712 Add authentication statement to form signature
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
Labels: Lighthouse, appeals

#5710 18312: Add State Search Feature Flag
  config/features.yml
Labels: bah

#5664 API-4406: Proper 400 response if pdf provided is invalid
  modules/claims_api/app/controllers/concerns/claims_api/document_validations.rb
Labels: Lighthouse

#5670 Added controller methods, model validation, and tests
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/app/models/directory_application.rb
  modules/apps_api/config/routes.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
Labels: Lighthouse

#5725 Update swagger/schema for max contestable issues
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/schemas/10182.json
Labels: Lighthouse, appeals

#5720 Fix VA Form 21-674b Submission
  app/models/saved_claim/dependency_claim.rb
  spec/models/saved_claim/dependency_claim_spec.rb
Labels: VSA

#5666 Add columns to education_stem_automated_decisions table
  db/migrate/20210120175426_add_columns_to_education_stem_automated_decisions.rb
  db/schema.rb
Labels: bah

#5731 Fix 686 Submission PDF Job
  app/services/bgs/dependent_service.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  spec/services/bgs/dependent_service_spec.rb
  spec/workers/vbms/submit_dependents_pdf_job_spec.rb
Labels: VSA

#5706 10203 Automated Decision Processing - Update stored POA status
  app/workers/education_form/process10203_submissions.rb
  app/workers/education_form/templates/10203.erb
  spec/factories/education_stem_automated_decisions.rb
  spec/fixtures/education_benefits_claims/10203/kitchen_sink_stem_ad_with_poa.spl
  spec/fixtures/education_benefits_claims/10203/kitchen_sink_stem_ad_without_poa.spl
  spec/jobs/education_form/forms/va10203_spec.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: bah

#5736 API-4405: Validate flash sent to BGS was successfully added to Veteran
  modules/claims_api/app/workers/claims_api/flash_updater.rb
  modules/claims_api/spec/workers/flash_updater_spec.rb
Labels: Lighthouse

#5726 STEM AD: Create 10203 submission details report #18484
  app/mailers/spool10203_submissions_report_mailer.rb
  app/workers/education_form/create10203_spool_submissions_report.rb
  app/workers/education_form/forms/va_10203.rb
  config/settings.yml
  config/sidekiq_scheduler.yml
  spec/factories/education_stem_automated_decisions.rb
  spec/jobs/education_form/create10203_spool_submissions_report_spec.rb
  spec/mailers/spool10203_submissions_report_mailer_spec.rb
Labels: bah, bah-qa-needed

#5685 18330 - Create show action for appointment requests
  modules/vaos/app/controllers/vaos/v0/appointment_requests_controller.rb
  modules/vaos/app/serializers/vaos/v0/appointment_requests_serializer.rb
  modules/vaos/app/services/vaos/appointment_requests_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/services/appointment_requests_service_spec.rb
  spec/support/matchers/schema_matchers.rb
  spec/support/schemas/vaos/appointment_request.json
  spec/support/schemas/vaos/appointment_requests.json
  spec/support/schemas_camelized/vaos/appointment_request.json
  spec/support/vcr_cassettes/vaos/appointment_requests/get_request_with_id.yml
  spec/support/vcr_cassettes/vaos/appointment_requests/get_requests_with_params.yml
  spec/support/vcr_cassettes/vaos/appointment_requests/put_request.yml
Labels: VAOS

#5744 API-4615 Add environment to report email
  modules/appeals_api/app/mailers/appeals_api/decision_review_mailer.rb
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
  modules/appeals_api/spec/mailers/decision_review_report_mailer_spec.rb
  spec/mailers/previews/appeals_api_decision_review_preview.rb
Labels: Lighthouse, appeals

#5723 Api 4527/hlr constructor refactor
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/pages/hearing_type_and_additional_issues_spec.rb
Labels: Lighthouse, appeals

#5754 hook up HLR constructor to new generator
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/lib/appeals_api/base_pdf_constructor.rb
  modules/appeals_api/lib/appeals_api/higher_level_review_pdf_constructor.rb
  modules/appeals_api/spec/lib/higher_level_review_pdf_constructor_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#5703 API-4490 Move boilerplate pages to end of NOD form
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure_spec.rb
Labels: Lighthouse, appeals

#5719 Api-4520 Add NOD show to docs
  modules/appeals_api/.rubocop.yml
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/response_nod_show_not_found.json
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
Labels: Lighthouse, appeals

#5741 Extra PDF Page for CH31
  lib/pdf_fill/forms/pdfs/28-1900.pdf
  lib/pdf_fill/forms/va281900.rb
  spec/fixtures/pdf_fill/28-1900/kitchen_sink.json
  spec/fixtures/pdf_fill/28-1900/kitchen_sink.pdf
  spec/fixtures/pdf_fill/28-1900/overflow.pdf
  spec/fixtures/pdf_fill/28-1900/simple.pdf
Labels: VSA

#5759 Add missing method - fixes failing specs
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
Labels: Lighthouse, appeals

#5757 API-4615 Use Settings.vsp_environment for appeals email report
  modules/appeals_api/app/mailers/appeals_api/decision_review_mailer.rb
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
  modules/appeals_api/spec/mailers/decision_review_mailer_spec.rb
  modules/appeals_api/spec/mailers/decision_review_report_mailer_spec.rb
Labels: Lighthouse, appeals

#5762 Add 'lob' to CentralMail upload
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#5766 Adding VSA/BAM1 Ownership of Form526 Rake Task
  .github/CODEOWNERS
Labels: Lighthouse, VSA

#5769 Fixing 686 Pension Eligibility Question
  app/models/bgs_dependents/vnp_benefit_claim.rb
Labels: VSA

#5734 API-4589: Record not saving in sandbox after claim establishment through EVSS
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: Lighthouse

#5760 API-4568: Don't replace GUID with EVSS Claim ID
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/serializers/claims_api/auto_established_claim_serializer.rb
  modules/claims_api/app/serializers/claims_api/claim_detail_serializer.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
Labels: Lighthouse

#5724 API-4292: Export claim IDs for flashes and special issues
  modules/claims_api/lib/tasks/claims_tasks.rake
  modules/claims_api/spec/lib/claims_api/health_checker_spec.rb
  modules/claims_api/spec/lib/claims_api/power_of_attorney_pdf_constructor_spec.rb
  modules/claims_api/spec/lib/claims_api/special_issue_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/vbms_uploader_spec.rb
  modules/claims_api/spec/lib/tasks/claims_tasks_spec.rb
Labels: Lighthouse

#5661 TUD API module initial commit
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/test_user_dashboard/.rspec
  modules/test_user_dashboard/Gemfile
  modules/test_user_dashboard/README.rdoc
  modules/test_user_dashboard/Rakefile
  modules/test_user_dashboard/app/assets/stylesheets/test_user_dashboard/tud_accounts.css
  modules/test_user_dashboard/app/controllers/test_user_dashboard/application_controller.rb
  modules/test_user_dashboard/app/controllers/test_user_dashboard/tud_accounts_controller.rb
  modules/test_user_dashboard/app/helpers/test_user_dashboard/tud_accounts_helper.rb
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
  modules/test_user_dashboard/bin/rails
  modules/test_user_dashboard/config/routes.rb
  modules/test_user_dashboard/lib/test_user_dashboard.rb
  modules/test_user_dashboard/lib/test_user_dashboard/engine.rb
  modules/test_user_dashboard/lib/test_user_dashboard/version.rb
  modules/test_user_dashboard/spec/examples.txt
  modules/test_user_dashboard/spec/models/tud_account_spec.rb
  modules/test_user_dashboard/spec/rails_helper.rb
  modules/test_user_dashboard/spec/spec_helper.rb
  modules/test_user_dashboard/spec/support/spec_users.csv
  modules/test_user_dashboard/test_user_dashboard.gemspec
  rakelib/test_user_account.rake
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: identity

#5772 Fix master build after several prs merged into master this morning
  modules/claims_api/spec/lib/claims_api/health_checker_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: Lighthouse

#5765 Output CSV for Form 526 Rake Task
  rakelib/form526.rake
  spec/rakelib/form526_spec.rb
Labels: VSA

#5740 Education form submission delete job updates for 10203
  app/workers/education_form/delete_old_applications.rb
  spec/factories/education_benefits.rb
  spec/jobs/education_form/delete_old_applications_spec.rb
Labels: bah

#5776 API-4076 - Change max length of nod issue
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/schemas/10182.json
Labels: Lighthouse, appeals

#5777 restores tud_account creation service and tests #17214
  modules/test_user_dashboard/app/controllers/test_user_dashboard/tud_accounts_controller.rb
  modules/test_user_dashboard/app/helpers/test_user_dashboard/tud_accounts_helper.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/create_test_user_account.rb
  modules/test_user_dashboard/spec/requests/tud_accounts_request_spec.rb
  modules/test_user_dashboard/spec/services/create_test_user_account_spec.rb
Labels: identity, identity-backend

#5752 Update NOD & HLR form_data form_field method names to remove boolean expectation
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_fields_spec.rb
Labels: Lighthouse, appeals

#5764 added feature flag for facility selection v2.2
  config/features.yml
Labels: VAOS

#5672 18206 add show action
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/routing/vaos_routing_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  spec/support/schemas/vaos/va_appointment.json
  spec/support/schemas/vaos/va_appointment_raw.json
  spec/support/schemas/vaos/va_appointments.json
  spec/support/schemas_camelized/vaos/va_appointment.json
  spec/support/schemas_camelized/vaos/va_appointment_raw.json
  spec/support/schemas_camelized/vaos/va_appointments.json
  spec/support/vcr_cassettes/vaos/appointments/show_appointment.yml
  spec/support/vcr_cassettes/vaos/appointments/show_appointment_404.yml
  spec/support/vcr_cassettes/vaos/appointments/show_appointment_500.yml
Labels: VAOS

#5432 16029 accept multiple institution codes
  modules/vaos/app/controllers/vaos/v0/facilities_controller.rb
  modules/vaos/app/services/vaos/systems_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/support/vcr_cassettes/vaos/systems/get_facilities_limits_for_multiple.yml
  spec/support/vcr_cassettes/vaos/systems/get_facilities_limits_for_multiple_500.yml
Labels: VAOS

#5789 put back submitting status
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
Labels: Lighthouse, appeals

#5790 19154 capture appts error sentry
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/get_appointments_200_partial_error.yml
Labels: VAOS

#5795 Changed typo in DirectoryController
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
Labels: Lighthouse

#5783 Log Failed HLR-related Requests to the PII Log
  app/controllers/appeals_base_controller.rb
  app/controllers/concerns/failed_request_loggable.rb
  app/controllers/v0/higher_level_reviews/contestable_issues_controller.rb
  app/controllers/v0/higher_level_reviews_controller.rb
  spec/request/v0/higher_level_reviews_controller_request_spec.rb
Labels: VSA

#5797 Api 4695/update healthcheck to include central mail
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/lib/appeals_api/health_checker.rb
  modules/appeals_api/spec/lib/health_checker_spec.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse, appeals

#5798 Setting Appropriate Doc Type for Form 674
  app/models/saved_claim/dependency_claim.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  spec/models/saved_claim/dependency_claim_spec.rb
Labels: VSA
