Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-05, with the labels that each got.

#6667 Rely on sidekiq retry and add logging for duplicate HLRPDFSubmitJob
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/lib/appeals_api/sidekiq_retry_notifier.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#6646 Mark.viterna/api 6229 searching
  Gemfile
  Gemfile.lock
  config/features.yml
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/app/serializers/va_forms/form_detail_serializer.rb
  modules/va_forms/spec/requests/v0/forms_request_spec.rb
Labels: Forms

#6628 Api 6218 charon prep
  config/settings.yml
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
  spec/support/okta_users_helpers.rb
  spec/support/vcr_cassettes/okta/openid-user-charon.yml
Labels: Lighthouse

#6729 API-6628: Update docs to accept eSignature
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#6757 lower threshold
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
Labels: Lighthouse, appeals

#6759 API-6628: Update docs to accept eSignature
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#6740 PDF for Dependency Verification (VA Form 21-0538)
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/21-0538.pdf
  lib/pdf_fill/forms/va210538.rb
  spec/fixtures/pdf_fill/21-0538/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0538/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-0538/overflow.json
  spec/fixtures/pdf_fill/21-0538/overflow.pdf
  spec/fixtures/pdf_fill/21-0538/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-0538/simple.json
  spec/fixtures/pdf_fill/21-0538/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: VSA

#6731 Move all status updates to happen within the HLR and NOD models
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#6743 Removing URL when unpublished
  modules/va_forms/app/workers/va_forms/form_reloader.rb
Labels: Forms

#6751 VRRAP: Update spool file attestation section #24119
  app/workers/education_form/templates/1990s.erb
  spec/fixtures/education_benefits_claims/1990s/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990s/simple.json
  spec/fixtures/education_benefits_claims/1990s/simple.spl
Labels: bah

#6705 API-6425 Authorization check with the Charon service where applicable
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
  spec/support/okta_users_helpers.rb
Labels: Lighthouse

#6761 Adding another email to send Chapter 31 daily submissions report
  app/mailers/ch31_submissions_report_mailer.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Labels: VSA

#6717 Attempt at fixing our build bug
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
Labels: Lighthouse, appeals

#6701 API-6116 Add evidence submission validation
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
Labels: Lighthouse, appeals

#6771 Api 6669/91 day validation evidence window
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/factories/status_updates.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
Labels: Lighthouse, appeals

#6755 Api 6411/status update event
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#6228 Updates mobile SM API docs with additional details
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/SecureMessageDetail.yml
  modules/mobile/docs/schemas/SecureMessageNewMessageRequest.yml
  modules/mobile/docs/schemas/SecureMessageReplyRequest.yml
  modules/mobile/docs/schemas/SecureMessageSummary.yml
  modules/mobile/docs/schemas/SecureMessagingFolder.yml
Labels: va-mobile

#6774 Adding a 429 Response to Swagger
  modules/va_forms/app/swagger/va_forms/v0/controller_swagger.rb
Labels: Forms

#6668 Api 5348/status simulation
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/status_simulation.rb
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/app/swagger/appeals_api/v1/api_description.md
  modules/appeals_api/spec/controllers/concerns/appeals_api/status_simulation_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#6783 remove PATH_ENABLED flag from NOD docs
  config/settings.yml
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
Labels: Lighthouse, appeals

#6782 Greg.bowman/api 5717 monthly report avg min max status timestamps
  modules/vba_documents/app/mailers/vba_documents/monthly_report_mailer.rb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_elapsed_status_times.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_monthly_rolling_elapsed_times.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/monthly_report.html.erb
  modules/vba_documents/app/workers/vba_documents/report_monthly_submissions.rb
  modules/vba_documents/lib/vba_documents/sql_support.rb
  modules/vba_documents/spec/fixtures/monthly_report/rolling_elapsed_times.yml
  modules/vba_documents/spec/jobs/report_monthly_submissions_spec.rb
  modules/vba_documents/spec/mailers/monthly_report_mailer_spec.rb
Labels: BenefitsIntake

#6792 Add vrrap column to EducationBenefitsSubmission
  db/migrate/20210505180038_add_vrrap_to_edu_submissions.rb
  db/schema.rb
  spec/models/education_benefits_claim_spec.rb
Labels: bah

#6772 [23803] Bumping the Betamocks Gem version number to accomodate for la…
  Gemfile.lock
Labels: identity, identity-backend

#6794 pass response status through
  app/controllers/v0/search_typeahead_controller.rb
Labels: VSA

#6798 Api 6954/bug with swagger docs curl generation
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/security_scheme_swagger.rb
Labels: Lighthouse, appeals

#6784 VRRAP: Add 22-1990S to YTD report
  app/models/education_benefits_claim.rb
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  app/workers/education_form/create_daily_year_to_date_report.rb
  config/settings.yml
  spec/fixtures/education_form/create_csv_array.json
  spec/fixtures/education_form/fiscal_year_create_csv_array.json
  spec/fixtures/education_form/ytd_day_processed.json
  spec/fixtures/education_form/ytd_day_submitted.json
  spec/fixtures/education_form/ytd_year_processed.json
  spec/fixtures/education_form/ytd_year_submitted.json
  spec/jobs/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/jobs/education_form/create_daily_year_to_date_report_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah, bah-qa-needed

#6795 add versioning to schema directory
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/higher_level_reviews.rb
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/config/schemas/v1/200996.json
  modules/appeals_api/config/schemas/v1/200996_headers.json
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/spec/config/schemas/v1/10182_headers_json_spec.rb
  modules/appeals_api/spec/config/schemas/v1/10182_json_spec.rb
  modules/appeals_api/spec/config/schemas/v1/200996_headers_json_spec.rb
  modules/appeals_api/spec/config/schemas/v1/200996_json_spec.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: Lighthouse, appeals

#6797 add versioning parameter to pdf submit job
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
Labels: Lighthouse, appeals

#6810 [6809] Adding ability to query MPI mock with different modify code va…
  config/betamocks/services_config.yml
Labels: identity, identity-backend

#6758 #18742 adds deprecation warnings for User va_profile methods
  app/models/user.rb
  app/services/users/profile.rb
  rakelib/mvi.rake
Labels: identity, identity-backend

#6786 Api 6811/evidence submission validation docs
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
Labels: Lighthouse, appeals

#6852 Fixing duplicate notifications
  modules/vba_documents/app/workers/vba_documents/deployments_notifier.rb
Labels: BenefitsIntake

#6853 updated table formatting
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_elapsed_status_times.html.erb
Labels: BenefitsIntake

#6847 Modify CH31 Daily Report
  app/mailers/ch31_submissions_report_mailer.rb
  app/mailers/views/ch31_submissions_report.html.erb
  app/workers/vre/create_ch31_submissions_report.rb
  spec/fixtures/vre_claim/ch31_submissions_report.html
  spec/jobs/vre/create_ch31_submissions_report_spec.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Labels: VSA

#6857 [22732] adds message log when failing to look up edipi
  app/models/user.rb
  lib/evss/vso_search/service.rb
Labels: identity, identity-backend

#6846 Refactor code and detail delegation
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
Labels: Lighthouse, appeals

#6862 updated table formatting
  modules/vba_documents/app/views/vba_documents/common/_table_styling.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_elapsed_status_times.html.erb
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/_time_btw_statuses.html.erb
Labels: BenefitsIntake

#6861 Mark.viterna/api 5929 forms doc refresh
  modules/va_forms/app/swagger/va_forms/v0/controller_swagger.rb
  modules/va_forms/app/swagger/va_forms/v0/description.md
Labels: Forms

#6826 API-7009: Migration - remove code and detail from evidence submissions table
  db/schema.rb
  modules/appeals_api/db/migrate/20210510202141_remove_error_fields_from_evidence_submissions.rb
Labels: Lighthouse, appeals

#6834 API-6968/Refactor decision review mailer view and add evidence submissions
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/_appeal_table.html.erb
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
Labels: Lighthouse, appeals

#6843 v2 documentation
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_root.rb
  modules/appeals_api/config/routes.rb
Labels: Lighthouse, appeals

#6856 Api 6841 cache charon responses
  app/models/session.rb
  config/redis.yml
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
Labels: Lighthouse

#6828 Api 6897/new v2 route matchers
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
Labels: Lighthouse, appeals

#6880 add deprecation ability
  modules/appeals_api/app/controllers/concerns/appeals_api/header_modification.rb
  modules/appeals_api/spec/controllers/concerns/appeals_api/header_modification_spec.rb
Labels: Lighthouse, appeals

#6845 [API-7020/7021] - Add ClaimsApi Veteran Identifier Endpoint
  config/routes.rb
  config/settings.yml
  modules/claims_api/app/controllers/claims_api/docs/v2/api_controller.rb
  modules/claims_api/app/controllers/claims_api/metadata_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veteran_identifier_controller.rb
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/security_scheme_swagger.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger_root.rb
  modules/claims_api/app/swagger/claims_api/v2/veteran_identifier_controller_swagger.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
Labels: Lighthouse

#6875 API-6892 First pass update v2 schema
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
Labels: Lighthouse, appeals

#6882 Cris.shupp/api 6691 name validation
  modules/vba_documents/app/swagger/vba_documents/document_upload/metadata_swagger.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/fixtures/bad_with_digits_first_metadata.json
  modules/vba_documents/spec/fixtures/bad_with_funky_characters_last_metadata.json
  modules/vba_documents/spec/fixtures/dashes_slashes_first_last_metadata.json
  modules/vba_documents/spec/fixtures/name_too_long_metadata.json.erb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/support/vba_document_fixtures.rb
Labels: BenefitsIntake

#6929 API-6901 - update hlr docs
  modules/appeals_api/app/swagger/appeals_api/v2/response_hlr_create_error.json
  modules/appeals_api/app/swagger/appeals_api/v2/response_hlr_show_not_found.json
  modules/appeals_api/app/swagger/appeals_api/v2/responses_contestable_issues.json
  modules/appeals_api/spec/fixtures/valid_200996_minimum_v2.json
  modules/appeals_api/spec/fixtures/valid_200996_v2.json
Labels: Lighthouse, appeals

#6849 API-6895 HLR V2 structure
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/config/pdfs/200996_v2.pdf
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
  modules/appeals_api/spec/fixtures/valid_200996_v2_extra.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: Lighthouse, appeals

#6938 API-7126: Previous/active POA still not working as expected in sandbox
  modules/veteran/app/models/veteran/user.rb
  modules/veteran/spec/models/veteran/user_spec.rb
Labels: Lighthouse

#6949 publishing reports to slack
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: BenefitsIntake

#6930 Supporting Evidence Attachment Fix
  app/workers/vbms/submit_dependents_pdf_job.rb
Labels: VSA

#6940 Api 6895 HLR v2 Structure: Rep Details
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
Labels: Lighthouse, appeals

#6926 Mark.viterna/api 7156 bugfix
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/lib/va_forms/regex_helper.rb
  modules/va_forms/spec/lib/regex_helper_spec.rb
  modules/va_forms/spec/requests/v0/forms_request_spec.rb
Labels: Forms

#6941 [API-7226] - Adds 404 logic to ClaimsApi veteran id endpoint prototype
  modules/claims_api/app/controllers/claims_api/v2/veteran_identifier_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/veteran_identifier_controller_swagger.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
Labels: Lighthouse

#6942 API-6901 - Add hlr v2 swagger files
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v2/schemas/higher_level_reviews.rb
  modules/appeals_api/app/swagger/appeals_api/v2/security_scheme_swagger.rb
Labels: Lighthouse, appeals

#6958 API-7289 - Swagger updates
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/swagger_root.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_root.rb
Labels: Lighthouse, appeals

#6959 API-7287 - Status simulation
  config/settings.yml
Labels: Lighthouse, appeals

#6877 Set Status of 674 to Manual
  lib/bgs/form674.rb
  lib/bgs/form686c.rb
Labels: VSA

#6864 [18741] removes sec_id_mpi method
  app/models/gi_bill_feedback.rb
  app/models/user.rb
  spec/models/user_spec.rb
Labels: identity, identity-backend

#6978 Rolling back validations
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
Labels: BenefitsIntake

#6876 Api 6874 cache smart launch responses
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/openid_application_controller.rb
  app/controllers/v0/sessions_controller.rb
  app/controllers/v1/sessions_controller.rb
  app/models/session.rb
  app/models/user_session_form.rb
  config/redis.yml
  lib/flipper/admin_user_constraint.rb
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
  modules/openid_auth/spec/requests/validation_request_spec_v2.rb
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
Labels: Lighthouse

#6905 Api 4821/error types for hlr v2
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
Labels: Lighthouse, appeals

#6984 change namespace for pages on pdf construction, add table to HLR
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v1/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/pages/v1/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues_spec.rb
Labels: Lighthouse, appeals

#6969 Add Regional Office for CH31 Pilot
  app/models/saved_claim/veteran_readiness_employment_claim.rb
Labels: VSA

#6986 Adding in space to name validation
  modules/vba_documents/app/swagger/vba_documents/document_upload/metadata_swagger.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/fixtures/valid_metadata_space_in_name.json
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
Labels: BenefitsIntake

#6944 API-6902 Add deprecated key to v1 hlr swagger routes
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
Labels: Lighthouse, appeals

#6714 [API-6441] - Build ClaimsAPI v1 docs from specs
  Gemfile
  Gemfile.lock
  config/settings.yml
  modules/claims_api/.rubocop.yml
  modules/claims_api/app/controllers/claims_api/docs/v1/api_controller.rb
  modules/claims_api/app/swagger/v1/swagger.json
  modules/claims_api/config/post_examples/0966.json
  modules/claims_api/config/post_examples/2122.json
  modules/claims_api/config/post_examples/526.json
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/fixtures/form_2122_json_api.json
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/support/swagger_shared_components.rb
  spec/support/schemas/claims_api/claim.json
  spec/support/schemas/claims_api/claims.json
  spec/support/schemas/claims_api/errors/default.json
  spec/support/schemas/claims_api/errors/default_with_source.json
  spec/support/schemas/claims_api/forms/disability/attachments.json
  spec/support/schemas/claims_api/forms/disability/submission.json
  spec/support/schemas/claims_api/forms/disability/upload.json
  spec/support/schemas/claims_api/forms/disability/validate.json
  spec/support/schemas/claims_api/forms/intent_to_file/active.json
  spec/support/schemas/claims_api/forms/intent_to_file/submission.json
  spec/support/schemas/claims_api/forms/intent_to_file/validate.json
  spec/support/schemas/claims_api/forms/power_of_attorney/active.json
  spec/support/schemas/claims_api/forms/power_of_attorney/get.json
  spec/support/schemas/claims_api/forms/power_of_attorney/submission.json
  spec/support/schemas/claims_api/forms/power_of_attorney/upload.json
  spec/support/schemas/claims_api/forms/power_of_attorney/validate.json
  spec/support/vcr_cassettes/evss/claims/claims_trimmed_down.yml
  spec/swagger_helper.rb
Labels: Lighthouse

#6996 API-6614: Ensure upstream_healthcheck does not timeout for any upstream dependencies
  modules/claims_api/config/initializers/okcomputer.rb
Labels: Lighthouse

#7006 undefined method `mpi_icn' for #<ClaimsApi::Veteran:0x000055f83e6cf160>
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/claims_api/spec/models/veteran/service/user_spec.rb
Labels: Lighthouse

#6960 API-7055 HLR v2 Autosize Veteran Details & Issues Table
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
  modules/appeals_api/spec/fixtures/valid_200996_v2_extra.json
Labels: Lighthouse, appeals

#7008 Feature flag for notifications triggered for connected accounts in lower environments
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/apps_api/spec/lib/notification_service_spec.rb
Labels: Lighthouse

#7011 Add email recipients to Chapter 31 daily report
  app/mailers/ch31_submissions_report_mailer.rb
  config/settings.yml
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Labels: VSA

#7013 Add log statements to capture more data about update events. See va.g…
  app/controllers/v0/ppiu_controller.rb
  app/controllers/v0/profile/address_validation_controller.rb
  app/controllers/v0/profile/addresses_controller.rb
  app/controllers/v0/profile/alternate_phones_controller.rb
  app/controllers/v0/profile/ch33_bank_accounts_controller.rb
  app/controllers/v0/profile/communication_preferences_controller.rb
  app/controllers/v0/profile/email_addresses_controller.rb
  app/controllers/v0/profile/emails_controller.rb
  app/controllers/v0/profile/permissions_controller.rb
  app/controllers/v0/profile/primary_phones_controller.rb
  app/controllers/v0/profile/telephones_controller.rb
Labels: identity

#7024 API-7038 Update emailAddressText character limit from 44 to 100
  modules/appeals_api/config/schemas/v2/200996.json
Labels: Lighthouse, appeals

#7017 API-6823: SpecialIssueUpdater background job issue regarding no claims found
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
Labels: Lighthouse

#7016 API-6792: Internal Server Error when retrieving claims for John Doe in sandbox
  app/models/mpi_data.rb
Labels: Lighthouse

#7018 API-6822: SpecialIssueUpdater background job issue with logging maximum failures
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
Labels: Lighthouse

#6626 [6412] Refactoring User model to remove MPI circular dependency
  app/controllers/v0/profile/personal_informations_controller.rb
  app/models/mpi_data.rb
  app/models/user.rb
  app/models/user_identity.rb
  lib/evss/disability_compensation_auth_headers.rb
  lib/mpi/messages/add_person_message.rb
  lib/mpi/orch_search_service.rb
  lib/mpi/service.rb
  lib/saml/user_attributes/dslogon.rb
  lib/saml/user_attributes/id_me.rb
  lib/saml/user_attributes/ssoe.rb
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/openid_auth/app/controllers/openid_auth/v0/mpi_users_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v0/okta_controller.rb
  modules/openid_auth/spec/requests/mpi_user_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_spec.rb
  rakelib/form526.rake
  spec/factories/iam_users.rb
  spec/factories/mvi_profiles.rb
  spec/factories/users.rb
  spec/lib/evss/disability_compensation_auth_headers_spec.rb
  spec/lib/mpi/messages/add_person_message_spec.rb
  spec/lib/mpi/orch_search_service_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/lib/saml/dslogon_user_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_spec.rb
  spec/policies/mpi_policy_spec.rb
  spec/request/health_care_applications_request_spec.rb
  spec/support/mpi/find_candidate_multiple_match_response.xml
Labels: identity, identity-backend

#7033 [API-7213] - Update references to ink/wet-signed verbiage in docs
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/v1/swagger.json
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: Lighthouse

#7021 [API-7127] - ClaimsApi active poa add additional info
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/app/swagger/claims_api/forms/form_2122_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/v1/swagger.json
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  spec/support/schemas/claims_api/forms/power_of_attorney/active.json
Labels: Lighthouse

#7025 update nod reference for evidence submission
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
Labels: Lighthouse, appeals

#7009 [22732] adds check for empty string to EVSS service request_headers
  app/workers/education_form/process10203_submissions.rb
  lib/evss/vso_search/service.rb
  modules/veteran/app/models/veteran/user.rb
Labels: identity, identity-backend

#7031 add versioning to appeals
  db/schema.rb
  modules/appeals_api/db/migrate/20210525183405_add_pdf_version_api_version_to_appeals.rb
Labels: Lighthouse, appeals

#7041 [25234] Reducing log output for parallel specs to improve compatibili…
  .rspec_parallel
Labels: identity, identity-backend

#7045 [API-7232] - Adds "dev" as a selectable option for ClaimsApi v2 docs
  modules/claims_api/app/swagger/claims_api/v2/swagger_root.rb
Labels: Lighthouse

#7022 update signature to reflect NOD format
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
Labels: Lighthouse, appeals

#6936 New VAOS - Record VCR Cassettes for available appointment slots end-point
  modules/vaos/spec/request/v2/available_slots_request_spec.rb
  modules/vaos/spec/services/v2/systems_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/systems/get_available_slots_200.yml
  spec/support/vcr_cassettes/vaos/v2/systems/get_available_slots_500.yml
Labels: VAOS

#6967 Fix supporting evidence upload for VA Form 21-686c
  app/workers/vbms/submit_dependents_pdf_job.rb
Labels: VSA

#7066 Bumping vets-json-schema version
  Gemfile.lock
Labels: VSA

#7062 Pause Chapter 31 Submissions
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: VSA

#7072 Updates for ranking
  db/migrate/20210527143944_add_column_ranking_to_va_forms_forms.rb
  db/migrate/20210528151724_add_column_tags_to_va_forms_forms.rb
  db/schema.rb
Labels: Forms

#7073 API-6901 - v2 docs api description file
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_root.rb
Labels: Lighthouse, appeals

#7067 API-6820: SpecialIssueUpdater background job issue regarding contentions
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
  modules/claims_api/spec/workers/special_issue_updater_spec.rb
Labels: Lighthouse
