Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-11, with the labels that each got.

#8300 [API-10806] - Add 'token validation service' client
  config/settings.yml
  lib/token_validation/v2/client.rb
  lib/token_validation/v2/configuration.rb
  spec/lib/token_validation/v2/client_spec.rb
  spec/support/vcr_cassettes/token_validation/v2/indicates_token_is_invalid.yml
  spec/support/vcr_cassettes/token_validation/v2/indicates_token_is_valid.yml
Labels: Lighthouse, tools-be-review

#8335 Add sidekiq OAUTH default settings
  config/settings.yml
Labels: tools-be-review

#8024 Claims V2: Add endpoint to appoint individual POA
  app/models/mpi_data.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/lib/claims_api/v2/params_validation/base.rb
  modules/claims_api/lib/claims_api/v2/params_validation/power_of_attorney.rb
  modules/claims_api/lib/claims_api/v2/params_validation/power_of_attorney/main.rb
  modules/claims_api/lib/claims_api/v2/params_validation/power_of_attorney/poa_submission.rb
  modules/claims_api/lib/claims_api/v2/params_validation/power_of_attorney/poa_submission_validator.rb
  modules/claims_api/spec/models/veteran_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: tools-be-review

#8339 add VBMS response time to statsd
  app/models/saved_claim/veteran_readiness_employment_claim.rb
Labels: tools-be-review

#8332 [8331] Renames references columns in user_verifications and deprecate…
  db/migrate/20211029224522_update_associations_user_verifications_deprecated_user_accounts.rb
  db/schema.rb
Labels: tools-be-review

#8337 1757 mobile vaccine facilities
  modules/mobile/app/controllers/mobile/v0/locations_controller.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/locations.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/app/models/mobile/v0/address.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/appointment_phone.rb
  modules/mobile/app/models/mobile/v0/location.rb
  modules/mobile/app/serializers/mobile/v0/location_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/docs/schemas/FacilityAddress.yml
  modules/mobile/docs/schemas/ImmunizationRecord.yml
  modules/mobile/docs/schemas/Immunizations.yml
  modules/mobile/docs/schemas/Locations.yml
  modules/mobile/spec/models/adapters/community_care_appointments_adapter_spec.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/request/immunization_location_request_spec.rb
  modules/mobile/spec/support/schemas/immunization_location.json
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_facilities_empty.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_facility.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_lh_location.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_lh_location_404.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#8298 API-10932: SC notice acknowledgement checkbox marked 'yes'
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/fixtures/expected_200995.pdf
  modules/appeals_api/spec/fixtures/expected_200995_extra.pdf
Labels: Lighthouse, appeals

#8325 API-10233: Supplemental claims rswag for evidence and show endpoints, and errors
  modules/appeals_api/spec/docs/v2/sc_spec.rb
Labels: Lighthouse, appeals

#8288 Push tud account checkin and checkout events to bigquery
  Gemfile
  Gemfile.lock
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/workers/after_login_actions.rb
  config/initializers/test_user_dashboard.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/account_metrics.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/big_query.rb
  modules/test_user_dashboard/spec/services/account_metrics_spec.rb
  modules/test_user_dashboard/spec/services/big_query_spec.rb
  modules/test_user_dashboard/test_user_dashboard.gemspec
Labels: tools-be-review

#8128 Add GitHub OAuth to TUD App
  config/application.rb
  config/settings.yml
  modules/test_user_dashboard/app/controllers/test_user_dashboard/application_controller.rb
  modules/test_user_dashboard/app/controllers/test_user_dashboard/oauth_controller.rb
  modules/test_user_dashboard/app/controllers/test_user_dashboard/tud_accounts_controller.rb
  modules/test_user_dashboard/config/routes.rb
  modules/test_user_dashboard/spec/requests/application_controller_spec.rb
  modules/test_user_dashboard/spec/requests/oauth_request_spec.rb
  modules/test_user_dashboard/spec/requests/tud_accounts_request_spec.rb
Labels: tools-be-review

#8344 Update vets-json-schema to latest version for new Legacy Appeals LH EP
  Gemfile.lock
Labels: VSA, tools-be-review

#8315 Fixing Rubocop Lint/UselessTimes offense
  .rubocop_todo.yml
  spec/requests/user_request_spec.rb
Labels: tools-be-review

#8345 refactor statsd call into a method and add to central_mail method
  app/models/saved_claim/veteran_readiness_employment_claim.rb
Labels: tools-be-review

#8352 Fixing Rubocop Style/CombinableLoops offenses
  .rubocop_todo.yml
  modules/vba_documents/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: tools-be-review

#8348 Add facility_locator_lat_long_only feature toggle
  config/features.yml
Labels: tools-be-review

#8353 Revised request spec that failed when new attribute bgjob_error was added to Form526JobStatus
  spec/requests/disability_compensation_form_request_spec.rb
Labels: tools-be-review

#8216 31755 Refactor Lorota Service
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: tools-be-review

#8321 API-10583: Remove old date format from AppealReceived
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: Lighthouse, appeals

#8356 [32323] adds handling to add postLogin param to redirect url
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: tools-be-review

#8312 Lockbox/KMS rotation rake task tweaks
  rakelib/lockbox_migration.rake
Labels: tools-be-review

#8338 Added attribute bgjob_errors to form526_job_statuses
  db/migrate/20211022224127_add_errors_to_form526_job_statuses.rb
  db/schema.rb
Labels: tools-be-review

#8343 API-11017 - Add SC field to track evidence submission
  db/schema.rb
  modules/appeals_api/db/migrate/20211101203924_add_evidence_submission_indicated_to_appeal_api_supplemental_claim.rb
Labels: Lighthouse, appeals, tools-be-review

#8363 30405 direct schedule logging refactor
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: VAOS

#8359 [8358] Migration to remove uniqueness constraint for user_account col…
  db/migrate/20211101233443_remove_uniqueness_constraint_user_verifications_user_account.rb
  db/schema.rb
Labels: tools-be-review

#8327 Generated swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: Lighthouse, appeals

#8351 remove Anna from Feature toggles
  config/settings.yml
Labels: tools-be-review

#8347 Fixing Rubocop Rails/NegateInclude offenses
  .rubocop_todo.yml
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  app/workers/education_form/create_daily_year_to_date_report.rb
  config/initializers/filter_parameter_logging.rb
  lib/common/client/base.rb
  lib/common/models/collection.rb
  lib/sentry/processor/pii_sanitizer.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
  rakelib/form526.rake
Labels: tools-be-review

#8350 1912 mobile add reaction and location fields to immunizations list
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/app/models/mobile/v0/immunization.rb
  modules/mobile/app/serializers/mobile/v0/immunization_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/request/locations_request_spec.rb
Labels: mobile

#8365 [30408] adds logingov to account_login_stats table
  db/migrate/20211103172528_add_login_gov_at_to_account_login_stats.rb
  db/schema.rb
Labels: identity, tools-be-review

#8342 Update schema change to reorder a column that moves every time you mi…
  db/schema.rb
Labels: tools-be-review

#8371 add facility_locator_restore_community_care_pagination feature toggle
  config/features.yml
Labels: tools-be-review

#8372 [17801] Adding extra messaging to sessions controller failures when t…
  app/controllers/v1/sessions_controller.rb
Labels: tools-be-review

#8368 fix (Jenkinsfile): 'when' -> if
  Jenkinsfile
Labels: tools-be-review

#8324 Update Form526JobStatus Error Tracking
  app/models/form526_job_status.rb
  app/workers/evss/disability_compensation_form/job_status.rb
  spec/factories/form526_job_statuses.rb
  spec/jobs/evss/disability_compensation_form/job_status_spec.rb
Labels: tools-be-review

#8376 add statsd measure for bgs call
  app/models/saved_claim/veteran_readiness_employment_claim.rb
Labels: tools-be-review

#8360 8323 create model definitions for user accounts tables
  app/models/deprecated_user_account.rb
  app/models/user_account.rb
  app/models/user_verification.rb
  spec/factories/deprecated_user_accounts.rb
  spec/factories/user_accounts.rb
  spec/factories/user_verifications.rb
  spec/models/deprecated_user_account_spec.rb
  spec/models/user_account_spec.rb
  spec/models/user_verification_spec.rb
Labels: tools-be-review

#8375 Mobile location logging
  modules/mobile/app/controllers/mobile/v0/locations_controller.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
Labels: mobile

#8379 [32434] Adding user_account, user_verification, deprecated_user_accou…
  .github/CODEOWNERS
Labels: tools-be-review

#8366 [30408] Login.gov IAL1 Implementation
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  spec/factories/saml_attributes.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: identity, identity-backend, tools-be-review

#8370 Revert TUD GitHub OAuth
  config/application.rb
  modules/test_user_dashboard/app/controllers/test_user_dashboard/application_controller.rb
  modules/test_user_dashboard/app/controllers/test_user_dashboard/oauth_controller.rb
  modules/test_user_dashboard/app/controllers/test_user_dashboard/tud_accounts_controller.rb
  modules/test_user_dashboard/config/routes.rb
  modules/test_user_dashboard/spec/requests/application_controller_spec.rb
  modules/test_user_dashboard/spec/requests/oauth_request_spec.rb
  modules/test_user_dashboard/spec/requests/tud_accounts_request_spec.rb
Labels: tools-be-review

#8340 Create daily TUD maintenance job
  app/workers/test_user_dashboard/daily_maintenance.rb
  config/sidekiq_scheduler.yml
  modules/test_user_dashboard/app/services/test_user_dashboard/account_metrics.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/big_query.rb
Labels: tools-be-review

#8030 Modify Add Stepchild Workflow for Dependents Applications
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/child.rb
  lib/bgs/children.rb
  lib/bgs/vnp_relationships.rb
  spec/factories/686c/step_child_lives_with_veteran.rb
  spec/lib/bgs/children_spec.rb
  spec/models/bgs_dependents/child_spec.rb
Labels: VSA, tools-be-review

#8047 Updating 686 PDF to Account for FE UI Changes
  lib/pdf_fill/forms/pdfs/686C-674.pdf
  lib/pdf_fill/forms/va686c674.rb
  spec/fixtures/pdf_fill/686C-674/kitchen_sink.json
  spec/fixtures/pdf_fill/686C-674/kitchen_sink.pdf
  spec/fixtures/pdf_fill/686C-674/overflow.json
  spec/fixtures/pdf_fill/686C-674/overflow.pdf
  spec/fixtures/pdf_fill/686C-674/simple.pdf
Labels: VSA, tools-be-review

#8383 Mobile location bug fixes
  modules/mobile/app/controllers/mobile/v0/locations_controller.rb
  modules/mobile/spec/request/locations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_facilities_empty.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_facility.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_lh_location_no_identifier.yml
Labels: mobile

#8385 Update rswag_setup.md
  docs/setup/rswag_setup.md
Labels: Lighthouse, appeals, tools-be-review

#8373 31499 deprecate check_in v1 api
  config/features.yml
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/controllers/check_in/v1/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v1/sessions_controller.rb
  modules/check_in/app/models/check_in/check_in_with_auth.rb
  modules/check_in/app/services/v1/chip/claims_token.rb
  modules/check_in/app/services/v1/chip/redis_handler.rb
  modules/check_in/app/services/v1/chip/request.rb
  modules/check_in/app/services/v1/chip/response.rb
  modules/check_in/app/services/v1/chip/service.rb
  modules/check_in/app/services/v1/chip/session.rb
  modules/check_in/app/services/v1/chip/token.rb
  modules/check_in/app/services/v1/lorota/basic_claims_token.rb
  modules/check_in/app/services/v1/lorota/basic_redis_handler.rb
  modules/check_in/app/services/v1/lorota/basic_service.rb
  modules/check_in/app/services/v1/lorota/basic_session.rb
  modules/check_in/app/services/v1/lorota/basic_token.rb
  modules/check_in/app/services/v1/lorota/claims_token.rb
  modules/check_in/app/services/v1/lorota/redis_handler.rb
  modules/check_in/app/services/v1/lorota/request.rb
  modules/check_in/app/services/v1/lorota/response.rb
  modules/check_in/app/services/v1/lorota/service.rb
  modules/check_in/app/services/v1/lorota/session.rb
  modules/check_in/app/services/v1/lorota/token.rb
  modules/check_in/spec/models/check_in/check_in_with_auth_spec.rb
  modules/check_in/spec/request/v1/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v1/sessions_request_spec.rb
  modules/check_in/spec/services/v1/chip/claims_token_spec.rb
  modules/check_in/spec/services/v1/chip/redis_handler_spec.rb
  modules/check_in/spec/services/v1/chip/request_spec.rb
  modules/check_in/spec/services/v1/chip/response_spec.rb
  modules/check_in/spec/services/v1/chip/service_spec.rb
  modules/check_in/spec/services/v1/chip/session_spec.rb
  modules/check_in/spec/services/v1/chip/token_spec.rb
  modules/check_in/spec/services/v1/lorota/basic_redis_handler_spec.rb
  modules/check_in/spec/services/v1/lorota/basic_service_spec.rb
  modules/check_in/spec/services/v1/lorota/basic_session_spec.rb
  modules/check_in/spec/services/v1/lorota/basic_token_spec.rb
  modules/check_in/spec/services/v1/lorota/request_spec.rb
  modules/check_in/spec/services/v1/lorota/response_spec.rb
  modules/check_in/spec/services/v1/lorota/token_spec.rb
Labels: tools-be-review

#8382 [32399] splits signup routes for idme & logingov
  app/controllers/v1/sessions_controller.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: identity, tools-be-review

#8392 [32520] removes ssoe redirect_urls
  config/settings.yml
Labels: identity, tools-be-review

#8380 Update debugging_with_docker_rubymine_windows.md
  docs/setup/debugging_with_docker_rubymine_windows.md
Labels: tools-be-review

#8401 Fixing Rubocop Style/QuotedSymbols offenses
  .rubocop_todo.yml
  app/uploaders/evss_claim_document_uploader_base.rb
  lib/vso_pdf/vso_appointment_form.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/swagger/appeals_api/json_schema_to_swagger_converter_spec.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/mobile/spec/request/push_send_request_spec.rb
  modules/openid_auth/app/controllers/openid_auth/v0/okta_controller.rb
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/factories/in_progress_forms/hca_forms.rb
  spec/lib/vetext/service_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/preneeds/attachment_spec.rb
  spec/requests/swagger_spec.rb
Labels: mobile, tools-be-review

#8403 Add hca_american_indian_enabled SIGI feature toggle
  config/features.yml
Labels: tools-be-review

#8361 Dgi configuration setup
  config/betamocks/services_config.yml
  config/initializers/inflections.rb
  config/settings.yml
  config/settings/test.yml
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/eligibility_serializer.rb
  modules/meb_api/lib/authentication_token_service.rb
  modules/meb_api/lib/dgi/automation/configuration.rb
  modules/meb_api/lib/dgi/automation/service.rb
  modules/meb_api/lib/dgi/configuration.rb
  modules/meb_api/lib/dgi/eligibility/configuration.rb
  modules/meb_api/lib/dgi/eligibility/eligibility_response.rb
  modules/meb_api/lib/dgi/eligibility/service.rb
  modules/meb_api/lib/dgi/response.rb
  modules/meb_api/lib/dgi/service.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/eligibility/service_spec.rb
  modules/meb_api/spec/fixtures/dgi_private_test.pem
  modules/meb_api/spec/fixtures/dgi_public_test.pem
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/schemas/dgi/eligibility_response.json
  spec/support/schemas_camelized/dgi/eligibility_response.json
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
Labels: tools-be-review

#8393 31756 Check In: Remove refactored old code
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/services/v2/lorota/response.rb
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/app/services/v2/lorota/session.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/response_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
  modules/check_in/spec/services/v2/lorota/session_spec.rb
Labels: tools-be-review

#8402 Upgrade GitHub Action for retrieving AWS secrets to latest version
  .github/workflows/pact.yml
Labels: tools-be-review

#8406 Add loop_pages feature flag
  config/features.yml
Labels: VSA, tools-be-review, feature flag

#8362 [API-10808] Add in check for CCG token in claims v1 authorization
  config/settings.yml
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  spec/lib/token_validation/v2/client_spec.rb
Labels: hold, tools-be-review

#8408 [8407] Updating Ethon gem to prevent crash when running on arm proces…
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#8413 feature/edu-benefits-how-to-apply-feature-vets-api
  config/features.yml
Labels: tools-be-review

#8411 32644: Feature flag for login_gov_create_account
  config/features.yml
Labels: identity, tools-be-review

#8423 Fix services config
  config/betamocks/services_config.yml
Labels: tools-be-review

#8390 [32391] Add API Key header to VBS Request
  app/services/medical_copays/request.rb
  config/settings.yml
  spec/services/medical_copays/request_spec.rb
Labels: tools-be-review

#8426 Add Sidekiq job for db record rotation
  app/models/application_record.rb
  app/workers/kms_record_rotation_job.rb
  spec/jobs/kms_record_rotation_job_spec.rb
Labels: tools-be-review

#8410 8409 fix specs failing locally
  app/models/base_facility.rb
  app/models/facilities/mappings.rb
  app/models/facilities/vc_facility.rb
  app/models/saved_claim/pension.rb
  app/workers/facilities/facility_location_download_job.rb
  lib/common/client/middleware/response/facility_parser.rb
  lib/common/client/middleware/response/facility_validator.rb
  spec/controllers/v0/veteran_readiness_employment_claims_controller_spec.rb
  spec/lib/evss/intent_to_file/response_strategy_spec.rb
  spec/requests/v1/facilities/ccp_request_spec.rb
Labels: tools-be-review

#8414 Va virtual agent 304 setup lighthouse mock
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  config/settings.yml
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/lighthouse_mock_appeal.yml
Labels: tools-be-review

#8427 Add show_events_v2 feature toggle
  config/features.yml
Labels: VSA, tools-be-review

#8391 API-11210: BUG/Add default value to notice acknowledgement
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
Labels: Lighthouse, appeals

#8431 *WIP* vaos v2 yaml update
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200.yml
Labels: VAOS, tools-be-review

#8433 Upload unit test metrics to BigQuery in CI
  .github/workflows/code_checks.yml
  rakelib/test_stats_to_bigquery.rb
Labels: tools-be-review

#8412 Cache all get_person 4xx errors from va profile
  lib/va_profile/contact_information/person_response.rb
  lib/va_profile/contact_information/service.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/models/va_profile_redis/contact_information_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/person_error_400.yml
Labels: tools-be-review

#8436 32636 eligibility timeout backend
  spec/support/vcr_cassettes/vaos/v2/patients/get_patient_appointment_metadata.yml
Labels: VAOS, tools-be-review

#8424 VRE::Submit1900Job
  app/controllers/v0/veteran_readiness_employment_claims_controller.rb
  app/workers/vre/submit1900_job.rb
  config/settings.yml
  spec/controllers/v0/veteran_readiness_employment_claims_controller_spec.rb
  spec/jobs/vre/submit1900_job_spec.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Labels: tools-be-review

#8445 KMS Rotator: Fix HealthQuest callback skipping
  app/workers/kms_record_rotation_job.rb
Labels: tools-be-review

#8378 Api 11017 - SC upload evidence indicated
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/expected_200995.pdf
  modules/appeals_api/spec/fixtures/expected_200995_extra.pdf
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#8442 (feat) added new feature toggle
  config/features.yml
Labels: tools-be-review

#8444 API-9841: Add HLR create schema handling
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#8449 add user to flipper admin emails
  config/settings.yml
Labels: tools-be-review

#8437 Va virtual agent 308 extend lighthouse appeals functionality
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/lighthouse_mock_multiple_appeals.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/lighthouse_mock_no_appeals.yml
Labels: tools-be-review

#8438 Revise tracking Form526 Submission retry error history
  app/workers/evss/disability_compensation_form/job_status.rb
  spec/factories/form526_job_statuses.rb
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/job_status_spec.rb
  spec/rakelib/form526_spec.rb
Labels: tools-be-review

#8429 API-11252 Make match_pdf work with checkboxes
  modules/appeals_api/spec/support/pdf_matcher.rb
Labels: Lighthouse, appeals

#8419 API-10890 Prepeare to move decision review job schedule into Settings
  config/settings.yml
Labels: Lighthouse, appeals, tools-be-review

#8432 [32757] splits saml_callback verify_url logic
  lib/saml/url_service.rb
  spec/lib/saml/url_service_spec.rb
Labels: identity, identity-backend, tools-be-review

#8448 API-1311 Add totals to AppealsAPI weekly report
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/_appeal_table.html.erb
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/decision_review_mailer_spec.rb
Labels: Lighthouse, appeals

#8428 Initial Commit adds JWT request headers and adjusts endpoints with tests
  config/settings.yml
  config/settings/test.yml
  modules/meb_api/lib/authentication_token_service.rb
  modules/meb_api/lib/dgi/automation/configuration.rb
  modules/meb_api/lib/dgi/configuration.rb
  modules/meb_api/lib/dgi/eligibility/configuration.rb
  modules/meb_api/lib/dgi/eligibility/service.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/fixtures/dgi_private_test.pem
  modules/meb_api/spec/fixtures/dgi_public_test.pem
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
Labels: tools-be-review

#8446 API-9841: Add nod create schema handling
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#8418 [30412] Login.gov IAL2 implementation
  app/models/user.rb
  app/models/user_identity.rb
  config/initializers/ial.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/iam_introspection_responses.rb
  spec/factories/saml_attributes.rb
  spec/factories/users.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/iam_user_identity_spec.rb
Labels: identity, identity-backend, tools-be-review

#8452 Adds 3 feature flags for vets-website
  config/features.yml
Labels: tools-be-review

#8456 Fix Pact contract tests on GitHub Actions
  .github/workflows/pact.yml
Labels: tools-be-review

#8450 Fixing Rubocop RedundantRegexpEscape offenses
  .rubocop_todo.yml
  app/swagger/swagger/schemas/form526/form526_submit_v2.rb
  lib/common/client/middleware/response/facility_parser.rb
  lib/common/client/middleware/response/facility_validator.rb
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  lib/evss/pciu_address/pciu_address_line_validator.rb
  lib/string_helpers.rb
  lib/tasks/support/schema_camelizer.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/health_quest/app/services/health_quest/middleware/health_quest_logging.rb
  modules/health_quest/app/services/health_quest/questionnaire_manager/questionnaire_response_collector.rb
  modules/health_quest/spec/services/questionnaire_manager/questionnaire_response_collector_spec.rb
  modules/va_forms/lib/tasks/va_forms.rake
  modules/vaos/reporting/logs_processor.rb
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  spec/jobs/cypress_viewport_updater/cypress_json_file_spec.rb
  spec/jobs/cypress_viewport_updater/github_service_spec.rb
  spec/jobs/cypress_viewport_updater/google_analytics_reports_spec.rb
  spec/jobs/cypress_viewport_updater/viewport_preset_js_file_spec.rb
  spec/jobs/cypress_viewport_updater/viewport_spec.rb
  spec/jobs/cypress_viewport_updater/viewports_spec.rb
  spec/lib/olive_branch_patch_spec.rb
  spec/lib/preneeds/service_spec.rb
Labels: VAOS, tools-be-review

#8455 add toggle for form i18n
  config/features.yml
Labels: tools-be-review

#8451 Mpm/legacy appeals ep
  app/controllers/v1/higher_level_reviews/contestable_issues_controller.rb
  lib/decision_review_v1/service.rb
  spec/requests/v1/higher_level_reviews/contestable_issues_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/HLR-GET-LEGACY-APPEALS-RESPONSE-200-EMPTY_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-LEGACY-APPEALS-RESPONSE-200.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-LEGACY_APPEALS-RESPONSE-200-EMPTY_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-LEGACY_APPEALS-RESPONSE-200_V1.yml
Labels: tools-be-review

#8460 Add open/write timeout to EVSS base service.
  lib/evss/base_service.rb
Labels: tools-be-review

#8458 Fixing Rubocop Style/KeywordParametersOrder offenses
  .rubocop_todo.yml
  lib/emis/messages/edipi_or_icn_message.rb
  lib/emis/service.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
  modules/vaos/app/models/vaos/v1/operation_outcome.rb
Labels: VAOS, tools-be-review

#8400 [30116] updates ID.me auth flow to use minimum authn_context_comparison
  config/initializers/authn_context.rb
  config/settings.yml
  lib/saml/ssoe_settings_service.rb
  lib/saml/url_service.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: identity, tools-be-review

#8447 API-9841: Add sc create schema handling
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#8468 Fixing Rubocop Lint/RedundantCopDisableDirective offenses
  .rubocop_todo.yml
  app/models/emis_redis/military_information_v2.rb
  app/models/saved_claim/education_benefits/va_10203.rb
  app/policies/evss_policy.rb
  spec/jobs/facilities/pssg_download_spec.rb
  spec/support/saml/response_builder.rb
Labels: tools-be-review

#8461 [30160] Add zero balance facilities with MCP payload
  app/services/medical_copays/vbs/service.rb
  app/services/medical_copays/zero_balance_statements.rb
  spec/services/medical_copays/vbs/service_spec.rb
  spec/services/medical_copays/zero_balance_statements_spec.rb
Labels: tools-be-review

#8467 Remove lockbox previous_version defaults
  app/models/appeal_submission.rb
  app/models/application_record.rb
  app/models/async_transaction/base.rb
  app/models/education_stem_automated_decision.rb
  app/models/form526_submission.rb
  app/models/form_attachment.rb
  app/models/gibs_not_found_user.rb
  app/models/in_progress_form.rb
  app/models/persistent_attachment.rb
  app/models/saved_claim.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/app/models/concerns/claims_api/file_data.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/expanded_registration_submission.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/registration_submission.rb
  modules/health_quest/app/models/health_quest/questionnaire_response.rb
  modules/veteran/app/models/veteran/service/representative.rb
Labels: tools-be-review

#8478 Add Kyle to flipper admin
  config/settings.yml
Labels: identity, tools-be-review

#8469 [33057] uses ial over credentialassurancelevel for Login.gov
  lib/saml/user_attributes/ssoe.rb
  spec/factories/saml_attributes.rb
Labels: tools-be-review

#8480 Update mobile immunizations adapter to handle blank notes
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_blank_note.yml
Labels: mobile

#8471 [33050] removes attributes request from Login.gov SAML request headers
  config/initializers/ial.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: tools-be-review

#8453 added ct sandbox redesign toggle flag
  config/features.yml
Labels: tools-be-review

#8473 [30116] Enable ID.me 'minimum' authn context comparison on vets-api production
  config/initializers/ial.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/users.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: identity, identity-backend, tools-be-review

#8465 Ch31 summary email debugging
  app/mailers/views/ch31_submissions_report.html.erb
  app/workers/vre/create_ch31_submissions_report.rb
  config/sidekiq_scheduler.yml
  spec/jobs/vre/create_ch31_submissions_report_spec.rb
  spec/mailers/ch31_submissions_report_mailer_spec.rb
Labels: tools-be-review

#8482 Add OmniChannel link feature flag
  config/features.yml
Labels: VSA, tools-be-review, feature flag

#8484 [30160] Minor fix to formatting of ids passed to lighthouse
  app/services/medical_copays/zero_balance_statements.rb
Labels: tools-be-review

#8495 Fixing Rubocop Rails/Pluck offenses
  .rubocop_todo.yml
  app/serializers/evss_claim_detail_serializer.rb
  app/workers/pager_duty/poll_maintenance_windows.rb
  lib/bb/client.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: VAOS, tools-be-review

#8470 Fixing Rubocop Lint/UselessMethodDefinition offenses
  .rubocop_todo.yml
  lib/common/client/middleware/request/camelcase.rb
  lib/common/client/middleware/request/multipart_request.rb
  lib/evss/gi_bill_status/external_service_unavailable.rb
  lib/evss/gi_bill_status/outside_working_hours.rb
  modules/health_quest/app/services/health_quest/middleware/health_quest_logging.rb
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
Labels: VAOS, tools-be-review

#8496 Fixing Rubocop Rails/SquishedSQLHeredocs offenses
  .rubocop_todo.yml
  app/models/facilities_query/radial_query.rb
  modules/vba_documents/app/workers/vba_documents/upload_remover.rb
Labels: tools-be-review

#8486 Create new TUD table to track checkouts and checkins
  db/schema.rb
  modules/test_user_dashboard/db/migrate/20211118205345_create_tud_accounts_availability_logs.rb
Labels: tools-be-review

#8489 add feature flag
  config/features.yml
Labels: VSA, tools-be-review

#8501 Update afs flipper admins
  config/settings.yml
Labels: tools-be-review

#8499 Revert "remove previous_version defaults (#8467)"
  app/models/appeal_submission.rb
  app/models/application_record.rb
  app/models/async_transaction/base.rb
  app/models/education_stem_automated_decision.rb
  app/models/form526_submission.rb
  app/models/form_attachment.rb
  app/models/gibs_not_found_user.rb
  app/models/in_progress_form.rb
  app/models/persistent_attachment.rb
  app/models/saved_claim.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/app/models/concerns/claims_api/file_data.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/expanded_registration_submission.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/registration_submission.rb
  modules/health_quest/app/models/health_quest/questionnaire_response.rb
  modules/veteran/app/models/veteran/service/representative.rb
Labels: tools-be-review

#8474 [33058] switches verify_url Login.gov check to correct LOGIN_GOV_IAL1 value
  lib/saml/url_service.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: tools-be-review

#8463 [8384] Creating UserVerifications and UserAccounts for users who are …
  app/controllers/concerns/accountable.rb
  app/controllers/v1/sessions_controller.rb
  app/models/account_login_stat.rb
  app/services/login/after_login_actions.rb
  app/workers/account_login_statistics_job.rb
  app/workers/after_login_actions.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/jobs/after_login_actions_spec.rb
  spec/services/login/after_login_actions_spec.rb
Labels: tools-be-review

#8492 Add null check constraint
  db/migrate/20211119153306_validate_add_not_null_constraint_to_vet_rep_table.rb
  db/migrate/20211119153822_validate_validate_add_not_null_constraint_to_vet_rep_table.rb
  db/schema.rb
Labels: tools-be-review

#8479 Api 11015 - SC date range
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/lib/appeals_api/sc_evidence.rb
  modules/appeals_api/spec/fixtures/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/valid_200995_extra.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#8508 Revert "Add null check constraint (#8492)"
  db/migrate/20211119153306_validate_add_not_null_constraint_to_vet_rep_table.rb
  db/migrate/20211119153822_validate_validate_add_not_null_constraint_to_vet_rep_table.rb
  db/schema.rb
Labels: tools-be-review

#8510 feat(DEV-32594): added clinic physical_location field to appointment …
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: VAOS

#8504 [33130] adds logingov_uuid parsing from GCIDs
  lib/identity/parsers/gc_ids_constants.rb
  lib/saml/user_attributes/ssoe.rb
  spec/factories/saml_attributes.rb
  spec/lib/identity/parsers/gc_ids_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: identity, tools-be-review

#8513 Revert "Revert "Add null check constraint (#8492)" (#8508)"
  db/migrate/20211119153306_validate_add_not_null_constraint_to_vet_rep_table.rb
  db/migrate/20211119153822_validate_validate_add_not_null_constraint_to_vet_rep_table.rb
  db/schema.rb
Labels: tools-be-review

#8506 Fixing Rubocop Style/HashAsLastArrayItem offenses
  .rubocop_todo.yml
  app/controllers/v0/financial_status_reports_controller.rb
  app/models/preneeds/applicant.rb
  app/models/preneeds/claimant.rb
  app/models/preneeds/currently_buried_person.rb
  app/models/preneeds/service_record.rb
  app/models/preneeds/veteran.rb
  modules/vaos/app/controllers/vaos/v0/appointment_requests_controller.rb
Labels: VAOS, tools-be-review

#8515 [API-11464] - ClaimsApi - Update VSOReloader job
  modules/veteran/app/workers/veteran/vso_reloader.rb
  modules/veteran/spec/workers/veteran/vso_reloader_spec.rb
  spec/support/vcr_cassettes/veteran/ogc_attorney_data.yml
  spec/support/vcr_cassettes/veteran/ogc_claim_agent_data.yml
  spec/support/vcr_cassettes/veteran/ogc_poa_data.yml
  spec/support/vcr_cassettes/veteran/ogc_vso_rep_data.yml
Labels: Lighthouse, tools-be-review

#8483 Feature dgi claimant info
  config/settings.yml
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/automation_serializer.rb
  modules/meb_api/lib/dgi/automation/claimant_response.rb
  modules/meb_api/lib/dgi/automation/service.rb
  modules/meb_api/lib/dgi/eligibility/service.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/schemas/dgi/claimant_info_response.json
  spec/support/schemas_camelized/dgi/claimant_info_response.json
Labels: tools-be-review

#8490 [API-9566] - ClaimsApi - Adds 'active' as a potential value for ITF submission 'status'
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/forms/intent_to_file/submission.json
Labels: Lighthouse, tools-be-review

#8491 [26190] Adding ability for users with missing idme_uuid and logingov_…
  app/controllers/concerns/accountable.rb
  app/models/user_session_form.rb
  app/workers/education_form/process10203_submissions.rb
  lib/saml/errors.rb
  lib/saml/user_attributes/ssoe.rb
  rakelib/form526.rake
  rakelib/login.rake
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_session_form_spec.rb
Labels: tools-be-review

#8511 API-11488 Add "stuck" appeals to error reporting
  modules/appeals_api/app/views/appeals_api/daily_error_report_mailer/_faulty_appeal_table.html.erb
  modules/appeals_api/app/views/appeals_api/daily_error_report_mailer/mailer.html.erb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
Labels: Lighthouse, appeals

#8518 Fixing Rubocop Rails/WhereNot offense
  .rubocop_todo.yml
  modules/claims_api/lib/tasks/claims_tasks.rake
Labels: tools-be-review

#8498 Fixing Rubocop Rails/MatchRoute offenses
  .rubocop_todo.yml
  modules/appeals_api/config/routes.rb
  modules/apps_api/config/routes.rb
  modules/claims_api/config/routes.rb
  modules/va_forms/config/routes.rb
  modules/vba_documents/config/routes.rb
Labels: tools-be-review

#8512 32959 finish chip refactor
  config/features.yml
  modules/check_in/app/services/v2/chip/redis_client.rb
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/services/v2/chip/redis_client_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
Labels: tools-be-review

#8516 1930: create vaccines table
  db/migrate/20211123181757_create_mobile_vaccines.rb
  db/schema.rb
Labels: tools-be-review

#8514 KMS decryption/verification job
  app/workers/kms_encryption_verification_job.rb
  config/initializers/lockbox.rb
  spec/jobs/kms_encryption_verification_job_spec.rb
Labels: tools-be-review

#8521 Fixing Rubocop Naming/InclusiveLanguage offenses
  .rubocop_todo.yml
  lib/pagerduty/maintenance_client.rb
  modules/vaos/app/controllers/vaos/v0/appointment_requests_controller.rb
Labels: VAOS, tools-be-review

#8523 [33231] updates Login.gov flipper features
  config/features.yml
Labels: identity, tools-be-review

#8517 Fixing Rubocop Rails/RedundantForeignKey offense
  .rubocop_todo.yml
  app/models/form526_submission.rb
Labels: tools-be-review

#8533 Fixing Rubocop Lint/NonDeterministicRequireOrder offenses
  .rubocop_todo.yml
  spec/requests/v1/apidoc/apidoc_spec.rb
  spec/service_consumers/pact_helper.rb
Labels: tools-be-review

#8534 Fixing Rubocop Lint/EmptyFile offense
  .rubocop_todo.yml
  spec/factories/686c/step_child_relationships.rb
Labels: tools-be-review

#8539 Add updates to KmsEncryptionVerificationJob
  app/workers/kms_encryption_verification_job.rb
Labels: tools-be-review

#8535 revised gi sandox comparison tool feature flag name
  config/features.yml
Labels: tools-be-review

#8522 1930: create vaccines from CDC XML data
  config/sidekiq_scheduler.yml
  modules/mobile/app/models/mobile/v0/vaccine.rb
  modules/mobile/app/workers/mobile/v0/vaccines_updater_job.rb
  modules/mobile/spec/factories/vaccines.rb
  modules/mobile/spec/support/vcr_cassettes/vaccines/group_names.yml
  modules/mobile/spec/support/vcr_cassettes/vaccines/malformed.yml
  modules/mobile/spec/support/vcr_cassettes/vaccines/manufacturers.yml
  modules/mobile/spec/workers/vaccines_updater_job_spec.rb
Labels: mobile, tools-be-review

#8541 Update vets-json-schema to latest version
  Gemfile.lock
Labels: tools-be-review

#8502 API-11447 Fix nod max length issue text
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals
