Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-12, with the labels that each got.

#8529 API-11342 - Update documentation copy
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: Lighthouse, appeals

#8488 Update TUD account usage tracking
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/workers/test_user_dashboard/daily_maintenance.rb
  app/workers/test_user_dashboard/mirror_account_availability_logs_in_big_query.rb
  config/sidekiq_scheduler.yml
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account_availability_log.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/account_metrics.rb
  modules/test_user_dashboard/spec/factories/tud_account_availability_logs.rb
  modules/test_user_dashboard/spec/services/account_metrics_spec.rb
  spec/jobs/test_user_dashboard/mirror_account_availability_logs_in_big_query_spec.rb
Labels: tools-be-review

#8544 1930: correct indentation in scheduler
  config/sidekiq_scheduler.yml
Labels: tools-be-review

#8540 Moving Rubocop MaxOptionalParameters to .rubocop.yml
  .rubocop_todo.yml
  lib/common/exceptions/backend_service_exception.rb
  rakelib/test_stats_to_bigquery.rb
  spec/support/authenticated_session_helper.rb
Labels: tools-be-review

#8547 use Rails.root.join to try eradicate file not found errors
  app/models/saved_claim/veteran_readiness_employment_claim.rb
Labels: tools-be-review

#8536 30674 add indian question
  app/models/health_care_application.rb
  lib/hca/enrollment_system.rb
  lib/hca/service.rb
  spec/fixtures/hca/conformance/all-fields.json
  spec/fixtures/hca/conformance/all-fields.xml
  spec/fixtures/hca/conformance/australian-vet.json
  spec/fixtures/hca/conformance/australian-vet.xml
  spec/fixtures/hca/conformance/canadian-vet.json
  spec/fixtures/hca/conformance/canadian-vet.xml
  spec/fixtures/hca/conformance/child-financial.json
  spec/fixtures/hca/conformance/child-financial.xml
  spec/fixtures/hca/conformance/married-no-disclosure.json
  spec/fixtures/hca/conformance/married-no-disclosure.xml
  spec/fixtures/hca/conformance/missing-booleans.xml
  spec/fixtures/hca/conformance/no-children.json
  spec/fixtures/hca/conformance/no-children.xml
  spec/fixtures/hca/conformance/no-financials-children.json
  spec/fixtures/hca/conformance/no-financials-children.xml
  spec/fixtures/hca/conformance/no-financials-spouse.json
  spec/fixtures/hca/conformance/no-financials-spouse.xml
  spec/fixtures/hca/conformance/no-spouse.json
  spec/fixtures/hca/conformance/no-spouse.xml
  spec/fixtures/hca/conformance/only-vet-authenticated-icn.json
  spec/fixtures/hca/conformance/only-vet-authenticated-icn.xml
  spec/fixtures/hca/conformance/single-no-disclosure.json
  spec/fixtures/hca/conformance/single-no-disclosure.xml
  spec/fixtures/hca/conformance/spouse-financial.json
  spec/fixtures/hca/conformance/spouse-financial.xml
  spec/fixtures/hca/result.json
  spec/fixtures/hca/result_with_attachment.json
  spec/fixtures/hca/veteran.json
  spec/lib/hca/enrollment_system_spec.rb
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/submit_anon.yml
  spec/support/vcr_cassettes/hca/submit_auth.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment_jpg.yml
Labels: tools-be-review

#8545 [API-11613] - ClaimsApi - Restore "Not authorized" responses for 401 errors
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
Labels: Lighthouse

#8299 Create get_pdf_statement_by_id endpoint on medical_copays
  app/controllers/v0/medical_copays_controller.rb
  app/services/medical_copays/request.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  config/routes.rb
  spec/requests/swagger_spec.rb
  spec/services/medical_copays/request_spec.rb
  spec/services/medical_copays/vbs/invalid_vbs_request_error_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
  spec/support/medical_copays/stub_medical_copays.rb
Labels: Please Review, tools-be-review

#8500 Reworking how facilities_api handles PPMS pagination
  config/initializers/statsd.rb
  modules/facilities_api/app/controllers/facilities_api/v1/ccp_controller.rb
  modules/facilities_api/app/models/facilities_api/v1/ppms/specialty.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/client.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/configuration.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/middleware/ppms_parser.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/response.rb
  modules/facilities_api/spec/requests/facilities_api/apidoc_spec.rb
  modules/facilities_api/spec/requests/facilities_api/v1/ccp_request_spec.rb
  modules/facilities_api/spec/services/facilities_api/v1/ppms/client_spec.rb
  modules/facilities_api/spec/services/facilities_api/v1/ppms/response_spec.rb
  spec/requests/v1/facilities/ccp_request_spec.rb
Labels: tools-be-review

#8553 [31585] Add StatsD to Medical Copays
  app/controllers/v0/medical_copays_controller.rb
  app/policies/medical_copays_policy.rb
  app/services/medical_copays/vbs/invalid_vbs_request_error.rb
  app/services/medical_copays/vbs/response_data.rb
  spec/policies/medical_copays_policy_spec.rb
  spec/services/medical_copays/vbs/response_data_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
Labels: tools-be-review

#8563 Natashajibrahim/hypertension pilot refactor
  app/models/form526_submission.rb
  app/workers/disability_compensation_fast_track_job.rb
  app/workers/fast_track/disability_compensation_job.rb
  app/workers/fast_track/hypertension_medication_request_data.rb
  app/workers/fast_track/hypertension_observation_data.rb
  app/workers/fast_track/hypertension_pdf_generator.rb
  app/workers/fast_track/hypertension_special_issue_manager.rb
  app/workers/fast_track/hypertension_upload_manager.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
  spec/jobs/fast_track/hypertension_medication_request_data_spec.rb
  spec/jobs/fast_track/hypertension_observation_data_spec.rb
  spec/jobs/fast_track/hypertension_special_issue_manager_spec.rb
  spec/jobs/fast_track/hypertension_upload_manager_spec.rb
  spec/models/form526_submission_spec.rb
  spec/support/vcr_cassettes/FastTrack_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call.yml
  spec/support/vcr_cassettes/FastTrack_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/FastTrack_DisabilityCompensationJob/_perform/success/the_claim_is_NOT_for_hypertension/returns_from_the_class_if_the_claim_observations_does_NOT_include_bp_readings_from_the_past_year.yml
  spec/support/vcr_cassettes/FastTrack_HypertensionMedicationRequestData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/FastTrack_HypertensionObservationData/_transform/returns_the_expected_hash.yml
  spec/support/vcr_cassettes/FastTrack_HypertensionObservationData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
Labels: tools-be-review

#8548 [8543] Refactoring Account table logic into service object pattern
  app/models/account.rb
  app/models/user.rb
  app/services/identity/account_creator.rb
  spec/models/account_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
  spec/services/identity/account_creator_spec.rb
Labels: tools-be-review

#8569 [8568] Correctly applying log when multiple matching accounts occur f…
  app/models/user_session_form.rb
Labels: tools-be-review

#8560 Fixing some errors with PPMS
  config/settings.yml
  modules/facilities_api/app/services/facilities_api/v1/ppms/configuration.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/middleware/ppms_parser.rb
Labels: tools-be-review

#8550 [8549] Fixing failing create ch31 submissions spec
  spec/jobs/vre/create_ch31_submissions_report_spec.rb
Labels: tools-be-review

#8570 Add kms verification migration and schema changes
  db/migrate/20211203132446_add_decrypt_verification_date_to_tables_with_encrypted_attrs.rb
  db/schema.rb
Labels: tools-be-review

#8571 KmsEncryptionVerificationJob modifications
  app/workers/kms_encryption_verification_job.rb
Labels: tools-be-review

#8572 33302 Add feature toggle for emergency contact
  config/features.yml
Labels: tools-be-review

#8575 Update features.yml
  config/features.yml
Labels: tools-be-review

#8576 Add permissions to GHA workflows
  .github/workflows/build.yml
  .github/workflows/check_stale_prs.yml
  .github/workflows/code_checks.yml
  .github/workflows/danger.yml
  .github/workflows/labeler.yml
  .github/workflows/pact.yml
Labels: tools-be-review

#8562 Fixing Rubocop RSpec/RepeatedExampleGroupDescription offenses
  .rubocop_todo.yml
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  spec/lib/evss/disability_compensation_form/form0781_spec.rb
  spec/lib/hca/service_spec.rb
  spec/lib/pdf_fill/forms/common_ptsd_spec.rb
  spec/lib/pdf_fill/forms/va218940_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/mhv_account_spec.rb
Labels: VAOS, tools-be-review

#8559 Fixing Rubocop Style/ClassEqualityComparison offenses
  .rubocop_todo.yml
  app/controllers/appeals_base_controller.rb
  app/controllers/appeals_base_controller_v1.rb
  app/serializers/dependents_serializer.rb
  app/serializers/dependents_verifications_serializer.rb
  app/serializers/vet_payment_history_serializer.rb
  app/workers/education_form/forms/base.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/json_format_validation.rb
  modules/claims_api/app/controllers/concerns/claims_api/json_format_validation.rb
  modules/covid_research/app/serializers/covid_research/genisis_serializer.rb
  modules/va_forms/app/workers/va_forms/form_reloader.rb
Labels: tools-be-review

#8532 1985 mobile direct deposit mfa flags
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/User.yml
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/payment_information/payment_information.yml
  spec/factories/iam_users.rb
Labels: mobile, tools-be-review

#8587 Temporary fix for negative argument error
  app/services/medical_copays/vista_account_numbers.rb
Labels: tools-be-review

#8586 RuboCop: Remove Lint/SymbolConversion disable
  .rubocop.yml
Labels: tools-be-review

#8524 API-11251 - Add additional keys to evidence upload error
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
Labels: Lighthouse, appeals

#8582 Fixing Rubocop RSpec/RepeatedExampleGroupBody offenses
  .rubocop_todo.yml
  spec/models/va_profile_redis/contact_information_spec.rb
Labels: tools-be-review

#8581 Fixing Rubocop RSpec/IdenticalEqualityAssertion offenses
  .rubocop_todo.yml
  modules/vba_documents/spec/models/git_items_spec.rb
  spec/lib/search/service_spec.rb
  spec/models/user_spec.rb
Labels: tools-be-review

#8579 Inline disabling Rubocop Lint/StructNewOverride offense
  .rubocop_todo.yml
  spec/requests/authentication/standard_authentication_spec.rb
Labels: tools-be-review

#8578 Fixing Rubocop Lint/DeprecatedOpenSSLConstant offense
  .rubocop_todo.yml
  lib/vic/url_helper.rb
Labels: tools-be-review

#8561 8016 user UUID idme login gov precedence
  app/services/identity/account_creator.rb
  spec/services/identity/account_creator_spec.rb
Labels: tools-be-review

#8580 LGY Get Determination
  config/settings.yml
  config/settings/test.yml
  lib/lgy/configuration.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/application_not_found.yml
  spec/support/vcr_cassettes/lgy/determination_eligible.yml
Labels: tools-be-review

#8591 API-11251 - Update docs to use standard error model
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
Labels: Lighthouse, appeals

#8592 Small RuboCop Cleanup
  .rubocop.yml
  spec/controllers/concerns/form_attachment_create_spec.rb
Labels: tools-be-review

#8593 Update vets-json-schema to latest version
  Gemfile.lock
Labels: tools-be-review

#8594 WIP Self Hosted
  .github/workflows/code_checks.yml
  docker-compose.yml
Labels: tools-be-review

#8554 1930: use vaccine model in immunizations
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/config/initializers/cdc_cvx_code_map.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
Labels: mobile

#8574 1965 parallelize user endpoint
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

#8588 32231 internal get v0/coe/status
  app/controllers/v0/coe_controller.rb
  config/routes.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: tools-be-review

#8605 Bump aws-sdk-sns to 1.49.0
  Gemfile.lock
Labels: tools-be-review

#8606 Bump aws-sdk-s3 to 1.109.0
  Gemfile.lock
Labels: tools-be-review

#8608 Bump google-cloud-bigquery from 1.37.0 to 1.38.0
  Gemfile.lock
Labels: tools-be-review

#8556 WIP RI
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200.yml
Labels: VAOS, tools-be-review

#8612 [27111] Log vista account parameters for debugging
  app/services/medical_copays/vbs/request_data.rb
  app/services/medical_copays/vista_account_numbers.rb
  spec/services/medical_copays/vista_account_numbers_spec.rb
Labels: tools-be-review

#8604 API-11753: SC notice attribute name change
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/fixtures/valid_200995.json
  modules/appeals_api/spec/fixtures/valid_200995_extra.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#8601 Generating new rubocop_todo
  .rubocop_todo.yml
Labels: tools-be-review

#8558 Add hypertension fast track flow to Form 526 submission
  app/models/form526_submission.rb
  app/models/supporting_evidence_attachment.rb
  app/services/fast_track/hypertension_medication_request_data.rb
  app/services/fast_track/hypertension_observation_data.rb
  app/services/fast_track/hypertension_pdf_generator.rb
  app/services/fast_track/hypertension_special_issue_manager.rb
  app/services/fast_track/hypertension_upload_manager.rb
  app/uploaders/validate_pdf.rb
  app/workers/fast_track/disability_compensation_job.rb
  config/features.yml
  config/settings.yml
  config/settings/test.yml
  lib/lighthouse/veterans_health/client.rb
  lib/lighthouse/veterans_health/configuration.rb
  lib/lighthouse/veterans_health/jwt_wrapper.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
  spec/lib/lighthouse/veterans_health/client_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/fast_track/hypertension_medication_request_data_spec.rb
  spec/services/fast_track/hypertension_observation_data_spec.rb
  spec/services/fast_track/hypertension_special_issue_manager_spec.rb
  spec/services/fast_track/hypertension_upload_manager_spec.rb
  spec/support/disability_compensation_form/submissions/only_526_hypertension.json
  spec/support/disability_compensation_form/submissions/without_form526_uploads.json
  spec/support/fake_api_key_for_lighthouse.txt
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/calls_new_on_EVSS_DocumentsService_with_the_expected_arguments.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/generates_a_pdf.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/it_calls_new_on_the_HypertensionMedicationRequestData.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_is_NOT_for_hypertension/returns_from_the_class_if_the_claim_observations_does_NOT_include_bp_readings_from_the_past_year.yml
  spec/support/vcr_cassettes/FastTrack_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call.yml
  spec/support/vcr_cassettes/FastTrack_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/FastTrack_DisabilityCompensationJob/_perform/success/the_claim_is_NOT_for_hypertension/returns_from_the_class_if_the_claim_observations_does_NOT_include_bp_readings_from_the_past_year.yml
  spec/support/vcr_cassettes/FastTrack_HypertensionMedicationRequestData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/FastTrack_HypertensionObservationData/_transform/returns_the_expected_hash.yml
  spec/support/vcr_cassettes/FastTrack_HypertensionObservationData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/HypertensionMedicationRequestData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/HypertensionObservationData/_transform/returns_the_expected_hash.yml
  spec/support/vcr_cassettes/HypertensionObservationData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/HypertensionObservationData/_transform/returns_the_expected_hash_from_an_empty_list.yml
Labels: tools-be-review

#8630 Update rubocop_todo.yml
  .rubocop_todo.yml
Labels: tools-be-review

#8633 add feature toggle around indianIndicator
  lib/hca/enrollment_system.rb
  spec/lib/hca/enrollment_system_spec.rb
Labels: tools-be-review

#8615 API-11729: Add benefit types to contestable issues endpoint docs
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
Labels: Lighthouse, appeals

#8631 Hypertension fast track job: Check if blood pressure readings data is blank
  app/workers/fast_track/disability_compensation_job.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
Labels: tools-be-review

#8603 Remove PgHero as engine mounted in vets-api
  Gemfile
  Gemfile.lock
  app/assets/config/manifest.js
  app/assets/stylesheets/application.css
  app/controllers/pg_hero/home_controller.rb
  config/application.rb
  config/routes.rb
  config/settings.yml
Labels: tools-be-review

#8632 Allow login.gov users in ch33 direct deposit policy and ppiu policy
  app/policies/ch33_dd_policy.rb
  app/policies/ppiu_policy.rb
  spec/policies/ch33_dd_policy_spec.rb
  spec/policies/ppiu_policy_spec.rb
Labels: tools-be-review

#8624 33464 Remove refactored code from chip service
  config/features.yml
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/app/services/v2/chip/session.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
  modules/check_in/spec/services/v2/chip/session_spec.rb
Labels: tools-be-review

#8636 API-8022: Add lob handling to hlr
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/lib/appeals_api/hlr_pdf_submit_wrapper.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#8627 [Due Fri Dec10-2021] 33719 create get status proxy method in lgy service class
  app/controllers/v0/coe_controller.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
  spec/support/vcr_cassettes/lgy/determination_unable_to_determine.yml
Labels: tools-be-review

#8644 Hypertension fast track disability compensation job: _status to nil
  app/workers/fast_track/disability_compensation_job.rb
Labels: tools-be-review

#8622 [8294] Adding UserVerification and UserAccount functionality for veri…
  app/services/login/after_login_actions.rb
  spec/services/login/after_login_actions_spec.rb
Labels: tools-be-review

#8638 [33868] Remove duplicated facilities from zero balances
  app/services/medical_copays/zero_balance_statements.rb
  spec/services/medical_copays/zero_balance_statements_spec.rb
Labels: tools-be-review

#8639 [33874] Exclude non treatment facilities in vista account id
  app/services/medical_copays/vista_account_numbers.rb
  spec/services/medical_copays/vbs/request_data_spec.rb
  spec/services/medical_copays/vista_account_numbers_spec.rb
Labels: tools-be-review

#8637 1987 mobile map logingov for old versions
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
  spec/support/vcr_cassettes/iam_ssoe_oauth/introspect_active_logingov.yml
Labels: mobile, tools-be-review

#8641 add statsd measure to bgs ch33 calls
  lib/bgs/service.rb
  spec/lib/bgs/service_spec.rb
Labels: tools-be-review

#8654 Hypertension fast track: fix sidekiq invocation and RRD code
  app/models/form526_submission.rb
  app/services/fast_track/hypertension_special_issue_manager.rb
  spec/models/form526_submission_spec.rb
  spec/services/fast_track/hypertension_special_issue_manager_spec.rb
Labels: tools-be-review

#8628 Add an email to notify key people when the Fast Track feature is hit.
  app/workers/fast_track/disability_compensation_job.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
  spec/support/vcr_cassettes/FastTrack_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/emails_the_stakeholders.yml
Labels: tools-be-review

#8657 Update column name for model validation
  app/models/gibs_not_found_user.rb
  app/workers/kms_encryption_verification_job.rb
Labels: tools-be-review

#8658 Remove unused cassettes
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/calls_new_on_EVSS_DocumentsService_with_the_expected_arguments.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/generates_a_pdf.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_IS_for_hypertension/it_calls_new_on_the_HypertensionMedicationRequestData.yml
  spec/support/vcr_cassettes/DisabilityCompensationFastTrackJob/_perform/success/the_claim_is_NOT_for_hypertension/returns_from_the_class_if_the_claim_observations_does_NOT_include_bp_readings_from_the_past_year.yml
Labels: tools-be-review

#8653 Feature dgi claimant info json update
  modules/meb_api/app/serializers/automation_serializer.rb
  modules/meb_api/lib/dgi/automation/claimant_response.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  spec/support/schemas/dgi/claimant_info_response.json
Labels: tools-be-review

#8659 Install DataDog APM
  Gemfile
  Gemfile.lock
  Rakefile
  config/initializers/datadog.rb
Labels: tools-be-review

#8663 Hypertension fast track: put EVSS special-issue-adding behind Flipper flag
  app/workers/fast_track/disability_compensation_job.rb
  config/features.yml
  spec/jobs/fast_track/disability_compensation_job_spec.rb
Labels: tools-be-review

#8664 Add Paul's email address to notification
  app/workers/fast_track/disability_compensation_job.rb
Labels: tools-be-review

#8673 Revert "Add ddtrace gem to enable APM in Datadog (#8659)"
  Gemfile
  Gemfile.lock
  Rakefile
  config/initializers/datadog.rb
Labels: tools-be-review

#8665 API-11285 Only try to send emails when flipper enabled as well
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
Labels: Lighthouse, appeals

#8675 Update syntax for sidkiq args
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: tools-be-review

#8668 [8661] Fixing bug with user_verifications that was allowing them to b…
  app/services/login/after_login_actions.rb
  spec/services/login/after_login_actions_spec.rb
Labels: tools-be-review

#8678 [34084] Filter copay statements to last six months
  app/services/medical_copays/vbs/response_data.rb
  spec/services/medical_copays/vbs/response_data_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
Labels: tools-be-review

#8671 34059/34060 handle two more scenarios in coe_status
  lib/lgy/service.rb
  spec/fixtures/json/get_application_200.json
  spec/fixtures/json/get_determination_not_eligible.json
  spec/lib/lgy/service_spec.rb
Labels: tools-be-review

#8681 Bumping Rails to 6.1.4.3 to fix CVE issue
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#8662 33919 Ability to toggle features for HCE team
  config/settings.yml
Labels: tools-be-review

#8537 Error creating va appointment
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/factories/vaos_users.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_proposed_200.yml
Labels: VAOS, be-review, tools-be-review

#8670 Add myself for access to flipper
  config/settings.yml
Labels: tools-be-review

#8683 [34084] Add statement date to resolved statements
  app/services/medical_copays/vbs/response_data.rb
  app/services/medical_copays/zero_balance_statements.rb
  spec/services/medical_copays/vbs/response_data_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
  spec/services/medical_copays/zero_balance_statements_spec.rb
Labels: tools-be-review

#8679 34057 Removing checkin v0 controller code
  modules/check_in/app/controllers/check_in/v0/apidocs_controller.rb
  modules/check_in/app/controllers/check_in/v0/patient_check_ins_controller.rb
  modules/check_in/app/docs/check_in/v0/check_in.yaml
  modules/check_in/config/routes.rb
  modules/check_in/spec/request/apidocs_request_spec.rb
  modules/check_in/spec/request/patient_check_ins_request_spec.rb
  spec/middleware/rack/attack_spec.rb
Labels: tools-be-review

#8685 Append to config.hosts in development.rb
  config/environments/development.rb
Labels: tools-be-review

#8660 add-cassettes-for-cancel-fetch
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/cancel_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_proposed_clinic_200.yml
Labels: VAOS, tools-be-review

#8667 [API-9829] - ClaimsApi - Adds ITF submission endpoint for V2
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_files_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file.rb
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_info.rb
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/main.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: Lighthouse

#8686 Add hypertension fast track document type to EVSSClaimDocument's validation list
  app/models/evss_claim_document.rb
Labels: tools-be-review

#8700 Updating Brakeman gem to fix failing check
  Gemfile.lock
Labels: tools-be-review

#8698 Update rails to 6.1.4.4
  Gemfile
  Gemfile.lock
  config/environments/development.rb
Labels: tools-be-review

#8697 Adding temporary logging for ch33_bank_accounts_controller
  app/controllers/v0/profile/ch33_bank_accounts_controller.rb
  lib/bgs/service.rb
Labels: tools-be-review

#8676 Limit External Key for BGS Service
  app/services/bgs/base_service.rb
  spec/services/bgs/base_service_spec.rb
Labels: tools-be-review

#8690 API-9825: Simplify poa_code_in_organization? logic
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/app/workers/claims_api/poa_form_builder_job.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/workers/poa_form_builder_job_spec.rb
Labels: Lighthouse

#8704 Improve the email alerts for the hypertension fast track pilot
  app/mailers/hypertension_fast_track_pilot_mailer.rb
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/fast_track/disability_compensation_job.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
  spec/mailers/hypertension_fast_track_pilot_mailer_spec.rb
Labels: tools-be-review

#8694 API-9825: Add appoint individual POA endpoint in claims v2
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: Lighthouse

#8703 Hypertension Fast Track JSON key fix
  app/services/fast_track/hypertension_medication_request_data.rb
  app/workers/fast_track/disability_compensation_job.rb
  spec/services/fast_track/hypertension_medication_request_data_spec.rb
Labels: tools-be-review

#8689 API-11962 Supplemental claims PII expunge
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_clean_up_pii.rb
  modules/appeals_api/spec/workers/supplemental_claim_clean_up_pii_spec.rb
Labels: Lighthouse, appeals, tools-be-review

#8687 API-11692 Add comments to generator spec re: radio buttons
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/pdf_matcher.rb
Labels: Lighthouse, appeals

#8682 Update param name to match clinician_workflow
  config/features.yml
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/spec/services/v2/chip/client_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
Labels: tools-be-review

#8696 34054 Remove demographics, multiple appointment, next of kin feature flags
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/serializers/check_in/v2/appointment_data_serializer.rb
  modules/check_in/spec/models/check_in/v2/patient_check_in_spec.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_data_serializer_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: tools-be-review

#8710 Add check for nil ciphertext
  app/workers/kms_encryption_verification_job.rb
Labels: tools-be-review

#8712 Update default vista number to be valid request data
  app/services/medical_copays/vista_account_numbers.rb
  spec/services/medical_copays/vista_account_numbers_spec.rb
Labels: tools-be-review

#8707 Fixing typo in logs for Ch33 Bank Accounts Controller
  app/controllers/v0/profile/ch33_bank_accounts_controller.rb
Labels: tools-be-review

#8715 API-12020: Add supplemental_claim/contestable_issues path/file pair to betamocks config
  config/betamocks/services_config.yml
Labels: Lighthouse, appeals, tools-be-review

#8718 API-11905: Spacing
  config/betamocks/services_config.yml
Labels: Lighthouse, appeals, tools-be-review

#8674 Integrate DataDog APM
  Gemfile
  Gemfile.lock
  Rakefile
  config/initializers/datadog.rb
Labels: tools-be-review

#8719 add tracer config for datadog
  config/initializers/datadog.rb
Labels: tools-be-review

#8706 Add CDC Background Job Success Metrics/Dashboard
  modules/mobile/app/workers/mobile/v0/vaccines_updater_job.rb
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/spec/workers/vaccines_updater_job_spec.rb
Labels: mobile

#8720 Removing temporary ch33 log statements
  app/controllers/v0/profile/ch33_bank_accounts_controller.rb
  lib/bgs/service.rb
Labels: tools-be-review

#8692 [8691] Adding verified_at functionality and query protections for use…
  app/services/login/after_login_actions.rb
  spec/services/login/after_login_actions_spec.rb
Labels: tools-be-review

#8708 Change Form526Submission full name retrieval to fall back to auth headers values
  app/models/form526_submission.rb
  spec/factories/form526_submissions.rb
  spec/models/form526_submission_spec.rb
Labels: tools-be-review

#8714 Fix missing Benefit Claim Id [Tiny Patch]
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
Labels: tools-be-review

#8713 Feature flip zero debt balances
  app/services/medical_copays/vbs/service.rb
  config/features.yml
Labels: tools-be-review

#8716 [API-11988] - ClaimsApi - Handle case sensitivity for 526 "directDeposit.accountType"
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: Lighthouse

#8699 API-9829 - ClaimsApi - Adds docs for V2 ITF POST endpoint
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_files/example.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_files/request.json
  modules/claims_api/config/schemas/v2/request_bodies/veteran_identifier/request.json
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/swagger_shared_components.rb
  modules/claims_api/spec/support/swagger_shared_components/v1.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
Labels: Lighthouse

#8727 adjust log level to :warn in order to retain valuable warnings
  config/environments/production.rb
Labels: tools-be-review

#8726 Add backtrace to error for worker
  app/workers/fast_track/disability_compensation_job.rb
Labels: tools-be-review

#8723 HTN Fast Track: account for missing fields in JSON when getting observation data
  app/services/fast_track/hypertension_observation_data.rb
  spec/services/fast_track/hypertension_observation_data_spec.rb
Labels: tools-be-review

#8705 HTN Fast Track: account for logingov_uuid issue in ICN lookup
  app/workers/fast_track/disability_compensation_job.rb
  lib/lighthouse/veterans_health/client.rb
Labels: tools-be-review

#8724 HTN Fast Track: Temporarily use L023 doc type for PDF
  app/services/fast_track/hypertension_upload_manager.rb
  spec/mailers/hypertension_fast_track_pilot_mailer_spec.rb
  spec/services/fast_track/hypertension_upload_manager_spec.rb
Labels: tools-be-review

#8730 2004: create mobile module pagination helper
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
Labels: mobile

#8734 2004 utilize pagination helper
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/helpers/mobile/pagination_links_helper.rb
  modules/mobile/app/models/mobile/v0/contracts/get_paginated_list.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
Labels: mobile

#8738 2004 implement immunizations pagination
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
Labels: mobile

#8736 [34382] Add zero routing number check to ch33 call
  lib/bgs/service.rb
  spec/lib/bgs/service_spec.rb
  spec/support/vcr_cassettes/bgs/service/find_ch33_dd_eft_no_bank_info.yml
Labels: tools-be-review

#8722 34186 Serialize demographics confirmation data
  config/features.yml
  modules/check_in/app/serializers/check_in/v2/appointment_data_serializer.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_data_serializer_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: tools-be-review

#8742 2004: additional immunizations specs
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
Labels: mobile

#8744 34287 - Disable EducationForm::Process10203Submissions Sidekiq job
  config/sidekiq_scheduler.yml
Labels: tools-be-review

#8669 [8650] Removing dead code with alternate login user attribute models …
  app/models/user_identity.rb
  config/initializers/loa.rb
  lib/saml/user.rb
  lib/saml/user_attributes/dslogon.rb
  lib/saml/user_attributes/id_me.rb
  lib/saml/user_attributes/mhv.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/dslogon_user_spec.rb
  spec/lib/saml/idme_user_spec.rb
  spec/lib/saml/mhv_user_spec.rb
Labels: tools-be-review

#8737 Hypertension Fast Track: use with_indifferent_access to fix blank name issue.
  app/services/fast_track/hypertension_pdf_generator.rb
Labels: tools-be-review

#8733 LGY Update NOT_ELIGIBLE Status
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/determination_not_eligible.yml
Labels: VSA, tools-be-review

#8746 Adds Feature toggle to toggle authentication for virtual agent access
  config/features.yml
Labels: tools-be-review

#8740 [8739] Dropping and Recreating UserVerification, UserAccount, Depreca…
  db/migrate/20211220222016_delete_and_recreate_userverifications_useraccounts_deprecateduseraccounts.rb
  db/schema.rb
Labels: tools-be-review

#8743 [34178] Remove deceased check for medical copays
  app/services/medical_copays/vbs/service.rb
  spec/controllers/v0/medical_copays_controller_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
Labels: tools-be-review

#8732 Add feature flip to filter copay statements by six months
  app/services/medical_copays/vbs/response_data.rb
  config/features.yml
Labels: tools-be-review

#8761 [34516] Initial Slack Module Creation
  config/settings.yml
  lib/slack/service.rb
  spec/lib/slack/service_spec.rb
  spec/support/vcr_cassettes/slack/slack_bot_notify.yml
Labels: identity, identity-backend, tools-be-review

#8748 Ensure that the ICN being sent to Lighthouse is a string
  lib/lighthouse/veterans_health/client.rb
Labels: tools-be-review

#8769 manish-flipper-admin
  config/settings.yml
Labels: tools-be-review

#8771 2247 immunizations pagination sort order
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
Labels: mobile

#8777 2243 v1 immunizations documentation
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/ImmunizationRecord.yml
  modules/mobile/docs/schemas/v1/Immunizations.yml
Labels: mobile

#8762 Removing the non Engine PPMS files
  app/controllers/v1/facilities/ccp_controller.rb
  app/controllers/v1/facilities/va_ccp_controller.rb
  app/models/ppms.rb
  app/models/ppms/provider.rb
  app/models/ppms/provider_facility.rb
  app/models/ppms/specialty.rb
  app/serializers/ppms/provider_facility_serializer.rb
  app/serializers/ppms/provider_serializer.rb
  app/serializers/ppms/specialty_serializer.rb
  app/swagger/swagger/v1/requests/facilities.rb
  app/swagger/swagger/v1/schemas/facilities.rb
  config/initializers/breakers.rb
  config/routes.rb
  lib/facilities/ppms/do_not_encoder.rb
  lib/facilities/ppms/v1/client.rb
  lib/facilities/ppms/v1/configuration.rb
  lib/facilities/ppms/v1/response.rb
  spec/lib/facilities/ppms/do_not_encoder_spec.rb
  spec/lib/facilities/ppms/v1/client_spec.rb
  spec/lib/facilities/ppms/v1/response_spec.rb
  spec/requests/v1/apidoc/shared_examples/facility_locator_spec.rb
  spec/requests/v1/facilities/ccp_request_spec.rb
  spec/requests/v1/facilities/va_ccp_request_spec.rb
Labels: tools-be-review

#8728 Add statsd metric to track missing date and cvx code from immunizatio…
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/app/models/mobile/v0/immunization.rb
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ImmunizationRecord.yml
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_cvx_code_missing.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_date_missing.yml
Labels: mobile

#8772 Add Brewfile for managing binary dependencies
  .gitignore
  Brewfile
  docs/setup/native.md
Labels: tools-be-review

#8770 Feature/dgi claim status
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/claim_status_serializer.rb
  modules/meb_api/lib/dgi/status/configuration.rb
  modules/meb_api/lib/dgi/status/service.rb
  modules/meb_api/lib/dgi/status/status_response.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/schemas/dgi/claim_status_response.json
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
Labels: tools-be-review
