Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-02, with the labels that each got.

#5804 adds serializer for TudAccount
  modules/test_user_dashboard/app/serializers/test_user_dashboard/tud_account_serializer.rb
Labels: identity, identity-backend

#5818 Update Method for Attaching Supporting Evidence
  app/workers/vbms/submit_dependents_pdf_job.rb
Labels: VSA

#5813 replace CombinePdf with pdftk#cat
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
Labels: Lighthouse, appeals

#5830 Remove TODOs, tickets created
  modules/appeals_api/config/schemas/200996.json
  modules/appeals_api/lib/appeals_api/form_schemas.rb
Labels: Lighthouse, appeals

#5801 updated YTD report and Spool File submission email list
  app/mailers/spool_submissions_report_mailer.rb
  app/mailers/year_to_date_report_mailer.rb
  config/settings.yml
  spec/mailers/spool10203_submissions_report_mailer_spec.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#5810 update readme
  modules/appeals_api/README.md
  modules/appeals_api/README.rdoc
Labels: Lighthouse, appeals

#5794 Add _iv column to education_stem_automated_decisions table
  db/migrate/20210128150813_add_column_to_education_stem_automated_decisions.rb
  db/schema.rb
Labels: bah

#5821 17551: Removal of stem_applicant_email feature flag
  app/workers/education_form/send_school_certifying_officials_email.rb
  config/features.yml
  spec/jobs/education_form/send_school_certifying_officials_email_spec.rb
Labels: bah

#5820 674 Update School Type Field
  app/models/bgs_dependents/child_school.rb
  spec/factories/686c/form_686c_674.rb
  spec/lib/bgs/student_school_spec.rb
  spec/models/bgs_dependents/child_school_spec.rb
Labels: VSA

#5819 Update Appeal status if error throws during PDF submit job
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#5802 API 4702 Add Veteran Address, Email, Phone
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/invalid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182_minimum.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_fields_spec.rb
Labels: Lighthouse, appeals

#5799 Document `error_key` Behavior in EVSS::ServiceException
  lib/evss/service_exception.rb
  spec/lib/evss/service_exception_spec.rb
Labels: VSA

#5850 adds id_type, auth_type, account_type columns to tud_accounts table
  db/schema.rb
  modules/test_user_dashboard/db/migrate/20210203204200_add_account_types.rb
Labels: identity, identity-backend

#5852 Rename Variable for Clarity (EVSS Lib)
  lib/evss/service_exception.rb
Labels: VSA

#5853 Minor Tweaks to Form526 Reports Rake Task
  rakelib/form526.rake
Labels: VSA

#5857 Prevent Country Code Lookup When There's No Address Info (VA 21P530 Form Profile)
  app/models/form_profiles/va_21p530.rb
  spec/models/form_profile_spec.rb
Labels: VSA

#5867 Add support for const keyword to DetailedSchemaErrors
  config/locales/exceptions.en.yml
  lib/common/exceptions/detailed_schema_errors.rb
  spec/fixtures/json/detailed_schema_errors_schema.json
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: Lighthouse, appeals

#5793 10203 Stem Automated Decision Processing
  app/models/education_stem_automated_decision.rb
  app/models/saved_claim/education_benefits/va_10203.rb
  app/workers/education_form/process10203_submissions.rb
  lib/evss/gi_bill_status/service.rb
  lib/evss/service.rb
  lib/evss/vso_search/service.rb
  spec/lib/evss/gi_bill_status/service_spec.rb
  spec/lib/evss/service_spec.rb
  spec/lib/evss/vso_search/service_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah

#5827 Vaos grafana related changes
  lib/breakers/statsd_plugin.rb
  lib/string_helpers.rb
  modules/mobile/spec/services/appointments_service_spec.rb
  modules/vaos/app/services/vaos/middleware/response/errors.rb
  modules/vaos/config/initializers/statsd.rb
  modules/vaos/spec/services/middleware/vaos_errors_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  spec/lib/breakers/statsd_plugin_spec.rb
Labels: VAOS

#5876 19333: Add user to 10203 report
  config/settings.yml
  spec/mailers/spool10203_submissions_report_mailer_spec.rb
Labels: bah

#5881 Fix DetailedSchemaErrors when running individually
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: Lighthouse, appeals

#5862 Apps_api refactor for DirectoryController
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/app/swagger/apps_api/v0/apps.yml
  modules/apps_api/app/workers/apps_api/directory_loader.rb
  modules/apps_api/lib/apps_api/directory_application_creator.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
  modules/apps_api/spec/workers/directory_loader_spec.rb
Labels: Lighthouse

#5826 Update Proc State Type Code for 686
  lib/bgs/service.rb
Labels: VSA

#5865 Update NOD schema to check email against JSON API email spec
  config/locales/exceptions.en.yml
  lib/common/exceptions/detailed_schema_errors.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/invalid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182.json
  modules/appeals_api/spec/fixtures/valid_10182_minimum.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
  spec/fixtures/json/detailed_schema_errors_schema.json
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: Lighthouse, appeals

#5892 Update HLR schema to check email against JSON API email spec
  modules/appeals_api/config/schemas/200996.json
Labels: Lighthouse, appeals

#5870 Move model validation for address
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/spec/fixtures/invalid_10182.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  spec/fixtures/json/detailed_schema_errors_schema.json
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: Lighthouse, appeals

#5903 Add new flag for operationalHoursSpecialInstructions on FL
  config/features.yml
Labels: facility locator

#5895 10203 STEM Automated Decision - additional null check
  app/workers/education_form/process10203_submissions.rb
Labels: bah

#5904 [API-4737] - Add missing statuses to "ClaimsShow" Swagger schema
  modules/claims_api/app/swagger/claims_api/claims/claims_response_swagger.rb
Labels: Lighthouse

#5896 Update process10203_submissions.rb
  app/workers/education_form/process10203_submissions.rb
Labels: bah

#5907 Update 686c Manual Status for Unsupported Workflows
  lib/bgs/dependents.rb
  lib/bgs/form686c.rb
  lib/bgs/service.rb
  spec/lib/bgs/form686c_spec.rb
Labels: VSA

#5912 Save Complete Lighthouse Response When It Fails to Validate Against Schema (DecisionReview::Service)
  app/controllers/concerns/failed_request_loggable.rb
  lib/decision_review/service.rb
Labels: VSA

#5890 Apps API faraday changes
  app/controllers/v0/apps_controller.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  lib/apps/client.rb
  lib/apps/configuration.rb
  lib/apps/responses/response.rb
  lib/apps/schemas/app.json
  lib/apps/schemas/apps.json
  lib/apps/schemas/scopes.json
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
  spec/controllers/v0/apps_controller_spec.rb
  spec/lib/apps/client_spec.rb
  spec/lib/apps/configuration_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
  spec/support/vcr_cassettes/apps/200_all_apps.yml
  spec/support/vcr_cassettes/apps/200_app_query.yml
  spec/support/vcr_cassettes/apps/200_scopes_query.yml
  spec/support/vcr_cassettes/apps/204_scopes_query.yml
Labels: Lighthouse

#5922 Allow Specifying a Date Range For BDD Stats Mode (form526 rake task)
  rakelib/form526.rake
Labels: VSA

#5894 test_user_dashboard checkout & checkin accounts
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/workers/after_login_job.rb
  app/workers/after_logout_job.rb
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
  modules/test_user_dashboard/app/serializers/test_user_dashboard/tud_account_serializer.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/checkin_user.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/checkout_user.rb
  modules/test_user_dashboard/lib/test_user_dashboard/engine.rb
  modules/test_user_dashboard/spec/factories/tud_accounts.rb
  modules/test_user_dashboard/spec/models/tud_account_spec.rb
  modules/test_user_dashboard/spec/rails_helper.rb
  modules/test_user_dashboard/spec/serializers/tud_account_serializer_spec.rb
  modules/test_user_dashboard/spec/services/checkin_user_spec.rb
  modules/test_user_dashboard/spec/services/checkout_user_spec.rb
  spec/jobs/after_login_job_spec.rb
  spec/jobs/after_logout_job_spec.rb
Labels: identity, identity-backend

#5918 adds email uniqueness validation to tud_accounts
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
Labels: identity, identity-backend

#5915 API-2275: Clarify Wording on Claims API headers documentation
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#5914 API-4733: 2122 status schema is missing a possible status
  modules/claims_api/app/swagger/claims_api/forms/form_2122_response_swagger.rb
Labels: Lighthouse

#5898 18732 - removed message text length validation, and removed unnecessary tests
  modules/vaos/app/models/vaos/message_form.rb
  modules/vaos/spec/models/message_form_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
Labels: VAOS

#5927 Process 10203 null handling
  app/models/education_stem_automated_decision.rb
  spec/models/education_stem_automated_decision_spec.rb
Labels: bah, bah-qa-needed

#5944 remove view payments feature toggle
  config/features.yml
Labels: VSA

#5919 Exclude Irrelevant Methods From `exception_hash` (FailedRequestLoggable)
  app/controllers/concerns/failed_request_loggable.rb
Labels: VSA

#5920 Add "HLR" to `error_class` When Logging to PersonalInformationLog
  app/controllers/v0/higher_level_reviews/contestable_issues_controller.rb
  app/controllers/v0/higher_level_reviews_controller.rb
  lib/decision_review/service.rb
  spec/request/v0/higher_level_reviews_controller_request_spec.rb
Labels: VSA

#5924 Add BIRLS ID Accessor Methods (Form526Submission)
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: VSA

#5937 [API-4120] - Return error 403 when v0 intent-to-file type is 'burial'
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
Labels: Lighthouse

#5936 adds services as serializable attribute
  modules/test_user_dashboard/app/serializers/test_user_dashboard/tud_account_serializer.rb
Labels: identity, identity-backend

#5935 API-5203 Add NOD schema specs and rename HLR specs
  modules/appeals_api/config/schemas/10182_headers.json
  modules/appeals_api/config/schemas/200996_headers.json
  modules/appeals_api/spec/config/schemas/10182_headers_json_spec.rb
  modules/appeals_api/spec/config/schemas/10182_json_spec.rb
  modules/appeals_api/spec/config/schemas/200996_headers_json_spec.rb
  modules/appeals_api/spec/config/schemas/200996_json_spec.rb
Labels: Lighthouse, appeals

#5916 Refactor zipCode5 for zeros if homeless and no address
  lib/common/exceptions/detailed_schema_errors.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/config/schemas/10182.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#5925 adds 'standard' as ignored_column in preparation for removal
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
Labels: identity, identity-backend

#5955 Add extra page to Chapter 36 PDF
  lib/pdf_fill/forms/pdfs/28-8832.pdf
  lib/pdf_fill/forms/va288832.rb
  spec/fixtures/pdf_fill/28-8832/kitchen_sink.pdf
  spec/fixtures/pdf_fill/28-8832/overflow.pdf
  spec/fixtures/pdf_fill/28-8832/simple.pdf
Labels: VSA

#5972 Update Child Type for VA Form 674
  lib/bgs/dependent_higher_ed_attendance.rb
  spec/lib/bgs/dependent_higher_ed_attendance_spec.rb
Labels: VSA

#5984 Hotfix for lib/apps/client.rb#get_app
  lib/apps/client.rb
  spec/lib/apps/client_spec.rb
  spec/support/vcr_cassettes/apps/200_apple_health_query.yml
Labels: Lighthouse

#5957 Add remaining_entitlement to education_stem_automated_decisions migration
  db/migrate/20210223132223_add_remaining_entitlement_to_education_stem_automated_decisions.rb
  db/schema.rb
Labels: bah

#5947 Api 4960/nod status
  modules/appeals_api/app/models/concerns/appeals_api/central_mail_status.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
  modules/appeals_api/lib/appeals_api/central_mail_updater.rb
  modules/appeals_api/spec/lib/central_mail_updater_spec.rb
  modules/appeals_api/spec/models/concerns/appeals_api/central_mail_status_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#5979 Api 4960 - rename concern
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/concerns/appeals_api/appeal_status.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/spec/lib/central_mail_updater_spec.rb
  modules/appeals_api/spec/models/concerns/appeals_api/appeal_status_spec.rb
Labels: Lighthouse, appeals

#5975 Removed gibctBenefitFilterEnhancement from features.yml
  config/features.yml
Labels: bah

#5992 [API-4027] - Enhance claims api error code documentation (retry1)
  modules/claims_api/app/controllers/claims_api/docs/v0/api_controller.rb
  modules/claims_api/app/controllers/claims_api/docs/v1/api_controller.rb
  modules/claims_api/app/swagger/claims_api/common/authorization/forbidden_swagger.rb
  modules/claims_api/app/swagger/claims_api/common/authorization/not_authorized_swagger.rb
  modules/claims_api/app/swagger/claims_api/common/error_model_swagger.rb
  modules/claims_api/app/swagger/claims_api/common/not_found_swagger.rb
  modules/claims_api/app/swagger/claims_api/common/unprocessable_entity_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#5930 Notification Service for AppsApi
  config/settings.yml
  config/settings/test.yml
  config/sidekiq_scheduler.yml
  lib/okta/service.rb
  modules/apps_api/README.md
  modules/apps_api/app/workers/apps_api/fetch_connections.rb
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/apps_api/spec/lib/notification_service_spec.rb
  modules/apps_api/spec/workers/fetch_connections_spec.rb
  spec/support/vcr_cassettes/okta/connection_logs.yml
  spec/support/vcr_cassettes/okta/disconnection_logs.yml
  spec/support/vcr_cassettes/okta/user.yml
Labels: Lighthouse

#5993 [Bugfix] Send CentralMail receiveDt in central timezone
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
Labels: Lighthouse, appeals, bug

#5950 Stem claim status
  app/controllers/v0/education_benefits_claims_controller.rb
  app/serializers/education_stem_claim_status_serializer.rb
  app/swagger/swagger/requests/education_benefits_claims.rb
  app/workers/education_form/process10203_submissions.rb
  config/routes.rb
  spec/controllers/v0/education_benefits_claims_controller_spec.rb
  spec/factories/education_benefits_claims.rb
  spec/factories/education_stem_automated_decisions.rb
  spec/request/swagger_spec.rb
  spec/serializers/education_stem_claim_status_serializer_spec.rb
Labels: bah

#5980 Add Income Questions to 686 PDF
  lib/pdf_fill/forms/form_helper.rb
  lib/pdf_fill/forms/pdfs/686C-674.pdf
  lib/pdf_fill/forms/va686c674.rb
  spec/fixtures/pdf_fill/686C-674/kitchen_sink.json
  spec/fixtures/pdf_fill/686C-674/kitchen_sink.pdf
  spec/fixtures/pdf_fill/686C-674/overflow.pdf
  spec/fixtures/pdf_fill/686C-674/simple.json
  spec/fixtures/pdf_fill/686C-674/simple.pdf
Labels: VSA

#6016 update Gemfile.lock for vets-json-schema
  Gemfile.lock
Labels: VSA

#6021 [API-5275] Veteran Confirmation and Veteran Verification Content Updates
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_verification/VETERAN_VERIFICATION.yml
Labels: Lighthouse

#6024 update Gemfile.lock for vets-json-schema (#2)
  Gemfile.lock
Labels: VSA

#6013 API-5015: General structure prep before including EVSS specific special issue mapper
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
  modules/claims_api/lib/claims_api/special_issue_mapper.rb
  modules/claims_api/lib/claims_api/special_issue_mappers/base.rb
  modules/claims_api/lib/claims_api/special_issue_mappers/bgs.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/lib/claims_api/special_issue_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/special_issue_mappers/bgs_spec.rb
Labels: Lighthouse

#6014 API-5015: Audit Special Issues/Flashes Enum values for EVSS and BGS
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/lib/claims_api/field_mapper_base.rb
  modules/claims_api/lib/claims_api/homelessness_situation_type_mapper.rb
  modules/claims_api/lib/claims_api/special_issue_mappers/base.rb
  modules/claims_api/lib/claims_api/special_issue_mappers/bgs.rb
  modules/claims_api/lib/claims_api/special_issue_mappers/evss.rb
  modules/claims_api/spec/fixtures/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/homelessness_situation_type_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/special_issue_mappers/evss_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: Lighthouse

#6004 API-4997 - remove old settings
  modules/appeals_api/app/mailers/appeals_api/decision_review_mailer.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
Labels: Lighthouse, appeals

#6030 Add integer type to latestIssuesInChain
  modules/appeals_api/app/swagger/appeals_api/v1/responses_contestable_issues.json
Labels: Lighthouse, appeals
