Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-06, with the labels that each got.

#7061 [API-6821] - Only allow "PUT /forms/526" to function on "pending" claims
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7032 Api 7380/update generator to add versionsb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
Labels: Lighthouse, appeals

#7069 Remove chapter 31 feature toggle
  config/features.yml
Labels: VSA

#7060 Api 7333/rep phone number should accept intl
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
Labels: Lighthouse, appeals

#7034 Api 7380/write backfill for current pdf versions
  modules/appeals_api/lib/appeals_api/data_migrations/api_pdf_versions.rb
  modules/appeals_api/lib/tasks/nod_hlr_api_pdf_version_backfill.rake
Labels: Lighthouse, appeals

#7076 API-7416 character limits for Veteran first and last names
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/fixtures/expected_200996_minimum_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
  modules/appeals_api/spec/fixtures/valid_200996_v2.json
Labels: Lighthouse, appeals

#7074 API-7421 Add representative name character limits and email to schema
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/config/schemas/v2/200996.json
Labels: Lighthouse, appeals

#7093 API-7577 Fix number of printed contestable issues on second page
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/fixtures/expected_200996_minimum_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
Labels: Lighthouse, appeals

#7095 Update vets-json-schema version
  Gemfile.lock
Labels: VSA

#7104 API-7508 - Make zipcode not required for v2 HLR
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/spec/fixtures/expected_200996_minimum_v2.pdf
  modules/appeals_api/spec/fixtures/valid_200996_minimum_v2.json
Labels: Lighthouse, appeals

#7107 Populating data
  db/migrate/20210602154022_add_insert_ranking_to_va_forms_forms.rb
  db/schema.rb
Labels: Forms

#7108 Mark.viterna/api 7354
  modules/va_forms/app/controllers/va_forms/v0/forms_controller.rb
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/lib/va_forms/regex_helper.rb
Labels: Forms

#7112 API-7420 fixup schema hlr v2
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/spec/config/schemas/v2/20096_v2_json_spec.rb
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/valid_200996_v2.json
  modules/appeals_api/spec/fixtures/valid_200996_v2_extra.json
Labels: Lighthouse, appeals

#7098 API-6750: Update description for Benefits Claims API
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v2/veterans/claims_controller_swagger.rb
  modules/claims_api/app/swagger/v1/swagger.json
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
Labels: Lighthouse

#7138 Remove backfill rake task since it has been run on all envs
  modules/appeals_api/lib/appeals_api/data_migrations/api_pdf_versions.rb
  modules/appeals_api/lib/tasks/nod_hlr_api_pdf_version_backfill.rake
Labels: Lighthouse, appeals

#7131 Updating vets-json-schema version
  Gemfile.lock
Labels: VSA

#7129 Updates for ranking
  modules/va_forms/lib/tasks/update_form_ranking.rake
Labels: Forms

#7077 [7075] Fix recent regression that broke MPI AddPerson calls by not pr…
  app/models/mpi_data.rb
  app/models/user.rb
  spec/factories/user_identities.rb
  spec/models/mpi_data_spec.rb
Labels: identity-backend

#7101 [7028] Logging message to Sentry if MPI request is missing necessary …
  app/models/mpi_data.rb
Labels: identity, identity-backend

#7056 Api 7461 lighthouse ssoe token validation support
  app/controllers/openid_application_controller.rb
  app/models/openid_user_identity.rb
  app/models/token.rb
  lib/okta/user_profile.rb
  spec/models/openid_user_identity_spec.rb
  spec/support/okta_users_helpers.rb
  spec/support/vcr_cassettes/okta/metadata-ssoe.yml
Labels: Lighthouse

#7110 adding GHA labeler for labeling specific PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: tools-be-review

#7154 VRRAP: Update YTD prod report distribution
  config/settings.yml
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah

#7145 [API-7702] - ClaimsApi switch to using rswag-generated developer docs
  config/settings.yml
  modules/claims_api/app/controllers/claims_api/docs/v1/api_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/security_scheme_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v1/swagger_root.rb
  spec/swagger_helper.rb
Labels: Lighthouse

#7139 adding and updating links to docs in danger message
  Dangerfile
Labels: tools-be-review

#7148 API-7341 - HLR v2 statuses
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/higher_level_reviews.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/schemas/higher_level_reviews.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_root.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/models/concerns/appeals_api/hlr_status_spec.rb
  modules/appeals_api/spec/requests/v1/docs_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
Labels: Lighthouse, appeals

#7164 rswag: creation_date can be null
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/forms/intent_to_file/active.json
Labels: Lighthouse, tools-be-review

#7168 Update brakeman to 5.0.2
  Gemfile.lock
Labels: tools-be-review

#7166 display title implementation
  modules/mobile/app/models/mobile/v0/adapters/claims_overview.rb
  modules/mobile/app/models/mobile/v0/claim_overview.rb
  modules/mobile/app/serializers/mobile/v0/claim_overview_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ClaimsAndAppeals.yml
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/workers/pre_cache_claims_and_appeals_job_spec.rb
Labels: mobile

#7167 Include patient_icn in permit list.
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility/get_scheduling_configurations_200.yml
Labels: VAOS, tools-be-review

#7121 Bah 10203 updates
  app/mailers/views/school_certifying_officials.html.erb
  app/workers/education_form/templates/10203.erb
Labels: bah, bah-ir-needed, bah-qa-needed

#7169 25713 Generate check_in Rails engine
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/check_in/Gemfile
  modules/check_in/README.rdoc
  modules/check_in/Rakefile
  modules/check_in/app/controllers/.gitkeep
  modules/check_in/app/models/.gitkeep
  modules/check_in/app/serializers/.gitkeep
  modules/check_in/app/services/.gitkeep
  modules/check_in/bin/rails
  modules/check_in/check_in.gemspec
  modules/check_in/config/routes.rb
  modules/check_in/lib/check_in.rb
  modules/check_in/lib/check_in/engine.rb
  modules/check_in/lib/check_in/version.rb
  modules/check_in/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: tools-be-review

#7160 API-7727 - Clean up v2 api description
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
Labels: Lighthouse, appeals

#7170 Added Jason Wolf to feature toggle admins
  config/settings.yml
Labels: tools-be-review

#7155 add default country code for HLR v2
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#7179 bump brakeman to 5.0.4
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#7176 Mobile Vet360LinkingJob fix
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/app/workers/mobile/v0/vet360_linking_job.rb
  modules/mobile/spec/support/vcr_cassettes/profile/init_vet360_id_status_400.yml
  modules/mobile/spec/workers/vet360_linking_spec.rb
Labels: mobile

#7177 API-7463 - Update v2 TV OAS
  modules/openid_auth/README_V2.yml
Labels: Lighthouse

#7180 [7165] Logging invalid_message_timestamp SAML callback error instead …
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, identity-backend, tools-be-review

#7014 remove servedInCombatZone from 526
  app/swagger/swagger/schemas/form526/form526_submit_v2.rb
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/support/disability_compensation_form/526_in_progress_form_maixmal.json
  spec/support/disability_compensation_form/bdd_evss_submission.json
  spec/support/disability_compensation_form/bdd_large_fe_submission.json
  spec/support/disability_compensation_form/front_end_submission_with_uploads.json
  spec/support/disability_compensation_form/saved_claim.json
  spec/support/disability_compensation_form/saved_claim_with_4142.json
  spec/support/disability_compensation_form/submissions/only_526.json
  spec/support/disability_compensation_form/submissions/with_4142_missing_postalcode.json
  spec/support/disability_compensation_form/submissions/with_8940.json
  spec/support/disability_compensation_form/submissions/with_uploads.json
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_200_with_418.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_200_with_bgs_error.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_200_with_ep_not_valid.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_400.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_500_with_err_msg.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_500_with_max_ep_code.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_500_with_pif_in_use.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_500_with_unmapped.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_502.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_503.yml
Labels: tools-be-review

#7172 Fix Statuses parameter not working on /vaos/v2/appointments GET
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200.yml
Labels: VAOS, tools-be-review

#7186 API-6693 Add description for conference rep to swagger docs
  modules/appeals_api/config/schemas/v2/200996.json
Labels: Lighthouse, appeals

#7185 API-6697 Differentiate between v1 and v2 header fixtures
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/fixtures/valid_200996_headers_v2.json
Labels: Lighthouse, appeals

#7150 10-10EZ - Support Space Force
  Gemfile.lock
  lib/hca/enrollment_system.rb
  spec/lib/hca/enrollment_system_spec.rb
Labels: tools-be-review

#7174 Explicitly merging user.icn into the request_body
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/models/vaos/v2/appointment_form.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: VAOS

#7191 Adds spec for additional error case from MHV API
  lib/common/client/middleware/response/mhv_errors.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/support/vcr_cassettes/mhv_account_type_service/error_empty_body.yml
Labels: tools-be-review

#7183 [6697] Adding Account UUID to Session Controller Auth Logs
  app/controllers/v1/sessions_controller.rb
Labels: tools-be-review

#7181 API-6701 print soc/ssoc date on hlr v2 form
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
  modules/appeals_api/spec/fixtures/valid_200996_v2.json
  modules/appeals_api/spec/fixtures/valid_200996_v2_extra.json
Labels: Lighthouse, appeals

#7171 Reject additional properties not on claims schemas in requests
  lib/json_schema/json_api_missing_attribute.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: tools-be-review

#7178 API-7743 - Add details about evidence submission S3 upload
  modules/appeals_api/.rubocop.yml
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/put_description.md
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
Labels: Lighthouse, appeals, tools-be-review

#7194 API-6698 Remove claimant method from form_data hlr v2
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
Labels: Lighthouse, appeals

#7199 fix linting failures
  .rubocop_todo.yml
  spec/request/authentication/standard_authentication_spec.rb
Labels: tools-be-review

#7193 Remove HLR feature flag
  config/features.yml
Labels: Forms, VSA, tools-be-review

#7206 25927 adding extra logging around QR manager feature
  modules/health_quest/app/controllers/health_quest/v0/base_controller.rb
  modules/health_quest/app/controllers/health_quest/v0/questionnaire_manager_controller.rb
  modules/health_quest/app/services/health_quest/questionnaire_manager/factory.rb
  modules/health_quest/spec/services/questionnaire_manager/factory_spec.rb
  spec/spec_helper.rb
Labels: tools-be-review

#7202 increase Caseflow timeout
  config/settings.yml
  spec/lib/caseflow/configuration_spec.rb
  spec/lib/decision_review/configuration_spec.rb
Labels: tools-be-review

#7196 Removes obsolete call to MHVLoggingService
  modules/mobile/app/controllers/mobile/messaging_controller.rb
Labels: mobile

#7210 API-4183 - Clean up invalid json error
  modules/appeals_api/app/controllers/concerns/appeals_api/json_format_validation.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals

#7201 API-7873 Handle row number constants in hlr v2 structure
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
Labels: Lighthouse, appeals

#7212 Api 4183/json error message
  modules/appeals_api/app/swagger/appeals_api/v1/response_hlr_create_error.json
  modules/appeals_api/app/swagger/appeals_api/v2/response_hlr_create_error.json
Labels: Lighthouse, appeals

#6833 BDD eligible for Activated guard members
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: tools-be-review

#7213 25916 mobile fix pre cache claims error handling
  modules/mobile/app/models/mobile/v0/adapters/claims_overview_errors.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/workers/pre_cache_claims_and_appeals_job_spec.rb
Labels: mobile

#7195 [API-7815] - ClaimsApi swap v2 docs to rswag
  modules/claims_api/app/controllers/claims_api/docs/v2/api_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/post_examples/veteran_identifier.json
  modules/claims_api/config/schemas/veteran_identifier.json
  modules/claims_api/spec/fixtures/usability_testing_claims.json
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/support/swagger_shared_components.rb
  spec/support/schemas/claims_api/claims.json
  spec/support/schemas/claims_api/veteran_identifier/submission.json
  spec/swagger_helper.rb
Labels: Lighthouse, tools-be-review

#7211 Allow download of pre-filled 10-10CG PDF with invalid data
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/request/caregivers_assistance_claims_request_spec.rb
Labels: tools-be-review

#7221 bump oj to latest patch
  Gemfile.lock
Labels: tools-be-review

#7132 Submit VA Form 28-1900 to Central Mail
  app/controllers/v0/veteran_readiness_employment_claims_controller.rb
  app/mailers/veteran_readiness_employment_mailer.rb
  app/mailers/views/veteran_readiness_employment.html.erb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/controllers/v0/veteran_readiness_employment_claims_controller_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: VSA, tools-be-review

#7215 WIP for RI
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/models/vaos/v2/appointment_form.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: VAOS

#7220 Remove feature flags
  config/features.yml
Labels: tools-be-review

#7223 [API-7815] - Remove unused ClaimsApi v2 "swagger_block" files
  modules/claims_api/app/swagger/claims_api/v2/security_scheme_swagger.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger_root.rb
  modules/claims_api/app/swagger/claims_api/v2/veteran_identifier_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v2/veterans/claims_controller_swagger.rb
Labels: Lighthouse

#7229 API-7891 documentation for hlr endpoints and contestable issues points to v2
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v2/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v2/responses_contestable_issues.json
Labels: Lighthouse, appeals

#7228 Api 7871/update email report
  config/settings.yml
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
Labels: Lighthouse, appeals, tools-be-review

#7222 25440 use new facilities endpoint
  config/settings.yml
  config/settings/test.yml
  modules/health_quest/app/services/health_quest/facilities/request.rb
  modules/health_quest/spec/services/facilities/request_spec.rb
Labels: tools-be-review

#7049 Submit VA Form 21-0538 to Central Mail
  app/controllers/v0/dependents_verifications_controller.rb
  app/models/saved_claim/dependency_verification_claim.rb
  app/services/bgs/dependency_verification_service.rb
  lib/pdf_fill/forms/va210538.rb
  spec/controllers/v0/dependents_verifications_controller_spec.rb
  spec/factories/dependency_verification_claim.rb
  spec/fixtures/pdf_fill/21-0538/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0538/overflow.json
  spec/fixtures/pdf_fill/21-0538/simple.json
  spec/models/saved_claim/dependency_verification_claim_spec.rb
  spec/request/swagger_spec.rb
  spec/services/bgs/dependency_verification_service_spec.rb
Labels: VSA

#7200 Mark.viterna/api 7133 slack
  config/settings.yml
  modules/va_forms/app/workers/va_forms/form_reloader.rb
Labels: Forms, tools-be-review

#7230 fix retry monitoring
  lib/sidekiq/retry_monitoring.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
Labels: Lighthouse, appeals, tools-be-review

#7217 Cris.shupp.greg.bowman/api 7417 track cached uuids
  lib/central_mail/utilities.rb
  modules/vba_documents/app/controllers/vba_documents/internal/v0/upload_complete_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/workers/vba_documents/run_unsuccessful_submissions.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/app/workers/vba_documents/upload_scanner.rb
  modules/vba_documents/spec/jobs/run_unsuccessful_submissions_spec.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/jobs/upload_scanner_spec.rb
  modules/vba_documents/spec/request/v0/upload_complete_request_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
Labels: BenefitsIntake, tools-be-review

#7190 [22732] adds user to EVSS VSOSearch service instantiation
  app/workers/education_form/process10203_submissions.rb
  lib/evss/service.rb
  lib/evss/vso_search/service.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
  spec/lib/evss/vso_search/service_spec.rb
Labels: identity, identity-backend, tools-be-review

#7208 removed cheetah flag
  config/features.yml
Labels: tools-be-review

#7225 API-7859 Update disagreement reason text
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/valid_10182.json
Labels: Lighthouse, appeals

#7204 Error when fetching scheduling configurations
  modules/vaos/app/controllers/vaos/v2/scheduling_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/spec/request/v2/scheduling_configurations_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_scheduling_configurations_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_scheduling_configurations_500.yml
Labels: VAOS, tools-be-review

#7235 rename disagreementReason due to lighthouse schema change
  lib/decision_review/schemas/NOD_create_request_body_schema.json
Labels: tools-be-review

#7226 Allow download of 10-10cg with no veteran name
  app/controllers/v0/caregivers_assistance_claims_controller.rb
Labels: tools-be-review

#7187 add my email to admin_user_emails for #25817
  config/settings.yml
Labels: tools-be-review

#7159 [24622] removes user.va_profile methods
  app/models/user.rb
Labels: identity, identity-backend, tools-be-review

#7198 8953 upgrade to sidekiq 6
  Gemfile
  Gemfile.lock
  app/models/session.rb
  config/initializers/01_redis.rb
  lib/sidekiq/semantic_logging.rb
  lib/sidekiq_stats_instrumentation/client_middleware.rb
  spec/lib/sidekiq/error_tag_spec.rb
Labels: tools-be-review

#7233 Update security properties for claims v1 swagger
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  spec/swagger_helper.rb
Labels: tools-be-review

#7231 Add Supporting Evidence Doc Type for VA Form 21-686c
  app/models/saved_claim/dependency_claim.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
Labels: VSA, tools-be-review

#7236 Adds metrics and logging for OAuth sessions
  app/models/iam_user_identity.rb
  config/initializers/statsd.rb
  lib/iam_ssoe_oauth/session_manager.rb
  modules/mobile/app/controllers/mobile/application_controller.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
Labels: mobile, tools-be-review

#7242 update welcome message
  app/controllers/v0/example_controller.rb
Labels: tools-be-review

#7227 remove Valerie from claims report
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: Lighthouse

#7241 Kevin.cranmer/api 7592 postman testing
  modules/va_forms/postman_tests/Automated Forms API.postman_collection.json
  modules/va_forms/postman_tests/Forms_Postman.md
  modules/vba_documents/postman_tests/Benefits Intake.postman_collection.json
  modules/vba_documents/postman_tests/Benefits_Intake_Postman.md
  modules/vba_documents/postman_tests/Sandbox Environment.postman_environment.json
  modules/vba_documents/postman_tests/localhost Environment.postman_environment.json
Labels: BenefitsIntake, Forms

#7232 API-7871 - Weekly and daily email report
  config/settings.yml
  modules/appeals_api/app/mailers/appeals_api/decision_review_mailer.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/spec/mailers/decision_review_mailer_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_daily_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_weekly_spec.rb
Labels: Lighthouse, appeals, tools-be-review

#7245 Removing Key
  modules/va_forms/postman_tests/Forms_Postman.md
  modules/vba_documents/postman_tests/Benefits Intake.postman_collection.json
  modules/vba_documents/postman_tests/Sandbox Environment.postman_environment.json
  modules/vba_documents/postman_tests/localhost Environment.postman_environment.json
Labels: BenefitsIntake, Forms

#7247 26154 questionnaire rake update
  config/settings.yml
  modules/health_quest/lib/tasks/lighthouse.rake
Labels: tools-be-review

#7251 Add feature toggle for medical copays
  config/features.yml
Labels: vsa-benefits-2

#6979 Rails 6.1 upgrade
  .gitattributes
  .gitignore
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/concerns/exception_handling.rb
  app/models/concerns/redis_form.rb
  app/models/concerns/temp_form_validation.rb
  app/models/dependents_application.rb
  app/models/in_progress_form.rb
  app/models/message_draft.rb
  app/models/preferred_facility.rb
  app/models/saved_claim.rb
  app/models/saved_claim/education_benefits/va_1990s.rb
  app/validators/folder_name_convention_validator.rb
  bin/bundle
  bin/fake_clamdscan
  bin/rails
  bin/rake
  bin/rspec
  bin/setup
  bin/spring
  config.ru
  config/application.rb
  config/boot.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  db/migrate/20210526185922_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20210526185923_create_active_storage_variant_records.active_storage.rb
  db/schema.rb
  lib/common/exceptions/validation_errors.rb
  lib/evss/pciu_address/pciu_address_line_validator.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/spec/controllers/v1/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/covid_research/covid_research.gemspec
  modules/mobile/spec/request/claims_document_upload_spec.rb
  modules/test_user_dashboard/test_user_dashboard.gemspec
  modules/vaos/spec/models/cancel_form_spec.rb
  modules/vaos/spec/models/message_form_spec.rb
  spec/controllers/concerns/form_attachment_create_spec.rb
  spec/controllers/v0/hca_attachments_controller_spec.rb
  spec/controllers/v0/preneeds/preneed_attachments_controller_spec.rb
  spec/controllers/v0/vic/profile_photo_attachments_controller_spec.rb
  spec/controllers/v0/vic/supporting_documentation_attachments_controller_spec.rb
  spec/rakelib/support/cookies_spec.rb
  spec/request/claim_documents_spec.rb
  spec/request/decision_review_evidences_request_spec.rb
  spec/request/documents_spec.rb
  spec/request/swagger_spec.rb
  spec/request/upload_supporting_evidence_request_spec.rb
  spec/request/v0/form1010cg/attachments_request_spec.rb
Labels: VAOS, mobile, tools-be-review

#7244 API-7854 - Remove NOD v2 placeholder code
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
Labels: Lighthouse, appeals

#7248 Vets Api '/v2/facilties' does not accept []= query parameters fix
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/schemas_camelized/vaos/v2/get_facilities.json
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_200.yml
Labels: VAOS, tools-be-review

#7257 add identity team members to flipper admin
  config/settings.yml
Labels: tools-be-review

#7259 Revert "Rails 6.1 upgrade (#6979)"
  .gitattributes
  .gitignore
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/concerns/exception_handling.rb
  app/models/concerns/redis_form.rb
  app/models/concerns/temp_form_validation.rb
  app/models/dependents_application.rb
  app/models/in_progress_form.rb
  app/models/message_draft.rb
  app/models/preferred_facility.rb
  app/models/saved_claim.rb
  app/models/saved_claim/education_benefits/va_1990s.rb
  app/validators/folder_name_convention_validator.rb
  bin/bundle
  bin/fake_clamdscan
  bin/rails
  bin/rake
  bin/rspec
  bin/setup
  bin/spring
  config.ru
  config/application.rb
  config/boot.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  db/migrate/20210526185922_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20210526185923_create_active_storage_variant_records.active_storage.rb
  db/schema.rb
  lib/common/exceptions/validation_errors.rb
  lib/evss/pciu_address/pciu_address_line_validator.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/spec/controllers/v1/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/covid_research/covid_research.gemspec
  modules/mobile/spec/request/claims_document_upload_spec.rb
  modules/test_user_dashboard/test_user_dashboard.gemspec
  modules/vaos/spec/models/cancel_form_spec.rb
  modules/vaos/spec/models/message_form_spec.rb
  spec/controllers/concerns/form_attachment_create_spec.rb
  spec/controllers/v0/hca_attachments_controller_spec.rb
  spec/controllers/v0/preneeds/preneed_attachments_controller_spec.rb
  spec/controllers/v0/vic/profile_photo_attachments_controller_spec.rb
  spec/controllers/v0/vic/supporting_documentation_attachments_controller_spec.rb
  spec/rakelib/support/cookies_spec.rb
  spec/request/claim_documents_spec.rb
  spec/request/decision_review_evidences_request_spec.rb
  spec/request/documents_spec.rb
  spec/request/swagger_spec.rb
  spec/request/upload_supporting_evidence_request_spec.rb
  spec/request/v0/form1010cg/attachments_request_spec.rb
Labels: VAOS, mobile, tools-be-review

#7261 Bug fix for spamming slack messages
  modules/va_forms/app/workers/va_forms/form_reloader.rb
Labels: Forms

#7249 Kevin.cranmer/api 8070 postman more test cases
  modules/va_forms/postman_tests/Automated Forms API.postman_collection.json
  modules/va_forms/postman_tests/Forms_Postman.md
  modules/vba_documents/postman_tests/Automated Benefits Intake API.postman_collection.json
  modules/vba_documents/postman_tests/Benefits Intake.postman_collection.json
  modules/vba_documents/postman_tests/Benefits_Intake_Postman.md
  modules/vba_documents/postman_tests/Sandbox Environment.postman_environment.json
  modules/vba_documents/postman_tests/images/import.png
  modules/vba_documents/postman_tests/images/postman-files.png
  modules/vba_documents/postman_tests/images/run-collection.png
  modules/vba_documents/postman_tests/images/working-directory.png
Labels: BenefitsIntake, Forms

#7256 empty slot hash is dropped from post appointment request object
  modules/vaos/app/models/vaos/v2/appointment_form.rb
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/models/v2/appointment_form_spec.rb
Labels: VAOS

#7219 API-6101 Lighthouse Token Validation - Revoke session if ICN mismatch
  app/controllers/openid_application_controller.rb
  app/models/openid_user_identity.rb
  lib/okta/service.rb
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  spec/controllers/openid_application_controller_spec.rb
  spec/factories/mvi_profiles.rb
  spec/models/openid_user_identity_spec.rb
  spec/support/vcr_cassettes/okta/metadata.yml
  spec/support/vcr_cassettes/okta/openid-user-charon.yml
  spec/support/vcr_cassettes/okta/openid-user.yml
Labels: Lighthouse, tools-be-review

#7260 Rails 6.1 changes
  .gitattributes
  .gitignore
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/concerns/exception_handling.rb
  app/models/concerns/redis_form.rb
  app/models/concerns/temp_form_validation.rb
  app/models/dependents_application.rb
  app/models/in_progress_form.rb
  app/models/message_draft.rb
  app/models/preferred_facility.rb
  app/models/saved_claim.rb
  app/models/saved_claim/education_benefits/va_1990s.rb
  app/validators/folder_name_convention_validator.rb
  bin/bundle
  bin/fake_clamdscan
  bin/rails
  bin/rake
  bin/rspec
  bin/setup
  bin/spring
  config.ru
  config/application.rb
  config/boot.rb
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  db/migrate/20210526185922_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20210526185923_create_active_storage_variant_records.active_storage.rb
  db/schema.rb
  lib/common/exceptions/validation_errors.rb
  lib/evss/pciu_address/pciu_address_line_validator.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/spec/controllers/v1/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/covid_research/covid_research.gemspec
  modules/mobile/spec/request/claims_document_upload_spec.rb
  modules/test_user_dashboard/test_user_dashboard.gemspec
  modules/vaos/spec/models/cancel_form_spec.rb
  modules/vaos/spec/models/message_form_spec.rb
  spec/controllers/concerns/form_attachment_create_spec.rb
  spec/controllers/v0/hca_attachments_controller_spec.rb
  spec/controllers/v0/preneeds/preneed_attachments_controller_spec.rb
  spec/controllers/v0/vic/profile_photo_attachments_controller_spec.rb
  spec/controllers/v0/vic/supporting_documentation_attachments_controller_spec.rb
  spec/rakelib/support/cookies_spec.rb
  spec/request/claim_documents_spec.rb
  spec/request/decision_review_evidences_request_spec.rb
  spec/request/documents_spec.rb
  spec/request/swagger_spec.rb
  spec/request/upload_supporting_evidence_request_spec.rb
  spec/request/v0/form1010cg/attachments_request_spec.rb
Labels: VAOS, mobile, tools-be-review

#7262 API-8092 - Only display HLR v2 notice in lower envs
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
Labels: Lighthouse, appeals

#7254 Mobile handle Faraday::ResourceNotFound errors when getting contact info
  app/models/iam_user.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile, tools-be-review

#7272 [26326] Sidekiq Stats Instrumentation Fix
  lib/sidekiq_stats_instrumentation/client_middleware.rb
Labels: tools-be-review

#7270 API-7871 - fix typo
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/mailer.html.erb
Labels: Lighthouse, appeals

#7275 Fix rubocop failures in master
  app/models/appeal_submission.rb
  app/workers/education_form/create_daily_fiscal_year_to_date_report.rb
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  spec/rakelib/piilog_repl/piilog_helpers_spec.rb
Labels: tools-be-review

#7268 10203: Update clinical training section content
  app/mailers/views/school_certifying_officials.html.erb
Labels: bah, bah-ir-needed, bah-qa-needed, tools-be-review

#7266 feat(feature toggle): add file_upload_short_workflow_enabled
  config/features.yml
Labels: tools-be-review

#7209 [Secure Messaging] Mobile drafts endpoints
  modules/mobile/app/controllers/mobile/v0/message_drafts_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/message_drafts_request_spec.rb
Labels: mobile

#7277 API-7861: Replace existing sample app for sandbox with swagger-ui
  config/initializers/rswag-ui.rb
  modules/claims_api/config/routes.rb
Labels: Lighthouse, tools-be-review

#7269 Add bin/rspec back
  bin/rspec
  bin/spring
Labels: tools-be-review

#7281 Add /v0/preneeds/cemeteries documentation
  app/swagger/swagger/requests/preneeds_claims.rb
  lib/preneeds/service.rb
  spec/request/swagger_spec.rb
Labels: tools-be-review

#7161 25528 authorized services from multiple policies
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

#7282 Revert "API-7861: Replace existing sample app for sandbox with swagge…
  config/initializers/rswag-ui.rb
  modules/claims_api/config/routes.rb
Labels: tools-be-review

#7280 Log and raise an unauthorized error if iam session mananger builds a nil user
  lib/iam_ssoe_oauth/session_manager.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
Labels: tools-be-review

#7271 Swagger updates for Benefit API
  modules/vba_documents/app/swagger/vba_documents/document_upload/put_description.md
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
Labels: BenefitsIntake

#7289 [22732] restores conditional user ssn check
  lib/evss/vso_search/service.rb
Labels: tools-be-review

#7284 API-7861 Add swagger-ui for claims endpoints
  config/initializers/rswag-ui.rb
  modules/claims_api/config/routes.rb
Labels: tools-be-review

#7293 Revert swagger-ui changes
  config/initializers/rswag-ui.rb
  modules/claims_api/config/routes.rb
Labels: tools-be-review

#7298 Add rswag-generated swagger to claims, include in all environments
  Gemfile
  config/initializers/rswag-ui.rb
  modules/claims_api/config/routes.rb
Labels: tools-be-review

#7302 Update rswag dependencies to explicit subdivided gems
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#7291 Refactor error handling for FSR PDF downloads
  app/controllers/v0/financial_status_reports_controller.rb
  config/redis.yml
  lib/debt_management_center/financial_status_report_downloader.rb
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/models/financial_status_report.rb
  lib/debt_management_center/responses/financial_status_report_response.rb
  spec/controllers/v0/financial_status_reports_controller_spec.rb
  spec/lib/debt_management_center/financial_status_report_downloader_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: tools-be-review

#7296 Api 8102/filter contestable issues by decision date
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/spec/controllers/v1/higher_level_reviews/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/controllers/v1/notice_of_disagreements/contestable_issues_controller_spec.rb
  spec/support/vcr_cassettes/caseflow/notice_of_disagreements/contestable_issues.yml
Labels: Lighthouse, appeals, tools-be-review

#7299 Api 8151/move nod v1 to v2
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#7279 Api 8006/nod schema rep name
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/nod_json_schema_swagger_helper.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/response_nod_create_error_422.json
  modules/appeals_api/app/swagger/appeals_api/v1/response_nod_create_error_500.json
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/config/schemas/v1/10182_headers.json
Labels: Lighthouse, appeals

#7309 Api 8264/slack auth borken
  modules/appeals_api/lib/appeals_api/sidekiq_retry_notifier.rb
  modules/appeals_api/spec/lib/sidekiq_retry_notifier_spec.rb
Labels: Lighthouse, appeals

#7283 Contact info update email
  app/models/old_email.rb
  app/models/transaction_notification.rb
  app/models/user.rb
  app/workers/va_notify_email_job.rb
  config/features.yml
  config/redis.yml
  config/settings.yml
  lib/va_profile/contact_information/service.rb
  lib/va_profile/contact_information/transaction_response.rb
  lib/va_profile/models/transaction.rb
  spec/jobs/va_notify_email_job_spec.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/lib/va_profile/contact_information/transaction_response_spec.rb
Labels: tools-be-review

#7306 Flipper - Adding new email prior to company email change on July 12th
  config/settings.yml
Labels: tools-be-review

#7312 [7311] Reducing number of queries that Flipper calls when the Feature…
  app/controllers/v0/feature_toggles_controller.rb
Labels: tools-be-review

#7317 automatically shut off endpoint if sunset date is defined
  modules/appeals_api/app/controllers/appeals_api/application_controller.rb
  modules/appeals_api/spec/controllers/application_controller_spec.rb
Labels: Lighthouse, appeals

#7051 [25292] TUD API Route Authentication
  modules/test_user_dashboard/app/controllers/test_user_dashboard/application_controller.rb
  modules/test_user_dashboard/spec/requests/tud_accounts_request_spec.rb
Labels: identity, identity-backend

#7237 [25158] updates TUD population to pull services from the test_users.csv file
  modules/test_user_dashboard/app/services/test_user_dashboard/create_test_user_account.rb
  modules/test_user_dashboard/spec/services/create_test_user_account_spec.rb
  modules/test_user_dashboard/spec/support/spec_users.csv
Labels: identity, identity-backend

#7318 API-8153 - Update v2 docs
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
Labels: Lighthouse, appeals

#7265 [API-7793] - ClaimsAPI add logic for finding Veteran ID
  config/locales/exceptions.en.yml
  lib/common/exceptions/validation_errors_bad_request.rb
  modules/claims_api/app/controllers/claims_api/v2/veteran_identifier_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/v2/params_validation/base.rb
  modules/claims_api/lib/claims_api/v2/params_validation/veteran_identifier.rb
  modules/claims_api/lib/claims_api/v2/params_validation/veteran_identifier/main.rb
  modules/claims_api/lib/claims_api/v2/params_validation/veteran_identifier/veteran_info.rb
  modules/claims_api/lib/claims_api/v2/params_validation/veteran_identifier/veteran_info_validator.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  spec/support/schemas/claims_api/errors/default.json
Labels: Lighthouse, tools-be-review

#7321 API-8103 - Sort contestable issues by approxDecisionDate
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/spec/controllers/v1/notice_of_disagreements/contestable_issues_controller_spec.rb
  spec/support/vcr_cassettes/caseflow/notice_of_disagreements/contestable_issues.yml
Labels: Lighthouse, appeals, tools-be-review

#7325 Final update
  modules/va_forms/lib/tasks/update_form_ranking.rake
Labels: Forms

#7328 adjustments to thresold and messages
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
  modules/appeals_api/lib/appeals_api/sidekiq_retry_notifier.rb
Labels: Lighthouse, appeals

#7307 Api 8152/deprecate v1 contestable issues
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
Labels: Lighthouse, appeals

#6910 Bump flipper gems to latest
  Gemfile
  Gemfile.lock
  config/application.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/registration_email_job_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_spec.rb
Labels: VAOS, ready, tools-be-review

#7324 26057 chip api harness
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/controllers/check_in/v0/patient_check_ins_controller.rb
  modules/check_in/app/services/chip_api/request.rb
  modules/check_in/app/services/chip_api/service.rb
  modules/check_in/spec/request/patient_check_ins_request_spec.rb
  modules/check_in/spec/services/chip_api/request_spec.rb
  modules/check_in/spec/services/chip_api/service_spec.rb
Labels: tools-be-review
