Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-08, with the labels that each got.

#7538 API-8800: Add Veteran to MPI if Veteran is authenticated and missing a participant_id
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse

#7520 upgrade statsd-instrument to 3.1.1
  Gemfile
  Gemfile.lock
  config/initializers/statsd.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/registration_email_job_spec.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/scheduled_batch_job_spec.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_spec.rb
  spec/lib/breakers/statsd_plugin_spec.rb
  spec/services/form1010cg/auditor_spec.rb
  spec/support/matchers/negated_matchers.rb
Labels: VAOS, mobile, tools-be-review

#7564 format request correctly, cassettes to match body
  lib/vetext/service.rb
  modules/mobile/spec/request/push_send_request_spec.rb
  spec/lib/vetext/service_spec.rb
  spec/support/vcr_cassettes/vetext/send_success.yml
Labels: mobile, tools-be-review

#7563 Add HLR v2 feature flag
  config/features.yml
Labels: VSA, feature flag, tools-be-review

#7528 Cris.shupp/benefits access web hooks
  app/models/webhooks/notification.rb
  app/models/webhooks/notification_attempt.rb
  app/models/webhooks/notification_attempt_assoc.rb
  app/models/webhooks/subscription.rb
  app/models/webhooks/utilities.rb
  app/workers/webhooks/callback_url_job.rb
  app/workers/webhooks/notifications_job.rb
  app/workers/webhooks/scheduler_job.rb
  config/settings.yml
  config/sidekiq_scheduler.yml
  lib/webhooks/registrations.rb
  lib/webhooks/utilities.rb
  modules/vba_documents/app/controllers/vba_documents/v1/uploads_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v2/reports_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/serializers/vba_documents/v2/upload_serializer.rb
  modules/vba_documents/app/workers/vba_documents/upload_scanner.rb
  modules/vba_documents/lib/vba_documents/console_utilities.rb
  modules/vba_documents/lib/vba_documents/webhooks_registrations.rb
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_bad_URL.json
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_duplicate_events.json
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_empty_array.json
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_missing_event.json
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_misspelled.json
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_not_JSON.json
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_not_https.json
  modules/vba_documents/spec/fixtures/subscriptions/invalid_subscription_unknown_event.json
  modules/vba_documents/spec/fixtures/subscriptions/subscriptions.json
  modules/vba_documents/spec/fixtures/subscriptions/subscriptions_multiple.json
  modules/vba_documents/spec/fixtures/subscriptions/webhook_subscriptions_schema.json
  modules/vba_documents/spec/request/v2/reports_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  spec/lib/webhooks/utilities_spec.rb
  spec/models/webhooks/notification_spec.rb
  spec/models/webhooks/subscription_spec.rb
  spec/models/webhooks/utilities_spec.rb
  spec/workers/webhooks/callback_url_job_spec.rb
  spec/workers/webhooks/job_tracking.rb
  spec/workers/webhooks/notifications_job_spec.rb
  spec/workers/webhooks/registrations.rb
  spec/workers/webhooks/scheduler_job_spec.rb
Labels: BenefitsIntake, tools-be-review

#7553 changes multiple birls ids error to a warning [26795]
  lib/saml/errors.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: tools-be-review

#7568 validate claim date
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7537 Add statsd logging to ch33 direct deposit api calls
  lib/bgs/service.rb
  spec/lib/bgs/service_spec.rb
Labels: tools-be-review

#7570 added new feature flips for check-in app
  config/features.yml
Labels: tools-be-review

#7569 NOD: Replace 00000 zipCode5 with internationalPostalCode, if present
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/valid_10182.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
Labels: Lighthouse, appeals

#7576 push mock date out
  spec/support/vcr_cassettes/bgs/intent_to_file_web_service/get_intent_to_file.yml
Labels: Lighthouse, tools-be-review

#7344 Switching Flipper over to using REDIS
  config/initializers/flipper.rb
Labels: tools-be-review

#7580 Add two log events for bgs
  lib/bgs/benefit_claim.rb
  lib/bgs/form686c.rb
  lib/bgs/vnp_veteran.rb
Labels: tools-be-review

#7566 Validate UUID
  modules/check_in/app/controllers/check_in/v0/patient_check_ins_controller.rb
  modules/check_in/app/docs/check_in/v0/check_in.yaml
  modules/check_in/app/models/check_in/patient_check_in.rb
  modules/check_in/app/services/chip_api/service.rb
  modules/check_in/spec/models/check_in/patient_check_in_spec.rb
  modules/check_in/spec/request/patient_check_ins_request_spec.rb
  modules/check_in/spec/services/chip_api/service_spec.rb
  spec/middleware/rack/attack_spec.rb
Labels: tools-be-review

#7579 allow vets to resume a 526 form when EVSS is not responding
  app/controllers/v0/disability_compensation_in_progress_forms_controller.rb
  spec/request/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
Labels: tools-be-review

#7565 Form 526 - always upcase militaryPostOfficeTypeCode
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: tools-be-review

#7533 fix sql for in_progress_forms.rake
  rakelib/in_progress_forms.rake
Labels: tools-be-review

#7584 Feature flag checking
  app/models/webhooks/utilities.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
Labels: BenefitsIntake, tools-be-review

#7582 27690 Change URL path for prod prep
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/services/chip_api/service.rb
  modules/check_in/app/services/chip_api/token.rb
  modules/check_in/spec/services/chip_api/request_spec.rb
  modules/check_in/spec/services/chip_api/service_spec.rb
Labels: tools-be-review

#7561 Access tokens in openid controller are hashed
  app/controllers/openid_application_controller.rb
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
  spec/controllers/openid_application_controller_spec.rb
  spec/support/okta_users_helpers.rb
Labels: Lighthouse, tools-be-review

#7583 update HLR v2 to receive internationalPostalCode
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/spec/fixtures/expected_200996_minimum_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
Labels: Lighthouse, appeals

#7578 timecop ahoy!
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  spec/support/vcr_cassettes/bgs/intent_to_file_web_service/get_intent_to_file.yml
Labels: Lighthouse, tools-be-review

#7586 Simplify HLRv2 Schema
  modules/appeals_api/app/swagger/appeals_api/v2/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v2/schemas/higher_level_reviews.rb
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
Labels: Lighthouse, appeals

#7592 28064 address subtle bug
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/services/chip_api/service.rb
  modules/check_in/app/services/chip_api/token.rb
  modules/check_in/spec/services/chip_api/request_spec.rb
  modules/check_in/spec/services/chip_api/service_spec.rb
  modules/check_in/spec/services/chip_api/token_spec.rb
Labels: tools-be-review

#7572 update key reference
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
Labels: Lighthouse, appeals

#7594 API-9114 - Remove conditional logic around HLR v2 stuff
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
Labels: Lighthouse, appeals

#7596 add sentry logging to confirm the pdf file exists in a few spots
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  modules/claims_api/lib/claims_api/vbms_uploader.rb
Labels: tools-be-review

#7601 28442 Debt resolution codeownership
  .github/CODEOWNERS
Labels: tools-be-review

#7602 Update key for veteran signature on FSR submission
  app/controllers/v0/financial_status_reports_controller.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/fixtures/dmc/fsr_submission.json
  spec/support/vcr_cassettes/dmc/submit_fsr.yml
Labels: tools-be-review

#7559 10203 Claim Processing - EVSS POA Removal
  app/models/saved_claim/education_benefits/va_10203.rb
  app/workers/education_form/process10203_submissions.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, tools-be-review

#7616 remove dashboard_show_dashboard_2 flag
  config/features.yml
Labels: tools-be-review

#7604 27514 update 686 root url in email
  config/locales/en.yml
Labels: tools-be-review

#7550 Api 8467 - rswag config
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
  spec/rswag_override.rb
  spec/swagger_helper.rb
Labels: Lighthouse, appeals, tools-be-review

#7599 Added facilities#show endpoint to vets-api new VAOS service implementation
  modules/vaos/app/controllers/vaos/v2/facilities_controller.rb
  modules/vaos/app/serializers/vaos/v2/facilities_serializer.rb
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/schemas_camelized/vaos/v2/get_facility.json
  spec/support/vcr_cassettes/vaos/v2/mobile_facility/get_facilities_400.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility/get_facilities_500.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facilities_single_id_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facility_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facility_400.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_facility_500.yml
Labels: VAOS, tools-be-review

#7612 API-9060: Only require birls for 526 and 0966 submission
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#7613 form526 alternate names must be unique
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: tools-be-review

#7615 Adding rake task
  modules/va_forms/lib/tasks/update_form_tags.rake
Labels: Forms

#7609 Added missing errors to /path
  modules/vba_documents/app/swagger/vba_documents/document_upload/failure_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v1/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v1/swagger_root.rb
  modules/vba_documents/app/swagger/vba_documents/v2/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v2/swagger_root.rb
Labels: BenefitsIntake

#7618 API-9173 Added Veteran Verification Metadata Controller
  modules/veteran_verification/app/controllers/veteran_verification/metadata_controller.rb
  modules/veteran_verification/config/routes.rb
  modules/veteran_verification/spec/requests/metadata_request_spec.rb
Labels: Lighthouse

#7621 28523 Revert "Toggle CG PDF facility data source by feature flag (#7429)"
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  lib/pcafc/facilities.rb
  lib/pdf_fill/forms/va1010cg.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/lib/pdf_fill/filler_spec.rb
  spec/request/caregivers_assistance_claims_request_spec.rb
  spec/support/vcr_cassettes/pcafc/get_facilities_with_cg_params.yml
Labels: tools-be-review

#7619 API-8467 - Add time zones json file
  modules/appeals_api/spec/support/time_zones.json
Labels: Lighthouse, appeals

#7625 Fix HLR VaNotify service call
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: Lighthouse, appeals

#7622 updates sanitzer to scrub va_eauth_gcIds
  lib/sentry/processor/pii_sanitizer.rb
  spec/lib/sentry/processor/pii_sanitizer_processor_spec.rb
Labels: identity, identity-backend, tools-be-review

#7577 Add new feature toggle for va_online_mobile_specific_menu
  config/features.yml
Labels: tools-be-review

#7605 Api 8467/rswag part 1
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/config/routes.rb
  modules/claims_api/README.md
Labels: Lighthouse, appeals

#7623 API-8467 - Add error schemas
  modules/appeals_api/spec/support/schemas/errors/404.json
  modules/appeals_api/spec/support/schemas/errors/default.json
  modules/appeals_api/spec/support/schemas/errors/not_json.json
  modules/appeals_api/spec/support/time_zones.json
Labels: Lighthouse, appeals

#7065 New VAOS - Record VCR Cassettes for put '/appointments/cancel/:id'
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/models/vaos/v2/cancel_form.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/models/v2/cancel_form_spec.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/cancel_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/cancel_appointments_500.yml
Labels: VAOS, tools-be-review

#7626 allowing any digit in the 3 digit area code
  modules/appeals_api/config/schemas/v2/200996.json
Labels: Lighthouse, appeals

#7629 API-8467 - Add additional schemas for rswag
  modules/appeals_api/spec/support/schemas/contestable_issue.json
  modules/appeals_api/spec/support/schemas/hlr_validate.json
Labels: Lighthouse, appeals

#7608 Mobile appointments error handling
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/spec/request/appointments_request_spec.rb
  modules/mobile/spec/support/schemas/appointments.json
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#7632 Update vets-json-schema version to include new HLR v2 schema
  Gemfile.lock
Labels: tools-be-review

#7556 Timecop freeze instead of Timecop travel to have expected timestamps
  modules/vba_documents/spec/models/upload_submission_spec.rb
Labels: BenefitsIntake

#7627 Remove Rolling unhashed access_token lookup
  app/controllers/openid_application_controller.rb
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
Labels: Lighthouse, tools-be-review

#7635 API-8467 - vcr_cassettes for hlr v2 rswag specs
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/bad_date.yml
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/not_found.yml
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/server_error.yml
Labels: Lighthouse, appeals, tools-be-review

#7607 API-8467 - part 2
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/state_codes.json
  rakelib/rswag.rake
  spec/swagger_helper.rb
Labels: Lighthouse, appeals, tools-be-review

#7643 Kmm improve ch31 logging add pid etc
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  lib/bgs/form674.rb
  modules/claims_api/lib/claims_api/vbms_uploader.rb
Labels: tools-be-review

#7542 7514 add ability to download dependent benefit letter
  app/models/user.rb
  app/models/user_relationship.rb
  app/swagger/swagger/schemas/letters.rb
  lib/evss/auth_headers.rb
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/docs/schemas/LettersInfo.yml
  spec/factories/users.rb
  spec/lib/evss/auth_headers_spec.rb
  spec/models/user_relationship_spec.rb
  spec/models/user_spec.rb
Labels: identity, identity-backend, mobile, tools-be-review

#7646 Direct Deposit: Temporarily disable direct deposit functionality on the backend
  app/policies/ch33_dd_policy.rb
  app/policies/ppiu_policy.rb
  config/features.yml
  lib/evss/ppiu/service.rb
  spec/lib/evss/ppiu/service_spec.rb
  spec/policies/ch33_dd_policy_spec.rb
  spec/policies/ppiu_policy_spec.rb
Labels: tools-be-review

#7648 raise caseflow timeout
  config/settings.yml
  spec/lib/caseflow/configuration_spec.rb
  spec/lib/decision_review/configuration_spec.rb
Labels: tools-be-review

#7653 Revert "Bump pundit from 2.1.0 to 2.1.1 (#7641)"
  Gemfile.lock
Labels: tools-be-review

#7624 API-9102: Submit BDD type disability claims
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: Lighthouse

#7562 28069 vaos service appointments param updates
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/models/vaos/v2/appointment_form.rb
  modules/vaos/app/serializers/vaos/v2/appointments_serializer.rb
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_multi_status_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_single_status_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_200.yml
Labels: VAOS, tools-be-review

#7637 Kevin.cranmer/api 8161 invalid part logging
  config/settings.yml
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/jobs/slack_notifier_spec.rb
  rakelib/docker_debugging.rake
Labels: BenefitsIntake, tools-be-review

#7633 [API-9010] - Adds EVSS validation checks for Form526 "homelessness" attributes
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7647 [API-9012] - Adds EVSS validation checks for Form526 "servicePay" attributes
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7664 rate-limit PPMS lookup to curb abuse
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: tools-be-review

#7660 [API-9014] - Adds EVSS validation checks for Form526 "disabilities.ratedDisabilityId"
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7659 Add feature toggle to manage vaos community care flow iterations
  config/features.yml
Labels: VAOS, tools-be-review

#7634 send ICN to vanotify if email isnt present
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/veteran.rb
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/models/veteran_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: Lighthouse, appeals

#7655 remove community care provider selection flag
  config/features.yml
Labels: tools-be-review

#7631 Kevin mark/api 8673 sha256 uploads
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/spec/fixtures/base_64
  modules/vba_documents/spec/fixtures/tiny.pdf
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
Labels: BenefitsIntake

#7657 Use setup-ruby bundle cache in danger action
  .github/workflows/danger.yml
Labels: tools-be-review

#7636 Api-8467 - rswag part 3
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#7669 Revert "rate-limit PPMS lookup to curb abuse (#7664)"
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: tools-be-review

#7676 API-8467 - Add additional hlr rswag examples
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#7677 API-8467 - refactoring rswag config
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#7667 28857 Adding CHIP API username to settings
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/services/chip_api/claims_token.rb
Labels: tools-be-review

#7650 22440 medical copay initial backend integration
  .github/CODEOWNERS
  app/controllers/v0/medical_copays_controller.rb
  app/policies/medical_copays_policy.rb
  app/services/medical_copays/request.rb
  app/services/medical_copays/vbs/invalid_vbs_request_error.rb
  app/services/medical_copays/vbs/request_data.rb
  app/services/medical_copays/vbs/response_data.rb
  app/services/medical_copays/vbs/service.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  spec/policies/medical_copays_policy_spec.rb
  spec/request/medical_copays_request_spec.rb
  spec/services/medical_copays/request_spec.rb
  spec/services/medical_copays/vbs/invalid_vbs_request_error_spec.rb
  spec/services/medical_copays/vbs/request_data_spec.rb
  spec/services/medical_copays/vbs/response_data_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
Labels: tools-be-review

#7678 API-8467 - rswag config refactor
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#7673 rate-limit PPMS lookup to curb abuse (REDUX)
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: tools-be-review

#7682 Adding some exception handling
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
Labels: BenefitsIntake

#7687 Bugfix - allow users to submit 526 when PPIU is disabled
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/factories/users.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: tools-be-review

#7681 28864 ch31 clear sip
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/controllers/v0/veteran_readiness_employment_claims_controller.rb
Labels: tools-be-review

#7693 add Jeff to daily report email
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: Lighthouse

#7670 API-9009: [Form526 EVSS Validations] - "serviceInformation.reservesNationalGuardService.title10Activation"
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7675 Mobile disability rating service change
  modules/mobile/app/controllers/mobile/v0/disability_rating_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/rating.rb
  modules/mobile/app/models/mobile/v0/individual_rating.rb
  modules/mobile/app/models/mobile/v0/rating.rb
  modules/mobile/app/serializers/mobile/v0/disability_rating_serializer.rb
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
  modules/mobile/config/locales/exceptions.en.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/DisabilityRating.yml
  modules/mobile/docs/schemas/IndividualDisabilityRatings.yml
  modules/mobile/spec/request/disability_rating_request_spec.rb
  modules/mobile/spec/support/schemas/disability_rating_response.json
  modules/mobile/spec/support/vcr_cassettes/profile/rated_disabilities.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rated_disabilities_400.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rated_disabilities_401.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rated_disabilities_403.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rated_disabilities_500.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rating_info.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rating_info_400.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rating_info_403.yml
  modules/mobile/spec/support/vcr_cassettes/profile/rating_info_500.yml
Labels: mobile

#7684 Add michael.pelz-sherman@gcio.com to flipper admin_user_emails.
  .gitignore
  config/settings.yml
Labels: tools-be-review

#7691 cleanup
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/spec/jobs/upload_processor_spec.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
Labels: BenefitsIntake

#7695 22440 Betamocks and Swagger
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/services/medical_copays/request.rb
  app/services/medical_copays/vbs/response_data.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  config/betamocks/services_config.yml
  config/settings.yml
  config/settings/test.yml
  spec/fixtures/medical_copays/index.json
  spec/request/swagger_spec.rb
  spec/services/medical_copays/request_spec.rb
  spec/services/medical_copays/vbs/response_data_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
  spec/support/medical_copays/stub_medical_copays.rb
Labels: tools-be-review

#7679 [28888] makes Vista Account Numbers available on User model
  app/models/user.rb
  lib/identity/parsers/gc_ids.rb
  lib/identity/parsers/gc_ids_constants.rb
  lib/mpi/models/mvi_profile_ids.rb
  lib/mpi/responses/profile_parser.rb
  spec/factories/mvi_profiles.rb
  spec/lib/identity/parsers/gc_ids_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/user_spec.rb
Labels: tools-be-review

#7707 API-9362 - v2 evidence_submissions
  modules/appeals_api/config/routes.rb
Labels: Lighthouse, appeals

#7704 HLRv2 and NOD schema updates
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/spec/fixtures/expected_200996_minimum_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/valid_200996_minimum_v2.json
  modules/appeals_api/spec/fixtures/valid_200996_v2.json
  modules/appeals_api/spec/models/higher_level_review/phone_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals

#7706 22440 adding fake url and host to vbs settings
  config/settings.yml
  spec/services/medical_copays/request_spec.rb
Labels: tools-be-review

#7703 224400 Enable throttling on GET route
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: tools-be-review

#7686 [API-9023] - ClaimsApi Forms526 "servicePay" schema clean up
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7702 add Michel McDonald to feature toggles
  config/settings.yml
Labels: tools-be-review

#7710 update rails to 6.1.4.1
  Gemfile
  Gemfile.lock
  modules/covid_research/covid_research.gemspec
  modules/test_user_dashboard/test_user_dashboard.gemspec
Labels: tools-be-review

#7656 Build and run tests from Docker in CI
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
  docker-entrypoint.sh
Labels: tools-be-review

#7714 22440 vista account numbers
  app/services/medical_copays/vbs/request_data.rb
  app/services/medical_copays/vista_account_numbers.rb
  spec/services/medical_copays/vbs/request_data_spec.rb
  spec/services/medical_copays/vista_account_numbers_spec.rb
Labels: tools-be-review

#7699 Appointment endpoints no longer use the FastJsonApi serializer
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/serializers/vaos/v2/vaos_serializer.rb
Labels: VAOS

#7685 Api 9107 service history gras integration
  app/models/emis_redis/military_information_v2.rb
  config/betamocks/services_config.yml
  lib/emis/military_information_service_v2.rb
  lib/emis/models/guard_reserve_service_period_v2.rb
  lib/emis/models/military_service_episode_v2.rb
  lib/emis/responses/get_guard_reserve_service_periods_response_v2.rb
  lib/emis/responses/get_military_service_episodes_response_v2.rb
  modules/veteran_verification/app/models/veteran_verification/service_history_episode.rb
  modules/veteran_verification/spec/models/service_history_episode_spec.rb
  modules/veteran_verification/spec/requests/v0/service_history_request_spec.rb
  modules/veteran_verification/spec/requests/v1/service_history_request_spec.rb
  spec/models/emis_redis/military_information_v2_spec.rb
  spec/support/schemas/service_and_deployment_history_response.json
  spec/support/vcr_cassettes/emis/get_guard_reserve_service_periods_v2/non_title_32.yml
  spec/support/vcr_cassettes/emis/get_guard_reserve_service_periods_v2/title_32.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/invalid_missing_pay_plan.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/reserve_episode_data.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/valid.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/valid_multiple_episodes.yml
  spec/support/vcr_cassettes/emis/get_military_service_episodes_v2/valid_multiple_episodes_end_date_null.yml
Labels: tools-be-review

#7719 Add rswag setup doc
  docs/setup/rswag_setup.md
Labels: Lighthouse, appeals, tools-be-review

#7721 1409 mobile appointment cancelled status detail
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/serializers/mobile/v0/appointment_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/spec/request/appointments_request_spec.rb
  modules/mobile/spec/support/schemas/appointments.json
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#7724 Add docker creds to pact redis service
  .github/workflows/pact.yml
Labels: tools-be-review

#7692 API-9260 - NOD rswag
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/nod_validate.json
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#7711 API-9011: [Form526 EVSS Validations] - "veteran.changeOfAddress"
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7698 Reactivate Direct Deposit only for loa3 id.me users
  app/policies/ch33_dd_policy.rb
  app/policies/ppiu_policy.rb
  lib/evss/ppiu/service.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/factories/users.rb
  spec/lib/evss/ppiu/service_spec.rb
  spec/policies/ch33_dd_policy_spec.rb
  spec/policies/ppiu_policy_spec.rb
  spec/request/ppiu_request_spec.rb
  spec/request/swagger_spec.rb
Labels: mobile, tools-be-review

#7723 22440 Cleanup
  .github/CODEOWNERS
  app/services/medical_copays/vista_account_numbers.rb
  app/swagger/swagger/requests/medical_copays.rb
  spec/services/medical_copays/vista_account_numbers_spec.rb
Labels: tools-be-review

#7726 [API-9017] - Updates Form526 "disabilityActionType" EVSS validations
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#7731 [Bugfix] Transliterate to acceptable centralmail characters
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/app/workers/concerns/appeals_api/character_utilities.rb
  modules/appeals_api/spec/workers/concerns/appeals_api/character_utilities_spec.rb
Labels: bug, Lighthouse, appeals

#7750 running upstream dependencies locally
  modules/claims_api/README.md
Labels: Lighthouse

#7762 PractitionerIds field causing an error on VA request submission
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: VAOS, be-review

#7743 API-9260- NOD Rswag
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#7709 Update EVSS post 911 gi bill status error handling
  lib/evss/gi_bill_status/gi_bill_status_response.rb
  spec/controllers/v0/post911_gi_bill_statuses_controller_spec.rb
  spec/support/vcr_cassettes/evss/gi_bill_status/vet_with_invalid_info.yml
Labels: tools-be-review

#7701 add rake task to test for old STI data
  rakelib/db_key_rotation.rake
Labels: tools-be-review

#7742 API-9015: [Form526 EVSS Validations] - "disabilities.classificationCode"
  Gemfile.lock
  lib/bgs/service.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, tools-be-review

#7644 [22732] changes missing edipi header to check for empty string
  app/workers/education_form/process10203_submissions.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: identity, identity-backend, tools-be-review

#7740 [API-9018] - Adds EVSS validations for "disabilities.approximateBeginDate" in a Form526 submission
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7766 [API-9022] - Adds EVSS validations for "treatments" in a Forms526 post
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7783 API-9260 - Rswag json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#7780 Migrate HcaAttachment records to align with inflections/ancronyms and STI
  rakelib/migrate_hca_inflection.rake
Labels: tools-be-review

#7771 Mpm/hlr v1 service
  .rubocop_todo.yml
  config/settings.yml
  lib/decision_review_v1/configuration.rb
  lib/decision_review_v1/service.rb
  lib/decision_review_v1/service_exception.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/support/vcr_cassettes/decision_review/HLR-CREATE-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-CREATE-RESPONSE-422_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-404_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-422_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-SHOW-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/HLR-SHOW-RESPONSE-404_V1.yml
Labels: tools-be-review

#7789 add rake task to delete stale/temp records
  rakelib/remove_va1995s_records.rake
Labels: tools-be-review

#7733 Update IAM user identity factories to have the correct sign_in response
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/support/iam_session_helper.rb
  spec/factories/iam_user_identities.rb
Labels: mobile, tools-be-review

#7790 API-9260 - Update rswag doc
  docs/setup/rswag_setup.md
Labels: Lighthouse, appeals, tools-be-review

#7730 1440 mobile appointments healthcare provider name
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/serializers/mobile/v0/appointment_serializer.rb
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/spec/request/appointments_request_spec.rb
  modules/mobile/spec/support/schemas/appointments.json
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#7777 28785 update faraday connection
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/services/chip_api/request.rb
  modules/check_in/spec/services/chip_api/request_spec.rb
Labels: tools-be-review

#7765 API-9152 static token validation support
  app/controllers/openid_application_controller.rb
  app/models/opaque_token.rb
  app/models/token.rb
  app/validators/token_util.rb
  config/settings.yml
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v2/validation_controller.rb
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
Labels: Lighthouse, tools-be-review

#7794 previous poa begin_dt missing
  modules/veteran/app/models/veteran/user.rb
Labels: Lighthouse
