Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-03, with the labels that each got.

#6005 API-5338 - Provide better error when v0 form2122 endpoints can't find POA
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
Labels: Lighthouse

#6022 [API-4808] - Do not require auth for claims api schema endpoints
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#6015 Feature flags for 526 subforms
  config/features.yml
Labels: VSA

#5991 Add `birls_ids_tried` Helper Methods to Form526Submission Model
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: VSA

#6018 Add AppealsApi::EvidenceSubmission
  db/schema.rb
  modules/appeals_api/db/migrate/20210225160010_create_evidence_submission.rb
Labels: Lighthouse, appeals, database-migration

#5932 Issuer Non-Dependent JWKs endpoint
  config/locales/exceptions.en.yml
  config/settings.yml
  lib/common/exceptions/open_id_service_error.rb
  lib/oidc/configuration.rb
  lib/oidc/key_service.rb
  lib/oidc/response.rb
  lib/oidc/service.rb
  lib/okta/response.rb
  lib/okta/service.rb
  modules/openid_auth/spec/requests/validation_request_spec.rb
  spec/support/vcr_cassettes/okta/metadata-bad.yml
  spec/support/vcr_cassettes/okta/metadata-no-jwks.yml
Labels: Lighthouse

#5996 replaces 'user.va_profile.address' with 'user.address' for User model
  app/models/form_profile.rb
  app/models/id_card_attributes.rb
  app/models/user.rb
  app/services/mhv_accounts_service.rb
  spec/models/form_profile_spec.rb
  spec/models/user_spec.rb
  spec/request/in_progress_forms_request_spec.rb
Labels: identity, identity-backend

#6033 adds idme_uuid column to tud_accounts table
  db/schema.rb
  modules/test_user_dashboard/db/migrate/20210226193901_add_idme_uuid_to_tud_accounts.rb
Labels: identity, identity-backend

#6049 [API-4124] - Fix bug when trying to raise exception for inability to va…
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
Labels: Lighthouse

#6060 API-5512: 500 response for 526 uploading supporting documents in sandbox
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#6045 Add cerner facility feature toggles
  config/features.yml
Labels: VSA

#6057 Fix NameError exception when running jobs
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
Labels: Lighthouse, appeals, bug

#6050 STEM AD: Remove program from automated denial process
  app/workers/education_form/process10203_submissions.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#6034 Notif changes for readability and performance
  modules/apps_api/README.md
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/apps_api/spec/lib/notification_service_spec.rb
Labels: Lighthouse

#6043 API-5382 Return service history as array type, add 401 status code
  modules/veteran_verification/VETERAN_VERIFICATION.yml
Labels: Lighthouse

#6040 Api 5225/evidence upload status endpoint
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/serializers/appeals_api/evidence_submission_serializer.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/factories/evidence_submissions.rb
  modules/appeals_api/spec/models/evidence_submission_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/serializers/evidence_submission_serializer_spec.rb
Labels: Lighthouse, appeals

#5986 API 5222 evidence document validation
  modules/appeals_api/app/services/appeals_api/file_validator.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/spec/fixtures/oversize_11x17.pdf
  modules/appeals_api/spec/fixtures/test_fake_pdf.pdf
  modules/appeals_api/spec/fixtures/test_incorrect_type.docx
  modules/appeals_api/spec/services/appeals_api/file_validator_spec.rb
Labels: Lighthouse, appeals

#6075 Test users list
  modules/test_user_dashboard/db/seeds/test_users.csv
Labels: identity, identity-backend

#6052 API-5473 - Updates to nod pdf
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/spec/fixtures/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/expected_10182_minimum.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/structure_spec.rb
Labels: Lighthouse, appeals

#6036 Add an Additional Test for PII Logging (DecisionReview::Service) (HLR)
  spec/lib/decision_review/service_spec.rb
  spec/support/vcr_cassettes/decision_review/HLR-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED.yml
Labels: VSA

#6062 STEM AD: Email Applicant 10203 Decision Ready #17770
  .rubocop.yml
  app/mailers/stem_applicant_denial_mailer.rb
  app/mailers/views/stem_applicant_denial.html.erb
  app/models/education_stem_automated_decision.rb
  app/workers/education_form/create10203_applicant_decision_letters.rb
  app/workers/education_form/process10203_submissions.rb
  app/workers/transactional_email_analytics_job.rb
  config/sidekiq_scheduler.yml
  spec/factories/education_stem_automated_decisions.rb
  spec/jobs/education_form/create10203_applicant_decision_letters_spec.rb
  spec/mailers/previews/stem_applicant_denial_mailer_preview.rb
  spec/mailers/stem_applicant_denial_mailer_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#6079 API-5521 - Move CentralMailUpdater into services
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
Labels: Lighthouse, appeals

#6094 Fix issue with EducationForm::Create10203ApplicantDecisionLetters sidekiq job
  app/workers/education_form/create10203_applicant_decision_letters.rb
  app/workers/education_form/process10203_submissions.rb
Labels: bah

#6096 makes standard and available ignored columns
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
Labels: identity, identity-backend

#6078 Test users rakefile
  rakelib/test_user_account.rake
Labels: identity, identity-backend

#6065 [API-5459 - Ensure 526 submission structure sent to evss is valid
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#6101 undefined method `push' for nil:NilClass
  modules/claims_api/app/controllers/claims_api/base_form_controller.rb
Labels: Lighthouse

#6020 Tud add services
  Dangerfile
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/create_test_user_account.rb
  modules/test_user_dashboard/spec/serializers/tud_account_serializer_spec.rb
  modules/test_user_dashboard/spec/services/create_test_user_account_spec.rb
  modules/test_user_dashboard/spec/support/spec_users.csv
Labels: identity, identity-backend

#6077 Mark.viterna/api 5481 add forms migration
  modules/va_forms/app/serializers/va_forms/form_detail_serializer.rb
  modules/va_forms/app/serializers/va_forms/form_list_serializer.rb
  modules/va_forms/app/swagger/va_forms/forms/form_swagger.rb
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/config/graphql_query.txt
  modules/va_forms/config/locales/en.yml
  modules/va_forms/spec/fixtures/gql_form.json
  modules/va_forms/spec/fixtures/gql_form_deleted.json
  spec/support/schemas/va_forms/form.json
  spec/support/schemas/va_forms/forms.json
  spec/support/schemas_camelized/va_forms/form.json
  spec/support/schemas_camelized/va_forms/forms.json
Labels: Forms

#6108 Adjust AppealsAPI Job Schedules
  config/sidekiq_scheduler.yml
Labels: Lighthouse, appeals

#6110 Update vets-json-schema
  Gemfile.lock
Labels: bah

#6103 API-5477: Creating alerts for claims not established within 24 hrs (sandbox) or one week (prod)
  Gemfile
  Gemfile.lock
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/claims_api/app/workers/claims_api/claim_auditor.rb
  modules/claims_api/spec/workers/claim_auditor_spec.rb
Labels: Lighthouse

#6123 Add Exception's Class Name to PII Log `error_class` Field (HLR)
  app/controllers/v0/higher_level_reviews/contestable_issues_controller.rb
  app/controllers/v0/higher_level_reviews_controller.rb
  spec/request/v0/higher_level_reviews_controller_request_spec.rb
Labels: VSA

#6114 [16582] Adding GCIDds parser class that leverages functionality from …
  lib/identity/parsers/gc_ids.rb
  lib/identity/parsers/gc_ids_constants.rb
  spec/lib/identity/parsers/gc_ids_spec.rb
Labels: identity, identity-backend

#6128 invalid cron
  config/sidekiq_scheduler.yml
Labels: Lighthouse

#6084 Updated scope method and extracted helper methods
  config/settings.yml
  lib/okta/directory_service.rb
  lib/okta/service.rb
  spec/lib/okta/directory_service_spec.rb
  spec/support/vcr_cassettes/okta/health_scopes.yml
  spec/support/vcr_cassettes/okta/invalid_scopes.yml
  spec/support/vcr_cassettes/okta/verification_scopes.yml
Labels: Lighthouse

#6125 Increase Breakers Error Threshold (DecisionReview Service)
  lib/decision_review/configuration.rb
Labels: VSA

#6141 AD: Applicant Denial email change claims status url from stage to staging
  app/mailers/stem_applicant_denial_mailer.rb
  spec/mailers/stem_applicant_denial_mailer_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#5837 update the documentation for oauth to refeerece new portal auth docs
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/veteran_verification/VETERAN_VERIFICATION.yml
Labels: Lighthouse

#6131 [API-5517] - Attempt to make from2122 active endpoints less confusing
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/forms/form_2122_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#6138 API-5651 Adjust retry attempts for email report jobs
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/spec/workers/decision_review_report_daily_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_weekly_spec.rb
Labels: Lighthouse, appeals

#6134 [16582] Adding helper functions for GC Ids parsing
  lib/identity/parsers/gc_ids.rb
  lib/identity/parsers/gc_ids_helper.rb
  spec/lib/identity/parsers/gc_ids_helper_spec.rb
Labels: identity, identity-backend

#6117 add encrypted file data to evidence_submissions
  db/schema.rb
  modules/appeals_api/db/migrate/20210309193554_add_meta_data_to_evidence_submissions.rb
Labels: Lighthouse, appeals, database-migration

#6153 Inflection Fix - Old-style Inflection in va_forms Migration
  modules/va_forms/db/migrate/20200817140442_add_form_details_url_to_va_forms.rb
Labels: VSA

#6056 Add basic upload endpoint
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/evidence_submissions_controller_spec.rb
Labels: Lighthouse, appeals

#6147 Removed feature flag for 10203 processing
  app/models/saved_claim/education_benefits/va_10203.rb
  app/workers/education_form/create10203_applicant_decision_letters.rb
  app/workers/education_form/create10203_spool_submissions_report.rb
  app/workers/education_form/process10203_submissions.rb
  config/sidekiq_scheduler.yml
  spec/jobs/education_form/create10203_applicant_decision_letters_spec.rb
  spec/jobs/education_form/create10203_spool_submissions_report_spec.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah-ir-needed, bah-qa-needed, database-migration

#6071 [16582] Refactor MPI GCIds parsing logic to live in a separate lib directory
  lib/mpi/responses/add_parser.rb
  lib/mpi/responses/historical_icn_parser.rb
  lib/mpi/responses/icn_with_aaid_parser.rb
  lib/mpi/responses/id_parser.rb
  lib/mpi/responses/parser_base.rb
  lib/mpi/responses/profile_parser.rb
  lib/saml/user_attributes/ssoe.rb
  lib/va_profile/person/service.rb
  rakelib/mvi.rake
  spec/lib/mpi/responses/icn_with_aaid_parser_spec.rb
  spec/lib/mpi/responses/id_parser_spec.rb
  spec/lib/mpi/responses/parser_base_spec.rb
Labels: identity, identity-backend

#6155 Added catch for opaque tokens.
  app/controllers/openid_application_controller.rb
  spec/controllers/openid_application_controller_spec.rb
Labels: Lighthouse

#6159 Add Some More Introspection Methods to exception_hash (FailedRequestLoggable)
  app/controllers/concerns/failed_request_loggable.rb
Labels: VSA

#6176 Update EducationStemAutomatedDecision to have email sent timestamps DB
  db/migrate/20210315162119_add_email_sent_at_to_education_stem_automated_decision.rb
  db/schema.rb
Labels: bah, database-migration

#6173 Update EducationStemAutomatedDecision to have email sent timestamps
  app/models/saved_claim/education_benefits/va_10203.rb
  app/workers/education_form/create10203_applicant_decision_letters.rb
  config/sidekiq_scheduler.yml
  spec/models/saved_claim/education_benefits/va10203_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#6171 [API-5536] - Update SpecialIssueUpdater worker to use simple arguments
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
  modules/claims_api/spec/workers/flash_updater_spec.rb
  modules/claims_api/spec/workers/special_issue_updater_spec.rb
Labels: Lighthouse

#6175 Add new users to config file
  config/settings.yml
Labels: bah

#6161 21460: Create feature flags to initiate errors
  config/features.yml
Labels: bah, bah-qa-needed

#6180 Audit quick fixes
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/forms/form_2122_response_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse

#5245 When a SubmitForm526 Job Fails, Try a Different BIRLS ID
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/form526_submission.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  spec/models/form526_submission_spec.rb
Labels: VSA

#6132 Api 5224/evidence submission temporary upload
  config/settings.yml
  modules/appeals_api/app/models/appeals_api/evidence_submission.rb
  modules/appeals_api/app/services/appeals_api/supporting_evidence/evidence_uploader.rb
  modules/appeals_api/app/services/appeals_api/supporting_evidence/temporary_storage_uploader.rb
  modules/appeals_api/spec/services/appeals_api/supporting_evidence/evidence_uploader_spec.rb
  modules/appeals_api/spec/services/appeals_api/supporting_evidence/temporary_storage_uploader_spec.rb
Labels: Lighthouse, appeals

#6185 Documentation update
  modules/apps_api/README.md
Labels: Lighthouse

#6160 Remove most direct user.mpi calls [#5411]
  lib/evss/disability_compensation_auth_headers.rb
  modules/health_quest/app/services/health_quest/jwt_wrapper.rb
  modules/vaos/app/models/vaos/appointment_form.rb
  modules/vaos/app/models/vaos/appointment_request_form.rb
  modules/vaos/app/services/vaos/jwt_wrapper.rb
Labels: identity, identity-backend

#5990 Api 4765/add slack notification for sidekiq retries
  config/initializers/sidekiq.rb
  config/settings.yml
  lib/sidekiq/monitored_worker.rb
  lib/sidekiq/retry_monitoring.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
  modules/appeals_api/lib/appeals_api/sidekiq_retry_notifier.rb
  modules/appeals_api/spec/lib/sidekiq_retry_notifier_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_monitored_worker.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_updater_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_pdf_submit_job_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_updater_spec.rb
  spec/lib/sidekiq/retry_monitoring_spec.rb
Labels: Lighthouse, appeals

#6144 API-5577 Add Legal Effective Date to Veteran Verification API
  modules/veteran_verification/VETERAN_VERIFICATION.yml
  modules/veteran_verification/app/models/veteran_verification/disability_rating.rb
  modules/veteran_verification/app/serializers/veteran_verification/disability_rating_serializer.rb
  modules/veteran_verification/spec/models/disability_rating_spec.rb
  spec/support/schemas/disability_rating_response.json
  spec/support/schemas_camelized/disability_rating_response.json
Labels: Lighthouse

#6202 Fix Uploader Bug For AWS S3 Objects (EVSSClaimDocumentUploader)
  app/uploaders/evss_claim_document_uploader.rb
Labels: VSA

#6044 Api 4960 - update statuses
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/nod_status.rb
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/swagger/appeals_api/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/higher_level_reviews.rb
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/models/concerns/appeals_api/hlr_status_spec.rb
  modules/appeals_api/spec/models/concerns/appeals_api/nod_status_spec.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
Labels: Lighthouse, appeals

#6187 create spool_file_events table
  db/migrate/20210317132241_create_spool_file_event.rb
  db/schema.rb
Labels: bah

#5923 Add Option For Printing BDD Stats Unredacted (form526 rake task)
  rakelib/form526.rake
Labels: VSA

#6210 NOD - Create Skeleton Controller
  app/controllers/v0/notice_of_disagreements_controller.rb
  spec/request/v0/notice_of_disagreements_controller_request_spec.rb
Labels: VSA

#6236 Reset 10203 sidekiq job schedule times
  config/sidekiq_scheduler.yml
  spec/jobs/education_form/process10203_submissions_spec.rb
Labels: bah

#6211 NOD - Add "Create NOD" Schema
  .rubocop.yml
  lib/decision_review/schemas/NOD_create_request_body_schema.json
  spec/fixtures/notice_of_disagreements/valid_NOD_create_request.json
  spec/lib/decision_review/schemas/NOD_create_request_body_schema_json_spec.rb
Labels: VSA

#6227 API-5445: Deploy updated Benefits Claims Documentation
  modules/claims_api/app/swagger/claims_api/description/v0.md
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/swagger_root.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger_root.rb
Labels: Lighthouse

#6169 SPOOL: Track spool file creation by RPO
  app/models/spool_file_event.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/process10203_submissions.rb
  spec/factories/spool_file_events.rb
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/models/spool_file_event_spec.rb
Labels: bah, bah-qa-needed

#6241 API-5780 Move weekly report to Sunday eve
  config/sidekiq_scheduler.yml
Labels: Lighthouse, appeals

#6212 NOD - Add "NOD Create/Show Response" Schema
  lib/decision_review/schemas.rb
  lib/decision_review/service.rb
  spec/fixtures/notice_of_disagreements/NOD_show_response_200.json
  spec/lib/decision_review/schemas_spec.rb
Labels: VSA

#6215 Removed gibct_state_search feature flag
  config/features.yml
Labels: bah

#6247 API-5917: Documentation example has a typo
  modules/claims_api/app/swagger/claims_api/forms/form_2122_example.json
Labels: Lighthouse

#6249 Add NOD feature flag
  config/features.yml
Labels: VSA

#6237 [API-5825] - Update documentation for v0 v1 headers
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
Labels: Lighthouse

#6213 NOD - Add "show NOD" Method to DecisionReview::Service
  lib/decision_review/service.rb
  spec/lib/decision_review/service_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-SHOW-RESPONSE-200.yml
  spec/support/vcr_cassettes/decision_review/NOD-SHOW-RESPONSE-404.yml
Labels: VSA

#6254 [API-5826] - Remove EDIPI header from claims api endpoints
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/spec/requests/document_validations_request_spec.rb
  modules/claims_api/spec/requests/v0/claims_request_spec.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#6264 Add socOptIn to NOD documentation
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/notice_of_disagreements.rb
Labels: Lighthouse, appeals

#6239 Remove swagger blocks related to Claimant - NOD
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
Labels: Lighthouse, appeals

#6273 API-5947: 2122 active endpoint issue when "previous poa" exists
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#6270 SPOOL: Create PagerDuty Alert
  .rubocop.yml
  app/workers/education_form/create_daily_spool_files.rb
Labels: bah

#6269 [API-5827] - Remove User Header from ClaimsAPI endpoints
  modules/claims_api/app/controllers/claims_api/application_controller.rb
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/spec/requests/document_validations_request_spec.rb
  modules/claims_api/spec/requests/v0/claims_request_spec.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse

#6245 Ignore Failed Submit Jobs When Kicking Off Next Jobs (Form526)
  app/models/form526_job_status.rb
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: VSA

#6286 Update vets-json-schema
  Gemfile.lock
Labels: bah

#6284 SPOOL: Slack logging notifications
  app/workers/education_form/create10203_applicant_decision_letters.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/process10203_submissions.rb
  config/features.yml
  config/settings.yml
  spec/jobs/education_form/create10203_applicant_decision_letters_spec.rb
  spec/jobs/education_form/create_daily_spool_files_spec.rb
Labels: bah

#6235 NOD - Add "Create NOD" Method to DecisionReview::Service
  lib/decision_review/service.rb
  spec/lib/decision_review/service_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-CREATE-RESPONSE-200.yml
  spec/support/vcr_cassettes/decision_review/NOD-CREATE-RESPONSE-422.yml
Labels: VSA

#6289 [API-5904] - Deprecate ClaimsApi "schema" and "validate" endpoints
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/endpoint_deprecation.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/form_526_controller_swagger.rb
  modules/claims_api/spec/concerns/claims_api/endpoint_deprecation_spec.rb
Labels: Lighthouse

#6256 API-5876: Restrict flashes schema to the outlined list
  modules/claims_api/app/swagger/claims_api/forms/form_526_response_swagger.rb
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#6336 SPOOL: Create notification for when spool file processing fails
  app/mailers/create_daily_spool_files_mailer.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/education_facility.rb
  config/features.yml
  config/settings.yml
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/mailers/create_daily_spool_files_mailer_spec.rb
Labels: bah, bah-ir-needed, bah-qa-needed

#6353 Update 0994 spool file
  app/workers/education_form/templates/0994.erb
  spec/fixtures/education_benefits_claims/0994/kitchen_sink.json
  spec/fixtures/education_benefits_claims/0994/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/0994/prefill.spl
  spec/fixtures/education_benefits_claims/0994/simple.spl
Labels: bah

#6267 NOD - Add "Show NOD" Route
  app/controllers/v0/notice_of_disagreements_controller.rb
  spec/lib/decision_review/service_spec.rb
  spec/request/v0/notice_of_disagreements_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-SHOW-RESPONSE-200.yml
Labels: VSA

#6206 removes redundant User getter methods [#5411]
  app/models/user.rb
  lib/evss/disability_compensation_auth_headers.rb
  modules/vaos/app/models/vaos/appointment_form.rb
  modules/vaos/app/models/vaos/appointment_request_form.rb
  modules/vaos/app/services/vaos/jwt_wrapper.rb
  spec/models/user_spec.rb
Labels: identity, identity-backend

#6317 NOD - Add "Get ContestableIssues" Schema
  lib/decision_review/schemas.rb
  lib/decision_review/schemas/NOD_contestable_issues_response_200_body_schema.json
  spec/fixtures/notice_of_disagreements/NOD_contestable_issues_response_200.json
  spec/lib/decision_review/schemas_spec.rb
Labels: VSA

#6268 NOD - Add "Create NOD" Route
  app/controllers/v0/notice_of_disagreements_controller.rb
  app/models/appeal_submission.rb
  spec/request/v0/notice_of_disagreements_controller_request_spec.rb
Labels: VSA

#6321 NOD - Add "Get NOD ContestableIssues" Method to DecisionReview::Service
  lib/decision_review/service.rb
  spec/lib/decision_review/service_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-404.yml
Labels: VSA

#6356 API-6017 - Add fields to evidence submissions table
  db/schema.rb
  modules/appeals_api/db/migrate/20210330170327_add_fields_to_evidence_submissions.rb
Labels: Lighthouse, appeals

#6328 NOD - Add "Get NOD ContestableIssues" Route
  app/controllers/v0/notice_of_disagreements/contestable_issues_controller.rb
  spec/request/v0/notice_of_disagreements/contestable_issues_controller_request_spec.rb
Labels: VSA
