Repository department-of-veterans-affairs/vets-api, pull requests merged in 2021-09, with the labels that each got.

#7793 remove old data from AsyncTransaction::Base subclass models that no longer exist
  rakelib/migrate_old_async_transaction_data.rake
Labels: tools-be-review

#7795 Mpm/hlr v1 controllers
  .rubocop_todo.yml
  app/controllers/appeals_base_controller_v1.rb
  app/controllers/v1/higher_level_reviews/contestable_issues_controller.rb
  app/controllers/v1/higher_level_reviews_controller.rb
  config/routes.rb
  spec/requests/v1/higher_level_reviews_controller_request_spec.rb
Labels: tools-be-review

#7791 Finish rspec test for GET /scheduling/configuration endpoint
  modules/vaos/spec/request/v2/scheduling_configurations_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_scheduling_configurations_200.yml
Labels: VAOS, be-review

#7767 29003 send to cmp when vbms is down for maintenance
  app/controllers/v0/veteran_readiness_employment_claims_controller.rb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/controllers/v0/veteran_readiness_employment_claims_controller_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
  spec/support/vcr_cassettes/vbms/document_upload_417.yml
Labels: tools-be-review

#7785 [7782] Adding specific id.me authn_context when generating a saml req…
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/saml/url_service.rb
  spec/controllers/v0/sessions_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: tools-be-review

#7808 Update disability rating adapter to support non service connected disabilities
  modules/mobile/app/models/mobile/v0/adapters/rating.rb
  modules/mobile/spec/request/disability_rating_request_spec.rb
  modules/mobile/spec/support/schemas/disability_rating_response.json
  modules/mobile/spec/support/vcr_cassettes/profile/rated_disabilities_mixed_service_connected.yml
Labels: mobile

#7301 Create Note for Dependents Application
  lib/bgs/form674.rb
  lib/bgs/form686c.rb
  lib/bgs/service.rb
  spec/lib/bgs/form674_spec.rb
  spec/lib/bgs/form686c_spec.rb
  spec/lib/bgs/service_spec.rb
  spec/support/vcr_cassettes/bgs/service/create_note.yml
Labels: VSA, tools-be-review

#7803 Inline disabling ThreadSafety/NewThread cop
  .rubocop_todo.yml
  spec/lib/common/client/middleware/request/remove_cookies_spec.rb
Labels: tools-be-review

#7700 STEM AD: Store remaining entitlement on 10203 submission for use in automated denial job
  app/models/saved_claim/education_benefits/va_10203.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/process10203_submissions.rb
  app/workers/education_form/send_school_certifying_officials_email.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
  spec/jobs/education_form/send_school_certifying_officials_email_spec.rb
Labels: bah, tools-be-review

#7797 29130 Lighthouse service changes
  config/settings.yml
  config/settings/test.yml
  modules/health_quest/app/services/health_quest/lighthouse/token.rb
  modules/health_quest/spec/services/lighthouse/token_spec.rb
Labels: tools-be-review

#7810 Dev 28208 include clinic name
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/cancel_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_system_service_500.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/systems/get_facility_clinics_200.yml
Labels: VAOS, tools-be-review

#7818 Update README.md
  README.md
Labels: tools-be-review

#7792 [API-9019] - Adds EVSS validations for "specialIssues" in Form526 submissions
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7807 Add me as flipper admin
  config/settings.yml
Labels: tools-be-review

#7815 28637 updates to clinic data logging Loki/Grafana
  modules/vaos/app/controllers/vaos/v0/clinics_controller.rb
  modules/vaos/app/controllers/vaos/v2/clinics_controller.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/request/v2/clinics_request_spec.rb
Labels: VAOS

#7804 [29564] Add logingov_uuid to accounts table
  db/migrate/20210901182619_add_logingov_uuid_to_accounts.rb
  db/schema.rb
Labels: tools-be-review

#7764 Track logins with account login stats
  app/controllers/concerns/accountable.rb
  app/models/account.rb
  app/models/account_login_stat.rb
  app/workers/after_login_job.rb
  spec/jobs/after_login_job_spec.rb
Labels: identity, identity-backend, tools-be-review

#7821 add desc
  rakelib/appeals_api_event_subscriber.rake
Labels: Lighthouse, appeals, tools-be-review

#7811 REVIEWABLE BUT DON'T MERGE UNTIL QA ON RI: 29448 686c/674 EP code increment issue
  app/mailers/dependents_application_failure_mailer.rb
  app/services/bgs/dependent_service.rb
  spec/mailers/dependents_application_failure_mailer_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: tools-be-review

#7744 [28722] removes v0 sessions_controller and related code
  app/controllers/v0/sessions_controller.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
  spec/requests/csrf_request_spec.rb
  spec/routing/sessions_routing_spec.rb
  spec/support/saml/saml_response_dslogon.xml
  spec/support/vcr_cassettes/complex_interaction/internal_interactions.yml
Labels: identity, identity-backend, tools-be-review

#7802 re-add Form526IncreaseOnly class
  app/models/saved_claim/disability_compensation/form526_increase_only.rb
Labels: tools-be-review

#7827 Fix email identifier key checks to actually pass sometimes
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: bug, Lighthouse, appeals

#7828 29619 set 686 to manual vagov when 674 exists
  lib/bgs/form686c.rb
  spec/factories/686c/form_686c_674.rb
  spec/jobs/bgs/job_spec.rb
  spec/jobs/bgs/submit_form674_job_spec.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/lib/bgs/children_spec.rb
  spec/lib/bgs/dependents_spec.rb
  spec/lib/bgs/form674_spec.rb
  spec/lib/bgs/form686c_spec.rb
  spec/lib/bgs/marriages_spec.rb
  spec/lib/bgs/student_school_spec.rb
  spec/lib/bgs/vnp_veteran_spec.rb
  spec/models/bgs_dependents/adult_child_attending_school_spec.rb
  spec/models/bgs_dependents/child_school_spec.rb
  spec/models/bgs_dependents/child_spec.rb
  spec/models/bgs_dependents/child_student_spec.rb
  spec/models/bgs_dependents/veteran_spec.rb
  spec/models/saved_claim/dependency_claim_spec.rb
Labels: tools-be-review

#7781 Va virtual agent 245
  app/controllers/v0/virtual_agent_token_controller.rb
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
Labels: tools-be-review

#7805 API-9020: [Form526 EVSS Validations] - "disabilities.secondaryDisabilities"
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/fixtures/form_526_json_api.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7756 [28725] Removing the SSO cookie that predates SSOe, and all session r…
  .rubocop_todo.yml
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/v1/sessions_controller.rb
  config/initializers/sso_encryptor.rb
  config/settings.yml
  rakelib/load_test.rake
  rakelib/support/cookies.rb
  rakelib/support/sessions_arg_serializer.rb
  rakelib/support/sessions_file_serializer.rb
  rakelib/support/sessions_serializer.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/rakelib/support/cookies_spec.rb
  spec/rakelib/support/sessions_arg_serializer_spec.rb
  spec/rakelib/support/sessions_file_serializer_spec.rb
Labels: tools-be-review

#7817 Lockbox db schema change
  db/migrate/20210902124948_migrate_to_lockbox.rb
  db/schema.rb
Labels: tools-be-review

#7796 1449 mobile log when an appointment's facility can not be found
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
Labels: mobile

#7628 Include v0/debts endpoint docs
  app/controllers/v0/apidocs_controller.rb
  spec/requests/swagger_spec.rb
Labels: tools-be-review

#7690 add explicit check to ppiu access
  app/models/form_profiles/va_0994.rb
  app/models/form_profiles/va_1990s.rb
  app/models/form_profiles/va_526ez.rb
  spec/models/form_profile_spec.rb
Labels: tools-be-review

#7326 526: Remove VA treatment end date
  app/swagger/swagger/schemas/form526/date_range.rb
  app/swagger/swagger/schemas/form526/form526_submit_v2.rb
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/support/disability_compensation_form/all_claims_evss_submission.json
Labels: blocked, tools-be-review

#7849 Fix date parsing when trying to send emails
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: Lighthouse, appeals

#7844 27858 adding settings for LoROTA and CHIP
  config/settings.yml
  config/settings/test.yml
Labels: tools-be-review

#7850 add length to form526 otherAtRiskHousing swagger
  app/swagger/swagger/schemas/form526/form526_submit_v2.rb
Labels: tools-be-review

#7100 Update docs
  docs/setup/native.md
Labels: tools-be-review

#7833 The new PPMS endpoint is at a new sub domain
  config/settings.yml
  modules/facilities_api/app/services/facilities_api/v1/ppms/configuration.rb
Labels: tools-be-review

#7823 [API-9699] - ClaimsApi - Accept "addressLine3" on Form526 submissions
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7824 [API-9701] - ClaimsApi - Make Form526 'applicationExpirationDate' optional
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7350 API-7796 Legacy appeals endpoint with caseflow service
  lib/caseflow/service.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  spec/support/vcr_cassettes/caseflow/legacy_appeals_get_by_file_number.yml
  spec/support/vcr_cassettes/caseflow/legacy_appeals_get_by_ssn.yml
  spec/support/vcr_cassettes/caseflow/legacy_appeals_no_veteran_record.yml
  spec/support/vcr_cassettes/caseflow/legacy_appeals_no_veteran_record_from_file_number.yml
  spec/support/vcr_cassettes/caseflow/veteran_no_legacy_appeals.yml
Labels: Lighthouse, appeals, tools-be-review

#7837 [API-9702] - ClaimsApi - Update "specialIssues" description docs
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#7846 WIP: added facility address to appointment endpoints
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/cancel_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_mobile_facility_service_500.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_200.yml
Labels: VAOS, tools-be-review

#7854 28637 logging refactor
  modules/vaos/app/controllers/vaos/v0/clinics_controller.rb
  modules/vaos/app/controllers/vaos/v2/clinics_controller.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/request/v2/clinics_request_spec.rb
Labels: VAOS

#7776 fixed bug with remover - added in vbms status and order/limit clause
  modules/vba_documents/app/workers/vba_documents/upload_remover.rb
Labels: BenefitsIntake

#7851 29025 adjust ch31 solo mailer for cmp case
  app/mailers/veteran_readiness_employment_mailer.rb
  app/mailers/views/veteran_readiness_employment.html.erb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/mailers/veteran_readiness_employment_mailer_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: tools-be-review

#7860 Fix mobile appointment id in missing facility logging
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
Labels: mobile

#7857 added feature flip for page toggle
  config/features.yml
Labels: tools-be-review

#7865 Revert "29025 adjust ch31 solo mailer for cmp case"
  app/mailers/veteran_readiness_employment_mailer.rb
  app/mailers/views/veteran_readiness_employment.html.erb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/mailers/veteran_readiness_employment_mailer_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: tools-be-review

#7855 [28722] removes v0 sessions_controller-related Flipper features
  config/features.yml
  spec/controllers/v0/feature_toggles_controller_spec.rb
Labels: identity, tools-be-review

#7866 remove attr_encrypted db rotation rake task
  rakelib/db_key_rotation.rake
Labels: tools-be-review

#7841 Swagger for HLR v1
  app/controllers/v1/apidocs_controller.rb
  app/swagger/swagger/v1/requests/appeals/appeals.rb
  app/swagger/swagger/v1/schemas/appeals/higher_level_review.rb
  app/swagger/swagger/v1/schemas/appeals/requests.rb
Labels: tools-be-review

#7870 Skip intermittent failing JWT wrapper spec
  modules/vaos/spec/services/jwt_wrapper_spec.rb
Labels: VAOS

#7375 Api 7548/legacy appeals documentation
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/legacy_appeals_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v2/schemas/legacy_appeals.rb
Labels: Lighthouse, appeals

#7864 [API-9700] - ClaimsApi - Improve "confinements" validation error message
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7868 [API-9871] - ClaimsApi - Fix Puma error when request body is too large
  modules/claims_api/app/controllers/concerns/claims_api/json_format_validation.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#7871 Encodes api session
  app/controllers/v0/virtual_agent_token_controller.rb
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
Labels: tools-be-review

#7858 Report on account login stats
  app/workers/account_login_statistics_job.rb
  config/sidekiq_scheduler.yml
  spec/jobs/account_login_statistics_job_spec.rb
Labels: identity-backend, tools-be-review

#7859 added new log line for mobile disability rating error details
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
Labels: mobile

#7874 29451 handle bdn downtime
  app/workers/bgs/job.rb
  app/workers/bgs/submit_form674_job.rb
  config/initializers/sidekiq.rb
  lib/down_time_checker.rb
  lib/middleware/sidekiq/only_run_while_up.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/lib/down_time_checker_spec.rb
  spec/middleware/sidekiq/only_run_while_up_spec.rb
  spec/rails_helper.rb
Labels: tools-be-review

#7886 bugfix: form 526 treatmentDateRange is optional
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: tools-be-review

#7880 [7879] Adding log when an SSOE user is authenticating from inbound wi…
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: tools-be-review

#7888 Revert "[28722] removes v0 sessions_controller-related Flipper features"
  config/features.yml
  spec/controllers/v0/feature_toggles_controller_spec.rb
Labels: tools-be-review

#7877 Update betamocks.md
  docs/setup/betamocks.md
Labels: tools-be-review

#7890 Update Sidekiq
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#7891 Remove websocket-extension version fix
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#7892 Gemfile: Unlock puma-plugin-statsd
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#7878 Add logging to account login stats
  app/controllers/concerns/accountable.rb
  spec/jobs/after_login_job_spec.rb
Labels: identity, identity-backend, tools-be-review

#7897 RuboCop: Disable pending cops
  .rubocop.yml
  app/controllers/v1/facilities/ccp_controller.rb
  app/models/emis_redis/military_information.rb
Labels: tools-be-review

#7720 Add new profile create_or_update APIs
  app/controllers/v0/profile/addresses_controller.rb
  app/controllers/v0/profile/email_addresses_controller.rb
  app/controllers/v0/profile/permissions_controller.rb
  app/controllers/v0/profile/telephones_controller.rb
  app/swagger/swagger/requests/profile.rb
  config/routes.rb
  lib/va_profile/contact_information/service.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/va_profile/address_request_spec.rb
  spec/requests/va_profile/email_address_request_spec.rb
  spec/requests/va_profile/permission_request_spec.rb
  spec/requests/va_profile/telephone_request_spec.rb
Labels: tools-be-review

#7893 Unlock and Update Flipper
  Gemfile
  Gemfile.lock
Labels: tools-be-review

#7906 Revert "29451 handle bdn downtime"
  app/workers/bgs/job.rb
  app/workers/bgs/submit_form674_job.rb
  config/initializers/sidekiq.rb
  lib/down_time_checker.rb
  lib/middleware/sidekiq/only_run_while_up.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/lib/down_time_checker_spec.rb
  spec/middleware/sidekiq/only_run_while_up_spec.rb
  spec/rails_helper.rb
Labels: tools-be-review

#7896 Remove HCA rake task
  rakelib/migrate_hca_inflection.rake
Labels: tools-be-review

#7845 Mark.viterna/api 9769 w hdocs
  modules/vba_documents/app/controllers/vba_documents/docs/v2/api_controller.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/webhook_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/webhook_example.json
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/webhook_response_example.json
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/webhook_response_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/webhook_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v2/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/swagger_root.rb
Labels: BenefitsIntake

#7899 Cleanup 526 uploads
  app/models/form526_submission.rb
  app/workers/evss/disability_compensation_form/submit_uploads.rb
Labels: tools-be-review

#7902 Fix failing time dependent test
  modules/vaos/spec/services/jwt_wrapper_spec.rb
Labels: VAOS, be-review

#7898 Fix PII sanitizer variable mutation
  lib/sentry/processor/pii_sanitizer.rb
  spec/lib/sentry/processor/pii_sanitizer_processor_spec.rb
Labels: tools-be-review

#7908 Add facilities_vet_center_automate_nearby feature flag
  config/features.yml
Labels: tools-be-review

#7697 EDU: Remove BAH accounts from code / applications
  app/mailers/spool_submissions_report_mailer.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/create_spool_submissions_report.rb
  config/settings.yml
  spec/mailers/create_daily_spool_files_mailer_spec.rb
  spec/mailers/spool10203_submissions_report_mailer_spec.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: bah, tools-be-review

#7917 29595 Add check_in config
  config/settings.yml
  config/settings/test.yml
Labels: tools-be-review

#7895 API-6342 - Update PII removal logic
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/remove_pii.rb
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
Labels: Lighthouse, appeals

#7856 [VRE 👍 ] 29552 Send comm preferences in VRE summary
  app/mailers/views/ch31_submissions_report.html.erb
  spec/fixtures/vre_claim/ch31_submissions_report.html
  spec/mailers/ch31_submissions_report_mailer_spec.rb
  spec/mailers/previews/ch31_submissions_report_mailer_preview.rb
Labels: tools-be-review

#7910 [part II] 29451 handle BDN downtime
  app/workers/bgs/job.rb
  app/workers/bgs/submit_form674_job.rb
  config/initializers/sidekiq.rb
  lib/down_time_checker.rb
  lib/sidekiq/downtime_checker_middleware.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/lib/down_time_checker_spec.rb
  spec/lib/sidekiq/downtime_checker_middleware_spec.rb
  spec/rails_helper.rb
Labels: tools-be-review

#7922 Update evidence submission upload docs
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: Lighthouse, appeals

#7912 [API-9746] - ClaimsApi - v0 store current poa code
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
Labels: Lighthouse

#7900 fall back to MPI for blank user attributes
  app/models/user.rb
  lib/evss/disability_compensation_auth_headers.rb
  spec/factories/users.rb
  spec/lib/evss/disability_compensation_auth_headers_spec.rb
  spec/models/user_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/orch_search_with_attributes.yml
Labels: tools-be-review

#7921 Mark.viterna/api 9539 swagger
  modules/vba_documents/app/swagger/vba_documents/v2/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/downloads.md
Labels: BenefitsIntake

#7920 1547 mobile appointments phone only flag
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/serializers/mobile/v0/appointment_serializer.rb
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/schemas/appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_phone_only.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#7925 make error report for veterans with PIF errors
  rakelib/form526.rake
Labels: tools-be-review

#7918 Update README.md
  README.md
Labels: tools-be-review

#7928 Update vets-json-schema for My Education Benefits
  Gemfile.lock
Labels: tools-be-review

#7923 add larger patient check-in team as codeowner
  .github/CODEOWNERS
Labels: tools-be-review

#7919 update mobile dd email logic
  modules/mobile/app/services/mobile/v0/payment_information/proxy.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
Labels: mobile

#7732 Add BGS flashes for Form 526
  app/models/form526_submission.rb
  app/models/saved_claim/disability_compensation.rb
  app/models/saved_claim/disability_compensation/form526_all_claim.rb
  app/workers/bgs/flash_updater.rb
  config/features.yml
  lib/bgs/disability_compensation_form_flashes.rb
  lib/evss/disability_compensation_form/form4142.rb
  spec/jobs/bgs/flash_updater_spec.rb
  spec/lib/bgs/disability_compensation_form_flashes_spec.rb
  spec/models/form526_submission_spec.rb
  spec/support/disability_compensation_form/submissions/526_bdd.json
  spec/support/disability_compensation_form/submissions/only_526.json
  spec/support/disability_compensation_form/submissions/with_uploads.json
Labels: tools-be-review

#7945 [30145] Fix issue where dslogon and myhealthevet were not passing the…
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: identity, identity-backend, tools-be-review

#7867 [VRE 👍 ] 29025 adjust ch31 solo mailer for cmp case
  app/mailers/veteran_readiness_employment_mailer.rb
  app/mailers/views/veteran_readiness_employment_cmp.html.erb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/mailers/veteran_readiness_employment_mailer_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: tools-be-review

#7911 API-9730: update legacy appeals docs to Rswag
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/spec/docs/v2/legacy_appeals_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/errors/422.json
  modules/appeals_api/spec/support/schemas/legacy_appeal.json
Labels: Lighthouse, appeals

#7930 updated appointment response to include full facility and updated cli…
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/schemas_camelized/vaos/v2/appointments.json
Labels: VAOS, be-review, tools-be-review

#7875 updated the query parameters on the get_patient_appointment_meta endp…
  modules/vaos/app/services/vaos/v2/patients_service.rb
  spec/support/vcr_cassettes/vaos/v2/patients/get_patient_appointment_metadata.yml
  spec/support/vcr_cassettes/vaos/v2/patients/get_patient_appointment_metadata_500.yml
Labels: VAOS, tools-be-review

#7946 Api 9408/contestable issues documentation rswag b
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  spec/support/vcr_cassettes/caseflow/contestable_issues/server_error.yml
Labels: Lighthouse, appeals, tools-be-review

#7816 Lockbox db key rotation
  Gemfile
  Gemfile.lock
  app/models/appeal_submission.rb
  app/models/async_transaction/base.rb
  app/models/education_stem_automated_decision.rb
  app/models/form526_submission.rb
  app/models/form_attachment.rb
  app/models/gibs_not_found_user.rb
  app/models/in_progress_form.rb
  app/models/persistent_attachment.rb
  app/models/saved_claim.rb
  config/initializers/lockbox.rb
  config/settings.yml
  lib/json_marshal/marshaller.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/app/models/concerns/claims_api/file_data.rb
  modules/covid_research/app/services/covid_research/volunteer/form_crypto_service.rb
  modules/covid_research/lib/redis_format.rb
  modules/covid_research/spec/fixtures/files/encrypted-form.json
  modules/covid_research/spec/redis_format_spec.rb
  modules/covid_research/spec/services/covid_research/volunteer/form_crypto_service_spec.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/expanded_registration_submission.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/registration_submission.rb
  modules/health_quest/app/models/health_quest/questionnaire_response.rb
  modules/veteran/app/models/veteran/service/representative.rb
  rakelib/lockbox_migration.rake
Labels: VAOS, tools-be-review

#7941 send 'unknown' if we don't know the gender for 526 headers
  lib/evss/disability_compensation_auth_headers.rb
  spec/lib/evss/disability_compensation_auth_headers_spec.rb
Labels: tools-be-review

#7931 Updating Dependents Application Previous Marriage Info
  app/models/bgs_dependents/marriage_history.rb
  lib/bgs/form686c.rb
  lib/bgs/marriages.rb
  spec/models/bgs_dependents/marriage_history_spec.rb
Labels: VSA, tools-be-review

#7955 added statsD entry for partial results to support tracking 207s from …
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
  modules/vaos/spec/services/middleware/vaos_logging_spec.rb
Labels: VAOS

#7953 [department-of-veterans-affairs/va-virtual-agent#246] Created new api…
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  config/routes.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/support/vcr_cassettes/evss/claims/claims_historical_compensation.yml
  spec/support/vcr_cassettes/evss/claims/claims_most_recent_dependent.yml
  spec/support/vcr_cassettes/evss/claims/claims_multiple_compensation_claims.yml
Labels: tools-be-review

#7944 capture va appontments reason, update models and docs
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/serializers/mobile/v0/appointment_serializer.rb
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_reason_for_visit.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#7949 added vetext service to breaker init
  config/initializers/breakers.rb
  lib/vetext/configuration.rb
  spec/lib/vetext/configuration_spec.rb
Labels: tools-be-review

#7948 Add feature flag for Legacy Appeals
  config/settings.yml
  config/settings/test.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
Labels: Lighthouse, appeals, tools-be-review

#7942 Return end product code in claims v2 detail call
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/services/bgs_to_lighthouse_claims_mapper_service_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: tools-be-review

#7957 add additional logging
  modules/mobile/app/controllers/mobile/v0/push_notifications_controller.rb
Labels: mobile

#7959 strip trailing whitespace in BGS flash updater, VA.gov and lighthouse
  app/workers/bgs/flash_updater.rb
  modules/claims_api/app/workers/claims_api/flash_updater.rb
  modules/claims_api/spec/workers/flash_updater_spec.rb
  spec/jobs/bgs/flash_updater_spec.rb
Labels: tools-be-review

#7956 29545 ppms new facility service endpoint controller
  config/features.yml
  config/initializers/statsd.rb
  modules/facilities_api/app/controllers/facilities_api/v1/ccp_controller.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/client.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/response.rb
  modules/facilities_api/spec/requests/facilities_api/v1/ccp_request_spec.rb
  modules/facilities_api/spec/services/facilities_api/v1/ppms/client_spec.rb
  spec/lib/facilities/ppms/v1/client_spec.rb
  spec/support/vcr_cassettes/facilities/ppms/ppms.yml
  spec/support/vcr_cassettes/facilities/ppms/ppms_empty_search.yml
Labels: tools-be-review

#7954 Add header schema files to new endpoints
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/config/schemas/v2/contestable_issues_headers.json
  modules/appeals_api/config/schemas/v2/legacy_appeals_headers.json
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
Labels: Lighthouse, appeals

#7958 log app sid
  lib/vetext/service.rb
Labels: tools-be-review

#7835 [7834] Relaxing uniqueness constraint on idme_uuid for Accounts table…
  app/models/account.rb
  spec/models/account_spec.rb
Labels: tools-be-review

#7916 [29949] updates TUD accounts from User object on login & logout
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/v1/sessions_controller.rb
  app/workers/after_login_job.rb
  app/workers/after_logout_job.rb
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/checkin_user.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/checkout_user.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/update_user.rb
  modules/test_user_dashboard/spec/services/checkin_user_spec.rb
  modules/test_user_dashboard/spec/services/checkout_user_spec.rb
  modules/test_user_dashboard/spec/services/update_user_spec.rb
  spec/jobs/after_login_job_spec.rb
  spec/jobs/after_logout_job_spec.rb
Labels: tools-be-review

#7963 sidekiq: add DeleteOldUploadsJob to scheduler
  config/sidekiq_scheduler.yml
Labels: tools-be-review

#7965 Form526 treatment start date bug fix
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: tools-be-review

#6542 rename misnamed files before sending to EVSS
  app/models/form_attachment.rb
  app/models/supporting_evidence_attachment.rb
  app/uploaders/convert_file_type.rb
  app/uploaders/evss_claim_document_uploader.rb
  app/uploaders/evss_claim_document_uploader_base.rb
  app/uploaders/supporting_evidence_attachment_uploader.rb
  app/workers/evss/disability_compensation_form/submit_uploads.rb
  spec/fixtures/files/sm_file1_actually_jpg.png
  spec/jobs/evss/disability_compensation_form/submit_uploads_spec.rb
  spec/uploaders/evss_claim_document_uploader_spec.rb
Labels: tools-be-review

#7966 add evss id to rake task
  rakelib/form526.rake
Labels: tools-be-review

#7962 Internal Server errors in vets-api
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/show_appointment.yml
Labels: VAOS, be-review, tools-be-review

#7970 add logging for when 686/674 rescues an exception
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
Labels: tools-be-review

#7971 Fix to parse old date format on email jobs until queue is cleared
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: bug, Lighthouse, appeals

#7915 API 9477 SSOi opaque token handler
  app/controllers/openid_application_controller.rb
  app/models/opaque_token.rb
  app/models/openid_user_identity.rb
  app/validators/token_util.rb
  config/settings.yml
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
  spec/models/openid_user_identity_spec.rb
Labels: Lighthouse, tools-be-review

#7951 Api 8915 - supplemental claims endpoint
  config/settings/test.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claim_serializer.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/valid_200995.json
  modules/appeals_api/spec/fixtures/valid_200995_headers.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals, tools-be-review

#7976 adjust message
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
Labels: tools-be-review

#7983 rswag changes
  modules/vba_documents/app/swagger/vba_documents/v1/swagger.json
  modules/vba_documents/app/swagger/vba_documents/v2/swagger.json
  modules/vba_documents/config/routes.rb
  modules/vba_documents/spec/doc/uploads_spec.rb
  modules/vba_documents/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: tools-be-review

#7982 Revert "API 9477 SSOi opaque token handler"
  app/controllers/openid_application_controller.rb
  app/models/opaque_token.rb
  app/models/openid_user_identity.rb
  app/validators/token_util.rb
  config/settings.yml
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
  spec/models/openid_user_identity_spec.rb
Labels: Lighthouse, tools-be-review

#7978 log BGS create_note response to t-shoot prod BGS notes issue
  lib/bgs/service.rb
Labels: tools-be-review

#7985 Error in olive_branch lib when X-Key-Inflection header is passed in during appointments show action
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/spec/request/appointments_request_spec.rb
Labels: VAOS, be-review

#7984 26827 update gemfile.lock
  Gemfile.lock
Labels: tools-be-review

#7977 VA Virtual Agent bot appeals api
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  config/routes.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeals_field_grant_status_type.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeals_inactive.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeals_inactive_comp.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeals_old_comp.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeals_unsorted_event_dates.yml
Labels: tools-be-review

#7973 update app list
  lib/statsd_middleware.rb
Labels: tools-be-review

#7981 add lockbox previous_master_key for rotation
  app/models/appeal_submission.rb
  app/models/application_record.rb
  app/models/async_transaction/base.rb
  app/models/education_stem_automated_decision.rb
  app/models/form526_submission.rb
  app/models/form_attachment.rb
  app/models/gibs_not_found_user.rb
  app/models/in_progress_form.rb
  app/models/persistent_attachment.rb
  app/models/saved_claim.rb
  config/settings.yml
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/models/claims_api/power_of_attorney.rb
  modules/claims_api/app/models/concerns/claims_api/file_data.rb
  modules/covid_research/app/services/covid_research/volunteer/form_crypto_service.rb
  modules/covid_research/spec/fixtures/files/encrypted-form.json
  modules/covid_vaccine/app/models/covid_vaccine/v0/expanded_registration_submission.rb
  modules/covid_vaccine/app/models/covid_vaccine/v0/registration_submission.rb
  modules/health_quest/app/models/health_quest/questionnaire_response.rb
  modules/veteran/app/models/veteran/service/representative.rb
Labels: tools-be-review

#7986 API 9477 SSOi opaque token handler""
  app/controllers/openid_application_controller.rb
  app/models/opaque_token.rb
  app/models/openid_user_identity.rb
  app/validators/token_util.rb
  config/settings.yml
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
  modules/veteran_verification/app/controllers/veteran_verification/application_controller.rb
  spec/models/openid_user_identity_spec.rb
Labels: Lighthouse, tools-be-review

#7975 30415 V2 Settings
  config/settings.yml
  config/settings/test.yml
Labels: tools-be-review

#7988 29965 Check-in module rack-attack
  config/initializers/rack_attack.rb
Labels: tools-be-review

#7991 Update source of IAMUser id
  app/models/iam_user.rb
  app/models/iam_user_identity.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/request/military_information_request_spec.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
Labels: mobile, tools-be-review

#7967 Rubocop thread safety class and module attributes
  .rubocop_todo.yml
  app/models/base_facility.rb
  lib/carma/models/base.rb
  lib/common/client/configuration/base.rb
  lib/common/models/redis_store.rb
  lib/saml/health_status.rb
Labels: tools-be-review

#7825 29577 logingov UUID validations accounts table
  app/controllers/concerns/accountable.rb
  app/models/account.rb
  app/models/user.rb
  app/models/user_identity.rb
  spec/factories/users.rb
  spec/models/account_spec.rb
Labels: tools-be-review

#7769 29421 remove saml settings service
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/application_controller.rb
  app/controllers/openid_application_controller.rb
  app/controllers/saml_controller.rb
  app/controllers/v1/sessions_controller.rb
  config/initializers/saml.rb
  config/routes.rb
  config/settings.yml
  docker-compose.test.yml
  docker-compose.yml
  lib/saml/health_status.rb
  lib/saml/post_url_service.rb
  lib/saml/settings_service.rb
  lib/saml/url_service.rb
  lib/saml/user.rb
  lib/saml/user_attributes/base.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/rubysaml_settings.rb
  spec/lib/saml/health_status_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/settings_service_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/lib/saml/url_service_spec.rb
  spec/requests/saml_metadata_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/saml/response_builder.rb
Labels: tools-be-review

#7992 add lockbox rotate rake task
  rakelib/lockbox_migration.rake
Labels: tools-be-review

#7989 another 526 troubleshooting rake task
  rakelib/form526.rake
Labels: tools-be-review

#7987 Log instances of multiple sec ids
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: identity, identity-backend, tools-be-review

#7990 Api 10053 - Rswag cleanup
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/errors/422.json
Labels: Lighthouse, appeals

#8001 Modify virtual agent appeal endpoint
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeal_type_is_appeal.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeal_type_is_higher_level_review.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeal_type_is_supplemental_claim.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/appeals_old_comp.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/recent_open_compensation_appeal.yml
Labels: tools-be-review

#8007 Mobile appointments fix hostname check in non-prod toggle
  modules/mobile/app/models/mobile/v0/appointment.rb
Labels: mobile

#8010 API-10318 - Remove legacy appeals docs from prod
  modules/appeals_api/app/swagger/appeals_api/v2/legacy_appeals_controller_swagger.rb
Labels: Lighthouse, appeals

#7996 Change schema name from 22-1990-MEB to 22-1990EZ
  Gemfile.lock
Labels: tools-be-review

#7997 Build & Push Image to ECR
  .github/workflows/build.yml
Labels: tools-be-review

#8019 adjust arg from string to exception object
  lib/bgs/service.rb
Labels: tools-be-review

#8011 Dev 20493 add logging for partials
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_spec.rb
  spec/support/vcr_cassettes/vaos/appointments/get_appointments_200_partial_error.yml
Labels: VAOS, tools-be-review
