Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-06, with the labels that each got.

#9954 update mobile appt request docs
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

#9969 added enum for refillStatus
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
Labels: mobile

#9970 API-15662 Fix data access crashes when PII is removed on status updates
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: bug, Lighthouse, appeals

#9973 [42171] Adding betamocks definitions for MPI search by idme_uuid and …
  config/betamocks/services_config.yml
Labels: console-services-review

#9972 [9966] Adding revoke_all route for signin controller to revoke all se…
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/constants/statsd.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/revoke_sessions_for_user.rb
  config/initializers/statsd.rb
  config/routes.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/revoke_sessions_for_user_spec.rb
Labels: console-services-review

#9977 Adjust HigherLevelReviewUploadStatusBatch throttling numbers
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
Labels: Lighthouse, appeals

#9979 3086: fix last page link and add additional tests
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
Labels: mobile

#9967 39075 - CDP - Add Engineers to Staging Flipper
  config/settings.yml
Labels: vsa-benefits-2, console-services-review

#9978 VACMS-8811: add feature flipper for new redesign of Homepage for user testing
  config/features.yml
Labels: console-services-review

#9981 API-15629 Consolidated model errors
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#9986 API-15629 Extract common validations into shared examples
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
Labels: bug, Lighthouse, appeals

#9989 AppealsApi: Extract duplicated method into base controller, add tests
  modules/appeals_api/app/controllers/appeals_api/application_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/spec/controllers/application_controller_spec.rb
Labels: Lighthouse, appeals

#9992 API-16565 SC validate endpoint and tests
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#9931 [41765] defaults force_authn to true
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, identity-backend, console-services-review

#9987 [9985] Adding ability to mock MPI Add Person Implicit Search with bet…
  config/betamocks/services_config.yml
Labels: console-services-review

#9729 37906 getProvider endpoint
  modules/vaos/app/controllers/vaos/v2/providers_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/serializers/vaos/v2/providers_serializer.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/mobile_ppms_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_400.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_500.yml
Labels: VAOS, console-services-review

#10001 [41765] restores inbound custom force_authn = false
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

#10003 API-16567 Claimant type handling Pt 1
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/fixtures/v2/valid_200995_minimum.json
Labels: Lighthouse, appeals

#10007 [API-16629] - ClaimsApi - Add developer hub config file
  modules/claims_api/catalog-info.yaml
Labels: Lighthouse

#10012 (feature) added new toggle for BAI
  config/features.yml
Labels: console-services-review

#10016 [Check-in] Add feature toggle for spanish translation disclaimer
  config/features.yml
Labels: console-services-review

#9994 Log response body to sentry when a mulesoft api error occurs
  lib/carma/client/mule_soft_client.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
Labels: console-services-review

#10014 Profile BAI Fix
  lib/va_profile/models/address.rb
  spec/lib/va_profile/models/address_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/delete_address_success.yml
  spec/support/vcr_cassettes/va_profile/contact_information/put_address_override.yml
Labels: console-services-review

#10015 [#000] Adding permissions for flipping FFs
  config/settings.yml
Labels: console-services-review

#10019 2995 API Integration Test Collection
  modules/mobile/docs/MobileAPI Integration Test Collection.postman_collection.json
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

#10020 10011 Add Client id to OAuthSessions
  db/migrate/20220608131919_add_client_id_oauth_sessions.rb
  db/schema.rb
Labels: console-services-review

#10009 [9988] Creating capability for a web client for sign-in service autho…
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/user_code_map.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/user_creator.rb
  config/initializers/statsd.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/user_code_map_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/logger_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10027 Add check in experience telephone appointment feature toggle
  config/features.yml
Labels: console-services-review

#10030 HLR v2 zip code5 schema cleanup
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200996.json
Labels: Lighthouse, appeals

#10025 API-16565 Update SC documentation
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/v2/valid_200995_minimum.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/schemas/sc_validate.json
Labels: Lighthouse, appeals

#10028 [42625] removes type parameter from being filtered
  config/initializers/filter_parameter_logging.rb
Labels: identity, identity-backend, console-services-review

#10021 10011 sign in service complete web interface
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/sign_in/application_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/o_auth_session.rb
  app/models/sign_in/session_container.rb
  app/models/sign_in/validated_credential.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/client_config.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/token_serializer.rb
  config/settings.yml
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/session_containers.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/models/sign_in/session_container_spec.rb
  spec/models/sign_in/validated_credential_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/token_serializer_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10026 Update VAOS v2 swagger file, appointment reason code
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
Labels: VAOS

#10024 10011 oauth session client id not nullable
  db/migrate/20220609131439_change_oauth_sessions_client_id_null_false.rb
  db/schema.rb
Labels: console-services-review

#9957 exhausted email notification
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/form526_submission_failed_email_job.rb
  config/features.yml
Labels: console-services-review

#10031 Fix HCA::LogEmailDiffJob nil user error
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/workers/hca/log_email_diff_job.rb
  spec/jobs/hca/log_email_diff_job_spec.rb
  spec/requests/in_progress_forms_request_spec.rb
Labels: console-services-review

#9996 adjusted rate limit from 3 to 8
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: console-services-review

#10017 [42523] makes verify routes force_authn = false
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

#10037 Api 16002 nod namespace routes
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#10029 Update onsite notification specs
  spec/controllers/v0/onsite_notifications_controller_spec.rb
Labels: console-services-review

#10035 40652 Adding load test host ip to rack_attack safelist to skip throttling
  config/initializers/rack_attack.rb
Labels: console-services-review

#10041 41653 Add generation for 5655 PDF form
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/5655.pdf
  lib/pdf_fill/forms/va5655.rb
  spec/fixtures/pdf_fill/5655/kitchen_sink.json
  spec/fixtures/pdf_fill/5655/kitchen_sink.pdf
  spec/fixtures/pdf_fill/5655/overflow.json
  spec/fixtures/pdf_fill/5655/overflow.pdf
  spec/fixtures/pdf_fill/5655/overflow_extras.pdf
  spec/fixtures/pdf_fill/5655/simple.json
  spec/fixtures/pdf_fill/5655/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: console-services-review

#10040 API-16001 hlr namespaced routes
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals

#10050 40393 Deprecating check_in_experience_refresh_pre_checkin feature flag
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#10044 Add Authentication For Sign In Service Arbitrary Routes
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/concerns/instrumentation.rb
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v1/sessions_controller.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/token_serializer.rb
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

#10062 API-16909 Remove forced throttling for HLR batch status uploads
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
Labels: Lighthouse, appeals

#10059 Add sorting to service history episodes
  lib/va_profile/military_personnel/service_history_response.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/requests/service_history_request_spec.rb
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_histories_200.yml
Labels: console-services-review

#10055 Make the VAOS V2 swagger file available via HTTP
  modules/vaos/app/controllers/vaos/v2/apidocs_controller.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/apidocs_request_spec.rb
Labels: VAOS

#10053 Update features.yml
  config/features.yml
Labels: console-services-review

#10061 new refill statuses to docs
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
Labels: mobile

#10052 API-16751 Fix weekly report totals
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_batch.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
Labels: bug, Lighthouse, appeals

#10047 API-16003 SC versioned namespace routes
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#10057 adds my_va_redirect flipper feature
  config/features.yml
Labels: console-services-review

#10054 2970 prescription tracking
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescription_tracking_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionTracking.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription_tracking.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_tracking_for_a_prescription.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_tracking_with_empty_other_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/tracking_error_id.yml
Labels: mobile

#10058 splits postal/zip codes to retrieve suffixes
  Gemfile.lock
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

#10064 VACMS-9076: adds pw_ehr_cta_drupal_source_of_truth feature flipper
  config/features.yml
Labels: console-services-review

#10066 Clean up redundant fields in Provider endpoint
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/serializers/vaos/v2/providers_serializer.rb
Labels: VAOS

#10068 Update specs so that they use mulesoft VCR Cassettes
  spec/fixtures/carma/10-10CG_f6056cff-d4cb-4058-8fb0-42296e12698f.pdf
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/mulesoft/addDocument.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
Labels: console-services-review

#10051 42131 Add debt type indicator to FSR form
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

#10056 Mobile Direct Schedule: tentative documentation
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/ClinicSlots.yml
  modules/mobile/docs/schemas/CreateAppointmentDirect.yml
  modules/mobile/docs/schemas/FacilityClinic.yml
  modules/mobile/docs/schemas/FacilityClinics.yml
  modules/mobile/docs/schemas/Slot.yml
Labels: mobile

#10065 mobile: add filtering to boolean rx fields
  app/models/prescription.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_a_list_of_all_prescriptions.yml
Labels: mobile, console-services-review

#9971 Allow TimeZone for claimDate
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, claims_api

#9947 API-16254: 526 homelessness validations
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/lib/claims_api/homelessness_risk_situation_type_mapper.rb
  modules/claims_api/spec/lib/claims_api/homelessness_risk_situation_type_mapper_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse, claims_api

#10067 API-16410: Claims Slackbot updates
  config/sidekiq_scheduler.yml
  modules/claims_api/app/workers/claims_api/claim_auditor.rb
Labels: Lighthouse, console-services-review, claims_api

#10072 [API-16942] - ClaimsApi - Add docs for 526 "separationLocationCode"
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse, claims_api

#10078 Deprecating pre_check_in status set feature flag
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#10071 3265 sis application controller
  app/controllers/concerns/sign_in/instrumentation.rb
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
Labels: mobile, console-services-review

#10082 42857 enable rails cache for review env
  docker-compose.review.yml
Labels: console-services-review

#10079 VA Notify #300: Ch31 Email Confirmation Trigger
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  config/features.yml
  config/settings.yml
  spec/jobs/vre/submit1900_job_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: console-services-review

#10076 [42907] auth_broker attribute for sign_in object
  app/models/iam_user_identity.rb
  app/services/sign_in/constants/auth.rb
  app/services/users/profile.rb
  lib/saml/url_service.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/factories/iam_user_identities.rb
  spec/factories/iam_users.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

#10060 API-16004 shared schemas route
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/shared_schemas/v1/address.json
  modules/appeals_api/config/shared_schemas/v1/date.json
  modules/appeals_api/config/shared_schemas/v1/non_blank_string.json
  modules/appeals_api/config/shared_schemas/v1/phone.json
  modules/appeals_api/config/shared_schemas/v1/timezone.json
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
Labels: Lighthouse, appeals

#10090 [42312] Adding new classes for sign in service up levelling
  app/models/sign_in/credential_level.rb
  app/models/sign_in/state_payload.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/state_payload_jwt_decoder.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  config/initializers/loa.rb
  spec/factories/sign_in/credential_levels.rb
  spec/factories/sign_in/state_payloads.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
Labels: console-services-review

#10092 42658 Add initial config for VBS FSR endpoint
  lib/debt_management_center/vbs/request.rb
  spec/lib/debt_management_center/vbs/request_spec.rb
Labels: console-services-review

#10083 Mobile - add direct schedule clinic endpoint
  modules/mobile/app/controllers/mobile/v0/clinics_controller.rb
  modules/mobile/app/serializers/mobile/v0/clinics_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/clinics_request_spec.rb
  modules/mobile/spec/support/schemas/clinic.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_facility_id_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_service_400.yml
Labels: mobile

#10104 mobile: va eligibility: add a couple of missed types of service
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

#10091 [42312] Adding the ability to uplevel authentications with the sign i…
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/constants/access_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  config/redis.yml
  config/routes.rb
  config/settings.yml
  lib/inherited_proofing/jwt_decoder.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/lib/inherited_proofing/jwt_decoder_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10097 [10094] Add ability to retrieve Account record from UserAccount uuid
  app/models/account.rb
  rakelib/form526.rake
  spec/models/account_spec.rb
Labels: console-services-review

#10099 [10098] Adding logout route for sign in service
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/constants/statsd.rb
  app/services/sign_in/session_revoker.rb
  config/initializers/statsd.rb
  config/routes.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/services/sign_in/session_revoker_spec.rb
Labels: console-services-review

#10103 replace id with uuid so code plays nice with base user model
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
Labels: mobile

#10080 Api 16757 email report percentage issue
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/fixtures/form_526_no_flashes_no_special_issues.json
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/spec_helper.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
Labels: Lighthouse, claimsApi

#10107 allow multiple filter values
  lib/common/models/collection.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/prescriptions_request_spec.rb
Labels: mobile, console-services-review

#10131 [41350] Adds Notice of Disagreement to the Decision Review V1 Service
  Gemfile.lock
  lib/decision_review_v1/service.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-CREATE-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-CREATE-RESPONSE-422_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200-MALFORMED_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-CONTESTABLE-ISSUES-RESPONSE-404_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-URL-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-URL-404_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-PUT-UPLOAD-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-SHOW-RESPONSE-200_V1.yml
  spec/support/vcr_cassettes/decision_review/NOD-SHOW-RESPONSE-404_V1.yml
Labels: console-services-review

#10133 add prescription to authorized services
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile

#10126 API-17012: Clean up Slack Alerts for Benefits Intake API
  config/settings.yml
  modules/vba_documents/app/models/vba_documents/git_items.rb
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/spec/fixtures/git_items_benefits.json
  modules/vba_documents/spec/jobs/deployments_notifier_spec.rb
  modules/vba_documents/spec/jobs/slack_notifier_spec.rb
  modules/vba_documents/spec/models/git_items_spec.rb
Labels: console-services-review

#10125 [43342] Add mocking for mpi add user calls for id.me
  config/betamocks/services_config.yml
Labels: console-services-review

#10106 API-17067 Fix 500 errors when parsing invalid dates
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
Labels: Lighthouse, appeals

#10109 2929 request appointment logging metrics
  modules/mobile/app/controllers/mobile/v0/community_care_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/spec/request/community_care_eligibility_request_spec.rb
Labels: mobile

#10086 Removed feature flag for check-in insurance page.
  config/features.yml
Labels: console-services-review

#10005 API-16226: OAS copy edits for Claims v2
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/veteran_identifier/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/veteran_identifier/veteran_info_validator.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review

#10096 API-16195 Update "Complete" status description; misc doc updates
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: Lighthouse, appeals

#10142 [10141] Migration to add user_account.uuid to InProgressForms
  db/migrate/20220628222858_add_user_account_uuid_to_in_progress_forms.rb
  db/schema.rb
Labels: console-services-review

#10105 3265 direct appointment scheduling
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/spec/request/appointments_create_request_request_spec.rb
  modules/mobile/spec/request/appointments_create_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_cc_200_2222022.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_proposed_clinic_200.yml
Labels: mobile

#10128 [Check-in] Remove unused feature toggles
  config/features.yml
Labels: console-services-review

#10154 [10152] Setting common name field on the user object
  app/models/user.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/lib/bgs/service_spec.rb
  spec/models/bank_name_spec.rb
  spec/models/user_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/bgs/base_service_spec.rb
Labels: console-services-review

#10145 [41350] Adds Notice of Disagreement V1 Route + Controllers
  app/controllers/v1/apidocs_controller.rb
  app/controllers/v1/notice_of_disagreements/contestable_issues_controller.rb
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/swagger/swagger/v1/requests/appeals/appeals.rb
  app/swagger/swagger/v1/schemas/appeals/notice_of_disagreement.rb
  config/routes.rb
  spec/fixtures/notice_of_disagreements/NOD_contestable_issues_response_200_V1.json
  spec/fixtures/notice_of_disagreements/NOD_show_response_200_V1.json
  spec/fixtures/notice_of_disagreements/valid_NOD_create_request_V1.json
  spec/requests/v1/notice_of_disagreements/contestable_issues_controller_request_spec.rb
  spec/requests/v1/notice_of_disagreements_controller_request_spec.rb
Labels: console-services-review

#10163 Rename vsa-bam-1- to benefits-team-1-
  .github/CODEOWNERS
Labels: console-services-review

#10143 10141 add user account UUID to new in progress forms
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/workers/bgs/job.rb
  spec/jobs/bgs/job_spec.rb
Labels: console-services-review

#10166 3265 direct appointment scheduling redo
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/spec/request/appointments_create_request_request_spec.rb
  modules/mobile/spec/request/appointments_create_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_cc_200_2222022.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/post_appointments_va_proposed_clinic_200.yml
Labels: mobile

#10139 Remove links
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#10108 40390 Deprecating lorota 401 mapping feature flag
  config/features.yml
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: console-services-review

#10159 Added va_online_scheduling_clinic_location feature flag
  config/features.yml
Labels: console-services-review
