Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-08, with the labels that each got.

#10358 [API-17776] - ClaimsApi - Fix "VbmsUpdater" logging
  modules/claims_api/app/workers/claims_api/vbms_updater.rb
Labels: Lighthouse, claimsApi

#10361 (chore) updated my email
  config/settings.yml
Labels: console-services-review

#10243 Delete stale branches workflow
  .github/workflows/delete_stale_branches.yml
Labels: console-services-review

#10370 10-10EZ HCA application - added feature flag
  config/features.yml
Labels: console-services-review

#10364 Cast claimDate as DateTime object
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: Lighthouse, claimsApi

#10308 Add New ToE (1990E) App
  app/models/form_profile.rb
  app/models/form_profiles/va_1990emeb.rb
Labels: console-services-review

#10285 1095 b text form
  app/controllers/v0/form1095_bs_controller.rb
  app/models/form1095_b.rb
  config/routes.rb
  lib/form1095_b/templates/pdfs/1095b-2021.pdf
  lib/form1095_b/templates/txts/1095b-2021.txt
  lib/pdf_fill/forms/pdfs/f1095bs/1095b-2021.pdf
  spec/models/form1095_b_spec.rb
  spec/requests/form1095_b_spec.rb
Labels: console-services-review, 1095b

#10355 [10264] Adding ability to auto-uplevel MHV premium accounts
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

#10369 forms controller/services/configuration
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/forms/configuration/configuration.rb
  modules/meb_api/lib/dgi/forms/configuration/letter_configuration.rb
  modules/meb_api/lib/dgi/forms/response/claimant_info_response.rb
  modules/meb_api/lib/dgi/forms/response/sponsor_response.rb
  modules/meb_api/lib/dgi/forms/service/claimant_info_service.rb
  modules/meb_api/lib/dgi/forms/service/letter_service.rb
  modules/meb_api/lib/dgi/forms/service/sponsor_service.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/claimant_info_spec.rb
  modules/meb_api/spec/dgi/forms/service/sponsor_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  spec/support/vcr_cassettes/dgi/forms/claimant_info.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_status.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_fry_dea.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_toes.yml
Labels: console-services-review

#10377 Add Nathaniel Buck to Flipper Admins
  config/settings.yml
Labels: console-services-review

#10349 Add grafana & sentry links to catalog-info.yaml for vets-api
  catalog-info.yaml
Labels: console-services-review

#10380 Bypass sorting when no episodes
  lib/va_profile/military_personnel/service_history_response.rb
  spec/requests/service_history_request_spec.rb
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_200_empty.yml
Labels: console-services-review

#10382 Fixing BGS job salvage save error
  app/workers/bgs/job.rb
  spec/jobs/bgs/job_spec.rb
Labels: console-services-review

#10387 Add onsite notification template
  config/settings.yml
  spec/models/onsite_notification_spec.rb
Labels: console-services-review

#10381 44610 legacy appeals
  app/controllers/v1/supplemental_claims/contestable_issues_controller.rb
  lib/decision_review_v1/service.rb
Labels: console-services-review

#10386 Update errors and add some logging
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse, claimsApi

#10360 API-18166 Add attributes to claim status v2 services
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#10312 Api 17762 poa email report
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_poa_errors_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_poa_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/lib/claims_api/cid_mapper.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/models/power_of_attorney_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: Lighthouse, console-services-review, claimsApi

#10379 DHP-284 Add settings for DHP store token feature
  config/settings.yml
Labels: console-services-review

#10388 Add feature toggle for Medicare claim number
  config/features.yml
Labels: console-services-review

#10390 Mobile: Update documentation for reason code, merge reason code description f…
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentDirect.yml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/docs/schemas/ReasonCode.yml
  modules/mobile/docs/schemas/ReasonCodeDirect.yml
Labels: mobile

#10222 DHP 284 Store tokens in s3
  modules/dhp_connected_devices/.gitignore
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit/fitbit_controller.rb
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/services/fitbit_service.rb
  modules/dhp_connected_devices/app/services/token_storage_service.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/lib/fitbit/client.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/lib/fitbit_client_spec.rb
  modules/dhp_connected_devices/spec/rails_helper.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/fitbit_service_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/token_storage_service_spec.rb
Labels: console-services-review

#10289 [44162] fix load_user functionality for SiS
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/concerns/sign_in/authentication.rb
  spec/controllers/sign_in/application_controller_spec.rb
Labels: identity, identity-backend, console-services-review

#10392 [10375] Adding redirect to sign in service logout call to web fronten…
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/refresh_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/logger.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/session_revoker.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/refresh_tokens.rb
  spec/models/sign_in/refresh_token_spec.rb
  spec/services/sign_in/logger_spec.rb
  spec/services/sign_in/refresh_token_decryptor_spec.rb
  spec/services/sign_in/session_creator_spec.rb
Labels: console-services-review

#10394 add profile_use_vafsc toggle
  config/features.yml
Labels: console-services-review

#10371 [45036] Change 'myhealthevet' to 'mhv'
  app/controllers/concerns/accountable.rb
  app/models/user.rb
  app/models/user_verification.rb
  app/policies/mhv_prescriptions_policy.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/user_loader.rb
  app/swagger/swagger/schemas/user_internal_services.rb
  app/workers/account_login_statistics_job.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  lib/sign_in/idme/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/iam_users.rb
  spec/factories/user_identities.rb
  spec/factories/user_identity_attributes.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/models/user_verification_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/services/users/profile_spec.rb
Labels: console-services-review

#10384 [43667] statsd sis mpi add person
  config/initializers/statsd.rb
Labels: identity, identity-backend, console-services-review

#10396 [API-17763] - ClaimsApi - Adds "IntentToFiles" database table
  db/migrate/20220804141726_create_claims_api_intent_to_files.rb
  db/schema.rb
Labels: Lighthouse, console-services-review, claimsApi

#10402 added feature toggle for 1095B download
  config/features.yml
Labels: console-services-review, 1095b

#10400 API-18169: Add veteran_icn column to appeals tables
  db/migrate/20220804165221_add_veteran_icn_to_appeals.rb
  db/schema.rb
Labels: Lighthouse, appeals, console-services-review

#10412 API-18299 Do not remove pii from errored records
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/nod_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/sc_status.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
Labels: Lighthouse, appeals

#10410 API-18325 Update email report
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_poa_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: Lighthouse, console-services-review, claimsApi

#10391 [45265] COE: Ensure the statuses in our response are UPPERCASE
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

#10408 Api 18149 update v2 enum
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/models/claims_api/evss_claim.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#10417 Add Datadog instrumenting & profiling
  Gemfile
  Gemfile.lock
  Rakefile
  config.ru
  config/initializers/datadog.rb
Labels: console-services-review

#10413 [44472] Adding call for MPI update profile to update correlation reco…
  app/models/mpi_data.rb
  app/models/user.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  config/betamocks/services_config.yml
  config/mpi_schema/mpi_update_profile_template.xml
  lib/mpi/constants.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/responses/add_parser.rb
  lib/mpi/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/responses/add_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/user_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/support/vcr_cassettes/mpi/update_profile/update_profile_server_error.yml
  spec/support/vcr_cassettes/mpi/update_profile/update_profile_success.yml
Labels: console-services-review

#10419 LGY: adds Certificate of Eligibility to betamocks
  config/betamocks/services_config.yml
  config/settings.yml
Labels: console-services-review

#10401 2870 additional logging around login session creation
  config/initializers/statsd.rb
  lib/iam_ssoe_oauth/session_manager.rb
Labels: console-services-review

#10373 Add 1010cg submit v2 API
  app/services/form1010cg/service.rb
  lib/carma/client/mule_soft_client.rb
  lib/carma/client/mule_soft_configuration.rb
  spec/factories/form1010cg/attachment.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/lib/carma/client/mule_soft_configuration_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: console-services-review

#10424 [API-17763] - ClaimsApi - Store ITF records for reporting
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_files_controller.rb
  modules/claims_api/app/models/claims_api/intent_to_file.rb
  modules/claims_api/spec/models/intent_to_file_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse, NOT YET, claimsApi

#10432 Datadog Bug Fix (given 1, expect 0)
  config/initializers/datadog.rb
Labels: console-services-review

#10423 Mobile: 3573 add cc supported
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/veterans_affairs_eligibility_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

#10436 Datadog: Remove faraday tracing
  config/initializers/datadog.rb
Labels: console-services-review

#10437 API-18169: Add indices to new veteran_icn columns in Appeals API
  db/schema.rb
  modules/appeals_api/db/migrate/20220804165221_add_veteran_icn_to_appeals.rb
  modules/appeals_api/db/migrate/20220809191220_add_index_on_icns_to_appeals.rb
Labels: Lighthouse, appeals, console-services-review

#10438 Datadog: Add service name back for sidekiq
  config/initializers/datadog.rb
Labels: console-services-review

#10416 API-18156 Changes logic in ccg validation.
  modules/claims_api/app/controllers/concerns/claims_api/ccg_token_validation.rb
Labels: Lighthouse, claimsApi

#10429 added flipper admin email to settings.yml
  config/settings.yml
Labels: console-services-review, 1095b

#10449 Update brakeman to 5.3.1
  Gemfile.lock
Labels: console-services-review

#10439 [API-17763] - ClaimsApi - Update daily report to include ITF metrics
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/models/claims_api/intent_to_file.rb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_itf_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: Lighthouse, console-services-review, claimsApi

#10442 [10441] Adding user csp id to MPI if we do not get the credential ide…
  app/models/user_session_form.rb
  spec/models/user_session_form_spec.rb
Labels: identity

#10453 Check if input payment is nil
  app/models/adapters/payment_history_adapter.rb
Labels: console-services-review

#10428 44940 Create Form 5655 Submissions Table
  db/migrate/20220809134330_add_form5655_submissions_table.rb
  db/migrate/20220809142412_add_index_to_form5655_submissions.rb
  db/schema.rb
Labels: console-services-review

#10430 Update catalog-info.yaml
  catalog-info.yaml
Labels: console-services-review

#10448 add feature toggle to hide direct deposit section of profile
  config/features.yml
Labels: console-services-review

#10454 Add VAOS v2 endpoints to VAOS StatsD initializer
  modules/vaos/config/initializers/statsd.rb
Labels: VAOS

#10457 [10441] Making a call to update MPI record when a user idme or loging…
  app/models/user_session_form.rb
  lib/saml/user.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/saml_attributes.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_session_form_spec.rb
Labels: console-services-review

#10434 [cFSR] Combined FSR Feature Flag enable in Staging
  config/features.yml
Labels: vsa-benefits-2, console-services-review

#10465 Clear out NOD in-progress form if users request to submit request(tur…
  app/models/appeal_submission.rb
Labels: console-services-review

#10464 [10301] Adding error codes for sign in service failures for frontend …
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/refresh_token.rb
  app/serializers/sign_in/introspect_serializer.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/error_code.rb
  app/services/sign_in/credential_info_creator.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/refresh_token_encryptor.rb
  app/services/sign_in/revoke_sessions_for_user.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/state_payload_jwt_decoder.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  app/services/sign_in/token_serializer.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  app/workers/sign_in/delete_expired_sessions_job.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10460 Telehealth param swagger update
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
Labels: VAOS

#10466 Add validation to only accept US-ASCII characters in address lines
  app/swagger/swagger/schemas/vet360/address.rb
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
  spec/requests/va_profile/address_request_spec.rb
Labels: console-services-review

#10447 Changes source for ITF.
  modules/claims_api/app/models/claims_api/intent_to_file.rb
Labels: Lighthouse, claimsApi

#10468 API-18640 Changes consumer names.
  modules/claims_api/lib/claims_api/cid_mapper.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
Labels: Lighthouse, claimsApi

#10462 [API-15627] - ClaimsApi - Update V1 active POA dev docs
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/forms/power_of_attorney/active.json
Labels: Lighthouse, console-services-review, claimsApi

#10463 [API-18635] - ClaimsApi - Fix claim "status" in V2 dev docs
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#10422 added swagger API documentation for 1095-B endpoints
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/form1095_bs.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review, 1095b

#10469 Log ptcpnt and birls presence and delay 5s.
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: Lighthouse, claimsApi

#10474 Limit phone ext. to 6 digits
  app/swagger/swagger/schemas/vet360/telephone.rb
  dump.rdb
  lib/va_profile/models/telephone.rb
  spec/lib/va_profile/models/telephone_spec.rb
Labels: console-services-review

#10440 Mobile appointment vaos v2 integration
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointment_request_messages_spec.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
  modules/mobile/spec/support/fixtures/va_v0_appointment.json
  modules/mobile/spec/support/schemas/VAOS_v2_appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
Labels: mobile

#10478 Removing noisy log to sentry that is unnecessary
  app/models/va_profile_redis/cache.rb
  spec/models/va_profile_redis/cache_spec.rb
Labels: console-services-review

#10477 Add US-ASCII validation to city, province, and international postal code
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
Labels: console-services-review

#10473 3586: autoload mobile lib directory
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
Labels: mobile

#10452 [44144] MPI error parsing updates
  lib/mpi/responses/add_parser.rb
  lib/mpi/responses/add_person_response.rb
  lib/mpi/service.rb
  spec/lib/mpi/responses/add_parser_spec.rb
  spec/lib/mpi/responses/add_person_response_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/support/vcr_cassettes/mpi/update_profile/update_profile_failed_no_correlation.yml
Labels: identity, identity-backend, console-services-review

#10458 submit 1010cg applications using background job
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/models/saved_claim/caregivers_assistance_claim.rb
  app/serializers/form1010cg/claim_serializer.rb
  app/workers/form1010cg/submission_job.rb
  config/features.yml
  lib/carma/client/mule_soft_client.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/jobs/form1010cg/submission_job_spec.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
  spec/requests/caregivers_assistance_claims_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

#10483 - Adding my ID.me associated email to feature flag flipper access list.
  config/settings.yml
Labels: console-services-review

#10485 remove dev worker deploy
  Jenkinsfile
Labels: console-services-review

#10486 [45707] reverts force_authn = false for verified routes
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, identity-backend, console-services-review

#10487 Account for new data format of FSR selected debts
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/requests/financial_status_reports.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
  config/betamocks/services_config.yml
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#10493 Adding betamocks definition for EVSS create_user_account
  config/betamocks/services_config.yml
Labels: console-services-review

#10479 45491 Changes to support lorota security updates partial dial-up
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/models/check_in/v2/session.rb
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: console-services-review

#10495 Fixing flaky spec in rrd_completed_mailer_spec occurring by overwriti…
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#10501 adds safer handling for error code
  app/controllers/v0/sign_in_controller.rb
Labels: console-services-review

#10498 Add vaos appointment list feature flag
  config/features.yml
Labels: console-services-review

#10505 Correct VBS api key header name for FSR
  lib/debt_management_center/vbs/request.rb
  spec/lib/debt_management_center/vbs/request_spec.rb
Labels: console-services-review

#10504 Mobile: Update docs to include two new endpoints: POST /v0/messaging/health/f…
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateSecureMessagingFolder.yml
  modules/mobile/docs/schemas/CreateSecureMessagingFolderResponse.yml
  modules/mobile/docs/schemas/MaintenanceWindows.yml
Labels: mobile

#10506 Include Facility Number with VHA FSR Request
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/schemas/fsr.json
Labels: console-services-review

#10503 [45805] Making direct MPI calls during sign in service user creation
  app/controllers/v1/sessions_controller.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10500 updates to make 1095B loading script work with real data
  app/workers/form1095/new1095_bs_job.rb
Labels: console-services-review, 1095b

#10418 API-18170: Add index actions to fetch submissions filtered by veteran
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/mpi_veteran.rb
  modules/appeals_api/app/serializers/appeals_api/higher_level_review_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claim_serializer.rb
  modules/appeals_api/app/workers/appeals_api/add_icn_updater.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#10509 (chore) add payments notification toggle
  config/features.yml
Labels: console-services-review

#10510 API-18603 Fix duplicates in appeals error report
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
Labels: Lighthouse, appeals

#10502 45308 Creating lorota delete feature flag
  config/features.yml
Labels: console-services-review

#10497 3651: autoload mobile lib path
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/contracts/base.rb
Labels: mobile

#10471 API-18639-setup-getClaimDocs
  lib/evss/documents_service.rb
  spec/lib/evss/documents_service_spec.rb
  spec/support/vcr_cassettes/evss/documents/get_claim_documents.yml
Labels: Lighthouse, console-services-review, claimsApi

#10489 Add trackedItems to v2 claim blueprint
  Gemfile.lock
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/vcr_cassettes/bgs/tracked_items/find_tracked_items.yml
Labels: Lighthouse, NOT YET, console-services-review, claimsApi

#10517 [45793] Adding log that triggers when a user authenticates with sign …
  app/services/sign_in/user_creator.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10520 [10518] Updating user_verification edge case where user authenticated…
  app/services/login/errors.rb
  app/services/login/user_verifier.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

#10530 Mobile fix facilities info controller facility id conversion
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_multiple_mfs_facilities_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info_yml.yml
Labels: mobile

#10527 add sidekiq_alive and bash bin file
  Gemfile
  Gemfile.lock
  bin/sidekiq_quiet
Labels: console-services-review

#10537 Sidekiq automatic image tag update
  .github/workflows/deploy-template.yml
Labels: console-services-review

#10536 Add Form5655 Submission model and create records for cFSR submission
  app/models/form5655_submission.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#10526 Adds test, and adds line to add veteran_icn to the claim.
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#10532 API-18819 - ClaimsApi - Fixes invalid "stringboolean" type in developer docs
  modules/claims_api/app/controllers/concerns/claims_api/json_format_validation.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/errors/default_with_source.json
Labels: Lighthouse, console-services-review, claimsApi

#10529 Toe submission endpoint
  config/features.yml
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/fry_dea_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/toes_controller.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/submission_service_spec.rb
  modules/meb_api/spec/dgi/fry_dea/service_spec.rb
  modules/meb_api/spec/requests/fry_dea_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  modules/meb_api/spec/requests/toes_spec.rb
  spec/support/vcr_cassettes/dgi/forms/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/get_toe_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/submit_toe_claim.yml
Labels: console-services-review

#10515 Add statsd logging for 1010cg background jobs
  app/workers/form1010cg/submission_job.rb
  config/initializers/statsd.rb
  spec/jobs/form1010cg/submission_job_spec.rb
Labels: console-services-review

#10541 Adding benefits team #1 members to flipper admin list
  config/settings.yml
Labels: console-services-review

#10539 1095 b script updates
  app/workers/form1095/new1095_bs_job.rb
  spec/jobs/form1095/new1095_bs_job_spec.rb
  spec/support/form1095/multiple_valid_forms_corrections.txt
Labels: console-services-review

#10545 [API-18899] - ClaimsApi - Fix 526 'applicationExpirationDate' validation
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#10546 API-18899 - ClaimsApi - Revert change until we can get a Release Note
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#10492 Allow VeteranRecordWsClientException exceptions to be retryable
  config/locales/exceptions.en.yml
  lib/evss/disability_compensation_form/service_exception.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/evss/disability_compensation_form/submit_500_with_java_ws_error.yml
Labels: console-services-review

#10553 [10552] Fixing UserVerificationCannotBeCreated sentry error
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

#10555 Removing two feature flags for GIBCT.
  config/features.yml
Labels: console-services-review

#10559 [10558] Updating Sign in Service auth so that mpi user update does no…
  app/services/sign_in/user_creator.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10443 COE | No longer using S3 for document downloads
  app/controllers/v0/coe_controller.rb
  config/betamocks/services_config.yml
  config/routes.rb
  config/settings.yml
  lib/lgy/aws_uploader.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

#10563 Add My Education Benefits Unverified User Alert Flag
  config/features.yml
Labels: console-services-review

#10564 updated New1095BsJob script to allow for null city/address in file data
  app/models/form1095_b.rb
  app/workers/form1095/new1095_bs_job.rb
  spec/support/form1095/multiple_valid_forms.txt
Labels: console-services-review, 1095b

#10566 [10561] Updating MPI with idme_uuid when authenticating with MHV sign…
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#10565 [46262] Updating dslogon to auto-authenticate as verified when necess…
  app/services/sign_in/credential_level_creator.rb
  config/initializers/loa.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

#10554 1010cg check veteran status outside of background job
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/services/form1010cg/service.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
Labels: console-services-review

#10549 Mobile vaos v2 integration cont
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_500.yml
Labels: mobile

#10573 Revert "add sidekiq_alive and bash bin file"
  Gemfile
  Gemfile.lock
  bin/sidekiq_quiet
Labels: console-services-review

#10572 Fixing flaky spec caused by overwriting error schema that other files…
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: console-services-review

#10575 Sidekiq alive improvements
  Gemfile
  Gemfile.lock
  app/workers/sidekiq_alive/cleanup_queues.rb
  bin/sidekiq_quiet
  config/sidekiq_scheduler.yml
  spec/jobs/sidekiq_alive/cleanup_queues_spec.rb
Labels: console-services-review

#10551 Api 18775 add errors to v2
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/claims/claim_by_id_response.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, NOT YET, console-services-review, claimsApi

#10557 Add index route for NOD submissions
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreement_serializer.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers_extra.json
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse

#10569 [46255] Removing sentry error on sign in service logout
  app/controllers/v0/sign_in_controller.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#10577 Fix: filter out formdata on SC index, not create
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
Labels: Lighthouse, appeals

#10547 [API-18899] ClaimsApi - Add 526 'currentMailingaddress.country' validation
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: Lighthouse, NOT YET, claimsApi

#10550 [API-18899] - ClaimsApi - Fix 526 'applicationExpirationDate' validation
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#10576 1095 b update script
  app/models/form1095_b.rb
  app/workers/form1095/new1095_bs_job.rb
  spec/support/form1095/multiple_valid_forms.txt
  spec/support/form1095/single_invalid_form.txt
Labels: console-services-review, 1095b

#10482 45705 mpi find profile error
  lib/mpi/responses/add_parser.rb
  lib/mpi/responses/find_profile_response.rb
  lib/mpi/responses/profile_parser.rb
  spec/lib/mpi/responses/find_profile_response_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

#10583 [10578] Removing sentry error from MPI find profile invalid request r…
  app/services/sign_in/user_creator.rb
  lib/mpi/responses/find_profile_response.rb
  lib/mpi/service.rb
  spec/lib/mpi/responses/find_profile_response_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

#10585 Add feature flag for facilities API use in health care application
  config/features.yml
Labels: console-services-review

#10562 API-18796 Verify claim belongs to veteran
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
Labels: Lighthouse, claimsApi

#10543 API-18300 Use Flipper for decision review PII jobs
  config/features.yml
  config/settings.yml
  modules/appeals_api/app/workers/appeals_api/higher_level_review_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_clean_up_pii.rb
  modules/appeals_api/spec/workers/higher_level_review_clean_up_week_old_pii_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_clean_up_week_old_pii_spec.rb
  modules/appeals_api/spec/workers/supplemental_claim_clean_up_pii_spec.rb
Labels: Lighthouse, appeals, console-services-review

#10544 [10488] Creating a caching class for BGS find_person_by_participant_i…
  app/controllers/v0/profile/payment_history_controller.rb
  app/controllers/v0/profile/valid_va_file_numbers_controller.rb
  app/models/form_profiles/decision_review.rb
  app/models/form_profiles/va_5655.rb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/services/bgs/base_service.rb
  app/services/bgs/errors.rb
  app/services/bgs/payment_service.rb
  app/services/bgs/people/request.rb
  app/services/bgs/people/response.rb
  app/services/bgs/people/service.rb
  app/services/bgs/people_service.rb
  config/redis.yml
  lib/debt_management_center/base_service.rb
  lib/debt_management_center/payments_service.rb
  lib/efolder/service.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  spec/controllers/v0/profile/payment_history_controller_spec.rb
  spec/lib/debt_management_center/payments_service_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
  spec/services/bgs/payment_service_spec.rb
  spec/services/bgs/people/request_spec.rb
  spec/services/bgs/people/response_spec.rb
  spec/services/bgs/people/service_spec.rb
  spec/services/bgs/people_service_spec.rb
Labels: mobile, console-services-review

#10586 [46386] Add new class to upload files to VHA SharePoint
  config/settings/test.yml
  lib/debt_management_center/sharepoint/request.rb
  spec/factories/form5655_submission.rb
  spec/lib/debt_management_center/sharepoint/request_spec.rb
Labels: console-services-review

#10591 Only set Datadog env if DD_ENV not set
  config/initializers/datadog.rb
Labels: console-services-review

#10590 Fix ICN vs Errors test
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: Lighthouse, claimsApi

#10579 VAOS v2 get the appointments clinic is incorrect
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/config/initializers/statsd.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_clinic_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_clinic_500.yml
Labels: VAOS, console-services-review

#10593 Include Submission ID with VHA FSR
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review
