Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-09, with the labels that each got.

#10594 Add profile claims to user response
  app/policies/bgs_policy.rb
  app/services/users/profile.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/policies/bgs_policy_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

#10597 46386 Populate SharePoint columns for VHA FSR
  config/settings/test.yml
  lib/debt_management_center/sharepoint/request.rb
  spec/lib/debt_management_center/sharepoint/request_spec.rb
Labels: console-services-review

#10584 Api 17680 supporting documents
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/transformers/lower_camel_transformer.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/vcr_cassettes/evss/documents/get_claim_documents.yml
Labels: Lighthouse, console-services-review, claimsApi

#10595 46480 add with_monitoring to session_service
  modules/vaos/app/services/vaos/session_service.rb
Labels: VAOS

#10599 [10589] Removing sentry logs for expected errors in sign in service a…
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/constants/statsd.rb
  app/services/sign_in/session_revoker.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#10600 API-18947 trackedItems fields
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: Lighthouse, claimsApi

#10602 Remove orphaned sidekiq alive queues every 30 minutes
  config/sidekiq_scheduler.yml
Labels: console-services-review

#10604 Add user level flipper toggle for 1010cg submissions
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/requests/caregivers_assistance_claims_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#10598 1095 b update script
  app/workers/form1095/new1095_bs_job.rb
  spec/support/form1095/multiple_valid_forms.txt
Labels: console-services-review, 1095b

#10605 Mobile vaos v2 integration vista id fix
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/va_v0_appointment.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_clinic_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_clinic_bad_facility_id_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_facility_clinics_bad_facility_id_200.yml
Labels: mobile

#10610 3747 claims and appeals error handling
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile

#10592 3730: switch ppms to use new staff.apps.va.gov url
  config/settings.yml
  modules/vaos/app/services/vaos/ppms_configuration.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_400.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_500.yml
Labels: VAOS, console-services-review

#10609 Add profile_user_claims feature flag
  app/services/users/profile.rb
  config/features.yml
  spec/controllers/v0/users_controller_spec.rb
Labels: console-services-review

#10601 [46386] Upload to SharePoint on FSR submission
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#10613 [10612] Fixing issue with optional authentication routes with sign in…
  app/controllers/claims_base_controller.rb
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/burial_claims_controller.rb
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/controllers/v0/coe_controller.rb
  app/controllers/v0/education_benefits_claims_controller.rb
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/controllers/v0/gi_bill_feedbacks_controller.rb
  app/controllers/v0/health_care_applications_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/controllers/v0/veteran_readiness_employment_claims_controller.rb
  spec/controllers/sign_in/application_controller_spec.rb
Labels: console-services-review

#10607 [46586] Ensuring that MPI properly parses full user name by searching…
  lib/mpi/responses/parser_base.rb
  lib/mpi/responses/profile_parser.rb
  spec/lib/mpi/responses/parser_base_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/support/mpi/find_candidate_multiple_name_response.xml
Labels: console-services-review

#10611 Feature/ksoskin/increased 526 logging
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

#10606 Updates certs, paths, and token service for new DGI local setup
  config/settings.yml
  modules/meb_api/lib/authentication_token_service.rb
  modules/meb_api/spec/fixtures/dgi_private_test.pem
  modules/meb_api/spec/fixtures/dgi_public_test.pem
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
Labels: console-services-review

#10614 Offramp MAS-related claims if they're not service-connected
  app/workers/evss/disability_compensation_form/submit_form526.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/evss/disability_compensation_form/rated_disabilities_with_non_service_connected.yml
Labels: console-services-review

#10623 [API-19332] - ClaimsApi - Add "middle initial" column to Veteran::Representatives table
  db/migrate/20220906163019_add_middle_initial_to_veteran_representative.rb
  db/schema.rb
Labels: Lighthouse, console-services-review, claimsApi

#10619 Incorrect Email Template for HLR\SC received notifications
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: Lighthouse, appeals

#10615 [46618] Changing SiS statsd callback so that it uses actual user ial …
  app/controllers/v0/sign_in_controller.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#10624 Removes translation feature flags from features.
  config/features.yml
Labels: console-services-review

#10626 46690 - [cFSR] Add FSR Enhancement Feature Flag
  config/features.yml
Labels: vsa-benefits-2, console-services-review

#10633 Revert changes for JWT token generation
  config/settings.yml
  modules/meb_api/lib/authentication_token_service.rb
  modules/meb_api/spec/fixtures/dgi_private_test.pem
  modules/meb_api/spec/fixtures/dgi_public_test.pem
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
Labels: console-services-review

#10628 [API-19332] - ClaimsApi - Allow VSOReloader to store middle initial
  modules/veteran/app/workers/veteran/vso_reloader.rb
  modules/veteran/spec/workers/veteran/vso_reloader_spec.rb
  spec/support/vcr_cassettes/veteran/ogc_vso_rep_data_no_middle_initial.yml
Labels: Lighthouse, NOT YET, console-services-review, claimsApi

#10622 Mobile: filter appoointment requests on VAOS v2 upstream service
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/schemas/VAOS_v2_appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_no_requests_200.yml
Labels: mobile

#10617 VAOS v2 MobileFacilityService#get_clinic parameters should be required
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
Labels: VAOS, be-review

#10629 Revert "add with_monitoring to session_service (#10595)" monitoring is done in subclasses
  modules/vaos/app/services/vaos/session_service.rb
Labels: VAOS

#10627 Allow 202 response status from mulesoft
  lib/carma/client/mule_soft_client.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
Labels: console-services-review

#10630 1095 b update script
  app/workers/form1095/new1095_bs_job.rb
Labels: console-services-review, 1095b

#10637 [46701] add 2fa authn contexts
  config/initializers/ial.rb
  config/initializers/loa.rb
  lib/saml/user.rb
Labels: identity, identity-backend, console-services-review

#10636 Add debt letter VBMS feature flag
  app/controllers/v0/debt_letters_controller.rb
  app/policies/debt_letters_policy.rb
  config/features.yml
Labels: console-services-review

#10616 46021 update statsd metric name for synthetic transactions
  config/features.yml
  modules/check_in/config/initializers/statsd.rb
Labels: console-services-review

#10645 Override default timeout in v2 AppointmentService.
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: VAOS

#10646 Add logging for combined FSR and various fixes
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/sharepoint/request.rb
Labels: console-services-review

#10649 Warn instead of removing old features
  config/initializers/flipper.rb
Labels: console-services-review

#10648 Add push prefs enum to docs
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PushGetPreferences.yml
  modules/mobile/docs/schemas/PushPreferences.yml
Labels: mobile

#10638 Cleaned up Appeals Received Unit test, a little more DRY
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: Lighthouse, appeals

#10625 SA-23885: TOE Claimant info
  config/settings.yml
  config/settings/test.yml
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/app/serializers/toe_claimant_info_serializer.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/automation/service.rb
  modules/meb_api/lib/dgi/forms/response/claimant_info_response.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/forms/service/claimant_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  spec/support/schemas/dgi/toe_claimant_info_response.json
  spec/support/vcr_cassettes/dgi/enrollment.yml
  spec/support/vcr_cassettes/dgi/forms/claimant_info.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/forms_claim_status.yml
  spec/support/vcr_cassettes/dgi/forms/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/get_toe_claim_letter.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_fry_dea.yml
  spec/support/vcr_cassettes/dgi/forms/sponsor_toes.yml
  spec/support/vcr_cassettes/dgi/forms/submit_toe_claim.yml
  spec/support/vcr_cassettes/dgi/fry_post_sponsor.yml
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_toe_letter.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
  spec/support/vcr_cassettes/dgi/post_toe_claimant_info.yml
  spec/support/vcr_cassettes/dgi/service_get_eligibility.yml
  spec/support/vcr_cassettes/dgi/submit_claim.yml
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: Please Review, Ready For Review, console-services-review

#10635 Increased logging for 526 failures
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

#10652 [46736] Updates Flipper authentication to work with SiS
  config/settings.yml
  lib/flipper/admin_user_constraint.rb
Labels: console-services-review

#10657 modifies config/settings.yml
  config/settings.yml
Labels: console-services-review

#10621 Add rack timeout
  Gemfile
  Gemfile.lock
  config/initializers/rack_timeout.rb
Labels: console-services-review

#10581 Log MPI transaction id when user not found in MPI when trying to submit the 1010cg
  app/services/form1010cg/service.rb
  lib/mpi/responses/find_profile_response.rb
  spec/lib/mpi/responses/find_profile_response_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

#10655 Add claims to user response
  app/services/users/profile.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

#10567 API-18233-Add-claimPhaseDates
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#10643 [API-19332] - ClaimsApi - Enhance Rep Search for POA Validation
  lib/bgs/power_of_attorney_verifier.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/veteran/app/models/veteran/service/representative.rb
  spec/lib/bgs/power_of_attorney_verifier_spec.rb
Labels: Lighthouse, NOT YET, console-services-review, claimsApi

#10661 API-19568-failed-claim-submission
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: Lighthouse, claimsApi

#10668 API-19329-Fix on problem found while testing staging get claims.
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: Lighthouse, claimsApi

#10669 585 create table
  db/migrate/20220912152647_create_virtual_agent_user_access_records.rb
  db/schema.rb
Labels: console-services-review

#10664 Change timeout for mulesoft api calls that are run in background jobs
  config/settings.yml
  lib/carma/client/mule_soft_client.rb
  lib/carma/client/mule_soft_configuration.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
Labels: console-services-review

#10670 Update documentation with latest schema changes
  modules/appeals_api/app/models/concerns/appeals_api/hlr_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/nod_status.rb
  modules/appeals_api/app/models/concerns/appeals_api/sc_status.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#10672 [45484] Removing the multiple birls_id check during user authentication
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: console-services-review

#10667 Use variables from settings instead of ENV
  config/initializers/rack_timeout.rb
Labels: console-services-review

#10675 Adding va_eauth_service_transaction_id to failed/exhausted Form526 submission error log
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

#10659 VANotify - Update in progress reminder cadence
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
  modules/va_notify/spec/workers/in_progress_forms_spec.rb
Labels: console-services-review

#10673 API-18269: Update VBADocuments Job Schedule for Consistency and Performance
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
Labels: console-services-review

#10680 Invert logic for rack timeout settings
  config/initializers/rack_timeout.rb
Labels: console-services-review

#10666 VAOS Update VAOS_Logging to include message body on errors.
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_spec.rb
Labels: VAOS, be-review

#10685 adjusts headers on LGY get_document method
  lib/lgy/service.rb
Labels: console-services-review

#10620 Strip disability names (and add test for it)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: Lighthouse, claimsApi

#10678 [API-19865] Added techdocs for some modules and fixed broken links in…
  docs/index.md
  docs/setup/debugging_with_docker_rubymine_windows.md
  docs/setup/native.md
  docs/setup/running_docker.md
  mkdocs.yaml
  modules/appeals_api/docs/index.md
  modules/appeals_api/mkdocs.yml
  modules/claims_api/docs/index.md
  modules/claims_api/mkdocs.yml
  modules/facilities_api/docs/index.md
  modules/facilities_api/mkdocs.yml
  modules/va_forms/catalog-info.yaml
  modules/vba_documents/catalog-info.yaml
Labels: console-services-review

#10634 API-16006 Split appeals_api rswag docs
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review

#10686 Various VHA FSR JSON adjustments
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

#10676 3753 appointments fetch service
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/request/appointment_request_messages_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#10640 added feature toggle for MEB to show updated State and City
  config/features.yml
Labels: console-services-review

#10679 Added Code highlights, added Contestable Issues and Legacy Appeals
  Dangerfile
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_contestable_issues_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_legacy_appeals_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
Labels: Lighthouse, appeals, console-services-review

#10654 Api 18947 add fields to tracked items
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/vcr_cassettes/bgs/ebenefits_benefit_claims_status/empty_find_benefit_claim_details_by_benefit_claim_id.yml
  spec/support/vcr_cassettes/bgs/ebenefits_benefit_claims_status/find_benefit_claim_details_by_benefit_claim_id.yml
  spec/support/vcr_cassettes/evss/documents/get_claim_documents.yml
Labels: Lighthouse, console-services-review, claimsApi

#10698 [10688] Adding auto-uplevel capability for id.me and login.gov authen…
  app/services/sign_in/credential_level_creator.rb
  config/settings.yml
  lib/sign_in/logingov/service.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

#10711 [46578] `mhv_opt_in_flags` table creation
  db/migrate/20220915172901_add_mhv_opt_in_flags.rb
  db/schema.rb
Labels: identity, identity-backend, console-services-review

#10693 [API-19683] Added providesApis field to the vets-api system
  catalog-info.yaml
  modules/appeals_api/catalog-info.yaml
  modules/appeals_api/config/backstage/appeals-status.yaml
  modules/appeals_api/config/backstage/decision-reviews.yaml
  modules/claims_api/catalog-info.yaml
  modules/va_forms/catalog-info.yaml
  modules/vba_documents/catalog-info.yaml
  modules/veteran_confirmation/catalog-info.yaml
  modules/veteran_verification/catalog-info.yaml
Labels: console-services-review

#10683 10508 user verification backing idme UUID
  app/models/user_verification.rb
  app/services/login/user_verifier.rb
  spec/factories/user_verifications.rb
  spec/models/user_verification_spec.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

#10719 recreates mhv_opt_in_flags table
  db/migrate/20220916043854_delete_and_recreate_mhv_opt_in_flags.rb
  db/schema.rb
Labels: identity, identity-backend, console-services-review

#10715 API-19631, API-19632 Additional routes for appeals API contestable_issues and legacy_appeals endpoints
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: Lighthouse, appeals

#10712 API-18269: Reduce Retries for VBADocuments Jobs
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/workers/vba_documents/report_monthly_submissions.rb
  modules/vba_documents/app/workers/vba_documents/report_unsuccessful_submissions.rb
  modules/vba_documents/app/workers/vba_documents/run_unsuccessful_submissions.rb
  modules/vba_documents/app/workers/vba_documents/slack_notifier.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/app/workers/vba_documents/upload_remover.rb
  modules/vba_documents/app/workers/vba_documents/upload_scanner.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_batch.rb
  modules/vba_documents/app/workers/vba_documents/upload_status_updater.rb
Labels: console-services-review

#10674 Api 19453 mpi error
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: Lighthouse, claimsApi

#10727 Fixing flaky spec around improper error middleware being picked up
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
Labels: mobile

#10725 Adding dslogon assurance log for sign in service authentication
  app/services/sign_in/credential_level_creator.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

#10718 Trigger VRO via vets-api RRD with new VRO client class
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  config/settings.yml
  lib/virtual_regional_office/client.rb
  lib/virtual_regional_office/configuration.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/lib/virtual_regional_office/client_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf.yml
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf_download.yml
  spec/support/vcr_cassettes/virtual_regional_office/health_assessment.yml
Labels: console-services-review

#10723 3753 broaden appointments cache enddate
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_at_home_no_location.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_200.yml
Labels: mobile

#10699 AppealsApi: Sidekiq job updates
  config/features.yml
  modules/appeals_api/app/workers/appeals_api/add_icn_updater.rb
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_clean_up_week_old_pii.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_updater.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/app/workers/appeals_api/status_updated_job.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_clean_up_pii.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_updater.rb
  modules/appeals_api/spec/workers/appeals_api/add_icn_updater_spec.rb
Labels: Lighthouse, appeals, console-services-review

#10681 Mobile - Appointments - use Timezone from clinic
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

#10717 API-16005 Update Segmented API documentation (part 1)
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_hlr_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs.json
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, console-services-review

#10716 Va notify 553/career counseling email
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/models/saved_claim/education_career_counseling_claim.rb
  app/workers/central_mail/submit_career_counseling_job.rb
  config/features.yml
  config/settings.yml
  spec/controllers/v0/education_career_counseling_claims_controller_spec.rb
  spec/factories/education_career_counseling_claim.rb
  spec/jobs/central_mail/submit_career_counseling_job_spec.rb
  spec/models/saved_claim/education_career_counseling_claim_spec.rb
Labels: console-services-review

#10724 Api 19482 v2 schema cleanup
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_files_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, NOT YET, console-services-review, claimsApi

#10721 API-19743 Adds to auth_headers for evss.
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
Labels: Lighthouse, claimsApi

#10739 3753: handle client end date mismatch
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
Labels: mobile

#10745 Update Vets API Rspecs to handle change in domains part 1
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/cc_eligibility_request_spec.rb
  modules/vaos/spec/request/cc_supported_sites_request_spec.rb
  modules/vaos/spec/request/direct_booking_eligiblity_criteria_request_spec.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
  modules/vaos/spec/request/preferences_request_spec.rb
  modules/vaos/spec/request/request_eligibility_criteria_request_spec.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/request/v1/appointments_request_spec.rb
  modules/vaos/spec/request/v1/healthcare_service_request_spec.rb
  modules/vaos/spec/request/v1/locations_request_spec.rb
  modules/vaos/spec/request/v1/organization_request_spec.rb
  modules/vaos/spec/request/v1/patient_request_spec.rb
  modules/vaos/spec/request/v1/slot_request_spec.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/request/v2/available_slots_request_spec.rb
  modules/vaos/spec/request/v2/clinics_request_spec.rb
  modules/vaos/spec/request/v2/facilities_request_spec.rb
  modules/vaos/spec/request/v2/mobile_ppms_request_spec.rb
  modules/vaos/spec/request/v2/patients_request_spec.rb
  modules/vaos/spec/request/v2/scheduling_configurations_request_spec.rb
Labels: VAOS

#10726 Dgi/feature toe form config
  app/models/form_profiles/va_1990emeb.rb
  config/form_profile_mappings/22-1990EMEB.yml
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/forms/service/claimant_service.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
Labels: console-services-review

#10751 Reconnect rails cache on worker boot
  config/puma.rb
Labels: console-services-review

#10746 Update Vets API Rspecs to handle change in domains part 2
  modules/vaos/spec/services/appointment_requests_service_spec.rb
  modules/vaos/spec/services/appointment_service_spec.rb
  modules/vaos/spec/services/cc_eligibility_service_spec.rb
  modules/vaos/spec/services/cc_supported_sites_service_spec.rb
  modules/vaos/spec/services/messages_service_spec.rb
  modules/vaos/spec/services/middleware/vaos_logging_integration_spec.rb
  modules/vaos/spec/services/preferences_service_spec.rb
  modules/vaos/spec/services/session_service_spec.rb
  modules/vaos/spec/services/systems_service_spec.rb
  modules/vaos/spec/services/v1/fhir_service_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
  modules/vaos/spec/services/v2/patients_service_spec.rb
  modules/vaos/spec/services/v2/systems_service_spec.rb
Labels: VAOS

#10753 Update message that ends a forced outage
  rakelib/breakers_outage.rake
Labels: console-services-review

#10748 added toggle for VAOS direct scheduling & appointment request clinic …
  config/features.yml
Labels: console-services-review

#10755 update sidekiq pro and ent
  Gemfile.lock
Labels: console-services-review

#10756 Remove debugging in Docker on Windows when using RubyMine
  .gitignore
  Gemfile
  Gemfile.lock
  README.md
  docker-compose.yml
  docker-entrypoint.sh
  docs/setup/debugging_with_docker_rubymine_windows.md
  docs/setup/images/RubyMine-AdminController-breakpoint.png
  docs/setup/images/RubyMine-configure-remote-docker.png
  docs/setup/images/RubyMine-debug-config.png
  docs/setup/images/RubyMine-settings.png
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  rakelib/docker_debugging.rake
Labels: console-services-review

#10757 Upgrade redis-namespace to 1.9.0
  Gemfile
  Gemfile.lock
Labels: console-services-review

#10761 Rails cache reconnect may be eating logs
  config/puma.rb
Labels: console-services-review

#10733 Remove formdata for HLR, NOD and SC show
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/serializers/appeals_api/higher_level_review_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreement_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claim_serializer.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#10694 [department-of-veterans-affairs/va-virtual-agent#585] Adds workers to…
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  app/models/virtual_agent_user_access_record.rb
  app/workers/virtual_agent_store_user_info_job.rb
  config/features.yml
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/factories/virtual_agent_user_access_records.rb
  spec/jobs/virtual_agent_store_user_info_job_spec.rb
  spec/models/virtual_agent_user_access_record_spec.rb
Labels: console-services-review

#10737 API-16005 split doc updates (part 2: NOD)
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_nod_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/put_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#10736 Mobile vaos v2 bug fixes
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

#10750 API-16005 split doc updates (part 3: SC)
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_sc_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
Labels: Lighthouse, appeals

#10305 10-10CG: Add ICN to Application Payload
  lib/carma/models/submission.rb
  spec/lib/carma/models/submission_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/mulesoft/addDocument.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: Stale, console-services-review

#10763 API-16005 split doc updates (part 4: CI & LA)
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#10749 API-18656 Adds migration for 5103.
  db/migrate/20220920211515_evidence_waiver_submission.rb
  db/schema.rb
Labels: Lighthouse, console-services-review, claimsApi

#10767 Toe submit form
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/lib/dgi/forms/service/claimant_service.rb
  modules/meb_api/lib/dgi/forms/service/letter_service.rb
  modules/meb_api/lib/dgi/forms/service/sponsor_service.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/claimant_spec.rb
  modules/meb_api/spec/dgi/forms/service/sponsor_spec.rb
  modules/meb_api/spec/dgi/forms/service/submission_service_spec.rb
  modules/meb_api/spec/dgi/toe/service_spec.rb
  modules/meb_api/spec/dgi/toe/sponsors_service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/forms_spec.rb
  spec/support/vcr_cassettes/dgi/forms/sponsor_toes.yml
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
  spec/support/vcr_cassettes/dgi/post_toe_claimant_info.yml
Labels: console-services-review

#10760 [COE] Fix issue with multiple uploads causing 500
  app/controllers/v0/coe_controller.rb
Labels: console-services-review

#10747 API-19820-update-email-report
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: Lighthouse, claimsApi

#10714 API-19796: Add Benefits Intake API (VBADocuments) entries to CODEOWNERS
  .github/CODEOWNERS
Labels: console-services-review

#10764 API-19630 - Use shared schemas in appeals_api LA & CI endpoints
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v2/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v2/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/contestable_issues_headers_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/legacy_appeals_headers_with_shared_refs.json
  modules/appeals_api/spec/requests/contestable_issues/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v2/legacy_appeals_controller_spec.rb
Labels: Lighthouse, appeals

#10738 [46584] Refactoring MPI SAML building for find_profile queries
  app/models/user.rb
  config/settings.yml
  lib/mpi/messages/find_candidate_message_error.rb
  lib/mpi/messages/find_profile_by_attributes.rb
  lib/mpi/messages/find_profile_by_edipi.rb
  lib/mpi/messages/find_profile_by_identifier.rb
  lib/mpi/messages/find_profile_message.rb
  lib/mpi/messages/find_profile_message_edipi.rb
  lib/mpi/messages/find_profile_message_fields.rb
  lib/mpi/messages/find_profile_message_helpers.rb
  lib/mpi/messages/find_profile_message_identifier.rb
  lib/mpi/messages/message_builder.rb
  lib/mpi/messages/request_builder.rb
  lib/mpi/messages/request_helper.rb
  lib/mpi/service.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  spec/lib/mpi/messages/find_profile_by_attributes_spec.rb
  spec/lib/mpi/messages/find_profile_by_edipi_spec.rb
  spec/lib/mpi/messages/find_profile_by_identifier_spec.rb
  spec/lib/mpi/messages/find_profile_message_fields_spec.rb
  spec/lib/mpi/messages/find_profile_message_spec.rb
  spec/lib/mpi/messages/message_builder_spec.rb
  spec/lib/mpi/messages/request_builder_spec.rb
  spec/lib/mpi/messages/request_helper_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_user_not_found.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_edipi.yml
Labels: console-services-review

#10769 Fix doc path
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
Labels: bug, Lighthouse, appeals

#10779 Updates to FSR timestamp field
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

#10775 Mobile: Update Postman to test all endpoints and clearly designate which test…
  modules/mobile/docs/MobileAPI Integration Test Collection.postman_collection.json
Labels: mobile

#10782 API-20066 - Rename Claimant to NonVeteranClaimant
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers_extra.json
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#10783 updated MEB flag name show_meb_dgi40_features
  config/features.yml
Labels: console-services-review

#10778 Increased timeout to users/v2/session calls
  modules/vaos/app/services/vaos/user_service.rb
Labels: VAOS

#10791 Fix issue with clamdscan scanning whole vets-api directory
  lib/common/virus_scan.rb
Labels: console-services-review

#10773 Remove everPhaseBack attribute
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: Lighthouse, console-services-review, claimsApi

#10793 [bug] Add fail safe to empty array of FSR installment contracts
  lib/pdf_fill/forms/va5655.rb
Labels: console-services-review

#10785 Return PDF contents of 5655 form on submission
  app/swagger/swagger/requests/financial_status_reports.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/controllers/v0/financial_status_reports_controller_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#10787 46584 mpi add person refactor
  lib/mpi/constants.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/add_person_proxy_add_message.rb
  lib/mpi/messages/find_profile_by_attributes.rb
  lib/mpi/messages/find_profile_by_edipi.rb
  lib/mpi/messages/find_profile_by_identifier.rb
  lib/mpi/messages/request_builder.rb
  lib/mpi/messages/request_helper.rb
  lib/mpi/messages/update_profile_message.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/add_person_proxy_add_message_spec.rb
  spec/lib/mpi/messages/find_profile_by_attributes_spec.rb
  spec/lib/mpi/messages/find_profile_by_edipi_spec.rb
  spec/lib/mpi/messages/find_profile_by_identifier_spec.rb
  spec/lib/mpi/messages/request_builder_spec.rb
  spec/lib/mpi/messages/request_helper_spec.rb
  spec/lib/mpi/messages/update_profile_message_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_empty.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_user_not_found.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_edipi.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_icn.yml
  spec/support/vcr_cassettes/mpi/find_candidate/orch_search_with_attributes.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: console-services-review

#10798 Adds travel reimbursement feature toggle.
  config/features.yml
Labels: console-services-review

#10754 [46405] add `request_id` to failed login redirects
  app/controllers/v0/sign_in_controller.rb
  app/controllers/v1/sessions_controller.rb
  lib/saml/post_url_service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: identity, identity-backend, console-services-review

#10786 3771 provider backfill
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/services/mobile/v2/appointments/provider_names.rb
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/services/v2/appointments/provider_names_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_with_mixed_provider_types.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_200.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_400.yml
  modules/mobile/spec/support/vcr_cassettes/providers/get_provider_500.yml
Labels: mobile

#10796 Adds feature flag pw_ehr_cta_use_slo
  config/features.yml
Labels: console-services-review

#10800 API-19993-fix-docs
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#10799 AppealsApi::PDFSubmitJob - Add model name to slack notification for ease of debugging
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#10792 Add route, endpiont skeleton and test
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  spec/support/schemas/claims_api/v2/veterans/submit_waiver_5103.json
Labels: Lighthouse, console-services-review, claimsApi

#10806 Enables Sign in Service in dev by default
  config/features.yml
Labels: console-services-review

#10772 Increase address limit to 30 characters
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/2122.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/config/schemas/v2/2122.json
Labels: Lighthouse, NOT YET, claimsApi

#10807 Create Form5655Submission for each VHA submission
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#10808 Military service data
  app/swagger/swagger/requests/profile.rb
  config/features.yml
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/military_personnel/service_history_response.rb
  lib/va_profile/models/service_history.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/lib/va_profile/models/service_history_spec.rb
  spec/requests/service_history_request_spec.rb
  spec/support/schemas/service_history_response.json
  spec/support/schemas_camelized/service_history_response.json
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_histories_200.yml
Labels: console-services-review

#10788 46107 Update refresh_precheckin error handling
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/check_in/check_in_500.yml
  spec/support/vcr_cassettes/check_in/chip/pre_check_in/pre_check_in_500.yml
Labels: console-services-review

#10801 Mobile: Add logging for when immunization array comparison fails
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_blank_group_name.yml
Labels: mobile

#10804 [10794] Using backing_idme_uuid with User creation for Sign in Servic…
  app/models/user_verification.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_verification_spec.rb
Labels: console-services-review

#10802 39199 Service/client layer changes for delete endpoint integration
  config/betamocks/services_config.yml
  config/brakeman.ignore
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/chip/client_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
  spec/support/vcr_cassettes/check_in/chip/delete/delete_from_lorota_200.yml
  spec/support/vcr_cassettes/check_in/chip/delete/delete_from_lorota_500.yml
  spec/support/vcr_cassettes/check_in/lorota/token/token_dob_mismatch_401.yml
Labels: console-services-review

#10784 add claimantId to params for enrollment submission
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/lib/dgi/enrollment/service.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

#10814 Set VAOS default timeout to 55 seconds
  config/settings.yml
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/app/services/vaos/configuration.rb
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/configuration_spec.rb
  modules/vaos/spec/services/v1/fhir_configuration_spec.rb
Labels: VAOS, console-services-review

#10759 Update prawn markup
  Gemfile
  Gemfile.lock
Labels: console-services-review

#10816 [47665] Adding idme and logingov uuid to Sign in Service introspect e…
  app/serializers/sign_in/introspect_serializer.rb
  spec/serializers/sign_in/introspect_serializer_spec.rb
Labels: console-services-review

#10797 API-18656-add-model-and-test
  modules/claims_api/app/models/claims_api/evidence_waiver_submission.rb
  modules/claims_api/spec/factories/evidence_waiver_submissions.rb
  modules/claims_api/spec/models/evidence_waiver_submission_spec.rb
Labels: Lighthouse, claimsApi

#10813 Mobile - Update RX tracking to include multiple tracking numbers
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescription_tracking_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/docs/schemas/PrescriptionTracking.yml
  modules/mobile/docs/schemas/PrescriptionTrackingRecord.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription_tracking.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_tracking_with_empty_other_prescriptions.yml
Labels: mobile

#10821 47091 group filtering Grafana VAOS Alerts V2
  lib/string_helpers.rb
  spec/lib/string_helpers_spec.rb
Labels: console-services-review

#10820 [35464] slack service updates to not take message at instantiation
  lib/slack/service.rb
  spec/lib/slack/service_spec.rb
Labels: console-services-review

#10770 VA Notify 553: Career counseling email update logic
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/workers/central_mail/submit_career_counseling_job.rb
  spec/jobs/central_mail/submit_career_counseling_job_spec.rb
Labels: console-services-review

#10815 Updating MPI parsing rules so that it doesn't log a message to sentry…
  lib/mpi/responses/profile_parser.rb
Labels: console-services-review

#10810 API-20060 - Healthcheck endpoints for segmented appeals APIs
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/lib/appeals_api/health_checker.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse, appeals

#10823 Updating the public cert for id.me service interface
  spec/fixtures/idme/idme_oauth_pub.pem
  spec/lib/sign_in/idme/service_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: console-services-review
