Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-03, with the labels that each got.

#9184 [32752] removes comment, IAM logingov authn_context is correct for localhost
  lib/saml/url_service.rb
Labels: identity, identity-backend, tools-be-review

#9192 Removing Typeahead 1.0 feature flag now that it is launched
  config/features.yml
Labels: VSA, tools-be-review

#9212 Add statsd logging to health care applications submissions
  app/controllers/v0/health_care_applications_controller.rb
  app/models/health_care_application.rb
  config/initializers/statsd.rb
  lib/hca/service.rb
  spec/lib/hca/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: tools-be-review

#9241 2402: appointment request messages schema docs
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentRequestMessage.yml
  modules/mobile/docs/schemas/AppointmentRequestMessages.yml
Labels: mobile

#9214 Update appointment caching to allow caching back to beginning of last…
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/spec/models/adapters/community_care_appointments_adapter_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/services/appointments_service_spec.rb
  modules/mobile/spec/support/fixtures/cc_appointments.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_at_home_no_location.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_cache_false.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_large_range.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_cache_false.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_large_range.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_reason_for_visit.yml
Labels: mobile

#9228 API-13563 Stop creating duplicate StatusUpdate records
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
Labels: Lighthouse, appeals

#9239 [API-13369] - ClaimsApi - Handle eFolder Access Failures
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
Labels: Lighthouse

#9230 Form 526: Handle nil User Redis record when calling get_first_name
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: tools-be-review

#9205 37536 model definition for oauth session
  app/models/sign_in/o_auth_session.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/models/sign_in/o_auth_session_spec.rb
Labels: tools-be-review

#9206 RRD: prep for new contention type - part 1
  app/models/form526_submission.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  spec/factories/form526_submissions.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_special_issue_manager_spec.rb
  spec/services/rapid_ready_for_decision/processor_selector_spec.rb
Labels: tools-be-review

#9245 2662: make mobile devs flipper admins
  config/settings.yml
Labels: tools-be-review

#9233 API-12854 Add timeliness exemption reason page to pdf
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/additional_content.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/time_extension_reason.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/valid_10182.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure_spec.rb
Labels: Lighthouse, appeals

#9236 2498 Bug Fix Sev-4 two vaccine records on the same day should be sorted A-Z
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_date_missing.yml
Labels: mobile

#9247 36469 Adding test for downstream service failure for demographics con…
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/confirm_demographics/confirm_demographics_500.yml
Labels: tools-be-review

#9260 RRD: Fix flakey get_first_name test
  app/services/rapid_ready_for_decision/processor_selector.rb
  spec/models/form526_submission_spec.rb
Labels: tools-be-review

#9254 2565 remove gender fax mobile user v1
  modules/mobile/app/controllers/mobile/v1/users_controller.rb
  modules/mobile/app/serializers/mobile/v1/user_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/v1/User.yml
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/schemas/v1/user.json
Labels: mobile

#9252 2498 Two vaccine records on the same day should be sorted A-Z
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
Labels: mobile

#9243 API-13151 Part 1: NOD v2 create endpoint and evidence submission
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#9262 Nod schema fix
  modules/appeals_api/config/schemas/v2/10182.json
Labels: Lighthouse, appeals

#9258 2677 appointment request adapter error
  modules/mobile/app/models/mobile/v0/adapters/appointment_requests.rb
  modules/mobile/app/models/mobile/v0/templates/community_care_appointment.rb
  modules/mobile/spec/models/adapters/appointment_requests_adapter_spec.rb
  modules/mobile/spec/support/fixtures/appointment_requests.json
Labels: mobile

#9253 Automatically fill uneditable 1010ez fields
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: tools-be-review

#9263 Add safe navigation for clinics in v2 appt controller
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: VAOS

#9255 Api 13516 consolidate schemas
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/config/schemas/v2/200995.json
Labels: Lighthouse, appeals

#9261 API-13151 Part 2: show and validate endpoints
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/fixtures/v2/invalid_10182.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#9213 LGY Update COE Application
  app/models/saved_claim/coe_claim.rb
  lib/lgy/service.rb
Labels: tools-be-review

#9235 [37201] Adding ability to create, encrypt, and decrypt opaque refresh…
  app/models/sign_in/refresh_token.rb
  app/services/sign_in/constants/refresh_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/refresh_token_encryptor.rb
  spec/factories/sign_in/refresh_tokens.rb
  spec/models/sign_in/refresh_token_spec.rb
  spec/services/sign_in/refresh_token_decryptor_spec.rb
  spec/services/sign_in/refresh_token_encryptor_spec.rb
Labels: tools-be-review

#9268 Fix NOD schema
  modules/appeals_api/config/schemas/v2/10182.json
Labels: Lighthouse, appeals

#9270 Add trent mcdole email
  config/settings.yml
Labels: tools-be-review

#9266 Update swagger_dev
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: Lighthouse, appeals

#9269 Added Tim to settings file
  config/settings.yml
Labels: tools-be-review

#9250 [36771] Update FSR VA Notify config to DMC Service
  config/settings.yml
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/workers/va_notify_email_job.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: tools-be-review

#9281 Add admin user for flipper toggles
  config/settings.yml
Labels: tools-be-review

#9277 API-13911 Finalize NOD v2 pdf printing placement
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/config/pdfs/10182_v2.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#9257 LGY Document Uploader
  app/controllers/v0/coe_controller.rb
  config/routes.rb
  spec/requests/v0/lgy_coe_request_spec.rb
  spec/support/vcr_cassettes/lgy/document_upload.yml
Labels: tools-be-review

#9284 Remove supplemental claims from swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: Lighthouse, appeals

#9303 Revert "Revert "Update sidekiq""
  Gemfile.lock
  lib/sidekiq/semantic_logging.rb
Labels: tools-be-review

#9283 Add Mulesoft specs for uploading documents and fix bug(s)
  config/settings.yml
  config/settings/test.yml
  lib/carma/client/mule_soft_client.rb
  spec/jobs/form1010cg/deliver_attachments_job_spec.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/support/vcr_cassettes/mulesoft/application/1010CG/addDocument/201.yml
Labels: tools-be-review

#9305 Fix TypeError bug caused by #9206
  app/models/form526_submission.rb
Labels: tools-be-review

#9302 Refactor common Account.lookup_by_user_uuid code
  app/models/account.rb
  app/workers/education_form/process10203_submissions.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  spec/models/account_spec.rb
Labels: tools-be-review

#9295 RRD: invalidate memoized form_hash variable after it is updated
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/hypertension_special_issue_manager.rb
  app/services/rapid_ready_for_decision/hypertension_upload_manager.rb
Labels: tools-be-review

#9298 Update vets-json-schema to latest version
  Gemfile.lock
Labels: tools-be-review

#9271 (feature) added toggle for HTML view for Medical CoPays
  config/features.yml
Labels: tools-be-review

#9309 fix v1 user linking
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

#9244 Coe prefill changes
  .rubocop_todo.yml
  app/models/form_profile.rb
  app/models/form_profiles/va_261880.rb
  config/form_profile_mappings/26-1880.yml
  config/settings.yml
  spec/models/form_profile_spec.rb
Labels: tools-be-review

#9273 [37200] Sign In Access token creation, encoding, decoding
  app/models/sign_in/access_token.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/constants/access_token.rb
  app/services/sign_in/errors.rb
  config/settings.yml
  config/settings/test.yml
  spec/factories/sign_in/access_tokens.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/refresh_tokens.rb
  spec/fixtures/sign_in/privatekey.pem
  spec/models/sign_in/access_token_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
Labels: tools-be-review

#9265 2438 cancel pending appointment
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/templates/base_appointment.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/models/adapters/appointment_requests_adapter_spec.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_request.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_request_404.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_request_cancelled.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointment_request.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_request.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_request_409.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_request_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_cc_appointment_request.yml
Labels: mobile

#9286 34534 Pre-Checkin Refresh Implementation
  config/betamocks/services_config.yml
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/refresh_pre_check_in/refresh_pre_check_in_200.yml
  spec/support/vcr_cassettes/check_in/chip/refresh_pre_check_in/refresh_pre_check_in_500.yml
Labels: tools-be-review

#9315 Log 1010cg validation errors
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
Labels: tools-be-review

#9312 38160 Removing NoK confirmation feature flag
  config/features.yml
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
Labels: tools-be-review

#9308 2688 add payment history to user service dictionary
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  spec/factories/iam_users.rb
Labels: mobile, tools-be-review

#9238 37350 oauth services scaffolding
  app/controllers/sign_in_controller.rb
  app/services/sign_in/errors.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  lib/sign_in/logingov/configuration.rb
  lib/sign_in/logingov/service.rb
  lib/sign_in/logingov/templates/logingov_get_form.html.erb
  lib/sign_in/url_service.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/fixtures/sign_in/logingov.crt
  spec/fixtures/sign_in/logingov.key
  spec/lib/sign_in/logingov/service_spec.rb
  spec/support/saml/form_validation_helpers.rb
  spec/support/vcr_cassettes/identity/logingov_200_responses.yml
  spec/support/vcr_cassettes/identity/logingov_400_responses.yml
Labels: identity, identity-backend, tools-be-review

#9287 37203 session creation and refres token storage
  app/models/sign_in/session_container.rb
  app/services/sign_in/constants/refresh_token.rb
  app/services/sign_in/session_creator.rb
  spec/factories/sign_in/session_containers.rb
  spec/models/sign_in/session_container_spec.rb
  spec/services/sign_in/session_creator_spec.rb
Labels: tools-be-review

#9059 [33352] sets force_authn to false in all environments
  app/controllers/v1/sessions_controller.rb
  lib/saml/ssoe_settings_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, tools-be-review

#9318 VRE 1900 / Centrail Mail Job bug
  app/workers/central_mail/submit_saved_claim_job.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: tools-be-review

#9310 CSP changes
  app/controllers/v1/sessions_controller.rb
  config/initializers/authn_context.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: identity, NOT YET, identity-backend, tools-be-review

#9200 Change RRD PDF upload docType to L048 ('Medical Treatment Record')
  app/services/rapid_ready_for_decision/hypertension_upload_manager.rb
  spec/services/rapid_ready_for_decision/hypertension_upload_manager_spec.rb
Labels: tools-be-review

#9328 [38422] Setting authn context CSP values to old settings
  config/initializers/authn_context.rb
Labels: tools-be-review

#9317 API-13960 Update docs api description for SC evidence sub
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: Lighthouse, appeals

#9331 Update RRD Benefits Delivery roster for Flipper admin
  config/settings.yml
Labels: tools-be-review

#9320 38125 regenerate session with refresh token
  app/models/sign_in/o_auth_session.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  spec/factories/sign_in/refresh_tokens.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
Labels: tools-be-review

#9329 38423 set authn csp values to new values
  config/initializers/authn_context.rb
Labels: tools-be-review

#9333 API-13787 Add tests for nod v2 evidence submission
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
Labels: Lighthouse, appeals

#9334 [API-13990] - ClaimsApi - Fix EVSS ReferenceData Service Calls
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: Lighthouse

#9322 API-13844: Update validations and arguments passed to BGS update_birls_record
  Gemfile.lock
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/lib/claims_api/poa_pdf_constructor/base.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
Labels: tools-be-review

#9332 Adding New Claim Labels for Dependents Applications
  config/features.yml
  lib/bgs/form686c.rb
  spec/lib/bgs/form686c_spec.rb
Labels: tools-be-review

#9346 don't turn appointmentTimePreferences into an array
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: tools-be-review

#9296 RRD Hypertension: Append date range to PDF filename
  app/mailers/hypertension_fast_track_pilot_mailer.rb
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
  app/services/rapid_ready_for_decision/hypertension_upload_manager.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/services/rapid_ready_for_decision/hypertension_upload_manager_spec.rb
Labels: tools-be-review

#9340 New claimant id route
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/claimant_serializer.rb
  modules/meb_api/lib/dgi/claimant/claimant_response.rb
  modules/meb_api/lib/dgi/claimant/configuration.rb
  modules/meb_api/lib/dgi/claimant/service.rb
  modules/meb_api/spec/dgi/letters/service_spec.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
Labels: tools-be-review

#9327 RRD: rename to more accurate `list_medication_requests`
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  lib/lighthouse/veterans_health/client.rb
  spec/lib/lighthouse/veterans_health/client_spec.rb
  spec/lib/lighthouse/veterans_health/integration/client_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_pdf_generator_spec.rb
Labels: tools-be-review

#9349 RRD: generalize email/Slack notification
  app/mailers/hypertension_fast_track_pilot_mailer.rb
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
  spec/mailers/hypertension_fast_track_pilot_mailer_spec.rb
Labels: tools-be-review

#9348 add Josh to flipper admin list
  config/settings.yml
Labels: identity, tools-be-review

#9356 Fix flake in Lighthouse Health API client tests
  spec/lib/lighthouse/veterans_health/client_spec.rb
Labels: tools-be-review

#9357 Add --no-TTY to docker-compose in code-checks
  .github/workflows/code_checks.yml
Labels: tools-be-review

#9350 Appeals API - Fix to avoid daylight savings issues
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#9375 [API-14283] - ClaimsApi - Disable Daily Submissions Report Email
  config/sidekiq_scheduler.yml
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: Lighthouse, tools-be-review

#9363 [38605] Updating CODEOWNERS with sign_in service related files
  .github/CODEOWNERS
Labels: tools-be-review

#9378 Sign-in
  app/controllers/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/models/sign_in/code_container.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  config/redis.yml
  config/routes.rb
  config/settings.yml
  lib/sign_in/logingov/configuration.rb
  lib/sign_in/logingov/service.rb
  lib/sign_in/url_service.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/factories/sign_in/code_containers.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: tools-be-review

#9323 36957 handle lorota 401
  config/features.yml
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/lorota/token/token_401.yml
Labels: tools-be-review

#9379 Fix mirror account availability logs in big query job
  app/workers/test_user_dashboard/mirror_accounts_in_big_query.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/big_query.rb
Labels: tools-be-review

#9386 [38599] Adding an optional Settings to enable or disable anti csrf c…
  app/controllers/sign_in_controller.rb
  app/services/sign_in/session_refresher.rb
  config/settings.yml
  spec/controllers/sign_in_controller_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
Labels: tools-be-review

#9387 [37359] Oauth Interface with idme for sign in service
  app/controllers/sign_in_controller.rb
  config/settings.yml
  config/settings/test.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  lib/sign_in/templates/oauth_get_form.html.erb
  spec/controllers/sign_in_controller_spec.rb
  spec/fixtures/sign_in/logingov.crt
  spec/fixtures/sign_in/logingov.key
  spec/fixtures/sign_in/oauth.crt
  spec/fixtures/sign_in/oauth.key
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: identity, tools-be-review

#9385 API-12495 Update submission log to include all metadata
  lib/central_mail/utilities.rb
Labels: Lighthouse, appeals, tools-be-review

#9354 Merge patient DOB with patient and display on PDF
  app/services/rapid_ready_for_decision/hypertension_pdf_generator.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/services/rapid_ready_for_decision/hypertension_pdf_generator_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/includes_the_veterans_birthdate.yml
Labels: tools-be-review

#9372 API-14203 charactervalidation expansion
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/character_validation.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/pdf_output_prep.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/spec/controllers/concerns/appeals_api/character_validation_spec.rb
  modules/appeals_api/spec/fixtures/v1/invalid_10182_characters.json
  modules/appeals_api/spec/fixtures/v1/invalid_10182_headers_characters.json
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/spec_helper.rb
Labels: Lighthouse, appeals

#9360 RRD: rename Flipper flags to be prefixed with `rrd_` - step 1
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  config/features.yml
  spec/models/form526_submission_spec.rb
Labels: tools-be-review

#9376 [API-14283] - ClaimsApi - Remove Unnecessary Claim submission details from daily report
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_submission_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
Labels: Lighthouse

#9336 38159 Sending demographics confirmation only if verified from upstream
  config/features.yml
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/config/initializers/statsd.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
Labels: tools-be-review

#9398 Add check-in experience translation toggles
  config/features.yml
Labels: tools-be-review

#9345 COE PDF creation
  lib/pdf_fill/extras_generator.rb
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/26-1880.pdf
  lib/pdf_fill/forms/va261880.rb
  modules/meb_api/spec/dgi/letters/service_spec.rb
  spec/fixtures/pdf_fill/26-1880/kitchen_sink.json
  spec/fixtures/pdf_fill/26-1880/kitchen_sink.pdf
  spec/fixtures/pdf_fill/26-1880/overflow.json
  spec/fixtures/pdf_fill/26-1880/overflow.pdf
  spec/fixtures/pdf_fill/26-1880/overflow_extras.pdf
  spec/fixtures/pdf_fill/26-1880/simple.json
  spec/fixtures/pdf_fill/26-1880/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: tools-be-review

#9399 API-12495 Remove unused hlr files
  modules/appeals_api/app/workers/appeals_api/higher_level_review_pdf_submit_job.rb
  modules/appeals_api/spec/workers/higher_level_review_pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#9400 Add feature toggle for day-of demographics features
  config/features.yml
Labels: tools-be-review

#9405 API-12495 Fix line of business key name
  lib/central_mail/utilities.rb
  modules/appeals_api/lib/appeals_api/hlr_pdf_submit_wrapper.rb
  modules/appeals_api/lib/appeals_api/nod_pdf_submit_wrapper.rb
  modules/appeals_api/lib/appeals_api/sc_pdf_submit_wrapper.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: Lighthouse, appeals, tools-be-review

#9409 2808 mobile: handle nil providers in va video connect appointments
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/support/fixtures/cerner_appointments_nil_provider.json
Labels: mobile

#9343 [API-13879] - ClaimsApi - Temporarily disable ITF & POA rswag generated V2 docs
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
Labels: Lighthouse

#9389 [API-14274] - ClaimsApi - Handle disabilities that don't have 'specialIssues"
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#9421 Lower Rails Cache Connect Timeout
  config/environments/production.rb
Labels: tools-be-review

#9251 [37884] adds CORP ID to mhv-outbound-redirect duplicate id validation exceptions
  lib/saml/url_service.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: identity, identity-backend, tools-be-review

#9384 Change backend code to allow 1010ez short form submissions
  app/models/health_care_application.rb
  lib/hca/enrollment_system.rb
  spec/fixtures/hca/short_form.json
  spec/lib/hca/enrollment_system_spec.rb
  spec/lib/hca/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/support/vcr_cassettes/evss/disability_compensation_form/rating_info_with_disability.yml
  spec/support/vcr_cassettes/hca/short_form.yml
Labels: tools-be-review

#9411 API-14521 Fix EventsWorker argument encoding
  modules/appeals_api/app/services/appeals_api/events/handler.rb
  modules/appeals_api/spec/services/appeals_api/events/handler_spec.rb
Labels: Lighthouse, appeals

#9413 Remove unused v2 swaggerblock files (part 1)
  modules/appeals_api/app/swagger/appeals_api/v2/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v2/legacy_appeals_controller_swagger.rb
  modules/appeals_api/app/swagger/appeals_api/v2/schemas/higher_level_reviews.rb
  modules/appeals_api/app/swagger/appeals_api/v2/schemas/legacy_appeals.rb
Labels: Lighthouse, appeals

#9390 RRD: Include blood pressure reading count in notifications
  app/mailers/hypertension_fast_track_pilot_mailer.rb
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/mailers/hypertension_fast_track_pilot_mailer_spec.rb
Labels: tools-be-review

#9422 Add feature toggle for shifted veteran banner widget
  config/features.yml
Labels: tools-be-review

#9431 Use google-github-actions/setup-gcloud v0
  .github/workflows/code_checks.yml
Labels: tools-be-review

#9410 API-1450 Put appeal status apikey into the header
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: Lighthouse, appeals

#9407 38641 LGY payload updates
  app/models/saved_claim/coe_claim.rb
  spec/lib/lgy/service_spec.rb
Labels: tools-be-review

#9425 Add monitoring around each individual mulesoft call
  config/initializers/statsd.rb
  lib/carma/client/mule_soft_client.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
Labels: tools-be-review

#9424 API-13516 wire up non-veteran claimant for nod v2
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#9402 35719 Use JSON schema to validate FSR payload
  lib/debt_management_center/financial_status_report_service.rb
  lib/debt_management_center/schemas/fsr.json
  spec/controllers/v0/financial_status_reports_controller_spec.rb
  spec/fixtures/dmc/fsr_submission.json
Labels: tools-be-review

#9412 Consolidate NOD v2 and SC v2 schemas
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
Labels: Lighthouse, appeals

#9404 [API-14283] - ClaimsApi - Re-enable Daily Submissions Report Email
  config/sidekiq_scheduler.yml
Labels: Lighthouse, tools-be-review

#9433 Unique some jobs
  app/workers/education_form/process10203_submissions.rb
  app/workers/sidekiq_stats_job.rb
  modules/apps_api/app/workers/apps_api/fetch_connections.rb
Labels: tools-be-review

#9434 Fix incorrect NOD v2 schema endpoint and update swagger_dev
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: Lighthouse, appeals

#9391 Api 13721 create pdf examples
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/spec_helper.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: Lighthouse, appeals

#9401 Dependents Application Add End Date
  app/models/bgs_dependents/death.rb
  lib/bgs/dependents.rb
  spec/lib/bgs/dependent_higher_ed_attendance_spec.rb
  spec/lib/bgs/dependents_spec.rb
  spec/lib/bgs/vnp_relationships_spec.rb
  spec/models/bgs_dependents/death_spec.rb
Labels: tools-be-review

#9437 Disable AppsApi::FetchConnection job
  config/sidekiq_scheduler.yml
Labels: tools-be-review

#9441 Api 14218 hlr pdf ex
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200996_extra.json
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#9446 Adding force_authn to true for outbound mhv and dslogon authentications
  app/controllers/v1/sessions_controller.rb
  lib/saml/ssoe_settings_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: tools-be-review

#9449 Api 14518 fix overlaps hlr v2
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: Lighthouse, appeals

#9442 updated logingov introspect and added mobile mapping
  lib/iam_ssoe_oauth/session_manager.rb
  spec/support/vcr_cassettes/iam_ssoe_oauth/introspect_active_logingov.yml
Labels: tools-be-review

#9451 API-12495 Fix HLR & SC businessLine mapping
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
Labels: Lighthouse, appeals

#9374 RRD: prep for new contention type - part 3: use refactored hypertension job
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/processor_selector.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/processor_selector_spec.rb
Labels: tools-be-review

#9432 VaNotify saved form reminders
  config/features.yml
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
  modules/va_notify/app/workers/va_notify/in_progress_forms.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
  modules/va_notify/spec/workers/in_progress_forms_spec.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
Labels: tools-be-review

#9445 RRD: display disability_code in notification
  app/mailers/hypertension_fast_track_pilot_mailer.rb
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
  spec/mailers/hypertension_fast_track_pilot_mailer_spec.rb
Labels: tools-be-review

#9448 DHP-92 Scaffold dhp connected devices module
  .github/CODEOWNERS
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/dhp_connected_devices/.rubocop.yml
  modules/dhp_connected_devices/Gemfile
  modules/dhp_connected_devices/README.rdoc
  modules/dhp_connected_devices/Rakefile
  modules/dhp_connected_devices/bin/rails
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/dhp_connected_devices.gemspec
  modules/dhp_connected_devices/lib/dhp_connected_devices.rb
  modules/dhp_connected_devices/lib/dhp_connected_devices/engine.rb
  modules/dhp_connected_devices/lib/dhp_connected_devices/version.rb
  modules/dhp_connected_devices/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: tools-be-review, Ready For Review

#9450 Fix with_tracking to mark jobs as success when the block returns
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
  spec/lib/sidekiq/form526_job_status_tracker/job_tracker_spec.rb
Labels: tools-be-review

#9293 Add address to practitioner object in v2 swagger
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
Labels: VAOS

#9436 35719 Fix bug for no spouse listed in 5655 form
  lib/debt_management_center/schemas/fsr.json
Labels: tools-be-review

#9427 [37195] Adding relevant attributes to sign in service introspect seri…
  app/controllers/sign_in_controller.rb
  app/serializers/sign_in/introspect_serializer.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/serializers/sign_in/introspect_serializer_spec.rb
Labels: tools-be-review

#9455 API-000 Veteran Verification Fix OpenAPI security schema reference
  modules/veteran_verification/VETERAN_VERIFICATION_V0.yml
  modules/veteran_verification/VETERAN_VERIFICATION_V1.yml
Labels: Lighthouse

#9227 Offramp from RRD if veteran has pending EP 020
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/support/vcr_cassettes/evss/claims/claims_without_open_compensation_claims.yml
Labels: tools-be-review

#9463 [39114] Creating model definition for inherited proof verified user a…
  app/models/inherited_proof_verified_user_account.rb
  spec/factories/inherited_proof_verified_user_accounts.rb
  spec/models/inherited_proof_verified_user_account_spec.rb
Labels: tools-be-review

#9394 Add mobile schedule appointment policy
  modules/mobile/app/policies/schedule_appointment_policy.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  spec/factories/iam_users.rb
Labels: mobile, tools-be-review

#9469 add user request spec fix
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

#9465 354 add sentry logging
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
Labels: tools-be-review

#9456 [38647] Update name of VBS header for key
  app/services/medical_copays/request.rb
  spec/services/medical_copays/request_spec.rb
Labels: tools-be-review

#9466 [API-14303] - ClaimsApi - Fix 526 Supporting Doc Uploads to EVSS
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/workers/claims_api/claim_uploader.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
  modules/claims_api/spec/workers/claim_uploader_spec.rb
Labels: Lighthouse

#9474 API-14808 Fix error report skipping stale records
  modules/appeals_api/app/mailers/appeals_api/daily_error_report_mailer.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
Labels: Lighthouse, appeals

#9467 RRD: reword notification to 'Not processed'
  app/mailers/hypertension_fast_track_pilot_mailer.rb
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
  spec/mailers/hypertension_fast_track_pilot_mailer_spec.rb
Labels: tools-be-review

#9470 [COE] Sort document list by date
  app/controllers/v0/coe_controller.rb
Labels: tools-be-review

#9468 Document upload bug
  lib/lgy/service.rb
Labels: tools-be-review

#9486 Updating labeler to use console-services-review
  .github/labeler.yml
Labels: console-services-review

#9473 API-13229 HLRv2 & NOD Non-Veteran Claimant email support
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: Lighthouse, appeals

#9461 Mhv identity model 35659
  app/models/inherited_proofing/mhv_identity_data.rb
  config/redis.yml
  spec/factories/inherited_proofing/mhv_identity_data.rb
  spec/models/inherited_proofing/mhv_identity_data_spec.rb
Labels: identity, identity-backend, tools-be-review

#9485 add toggle to show or hide 2 fields
  config/features.yml
Labels: tools-be-review

#9495 API-12495 Cemetery businessline to CMP
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
Labels: Lighthouse, appeals

#9492 [38647] Add compatability to switch api key header name
  app/services/medical_copays/request.rb
  config/features.yml
Labels: console-services-review

#9499 adding additional logging for appointments errors
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
Labels: mobile

#9478 RRD: rename hypertension classes
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/services/rapid_ready_for_decision/lighthouse_medication_request_data.rb
  app/services/rapid_ready_for_decision/lighthouse_observation_data.rb
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_blood_pressure_readings.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_medications.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_no_medications_are_present/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_no_medications_are_present/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_LighthouseMedicationRequestData/_transform/returns_all_of_the_medications_that_are_active.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_LighthouseMedicationRequestData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_LighthouseObservationData/_transform/returns_only_bp_readings_from_the_past_year.yml
Labels: tools-be-review, console-services-review

#9491 Update Email Notifications
  app/mailers/dependents_application_failure_mailer.rb
  config/settings.yml
  spec/mailers/dependents_application_failure_mailer_spec.rb
Labels: console-services-review

#9482 Fix skipped HCA specs
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/submit_with_attachment.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment_jpg.yml
Labels: tools-be-review
