Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-02, with the labels that each got.

#8994 Update HLRv1 sunset date
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals

#8980 Fixing an issue with how we handle Params
  config/initializers/statsd.rb
  modules/facilities_api/app/controllers/facilities_api/v1/va_controller.rb
  modules/facilities_api/app/services/facilities_api/v1/lighthouse/client.rb
  modules/facilities_api/app/services/facilities_api/v1/lighthouse/configuration.rb
  modules/facilities_api/spec/requests/facilities_api/v1/va_request_spec.rb
  modules/facilities_api/spec/services/facilities_api/v1/lighthouse/client_spec.rb
  modules/facilities_api/spec/spec_helper.rb
  spec/support/vcr_cassettes/facilities/mobile/covid.yml
  spec/support/vcr_cassettes/facilities/ppms/ppms_new_query.yml
  spec/support/vcr_cassettes/facilities/ppms/ppms_old.yml
  spec/support/vcr_cassettes/facilities/va/lighthouse.yml
  spec/support/vcr_cassettes/facilities/va/ny_health.yml
  spec/support/vcr_cassettes/facilities/va/ppms_and_lighthouse.yml
Labels: tools-be-review

#9003 Delete branch when closing stale PR
  .github/workflows/check_stale_prs.yml
Labels: tools-be-review

#9006 34690 carma mulesoft updates
  app/services/form1010cg/service.rb
  lib/carma/client/mule_soft_configuration.rb
  spec/lib/carma/client/mule_soft_configuration_spec.rb
Labels: tools-be-review

#9000 Move tracking to include lighthouse call
  app/workers/fast_track/disability_compensation_job.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
Labels: tools-be-review

#9001 2452: only retry specs in CI environment
  spec/spec_helper.rb
Labels: tools-be-review

#9004 [35063] update vets-json-schema gem
  Gemfile.lock
Labels: tools-be-review

#9008 Remove VAOS homepage refresh toggle flag
  config/features.yml
Labels: tools-be-review

#8959 Changing the example to better reflect the results
  modules/va_forms/app/swagger/va_forms/forms/form_swagger.rb
Labels: Forms

#9012 RRD failure emails: make emailed stacktrace more readable
  app/workers/fast_track/disability_compensation_job.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
Labels: tools-be-review

#8978 Update claims_api docs verbage
  modules/claims_api/app/swagger/claims_api/description/v0.md
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
Labels: Lighthouse

#9014 Alphabetize mobile openapi endpoints doc
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

#8995 API-9832: Bring "get claims" v2 endpoint to parity with v1
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: tools-be-review

#8987 Refactor HypertensionSpecialIssueManager to be more rubyist
  app/services/fast_track/hypertension_special_issue_manager.rb
Labels: tools-be-review

#9016 [33352] sets authentication SAML `force_authn` to false
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, tools-be-review

#9013 Add Scott James as flipper admin in settings
  config/settings.yml
Labels: tools-be-review

#9017 Revert "[33352] sets authentication SAML `force_authn` to false"
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: tools-be-review

#8964 API-12689 - Add NOD email notifications
  config/features.yml
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/lib/appeals_api/data_migrations/event_subscription_subscriber.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals, tools-be-review

#9019 [33352] sets force_authn to false for non-staging & non-production envs
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, tools-be-review

#8998 API 13005 - Benefits Intake Bulk Reports Logging
  modules/vba_documents/app/controllers/vba_documents/application_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v1/reports_controller.rb
Labels: BenefitsIntake

#8997 Api 12952 GUID report update
  modules/vba_documents/app/views/vba_documents/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/vba_documents/app/workers/vba_documents/report_unsuccessful_submissions.rb
Labels: BenefitsIntake

#9028 API-12216 Connected Apps response filtering
  app/models/okta_redis/profile.rb
Labels: Lighthouse, tools-be-review

#9033 add feature toggle for gender field
  config/features.yml
Labels: tools-be-review

#9036 Check if mailer.log file exists before setting
  config/environments/development.rb
Labels: tools-be-review

#8992 Onsite notifications controller and swagger docs
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/onsite_notifications_controller.rb
  app/models/onsite_notification.rb
  app/serializers/onsite_notification_serializer.rb
  app/swagger/swagger/requests/onsite_notifications.rb
  app/swagger/swagger/schemas/onsite_notifications.rb
  config/routes.rb
  spec/controllers/v0/onsite_notifications_controller_spec.rb
  spec/controllers/v1/notifications_controller_spec.rb
  spec/factories/onsite_notifications.rb
  spec/models/onsite_notification_spec.rb
  spec/requests/swagger_spec.rb
Labels: tools-be-review

#9029 API-13104 Part 2: HLR appellant methods
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
Labels: Lighthouse, appeals

#9045 Removing GIBCT sandbox feature flag.
  config/features.yml
Labels: tools-be-review

#9038 Updating find VA forms feature flag names
  config/features.yml
Labels: VSA, tools-be-review

#9024 Hypertension RRD: improve error handling: add AccountNotFoundError
  app/workers/fast_track/disability_compensation_job.rb
  spec/jobs/fast_track/disability_compensation_job_spec.rb
Labels: tools-be-review

#9035 API-12653 - Add NOD v2 form fields
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields_spec.rb
Labels: Lighthouse, appeals

#9037 2365 payment history refactor
  app/controllers/v0/profile/payment_history_controller.rb
  app/models/adapters/payment_history_adapter.rb
  app/models/payment_history.rb
  app/serializers/payment_history_serializer.rb
  app/serializers/vet_payment_history_serializer.rb
  spec/controllers/v0/profile/payment_history_controller_spec.rb
  spec/support/vcr_cassettes/bgs/payment_history/retrieve_payment_summary_with_bdn_returns.yml
Labels: tools-be-review

#9055 Cancel appointment makes a call to new_appointment, should call updated_appointment
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: VAOS

#9058 API-13206 Mitigate PG:InFailedSqlTransaction errors
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals

#9065 Add feature flag
  config/features.yml
Labels: tools-be-review

#9048 Change FastTrack module name to RapidReadyForDecision
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/hypertension_medication_request_data.rb
  app/services/rapid_ready_for_decision/hypertension_observation_data.rb
  app/services/rapid_ready_for_decision/hypertension_pdf_generator.rb
  app/services/rapid_ready_for_decision/hypertension_special_issue_manager.rb
  app/services/rapid_ready_for_decision/hypertension_upload_manager.rb
  app/uploaders/validate_pdf.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_observation_data_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_special_issue_manager_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_upload_manager_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/failure/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call_and_emails_the_engineers.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_DisabilityCompensationJob/_perform/success/the_claim_IS_for_hypertension/marks_the_new_Form526JobStatus_record_as_successful.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_DisabilityCompensationJob/_perform/success/the_claim_is_NOT_for_hypertension/returns_from_the_class_if_the_claim_observations_does_NOT_include_bp_readings_from_the_past_year.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_DisabilityCompensationJob/_perform/when_the_user_uuid_is_not_associated_with_an_Account_AND_the_edipi_auth_header_is_present/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionMedicationRequestData/_transform/returns_all_of_the_medications_that_are_active.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionMedicationRequestData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionObservationData/_transform/returns_only_bp_readings_from_the_past_year.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/includes_the_veterans_blood_pressure_readings.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/includes_the_veterans_medications.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/includes_the_veterans_name.yml
Labels: tools-be-review

#9040 API-13104 Part3: Update appellant hlr data and structure
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/fixtures/expected_200996_minimum_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2.pdf
  modules/appeals_api/spec/fixtures/expected_200996_v2_extra.pdf
  modules/appeals_api/spec/fixtures/valid_200996_extra_v2.json
  modules/appeals_api/spec/fixtures/valid_200996_headers_v2.json
  modules/appeals_api/spec/fixtures/valid_200996_v2.json
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/models/non_veteran_claimant_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields_spec.rb
Labels: Lighthouse, appeals

#9072 (toggle) added new feature toggles for Check In Experience
  config/features.yml
Labels: tools-be-review

#8979 AL 32455 document upload
  app/controllers/v0/claim_documents_controller.rb
  app/models/persistent_attachments/lgy_claim.rb
  app/models/saved_claim/lgy_claim.rb
  lib/lgy/tag_sentry.rb
  spec/models/persistent_attachments/lgy_claim_spec.rb
Labels: tools-be-review

#9049 API-13258 - Pretty print appeal totals in weekly email
  modules/appeals_api/app/views/appeals_api/decision_review_mailer/_appeal_table.html.erb
Labels: Lighthouse, appeals

#9079 API-13396 - Enable invalid status spec for SC
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: Lighthouse, appeals

#9080 Add workflow_dispatch to build
  .github/workflows/build.yml
Labels: tools-be-review

#9039 DisabilityCompensationJob: reformat failure email using HTML
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
Labels: tools-be-review

#9042 Updates service for eligibility
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/eligibility_serializer.rb
  modules/meb_api/lib/dgi/eligibility/eligibility_response.rb
  modules/meb_api/lib/dgi/eligibility/service.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/eligibility/service_spec.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/dgi/letters/service_spec.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/schemas/dgi/eligibility_response.json
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/submit_claim.yml
Labels: tools-be-review

#9082 Only run HLRStatusUpdateBatch once across workers
  config/sidekiq_scheduler.yml
Labels: Lighthouse, appeals, tools-be-review

#9051 2361 2432 get mobile immunizations manufacturer and group name from LH data - Business Logic
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
  modules/mobile/spec/services/lighthouse_health_service_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_blank_note.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_cached_token.yml
Labels: mobile

#9092 Revert "Updates service for eligibility"
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/eligibility_serializer.rb
  modules/meb_api/lib/dgi/eligibility/eligibility_response.rb
  modules/meb_api/lib/dgi/eligibility/service.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/eligibility/service_spec.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/dgi/letters/service_spec.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/schemas/dgi/eligibility_response.json
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/submit_claim.yml
Labels: tools-be-review

#9034 [API-13066] - ClaimsApi - Add CCG support for V2
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veteran_identifier_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
Labels: Lighthouse

#9084 update enrollment action to retrieve data from vets-service
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/enrollment_serializer.rb
  modules/meb_api/lib/dgi/enrollment/configuration.rb
  modules/meb_api/lib/dgi/enrollment/response.rb
  modules/meb_api/lib/dgi/enrollment/service.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/enrollment.yml
  spec/support/vcr_cassettes/user/get_facilities_empty.yml
Labels: tools-be-review

#9087 Add Yoom for access to Flipper
  config/settings.yml
Labels: tools-be-review

#9090 Skip TUD tests temporarily so PR #9069 checks can pass
  modules/test_user_dashboard/spec/models/tud_account_spec.rb
  modules/test_user_dashboard/spec/requests/tud_accounts_request_spec.rb
  modules/test_user_dashboard/spec/serializers/tud_account_serializer_spec.rb
  modules/test_user_dashboard/spec/services/account_metrics_spec.rb
  modules/test_user_dashboard/spec/services/big_query_spec.rb
  modules/test_user_dashboard/spec/services/create_test_user_account_spec.rb
  modules/test_user_dashboard/spec/services/update_user_spec.rb
  spec/jobs/test_user_dashboard/mirror_account_availability_logs_in_big_query_spec.rb
  spec/jobs/test_user_dashboard/track_account_statuses_in_big_query_spec.rb
Labels: tools-be-review

#9086 Api 13169 va forms new drupal user
  modules/va_forms/lib/tasks/va_forms.rake
Labels: Forms

#9052 2361 2432 immunization group manufacturer lh - Specs
  modules/mobile/spec/factories/vaccines.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_cvx_code_missing.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_date_missing.yml
  modules/mobile/spec/support/vcr_cassettes/vaccines/group_names.yml
  modules/mobile/spec/support/vcr_cassettes/vaccines/malformed.yml
  modules/mobile/spec/support/vcr_cassettes/vaccines/manufacturers.yml
Labels: mobile

#8969 2361 2432 Remove Mobile Vaccine Table
  db/schema.rb
  modules/mobile/db/migrate/20220207193840_remove_mobile_vaccine.rb
Labels: mobile, tools-be-review

#9095 Skip TUD sidekiq test temporarily
  spec/jobs/test_user_dashboard/daily_maintenance_spec.rb
Labels: tools-be-review

#9098 Update vets-json-schema to latest version
  Gemfile.lock
Labels: tools-be-review

#9094 Dgi updates eligibility
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/eligibility_serializer.rb
  modules/meb_api/lib/dgi/eligibility/eligibility_response.rb
  modules/meb_api/lib/dgi/eligibility/service.rb
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/eligibility/service_spec.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/dgi/letters/service_spec.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/schemas/dgi/eligibility_response.json
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/service_get_eligibility.yml
  spec/support/vcr_cassettes/dgi/submit_claim.yml
Labels: tools-be-review

#9088 [API-13368] - ClaimsApi - Allow Sidekiq to retry VBMS::FilenumberDoesNotExist errors
  modules/claims_api/app/workers/claims_api/vbms_upload_job.rb
  modules/claims_api/spec/workers/vbms_upload_job_spec.rb
Labels: Lighthouse

#9056 Appointment (Additional details/ comments) not being transferred to HSRM
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/factories/v2/appointment_forms.rb
Labels: VAOS

#9078 API-13259 SC Long email print on additional page
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/pages/v2/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
Labels: Lighthouse, appeals

#9074 API-12654 Add new v2 methods to nod model
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/fixtures/v2/valid_10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_headers_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_minimum.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#9093 Remove non veteran claimant class
  modules/appeals_api/app/models/appeals_api/non_veteran_claimant.rb
Labels: Lighthouse, appeals

#9069 Update test_user_dashboard_tud_accounts table
  db/schema.rb
  modules/test_user_dashboard/db/migrate/20220208161919_update_tud_accounts.rb
Labels: tools-be-review

#8721 Add login.gov accounts to TUD
  .gitignore
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
  modules/test_user_dashboard/app/serializers/test_user_dashboard/tud_account_serializer.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/create_test_user_account.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/update_user.rb
  modules/test_user_dashboard/spec/factories/tud_accounts.rb
  modules/test_user_dashboard/spec/models/tud_account_spec.rb
  modules/test_user_dashboard/spec/requests/tud_accounts_request_spec.rb
  modules/test_user_dashboard/spec/serializers/tud_account_serializer_spec.rb
  modules/test_user_dashboard/spec/services/account_metrics_spec.rb
  modules/test_user_dashboard/spec/services/big_query_spec.rb
  modules/test_user_dashboard/spec/services/create_test_user_account_spec.rb
  modules/test_user_dashboard/spec/services/update_user_spec.rb
  modules/test_user_dashboard/spec/support/spec_users.csv
  spec/jobs/test_user_dashboard/daily_maintenance_spec.rb
  spec/jobs/test_user_dashboard/mirror_account_availability_logs_in_big_query_spec.rb
  spec/jobs/test_user_dashboard/track_account_statuses_in_big_query_spec.rb
Labels: tools-be-review

#9107 Update Rails to 6.1.4.6
  Gemfile.lock
Labels: tools-be-review

#9100 Api 36090/email notification for failed 526 submissions
  app/models/form526_submission.rb
  app/workers/form526_submission_failed_email_job.rb
  config/initializers/statsd.rb
  config/settings.yml
  spec/models/form526_submission_spec.rb
Labels: tools-be-review

#9105 API-12125 HLR v2 fix up claimant requirements and handling
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/config/schemas/v2/200996_headers.json
Labels: Lighthouse, appeals

#9097 2066 fix whitespace removal for message drafts
  app/models/message_draft.rb
  lib/sm/client.rb
  modules/mobile/spec/request/message_drafts_request_spec.rb
  spec/support/vcr_cassettes/sm_client/message_drafts/creates_a_draft_reply_signature_only.yml
  spec/support/vcr_cassettes/sm_client/message_drafts/creates_a_draft_signature_only.yml
Labels: mobile, tools-be-review

#9111 Add @yoomlam's note about test environment settings.
  config/settings.local.yml.example
Labels: tools-be-review

#9104 [36577] Login.gov Inbound SSOe
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, identity-backend, tools-be-review

#9089 Expand disability error logging to investigate disability rating errors
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
Labels: mobile

#9110 RRD PDF: Create an “empty state” for medications heading and query information
  app/services/rapid_ready_for_decision/hypertension_pdf_generator.rb
  spec/services/rapid_ready_for_decision/hypertension_pdf_generator_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/when_no_medications_are_present/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionPdfGenerator/_generate/when_no_medications_are_present/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
Labels: tools-be-review

#9064 Submit COE Application to LGY
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  app/models/saved_claim/lgy_claim.rb
  config/routes.rb
  lib/lgy/service.rb
  spec/factories/coe_claim.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/application_put.yml
Labels: tools-be-review

#9114 2500 mobile payment history date filter
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/docs/schemas/PaymentHistory.yml
  modules/mobile/spec/request/payment_history_request_spec.rb
  modules/mobile/spec/support/schemas/payment_history.json
Labels: mobile

#9125 changed ineligibile to denied
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: tools-be-review

#9121 2440: modify appointments, appointments proxy, and adapters in prepar…
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/contracts/get_paginated_list.rb
  modules/mobile/app/serializers/mobile/v0/appointment_serializer.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/app/services/mobile/v0/appointments/service.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/services/appointments_service_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#9134 Sync master branch to k8s via GHA
  .github/workflows/sync_branch.yml
Labels: tools-be-review

#9119 API-12125 Fixup appellant and HLR class
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#9118 RRD Hypertension PDF: Display effective date instead of issued date
  app/services/rapid_ready_for_decision/hypertension_observation_data.rb
  app/services/rapid_ready_for_decision/hypertension_pdf_generator.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_observation_data_spec.rb
Labels: tools-be-review

#9120 Simplify presentation of BP readings in RRD hypertension PDF. Adds caveats to PDF.
  app/services/rapid_ready_for_decision/hypertension_pdf_generator.rb
  spec/services/rapid_ready_for_decision/hypertension_pdf_generator_spec.rb
Labels: tools-be-review

#9140 33582 profile bad address
  app/swagger/swagger/schemas/vet360/contact_information.rb
  lib/va_profile/models/address.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/factories/va_profile/addresses.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/person_full.yml
Labels: tools-be-review

#9146 Mobile maintenance windows non graphed service bugfix
  modules/mobile/app/models/mobile/v0/service_graph.rb
  modules/mobile/spec/factories/maintenance_windows.rb
  modules/mobile/spec/request/maintenance_windows_request_spec.rb
Labels: mobile

#9148 2440: handle empty appointments responses
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_empty.yml
Labels: mobile

#9149 Updating LGY COE Form Submission
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
Labels: tools-be-review

#9151 Mobile empty payment history bug
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
Labels: mobile

#9154 Expand error logging for disability ratings.
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
Labels: mobile

#9152 Bump ox gem from 2.14.6 to 2.14.9
  Gemfile.lock
Labels: tools-be-review

#9143 RRD Hypertension PDF: Filter by effectiveDateTime instead of issued.
  app/services/rapid_ready_for_decision/hypertension_observation_data.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_observation_data_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_pdf_generator_spec.rb
Labels: tools-be-review

#9147 Module for new and existing VaNotify functionality
  Gemfile
  Gemfile.lock
  modules/notify/Gemfile
  modules/notify/README.md
  modules/notify/Rakefile
  modules/notify/bin/rails
  modules/notify/config/routes.rb
  modules/notify/lib/notify.rb
  modules/notify/lib/notify/engine.rb
  modules/notify/lib/notify/version.rb
  modules/notify/notify.gemspec
  modules/notify/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: tools-be-review

#9057 DO NOT MERGE [33352] sets force_authn to false on staging SAML requests
  app/controllers/v1/sessions_controller.rb
Labels: identity, NOT YET, tools-be-review

#9144 2440: add appointment requests adapter
  modules/mobile/app/models/mobile/v0/adapters/appointment_requests.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
Labels: mobile

#9162 Copy existing VaNotify service from top level into module
  .rubocop_todo.yml
  modules/notify/lib/notify/configuration.rb
  modules/notify/lib/notify/service.rb
  modules/notify/spec/lib/configuration_spec.rb
  modules/notify/spec/lib/service_spec.rb
  modules/notify/spec/rails_helper.rb
Labels: tools-be-review

#9099 Cache find bank name bgs call
  app/models/bank_name.rb
  config/redis.yml
  lib/bgs/service.rb
  spec/factories/bank_name.rb
  spec/models/bank_name_spec.rb
Labels: tools-be-review

#9159 Added COE denial date for the Denied Status page
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: tools-be-review

#9131 Allow at home video appointments to be cached when no facility
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_at_home_no_location.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#9167 35935 - Add Sentry logging for down VBMS
  lib/debt_management_center/debt_letter_downloader.rb
  spec/lib/debt_management_center/debt_letter_downloader_spec.rb
  spec/support/vcr_cassettes/debts/person_data_and_letters.yml
Labels: tools-be-review

#9168 Added reference number to coe status
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: tools-be-review

#9160 [API-13174] - ClaimsApi - Handle failure to find Veteran 'FileNumber'
  config/locales/exceptions.en.yml
  lib/common/exceptions/failed_dependency.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: Lighthouse, tools-be-review

#9185 2275 adding user v1 tests
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile

#9155 API-12658 nod v2 form data
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#9169 LGY Document Upload
  app/models/saved_claim/coe_claim.rb
  lib/lgy/service.rb
  spec/fixtures/files/lgy_file.pdf
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/document_post.yml
Labels: tools-be-review

#9186 2322 payment history logging
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
Labels: mobile

#9190 API-13679 Fix issue text box height
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200996_extra.json
Labels: Lighthouse, appeals

#9176 [31136] Add new endpoint to fetch medical copays by id
  app/controllers/v0/medical_copays_controller.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  config/routes.rb
  spec/controllers/v0/medical_copays_controller_spec.rb
  spec/fixtures/medical_copays/show.json
  spec/requests/swagger_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
  spec/support/medical_copays/stub_medical_copays.rb
Labels: tools-be-review

#9182 RRD: event email: reorder columns for easier pasting into spreadsheet
  app/mailers/views/hypertension_fast_track_pilot_mailer.erb.html
Labels: tools-be-review

#9165 Skip RRD logic when restarting EVSS submission of Form 526
  app/models/form526_submission.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  spec/models/form526_submission_spec.rb
Labels: tools-be-review

#9166 2440: add appointment requests to appointments index
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/appointment_requests.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_requests.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_requests_500.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile, tools-be-review

#9191 API-12658 Part 2: nod v2 model data refine
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields.rb
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_minimum.json
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
Labels: Lighthouse, appeals

#9077 updates for backend flag on vets inbox
  config/features.yml
Labels: tools-be-review

#9124 Added feature toggle for AB test
  config/features.yml
Labels: tools-be-review

#9198 2623 mobile payment history missing date bug fix
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/payment_history/retrieve_payment_summary_with_bdn_blank_date.yml
Labels: mobile

#9187 Track all combinations of caregivers data in statsd
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/services/form1010cg/auditor.rb
  config/initializers/statsd.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/services/form1010cg/auditor_spec.rb
Labels: tools-be-review

#9183 VaNotify rename module
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
  modules/notify/lib/notify/configuration.rb
  modules/notify/lib/notify/service.rb
  modules/notify/spec/lib/service_spec.rb
  modules/va_notify/Gemfile
  modules/va_notify/README.md
  modules/va_notify/Rakefile
  modules/va_notify/bin/rails
  modules/va_notify/config/routes.rb
  modules/va_notify/lib/va_notify.rb
  modules/va_notify/lib/va_notify/configuration.rb
  modules/va_notify/lib/va_notify/engine.rb
  modules/va_notify/lib/va_notify/service.rb
  modules/va_notify/lib/va_notify/version.rb
  modules/va_notify/spec/lib/configuration_spec.rb
  modules/va_notify/spec/lib/service_spec.rb
  modules/va_notify/spec/rails_helper.rb
  modules/va_notify/spec/spec_helper.rb
  modules/va_notify/va_notify.gemspec
  spec/lib/va_notify/configuration_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: tools-be-review

#9181 RRD refactoring: extract new ProcessorSelector class from Form526Submission
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/diagnostic_codes.rb
  app/services/rapid_ready_for_decision/hypertension_special_issue_manager.rb
  app/services/rapid_ready_for_decision/processor_selector.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  spec/factories/form526_submissions.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/services/rapid_ready_for_decision/hypertension_special_issue_manager_spec.rb
  spec/services/rapid_ready_for_decision/processor_selector_spec.rb
Labels: tools-be-review

#9203 2440: appointment request adapter specs
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/models/adapters/appointment_requests_adapter_spec.rb
  modules/mobile/spec/models/adapters/community_care_appointments_adapter_spec.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/support/fixtures/appointment_requests.json
Labels: mobile

#9195 [37202] Creating OAuth Sessions table for direct OAuth authentications
  db/migrate/20220223000748_create_oauth_sessions.rb
  db/schema.rb
Labels: tools-be-review

#9175 Fix error handling in PoA signatures
  modules/claims_api/app/workers/claims_api/poa_form_builder_job.rb
  modules/claims_api/spec/fixtures/signature_b64_prefix_bad.txt
  modules/claims_api/spec/workers/poa_form_builder_job_spec.rb
Labels: Lighthouse

#9197 API-12658 Part3: Structure and printing
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/additional_content.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/config/pdfs/10182_v2.pdf
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/valid_10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure_spec.rb
Labels: Lighthouse, appeals

#9115 36470 Demographic controller endpoint implementation
  config/betamocks/services_config.yml
  modules/check_in/app/controllers/check_in/v2/demographics_controller.rb
  modules/check_in/app/models/check_in/v2/session.rb
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/app/services/v2/chip/service.rb
  modules/check_in/spec/models/check_in/v2/session_spec.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/services/v2/chip/client_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
  spec/support/vcr_cassettes/check_in/chip/confirm_demographics/confirm_demographics_200.yml
Labels: tools-be-review

#9199 2322 payment history logging
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
Labels: mobile

#9210 2440: refactor appointments requests adapter to use template pattern
  modules/mobile/app/models/mobile/v0/adapters/appointment_requests.rb
  modules/mobile/app/models/mobile/v0/templates/base_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/community_care_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/va_appointment.rb
Labels: mobile

#9201 upadte endpoint enrollment verificaiton endpoint to use real data
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/lib/dgi/enrollment/service.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: tools-be-review

#9211 Update deprecated method
  config/initializers/rack_attack.rb
Labels: tools-be-review

#9145 Unified sign in force ial2 loa3
  app/controllers/v1/sessions_controller.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/url_service_spec.rb
Labels: identity, identity-backend, tools-be-review

#9209 [37482] Prefill 5655 form with only payments from last 30 days
  app/models/form_profiles/va_5655.rb
  spec/models/form_profile_spec.rb
  spec/requests/v0/in_progress_forms/5655_request_spec.rb
Labels: tools-be-review

#9224 [API-13685] - ClaimsApi - Enable retries on AWS file not found errors
  modules/claims_api/app/workers/claims_api/vbms_upload_job.rb
  modules/claims_api/spec/workers/vbms_upload_job_spec.rb
Labels: Lighthouse

#9225 2646 mobile update maintenance window service map
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/spec/factories/maintenance_windows.rb
  modules/mobile/spec/request/maintenance_windows_request_spec.rb
Labels: mobile

#9226 2440 appointment request schema
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/cc_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Appointment.yml
Labels: mobile

#9229 Fix email printing on extra page
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/additional_content.rb
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
Labels: Lighthouse, appeals

#9139 2475 increase iam ssoe timeout
  config/settings.yml
  lib/iam_ssoe_oauth/configuration.rb
Labels: tools-be-review

#9218 36847 Update sessions controller to set pre check-in started
  config/betamocks/services_config.yml
  config/features.yml
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/chip/client_spec.rb
  modules/check_in/spec/services/v2/chip/service_spec.rb
  spec/support/vcr_cassettes/check_in/chip/set_precheckin_started/set_precheckin_started_200.yml
  spec/support/vcr_cassettes/check_in/chip/set_precheckin_started/set_precheckin_started_500.yml
Labels: tools-be-review

#9208 2402 get messages
  modules/mobile/app/controllers/mobile/v0/appointment_request_messages_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/appointment_request_messages_spec.rb
  modules/mobile/spec/support/schemas/appointment_request_messages.json
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages.yml
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages_unparsable.yml
Labels: mobile

#9204 2623 mobile payments remove additional logging
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
Labels: mobile

#9163 36913 Request Flow Provider NPI
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200_2222022.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200_2252022.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200_2282022.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200_back.yml
Labels: VAOS, tools-be-review

#9234 Update vets-json-schema to latest version
  Gemfile.lock
Labels: tools-be-review

#9215 Get LGY documents
  app/controllers/v0/coe_controller.rb
  config/routes.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/documents_list.yml
Labels: tools-be-review
