Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-04, with the labels that each got.

#9519 API-13957 Update production docs with nod v2
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: Lighthouse, appeals

#9525 Fixing flaky spec in delete_old_uploads
  spec/jobs/preneeds/delete_old_uploads_spec.rb
Labels: console-services-review

#9518 RRD: Allow worker subclass to skip release of generated PDF to EVSS
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

#9522 Update Email Notifications for Dependents Application
  app/mailers/dependents_application_failure_mailer.rb
  spec/mailers/dependents_application_failure_mailer_spec.rb
Labels: console-services-review

#9536 allow appointment location when no provider
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
Labels: mobile

#9496 [39116] Serializing inherited proof verified field for users serializer
  app/controllers/v1/sessions_controller.rb
  app/models/user.rb
  app/models/user_identity.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/user_creator.rb
  app/services/users/profile.rb
  spec/models/user_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

#9539 Dgi toe feature flag
  config/features.yml
Labels: console-services-review

#9541 API-14937 Fix sending HLR emails to veteran when no NVC present
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
Labels: bug, Lighthouse, appeals

#9543 API-14738 Log Caseflow::Service.get_contestable_issues errors
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/contestable_issues_controller.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: Lighthouse, appeals

#9544 Normalize responses with the same example UUIDs and timestamps
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/hlr_spec.rb
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
Labels: Lighthouse, appeals

#9515 39368 - (Toggle) - Feature toggle for Combined Debt Portal
  config/features.yml
Labels: debt, tools-be, tools-be-review, console-services-review

#9538 COE final payload updates
  app/models/saved_claim/coe_claim.rb
  spec/factories/coe_claim.rb
Labels: console-services-review

#9500 API-14634 - Add claims submission logging
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/app/workers/claims_api/claim_uploader.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/app/workers/claims_api/vbms_updater.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: Lighthouse

#9503 Add required fields back to HCA long form
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

#9453 [35662] inherited_proofing controller & authentication request to Login.gov
  app/controllers/inherited_proofing_controller.rb
  config/routes.rb
  config/settings.yml
  lib/inherited_proofing/logingov/configuration.rb
  lib/inherited_proofing/logingov/service.rb
  lib/inherited_proofing/logingov/templates/oauth_get_form.html.erb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/lib/inherited_proofing/logingov/service_spec.rb
Labels: tools-be-review, console-services-review

#9548 DHP-92 Navigation to consent selection at Fitbit
  Gemfile
  Gemfile.lock
  config/features.yml
  config/settings.yml
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/apidocs_controller.rb
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/docs/dhp_connected_devices.yaml
  modules/dhp_connected_devices/bin/rails
  modules/dhp_connected_devices/config/initializers/fitbit_api.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/lib/fitbit/client.rb
  modules/dhp_connected_devices/lib/fitbit/configuration.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/apidocs_controller_spec.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/lib/fitbit_client_spec.rb
Labels: console-services-review

#9514 Updated COE submission to return reference number
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  lib/lgy/service.rb
  spec/factories/coe_claim.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/application_put.yml
Labels: console-services-review

#9521 2832: EVSS errors
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

#9552 Added edit messaging feature flag.
  config/features.yml
Labels: console-services-review

#9444 API-13065: Claims v2 error handling
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/lib/claims_api/common/exceptions/token_validation_error.rb
  modules/claims_api/lib/claims_api/error/error_handler.rb
  modules/claims_api/spec/lib/claims_api/error/error_handler_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  spec/support/schemas/claims_api/v2/errors/default.json
Labels: Lighthouse, console-services-review

#9547 API-9548 Remove V1 Lighthouse Token Validation Service
  modules/openid_auth/README.yml
  modules/openid_auth/app/controllers/openid_auth/docs/v1/validation_controller.rb
  modules/openid_auth/app/controllers/openid_auth/v1/validation_controller.rb
  modules/openid_auth/app/serializers/openid_auth/validation_serializer.rb
  modules/openid_auth/config/routes.rb
  modules/openid_auth/spec/requests/api_docs_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_spec.rb
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
Labels: Lighthouse

#9557 Add people back to mailer
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: Lighthouse

#9550 [API-14930] - ClaimsApi - Add title10 'anticipatedSeparationDate' validation
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#9558 Update Dockerfile to install Poppler version 22
  Dockerfile
  app/models/evss_claim_document.rb
  app/models/form_attachment.rb
Labels: console-services-review

#9504 K8s update poppler to 22
  Dockerfile
Labels: console-services-review

#9524 VaNotify email job
  app/workers/bgs/submit_form686c_job.rb
  config/features.yml
  config/settings.yml
  modules/va_notify/app/workers/va_notify/email_job.rb
  modules/va_notify/spec/workers/email_job_spec.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
Labels: console-services-review

#9545 Add appeal created_at to PDFSubmitJob error reporting
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
Labels: Lighthouse, appeals

#9523 Use single template for Hypertension PDF
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/hypertension.erb
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  app/services/rapid_ready_for_decision/views/shared/intro.erb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_medication_data_are_nil/continues_rendering_with_message.yml
Labels: console-services-review

#9516 39040 logingov user attrs
  Gemfile
  Gemfile.lock
  app/controllers/inherited_proofing_controller.rb
  config/routes.rb
  config/settings.yml
  lib/inherited_proofing/errors.rb
  lib/inherited_proofing/jwt_decoder.rb
  lib/inherited_proofing/mhv/inherited_proofing_verifier.rb
  lib/inherited_proofing/user_attributes_encryptor.rb
  lib/inherited_proofing/user_attributes_fetcher.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/fixtures/logingov/oauth_pub.key
  spec/lib/inherited_proofing/jwt_decoder_spec.rb
  spec/lib/inherited_proofing/mhv/inherited_proofing_verifier_spec.rb
  spec/lib/inherited_proofing/user_attributes_encryptor_spec.rb
  spec/lib/inherited_proofing/user_attributes_fetcher_spec.rb
Labels: console-services-review

#9567 Updating brakeman to 5.2.2
  Gemfile.lock
Labels: console-services-review

#9555 [35634] Adding inherited proofing callback after login.gov authentica…
  app/controllers/inherited_proofing_controller.rb
  config/routes.rb
  lib/inherited_proofing/errors.rb
  spec/controllers/inherited_proofing_controller_spec.rb
Labels: console-services-review

#9535 39128: Additional MHV Inherited Proofing Flippers
  config/features.yml
Labels: identity

#9537 RRD: refactor to use new RRD concern
  app/mailers/rrd_completed_mailer.rb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#9566 Rename mobile appointments param to include pending
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/models/mobile/v0/contracts/get_paginated_list.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
Labels: mobile

#9509 38679 Custom cookie in check-in experience for low auth token
  config/features.yml
  modules/check_in/app/controllers/check_in/application_controller.rb
  modules/check_in/app/controllers/check_in/v2/demographics_controller.rb
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/pre_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#9576 Update 686c email confirmation details
  app/workers/bgs/submit_form686c_job.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
Labels: console-services-review

#9578 Ignores IntelliJ files ending in .iml
  .gitignore
Labels: console-services-review

#9583 update enrollment endpoint to match java service
  modules/meb_api/app/serializers/enrollment_serializer.rb
  modules/meb_api/lib/dgi/enrollment/response.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  spec/support/vcr_cassettes/dgi/enrollment.yml
Labels: console-services-review

#9568 [39693] updates inherited_proofing callback url
  config/settings.yml
  lib/inherited_proofing/logingov/configuration.rb
Labels: console-services-review

#9581 Adding Temporary auth code mock to aid in testing for inherited proofing
  lib/inherited_proofing/user_attributes_fetcher.rb
Labels: console-services-review

#9586 updates logingov public key filename
  config/settings.yml
  spec/fixtures/logingov/logingov_oauth_pub.pem
Labels: console-services-review

#9590 Cleaning up thoughtworks flipper admins
  config/settings.yml
Labels: console-services-review

#9423 1095b
  app/controllers/v0/form1095_bs_controller.rb
  app/models/form1095_b.rb
  app/policies/form1095_policy.rb
  config/routes.rb
  lib/pdf_fill/forms/pdfs/f1095bs/1095b-2021.pdf
  spec/factories/form1095_bs.rb
  spec/models/form1095_b_spec.rb
  spec/policies/form1095_policy_spec.rb
  spec/requests/form1095_b_spec.rb
Labels: tools-be-review, console-services-review

#9592 Fix redis deprecations
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/models/concerns/redis_caching.rb
  app/services/mhv_account_type_service.rb
  config/initializers/01_redis.rb
  lib/common/models/collection.rb
  lib/common/models/redis_store.rb
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/app/models/mobile/v0/concerns/redis_caching.rb
  modules/mobile/app/workers/mobile/v0/vet360_linking_job.rb
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/spec/services/user_service_spec.rb
  rakelib/connectivity.rake
  rakelib/redis.rake
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/middleware/rack/attack_spec.rb
  spec/service_consumers/pact_helper.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/services/mhv_accounts_service_spec.rb
Labels: VAOS, mobile, console-services-review

#9575 RRD: rename Constants' hash key to sidekiq_job
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/processor_selector.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/services/rapid_ready_for_decision/processor_selector_spec.rb
Labels: console-services-review

#9593 API-14708: Fixes infinitely growing events issue by removing expired events from the event group
  config/sidekiq_scheduler.yml
  modules/apps_api/lib/apps_api/notification_service.rb
Labels: console-services-review

#9582 Api 14964 perserve original data
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: Lighthouse

#9487 VaNotify InProgressForm reminder - Change icn retrieval method
  modules/va_notify/app/models/va_notify/in_progress_form_686c.rb
  modules/va_notify/app/models/va_notify/veteran.rb
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
  modules/va_notify/spec/models/in_progress_form_686c_spec.rb
  modules/va_notify/spec/models/veteran_spec.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: console-services-review

#9559 RRD: Add templates for asthma PDF
  app/services/rapid_ready_for_decision/views/asthma.erb
  app/services/rapid_ready_for_decision/views/asthma/about.erb
  app/services/rapid_ready_for_decision/views/asthma/rating_schedule.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/behaves_like_includes_introduction/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/behaves_like_includes_introduction/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/behaves_like_includes_introduction/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/behaves_like_includes_introduction/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/includes_the_veterans_blood_pressure_readings.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/includes_the_veterans_medications.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_medication_data_are_nil/continues_rendering_with_message.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_no_medications_are_present/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_no_medications_are_present/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
Labels: console-services-review

#9579 RRD: consolidate code into a shared send_rrd_alert_email method
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/processor_selector.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

#9591 API-13926 Fix header text overlap
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/stamper.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/structure_spec.rb
Labels: Lighthouse, appeals

#9580 RRD: Allow asthma claims with active medications to proceed to PDF generation
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526AsthmaJob/_assess_data/when_there_are_active_medication_requests/returns_the_active_medication_requests.yml
Labels: console-services-review

#9430 1095b s3 script
  app/workers/form1095/new1095_bs_job.rb
  config/settings.yml
  config/sidekiq_scheduler.yml
  spec/jobs/form1095/new1095_bs_job_spec.rb
  spec/support/form1095/multiple_valid_forms.txt
  spec/support/form1095/single_invalid_form.txt
  spec/support/form1095/single_valid_form.txt
Labels: tools-be-review, console-services-review

#9599 Update in progress form reminder job
  config/settings.yml
  modules/va_notify/app/workers/va_notify/in_progress_form_notifier.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: console-services-review

#9588 Api 12293 remove extra validations
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#9595 [39784] Updating UserVerified to throw an error if user is previously…
  app/models/user_account.rb
  app/models/user_verification.rb
  app/services/login/errors.rb
  app/services/login/user_verifier.rb
  spec/models/user_account_spec.rb
  spec/models/user_verification_spec.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

#9607 Docker/GHA: Set the correct env vars for build
  .github/workflows/build.yml
Labels: console-services-review

#9608 Silence docker bundle cache extraction
  Dockerfile
Labels: console-services-review

#9420 [38760] removes orch_search_service create_profile_message method
  app/models/mpi_data.rb
  config/settings.yml
  lib/mpi/orch_search_service.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/find_profile_message_edipi_spec.rb
  spec/lib/mpi/messages/find_profile_message_spec.rb
  spec/lib/mpi/orch_search_service_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/form526_submission_spec.rb
  spec/models/mpi_data_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_user_not_found.yml
  spec/support/vcr_cassettes/mpi/find_candidate/historical_icns_with_edipi.yml
Labels: tools-be-review, console-services-review

#9606 Add Simi Adebowal for access to flipper
  config/settings.yml
Labels: console-services-review

#9613 RRD: add rrd_asthma_release_pdf Flipper flag
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  config/features.yml
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
Labels: console-services-review

#9617 Add identity verified ide.me user to flipper
  config/settings.yml
Labels: console-services-review

#9601 Flag asthma meds
  Gemfile
  Gemfile.lock
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  public/fonts/deja-vu-sans.ttf
Labels: console-services-review

#9611 added log line
  app/services/bgs/base_service.rb
Labels: console-services-review

#9610 [9609] Changing multiple account records sentry log to a rails log
  app/services/identity/account_creator.rb
  spec/services/identity/account_creator_spec.rb
Labels: console-services-review

#9621 Onboarding - add Flipper permissions
  config/settings.yml
Labels: console-services-review

#9622 Update to Ruby 2.7.6
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  docs/setup/native.md
Labels: console-services-review

#9626 API-15115 Change extensionRequest to requestingExtension NOD v2
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/time_extension_reason.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/config/locales/en.yml
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_10182_minimum.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields_spec.rb
Labels: Lighthouse, appeals

#9573 API-8172 Lighthouse OAuth Revoke session if Okta Profile ICN Mismatch with MPI response
  app/controllers/openid_application_controller.rb
  spec/controllers/openid_application_controller_spec.rb
  spec/factories/user_identity_attributes.rb
Labels: Lighthouse

#9594 RRD: add RrdProcessor classes but don't enable them yet
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  app/services/rapid_ready_for_decision/sidekiq_job_selector.rb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/services/rapid_ready_for_decision/sidekiq_job_selector_spec.rb
Labels: console-services-review

#9625 Api 15056 birth past validation
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#9629 updating logging for better PII protection
  app/services/bgs/base_service.rb
Labels: console-services-review

#9632 (Redis deprecations) Rack Attack Updated
  Gemfile
  Gemfile.lock
Labels: console-services-review

#9619 2863 mobile appointment request v2
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentExtensions.yml
  modules/mobile/docs/schemas/AppointmentIdentifier.yml
  modules/mobile/docs/schemas/AppointmentKind.yml
  modules/mobile/docs/schemas/AppointmentRequestAddress.yml
  modules/mobile/docs/schemas/AppointmentStatus.yml
  modules/mobile/docs/schemas/CodeableConcept.yml
  modules/mobile/docs/schemas/Coding.yml
  modules/mobile/docs/schemas/CommunityCareLocation.yml
  modules/mobile/docs/schemas/ContactPoint.yml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/docs/schemas/NewAppointment.yml
  modules/mobile/docs/schemas/PatientContact.yml
  modules/mobile/docs/schemas/Period.yml
  modules/mobile/docs/schemas/Practitioner.yml
  modules/mobile/docs/schemas/PractitionerIds.yml
  modules/mobile/docs/schemas/PreferredLocation.yml
  modules/mobile/docs/schemas/TasAddress.yml
  modules/mobile/docs/schemas/TasInfo.yml
  modules/mobile/docs/schemas/TelehealthInfo.yml
  modules/mobile/lib/mobile/v0/vaos_appointments/appointments_helper.rb
  modules/mobile/spec/request/appointments_create_request_request_spec.rb
Labels: mobile

#9636 updated logging to contain an object
  app/services/bgs/base_service.rb
Labels: console-services-review

#9637 RRD: add pdf_guid in the RRD notification
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#9631 Remove outdated link in `README`
  README.md
Labels: console-services-review

#9635 [27790] Create endpoint to fetch debts by id
  app/controllers/v0/debts_controller.rb
  config/redis.yml
  config/routes.rb
  lib/debt_management_center/debts_service.rb
  lib/debt_management_center/models/debt_store.rb
  spec/fixtures/dmc/debt.json
  spec/lib/debt_management_center/debts_service_spec.rb
Labels: console-services-review

#9577 RRD: Extract RRD processor from Sidekiq job - part 1
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/sidekiq_job_selector_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_perform/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/failure/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call_and_emails_the_engineers.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/marks_the_new_Form526JobStatus_record_as_successful.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/the_claim_IS_for_hypertension/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/when_the_user_uuid_is_not_associated_with_an_Account_AND_the_edipi_auth_header_is_present/finishes_successfully.yml
Labels: console-services-review

#9639 Logging for mobile payment history filtering
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
Labels: mobile

#9643 Add missing decisionDate validations to HLR & SC
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: Lighthouse, appeals

#9641 API-13154 Update NOD v2 Production Documentation
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: Lighthouse, appeals

#9627 38796 demographics service object
  config/settings.yml
  lib/va_profile/demographics/configuration.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/gender_identity.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/support/vcr_cassettes/va_profile/demographics/demographics.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

#9596 RRD: Extract RRD processor from Sidekiq job - part 2
  app/workers/rapid_ready_for_decision/form526_hypertension_job.rb
  spec/jobs/rapid_ready_for_decision/form526_hypertension_job_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/failure/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call_and_emails_the_engineers.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_IS_for_hypertension/marks_the_new_Form526JobStatus_record_as_successful.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/success/the_claim_is_NOT_for_hypertension/returns_from_the_class_if_the_claim_observations_does_NOT_include_bp_readings_from_the_past_year.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526HypertensionJob/_perform/when_the_user_uuid_is_not_associated_with_an_Account_AND_the_edipi_auth_header_is_present/finishes_successfully.yml
Labels: console-services-review

#9597 RRD: Extract RRD processor from Sidekiq job - part 3
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_assess_data/when_there_are_active_medication_requests/returns_the_active_medication_requests.yml
Labels: console-services-review

#9644 API-13513 Update prod docs with SC
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
Labels: Lighthouse, appeals

#9612 2792 update appointments to use mfs for facilities lookup
  config/features.yml
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_mfs_facilities.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile, console-services-review

#9645 Api 13927 organize additional page directories
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/pages/v2/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/pages/hearing_type_and_additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/pages/v2/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/pages/hearing_type_and_additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/additional_content_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/time_extension_reason_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages_spec.rb
Labels: Lighthouse, appeals

#9650 Make NODv2 pdf page class names more descriptive
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/long_data_and_extra_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/long_data_and_extra_issues_spec.rb
Labels: Lighthouse, appeals

#9649 Update lower env docs with latest changes
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
Labels: Lighthouse, appeals

#9624 (feature) added new flip
  config/features.yml
Labels: console-services-review

#9653 Fix HCA validation bug
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

#9655 add user to feature toggle admin users
  config/settings.yml
Labels: console-services-review

#9600 [39796] Unified Sign In `application` parameter validation
  lib/saml/url_service.rb
  lib/saml/user_attributes/ssoe.rb
  spec/lib/saml/ssoe_user_spec.rb
Labels: identity

#9661 Va virtual agent 439 Reconnect to a chatbot conversation
  app/controllers/v0/virtual_agent_token_controller.rb
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_token_success.yml
Labels: console-services-review

#9657 removed logging that is no longer necessary
  lib/iam_ssoe_oauth/session_manager.rb
Labels: console-services-review

#9638 RRD: Add link_to helper to make hyperlinks consistent
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/asthma/about.erb
  app/services/rapid_ready_for_decision/views/asthma/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/hypertension/about.erb
  app/services/rapid_ready_for_decision/views/hypertension/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/shared/_link_to.erb
Labels: console-services-review

#9633 RRD: refactor release_pdf method
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/support/vcr_cassettes/rrd/hypertension.yml
Labels: console-services-review

#9666 Mobile Payment History Scheduled Payment Filtering
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/payment_history_adapter.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/payment_history/retrieve_payment_summary_with_bdn_only_blank_dates.yml
Labels: mobile

#9656 RDD: Warn if multiple Account records with different ICNs found
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

#9671 [API-15088] - ClaimsApi - Set "doctype" for 526 attachment uploads
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: Lighthouse

#9665 fix missing email bug for payment history
  app/models/iam_user.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
  spec/factories/iam_users.rb
Labels: mobile, console-services-review

#9660 38797 return pi data
  app/controllers/v0/profile/personal_informations_controller.rb
  app/serializers/personal_information_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/requests/personal_information_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/personal_information_serializer_spec.rb
  spec/support/schemas/personal_information_response.json
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

#9664 RRD: cleanup VCR cassettes and processor specs
  spec/factories/form526_submissions.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_assess_data/correctly_orders_potential_asthma-related_medication_to_appear_first.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_assess_data/flags_potential_asthma-related_medication.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_AsthmaProcessor/_assess_data/when_there_are_active_medication_requests/returns_the_active_medication_requests.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_medication_data_are_nil/continues_rendering_with_message.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/behaves_like_includes_introduction/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/behaves_like_includes_introduction/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_asthma/when_potential_asthma-related_medication_is_available/flags_potential_asthma-related_medication.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/behaves_like_includes_introduction/includes_the_veterans_birthdate.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/behaves_like_includes_introduction/includes_the_veterans_name.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/includes_the_veterans_blood_pressure_readings.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/includes_the_veterans_medications.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_medication_data_are_nil/continues_rendering_with_message.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_no_medications_are_present/shows_message_when_no_medications_are_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_FastTrackPdfGenerator/_generate/when_pdf_is_for_hypertension/when_no_medications_are_present/shows_the_active_prescriptions_header_even_if_no_meds_present.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526AsthmaJob/_perform/success/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526AsthmaJob/_perform/success/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526AsthmaJob/_perform/success/marks_the_new_Form526JobStatus_record_as_successful.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/failure/creates_a_job_status_record.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/failure/raises_a_helpful_error_if_the_failure_is_after_the_api_call_and_emails_the_engineers.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_Form526BaseJob/_perform/the_claim_IS_for_hypertension/marks_the_new_Form526JobStatus_record_as_successful.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/the_claim_IS_for_hypertension/adds_a_special_issue_to_the_submission.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/the_claim_IS_for_hypertension/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_HypertensionProcessor/_perform/when_the_user_uuid_is_not_associated_with_an_Account_AND_the_edipi_auth_header_is_present/finishes_successfully.yml
  spec/support/vcr_cassettes/RapidReadyForDecision_LighthouseMedicationRequestData/_transform/returns_the_expected_hash_from_a_single-entry_list.yml
  spec/support/vcr_cassettes/rrd/asthma.yml
  spec/support/vcr_cassettes/rrd/hypertension.yml
  spec/support/vcr_cassettes/rrd/lighthouse_medication_requests.yml
  spec/support/vcr_cassettes/rrd/lighthouse_observations.yml
Labels: console-services-review

#9673 [API-15088] - ClaimsApi - Ensure Unique FileNames for 526 Attachments
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: Lighthouse

#9569 update json schema
  Gemfile.lock
  spec/fixtures/hca/conformance/missing-booleans.json
Labels: console-services-review

#9677 Revert "38797 return pi data"
  app/controllers/v0/profile/personal_informations_controller.rb
  app/serializers/personal_information_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/requests/personal_information_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/personal_information_serializer_spec.rb
  spec/support/schemas/personal_information_response.json
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

#9678 (feature) added new flip for Authenticated Experience
  config/features.yml
Labels: console-services-review

#9654 Api 14342 fix overlapping pdf fields
  lib/central_mail/datestamp_pdf.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/stamper.rb
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_10182_minimum.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
Labels: Lighthouse, appeals

#9683 API-15223 - ClaimsApi - Add missing betamock config for EVSS referencedata countries call
  config/betamocks/services_config.yml
Labels: Lighthouse, console-services-review

#9682 RRD: rename method rrd_job_selector
  app/models/form526_submission.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
Labels: console-services-review

#9679 Console UI Catalog File for the vets-api Rails App
  catalog-info.yaml
Labels: console-services-review

#9681 Revert "Revert "38797 return pi data""
  app/controllers/v0/profile/personal_informations_controller.rb
  app/serializers/personal_information_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/demographics/demographic_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/requests/personal_information_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/personal_information_serializer_spec.rb
  spec/support/schemas/personal_information_response.json
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

#9689 Profile gender identity
  lib/va_profile/models/gender_identity.rb
  spec/lib/va_profile/models/gender_identity_spec.rb
Labels: console-services-review

#9686 RRD: add environment to RRD notification subjectline and body
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#9687 RRD: move test to more appropriate base RrdProcessor class
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

#9688 VaNotify in progress form reminders
  config/sidekiq_scheduler.yml
Labels: console-services-review

#9680 Api 14961 add sc nvc schema
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_extra.json
Labels: Lighthouse, appeals

#9684 API 15252 HLR NVC Feedback
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#9697 [API-15200] - ClaimsApi - Require attachment on 526 PUT endpoint
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/document_validations.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: Lighthouse

#9640 Update special issue manager to work for all RRD disabilities
  app/services/rapid_ready_for_decision/rrd_special_issue_manager.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
Labels: console-services-review

#9693 RRD: remove unnecessary Sidekiq::Worker.clear_all
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

#9696 Update assigning authority for idme
  lib/va_profile/demographics/service.rb
  spec/lib/va_profile/demographics/service_spec.rb
  spec/support/vcr_cassettes/va_profile/demographics/demographics.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/va_profile/demographics/demographics_error_503.yml
Labels: console-services-review

#9698 Swagger docs
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#9695 RRD: remove unnecessary :vcr tag from tests
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
Labels: console-services-review

#9690 RRD: Add status details to RRD notification
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

#9675 40042 update preferred name
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/profile/preferred_names_controller.rb
  app/serializers/preferred_name_serializer.rb
  app/swagger/swagger/requests/profile.rb
  app/swagger/swagger/schemas/vet360/preferred_name.rb
  config/routes.rb
  lib/va_profile/demographics/preferred_name_response.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/models/preferred_name.rb
  spec/lib/va_profile/models/preferred_name_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/va_profile/preferred_name_spec.rb
  spec/support/schemas/va_profile/preferred_name_response.json
  spec/support/vcr_cassettes/va_profile/demographics/post_preferred_name_success.yml
Labels: console-services-review

#9694 RRD: use metadata_hash so that we write to DB only once
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

#9706 40042 update preferred name - fixed merge conflict
  spec/support/vcr_cassettes/va_profile/demographics/post_preferred_name_success.yml
Labels: console-services-review

#9674 RRD Asthma PDF: Adds Duration, Refills, and Route to medications
  app/services/rapid_ready_for_decision/lighthouse_medication_request_data.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
Labels: console-services-review

#9702 RRD: replace DOCUMENT_TITLE constant with PREFIX and SUFFIX constants
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_upload_manager.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/factories/form526_submissions.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
Labels: console-services-review

#9703 DHP-256 changes pkce to be hard coded values
  config/settings.yml
  modules/dhp_connected_devices/config/initializers/fitbit_api.rb
Labels: console-services-review

#9710 RRD: don't show "[production]" in RRD notification subjectline
  app/mailers/rrd_completed_mailer.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#9699 2928 appointment request cc eligibility
  modules/mobile/app/controllers/mobile/v0/community_care_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/community_care_eligibility_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CommunityCaresEligibility.yml
  modules/mobile/spec/request/community_care_eligibility_request_spec.rb
  modules/mobile/spec/support/schemas/cc_eligibility.json
  modules/mobile/spec/support/vcr_cassettes/cc_eligibility/get_eligibility_400.yml
  modules/mobile/spec/support/vcr_cassettes/cc_eligibility/get_eligibility_false.yml
  modules/mobile/spec/support/vcr_cassettes/cc_eligibility/get_eligibility_true.yml
Labels: mobile

#9709 Dgi enrollment updates
  modules/meb_api/app/.DS_Store
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/app/serializers/submit_enrollment_serializer.rb
  modules/meb_api/lib/dgi/enrollment/enrollment_response.rb
  modules/meb_api/lib/dgi/enrollment/service.rb
  modules/meb_api/lib/dgi/enrollment/submit_enrollment_response.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  spec/support/vcr_cassettes/dgi/enrollment.yml
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

#9712 RRD: fix diagnostic code in RRD notification
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#9713 API-14961 Add SC NVC type fields & schema requirements
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
Labels: Lighthouse, appeals

#9719 Fix logger tracing
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: Lighthouse

#9720 RRD Asthma: Add warning about meds
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  public/fonts/sourcesanspro-bolditalic-webfont.ttf
Labels: console-services-review

#9721 RRD: simplify release_pdf logic
  app/workers/rapid_ready_for_decision/rrd_processor.rb
Labels: console-services-review

#9701 2856 cc providers
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/serializers/mobile/v0/community_care_provider_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CommunityCareProvider.yml
  modules/mobile/docs/schemas/CommunityCareProviders.yml
  modules/mobile/spec/request/community_care_providers_request_spec.rb
  modules/mobile/spec/support/schemas/community_care_providers.json
  modules/mobile/spec/support/vcr_cassettes/facilities/ppms/community_clinics_empty_search.yml
  modules/mobile/spec/support/vcr_cassettes/facilities/ppms/community_clinics_near_facility.yml
  modules/mobile/spec/support/vcr_cassettes/facilities/ppms/community_clinics_near_user.yml
Labels: mobile

#9723 [9722] Separating module definitions to multiple lines for signin log…
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
Labels: console-services-review

#9724 [38872] Adding ability to send state parameter for sign in service au…
  app/controllers/sign_in_controller.rb
  app/models/sign_in/code_challenge_state_map.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/factories/sign_in/code_challenge_state_maps.rb
  spec/models/sign_in/code_challenge_state_map_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#9732 RRD: PDF generation: handle nil blood pressure reading values
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
Labels: console-services-review

#9727 Remove validation of international postal code
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
Labels: console-services-review

#9736 CVE-2022-22577
  Gemfile
  Gemfile.lock
  modules/covid_research/covid_research.gemspec
  modules/test_user_dashboard/test_user_dashboard.gemspec
Labels: console-services-review

#9659 Pv my health module
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/my_health/Gemfile
  modules/my_health/README.md
  modules/my_health/Rakefile
  modules/my_health/app/controllers/my_health/application_controller.rb
  modules/my_health/app/controllers/my_health/concerns/mhv_controller_concerns.rb
  modules/my_health/app/controllers/my_health/sm_controller.rb
  modules/my_health/app/controllers/my_health/v1/attachments_controller.rb
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
  modules/my_health/app/controllers/my_health/v1/message_drafts_controller.rb
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/app/controllers/my_health/v1/messaging_preferences_controller.rb
  modules/my_health/app/controllers/my_health/v1/triage_teams_controller.rb
  modules/my_health/app/helpers/my_health/application_helper.rb
  modules/my_health/app/helpers/my_health/routing.rb
  modules/my_health/app/helpers/my_health/url_helper.rb
  modules/my_health/app/serializers/my_health/v1/attachment_serializer.rb
  modules/my_health/app/serializers/my_health/v1/category_serializer.rb
  modules/my_health/app/serializers/my_health/v1/folder_serializer.rb
  modules/my_health/app/serializers/my_health/v1/message_serializer.rb
  modules/my_health/app/serializers/my_health/v1/messages_serializer.rb
  modules/my_health/app/serializers/my_health/v1/messaging_preference_serializer.rb
  modules/my_health/app/serializers/my_health/v1/triage_team_serializer.rb
  modules/my_health/bin/rails
  modules/my_health/config/routes.rb
  modules/my_health/lib/my_health.rb
  modules/my_health/lib/my_health/engine.rb
  modules/my_health/lib/my_health/version.rb
  modules/my_health/lib/tasks/my_health_tasks.rake
  modules/my_health/my_health.gemspec
  modules/my_health/spec/request/v1/attachments_request_spec.rb
  modules/my_health/spec/request/v1/folders_request_spec.rb
  modules/my_health/spec/request/v1/message_drafts_request_spec.rb
  modules/my_health/spec/request/v1/messages_request_spec.rb
  modules/my_health/spec/request/v1/messaging_preferences_spec.rb
  modules/my_health/spec/request/v1/triage_teams_request_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

#9734 RRD Asthma: Tweaks asthma PDF with slight formatting changes
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
Labels: console-services-review

#9714 AppealsApi: extract rswag boilerplate into shared examples
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
Labels: Lighthouse, appeals

#9731 [API-15406] - ClaimsApi - 526 transform 'addressChangeType' case
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse
