Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-11, with the labels that each got.

#11027 API-18667-Ews-Email-Report
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_ews_errors_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_ews_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: Lighthouse, console-services-review, claimsApi

#11039 Add cancel booked appointment toggle flag in VAOS
  config/features.yml
Labels: console-services-review

#11045 Mobile - Appointment v2 - Use location phone number when telehealth
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
Labels: mobile

#11035 DLD: Use `received_at` for ordering claim letters
  app/controllers/v0/claim_letters_controller.rb
  lib/claim_letters/claim_letter_downloader.rb
  lib/claim_letters/claim_letter_test_data.rb
  spec/fixtures/claim_letter/claim_letter_list.json
Labels: console-services-review

#11036 Profile default send indicator
  lib/va_profile/models/communication_channel.rb
  lib/va_profile/models/communication_item.rb
  spec/fixtures/va_profile/communication_items.json
  spec/support/vcr_cassettes/va_profile/communication/communication_items.yml
Labels: console-services-review

#11046 Mobile - Appt v2 - don't require telehealth field to get name and phone number
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
Labels: mobile

#11019 47009 travel claim submission controller
  modules/check_in/app/controllers/check_in/v0/travel_claims_controller.rb
  modules/check_in/config/routes.rb
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_200.yml
  spec/support/vcr_cassettes/check_in/btsss/token/token_200.yml
Labels: console-services-review

#11038 Api 21393 mock documents service
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/lib/claims_api/v2/mock_documents_service.rb
Labels: claimsApi

#11048 Added feature for tagalog disclaimer.
  config/features.yml
Labels: console-services-review

#11032 Update line length (merge lines 1 -> 2&3)
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: Lighthouse, claimsApi

#11043 Update 1010EZ SIGI to use new codes
  lib/hca/enrollment_system.rb
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/sigi.yml
Labels: console-services-review

#11051 API-20495: Rename pension_burial_token to central_mail_token
  config/settings.yml
  spec/support/vcr.rb
  spec/support/vcr_cassettes/central_mail/status_multiple_uuids.yml
  spec/support/vcr_cassettes/central_mail/status_multiple_uuids_GDIT.yml
  spec/support/vcr_cassettes/central_mail/status_one_uuid.yml
  spec/support/vcr_cassettes/central_mail/status_one_uuid_GDIT.yml
Labels: console-services-review

#11052 Ksoskin/supp claims prefill
  app/models/form_profile.rb
  app/models/form_profiles/va_0995.rb
  config/form_profile_mappings/20-0995.yml
Labels: console-services-review

#11028 [10951] Adding protection against missing attributes in credential fo…
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/credential_level.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#11057 Remove flipper facility_locator_covid_vaccine_walk_in_availability_text_frontend
  config/features.yml
Labels: console-services-review

#11056 Remove flipper facilities_locator_mobile_covid_online_scheduling
  config/features.yml
Labels: console-services-review

#11062 [11060] Adding first name and last name to attributes that are not ch…
  app/services/sign_in/attribute_validator.rb
  spec/services/sign_in/attribute_validator_spec.rb
Labels: console-services-review

#11067 [11066] Returning nil for address in id.me oauth interface when any f…
  lib/sign_in/idme/service.rb
  spec/lib/sign_in/idme/service_spec.rb
Labels: console-services-review

#10984 MHV-36025 Added a pass-through API for searching secure messages
  app/models/message_search.rb
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageSearch.yml
  modules/my_health/docs/schemas/SecureMessageSearchRequest.yml
  modules/my_health/spec/request/v1/folders_request_spec.rb
  spec/support/schemas/folder_search.json
  spec/support/vcr_cassettes/sm_client/folders/searches_a_folder.yml
Labels: console-services-review

#11058 MHV-36024 Pass-through API for renaming secure messaging folders
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/folders_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/spec/request/v1/folders_request_spec.rb
  spec/support/vcr_cassettes/sm_client/folders/renames_a_folder.yml
Labels: console-services-review

#11068 Add new feature flag - va_online_scheduling_use_dsot
  config/features.yml
Labels: console-services-review

#11075 Bump vets-json-schema version to 20.24.1
  Gemfile.lock
  app/models/emis_redis/military_information.rb
Labels: console-services-review

#11069 [48505] Fixing MPI parse_name and parse_ssn errors for relationship c…
  lib/mpi/responses/profile_parser.rb
Labels: console-services-review

#11037 Require OpenID token in segmented appeals APIs
  .rubocop_todo.yml
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/mpi_veteran.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs_headers.json
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
  modules/appeals_api/spec/requests/supplemental_claims/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
Labels: Lighthouse, appeals, console-services-review

#11053 [48014] Log SiS Add/Update MPI User calls
  app/models/user.rb
  app/services/sign_in/attribute_validator.rb
  spec/models/user_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
Labels: identity, identity-backend, console-services-review

#11031 [41908] SiS User Fingerprint
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/user.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: identity, identity-backend, console-services-review

#11091 [11090] Setting DSLogon scope value for id.me service to 'dslogon' fo…
  app/services/sign_in/acr_translator.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  spec/services/sign_in/acr_translator_spec.rb
Labels: console-services-review

#10925 627 add error handling
  app/controllers/v0/virtual_agent/report_to_cxdw.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/support/vcr_cassettes/virtual_agent_cxdw_post_to_table_failure.yml
Labels: console-services-review

#11093 VaNotify - generic in progress form reminders
  config/features.yml
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_reminder_spec.rb
Labels: console-services-review

#11085 Require OpenID token in segmented HLR appeals API
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v2/higher_level_reviews_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs_headers.json
  modules/appeals_api/spec/requests/higher_level_reviews/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals

#11086 Require OpenID token in segmented NOD appeals API
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v2/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v2/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs_headers.json
  modules/appeals_api/spec/requests/notice_of_disagreements/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#11064 API-21039 - OAS docs for appeals status API v1
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/appeals_status.yml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
Labels: Lighthouse, appeals

#11079 [49351] Flipper Index Logging Mute
  app/controllers/v0/feature_toggles_controller.rb
  config/settings.yml
  spec/controllers/v0/feature_toggles_controller_spec.rb
Labels: console-services-review

#11083 [11082] Remove account from evss service initialization
  app/workers/education_form/process10203_submissions.rb
  lib/evss/service.rb
  lib/evss/vso_search/service.rb
  spec/jobs/education_form/process10203_submissions_spec.rb
  spec/lib/evss/vso_search/service_spec.rb
Labels: console-services-review

#11098 3998 update military info to come from va profile upstream services
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/app/models/mobile/v0/military_information.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/spec/request/military_information_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200_empty.yml
Labels: mobile

#11094 VaNotify - Add 526ez to in progress reminders
  config/features.yml
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/services/find_in_progress_forms_spec.rb
Labels: console-services-review

#11103 Revert "3998 update military info to come from va profile upstream services"
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/app/models/mobile/v0/military_information.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/spec/request/military_information_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200_empty.yml
Labels: mobile

#11100 [11099] Using idme_uuid as a user uuid for mhv and dslogon accounts f…
  app/models/user.rb
  app/services/sign_in/session_creator.rb
  spec/models/user_spec.rb
  spec/services/sign_in/session_creator_spec.rb
Labels: console-services-review

#11096 [41908] restores load_user and authenticate behaviors
  app/controllers/concerns/sign_in/authentication.rb
Labels: identity, identity-backend, console-services-review

#11088 Log disability rating for 1010ez submissions
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

#11105 3998 update military info to come from va profile upstream services
  modules/mobile/app/controllers/mobile/v0/military_information_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/app/models/mobile/v0/military_information.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/spec/request/military_information_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_history_200_empty.yml
Labels: mobile

#11022 More example data
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod_dev.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc_dev.json
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: Lighthouse, appeals

#11115 Updated vaos logging to not log error msg on http 400 errors
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
Labels: VAOS

#10677 Add back button feature flag
  config/features.yml
Labels: console-services-review

#11116 Removing Rating Decision Letters (doc_type 339) from allowlist
  lib/claim_letters/claim_letter_downloader.rb
  spec/fixtures/claim_letter/claim_letter_list.json
Labels: console-services-review, platform-tech-team-support

#11076 Added new text base appeals error report
  config/features.yml
  config/initializers/sidekiq.rb
  config/settings.yml
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/spec/mailers/weekly_error_report_mailer_spec.rb
Labels: Lighthouse, appeals, console-services-review

#11124 Enable Feature Cleaner Job
  config/sidekiq_scheduler.yml
Labels: console-services-review

#11127 49566 Add BTSSS betamock configs
  config/betamocks/services_config.yml
Labels: console-services-review, platform-tech-team-support

#11122 [11112] Adding fallback query for InProgressForms to search for assoc…
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/models/user.rb
  app/services/users/profile.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/models/in_progress_form_spec.rb
  spec/requests/in_progress_forms_request_spec.rb
  spec/services/users/profile_spec.rb
Labels: console-services-review, platform-tech-team-support

#11121 Removed check_in_experience_day_of_demographics_flags_enabled flag
  config/features.yml
Labels: console-services-review

#11130 [11129] Myhealthet loa3 scope for sign in service when loa3 is specif…
  app/services/sign_in/acr_translator.rb
  spec/services/sign_in/acr_translator_spec.rb
Labels: console-services-review

#11132 [11129] Forcing verification for MHV accounts when sign in service lo…
  app/models/sign_in/credential_level.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
Labels: console-services-review

#11134 Api 20702 error report
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/spec/workers/appeals_api/weeky_error_report_spec.rb
  spec/mailers/previews/appeals_api_weekly_error_report_mailer_preview.rb
Labels: Lighthouse, appeals, console-services-review

#11118 Increase timeout for va.gov / MAS claim handoff
  lib/mail_automation/configuration.rb
Labels: console-services-review, platform-tech-team-support

#11120 upstream healthcheck to version
  modules/claims_api/config/routes.rb
Labels: Lighthouse, claimsApi

#11141 API-21472: Remove Forms API Deployment Notifications
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/vba_documents/app/models/vba_documents/git_items.rb
  modules/vba_documents/app/workers/vba_documents/deployments_notifier.rb
  modules/vba_documents/spec/fixtures/git_items_forms.json
  modules/vba_documents/spec/models/git_items_spec.rb
  modules/vba_documents/spec/workers/deployments_notifier_spec.rb
Labels: console-services-review

#11126 Update segmented appeals API internal versions to v0
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_contestable_issues.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_hlr.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_legacy_appeals.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_nod.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_sc.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#11143 49566 Add BTSSS betamock config
  config/betamocks/services_config.yml
  config/settings.yml
Labels: console-services-review

#11128 Removed Feature Flag profile_notification_settings
  config/features.yml
Labels: console-services-review, platform-tech-team-support

#11138 4127 allow pagination helper to use false values
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
Labels: mobile

#11144 Mobile - Test new permissions on Lighthouse CCG authorization
  config/settings.yml
Labels: console-services-review

#11131 [49586] Adding functionality for MHV to verify if loa3 mhv was specif…
  app/controllers/v1/sessions_controller.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: console-services-review

#11148 [49586] Fixing unintentional typo around idme authn context
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

#11147 API-21474: Remove (Clean Up) Old GDIT Central Mail VCR Cassettes
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_fileNumber_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_veteranFirstName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_veteranLastName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_blank_zipCode_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_invalid_zipCode_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_fileNumber_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_veteranFirstName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_veteranLastName_GDIT.yml
  spec/support/vcr_cassettes/central_mail/bad_metadata_no_zipCode_GDIT.yml
  spec/support/vcr_cassettes/central_mail/status_multiple_uuids_GDIT.yml
  spec/support/vcr_cassettes/central_mail/status_one_uuid_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_duplicate_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_locked_attachment_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_locked_main_form_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_mainform_only_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_mismatch_error_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_mismatch_error_attach_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_one_attachment_GDIT.yml
  spec/support/vcr_cassettes/central_mail/upload_two_attachments_GDIT.yml
Labels: console-services-review

#11152 [49586] Changing rules around when an mhv account should verify if SS…
  lib/saml/post_url_service.rb
Labels: console-services-review

#11151 Revert "Mobile - Test new permissions on Lighthouse CCG authorization"
  config/settings.yml
Labels: console-services-review

#11157 HPA metrics for puma
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/vets-api-0.2.0.tgz
Labels: console-services-review

#11145 Return empty hash if nil address
  app/models/user.rb
  spec/models/user_spec.rb
Labels: console-services-review

#11161 [46667] Submit FSR forms to external APIs in background
  app/models/form5655_submission.rb
  app/swagger/swagger/requests/financial_status_reports.rb
  app/workers/form5655/vba_submission_job.rb
  app/workers/form5655/vha_submission_job.rb
  lib/debt_management_center/financial_status_report_service.rb
  spec/factories/form5655_submission.rb
  spec/fixtures/dmc/form5655_submission.json
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/models/form5655_submission_spec.rb
Labels: console-services-review

#11160 MyVa: Update user claims
  app/services/users/profile.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

#11153 Update appeals_api rswag docs paths and helpers
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/response_hlr_create_error.json
  modules/appeals_api/app/swagger/appeals_api/v2/response_hlr_show_not_found.json
  modules/appeals_api/app/swagger/contestable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/contestable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description_dev.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description_dev.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description_dev.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/put_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description_dev.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/put_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review

#11139 Cutover for vets-api dev helm chart release
  .github/workflows/deploy-template.yml
  .github/workflows/deploy.yml
Labels: console-services-review

#11156 [department-of-veterans-affairs/va-virtual-agent#709] Remove deprecated toggles
  app/controllers/v0/virtual_agent_token_controller.rb
  config/features.yml
  config/settings.yml
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_token_a.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_b.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_success.yml
Labels: console-services-review

#11169 Remove stale HCA feature flag
  config/features.yml
Labels: console-services-review

#10938 API-18660 upload job 5103
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/uploaders/claims_api/evidence_waiver_submission_uploader.rb
  modules/claims_api/app/workers/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/lib/claims_api/evidence_waiver_pdf/pdf.rb
  modules/claims_api/lib/claims_api/ews_vbms_sidekiq.rb
  modules/claims_api/spec/factories/evidence_waiver_submissions.rb
  modules/claims_api/spec/fixtures/v2/veterans/5103/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/v2/veterans/5103/signed_filled_final_long.pdf
  modules/claims_api/spec/lib/claims_api/evidence_waiver_pdf_constructor/pdf_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/workers/evidence_waiver_builder_job_spec.rb
  modules/claims_api/spec/workers/ews_vbms_sidekiq_spec.rb
  spec/support/vcr_cassettes/bgs/benefit_claim/find_bnft_claim_400.yml
  spec/support/vcr_cassettes/bgs/benefit_claim/update_5103_200.yml
Labels: Lighthouse, console-services-review, claimsApi

#11168 Fix calling to_datetime on nil and properly test no_end_date
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_read_service_histories_200_no_end_date.yml
Labels: mobile

#11173 Pull urls and codes from patient object not providers
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/spec/models/adapters/va_appointments_adapter_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#11176 [49586] Preventing MHV basic accounts from authenticating for an mhv_…
  app/controllers/v1/sessions_controller.rb
  lib/saml/errors.rb
  lib/saml/post_url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

#11179 Fixing typo with idme_verified login param type
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

#11150 Add swagger docs and integration for claims letters
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/claim_letters.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#11181 Update service.rb
  lib/decision_review/service.rb
Labels: console-services-review

#11163 API-21225-add-error-tracking-5103
  modules/claims_api/app/workers/claims_api/ews_updater.rb
Labels: Lighthouse, claimsApi

#11178 [48496] Adding csp uuid to the sign in service dslogon level of assur…
  app/services/sign_in/credential_level_creator.rb
  spec/services/sign_in/credential_level_creator_spec.rb
Labels: console-services-review

#11170 Api 20702 error report
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
Labels: Lighthouse, appeals

#11162 [48798] sets mpi as primary source for person_types attribute
  app/models/user.rb
  app/models/user_identity.rb
  lib/saml/user_attributes/ssoe.rb
  spec/factories/mvi_profiles.rb
  spec/factories/users.rb
  spec/lib/evss/auth_headers_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_spec.rb
Labels: identity, console-services-review

#11184 [department-of-veterans-affairs/va-virtual-agent#709] Remove deprecated feature toggles (final)
  app/controllers/v0/virtual_agent_token_controller.rb
  config/features.yml
  config/settings.yml
  spec/controllers/v0/virtual_agent_token_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/virtual_agent/webchat_token_a.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_b.yml
  spec/support/vcr_cassettes/virtual_agent/webchat_token_success.yml
Labels: console-services-review

#11183 49628 handle BTSSS response exceptions
  modules/check_in/app/controllers/check_in/v0/travel_claims_controller.rb
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/app/services/travel_claim/response.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v0/travel_claims_request_spec.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_400_exists.yml
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_400_multiple.yml
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_401.yml
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_500.yml
Labels: console-services-review

#11175 Regenerate Appeals rswag docs with OAuth details
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#11125 Add Lighthouse PDF validation to evidence submissions for NOD and SC evidence submissions
  app/models/decision_review_evidence_attachment.rb
  config/settings.yml
  lib/decision_review/utilities/pdf_validation/configuration.rb
  lib/decision_review/utilities/pdf_validation/service.rb
  spec/jobs/decision_review/submit_upload_spec.rb
  spec/requests/decision_review_evidences_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/decision_review/200_pdf_validation.yml
  spec/support/vcr_cassettes/decision_review/422_page_dimensions_pdf_validation.yml
Labels: console-services-review

#11186 update brakeman to 5.4.0
  Gemfile.lock
Labels: console-services-review

#11192 guard sidekiq enterprise periodic jobs config behind enterprise check
  config/initializers/sidekiq.rb
Labels: Lighthouse, appeals, console-services-review

#11201 Fix calls to perform_async to avoid Sidekiq.strict_arg! failures
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
Labels: Lighthouse, appeals

#11164 API-21093-rename_and_refactor_5103_poa
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/workers/claims_api/poa_form_builder_job.rb
  modules/claims_api/app/workers/claims_api/poa_updater.rb
  modules/claims_api/app/workers/claims_api/poa_vbms_updater.rb
  modules/claims_api/app/workers/claims_api/poa_vbms_upload_job.rb
  modules/claims_api/lib/claims_api/poa_vbms_sidekiq.rb
  modules/claims_api/spec/workers/poa_updater_spec.rb
  modules/claims_api/spec/workers/poa_vbms_sidekiq_spec.rb
  modules/claims_api/spec/workers/poa_vbms_updater_spec.rb
  modules/claims_api/spec/workers/vbms_upload_job_spec.rb
Labels: Lighthouse, claimsApi

#11185 Bumping vets-json-schema version
  Gemfile.lock
  app/workers/education_form/templates/0994.erb
  spec/fixtures/education_benefits_claims/0994/kitchen_sink.json
  spec/fixtures/education_benefits_claims/0994/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/0994/prefill.json
  spec/fixtures/education_benefits_claims/0994/prefill.spl
  spec/fixtures/education_benefits_claims/0994/simple.json
  spec/fixtures/education_benefits_claims/0994/simple.spl
Labels: console-services-review

#11194 [11193] Remove Session Activity model
  app/models/session_activity.rb
  spec/factories/session_activities.rb
  spec/models/session_activity_spec.rb
Labels: console-services-review

#11172 [49169] Sign in Service CSP Types constants
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/inherited_proofing_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/credential_level.rb
  app/models/sign_in/state_payload.rb
  app/policies/mhv_prescriptions_policy.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/user_loader.rb
  app/swagger/swagger/schemas/user_internal_services.rb
  config/initializers/statsd.rb
  lib/sign_in/idme/service.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
  modules/my_health/spec/request/v1/prescriptions_request_spec.rb
  rakelib/login.rake
  spec/controllers/application_controller_spec.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/credential_levels.rb
  spec/factories/sign_in/state_payloads.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/user_identities.rb
  spec/factories/user_identity_attributes.rb
  spec/factories/users.rb
  spec/lib/sentry/processor/filter_request_body_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/policies/ch33_dd_policy_spec.rb
  spec/policies/ppiu_policy_spec.rb
  spec/requests/prescriptions_request_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/mhv_account_type_service_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
  spec/services/users/profile_spec.rb
Labels: identity, identity-backend, mobile, console-services-review

#11195 11193 drop session activity table
  db/migrate/20221118215335_drop_session_activities.rb
  db/schema.rb
Labels: console-services-review

#11197 [11196] Migration to add user_account association to terms_and_condit…
  db/migrate/20221118223800_add_user_account_to_terms_and_conditions.rb
  db/schema.rb
Labels: console-services-review

#11200 [11199] Migration to add user_account to appeal_submissions
  db/migrate/20221118232353_add_user_accountto_appeal_submissions.rb
  db/schema.rb
Labels: console-services-review

#11213 [11211] Adding refresh token in Sign in Service log when refresh toke…
  app/services/sign_in/refresh_token_decryptor.rb
  spec/services/sign_in/refresh_token_decryptor_spec.rb
Labels: console-services-review

#11228 Removes old feature flag for original mocked API endpoints
  config/features.yml
  modules/meb_api/app/controllers/meb_api/v0/base_controller.rb
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
Labels: console-services-review

#11206 4268 nil person bug
  lib/va_profile/models/person.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/person_without_data.yml
Labels: console-services-review

#11220 [11214] Adding User Account column to EducationStemAutomatedDecision …
  db/migrate/20221122002132_add_user_account_to_education_stem_automated_decisions.rb
  db/schema.rb
Labels: console-services-review

#10965 Api 20613 rswag documentation per env
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
  spec/rswag_override.rb
  spec/spec_helper.rb
  spec/support/rswag/text_helpers.rb
Labels: Lighthouse, console-services-review, claimsApi

#11221 [11214] Adding user_account to async_transaction table
  db/migrate/20221122002707_add_user_account_to_async_transaction.rb
  db/schema.rb
Labels: console-services-review

#11223 [11216] Adding user_account to form526_submissions table
  db/migrate/20221122003512_add_user_account_to_form526_submissions.rb
  db/schema.rb
Labels: console-services-review

#11224 [49907] Adding user_account to form5655_submissions table
  db/migrate/20221122003745_add_user_account_to_form5655_submissions.rb
  db/schema.rb
Labels: console-services-review

#11225 [11217] Adding user_account to health_quest_questionnaire_responses t…
  db/migrate/20221122004008_add_user_account_to_health_quest_questionnaire_responses.rb
  db/schema.rb
Labels: console-services-review

#11227 [11226] Adding user_account to mhv_accounts table
  db/migrate/20221122004441_add_user_account_to_mhv_accounts.rb
  db/schema.rb
Labels: console-services-review

#11205 Add swagger docs for new COE endpoints.
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/coe.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#11198 11196 save user account on terms and conditions acceptances creatin
  app/controllers/v0/terms_and_conditions_controller.rb
  app/models/terms_and_conditions_acceptance.rb
Labels: console-services-review

#11202 [11199] Code change to add UserAccount records to AppealSubmissions
  app/controllers/v0/higher_level_reviews_controller.rb
  app/controllers/v1/higher_level_reviews_controller.rb
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/controllers/v1/supplemental_claims_controller.rb
  app/models/appeal_submission.rb
Labels: console-services-review

#11229 VaNotify - 674 confirmation email
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  config/features.yml
  config/redis.yml
  modules/va_notify/app/models/va_notify/confirmation_email.rb
  modules/va_notify/spec/models/confirmation_email_spec.rb
  spec/jobs/bgs/submit_form674_job_spec.rb
Labels: console-services-review

#11241 add feature flag
  config/features.yml
Labels: console-services-review

#11240 4309 vaprofile models validation error
  lib/va_profile/concerns/expirable.rb
  lib/va_profile/models/base.rb
  lib/va_profile/models/base_address.rb
  lib/va_profile/models/email.rb
  lib/va_profile/models/gender_identity.rb
  lib/va_profile/models/permission.rb
  lib/va_profile/models/preferred_name.rb
  lib/va_profile/models/telephone.rb
  spec/lib/va_profile/concerns/expirable_spec.rb
  spec/lib/va_profile/models/base_spec.rb
Labels: console-services-review

#11248 VaNotify - Remove 686 feature flag
  app/workers/bgs/submit_form686c_job.rb
  config/features.yml
Labels: console-services-review

#11238 VAOS::V2::SystemService#get_facility_clinics: GET clinics when paging is not passed in does not return all clinics
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_facility_id_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facility_clinics_bad_service_400.yml
  modules/vaos/app/services/vaos/v2/systems_service.rb
  spec/support/vcr_cassettes/vaos/v2/systems/get_facility_clinics_200.yml
  spec/support/vcr_cassettes/vaos/v2/systems/get_facility_clinics_400.yml
Labels: VAOS, mobile, console-services-review

#11234 [11208] Adding user account to created AsyncTransactions
  app/models/async_transaction/base.rb
  app/models/async_transaction/va_profile/base.rb
  app/models/async_transaction/vet360/base.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
Labels: console-services-review

#11235 [11215] Adding user account to created EVSSClaims
  app/models/evss_claim.rb
  app/services/evss_claim_service.rb
  app/workers/evss/retrieve_claims_from_remote_job.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
Labels: mobile, console-services-review

#11243 [49907] Adding user_account when a Form5655Submission is created
  app/models/form5655_submission.rb
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

#11251 Fixing typo in EVSS claim
  app/models/evss_claim.rb
Labels: console-services-review

#11219 Appeals docs revisions
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/json_format_validation.rb
  modules/appeals_api/app/services/appeals_api/evidence_submission_request_validator.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/errors/default.json
  modules/appeals_api/spec/support/schemas/hlr_validate.json
Labels: Lighthouse, appeals

#11188 [33386] Update User.zip to User.postal_code
  app/models/user.rb
  app/models/user_identity.rb
  app/services/users/profile.rb
  lib/decision_review/service.rb
  lib/decision_review_v1/service.rb
  lib/saml/user_attributes/ssoe.rb
  modules/health_quest/spec/factories/health_quest_users.rb
  modules/health_quest/spec/models/questionnaire_response_spec.rb
  modules/vaos/spec/factories/vaos_users.rb
  spec/factories/iam_user_identities.rb
  spec/factories/iam_users.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_spec.rb
  spec/services/users/profile_spec.rb
Labels: identity, VAOS, identity-backend, console-services-review

#11249 pdf cert flipper
  config/features.yml
Labels: console-services-review

#10990 Support for form 4142 for supplemental claims, plus additional logging
  app/controllers/v1/supplemental_claims_controller.rb
  config/settings.yml
  lib/decision_review_v1/appeals/supplemental_claims.rb
  lib/decision_review_v1/service.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/SC-CREATE-RESPONSE-WITH-4142-200_V1.yml
Labels: console-services-review

#11237 Update hardcoded COE form params.
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

#11252 Mobile: Implement a GenderIdentityController
  modules/mobile/app/controllers/mobile/v0/gender_identity_controller.rb
  modules/mobile/app/serializers/mobile/v0/gender_identity_options_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/gender_identity_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_gender_identity_success.yml
Labels: mobile

#11254 VFEP-264 Add GCIO VFEP team to spool notifications
  config/settings.yml
  spec/mailers/create_daily_spool_files_mailer_spec.rb
  spec/mailers/spool10203_submissions_report_mailer_spec.rb
  spec/mailers/spool_submissions_report_mailer_spec.rb
  spec/mailers/year_to_date_report_mailer_spec.rb
Labels: console-services-review

#11262 Hardcoded COE params hotfix.
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

#11236 Chore: Add external service to templates
  chart/templates/ingress_route.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
Labels: console-services-review

#11265 Chore: Bump version to pick up latest ingress,SA & deployment template
  chart/Chart.yaml
  docs/index.yaml
  docs/vets-api-0.3.4.tgz
Labels: console-services-review

#11247 Appeals docs revisions [part 2]
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/contestable_issue.json
  modules/appeals_api/spec/support/schemas/nod_validate.json
  modules/appeals_api/spec/support/schemas/sc_validate.json
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals

#11253 Va notify 545/preneeds burial form email
  app/controllers/v0/preneeds/burial_forms_controller.rb
  config/features.yml
  config/settings.yml
  spec/requests/preneeds/burial_forms_request_spec.rb
Labels: Please Review, console-services-review
