Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-07, with the labels that each got.

#10148 add slots endpoint
  modules/mobile/app/controllers/mobile/v0/clinics_controller.rb
  modules/mobile/app/serializers/mobile/v0/clinic_slots_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Slot.yml
  modules/mobile/spec/request/clinics_request_spec.rb
  modules/mobile/spec/support/schemas/clinic_slot.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_available_slots_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_available_slots_200_no_start_end_date.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_available_slots_500.yml
Labels: mobile

#10173 Update service history response to include data source
  app/controllers/v0/profile/service_histories_controller.rb
  app/policies/vet360_policy.rb
  app/serializers/service_history_serializer.rb
  app/swagger/swagger/requests/profile.rb
  lib/va_profile/military_personnel/service.rb
  spec/policies/vet360_policy_spec.rb
  spec/support/schemas/service_history_response.json
  spec/support/schemas_camelized/service_history_response.json
Labels: console-services-review

#10176 Fixing bug with deceased date for SiS
  lib/mpi/responses/profile_parser.rb
Labels: console-services-review

#10147 API-16756 - ClaimsApi - Store 'cid' on 526 record
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#10138 Merge methods
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/ccg_token_validation.rb
Labels: Lighthouse, claimsApi

#10177 [43649] Adding logout redirect for logingov authentications with SiS
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/credential_info.rb
  app/services/sign_in/credential_info_creator.rb
  app/services/sign_in/errors.rb
  config/redis.yml
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/logingov/configuration.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/credential_infos.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/credential_info_spec.rb
  spec/services/sign_in/credential_info_creator_spec.rb
Labels: console-services-review

#10136 add toe controller and sponsor endpoint
  modules/meb_api/app/controllers/meb_api/v0/toes_controller.rb
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
  modules/meb_api/app/serializers/sponsors_serializer.rb
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/toe/sponsors_configuration.rb
  modules/meb_api/lib/dgi/toe/sponsors_response.rb
  modules/meb_api/lib/dgi/toe/sponsors_service.rb
  modules/meb_api/spec/dgi/toe/sponsors_service_spec.rb
  modules/meb_api/spec/requests/toes_spec.rb
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
Labels: console-services-review

#10158 [API-16756] - ClaimsApi - update email report to show 526 api consumer
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_claims_status_table.html.erb
  modules/claims_api/app/workers/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/lib/claims_api/cid_mapper.rb
  modules/claims_api/spec/lib/claims_api/cid_mapper_spec.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/workers/report_unsuccessful_submissions_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: Lighthouse, console-services-review, claimsApi

#10186 Adds and modifies feature flag
  config/features.yml
Labels: console-services-review

#10183 Log when 1010cg attachments fail to submit
  app/services/form1010cg/auditor.rb
  app/workers/form1010cg/deliver_attachments_job.rb
  config/initializers/statsd.rb
  spec/jobs/form1010cg/deliver_attachments_job_spec.rb
Labels: console-services-review

#10193 [department-of-veterans-affairs/va-virtual-agent#503] Removes all cod…
  app/controllers/v0/coronavirus_chatbot/tokens_controller.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/coronavirus_chatbot/tokens_controller_spec.rb
  spec/support/vcr_cassettes/coronavirus_chatbot/chat_bot/healthy.yml
  spec/support/vcr_cassettes/coronavirus_chatbot/chat_bot/unhealthy.yml
Labels: console-services-review

#10189 38263 Modifying vcr_cassettes and rspec with appointment type
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
  spec/support/vcr_cassettes/check_in/lorota/data/data_200.yml
Labels: console-services-review

#10195 add fry_dea controller and sponsors endpoint w/spec & docs
  modules/meb_api/app/controllers/meb_api/v0/fry_dea_controller.rb
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
  modules/meb_api/config/routes.rb
  modules/meb_api/lib/dgi/fry_dea/configuration.rb
  modules/meb_api/lib/dgi/fry_dea/response.rb
  modules/meb_api/lib/dgi/fry_dea/service.rb
  modules/meb_api/spec/dgi/fry_dea/service_spec.rb
  modules/meb_api/spec/requests/fry_dea_spec.rb
  spec/support/vcr_cassettes/dgi/fry_post_sponsor.yml
Labels: console-services-review

#10197 Mobile create direct appt doc changes
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentDirect.yml
Labels: mobile

#10198 36057 Removing demographics and emergency contact feature flags
  config/features.yml
  modules/check_in/app/serializers/check_in/v2/appointment_data_serializer.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_data_serializer_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: console-services-review

#10200 removes unused SiS errors
  app/services/sign_in/errors.rb
Labels: console-services-review

#10169 API-16012: Rescue failures for appeals healthcheck calls
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
Labels: Lighthouse, appeals

#10202 Update features.yml
  config/features.yml
Labels: console-services-review

#10194 Mobile: add VAOS v2 flipper
  config/features.yml
  config/settings.yml
Labels: console-services-review

#10111 Remove HLRv1 (part 2)
  modules/appeals_api/app/controllers/concerns/appeals_api/higher_level_reviews/pdf_form_field_v1_validator.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/generator.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/v1/200996.json
  modules/appeals_api/config/schemas/v1/200996_headers.json
  modules/appeals_api/spec/config/schemas/v1/200996_headers_json_spec.rb
  modules/appeals_api/spec/config/schemas/v1/200996_json_spec.rb
Labels: Lighthouse, appeals, NOT YET

#10185 Remove v0 code
  config/brakeman.ignore
  config/initializers/rswag-ui.rb
  modules/claims_api/app/controllers/claims_api/docs/v0/api_controller.rb
  modules/claims_api/app/controllers/claims_api/metadata_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v0/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/endpoint_deprecation.rb
  modules/claims_api/app/swagger/claims_api/v0/claims_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_0966_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_2122_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/form_526_controller_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/security_scheme_swagger.rb
  modules/claims_api/app/swagger/claims_api/v0/swagger_root.rb
  modules/claims_api/claims_api.gemspec
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
  modules/claims_api/spec/requests/v0/api_docs_request_spec.rb
  modules/claims_api/spec/requests/v0/claims_request_spec.rb
  modules/claims_api/spec/requests/v0/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v0/document_validations_request_spec.rb
  modules/claims_api/spec/requests/v0/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v0/power_of_attorney_request_spec.rb
  spec/requests/csrf_request_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: Lighthouse, console-services-review, claimsApi

#10205 Update weekly report totals to use complete instead of success
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/decision_review_mailer_spec.rb
Labels: Lighthouse, appeals

#10112 Remove HLRv1 (part 3)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v1/higher_level_reviews_controller_swagger.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/structure_spec.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: Lighthouse, appeals

#10113 Remove HLRv1 (part 4)
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v1/form_fields.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v1/form_fields_spec.rb
Labels: Lighthouse, appeals

#10115 Remove HLRv1 (part 6)
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/services/appeals_api/central_mail_updater.rb
  modules/appeals_api/app/swagger/appeals_api/v1/response_hlr_create_error.json
  modules/appeals_api/app/swagger/appeals_api/v1/response_hlr_show_not_found.json
  modules/appeals_api/app/swagger/appeals_api/v1/schemas/higher_level_reviews.rb
  modules/appeals_api/config/pdfs/200996.pdf
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/fixtures/v1/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v1/invalid_200996.json
  modules/appeals_api/spec/fixtures/v1/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/v1/valid_200996_minimum.json
  modules/appeals_api/spec/fixtures/v2/invalid_200996_headers.json
  modules/appeals_api/spec/fixtures/v2/valid_200996_headers_minimum.json
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/serializers/higher_level_review_serializer_spec.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_updater_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_updater_spec.rb
Labels: Lighthouse, appeals

#10213 Remove profile_show_demographic feature flag
  app/controllers/v0/profile/gender_identities_controller.rb
  app/controllers/v0/profile/personal_informations_controller.rb
  app/controllers/v0/profile/preferred_names_controller.rb
  config/features.yml
Labels: console-services-review

#10215 [API-17415] - ClaimsApi - Fix bug with setting mpi "mhv_icn"
  modules/claims_api/app/models/claims_api/veteran.rb
Labels: Lighthouse, claimsApi

#10210 42656 Integrate with VBS to submit FSR form
  config/features.yml
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#10208 [API-17189] - ClaimsApi - Update slackbot
  config/settings.yml
  modules/claims_api/app/workers/claims_api/claim_auditor.rb
  modules/claims_api/spec/workers/claim_auditor_spec.rb
Labels: Lighthouse, console-services-review, claimsApi

#10119 API-17035: ensure schema validation
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/config/schemas/shared/v1/address.json
  modules/appeals_api/config/schemas/shared/v1/date.json
  modules/appeals_api/config/schemas/shared/v1/non_blank_string.json
  modules/appeals_api/config/schemas/shared/v1/phone.json
  modules/appeals_api/config/schemas/shared/v1/timezone.json
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs.json
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/spec/config/schemas/v2/200996_v2_json_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schema_helpers.rb
Labels: Lighthouse, appeals

#10216 Make VeteranRecordWsClientException a sidekiq retryable error
  lib/evss/disability_compensation_form/service_exception.rb
Labels: console-services-review

#10204 COE: adds attatchmentType + attachmentDescription
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

#10217 API-17386 Remove poa field
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: Lighthouse, console-services-review, claimsApi

#10209 add V2 VAOS appointment cancel to cancel endpoint
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/cancel_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/cancel_appointment_400.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/cancel_appointment_500.yml
Labels: mobile

#10218 Updates VCR Configuration in service tests
  modules/meb_api/spec/dgi/automation/service_spec.rb
  modules/meb_api/spec/dgi/eligibility/service_spec.rb
  modules/meb_api/spec/dgi/enrollment/service_spec.rb
  modules/meb_api/spec/dgi/fry_dea/service_spec.rb
  modules/meb_api/spec/dgi/submission/service_spec.rb
  modules/meb_api/spec/requests/meb_api/v0/education_benefits_spec.rb
  modules/meb_api/spec/requests/toes_spec.rb
  spec/support/vcr_cassettes/dgi/enrollment.yml
  spec/support/vcr_cassettes/dgi/fry_post_sponsor.yml
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_eligibility.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_fry_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_toe_letter.yml
  spec/support/vcr_cassettes/dgi/post_claimant_info.yml
  spec/support/vcr_cassettes/dgi/post_sponsor.yml
  spec/support/vcr_cassettes/dgi/service_get_eligibility.yml
  spec/support/vcr_cassettes/dgi/submit_claim.yml
  spec/support/vcr_cassettes/dgi/submit_enrollment_verification.yml
Labels: console-services-review

#10232 Updating logingov service client_id
  config/settings.yml
Labels: console-services-review

#10224 Api 17384 fix camel case
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_files/request.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
  spec/support/schemas/claims_api/v2/veterans/intent_to_files/intent_to_file.json
Labels: Lighthouse, console-services-review, claimsApi

#10228 API-17047: Refactor shared schemas spec to use shared_examples
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
Labels: Lighthouse, appeals

#10236 [42315] Adding job that cleans up expired OAuthSessions for Sign in S…
  app/workers/sign_in/delete_expired_sessions_job.rb
  config/sidekiq_scheduler.yml
  spec/jobs/sign_in/delete_expired_sessions_job_spec.rb
Labels: console-services-review

#10121 [43096] Adds context, clientid, acr, to SiS StatsD
  app/controllers/v0/sign_in_controller.rb
  app/models/iam_user_identity.rb
  app/services/sign_in/user_loader.rb
  config/initializers/statsd.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/user_loader_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: identity, identity-backend, console-services-review

#10226 44153 Deprecating custom cookie feature flag
  config/features.yml
  modules/check_in/app/controllers/check_in/application_controller.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#10225 API-17456 Add supplemental_claims to list of contestable issues types
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
Labels: Lighthouse, appeals

#10251 [10246] Removing secure setting from SiS info_token
  app/services/sign_in/token_serializer.rb
  config/settings.yml
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

#10249 [10248] Updating sso logging info to be compatible with sign in service
  app/controllers/concerns/authentication_and_sso_concerns.rb
Labels: console-services-review

#10182 API-17135-Poa-service-branch-updates
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/2122.json
Labels: Lighthouse, NOT YET, claimsApi

#10161 API-15186-Add-Service-branch
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/spec/lib/claims_api/service_branch_mapper_spec.rb
Labels: Lighthouse, NOT YET, claimsApi

#10250 [10247] Adding multifactor field on user model for Sign in Service
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

#10241 add vaos preference endpoints to mobile
  modules/mobile/app/controllers/mobile/v0/appointment_preferences_controller.rb
  modules/mobile/app/serializers/mobile/v0/appointment_preferences_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentPreferences.yml
  modules/mobile/docs/schemas/AppointmentPreferencesRequest.yml
  modules/mobile/spec/request/appointments_preferences_request_spec.rb
  modules/mobile/spec/support/schemas/appointment_preferences.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_preferences.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_preferences.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_preferences_minimal_payload.yml
Labels: mobile

#10239 API-17394 Part 1 Eventing breakup - create new appeal received job and spec
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: Lighthouse, appeals

#10242 API-17394 Part 2 Eventing breakup - create new status updated job and spec
  modules/appeals_api/app/workers/appeals_api/status_updated_job.rb
  modules/appeals_api/spec/workers/status_updated_job_spec.rb
Labels: Lighthouse, appeals

#10255 API-17394 Part 3 Eventing breakup - refactor hlr #update_status
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
Labels: Lighthouse, appeals

#10259 API-17394 Part 4 Eventing breakup - refactor nod #update_status
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
Labels: Lighthouse, appeals

#10181 VA Notify 366: 21P-530 Confirmation Email Trigger
  app/models/saved_claim/burial.rb
  app/workers/structured_data/process_data_job.rb
  config/features.yml
  config/settings.yml
  spec/factories/burial_claim.rb
  spec/jobs/structured_data/process_data_job_spec.rb
  spec/models/saved_claim/burial_spec.rb
Labels: console-services-review

#10256 VaNotify - Add in progress form_age
  config/features.yml
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_form_notifier_spec.rb
Labels: console-services-review

#10187 Manifest file for TechDocs for Console UI.
  mkdocs.yaml
Labels: console-services-review

#10268 flipper access for josh mills
  config/settings.yml
Labels: console-services-review

#10272 updates statsd tags to "type"
  config/initializers/statsd.rb
Labels: console-services-review

#10274 VA Notify 489: Fix formatting for 21P-530 confirmation email
  app/workers/structured_data/process_data_job.rb
  spec/jobs/structured_data/process_data_job_spec.rb
Labels: console-services-review

#10254 Api 17454 remove links
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#10279 [44598] SiS Statsd Tag Separation
  app/controllers/v0/sign_in_controller.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: identity, console-services-review

#10263 API-17441 & API-17444 - documentation updates
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/api_description.md
  modules/appeals_api/app/swagger/appeals_api/v2/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/docs/v2/contestable_issues_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/contestable_issues.yml
Labels: Lighthouse, appeals, console-services-review

#10261 API-17394 Part 6 Eventing breakup - refactor nod related controller files
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/valid_10182_headers.json
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
Labels: Lighthouse, appeals

#10269 API-17394 Part 8 Eventing breakup - delete event related specs
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/handler_spec.rb
  modules/appeals_api/spec/workers/appeals_api/events_worker_spec.rb
Labels: Lighthouse, appeals

#10267 API-17394 Part 7 Eventing breakup - refactor hlr & sc controller specs
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#10270 API-17394 Part 9 Eventing breakup - delete appeal received and status updated event files
  modules/appeals_api/app/services/appeals_api/events/appeal_received.rb
  modules/appeals_api/app/services/appeals_api/events/status_updated.rb
  modules/appeals_api/spec/services/appeals_api/events/appeal_received_spec.rb
  modules/appeals_api/spec/services/appeals_api/events/status_updated_spec.rb
Labels: Lighthouse, appeals

#10271 API-17394 Part 10 Eventing breakup - delete final event related files
  modules/appeals_api/app/models/appeals_api/event_subscription.rb
  modules/appeals_api/app/services/appeals_api/events/handler.rb
  modules/appeals_api/app/workers/appeals_api/events_worker.rb
Labels: Lighthouse, appeals

#10281 API-17394 Part 11 Eventing breakup - drop event subscription table
  db/schema.rb
  modules/appeals_api/db/migrate/20220720183142_drop_appeals_api_event_subscriptions.rb
Labels: Lighthouse, appeals, console-services-review

#10286 initial create
  .github/CODEOWNERS
  rakelib/prod/README.md
  rakelib/prod/backfill_user_account_id_for_in_progress_forms.rake
Labels: identity, console-services-review

#10235 API-17473: Add new routes to serve shared appeals schemas
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v2/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v2/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v2/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#10288 Update features.yml
  config/features.yml
Labels: console-services-review

#10282 [10280] Changing SiS access token cookie expiration to session expira…
  app/services/sign_in/token_serializer.rb
  spec/services/sign_in/token_serializer_spec.rb
Labels: console-services-review

#10291 [10207] Update in progress form backfill script to attempt to find IC…
  rakelib/backfill_user_account_id_for_in_progress_forms.rake
  rakelib/prod/backfill_user_account_id_for_in_progress_forms.rake
Labels: console-services-review

#10293 Revert "Add stats for 1010ez short form"
  app/controllers/v0/health_care_applications_controller.rb
  app/models/health_care_application.rb
  config/initializers/statsd.rb
  lib/hca/service.rb
  spec/lib/hca/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: console-services-review

#10294 Revert "Revert "Add stats for 1010ez short form""
  app/controllers/v0/health_care_applications_controller.rb
  app/models/health_care_application.rb
  config/initializers/statsd.rb
  lib/hca/service.rb
  spec/lib/hca/service_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: console-services-review

#10273 Mobile: Add toggle for non prod ids for fetching facilities
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/va_appointments.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  modules/mobile/app/models/mobile/v0/templates/va_appointment.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/spec/models/appointment_spec.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_multiple_mfs_facilities_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  spec/factories/iam_users.rb
Labels: mobile, console-services-review

#10276 API-17448: Add retrieveFrom validations to supplemental claim model
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: Lighthouse, appeals

#10297 API-16575 Update references to JSON API versions
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#10298 Update onsite notifications to display in descending order
  app/models/onsite_notification.rb
  spec/models/onsite_notification_spec.rb
Labels: console-services-review

#10299 Fixing logic that didn't properly look for loa3 user when attempting …
  app/services/sign_in/user_creator.rb
Labels: console-services-review

#10304 43411 update specs to include clinic location
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/serializers/check_in/v2/appointment_data_serializer_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
  spec/support/vcr_cassettes/check_in/lorota/data/data_200.yml
Labels: console-services-review

#10310 44275 Add new route for VBS to send new statement data
  app/controllers/v0/medical_copays_controller.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  config/routes.rb
  spec/controllers/v0/medical_copays_controller_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#10303 [44675] Adding MPI record ruleset to block authentication if user has…
  app/models/mpi_data.rb
  app/models/user.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  lib/mpi/models/mvi_profile_ids.rb
  lib/mpi/responses/profile_parser.rb
  spec/factories/mvi_profile_relationships.rb
  spec/factories/mvi_profiles.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10318 [API-17776] - ClaimsApi - POA PUT enforce "attachment" inclusion
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: Lighthouse, claimsApi

#10292 [API-17389] - ClaimsApi - V2 claims additional attributes
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/services/bgs_to_lighthouse_claims_mapper_service_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#10317 Adds emails for flipper admin support
  config/settings.yml
Labels: console-services-review

#10311 44216 Error mapping for CHIP 504
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/check_in/check_in_504.yml
  spec/support/vcr_cassettes/check_in/chip/confirm_demographics/confirm_demographics_504.yml
  spec/support/vcr_cassettes/check_in/chip/pre_check_in/pre_check_in_504.yml
Labels: console-services-review

#10314 [44737] Adding mobile test client for sign in service that redirects …
  app/models/iam_user_identity.rb
  app/services/sign_in/constants/client_config.rb
  app/services/sign_in/login_redirect_url_generator.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/user_identities.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
Labels: console-services-review

#10323 update bgs_ext gem
  Gemfile.lock
Labels: console-services-review

#10322 Adding prod rakelib directory in rake search
  Rakefile
Labels: console-services-review

#10320 [API-17389] - ClaimsApi - Remove unused "BGSToLighthouseClaimsMapperService" class
  modules/claims_api/app/services/claims_api/bgs_to_lighthouse_claims_mapper_service.rb
  modules/claims_api/spec/services/bgs_to_lighthouse_claims_mapper_service_spec.rb
Labels: Lighthouse, claimsApi

#10326 added rx to downtime list
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
Labels: mobile

#10237 Implemented coverband to expose unused code
  Gemfile
  Gemfile.lock
  config/application.rb
  config/coverband.rb
  config/initializers/warden_github.rb
  config/routes.rb
  config/settings.yml
  lib/github_authentication/coverband_reporters_web.rb
  lib/github_authentication/sidekiq_web.rb
  spec/lib/github_authentication/coverband_reporters_web_spec.rb
Labels: console-services-review

#10300 API-17673 Fix 500 error on incorrect benefit_type to contestable issues
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: Lighthouse, appeals

#10328 API-17762 persists cid
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/models/power_of_attorney_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse, claimsApi

#10332 fixed settings typo
  lib/github_authentication/coverband_reporters_web.rb
Labels: console-services-review

#10334 Updated Coverband's Redis url
  config/coverband.rb
Labels: console-services-review

#10321 API-17672: VBADocuments::UploadProcessor: Fix 'undefined method `gsub'' Error
  lib/central_mail/utilities.rb
Labels: console-services-review

#10309 API-17475: Enable claimant details for SCv2
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
  modules/appeals_api/spec/docs/v2/sc_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, console-services-review

#10327 API-17675 Use json schema date validator
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/config/schemas/shared/v1/date.json
  modules/appeals_api/config/schemas/v1/10182.json
  modules/appeals_api/config/schemas/v1/10182_headers.json
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/config/schemas/v2/10182_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/config/schemas/v2/200995_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/200996.json
  modules/appeals_api/config/schemas/v2/200996_headers.json
  modules/appeals_api/config/schemas/v2/200996_with_shared_refs.json
  modules/appeals_api/config/schemas/v2/contestable_issues_headers.json
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_for_model_validations.rb
  spec/fixtures/json/detailed_schema_errors_schema.json
  spec/lib/common/exceptions/detailed_schema_errors_spec.rb
Labels: Lighthouse, appeals

#10335 [44619] Make Sign in Service user_uuid equal to csp_uuid for now, to …
  app/controllers/v0/sign_in_controller.rb
  app/models/user_verification.rb
  app/services/sign_in/revoke_sessions_for_user.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_verification_spec.rb
  spec/services/sign_in/revoke_sessions_for_user_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#10344 Allow PaymentHistory to be enabled/disabled manually
  app/models/adapters/payment_history_adapter.rb
  config/features.yml
  spec/controllers/v0/profile/payment_history_controller_spec.rb
Labels: console-services-review

#10338 44941 Generate Debts API Engine
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/debts_api/Gemfile
  modules/debts_api/README.rdoc
  modules/debts_api/Rakefile
  modules/debts_api/bin/rails
  modules/debts_api/config/routes.rb
  modules/debts_api/debts_api.gemspec
  modules/debts_api/lib/debts_api.rb
  modules/debts_api/lib/debts_api/engine.rb
  modules/debts_api/lib/debts_api/version.rb
  modules/debts_api/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

#10345 Add TechDocs Index and Sidekiq Dev Environment of IET
  catalog-info.yaml
  docs/index.md
Labels: console-services-review

#10342 44944 Permit selected debt params for FSR form
  app/controllers/v0/financial_status_reports_controller.rb
  app/swagger/swagger/schemas/financial_status_reports.rb
Labels: console-services-review

#10350 Jhwuz add access to flipper
  config/settings.yml
Labels: console-services-review

#10351 Expand flipper check for payment history
  app/models/adapters/payment_history_adapter.rb
Labels: console-services-review

#10353 Disable failing user spec
  spec/models/user_spec.rb
Labels: console-services-review

#10352 Adding domain to properly delete info cookie on sign in service logout
  app/controllers/v0/sign_in_controller.rb
Labels: console-services-review

#10354 Fixing spec that was set to pending because of other test pollution
  modules/mobile/spec/request/facilities_info_request_spec.rb
  spec/models/user_spec.rb
Labels: mobile, console-services-review

#10339 add aj ana erica to the flipper
  config/settings.yml
Labels: console-services-review

#10347 Change name of feature flag
  config/features.yml
Labels: console-services-review

#10356 Remove Navigation for README from TechDocs, it's redundant.
  mkdocs.yaml
Labels: console-services-review

#10231 SiS pre_login_error handling
  app/controllers/v0/sign_in_controller.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#10359 [43709] Certificate of Eligibility: Document Downloads
  app/controllers/v0/coe_controller.rb
  config/routes.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
  spec/support/vcr_cassettes/lgy/document_download.yml
  spec/support/vcr_cassettes/lgy/document_download_not_found.yml
Labels: console-services-review
