Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-05, with the labels that each got.

#9750 Remove feature flip for bypassing international postal code requirement
  lib/va_profile/models/base_address.rb
  spec/lib/va_profile/models/address_spec.rb
Labels: console-services-review

#9768 Update to bullseye distribution to fix docker build error
  Dockerfile
Labels: console-services-review

#9752 RRD: make status notifications more precise
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#9748 RDD: add Conditions endpoint to the Lighthouse API client
  config/settings.yml
  lib/lighthouse/veterans_health/client.rb
  spec/lib/lighthouse/veterans_health/client_spec.rb
Labels: console-services-review

#9764 Create generic VaNotify ICN sending job
  modules/va_notify/app/workers/va_notify/icn_job.rb
  modules/va_notify/spec/workers/icn_job_spec.rb
Labels: console-services-review

#9757 2982: add mobile_precache_appointments flag and email tied to product…
  config/features.yml
  config/settings.yml
Labels: console-services-review

#9763 VACMS-8938: Adds new public websites team members to flipper config.
  config/settings.yml
Labels: console-services-review

#9728 2862 appointment facility eligibility
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/serializers/mobile/v0/facility_eligibility_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/FacilityEligibilities.yml
  modules/mobile/docs/schemas/FacilityEligibility.yml
  modules/mobile/spec/request/facility_eligibility_request_spec.rb
  modules/mobile/spec/support/schemas/facility_eligibility.json
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_bad_facility.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_100.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_101.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_102.yml
  modules/mobile/spec/support/vcr_cassettes/facility_eligibility/get_patient_appointment_metadata_facility_103.yml
Labels: mobile

#9730 API-12180 nod non-veteran claimant validation and error handling
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/config/schemas/v2/10182.json
  modules/appeals_api/config/schemas/v2/10182_headers.json
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals

#9760 [API-15348] - ClaimsApi - Document conditional 526 requirements
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#9761 Retire VICv2 API endpoints
  app/controllers/v0/vic/base_controller.rb
  app/controllers/v0/vic/profile_photo_attachments_controller.rb
  app/controllers/v0/vic/supporting_documentation_attachments_controller.rb
  app/models/vic/profile_photo_attachment.rb
  app/models/vic/supporting_documentation_attachment.rb
  app/uploaders/profile_photo_attachment_uploader.rb
  app/uploaders/supporting_documentation_attachment_uploader.rb
  app/uploaders/vic/processing_uploader.rb
  config/routes.rb
  config/settings.yml
  docs/HISTORY.md
  lib/vic/tag_sentry.rb
  spec/controllers/v0/vic/profile_photo_attachments_controller_spec.rb
  spec/controllers/v0/vic/supporting_documentation_attachments_controller_spec.rb
  spec/factories/vic/profile_photo_attachment.rb
  spec/factories/vic/supporting_documentation_attachment.rb
  spec/models/vic/profile_photo_attachment_spec.rb
  spec/models/vic/supporting_documentation_attachment_spec.rb
  spec/uploaders/profile_photo_attachment_uploader_spec.rb
  spec/uploaders/supporting_documentation_attachment_uploader_spec.rb
Labels: console-services-review

#9767 Add POA code to logger
  modules/claims_api/app/workers/claims_api/vbms_updater.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: Lighthouse

#9777 40391 Removing CIE logging feature flag
  config/features.yml
  modules/check_in/app/controllers/check_in/application_controller.rb
  modules/check_in/app/controllers/check_in/v2/demographics_controller.rb
  modules/check_in/app/controllers/check_in/v2/patient_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/pre_check_ins_controller.rb
  modules/check_in/app/controllers/check_in/v2/sessions_controller.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#9756 RRD: decouple assessed data and sufficient data
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/claim_context.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

#9749 RRD: use Lighthouse query methods directly
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  lib/lighthouse/veterans_health/client.rb
  spec/lib/lighthouse/veterans_health/client_spec.rb
  spec/lib/lighthouse/veterans_health/integration/client_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
  spec/support/vcr_cassettes/lighthouse/veterans_health/medication_requests.yml
  spec/support/vcr_cassettes/lighthouse/veterans_health/observations.yml
Labels: console-services-review

#9770 [API-15575] - ClaimsApi - Validate 526 'claimDate' relative to Central US Time Zone
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse

#9771 In progress form reminders
  config/settings.yml
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
Labels: console-services-review

#9786 2858 mobile service eligibility
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/app/models/mobile/v0/medical_service.rb
  modules/mobile/app/serializers/mobile/v0/veterans_affairs_eligibility_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
  modules/mobile/spec/support/schemas/service.json
  modules/mobile/spec/support/schemas/service_eligibility.json
  modules/mobile/spec/support/vcr_cassettes/va_eligibility/get_scheduling_configurations_200.yml
  modules/mobile/spec/support/vcr_cassettes/va_eligibility/get_scheduling_configurations_200_all_enabled.yml
  modules/mobile/spec/support/vcr_cassettes/va_eligibility/get_scheduling_configurations_200_bad_facility.yml
Labels: mobile

#9778 Log 1010ez validation errors
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

#9784 Removes feature flags from Identity team
  config/features.yml
  spec/controllers/v0/feature_toggles_controller_spec.rb
Labels: console-services-review

#9799 Adding id.me verified email addresses to flipper.
  config/settings.yml
Labels: console-services-review

#9782 Update swagger docs for preferred name and gender identity
  app/swagger/swagger/schemas/vet360/gender_identity.rb
  app/swagger/swagger/schemas/vet360/preferred_name.rb
Labels: console-services-review

#9785 RRD: Add medication counts to completed mailer
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.erb.html
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  spec/factories/form526_submissions.rb
  spec/mailers/rrd_completed_mailer_spec.rb
Labels: console-services-review

#9805 [9776] Adding rendered error messages and proper error statuses for s…
  app/controllers/sign_in_controller.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/refresh_token_decryptor.rb
  app/services/sign_in/refresh_token_encryptor.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/factories/sign_in/access_tokens.rb
  spec/models/sign_in/access_token_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/refresh_token_decryptor_spec.rb
  spec/services/sign_in/refresh_token_encryptor_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

#9769 updated docs to include new mobile facilities info endpoint
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/FacilitiesInfo.yml
  modules/mobile/docs/schemas/FacilitiesInfoRequestBody.yml
  modules/mobile/docs/schemas/FacilityInfo.yml
Labels: mobile

#9758 facilities info endpoint and related refactoring
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/facility_info.rb
  modules/mobile/app/models/mobile/v0/facility_info.rb
  modules/mobile/app/serializers/mobile/v0/facilities_info_serializer.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/helpers/mobile/facilities_helper_spec.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/support/fixtures/va_appointments_for_facility_info.json
  modules/mobile/spec/support/schemas/facilities_info.json
  modules/mobile/spec/support/schemas/facility_info.json
  modules/mobile/spec/support/vcr_cassettes/appointments/get_multiple_mfs_facilities_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info_yml.yml
Labels: mobile

#9781 RRD: identify potential microservices
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

#9792 Retire beta_registration API
  app/controllers/v0/beta_registrations_controller.rb
  app/models/beta_registration.rb
  app/models/user.rb
  app/services/users/services.rb
  config/routes.rb
  docs/HISTORY.md
  lib/beta_switch.rb
  spec/controllers/v0/beta_registrations_controller_spec.rb
  spec/factories/beta_registrations.rb
  spec/requests/beta_registration_spec.rb
  spec/services/users/services_spec.rb
Labels: console-services-review

#9811 40764 update profile feature toggles
  config/features.yml
Labels: console-services-review

#9773 API-15626 HLRv1: remove sunset date from deprecation headers
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/spec/requests/v1/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals

#9789 API-15628 Fix development rswag generation
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/v2/nod_spec.rb
Labels: bug, Lighthouse, appeals

#9744 WIP - Api 14963 add nvc pdf
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/config/schemas/v2/200995_headers.json
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/v1/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v1/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200995_headers_minimum.json
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields_spec.rb
Labels: Lighthouse, appeals

#9751 2982 precache appointments flag
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/controllers/mobile/v1/users_controller.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile

#9801 3016 create evss account after login
  lib/iam_ssoe_oauth/session_manager.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
Labels: console-services-review

#9803 40510 add a feature flag to enable mocks
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/app/services/v2/lorota/client.rb
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/client_spec.rb
Labels: console-services-review

#9802 AppealsAPI: Fix PDF content checking
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_maxlength.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/support/pdf_matcher.rb
Labels: Lighthouse, appeals

#9810 [API-15184] - ClaimsApi - ITF POST permit 'claimant_ssn' attribute
  Gemfile.lock
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse, console-services-review

#9825 Update 2122a docs to clarify signatures
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/2122.json
Labels: Lighthouse

#9828 40510 fix betamock settings for base path
  config/betamocks/services_config.yml
Labels: console-services-review

#9821 [9820] Adding ability to decrypt id.me oauth user attributes
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/errors.rb
  lib/sign_in/idme/service.rb
  spec/fixtures/idme/idme_oauth_pub.pem
  spec/lib/sign_in/idme/service_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: console-services-review

#9826 Refactor InProgressReminder job
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/va_notify/spec/lib/in_progress_form_helper_spec.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
Labels: console-services-review

#9831 add helene.mccarron to flipper admin
  config/settings.yml
Labels: console-services-review

#9827 40907 CIE max auth limit config
  config/settings.yml
  config/settings/test.yml
Labels: console-services-review

#9840 Add Ryan Shaw for access to flipper
  config/settings.yml
Labels: console-services-review

#9823 (fix) alphabatize and fix the name of the toggle
  config/features.yml
Labels: console-services-review

#9829 [9818] Adding credential information to OAuthSession and UserVerifica…
  db/migrate/20220510182554_add_user_verification__credential_email_to_oauth_sessions.rb
  db/schema.rb
Labels: console-services-review

#9809 RRD: notify of EVSS submission error
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

#9834 mobile - fix path to doc file
  modules/mobile/docs/schemas/AppointmentExtensions.yml
  modules/mobile/docs/schemas/CodeableConcept.yml
Labels: mobile

#9850 Update Bundler to 2.3.13
  Gemfile.lock
  docker-entrypoint.sh
Labels: console-services-review

#9846 Update vets-json-schema to 20.20.1
  Gemfile.lock
  app/models/saved_claim/coe_claim.rb
  lib/pdf_fill/forms/va261880.rb
  spec/fixtures/pdf_fill/26-1880/kitchen_sink.json
  spec/fixtures/pdf_fill/26-1880/overflow.json
Labels: console-services-review

#9842 Add dependabot scheduled updates
  .github/dependabot.yml
Labels: console-services-review

#9857 Update cache volume name for GHA bundle dir
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
  docker-entrypoint.sh
Labels: console-services-review

#9855 VAVFA-000: Add new feature flag to control VAMC expandable alert visibility.
  config/features.yml
Labels: console-services-review

#9858 Add service history model
  lib/va_profile/models/service_history.rb
  spec/lib/va_profile/models/service_history_spec.rb
Labels: console-services-review

#9860 Revert bundler 2.3.13 update
  docker-entrypoint.sh
Labels: console-services-review

#9861 Revert bundler version in Gemfile.lock
  Gemfile.lock
Labels: console-services-review

#9864 Fixing specs that aren't passing locally
  lib/mdot/response.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/website_host_service_spec.rb
  spec/lib/debt_management_center/payments_service_spec.rb
Labels: console-services-review

#9867 added hca_short_form_enabled flipper feature
  config/features.yml
Labels: console-services-review

#9853 41218 Add StatsD Constants & Initializers
  app/services/sign_in/constants/statsd.rb
  config/initializers/statsd.rb
Labels: console-services-review

#9870 Don't automatically fill in loa3 user data if it's null for the 1010ez
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

#9880 Revert Bump rubocop from 1.29.0 to 1.29.1
  Gemfile.lock
Labels: console-services-review

#9868 API-16045 Fixup SC NVC Pt. 1
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/spec/fixtures/v2/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200996_minimum.pdf
Labels: Lighthouse, appeals

#9872 API-16045 Fixup SC NVC Pt 2
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/fixtures/v2/valid_200995.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_minimum.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: Lighthouse, appeals

#9848 [9806] Adding ability for MPI to create a new user
  app/controllers/v0/mpi_users_controller.rb
  app/models/mpi_data.rb
  app/models/user.rb
  app/policies/mpi_policy.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/user_creator.rb
  app/services/users/services.rb
  config/mpi_schema/mpi_add_person_implicit_search_template.xml
  config/mpi_schema/mpi_add_person_proxy_add_template.xml
  lib/backend_services.rb
  lib/mpi/errors/errors.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/add_person_proxy_add_message.rb
  lib/mpi/responses/add_parser.rb
  lib/mpi/service.rb
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/add_person_proxy_add_message_spec.rb
  spec/lib/mpi/responses/add_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_spec.rb
  spec/policies/mpi_policy_spec.rb
  spec/requests/mpi_users_request_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/support/vcr_cassettes/mpi/add_person/add_person_implicit_search_server_error.yml
  spec/support/vcr_cassettes/mpi/add_person/add_person_implicit_search_success.yml
Labels: console-services-review

#9788 Master -> main branch name change in vets-website (#40469)
  app/workers/cypress_viewport_updater/github_service.rb
  modules/check_in/README.md
  spec/support/vcr_cassettes/cypress_viewport_updater/github_get_cypress_json_file.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_get_viewport_preset_js_file.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_get_content.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_get_content_file_1.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_submit_pr_get_content_file_2.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_update_content_create_branch.yml
  spec/support/vcr_cassettes/cypress_viewport_updater/github_service_update_content_get_content.yml
Labels: console-services-review

#9876 [9818] Adding credential information to OAuthSession object that does…
  app/controllers/sign_in_controller.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/o_auth_session.rb
  app/models/sign_in/validated_credential.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/user_creator.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/sign_in_controller_spec.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/models/sign_in/validated_credential_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#9882 3142 update user serializer to return nil for fax
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/user_request_spec.rb
Labels: mobile

#9869 [API-16015] - ClaimsApi - Doc updates for date validations
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
Labels: Lighthouse

#9879 API-16045 Fixup SC NVC Pt 3
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals

#9875 appointment request doc updates
  modules/mobile/app/models/mobile/v0/adapters/medical_service.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentKind.yml
  modules/mobile/docs/schemas/AppointmentStatus.yml
  modules/mobile/docs/schemas/ContactPoint.yml
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
  modules/mobile/docs/schemas/PatientContact.yml
  modules/mobile/docs/schemas/Period.yml
  modules/mobile/docs/schemas/PreferredLocation.yml
  modules/mobile/docs/schemas/ReasonCode.yml
  modules/mobile/docs/schemas/ServiceEligibilities.yml
  modules/mobile/docs/schemas/User.yml
  modules/mobile/docs/schemas/v1/User.yml
  modules/mobile/spec/request/veterans_affairs_eligibility_request_spec.rb
Labels: mobile

#9885 [9884] Adding proper parsed attributes for dslogon and mhv sign in se…
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  spec/controllers/sign_in_controller_spec.rb
Labels: console-services-review

#9843 2968 Prescription controller
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/docs/schemas/Prescriptions.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_a_list_of_all_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/handles_failed_stations.yml
  spec/factories/iam_users.rb
Labels: mobile, console-services-review

#9890 [API-16166] - ClaimsApi - Fix "burial" ITF validation
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/0966.json
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse

#9897 Removing jquery in flipper erb that is not being used
  lib/flipper/views/layout.erb
Labels: console-services-review

#9865 API-16009 Fix adding duplicate NOD & SC StatusUpdate records
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: bug, Lighthouse, appeals

#9883 API-16045 Fixup SC NVC Pt 4
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/lib/appeals_api/sc_pdf_submit_wrapper.rb
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: Lighthouse, appeals

#9899 add service type enum to docs
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
Labels: mobile

#9902 API-16045 Updates re: pr #4
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
Labels: Lighthouse, appeals

#9905 add service type enum to docs
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/CreateAppointmentRequest.yml
Labels: mobile

#9906 40758 military info vaprofile
  config/settings.yml
  lib/va_profile/military_personnel/configuration.rb
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/military_personnel/service_history_response.rb
  lib/va_profile/models/service_history.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_histories_200.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_200.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_400.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_403.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_404.yml
  spec/support/vcr_cassettes/va_profile/military_personnel/post_read_service_history_500.yml
Labels: console-services-review

#9772 API-15422: Remove validation check of EDIPI for MPI add calls
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: blocked

#9908 41611 Update betamocks config to add response delay
  config/betamocks/services_config.yml
Labels: console-services-review

#9835 DHP-154 Add migrations and schema for connected devices
  db/migrate/20220426212418_create_device.rb
  db/migrate/20220427215503_create_veteran_device_record.rb
  db/schema.rb
Labels: tools-be-review, console-services-review

#9881 DHP 154 View My Devices
  .gitignore
  config/settings.yml
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/fitbit_controller.rb
  modules/dhp_connected_devices/app/controllers/dhp_connected_devices/veteran_device_records_controller.rb
  modules/dhp_connected_devices/app/docs/dhp_connected_devices.yaml
  modules/dhp_connected_devices/app/models/device.rb
  modules/dhp_connected_devices/app/models/veteran_device_record.rb
  modules/dhp_connected_devices/app/serializers/device_serializer.rb
  modules/dhp_connected_devices/app/serializers/veteran_device_record_serializer.rb
  modules/dhp_connected_devices/app/services/veteran_device_records_service.rb
  modules/dhp_connected_devices/config/routes.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/apidocs_controller_spec.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/fitbit_controller_spec.rb
  modules/dhp_connected_devices/spec/controllers/dhp_connected_devices/veteran_device_record_controller_spec.rb
  modules/dhp_connected_devices/spec/factories/devices.rb
  modules/dhp_connected_devices/spec/factories/veteran_device_records.rb
  modules/dhp_connected_devices/spec/models/device_spec.rb
  modules/dhp_connected_devices/spec/models/veteran_device_record_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/veteran_device_records_service_spec.rb
Labels: console-services-review

#9919 update mobile prescription docs
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
Labels: mobile

#9914 [9918] Versioning the sign in service controller routes
  .github/CODEOWNERS
  app/controllers/sign_in_controller.rb
  app/controllers/v0/sign_in_controller.rb
  config/initializers/statsd.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
Labels: console-services-review

#9917 (feature) added new toggle
  config/features.yml
Labels: console-services-review

#9922 DHP-154 Create fitbit device record in the devices table via Rake task
  modules/dhp_connected_devices/lib/dhp_connected_devices/data_migrations/create_devices.rb
  rakelib/dhp_connected_devices_create_devices.rake
Labels: console-services-review

#9907 Sign In Service Application Controller
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/concerns/sign_in/instrumentation.rb
  app/controllers/sign_in/application_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/code_challenge_state_mapper.rb
  app/services/sign_in/errors.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/code_challenge_state_mapper_spec.rb
Labels: console-services-review

#9929 API-13124 - update monthly_report to remove bottom two sections.
  modules/vba_documents/app/views/vba_documents/monthly_report_mailer/monthly_report.html.erb
Labels: BenefitsIntake

#9924 Mobile update rx prescription
  app/models/prescription.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/gets_a_list_of_all_prescriptions.yml
Labels: mobile, console-services-review

#9926 40758 military info vaprofile
  app/controllers/v0/profile/service_histories_controller.rb
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/military_personnel/service_history_response.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/requests/service_history_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#9909 Send notification for specific MAS-related disabilities
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/constants.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  config/settings.yml
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

#9888 API-16045 Fixup SC NVC pt 5
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/config/schemas/v2/200995.json
  modules/appeals_api/spec/fixtures/v2/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v2/expected_200995_maxlength.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields_spec.rb
Labels: Lighthouse, appeals

#9927 [9895] Adding ability to query MPI by idme or logingov identifier
  lib/hca/user_attributes.rb
  lib/mpi/constants.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/messages/find_profile_message_identifier.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/add_person_implicit_search_message_spec.rb
  spec/lib/mpi/messages/find_profile_message_identifier_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

#9936 Update feature toggle demographics
  app/controllers/v0/profile/gender_identities_controller.rb
  app/controllers/v0/profile/personal_informations_controller.rb
  app/controllers/v0/profile/preferred_names_controller.rb
Labels: console-services-review

#9945 API-16411 Add backstage config files
  modules/appeals_api/catalog-info.yaml
  modules/appeals_api/config/backstage/appeals-status.yaml
  modules/appeals_api/config/backstage/decision-reviews.yaml
Labels: Lighthouse, appeals

#9935 Refactoring specs for sign in controller to correlate many of the err…
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#9938 Removing apparantly unnecessary callback cancellation in kms encrypti…
  app/workers/kms_encryption_verification_job.rb
Labels: console-services-review

#9950 Add Feature Flag for New Fry/DEA Form
  config/features.yml
Labels: console-services-review

#9932 mobile rx refill endpoint
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/fixtures/prescriptions.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/prescription_refill_error.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_a_prescription.yml
Labels: mobile

#9941 JobTracker job_exhausted was not visible to child classes
  app/workers/evss/disability_compensation_form/job_status.rb
Labels: console-services-review

#9960 API-15447 Remove and fixup duplicate header schema
  modules/appeals_api/config/schemas/v2/200995_headers.json
Labels: Lighthouse, appeals

#9963 change from cookie to user
  config/features.yml
Labels: console-services-review

#9816 39896 Sign in Service Error Logs & StatsD
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/logger.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: identity, identity-backend, console-services-review
