Repository department-of-veterans-affairs/vets-api, pull requests merged in 2022-12, with the labels that each got.

#11270 Add parent helm chart prompt to ensure templates can be locally rendered and new values were added to chart/values.yaml
  .github/workflows/helm_chart_prompt.yml
Labels: console-services-review

#11269 [30826] Removing gender from MPI service search by attributes
  lib/mpi/service.rb
  spec/lib/mpi/service_spec.rb
  spec/support/vcr_cassettes/mpi/find_candidate/orch_search_with_attributes.yml
  spec/support/vcr_cassettes/mulesoft/submit.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2.yml
  spec/support/vcr_cassettes/mulesoft/submit_v2_no_poa.yml
Labels: console-services-review

#11280 Avoid using `.empty?` on a variable that can be `nil`
  lib/claim_letters/claim_letter_downloader.rb
Labels: console-services-review

#11281 Revert "add letters service"
  config/features.yml
  config/settings.yml
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/letter.rb
  modules/mobile/app/models/mobile/v0/lighthouse_assertion.rb
  modules/mobile/app/models/mobile/v0/lighthouse_params_factory.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/service.rb
  modules/mobile/spec/models/lighthouse_assertion_spec.rb
  modules/mobile/spec/models/lighthouse_params_factory_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_200.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_404.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_503.yml
Labels: mobile, console-services-review

#11274 Api 21969/stuck records report
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/slack/messager.rb
  modules/appeals_api/app/services/appeals_api/slack/stuck_record_notification.rb
  modules/appeals_api/app/workers/appeals_api/daily_stuck_records_report.rb
  modules/appeals_api/spec/services/appeals_api/slack/messager_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_stuck_records_report_spec.rb
Labels: Lighthouse, appeals, console-services-review

#11283 Update settings.yml
  config/settings.yml
Labels: console-services-review

#11286 Testing prompt
  .github/workflows/helm_chart_prompt.yml
  chart/values.yaml
Labels: console-services-review

#11230 Claim letter sentry tagging
  app/controllers/v0/claim_letters_controller.rb
Labels: console-services-review

#11301 Increment bundle cache for GHA
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
Labels: console-services-review

#11212 Remove rrd_asthma_release_pdf and rrd_add_special_issue toggles
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
Labels: console-services-review

#11291 50260 Fixing BTSSS Claims API failure
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/services/travel_claim/client.rb
Labels: console-services-review

#11295 add myva drupal flag
  config/features.yml
Labels: console-services-review

#11294 add excessive logging to troubleshoot
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: claimsApi

#11298 Remove bad address indicator flags
  config/features.yml
Labels: console-services-review

#11261 [API-20671]: Flip between DVP and vets-api EVSS service
  config/features.yml
  config/settings.yml
  lib/evss/disability_compensation_form/dvp/configuration.rb
  lib/evss/disability_compensation_form/dvp/service.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
Labels: console-services-review, claimsApi

#11267 Api 21955 handle EVSS errors
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: Lighthouse, claimsApi

#11292 DDL: Handle VBMS::FilenumberDoesNotExist error gracefully
  lib/claim_letters/claim_letter_downloader.rb
Labels: console-services-review

#11299 Regenerate appeals dev docs
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
Labels: Lighthouse, appeals

#11314 API-21969 Fix Flipper config for daily appeals report
  config/features.yml
  modules/appeals_api/app/workers/appeals_api/daily_stuck_records_report.rb
  modules/appeals_api/spec/workers/appeals_api/daily_stuck_records_report_spec.rb
Labels: console-services-review

#11305 [11304] Removing unused preferred facilities controller and model
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/preferred_facilities_controller.rb
  app/models/account.rb
  app/models/preferred_facility.rb
  app/serializers/preferred_facility_serializer.rb
  app/swagger/swagger/requests/preferred_facilities.rb
  config/routes.rb
  spec/controllers/v0/preferred_facilities_controller_spec.rb
  spec/factories/preferred_facility.rb
  spec/models/preferred_facility_spec.rb
  spec/requests/swagger_spec.rb
  spec/serializers/preferred_facility_serializer_spec.rb
Labels: console-services-review

#11259 Mobile: Add preferred name updating
  modules/mobile/app/controllers/mobile/v0/preferred_names_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
  modules/mobile/docs/schemas/GenderIdentityUpdate.yml
  modules/mobile/docs/schemas/PreferredNameUpdate.yml
  modules/mobile/spec/request/preferred_name_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/post_preferred_name_success.yml
Labels: mobile

#11273 4277 parse appointment details from comment
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
  modules/mobile/spec/support/fixtures/VAOS_v2_appointments.json
Labels: mobile

#11310 Remove direct_deposit_edu flag
  app/policies/ch33_dd_policy.rb
  config/features.yml
  spec/policies/ch33_dd_policy_spec.rb
Labels: console-services-review

#11315 [11304] Drop preferred facilities table
  db/migrate/20221206191853_drop_preferred_facilities.rb
  db/schema.rb
Labels: console-services-review

#11293 update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: console-services-review

#11285 BE feature toggle created for CST's migration to the Lighthouse API
  config/features.yml
Labels: console-services-review

#11324 add Holden Hinkle to Flipper admin email list
  config/settings.yml
Labels: console-services-review

#11321 Remove direct_deposit_cnp flag
  app/policies/ppiu_policy.rb
  config/features.yml
  modules/mobile/spec/support/iam_session_helper.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/policies/ppiu_policy_spec.rb
Labels: mobile, console-services-review

#11258 Api 21920 service branch naming
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/526.json
  modules/claims_api/lib/claims_api/service_branch_mapper.rb
  modules/claims_api/spec/lib/claims_api/service_branch_mapper_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: claimsApi

#11334 Additional additional logging
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: claimsApi

#11335 [50438] Display only notification letters on the COE status page.
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

#11326 [#661] Remove auth check in dev env for claims
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
Labels: console-services-review

#11336 Allow user to be nil in DMC base class
  lib/debt_management_center/base_service.rb
Labels: console-services-review

#11136 Remove mulesoft v1 code
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/services/form1010cg/service.rb
  app/swagger/swagger/requests/caregivers_assistance_claims.rb
  app/workers/form1010cg/deliver_attachments_job.rb
  config/features.yml
  lib/carma/client/mule_soft_client.rb
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/jobs/form1010cg/deliver_attachments_job_spec.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/requests/caregivers_assistance_claims_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

#11340 API-21965 Change doc type for 5103
  modules/claims_api/lib/claims_api/ews_vbms_sidekiq.rb
Labels: claimsApi

#11337 4277 flexible parsing
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
Labels: mobile

#11344 Remove PII attributes from being logged in sentry
  lib/debt_management_center/payments_service.rb
  lib/debt_management_center/workers/va_notify_email_job.rb
Labels: console-services-review

#11325 [41137] MPI profile parser DOB validation
  lib/mpi/responses/profile_parser.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/support/mpi/find_candidate_incomplete_dob_response.xml
Labels: console-services-review

#11339 Mobile integrate with new MHV RX list interface
  app/models/prescription.rb
  lib/rx/client.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_refills_serializer.rb
  modules/mobile/app/serializers/mobile/v0/prescriptions_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/docs/schemas/PrescriptionsRefill.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/schemas/prescription.json
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_not_found.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_with_error.yml
Labels: mobile, console-services-review

#11338 Simplify notification letter filtering for COE status page.
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

#11327 Remove direct_deposit_vanotify_flag
  app/controllers/v0/ppiu_controller.rb
  app/controllers/v0/profile/ch33_bank_accounts_controller.rb
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/app/services/mobile/v0/payment_information/proxy.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/requests/ppiu_request_spec.rb
Labels: mobile, console-services-review

#11346 Rcassity external services helm chart
  chart/Chart.yaml
  chart/templates/external-service-deployment.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/ingress_route.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.5.0.tgz
Labels: console-services-review

#11352 [#661] Update claims auth check
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
Labels: console-services-review

#11355 Mobile mhv list interface params fix
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_not_found.yml
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_with_error.yml
Labels: mobile

#11361 Add feature flag for browser monitoring in Health Care application
  config/features.yml
Labels: console-services-review

#11356 Update swagger docs
  app/swagger/swagger/requests/profile.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#11343 update va-home flag
  config/features.yml
Labels: console-services-review

#11363 Update personalization params
  app/models/saved_claim/pension.rb
  spec/models/saved_claim/pension_spec.rb
Labels: console-services-review

#11354 Clinic Patient Friendly Names Not Displaying
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: VAOS, be-review

#11287 4246 add preferred name gender identity to UserSerializer
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/serializers/mobile/v1/user_serializer.rb
  modules/mobile/docs/schemas/v1/User.yml
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/va_profile/demographics/demographics.yml
Labels: mobile

#11362 Adds bgs response factory
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/workers/ews_updater_spec.rb
Labels: claimsApi

#11369 Mhv secure messaging feature flag
  config/settings.yml
Labels: console-services-review

#11379 Revert claim establisher
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/spec/workers/claim_establisher_spec.rb
Labels: claimsApi

#11313 4195 mobile lighthouse ccg letters
  config/features.yml
  config/settings.yml
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/letter.rb
  modules/mobile/app/models/mobile/v0/lighthouse_assertion.rb
  modules/mobile/app/models/mobile/v0/lighthouse_params_factory.rb
  modules/mobile/app/serializers/mobile/v0/letters_serializer.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/configuration.rb
  modules/mobile/app/services/mobile/v0/lighthouse_letters/service.rb
  modules/mobile/spec/models/lighthouse_assertion_spec.rb
  modules/mobile/spec/models/lighthouse_params_factory_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
  modules/mobile/spec/request/letters_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_200.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_404.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_letters/letters_503.yml
Labels: mobile, console-services-review

#11345 [22884] adds USiP logging to SiS auth & refactors applications constants
  app/controllers/v1/sessions_controller.rb
  config/initializers/statsd.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, identity-backend, console-services-review

#11380 Test preview environment workflow
  .github/workflows/preview_environment_deployment.yml
  script/github-actions/pe-deploy-source.js
Labels: console-services-review

#11381 Add environment to appeals stuck record notifications
  modules/appeals_api/app/services/appeals_api/slack/stuck_record_notification.rb
  modules/appeals_api/spec/services/appeals_api/slack/stuck_record_notification_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_stuck_records_report_spec.rb
Labels: Lighthouse, appeals

#11386 Pulling DB stuff into it's own PR
  db/migrate/20221214161602_add_backup_submitted_claim_id_to_form526submissions.rb
  db/schema.rb
Labels: console-services-review

#11378 Rcassity vets api env namespace
  chart/Chart.yaml
  chart/templates/db-migrate-job.yaml
  chart/templates/external-dns.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/templates/ingress_route.yaml
  chart/templates/lighthouse-pre-configs.yaml
  chart/templates/sa.yaml
  chart/templates/server-deployment.yaml
  chart/templates/server-service.yaml
  chart/templates/settings-configmap.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.6.3.tgz
Labels: console-services-review

#11317 Add backup form 526 submission path
  app/workers/evss/disability_compensation_form/submit_form0781.rb
  app/workers/evss/disability_compensation_form/submit_form8940.rb
  config/betamocks/services_config.yml
  config/features.yml
  config/settings.yml
  lib/decision_review_v1/appeals/supplemental_claims.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/evss/disability_compensation_form/service.rb
  lib/form526_backup_submission/configuration.rb
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
  spec/factories/form526_submissions.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/lib/sidekiq/form526_job_status_tracker/job_tracker_spec.rb
  spec/support/disability_compensation_form/submissions/with_everything.json
  spec/support/vcr_cassettes/evss/disability_compensation_form/getPDF_200.yml
  spec/support/vcr_cassettes/form526_backup/200_evss_get_pdf.yml
  spec/support/vcr_cassettes/form526_backup/200_lighthouse_intake_upload.yml
  spec/support/vcr_cassettes/form526_backup/200_lighthouse_intake_upload_location.yml
Labels: console-services-review

#11367 [bug] Account for old flow FSR edge case
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#11387 VAOS::V2::AppointmentsController#index throwing 500 error
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_no_location_id.yml
Labels: VAOS, console-services-review

#11372 Appeals status API docs fixes
  modules/appeals_api/app/swagger/appeals_api/v1/appeals_status.yml
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: Lighthouse, appeals

#11389 This needs to go one layer deeper for EVSS
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11376 Remove caregiver_mulesoft feature flag and 1010cg carma api code
  .rubocop.yml
  app/services/form1010cg/service.rb
  config/features.yml
  lib/carma/client/client.rb
  lib/carma/client/configuration.rb
  lib/carma/models/submission.rb
  spec/lib/carma/client/client_spec.rb
  spec/lib/carma/client/configuration_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

#11308 API-22209 Fix Decision Reviews OAS documents
  modules/appeals_api/app/swagger/appeals_api/v2/swagger.json
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/docs/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#11390 49533 remove dev lorota key from settings
  config/settings.yml
Labels: console-services-review

#11399 Certificate of Eligibility | Make downloads work directly
  app/controllers/v0/coe_controller.rb
Labels: console-services-review

#11393 Certificate of Eligibility | Set homeSellIndictor to nil
  app/models/saved_claim/coe_claim.rb
  spec/factories/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
  spec/support/vcr_cassettes/lgy/application_put.yml
  spec/support/vcr_cassettes/lgy/application_put_500.yml
Labels: console-services-review

#11398 Ksoskin/fix/minor 526 backup submission fixes
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

#11401 Fix homeSellIndicator values
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

#11402 Making dslogon_verified scope in sessions controller call standard ds…
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

#11403 Mobile - add Failed_prescription_ids field to Rx refill response
  modules/mobile/app/serializers/mobile/v0/prescriptions_refills_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/PrescriptionsRefill.yml
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/rx_refill/prescriptions/refills_prescriptions_with_multiple_errors.yml
Labels: mobile

#11405 Fix appeals daily stuck records report cadence
  config/sidekiq_scheduler.yml
Labels: Lighthouse, appeals, console-services-review

#11404 4407 filter logic
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

#11331 Add validate endpoint
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/example.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/spec/fixtures/v2/veterans/intent_to_file/find_by_ptcpnt_id_and_itf_type.json
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
  spec/support/schemas/claims_api/v2/veterans/intent_to_file/intent_to_file.json
Labels: Lighthouse, console-services-review, claimsApi

#11408 Add GCIO VFEP to Flipper UI (Feature Toggles).
  config/settings.yml
Labels: console-services-review

#11342 Api 22117 email rx yaml setting file
  modules/appeals_api/app/mailers/appeals_api/daily_error_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/app/workers/concerns/appeals_api/report_recipients_reader.rb
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_error_report_spec.rb
  modules/appeals_api/spec/workers/concerns/appeals_api/report_recipients_reader_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_daily_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_weekly_spec.rb
Labels: Lighthouse, appeals

#11319 API-6969 Add monthly appeals stats report
  config/features.yml
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/appeals_api/app/mailers/appeals_api/stats_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/monthly_stats_report.rb
  modules/appeals_api/lib/appeals_api/stats_report.rb
  modules/appeals_api/spec/lib/stats_report_spec.rb
  modules/appeals_api/spec/workers/appeals_api/monthly_stats_report_spec.rb
Labels: Lighthouse, appeals, console-services-review

#11422 Api 22117 retry notification
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_daily.rb
  modules/appeals_api/app/workers/appeals_api/decision_review_report_weekly.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/spec/workers/appeals_api/daily_error_report_spec.rb
  modules/appeals_api/spec/workers/appeals_api/weeky_error_report_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_daily_spec.rb
  modules/appeals_api/spec/workers/decision_review_report_weekly_spec.rb
Labels: Lighthouse, appeals

#11413 50746 Deprecate CHIP 500 error map feature flag
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#11406 pass latest param via the url
  modules/meb_api/app/controllers/meb_api/v0/education_benefits_controller.rb
  modules/meb_api/lib/dgi/status/service.rb
  modules/meb_api/spec/dgi/status/service_spec.rb
  spec/support/vcr_cassettes/dgi/get_claim_letter.yml
  spec/support/vcr_cassettes/dgi/get_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_toe_claim_status.yml
  spec/support/vcr_cassettes/dgi/get_toe_letter.yml
Labels: console-services-review

#11435 Revert "50746 Deprecate CHIP 500 error map feature flag"
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#11418 Schema bump
  Gemfile.lock
Labels: console-services-review

#11431 Add feature flag for updated appointment details presentation
  config/features.yml
Labels: console-services-review

#11384 [11347] Refactor MPI add_person_proxy
  app/models/mpi_data.rb
  app/models/user.rb
  lib/mpi/messages/add_person_proxy_add_message.rb
  lib/mpi/service.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
Labels: console-services-review

#11439 [50226] Certificate of Eligibility | Fix loan parameters sent to LGY.
  app/models/saved_claim/coe_claim.rb
Labels: console-services-review

#11438 Certificate of Eligibility | Transform Marine Corps and Marine Corps Reserves to Marines.
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

#11437 50746 Deprecate CHIP 500 error map feature flag (#11413)
  config/features.yml
  modules/check_in/app/services/v2/chip/client.rb
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/demographics_request_spec.rb
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
Labels: console-services-review

#11441 Change V1 appeals status healthchecks to fit API standards
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse, appeals

#11430 50750 Deprecate Lorota delete feature flag
  config/features.yml
  modules/check_in/app/services/v2/lorota/service.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  modules/check_in/spec/services/v2/lorota/service_spec.rb
Labels: console-services-review

#11429 Appeals docs regeneration
  modules/appeals_api/app/swagger/appeals_api/v2/swagger_dev.json
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review

#11414 50747 remove feature flag for synthetic metric name
  config/features.yml
  modules/check_in/config/initializers/statsd.rb
Labels: console-services-review

#11436 fix SiS Inherited Proofing
  app/controllers/inherited_proofing_controller.rb
Labels: identity, identity-backend, console-services-review

#11454 fix(workflow): Disable cache in docker build
  .github/workflows/code_checks.yml
Labels: console-services-review
