Repository department-of-veterans-affairs/vets-api, pull requests merged in 2023-02, with the labels that each got.

#11687 Fix issue with rate limiting and expired applications
  lib/sidekiq/form526_backup_submission_process/processor.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
Labels: console-services-review

#11677 Add JWT Generator for Lighthouse CCG
  config/settings.yml
  lib/lighthouse/auth/client_credentials/jwt_generator.rb
  spec/lib/lighthouse/auth/client_credentials/jwt_generator_spec.rb
  spec/support/certificates/lhdd-fake-private.pem
  spec/support/certificates/lhdd-fake-public.pem
Labels: console-services-review

#11605 API 22838 Claim status response formatting
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#11642 Disabled dogstatsd
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

#11640 Add blank participant_id check
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: Lighthouse, claimsApi

#11694 Revert "Disabled dogstatsd"
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

#11695 Disabled dogstatsd
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

#11672 [39033] Add individual compromise amounts to fsr
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#11685 [52756] Disable FSR worker retries
  app/workers/form5655/vba_submission_job.rb
  app/workers/form5655/vha_submission_job.rb
Labels: console-services-review

#11698 Rcassity chmod clam
  Dockerfile
Labels: console-services-review

#11699 Rcassity chmod clam
  Dockerfile
Labels: console-services-review

#11700 Rcassity chmod clam
  Dockerfile
Labels: console-services-review

#11614 Update flipper email
  config/settings.yml
Labels: console-services-review

#11658 Capture Appointment Type of Care, Provider's Info in Loki
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: VAOS

#11697 Add toggle for proof of concept in VAOS
  config/features.yml
Labels: console-services-review

#11701 4439 filter docs
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/docs/params/filter.yml
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

#11673 [#MHV-39022] Added API for moving SM threads
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/threads_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/spec/request/v1/threads_request_spec.rb
Labels: console-services-review

#11707 Fixing broken BGS connection due to change in external_key definition
  app/services/bgs/base_service.rb
  lib/bgs/service.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/lib/bgs/service_spec.rb
  spec/models/bank_name_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/bgs/base_service_spec.rb
Labels: console-services-review

#11663 4619 sis workers
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/app/workers/mobile/v0/vet360_linking_job.rb
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
  modules/mobile/spec/workers/pre_cache_claims_and_appeals_job_spec.rb
  modules/mobile/spec/workers/vet360_linking_spec.rb
Labels: mobile

#11709 Created clamAV parent helm charts
  chart/Chart.yaml
  chart/templates/clamav-deployment.yaml
  chart/templates/server-service.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.9.0.tgz
Labels: console-services-review

#11708 SM to VA.gov: updating attachment size requirements to match MHV SM API
  app/models/message.rb
  spec/models/message_spec.rb
Labels: console-services-review

#11714 Setting to not retry and not go to dead queue
  lib/evss/disability_compensation_form/service.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
Labels: console-services-review

#11723 Adding non-breakered EVSS services
  lib/evss/disability_compensation_form/non_breakered_service.rb
  lib/evss/non_breakered_configuration.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11706 VaNotify - Update params for confirmation email to 5490
  app/models/saved_claim/education_benefits.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

#11705 Api 23202 no evidence scs
  modules/appeals_api/spec/fixtures/v2/invalid_200995_evidence.json
  modules/appeals_api/spec/fixtures/v2/invalid_200995_missing_retrieve_from.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_extra.json
  modules/appeals_api/spec/fixtures/v2/valid_200995_no_evidence.json
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals, banana-peels

#11704 API-21503: Remove VBADocuments Checksum Comparison Feature
  config/features.yml
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_integrity_checker.rb
  modules/vba_documents/spec/lib/upload_integrity_checker_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: Lighthouse, console-services-review, banana-peels

#11612 Reject missing icn on HLR\SC index
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals, banana-peels

#11693 Fix save-state deprecation warnings
  .github/workflows/code_checks.yml
  .github/workflows/preview_environment_deployment.yml
  .github/workflows/sync_branch.yml
Labels: console-services-review

#11688 Api 22980 claim id validate icn
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
Labels: Lighthouse, claimsApi

#11739 Fix flaky claims request spec
  dump.rdb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: console-services-review

#11731 Adding 2 extra requirements to the backup submission
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
Labels: console-services-review

#11741 Clamav client k8s
  Gemfile
  Gemfile.lock
  lib/common/virus_scan.rb
Labels: console-services-review

#11736 add logging to 499 endpoints
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: claimsApi

#11727 Update scopes and key usage in appeals OAuth APIs
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/appeals_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v1/appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
  modules/appeals_api/spec/support/shared_examples_for_appeals_status.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
Labels: Lighthouse, console-services-review, banana-peels

#11732 [53062] Require LOA and EDIPI for COE Form
  app/policies/coe_policy.rb
  app/services/users/profile.rb
  spec/policies/coe_policy_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: console-services-review

#11734 Mobile: Allow for no entry field in immunizations
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/lighthouse_health/get_immunizations_no_entry.yml
Labels: mobile

#11748 K8s push
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  lib/common/virus_scan.rb
Labels: console-services-review

#11678 Adding coe to list of pager duty maintenance services.
  config/settings.yml
Labels: console-services-review

#11751 remove clam_scan
  Gemfile
  Gemfile.lock
  app/uploaders/uploader_virus_scan.rb
  config/initializers/clamscan.rb
  lib/clamav/commands/patch_scan_command.rb
  lib/clamav/patch_client.rb
  lib/common/virus_scan.rb
Labels: console-services-review

#11746 API-21503: Remove VBADocuments Checksum Comparison Feature (Part 2)
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_file.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/lib/vba_documents/payload_manager.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: Lighthouse, banana-peels

#11752 VaNotify - 5490 confirmation updates
  app/models/saved_claim/education_benefits.rb
Labels: console-services-review

#11715 [51835] Log UserAcceptableVerifiedCredential counts for Datadog consumption
  .github/CODEOWNERS
  .gitignore
  app/models/user_account.rb
  app/models/user_session_form.rb
  app/models/user_verification.rb
  app/services/login/user_acceptable_verified_credential_updater.rb
  app/workers/identity/user_acceptable_verified_credential_counts_job.rb
  config/sidekiq_scheduler.yml
  dump.rdb
  spec/jobs/identity/user_acceptable_verified_credential_counts_job_spec.rb
Labels: console-services-review

#11743 Rake tasks for appeals CCG auth
  config/settings.yml
  rakelib/appeals_api_oauth.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#11747 API-21503: Store Additional VBADocuments File Checksums
  modules/vba_documents/app/serializers/vba_documents/upload_serializer.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/lib/upload_validator_spec.rb
  modules/vba_documents/spec/serializers/upload_serializer_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: Lighthouse, banana-peels

#11710 Api 23200 move a bgs service
  config/initializers/bgs.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/claims_api/bgs_service/base.rb
  modules/claims_api/lib/claims_api/bgs_service/bgs.rb
  modules/claims_api/lib/claims_api/bgs_service/errors.rb
  modules/claims_api/lib/claims_api/bgs_service/services.rb
  modules/claims_api/lib/claims_api/bgs_service/services/benefit_claims.rb
  modules/claims_api/lib/claims_api/bgs_service/services/intent_to_file.rb
  modules/claims_api/lib/claims_api/bgs_service/services/person.rb
  modules/claims_api/lib/claims_api/bgs_service/string_utils.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: Lighthouse, console-services-review, claimsApi

#11616 Distinguish between LGY documents using `documentType`
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  spec/requests/v0/lgy_coe_request_spec.rb
Labels: console-services-review

#11735 API-23726-remove-leading-space-contentions
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: Lighthouse, claimsApi

#11760 Mobile - Correct RX docs to reflect refill by array
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/RefillPayload.yml
Labels: mobile

#11726 4501 remove pagination links logic and references in docs
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/helpers/mobile/pagination_helper.rb
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/cc_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Appointments.yml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverview.yml
  modules/mobile/docs/schemas/PaymentHistory.yml
  modules/mobile/docs/schemas/SecureMessageList.yml
  modules/mobile/docs/schemas/SecureMessagingFolders.yml
  modules/mobile/docs/schemas/v1/Immunizations.yml
  modules/mobile/spec/helpers/mobile/pagination_helper_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/request/community_care_providers_request_spec.rb
  modules/mobile/spec/request/facility_eligibility_request_spec.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
  modules/mobile/spec/support/schemas/VAOS_v2_appointments.json
  modules/mobile/spec/support/schemas/appointments.json
  modules/mobile/spec/support/schemas/community_care_providers.json
  modules/mobile/spec/support/schemas/facility_eligibility.json
  modules/mobile/spec/support/schemas/payment_history.json
Labels: mobile

#11753 Fix more save-state deprecation warnings
  .github/workflows/code_checks.yml
Labels: console-services-review

#11679 Mobile: Remove v0 logic from appointments controller and tests
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/community_care_appointments.rb
  modules/mobile/app/models/mobile/v0/adapters/facility_info.rb
  modules/mobile/app/services/mobile/v0/appointments/configuration.rb
  modules/mobile/app/services/mobile/v0/appointments/proxy.rb
  modules/mobile/app/services/mobile/v0/appointments/service.rb
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/models/adapters/community_care_appointments_adapter_spec.rb
  modules/mobile/spec/request/appointments_cancel_request_spec.rb
  modules/mobile/spec/request/appointments_list_request_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/request/clinics_request_spec.rb
  modules/mobile/spec/request/facilities_info_request_spec.rb
  modules/mobile/spec/services/appointments_service_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_request.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_request_404.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_request_cancelled.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_requests.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointment_requests_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_200_with_error.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_at_home_no_location.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_large_range.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cancel_reasons.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cancel_reasons_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cancel_reasons_invalid.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointment_request.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_cache_false.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_default.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_empty.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_large_range.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_phone_only.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_cc_appointments_reason_for_visit.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facilities_address_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_facilities_phone_bug.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/get_mfs_facilities.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/legacy_get_facilities_for_facilities_info.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_409.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_request.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_request_409.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_appointment_request_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/put_cancel_cc_appointment_request.yml
  modules/mobile/spec/workers/pre_cache_appointments_job_spec.rb
Labels: mobile, console-services-review

#11771 Add distinct to uavc counts job query
  app/workers/identity/user_acceptable_verified_credential_counts_job.rb
  spec/jobs/identity/user_acceptable_verified_credential_counts_job_spec.rb
Labels: console-services-review

#11692 API 23450 Submit ITF type fix
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: Lighthouse, claimsApi

#11778 Chore: Enable sidekiq metrics for datadog
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

#11764 Remove Unused Feature Flags
  app/controllers/v0/preneeds/burial_forms_controller.rb
  app/models/saved_claim/pension.rb
  app/workers/structured_data/process_data_job.rb
  config/features.yml
Labels: console-services-review

#11779 Faraday checks
  modules/claims_api/app/controllers/claims_api/upstream_faraday_healthcheck_controller.rb
  modules/claims_api/config/routes.rb
Labels: Lighthouse, claimsApi

#11774 [53278] Update COE documentation post-launch.
  app/controllers/v0/coe_controller.rb
  app/models/saved_claim/coe_claim.rb
  app/swagger/swagger/requests/coe.rb
  lib/lgy/service.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#11763 Removed VAOS v0 Routes and Controller Request rspecs
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/apidocs_request_spec.rb
  modules/vaos/spec/request/appointment_requests_request_spec.rb
  modules/vaos/spec/request/appointments_request_spec.rb
  modules/vaos/spec/request/cc_eligibility_request_spec.rb
  modules/vaos/spec/request/cc_supported_sites_request_spec.rb
  modules/vaos/spec/request/direct_booking_eligiblity_criteria_request_spec.rb
  modules/vaos/spec/request/facilities_request_spec.rb
  modules/vaos/spec/request/messages_request_spec.rb
  modules/vaos/spec/request/preferences_request_spec.rb
  modules/vaos/spec/request/request_eligibility_criteria_request_spec.rb
  modules/vaos/spec/request/systems_request_spec.rb
  modules/vaos/spec/routing/vaos_routing_spec.rb
Labels: VAOS

#11757 Add Dockerfile for preview environment deploys
  Dockerfile-k8s
  import-va-certs.sh
Labels: console-services-review

#11781 Remove vets-api dev deploy for Testing >> Vets API >> master
  Jenkinsfile
Labels: console-services-review

#11792 enable sidekiq enterprise historical metrics
  config/initializers/sidekiq.rb
Labels: console-services-review

#11784 Set no longer used VAOS V0 controller and serializers to no code coverage
  modules/vaos/app/controllers/vaos/v0/apidocs_controller.rb
  modules/vaos/app/controllers/vaos/v0/appointment_requests_controller.rb
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/app/controllers/vaos/v0/available_appointments_controller.rb
  modules/vaos/app/controllers/vaos/v0/cancel_reasons_controller.rb
  modules/vaos/app/controllers/vaos/v0/cc_eligibility_controller.rb
  modules/vaos/app/controllers/vaos/v0/cc_supported_sites_controller.rb
  modules/vaos/app/controllers/vaos/v0/clinic_institutions_controller.rb
  modules/vaos/app/controllers/vaos/v0/clinics_controller.rb
  modules/vaos/app/controllers/vaos/v0/direct_booking_eligibility_criteria_controller.rb
  modules/vaos/app/controllers/vaos/v0/direct_scheduling_facilities_controller.rb
  modules/vaos/app/controllers/vaos/v0/facilities_controller.rb
  modules/vaos/app/controllers/vaos/v0/limits_controller.rb
  modules/vaos/app/controllers/vaos/v0/messages_controller.rb
  modules/vaos/app/controllers/vaos/v0/pact_controller.rb
  modules/vaos/app/controllers/vaos/v0/preferences_controller.rb
  modules/vaos/app/controllers/vaos/v0/request_eligibility_criteria_controller.rb
  modules/vaos/app/controllers/vaos/v0/systems_controller.rb
  modules/vaos/app/controllers/vaos/v0/visits_controller.rb
  modules/vaos/app/serializers/vaos/v0/appointment_requests_serializer.rb
  modules/vaos/app/serializers/vaos/v0/availability_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cancel_reason_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_appointments_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_eligibility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_supported_sites_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_institution_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_booking_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_scheduling_facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_visit_serializer.rb
  modules/vaos/app/serializers/vaos/v0/limit_serializer.rb
  modules/vaos/app/serializers/vaos/v0/preferences_serializer.rb
  modules/vaos/app/serializers/vaos/v0/request_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_pact_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_serializer.rb
  modules/vaos/app/serializers/vaos/v0/va_appointments_serializer.rb
Labels: VAOS

#11794 Fix: k8s branch
  config/initializers/sidekiq.rb
Labels: console-services-review

#11765 Mobile: Add documentation for 207 and 502 responses
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverviewAppealsError.yml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverviewClaimsError.yml
  modules/mobile/docs/schemas/ClaimsAndAppealsOverviewDoubleFailure.yml
Labels: mobile

#11795 Chore: Promote sidekiq metrics to higher environment
  config/initializers/sidekiq.rb
Labels: console-services-review

#11786 Update to Notice of Disagreement PDF v3
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v3/structure.rb
  modules/appeals_api/config/pdfs/10182_v3.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/v3/expected_10182_minimal.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/structure_spec.rb
Labels: Lighthouse, banana-peels

#11798 clean-up -- remove config/datadog.yaml
  config/datadog.yaml
Labels: console-services-review

#11799 Chore: Comment out retain_history
  config/initializers/sidekiq.rb
Labels: console-services-review

#11797 Mobile: Remove Appointment Request Messages endpoint
  modules/mobile/app/controllers/mobile/v0/appointment_request_messages_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/MobileAPI Integration Test Collection.postman_collection.json
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentRequestMessage.yml
  modules/mobile/docs/schemas/AppointmentRequestMessages.yml
  modules/mobile/spec/request/appointment_request_messages_spec.rb
  modules/mobile/spec/support/schemas/appointment_request_messages.json
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages.yml
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages_500.yml
  modules/mobile/spec/support/vcr_cassettes/appointment_request_messages/get_messages_unparsable.yml
Labels: mobile

#11801 Chore: Sidekiq metrics for staging only
  config/initializers/sidekiq.rb
Labels: console-services-review

#11802 Chore/sidekiq/metrics
  config/initializers/sidekiq.rb
Labels: console-services-review

#11788 API-23874 Add metadata to appeals tables
  db/migrate/20230214001703_add_metadata_to_appeals_tables.rb
  db/schema.rb
Labels: Lighthouse, console-services-review, banana-peels

#11807 Chore: Enable sidekiq metrics for higher env
  config/initializers/sidekiq.rb
Labels: console-services-review

#11810 Chore: Enable sidekiq metrics prod only
  config/initializers/sidekiq.rb
Labels: console-services-review

#11812 Remove spring
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/rspec
  bin/spring
  config/settings/development.yml
  docs/setup/betamocks.md
  spec/spec_helper.rb
Labels: console-services-review

#11813 MHV-41222: Move thread api unit test working
  modules/my_health/spec/request/v1/threads_request_spec.rb
  spec/support/vcr_cassettes/sm_client/threads/moves_a_thread_with_id.yml
Labels: console-services-review

#11817 API-23727-homeless-sit-type
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
Labels: Lighthouse, claimsApi

#11818 API-24056-add-established-to-docs
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  spec/support/schemas/claims_api/forms/disability/attachments.json
Labels: Lighthouse, console-services-review, claimsApi

#11820 Fixes typo
  modules/claims_api/app/controllers/claims_api/upstream_faraday_healthcheck_controller.rb
Labels: claimsApi

#11772 Api 23988 treatment ctr name
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#11821 Mobile: Appointment logging
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
Labels: mobile

#11809 Mobile: Make user direct deposit check error capture more generic
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/support/vcr_cassettes/payment_information/service_error_500.yml
  modules/mobile/spec/support/vcr_cassettes/payment_information/service_error_502.yml
Labels: mobile

#11828 Revert "Add sidekiq mapper settings to datadog.rb"
  config/initializers/datadog.rb
  config/initializers/sidekiq.rb
Labels: console-services-review

#11827 Remove RRD-to-MAS feature toggles
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

#11805 Lighthouse CCG Service
  lib/lighthouse/auth/client_credentials/configuration.rb
  lib/lighthouse/auth/client_credentials/service.rb
  spec/lib/lighthouse/auth/client_credentials/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/invalid_assertion_401.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/invalid_client_id_400.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/invalid_scopes_400.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/token_200.yml
Labels: console-services-review

#11785 53166 return 404 when CHIP returns 404 for refresh-precheckin
  modules/check_in/config/locales/exceptions.en.yml
  modules/check_in/spec/request/v2/patient_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/pre_check_ins_request_spec.rb
  modules/check_in/spec/request/v2/sessions_request_spec.rb
  spec/support/vcr_cassettes/check_in/chip/check_in/check_in_404.yml
  spec/support/vcr_cassettes/check_in/chip/pre_check_in/pre_check_in_404.yml
  spec/support/vcr_cassettes/check_in/chip/refresh_pre_check_in/refresh_pre_check_in_404.yml
  spec/support/vcr_cassettes/check_in/chip/set_precheckin_started/set_precheckin_started_404.yml
Labels: console-services-review

#11775 [Letters] Add ability to mock EVSS letter generator PDF downloads
  config/betamocks/services_config.yml
  lib/evss/letters/download_configuration.rb
Labels: console-services-review

#11834 Mobile: Appointment logging
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
Labels: mobile

#11830 Add lighthouse Pundit policy
  app/policies/lighthouse_policy.rb
  app/services/users/services.rb
  lib/.DS_Store
  lib/backend_services.rb
  spec/policies/coe_policy_spec.rb
  spec/policies/lighthouse_policy_spec.rb
  spec/requests/user_request_spec.rb
  spec/services/users/services_spec.rb
Labels: console-services-review

#11410 Add unit tests to DDL feature
  lib/claim_letters/claim_letter_downloader.rb
  spec/controllers/v0/claim_letters_controller_spec.rb
  spec/fixtures/claim_letter/claim_letter_list.json
  spec/lib/claim_letters/claim_letter_downloader_spec.rb
Labels: Stale, console-services-review

#11796 API-23078: Add Support for `X-VA-ICN` Header to Contestable Issues Endpoints
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/contestable_issues/v0/contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/config/schemas/v2/contestable_issues_headers.json
  modules/appeals_api/config/schemas/v2/contestable_issues_headers_with_shared_refs.json
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: Lighthouse, console-services-review, banana-peels

#11811 API-24296: Add Support for `X-VA-ICN` Header to Legacy Appeals Endpoints
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/config/schemas/v2/legacy_appeals_headers.json
  modules/appeals_api/config/schemas/v2/legacy_appeals_headers_with_shared_refs.json
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
Labels: Lighthouse, console-services-review, banana-peels

#11835 Bumping json schema
  Gemfile.lock
  app/swagger/swagger/v1/schemas/appeals/supplemental_claims.rb
Labels: console-services-review

#11842 Flipper feature to enable faraday connection to bgs
  config/features.yml
Labels: console-services-review, claimsApi

#11845 Enable dogstatds for all env
  config/initializers/sidekiq.rb
  config/settings.yml
Labels: console-services-review

#11846 Remove vets-api staging worker jennkins build
  Jenkinsfile
Labels: console-services-review

#11844 Upgrade clamav to 1.0.1 using sid repo
  Dockerfile
Labels: console-services-review

#11791 Clean up 1010 Health Apps team features
  config/features.yml
Labels: console-services-review

#11806 Added mbs_preneed_change_va_4010007 feature flag to backend
  config/features.yml
Labels: console-services-review

#11856 Implemented sidekiq hpa
  chart/Chart.yaml
  chart/templates/hpa-external-metric.yaml
  chart/templates/hpa.yml
  chart/values.yaml
  docs/vets-api-0.10.0.tgz
Labels: console-services-review

#11833 (feature) added new feature toggle
  config/features.yml
Labels: console-services-review

#11855 Fix clam specs and update scanning dir
  .rubocop.yml
  app/uploaders/uploader_virus_scan.rb
  lib/shrine/plugins/validate_virus_free.rb
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
  spec/models/persistent_attachments/dependency_claim_spec.rb
  spec/models/persistent_attachments/lgy_claim_spec.rb
  spec/models/persistent_attachments/pension_burial_spec.rb
  spec/requests/claim_documents_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
  spec/support/uploader_helpers.rb
  spec/uploaders/uploader_virus_scan_spec.rb
Labels: console-services-review

#11860 bump brakeman to 5.4.1
  Gemfile.lock
Labels: console-services-review

#11773 VA-11863: Remove shift_vets_banner flipper
  config/features.yml
Labels: console-services-review

#11769 [VA-11862] Remove mega menu mobile V2 flipper
  config/features.yml
Labels: console-services-review

#11859 Remove VAOS feature toggle
  config/features.yml
Labels: console-services-review

#11851 Api 24395 move first bgs endpoint
  config/initializers/bgs.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/bgs_service/base.rb
  modules/claims_api/lib/claims_api/bgs_service/bgs.rb
  modules/claims_api/lib/claims_api/bgs_service/errors.rb
  modules/claims_api/lib/claims_api/bgs_service/services.rb
  modules/claims_api/lib/claims_api/bgs_service/services/benefit_claims.rb
  modules/claims_api/lib/claims_api/bgs_service/services/intent_to_file.rb
  modules/claims_api/lib/claims_api/bgs_service/services/person.rb
  modules/claims_api/lib/claims_api/bgs_service/string_utils.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
Labels: Lighthouse, console-services-review, claimsApi

#11629 Mhv 39021 thread details api new
  app/models/message_thread_details.rb
  lib/sm/client.rb
  lib/sm/middleware/response/sm_parser.rb
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/app/serializers/my_health/v1/message_details_serializer.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageListInThread.yml
  modules/my_health/docs/schemas/SecureMessageSummaryInThread.yml
  modules/my_health/spec/request/v1/messages_request_spec.rb
Labels: console-services-review

#11854 Increment StatsD when a uavc is added
  app/services/login/user_acceptable_verified_credential_updater.rb
  app/services/login/user_acceptable_verified_credential_updater_logger.rb
  spec/services/login/user_acceptable_verified_credential_updater_logger_spec.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
Labels: console-services-review

#11852 [53905] Creating engine framework for mocked_authentication
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/mocked_authentication/Gemfile
  modules/mocked_authentication/README.md
  modules/mocked_authentication/Rakefile
  modules/mocked_authentication/app/controllers/mocked_authentication/application_controller.rb
  modules/mocked_authentication/app/helpers/mocked_authentication/application_helper.rb
  modules/mocked_authentication/app/helpers/mocked_authentication/routing.rb
  modules/mocked_authentication/app/helpers/mocked_authentication/url_helper.rb
  modules/mocked_authentication/bin/rails
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/mocked_authentication.rb
  modules/mocked_authentication/lib/mocked_authentication/engine.rb
  modules/mocked_authentication/lib/mocked_authentication/version.rb
  modules/mocked_authentication/mocked_authentication.gemspec
  modules/mocked_authentication/spec/mocked_authentication_spec.rb
Labels: console-services-review

#11865 skip pundit authorization error from sentry
  app/controllers/concerns/exception_handling.rb
  spec/controllers/application_controller_spec.rb
Labels: console-services-review

#11847 Profile/aw/53630 add profile info card toggle
  config/features.yml
Labels: console-services-review

#11872 Use GitHub Actions Cloud Runners
  .github/workflows/code_checks.yml
  Gemfile.lock
Labels: console-services-review

#11840 Api 24399 update http error response
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: Lighthouse, claimsApi

#11868 API-23078: Enable Contestable Issues ICN Header Support
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/base_contestable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/contestable_issues_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
Labels: Lighthouse, console-services-review, banana-peels

#11884 Fix load order for CI (GHA)
  .github/workflows/code_checks.yml
Labels: console-services-review

#11870 RuboCop: Auto correct Lint/LastKeywordArgument (#11546)
  app/controllers/v0/folders_controller.rb
  app/controllers/v0/messages_controller.rb
  app/controllers/v0/prescriptions_controller.rb
  app/controllers/v0/trackings_controller.rb
  app/models/form1095_b.rb
  app/services/form_durations/worker.rb
  app/services/mhv_account_type_service.rb
  lib/bb/client.rb
  lib/bgs/service.rb
  lib/common/exceptions/base_error.rb
  lib/common/models/collection.rb
  lib/emis/service.rb
  lib/lighthouse/veterans_health/client.rb
  lib/preneeds/service.rb
  lib/rx/client.rb
  lib/sm/client.rb
  spec/jobs/webhooks/callback_url_job_spec.rb
  spec/lib/central_mail/datestamp_pdf_spec.rb
  spec/lib/common/models/collection_spec.rb
  spec/models/webhooks/utilities_spec.rb
  spec/services/form1010cg/auditor_spec.rb
Labels: console-services-review

#11836 MyVA - remove myva_cerner_from_drupal feature toggle
  config/features.yml
Labels: console-services-review

#11843 API-24296: Enable Legacy Appeals ICN Header Support
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/legacy_appeals_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
Labels: Lighthouse, console-services-review, banana-peels

#11886 bump bgs_ext gem
  Gemfile.lock
Labels: console-services-review

#11885 GHA: Resolve some deprecation warnings
  .github/workflows/code_checks.yml
Labels: console-services-review

#11874 4700: handle nil filters
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

#11887 Remove BigQuery from TUD
  .github/workflows/code_checks.yml
  Gemfile
  Gemfile.lock
  app/workers/test_user_dashboard/mirror_account_availability_logs_in_big_query.rb
  app/workers/test_user_dashboard/mirror_accounts_in_big_query.rb
  app/workers/test_user_dashboard/track_account_statuses_in_big_query.rb
  config/initializers/test_user_dashboard.rb
  config/sidekiq_scheduler.yml
  modules/test_user_dashboard/app/services/test_user_dashboard/big_query.rb
  modules/test_user_dashboard/spec/services/big_query_spec.rb
  modules/test_user_dashboard/test_user_dashboard.gemspec
  rakelib/test_stats_to_bigquery.rb
  spec/jobs/test_user_dashboard/mirror_account_availability_logs_in_big_query_spec.rb
  spec/jobs/test_user_dashboard/mirror_accounts_in_big_query_spec.rb
  spec/jobs/test_user_dashboard/track_account_statuses_in_big_query_spec.rb
  spec/rakelib/test_stats_to_bigquery_spec.rb
Labels: console-services-review

#11883 update appointment date range
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/spec/helpers/mobile/appointments_cache_interface_spec.rb
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_all_appointment_200_ruben.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointment_200_bad_facility_id.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_no_requests_200.yml
  modules/mobile/spec/support/vcr_cassettes/appointments/VAOS_v2/get_appointments_with_mixed_provider_types.yml
Labels: mobile

#11891 RuboCop: Fix warning for Capybara namespace
  .rubocop_explicit_enables.yml
Labels: console-services-review

#11888 GHA: Use native RuboCop annotation format
  .github/workflows/code_checks.yml
  config/brakeman.ignore
Labels: console-services-review

#11889 Created new flags for MEB landing page redirect and benefits selectio…
  config/features.yml
Labels: console-services-review

#11831 MHV-41829: Adjustments made to thread api
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/v1/threads_controller.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageThread.yml
  modules/my_health/spec/request/v1/threads_request_spec.rb
  spec/support/schemas/message_threads.json
  spec/support/schemas_camelized/message_threads.json
  spec/support/vcr_cassettes/sm_client/threads/gets_threads_in_a_folder.yml
  spec/support/vcr_cassettes/sm_client/threads/gets_threads_in_a_folder_camel.yml
Labels: console-services-review

#11876 VaNotify - Remove unneeded feature flags
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  app/workers/central_mail/submit_career_counseling_job.rb
  config/features.yml
Labels: console-services-review

#11875 [11861] Creating schema for client_config table for Sign in Service authentication
  db/migrate/20230222214919_create_client_config.rb
  db/schema.rb
Labels: console-services-review

#11780 Update UserAcceptableVerifiedCredentialCountsJob to use StatsD
  app/models/user_acceptable_verified_credential.rb
  app/services/login/user_acceptable_verified_credential_updater_logger.rb
  app/workers/identity/user_acceptable_verified_credential_counts_job.rb
  app/workers/identity/user_acceptable_verified_credential_totals_job.rb
  config/initializers/statsd.rb
  config/sidekiq_scheduler.yml
  spec/factories/user_acceptable_verified_credentials.rb
  spec/jobs/identity/user_acceptable_verified_credential_counts_job_spec.rb
  spec/jobs/identity/user_acceptable_verified_credential_totals_job_spec.rb
Labels: console-services-review

#11869 VAOS Appointment Service Category Logging
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_and_log_service_category.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
Labels: VAOS, console-services-review

#11849 4824 update gender identity values
  lib/va_profile/models/gender_identity.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
  spec/lib/va_profile/models/gender_identity_spec.rb
Labels: mobile, console-services-review

#11906 Clamav file name in error message
  app/uploaders/uploader_virus_scan.rb
  lib/shrine/plugins/validate_virus_free.rb
  spec/lib/shrine/plugins/validate_virus_free_spec.rb
Labels: console-services-review

#11871 Api 24421 remove participant claimant
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: Lighthouse, claimsApi

#11893 API-24372-fix-curl-for-oas
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: Lighthouse, claimsApi

#11894 API-21586-v2-oas-updates
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: Lighthouse, claimsApi

#11907 Update log metrics uploader for Ruby 3.0
  app/uploaders/log_metrics.rb
Labels: console-services-review

#11879 53789 feature toggle for organic login adoption
  config/features.yml
  config/settings.yml
Labels: console-services-review

#11646 [35053] UserIdentity vs MPI ID Validations
  app/controllers/v1/sessions_controller.rb
  app/models/user.rb
  app/services/login/after_login_actions.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/services/login/after_login_actions_spec.rb
Labels: identity, VAOS, identity-backend, console-services-review

#11915 Ruby 3 KwArgs: Form526 Convert to PDF
  lib/form526_backup_submission/utilities/convert_to_pdf.rb
Labels: console-services-review

#11900 VaNotify - Add confirmation email to 1990
  app/models/saved_claim/education_benefits.rb
  config/features.yml
  config/settings.yml
  spec/factories/va1990.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

#11911 GHA: Set 20 minute timeout for Test job
  .github/workflows/code_checks.yml
Labels: console-services-review

#11917 Ruby 3 KwArgs: HCA::Service spec
  lib/hca/validations.rb
Labels: console-services-review

#11916 Ruby 3 KwArgs: SignInController spec
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#11921 add file_number toggle
  config/features.yml
Labels: console-services-review, claimsApi

#11910 API-24495-add-email-recip
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: Lighthouse, console-services-review, claimsApi

#11908 API-23273-handling-can-claims
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/lib/claims_api/bgs_claim_status_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#11901 11861 Sign in Service Client Config Implementation
  app/controllers/v0/sign_in_controller.rb
  app/models/iam_user_identity.rb
  app/models/sign_in/access_token.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/o_auth_session.rb
  app/models/sign_in/state_payload.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/constants/access_token.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/refresh_token.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/token_serializer.rb
  config/initializers/statsd.rb
  db/seeds.rb
  db/seeds/development.rb
  db/seeds/production.rb
  db/seeds/test.rb
  lib/saml/url_service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/access_tokens.rb
  spec/factories/sign_in/client_configs.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/session_containers.rb
  spec/factories/sign_in/state_payloads.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/access_token_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/models/sign_in/session_container_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
  spec/services/sign_in/token_serializer_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
  spec/services/users/profile_spec.rb
Labels: console-services-review
