Repository department-of-veterans-affairs/vets-api, pull requests merged in 2023-09, with the labels that each got.

#13717 63596 - Add burial_form_enabled and pension_form_enabled flipper feat…
  config/features.yml
Labels: console-services-review

#13691 Add apnea supplies eligibility
  lib/mdot/eligibility.rb
  lib/mdot/supply.rb
  spec/models/form_profile_spec.rb
  spec/support/vcr_cassettes/mdot/get_supplies_200.yml
Labels: console-services-review

#13672 API-29442-systemName-update
  modules/claims_api/lib/claims_api/cid_mapper.rb
  modules/claims_api/spec/lib/claims_api/cid_mapper_spec.rb
Labels: Lighthouse, claimsApi

#13712 VAOS Add Endpoint to Retrieve Last Visited Clinic
  modules/vaos/app/controllers/vaos/v2/clinics_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/controllers/v2/clinics_controller_spec.rb
  modules/vaos/spec/request/v2/clinics_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/systems/get_last_visited_clinic_200.yml
Labels: VAOS, console-services-review

#13722 modify logic to not overwrite errored
  modules/claims_api/app/workers/claims_api/ews_updater.rb
Labels: claimsApi

#13729 Add exceptions to codeowners danger check
  Dangerfile
Labels: console-services-review

#13715 Adds Terms of Use to Flipper & FE Apps
  config/features.yml
  lib/statsd_middleware.rb
Labels: console-services-review

#13707 Terms of Use Agreement Routes
  app/controllers/v0/terms_of_use_agreements_controller.rb
  app/models/terms_of_use_agreement.rb
  app/swagger/swagger/requests/terms_of_use_agreements.rb
  config/routes.rb
  config/settings.yml
  spec/controllers/v0/terms_of_use_agreements_controller_spec.rb
Labels: console-services-review

#13733 Add default GH teams to codeowners
  .github/CODEOWNERS
Labels: console-services-review

#13709 64073 chip readme doc
  lib/chip/README.md
Labels: console-services-review

#13731 64462 form5655submission improvements
  app/models/form5655_submission.rb
  lib/debt_management_center/financial_status_report_service.rb
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
  spec/models/form5655_submission_spec.rb
Labels: console-services-review

#13714 Removing backend review group for Identity team files to force requirement of Identity team approval for these files
  .github/CODEOWNERS
Labels: console-services-review

#13740 64665 debts api module changes
  app/models/form5655_submission.rb
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
Labels: console-services-review

#13710 60596: Add feature toggle for the GA4 Events Migration
  config/features.yml
Labels: console-services-review

#13736 Check Max CFI feature flag with current actor to support percentage enablement
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  app/models/in_progress_form.rb
  spec/models/form526_submission_spec.rb
Labels: console-services-review

#13741 Update rating_info policy
  app/policies/lighthouse_policy.rb
Labels: console-services-review

#13721 [63523] adds user_attributes_ciphertext to OAuthSessions
  db/migrate/20230901195553_add_encrypted_user_attributes_to_oauth_sessions.rb
  db/schema.rb
Labels: console-services-review

#13726 Remove stale HCA feature flag
  config/features.yml
Labels: console-services-review

#13742 Api 28294 cleanup part 1
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#13720 API-29207-identification-info-526-v2
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#13745 MHV-48121 Support multi-page FHIR requests
  lib/medical_records/client.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_health_condition.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_allergies.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_chemhem_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_clinical_notes.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_diagreport_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_docref_labs.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_health_conditions_error.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_labs_and_tests.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vaccines.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vitals.yml
  spec/support/vcr_cassettes/mr_client/get_a_single_lab_or_test.yml
  spec/support/vcr_cassettes/mr_client/get_full_list_of_labs_and_tests.yml
  spec/support/vcr_cassettes/mr_client/get_multiple_fhir_pages.yml
Labels: console-services-review

#13743 6534 post login actions
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/controllers/mobile/v2/users_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v2/user_request_spec.rb
Labels: mobile

#13508 BE Benefits Documents Feature Flag
  config/features.yml
Labels: console-services-review

#13750 Update CODEOWNERS
  .github/CODEOWNERS
Labels: console-services-review

#13738 Update template ID names for VA Notify 22-0994 confirmation emails
  app/models/saved_claim/education_benefits/va_0994.rb
  config/settings.yml
  spec/models/saved_claim/education_benefits/va0994_spec.rb
Labels: console-services-review

#13747 MHV-48121 Added sorting for allergies
  lib/medical_records/client.rb
  spec/lib/medical_records/client_spec.rb
Labels: console-services-review

#13737 Dex 64918 update 674 submission logic
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  config/features.yml
  spec/jobs/bgs/submit_form674_job_spec.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

#13681 1084 - Adding feature toggle to facilitate PVA2 chatbot migration
  app/controllers/v0/virtual_agent_token_controller.rb
  config/features.yml
  config/settings.yml
Labels: console-services-review

#13713 [64464] Cache public_jwks responses
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/configuration.rb
  lib/sign_in/logingov/service.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
Labels: console-services-review

#13752 Adds flipper gate to newly formatted submission parameters
  config/features.yml
  modules/meb_api/lib/dgi/submission/service.rb
Labels: console-services-review

#13744 Add SSO logging to CnP direct deposit updates
  app/controllers/v0/profile/direct_deposits/disability_compensations_controller.rb
Labels: console-services-review

#13761 [64193] Integration with Sign Up Service API for terms and agreements functionality
  config/settings.yml
  lib/mobile_application_platform/security_token/service.rb
  lib/mobile_application_platform/sign_up/configuration.rb
  lib/mobile_application_platform/sign_up/service.rb
  spec/lib/mobile_application_platform/security_token/service_spec.rb
  spec/lib/mobile_application_platform/sign_up/service_spec.rb
  spec/support/vcr_cassettes/mobile_application_platform/sign_up_service_200_responses.yml
  spec/support/vcr_cassettes/mobile_application_platform/sign_up_service_authentication_failure_responses.yml
Labels: console-services-review

#13764 replace error
  modules/mobile/app/controllers/mobile/v0/triage_teams_controller.rb
Labels: mobile

#13765 MHV-48809 Added MHV MR feature flags
  config/features.yml
  modules/my_health/app/controllers/my_health/mr_controller.rb
Labels: console-services-review

#13754 API-526-v2-fix-ssn
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#13725 API-29497 526 v1 form526 validate service
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/rails_helper.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/support/stub_claims_api_auth_token.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/claims_api/v1/disability_comp/bd_token.yml
  spec/support/vcr_cassettes/claims_api/v1/disability_comp/invalid.yml
  spec/support/vcr_cassettes/claims_api/v1/disability_comp/validate.yml
Labels: Lighthouse, console-services-review, claimsApi

#13748 Api 27842 526 v2 allow yyyy in some date fields
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: Lighthouse, console-services-review, claimsApi

#13701 Api 27296 use lh doc upload
  config/features.yml
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/workers/claims_api/claim_uploader.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/workers/claim_uploader_spec.rb
Labels: Lighthouse, claimsApi

#13755 Api 28294 cleanup part 1a
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#13771 Fix old team name
  .github/CODEOWNERS
Labels: console-services-review

#13773 Removed defaut codeowners
  .github/CODEOWNERS
Labels: console-services-review

#13766 dbex/64446: Create feature toggle for Toxic Exposure
  config/features.yml
Labels: console-services-review

#13777 API-28106_claims_api_catalog_info_updates
  modules/claims_api/catalog-info.yaml
Labels: claimsApi

#13763 Update for Docker guidance
  docs/setup/betamocks.md
Labels: console-services-review

#13769 VAOS Optimize Vets API Caching to Avoid Repeated Calls Following Initial Errors
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: VAOS

#13759 Dbex/62139: add submit526 method to benefits_claims/service
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/submit526/200_response.yml
Labels: console-services-review

#13728 Vfep 630 - remove Stop option from Direct Deposit for 1995 spool file (and updated to latest json_schema)
  Gemfile.lock
  app/workers/education_form/templates/1995.erb
  app/workers/education_form/templates/bank_account_no_stop.erb
  spec/fixtures/education_benefits_claims/1995/ch33_fry.json
  spec/fixtures/education_benefits_claims/1995/ch33_post911.json
  spec/fixtures/education_benefits_claims/1995/kitchen_sink.json
Labels: console-services-review

#13620 Mobile: Add POST Appointment Check In Endpoint
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

#13780 Api 29708 fix v2 bd search
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: Lighthouse, claimsApi

#13708 API-29139-nil-error-ews-failed-submissions
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/workers/claims_api/ews_updater.rb
  modules/claims_api/lib/bgs_service/benefit_claim_service.rb
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
  modules/claims_api/spec/workers/ews_updater_spec.rb
  spec/support/vcr_cassettes/bgs/benefit_claim/find_bnft_claim_400.yml
  spec/support/vcr_cassettes/bgs/benefit_claim/update_5103_200.yml
Labels: console-services-review, claimsApi

#13784 [#MHV-47853] Add feature toggle for TXT downloads
  config/features.yml
Labels: console-services-review

#13762 [65000] Create job to send Terms of Use updates to SignUpService
  app/controllers/v0/terms_of_use_agreements_controller.rb
  app/services/terms_of_use/acceptor.rb
  app/services/terms_of_use/decliner.rb
  app/services/terms_of_use/logger.rb
  app/workers/terms_of_use/sign_up_service_updater_job.rb
  spec/controllers/v0/terms_of_use_agreements_controller_spec.rb
  spec/jobs/terms_of_use/sign_up_service_updater_job_spec.rb
  spec/services/terms_of_use/acceptor_spec.rb
  spec/services/terms_of_use/decliner_spec.rb
  spec/services/terms_of_use/logger_spec.rb
Labels: console-services-review

#13791 Removed va api engineers from identity owned files
  .github/CODEOWNERS
Labels: console-services-review

#13792 FIX: Fix codeowners GHA check logic
  .github/scripts/check_codeowners.sh
  .github/workflows/check_codeowners.yml
Labels: console-services-review

#13757 API-29604 - Block ACG users and fix tests
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: Lighthouse, claimsApi

#13783 [65364] Add expected 4XX responses from Sign up Service
  lib/mobile_application_platform/sign_up/configuration.rb
  lib/mobile_application_platform/sign_up/service.rb
  spec/lib/mobile_application_platform/sign_up/service_spec.rb
  spec/support/vcr_cassettes/mobile_application_platform/sign_up_service_406_responses.yml
  spec/support/vcr_cassettes/mobile_application_platform/sign_up_service_412_responses.yml
Labels: console-services-review

#13803 Make trailing slash optional for GHA check
  .github/scripts/check_codeowners.sh
Labels: console-services-review

#13805 Temp disable delete message
  .github/workflows/check_codeowners.yml
Labels: console-services-review

#13804 Cover ALL CODEOWNERS scenario
  .github/scripts/check_codeowners.sh
  .github/scripts/check_deleted_files.sh
  .github/workflows/check_codeowners.yml
Labels: console-services-review

#13735 API-28526 Move Appeals Status v1 header params to URL
  modules/appeals_api/app/controllers/appeals_api/appealable_issues/v0/appealable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/appeals_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/caseflow_request.rb
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/spec/docs/appeals_status/v1_spec.rb
  modules/appeals_api/spec/requests/v1/appeals_controller_spec.rb
Labels: Lighthouse, appeals, banana-peels

#13746 API-25989 Update and publish appeals download endpoint docs
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_pdf_downloads.rb
Labels: Lighthouse, appeals, banana-peels

#13810 New codeowners file
  .github/CODEOWNERS
Labels: console-services-review

#13794 6698: contact info fixes
  modules/mobile/app/controllers/mobile/v0/contact_info_controller.rb
  modules/mobile/app/serializers/mobile/v0/contact_info_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/UserContactInfo.yml
  modules/mobile/docs/schemas/UserContactInfoAddress.yml
  modules/mobile/docs/schemas/UserContactInfoPhone.yml
  modules/mobile/spec/request/contact_info_request_spec.rb
Labels: mobile

#13812 Update GHA for deleted files
  .github/scripts/check_deleted_files.sh
  .github/workflows/check_codeowners.yml
Labels: console-services-review

#13813 Split CODEOWNERS GHA into separate jobs
  .github/workflows/check_codeowners.yml
Labels: console-services-review

#13814 6699: fix authorized services 500 errors
  modules/mobile/app/controllers/mobile/v0/authorized_services_controller.rb
Labels: mobile

#13790 [EVSS Claims] Creating a new DB record for claims that aren't found in the DB already
  app/controllers/v0/benefits_claims_controller.rb
  app/controllers/v0/evss_claims_async_controller.rb
  spec/requests/evss_claims_async_spec.rb
Labels: console-services-review

#13817 Add Lighthouse to a few more files
  .github/CODEOWNERS
Labels: console-services-review

#13711 API-29090 connected apps scope revocation
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/revoke_consent_204.yml
Labels: Lighthouse, console-services-review

#13818 Revert "API-29090 connected apps scope revocation"
  .github/CODEOWNERS
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#12882 Action Required: Configure CodeQL
  .github/emass.json
  .github/workflows/codeql-analysis.yml
Labels: console-services-review

#13825 TESTING: Update CODEOWNERS script for file deletion
  .github/scripts/check_deleted_files.sh
Labels: console-services-review

#13789 API-28608-update-headers-4-docker-container
  modules/claims_api/lib/evss_service/base.rb
Labels: claimsApi

#13819 API-28106_claims_api_catalog_info_updates_part_2
  modules/claims_api/catalog-info.yaml
Labels: claimsApi

#13826 API-29090 connected apps scope revoke change
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#13823 Sets error parameters on Datadog span for reportable exceptions
  app/controllers/concerns/exception_handling.rb
  spec/controllers/application_controller_spec.rb
Labels: console-services-review

#13828 Revert "API-29090 connected apps scope revoke change"
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
Labels: console-services-review

#13821 Add Flipper-feature for new 21-0845 form-app
  config/features.yml
Labels: console-services-review

#13806 Mobile: Prevent repeat facility fetch calls
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  spec/support/vcr_cassettes/mobile/appointments/VAOS_v2/get_appointments_bad_facility_200.yml
Labels: mobile, console-services-review

#13800 Suppresses expected RecordNotFound reporting in Sentry for ConnectedApplications controller
  app/controllers/v0/profile/connected_applications_controller.rb
Labels: console-services-review

#13787 61410 Add VBS cassette and use in existing specs
  .github/CODEOWNERS
  config/settings/test.yml
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  spec/jobs/form5655/vha/vbs_submission_job_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/lib/debt_management_center/vbs/request_spec.rb
  spec/services/medical_copays/request_spec.rb
  spec/services/medical_copays/vbs/service_spec.rb
  spec/support/vcr_cassettes/dmc/submit_to_vbs.yml
Labels: console-services-review

#13836 [65661] Adding operation param to sign in service so that idme can differentiate between authorize and signup
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/errors.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
Labels: console-services-review

#13837 New CODEOWNER file
  .github/CODEOWNERS
Labels: console-services-review

#13698 [63523] adds `user_attributes` to SiS access token
  app/models/sign_in/access_token.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/o_auth_session.rb
  app/models/sign_in/validated_credential.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/access_token.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/user_creator.rb
  spec/factories/sign_in/access_tokens.rb
  spec/factories/sign_in/client_configs.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/models/sign_in/access_token_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/models/sign_in/validated_credential_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: identity-backend, console-services-review

#13795 [65449] Adding body to Sign up Service agreements request
  .github/CODEOWNERS
  app/controllers/v0/terms_of_use_agreements_controller.rb
  app/services/terms_of_use/acceptor.rb
  app/services/terms_of_use/decliner.rb
  app/workers/terms_of_use/sign_up_service_updater_job.rb
  lib/mobile_application_platform/sign_up/configuration.rb
  lib/mobile_application_platform/sign_up/service.rb
  spec/jobs/terms_of_use/sign_up_service_updater_job_spec.rb
  spec/lib/mobile_application_platform/sign_up/service_spec.rb
  spec/services/terms_of_use/acceptor_spec.rb
  spec/services/terms_of_use/decliner_spec.rb
Labels: console-services-review

#13704 Simple Forms API: Increase Faraday timeout and add logging
  lib/simple_forms_api_submission/configuration.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  spec/lib/simple_forms_api_submission/configuration_spec.rb
Labels: console-services-review

#13724 64070 travel claims increase timeout
  config/features.yml
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
Labels: console-services-review

#13845 Updating lighthouse dash codeowners
  .github/CODEOWNERS
Labels: console-services-review

#13822 VANotify - Add confirmation email to 21-10210
  config/features.yml
  config/settings.yml
  modules/simple_forms_api/app/services/simple_forms_api/confirmation_email.rb
  modules/simple_forms_api/spec/requests/v1/uploads_spec.rb
Labels: console-services-review

#13864 Api 27883 526 v2 handle file number
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review, claimsApi

#13831 Adding createdAt timestamp to InProgressForm API metadata
  app/models/in_progress_form.rb
  spec/models/in_progress_form_spec.rb
  spec/requests/in_progress_forms_request_spec.rb
Labels: console-services-review

#13844 Add feature flag to control HCA performance alert
  config/features.yml
Labels: console-services-review

#13820 API-29229 Use `createDate` and `updateDate` in segmented appeals APIs
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/serializers/appeals_api/base_evidence_submission_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/higher_level_reviews/v0/higher_level_review_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreements/v0/evidence_submission_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/notice_of_disagreements/v0/notice_of_disagreement_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claims/v0/evidence_submission_serializer.rb
  modules/appeals_api/app/serializers/appeals_api/supplemental_claims/v0/supplemental_claim_serializer.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/serializers/base_evidence_submission_serializer_spec.rb
  modules/appeals_api/spec/serializers/higher_level_reviews/v0/higher_level_review_serializer_spec.rb
  modules/appeals_api/spec/serializers/notice_of_disagreement/v0/notice_of_disagreement_serializer_spec.rb
  modules/appeals_api/spec/serializers/supplemental_claims/v0/supplemental_claim_serializer_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, banana-peels

#13872 65397 record form5655 submission state
  app/models/form5655_submission.rb
  app/workers/form5655/vba_submission_job.rb
  app/workers/form5655/vha_submission_job.rb
  lib/debt_management_center/financial_status_report_service.rb
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vba_submission_job.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vha_submission_job.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  modules/debts_api/spec/workers/debt_api/v0/vba_submission_job_spec.rb
  modules/debts_api/spec/workers/debt_api/v0/vha_submission_job_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#13808 Vfep 607 - Remove VEAP as benefit choice, update type of education choice, latest json-schema for 1995 spool file
  Gemfile.lock
  app/workers/education_form/forms/va_1995.rb
  app/workers/education_form/templates/1995.erb
  spec/fixtures/education_benefits_claims/1995/ch33_fry.json
  spec/fixtures/education_benefits_claims/1995/ch33_fry.spl
  spec/fixtures/education_benefits_claims/1995/ch33_post911.json
  spec/fixtures/education_benefits_claims/1995/ch33_post911.spl
  spec/fixtures/education_benefits_claims/1995/kitchen_sink.json
  spec/fixtures/education_benefits_claims/1995/kitchen_sink.spl
Labels: console-services-review

#13852 Fixing OAuthSession bug when user_attribute_hash is nil
  app/models/sign_in/o_auth_session.rb
  spec/models/sign_in/o_auth_session_spec.rb
Labels: console-services-review

#13798 Add auth configuration for staging API
  .github/CODEOWNERS
  config/settings.yml
  modules/avs/app/services/avs/configuration.rb
Labels: console-services-review

#13829 API-29087 connected apps update apps from grants
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/connected_apps_200.yml
Labels: console-services-review

#13859 [65241] Adding proper error handling for MAP Sign Up Service
  .github/CODEOWNERS
  lib/mobile_application_platform/sign_up/service.rb
  spec/lib/mobile_application_platform/sign_up/service_spec.rb
  spec/support/vcr_cassettes/mobile_application_platform/sign_up_service_400_responses.yml
  spec/support/vcr_cassettes/mobile_application_platform/sign_up_service_401_responses.yml
Labels: console-services-review

#13881 Revert "API-29087 connected apps update apps from grants (#13829)"
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/connected_apps_200.yml
Labels: console-services-review

#13793 Api 28052 fix bd upload
  modules/claims_api/app/workers/claims_api/claim_uploader.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/workers/claim_uploader_spec.rb
Labels: Lighthouse, claimsApi

#13855 throttle /facilities_api/v1/va to 30/m which is consistent with the average for a 2m window in datadog
  config/initializers/rack_attack.rb
  spec/middleware/rack/attack_spec.rb
Labels: console-services-review

#13850 MHV-49254 Add logging to indicate problems creating MHV MR session
  .github/CODEOWNERS
  lib/common/client/concerns/mhv_jwt_session_client.rb
Labels: console-services-review

#13886 API-29087 Connected apps - Update apps from grants
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/connected_apps_200.yml
Labels: console-services-review

#13876 Vfep 772 - added OMB control number and updated signature for Active Duty for 1990 spool file
  app/workers/education_form/templates/1990.erb
  spec/fixtures/education_benefits_claims/1990/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_active_duty_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/1990/kitchen_sink_edu_prog.spl
  spec/fixtures/education_benefits_claims/1990/simple_ch33.spl
Labels: console-services-review

#13880 [65881] Gating Terms of Use behind specific USiP applications
  .github/CODEOWNERS
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: console-services-review

#13870 Disable BGS call unless loa3 user
  .github/CODEOWNERS
  app/controllers/v0/health_care_applications_controller.rb
  app/policies/hca_disability_rating_policy.rb
  spec/policies/hca_disability_rating_policy_spec.rb
  spec/requests/health_care_applications_request_spec.rb
Labels: VAOS, console-services-review

#13866 Api 29853 update bgs error message
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
Labels: claimsApi

#13877 Api 28050 526 v1 evss replace error handling
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/support/auth_helper.rb
Labels: claimsApi

#13888 API-29683-not-authorized-error-return
  modules/claims_api/app/controllers/concerns/claims_api/token_validation.rb
  modules/claims_api/app/models/claims_api/validated_token.rb
  modules/claims_api/spec/rails_helper.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/stub_jwt_decode.rb
Labels: claimsApi

#13854 API-28078 Refactor FormBuilder and update notifications
  modules/va_forms/app/workers/va_forms/form_builder.rb
  modules/va_forms/spec/workers/form_builder_spec.rb
Labels: Lighthouse, banana-peels

#13878 [65639] Configure retries for SignUpServiceUpdaterJob
  app/workers/terms_of_use/sign_up_service_updater_job.rb
  spec/jobs/terms_of_use/sign_up_service_updater_job_spec.rb
Labels: console-services-review

#13869 Mhv 44455 all triage team api
  .github/CODEOWNERS
  app/models/all_triage_teams.rb
  lib/sm/client.rb
  lib/sm/middleware/response/sm_parser.rb
  modules/my_health/app/controllers/my_health/v1/all_triage_teams_controller.rb
  modules/my_health/app/serializers/my_health/v1/all_triage_teams_serializer.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessagingAllRecipients.yml
  modules/my_health/spec/request/v1/all_triage_teams_request_spec.rb
  spec/support/schemas/all_triage_team.json
  spec/support/schemas/all_triage_teams.json
  spec/support/schemas_camelized/all_triage_team.json
  spec/support/schemas_camelized/all_triage_teams.json
  spec/support/vcr_cassettes/sm_client/triage_teams/gets_a_collection_of_all_triage_team_recipients.yml
Labels: console-services-review

#13901 API-29089 Remove sidekiq
  config/settings.yml
  modules/apps_api/app/workers/apps_api/fetch_connections.rb
  modules/apps_api/lib/apps_api/notification_service.rb
  modules/apps_api/spec/lib/notification_service_spec.rb
  modules/apps_api/spec/workers/fetch_connections_spec.rb
  spec/support/vcr_cassettes/okta/disconnection_logs.yml
  spec/support/vcr_cassettes/okta/user.yml
Labels: console-services-review

#13857 BE | Refactor dynamics service class
  .github/CODEOWNERS
  modules/ask_va_api/app/services/dynamics/service.rb
  modules/ask_va_api/app/services/dynamics_mock_service.rb
  modules/ask_va_api/config/locales/get_inquiries_mock_data.json
  modules/ask_va_api/config/locales/get_replies_mock_data.json
  modules/ask_va_api/spec/services/dynamics/service_spec.rb
  modules/ask_va_api/spec/services/dynamics_mock_service_spec.rb
  spec/support/vcr_cassettes/ask_va_api/dynamics/service/get_request.yml
  spec/support/vcr_cassettes/ask_va_api/dynamics/service/patch_request.yml
  spec/support/vcr_cassettes/ask_va_api/dynamics/service/post_request.yml
  spec/support/vcr_cassettes/ask_va_api/dynamics/service/put_request.yml
Labels: console-services-review

#13892 [65882] Adding authenticated terms of use agreements latest route
  .github/CODEOWNERS
  app/controllers/v0/terms_of_use_agreements_controller.rb
  config/routes.rb
  spec/controllers/v0/terms_of_use_agreements_controller_spec.rb
Labels: console-services-review
