Repository department-of-veterans-affairs/vets-api, pull requests merged in 2023-05, with the labels that each got.

#12518 Revert "API-24186 New max dimensions for Benefits Intake API"
  config/features.yml
  lib/central_mail/upload_error.rb
  lib/pdf_info.rb
  lib/pdf_utilities/pdf_validator.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/fixtures/10x102.pdf
  modules/vba_documents/spec/fixtures/79x10.pdf
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/fixtures/pdf_utilities/pdf_validator/10x102.pdf
  spec/fixtures/pdf_utilities/pdf_validator/79x10.pdf
  spec/lib/central_mail/upload_error_spec.rb
  spec/lib/pdf_info/metadata_spec.rb
Labels: console-services-review

#12519 Adding a random uuid if the passed in value is nil.
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#12516 5541 rx status tests
  spec/lib/rx/client_request_spec.rb
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_optimistic_locking_error.yml
Labels: console-services-review

#12521 [38358] Add logingov to backend_statuses
  config/settings.yml
Labels: console-services-review

#12523 Vfep 413 - remove feature flags 5490 spool file
  app/workers/education_form/templates/5490.erb
Labels: console-services-review

#12500 Api 26160 remove uploaded attribute
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: Lighthouse, console-services-review, claimsApi

#12512 [12511] Use betamocks cache dir instead of mock credential dir
  config/settings.yml
  modules/mocked_authentication/lib/mockdata/reader.rb
  modules/mocked_authentication/lib/mockdata/writer.rb
  modules/mocked_authentication/spec/lib/mockdata/reader_spec.rb
  modules/mocked_authentication/spec/lib/mockdata/writer_spec.rb
  modules/mocked_authentication/spec/requests/credential_request_spec.rb
Labels: console-services-review

#12528 56517 service type/category null value logging refactor
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: VAOS

#12525 VAOS Implement low-level Rails caching for Provider Name
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
Labels: VAOS

#12397 Removes American Indian indicator key from demographics payload along with related tests and test data
  config/features.yml
  lib/hca/enrollment_system.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/fixtures/hca/conformance/all-fields.json
  spec/fixtures/hca/conformance/all-fields.xml
  spec/fixtures/hca/conformance/australian-vet.json
  spec/fixtures/hca/conformance/australian-vet.xml
  spec/fixtures/hca/conformance/canadian-vet.json
  spec/fixtures/hca/conformance/canadian-vet.xml
  spec/fixtures/hca/conformance/child-financial.json
  spec/fixtures/hca/conformance/child-financial.xml
  spec/fixtures/hca/conformance/married-no-disclosure.json
  spec/fixtures/hca/conformance/married-no-disclosure.xml
  spec/fixtures/hca/conformance/missing-booleans.xml
  spec/fixtures/hca/conformance/no-children.json
  spec/fixtures/hca/conformance/no-children.xml
  spec/fixtures/hca/conformance/no-financials-children.json
  spec/fixtures/hca/conformance/no-financials-children.xml
  spec/fixtures/hca/conformance/no-financials-spouse.json
  spec/fixtures/hca/conformance/no-financials-spouse.xml
  spec/fixtures/hca/conformance/no-spouse.json
  spec/fixtures/hca/conformance/no-spouse.xml
  spec/fixtures/hca/conformance/only-vet-authenticated-icn.json
  spec/fixtures/hca/conformance/only-vet-authenticated-icn.xml
  spec/fixtures/hca/conformance/single-no-disclosure.json
  spec/fixtures/hca/conformance/single-no-disclosure.xml
  spec/fixtures/hca/conformance/spouse-financial.json
  spec/fixtures/hca/conformance/spouse-financial.xml
  spec/fixtures/hca/medicare_claim_num.json
  spec/fixtures/hca/result.json
  spec/fixtures/hca/result_with_attachment.json
  spec/fixtures/hca/short_form.json
  spec/fixtures/hca/sigi.json
  spec/fixtures/hca/veteran.json
  spec/lib/hca/enrollment_system_spec.rb
  spec/support/vcr_cassettes/hca/medicare_claim_num.yml
  spec/support/vcr_cassettes/hca/short_form.yml
  spec/support/vcr_cassettes/hca/sigi.yml
  spec/support/vcr_cassettes/hca/submit_anon.yml
  spec/support/vcr_cassettes/hca/submit_auth.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment_jpg.yml
Labels: console-services-review

#12531 Vfep 550 - email spool files on staging
  app/mailers/create_staging_spool_files_mailer.rb
  app/workers/education_form/create_daily_spool_files.rb
  config/settings.yml
Labels: console-services-review

#12537 API-24827-part-1 Cleanup
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/workers/poa_form_builder_job_spec.rb
Labels: Lighthouse, claimsApi

#12538 API-24827-part-2: Adds schema
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
Labels: Lighthouse, claimsApi

#12535 [department-of-veterans-affairs/va-virtual-agent#864] Defaults appeals status to unknown
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/recent_open_unknown_appeal_status.yml
Labels: console-services-review

#12524 Migrate the form526_rapid_ready_for_decision_concern to ApiProviderFactory
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form_profiles/va_526ez.rb
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/models/form526_submission_spec.rb
  spec/support/disability_compensation_form/shared_examples/rated_disabilities_provider.rb
Labels: console-services-review

#12539 API-24827-part-3: adds validators
  modules/claims_api/app/controllers/claims_api/v2/veterans/base.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#12501 55883 Travel Claim and Notifications Async
  config/betamocks/services_config.yml
  config/settings.yml
  config/settings/test.yml
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/workers/travel_claim_submission_worker_spec.rb
  spec/support/vcr_cassettes/check_in/vanotify/send_sms_201_created.yml
  spec/support/vcr_cassettes/check_in/vanotify/send_sms_403_forbidden.yml
Labels: console-services-review

#12541 Fixing flaky spec in inherited proofing spec
  spec/factories/users.rb
Labels: console-services-review

#12510 [department-of-veterans-affairs/va-virtual-agent#873] Raises error if…
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/lighthouse_mock_no_appeals_another_user.yml
  spec/support/vcr_cassettes/caseflow/virtual_agent_appeals/lighthouse_mock_not_found.yml
Labels: console-services-review

#12425 API-25718-bgs-error-handling
  modules/claims_api/app/controllers/claims_api/v1/forms/intent_to_file_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
Labels: Lighthouse, claimsApi

#12530 56995 Strip dashes from valid BGS file numbers and log invalid SSNs and file numbers.
  app/services/bgs/dependent_service.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

#12507 Resolve deprecations in GitHub Actions
  .github/workflows/check_stale_prs.yml
  .github/workflows/danger.yml
  .github/workflows/labeler.yml
  .github/workflows/preview-environment-cleanup.yml
  .github/workflows/preview-environment-update-main.yml
  .github/workflows/preview_environment_deployment.yml
  .github/workflows/sync_branch.yml
Labels: console-services-review

#12546 [56749] Combine FSR reasons for user facing PDF
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

#12540 [fix] Update VBS betamocks config with new structure
  config/betamocks/services_config.yml
Labels: console-services-review

#12515 54397 FSR service should always submit with submit_combined_fsr
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#12545 API-24186 - Un-revert VBADocuments max page limit, fix upload error detail
  config/features.yml
  lib/central_mail/upload_error.rb
  lib/pdf_info.rb
  lib/pdf_utilities/pdf_validator.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/fixtures/10x102.pdf
  modules/vba_documents/spec/fixtures/79x10.pdf
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/lib/upload_validator_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/fixtures/pdf_utilities/pdf_validator/10x102.pdf
  spec/fixtures/pdf_utilities/pdf_validator/79x10.pdf
  spec/lib/central_mail/upload_error_spec.rb
  spec/lib/pdf_info/metadata_spec.rb
Labels: console-services-review, benefits-intake, banana-peels

#12559 Remove deprecated segmented appeals API routes, rename Contestable Issues v0 routes to Appealable Issues v0
  modules/appeals_api/config/route_concerns.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/contestable_issues/v0/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/schemas/shared_schemas_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims/evidence_submission_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals, banana-peels

#12558 Vanotify - 1880 in progress reminder
  config/features.yml
  config/settings.yml
  config/sidekiq_scheduler.yml
  modules/va_notify/app/workers/va_notify/in_progress_1880_form.rb
  modules/va_notify/app/workers/va_notify/in_progress_1880_form_reminder.rb
  modules/va_notify/spec/workers/in_progress_1880_form_reminder_spec.rb
  modules/va_notify/spec/workers/in_progress_1880_form_spec.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
Labels: console-services-review

#12534 Update the vets_json_schema gem to reflect the removal of the American Indian question for the 1010EZ form
  Gemfile.lock
Labels: console-services-review

#12548 Api 26250 section 0 validation part 2
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#12492 MHV-39259 Adding MHV FHIR-ized API calls
  config/settings/test.yml
  lib/medical_records/client.rb
  lib/medical_records/configuration.rb
  modules/my_health/app/controllers/my_health/mr_controller.rb
  modules/my_health/app/controllers/my_health/v1/vaccines_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/vaccines_request_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/mr_client_helpers.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_vaccines.yml
  spec/support/vcr_cassettes/mr_client/get_a_vaccine.yml
Labels: console-services-review

#12566 10-10EZ - Bug: Discharge Character showing as "Other than Honorable"
  app/models/emis_redis/military_information.rb
  lib/hca/military_information.rb
  spec/lib/hca/military_information_spec.rb
  spec/models/emis_redis/military_information_spec.rb
  spec/models/form_profile_spec.rb
Labels: console-services-review

#12561 Bdex/57603: follow up - added more evss provider tests and local file requirement
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  spec/lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider_spec.rb
Labels: console-services-review

#12564 set csrf header before saml_callback
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

#12570 58015 handle updated BTSSS success response
  modules/check_in/app/workers/check_in/travel_claim_submission_worker.rb
  modules/check_in/spec/services/travel_claim/response_spec.rb
  modules/check_in/spec/services/travel_claim/service_spec.rb
  spec/support/vcr_cassettes/check_in/btsss/submit_claim/submit_claim_200.yml
Labels: console-services-review

#12574 58039 Modify test.yml with fake IDs
  config/settings/test.yml
Labels: console-services-review

#12585 Revert "set csrf header before saml_callback (#12564)"
  app/controllers/v1/sessions_controller.rb
Labels: console-services-review

#12551 Api 26350 526 v2 526 schema description updates
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
Labels: Lighthouse, claimsApi

#12401 Add BRD service (for countries)
  config/settings/test.yml
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/lib/brd/brd.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  spec/support/vcr_cassettes/brd/countries.yml
Labels: Lighthouse, NOT YET, console-services-review, claimsApi

#12517 Api 26010 intake sites
  config/settings/test.yml
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/lib/brd/brd.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  spec/support/vcr_cassettes/brd/intake_sites.yml
Labels: Lighthouse, console-services-review, claimsApi

#12596 Add more debugging for Feature Toggles 500 errors
  lib/common/models/redis_store.rb
Labels: console-services-review

#12601 VaNotify - Only send 1990 and 1990E confirmations to unauthenticated users
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_1990e.rb
  spec/models/saved_claim/education_benefits/va1990_spec.rb
  spec/models/saved_claim/education_benefits/va1990e_spec.rb
Labels: console-services-review

#12607 Mobile - remove Maintenance Window logging
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
Labels: mobile

#12605 Clamav separate file path
  Dockerfile
  app/uploaders/uploader_virus_scan.rb
  lib/clamav/commands/patch_scan_command.rb
  lib/common/file_helpers.rb
  lib/shrine/plugins/validate_virus_free.rb
  modules/claims_api/lib/claims_api/form_schemas.rb
Labels: console-services-review

#12609 Modify clamav_tmp ownership
  Dockerfile
Labels: console-services-review

#12522 Add BDEx1 engineers to Flipper allow list
  config/settings.yml
Labels: console-services-review

#12483 Update pdf_submit sidekiq worker to retry specific EMMS errors when s…
  lib/central_mail/upload_error.rb
  lib/central_mail/utilities.rb
  modules/appeals_api/app/workers/appeals_api/pdf_submit_job.rb
  modules/appeals_api/spec/workers/pdf_submit_job_spec.rb
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12598 Mobile: Remove statsd
  modules/mobile/config/initializers/statsd.rb
  modules/mobile/config/initializers/statsd_instrument_monkeypatch.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
  modules/mobile/spec/request/payment_history_request_spec.rb
Labels: mobile

#12569 [57955] Add success and error logging for Form 686c.
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  spec/jobs/vbms/submit_dependents_pdf_job_spec.rb
Labels: console-services-review

#12603 Api 24826 section 1 validation
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#12616 VACMS-13585 Add feature flipper for new income limits application
  config/features.yml
Labels: console-services-review

#12588 Implement Rails Cache for VAOS Facility and Clinic Calls
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/mobile_facility_service.rb
  modules/vaos/app/services/vaos/v2/mobile_ppms_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  modules/vaos/spec/services/v2/mobile_ppms_service_spec.rb
Labels: VAOS

#12615 VANotify - Fix settings key for template id
  config/settings.yml
  modules/va_notify/app/workers/va_notify/in_progress_1880_form_reminder.rb
  modules/va_notify/spec/workers/in_progress_1880_form_reminder_spec.rb
Labels: console-services-review

#12554 1010EZ update SOAP response for Race/Ethnicity/Origin question
  lib/hca/enrollment_system.rb
  spec/fixtures/hca/demographic_no.json
  spec/lib/hca/enrollment_system_spec.rb
  spec/lib/hca/service_spec.rb
  spec/support/vcr_cassettes/hca/demographic_no.yml
Labels: console-services-review

#12584 Update Benefits Intake docs with new page size limit
  modules/vba_documents/app/swagger/vba_documents/document_upload/status_code_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/pdf_dimension_attributes_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_error_details.md
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
  modules/vba_documents/lib/tasks/vba_documents_tasks.rake
  modules/vba_documents/postman_tests/Automated Benefits Intake API.postman_collection.json
Labels: Lighthouse, appeals, banana-peels

#12482 Removing hard coded logout values -- ticket 56883
  app/controllers/v0/sign_in_controller.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: console-services-review

#12621 add feature toggle for quick submit
  config/features.yml
Labels: console-services-review

#12624 Add logging around redis response and key
  lib/common/models/redis_store.rb
Labels: console-services-review

#12626 Vfep 569 - email staging spool files - add emails and update note
  app/mailers/create_staging_spool_files_mailer.rb
  config/settings.yml
Labels: console-services-review

#12629 Revert "add logging around redis response and key (#12624)"
  lib/common/models/redis_store.rb
Labels: console-services-review

#12630 Logging around the session response for 500 Internal Server Errors
  lib/common/models/redis_store.rb
Labels: console-services-review

#12591 Forms Api – submit to benefits intake
  config/settings.yml
  lib/forms_api_submission/configuration.rb
  lib/forms_api_submission/service.rb
  modules/forms_api/README.rdoc
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/models/forms_api/vba_21_4142.rb
  modules/forms_api/app/models/forms_api/vba_26_4555.rb
  modules/forms_api/app/models/forms_api/vha_10_10d.rb
  modules/forms_api/app/services/forms_api/pdf_filler.rb
  modules/forms_api/spec/requests/v1/uploads_spec.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/forms_api_submission/configuration_spec.rb
  spec/lib/forms_api_submission/service_spec.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/lib/sidekiq/form526_job_status_tracker/job_tracker_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_intake/200_lighthouse_intake_upload.yml
  spec/support/vcr_cassettes/lighthouse/benefits_intake/200_lighthouse_intake_upload_location.yml
Labels: console-services-review

#12618 API-26111 Rename Contestable Issues v0
  modules/appeals_api/app/controllers/appeals_api/appealable_issues/v0/appealable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/docs/appealable_issues/v0_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/requests/appealable_issues/v0/appealable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
  modules/appeals_api/spec/requests/v1/notice_of_disagreements/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/requests/v2/contestable_issues_controller_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/shared_examples_contestable_issues.rb
  rakelib/appeals_api_oauth.rake
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12631 Branch Protection Settings
  .github/settings.yml
Labels: console-services-review

#12637 Swapped variable assignments returned
  lib/lighthouse/service_exception.rb
Labels: console-services-review

#12363 Deep freeze 1010 schemas
  config/initializers/freeze_schemas.rb
  spec/models/health_care_application_spec.rb
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
Labels: console-services-review

#12656 add repository setting 'allow_squash_merge: true'
  .github/settings.yml
Labels: console-services-review

#12659 Delete github/settings.yml for now
  .github/settings.yml
Labels: console-services-review

#12600 API-26190-526-v2-sec-1-vet-identification-pdf-gen
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disabilitiy_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#12642 API-25891 Fixes for appeals API rswag docs
  modules/appeals_api/spec/docs/appealable_issues/v0_spec.rb
  modules/appeals_api/spec/docs/appeals_status/v1_spec.rb
  modules/appeals_api/spec/docs/appeals_status_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals/v0_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12650 MHV-42067: Clinical notes api complete
  lib/medical_records/client.rb
  modules/my_health/app/controllers/my_health/v1/clinical_notes_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/request/v1/clinical_notes_request_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_clinical_note.yml
  spec/support/vcr_cassettes/mr_client/get_a_list_of_clinical_notes.yml
Labels: console-services-review

#12666 Add redis_namespace to log
  lib/common/models/redis_store.rb
Labels: console-services-review

#12653 Adds new feature flag to gate enhancements for June release
  config/features.yml
Labels: console-services-review

#12649 Updated Lighthouse Letters Generator Service exception handling
  config/locales/exceptions.en.yml
  lib/lighthouse/letters_generator/service_error.rb
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

#12543 Adding transform for smoother FE integration
  lib/lighthouse/letters_generator/service.rb
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

#12446 Letters Generator controller for Lighthouse Migration
  app/controllers/v0/letters_generator_controller.rb
  config/routes.rb
  spec/controllers/v0/letters_generator_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/letters_generator/beneficiary.yml
  spec/support/vcr_cassettes/lighthouse/letters_generator/download.yml
  spec/support/vcr_cassettes/lighthouse/letters_generator/download_error.yml
  spec/support/vcr_cassettes/lighthouse/letters_generator/download_with_options.yml
  spec/support/vcr_cassettes/lighthouse/letters_generator/index.yml
Labels: console-services-review

#12660 58326 - Adds timezone conversion feature flag to VAOS
  config/features.yml
Labels: console-services-review

#12636 Api 262190 claim details validate ptcpnt clmant
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: claimsApi

#12556 Require classes in FSR workers
  app/workers/form5655/vba_submission_job.rb
  app/workers/form5655/vha_submission_job.rb
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

#12557 Api 25831 faraday healthchecks
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse, claimsApi

#12671 Add Agile 6 team members to flipper admin list
  config/settings.yml
Labels: console-services-review

#12672 VACMS-11482 Add feature flipper for Drupal footer
  config/features.yml
Labels: console-services-review

#12610 Api 26185 526 v2 526 schema doc updates 2
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
Labels: claimsApi

#12606 API-526-v2-change-address-pdf-gen
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#12628 API-26269-sec-3-pdf-map
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#12670 Add verified email
  config/settings.yml
Labels: console-services-review

#12651 Add sidekiq job to clear stale InProgressRemindersSent
  config/features.yml
  config/sidekiq_scheduler.yml
  modules/va_notify/app/workers/va_notify/clear_stale_in_progress_reminders_sent.rb
  modules/va_notify/spec/workers/clear_stale_in_progress_reminders_sent_spec.rb
Labels: console-services-review

#12647 EVSS Migration: Form 21-526EZ Submit Workflow: retrieve ICN for rated disabilities call
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/models/form526_submission_spec.rb
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/200_Not_Connected_response.yml
Labels: console-services-review

#12547 4745 Add Lighthouse upstream service to Mobile claims
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
  modules/mobile/app/models/mobile/v0/claim.rb
  modules/mobile/app/serializers/mobile/v0/claim_serializer.rb
  modules/mobile/spec/models/adapters/lighthouse_individual_claims_adapter_spec.rb
  modules/mobile/spec/request/individual_lighthouse_claim_request_spec.rb
  modules/mobile/spec/support/fixtures/individual_claims.json
  modules/mobile/spec/support/schemas/individual_claim.json
  modules/mobile/spec/support/vcr_cassettes/lighthouse_claims/show/200_response.yml
  modules/mobile/spec/support/vcr_cassettes/lighthouse_claims/show/404_response.yml
Labels: mobile

#12568 Replace user.session.uuid with token
  app/controllers/concerns/authentication_and_sso_concerns.rb
  spec/controllers/application_controller_spec.rb
Labels: console-services-review

#12682 VaNotify - Remove feature flag that is no longer needed
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_1990e.rb
  config/features.yml
Labels: console-services-review

#12686 Add scopes for letters generator
  lib/lighthouse/letters_generator/configuration.rb
Labels: console-services-review

#12685 Dedicated specs for HLR docs (part 1)
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, banana-peels

#12684 Dedicated specs for SC docs (part 1)
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, banana-peels

#12691 Finish renaming Contestable Issues v0 to Appealable Issues
  modules/appeals_api/app/controllers/appeals_api/appealable_issues/v0/appealable_issues_controller.rb
  modules/appeals_api/appeals_api_insomnia.json
  modules/appeals_api/config/schemas/v0/appealable_issues_headers.json
  modules/appeals_api/spec/docs/appealable_issues/v0_spec.rb
  modules/appeals_api/spec/requests/appealable_issues/v0/appealable_issues_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/appealable_issue.json
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/lib/vba_documents/webhooks_registrations.rb
  rakelib/appeals_api_oauth.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12699 Update settings.yml
  config/settings.yml
Labels: console-services-review

#12669 Dedicated specs for NOD docs (part 1)
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, banana-peels

#12661 [API-26991] Spawn child FormBuilder jobs
  modules/va_forms/app/workers/va_forms/form_reloader.rb
  modules/va_forms/spec/workers/form_reloader_spec.rb
Labels: banana-peels

#12702 Changed sidekiq_alive to sidekiq-alive in CleanupQueues job
  app/workers/sidekiq_alive/cleanup_queues.rb
Labels: VAOS, console-services-review, platform-tech-team-1

#12705 Removed SidekiqAlive::CleanupQueues
  app/workers/sidekiq_alive/cleanup_queues.rb
  config/sidekiq_scheduler.yml
  spec/jobs/sidekiq_alive/cleanup_queues_spec.rb
Labels: console-services-review

#12703 Dedicated specs for NOD docs (part 2)
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12648 [12645] Adding Model definitions for Client Config private_key_jwt up…
  app/models/sign_in/client_config.rb
  db/seeds/development.rb
  spec/factories/sign_in/client_configs.rb
  spec/fixtures/sign_in/sample_client.crt
  spec/models/sign_in/client_config_spec.rb
Labels: console-services-review

#12689 VAOS: Set Cancellable:false for Compensation and Pension Appointments
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/schemas_camelized/vaos/v2/va_appointment_raw.json
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_CnP.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_single_status_200.yml
Labels: VAOS, console-services-review

#12712 [12711] Fixing lots of specs failing due to uninitialized constants errors, and other related errors
  app/models/webhooks/utilities.rb
  app/services/bgs/awards_service.rb
  app/services/bgs/uploaded_document_service.rb
  app/workers/education_form/create_daily_spool_files.rb
  app/workers/education_form/forms/base.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  lib/form526_backup_submission/utilities/convert_to_pdf.rb
  lib/sidekiq/form526_job_status_tracker/job_tracker.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/claims_api/lib/claims_api/poa_pdf_constructor/base.rb
  modules/meb_api/spec/lib/authentication_token_service_spec.rb
  modules/vba_documents/app/models/vba_documents/upload_file.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
  spec/jobs/education_form/create_daily_spool_files_spec.rb
  spec/jobs/education_form/forms/va10203_spec.rb
  spec/lib/form526_backup_submission/utilities/convert_to_pdf_spec.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/lib/sidekiq/form526_job_status_tracker/metrics_spec.rb
  spec/support/spool_helpers.rb
Labels: console-services-review

#12695 Add missing military service info
  lib/lighthouse/letters_generator/service.rb
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

#12718 add pod name as env var
  chart/Chart.yaml
  chart/templates/worker-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.49.tgz
Labels: console-services-review

#12701 Edits feature flag naming to match vets-website
  config/features.yml
Labels: console-services-review

#12719 Add unique queue naming
  config/sidekiq_alive.rb
Labels: console-services-review

#12707 Dedicated specs for HLR docs (part 2)
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12709 Dedicated specs for SC docs, part 2
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12720 Moved frequent sidekiq scheduled jobs to periodic jobs
  config/initializers/sidekiq.rb
  config/sidekiq_scheduler.yml
Labels: console-services-review

#12708 Remove RRD contention-specific flags and job selector
  app/mailers/rrd_completed_mailer.rb
  app/mailers/views/rrd_completed_mailer.html.erb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/models/form526_submission.rb
  app/services/rapid_ready_for_decision/sidekiq_job_selector.rb
  app/workers/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/mailers/rrd_completed_mailer_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/sidekiq_job_selector_spec.rb
Labels: console-services-review

#12722 mobile: Update individual claim va representative wording
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
Labels: mobile

#12700 API-26385: Updated "Empty payload" Error Handling for BI Upload Submissions
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: Lighthouse, banana-peels

#12633 Mobile: Add v1 message thread endpoint using new api
  modules/mobile/app/controllers/mobile/v1/messages_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/v1/messages_request_spec.rb
  spec/support/vcr_cassettes/mobile/messages/v1_get_thread.yml
Labels: mobile, console-services-review

#12697 Remove VAOS Type of Care, Stop Code Logging
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: VAOS

#12727 Mobile: Secure messaging thread quick fix
  modules/mobile/app/controllers/mobile/v1/messages_controller.rb
Labels: mobile

#12724 switch out mobile claims service with Benefit claims service
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
  modules/mobile/spec/request/individual_lighthouse_claim_request_spec.rb
Labels: mobile

#12746 Orphaned queue cleanup job
  app/workers/sidekiq_alive/cleanup_queues.rb
  config/sidekiq_scheduler.yml
  spec/jobs/sidekiq_alive/cleanup_queues_spec.rb
Labels: console-services-review

#12745 Mobile Claim hotfix
  modules/mobile/app/serializers/mobile/v0/claim_serializer.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/spec/request/individual_lighthouse_claim_request_spec.rb
Labels: mobile

#12738 Mobile: Secure messaging thread schema update
  modules/mobile/app/controllers/mobile/v1/messages_controller.rb
  modules/mobile/app/serializers/mobile/v1/messages_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/v1/SecureMessageList.yml
  modules/mobile/spec/request/v1/messages_request_spec.rb
  spec/support/vcr_cassettes/mobile/messages/v1_get_thread.yml
Labels: mobile, console-services-review

#12739 VAOS: Set Appointments 'cancellable' Flag to False for Covid Appointments
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_cnp_covid.yml
Labels: VAOS, console-services-review

#12698 API-26673-526-v2-schema-alternate-names
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: Lighthouse, console-services-review, claimsApi

#12688 Api 26589 v2 itf request format
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/example.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: claimsApi

#12623 Bdex/57063/migrate get intent to file to lighthouse
  app/controllers/v0/intent_to_files_controller.rb
  config/settings.yml
  config/settings/test.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider.rb
  lib/disability_compensation/providers/intent_to_file/lighthouse_intent_to_file_provider.rb
  lib/lighthouse/auth/client_credentials/service.rb
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service.rb
  lib/lighthouse/veteran_verification/configuration.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/intent_to_file/evss_intent_to_file_provider_spec.rb
  spec/lib/disability_compensation/providers/intent_to_file/lighthouse_intent_to_file_provider_spec.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/requests/intent_to_files_request_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/400_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/401_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/403_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/404_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/413_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/429_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/500_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/502_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/intent_to_file/503_response.yml
Labels: console-services-review

#12638 Feature - call VRO contention classification service for some 526-ez claims
  .gitignore
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  config/settings.yml
  lib/virtual_regional_office/client.rb
  lib/virtual_regional_office/configuration.rb
  spec/factories/form526_submissions.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/virtual_regional_office/client_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification.yml
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf.yml
  spec/support/vcr_cassettes/virtual_regional_office/evidence_pdf_download.yml
  spec/support/vcr_cassettes/virtual_regional_office/health_assessment.yml
Labels: console-services-review

#12755 5310 remove logging low hanging fruit
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/controllers/mobile/v0/facility_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
  modules/mobile/app/controllers/mobile/v0/payment_history_controller.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/app/controllers/mobile/v0/push_notifications_controller.rb
  modules/mobile/app/controllers/mobile/v0/veterans_affairs_eligibility_controller.rb
  modules/mobile/app/controllers/mobile/v1/immunizations_controller.rb
  modules/mobile/app/helpers/mobile/appointments_cache_interface.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/models/mobile/v0/adapters/appointment_requests.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointments.rb
  modules/mobile/app/models/mobile/v0/templates/base_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/community_care_appointment.rb
  modules/mobile/app/models/mobile/v0/templates/va_appointment.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
  modules/mobile/app/services/mobile/v0/lighthouse_health/service.rb
  modules/mobile/app/services/mobile/v2/appointments/presentation_filter.rb
  modules/mobile/app/services/mobile/v2/appointments/provider_names.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_appointments_job.rb
  modules/mobile/app/workers/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/spec/models/adapters/appointment_requests_adapter_spec.rb
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/mobile/spec/request/claims_and_appeals_overview_request_spec.rb
  modules/mobile/spec/request/community_care_eligibility_request_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
  modules/mobile/spec/services/v2/appointments/presentation_filter_spec.rb
  modules/mobile/spec/services/v2/appointments/provider_names_spec.rb
Labels: mobile

#12759 mobile VA rep copy update
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_individual_claims.rb
Labels: mobile

#12761 Remove remaining RRD processor code
  app/services/rapid_ready_for_decision/constants.rb
  app/services/rapid_ready_for_decision/fast_track_pdf_generator.rb
  app/services/rapid_ready_for_decision/views/asthma.erb
  app/services/rapid_ready_for_decision/views/asthma/about.erb
  app/services/rapid_ready_for_decision/views/asthma/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/hypertension.erb
  app/services/rapid_ready_for_decision/views/hypertension/about.erb
  app/services/rapid_ready_for_decision/views/hypertension/blood_pressure_readings.erb
  app/services/rapid_ready_for_decision/views/hypertension/rating_schedule.erb
  app/services/rapid_ready_for_decision/views/shared/_link_to.erb
  app/services/rapid_ready_for_decision/views/shared/intro.erb
  app/services/rapid_ready_for_decision/views/shared/medications.erb
  app/workers/rapid_ready_for_decision/asthma_processor.rb
  app/workers/rapid_ready_for_decision/disability_compensation_job.rb
  app/workers/rapid_ready_for_decision/form526_asthma_job.rb
  app/workers/rapid_ready_for_decision/form526_base_job.rb
  app/workers/rapid_ready_for_decision/hypertension_processor.rb
  app/workers/rapid_ready_for_decision/rrd_processor.rb
  config/features.yml
  spec/jobs/rapid_ready_for_decision/asthma_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/disability_compensation_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_asthma_job_spec.rb
  spec/jobs/rapid_ready_for_decision/form526_base_job_spec.rb
  spec/jobs/rapid_ready_for_decision/hypertension_processor_spec.rb
  spec/jobs/rapid_ready_for_decision/rrd_processor_spec.rb
  spec/models/form526_submission_spec.rb
  spec/services/rapid_ready_for_decision/constants_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_generator_spec.rb
  spec/services/rapid_ready_for_decision/fast_track_pdf_upload_manager_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_medication_request_data_spec.rb
  spec/services/rapid_ready_for_decision/lighthouse_observation_data_spec.rb
  spec/services/rapid_ready_for_decision/rrd_special_issue_manager_spec.rb
Labels: console-services-review

#12622 Add find MPI profile by facility method
  lib/mpi/constants.rb
  lib/mpi/messages/find_profile_by_facility.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/find_profile_by_facility_spec.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

#12744 Finalize appeals rswag updates (part 2)
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12774 4195-update-endpoint-to-receive-letters-from-lighthouse (part 1)
  modules/mobile/spec/request/legacy_letters_request_spec.rb
  modules/mobile/spec/request/letters_lighthouse_request_spec.rb
Labels: mobile

#12766 wrap contention classification code in rescue
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification_failure.yml
Labels: console-services-review

#12725 API-26271-526-v2-sec-5-disability-pdf-mapping
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#12769 VAOS Remove Service Category Logging
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: VAOS

#12776 5310: remove unnecessary logging
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/users_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/military_information.rb
Labels: mobile

#12733 Adds pdf mapping for 526-v2-tx-centers
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#12752 Api 24832 526 v2 section 5 treatment centers validation
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#12690 [12634] Sign in Service Private Key JWT flow
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/state_payload.rb
  app/services/sign_in/client_assertion_validator.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/fixtures/sign_in/sample_client.crt
  spec/fixtures/sign_in/sample_client.pem
  spec/models/sign_in/client_config_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/services/sign_in/client_assertion_validator_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
Labels: console-services-review

#12758 Refactor specs for organic modal
  spec/requests/v0/user_transition_availabilities_controller_spec.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

#12785 Ensure larger page size limit is enabled for Benefits Intake
  modules/vba_documents/config/flipper/enabled_features.yml
Labels: Lighthouse, appeals, banana-peels

#12780 API-26689: Stop Storing `doc_type` in `VBADocuments::UploadSubmission` Metadata (Part 1 of 2)
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/factories/upload_submissions.rb
  modules/vba_documents/spec/lib/pdf_inspector_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: Lighthouse, banana-peels

#12773 [API-25973] Add healthchecks to all endpoint versions
  modules/appeals_api/config/routes.rb
  modules/vba_documents/config/routes.rb
Labels: banana-peels

#12736 [department-of-veterans-affairs/va-virtual-agent#951] Setup flipper for JWT fetching in the front end
  config/features.yml
  config/settings.yml
Labels: console-services-review

#12737 Hotfix UTC conversion
  modules/mobile/spec/request/appointments_vaos_v2_list_request_spec.rb
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: VAOS, mobile

#12779 Update Appealable Issues API v0 OAuth scopes
  modules/appeals_api/app/controllers/appeals_api/appealable_issues/v0/appealable_issues_controller.rb
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, banana-peels

#12787 API-26932 Update Appeals Status API v1 description
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
Labels: Lighthouse, appeals, banana-peels

#12791 13320 income limits sidekiq jobs
  app/workers/income_limits/std_income_threshold_import.rb
  app/workers/income_limits/std_state_import.rb
  app/workers/income_limits/std_zipcode_import.rb
  config/sidekiq_scheduler.yml
  spec/jobs/income_limits/std_income_threshold_import_spec.rb
  spec/jobs/income_limits/std_state_import_spec.rb
  spec/jobs/income_limits/std_zipcode_import_spec.rb
Labels: console-services-review

#12732 13320 GMT and County import jobs for Income Limits
  app/workers/income_limits/gmt_thresholds_import.rb
  app/workers/income_limits/std_county_import.rb
  config/sidekiq_scheduler.yml
  spec/jobs/income_limits/gmt_thresholds_import_spec.rb
  spec/jobs/income_limits/std_county_import_spec.rb
Labels: console-services-review

#12768 58164 Parse JSON file from VBS for copay notifications
  app/controllers/v0/medical_copays_controller.rb
  app/services/medical_copays/vbs/service.rb
  app/swagger/swagger/requests/medical_copays.rb
  app/workers/copay_notifications/mcp_notification_email_job.rb
  app/workers/copay_notifications/new_statement_notification_job.rb
  app/workers/copay_notifications/parse_new_statements_job.rb
  app/workers/mcp_notification_email_job.rb
  spec/fixtures/medical_copays/duplicate_new_statements.json
  spec/fixtures/medical_copays/new_statements.json
  spec/jobs/copay_notifications/mcp_notification_email_job_spec.rb
  spec/jobs/copay_notifications/new_statement_notification_job_spec.rb
  spec/jobs/copay_notifications/parse_new_statements_job_spec.rb
Labels: console-services-review
