Repository department-of-veterans-affairs/vets-api, pull requests merged in 2023-01, with the labels that each got.

#11428 Add sanitized branchname to pe deploy workflow
  .github/workflows/preview_environment_deployment.yml
  script/github-actions/pe-deploy-source.js
Labels: console-services-review

#11447 Add lighthouse-banana-peels team to pertinent spots
  .github/CODEOWNERS
Labels: Lighthouse, appeals, console-services-review, benefits-intake

#11255 [42310] SiS ClientConfig Profiles
  app/controllers/v0/sign_in_controller.rb
  app/models/iam_user_identity.rb
  app/models/sign_in/access_token.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/code_container.rb
  app/models/sign_in/o_auth_session.rb
  app/models/sign_in/state_payload.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/constants/client_config.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/token_serializer.rb
  config/initializers/statsd.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/access_tokens.rb
  spec/factories/sign_in/code_containers.rb
  spec/factories/sign_in/o_auth_sessions.rb
  spec/factories/sign_in/session_containers.rb
  spec/factories/sign_in/state_payloads.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/access_token_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/models/sign_in/code_container_spec.rb
  spec/models/sign_in/o_auth_session_spec.rb
  spec/models/sign_in/session_container_spec.rb
  spec/models/sign_in/state_payload_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
  spec/services/sign_in/token_serializer_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: identity, identity-backend, console-services-review

#11391 [11349] Refactor mpi service update_profile
  app/models/mpi_data.rb
  app/services/sign_in/attribute_validator.rb
  lib/mpi/service.rb
  spec/lib/mpi/service_spec.rb
Labels: console-services-review

#11368 CST DLD: Added ClaimLetter-YYYY-MM-D.pdf format filename and changed …
  lib/claim_letters/claim_letter_downloader.rb
  spec/controllers/v0/claim_letters_controller_spec.rb
Labels: console-services-review

#11449 526 backup path uploads to pdf
  lib/form526_backup_submission/service.rb
  lib/form526_backup_submission/utilities/convert_to_pdf.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/factories/form526_submissions.rb
  spec/fixtures/files/buddy_statement.txt
  spec/fixtures/files/doctors-note-actual-jpg.jpg
  spec/fixtures/files/doctors-note.bmp
  spec/fixtures/files/doctors-note.png
  spec/lib/form526_backup_submission/utilities/convert_to_pdf_spec.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/support/disability_compensation_form/submissions/with_non_pdf_uploads.json
Labels: console-services-review

#11458 Adding icn variable to fix MPI update profile error
  app/services/sign_in/attribute_validator.rb
Labels: console-services-review

#11455 Bump rubocop-rails to v2.17.4
  Gemfile.lock
  lib/saml/responses/login.rb
  lib/sm/client.rb
Labels: console-services-review

#11423 adds inherited_proofing to CODEOWNERS under vsp-identity
  .github/CODEOWNERS
Labels: identity, identity-backend, console-services-review

#11456 Fixes for appeals stats report
  config/settings.yml
  modules/appeals_api/app/mailers/appeals_api/stats_report_mailer.rb
  modules/appeals_api/app/workers/appeals_api/monthly_stats_report.rb
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
  modules/appeals_api/spec/workers/appeals_api/monthly_stats_report_spec.rb
Labels: Lighthouse, appeals, console-services-review

#11459 update 5103 response
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
Labels: claimsApi

#11457 Add Kyle Soskin to production daily report email
  modules/appeals_api/config/mailinglists/report_daily.yml
Labels: Lighthouse, appeals

#11446 Vfep 56 final - remove employment from spool files form 5490
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.spl
Labels: console-services-review

#11416 Encrypt form arguments in HCA submission jobs
  app/models/health_care_application.rb
  app/workers/hca/anon_encrypted_submission_job.rb
  app/workers/hca/base_encrypted_submission_job.rb
  app/workers/hca/encrypted_submission_job.rb
  spec/jobs/hca/anon_encrypted_submission_job_spec.rb
  spec/jobs/hca/encrypted_submission_job_spec.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

#11466 4409 filter validation
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

#11470 adds logging around service and request
  modules/claims_api/app/controllers/claims_api/v1/forms/base.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
Labels: claimsApi

#11411 API 21584 Add get ITF by type endpoint
  modules/claims_api/app/controllers/claims_api/v2/blueprints/intent_to_file_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/app/models/claims_api/v2/intent_to_file.rb
  modules/claims_api/config/initializers/blueprinter.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/intent_to_file/intent_to_file.json
Labels: console-services-review, claimsApi

#11412 Api 22541 update 5103 description
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/support/rswag_config.rb
Labels: claimsApi

#11421 Inherited Proofing Audit Data Validations
  app/controllers/inherited_proofing_controller.rb
  app/models/inherited_proofing/audit_data.rb
  config/redis.yml
  lib/inherited_proofing/errors.rb
  lib/inherited_proofing/mhv/inherited_proofing_verifier.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/factories/inherited_proofing/audit_data.rb
  spec/models/inherited_proofing/audit_data_spec.rb
Labels: identity, identity-backend, console-services-review

#11482 Adding forms documentation
  docs/setup/va_forms.md
Labels: console-services-review

#11479 47731 removes redundant identity_proofed? method
  app/models/user.rb
  app/services/users/services.rb
Labels: console-services-review

#11469 Refactor rake tasks for Appeals docs
  modules/appeals_api/app/controllers/appeals_api/docs/v2/docs_controller.rb
  modules/appeals_api/app/swagger/decision_reviews/v2/api_description.md
  modules/appeals_api/app/swagger/decision_reviews/v2/api_description_dev.md
  modules/appeals_api/app/swagger/decision_reviews/v2/put_description.md
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review

#11484 Revert "Bump mail from 2.7.1 to 2.8.0 (#11396)"
  Gemfile.lock
  spec/lib/preneeds/service_spec.rb
Labels: console-services-review

#11493 Remove PACT Broker Support
  .github/workflows/pact.yml
  Gemfile
  Gemfile.lock
  Makefile
  Rakefile
  lib/commands/pact/pact_command.rb
  lib/generators/provider_state/USAGE
  lib/generators/provider_state/provider_state_generator.rb
  lib/generators/provider_state/templates/provider_states.rb.erb
  spec/lib/generators/provider_state/provider_state_generator_spec.rb
  spec/lib/pact/command/pact_command_spec.rb
  spec/service_consumers/pact_helper.rb
  spec/service_consumers/provider_states_for/contact_us.rb
  spec/service_consumers/provider_states_for/coronavirus_vaccination.rb
  spec/service_consumers/provider_states_for/facilities.rb
  spec/service_consumers/provider_states_for/hca.rb
  spec/service_consumers/provider_states_for/search.rb
  spec/service_consumers/provider_states_for/secure_messages.rb
  spec/service_consumers/provider_states_for/users.rb
  spec/service_consumers/provider_states_for/va_profile.rb
  spec/support/authenticated_session_helper.rb
  spec/support/stub_session.rb
  spec/support/vcr.rb
Labels: console-services-review

#11508 Ignore CVE-2022-46648
  .github/workflows/code_checks.yml
Labels: console-services-review

#11507 update prod oas
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
Labels: claimsApi

#11481 Adding new settings for Lighthouse Benefits Claims API
  config/settings.yml
Labels: console-services-review

#11513 [11348] Adding temporary string status for MPI response until MPI cac…
  app/services/users/profile.rb
  lib/mpi/services/find_profile_response_creator.rb
  lib/va_profile/contact_information/transaction_response.rb
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
  modules/openid_auth/spec/requests/validation_request_v2_spec.rb
  rakelib/connectivity.rake
Labels: console-services-review

#11497 MHV-40133 Add "triage group name" passthrough from MHV APIs
  app/models/message.rb
  app/serializers/messages_serializer.rb
  app/swagger/swagger/schemas/health/messages.rb
  modules/mobile/app/serializers/mobile/v0/messages_serializer.rb
  modules/my_health/app/serializers/my_health/v1/messages_serializer.rb
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/SecureMessageDetail.yml
  modules/my_health/docs/schemas/SecureMessageSummary.yml
  spec/models/message_spec.rb
  spec/support/schemas/folder_search.json
  spec/support/schemas/message.json
  spec/support/schemas/message_with_attachment.json
  spec/support/schemas/messages.json
  spec/support/schemas/messages_thread.json
  spec/support/schemas_camelized/message.json
  spec/support/schemas_camelized/message_with_attachment.json
  spec/support/schemas_camelized/messages.json
  spec/support/schemas_camelized/messages_thread.json
Labels: mobile, console-services-review

#11494 reverts to base Ruby SAML v1.15.0
  Gemfile
  Gemfile.lock
Labels: identity, identity-backend, console-services-review

#11514 [11348] Adding various MPI errors requires that were causing some wei…
  app/services/users/exception_handler.rb
  lib/mpi/messages/add_person_implicit_search_message.rb
  lib/mpi/services/add_person_response_creator.rb
  lib/mpi/services/find_profile_response_creator.rb
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
Labels: console-services-review

#11506 4484 coerce filter values
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

#11360 API-22384 Adds logging of ICN for MPI troubleshooting
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
Labels: claimsApi

#11505 Adding claimDate to get_pdf call for backup 526 Submission
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11433 Adding support to enqueue supp claims uploads
  app/controllers/v1/supplemental_claims_controller.rb
  app/workers/decision_review/submit_upload.rb
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/appeals/supplemental_claims.rb
  lib/decision_review_v1/configuration.rb
  lib/decision_review_v1/service.rb
  lib/decision_review_v1/utilities/constants.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/decision_review_v1/utilities/helpers.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/factories/appeal_submissions.rb
  spec/jobs/decision_review/submit_upload_spec.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
  spec/support/vcr_cassettes/decision_review/NOD-GET-UPLOAD-URL-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-CREATE-RESPONSE-WITH-UPLOADS-200_V1.yml
  spec/support/vcr_cassettes/decision_review/SC-GET-UPLOAD-URL-200_V1.yml
Labels: console-services-review

#11530 [11529] Preferring MPI query by credential uuid for sign in service a…
  app/services/sign_in/attribute_validator.rb
Labels: console-services-review

#11519 [va-virtual-agent#758] remove unused toggle and related dead code paths
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  app/workers/virtual_agent_store_user_info_job.rb
  config/features.yml
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/jobs/virtual_agent_store_user_info_job_spec.rb
Labels: console-services-review

#11510 Remove rrd_mas_disability_tracking and rrd_mas_notification toggles
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  app/services/rapid_ready_for_decision/constants.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

#11524 Upgrade RuboCop to 1.43.0
  Gemfile.lock
Labels: console-services-review

#11499 add `include` and `included` parameters to mobile appointment index docs
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
Labels: mobile

#11478 51475 Enforce LGY document ownership
  app/controllers/v0/coe_controller.rb
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/lgy_coe_request_spec.rb
  spec/support/vcr_cassettes/lgy/document_download.yml
  spec/support/vcr_cassettes/lgy/documents_list.yml
Labels: console-services-review

#11536 [11535] Updating proper error response when MPI find_by_attributes is…
  lib/mpi/responses/profile_parser.rb
  lib/mpi/services/find_profile_response_creator.rb
  spec/lib/mpi/services/find_profile_response_creator_spec.rb
  spec/support/mpi/find_candidate_no_match_response.xml
Labels: console-services-review

#11525 Split RuboCop Enables to separate file
  .rubocop.yml
  .rubocop_explicit_enables.yml
  .rubocop_todo.yml
Labels: console-services-review

#11528 RuboCop: Fix 'AllowedPatterns' warning
  modules/claims_api/.rubocop.yml
Labels: console-services-review

#11511 Chore: Enable sidekiq metrics for datadog
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
Labels: console-services-review

#11533 API-22952 - Fix appeals status API tags
  modules/appeals_api/app/swagger/v0/appeals.yml
Labels: Lighthouse, appeals

#11526 RuboCop: Enable pending cops
  .rubocop.yml
  .rubocop_explicit_enables.yml
  .rubocop_todo.yml
  app/swagger/swagger/schemas/gibct/institutions.rb
Labels: console-services-review

#11543 Chore: Add dogstatsd line
  config/initializers/sidekiq.rb
Labels: console-services-review

#11547 Do not enable datadog statsd in other environments besides dev
  config/initializers/sidekiq.rb
Labels: console-services-review

#11549 Fixed vsp_environment spelling
  config/initializers/sidekiq.rb
Labels: console-services-review

#11538 API-22759: Update CODEOWNERS for Benefits Intake API Transition
  .github/CODEOWNERS
Labels: console-services-review, benefits-intake

#11555 Fix app name issue
  modules/mobile/app/controllers/mobile/v0/push_notifications_controller.rb
  modules/mobile/spec/request/push_register_request_spec.rb
Labels: mobile

#11440 Adds completed dates for each phase.
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/fixtures/v2/veterans/claims/claims_by_participant_id_response.json
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review, claimsApi

#11551 [11550] Checking UserIdentity as well as User models when User redis …
  app/services/sign_in/user_loader.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: console-services-review

#11307 [11306] Remove Notifications and DismissedStatuses
  app/controllers/concerns/notifications/validateable.rb
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/notifications/dismissed_statuses_controller.rb
  app/controllers/v0/notifications_controller.rb
  app/models/account.rb
  app/models/health_care_application.rb
  app/models/notification.rb
  app/serializers/dismissed_status_serializer.rb
  app/serializers/notification_serializer.rb
  app/swagger/swagger/requests/health_care_applications.rb
  app/swagger/swagger/requests/notifications.rb
  app/swagger/swagger/schemas/dismissed_status.rb
  app/swagger/swagger/schemas/notification.rb
  config/routes.rb
  lib/hca/enrollment_eligibility/constants.rb
  lib/hca/enrollment_eligibility/status_matcher.rb
  spec/factories/notifications.rb
  spec/lib/hca/enrollment_eligibility/status_matcher_spec.rb
  spec/models/health_care_application_spec.rb
  spec/models/notification_spec.rb
  spec/requests/health_care_applications_request_spec.rb
  spec/requests/notifications/dismissed_statuses_request_spec.rb
  spec/requests/notifications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/schemas/dismissed_status.json
  spec/support/schemas/notification.json
  spec/support/schemas_camelized/dismissed_status.json
  spec/support/schemas_camelized/notification.json
Labels: console-services-review

#11545 [51193] Make Eugene flipper admin
  config/settings.yml
Labels: console-services-review

#11569 Backup submission bugfix
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11534 API-21523 Convert appeals status v1 docs to RSwag
  modules/appeals_api/app/controllers/appeals_api/docs/v1/docs_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v0/appeals_controller.rb
  modules/appeals_api/app/swagger/appeals_api/v1/appeals_status.yml
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/spec/docs/appeals_status_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/appeal.json
  rakelib/rswag.rake
Labels: Lighthouse, appeals, console-services-review

#11562 Update appeals mailing list members
  config/settings.yml
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
Labels: Lighthouse, appeals, console-services-review

#11322 43195 Merge CC Provider Info Into Appointment Response
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_JACQUELINE_M_PROPOSED_12082022_backup.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_cc_proposed.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_12082022.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_cc_proposed.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_cc_200_with_provider.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_facility_service/get_scheduling_configurations_cc_200.yml
  spec/support/vcr_cassettes/vaos/v2/mobile_ppms_service/get_provider_200_12082022.yml
Labels: VAOS, console-services-review

#11498 45359 remove EVSS create user account
  app/services/login/after_login_actions.rb
  app/workers/evss/create_user_account_job.rb
  config/betamocks/services_config.yml
  lib/evss/common_service.rb
  lib/iam_ssoe_oauth/session_manager.rb
  spec/jobs/evss/create_user_account_job_spec.rb
  spec/lib/evss/common_service_spec.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/support/vcr_cassettes/evss/common/create_user_account.yml
Labels: identity, identity-backend, console-services-review

#11582 Revert "Bump rubocop-rspec from 2.16.0 to 2.18.0"
  Gemfile.lock
Labels: console-services-review

#11467 [11427] Updating specs for attribute validator file to prevent untest…
  spec/services/sign_in/attribute_validator_spec.rb
Labels: console-services-review

#11583 43195 rubocop fix
  modules/vaos/spec/request/v2/appointments_request_spec.rb
Labels: VAOS

#11496 API-22867-Adds encryption to auth headers
  modules/claims_api/app/workers/claims_api/claim_establisher.rb
  modules/claims_api/app/workers/claims_api/flash_updater.rb
  modules/claims_api/app/workers/claims_api/special_issue_updater.rb
  modules/claims_api/app/workers/claims_api/updater_service.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/workers/flash_updater_spec.rb
  modules/claims_api/spec/workers/special_issue_updater_spec.rb
Labels: claimsApi

#11571 API-22828-close-date-cst
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: claimsApi

#11590 Fix buggy rswag rake tasks
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals

#11579 Api 22829 claim status mapping
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/lib/claims_api/bgs_claim_status_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: Lighthouse, claimsApi

#11541 50585 adds vaweb & vamobile client_ids
  app/models/sign_in/client_config.rb
  app/services/sign_in/constants/auth.rb
Labels: identity, identity-backend, console-services-review

#11471 [11468] Remove historical icns MPI query
  app/models/gi_bill_feedback.rb
  app/models/mpi_data.rb
  app/models/user.rb
  lib/identity/parsers/gc_ids.rb
  lib/mpi/models/mvi_profile_ids.rb
  lib/mpi/responses/profile_parser.rb
  spec/factories/mvi_profiles.rb
  spec/fixtures/gibft/transform_form.json
  spec/lib/identity/parsers/gc_ids_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
  spec/models/user_spec.rb
  spec/support/mpi/stub_mpi.rb
Labels: console-services-review

#11532 [11531] Removing MPI checks for string 'OK' status that was temporari…
  app/services/users/profile.rb
  lib/va_profile/contact_information/transaction_response.rb
  modules/openid_auth/app/controllers/openid_auth/application_controller.rb
Labels: console-services-review

#11489 11306 remove notifications table
  db/migrate/20230106010006_remove_notifications.rb
  db/schema.rb
Labels: console-services-review

#11559 [51829] Credential Email Schema
  db/migrate/20230112221719_create_user_credential_email.rb
  db/schema.rb
Labels: console-services-review

#11561 51828 table avc
  db/migrate/20230112220807_create_table_user_acceptable_verified_credential.rb
  db/schema.rb
Labels: console-services-review

#11557 API-22759: Update Benefits Intake Email Report Recipients (Includes Refactoring)
  config/settings.yml
  modules/vba_documents/app/mailers/vba_documents/monthly_report_mailer.rb
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_mailer.rb
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/avg_processing_time.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/final_monthly_results.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/max_avg.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/mode.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/monthly_counts.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/monthly_summary.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/report_recipients.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/rolling_elapsed_times.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/still_processing.yml
  modules/vba_documents/spec/fixtures/reports/monthly_report/still_success.yml
  modules/vba_documents/spec/fixtures/reports/unsuccessful_report/report_recipients.yml
  modules/vba_documents/spec/mailers/monthly_report_mailer_spec.rb
  modules/vba_documents/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/vba_documents/spec/workers/report_monthly_submissions_spec.rb
Labels: console-services-review, benefits-intake

#11591 Create VAOS V2 controller for cc eligibility
  modules/vaos/app/controllers/vaos/v2/cc_eligibility_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/serializers/vaos/v2/cc_eligibility_serializer.rb
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/cc_eligibility_request_spec.rb
Labels: VAOS

#11572 API-22835-5103-default-CST
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review, claimsApi

#11603 FIX: added correct path in VAOS API docs for cc eligibility
  modules/vaos/app/docs/vaos/v0/vaos.yaml
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
Labels: VAOS

#11595 [11594] Fixing flaky spec in submit_upload_spec occurring because a s…
  spec/jobs/decision_review/submit_upload_spec.rb
  spec/lib/sidekiq_stats_instrumentation/server_middleware_spec.rb
Labels: console-services-review

#11563 51829 credential email model
  app/models/user_credential_email.rb
  app/models/user_verification.rb
  spec/factories/user_credential_emails.rb
  spec/models/user_credential_email_spec.rb
Labels: console-services-review

#11564 [51828] User Acceptable Verified Credential model definition
  app/models/user_acceptable_verified_credential.rb
  app/models/user_account.rb
  spec/factories/user_acceptable_verified_credentials.rb
  spec/models/user_acceptable_verified_credential_spec.rb
Labels: console-services-review

#11610 [52258] Log unexpected statuses in LGY::Service#coe_status.
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
Labels: console-services-review

#11589 (chore) remove toggle
  config/features.yml
Labels: console-services-review

#11613 4408 filter list collection
  modules/mobile/app/helpers/mobile/list_filter.rb
  modules/mobile/spec/helpers/mobile/list_filter_spec.rb
Labels: mobile

#11606 API-23042 Allow benefits intake uploads with owner passwords
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_description.md
  modules/vba_documents/app/swagger/vba_documents/document_upload/validate_document_error_details.md
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
  modules/vba_documents/lib/vba_documents/document_request_validator.rb
  modules/vba_documents/postman_tests/Automated Benefits Intake API.postman_collection.json
  modules/vba_documents/spec/lib/document_request_validator_spec.rb
Labels: Lighthouse, benefits-intake

#11552 Remove rubocop Memoized Helpers rule
  .rubocop.yml
  .rubocop_todo.yml
Labels: console-services-review

#11592 API-21503: Capture Original File Checksum for VBADocuments Submissions
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/models/vba_documents/upload_file.rb
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/multipart_parser.rb
  modules/vba_documents/lib/vba_documents/payload_manager.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/spec/fixtures/base_64
  modules/vba_documents/spec/fixtures/base_64_with_attachment
  modules/vba_documents/spec/fixtures/valid_multipart_pdf.blob
  modules/vba_documents/spec/fixtures/valid_multipart_pdf_attachments.blob
  modules/vba_documents/spec/fixtures/valid_multipart_pdf_attachments_invalid_metadata.blob
  modules/vba_documents/spec/lib/multipart_parser_spec.rb
  modules/vba_documents/spec/request/v1/uploads_request_spec.rb
  modules/vba_documents/spec/request/v2/uploads_request_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: Lighthouse, benefits-intake

#11611 API-22731: Enable Appeals API Legacy Appeals Endpoint for Local Development
  config/settings.yml
Labels: Lighthouse, appeals, console-services-review

#11588 Methods to support scripts to add paper 526 submissions to S3 (only used manually, not used in any automated process yet)
  config/settings.yml
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11600 Sidekiq 526 submission from 15 retries to 14
  app/workers/evss/disability_compensation_form/submit_form526.rb
Labels: console-services-review

#11618 [11617] Removing User model SSN and Gender format validations
  app/models/user.rb
  app/services/identity/account_creator.rb
  spec/services/identity/account_creator_spec.rb
Labels: console-services-review

#11602 Service history update response
  app/controllers/v0/profile/service_histories_controller.rb
  app/serializers/service_history_serializer.rb
  app/swagger/swagger/requests/profile.rb
  spec/support/schemas/service_history_response.json
  spec/support/schemas_camelized/service_history_response.json
Labels: console-services-review

#11584 51832 create avc when user authenticates
  app/services/login/after_login_actions.rb
  app/services/login/user_acceptable_verified_credential_updater.rb
  app/services/sign_in/user_creator.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#11620 Create routes:csv rake task
  rakelib/routes_csv.rake
Labels: console-services-review

#11622 [11617] Rescuing MPI request argument errors when mpi is called throu…
  app/models/mpi_data.rb
Labels: console-services-review

#11465 Add ICN check
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
  modules/claims_api/spec/requests/v1/intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: Lighthouse, claimsApi

#11574 adds consistent date formatting
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: console-services-review, claimsApi

#11627 Slight bug fixes for file extension(s) for manually uploaded S3 doc generations
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11581 VaNotify - Add confirmation email to 5490
  app/models/saved_claim/education_benefits.rb
  config/features.yml
  config/settings.yml
  spec/factories/va5490.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

#11631 Reverting changes to account creator
  app/services/identity/account_creator.rb
  spec/services/identity/account_creator_spec.rb
Labels: console-services-review

#11558 Updates Spec for TOE form object with new signature field
  modules/meb_api/app/docs/dgi/v0/dgi_v0.yaml
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/spec/dgi/forms/service/toe_submission_service_spec.rb
  spec/support/vcr_cassettes/dgi/forms/submit_toe_claim.yml
Labels: console-services-review

#11621 create datadog.yaml with sidekiq configs
  config/datadog.yaml
  config/initializers/sidekiq.rb
Labels: console-services-review

#11628 Enabled sidekiq dogstatsd for all env
  config/initializers/sidekiq.rb
Labels: console-services-review

#11636 Revert "create datadog.yaml with sidekiq configs"
  config/datadog.yaml
  config/initializers/sidekiq.rb
Labels: console-services-review

#11630 Mobile: Manually set province to nil when domestic
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/spec/request/addresses_request_spec.rb
Labels: mobile

#11632 add to dev in v2
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/intent_to_file/request.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: claimsApi

#11634 Remove rrd_new_pact_related_disability feature toggle
  app/mailers/rrd_new_disability_claim_mailer.rb
  app/mailers/views/rrd_new_disability_claim_mailer.html.erb
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  config/features.yml
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

#11633 51833 adds logging of user AVC creation & update
  app/services/login/user_acceptable_verified_credential_updater.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
Labels: identity-backend, console-services-review

#11556 Add ICN header to swagger docs
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/swagger_shared_components.rb
Labels: Lighthouse, appeals, NOT YET

#11619 API-21503: Generate and Save Post-Processed File Checksum for VBADocuments Submissions
  config/features.yml
  config/settings.yml
  modules/vba_documents/app/workers/vba_documents/upload_processor.rb
  modules/vba_documents/lib/vba_documents/upload_integrity_checker.rb
  modules/vba_documents/spec/lib/upload_integrity_checker_spec.rb
  modules/vba_documents/spec/workers/upload_processor_spec.rb
Labels: Lighthouse, console-services-review, benefits-intake

#11643 feat(Ingress): Enable CORS for va.gov and vfs.va.gov Vets API addresses
  chart/templates/ingress_route.yaml
Labels: console-services-review

#11654 add military addresses and check user address
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
Labels: mobile

#11645 Mobile: Add new messaging fields to docs
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/SecureMessageDetail.yml
  modules/mobile/docs/schemas/SecureMessageSummary.yml
Labels: mobile

#11655 Add Sidekiq Metrics config in Datadog YML
  config/datadog.yaml
Labels: console-services-review

#11651 526 backup bug fixes
  lib/form526_backup_submission/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11659 Update ddtrace to 1.8
  Gemfile.lock
Labels: console-services-review

#11652 API-23131: Fix Appeals Duplicate Client Notification Email Bug
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/spec/support/shared_examples_for_appeal_status_updates.rb
Labels: Lighthouse, banana-peels

#11637 [51834] Rake task to backfill user acceptable verified credential table
  rakelib/prod/backfill_user_acceptable_credential.rake
Labels: console-services-review

#11615 add forms_api module
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/forms_api/Gemfile
  modules/forms_api/README.rdoc
  modules/forms_api/Rakefile
  modules/forms_api/app/controllers/forms_api/v1/application_controller.rb
  modules/forms_api/app/controllers/forms_api/v1/uploads_controller.rb
  modules/forms_api/app/form_mappings/vha_10_10d.json.erb
  modules/forms_api/app/models/forms_api/vha_10_10d.rb
  modules/forms_api/app/services/forms_api/pdf_filler.rb
  modules/forms_api/bin/rails
  modules/forms_api/config/routes.rb
  modules/forms_api/forms_api.gemspec
  modules/forms_api/lib/forms_api.rb
  modules/forms_api/lib/forms_api/engine.rb
  modules/forms_api/lib/forms_api/version.rb
  modules/forms_api/lib/tasks/forms.rake
  modules/forms_api/spec/fixtures/form_json/vha_10_10d.json
  modules/forms_api/spec/requests/v1/uploads_spec.rb
  modules/forms_api/spec/services/pdf_filler_spec.rb
  modules/forms_api/spec/spec_helper.rb
  modules/forms_api/templates/vha_10_10d.pdf
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

#11662 Created new middleware manifest
  chart/templates/ingress_route.yaml
Labels: console-services-review

#11638 API-14905 Add NCA as Central Mail line of business
  config/features.yml
  config/settings.yml
  lib/central_mail/utilities.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/metadata_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/metadata_swagger.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
Labels: Lighthouse, console-services-review, benefits-intake

#11648 [52258] Remove requirement that applicant be absent if unsuccessful.
  lib/lgy/service.rb
  spec/lib/lgy/service_spec.rb
  spec/support/vcr_cassettes/lgy/application_200_status_unexpected.yml
Labels: console-services-review

#11668 [51834] Updating rake task to backfill user_acceptable_verified_crede…
  rakelib/prod/backfill_user_acceptable_credential.rake
Labels: console-services-review

#11647 API-23094-claimPhaseDates-docs
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
Labels: console-services-review, claimsApi

#11666 [52510] Specify intent for every loan in COE form.
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

#11665 API-21503: Update VBADocuments Checksum Sentry Warning
  modules/vba_documents/lib/vba_documents/upload_integrity_checker.rb
  modules/vba_documents/spec/lib/upload_integrity_checker_spec.rb
Labels: Lighthouse, banana-peels

#11674 Adding claimDate to cmp metadata on backup submission
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#11544 48800 remove UserIdentity attributes
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/mpi_data.rb
  app/models/user.rb
  app/models/user_identity.rb
  app/services/bgs/base_service.rb
  app/swagger/swagger/schemas/user_internal_services.rb
  lib/bgs/service.rb
  lib/saml/user_attributes/ssoe.rb
  modules/health_quest/spec/factories/health_quest_users.rb
  modules/vaos/spec/factories/vaos_users.rb
  spec/controllers/inherited_proofing_controller_spec.rb
  spec/factories/iam_user_identities.rb
  spec/factories/iam_users.rb
  spec/factories/mvi_profiles.rb
  spec/factories/user_identities.rb
  spec/factories/users.rb
  spec/lib/bgs/service_spec.rb
  spec/lib/inherited_proofing/user_attributes_fetcher_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_spec.rb
  spec/serializers/sign_in/introspect_serializer_spec.rb
  spec/services/bgs/base_service_spec.rb
Labels: VAOS, console-services-review

#11653 Add flag for vaos request flow update
  config/features.yml
Labels: console-services-review

#11657 [51833] updates AVC created & updated log
  app/services/login/user_acceptable_verified_credential_updater.rb
  spec/services/login/user_acceptable_verified_credential_updater_spec.rb
Labels: identity, identity-backend, console-services-review

#11520 EVSS DependentsApplicationJob Form Encryption
  app/models/dependents_application.rb
  app/workers/evss/dependents_application_job.rb
  spec/jobs/evss/dependents_application_job_spec.rb
Labels: identity, identity-backend, console-services-review

#11675 Remove `willRefinance` parameter from payload to LGY.
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: console-services-review

#11681 Adding Flipper to add additional metadata to 526 backup submissions
  config/features.yml
  lib/sidekiq/form526_backup_submission_process/processor.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
Labels: console-services-review

#11680 AppealsApi: Convert updater jobs to flipper
  config/features.yml
  config/settings.yml
  config/settings/test.yml
  modules/appeals_api/app/workers/appeals_api/higher_level_review_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/notice_of_disagreement_upload_status_batch.rb
  modules/appeals_api/app/workers/appeals_api/supplemental_claim_upload_status_batch.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/workers/higher_level_review_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/notice_of_disagreement_upload_status_batch_spec.rb
  modules/appeals_api/spec/workers/supplemental_claim_upload_status_batch_spec.rb
Labels: Lighthouse, console-services-review, banana-peels
