Repository department-of-veterans-affairs/vets-api, pull requests merged in 2023-03, with the labels that each got.

#11927 Profile/add derrick as toggle admin
  config/settings.yml
Labels: console-services-review

#11925 add toggle
  config/features.yml
Labels: console-services-review

#11936 Ignore Ruby 2.7 EOL from Brakeman
  .github/workflows/code_checks.yml
Labels: console-services-review

#11934 VaNotify - Update params for confirmation email for 1990
  app/models/saved_claim/education_benefits.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

#11937 Ruby 3 KwArgs: PDF Fill Va21p527ez Spec
  spec/lib/pdf_fill/forms/va21p527ez_spec.rb
Labels: console-services-review

#11931 Ruby 3 KwArgs: Various Raven-related specs
  spec/controllers/application_controller_spec.rb
  spec/jobs/evss/failed_claims_report_spec.rb
  spec/jobs/facilities/pssg_download_spec.rb
  spec/lib/bb/client_spec.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/va_profile/contact_information/service_spec.rb
Labels: console-services-review

#11905 Ruby 3 Upgrade - Handle various keyword arg/params deprecation_toolkit warnings
  app/models/emis_redis/model.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
Labels: console-services-review

#11914 [11890] Removing VirtualAgentUserAccessRecord model, as it is current…
  app/models/virtual_agent_user_access_record.rb
  spec/factories/virtual_agent_user_access_records.rb
  spec/models/virtual_agent_user_access_record_spec.rb
Labels: console-services-review

#11938 API-22649-new-526-endpoints
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#11896 Lighthouse direct deposit
  config/settings.yml
  lib/lighthouse/direct_deposit/base.rb
  lib/lighthouse/direct_deposit/configuration.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/error.rb
  lib/lighthouse/direct_deposit/financial_institution.rb
  lib/lighthouse/direct_deposit/payment_account.rb
  lib/lighthouse/direct_deposit/response.rb
  lib/lighthouse/direct_deposit/service.rb
  spec/lib/lighthouse/direct_deposit/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_400.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_401.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_404.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_invalid_502.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_valid_200.yml
Labels: console-services-review

#11942 Add api and worker namespaces to UAVC StatsD keys
  app/services/login/user_acceptable_verified_credential_updater_logger.rb
  app/workers/identity/user_acceptable_verified_credential_totals_job.rb
  config/initializers/statsd.rb
  spec/jobs/identity/user_acceptable_verified_credential_totals_job_spec.rb
  spec/services/login/user_acceptable_verified_credential_updater_logger_spec.rb
Labels: console-services-review

#11943 Api 24397 faraday bgs ssn
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: claimsApi

#11939 API-24442-consent-addr-change
  modules/claims_api/app/workers/claims_api/poa_vbms_updater.rb
Labels: Lighthouse, claimsApi

#11947 Add duration logging to LocalBGS service
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/claims_api/claim_logger.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_spec.rb
Labels: Lighthouse, claimsApi

#11866 API-22858: Add supplemental claim form v3 fields and data (part 1)
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_fields.rb
  modules/appeals_api/config/pdfs/200995_v3.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_fields_spec.rb
Labels: Lighthouse, appeals, banana-peels

#11953 Http check readiness probe
  chart/Chart.yaml
  chart/templates/server-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.10.21.tgz
Labels: console-services-review

#11944 Capture Type of Care, Provider's Info in Loki - update
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: VAOS

#11787 API-23874 Track SC evidenceType on records
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
Labels: Lighthouse, banana-peels

#11950 API-23273-Changes description to include new status of 'canceled'.
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: Lighthouse, claimsApi

#11898 Api 24364 improve validation for survivor
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
Labels: Lighthouse, claimsApi

#11955 Ruby 3 KwArgs: fix emis_redis spec
  lib/emis/service.rb
Labels: console-services-review

#11920 Ruby 3 KwArgs: PDF Filler Spec
  spec/lib/pdf_fill/filler_spec.rb
Labels: console-services-review

#11948 Use 16 core GHA runners
  .github/workflows/code_checks.yml
Labels: console-services-review

#11929 Ruby 3 KwArgs: Caregiver Model Spec
  app/models/saved_claim/caregivers_assistance_claim.rb
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
Labels: console-services-review

#11537 [EVSS to Lighthouse] Set up client credentials alternative
  .rubocop_todo.yml
  app/controllers/v0/benefits_claims_controller.rb
  config/betamocks/services_config.yml
  config/routes.rb
  config/settings.yml
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service.rb
  lib/lighthouse/benefits_claims/service_exception.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/401_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/404_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/401_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/404_response.yml
Labels: console-services-review

#11958 Vfep 281 - remove addtitional benefits section from 5490 spool file
  app/workers/education_form/templates/5490.erb
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_non_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_died_on_duty.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_pow_or_mia.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_33_spouse.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_child.spl
  spec/fixtures/education_benefits_claims/5490/kitchen_sink_chapter_35_spouse.spl
  spec/fixtures/education_benefits_claims/5490/simple_chapter_33_child.spl
Labels: console-services-review

#11961 4723 update military info service connections from emis to va profile
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/models/service_graph_spec.rb
  modules/mobile/spec/request/user_request_spec.rb
  modules/mobile/spec/request/v1/user_request_spec.rb
Labels: mobile

#11949 Added new statds metric to track appeals rx email notifications
  modules/appeals_api/app/workers/appeals_api/appeal_received_job.rb
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
Labels: Lighthouse, appeals, banana-peels

#11933 [11862] Setting vsp_environment values for localhost and test environ…
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  modules/dhp_connected_devices/app/services/token_storage_service.rb
  modules/dhp_connected_devices/app/services/website_host_service.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/token_storage_service_spec.rb
  modules/dhp_connected_devices/spec/services/dhp_connected_devices/website_host_service_spec.rb
Labels: console-services-review

#11968 Ruby upgrade: Fix failing Form1010cg::Auditor tests
  app/services/form1010cg/auditor.rb
  spec/services/form1010cg/auditor_spec.rb
Labels: console-services-review

#11967 require 'i18n' in file
  spec/spec_helper.rb
Labels: console-services-review

#11932 [11890] Dropping table VirtualAgentUserAccessRecord
  db/migrate/20230228223626_remove_virtual_agent_user_access_record.rb
  db/schema.rb
Labels: console-services-review

#11946 [11935] Making ClientConfig usage during sign in service authenticati…
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/access_token.rb
  app/models/sign_in/session_container.rb
  app/models/sign_in/user_code_map.rb
  app/models/sign_in/validated_credential.rb
  app/services/sign_in/access_token_jwt_decoder.rb
  app/services/sign_in/access_token_jwt_encoder.rb
  app/services/sign_in/code_validator.rb
  app/services/sign_in/login_redirect_url_generator.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_refresher.rb
  app/services/sign_in/session_revoker.rb
  app/services/sign_in/state_payload_jwt_encoder.rb
  app/services/sign_in/token_serializer.rb
  app/services/sign_in/user_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/access_tokens.rb
  spec/factories/sign_in/session_containers.rb
  spec/factories/sign_in/user_code_maps.rb
  spec/factories/sign_in/validated_credentials.rb
  spec/models/sign_in/access_token_spec.rb
  spec/models/sign_in/session_container_spec.rb
  spec/models/sign_in/user_code_map_spec.rb
  spec/models/sign_in/validated_credential_spec.rb
  spec/services/sign_in/access_token_jwt_encoder_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/services/sign_in/login_redirect_url_generator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
  spec/services/sign_in/state_payload_jwt_decoder_spec.rb
  spec/services/sign_in/state_payload_jwt_encoder_spec.rb
  spec/services/sign_in/token_serializer_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#11970 Ruby 3 Upgrade - Fix VANotifyEmailJob spec failures
  app/workers/va_notify_email_job.rb
Labels: console-services-review

#11899 API-24371-valid-ssn
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: Lighthouse, claimsApi

#11952 Trying to update schema
  Gemfile.lock
  app/swagger/swagger/v1/schemas/appeals/supplemental_claims.rb
  spec/lib/decision_review_v1/service_spec.rb
  spec/requests/v1/supplemental_claims_controller_request_spec.rb
Labels: console-services-review

#11976 Add prefill for form 26-4555 Adapted housing
  app/models/form_profile.rb
  app/models/form_profiles/va_264555.rb
  config/form_profile_mappings/26-4555.yml
  config/settings.yml
  spec/models/form_profile_spec.rb
Labels: console-services-review

#11959 Ruby 3 KwArgs: MHV
  app/controllers/v0/mhv_opt_in_flags_controller.rb
Labels: console-services-review

#11982 Enabled cron jobs
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  chart/values.yaml
  docs/index.yaml
  docs/vets-api-0.11.00.tgz
Labels: console-services-review, platform-tech-team-1

#11983 Ruby 3 upgrade: fix DetailedSchemaErrors spec failures
  lib/common/exceptions/detailed_schema_errors.rb
Labels: console-services-review

#11965 Ruby 3 KwArgs: Credential_level_creator
  app/services/sign_in/credential_level_creator.rb
Labels: console-services-review

#11963 11945 web logout sign in service client config
  db/migrate/20230303003828_add_web_logout_to_client_config.rb
  db/schema.rb
Labels: console-services-review

#11912 53955 add feature flag for precheckin to checkin handoff
  config/features.yml
Labels: console-services-review

#11954 Ruby 3 KwArgs: SAML SSOE
  lib/saml/user_attributes/ssoe.rb
Labels: console-services-review

#11979 Remove Providers Controller in VAOS
  modules/vaos/app/controllers/vaos/v2/providers_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/config/routes.rb
  modules/vaos/spec/request/v2/mobile_ppms_request_spec.rb
Labels: VAOS

#11989 [11988] Making UserAttributeError initialization more clear
  lib/saml/user_attributes/ssoe.rb
Labels: console-services-review

#11985 Testing argocd cron job
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review

#11992 Ruby 3 KwArgs: Session Controller & SAML SSOE
  app/controllers/v1/sessions_controller.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: console-services-review

#11987 Make Supplemental Claim form v3 available
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/pages/additional_pages.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v3/structure.rb
  modules/appeals_api/spec/fixtures/v3/expected_200995.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_alternate_signer.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_alternate_signer_overflow.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_extra.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200995_maxlength.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/structure_spec.rb
Labels: console-services-review

#11975 Api 24720 validation consolidation
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
  modules/claims_api/lib/claims_api/v2/params_validation/intent_to_file/intent_to_file_validator.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
Labels: Lighthouse, claimsApi

#11993 Ruby 3 KwArgs: Fix Caregivers Assistance controller spec
  app/services/form1010cg/auditor.rb
Labels: console-services-review

#11999 Bump Rack to 2.2.6.3
  Gemfile.lock
Labels: console-services-review

#11990 39154 pt1 remove v0 implementations from vets api v0 facilities controller
  modules/vaos/app/controllers/vaos/v0/facilities_controller.rb
  modules/vaos/spec/request/facilities_request_spec.rb
Labels: VAOS

#11998 [54398] Increase delay between 686c and 674 form submissions.
  app/services/bgs/dependent_service.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

#12003 Ruby 3 KwArgs: Monkeypatch ApiVore
  config/initializers/apivore_validator_monkeypatch.rb
Labels: console-services-review

#12004 removed remainder of vaos v0 facilities request spec
  modules/vaos/spec/request/facilities_request_spec.rb
Labels: VAOS

#12006 Ruby 3 KwArgs: Fix HCA Validations spec
  spec/lib/hca/validations_spec.rb
  spec/support/spec_builders.rb
Labels: console-services-review

#12015 Removed web env secrets from cron job
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.01.tgz
Labels: console-services-review

#12007 Removed VAOS v0 limits controller, VAOS V0 limit serializer and VAOS V0 routing rspecs
  modules/vaos/app/controllers/vaos/v0/limits_controller.rb
  modules/vaos/app/serializers/vaos/v0/limit_serializer.rb
  modules/vaos/spec/routing/vaos_routing_spec.rb
Labels: VAOS

#11930 Don't set vaCompensationType when disability rating is nil
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: console-services-review

#12005 Reverts v2 healthcheck updates
  modules/claims_api/app/controllers/claims_api/upstream_healthcheck_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/ok_computer_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/upstream_healthcheck_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/ok_computer_controller.rb
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/metadata_request_spec.rb
Labels: Lighthouse, claimsApi

#11867 [53040] Mocked Authentication `authorize` route setup
  .rubocop_todo.yml
  config/redis.yml
  config/routes.rb
  modules/mocked_authentication/app/controllers/application_controller.rb
  modules/mocked_authentication/app/controllers/mocked_authentication/credential_providers_controller.rb
  modules/mocked_authentication/app/models/mocked_authentication/mock_credential_info.rb
  modules/mocked_authentication/app/services/mocked_authentication/mock_credential_info_creator.rb
  modules/mocked_authentication/config/routes.rb
  modules/mocked_authentication/lib/mocked_authentication/engine.rb
  modules/mocked_authentication/spec/factories/factories.rb
  modules/mocked_authentication/spec/models/mock_credential_info_spec.rb
  modules/mocked_authentication/spec/requests/credential_providers_request_spec.rb
  modules/mocked_authentication/spec/services/mocked_authentication/mock_credential_info_creator_spec.rb
Labels: identity, identity-backend, console-services-review

#11922 [45352] remove MHV Accounts / Terms & Conditions
  .rubocop.yml
  app/controllers/v0/mhv_accounts_controller.rb
  app/models/mhv_account.rb
  app/models/mhv_account_ineligible.rb
  app/models/terms_and_conditions_acceptance.rb
  app/models/user.rb
  app/policies/mhv_account_creation_policy.rb
  app/serializers/mhv_account_serializer.rb
  app/services/mhv_accounts_service.rb
  app/services/users/services.rb
  app/swagger/swagger/requests/profile.rb
  app/workers/mhv/account_statistics_job.rb
  config/redis.yml
  config/routes.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/mhv_accounts.rb
  spec/jobs/mhv/account_statistics_job_spec.rb
  spec/models/mhv_account_spec.rb
  spec/requests/mhv_accounts_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/user_request_spec.rb
  spec/services/mhv_accounts_service_spec.rb
  spec/services/mhv_logging_service_spec.rb
Labels: identity, identity-backend, console-services-review

#11964 Lighthouse Direct Deposit Controller
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  app/policies/lighthouse_policy.rb
  app/services/users/services.rb
  config/features.yml
  config/routes.rb
  lib/backend_services.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/financial_institution.rb
  lib/lighthouse/direct_deposit/payment_account.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  lib/lighthouse/direct_deposit/payment_information_response.rb
  lib/lighthouse/direct_deposit/response.rb
  lib/lighthouse/direct_deposit/service.rb
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
  spec/lib/lighthouse/direct_deposit/service_spec.rb
  spec/policies/lighthouse_policy_spec.rb
  spec/requests/user_request_spec.rb
  spec/services/users/services_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/get_valid_200.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/200_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/400_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/401_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/403_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/404_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/502_response.yml
  spec/support/vcr_cassettes/lighthouse/direct_deposit/update/200_response.yml
Labels: console-services-review

#11981 4842: remove unused maintenance window
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/MaintenanceWindows.yml
Labels: mobile

#11980 add decision letters
  modules/mobile/app/controllers/mobile/v0/decision_letters_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/decision_letters.rb
  modules/mobile/app/models/mobile/v0/decision_letter.rb
  modules/mobile/app/serializers/mobile/v0/decision_letter_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/DecisionLetterRecord.yml
  modules/mobile/docs/schemas/DecisionLetters.yml
  modules/mobile/spec/request/decision_letters_request_spec.rb
  modules/mobile/spec/support/schemas/decision_letter.json
Labels: mobile

#12030 Ruby 3: Replace FastJsonapi requires
  lib/generators/module_component/templates/app/serializers/serializer.rb.erb
  modules/mobile/app/serializers/mobile/v0/appointment_preferences_serializer.rb
  modules/mobile/app/serializers/mobile/v0/claim_overview_serializer.rb
  modules/mobile/app/serializers/mobile/v0/community_care_eligibility_serializer.rb
  modules/mobile/app/serializers/mobile/v0/facility_eligibility_serializer.rb
  modules/mobile/app/serializers/mobile/v0/gender_identity_options_serializer.rb
  modules/mobile/app/serializers/mobile/v0/letters_beneficiary_serializer.rb
  modules/mobile/app/serializers/mobile/v0/military_information_serializer.rb
  modules/mobile/app/serializers/mobile/v0/payment_history_serializer.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/app/serializers/mobile/v0/veterans_affairs_eligibility_serializer.rb
  modules/mobile/app/serializers/mobile/v1/user_serializer.rb
  modules/vaos/app/serializers/vaos/v0/availability_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cancel_reason_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_eligibility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/cc_supported_sites_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_institution_serializer.rb
  modules/vaos/app/serializers/vaos/v0/clinic_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_booking_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/direct_scheduling_facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_serializer.rb
  modules/vaos/app/serializers/vaos/v0/facility_visit_serializer.rb
  modules/vaos/app/serializers/vaos/v0/preferences_serializer.rb
  modules/vaos/app/serializers/vaos/v0/request_eligibility_criteria_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_pact_serializer.rb
  modules/vaos/app/serializers/vaos/v0/system_serializer.rb
  modules/vaos/app/serializers/vaos/v2/cc_eligibility_serializer.rb
  modules/vaos/app/serializers/vaos/v2/patient_appointment_metadata_serializer.rb
Labels: VAOS, mobile, console-services-review

#12019 39154 removed unused vaos v0 cce controller
  modules/vaos/app/controllers/vaos/v0/cc_eligibility_controller.rb
Labels: VAOS

#11995 Update SiS localhost oauth and token signing certs
  spec/fixtures/sign_in/oauth.crt
  spec/fixtures/sign_in/oauth.key
  spec/fixtures/sign_in/oauth_test.crt
  spec/fixtures/sign_in/oauth_test.key
  spec/fixtures/sign_in/privatekey.pem
  spec/lib/sign_in/idme/service_spec.rb
Labels: console-services-review

#12020 VaNotify - Refactor 5490 and 1990 email confirmation
  app/models/saved_claim/education_benefits.rb
  app/models/saved_claim/education_benefits/va_1990.rb
  app/models/saved_claim/education_benefits/va_5490.rb
  spec/models/saved_claim/education_benefits/va1990_spec.rb
  spec/models/saved_claim/education_benefits/va5490_spec.rb
  spec/models/saved_claim/education_benefits_spec.rb
Labels: console-services-review

#12036 39154 removed unused v0 cc supported sites implementation
  modules/vaos/app/controllers/vaos/v0/cc_supported_sites_controller.rb
  modules/vaos/app/services/vaos/cc_supported_sites_service.rb
  modules/vaos/spec/request/cc_supported_sites_request_spec.rb
  modules/vaos/spec/services/cc_supported_sites_service_spec.rb
Labels: VAOS

#12023 Removed VAOS v0 Messages Controller and Request Specs
  modules/vaos/app/controllers/vaos/v0/messages_controller.rb
  modules/vaos/app/serializers/vaos/v0/messages_serializer.rb
  modules/vaos/spec/request/messages_request_spec.rb
Labels: VAOS

#12025 Removed VAOS Messages Service and Rspecs
  modules/vaos/app/models/vaos/message_form.rb
  modules/vaos/app/services/vaos/messages_service.rb
  modules/vaos/spec/models/message_form_spec.rb
  modules/vaos/spec/services/messages_service_spec.rb
Labels: VAOS

#11858 Use va profile military personnel api to prefill 1010ez form
  app/models/form_profile.rb
  config/features.yml
  config/form_profile_mappings/1010ez.yml
  lib/hca/military_information.rb
  lib/va_profile/models/service_history.rb
  spec/lib/hca/military_information_spec.rb
  spec/models/form_profile_spec.rb
Labels: console-services-review

#12033 Update appeals API oauth docs with actual scopes
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/contestable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/appeals_status_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, banana-peels

#12032 Ruby 3 KwArgs: Fix Vaos Logging Spec
  modules/vaos/app/services/vaos/middleware/vaos_logging.rb
Labels: VAOS

#12018 GHA code check cleanup
  .github/workflows/code_checks.yml
  docker-compose.gha.yml
Labels: console-services-review

#12021 Monitor RRD/MAS handoff successes and failures with StatsD
  app/models/concerns/form526_rapid_ready_for_decision_concern.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

#12053 Disable Coverband in test environment
  Gemfile
  config/routes.rb
Labels: console-services-review

#12047 Removed VAOS v0 Appointment Controller and Some Rspecs
  modules/vaos/app/controllers/vaos/v0/appointments_controller.rb
  modules/vaos/spec/request/appointments_request_spec.rb
Labels: VAOS

#12058 GitHub Actions: Use less CPU cores
  .github/workflows/code_checks.yml
Labels: console-services-review

#12061 Updated imagePullPolicy and restartPolicy and mounted volumes
  chart/Chart.yaml
  chart/templates/cron-deployment.yaml
  docs/index.yaml
  docs/vets-api-0.11.03.tgz
Labels: platform-tech-team-1

#11971 Updated Gemfile.lock
  Gemfile.lock
Labels: console-services-review

#12059 Ruby 3 Upgrade: Fix modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/mobile/app/controllers/mobile/v0/messages_controller.rb
Labels: mobile

#12048 Fixing specs that redefine modules which eager_loading was complainin…
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
  modules/appeals_api/spec/services/appeals_api/evidence_submission_request_validator_spec.rb
  modules/appeals_api/spec/services/appeals_api/line_of_business_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/pages/additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/pages/hearing_type_and_additional_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/long_data_and_extra_issues_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/pages/time_extension_reason_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/pages/additional_pages_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_data_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/form_fields_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
  modules/appeals_api/spec/services/appeals_api/slack/default_notification_spec.rb
  modules/appeals_api/spec/services/appeals_api/slack/error_retry_notification_spec.rb
  modules/appeals_api/spec/services/appeals_api/slack/messager_spec.rb
  modules/appeals_api/spec/workers/appeal_received_job_spec.rb
  modules/appeals_api/spec/workers/status_updated_job_spec.rb
  modules/facilities_api/spec/models/facilities_api/v1/lighthouse/facility_spec.rb
  modules/facilities_api/spec/models/facilities_api/v1/ppms/provider_spec.rb
  modules/facilities_api/spec/models/facilities_api/v1/ppms/specialty_spec.rb
  modules/facilities_api/spec/serializers/facilities_api/v1/lighthouse/facility_serializer_spec.rb
  modules/facilities_api/spec/services/facilities_api/v1/ppms/response_spec.rb
  spec/controllers/concerns/form_attachment_create_spec.rb
  spec/controllers/v0/decision_review_evidences_controller_spec.rb
  spec/controllers/v0/form1010cg/attachments_controller_spec.rb
  spec/controllers/v0/hca_attachments_controller_spec.rb
  spec/controllers/v0/preneeds/preneed_attachments_controller_spec.rb
  spec/controllers/v0/upload_supporting_evidences_controller_spec.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/lib/carma/client/mule_soft_configuration_spec.rb
  spec/lib/claim_letters/claim_letter_downloader_spec.rb
  spec/lib/claim_status_tool/claim_letter_downloader_spec.rb
Labels: console-services-review

#12065 Revert "Updated Gemfile.lock "
  Gemfile.lock
Labels: console-services-review

#12029 Use token validation service v3 for appeals OAuth
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
  modules/appeals_api/spec/support/shared_examples_for_openid_auth.rb
  rakelib/appeals_api_oauth.rake
  spec/support/vcr_cassettes/token_validation/v3/indicates_token_is_invalid.yml
  spec/support/vcr_cassettes/token_validation/v3/indicates_token_is_valid.yml
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12067 Updated Gemfile.lock
  Gemfile.lock
Labels: console-services-review

#12066 Add more jobs to the sidekiq hpa
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review, platform-tech-team-1

#12046 4910 update docs for authorizedServices and availableServices
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/User.yml
  modules/mobile/docs/schemas/v1/User.yml
Labels: mobile

#12064 Updating engine spec helper template and unnecessary functions
  lib/generators/module/templates/spec/spec_helper.rb.erb
  modules/appeals_api/spec/spec_helper.rb
  modules/apps_api/spec/spec_helper.rb
  modules/check_in/spec/spec_helper.rb
  modules/claims_api/spec/spec_helper.rb
  modules/covid_research/spec/spec_helper.rb
  modules/debts_api/spec/spec_helper.rb
  modules/dhp_connected_devices/spec/spec_helper.rb
  modules/facilities_api/spec/spec_helper.rb
  modules/forms_api/spec/spec_helper.rb
  modules/health_quest/spec/spec_helper.rb
  modules/meb_api/spec/spec_helper.rb
  modules/openid_auth/spec/spec_helper.rb
  modules/va_forms/spec/spec_helper.rb
  modules/va_notify/spec/spec_helper.rb
  modules/vba_documents/spec/spec_helper.rb
  modules/veteran/spec/spec_helper.rb
  modules/veteran_confirmation/spec/spec_helper.rb
  modules/veteran_verification/spec/spec_helper.rb
Labels: console-services-review

#12055 Lighthouse direct deposit
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  app/policies/lighthouse_policy.rb
  lib/lighthouse/direct_deposit/control_information.rb
  lib/lighthouse/direct_deposit/payment_information.rb
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
  spec/policies/lighthouse_policy_spec.rb
  spec/support/vcr_cassettes/lighthouse/direct_deposit/show/403_response.yml
Labels: console-services-review

#12039 Api 24396 faraday poa history
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/models/veteran/service/user_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
  modules/veteran/spec/models/veteran/user_spec.rb
Labels: claimsApi

#11994 Api 24569 itf v2 oas updates
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
Labels: Lighthouse, claimsApi

#12044 API-24700-error-message-docs
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/lib/claims_api/common/exceptions/token_validation_error.rb
  modules/claims_api/spec/lib/claims_api/error/error_handler_spec.rb
Labels: Lighthouse, claimsApi

#12057 Remove No Longer Needed VAOS v0 Appointment Request Rspecs
  modules/vaos/spec/request/appointments_request_spec.rb
Labels: VAOS

#11973 [11945] Creating logout redirects for sign in service that are depend…
  app/controllers/v0/sign_in_controller.rb
  app/models/sign_in/client_config.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/logout_redirect_generator.rb
  db/seeds/development.rb
  lib/sign_in/logingov/service.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/client_configs.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/logout_redirect_generator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
Labels: console-services-review

#12078 39154 direct schedule controller and spec cleanup
  modules/vaos/app/controllers/vaos/v0/direct_booking_eligibility_criteria_controller.rb
  modules/vaos/app/controllers/vaos/v0/direct_scheduling_facilities_controller.rb
  modules/vaos/spec/request/direct_booking_eligiblity_criteria_request_spec.rb
Labels: VAOS

#12072 Adding logging and adjusting form4142 triggering logic
  app/controllers/v1/supplemental_claims_controller.rb
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/decision_review_v1/utilities/helpers.rb
Labels: console-services-review

#12041 API-24666-null-phase-chage-date
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: Lighthouse, claimsApi

#12073 Increase sidekiq hpa cron job
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review, platform-tech-team-1

#12083 Removed sidekiq hpa testing cron job
  app/models/sidekiq_hpa_cron_jobs.rb
Labels: console-services-review, platform-tech-team-1

#12017 Mobile: 4897 decision letters download
  modules/mobile/app/controllers/mobile/v0/decision_letters_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/decision_letters_request_spec.rb
Labels: mobile

#12095 Removing logging of user uuid and icn in supp claim logging
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  lib/decision_review_v1/service.rb
Labels: console-services-review

#12085 Removed VAOS v0 Appointment Requests Controller
  modules/vaos/app/controllers/vaos/v0/appointment_requests_controller.rb
  modules/vaos/spec/request/appointments_request_spec.rb
Labels: VAOS

#12090 Ruby 3 KwArgs: Fix Folder Request Spec
  lib/sm/client.rb
  modules/mobile/app/controllers/mobile/v0/folders_controller.rb
Labels: mobile, console-services-review

#12092 Ruby 3 KwArgs: Fix misc specs
  modules/claims_api/app/workers/claims_api/ews_updater.rb
  modules/claims_api/spec/lib/claims_api/evidence_waiver_pdf_constructor/pdf_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/registration_email_job_spec.rb
  modules/covid_vaccine/spec/jobs/covid_vaccine/scheduled_batch_job_spec.rb
  modules/health_quest/spec/request/patients_request_spec.rb
  modules/mobile/spec/workers/vet360_linking_spec.rb
  modules/va_notify/spec/workers/email_job_spec.rb
  modules/va_notify/spec/workers/icn_job_spec.rb
  modules/vaos/app/services/vaos/appointment_service.rb
  modules/vaos/spec/services/appointment_service_spec.rb
Labels: VAOS, mobile

#12097 changed actor_type for check_in_experience_updated_appt_presentation
  config/features.yml
Labels: console-services-review

#12013 Create login adoption service for Organic Modal Experiment
  app/controllers/v0/user_transition_availabilities_controller.rb
  app/services/acceptable_verified_credential_adoption_service.rb
  config/routes.rb
  spec/requests/v0/user_transition_availabilities_controller_spec.rb
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

#12101 39154 removed v0 preferences controller and request specs
  modules/vaos/app/controllers/vaos/v0/preferences_controller.rb
  modules/vaos/spec/request/preferences_request_spec.rb
Labels: VAOS

#12104 [virtual_agent#857] Adding floating bot feature toggle
  config/features.yml
Labels: console-services-review

#12100 Chore: Update bundler for docker
  Dockerfile
  Gemfile.lock
Labels: console-services-review

#12108 Chore: Sync Docker k8 file
  Dockerfile-k8s
Labels: console-services-review

#12106 Removed VAOS v0 Request Eligibility Criteria Controller
  modules/vaos/app/controllers/vaos/v0/request_eligibility_criteria_controller.rb
  modules/vaos/app/serializers/vaos/v0/request_eligibility_criteria_serializer.rb
  modules/vaos/spec/request/request_eligibility_criteria_request_spec.rb
Labels: VAOS

#12014 Change double splat params to keywords
  app/controllers/v1/sessions_controller.rb
  lib/saml/user_attributes/ssoe.rb
Labels: console-services-review

#12099 Add additional logging to RX library
  lib/rx/middleware/response/rx_failed_station.rb
  lib/rx/middleware/response/rx_parser.rb
Labels: console-services-review

#12008 Generate Higher-Level Review PDF v3
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/form_fields.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/pages/additional_issues.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v3/structure.rb
  modules/appeals_api/spec/fixtures/v3/expected_200996.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200996_extra.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200996_maxlength.pdf
  modules/appeals_api/spec/fixtures/v3/expected_200996_minimum.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: Lighthouse, appeals, banana-peels

#12107 Correct content type for appeals token validation
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
Labels: Lighthouse, appeals, banana-peels

#12102 add profile feature toggle
  config/features.yml
Labels: console-services-review

#12112 Removed No Longer Used VAOS v0 Pact Controller
  modules/vaos/app/controllers/vaos/v0/pact_controller.rb
  modules/vaos/app/serializers/vaos/v0/system_pact_serializer.rb
  modules/vaos/spec/request/systems_request_spec.rb
Labels: VAOS

#12115 Bundler >2.2 reorder the Gemfile.lock
  Gemfile.lock
Labels: console-services-review

#12088 bdex/54076: Design Common Api Interface
  .github/CODEOWNERS
  app/controllers/v0/disability_compensation_forms_controller.rb
  config/features.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  lib/disability_compensation/providers/rated_disabilities/rated_disabilities_provider.rb
  lib/disability_compensation/responses/rated_disabilities_response.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/evss_rated_disabilities_provider_spec.rb
  spec/lib/disability_compensation/providers/lighthouse_rated_disabilities_provider_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities_provider_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/disability_compensation_form/shared_examples/rated_disabilities_provider.rb
Labels: console-services-review, disability-experience

#12113 Flipperize & remove stuck records from DailyErrorReport
  config/features.yml
  modules/appeals_api/app/mailers/appeals_api/daily_error_report_mailer.rb
  modules/appeals_api/app/mailers/appeals_api/weekly_error_report_mailer.rb
  modules/appeals_api/app/views/appeals_api/daily_error_report_mailer/mailer.html.erb
  modules/appeals_api/app/workers/appeals_api/daily_error_report.rb
  modules/appeals_api/app/workers/appeals_api/daily_stuck_records_report.rb
  modules/appeals_api/app/workers/appeals_api/weekly_error_report.rb
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/appeals_api/spec/mailers/daily_error_report_mailer_spec.rb
  modules/appeals_api/spec/mailers/weekly_error_report_mailer_spec.rb
  modules/appeals_api/spec/workers/appeals_api/daily_error_report_spec.rb
Labels: Lighthouse, appeals, console-services-review, banana-peels

#12129 VaNotify - Fix bug with edu forms
  app/models/saved_claim/education_benefits.rb
Labels: console-services-review

#12141 Update rails to 6.1.7.3 and rack to 2.2.6.4
  Gemfile.lock
Labels: console-services-review

#12144 redo cleanup branch
  .github/workflows/preview-environment-cleanup.yml
  script/github-actions/pe-cleanup.js
Labels: console-services-review

#12119 Removed VAOS v0 Direct Scheduling Facilities Serializer
  modules/vaos/app/serializers/vaos/v0/direct_scheduling_facility_serializer.rb
  modules/vaos/spec/request/systems_request_spec.rb
Labels: VAOS

#12128 54542 Log Atlas Details for Telehealth Appointments
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_and_log_data.yml
Labels: VAOS, console-services-review

#12134 API-24717 Support Lighthouse V3 token validation upgrade
  app/controllers/openid_application_controller.rb
  app/models/openid_user_identity.rb
  lib/okta/service.rb
  spec/controllers/openid_application_controller_spec.rb
Labels: Lighthouse, console-services-review

#12114 [11974] Creating logout proxy for logingov sign in service authentica…
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/logout_redirect_generator.rb
  config/routes.rb
  config/settings.yml
  lib/sign_in/logingov/service.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/logout_redirect_generator_spec.rb
Labels: console-services-review

#12120 Lighthouse Direct Deposit changes
  app/controllers/v0/comp_and_pen/direct_deposits_controller.rb
  app/serializers/comp_and_pen_direct_deposit_serializer.rb
  config/settings.yml
  spec/controllers/v0/comp_and_pen/direct_deposits_controller_spec.rb
Labels: console-services-review

#12122 mobile - remove appointment logging
  modules/mobile/app/services/mobile/v2/appointments/proxy.rb
Labels: mobile

#12157 54619 Modify CIE betamocks Config
  config/betamocks/services_config.yml
Labels: console-services-review

#12160 Remove NCA LOB flag
  config/features.yml
  lib/central_mail/utilities.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/metadata_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/metadata_swagger.rb
  modules/vba_documents/lib/vba_documents/pdf_inspector.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/request/v2/uploads_request_submission_spec.rb
Labels: console-services-review, benefits-intake, banana-peels

#12162 5089 change vaos v2 logging message
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: VAOS

#12111 Mobile: 4975 update order of gender identity values
  lib/va_profile/models/gender_identity.rb
  modules/mobile/docs/schemas/GenderIdentityEdit.yml
  modules/mobile/spec/request/gender_identity_request_spec.rb
Labels: mobile, console-services-review

#12165 Changing safelisted remote IP
  config/initializers/rack_attack.rb
Labels: console-services-review

#12145 Pe update main
  .github/workflows/preview-environment-update-main.yml
Labels: console-services-review

#12118 Api 24649 enable 526 v2 docs in lowers
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#12168 bumping json schema
  Gemfile.lock
  app/swagger/swagger/v1/schemas/appeals/supplemental_claims.rb
Labels: console-services-review

#12155 API-25147 Fix quotes and double boolean casting
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
Labels: Lighthouse, claimsApi

#12147 Removed VAOS v0 Clinic Institutions Controller
  modules/vaos/app/controllers/vaos/v0/clinic_institutions_controller.rb
  modules/vaos/app/serializers/vaos/v0/clinic_institution_serializer.rb
  modules/vaos/spec/request/systems_request_spec.rb
Labels: VAOS

#12098 Increase number of 1010cg retries
  app/workers/form1010cg/submission_job.rb
Labels: console-services-review

#12063 [54956] SiS Constants Isolation
  app/models/sign_in/credential_level.rb
  app/services/sign_in/acr_translator.rb
  app/services/sign_in/attribute_validator.rb
  app/services/sign_in/constants/auth.rb
  app/services/sign_in/credential_level_creator.rb
  app/services/sign_in/user_creator.rb
  app/services/sign_in/user_loader.rb
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/service.rb
  lib/sign_in/logingov/service.rb
  spec/factories/sign_in/credential_levels.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/models/sign_in/credential_level_spec.rb
  spec/services/sign_in/acr_translator_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/credential_level_creator_spec.rb
  spec/services/sign_in/user_creator_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: identity, identity-backend, console-services-review

#12109 [45352] removes MHV Accounts table
  db/migrate/20230314210725_drop_mhv_accounts.rb
  db/schema.rb
Labels: identity, identity-backend, console-services-review

#12173 Removed VAOS v0 API Docs Controller
  modules/vaos/app/controllers/vaos/v0/apidocs_controller.rb
  modules/vaos/spec/request/apidocs_request_spec.rb
Labels: VAOS

#12174 54542 telehealth logging on post
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_and_logs_data.yml
Labels: VAOS, console-services-review

#12158 updates prod swagger
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: claimsApi

#12181 54619 Removing CIE throttling for test environments
  config/initializers/rack_attack.rb
Labels: console-services-review

#12179 Removed VAOS v0 CC Eligibility Serializer and Request Rspecs
  modules/vaos/app/serializers/vaos/v0/cc_eligibility_serializer.rb
  modules/vaos/spec/request/cc_eligibility_request_spec.rb
Labels: VAOS
