Repository department-of-veterans-affairs/vets-api, pull requests merged in 2023-08, with the labels that each got.

#13388 [DBeX-60979] wrap 4142 3rd party action in logging
  app/controllers/v0/upload_supporting_evidences_controller.rb
  app/models/form526_submission.rb
  app/workers/central_mail/submit_form4142_job.rb
  app/workers/evss/document_upload.rb
  lib/logging/third_party_transaction.rb
  spec/lib/logging/third_party_transaction_spec.rb
Labels: console-services-review

#13272 925 evss to lighthouse
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_lighthouse_claim_spec.rb
  spec/fixtures/lighthouse_claim/claim.json
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/claims_multiple_open_compensation_claims.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/claims_with_single_open_compensation_claim.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/no_open_compensation_claims.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/only_closed_comp_claims.yml
Labels: console-services-review

#13283 Add VCR recording for empty DMC response
  spec/lib/debt_management_center/debts_service_spec.rb
  spec/support/vcr_cassettes/debts/get_letters_empty_response.yml
Labels: console-services-review

#13357 Update feature toggle declaration for HCA application
  config/features.yml
Labels: console-services-review

#13399 Added warning clamav comments
  chart/values.yaml
Labels: console-services-review

#13391 60084 pid logging add status
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
Labels: VAOS

#13400 Update claims token validation content
  lib/token_validation/v2/client.rb
  spec/support/vcr_cassettes/token_validation/v2/indicates_token_is_valid.yml
Labels: console-services-review, claimsApi

#13410 EVSS to lighthouse virtual agent claims Bug fix
  app/controllers/v0/virtual_agent/virtual_agent_claim_controller.rb
Labels: console-services-review

#13401 [DBX-61003] wrap form 526 ancillary jobs in logging
  app/models/form526_submission.rb
Labels: console-services-review

#13303 Fix 504s returning as 500s
  config/locales/exceptions.en.yml
  lib/lighthouse/letters_generator/service_error.rb
  spec/lib/lighthouse/letters_generator/fakeResponses/fakeTimeout.json
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: console-services-review

#13398 [62615] Allow SharePoint uploads to be isolated
  app/workers/form5655/vha/sharepoint_submission_job.rb
  app/workers/form5655/vha/vbs_submission_job.rb
  app/workers/form5655/vha_resubmission_job.rb
  lib/debt_management_center/sharepoint/request.rb
  spec/factories/form5655_submission.rb
  spec/jobs/form5655/vha/sharepoint_submission_job_spec.rb
  spec/jobs/form5655/vha/vbs_submission_job_spec.rb
  spec/lib/debt_management_center/sharepoint/request_spec.rb
Labels: console-services-review

#13405 My VA - add my_va_update_errors_warnings feature toggle
  config/features.yml
Labels: console-services-review

#13408 update regex to account for some symbols
  lib/bgs/utilities/helpers.rb
  spec/jobs/bgs/job_spec.rb
Labels: console-services-review

#13404 [BDX-60990] add logging around flash updater in 526 flow
  app/workers/bgs/flash_updater.rb
Labels: console-services-review

#13402 [DBX-60986] add logging around form 8940 submission
  app/workers/evss/disability_compensation_form/submit_form8940.rb
Labels: console-services-review

#13403 [DBX-60987] add logging to upload of bdd instructions
  app/workers/evss/disability_compensation_form/upload_bdd_instructions.rb
Labels: console-services-review

#13261 Lh doc service controller
  app/controllers/v0/benefits_documents_controller.rb
  app/models/lighthouse_document.rb
  config/routes.rb
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  spec/controllers/v0/benefits_documents_controller_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
Labels: mobile, console-services-review

#13413 Add description column to client_configs
  db/migrate/20230803151452_add_description_to_client_configs.rb
  db/schema.rb
Labels: console-services-review

#13416 Add feature flag for debts-api module
  config/features.yml
Labels: console-services-review

#13417 Add description to ClientConfig
  app/controllers/sign_in/client_configs_controller.rb
  spec/factories/sign_in/client_configs.rb
Labels: console-services-review

#13421 DBex/61556: EVSS Migration - 526 Submit - Transform Service - Treatments
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/support/disability_compensation_form/submissions/only_526_required.json
Labels: console-services-review

#13394 [DBeX-60984] wrap form 0781* 3rd party action in logging
  app/workers/evss/disability_compensation_form/submit_form0781.rb
  lib/logging/third_party_transaction.rb
Labels: console-services-review

#13409 [DBX-61003] wrap final 526 submission in logging
  app/workers/evss/disability_compensation_form/submit_form526.rb
Labels: console-services-review

#13359 Updates flipper admin emails for DGIB project
  config/settings.yml
Labels: console-services-review

#13430 [13429] Adding dynamic nonce to sign in service javascript redirect
  lib/sign_in/templates/oauth_get_form.html.erb
Labels: console-services-review

#13323 Refactor changes for Template ID to be read
  app/services/acceptable_verified_credential_adoption_service.rb
  config/settings.yml
  spec/services/acceptable_verified_credential_adoption_service_spec.rb
Labels: console-services-review

#13423 [13422] Adding combined user_agent/remote_ip as a combined 'fingerprint' field for logs
  config/environments/production.rb
Labels: console-services-review

#13395 61126 chip get token
  config/betamocks/services_config.yml
  config/settings/test.yml
  lib/chip/configuration.rb
  lib/chip/service.rb
  spec/lib/chip/configuration_spec.rb
  spec/lib/chip/service_spec.rb
Labels: console-services-review

#13427 [62290] Toggle vha fsr confirmation template
  app/models/form5655_submission.rb
  config/settings.yml
  lib/debt_management_center/financial_status_report_service.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
  spec/models/form5655_submission_spec.rb
Labels: console-services-review

#13433 59919 update debts api module
  app/controllers/v0/financial_status_reports_controller.rb
  modules/debts_api/app/controllers/debts_api/v0/financial_status_reports_controller.rb
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vba_submission_job.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vha_submission_job.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/factories/form5655_submission.rb
  modules/debts_api/spec/fixtures/debt.json
  modules/debts_api/spec/fixtures/non_sw_form5655_submission.json
  modules/debts_api/spec/fixtures/sw_form5655_submission.json
  modules/debts_api/spec/fixtures/sw_fsr_submission.json
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
  spec/controllers/v0/financial_status_reports_controller_spec.rb
Labels: console-services-review

#13424 62095 chip get token
  lib/chip/configuration.rb
  lib/chip/service_exception.rb
  spec/lib/chip/service_spec.rb
  spec/support/vcr_cassettes/chip/token/token_200.yml
  spec/support/vcr_cassettes/chip/token/token_500.yml
Labels: console-services-review

#13445 Revert "59919 update debts api module"
  app/controllers/v0/financial_status_reports_controller.rb
  modules/debts_api/app/controllers/debts_api/v0/financial_status_reports_controller.rb
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vba_submission_job.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vha_submission_job.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/factories/form5655_submission.rb
  modules/debts_api/spec/fixtures/debt.json
  modules/debts_api/spec/fixtures/non_sw_form5655_submission.json
  modules/debts_api/spec/fixtures/sw_form5655_submission.json
  modules/debts_api/spec/fixtures/sw_fsr_submission.json
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
  spec/controllers/v0/financial_status_reports_controller_spec.rb
Labels: console-services-review

#13437 Add mobile sm access denied logging
  modules/mobile/app/controllers/mobile/messaging_controller.rb
Labels: mobile

#13441 DBex/61553: EVSS Migration - 526 Submit - Transform Service - Service Pay
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/support/disability_compensation_form/submissions/only_526_required.json
  spec/support/disability_compensation_form/submissions/with_everything.json
Labels: console-services-review

#13435 API-27076: Update Benefits Intake API Documentation to State `source` Not Required
  modules/vba_documents/app/swagger/vba_documents/document_upload/v1/metadata_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/document_upload/v2/metadata_swagger.rb
Labels: Lighthouse, banana-peels

#13443 #62907: Add feature toggle for the After Visit Summary feature
  config/features.yml
Labels: console-services-review

#13387 61123 chip update confirmations
  config/betamocks/services_config.yml
  lib/chip/service.rb
  spec/lib/chip/service_spec.rb
  spec/support/vcr_cassettes/chip/authenticated_check_in/post_check_in_200.yml
  spec/support/vcr_cassettes/chip/authenticated_check_in/post_check_in_invalid_appointment_200.yml
  spec/support/vcr_cassettes/chip/authenticated_check_in/post_check_in_unknown_server_error_500.yml
  spec/support/vcr_cassettes/chip/authenticated_demographics/update_demographics_200.yml
  spec/support/vcr_cassettes/chip/authenticated_demographics/update_demographics_500.yml
  spec/support/vcr_cassettes/chip/authenticated_demographics/update_demographics_504.yml
Labels: console-services-review

#13415 [DBX-60999] wrap ITF loading in logging
  app/controllers/v0/intent_to_files_controller.rb
  app/controllers/v0/upload_supporting_evidences_controller.rb
  lib/logging/third_party_transaction.rb
Labels: console-services-review

#13456 API-27167-cleanup-526-v2 -- Formats example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
Labels: Lighthouse, claimsApi

#13450 Add AVS feature toggle
  config/features.yml
Labels: console-services-review

#13449 API-27998-bool-align-526-v2
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
Labels: Lighthouse, claimsApi

#13436 Fix gaps in 1010 health apps automated testing
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/lib/pdf_fill/forms/va1010cg_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: console-services-review

#13428 API 28635 claims controller v1 undefined method error
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_spec.rb
Labels: Lighthouse, claimsApi

#13205 Api 27304 generate 526 pdf
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/lib/pdf_generator_service/pdf_client.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
  spec/support/vcr_cassettes/526_pdf_generator/form526.yml
Labels: Lighthouse, console-services-review, claimsApi

#13432 VAOS Update requestedPeriods Field for Booked Cerner Appointments
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_booked_cerner.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_booked_cerner.yml
Labels: VAOS

#13477 API-27167-cleanup-526-v2--Formats-request-json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
Labels: Lighthouse, claimsApi

#13478 Api 27167 cleanup 526 v2 formats example
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
Labels: Lighthouse, claimsApi

#13439 Update benefits_claims service to handle Faraday timeouts properly
  lib/lighthouse/benefits_claims/service.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
Labels: console-services-review

#13474 Adding in longer timeouts
  lib/evss/configuration.rb
Labels: console-services-review

#13473 Adds: Feature Flag for September updates
  config/features.yml
Labels: console-services-review

#13442 [DBX-60995, 60994] wrap back-up submission sub functions in logging
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#13414 [DBX-61001] wrap prefill of user data in 526 in logging
  app/controllers/v0/users_controller.rb
Labels: console-services-review

#13434 [DBX-60992] wrap backup 526 submission path in logging
  app/models/form526_submission.rb
Labels: console-services-review

#13460 61122 CHIP Get Demographics
  lib/chip/service.rb
  spec/lib/chip/service_spec.rb
  spec/support/vcr_cassettes/chip/authenticated_demographics/get_demographics_200.yml
  spec/support/vcr_cassettes/chip/authenticated_demographics/get_demographics_500.yml
Labels: console-services-review

#13475 remove toggle
  config/features.yml
Labels: console-services-review

#13458 Add max rating feature toggle for frontend use
  config/features.yml
Labels: console-services-review

#13447 mobile: add demographics endpoint
  modules/mobile/app/controllers/mobile/v0/demographics_controller.rb
  modules/mobile/app/serializers/mobile/v0/demographics_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/request/demographics_request_spec.rb
  spec/support/vcr_cassettes/mobile/va_profile/demographics/demographics_error_400.yml
  spec/support/vcr_cassettes/mobile/va_profile/demographics/demographics_error_404.yml
  spec/support/vcr_cassettes/mobile/va_profile/demographics/demographics_error_503.yml
Labels: mobile, console-services-review

#13471 Add unified landing page feature toggle
  config/features.yml
Labels: console-services-review

#13462 Adding new flipper for updated sign in page and modal design experiment
  config/features.yml
Labels: console-services-review

#13482 Remove old check-in users
  config/settings.yml
Labels: console-services-review

#13486 63183 remove hours of operation on facilities serializer
  modules/vaos/app/serializers/vaos/v2/facilities_serializer.rb
Labels: VAOS

#13265 VaNotify - Add email confirmation for 5495
  app/models/saved_claim/education_benefits/va_5495.rb
  config/features.yml
  config/settings.yml
  spec/factories/va5495.rb
  spec/models/saved_claim/education_benefits/va5495_spec.rb
Labels: console-services-review

#13506 Xit flakey claims doucment upload test
  modules/mobile/spec/request/claims_document_upload_spec.rb
  modules/mobile/spec/request/legacy_claims_document_upload_spec.rb
Labels: mobile

#13481 Mobile: Create User Contact Information Show Endpoint
  modules/mobile/app/controllers/mobile/v0/contact_info_controller.rb
  modules/mobile/app/serializers/mobile/v0/contact_info_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/UserContactInfo.yml
  modules/mobile/spec/request/contact_info_request_spec.rb
Labels: mobile

#13027 Appeals unsafe mode
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
Labels: Lighthouse, appeals, banana-peels

#13503 Remove 1010cg auditor code that is no longer being used
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  app/services/form1010cg/auditor.rb
  spec/services/form1010cg/auditor_spec.rb
Labels: console-services-review

#13479 API-27167-cleanup-526-v2--Formats-526-schema
  modules/claims_api/config/schemas/v2/526.json
Labels: Lighthouse, claimsApi

#13496 claim document fixes
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/spec/request/claims_document_upload_spec.rb
Labels: mobile, console-services-review

#13515 Remove streamlined key from VBA FSR form
  lib/debt_management_center/financial_status_report_service.rb
Labels: console-services-review

#13500 API-27314-526-v2-doc-updates
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
Labels: Lighthouse, claimsApi

#13494 Mobile: Create demographics docs
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/UserDemographics.yml
Labels: mobile

#13487 [DBX-61000] wrap internal 526 PDF generation and related services in …
  app/workers/evss/disability_compensation_form/submit_form0781.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#13526 33415 record metrics on copay pdf generation
  app/services/medical_copays/vbs/service.rb
Labels: console-services-review

#13488 Redesign SubmitForm686cJob and SubmitForm674Job to no longer depend on a User session after the job is created
  app/services/bgs/dependent_service.rb
  app/workers/bgs/submit_form674_job.rb
  app/workers/bgs/submit_form686c_job.rb
  spec/jobs/bgs/submit_form674_job_spec.rb
  spec/jobs/bgs/submit_form686c_job_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: console-services-review

#13531 [13527] Adding meta refresh for sign in service form redirect
  app/services/sign_in/redirect_url_generator.rb
  lib/sign_in/templates/oauth_get_form.html.erb
  modules/mocked_authentication/lib/credential/service.rb
  modules/mocked_authentication/spec/lib/credential/service_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/lib/sign_in/idme/service_spec.rb
  spec/lib/sign_in/logingov/service_spec.rb
  spec/services/sign_in/redirect_url_generator_spec.rb
Labels: console-services-review

#13517 Mobile: Add Authorized Services Endpoint
  modules/mobile/app/controllers/mobile/v0/authorized_services_controller.rb
  modules/mobile/app/models/mobile/v0/user_accessible_services.rb
  modules/mobile/app/serializers/mobile/v0/authorized_services_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/UserAuthorizedServices.yml
  modules/mobile/spec/models/user_accessible_services_spec.rb
  modules/mobile/spec/request/authorized_services_spec.rb
Labels: mobile

#13495 Api 28818 confirm optional values
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#13535 Avoid overlapping issue text in NOD forms
  modules/appeals_api/app/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure.rb
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v2/expected_10182.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v2/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v2/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v2/expected_10182_minimal.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v3/expected_10182.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v3/expected_10182_extra.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v3/expected_10182_maxlength.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v3/expected_10182_minimal.pdf
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: Lighthouse, appeals, banana-peels

#13534 Mobile: Lighthouse to evss error matching
  modules/mobile/app/models/mobile/v0/adapters/lighthouse_direct_deposit_error.rb
  modules/mobile/spec/request/payment_information_request_spec.rb
Labels: mobile

#13491 API-28523 Move NOD v0 header data to body
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/config/routes.rb
  modules/appeals_api/config/schemas/notice_of_disagreements/v0/10182.json
  modules/appeals_api/config/schemas/notice_of_disagreements/v0/10182_headers.json
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_extra.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_headers.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_headers_extra.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_minimum.json
  modules/appeals_api/spec/models/notice_of_disagreement_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
Labels: Lighthouse, appeals, banana-peels

#13360 [54884] Sign in Service dual-certificate support
  app/services/sign_in/idme_public_key_fetcher.rb
  app/services/sign_in/openid_connect_certificates_presenter.rb
  config/settings.yml
  lib/sign_in/idme/configuration.rb
  lib/sign_in/idme/errors.rb
  spec/controllers/sign_in/openid_connect_certificates_controller_spec.rb
  spec/fixtures/sign_in/idme_public_keys.json
  spec/fixtures/sign_in/privatekey_old.pem
  spec/lib/sign_in/idme/service_spec.rb
  spec/services/sign_in/idme_public_key_fetcher_spec.rb
  spec/services/sign_in/openid_connect_certificates_presenter_spec.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
  spec/support/vcr_cassettes/identity/idme_404_response.yml
  spec/support/vcr_cassettes/identity/idme_no_rs256_key_response.yml
Labels: console-services-review

#13516 Claims replace evss docs with bd
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/vcr_cassettes/claims_api/v2/claims_show.yml
Labels: console-services-review, claimsApi

#13425 API 28553 remove unnecessary request attributes going to docker container
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
  spec/support/vcr_cassettes/526_pdf_generator/form526.yml
  spec/support/vcr_cassettes/claims_api/disability_comp.yml
Labels: Lighthouse, console-services-review, claimsApi

#13547 API-27918-replace-evss-claim-check
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#13302 Setup flipper using warden-github pattern
  app/controllers/flipper_controller.rb
  config/application.rb
  config/features.yml
  config/initializers/warden_github.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  lib/flipper/admin_user_constraint.rb
  lib/flipper/views/feature.erb
  lib/flipper/views/features.erb
  lib/flipper/views/layout.erb
  public/images/github-mark-white.png
  spec/requests/flipper_request_spec.rb
Labels: console-services-review

#13549 6402 facility info refactor
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/facilities_info_request_spec.rb
  spec/support/vcr_cassettes/mobile/appointments/get_multiple_facilities_without_children_200.yml
Labels: mobile, console-services-review

#13557 Revert "Fix Flipper GH login button"
  lib/flipper/views/feature.erb
  lib/flipper/views/features.erb
Labels: console-services-review

#13558 Revert "Setup flipper using warden-github pattern"
  app/controllers/flipper_controller.rb
  config/application.rb
  config/features.yml
  config/initializers/warden_github.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  lib/flipper/admin_user_constraint.rb
  lib/flipper/views/feature.erb
  lib/flipper/views/features.erb
  lib/flipper/views/layout.erb
  public/images/github-mark-white.png
  spec/requests/flipper_request_spec.rb
Labels: console-services-review

#13565 Bump puma 6.3.0 -> 6.3.1
  Gemfile.lock
Labels: console-services-review

#13563 54110 GitHub teams for flipper
  app/controllers/flipper_controller.rb
  config/application.rb
  config/features.yml
  config/initializers/warden_github.rb
  config/routes.rb
  config/settings.yml
  config/settings/test.yml
  lib/flipper/admin_user_constraint.rb
  lib/flipper/views/feature.erb
  lib/flipper/views/features.erb
  lib/flipper/views/layout.erb
  public/images/github-mark-white.png
  spec/requests/flipper_request_spec.rb
Labels: console-services-review

#13561 Lighthouse claim benefits documents configuration updates
  lib/lighthouse/benefits_documents/configuration.rb
  spec/lib/lighthouse/benefits_documents/configuration_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_document_upload_200.yml
Labels: console-services-review

#13554 Mobile: Create Mobile V2 User Endpoint
  modules/mobile/app/controllers/mobile/v2/users_controller.rb
  modules/mobile/app/serializers/mobile/v2/user_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/v2/User.yml
  modules/mobile/spec/request/v2/user_request_spec.rb
  modules/mobile/spec/support/schemas/v2/user.json
Labels: mobile

#13501 Modify max_rating_annotator.rb to use the VRO client to call max-ratings endpoint
  app/services/claim_fast_tracking/max_rating_annotator.rb
  config/features.yml
  config/settings.yml
  lib/virtual_regional_office/client.rb
  spec/lib/virtual_regional_office/client_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/models/form_profile_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
  spec/services/claim_fast_tracking/max_rating_annotator_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/max_ratings.yml
  spec/support/vcr_cassettes/virtual_regional_office/max_ratings_failure.yml
Labels: console-services-review

#13566 Flipper bug: Fix issue with user email
  lib/flipper/admin_user_constraint.rb
Labels: console-services-review

#13559 move to existing settings value
  config/settings/test.yml
  modules/claims_api/lib/bd/bd.rb
Labels: console-services-review, claimsApi

#13525 Feature flipper for form 21P-0847
  config/features.yml
Labels: console-services-review

#13541 Api 28989 update pdf gen date mappings
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#13568 Flipper hot fix - 403 on local toggle
  lib/flipper/admin_user_constraint.rb
Labels: console-services-review

#13375 Api 27320 evss pact mapping 2
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#13528 Rating info auth
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/policies/evss_policy.rb
  app/policies/lighthouse_policy.rb
  spec/controllers/v0/disability_compensation_forms_controller_spec.rb
Labels: console-services-review

#13564 Api 28606 update ssn error
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/claims_api/spec/models/veteran_spec.rb
Labels: Lighthouse, claimsApi

#13575 [DBX-61000] revert problematic logging
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: console-services-review

#13562 Adds logging to ITF
  modules/claims_api/app/controllers/claims_api/v2/veterans/intent_to_file_controller.rb
Labels: Lighthouse, claimsApi

#13504 Add feature flag
  modules/mobile/spec/request/legacy_claims_document_upload_spec.rb
Labels: console-services-review

#13581 add logging
  modules/mobile/app/services/mobile/v0/legacy_disability_rating/proxy.rb
Labels: mobile

#13572 Fix ITF flipper call to allow conditional actors
  lib/disability_compensation/factories/api_provider_factory.rb
Labels: console-services-review

#13588 Bump rubocop from 1.54.2 to 1.56.0
  .rubocop_todo.yml
  Gemfile.lock
  app/models/account.rb
  app/models/form526_submission.rb
  app/models/saved_claim/caregivers_assistance_claim.rb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/models/user_verification.rb
  app/serializers/evss_claim_base_serializer.rb
  app/serializers/evss_claim_detail_serializer.rb
  app/workers/education_form/forms/va_1990.rb
  app/workers/vbms/submit_dependents_pdf_job.rb
  lib/common/models/attribute_types/iso8601_time.rb
  lib/flipper/instrumentation/event_subscriber.rb
  lib/hca/validations.rb
  lib/va_profile/demographics/service.rb
  lib/va_profile/military_personnel/service.rb
  lib/va_profile/models/service_history.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/claims_api/lib/claims_api/service_branch_mapper.rb
  modules/mobile/app/models/mobile/v0/appointment.rb
  spec/lib/decision_review/schemas_spec.rb
  spec/support/fixture_helpers.rb
  spec/support/request_helper.rb
Labels: mobile, console-services-review

#13583 Update mobile claim documents params and benefits configuration fixes
  lib/lighthouse/benefits_documents/configuration.rb
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  spec/lib/lighthouse/benefits_documents/configuration_spec.rb
Labels: mobile, console-services-review

#13540 63697 Modify Chip library base path
  config/betamocks/services_config.yml
  config/redis.yml
  lib/chip/service.rb
  spec/support/vcr_cassettes/chip/authenticated_check_in/post_check_in_200.yml
  spec/support/vcr_cassettes/chip/authenticated_check_in/post_check_in_invalid_appointment_200.yml
  spec/support/vcr_cassettes/chip/authenticated_check_in/post_check_in_unknown_server_error_500.yml
  spec/support/vcr_cassettes/chip/authenticated_demographics/update_demographics_200.yml
  spec/support/vcr_cassettes/chip/authenticated_demographics/update_demographics_500.yml
Labels: console-services-review

#13578 MHV-47432 Added PHR refresh
  config/locales/exceptions.en.yml
  lib/common/client/concerns/mhv_jwt_session_client.rb
  lib/medical_records/client_session.rb
  lib/medical_records/phr_mgr/client.rb
  lib/medical_records/phr_mgr/configuration.rb
  modules/my_health/app/controllers/my_health/mr_controller.rb
  spec/lib/medical_records/client_spec.rb
  spec/lib/medical_records/phr_mgr/client_spec.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/phr_mgr_client/check_phr_refresh_status.yml
  spec/support/vcr_cassettes/phr_mgr_client/perform_a_phr_refresh.yml
  spec/support/vcr_cassettes/phr_mgr_client/perform_a_phr_refresh_with_bad_icn.yml
Labels: console-services-review

#13584 API-28634 Cast hash to array
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_spec.rb
Labels: Lighthouse, claimsApi

#13580 Api 26642 brd cleanup
  modules/claims_api/lib/brd/brd.rb
  spec/support/vcr.rb
Labels: Lighthouse, console-services-review, claimsApi

#13598 Generated new codeowners file from platform-codeowners database
  .github/CODEOWNERS
Labels: console-services-review

#13596 Logs for mobile legacy dr
  modules/mobile/app/services/mobile/v0/legacy_disability_rating/proxy.rb
Labels: mobile

#13545 CODEOWNERS automation for file addition and deletion
  .github/scripts/check_codeowners.sh
  .github/scripts/check_deleted_files.sh
  .github/workflows/check_codeowners.yml
Labels: console-services-review

#13602 Removed extra backend-review-group entries
  .github/CODEOWNERS
Labels: console-services-review

#13601 Multi img doc upload spec fix
  modules/mobile/spec/request/claims_document_upload_spec.rb
  modules/mobile/spec/request/legacy_claims_document_upload_spec.rb
Labels: mobile

#13499 Add feature toggle for Rated Disabilities Lighthouse migration
  config/features.yml
Labels: console-services-review

#13570 Update VeteranVerification::Service to pass ICN as part of the URL
  lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider.rb
  lib/lighthouse/auth/client_credentials/configuration.rb
  lib/lighthouse/veteran_verification/configuration.rb
  lib/lighthouse/veteran_verification/service.rb
  modules/mobile/app/services/mobile/v0/disability_rating/proxy.rb
  spec/lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider_spec.rb
  spec/lib/lighthouse/veteran_verification/service_spec.rb
  spec/models/form526_submission_spec.rb
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/200_Not_Connected_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/200_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/400_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/401_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/403_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/404_ICN_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/405_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/413_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/429_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/500_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/502_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/503_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/disability_rating/504_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_Not_Connected_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_individual_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_multiple_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/200_no_individual_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/400_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/401_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/403_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/404_ICN_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/405_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/413_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/429_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/500_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/502_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_disability_rating/503_response.yml
Labels: mobile, console-services-review

#13579 Api 29023 omit fields for update
  modules/claims_api/app/workers/claims_api/ews_updater.rb
Labels: claimsApi

#13605 63697 modify chip check in api parameters
  lib/chip/service.rb
  spec/lib/chip/service_spec.rb
Labels: console-services-review

#13604 64079 SW no flag user submissions should send a nil streamlined value
  lib/debt_management_center/financial_status_report_service.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#13613 Bump rails/activerecord for CVE (+update codeowners)
  .github/CODEOWNERS
  Gemfile.lock
Labels: console-services-review

#13509 Handle timeouts
  app/controllers/v0/letters_generator_controller.rb
  lib/lighthouse/letters_generator/service.rb
  lib/lighthouse/service_exception.rb
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/spec/request/letters_request_spec.rb
  spec/controllers/v0/letters_generator_controller_spec.rb
  spec/lib/lighthouse/letters_generator/service_spec.rb
Labels: VAOS, mobile, console-services-review

#13590 API-28524 Move Higher-Level Reviews headers to body
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/models/appeals_api/appellant.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/higher_level_reviews/v0/200996.json
  modules/appeals_api/config/schemas/higher_level_reviews/v0/200996_headers.json
  modules/appeals_api/config/schemas/notice_of_disagreements/v0/10182.json
  modules/appeals_api/config/schemas/shared/v0/fileNumber.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/200995.json
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/fixtures/decision_reviews/v1/valid_200996_headers.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_headers.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_headers_extra.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_headers_minimum.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_minimum.json
  modules/appeals_api/spec/models/appellant_spec.rb
  modules/appeals_api/spec/models/higher_level_review_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
Labels: Lighthouse, appeals, banana-peels

#13599 Fix URLs in appeals API docs
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/api_description_dev.md
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description_dev.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/api_description_dev.md
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/api_description_dev.md
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
Labels: Lighthouse, appeals, banana-peels

#13611 API-28646: Use OAuth Scope Display Names in Appeals API Docs
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/appeals_status/v1_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, banana-peels

#13616 Update Codeowners GHA message prompt
  .github/workflows/check_codeowners.yml
Labels: console-services-review

#13490 [AVS] Main PR
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/betamocks/services_config.yml
  config/routes.rb
  config/settings.yml
  modules/avs/Gemfile
  modules/avs/README.rdoc
  modules/avs/Rakefile
  modules/avs/app/controllers/avs/v0/apidocs_controller.rb
  modules/avs/app/controllers/avs/v0/avs_controller.rb
  modules/avs/app/models/avs/v0/after_visit_summary.rb
  modules/avs/app/serializers/avs/v0/after_visit_summary_serializer.rb
  modules/avs/app/services/avs/base_service.rb
  modules/avs/app/services/avs/configuration.rb
  modules/avs/app/services/avs/response.rb
  modules/avs/app/services/avs/v0/avs_service.rb
  modules/avs/app/swagger/avs/v0/requests/after_visit_summary.rb
  modules/avs/app/swagger/avs/v0/requests/after_visit_summary_search.rb
  modules/avs/app/swagger/avs/v0/schemas/avs.rb
  modules/avs/app/swagger/avs/v0/schemas/avs_search_result.rb
  modules/avs/app/swagger/avs/v0/schemas/errors.rb
  modules/avs/avs.gemspec
  modules/avs/bin/rails
  modules/avs/config/routes.rb
  modules/avs/lib/avs.rb
  modules/avs/lib/avs/engine.rb
  modules/avs/lib/avs/version.rb
  modules/avs/spec/models/avs/v0/after_visit_summary_spec.rb
  modules/avs/spec/request/v0/apidoc_spec.rb
  modules/avs/spec/request/v0/avs_request_spec.rb
  modules/avs/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
  spec/support/vcr_cassettes/avs/search/9876543.yml
  spec/support/vcr_cassettes/avs/search/empty.yml
  spec/support/vcr_cassettes/avs/search/unauthorized.yml
  spec/support/vcr_cassettes/avs/show/9A7AF40B2BC2471EA116891839113252.yml
  spec/support/vcr_cassettes/avs/show/not_found.yml
  spec/support/vcr_cassettes/avs/show/unauthorized.yml
Labels: console-services-review

#13567 DBEX/62666: Enable Rated Disability in production for vets website requests: Pre-launch tasks
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/controllers/v0/intent_to_files_controller.rb
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  app/models/form526_submission.rb
  app/models/form_profiles/va_526ez.rb
  config/features.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/jobs/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities/evss_rated_disabilities_provider_spec.rb
  spec/lib/disability_compensation/providers/rated_disabilities/lighthouse_rated_disabilities_provider_spec.rb
  spec/models/form526_submission_spec.rb
  spec/models/form_profile_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
Labels: console-services-review

#13595 API-526-v2-multi-exposure-list
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/request.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/forms/disability/submission.json
Labels: console-services-review, claimsApi

#13569 API-28523 Move NOD evidence submission headers to body
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/notice_of_disagreements/v0/evidence_submission.json
  modules/appeals_api/config/schemas/supplemental_claims/v0/evidence_submission.json
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, banana-peels

#13626 Add name to codeowners job
  .github/workflows/check_codeowners.yml
  lib/disability_compensation/factories/api_provider_factory.rb
Labels: console-services-review

#13627 New flipper dependency requires update to profile attributes
  app/models/user_profile_attributes.rb
  lib/user_profile_attribute_service.rb
  spec/lib/user_profile_attribute_service_spec.rb
Labels: console-services-review

#13622 API-29158 Backport download endpoint to Decision Reviews v2
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/pdf_downloads.rb
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/v2/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/v2/supplemental_claims_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_pdf_downloads.rb
Labels: Lighthouse, appeals, banana-peels

#13630 Rename eMIS policy to VA Profile
  .github/CODEOWNERS
  app/models/emis_redis/veteran_status.rb
  app/models/form_profile.rb
  app/policies/va_profile_policy.rb
  modules/veteran_verification/app/controllers/veteran_verification/v0/service_history_controller.rb
  modules/veteran_verification/app/controllers/veteran_verification/v0/veteran_status_controller.rb
  modules/veteran_verification/app/controllers/veteran_verification/v1/service_history_controller.rb
  modules/veteran_verification/app/controllers/veteran_verification/v1/veteran_status_controller.rb
  spec/models/form_profile_spec.rb
  spec/models/user_spec.rb
  spec/policies/va_profile_policy_spec.rb
Labels: console-services-review

#13632 [64196] - TermsOfUseAgreement migrations
  db/migrate/20230824175915_create_terms_of_use_agreements.rb
  db/schema.rb
Labels: console-services-review

#13625 Adds mhv_landing_page_show_prioirty_group feature toggle (#61049)
  config/features.yml
Labels: console-services-review

#13646 Revert 64079
  lib/debt_management_center/financial_status_report_service.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  spec/lib/debt_management_center/financial_status_report_service_spec.rb
Labels: console-services-review

#13644 VFEP-794 - Add Donna as a recipient and remove Jarred on staging spool email list
  config/settings.yml
Labels: console-services-review

#13636 API-28646: Add Client Credentials Grant (CCG) Flow to Segmented Appeals APIs OAS
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/support/doc_helpers.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, banana-peels

#13585 Api 28347 store pdf in aws
  config/settings.yml
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/lib/pdf_generator_service/pdf_client.rb
Labels: Lighthouse, console-services-review, claimsApi

#13650 Generated new codeowners file
  .github/CODEOWNERS
Labels: console-services-review

#13560 VANotify - Add confirmation email to 21-4142
  config/features.yml
  config/settings.yml
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/confirmation_email.rb
  modules/simple_forms_api/spec/requests/v1/uploads_spec.rb
Labels: console-services-review

#13607 [CST] Separate lighthouse feature toggles
  config/features.yml
Labels: console-services-review

#13629 64152 remove unused client class
  lib/chip/client.rb
  spec/lib/chip/client_spec.rb
Labels: console-services-review

#13643 Log metrics on rated-disabilities view for In Progress Form 526
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  spec/requests/in_progress_forms_request_spec.rb
Labels: console-services-review

#13641 Log max CFI metrics on submit
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  app/models/form526_submission.rb
  config/settings.yml
  spec/models/form526_submission_spec.rb
  spec/support/disability_compensation_form/submissions/only_526_tinnitus.json
  spec/support/vcr_cassettes/evss/disability_compensation_form/rated_disabilities_tinnitus_max_rated.yml
  spec/support/vcr_cassettes/evss/disability_compensation_form/rated_disabilities_tinnitus_not_max_rated.yml
  spec/support/vcr_cassettes/virtual_regional_office/max_ratings.yml
  spec/support/vcr_cassettes/virtual_regional_office/max_ratings_failure.yml
Labels: console-services-review

#13631 [64196] - Create TermsOfUseAgreement model
  app/models/terms_of_use_agreement.rb
  app/models/user_account.rb
  spec/factories/terms_of_use_agreements.rb
  spec/models/terms_of_use_agreement_spec.rb
Labels: console-services-review

#13645 Mobile add appt check in demographics endpoint
  config/settings.yml
  modules/mobile/app/controllers/mobile/v0/check_in_demographics_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/check_in_demographics.rb
  modules/mobile/app/serializers/mobile/v0/check_in_demographics_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/request/check_in_demographics_request_spec.rb
  spec/support/vcr_cassettes/mobile/check_in/get_demographics_200.yml
  spec/support/vcr_cassettes/mobile/check_in/get_demographics_500.yml
  spec/support/vcr_cassettes/mobile/check_in/token_200.yml
Labels: mobile, console-services-review
