Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-11, with the labels that each got.

#19182 83845 nb disability benefts migrate submit uploads to lighthouse
  app/sidekiq/evss/disability_compensation_form/submit_uploads.rb
  config/features.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider.rb
  spec/sidekiq/evss/disability_compensation_form/submit_uploads_spec.rb
Labels: test-passing, require-backend-approval

#19099 Switch Settings.dig to dot notation
  app/controllers/v1/nod_callbacks_controller.rb
  app/controllers/v1/pension_ipf_callbacks_controller.rb
  config/settings.yml
  modules/appeals_api/app/controllers/appeals_api/appealable_issues/v0/appealable_issues_controller.rb
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/appeals_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/covid_vaccine/app/sidekiq/covid_vaccine/scheduled_batch_job.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#19196 [SIMPLE-FORMS] doc: review and update form remediation solution documentation
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/docs/README.md
Labels: test-passing, require-backend-approval

#19216 [SIMPLE-FORMS] fix: update s3 pre-fetched url logic
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/s3_client.rb
  modules/simple_forms_api/spec/services/form_remediation/s3_client_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19145 Remove Unused Settings - Part 4
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/flipper/README.md
Labels: test-passing, require-backend-approval

#19156 PBP 95969 Manual Remediation Script
  .github/CODEOWNERS
  app/models/form_submission_attempt.rb
  lib/zero_silent_failures/manual_remediation/saved_claim.rb
  lib/zero_silent_failures/monitor.rb
  spec/factories/saved_claim.rb
  spec/lib/zero_silent_failures/manual_remediation/saved_claim_spec.rb
  spec/models/form_submission_attempt_spec.rb
Labels: burial-benefits, pension-benefits, test-passing, require-backend-approval, zero-silent-failures

#19169 Stop saving `benefits_intake_uuid` on Form Submissions
  app/sidekiq/central_mail/submit_central_form686c_job.rb
  app/sidekiq/central_mail/submit_form4142_job.rb
  app/sidekiq/lighthouse/income_and_assets_intake_job.rb
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
  modules/pensions/app/sidekiq/pensions/pension_benefit_intake_job.rb
  modules/pensions/lib/zero_silent_failures/manual_remediation.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/scanned_form_uploads_controller.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_archive.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_remediation_data.rb
  modules/simple_forms_api/app/services/simple_forms_api/pdf_uploader.rb
  modules/simple_forms_api/spec/services/form_remediation/submission_archive_spec.rb
  modules/simple_forms_api/spec/services/form_remediation/submission_remediation_data_spec.rb
  spec/factories/form_submissions.rb
  spec/models/form_submission_spec.rb
  spec/sidekiq/central_mail/submit_central_form686c_job_spec.rb
Labels: needs-test, test-passing, require-backend-approval, merge-conflict

#19078 91828: Create general monitor classes
  .github/CODEOWNERS
  lib/logging/monitor.rb
  lib/zero_silent_failures/monitor.rb
  spec/lib/logging/monitor_spec.rb
Labels: burial-benefits, pension-benefits, test-passing, require-backend-approval

#19211 BE | Ask VA Api: Update InquiryPayload and VeteranProfile
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/veteran_profile.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload_spec.rb
  modules/ask_va_api/spec/support/shared_contexts.rb
Labels: test-passing, require-backend-approval

#18872 [10-10CG] download_pdf refactor
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  config/brakeman.ignore
  config/features.yml
  spec/requests/v0/caregivers_assistance_claims_spec.rb
Labels: test-passing, require-backend-approval

#19228 CI Unittest Settings correction
  spec/lib/va_notify/notification_email/saved_claim_spec.rb
Labels: platform, burial-benefits, pension-benefits, test-passing, require-backend-approval

#19207 Add representation-management to Datadog service catalog
  datadog-service-catalog/datadog-service-catalog.yml
Labels: test-passing, require-backend-approval

#19208 Add correct Datadog service tag to FlagAccreditedRepresentativesController
  modules/representation_management/app/controllers/representation_management/v0/flag_accredited_representatives_controller.rb
Labels: test-passing, require-backend-approval

#19215 [10-10CG] Update log from debug to error
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  spec/requests/v0/caregivers_assistance_claims_spec.rb
Labels: test-passing, require-backend-approval

#19204 Fix bug in polling 4142 status
  app/sidekiq/decision_review/saved_claim_sc_status_updater_job.rb
  spec/fixtures/supplemental_claims/SC_4142_show_response_200.json
  spec/sidekiq/decision_review/saved_claim_sc_status_updater_job_spec.rb
Labels: test-passing, require-backend-approval

#19183 Send email notifications for 4142 failures
  app/models/secondary_appeal_form.rb
  app/sidekiq/decision_review/failure_notification_email_job.rb
  config/settings.yml
  config/settings/test.yml
  spec/sidekiq/decision_review/failure_notification_email_job_spec.rb
Labels: test-passing, require-backend-approval

#19201 EDM-229/remove operating hours from sob
  .github/CODEOWNERS
  app/controllers/v0/backend_statuses_controller.rb
  app/controllers/v1/post911_gi_bill_statuses_controller.rb
  app/models/backend_status.rb
  app/serializers/backend_status_serializer.rb
  app/swagger/swagger/requests/backend_statuses.rb
  config/locales/exceptions.en.yml
  config/routes.rb
  lib/lighthouse/benefits_education/outside_working_hours.rb
  lib/lighthouse/benefits_education/service.rb
  postman/vets-api.pm-collection.json
  spec/controllers/v1/post911_gi_bill_statuses_controller_spec.rb
  spec/factories/backend_statuses.rb
  spec/lib/lighthouse/benefits_education/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/backend_status_spec.rb
  spec/requests/v1/post911_gi_bill_status_spec.rb
  spec/serializers/backend_status_serializer_spec.rb
Labels: test-passing, require-backend-approval

#19221 Stop saving benefits_intake_uuid to form submission spec factory
  spec/factories/form_submissions.rb
Labels: test-passing, require-backend-approval

#19186 83846 disability benefits migrate 0781 uploads to lighthouse
  app/sidekiq/evss/disability_compensation_form/submit_form0781.rb
  config/features.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form0781_spec.rb
Labels: test-passing, require-backend-approval

#19154 [DBX-94173] fix timestamp string bug in 526 failure email
  app/sidekiq/form526_status_polling_job.rb
  app/sidekiq/form526_submission_failure_email_job.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/sidekiq/form526_status_polling_job_spec.rb
  spec/sidekiq/form526_submission_failure_email_job_spec.rb
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval, zero-silent-failures

#19237 clinic sorting error handling and logging hotfix
  modules/vaos/app/controllers/vaos/v2/clinics_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: test-passing, require-backend-approval

#19173 update mobile specs
  modules/mobile/spec/requests/mobile/v0/messaging/health/message_drafts_spec.rb
  modules/mobile/spec/requests/mobile/v0/messaging/health/messages_spec.rb
Labels: test-passing, require-backend-approval

#19200 Vanotify - callback updates
  modules/va_notify/app/services/va_notify/status_update.rb
  modules/va_notify/lib/va_notify/service.rb
  modules/va_notify/spec/lib/service_spec.rb
  modules/va_notify/spec/services/status_update_spec.rb
Labels: test-passing, require-backend-approval

#19232 New supp claim forms, initial mappings
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v4/form_fields.rb
Labels: Lighthouse, appeals, banana-peels, ready-for-backend-review, test-passing, require-backend-approval

#19043 API-41363-replace-bgs-ext-for-ews-updater
  config/features.yml
  modules/claims_api/app/sidekiq/claims_api/ews_updater.rb
  modules/claims_api/lib/bgs_service/benefit_claim_web_service.rb
  modules/claims_api/spec/sidekiq/ews_updater_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19217 [Lighthouse Doc Upload Migration] Fix 526 Document Upload provider ID logging
  lib/disability_compensation/providers/document_upload/evss_supplemental_document_upload_provider.rb
  lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider.rb
  spec/lib/disability_compensation/providers/document_upload/evss_supplemental_document_upload_provider_spec.rb
  spec/lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider_spec.rb
  spec/sidekiq/evss/disability_compensation_form/submit_uploads_spec.rb
  spec/sidekiq/evss/disability_compensation_form/upload_bdd_instructions_spec.rb
Labels: test-passing, require-backend-approval

#19229 Remove unused max ratings flags.
  app/services/claim_fast_tracking/max_rating_annotator.rb
  config/features.yml
  spec/services/claim_fast_tracking/max_rating_annotator_spec.rb
Labels: test-passing, require-backend-approval

#19210 [API-40542] Create POA Request - Return Proc ID
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  spec/support/schemas/claims_api/v2/veterans/power_of_attorney/request_representative/submit.json
Labels: claimsApi, test-passing, omit-backend-approval

#19199 fix: Only include encrypted records with non-null fields for rotation
  app/sidekiq/kms_key_rotation/batch_initiator_job.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19165 Api 41362 dependent poa file upload. (v1 & v2)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/services/claims_api/disability_compensation/disability_document_service.rb
  modules/claims_api/app/services/claims_api/document_service_base.rb
  modules/claims_api/app/services/claims_api/evidence_waiver_document_service.rb
  modules/claims_api/app/services/claims_api/poa_document_service.rb
  modules/claims_api/app/sidekiq/claims_api/poa_assign_dependent_claimant_job.rb
  modules/claims_api/app/sidekiq/claims_api/poa_updater.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v1/poa_form_builder_job.rb
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/spec/requests/v1/forms/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122a_spec.rb
  modules/claims_api/spec/sidekiq/poa_assign_dependent_claimant_job_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19180 initial commit of pcpg work based on exhisting benefits intake zsf work
  .github/CODEOWNERS
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
  app/sidekiq/lighthouse/submit_career_counseling_job.rb
  config/features.yml
  config/settings.yml
  lib/pcpg/monitor.rb
  spec/lib/pcpg/monitor_spec.rb
  spec/sidekiq/lighthouse/submit_career_counseling_job_spec.rb
Labels: test-passing, require-backend-approval

#19148 cont. updating mobile specs to use committee gem
  modules/mobile/docs/openapi.json
  modules/mobile/docs/schemas/Address.yml
  modules/mobile/docs/schemas/AddressCreate.yml
  modules/mobile/docs/schemas/AddressUpdate.yml
  modules/mobile/docs/schemas/Appeal.yml
  modules/mobile/docs/schemas/AppealIssue.yml
  modules/mobile/docs/schemas/AppointmentCheckin.yml
  modules/mobile/docs/schemas/AppointmentCheckinErrors400.yml
  modules/mobile/docs/schemas/Claim.yml
  modules/mobile/docs/schemas/ClaimsAndAppeals.yml
  modules/mobile/docs/schemas/DecisionLetterRecord.yml
  modules/mobile/docs/schemas/PaymentHistory.yml
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/docs/schemas/PrescriptionTrackingRecord.yml
  modules/mobile/docs/schemas/PrescriptionsRefill.yml
  modules/mobile/docs/schemas/UserContactInfoAddress.yml
  modules/mobile/docs/schemas/UserContactInfoPhone.yml
  modules/mobile/spec/requests/mobile/v0/appeal_spec.rb
  modules/mobile/spec/requests/mobile/v0/appointments/check_in_spec.rb
  modules/mobile/spec/support/helpers/committee_helper.rb
Labels: test-passing, require-backend-approval

#19230 Retrieve ICN from past submissions + user verification records when missing from Lighthouse submission
  app/models/form526_submission.rb
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/models/form526_submission_spec.rb
Labels: disability-compensation, test-passing, require-backend-approval

#19223 #95981 monitor notification status
  app/controllers/v1/nod_callbacks_controller.rb
  spec/controllers/v1/nod_callbacks_controller_spec.rb
Labels: test-passing, require-backend-approval

#19209 updates VANotify::InProgressFormReminder
  modules/va_notify/app/services/va_notify/in_progress_form_reminder.rb
  modules/va_notify/spec/services/in_progress_form_reminder_spec.rb
  modules/va_notify/spec/sidekiq/in_progress_form_reminder_spec.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
Labels: test-passing, require-backend-approval

#19231 83846 disability benefits migrate 0781 a uploads to lighthouse
  spec/sidekiq/evss/disability_compensation_form/submit_form0781_spec.rb
Labels: test-passing, require-backend-approval

#19235 MBMS-78696 Added 40-10007 error email flipper to features.yml
  config/features.yml
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
Labels: test-passing, require-backend-approval

#19248 BE | Ask VA Api: Update minor spelling in InquiryPayload and Fix SubmitterProfile ssn
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/submitter_profile.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/submitter_profile_spec.rb
  modules/ask_va_api/spec/support/shared_contexts.rb
Labels: test-passing, require-backend-approval

#19243 Add RSpec tags to direct deposit spec files
  spec/controllers/v0/profile/direct_deposits_controller_spec.rb
  spec/mailers/direct_deposit_mailer_spec.rb
  spec/serializers/direct_deposits_serializer_spec.rb
Labels: test-passing, require-backend-approval

#19184 95906 Add new email template value for form 10-7959f-1 failure notifications - IVC CHAMPVA
  config/settings.yml
Labels: test-passing, require-backend-approval

#19251 Update 0781 specs to log submission_id and submitted_claim_id
  spec/sidekiq/evss/disability_compensation_form/submit_form0781_spec.rb
Labels: test-passing, require-backend-approval

#19226 Add credential emails route to user
  app/controllers/v0/users_controller.rb
  config/routes.rb
  spec/controllers/v0/users_controller_spec.rb
Labels: test-passing, omit-backend-approval

#19247 Add StatsD zero silent failure tracking to Document upload jobs
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/lighthouse/document_upload.rb
  spec/sidekiq/evss/document_upload_spec.rb
  spec/sidekiq/lighthouse/document_upload_spec.rb
Labels: test-passing, require-backend-approval

#19181 PBP 95969 Pension and Burial remediation script refactor
  modules/burials/lib/zero_silent_failures/manual_remediation.rb
  modules/burials/spec/lib/zero_silent_failures/manual_remediation_spec.rb
  modules/pensions/lib/zero_silent_failures/manual_remediation.rb
  modules/pensions/spec/lib/zero_silent_failures/manual_remediation_spec.rb
Labels: burial-benefits, pension-benefits, test-passing, require-backend-approval, zero-silent-failures

#19194 API-41638-Stabilizes tests
  modules/claims_api/spec/sidekiq/report_hourly_unsuccessful_submissions_spec.rb
  modules/claims_api/spec/sidekiq/shared_reporting_examples_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#19264 add appeal model enums and update logging
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/appeal.rb
  modules/mobile/docs/schemas/Appeal.yml
  modules/mobile/docs/schemas/AppealIssue.yml
Labels: test-passing, omit-backend-approval

#19246 Add new Vet Verification Service method for LH API request
  config/settings/test.yml
  lib/lighthouse/veteran_verification/configuration.rb
  lib/lighthouse/veteran_verification/service.rb
  spec/lib/lighthouse/veteran_verification/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/200_not_confirmed_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/200_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/400_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/401_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/403_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/413_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/429_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/500_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/502_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/503_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/504_response.yml
Labels: test-passing, require-backend-approval

#19163 VEBT-780 added feature toggle for DGIB endpoints
  config/features.yml
Labels: test-passing, require-backend-approval

#19179 [API-39223] Update poa docs to include dependent claimants
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v1/forms/rswag_2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19274 [API-40054] update poa decide enums
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/power_of_attorney_requests/param/decision/post.json
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/rswag_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19257 MHV-62174 Handle patient not found
  lib/medical_records/client.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_patient_by_identifier_hapi_1363.yml
  spec/support/vcr_cassettes/mr_client/get_a_patient_by_identifier_not_found.yml
Labels: test-passing, require-backend-approval

#19206 API-41445-v1-526-validate-bank-name
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/forms/526_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#19240 [VI-716] - Only create MHV account async during SiS auth
  app/models/user.rb
  app/services/login/after_login_actions.rb
  app/services/sign_in/user_loader.rb
  app/sidekiq/mhv/account_creator_job.rb
  spec/models/user_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#19265 API-41802-handle-empty-unit-name
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/forms/526_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19285 Alphabetize some CODEOWNERS entries
  .github/CODEOWNERS
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19284 fix timezone issue with spec tests causing failures on master
  spec/sidekiq/lighthouse/submit_career_counseling_job_spec.rb
  spec/sidekiq/vre/submit1900_job_spec.rb
Labels: test-passing, require-backend-approval

#19287 95932: Update Pensions monitor
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
Labels: test-passing, require-backend-approval

#19279 [API-39223] OAS Updates for Dependent Claimants (again)
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v1/forms/rswag_2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: claimsApi, test-passing, require-backend-approval

#19168 [CST] Override 'PMR Pending' tracked items to all have the status 'NEED_FROM_OTHERS'
  .github/CODEOWNERS
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/200_response.yml
Labels: test-passing, require-backend-approval

#19238 Fix some tests to prepare to drop benefits_intake_uuid from form_submissions
  app/models/form_submission.rb
  app/models/form_submission_attempt.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_archive.rb
  modules/simple_forms_api/spec/services/form_remediation/jobs/archive_batch_processing_job_spec.rb
  modules/simple_forms_api/spec/services/form_remediation/s3_client_spec.rb
  spec/factories/form_submissions.rb
  spec/lib/forms/submission_statuses/error_handler_spec.rb
  spec/lib/forms/submission_statuses/formatter_spec.rb
  spec/lib/forms/submission_statuses/report_spec.rb
  spec/models/form_submission_spec.rb
  spec/requests/v0/my_va/submission_statuses_spec.rb
Labels: test-passing, require-backend-approval

#19258 expand logs to check for passworded pdfs
  app/controllers/concerns/form_attachment_create.rb
  spec/concerns/form_attachment_create_spec.rb
Labels: test-passing, require-backend-approval

#19252 [DBEX] add polled failure status logging of form 526
  app/sidekiq/form526_status_polling_job.rb
  spec/sidekiq/form526_status_polling_job_spec.rb
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval, zero-silent-failures

#19272 96377: Increase DR Sidekiq jobs retry counts for COLA maintenance
  app/sidekiq/decision_review/form4142_submit.rb
  app/sidekiq/decision_review/submit_upload.rb
Labels: test-passing, require-backend-approval

#19290 Reverts previous work
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/forms/526_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18869 Convert Vets::Model from a class to a module
  app/models/preneeds/base.rb
  lib/vets/model.rb
  lib/vets/response.rb
  spec/lib/vets/model_spec.rb
Labels: test-passing, require-backend-approval

#19295 Fix notification Indentation
  .github/workflows/deploy_delay_notifications.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19278 Add boilerplate for new CI files
  .github/workflows/backend-pr-approver.yml
  .github/workflows/backend-pr-labeler.yml
Labels: test-passing, require-backend-approval

#19303 postman-test container always return success
  postman/Dockerfile
Labels: test-passing, require-backend-approval

#18895 Created AddressValidationService for AddressValidation API V3
  .rubocop_todo.yml
  app/controllers/v0/profile/address_validation_controller.rb
  app/swagger/swagger/requests/profile.rb
  config/initializers/breakers.rb
  config/settings.yml
  lib/va_profile/models/v3/validation_address.rb
  lib/va_profile/v3/address_validation/address_suggestions_response.rb
  lib/va_profile/v3/address_validation/configuration.rb
  lib/va_profile/v3/address_validation/service.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/address_validation_controller.rb
  modules/mobile/app/controllers/mobile/v0/profile_base_controller.rb
  modules/veteran/app/sidekiq/representatives/update.rb
  modules/veteran/lib/tasks/update_vso_addresses.rake
  modules/veteran/spec/sidekiq/representatives/update_spec.rb
  spec/factories/va_profile/v3/validation_address.rb
  spec/lib/va_profile/models/v3/validation_address_spec.rb
  spec/lib/va_profile/v3/address_validation/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/spec_helper.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/va_profile/v3/address_validation/candidate_multiple_matches.yml
  spec/support/vcr_cassettes/va_profile/v3/address_validation/candidate_no_match.yml
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#19254 VACMS-19545: Add check for forms migration
  modules/va_forms/app/sidekiq/va_forms/form_builder.rb
Labels: test-passing, omit-backend-approval

#19312 Remove Indentation from Deploy Delay workflow
  .github/workflows/deploy_delay_notifications.yml
Labels: require-backend-approval

#19314 Run Staging check too
  .github/workflows/deploy_delay_notifications.yml
Labels: require-backend-approval

#19273 API-41807-remove-slack-alerts
  modules/claims_api/app/sidekiq/claims_api/report_hourly_unsuccessful_submissions.rb
  modules/claims_api/spec/sidekiq/report_hourly_unsuccessful_submissions_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#19302 PBP 91426 Logging track_request refactor
  lib/logging/monitor.rb
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
  spec/lib/logging/monitor_spec.rb
Labels: pension-benefits, test-passing, require-backend-approval, zero-silent-failures

#19317 MBMS-78696 Updated First name method
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
Labels: test-passing, require-backend-approval

#19242 87622 nb disability benefits kickoff failure mailers on lighthouse polled document failed
  app/models/lighthouse526_document_upload.rb
  config/features.yml
  lib/lighthouse/benefits_documents/form526/polled_document_failure_handler.rb
  spec/lib/lighthouse/benefits_documents/form526/polled_document_failure_handler_spec.rb
  spec/models/lighthouse526_document_upload_spec.rb
Labels: test-passing, require-backend-approval

#19239 add model to observation on mobile
  modules/mobile/app/controllers/mobile/v0/observations_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/observation.rb
  modules/mobile/app/models/mobile/v0/observation.rb
  modules/mobile/spec/requests/mobile/v0/health/observations_spec.rb
Labels: test-passing, omit-backend-approval

#19311 Update open_claims call to use new ICN lookup
  app/models/concerns/form526_claim_fast_tracking_concern.rb
Labels: disability-compensation, test-passing, require-backend-approval

#19188 Debt team spread out Sharepoint job retry submissions
  modules/debts_api/app/sidekiq/debts_api/v0/form5655/vha/sharepoint_submission_job.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vha/sharepoint_submission_job_spec.rb
Labels: test-passing, require-backend-approval

#18973 95376 Add OCTO silent error logging
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vha/sharepoint_submission_job_spec.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vha/vbs_submission_job_spec.rb
Labels: test-passing, require-backend-approval

#19313 Mhv 61572 add filter for rx vagov
  app/models/prescription_details.rb
  modules/my_health/app/controllers/my_health/v1/prescriptions_controller.rb
  modules/my_health/spec/requests/my_health/v1/prescriptions_spec.rb
  spec/support/schemas/my_health/prescriptions/v1/prescription_list_filtered_with_pagination.json
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_a_list_of_all_prescriptions_vagov.yml
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#19036 Feature/oh allergies
  config/betamocks/services_config.yml
  config/features.yml
  config/settings.yml
  config/settings/test.yml
  lib/lighthouse/veterans_health/client.rb
  lib/lighthouse/veterans_health/configuration.rb
  lib/medical_records/lighthouse_client.rb
  modules/my_health/app/controllers/my_health/mr_controller.rb
  modules/my_health/app/controllers/my_health/v1/allergies_controller.rb
  modules/my_health/spec/requests/my_health/v1/medical_records/allergies_spec.rb
  spec/support/vcr_cassettes/mr_client/get_a_list_of_allergies_oh_data_path.yml
  spec/support/vcr_cassettes/mr_client/get_an_allergy_oh_data_path.yml
Labels: test-passing, require-backend-approval

#19326 Burial 91426 monitor tags
  lib/burials/monitor.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vba_submission_job_spec.rb
  spec/lib/burials/monitor_spec.rb
Labels: burial-benefits, test-passing, require-backend-approval, zero-silent-failures

#19323 Pension 91426 monitoring tagging
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
Labels: pension-benefits, test-passing, require-backend-approval, zero-silent-failures

#19327 Add unique to MHV account creator job
  app/sidekiq/mhv/account_creator_job.rb
  spec/sidekiq/mhv/account_creator_job_spec.rb
Labels: test-passing, require-backend-approval

#19289 Change sidekiq retries to 16
  app/sidekiq/bgs/submit_form674_job.rb
  app/sidekiq/bgs/submit_form686c_job.rb
  app/sidekiq/central_mail/submit_central_form686c_job.rb
  app/sidekiq/evss/disability_compensation_form/form0781_document_upload_failure_email.rb
  app/sidekiq/evss/disability_compensation_form/form4142_document_upload_failure_email.rb
  app/sidekiq/evss/disability_compensation_form/form526_document_upload_failure_email.rb
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  app/sidekiq/evss/disability_compensation_form/submit_uploads.rb
  app/sidekiq/evss/disability_compensation_form/upload_bdd_instructions.rb
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/evss/request_decision.rb
  app/sidekiq/form1010cg/submission_job.rb
  app/sidekiq/form526_submission_failure_email_job.rb
  app/sidekiq/hca/ezr_submission_job.rb
  app/sidekiq/hca/submission_job.rb
  app/sidekiq/lighthouse/create_intent_to_file_job.rb
  app/sidekiq/lighthouse/document_upload.rb
  app/sidekiq/lighthouse/income_and_assets_intake_job.rb
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
  app/sidekiq/lighthouse/submit_career_counseling_job.rb
  app/sidekiq/va_notify_dd_email_job.rb
  app/sidekiq/va_notify_email_job.rb
  app/sidekiq/vbms/submit_dependents_pdf_job.rb
  app/sidekiq/vre/create_ch31_submissions_report_job.rb
  app/sidekiq/vre/submit1900_job.rb
  modules/pensions/app/sidekiq/pensions/pension_benefit_intake_job.rb
  spec/sidekiq/form1010cg/submission_job_spec.rb
Labels: test-passing, require-backend-approval

#19300 Btsss/mask claim id logs
  modules/travel_pay/app/controllers/travel_pay/application_controller.rb
Labels: test-passing, require-backend-approval

#19155 94148: Rename NodCallbacksController to DecisionReviewNotificationCallbacksController
  .github/CODEOWNERS
  app/controllers/v1/decision_review_notification_callbacks_controller.rb
  config/routes.rb
  spec/controllers/v1/decision_review_notification_callbacks_controller_spec.rb
Labels: test-passing, require-backend-approval

#19292 MHV-62902: BBMI email notification setting status api created
  lib/medical_records/bb_internal/client.rb
  modules/my_health/app/controllers/my_health/v1/medical_records/bbmi_notification_controller.rb
  modules/my_health/config/routes.rb
  spec/lib/medical_records/bb_internal/client_spec.rb
  spec/support/vcr_cassettes/mr_client/bb_internal/get_bbmi_notification_setting.yml
Labels: test-passing, require-backend-approval

#19322 [DBX-95173] Normalize 526 failure email flippers
  app/sidekiq/form526_status_polling_job.rb
  config/features.yml
  lib/sidekiq/form526_backup_submission_process/submit.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/sidekiq/form526_status_polling_job_spec.rb
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval, ZSF:Email, zero-silent-failures

#19227 PBP 91426 Error email notification
  app/sidekiq/benefits_intake_status_job.rb
  config/features.yml
  config/settings.yml
  lib/burials/monitor.rb
  lib/va_notify/notification_email/burial.rb
  lib/va_notify/notification_email/saved_claim.rb
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/lib/pensions/notification_email.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
  spec/lib/burials/monitor_spec.rb
  spec/lib/va_notify/notification_email/saved_claim_spec.rb
Labels: burial-benefits, pension-benefits, test-passing, require-backend-approval, zero-silent-failures

#19308 VaNotify - Update callback default params
  modules/va_notify/lib/va_notify/service.rb
  modules/va_notify/spec/lib/service_spec.rb
Labels: test-passing, require-backend-approval

#19318 Add MHV error codes to MHV account error responses
  app/controllers/v0/user/mhv_user_accounts_controller.rb
  app/services/mhv/user_account/creator.rb
  app/services/mhv/user_account/errors.rb
  spec/controllers/v0/user/mhv_user_accounts_controller_spec.rb
Labels: test-passing, require-backend-approval

#19271 Ask va api refactor translator
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_details.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/submitter_profile.rb
  modules/ask_va_api/app/lib/ask_va_api/translator.rb
  modules/ask_va_api/config/locales/dictionary.yml
  modules/ask_va_api/config/locales/en.yml
  modules/ask_va_api/config/locales/get_optionset_mock_data.json
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/inquiry_details_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/translator_spec.rb
  modules/ask_va_api/spec/support/shared_contexts.rb
Labels: test-passing, require-backend-approval

#18868 Travel Pay/Add appt > claim association logic
  modules/travel_pay/app/services/travel_pay/claim_association_service.rb
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/app/services/travel_pay/claims_service.rb
  modules/travel_pay/spec/services/claims_association_service_spec.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
  modules/travel_pay/spec/services/claims_service_spec.rb
Labels: test-passing, require-backend-approval

#19349 Removed @current_user from Address Validation
  app/controllers/v0/profile/address_validation_controller.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19328 add mobile git ignore
  modules/mobile/.gitignore
Labels: test-passing, require-backend-approval

#19340 PBP 96722 ClaimVANotification db column migration
  db/migrate/20241108144805_change_claim_va_notification_email_template_id_type.rb
  db/schema.rb
Labels: burial-benefits, pension-benefits, ready-for-backend-review, test-passing, require-backend-approval, zero-silent-failures

#19062 Dex 93107 686 logging and email
  .github/CODEOWNERS
  app/sidekiq/central_mail/submit_central_form686c_job.rb
  config/features.yml
  config/settings.yml
  lib/dependents/monitor.rb
  spec/factories/dependency_claim.rb
  spec/lib/dependents/monitor_spec.rb
  spec/sidekiq/central_mail/submit_central_form686c_job_spec.rb
Labels: test-passing, require-backend-approval

#19352 Add check-pr-status job to BE PR Labeler
  .github/workflows/backend-pr-labeler.yml
Labels: test-passing, require-backend-approval

#19350 change date to date submitted
  app/sidekiq/lighthouse/submit_career_counseling_job.rb
  app/sidekiq/vre/submit1900_job.rb
  spec/sidekiq/lighthouse/submit_career_counseling_job_spec.rb
  spec/sidekiq/vre/submit1900_job_spec.rb
Labels: test-passing, require-backend-approval

#19353 Set clamav image tag to 1.3.0 in docker-compose to support linux/arm64/v8 platform
  docker-compose.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19270 [10-10CG] Add logs when json_schema validation methods throw exceptions
  .github/CODEOWNERS
  app/models/saved_claim.rb
  spec/models/saved_claim_spec.rb
Labels: test-passing, require-backend-approval

#19356 Retrieve entire pull_request from workflow_run
  .github/workflows/backend-pr-labeler.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19310 [VI-739] Updating token exchanged session attributes so that exchanged session has proper expiration times
  app/services/sign_in/session_spawner.rb
  spec/services/sign_in/session_spawner_spec.rb
  spec/services/sign_in/token_exchanger_spec.rb
Labels: test-passing, require-backend-approval

#19360 Adjust so worklow_run only performs on PR Code Checks
  .github/workflows/backend-pr-labeler.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19361 Use correct pull_request structure and add in next steps
  .github/workflows/backend-pr-labeler.yml
Labels: require-backend-approval

#19372 Refactor PR labeler steps
  .github/workflows/backend-pr-labeler.yml
Labels: require-backend-approval

#19355 Burial 91426 SavedClaim::Burial#benefits_claimed returning nil
  app/models/saved_claim/burial.rb
  spec/models/saved_claim/burial_spec.rb
Labels: burial-benefits, ready-for-backend-review, test-passing, require-backend-approval, zero-silent-failures

#19373 Fix get-pr-data variable name
  .github/workflows/backend-pr-labeler.yml
Labels: require-backend-approval

#19358 Travel Pay/Fix association module user bugs
  modules/travel_pay/app/services/travel_pay/claim_association_service.rb
  modules/travel_pay/spec/services/claims_association_service_spec.rb
Labels: test-passing, require-backend-approval

#19261 Api 41589 poa pdf mapping fixes
  modules/claims_api/lib/claims_api/v1/poa_pdf_constructor/individual.rb
  modules/claims_api/lib/claims_api/v1/poa_pdf_constructor/organization.rb
  modules/claims_api/spec/fixtures/21-22/signed_filled_final.pdf
  modules/claims_api/spec/lib/claims_api/v1/poa_pdf_constructor/organization_spec.rb
  modules/claims_api/spec/sidekiq/poa_form_builder_job_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19351 HLR | Add confirmation update toggle
  config/features.yml
Labels: feature flag, Higher Level Reviews, test-passing, require-backend-approval

#19319 [CST]: Similarly overrides PMR Pending displayName to be human-readable Private Medical Record
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
Labels: test-passing, require-backend-approval

#19241 [CST] Modifies claim letter downloader to include a new field for a unified display description
  lib/claim_letters/claim_letter_downloader.rb
  spec/controllers/v0/claim_letters_controller_spec.rb
  spec/lib/claim_status_tool/claim_letter_downloader_spec.rb
Labels: test-passing, require-backend-approval

#19345 Remove v0/veteran_confirmation endpoint request and test
  postman/vets-api.pm-collection.json
Labels: test-passing, require-backend-approval

#19298 adds feature toggle for exanded classification endpoint traffic
  config/features.yml
Labels: test-passing, require-backend-approval

#19269 API-39840-check-empty-birls-id
  modules/claims_api/app/controllers/concerns/claims_api/v2/claims_requests/supporting_documents.rb
  modules/claims_api/spec/concerns/claims_api/v2/claims_requests/supporting_documents_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/tracked_item_service/claims_v2_show_tracked_items.yml
  spec/support/vcr_cassettes/claims_api/evss/documents/get_claim_documents.yml
Labels: claimsApi, test-failure, test-passing, omit-backend-approval

#19006 Retry attempt if specific error message is found
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
  modules/ivc_champva/spec/requests/ivc_champva/v1/forms/uploads_spec.rb
Labels: test-passing, require-backend-approval

#19249 96351 lookup rep and org info for next steps email
  modules/representation_management/app/controllers/representation_management/v0/next_steps_email_controller.rb
  modules/representation_management/app/models/representation_management/next_steps_email_data.rb
  modules/representation_management/spec/models/representation_management/next_steps_email_data_spec.rb
  modules/representation_management/spec/requests/v0/next_steps_email_spec.rb
Labels: test-passing, require-backend-approval

#19275 VACMS 18487 - remove /v1/facilities/va endpoint and tests
  .github/CODEOWNERS
  app/controllers/facilities_controller.rb
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v1/apidocs_controller.rb
  app/controllers/v1/facilities/va_controller.rb
  app/swagger/swagger/v1/requests/facilities.rb
  app/swagger/swagger/v1/schemas/facilities.rb
  config/routes.rb
  spec/requests/v1/apidoc/apidoc_spec.rb
  spec/requests/v1/apidoc/shared_examples/facility_locator.rb
  spec/requests/v1/facilities/va_spec.rb
Labels: waiting-for-info, test-passing, require-backend-approval

#19348 API-41807-adjust-slack-filter-for-correct-error-response
  modules/claims_api/app/sidekiq/claims_api/report_hourly_unsuccessful_submissions.rb
  modules/claims_api/spec/sidekiq/report_hourly_unsuccessful_submissions_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#19324 Update ICN lookup in PollForm526Pdf job
  app/sidekiq/lighthouse/poll_form526_pdf.rb
Labels: disability-compensation, waiting-for-info, test-passing, require-backend-approval

#19260 Drop benefits intake UUID from form submissions
  db/migrate/20241112135649_drop_benefits_intake_uuid_index_from_form_submissions.rb
  db/migrate/20241112135704_drop_benefits_intake_uuid_from_form_submissions.rb
  db/schema.rb
Labels: test-passing, waiting-for-changes, require-backend-approval

#19268 [API-41410] View POA Requests - Pagination
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/power_of_attorney_requests/post.json
  modules/claims_api/lib/bgs_service/manage_representative_service.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19276 Add route and controller for LH API Vet Title 38 Verification
  .github/CODEOWNERS
  app/controllers/v0/profile/vet_verification_statuses_controller.rb
  config/routes.rb
  config/settings.yml
  lib/lighthouse/veteran_verification/service.rb
  spec/controllers/v0/profile/vet_verification_statuses_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/200_person_not_found_response.yml
  spec/support/vcr_cassettes/lighthouse/veteran_verification/status/200_show_response.yml
Labels: test-passing, require-backend-approval

#19357 API-41957-poa-as-self-check
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/dependent_claimant_validation.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_validation.rb
  modules/claims_api/spec/requests/v1/forms/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122a_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#19341 Bumping for longer maintaininence window
  app/sidekiq/evss/disability_compensation_form/submit_form0781.rb
  app/sidekiq/evss/disability_compensation_form/submit_form8940.rb
Labels: disability-experience, test-passing, require-backend-approval

#19337 96419: Add email notifications for DR jobs sidekiq retries exhausted
  app/sidekiq/decision_review/failure_notification_email_job.rb
  app/sidekiq/decision_review/form4142_submit.rb
  app/sidekiq/decision_review/submit_upload.rb
  lib/decision_review_v1/utilities/constants.rb
  spec/sidekiq/decision_review/form4142_submit_spec.rb
  spec/sidekiq/decision_review/submit_upload_spec.rb
Labels: test-passing, require-backend-approval

#19394 Prevent Form 526 silent failure logging when failure email is sent
  app/sidekiq/evss/disability_compensation_form/submit_form0781.rb
  app/sidekiq/evss/disability_compensation_form/submit_uploads.rb
Labels: test-passing, require-backend-approval

#19297 [SIMPLE-FORMS] doc: update pdf download documentation
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/docs/aws_s3_bucket_setup.md
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/docs/form_remediation_archiving.md
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/docs/form_submission_pdf_backups.md
Labels: ready-for-backend-review, test-passing, require-backend-approval

#19304 mobile: delete appointment preferences endpoints
  modules/mobile/app/controllers/mobile/v0/appointment_preferences_controller.rb
  modules/mobile/app/serializers/mobile/v0/appointment_preferences_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/AppointmentPreferences.yml
  modules/mobile/docs/schemas/AppointmentPreferencesRequest.yml
  modules/mobile/spec/requests/mobile/v0/appointments/preferences_spec.rb
  modules/mobile/spec/support/schemas/appointment_preferences.json
  spec/support/vcr_cassettes/mobile/appointments/get_preferences.yml
  spec/support/vcr_cassettes/mobile/appointments/put_preferences.yml
  spec/support/vcr_cassettes/mobile/appointments/put_preferences_minimal_payload.yml
Labels: test-passing, omit-backend-approval

#19332 95907 Add Pega status failure notification email functionality - IVC Forms
  config/features.yml
  config/settings.yml
  modules/ivc_champva/app/jobs/ivc_champva/missing_form_status_job.rb
  modules/ivc_champva/app/services/ivc_champva/email.rb
  modules/ivc_champva/spec/jobs/missing_form_status_job_spec.rb
Labels: test-passing, require-backend-approval

#19101 Better appeal object associations
  app/models/appeal_submission.rb
  app/models/saved_claim/higher_level_review.rb
  app/models/saved_claim/notice_of_disagreement.rb
  app/models/saved_claim/supplemental_claim.rb
  app/models/secondary_appeal_form.rb
  app/sidekiq/decision_review/saved_claim_sc_status_updater_job.rb
  spec/models/saved_claim/higher_level_review_spec.rb
  spec/models/saved_claim/notice_of_disagreement_spec.rb
  spec/models/saved_claim/supplemental_claim_spec.rb
  spec/models/secondary_appeal_form_spec.rb
Labels: test-passing, require-backend-approval

#19338 Raise error if no new or increase disabilities are submitted
  app/controllers/v0/disability_compensation_forms_controller.rb
  spec/requests/v0/disability_compensation_form_spec.rb
Labels: disability-compensation, test-passing, require-backend-approval

#19395 remove rake tasks for migrating itf_datetime to form_start_date
  modules/pensions/lib/pensions/data_migrations/saved_claims_form_start_date_update.rb
  rakelib/saved_claims_form_start_date_update.rake
Labels: pension-benefits, test-passing, require-backend-approval

#19376 Remove benefits_intake_uuid data migration
  lib/data_migrations/write_benefits_intake_uuids_to_form_submission_attempts.rb
  modules/simple_forms_api/lib/tasks/write_benefits_intake_uuids_to_form_submission_attempts.rake
Labels: test-passing, require-backend-approval

#19377 API-41893 Separation Location Code validation fix
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
Labels: claimsApi, test-failure, ready-for-backend-review, test-passing, omit-backend-approval

#19380 Ndbex 96802 post lh failure emails
  app/models/saved_claim/dependency_claim.rb
  app/models/saved_claim/education_career_counseling_claim.rb
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/sidekiq/benefits_intake_status_job.rb
  app/sidekiq/central_mail/submit_central_form686c_job.rb
  app/sidekiq/lighthouse/submit_career_counseling_job.rb
  app/sidekiq/vre/submit1900_job.rb
  spec/sidekiq/central_mail/submit_central_form686c_job_spec.rb
Labels: needs-test, test-passing, require-backend-approval

#19404 update windows
  modules/mobile/app/controllers/mobile/v0/maintenance_windows_controller.rb
Labels: test-passing, omit-backend-approval

#19399 [CST] Logging Document upload failure email errors to Sentry
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/lighthouse/document_upload.rb
  lib/sentry_logging.rb
Labels: Claim Status Tool, test-passing, require-backend-approval

#19347 Adding poa request details end point with mocked data
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/config/routes.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: benefits-accredited-rep-facing, ready-for-backend-review, test-passing, require-backend-approval

#19443 BenefitsIntakeStatusJob monitor_failure bug
  app/sidekiq/benefits_intake_status_job.rb
Labels: benefits-intake, test-passing, require-backend-approval

#19336 Cleaned up Contact Information Flipper in specs
  lib/va_profile/military_personnel/service.rb
  modules/mobile/spec/requests/mobile/v0/user/phones_spec.rb
  modules/mobile/spec/services/sync_update_service_spec.rb
  modules/veteran/spec/sidekiq/representatives/update_spec.rb
  spec/lib/common/models/concerns/cache_aside_spec.rb
  spec/lib/debt_management_center/statement_identifier_service_spec.rb
  spec/lib/va_profile/v2/contact_information/service_spec.rb
  spec/lib/va_profile/v2/contact_information/transaction_response_spec.rb
  spec/lib/va_profile/v2/person/service_spec.rb
  spec/lib/va_profile/v3/address_validation/service_spec.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
  spec/models/va_profile_redis/v2/cache_spec.rb
  spec/models/va_profile_redis/v2/contact_information_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/profile/addresses_spec.rb
  spec/requests/v0/profile/email_addresses_spec.rb
  spec/requests/v0/profile/persons_spec.rb
  spec/requests/v0/profile/telephones_spec.rb
  spec/requests/v0/profile/transactions_spec.rb
  spec/support/va_profile/stub_vaprofile_user.rb
Labels: test-passing, omit-backend-approval

#19432 Prevent silent failure logging when 4142 mailer is sent
  app/sidekiq/central_mail/submit_form4142_job.rb
Labels: test-passing, require-backend-approval

#19446 Revert "Cleaned up Contact Information Flipper in specs"
  lib/va_profile/military_personnel/service.rb
  modules/mobile/spec/requests/mobile/v0/user/phones_spec.rb
  modules/mobile/spec/services/sync_update_service_spec.rb
  modules/veteran/spec/sidekiq/representatives/update_spec.rb
  spec/lib/common/models/concerns/cache_aside_spec.rb
  spec/lib/debt_management_center/statement_identifier_service_spec.rb
  spec/lib/va_profile/v2/contact_information/service_spec.rb
  spec/lib/va_profile/v2/contact_information/transaction_response_spec.rb
  spec/lib/va_profile/v2/person/service_spec.rb
  spec/lib/va_profile/v3/address_validation/service_spec.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
  spec/models/va_profile_redis/v2/cache_spec.rb
  spec/models/va_profile_redis/v2/contact_information_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/profile/addresses_spec.rb
  spec/requests/v0/profile/email_addresses_spec.rb
  spec/requests/v0/profile/persons_spec.rb
  spec/requests/v0/profile/telephones_spec.rb
  spec/requests/v0/profile/transactions_spec.rb
  spec/support/va_profile/stub_vaprofile_user.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#19296 96001 EPS JWT Token Wrapper
  config/settings.yml
  modules/vaos/app/services/eps/jwt_wrapper.rb
  modules/vaos/spec/services/eps/jwt_wrapper_spec.rb
Labels: test-passing, require-backend-approval

#19381 API-41894 Fix schema to ref BRD for separationLocationCode
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/v1/526.json
  modules/claims_api/spec/requests/v1/forms/526_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#19033 [CST] Create new evidence submission record for each document upload
  app/services/evss_claim_service.rb
  db/migrate/20240925160219_create_evidence_submissions.rb
  db/schema.rb
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/spec/requests/mobile/v0/claim/documents_spec.rb
  modules/mobile/spec/requests/mobile/v0/claim/legacy_documents_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
  spec/requests/v0/evss_claims/documents_spec.rb
  spec/services/evss_claim_service_spec.rb
Labels: Claim Status Tool, ready-for-backend-review, require-backend-approval

#19449 Fixed homeless pdf field name for hlr v4 version pdf form
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v4/form_fields.rb
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v4/expected_200996_extra.pdf
Labels: Lighthouse, appeals, banana-peels, test-passing, omit-backend-approval
