Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-07, with the labels that each got.

#17250 [API-34409] Skip BGS calls in lower environments for POA requests
  config/features.yml
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_new_poa_request_spec.rb
Labels: claimsApi

#17274 [DBEX] add enum, methods and scopes to Form526Submission
  .github/CODEOWNERS
  app/models/form526_submission.rb
  spec/factories/form526_submission_remediations.rb
  spec/factories/form526_submissions.rb
  spec/models/form526_submission_spec.rb
Labels: disability-experience, disability-compensation

#17179 Added v0 of pension async ITF implementation
  .github/CODEOWNERS
  app/controllers/v0/in_progress_forms_controller.rb
  app/controllers/v0/pension_claims_controller.rb
  app/models/intent_to_file_queue_exhaustion.rb
  app/sidekiq/lighthouse/create_intent_to_file_job.rb
  lib/lighthouse/benefits_claims/intent_to_file/monitor.rb
  lib/pension_21p527ez/monitor.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/models/intent_to_file_queue_exhaustion_spec.rb
  spec/sidekiq/lighthouse/create_intent_to_file_job_spec.rb
Labels: pension-benefits

#17386 Fix UserAccounts query to use icn instead of veteran_icn
  app/sidekiq/lighthouse/create_intent_to_file_job.rb
Labels: pension-benefits

#17356 New sidekiq job to poll for 21-526EZ PDF for a submission
  app/models/form526_job_status.rb
  app/sidekiq/lighthouse/poll_form526_pdf.rb
  spec/factories/form526_job_statuses.rb
  spec/sidekiq/lighthouse/poll_form526_pdf_spec.rb
Labels: disability-compensation

#17399 Add feature toggle
  config/features.yml
Labels: pension-benefits

#17296 added 0969 pdf with updated metadata
  lib/pdf_fill/forms/pdfs/21P-0969.pdf
  spec/fixtures/pdf_fill/21P-0969/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-0969/overflow.pdf
  spec/fixtures/pdf_fill/21P-0969/simple.pdf
Labels: pension-benefits

#17360 Add phase type to claim attributes on calls to claims index
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: claimsApi

#17364 [DBEX] refactor response handler & update spec
  app/models/form526_submission.rb
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  app/sidekiq/form526_status_polling_job.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
  spec/factories/form526_submissions.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/models/form526_submission_spec.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_spec.rb
  spec/sidekiq/form526_status_polling_job_spec.rb
Labels: disability-experience, disability-compensation

#17405 [DBEX] create Lighthouse526DocumentUpload migration
  db/migrate/20240703201622_create_lighthouse526_document_uploads.rb
  db/schema.rb
Labels: disability-experience, disability-compensation

#17403 API-37497-5103-remove-sponsor-icn
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
Labels: claimsApi

#17438 API-37857-adjust-retries-for-ews-sidekiq-job
  modules/claims_api/app/sidekiq/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/app/sidekiq/claims_api/ews_updater.rb
  modules/claims_api/spec/sidekiq/evidence_waiver_builder_job_spec.rb
  modules/claims_api/spec/sidekiq/ews_updater_spec.rb
Labels: claimsApi

#17407 [DBEX] create Lighthouse526DocumentUpload model with state
  .github/CODEOWNERS
  app/models/lighthouse526_document_upload.rb
  spec/factories/form_attachments.rb
  spec/factories/lighthouse526_document_uploads.rb
  spec/models/lighthouse526_document_upload_spec.rb
Labels: disability-experience, disability-compensation

#17455 [DBX-86443] remove backup status check 526 success scope
  app/models/form526_submission.rb
Labels: disability-experience

#17330 API-37498-5103-replace-vbms
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/sidekiq/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/lib/claims_api/ews_vbms_sidekiq.rb
  modules/claims_api/spec/fixtures/5103.pdf
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/sidekiq/evidence_waiver_builder_job_spec.rb
  modules/claims_api/spec/sidekiq/ews_vbms_sidekiq_spec.rb
Labels: claimsApi

#17472 fixes rescue
  modules/claims_api/app/sidekiq/claims_api/evidence_waiver_builder_job.rb
Labels: claimsApi

#17439 [DBEX] create UploadStatusUpdater PORO
  lib/lighthouse/benefits_documents/form526/upload_status_updater.rb
  spec/lib/lighthouse/benefits_documents/form526/upload_status_updater_spec.rb
Labels: disability-experience, disability-compensation

#17477 [DBEX] create UpdateDocumentsStatus and Polling services
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/form526/documents_status_polling_service.rb
  lib/lighthouse/benefits_documents/form526/update_documents_status_service.rb
  lib/lighthouse/benefits_documents/form526/upload_status_updater.rb
  spec/lib/lighthouse/benefits_documents/form526/update_documents_status_service_spec.rb
  spec/lib/lighthouse/benefits_documents/form526/upload_status_updater_spec.rb
Labels: disability-experience, disability-compensation

#17494 Add safe nav to user.id calls
  app/sidekiq/lighthouse/create_intent_to_file_job.rb
Labels: pension-benefits

#17495 [DBX-87964] DB performance refactor on 526 backup polling
  app/sidekiq/form526_status_polling_job.rb
Labels: disability-experience

#17491 [Dbx-87964] refine 526 scopes
  app/models/form526_submission.rb
  spec/factories/form526_submissions.rb
  spec/models/form526_submission_spec.rb
Labels: disability-experience

#17509 API-38040-526-v2-address-validation
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
Labels: claimsApi

#17514 API-38073-update-tx-city-validation
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17389 [API-37793] Raise a `GatewayTimeout` exception when needed
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
Labels: claimsApi

#17478 [API-38039] Relax treatment begin date validation
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17446 Update VSO Reloader to support multiple first names
  modules/veteran/app/sidekiq/veteran/vso_reloader.rb
  modules/veteran/spec/sidekiq/veteran/vso_reloader_spec.rb
  spec/support/vcr_cassettes/veteran/ogc_vso_rep_data.yml
Labels: claimsApi

#17524 Trim address line one of mailing address to LH submit request
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: disability-compensation

#17536 hot-fix-bd-spec-missing-varaibles
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
Labels: claimsApi

#17458 Remove Comments from LoC Danger check
  Dangerfile
Labels: platform, pension-benefits

#17543 revert CreateIntentToFileAsyncJob retries back to 14
  app/sidekiq/lighthouse/create_intent_to_file_job.rb
Labels: pension-benefits

#17185 Api 37289 hardcode wsdl
  config/features.yml
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/bad_namespace.yml
Labels: claimsApi

#17465 Api 37585 remove firstname requirement
  modules/claims_api/app/controllers/claims_api/v2/veterans/base.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/individual_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/organization_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/target_veteran.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_ind_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_org_request_spec.rb
Labels: claimsApi

#17311 DASH - V2 POA requests - Fix OAS pt 2
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag/200.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag_spec.rb
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/index/request_spec/healthy_parameter_set.yml
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/index/rswag_spec/nonempty.yml
Labels: claimsApi

#17476 Yardoc Rake Task
  .gitignore
  .yardopts
  lib/lighthouse/benefits_intake/service.rb
  rakelib/yardoc.rake
Labels: platform, pension-benefits

#17358 [86435] adds lock_all & unlock_all tasks
  .github/CODEOWNERS
  rakelib/prod/user_credential.rake
  spec/rakelib/user_credential_spec.rb
Labels: identity, identity-backend

#17473 [DBEX] create Form526DocumentUploadPollingJob
  app/models/lighthouse526_document_upload.rb
  app/sidekiq/lighthouse/form526_document_upload_polling_job.rb
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/form526/update_documents_status_service.rb
  spec/sidekiq/lighthouse/form526_document_upload_polling_job_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/form526_document_upload_status_complete.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/form526_document_upload_status_failed.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/form526_document_upload_status_not_found.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/form526_document_upload_with_request_ids_not_found.yml
Labels: disability-experience, disability-compensation

#17569 Pension 88575 Intake Job Metadata
  app/sidekiq/lighthouse/pension_benefit_intake_job.rb
  modules/pensions/app/sidekiq/pensions/pension_benefit_intake_job.rb
Labels: pension-benefits

#17492 [DBEX] register periodic Form526DocumentUploadPollingJob
  lib/periodic_jobs.rb
Labels: disability-experience, disability-compensation

#17413 API-37499-5103-support-dependent-claimants
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/sidekiq/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/controllers/v2/evidence_waiver_controller_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
Labels: claimsApi

#17576 Add check for participant ID
  app/controllers/v0/in_progress_forms_controller.rb
Labels: pension-benefits

#17434 API-37794-brd-handle-timeouts
  modules/claims_api/lib/brd/brd.rb
  modules/claims_api/lib/claims_api/common/exceptions/lighthouse/timeout.rb
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
  modules/claims_api/lib/custom_error.rb
  modules/claims_api/lib/library_base.rb
  modules/claims_api/spec/lib/claims_api/v2/error/lighthouse_error_handler_spec.rb
Labels: claimsApi

#17582 [API-38233] Add Claims API feature flag for POA benefits docs
  config/features.yml
Labels: claimsApi

#17343 Dash/oren/v2 poa requests/establishment.pt 1
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/dump.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/metadata.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/metadata/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/metadata/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search/query.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/summary.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/summary/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/summary/search.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/summary/search/query.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide/validation.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search/query.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/update_power_of_attorney.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/power_of_attorney_requests/get.json
  modules/claims_api/config/schemas/v2/power_of_attorney_requests/param/decision/post.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/rswag_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag/200.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag_spec.rb
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/decisions/create/request_spec/acceptance.yml
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/index/rswag_spec/nonempty.yml
Labels: claimsApi

#17353 Added new HLR form, hidden behind flipper flag
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v4/form_data.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/higher_level_review/v4/pages/additional_issues.rb
  modules/appeals_api/config/pdfs/200996_v4.pdf
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: appeals, banana-peels, Higher Level Reviews

#17586 Fix for obligation tos dates in LH submit request
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: disability-compensation

#17592 API-30782-remove-last-bit-of-file-number-from-ews
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/sidekiq/claims_api/evidence_waiver_builder_job.rb
Labels: claimsApi

#17595 Api 38071 brd response caching
  config/redis.yml
  modules/claims_api/lib/brd/brd.rb
  modules/claims_api/lib/brd/brd_response_store.rb
Labels: claimsApi

#17638 Api 38042 validation direct deposit
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17450 update references to itf_datetime with form_start_date
  app/models/saved_claim.rb
  modules/pensions/app/controllers/pensions/v0/pension_claims_controller.rb
  modules/pensions/lib/pensions/monitor.rb
Labels: pension-benefits

#17648 Api 38218 remove unrequired generate pdf pattern validations
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
Labels: claimsApi

#17674 [DBEX] ID type conversion
  spec/sidekiq/lighthouse/form526_document_upload_polling_job_spec.rb
Labels: disability-experience, disability-compensation

#17670 [CST] [Backend] Added a feature flag for making evidence uploads a synchronous task
  config/features.yml
Labels: Claim Status Tool

#17634 Expand unit tests for LH submit request + fix alternateNames issue
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: disability-compensation

#17643 Update payload data for track_create_itf_failure monitor log
  lib/lighthouse/benefits_claims/intent_to_file/monitor.rb
Labels: pension-benefits

#17663 API-37730-add-tracked-items-to-model
  db/migrate/20240723142201_add_tracked_items_to_ews.rb
  db/schema.rb
Labels: claimsApi

#17646 API-38344-dup-service-periods
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17697 API-37928-transaction-id-migration
  db/migrate/20240724183559_add_transaction_id_to_auto_established_claim.rb
  db/schema.rb
Labels: claimsApi

#17686 Api 38409 active begin end dates validation fix
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17587 [API-37988] POA v1 POST /2122 - Use Benefits Documents API
  modules/claims_api/app/sidekiq/claims_api/v1/poa_form_builder_job.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/sidekiq/poa_form_builder_job_spec.rb
Labels: claimsApi

#16861 [78745] Create new accredited individual controller
  app/models/accredited_individual.rb
  app/models/accredited_organization.rb
  config/features.yml
  lib/accredited_representation/constants.rb
  modules/representation_management/app/controllers/representation_management/v0/accredited_individuals_controller.rb
  modules/representation_management/app/models/representation_management/accredited_individual_search.rb
  modules/representation_management/app/serializers/representation_management/accredited_individuals/individual_serializer.rb
  modules/representation_management/app/serializers/representation_management/accredited_individuals/organization_serializer.rb
  modules/representation_management/config/routes.rb
  modules/representation_management/spec/serializers/accredited_individuals/individual_serializer_spec.rb
  modules/representation_management/spec/serializers/accredited_individuals/organization_serializer_spec.rb
  modules/veteran/app/models/veteran/service/constants.rb
  spec/models/accredited_individual_spec.rb
Labels: find-a-representative

#17601 88497 Cache debts endpoint empty responses
  config/features.yml
  lib/debt_management_center/debts_service.rb
  spec/lib/debt_management_center/debts_service_spec.rb
  spec/lib/debt_management_center/shared_examples/debt_service_examples.rb
Labels: debt, feature flag, Ready For Review

#17639 78745 - Add accredited rep request spec
  modules/representation_management/spec/models/representation_management/accredited_individual_search_spec.rb
  modules/representation_management/spec/requests/v0/accredited_individuals_request_spec.rb
Labels: find-a-representative

#17625 [DBEX] log when Form 0781 document upload fails
  app/models/lighthouse526_document_upload.rb
  lib/lighthouse/benefits_documents/form526/update_documents_status_service.rb
  spec/lib/lighthouse/benefits_documents/form526/update_documents_status_service_spec.rb
  spec/models/lighthouse526_document_upload_spec.rb
Labels: disability-experience, disability-compensation

#17730 [DBEX] add body request matcher
  spec/sidekiq/lighthouse/form526_document_upload_polling_job_spec.rb
Labels: disability-experience, disability-compensation

#17718 added default error message if #errors method does not exist in thrown exception
  lib/lighthouse/benefits_claims/intent_to_file/monitor.rb
Labels: pension-benefits

#17717 [DBX] bump max 526 pending time to 2 weeks
  app/models/form526_submission.rb
  spec/factories/form526_submissions.rb
  spec/models/form526_submission_spec.rb
Labels: disability-experience

#17615 Api 38041 address validation
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17726 Hotfix: Fallback to `evss_id` for `claim_id`
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
Labels: claimsApi

#17724 Api 38504 transaction id code tests error handling
  modules/claims_api/app/controllers/claims_api/v2/veterans/base.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/services/claims_api/disability_compensation/docker_container_service.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/services/disability_compensation/docker_container_service_spec.rb
Labels: claimsApi

#17757 Api 38343 handle not homeless
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#17661 Pension 77845 Module Test Coverage
  app/controllers/v0/pension_claims_controller.rb
  lib/pension_21p527ez/monitor.rb
  modules/pensions/.gitignore
  modules/pensions/.irbrc
  modules/pensions/.rspec
  modules/pensions/Rakefile
  modules/pensions/app/controllers/pensions/v0/pension_claims_controller.rb
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/spec/controllers/v0/pension_claims_controller_spec.rb
  modules/pensions/spec/factories/monitor_error.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
  modules/pensions/spec/spec_helper.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/requests/in_progress_forms_request_spec.rb
  spec/spec_helper.rb
Labels: pension-benefits

#17763 Hotfix: Benefits Documents Upload - Change `fetch` to `presence`
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
Labels: claimsApi

#17764 Pass user to Flipper logic to allow partially enabled traffic
  app/controllers/v0/in_progress_forms_controller.rb
Labels: pension-benefits

#17719 Dependents Card Extra Information
  app/controllers/v0/dependents_applications_controller.rb
  app/serializers/dependents_serializer.rb
  spec/serializers/dependents_serializer_spec.rb
Labels: dependents-benefits

#17748 Api 38390 poa v1 duplicate bgs calls
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
Labels: claimsApi

#17747 Pension 88578 Module Documentation
  .yardopts
  modules/pensions/app/controllers/pensions/claims_base_controller.rb
  modules/pensions/app/controllers/pensions/v0/pension_claims_controller.rb
  modules/pensions/app/models/pensions/saved_claim.rb
  modules/pensions/app/sidekiq/pensions/pension_benefit_intake_job.rb
  modules/pensions/lib/pensions.rb
  modules/pensions/lib/pensions/engine.rb
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/lib/pensions/tag_sentry.rb
  modules/pensions/lib/pensions/version.rb
  modules/pensions/pensions.gemspec
  rakelib/yardoc.rake
Labels: pension-benefits

#17563 API-37730-tracked-items-5103
  modules/claims_api/app/controllers/claims_api/v2/veterans/evidence_waiver_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/evidence_waiver_submission_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/5103.json
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/lib/claims_api/common/exceptions/lighthouse/unprocessable_entity.rb
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
  modules/claims_api/spec/fixtures/v2/veterans/5103/form_5103_api.json
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
  spec/support/schemas/claims_api/v2/errors/default.json
Labels: claimsApi

#17771 Dangerfile Error on 'Bad' PDF and Renamed File LoC Counts
  Dangerfile
Labels: platform, pension-benefits

#17622 [CST] Add virus scanning to lighthouse document uploads
  .github/CODEOWNERS
  app/uploaders/lighthouse_document_uploader_base.rb
Labels: Claim Status Tool

#17769 [DBX-89297] bump in_process window to 3 weeks for edge cases
  app/models/form526_submission.rb
  spec/factories/form526_submissions.rb
  spec/models/form526_submission_spec.rb
Labels: disability-experience

#17736 Api 38534 documentation for transaction
  modules/claims_api/app/controllers/claims_api/v2/blueprints/meta_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: claimsApi

#17677 [API-37989] POA v1 PUT /2122/{id} - Use Benefits Documents API
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_upload_job.rb
  modules/claims_api/spec/sidekiq/poa_vbms_upload_job_spec.rb
Labels: claimsApi

#17824 hotfix-pdf-mapper-disabilities
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/services/claims_api/disability_compensation/docker_container_service.rb
  modules/claims_api/app/services/claims_api/disability_compensation/pdf_generation_service.rb
  modules/claims_api/spec/services/disability_compensation/docker_container_service_spec.rb
Labels: claimsApi
