Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-01, with the labels that each got.

#14997 update auth route
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/support/rswag_config.rb
Labels: claimsApi

#14998 API-322449 fix for error pointer path depth
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
Labels: claimsApi

#14926 Restrict EP400 merging to claims in open status
  .github/CODEOWNERS
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/evss/claims/claims_pending_decision_approval.yml
Labels: console-services-review

#14874 API-32191 Use ICN from token in Appeals Status API
  modules/appeals_api/app/controllers/appeals_api/v1/appeals_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/icn_parameter_validation.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/lib/appeals_api/token_validation_client.rb
  modules/appeals_api/spec/docs/appeals_status/v1_spec.rb
  modules/appeals_api/spec/lib/token_validation_client_spec.rb
  modules/appeals_api/spec/requests/v1/appeals_controller_spec.rb
  modules/appeals_api/spec/support/doc_helpers.rb
Labels: Lighthouse, appeals, banana-peels

#14695 Remove Flipper for Central Mail Submission
  app/sidekiq/bgs/submit_form674_encrypted_job.rb
  app/sidekiq/bgs/submit_form686c_encrypted_job.rb
  config/features.yml
  spec/sidekiq/bgs/submit_form674_encrypted_job_spec.rb
  spec/sidekiq/bgs/submit_form674_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_encrypted_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_job_spec.rb
Labels: console-services-review

#14931 API-31645 poa submission status
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_updater.rb
  modules/claims_api/spec/sidekiq/poa_vbms_updater_spec.rb
Labels: claimsApi

#15000 Make telehealth appts noncancellable
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
Labels: mobile

#15001 reason nil unless status cancelled
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/spec/models/adapters/appointments_vaos_v2_adapter_spec.rb
Labels: mobile

#15010 Mobile: Add count for isRefillable to prescriptions
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/mobile/spec/request/prescriptions_request_spec.rb
Labels: mobile

#14956 Adding document_type to list of allowed params for DataDog
  config/initializers/filter_parameter_logging.rb
Labels: console-services-review

#15014 Bug Fix: set kms_key_rotation_date with method instead of constant
  app/models/concerns/kms_encrypted_model_patch.rb
Labels: console-services-review

#15006 update json schema version
  Gemfile.lock
Labels: console-services-review

#14942 Api 32295 treatment center pdf mapper undefined method fix
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#15003 Upgrade factory_bot and factory_bot_rails to 6.4.x
  Gemfile.lock
Labels: console-services-review

#14986 Bump pdf-forms to v1.5.0
  Gemfile.lock
  app/models/evss_claim_document.rb
  app/models/form_attachment.rb
  app/models/lighthouse_document.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/higher_level_review/v3/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v1/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/notice_of_disagreement/v3/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v2/structure_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/supplemental_claim/v3/structure_spec.rb
Labels: console-services-review

#14947 Upgrade Rswag to 2.13
  Gemfile.lock
  config/initializers/rswag-ui.rb
  docs/setup/rswag_setup.md
  modules/appeals_api/spec/docs/appealable_issues/v0_spec.rb
  modules/appeals_api/spec/docs/appeals_status/v1_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/contestable_issues_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/legacy_appeals_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/notice_of_disagreements_spec.rb
  modules/appeals_api/spec/docs/decision_reviews/supplemental_claims_spec.rb
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  modules/appeals_api/spec/docs/legacy_appeals/v0_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/support/rswag_config.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v1/rswag_power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/rswag_veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veteran_identifier_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
  rakelib/rswag.rake
  spec/rswag_override.rb
  spec/swagger_helper.rb
Labels: console-services-review

#14933 API-32277-fed-act-delete-error
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
Labels: claimsApi

#14943 Api 32101 date format disabilities
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#14851 Api 32142 error when missing active duty dates
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#15019 Updating find_a_rep feature toggle name
  config/features.yml
  modules/veteran/app/controllers/veteran/v0/accredited_representatives_controller.rb
  modules/veteran/spec/requests/v0/accredited_representatives_spec.rb
Labels: console-services-review

#15012 [BE] 72180 Add new toggle letters_check_discrepancies
  config/features.yml
Labels: console-services-review

#14919 API-32243 Validate zipCode in Benefits Intake metadata
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/lib/upload_validator_spec.rb
Labels: Lighthouse, appeals, banana-peels

#14978 Api 32141 secondary disability mapping on pdf
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#15008 API-32157-single-service-period-20D
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#15020 Enable VA Profile and Disable eMIS for RI's
  config/features.yml
Labels: console-services-review

#14984 Sidekiq Death Handler: Log an error on job death
  config/initializers/sidekiq.rb
Labels: console-services-review

#14913 Api 31569 claims status OAS documentation updates
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/claims/claim.json
  spec/support/schemas/claims_api/v2/veterans/claims/claims.json
Labels: Lighthouse, console-services-review, claimsApi

#15015 remove old pension form
  .github/CODEOWNERS
  lib/evss/disability_compensation_form/form4142_processor.rb
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/21P-527EZ.pdf
  lib/pdf_fill/forms/va21p527ez.rb
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.json
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-527EZ/merge_fields.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.pdf
  spec/fixtures/pdf_fill/21P-527EZ/overflow_extras.pdf
  spec/fixtures/pdf_fill/21P-527EZ/simple.json
  spec/fixtures/pdf_fill/21P-527EZ/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
  spec/lib/pdf_fill/forms/va21p527ez_spec.rb
Labels: console-services-review

#14990 API-32324 500 error claim status with delete
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: claimsApi

#14971 Pension 71897 benefit intake polling
  app/sidekiq/lighthouse/pension_benefit_intake_job.rb
  spec/sidekiq/lighthouse/pension_benefit_intake_job_spec.rb
Labels: console-services-review

#14994 MHV-49745
  .github/CODEOWNERS
  spec/factories/prescription_details.rb
  spec/models/prescription_details_spec.rb
Labels: console-services-review

#15028 Vfep 1052 - update readme (native.md) to include how to upgrade postgres for Ubuntu
  docs/setup/native.md
Labels: console-services-review

#15027 API-32568 Use ICN from token in Legacy Appeals API
  modules/appeals_api/app/controllers/appeals_api/legacy_appeals/v0/legacy_appeals_controller.rb
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
  modules/appeals_api/config/schemas/legacy_appeals/v0/params.json
  modules/appeals_api/spec/docs/legacy_appeals/v0_spec.rb
  modules/appeals_api/spec/requests/legacy_appeals/v0/legacy_appeals_controller_spec.rb
  modules/appeals_api/spec/requests/v1/appeals_controller_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_icn_parameter_validation.rb
  spec/support/vcr_cassettes/caseflow/legacy_appeals_server_error.yml
Labels: Lighthouse, appeals, console-services-review, banana-peels

#15030 Add zip code flag to metadata validator
  lib/simple_forms_api_submission/metadata_validator.rb
  spec/lib/simple_forms_api_submission/metadata_validator_spec.rb
Labels: console-services-review

#15029 MHV-52911 Prep notes domain for production
  config/features.yml
  lib/medical_records/client.rb
  spec/lib/medical_records/client_spec.rb
Labels: console-services-review

#15032 Mobile - Anticipate multiple forms of vaccine codes group names in immunizations
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/spec/request/immunizations_request_spec.rb
  modules/mobile/spec/request/v1/immunizations_request_spec.rb
  modules/mobile/spec/services/lighthouse_health_service_spec.rb
  modules/mobile/spec/support/schemas/v1/immunizations.json
  spec/support/vcr_cassettes/mobile/lighthouse_health/get_immunizations.yml
  spec/support/vcr_cassettes/mobile/lighthouse_health/get_immunizations_cached_token.yml
  spec/support/vcr_cassettes/mobile/lighthouse_health/get_immunizations_old.yml
  spec/support/vcr_cassettes/mobile/lighthouse_health/get_immunizations_vaccine_codes.yml
Labels: mobile, console-services-review

#15025 Add special issue to EP400 merge-eligible claims
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: console-services-review

#14989 MHV-51057 Session update lock
  .rubocop_todo.yml
  config/redis.yml
  lib/common/client/concerns/mhv_locked_session_client.rb
  lib/common/client/concerns/mhv_session_based_client.rb
  spec/requests/breakers_integration_spec.rb
Labels: console-services-review

#14907 Travel pay boilerplate
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/travel_pay/Gemfile
  modules/travel_pay/README.rdoc
  modules/travel_pay/Rakefile
  modules/travel_pay/app/controllers/travel_pay/application_controller.rb
  modules/travel_pay/app/controllers/travel_pay/claims_controller.rb
  modules/travel_pay/bin/rails
  modules/travel_pay/config/routes.rb
  modules/travel_pay/lib/travel_pay.rb
  modules/travel_pay/lib/travel_pay/engine.rb
  modules/travel_pay/lib/travel_pay/version.rb
  modules/travel_pay/spec/spec_helper.rb
  modules/travel_pay/travel_pay.gemspec
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: console-services-review

#15011 Api 32111 remove default selection 21 a
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#14957 API-32383 Handle duplicate poa entries
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  spec/support/schemas/claims_api/v2/errors/power_of_attorney/default.json
Labels: console-services-review, claimsApi

#14972 Remove feature flags for v3 appeals forms
  config/features.yml
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
Labels: Lighthouse, appeals, console-services-review, banana-peels

#15039 API-30616-hub-updates-v1
  modules/claims_api/catalog-info.yaml
Labels: claimsApi

#15035 VFEP-1064: increase timeout for institution searches to fix DataDog errors
  lib/gi/search_configuration.rb
  spec/lib/gi/search_configuration_spec.rb
Labels: console-services-review

#15023 Add sections 1 - 5 to pension form
  app/models/in_progress_form.rb
  app/models/saved_claim/pension.rb
  lib/evss/disability_compensation_form/form4142_processor.rb
  lib/pdf_fill/extras_generator.rb
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/form_helper.rb
  lib/pdf_fill/forms/pdfs/21P-527EZ.pdf
  lib/pdf_fill/forms/va21p527ez.rb
  lib/pdf_fill/hash_converter.rb
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.json
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-527EZ/merge_fields.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.pdf
  spec/fixtures/pdf_fill/21P-527EZ/overflow_extras.pdf
  spec/fixtures/pdf_fill/21P-527EZ/simple.json
  spec/fixtures/pdf_fill/21P-527EZ/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
  spec/lib/pdf_fill/forms/va21p527ez_spec.rb
  spec/models/in_progress_form_spec.rb
  spec/models/saved_claim/pension_spec.rb
  spec/requests/pension_claims_controller_spec.rb
Labels: console-services-review

#15045 API-32635: VAForms::FormBuilder Error Handling/Retry Logic Improvements
  .github/CODEOWNERS
  config/initializers/sidekiq.rb
  lib/sidekiq/set_current_retry.rb
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/app/sidekiq/va_forms/form_builder.rb
  modules/va_forms/spec/models/form_spec.rb
  modules/va_forms/spec/sidekiq/form_builder_spec.rb
  spec/lib/sidekiq/set_current_retry_spec.rb
Labels: Lighthouse, console-services-review, banana-peels

#15042 10-10EZ - BUG: Don't raise error when in progress form has been deleted
  app/sidekiq/hca/log_email_diff_job.rb
  spec/sidekiq/hca/log_email_diff_job_spec.rb
Labels: console-services-review

#14935 API-32110-error-messages-fed-act
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
Labels: claimsApi

#14749 Run tests on branches to k8s; don't deploy them
  .github/workflows/build.yml
Labels: Stale, console-services-review

#15047 Converting tracked_item_ids param to an array
  app/controllers/v0/benefits_documents_controller.rb
Labels: console-services-review, Claim Status Tool

#14991 Added UserInfo model
  config/features.yml
  config/settings.yml
  modules/vye/app/models/concerns/vye/gen_digest.rb
  modules/vye/app/models/vye/user_info.rb
  modules/vye/config/settings.local.yml
  modules/vye/config/settings/test.yml
  modules/vye/lib/tasks/vye.rake
  modules/vye/spec/factories/vye/user_infos.rb
  modules/vye/spec/models/vye/user_info_spec.rb
Labels: Please Review, Ready For Review, console-services-review

#14985 Api 31975 reorder request attributes
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
Labels: claimsApi

#15005 Api 32376 null value handling pdf generator
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: Lighthouse, claimsApi

#15048 mobile - add count description to docs
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/ClaimsAndAppealsOverview.yml
  modules/mobile/docs/schemas/Prescriptions.yml
  modules/mobile/docs/schemas/SecureMessageList.yml
  modules/mobile/docs/schemas/v1/SecureMessageList.yml
Labels: mobile

#14744 Update Docker to Bookworm (k8s)
  Dockerfile
  modules/claims_api/spec/fixtures/test_client.p12
Labels: console-services-review

#15060 Revert "Update Docker to Bookworm (k8s)"
  Dockerfile
  modules/claims_api/spec/fixtures/test_client.p12
Labels: console-services-review

#15062 Revert "Update Docker to Bookworm (master)"
  Dockerfile
  docs/setup/native.md
  modules/claims_api/spec/fixtures/test_client.p12
Labels: console-services-review

#15049 [BE] 72180 create new letters discrepancy controller
  app/controllers/v0/letters_discrepancy_controller.rb
  config/routes.rb
  spec/controllers/v0/letters_discrepancy_controller_spec.rb
  spec/support/vcr_cassettes/evss/letters/letters_discrepancy_less_than_lh.yml
  spec/support/vcr_cassettes/evss/letters/letters_discrepancy_same.yml
  spec/support/vcr_cassettes/evss/letters/letters_discrepancy_same_length_diff_types.yml
  spec/support/vcr_cassettes/lighthouse/letters_generator/letters_discrepancy_less_than_evss.yml
  spec/support/vcr_cassettes/lighthouse/letters_generator/letters_discrepancy_same.yml
  spec/support/vcr_cassettes/lighthouse/letters_generator/letters_discrepancy_same_length_diff_types.yml
Labels: console-services-review

#15072 API-32635: `VAForms::FormBuilder` Job Fixes
  lib/forms/schemas/forms.json
  modules/va_forms/app/models/va_forms/form.rb
  modules/va_forms/app/sidekiq/va_forms/form_builder.rb
  modules/va_forms/spec/sidekiq/form_builder_spec.rb
Labels: Lighthouse, console-services-review, banana-peels

#15037 DBEX: update Central Mail metadata validation
  lib/decision_review_v1/utilities/constants.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/decision_review_v1/utilities/helpers.rb
  lib/evss/disability_compensation_form/form4142_processor.rb
  spec/sidekiq/central_mail/submit_form4142_job_spec.rb
Labels: console-services-review

#15059 API-33083-status-monitoring-LH-hub
  modules/claims_api/catalog-info.yaml
Labels: claimsApi

#15073 [72845] Log terms-of-use redirects
  app/services/sign_in/redirect_url_generator.rb
  lib/saml/post_url_service.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/services/sign_in/redirect_url_generator_spec.rb
Labels: console-services-review

#15036 Use dynamic timezone schema for appeals APIs
  Gemfile
  modules/appeals_api/app/controllers/appeals_api/schemas/shared_schemas_controller.rb
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/config/schemas/shared/v0/timezone.json
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/spec/support/rswag_config.rb
Labels: Lighthouse, appeals, console-services-review, banana-peels

#15043 [DR-72921] Add script to pull veteran contact info
  rakelib/contact_info_via_veteran_icn.rake
  spec/rakelib/contact_info_via_veteran_icn_spec.rb
Labels: console-services-review

#15079 API-32635: `VAForms::FormBuilder` Job Improvements
  modules/va_forms/app/sidekiq/va_forms/form_builder.rb
  modules/va_forms/spec/sidekiq/form_builder_spec.rb
Labels: Lighthouse, banana-peels

#15046 API-32136 Add line to OAS
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/rswag_config.rb
Labels: NOT YET, claimsApi

#15085 Update RuboCop
  Gemfile.lock
  app/models/message_thread_details.rb
  app/models/user_session_form.rb
  app/services/users/profile.rb
  app/sidekiq/education_form/create_spool_submissions_report.rb
  app/sidekiq/education_form/process10203_submissions.rb
  config/application.rb
  lib/benefits_intake_service/service.rb
  lib/claim_letters/claim_letter_downloader.rb
  lib/common/models/collection.rb
  lib/medical_records/client.rb
  lib/okta/service.rb
  lib/sidekiq/error_tag.rb
  lib/vetext/service.rb
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/requests/api_docs_request_spec.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator/generator_hlr_spec.rb
  modules/appeals_api/spec/spec_helper.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/lib/claims_api/bgs_claim_status_mapper.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/lib/debts_api/v0/vba_fsr_form.rb
  modules/debts_api/lib/debts_api/v0/vha_fsr_form.rb
  modules/facilities_api/app/services/facilities_api/v1/ppms/client.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  rakelib/mvi.rake
  spec/lib/carma/models/attachments_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: VAOS, console-services-review

#15077 Add StatsD exhaustion metric to Pensions
  app/sidekiq/lighthouse/pension_benefit_intake_job.rb
  spec/sidekiq/lighthouse/pension_benefit_intake_job_spec.rb
Labels: console-services-review, pension-benefits

#15090 Revert "API-32337 Transition App Directory Service"
  config/settings.yml
  lib/okta/directory_service.rb
  lib/okta/service.rb
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
  spec/lib/okta/directory_service_spec.rb
  spec/support/vcr_cassettes/okta/benefits-scopes.yml
  spec/support/vcr_cassettes/okta/health_scopes.yml
  spec/support/vcr_cassettes/okta/invalid_scopes.yml
  spec/support/vcr_cassettes/okta/verification-scopes.yml
  spec/support/vcr_cassettes/okta/verification_scopes.yml
Labels: console-services-review

#15089 [73468] Update MAP provisioner logging to account for parsing errors
  lib/map/sign_up/service.rb
  spec/lib/map/sign_up/service_spec.rb
Labels: console-services-review

#15087 Update RuboCop Rails/Capybara/Rspec
  Gemfile.lock
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/dhp_connected_devices/spec/models/veteran_device_record_spec.rb
  rakelib/form526.rake
  spec/controllers/v0/disability_compensation_forms_controller_spec.rb
  spec/lib/carma/models/base_spec.rb
  spec/lib/carma/models/submission_spec.rb
  spec/lib/evss/auth_headers_spec.rb
  spec/lib/inherited_proofing/mhv/inherited_proofing_verifier_spec.rb
  spec/lib/inherited_proofing/mhv/service_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/models/inherited_proofing/audit_data_spec.rb
  spec/models/inherited_proofing/mhv_identity_data_spec.rb
  spec/models/session_spec.rb
  spec/services/form1010cg/service_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/sidekiq/account_login_statistics_job_spec.rb
Labels: console-services-review

#15091 Upgrade test/dev gems
  Gemfile.lock
Labels: console-services-review

#15093 Gem Updates: Patch level gems
  Gemfile.lock
Labels: console-services-review

#15094 Revert "Revert "API-32337 Transition App Directory Service""
  config/settings.yml
  lib/okta/directory_service.rb
  lib/okta/service.rb
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/spec/requests/v0/application_directory_request_spec.rb
  spec/lib/okta/directory_service_spec.rb
  spec/support/vcr_cassettes/okta/benefits-scopes.yml
  spec/support/vcr_cassettes/okta/health_scopes.yml
  spec/support/vcr_cassettes/okta/invalid_scopes.yml
  spec/support/vcr_cassettes/okta/verification-scopes.yml
  spec/support/vcr_cassettes/okta/verification_scopes.yml
Labels: console-services-review

#15078 Remove defunct team vfs-benefits-delivery from codeowners
  .github/CODEOWNERS
Labels: console-services-review

#15095 Update ICNs in appeals form data fixtures
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/factories/higher_level_reviews.rb
  modules/appeals_api/spec/factories/notice_of_disagreements.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_extra.json
  modules/appeals_api/spec/fixtures/higher_level_reviews/v0/valid_200996_minimum.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_extra.json
  modules/appeals_api/spec/fixtures/notice_of_disagreements/v0/valid_10182_minimum.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995.json
  modules/appeals_api/spec/fixtures/supplemental_claims/v0/valid_200995_extra.json
Labels: Lighthouse, appeals, banana-peels

#15102 Update rswag merge confliction
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: claimsApi

#14010 1230 CSP lock & unlock authentication
  .github/CODEOWNERS
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/concerns/sign_in/service_account_authentication.rb
  app/controllers/sign_in/client_configs_controller.rb
  app/controllers/sign_in/service_account_application_controller.rb
  app/controllers/v0/account_controls_controller.rb
  app/controllers/v0/map_services_controller.rb
  app/models/user_verification.rb
  app/serializers/user_verification_serializer.rb
  app/services/sign_in/constants/service_account_access_token.rb
  app/services/sign_in/errors.rb
  config/routes.rb
  db/seeds/development.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/sign_in/service_account_application_controller_spec.rb
  spec/controllers/v0/account_controls_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/user_verifications.rb
  spec/models/user_verification_spec.rb
  spec/serializers/user_verification_serializer_spec.rb
  spec/services/login/user_verifier_spec.rb
Labels: console-services-review

#15069 Add sections 11 - 12 to pension pdf mapping
  app/models/saved_claim/pension.rb
  lib/pdf_fill/forms/pdfs/21P-527EZ.pdf
  lib/pdf_fill/forms/va21p527ez.rb
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.json
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-527EZ/merge_fields.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.pdf
  spec/fixtures/pdf_fill/21P-527EZ/simple.pdf
  spec/lib/pdf_fill/forms/va21p527ez_spec.rb
Labels: console-services-review

#15112 API-34864 Remove inheritance relationships in appeals segemented API controllers
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/openid_auth.rb
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
Labels: Lighthouse, appeals, banana-peels

#15074 Add s3 bucket access check to service healthcheck
  modules/vba_documents/app/controllers/vba_documents/metadata_controller.rb
  modules/vba_documents/spec/request/metadata_request_spec.rb
Labels: banana-peels

#15109 add new feature flag for claim linker
  config/features.yml
Labels: console-services-review

#15083 Mobile: Update docs to match reality
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/cc_appointment_request.yml
  modules/mobile/docs/examples/appointments/partial_appointments.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment_request.yml
  modules/mobile/docs/examples/appointments/va_video_connect_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/Appointment.yml
  modules/mobile/docs/schemas/Appointments.yml
Labels: mobile

#15075 VA-IIR-285: provide an exception when raising InternalServerError
  app/controllers/v0/post911_gi_bill_statuses_controller.rb
  config/features.yml
  spec/controllers/v0/post911_gi_bill_statuses_controller_spec.rb
Labels: console-services-review

#15111 Pension 73245 confirmation page
  app/controllers/v0/pension_claims_controller.rb
  app/sidekiq/lighthouse/pension_benefit_intake_job.rb
  spec/sidekiq/lighthouse/pension_benefit_intake_job_spec.rb
Labels: console-services-review, pension-benefits

#15068 API-32884 remove md5 lookup
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#15114 Api 33452 fix reject method error claims
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: claimsApi

#15041 1348 added claims endpoint for chatbot claims skill
  app/controllers/v0/virtual_agent/virtual_agent_claim_status_controller.rb
  config/routes.rb
  lib/lighthouse/benefits_claims/service_exception.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_status_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/claims_chatbot_multiple_claims.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/claims_chatbot_single_claim.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/claims_chatbot_zero_claims.yml
Labels: console-services-review

#15120 enabled_in_development -> enable_in_development
  config/features.yml
Labels: console-services-review

#15108 Rx access denied logging
  app/policies/mhv_prescriptions_policy.rb
Labels: console-services-review

#15117 72959 Add representatives portal feature toggle
  config/features.yml
Labels: console-services-review

#14800 Update controller template to add service_tag stub
  lib/generators/module_component/templates/app/controllers/controller.rb.erb
Labels: console-services-review

#15128 Update CODEOWNERS
  .github/CODEOWNERS
  Dangerfile
Labels: console-services-review

#15129 Modify VAForms VCR Cassette
  config/settings.yml
  config/settings/test.yml
  modules/va_forms/spec/sidekiq/form_reloader_spec.rb
  spec/support/vcr_cassettes/va_forms/gql_forms.yml
  spec/support/vcr_cassettes/va_forms/va_forms.yml
Labels: Lighthouse, console-services-review, banana-peels

#15115 Remove Flipper for Dependents Encrypted Jobs (Requires Second PR)
  app/services/bgs/dependent_service.rb
  app/sidekiq/bgs/submit_form674_encrypted_job.rb
  app/sidekiq/bgs/submit_form674_job.rb
  app/sidekiq/bgs/submit_form686c_encrypted_job.rb
  app/sidekiq/bgs/submit_form686c_job.rb
  app/sidekiq/vbms/submit_dependents_pdf_job.rb
  config/features.yml
  spec/services/bgs/dependent_service_spec.rb
  spec/sidekiq/bgs/submit_form674_encrypted_job_spec.rb
  spec/sidekiq/bgs/submit_form674_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_encrypted_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_job_spec.rb
  spec/sidekiq/vbms/submit_dependents_pdf_encrypted_job_spec.rb
  spec/sidekiq/vbms/submit_dependents_pdf_job_spec.rb
Labels: console-services-review

#15113 MHV 53459 Secure Messaging Handle "No messages in the requested folder" error
  modules/my_health/app/controllers/my_health/v1/threads_controller.rb
  modules/my_health/spec/request/v1/threads_request_spec.rb
  spec/support/schemas/message_threads_no_messages.json
  spec/support/vcr_cassettes/sm_client/threads/gets_threads_in_a_folder_no_messages.yml
Labels: secure messaging, console-services-review

#15124 Stop using submit_form in 1010EZR datadog dashboard
  lib/form1010_ezr/service.rb
  spec/lib/form1010_ezr/service_spec.rb
Labels: console-services-review

#15133 added UserInfosController and moved feature toggle to controller level
  config/features.yml
  modules/vye/.gitignore
  modules/vye/.rubocop.yml
  modules/vye/app/controllers/vye/application_controller.rb
  modules/vye/app/controllers/vye/v1/application_controller.rb
  modules/vye/app/controllers/vye/v1/user_infos_controller.rb
  modules/vye/app/models/concerns/vye/gen_digest.rb
  modules/vye/app/models/vye/user_info.rb
  modules/vye/app/policies/vye/user_info_policy.rb
  modules/vye/app/serializers/vye/award_serializer.rb
  modules/vye/app/serializers/vye/pending_document_serializer.rb
  modules/vye/app/serializers/vye/user_info_serializer.rb
  modules/vye/app/serializers/vye/verification_serializer.rb
  modules/vye/config/routes.rb
  modules/vye/spec/models/vye/user_info_spec.rb
  modules/vye/spec/requests/vye/v1/show_spec.rb
Labels: Please Review, console-services-review

#15135 [BE] CST: 66043 Log claim types to data dog
  app/controllers/v0/benefits_claims_controller.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
Labels: console-services-review, Claim Status Tool

#15137 [BE] CST: 66043 added claim_id to claim type data being logged
  app/controllers/v0/benefits_claims_controller.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
Labels: console-services-review

#14996 [DBEX - TREX] Update form 0781 and form 4142 to use submission creation in datestamp and received_date fields
  app/sidekiq/evss/disability_compensation_form/submit_form0781.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/evss/disability_compensation_form/form4142_processor.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/sidekiq/central_mail/submit_form4142_job_spec.rb
Labels: console-services-review, disability-compensation

#14979 API-000 remove okta components
  .github/CODEOWNERS
  app/models/okta_redis/app.rb
  app/models/okta_redis/grants.rb
  app/models/okta_redis/model.rb
  app/models/okta_redis/profile.rb
  app/models/openid_user.rb
  app/models/openid_user_identity.rb
  config/initializers/breakers.rb
  config/redis.yml
  lib/oidc/configuration.rb
  lib/oidc/response.rb
  lib/oidc/service.rb
  lib/okta/configuration.rb
  lib/okta/response.rb
  lib/okta/service.rb
  lib/okta/user_profile.rb
  modules/claims_api/spec/models/veteran_spec.rb
  spec/factories/okta_profiles.rb
  spec/factories/openid_users.rb
  spec/lib/okta/configuration_spec.rb
  spec/lib/okta/directory_service_spec.rb
  spec/models/okta_redis/app_spec.rb
  spec/models/okta_redis/grants_spec.rb
  spec/models/okta_redis/profile_spec.rb
  spec/models/openid_user_identity_spec.rb
  spec/models/openid_user_spec.rb
  spec/requests/connected_applications_request_spec.rb
  spec/requests/swagger_spec.rb
  spec/spec_helper.rb
  spec/support/okta_users_helpers.rb
  spec/support/vcr_cassettes/okta/connection_logs.yml
  spec/support/vcr_cassettes/okta/delete_grants.yml
  spec/support/vcr_cassettes/okta/delete_grants_error.yml
  spec/support/vcr_cassettes/okta/grants.yml
  spec/support/vcr_cassettes/okta/health-scopes.yml
  spec/support/vcr_cassettes/okta/metadata-bad.yml
  spec/support/vcr_cassettes/okta/metadata-no-jwks.yml
  spec/support/vcr_cassettes/okta/metadata-ssoe.yml
  spec/support/vcr_cassettes/okta/multiple_apps.yml
  spec/support/vcr_cassettes/okta/openid-user-charon.yml
  spec/support/vcr_cassettes/okta/openid-user-login-gov.yml
  spec/support/vcr_cassettes/okta/openid-user.yml
  spec/support/vcr_cassettes/okta/ssoi-user.yml
  spec/support/vcr_cassettes/okta/user-search-empty.yml
  spec/support/vcr_cassettes/okta/user-search.yml
Labels: console-services-review

#15141 Bump fitbit_api to 0.17.1
  Gemfile.lock
Labels: console-services-review

#15070 Bump carrierwave
  Gemfile.lock
  app/uploaders/preneed_attachment_uploader.rb
Labels: console-services-review

#15144 Gem Update: pdf-reader
  Gemfile.lock
Labels: console-services-review

#15142 Pension 73850 Intake Metadata
  app/sidekiq/lighthouse/pension_benefit_intake_job.rb
  lib/benefits_intake_service/service.rb
  spec/sidekiq/lighthouse/pension_benefit_intake_job_spec.rb
Labels: console-services-review

#15126 Api 32569 null handling currently va employee
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: Lighthouse, claimsApi

#15016 add flipper for load testing
  config/features.yml
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
Labels: console-services-review, claimsApi

#15138 Remove toggle
  config/features.yml
Labels: console-services-review

#15151 Gem Update: faker
  Gemfile.lock
Labels: console-services-review

#15099 Update govdelivery-tms to 4.0.0
  Gemfile
  Gemfile.lock
Labels: console-services-review

#15055 Include more flipper questions in template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: console-services-review

#15152 API-33544: Ensure All Slack Messages Sent by Forms API Check the `slack.enabled` Setting
  modules/va_forms/app/services/va_forms/slack/messenger.rb
  modules/va_forms/app/sidekiq/va_forms/form_builder.rb
  modules/va_forms/spec/services/va_forms/slack/messenger_spec.rb
Labels: Lighthouse, banana-peels

#15071 Adds Feature flag for pending direct deposit prefill functionality
  config/features.yml
Labels: console-services-review, platform-tech-team-1

#15153 Gem Update: google-apis-core
  Gemfile.lock
Labels: console-services-review

#14911 Notify on failure of k8s sync
  .github/workflows/sync_branch.yml
Labels: console-services-review

#15156 Gem Update: roo
  Gemfile.lock
Labels: console-services-review

#15157 Gem Update: rubocop 1.60.1
  Gemfile.lock
Labels: console-services-review

#15110 Add pension pdf sections 6, 7, 8, 9, 10
  Gemfile.lock
  app/controllers/v0/pension_claims_controller.rb
  app/models/saved_claim/pension.rb
  lib/pdf_fill/forms/pdfs/21P-527EZ.pdf
  lib/pdf_fill/forms/va21p527ez.rb
  spec/factories/pension_claim.rb
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.json
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-527EZ/merge_fields.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.pdf
  spec/fixtures/pdf_fill/21P-527EZ/overflow_extras.pdf
  spec/fixtures/pdf_fill/21P-527EZ/simple.json
  spec/fixtures/pdf_fill/21P-527EZ/simple.pdf
  spec/lib/pdf_fill/forms/va21p527ez_spec.rb
  spec/lib/saved_claims_spec_helper.rb
  spec/models/saved_claim/pension_spec.rb
  spec/requests/pension_claims_controller_spec.rb
Labels: console-services-review, pension-benefits

#15158 Remove duplicate serializer
  .github/CODEOWNERS
  modules/health_quest/app/marshallers/health_quest/json_marshaller.rb
  modules/health_quest/app/models/health_quest/questionnaire_response.rb
  spec/lib/json_marshal/marshaller_spec.rb
Labels: console-services-review

#15160 Revert "Update govdelivery-tms to 4.0.0"
  Gemfile
  Gemfile.lock
Labels: console-services-review

#15107 add mobile dependent form submissions endpoint and service update
  app/services/bgs/dependent_service.rb
  modules/mobile/app/controllers/mobile/v0/dependents_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/CreateDependents.yml
  modules/mobile/docs/schemas/CreateDependentsResponse.yml
  modules/mobile/spec/request/dependents_request_spec.rb
  spec/controllers/v0/dependents_applications_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/bgs/dependent_service_spec.rb
Labels: mobile, console-services-review

#15056 [CST] Include sponsor ICN when making 5103 requests
  .gitignore
  app/controllers/v0/benefits_claims_controller.rb
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/benefits_claims/service.rb
  lib/lighthouse/benefits_claims/sponsor_resolver.rb
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/lib/lighthouse/benefits_claims/sponsor_resolver_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/submit5103/200_response_dependent.yml
Labels: mobile, console-services-review

#15180 pass failed claim data to log_validation_error_to_metadata
  app/controllers/v0/pension_claims_controller.rb
Labels: console-services-review, pension-benefits

#15162 [CST] Fix issues with 404s on document uploads
  .github/CODEOWNERS
  app/controllers/v0/benefits_claims_controller.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
Labels: console-services-review

#15182 Remove statement to ignore CVE
  .github/workflows/code_checks.yml
Labels: console-services-review

#15130 Added 503 http status code for failed healthcheck, changed status to …
  modules/vba_documents/app/controllers/vba_documents/metadata_controller.rb
  modules/vba_documents/spec/request/metadata_request_spec.rb
Labels: Lighthouse, banana-peels

#15186 Delete extra preneeds lines in codeowners
  .github/CODEOWNERS
Labels: console-services-review

#15185 Fixed merge conflict and added code checks
  Gemfile.lock
Labels: console-services-review

#15189 Merge from master
  .github/CODEOWNERS
  modules/vba_documents/app/controllers/vba_documents/metadata_controller.rb
  modules/vba_documents/spec/request/metadata_request_spec.rb
Labels: console-services-review

#15179 Update Sidekiq args to simple JSON types
  app/controllers/v0/ppiu_controller.rb
  app/controllers/v0/profile/ch33_bank_accounts_controller.rb
  spec/controllers/v0/profile/ch33_bank_accounts_controller_spec.rb
  spec/controllers/v0/profile/direct_deposits/disability_compensations_controller_spec.rb
  spec/requests/ppiu_request_spec.rb
Labels: console-services-review

#15194 API-32302 delete remaining okta settings
  config/betamocks/services_config.yml
  config/settings.yml
  spec/support/vcr.rb
Labels: console-services-review

#15199 API-33396 Update nested phone to phone_number for POA V2
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  spec/support/schemas/claims_api/veterans/power-of-attorney/get.json
Labels: console-services-review, claimsApi

#15187 API-32555-fix-oauth-link-oas
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/support/rswag_config.rb
Labels: claimsApi

#15159 Fail silently if EnrollmentEligibility service is not working
  app/models/form_profiles/va_1010ezr.rb
  spec/models/form_profile_spec.rb
Labels: console-services-review

#15201 Added PendingDocument model
  modules/vye/app/models/vye/pending_document.rb
  modules/vye/spec/factories/vye/pending_documents.rb
  modules/vye/spec/models/vye/pending_document_spec.rb
Labels: Ready For Review, ruby

#15192 Pension 74046 Remove Lighthouse submit flipper
  app/controllers/v0/pension_claims_controller.rb
  config/features.yml
Labels: console-services-review, pension-benefits

#15203 Added AddressChange model
  modules/vye/app/controllers/vye/v1/address_changes_controller.rb
  modules/vye/app/models/vye/address_change.rb
  modules/vye/config/routes.rb
  modules/vye/spec/factories/vye/address_changes.rb
  modules/vye/spec/models/vye/address_change_spec.rb
  modules/vye/spec/requests/vye/v1/address/create_spec.rb
Labels: Ready For Review, ruby

#15188 Log error instead of raising it for PreCacheClaimsAndAppealsJo
  modules/mobile/app/sidekiq/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/spec/sidekiq/pre_cache_claims_and_appeals_job_spec.rb
Labels: mobile

#15200 Added Verification model
  modules/vye/app/controllers/vye/v1/verifications_controller.rb
  modules/vye/app/models/vye/award.rb
  modules/vye/app/models/vye/verification.rb
  modules/vye/config/routes.rb
  modules/vye/spec/factories/vye/awards.rb
  modules/vye/spec/factories/vye/verifications.rb
  modules/vye/spec/models/vye/award_spec.rb
  modules/vye/spec/models/vye/verification_spec.rb
  modules/vye/spec/requests/vye/v1/verify/create_spec.rb
Labels: Ready For Review, ruby

#15170 63663 Remove any references of va_online_scheduling_acheron_service feature toggle
  config/features.yml
Labels: console-services-review

#15213 API-31568 v2 veteran identifier doc update
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/veteran_identifier/request.json
Labels: claimsApi

#15205 Update govdelivery-tms to 4.0.0 with action mailer delivery method fix
  Gemfile
  Gemfile.lock
Labels: console-services-review

#15210 Fix coverband initialization
  .github/CODEOWNERS
  Gemfile
  config/routes.rb
  lib/github_authentication/coverband_reporters_web.rb
Labels: console-services-review

#15215 Updates docs for ITG GET in dev and production
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_intent_to_file_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/intent_to_file/intent_to_file.json
Labels: console-services-review, claimsApi

#15191 vfep-943/871/860 - changes to 1995 spool file, removing sections, behind feature flags
  app/sidekiq/education_form/templates/1995.erb
  app/sidekiq/education_form/templates/bank_account_no_stop.erb
  spec/fixtures/education_benefits_claims/1995/ch1606.spl
  spec/fixtures/education_benefits_claims/1995/ch30.spl
  spec/fixtures/education_benefits_claims/1995/ch33_fry.spl
  spec/fixtures/education_benefits_claims/1995/ch33_post911.spl
  spec/fixtures/education_benefits_claims/1995/kitchen_sink.spl
  spec/fixtures/education_benefits_claims/1995/minimal.spl
Labels: console-services-review

#15217 Updates ID in parameters for 5103 docs, compiles docs to reflect change
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_evidence_waiver_spec.rb
Labels: claimsApi

#15218 Create migration for new flagged_veteran_representative_contact_data table
  db/migrate/20240122212019_create_flagged_veteran_representative_contact_data.rb
  db/schema.rb
Labels: console-services-review, find-a-representative

#15212 [CST] Adding logging when user doesn't have veteran identifiers
  app/controllers/v0/benefits_claims_controller.rb
Labels: console-services-review, Claim Status Tool

#14930 Bump bgs_ext -> 0.22.0
  Gemfile.lock
  spec/support/vcr_cassettes/bgs/ddeft/find_bank_name_valid.yml
  spec/support/vcr_cassettes/bgs/service/find_ch33_dd_eft.yml
  spec/support/vcr_cassettes/bgs/service/find_ch33_dd_eft_no_bank_info.yml
  spec/support/vcr_cassettes/bgs/service/find_ch33_dd_eft_no_icn.yml
  spec/support/vcr_cassettes/bgs/service/find_rating_data.yml
  spec/support/vcr_cassettes/bgs/service/update_ch33_dd_eft.yml
  spec/support/vcr_cassettes/form1010_ezr/authorized_submit.yml
  spec/support/vcr_cassettes/form1010_ezr/authorized_submit_with_mexican_province.yml
  spec/support/vcr_cassettes/form1010_ezr/authorized_submit_with_next_of_kin_and_emergency_contact.yml
  spec/support/vcr_cassettes/hca/demographic_no.yml
  spec/support/vcr_cassettes/hca/health_check.yml
  spec/support/vcr_cassettes/hca/health_check_downtime.yml
  spec/support/vcr_cassettes/hca/medicare_claim_num.yml
  spec/support/vcr_cassettes/hca/short_form.yml
  spec/support/vcr_cassettes/hca/sigi.yml
  spec/support/vcr_cassettes/hca/submit_anon.yml
  spec/support/vcr_cassettes/hca/submit_auth.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment.yml
  spec/support/vcr_cassettes/hca/submit_with_attachment_jpg.yml
  spec/support/vcr_cassettes/preneeds/burial_forms/burial_form_with_attachments.yml
  spec/support/vcr_cassettes/preneeds/burial_forms/creates_a_pre_need_burial_form.yml
Labels: console-services-review
