Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-10, with the labels that each got.

#18669 [10-10CG] Update test coverage for Form 10-10CG
  spec/services/form1010cg/auditor_spec.rb
  spec/services/form1010cg/service_spec.rb
Labels: test-passing, require-backend-approval

#18655 Create Vets::Response base class
  lib/vets/response.rb
  spec/lib/vets/response_spec.rb
Labels: test-passing, require-backend-approval

#18681 Handle cases where we want to send SimpleForms email to UserAccount
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
Labels: test-passing, require-backend-approval

#18670 dbex/92496: modify transactionId to LH Submit request bodies
  app/models/form526_submission.rb
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  lib/lighthouse/benefits_claims/service.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: test-passing, require-backend-approval

#18674 [SIMPLE_FORMS] fix: update attachment handling to account for path names instead of objects
  modules/simple_forms_api/app/services/simple_forms_api/s3/submission_archive_builder.rb
  modules/simple_forms_api/spec/services/s3/submission_archive_builder_spec.rb
Labels: test-passing, require-backend-approval

#18606 API-40246-sync-alert
  modules/claims_api/app/services/claims_api/slack/failed_submissions_messenger.rb
  modules/claims_api/app/sidekiq/claims_api/report_hourly_unsuccessful_submissions.rb
  modules/claims_api/spec/services/failed_submissions_messenger_spec.rb
  modules/claims_api/spec/sidekiq/report_hourly_unsuccessful_submissions_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18683 API-40530-update-526-docs-valid-zip-codes
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/generate_pdf_example.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18622 API-40384 directory controller displayName update
  modules/apps_api/app/controllers/apps_api/v0/directory_controller.rb
  modules/apps_api/spec/requests/apps_api/v0/directory_spec.rb
  spec/support/vcr_cassettes/okta/duplicate_displayname.yml
Labels: test-passing, require-backend-approval

#18676 change f1 in uploads controller
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
Labels: test-passing, require-backend-approval

#18698 [VI-530] Update MHV account creation parsing
  lib/mhv/account_creation/service.rb
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_200_response.yml
Labels: test-passing, omit-backend-approval

#18686 BE | Ask VA API: Refactor Translator and Add Shared Context for Specs
  modules/ask_va_api/app/lib/ask_va_api/translator.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/creator_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/translator_spec.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/inquiries_spec.rb
  modules/ask_va_api/spec/support/shared_contexts.rb
Labels: test-passing, require-backend-approval

#18705 API-40640-revert-clam-av-change-pdf-gen
  modules/claims_api/app/services/claims_api/disability_compensation/pdf_generation_service.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18647 9621 mobile translations file
  modules/mobile/app/assets/translations/en/common.json
  modules/mobile/spec/validations/translations_validation_spec.rb
Labels: danger-alert, test-passing, require-backend-approval

#18482 Vebt 479 sundown sweep script
  modules/vye/app/sidekiq/vye/sundown_sweep/delete_processed_s3_files.rb
  modules/vye/lib/concerns/vye/cloud_transfer.rb
  modules/vye/lib/tasks/vye/delete_processed_s3_files.rake
  modules/vye/lib/vye/batch_transfer/bdn_chunk.rb
  modules/vye/lib/vye/batch_transfer/tims_chunk.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/delete_processed_s3_files_spec.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18700 Invalidating MPI cache when user authenticates
  app/models/user.rb
  app/models/user_session_form.rb
  spec/models/user_spec.rb
Labels: test-passing, omit-backend-approval

#18691 Add Attribute Inheritance to Vets::Model
  lib/vets/attributes.rb
  lib/vets/attributes/value.rb
  lib/vets/model.rb
  spec/lib/vets/attributes/value_spec.rb
  spec/lib/vets/attributes_spec.rb
  spec/lib/vets/model_spec.rb
Labels: test-passing, require-backend-approval

#18605 Remove virtus from HCA::UserAttributes
  lib/hca/user_attributes.rb
Labels: audit-service-failure, test-passing, require-backend-approval

#18671 90724: Separate process_attahcment in favor of direct calls
  modules/pensions/app/controllers/pensions/v0/claims_controller.rb
  modules/pensions/app/models/pensions/saved_claim.rb
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/spec/controllers/v0/claims_controller_spec.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
  modules/pensions/spec/models/pensions/saved_claim_spec.rb
  modules/pensions/spec/support/saved_claims_spec_helper.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18722 [VI-534] Properly passing along hashed_device_secret in refreshed access token for sessions that are device_sso enabled
  app/services/sign_in/session_refresher.rb
  spec/services/sign_in/session_refresher_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18718 [SIMPLE_FORMS] fix: update size range for uploader
  app/uploaders/veteran_facing_forms_remediation_uploader.rb
Labels: test-passing, require-backend-approval

#18727 Handle user_account in NotificationEmail
  app/models/form_submission_attempt.rb
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
  spec/models/form_submission_attempt_spec.rb
Labels: test-passing, require-backend-approval

#18709 [10-10CG] Update specs to get 100% coverage per simple-cov
  spec/lib/carma/client/mule_soft_auth_token_configuration_spec.rb
  spec/lib/carma/client/mule_soft_configuration_spec.rb
Labels: test-passing, require-backend-approval

#18497 Strip fileno before validating
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  modules/vba_documents/spec/sidekiq/upload_processor_spec.rb
Labels: Lighthouse, benefits-intake, banana-peels, ready-for-backend-review, test-passing, require-backend-approval

#18490 Default s3_deleted to false when creating new Benefits Intake Upload Submission records
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/sidekiq/vba_documents/upload_remover.rb
  modules/vba_documents/spec/models/upload_submission_spec.rb
Labels: Lighthouse, benefits-intake, banana-peels, ready-for-backend-review, test-passing, require-backend-approval

#18710 Add `10-7959f-1-FMP` to FE app names
  lib/source_app_middleware.rb
Labels: test-passing, require-backend-approval

#18726 [Disability Benefits] Add missing dispatch logging to Form 526 ancillary document upload failure emails
  app/sidekiq/evss/disability_compensation_form/form0781_document_upload_failure_email.rb
  app/sidekiq/evss/disability_compensation_form/form4142_document_upload_failure_email.rb
  spec/sidekiq/evss/disability_compensation_form/form0781_document_upload_failure_email_spec.rb
  spec/sidekiq/evss/disability_compensation_form/form4142_document_upload_failure_email_spec.rb
Labels: test-passing, require-backend-approval

#18732 EDM/update codeowners for SOB
  .github/CODEOWNERS
Labels: test-passing, require-backend-approval

#18571 Mobile debts model
  modules/mobile/app/models/mobile/v0/debt.rb
  modules/mobile/app/serializers/mobile/v0/debts_serializer.rb
  modules/mobile/spec/requests/mobile/v0/debts_spec.rb
Labels: test-passing, require-backend-approval

#18736 Update bin/setup native for PostGIS check
  bin/lib/vets-api/setups/native.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18699 [10-10CG] Refactor `applications_retried` metric increment to not use redis
  app/sidekiq/form1010cg/submission_job.rb
  config/features.yml
  spec/sidekiq/form1010cg/submission_job_spec.rb
Labels: test-passing, require-backend-approval

#18719 rename uploaded file class data to avoid filtering
  app/controllers/concerns/form_attachment_create.rb
  spec/concerns/form_attachment_create_spec.rb
Labels: test-passing, require-backend-approval

#18721 Cleanup Email Logic for VRE Form Submission
  app/models/saved_claim/veteran_readiness_employment_claim.rb
Labels: test-passing, require-backend-approval

#18740 Adding nbf field to SiS STS access token which describes the start time the token should be considered valid
  app/services/sign_in/service_account_access_token_jwt_encoder.rb
  spec/services/sign_in/service_account_access_token_jwt_encoder_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18734 Simple Forms NotificationEmail bugfix on getting first_name
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18657 EDM-190/enable unlimited sob access behind feature toggle
  app/controllers/v0/backend_statuses_controller.rb
  app/controllers/v1/post911_gi_bill_statuses_controller.rb
  app/models/backend_status.rb
  app/serializers/backend_status_serializer.rb
  lib/lighthouse/benefits_education/outside_working_hours.rb
  lib/lighthouse/benefits_education/service.rb
  spec/controllers/v1/post911_gi_bill_statuses_controller_spec.rb
  spec/lib/lighthouse/benefits_education/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/backend_status_spec.rb
  spec/requests/v1/post911_gi_bill_status_spec.rb
Labels: test-passing, require-backend-approval

#18745 Disability benefits nb refactor document upload provider initialization 1
  lib/disability_compensation/factories/api_provider_factory.rb
  lib/disability_compensation/providers/document_upload/evss_supplemental_document_upload_provider.rb
  lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider.rb
  spec/lib/disability_compensation/factories/api_provider_factory_spec.rb
  spec/lib/disability_compensation/providers/document_upload/evss_supplemental_document_upload_provider_spec.rb
  spec/lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider_spec.rb
  spec/support/disability_compensation_form/shared_examples/supplemental_document_upload_provider.rb
Labels: test-passing, require-backend-approval

#18748 [VI-476] updates mhv account creation betamocks path
  config/betamocks/services_config.yml
Labels: test-passing, require-backend-approval

#18434 91993 Modify CIE vaos appointment serializer for upcoming appointments
  modules/check_in/app/serializers/check_in/vaos/appointment_serializer.rb
  modules/check_in/spec/requests/check_in/v2/sessions/appointments_spec.rb
  modules/check_in/spec/serializers/vaos/appointment_serializer_spec.rb
Labels: danger-alert, ready-for-backend-review, test-passing, require-backend-approval

#18679 Created migration file for new evidence submissions table
  db/migrate/20240925160219_create_evidence_submissions.rb
  db/schema.rb
Labels: Claim Status Tool, test-passing, require-backend-approval

#18749 [CST] Adding new feature toggle for evidence failure emails
  config/features.yml
Labels: Claim Status Tool, test-passing, require-backend-approval

#18750 Add redis sidekiq health checker to initializer
  config/initializers/sidekiq.rb
Labels: test-passing, require-backend-approval

#18690 Remove authorization policy to allow access for LOA1 users
  app/controllers/v0/my_va/submission_statuses_controller.rb
  spec/requests/v0/my_va/submission_statuses_spec.rb
Labels: test-passing, require-backend-approval

#18751 Overhaul Lighthouse API Upload Provider logging
  lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider.rb
  lib/disability_compensation/providers/document_upload/supplemental_document_upload_provider.rb
  spec/lib/disability_compensation/providers/document_upload/evss_supplemental_document_upload_provider_spec.rb
  spec/lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider_spec.rb
Labels: test-passing, require-backend-approval

#18747 Travel Pay/Update query path builder for appointments client
  modules/travel_pay/app/services/travel_pay/appointments_client.rb
Labels: waiting-for-info, ready-for-backend-review, test-passing, require-backend-approval

#18678 Travel Pay/Create new claim client and service
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/app/services/travel_pay/claims_service.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
  modules/travel_pay/spec/services/claims_service_spec.rb
Labels: waiting-for-info, ready-for-backend-review, test-passing, require-backend-approval

#18752 Fix how we query MPI Profile for first name
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
Labels: test-passing, require-backend-approval

#18728 Travel Pay/Add `Expenses` client + service
  modules/travel_pay/app/services/travel_pay/expenses_client.rb
  modules/travel_pay/app/services/travel_pay/expenses_service.rb
  modules/travel_pay/spec/services/expenses_client_spec.rb
  modules/travel_pay/spec/services/expenses_service_spec.rb
Labels: test-passing, require-backend-approval

#18704 Add logging when we're about to send a failure email
  app/models/form_submission_attempt.rb
Labels: test-passing, require-backend-approval

#18733 86426: Add logic to Sidekiq job to avoid duplicating logic if pending…
  app/models/form_submission.rb
  modules/pensions/app/sidekiq/pensions/pension_benefit_intake_job.rb
  modules/pensions/spec/factories/pension_claim.rb
  modules/pensions/spec/sidekiq/pensions/pension_benefit_intake_job_spec.rb
  spec/models/form_submission_spec.rb
Labels: test-passing, require-backend-approval

#18712 API-40501-sync-errors-nightly-report
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/app/sidekiq/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/app/sidekiq/claims_api/reporting_base.rb
  modules/claims_api/app/views/claims_api/_submission_grouped_table.html.erb
  modules/claims_api/app/views/claims_api/_submission_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
  modules/claims_api/spec/sidekiq/report_unsuccessful_submissions_spec.rb
  modules/claims_api/spec/sidekiq/shared_reporting_examples_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18758 Handle nil form_data with a sensible default, needed for JSON parsing
  app/models/form_submission.rb
  spec/models/form_submission_spec.rb
Labels: test-passing, require-backend-approval

#18737 API-40626-errored-claims-show-example
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18761 Set timezone to US Eastern for Simple Forms email sends
  app/models/form_submission_attempt.rb
Labels: test-passing, require-backend-approval

#18762 Overhaul EVSS API Upload Provider logging
  lib/disability_compensation/providers/document_upload/evss_supplemental_document_upload_provider.rb
  spec/lib/disability_compensation/providers/document_upload/evss_supplemental_document_upload_provider_spec.rb
  spec/lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider_spec.rb
Labels: test-passing, require-backend-approval

#18702 VANotify - Add Statsd for successful icn and user account jobs
  modules/va_notify/app/sidekiq/va_notify/icn_job.rb
  modules/va_notify/app/sidekiq/va_notify/user_account_job.rb
  modules/va_notify/spec/sidekiq/icn_job_spec.rb
  modules/va_notify/spec/sidekiq/user_account_job_spec.rb
Labels: test-passing, require-backend-approval

#18701 Add status card eligibility to service history
  app/controllers/v0/profile/service_histories_controller.rb
  app/serializers/service_history_serializer.rb
  app/swagger/swagger/requests/profile.rb
  config/features.yml
  lib/va_profile/military_personnel/service_history_response.rb
  lib/va_profile/models/service_history.rb
  spec/lib/va_profile/military_personnel/service_spec.rb
  spec/lib/va_profile/models/service_history_spec.rb
  spec/requests/v0/profile/service_history_spec.rb
  spec/serializers/service_history_serializer_spec.rb
  spec/support/schemas/service_history_response.json
  spec/support/schemas_camelized/service_history_response.json
Labels: test-passing, require-backend-approval

#18724 [API-40614] halt v2 526 synchronous submission if pdf empty
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/services/claims_api/disability_compensation/pdf_generation_service.rb
  modules/claims_api/spec/services/disability_compensation/pdf_generation_service_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18717 93074 Update travel claims client to take in client_number as initialization parameter
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
Labels: test-passing, require-backend-approval

#18673 [API-40280] Appoint the POA for the dependent claimant (v1)
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/services/claims_api/dependent_claimant_poa_assignment_service.rb
  modules/claims_api/app/services/claims_api/dependent_claimant_verification_service.rb
  modules/claims_api/lib/bgs_service/person_web_service.rb
  modules/claims_api/spec/lib/claims_api/person_web_service_spec.rb
  modules/claims_api/spec/requests/v1/forms/2122_spec.rb
  modules/claims_api/spec/services/dependent_claimant_poa_assignment_service_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18708 Created initial model for evidence submissions
  .github/CODEOWNERS
  app/models/evidence_submission.rb
Labels: test-passing, require-backend-approval

#18757 dbex/94369: Remove dates from LH submit request for unselected location/hazard options
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: test-passing, require-backend-approval

#18687 API-34447-va-notify-poa-updated
  config/settings.yml
  config/settings/test.yml
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/sidekiq/claims_api/poa_updater.rb
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/app/sidekiq/claims_api/va_notify_job.rb
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122a/valid_with_claimant.json
  modules/claims_api/spec/sidekiq/poa_updater_spec.rb
  modules/claims_api/spec/sidekiq/va_notify_job_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18773 Revert "Handle nil form_data with a sensible default, needed for JSON parsing"
  app/models/form_submission.rb
  spec/models/form_submission_spec.rb
Labels: test-passing, require-backend-approval

#18774 Handle nil in form_data properly for Form Submission Attempts
  app/models/form_submission_attempt.rb
  spec/models/form_submission_attempt_spec.rb
Labels: test-passing, require-backend-approval

#18716 Vebt 591 sundown sweep script deactivate bdn
  modules/vye/app/sidekiq/vye/sundown_sweep.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/clear_deactivated_bdn.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/clear_deactivated_bdns.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/purge_stale_verifications.rb
  modules/vye/lib/concerns/vye/cloud_transfer.rb
  modules/vye/spec/factories/vye/bdn_clones.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/clear_deactivated_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/purge_stale_verifications_spec.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18771 Mobile - add to appeal model based on prod data
  modules/mobile/app/models/mobile/v0/appeal.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/Appeal.yml
  modules/mobile/docs/schemas/AppealIssue.yml
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18720 [DBX-89576] add new 0718 upload flipping logic
  app/models/form_profiles/va_526ez.rb
  config/features.yml
  config/form_profile_mappings/21-526EZ.yml
  spec/models/form_profile_spec.rb
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval

#18743 Add optional VPG routing to clinic requests
  modules/mobile/spec/requests/mobile/v0/appointments/facilities/clinics_spec.rb
  modules/vaos/app/services/vaos/v2/systems_service.rb
  modules/vaos/spec/requests/vaos/v2/locations/clinics_spec.rb
  modules/vaos/spec/services/v2/systems_service_spec.rb
  spec/support/vcr_cassettes/mobile/appointments/get_facility_clinics_200_vpg.yml
  spec/support/vcr_cassettes/mobile/appointments/get_facility_clinics_bad_facility_id_200_vpg.yml
  spec/support/vcr_cassettes/mobile/appointments/get_facility_clinics_bad_service_400_vpg.yml
  spec/support/vcr_cassettes/vaos/v2/systems/get_facility_clinics_200_vpg.yml
  spec/support/vcr_cassettes/vaos/v2/systems/get_facility_clinics_400_vpg.yml
Labels: test-passing, omit-backend-approval

#18706 Update vets-json-schema
  Gemfile.lock
  app/models/form_profiles/va_21p530v2.rb
  spec/models/form_profile_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18707 Remove `record: :new_episodes` from all tests
  modules/ask_va_api/spec/requests/ask_va_api/v0/health_facilities_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/rswag_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
  modules/covid_vaccine/spec/services/covid_vaccine/v0/expanded_registration_service_spec.rb
  modules/covid_vaccine/spec/services/covid_vaccine/v0/registration_service_spec.rb
  modules/facilities_api/spec/requests/facilities_api/v2/apidoc_spec.rb
  modules/facilities_api/spec/requests/facilities_api/v2/va_spec.rb
  modules/facilities_api/spec/services/facilities_api/v2/lighthouse/client_spec.rb
  modules/facilities_api/spec/services/facilities_api/v2/mobile_covid/client_spec.rb
  spec/lib/bb/client_spec.rb
  spec/lib/bb/generate_report_request_form_spec.rb
  spec/lib/lighthouse/facilities/client_spec.rb
  spec/lib/medical_records/bb_internal/client_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/lib/mhv_logging/api/audits_spec.rb
  spec/lib/sm/client/folders_spec.rb
  spec/lib/sm/client/message_drafts_spec.rb
  spec/lib/sm/client/messages_spec.rb
  spec/lib/sm/client/preferences_spec.rb
  spec/lib/sm/client/triage_teams_spec.rb
  spec/requests/authentication/standard_authentication_spec.rb
  spec/requests/v1/apidoc/shared_examples/facility_locator.rb
  spec/requests/v1/facilities/va_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18786 Check for confirmation_number before sending a NotificationEmail in ITF 21-0966
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
Labels: test-passing, require-backend-approval

#18472 91367 Debt Resolution Exhausted Metrics
  app/sidekiq/copay_notifications/new_statement_notification_job.rb
  app/sidekiq/copay_notifications/parse_new_statements_job.rb
  modules/debts_api/app/sidekiq/debts_api/v0/form5655/vba_submission_job.rb
  modules/debts_api/app/sidekiq/debts_api/v0/form5655/vha_submission_job.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vha/sharepoint_submission_job.rb
  modules/debts_api/app/workers/debts_api/v0/form5655/vha/vbs_submission_job.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vba_submission_job_spec.rb
  modules/debts_api/spec/workers/debt_api/v0/vha/sharepoint_submission_job_spec.rb
  modules/debts_api/spec/workers/debt_api/v0/vha/vbs_submission_job_spec.rb
  spec/sidekiq/copay_notifications/new_statement_notification_job_spec.rb
  spec/sidekiq/copay_notifications/parse_new_statements_job_spec.rb
Labels: test-passing, require-backend-approval

#18768 [SIMPLE_FORMS] feat: form remediation solution streamlining, test coverage, and documentation - PART 1
  .github/CODEOWNERS
  lib/simple_forms_api/form_remediation/configuration/base.rb
  lib/simple_forms_api/form_remediation/configuration/vff_config.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/docs/README.md
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/docs/error_remediation_architecture.png
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/file_utilities.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18756 [API-38809] POA v2 - Appoint POA for dependent claimants
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/individual_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/organization_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_validation.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122a_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18781 dbex/94369: Remove dates from LH submit request for unselected location/hazard options - "other" objects
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: test-passing, require-backend-approval

#18753 Add va_online_scheduling_vaos_alternate_route feature flag
  config/features.yml
Labels: test-passing, require-backend-approval

#18793 s3_deleted will no longer be nilable, fix unit test
  modules/vba_documents/spec/sidekiq/upload_remover_spec.rb
Labels: Lighthouse, benefits-intake, banana-peels, test-passing, omit-backend-approval

#18769 [SIMPLE_FORMS] feat: form remediation solution streamlining, test coverage, and documentation - PART 2
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_remediation_data.rb
  modules/simple_forms_api/spec/services/form_remediation/submission_remediation_data_spec.rb
Labels: test-passing, require-backend-approval

#18794 API-40554-update-v2-526-max-request
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_526_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18779 [DBX-94128] update 526 remediation model for email era
  db/migrate/20241007180915_add_remediation_type_to_form526_submission_remediations.rb
  db/schema.rb
Labels: disability-experience, test-passing, require-backend-approval, ZSF:Email, zero-silent-failures

#18789 API-40905-main-factory
  modules/claims_api/spec/factories/claims_api_base_factory.rb
  modules/claims_api/spec/factories/evidence_waiver_submissions.rb
  modules/claims_api/spec/factories/power_of_attorney.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/requests/v1/forms/2122_spec.rb
  modules/claims_api/spec/requests/v1/forms/rswag_2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/power_of_attorney_spec.rb
  modules/claims_api/spec/shared_reporting_helper.rb
  modules/claims_api/spec/sidekiq/poa_vbms_upload_job_spec.rb
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
  modules/claims_api/spec/sidekiq/shared_reporting_examples_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18816 [VACMS-18736]Add search gsa to statsd init and move rubocop exemption to shared yaml
  .rubocop_todo.yml
  config/initializers/statsd.rb
  lib/search_gsa/service.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18814 [10-10CG] Update retry_count increment for SubmissionJob
  app/sidekiq/form1010cg/submission_job.rb
  spec/sidekiq/form1010cg/submission_job_spec.rb
Labels: test-passing, require-backend-approval

#18817 93623 - remove postman from vets-api preview helm chart and build
  .github/workflows/build-and-publish.yaml
  helmCharts/vets-api/templates/postman-test.yaml
  helmCharts/vets-api/values.yaml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18675 Update Debt Sidekiq job exhaustions blocks
  .github/CODEOWNERS
  app/sidekiq/copay_notifications/mcp_notification_email_job.rb
  lib/debt_management_center/sidekiq/va_notify_email_job.rb
  modules/debts_api/app/sidekiq/debts_api/v0/form5655/vha_submission_job.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vha_submission_job_spec.rb
  spec/lib/debt_management_center/va_notify_email_job_spec.rb
  spec/sidekiq/copay_notifications/mcp_notification_email_job_spec.rb
Labels: waiting-for-info, test-passing, require-backend-approval

#18776 [SIMPLE_FORMS] feat: form remediation solution streamlining, test coverage, and documentation - PART 3
  .github/CODEOWNERS
  app/uploaders/simple_forms_api/form_remediation/uploader.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_archive.rb
  modules/simple_forms_api/spec/services/form_remediation/submission_archive_spec.rb
  spec/uploaders/simple_forms_api/form_remediation/uploader_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18808 API-40976: Fix Benefits Intake API Responses Modified by JSON Serializer Changes
  modules/vba_documents/app/serializers/vba_documents/upload_serializer.rb
  modules/vba_documents/app/serializers/vba_documents/v1/upload_serializer.rb
  modules/vba_documents/app/serializers/vba_documents/v2/upload_serializer.rb
  modules/vba_documents/spec/serializers/shared_examples_upload_serializer.rb
  modules/vba_documents/spec/serializers/upload_serializer_spec.rb
  modules/vba_documents/spec/serializers/v1/upload_serializer_spec.rb
  modules/vba_documents/spec/serializers/v2/upload_serializer_spec.rb
Labels: banana-peels, ready-for-backend-review, test-passing, omit-backend-approval

#18379 [SIMPLE_FORMS] feat: update form 21-10210 with new pdf form and expiration date
  modules/simple_forms_api/app/form_mappings/vba_21_10210.json.erb
  modules/simple_forms_api/app/models/simple_forms_api/vba_21_10210.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_26_4555-min.json
  modules/simple_forms_api/spec/fixtures/form_json/vba_26_4555.json
  modules/simple_forms_api/spec/services/pdf_filler_spec.rb
  modules/simple_forms_api/templates/vba_21_10210.pdf
Labels: test-passing, require-backend-approval

#18797 [SIMPLE_FORMS] feat: form remediation solution streamlining, test coverage, and documentation - PART 4
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/file_utilities.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/s3_client.rb
  modules/simple_forms_api/spec/services/form_remediation/s3_client_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18777 [SIMPLE_FORMS] feat: form remediation solution streamlining, test coverage, and documentation - PART 5
  .github/CODEOWNERS
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/jobs/archive_batch_processing_job.rb
  modules/simple_forms_api/lib/tasks/archive_forms_by_uuid.rake
  modules/simple_forms_api/spec/services/form_remediation/jobs/archive_batch_processing_job_spec.rb
  spec/factories/persistent_attachments.rb
Labels: test-passing, require-backend-approval

#18807 API-40975-va-gov-errors-slack-alert-dd-link
  modules/claims_api/app/services/claims_api/slack/failed_submissions_messenger.rb
  modules/claims_api/spec/services/failed_submissions_messenger_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18711 VA-IIR 1029: Add `initial_sign_in` to profile user account section
  app/models/user.rb
  app/services/users/profile.rb
  spec/controllers/v0/users_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/user_spec.rb
  spec/serializers/user_serializer_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18754 API-40862-dynamic-email-report-preview
  modules/claims_api/app/sidekiq/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/app/sidekiq/claims_api/reporting_base.rb
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/factories/intent_to_file.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/sidekiq/report_unsuccessful_submissions_spec.rb
  modules/claims_api/spec/sidekiq/shared_reporting_examples_spec.rb
  spec/mailers/previews/claims_api_unsuccessful_report_mailer_preview.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18826 Rename pensions team to pension-and-burials in CODEOWNERS
  .github/CODEOWNERS
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18534 vi-35 ToU check agreement changed
  app/sidekiq/terms_of_use/sign_up_service_updater_job.rb
  spec/sidekiq/terms_of_use/sign_up_service_updater_job_spec.rb
Labels: test-passing, require-backend-approval

#18827 update service class to use a different client number
  modules/check_in/app/services/travel_claim/service.rb
Labels: test-passing, require-backend-approval

#18831 Update ssoe_idp_int_metadata_isam.xml
  config/ssoe_idp_int_metadata_isam.xml
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18843 Remove 21-0966 (Intent to File) from submission status list
  app/controllers/v0/my_va/submission_statuses_controller.rb
  spec/factories/form_submissions.rb
  spec/lib/forms/submission_statuses/report_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/my_va/submission_statuses_spec.rb
Labels: test-passing, require-backend-approval

#18809 [Lighthouse Document Upload Migration] Migrate Upload BDD Instructions job
  app/sidekiq/evss/disability_compensation_form/upload_bdd_instructions.rb
  config/features.yml
  lib/disability_compensation/factories/api_provider_factory.rb
  spec/sidekiq/evss/disability_compensation_form/upload_bdd_instructions_spec.rb
Labels: test-passing, require-backend-approval

#18847 Removes long-covid team from covid_vaccine_facilities.rb
  .github/CODEOWNERS
Labels: test-passing, require-backend-approval

#18848 [SIMPLE_FORMS] feat: form remediation solution streamlining, test coverage, and documentation - PART 7
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/file_utilities.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/s3_client.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_archive.rb
  modules/simple_forms_api/lib/tasks/archive_forms_by_uuid.rake
  modules/simple_forms_api/spec/services/form_remediation/s3_client_spec.rb
  modules/simple_forms_api/spec/tasks/archive_forms_by_uuid_spec.rb
Labels: test-passing, require-backend-approval

#18824 Increment silent_failure statsd count when LH submission fails
  app/sidekiq/benefits_intake_status_job.rb
Labels: test-passing, require-backend-approval

#18833 9622 get translations
  modules/mobile/app/controllers/mobile/v0/translations_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/requests/mobile/v0/translations_spec.rb
Labels: test-passing, require-backend-approval

#18795 84372: Add column failure_notification_sent_at to AppealSubmission and AppealSubmissionUpload
  db/migrate/20241008231122_add_column_failure_notification_sent_at_to_appeal_submission_and_upload.rb
  db/schema.rb
Labels: test-passing, require-backend-approval

#18853 Decision Reviews| Remove 4142 flipper
  lib/decision_review_v1/appeals/supplemental_claim_services.rb
  spec/requests/v1/supplemental_claims_spec.rb
  spec/sidekiq/decision_review/form4142_submit_spec.rb
Labels: test-passing, require-backend-approval

#18852 Use form-provided email address instead of Profile email address, Part 1
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
Labels: test-passing, require-backend-approval

#18818 Fix 2122(a) PDF generation validation errors #94683
  modules/representation_management/app/controllers/representation_management/v0/pdf_generator_base_controller.rb
  modules/representation_management/app/models/representation_management/form_2122_base.rb
  modules/representation_management/spec/models/representation_management/form_2122_base_spec.rb
  modules/representation_management/spec/models/representation_management/form_2122a_data_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/pdf_generator_2122_spec.rb
Labels: test-passing, require-backend-approval

#18395 Add Swagger Documentation for PdfGenerator2122Controller
  modules/representation_management/README.rdoc
  modules/representation_management/app/controllers/representation_management/v0/apidocs_controller.rb
  modules/representation_management/app/swagger/v0/swagger.json
  modules/representation_management/spec/requests/representation_management/v0/pdf_generator_2122_swagger_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/power_of_attorney_swagger_spec.rb
  modules/representation_management/spec/support/rswag_config.rb
  modules/representation_management/spec/support/swagger_shared_components/v0.rb
  rakelib/rswag.rake
  spec/swagger_helper.rb
Labels: test-passing, require-backend-approval

#18859 9622: use translations file md5 instead of timestamp
  modules/mobile/app/controllers/mobile/v0/translations_controller.rb
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/requests/mobile/v0/translations_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18835 API-41053-526-factory
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/factories/bgs_response.rb
  modules/claims_api/spec/factories/claims_api_base_factory.rb
  modules/claims_api/spec/mailers/report_monthly_submissions_spec.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
  modules/claims_api/spec/requests/v1/forms/526_spec.rb
  modules/claims_api/spec/requests/v1/forms/rswag_526_spec.rb
  modules/claims_api/spec/requests/v1/rswag_claims_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_spec.rb
  modules/claims_api/spec/serializers/claim_detail_serializer_spec.rb
  modules/claims_api/spec/services/disability_compensation/pdf_generation_service_spec.rb
  modules/claims_api/spec/shared_reporting_helper.rb
  modules/claims_api/spec/sidekiq/claim_uploader_spec.rb
  modules/claims_api/spec/sidekiq/flash_updater_spec.rb
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
  modules/claims_api/spec/sidekiq/shared_reporting_examples_spec.rb
  modules/claims_api/spec/sidekiq/special_issue_updater_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18803 API-37755-adjust-appointment-date-poa
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/2122.json
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/individual.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/organization.rb
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/individual_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/organization_spec.rb
  modules/claims_api/spec/sidekiq/v2/poa_form_builder_job_spec.rb
Labels: claimsApi, test-passing, require-backend-approval, omit-backend-approval

#18871 Fix swagger docs test for 2122 PDF generation
  modules/representation_management/spec/requests/representation_management/v0/pdf_generator_2122_swagger_spec.rb
Labels: test-passing, require-backend-approval

#18865 [SIMPLE_FORMS] feat: form remediation solution streamlining, test coverage, and documentation - PART 8
  app/uploaders/simple_forms_api/form_remediation/uploader.rb
  lib/simple_forms_api/form_remediation/configuration/base.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/file_utilities.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/jobs/archive_batch_processing_job.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/s3_client.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_archive.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_remediation_data.rb
  modules/simple_forms_api/spec/services/form_remediation/file_utilities_spec.rb
  modules/simple_forms_api/spec/services/form_remediation/jobs/archive_batch_processing_job_spec.rb
  modules/simple_forms_api/spec/services/form_remediation/s3_client_spec.rb
  modules/simple_forms_api/spec/services/form_remediation/submission_archive_spec.rb
  modules/simple_forms_api/spec/services/form_remediation/submission_remediation_data_spec.rb
Labels: test-passing, require-backend-approval

#18828 Create va_notify_notifications table
  db/schema.rb
  modules/va_notify/db/migrate/20241010144821_create_va_notify_notifications.rb
Labels: test-passing, require-backend-approval

#18870 API-41095-va-gov-errors-slack-alert-fix-dd-timerange
  modules/claims_api/app/services/claims_api/slack/failed_submissions_messenger.rb
  modules/claims_api/spec/services/failed_submissions_messenger_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18873 fix-flakey-test
  modules/claims_api/spec/requests/v1/claims_spec.rb
  modules/claims_api/spec/sidekiq/shared_reporting_examples_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18844 [10-10CG] Remove caregiver1010 flipper logic for SubmissionJob
  app/sidekiq/form1010cg/submission_job.rb
  spec/sidekiq/form1010cg/submission_job_spec.rb
Labels: test-passing, require-backend-approval

#18694 Update Flipper UI
  app/controllers/flipper_controller.rb
  config/initializers/flipper.rb
  config/initializers/warden_github.rb
  config/routes.rb
  lib/flipper/README.md
  lib/flipper/action_patch.rb
  lib/flipper/configuration_patch.rb
  lib/flipper/route_authorization_constraint.rb
  lib/flipper/ui/action_patch.rb
  lib/flipper/ui/views/layout.erb
  lib/flipper/views/feature.erb
  lib/flipper/views/features.erb
  lib/flipper/views/layout.erb
  spec/requests/flipper_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18792 [SIMPLE_FORMS] feat: update form 21-4142 with new pdf form and expiration date
  modules/simple_forms_api/app/form_mappings/vba_21_4142.json.erb
  modules/simple_forms_api/templates/vba_21_4142.pdf
Labels: test-passing, require-backend-approval

#18819 Adds StatsD metrics for success (and/or error if applicable) to EmailJob and Service in VANotify
  modules/va_notify/app/sidekiq/va_notify/email_job.rb
  modules/va_notify/spec/lib/service_spec.rb
  modules/va_notify/spec/sidekiq/email_job_spec.rb
Labels: test-passing, require-backend-approval

#18837 API-40954-unit-phone-spaces-fix
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/auto_establish_claim_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18806 Remove unused fonts
  public/fonts/deja-vu-sans.ttf
  public/fonts/fa-brands-400.eot
  public/fonts/fa-brands-400.svg
  public/fonts/fa-brands-400.ttf
  public/fonts/fa-brands-400.woff
  public/fonts/fa-brands-400.woff2
  public/fonts/fa-regular-400.eot
  public/fonts/fa-regular-400.svg
  public/fonts/fa-regular-400.ttf
  public/fonts/fa-regular-400.woff
  public/fonts/fa-regular-400.woff2
  public/fonts/fa-solid-900.eot
  public/fonts/fa-solid-900.svg
  public/fonts/fa-solid-900.ttf
  public/fonts/fa-solid-900.woff
  public/fonts/fa-solid-900.woff2
  public/fonts/merriweather-bold-webfont.eot
  public/fonts/merriweather-bold-webfont.ttf
  public/fonts/merriweather-bold-webfont.woff
  public/fonts/merriweather-bold-webfont.woff2
  public/fonts/merriweather-italic-webfont.eot
  public/fonts/merriweather-italic-webfont.ttf
  public/fonts/merriweather-italic-webfont.woff
  public/fonts/merriweather-italic-webfont.woff2
  public/fonts/merriweather-light-webfont.eot
  public/fonts/merriweather-light-webfont.ttf
  public/fonts/merriweather-light-webfont.woff
  public/fonts/merriweather-light-webfont.woff2
  public/fonts/merriweather-regular-webfont.eot
  public/fonts/merriweather-regular-webfont.ttf
  public/fonts/merriweather-regular-webfont.woff
  public/fonts/merriweather-regular-webfont.woff2
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18730 Api 40300 526 bd upload refactor
  modules/claims_api/app/services/claims_api/disability_compensation/disability_document_service.rb
  modules/claims_api/app/services/claims_api/document_service_base.rb
  modules/claims_api/app/sidekiq/claims_api/claim_uploader.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_benefits_documents_uploader.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/lib/claims_api/disability_document_service_spec.rb
  modules/claims_api/spec/lib/claims_api/document_service_base_spec.rb
  modules/claims_api/spec/sidekiq/claim_uploader_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_benefits_documents_uploader_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18820 [API-40881] View POA Request
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/lib/bgs_service/manage_representative_service.rb
  modules/claims_api/lib/bgs_service/manage_representative_service/update_poa_request.rb
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
  modules/claims_api/spec/controllers/v2/veterans/evidence_waiver_controller_spec.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/manage_representative_service/read_poa_request_not_found.yml
  spec/support/vcr_cassettes/claims_api/bgs/manage_representative_service/read_poa_request_valid.yml
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18811 [VI-372] updates MHV account creation API mocks
  lib/mhv/account_creation/service.rb
  spec/lib/mhv/account_creation/service_spec.rb
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_200_created.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_200_created_no_sm.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_200_found.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_400_deactivated_account.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_400_invalid_icn.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_403_invalid_sts.yml
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18846 [10-10CG] Delete pdf in ensure block on download_pdf
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  config/features.yml
  spec/requests/v0/caregivers_assistance_claims_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18839 efolder index endpoint
  modules/mobile/app/controllers/mobile/v0/efolder_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/efolder.rb
  modules/mobile/app/models/mobile/v0/efolder.rb
  modules/mobile/app/serializers/mobile/v0/efolder_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/Efolder.yml
  modules/mobile/spec/requests/mobile/v0/efolder_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18856 Use form-provided email address instead of Profile email address, Part 2
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
  spec/models/form_submission_attempt_spec.rb
  spec/sidekiq/benefits_intake_status_job_spec.rb
Labels: test-passing, require-backend-approval

#18788 [Disability Benefits Team 1] Use data we have instead to find icn
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: test-passing, require-backend-approval

#18836 9641: make content group owners of mobile translations files
  .github/CODEOWNERS
Labels: test-passing, require-backend-approval

#18891 Use EOF to prevent failures from unexpected characters in GHA's
  .github/workflows/be_review_prs.yml
  .github/workflows/ready_for_review.yml
  docs/setup/hybrid.md
Labels: test-passing, require-backend-approval

#18804 [10-10CG] Add additional logging for 10-10CG Pdf generation
  app/models/saved_claim/caregivers_assistance_claim.rb
  spec/models/saved_claim/caregivers_assistance_claim_spec.rb
Labels: test-passing, require-backend-approval

#18849 Toe form types
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/lib/dgi/forms/service/submission_service.rb
  modules/meb_api/lib/dgi/submission/service.rb
  modules/meb_api/spec/dgi/forms/service/toe_submission_service_spec.rb
Labels: test-passing, require-backend-approval

#18784 Burial 94168 remove structuredata processdatajob
  .github/CODEOWNERS
  app/controllers/v0/burial_claims_controller.rb
  app/models/saved_claim.rb
  app/models/saved_claim/burial.rb
  app/sidekiq/structured_data/process_data_job.rb
  lib/burials/monitor.rb
  spec/controllers/v0/burial_claims_controller_spec.rb
  spec/lib/burials/monitor_spec.rb
  spec/models/saved_claim/burial_spec.rb
  spec/requests/v0/burial_claims_spec.rb
  spec/sidekiq/lighthouse/submit_benefits_intake_claim_spec.rb
  spec/sidekiq/structured_data/process_data_job_spec.rb
Labels: burial-benefits, ready-for-backend-review, test-passing, require-backend-approval

#18855 Delete `DirectDepositEmailJob`
  .github/CODEOWNERS
  app/sidekiq/direct_deposit_email_job.rb
  modules/mobile/spec/requests/mobile/v0/payment_information/benefits_spec.rb
  modules/mobile/spec/requests/mobile/v0/payment_information/legacy_benefits_spec.rb
  spec/mailers/direct_deposit_mailer_spec.rb
  spec/sidekiq/direct_deposit_email_job_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18883 [Lighthouse Migration] Obtain user participant ID from reliable source
  lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider.rb
  spec/lib/disability_compensation/providers/document_upload/lighthouse_supplemental_document_upload_provider_spec.rb
  spec/sidekiq/evss/disability_compensation_form/upload_bdd_instructions_spec.rb
Labels: test-passing, require-backend-approval

#18878 VaNotify - Add metadata field to notifications table
  db/schema.rb
  modules/va_notify/db/migrate/20241014205528_add_metadata_to_va_notify_notifications.rb
Labels: test-passing, require-backend-approval

#18805 [DBX-18767] update Form526SubmissionRemediation model with type enum
  app/models/form526_submission_remediation.rb
  spec/models/form526_submission_remediation_spec.rb
Labels: disability-experience, test-passing, require-backend-approval, ZSF:Email, zero-silent-failures

#18874 93076 add facility type to service instantiation
  modules/check_in/app/sidekiq/check_in/travel_claim_submission_worker.rb
Labels: test-passing, require-backend-approval

#18896 bump rubocop 1.67.0
  Gemfile.lock
  app/models/form_profile.rb
  lib/flipper/route_authorization_constraint.rb
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959a.rb
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959c.rb
  modules/ivc_champva/spec/services/s3_spec.rb
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/clear_deactivated_bdn_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18890 [CST] Send emails to users when the EVSS::DocumentUpload sidekiq job exhausts its retries
  app/services/evss_claim_service.rb
  app/sidekiq/evss/document_upload.rb
  config/settings.yml
  config/settings/test.yml
  spec/sidekiq/evss/document_upload_spec.rb
Labels: Claim Status Tool, test-passing, require-backend-approval, zero-silent-failures

#18875 93077 Update travel claims status check worker with facility type
  modules/check_in/app/sidekiq/check_in/travel_claim_status_check_worker.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18900 Update PDF mapping, metadata, and tests - form 10-7959f-2
  modules/ivc_champva/app/form_mappings/vha_10_7959f_2.json.erb
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959f_2.rb
  modules/ivc_champva/spec/fixtures/form_json/vha_10_7959f_2.json
  modules/ivc_champva/spec/models/vha_10_7959f_2_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#18882 [VI-478] adds mhv account creation request log
  lib/mhv/account_creation/service.rb
  spec/lib/mhv/account_creation/service_spec.rb
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18905 Removed index_vba_docs_upload_submissions_status_created_at index
  db/migrate/20241016171432_drop_upload_submission_status_created_at_index.rb
  db/schema.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18907 Created index_vba_docs_upload_submissions_status_created_at where s3_deleted is false
  db/migrate/20241016172752_add_upload_submission_status_created_at_index.rb
  db/schema.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18902 Created INDEX CONCURRENTLY ON appeal_submission_uploads
  db/migrate/20241016170022_add_index_to_appeal_submission_uploads.rb
  db/schema.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18903 Created CREATE INDEX CONCURRENTLY ON appeal_submissions
  db/migrate/20241016170907_add_index_to_appeal_submissions.rb
  db/schema.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18911 [API-41119] Remove participant id from dependent claimant POA assignment logs
  modules/claims_api/app/services/claims_api/dependent_claimant_poa_assignment_service.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18864 [API-41018] POA Request Decision
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/lib/bgs_service/manage_representative_service.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/manage_representative_service/update_poa_request_accepted.yml
  spec/support/vcr_cassettes/claims_api/bgs/manage_representative_service/update_poa_request_not_found.yml
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval
