Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-09, with the labels that each got.

#18252 API-39674-update-toxic-exp-regex
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/requests/v2/veterans/526_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18237 [DBX-18184] break out paranoid success polling of 526 subs
  .github/CODEOWNERS
  app/sidekiq/form526_paranoid_success_polling_job.rb
  app/sidekiq/form526_status_polling_job.rb
  lib/periodic_jobs.rb
  spec/sidekiq/form526_paranoid_success_polling_job_spec.rb
  spec/sidekiq/form526_status_polling_job_spec.rb
Labels: disability-experience, require-backend-approval

#18242 quickfix nil check on appointment requested periods
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#18258 [API-39677] Fix `separationLocationCode` validation
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
Labels: claimsApi, require-backend-approval

#18210 [API-39196] Add `transaction_id` to 526 synchronous logs
  modules/claims_api/app/services/claims_api/disability_compensation/docker_container_service.rb
  modules/claims_api/app/services/claims_api/disability_compensation/pdf_generation_service.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/services/disability_compensation/docker_container_service_spec.rb
  modules/claims_api/spec/services/disability_compensation/pdf_generation_service_spec.rb
  modules/claims_api/spec/sidekiq/service_base_spec.rb
Labels: claimsApi, test-passing, require-backend-approval

#18266 VA-IIR 1019: add feature toggle for "Welcome to MyVA"
  config/features.yml
Labels: require-backend-approval

#18152 Api 39213 move build supporting docs to concern
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/claims_requests/supporting_documents.rb
  modules/claims_api/spec/concerns/claims_api/v2/claims_requests/supporting_documents_spec.rb
Labels: claimsApi, require-backend-approval

#18190 updated mapping to use new street combined property
  modules/ivc_champva/app/form_mappings/vha_10_7959f_1.json.erb
  modules/ivc_champva/spec/fixtures/form_json/vha_10_7959f_1.json
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18280 multistamp fix
  modules/ivc_champva/app/models/ivc_champva/vha_10_10d.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18124 Api 39255 person web service
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/lib/claims_api/find_definition_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18250 [VI-371] Add mhv account creation service
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/initializers/sign_in_service.rb
  config/settings.yml
  db/seeds/development.rb
  lib/mhv/account_creation/configuration.rb
  lib/mhv/account_creation/service.rb
  spec/lib/mhv/account_creation/service_spec.rb
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_200_response.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_400_response.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_500_response.yml
  spec/support/vcr_cassettes/sign_in_service/sts/sts_token_400_response.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval, omit-backend-approval

#18286 Bug fix: Include hidden files
  .github/workflows/code_checks.yml
Labels: require-backend-approval

#18135 Break out PDF 526v2 test
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/526_spec.rb
Labels: claimsApi, test-passing, require-backend-approval, omit-backend-approval

#18244 API-37992-remove-vbms-from-healthchecks
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/spec/requests/metadata_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, require-backend-approval, omit-backend-approval

#18260 API-39630-handle-brd-timeouts
  modules/claims_api/lib/claims_api/common/exceptions/lighthouse/bad_gateway.rb
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
  modules/claims_api/lib/custom_error.rb
  modules/claims_api/spec/lib/claims_api/v2/error/lighthouse_error_handler_spec.rb
  modules/claims_api/spec/sidekiq/claim_custom_error_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#18287 API-37520: Updated `VAForms::FormBuilder` Logic for Handling 404s
  modules/va_forms/app/sidekiq/va_forms/form_builder.rb
  modules/va_forms/spec/sidekiq/form_builder_spec.rb
  spec/support/vcr_cassettes/va_forms/pdf_internal_server_error.yml
Labels: banana-peels, ready-for-backend-review, omit-backend-approval

#18018 Api 38956 tracked item service
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/lib/claims_api/find_definition_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, require-backend-approval, omit-backend-approval

#18271 Add feature flag for HCA insurance section
  config/features.yml
Labels: test-passing, require-backend-approval

#18281 Remove va_online_scheduling_appointment_details_redesign feature toggle
  config/features.yml
Labels: test-passing, require-backend-approval

#18270 Add lighthouse_updated_at to form_submission_attempts table
  db/migrate/20240903124855_add_lighthouse_updated_at_to_form_submission_attempts.rb
  db/schema.rb
Labels: test-passing, require-backend-approval

#18289 clean up stale ARP engine 2122 code
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/services/fetch_poa_requests.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/spec/fixtures/poa_records.json
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#18297 91997: Fix checkbox mapping
  modules/ivc_champva/app/form_mappings/vha_10_7959c.json.erb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18265 VA-90998: Add caching and metrics to VBS copayments
  app/models/concerns/redis_caching.rb
  app/services/medical_copays/vbs/service.rb
  config/features.yml
  lib/debt_management_center/debts_service.rb
  spec/services/medical_copays/vbs/service_spec.rb
Labels: test-passing, require-backend-approval

#18301 [API-39351] Add `find_poas` to `local_bgs` service
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/standard_data_web_service.rb
  modules/claims_api/spec/lib/claims_api/find_definition_spec.rb
  modules/claims_api/spec/lib/claims_api/standard_data_web_service_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/standard_data_web_service/find_poas.yml
Labels: claimsApi, test-passing, omit-backend-approval

#18194 VA Notify - Next Steps Email - Appoint a Rep
  config/settings.yml
  modules/representation_management/app/controllers/representation_management/v0/next_steps_email_controller.rb
  modules/representation_management/app/models/representation_management/next_steps_email_data.rb
  modules/representation_management/config/routes.rb
  modules/representation_management/spec/models/representation_management/next_steps_email_data_spec.rb
  modules/representation_management/spec/requests/v0/next_steps_email_spec.rb
Labels: require-backend-approval

#18302 refactor forms letter call
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
  modules/meb_api/config/routes.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18253 [DR-91508] Clean up v0 endpoints
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/higher_level_reviews/contestable_issues_controller.rb
  app/controllers/v0/higher_level_reviews_controller.rb
  app/controllers/v0/notice_of_disagreements_controller.rb
  app/controllers/v1/decision_review_evidences_controller.rb
  app/swagger/swagger/requests/appeals/appeals.rb
  app/swagger/swagger/schemas/appeals/notice_of_disagreement.rb
  config/routes.rb
  spec/controllers/v1/decision_review_evidences_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/appeals_spec.rb
  spec/requests/v0/higher_level_reviews/contestable_issues_spec.rb
  spec/requests/v0/higher_level_reviews_spec.rb
  spec/requests/v0/notice_of_disagreements_spec.rb
Labels: test-passing, require-backend-approval

#18273 Reorganize VBA Documents & Veterans Request Specs
  modules/vba_documents/spec/requests/docs/v1/api_spec.rb
  modules/vba_documents/spec/requests/internal/v1/upload_complete_spec.rb
  modules/vba_documents/spec/requests/metadata_spec.rb
  modules/vba_documents/spec/requests/v1/healthcheck_spec.rb
  modules/vba_documents/spec/requests/v1/uploads/reports_spec.rb
  modules/vba_documents/spec/requests/v1/uploads_spec.rb
  modules/vba_documents/spec/requests/v2/uploads/reports_spec.rb
  modules/vba_documents/spec/requests/v2/uploads/submit_spec.rb
  modules/vba_documents/spec/requests/v2/uploads_spec.rb
  modules/veteran/spec/requests/v0/apidocs_spec.rb
  modules/veteran/spec/requests/v0/other_accredited_representatives_spec.rb
  modules/veteran/spec/requests/v0/representatives/find_rep_spec.rb
  modules/veteran/spec/requests/v0/vso_accredited_representatives_spec.rb
Labels: require-backend-approval

#18272 Reorganize VAOS Request Specs
  modules/vaos/spec/requests/vaos/v1/appointment_spec.rb
  modules/vaos/spec/requests/vaos/v1/healthcare_service_spec.rb
  modules/vaos/spec/requests/vaos/v1/location_spec.rb
  modules/vaos/spec/requests/vaos/v1/organization_spec.rb
  modules/vaos/spec/requests/vaos/v1/patient_spec.rb
  modules/vaos/spec/requests/vaos/v1/slot_spec.rb
  modules/vaos/spec/requests/vaos/v2/apidocs_spec.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/requests/vaos/v2/community_care/eligibility_spec.rb
  modules/vaos/spec/requests/vaos/v2/eligibility_spec.rb
  modules/vaos/spec/requests/vaos/v2/facilities_spec.rb
  modules/vaos/spec/requests/vaos/v2/locations/clinics_spec.rb
  modules/vaos/spec/requests/vaos/v2/locations/slots_spec.rb
  modules/vaos/spec/requests/vaos/v2/scheduling/configurations_spec.rb
Labels: test-passing, require-backend-approval

#18257 Reorganize TUD & TravelPay & VAForms Request Specs
  .rubocop_todo.yml
  modules/test_user_dashboard/spec/requests/test_user_dashboard/tud_accounts_spec.rb
  modules/test_user_dashboard/spec/requests/test_user_dashboard/tud_github_oauth_proxy_spec.rb
  modules/travel_pay/spec/requests/travel_pay/claims_spec.rb
  modules/travel_pay/spec/requests/travel_pay/pings_spec.rb
  modules/va_forms/spec/requests/metadata_spec.rb
  modules/va_forms/spec/requests/va_forms/v0/apidocs_spec.rb
  modules/va_forms/spec/requests/va_forms/v0/forms_spec.rb
Labels: require-backend-approval

#18274 Reorganize Vye & Veteran Confirmation Request Specs
  modules/veteran_confirmation/spec/requests/docs/v0/api_spec.rb
  modules/vye/spec/requests/vye/v1/address/create_spec.rb
  modules/vye/spec/requests/vye/v1/bank_info/create_spec.rb
  modules/vye/spec/requests/vye/v1/user_info_spec.rb
  modules/vye/spec/requests/vye/v1/verify/create_spec.rb
Labels: test-passing, require-backend-approval

#18256 Reorganize Rep Man & SimpleFormsApi Request Specs
  modules/representation_management/spec/requests/representation_management/v0/accredited_entities_for_appoint_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/accredited_individuals_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/flag_accredited_representatives_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/pdf_generator_2122_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/pdf_generator_2122a_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/power_of_attorney_request_spec.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/scanned_form_uploads_spec.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
Labels: test-passing, require-backend-approval

#18015 API 38954 Enable EBenefitsBnftClaimStatusWebService
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/lib/claims_api/find_definition_spec.rb
Labels: claimsApi, require-backend-approval, omit-backend-approval

#18321 Remove TravelPay Pings Request Spec
  modules/travel_pay/spec/requests/travel_pay/pings_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18259 API-39286-rename-poa-pdf
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_upload_job.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/sidekiq/poa_vbms_upload_job_spec.rb
Labels: claimsApi, test-passing, require-backend-approval

#18322 API-37520: Add 403s to List of Non-Retryable Error Codes for `VAForms::FormBuilder`
  modules/va_forms/app/sidekiq/va_forms/form_builder.rb
Labels: banana-peels, ready-for-backend-review, omit-backend-approval

#18298 92068 Update PDF layout - form 10-7959f-1
  modules/ivc_champva/app/form_mappings/vha_10_7959f_1.json.erb
  modules/ivc_champva/spec/fixtures/form_json/vha_10_7959f_1.json
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18282 Api 39435 move claimant cert addr
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
  modules/claims_api/spec/requests/v2/veterans/526_spec.rb
Labels: claimsApi, test-failure, test-passing, omit-backend-approval

#18306 Add Statsd increment to error logic for EmailJob IcnJob and AccountIdJob
  modules/va_notify/app/sidekiq/va_notify/email_job.rb
  modules/va_notify/app/sidekiq/va_notify/icn_job.rb
  modules/va_notify/app/sidekiq/va_notify/user_account_job.rb
  modules/va_notify/spec/sidekiq/email_job_spec.rb
  modules/va_notify/spec/sidekiq/icn_job_spec.rb
  modules/va_notify/spec/sidekiq/user_account_job_spec.rb
Labels: test-passing, require-backend-approval

#18263 Remove Sentry from COE claim
  app/models/saved_claim/coe_claim.rb
  spec/models/saved_claim/coe_claim_spec.rb
Labels: coe-benefits, ready-for-backend-review, require-backend-approval

#18305 Add error_message_ciphertext and response_ciphertext to form_submission_attempts table
  db/migrate/20240904184430_add_ciphertext_fields_to_form_submission_attempts.rb
  db/schema.rb
Labels: test-passing, require-backend-approval

#18307 VI-447: Update Identity Dashboard service account scopes
  db/seeds/development.rb
Labels: ready-for-backend-review, require-backend-approval

#18329 Remove Code Health Workflow
  .github/workflows/code_health_report.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18314 [DBX-88683] update 526 state logger with StatsD
  app/sidekiq/form526_state_logging_job.rb
  spec/sidekiq/form526_state_logging_job_spec.rb
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval

#18319 BTSSS-78812: Add versioning to travel_pay module/routes
  modules/travel_pay/app/controllers/travel_pay/claims_controller.rb
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
  modules/travel_pay/config/routes.rb
  modules/travel_pay/spec/requests/travel_pay/claims_spec.rb
Labels: test-passing, require-backend-approval

#18276 Log errors in form submission attempts
  app/models/form_submission_attempt.rb
  app/sidekiq/benefits_intake_status_job.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  spec/sidekiq/benefits_intake_status_job_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#18278 MBMS-73637 Reindexed the CMP meta data mapping
  modules/simple_forms_api/app/models/simple_forms_api/vba_40_10007.rb
Labels: test-passing, require-backend-approval

#18300 Resolve MethodLength Rubocop Disables - Part 1
  app/services/form1010cg/auditor.rb
  app/sidekiq/central_mail/submit_central_form686c_job.rb
  app/sidekiq/copay_notifications/mcp_notification_email_job.rb
  app/sidekiq/cypress_viewport_updater/cypress_config_js_file.rb
Labels: test-passing, require-backend-approval

#18311 Resolve MethodLength Rubocop Disables - Part 2
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  app/sidekiq/decision_review/submit_upload.rb
  app/sidekiq/evss/dependents_application_job.rb
  app/sidekiq/income_limits/gmt_thresholds_import.rb
  app/sidekiq/income_limits/std_county_import.rb
Labels: test-passing, require-backend-approval

#18317 Resolve MethodLength Rubocop Disables - Part SubmitForm526Job
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
Labels: test-passing, require-backend-approval

#18340 VACMS-18855 Add feature flag for Find Forms modal
  config/features.yml
Labels: test-passing, require-backend-approval

#18349 Fixes syntax on optional param for sidekiq job
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_upload_job.rb
Labels: claimsApi, ready-for-backend-review, test-passing, require-backend-approval

#18351 Update suffix concatenation to handle `nil` values - form 10-7959f-1
  modules/ivc_champva/app/form_mappings/vha_10_7959f_1.json.erb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18316 92004 Remove feature flag for fwdproxy urls
  config/features.yml
  config/settings/test.yml
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
  modules/check_in/spec/sidekiq/travel_claim_status_check_worker_spec.rb
  modules/check_in/spec/sidekiq/travel_claim_submission_worker_spec.rb
Labels: test-passing, require-backend-approval

#18324 Pension 92172 BenefitsIntake Service metadata temp file
  lib/common/file_helpers.rb
  lib/lighthouse/benefits_intake/service.rb
  spec/lib/lighthouse/benefits_intake/service_spec.rb
Labels: test-passing, require-backend-approval

#18304 Filter submissions by list
  app/controllers/v0/my_va/submission_statuses_controller.rb
  lib/forms/submission_statuses/dataset.rb
  lib/forms/submission_statuses/formatter.rb
  lib/forms/submission_statuses/gateway.rb
  lib/forms/submission_statuses/report.rb
  spec/factories/form_submissions.rb
  spec/lib/forms/submission_statuses/formatter_spec.rb
  spec/lib/forms/submission_statuses/report_spec.rb
  spec/requests/v0/my_va/submission_statuses_spec.rb
  spec/requests/v0/search_spec.rb
Labels: test-passing, require-backend-approval

#18312 fix multipage page
  modules/ivc_champva/app/models/ivc_champva/vha_10_10d.rb
Labels: test-passing, require-backend-approval

#18326 Resolve MethodLength Rubocop Disables - Part BGS::Form674
  lib/bgs/form674.rb
Labels: test-passing, require-backend-approval

#18331 Resolve MethodLength Rubocop Disables - Part 3
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
  lib/bgs/marriages.rb
  lib/bgs/power_of_attorney_verifier.rb
Labels: test-passing, require-backend-approval

#18328 add feature flags for meb and 5490
  config/features.yml
Labels: test-passing, require-backend-approval

#18206 [Document Upload Failure] Email veteran on Form 0781/Form 0781a upload retry exhaustion
  app/sidekiq/evss/disability_compensation_form/form0781_document_upload_failure_email.rb
  app/sidekiq/evss/disability_compensation_form/submit_form0781.rb
  config/features.yml
  config/settings.yml
  spec/sidekiq/evss/disability_compensation_form/form0781_document_upload_failure_email_spec.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form0781_spec.rb
Labels: test-passing, require-backend-approval

#18323 API-38827-update-validations-intl-postal-code
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
Labels: claimsApi, ready-for-backend-review, require-backend-approval, omit-backend-approval

#18353 Remove remaining references to the travel pay `ping` endpoints
  modules/travel_pay/app/services/travel_pay/client.rb
Labels: test-passing, require-backend-approval

#18303 [API-39419] Add `find_dependents_by_ptcpnt_id` to local bgs
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/lib/bgs_service/person_web_service.rb
  modules/claims_api/spec/lib/claims_api/person_web_service_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/person_web_service/find_dependents_by_ptcpnt_id.yml
Labels: claimsApi, ready-for-backend-review, test-passing, require-backend-approval

#18361 Use random value in Simple Forms PDF stamping file paths
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/pdf_filler.rb
  modules/simple_forms_api/app/services/simple_forms_api/pdf_uploader.rb
  modules/simple_forms_api/spec/services/pdf_filler_spec.rb
Labels: test-passing, require-backend-approval

#18333 API-39748-add-index-to-error-collection-messages
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/requests/v2/veterans/526_spec.rb
Labels: claimsApi, test-passing, require-backend-approval, omit-backend-approval

#18310 BE | removing pagination
  modules/ask_va_api/app/controllers/ask_va_api/application_controller.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/inquiries_controller.rb
  modules/ask_va_api/config/locales/get_inquiries_mock_data.json
  modules/ask_va_api/spec/requests/ask_va_api/v0/inquiries_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#18354 skip soap call if participant id is nil
  app/services/bgs/dependency_verification_service.rb
  spec/services/bgs/dependency_verification_service_spec.rb
Labels: test-passing, require-backend-approval

#18344 remove mobile_v1_lighthouse_facilities flag
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/community_care_providers_controller.rb
  modules/mobile/app/controllers/mobile/v0/locations_controller.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  modules/mobile/app/serializers/mobile/v0/user_serializer.rb
  modules/mobile/spec/requests/mobile/v0/health/legacy_locations_spec.rb
  modules/mobile/spec/requests/mobile/v0/health/locations_spec.rb
  modules/mobile/spec/requests/mobile/v0/user_spec.rb
  modules/mobile/spec/requests/mobile/v1/user_spec.rb
  modules/mobile/spec/requests/mobile/v2/user_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#18369 Comment out broken specs until future debugging
  modules/appeals_api/spec/controllers/concerns/appeals_api/status_simulation_spec.rb
Labels: test-passing, omit-backend-approval

#18367 VACMS-11520: Remove no longer used pdf_warning_banner feature flipper
  config/features.yml
Labels: test-passing, require-backend-approval

#18373 [API-39968] Add log to separation location code validation
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
Labels: claimsApi, ready-for-backend-review, omit-backend-approval

#18309 MHV-59994 remove SM phase 1 feature flag
  config/features.yml
Labels: test-passing, require-backend-approval

#18313 [CST] Pass tracked item id to submit5103 method
  app/controllers/v0/benefits_claims_controller.rb
  lib/lighthouse/benefits_claims/service.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/submit5103/200_response.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/submit5103/404_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_claims/request_decision/200_failure_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_claims/request_decision/200_response.yml
  spec/support/vcr_cassettes/mobile/lighthouse_claims/request_decision/404_response.yml
Labels: test-passing, require-backend-approval

#18336 add Sentry logging to narrow down failure mode
  app/controllers/concerns/form_attachment_create.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18345 [MHV-61505] Added filter feature flag to features.yml file.
  config/features.yml
Labels: require-backend-approval

#18342 [API-39420] Add find POAs caching service
  config/redis.yml
  modules/claims_api/lib/bgs_service/redis/find_poas_response.rb
  modules/claims_api/lib/bgs_service/redis/find_poas_service.rb
  modules/claims_api/spec/lib/claims_api/bgs/redis/find_poas_service_spec.rb
Labels: claimsApi, require-backend-approval, omit-backend-approval

#18290 [API-39328] Add totals rows to monthly submission report
  modules/claims_api/app/sidekiq/claims_api/report_monthly_submissions.rb
  modules/claims_api/app/views/claims_api/_ews_status_table.html.erb
  modules/claims_api/app/views/claims_api/_itf_status_table.html.erb
  modules/claims_api/app/views/claims_api/_monthly_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/_poa_status_table.html.erb
  modules/claims_api/app/views/claims_api/submission_report_mailer/submission_report.html.erb
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
  spec/mailers/previews/claims_api_submission_report_mailer_preview.rb
Labels: claimsApi, test-passing, require-backend-approval, omit-backend-approval

#18264 My VA - remove my_va_enable_new_sip_config feature flag
  config/features.yml
Labels: test-passing, require-backend-approval

#18315 Improve visual design of "Next Steps" page in PDF download
  modules/representation_management/lib/fonts/bitter-bold.ttf
  modules/representation_management/lib/fonts/bitter-regular.ttf
  modules/representation_management/lib/fonts/sourcesanspro-regular-webfont.ttf
  modules/representation_management/lib/representation_management/v0/pdf_constructor/base.rb
  modules/representation_management/lib/representation_management/v0/pdf_constructor/form_2122a.rb
  modules/representation_management/spec/fixtures/21-22A/v0/2122a_conditions_and_limitations.pdf
  modules/representation_management/spec/fixtures/21-22A/v0/2122a_conditions_and_limitations_no_claimant.pdf
Labels: test-passing, require-backend-approval

#18348 #91156 [10-10EZR]: Update submission failure notifications and add user initials to successful submissions
  app/sidekiq/hca/ezr_submission_job.rb
  lib/form1010_ezr/service.rb
  spec/lib/form1010_ezr/service_spec.rb
  spec/sidekiq/hca/ezr_submission_job_spec.rb
Labels: require-backend-approval

#18330 Add additional logging for missing ids
  app/controllers/v0/in_progress_forms_controller.rb
  app/sidekiq/lighthouse/create_intent_to_file_job.rb
  lib/lighthouse/benefits_claims/intent_to_file/monitor.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/sidekiq/lighthouse/create_intent_to_file_job_spec.rb
Labels: pension-benefits, require-backend-approval, intent-to-file

#17805 ARF-86023: Handle in progress forms for representative users
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/application_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/form21a_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/in_progress_forms_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/representative_users_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/representative_user_loader.rb
  modules/accredited_representative_portal/config/routes.rb
  modules/accredited_representative_portal/spec/controllers/concerns/accredited_representative_portal/authenticable_spec.rb
  modules/accredited_representative_portal/spec/factories/representative_user.rb
  modules/accredited_representative_portal/spec/models/accredited_representatiive_portal/representative_user_spec.rb
  modules/accredited_representative_portal/spec/rails_helper.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/form21a_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/in_progress_forms_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/user_spec.rb
  modules/accredited_representative_portal/spec/services/accreditation_service_spec.rb
  modules/accredited_representative_portal/spec/spec_helper.rb
  modules/accredited_representative_portal/spec/support/authentication.rb
  modules/accredited_representative_portal/spec/support/poa_record_generator.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#18285 Pension 77847 Remove deprecated code and Module Flipper
  .github/CODEOWNERS
  .rubocop_todo.yml
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/pension_claims_controller.rb
  app/models/saved_claim/income_and_assets.rb
  app/models/saved_claim/pension.rb
  app/sidekiq/lighthouse/pension_benefit_intake_job.rb
  app/swagger/swagger/requests/pension_claims.rb
  config/features.yml
  config/routes.rb
  lib/pension_21p527ez/monitor.rb
  lib/pension_21p527ez/tag_sentry.rb
  modules/pensions/app/controllers/pensions/v0/claims_controller.rb
  modules/pensions/spec/controllers/v0/claims_controller_spec.rb
  spec/controllers/v0/pension_claims_controller_spec.rb
  spec/factories/pension_claim.rb
  spec/lib/pdf_fill/fill_form_examples.rb
  spec/models/saved_claim/pension_spec.rb
  spec/models/saved_claim_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/pension_claims_spec.rb
  spec/sidekiq/lighthouse/pension_benefit_intake_job_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: test-passing, require-backend-approval

#18352 API-39360 Auth accesskey
  app/controllers/v0/profile/connected_applications_controller.rb
  config/settings.yml
  lib/okta/directory_service.rb
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/connected_apps_200.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/connected_apps_400.yml
  spec/support/vcr_cassettes/lighthouse/auth/client_credentials/revoke_consent_204.yml
Labels: ready-for-backend-review, test-passing, omit-backend-approval

#18363 Refactor away our use of the simple_forms_lighthouse_benefits_intake_service feature
  .github/CODEOWNERS
  config/features.yml
  lib/simple_forms_api_submission/configuration.rb
  lib/simple_forms_api_submission/service.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/pdf_uploader.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
  modules/simple_forms_api/spec/services/pdf_uploader_spec.rb
  spec/lib/simple_forms_api_submission/configuration_spec.rb
  spec/lib/simple_forms_api_submission/service_spec.rb
Labels: test-passing, require-backend-approval

#18386 API-39921-gen-pdf-errors
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
Labels: claimsApi, ready-for-backend-review, require-backend-approval, omit-backend-approval

#18372 VEBT-336 - update stem links in SCO email and add test
  app/mailers/views/school_certifying_officials.html.erb
  spec/mailers/school_certifying_officials_mailer_spec.rb
Labels: test-passing, require-backend-approval

#18370 Removed unused sidekiq setting
  app/sidekiq/central_mail/submit_central_form686c_job.rb
Labels: dependents-benefits, test-passing, require-backend-approval

#18391 Add Travel Pay base_client for reusable code
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
  modules/travel_pay/app/services/travel_pay/base_client.rb
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/app/services/travel_pay/claims_service.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
  modules/travel_pay/spec/services/claims_service_spec.rb
Labels: require-backend-approval

#18197 Create Mobile appeal model
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/appeal.rb
  modules/mobile/app/models/mobile/v0/appeals/appeal.rb
  modules/mobile/app/models/mobile/v0/appeals/docket.rb
  modules/mobile/app/models/mobile/v0/appeals/evidence.rb
  modules/mobile/docs/schemas/AppealEvent.yml
  modules/mobile/spec/requests/mobile/v0/appeal_spec.rb
Labels: test-passing, require-backend-approval

#18398 [API-39901] Allow null separation location codes
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18360 [SIMPLE_FORMS] feat: update attachment logic to handle form 20-10207
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/models/simple_forms_api/vba_20_10207.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_20_10207_with_supporting_documents.json
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
Labels: test-passing, require-backend-approval

#18388 Avs includes param refactor
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_with_facility_200_with_avs.yml
Labels: test-passing, require-backend-approval

#18376 API-39959-handle-military-address-codes
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/claims_api/v2/lighthouse_military_address_validator.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, require-backend-approval, omit-backend-approval

#18355 Add New flipper for Real User Monitoring of Disability Benefits Frontends
  config/features.yml
Labels: test-passing, require-backend-approval

#18337 API-39890-updates-some-valdations-for-change-of-address
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
Labels: claimsApi, test-passing, require-backend-approval

#18381 VEBT-527 - add engin to staging spool file email
  config/settings.yml
Labels: test-failure, test-passing, require-backend-approval

#18346 [VI-439] Create STS authenticated TOU current_status route
  .github/CODEOWNERS
  app/controllers/sts/terms_of_use_controller.rb
  app/controllers/v0/terms_of_use_agreements_controller.rb
  config/routes.rb
  db/seeds/development.rb
  spec/controllers/sts/terms_of_use_controller_spec.rb
  spec/controllers/v0/terms_of_use_agreements_controller_spec.rb
Labels: require-backend-approval

#18343 [DR-91508] Remove remaining unused v0 endpoints for Decision Reviews
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/decision_review_evidences_controller.rb
  app/controllers/v0/notice_of_disagreements/contestable_issues_controller.rb
  app/controllers/v1/apidocs_controller.rb
  app/swagger/swagger/requests/appeals/appeals.rb
  app/swagger/swagger/requests/decision_review_evidence.rb
  app/swagger/swagger/schemas/decision_review_evidence.rb
  app/swagger/swagger/v1/requests/appeals/appeals.rb
  app/swagger/swagger/v1/schemas/appeals/decision_review_evidence.rb
  config/routes.rb
  spec/controllers/v0/decision_review_evidences_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/decision_review_evidence_spec.rb
  spec/requests/v0/notice_of_disagreements/contestable_issues_spec.rb
Labels: test-passing, require-backend-approval

#18291 91324: Move SavedClaim updates into DR controller transactions
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/controllers/v1/supplemental_claims_controller.rb
  app/models/appeal_submission.rb
  config/features.yml
  lib/decision_review/utilities/saved_claim/service.rb
  spec/lib/decision_review/utilities/saved_claim/service_spec.rb
  spec/requests/v1/higher_level_reviews_spec.rb
  spec/requests/v1/notice_of_disagreements_spec.rb
  spec/requests/v1/supplemental_claims_spec.rb
Labels: test-passing, require-backend-approval

#18365 [CST] [Backend] Added subsequent development letter types to CST claim letter downloa…
  app/controllers/v0/claim_letters_controller.rb
  lib/claim_letters/claim_letter_test_data.rb
  spec/controllers/v0/claim_letters_controller_spec.rb
Labels: Claim Status Tool, test-passing, require-backend-approval

#17888 Feature: add rx refills metric
  app/controllers/rx_controller.rb
  config/betamocks/services_config.yml
  lib/rx/client.rb
  modules/mobile/app/controllers/mobile/v0/prescriptions_controller.rb
  modules/my_health/app/controllers/my_health/rx_controller.rb
  spec/lib/rx/client_spec.rb
  spec/requests/v0/prescriptions_spec.rb
  spec/support/rx_client_helpers.rb
  spec/support/vcr_cassettes/rx_client/prescriptions/refills_multiple_prescriptions.yml
Labels: NOT_YET, require-backend-approval

#18411 API-37310 - Rename error class and filename, update refs in code
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/lib/claims_api/common/exceptions/lighthouse/json_form_validation_error.rb
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
  modules/claims_api/spec/lib/claims_api/v2/error/lighthouse_error_handler_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18382 BTSSS/Extract Auth
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/app/services/travel_pay/claims_service.rb
  modules/travel_pay/app/services/travel_pay/token_client.rb
  modules/travel_pay/app/services/travel_pay/token_service.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
  modules/travel_pay/spec/services/claims_service_spec.rb
  modules/travel_pay/spec/services/token_client_spec.rb
  modules/travel_pay/spec/services/token_service_spec.rb
Labels: test-passing, require-backend-approval

#18374 [API-39421] Add nightly job to cache findPOAs call
  lib/periodic_jobs.rb
  modules/claims_api/app/sidekiq/claims_api/find_poas_job.rb
  modules/claims_api/spec/sidekiq/find_poas_job_spec.rb
Labels: claimsApi, require-backend-approval

#18419 fix parameters for CreateIntentToFileAsync job call
  app/controllers/v0/in_progress_forms_controller.rb
Labels: bug, pension-benefits, test-passing, require-backend-approval

#18364 [DBX-88683] address last minute 526 success scope case
  lib/scopes/form526_submission_state.rb
  spec/models/form526_submission_spec.rb
Labels: disability-experience, disability-compensation, require-backend-approval

#18401 92006 remove travel claims v1 configs
  config/betamocks/services_config.yml
  config/features.yml
  config/settings/test.yml
  modules/check_in/app/services/travel_claim/client.rb
  modules/check_in/app/services/travel_claim/redis_client.rb
  modules/check_in/spec/services/travel_claim/client_spec.rb
  modules/check_in/spec/sidekiq/travel_claim_status_check_worker_spec.rb
  modules/check_in/spec/sidekiq/travel_claim_submission_worker_spec.rb
Labels: test-passing, require-backend-approval

#18417 Arf/86023/in progress forms.specs
  modules/accredited_representative_portal/spec/models/accredited_representatiive_portal/representative_user_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/form21a_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#18358 [VA-86081] Add extra logging for full backend transform
  modules/debts_api/lib/debts_api/v0/fsr_form_transform/enhanced_expense_calculator.rb
  modules/debts_api/lib/debts_api/v0/fsr_form_transform/gmt_calculator.rb
  modules/debts_api/lib/debts_api/v0/fsr_form_transform/streamlined_calculator.rb
  modules/debts_api/spec/lib/debt_api/v0/fsr_form_transform/expense_calculator_spec.rb
  modules/debts_api/spec/lib/debt_api/v0/fsr_form_transform/streamlined_calculator_spec.rb
Labels: require-backend-approval

#18294 [DBEX- Disability Compensation Team 1] Update Form526Submission scopes to reflect successful submission to either EVSS or LH
  lib/scopes/form526_submission_state.rb
  spec/models/form526_submission_spec.rb
Labels: test-passing, require-backend-approval

#18400 Mobile: Make models for all of AllergyIntolerance
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/allergy_intolerances_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/allergy_intolerance.rb
  modules/mobile/app/models/mobile/v0/adapters/legacy_allergy_intolerance.rb
  modules/mobile/app/models/mobile/v0/allergy_intolerance.rb
  modules/mobile/app/models/mobile/v0/legacy_allergy_intolerance.rb
  modules/mobile/spec/requests/mobile/v0/health/allergy_intolerance_spec.rb
Labels: require-backend-approval

#18414 remove access keys for aws ivc
  config/settings.yml
  modules/ivc_champva/app/services/ivc_champva/file_uploader.rb
  modules/ivc_champva/app/services/ivc_champva/s3.rb
  modules/ivc_champva/spec/services/s3_spec.rb
Labels: test-passing, require-backend-approval

#18335 Reset Rubocop Todo
  .rubocop_todo.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18412 [VI-466] update mhv account creation's host, add request key
  config/settings.yml
  db/seeds/development.rb
  lib/mhv/account_creation/configuration.rb
  lib/mhv/account_creation/service.rb
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_200_response.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_400_response.yml
  spec/support/vcr_cassettes/mhv/account_creation/account_creation_service_500_response.yml
Labels: ready-for-backend-review, require-backend-approval

#18293 Cleanup appointments controller/service post-processing logic
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/cancel_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_JACQUELINE_M.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_JACQUELINE_M_vpg.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_and_logs_data.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/post_appointments_va_booked_200_and_logs_data_vpg.yml
Labels: require-backend-approval

#18394 expect a 200 response
  modules/meb_api/app/controllers/meb_api/v0/forms_controller.rb
Labels: test-passing, require-backend-approval

#18405 92068 update pdf formatting 2
  modules/ivc_champva/app/form_mappings/vha_10_7959c.json.erb
Labels: test-passing, require-backend-approval

#18424 Add comments to discourage use of the Central Mail Service
  lib/central_mail/service.rb
  lib/lighthouse/benefits_intake/service.rb
Labels: test-failure, test-passing, require-backend-approval

#18399 [Supply reordering] handle missing error result
  lib/mdot/client.rb
  spec/lib/mdot/client_spec.rb
  spec/support/vcr_cassettes/mdot/submit_order_missing_body_400.yml
Labels: test-passing, require-backend-approval

#18427 Ndbex/92663 key undefined method
  app/services/bgs/dependency_verification_service.rb
Labels: test-passing, require-backend-approval

#18423 [SIMPLE_FORMS] feat: add service to build a remediation archive for a given form submission
  modules/simple_forms_api/app/services/simple_forms_api/s3/submission_archive_builder.rb
  modules/simple_forms_api/app/services/simple_forms_api/s3/utils.rb
  modules/simple_forms_api/spec/services/s3/submission_archive_builder_spec.rb
Labels: require-backend-approval

#18396 Toxic Exposure: Handle dates with XX or month or day
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: disability-compensation, ready-for-backend-review, require-backend-approval

#18432 setting up periodic jobs
  lib/periodic_jobs.rb
  modules/vye/app/sidekiq/vye/midnight_run/ingress_bdn.rb
Labels: require-backend-approval

#18443 feat: Notify if prod does not deploy
  .github/workflows/deploy_missing_notifications.yml
Labels: test-passing, require-backend-approval

#18425 [VI-467] Create MHVUserAccount model
  .github/CODEOWNERS
  app/models/mhv_user_account.rb
  spec/models/mhv_user_account_spec.rb
Labels: test-failure, test-passing, omit-backend-approval

#18393 9140 payment info errors
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/spec/requests/mobile/v0/payment_information/benefits_spec.rb
Labels: require-backend-approval

#18431 [VI-462] Changing parsing logic for MPI relationships fields, and adding log to identify person types when this field is populated
  lib/mpi/responses/profile_parser.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
Labels: test-passing, omit-backend-approval

#18436 marking mermaid block in markdown
  modules/vye/docs/scheduled-jobs.md
Labels: test-passing, require-backend-approval

#18446 remove source hash from mobile appt error
  modules/mobile/app/controllers/mobile/v0/appointments_controller.rb
  modules/mobile/spec/requests/mobile/v0/appointments/vaos_v2_spec.rb
Labels: require-backend-approval

#18445 update return url for 1990ez form profile
  app/models/form_profiles/va_1990ez.rb
Labels: test-passing, require-backend-approval

#18429 Remove extraneous logging on parameter setting
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_updater.rb
Labels: claimsApi, ready-for-backend-review, omit-backend-approval

#18410 [dbx-88683] run 526 state logging nightly
  lib/periodic_jobs.rb
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval

#18416 [API-39422] Add `DependentClaimantVerification` concern to v1
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/dependent_claimant_verification.rb
  modules/claims_api/spec/concerns/claims_api/dependent_claimant_verification_spec.rb
  modules/claims_api/spec/lib/claims_api/person_web_service_spec.rb
  modules/claims_api/spec/requests/v1/forms/2122_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/person_web_service/find_dependents_by_ptcpnt_id_no_dependents.yml
  spec/support/vcr_cassettes/claims_api/bgs/person_web_service/find_dependents_by_ptcpnt_id_one_dependent.yml
  spec/support/vcr_cassettes/claims_api/bgs/person_web_service/find_dependents_by_ptcpnt_id_two_dependents.yml
Labels: claimsApi, test-passing, omit-backend-approval

#18397 API-40037-add-rescue-PoaVBMSUploadJob
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_upload_job.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/spec/sidekiq/poa_vbms_upload_job_spec.rb
  spec/support/vcr_cassettes/claims_api/bd/upload_error.yml
Labels: claimsApi, ready-for-backend-review, omit-backend-approval

#18422 adds mhv interstitial feature toggle
  config/features.yml
Labels: ready-for-backend-review, require-backend-approval

#18428 Api 40052 add rescue poa form builder
  modules/claims_api/app/sidekiq/claims_api/v1/poa_form_builder_job.rb
  modules/claims_api/spec/sidekiq/poa_form_builder_job_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18387 fix mobile models
  modules/mobile/app/controllers/mobile/v0/facilities_info_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/facility_info.rb
  modules/mobile/app/models/mobile/v0/facility_info.rb
  modules/mobile/app/models/mobile/v0/rating.rb
  modules/mobile/app/serializers/mobile/v0/facilities_info_serializer.rb
  modules/mobile/spec/requests/mobile/v0/facilities_info_spec.rb
Labels: test-passing, require-backend-approval

#18421 91326: Add evidence upload tracking for DR SavedClaims status updater jobs
  .github/CODEOWNERS
  app/sidekiq/decision_review/saved_claim_nod_status_updater_job.rb
  app/sidekiq/decision_review/saved_claim_sc_status_updater_job.rb
  spec/fixtures/notice_of_disagreements/NOD_upload_show_response_200.json
  spec/fixtures/supplemental_claims/SC_upload_show_response_200.json
  spec/sidekiq/decision_review/saved_claim_nod_status_updater_job_spec.rb
  spec/sidekiq/decision_review/saved_claim_sc_status_updater_job_spec.rb
Labels: test-failure, require-backend-approval

#18459 Only label ready to review pull requests
  .github/workflows/be_review_prs.yml
  .github/workflows/code_checks.yml
  .github/workflows/ready_for_review.yml
  .github/workflows/require_backend_label.yml
Labels: require-backend-approval

#18462 Postman collection added - EKS upgrade
  .github/CODEOWNERS
  vets-api.pm-collection.json
Labels: ready-for-backend-review, test-passing, require-backend-approval

#18440 Include submission status for form 20-10206
  app/controllers/v0/my_va/submission_statuses_controller.rb
Labels: test-passing, require-backend-approval

#18466 Update config gem configurations
  .github/CODEOWNERS
  config/initializers/config.rb
  docker-compose.review.yml
  docker-compose.test.yml
  docker-compose.yml
  helmCharts/vets-api/templates/deployment.yaml
Labels: test-passing, require-backend-approval

#18407 Api 39763 use participant id for bd POA uploads
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_upload_job.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/sidekiq/poa_vbms_upload_job_spec.rb
Labels: claimsApi, ready-for-backend-review, require-backend-approval

#18463 [SIMPLE_FORMS] feat: build out submission builder service object
  modules/simple_forms_api/app/services/simple_forms_api/s3/submission_builder.rb
  modules/simple_forms_api/lib/tasks/archive_download.rake
  modules/simple_forms_api/spec/services/s3/submission_builder_spec.rb
Labels: test-passing, require-backend-approval

#18473 BE | Ask VA API: Fix mock data for inquiries
  modules/ask_va_api/config/locales/get_inquiries_mock_data.json
  modules/ask_va_api/spec/requests/ask_va_api/v0/inquiries_spec.rb
  modules/ask_va_api/spec/services/dynamics_mock_service_spec.rb
Labels: test-passing, require-backend-approval

#18413 API 39786 update dates validation for coa
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18465 APi-40173-vdc-manage-rep-service
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/spec/lib/claims_api/find_definition_spec.rb
Labels: claimsApi, ready-for-backend-review, test-passing, omit-backend-approval

#18402 Add section 1 and 2 PDF mapping
  Gemfile.lock
  lib/pdf_fill/forms/pdfs/21P-0969.pdf
  lib/pdf_fill/forms/va21p0969.rb
  spec/fixtures/pdf_fill/21P-0969/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-0969/merge_fields.json
  spec/fixtures/pdf_fill/21P-0969/overflow.pdf
  spec/fixtures/pdf_fill/21P-0969/simple.pdf
Labels: pension-income-assets, require-backend-approval
