Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-04, with the labels that each got.

#16138 API-34937 Add VnpPtcpntPhoneService
  modules/claims_api/lib/bgs_service/vnp_ptcpnt_phone_service.rb
  modules/claims_api/spec/lib/claims_api/vnp_proc_form_service_spec.rb
  modules/claims_api/spec/lib/claims_api/vnp_ptcpnt_phone_service_spec.rb
  modules/claims_api/spec/lib/claims_api/vnp_ptcpnt_service_spec.rb
  spec/support/vcr_cassettes/bgs/vnp_proc_form_service/vnp_proc_form_create.yml
  spec/support/vcr_cassettes/bgs/vnp_ptcpnt_phone_service/vnp_ptcpnt_phone_create.yml
  spec/support/vcr_cassettes/bgs/vnp_ptcpnt_service/vnp_ptcpnt_create.yml
Labels: claimsApi

#16154 added temp logging to debug in staging
  .github/CODEOWNERS
  app/controllers/v1/pension_ipf_callbacks_controller.rb
Labels: pension-benefits

#16147 API-35187: Remove Performance Benchmark Code from `VBADocuments::UploadProcessor`
  modules/vba_documents/app/sidekiq/vba_documents/upload_processor.rb
Labels: banana-peels

#16160 added more temp logging to debug in staging
  app/controllers/v1/pension_ipf_callbacks_controller.rb
Labels: pension-benefits

#16064 Api 33481 poa v2 ind signatures
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/2122a.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122a/invalid_poa.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122a/invalid_schema.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122a/valid.json
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_ind_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_org_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/sidekiq/v2/poa_form_builder_job_spec.rb
Labels: claimsApi

#16116 Api 34406 POA cancel previous pending
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/vdc_manage_representative_service.rb
  modules/claims_api/spec/lib/claims_api/vdc_manage_representative_service_spec.rb
  spec/support/vcr_cassettes/bgs/vdc_manage_representative_service/update_poa.yml
Labels: claimsApi

#16011 Fix logic for claim status
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: Lighthouse, claimsApi

#16181 API-34991-insurance-numbers
  modules/claims_api/config/schemas/v2/2122.json
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/organization.rb
  modules/claims_api/spec/fixtures/21-22/v2/signed_filled_final.pdf
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/organization_spec.rb
Labels: claimsApi

#16198 [Rated Disabilities] Update discrepancy logging to include more fine-grained data
  app/controllers/v0/rated_disabilities_discrepancies_controller.rb
  spec/controllers/v0/rated_disabilities_discrepancies_controller_spec.rb
Labels: Rated Disabilities

#16162 Update Pension logging for consistency
  .github/CODEOWNERS
  app/controllers/v0/pension_claims_controller.rb
  app/models/saved_claim/pension.rb
  app/sidekiq/lighthouse/pension_benefit_intake_job.rb
  lib/pension_21p527ez/monitor.rb
  spec/sidekiq/lighthouse/pension_benefit_intake_job_spec.rb
Labels: pension-benefits

#16195 Update vets-json-schema
  Gemfile.lock
  spec/fixtures/pdf_fill/21P-527EZ/merge_fields.json
Labels: pension-benefits

#16196 API-35188 Get organization name from db
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/2122.json
  modules/claims_api/config/schemas/v2/2122a.json
  modules/claims_api/spec/fixtures/21-22/v2/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/21-22A/v2/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/21-22A/v2/signed_filled_final_other_service_branch.pdf
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/individual_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/organization_spec.rb
  modules/claims_api/spec/sidekiq/v2/poa_form_builder_job_spec.rb
Labels: claimsApi

#16228 add new keys to attachment keys in anticipation of v2
  .github/CODEOWNERS
  app/models/saved_claim/burial.rb
Labels: burial-benefits

#16238 [78699] adds `service_levels` and `credential_service_providers` attributes to ClientConfig
  db/migrate/20240408152120_add_service_levels_and_credential_service_providers_to_client_configs.rb
  db/schema.rb
Labels: identity, identity-backend

#16167 Api 34935 bgs person create
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/vnp_person_service.rb
  modules/claims_api/spec/lib/claims_api/vnp_person_service_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_org_request_spec.rb
  spec/support/vcr_cassettes/bgs/vnp_person_service/vnp_person_create/happy_path.yml
  spec/support/vcr_cassettes/bgs/vnp_person_service/vnp_person_create/invalid_procId.yml
Labels: claimsApi

#16250 DBEX: make pdf extension evaluation case insensitive
  app/models/form_attachment.rb
  spec/models/form_attachment_spec.rb
Labels: disability-experience, disability-compensation

#16270 Api 35438 vso not found take2
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/spec/concerns/claims_api/poa_verification_spec.rb
Labels: claimsApi

#16271 Api 34939 vnp atchms create
  modules/claims_api/lib/bgs_service/vnp_atchms_service.rb
  modules/claims_api/spec/lib/claims_api/vnp_atchms_service_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/vnp_atchms_service/vnp_atchms_create/happy_path_base64.yml
  spec/support/vcr_cassettes/claims_api/bgs/vnp_atchms_service/vnp_atchms_create/happy_path_file.yml
  spec/support/vcr_cassettes/claims_api/bgs/vnp_atchms_service/vnp_atchms_create/invalid_procId.yml
Labels: claimsApi

#16094 Data Migration of InProgressForm Status Column
  lib/in_progress_form_status_default.rb
  rakelib/in_progress_forms_status_change.rake
Labels: dependents-benefits

#16223 API-31672: Add/Update "Test data" Section for Appealable Issues, Appeals Status (v1), and Legacy Appeals Docs
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description.md
  modules/appeals_api/app/swagger/appealable_issues/v0/api_description_dev.md
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger.json
  modules/appeals_api/app/swagger/appealable_issues/v0/swagger_dev.json
  modules/appeals_api/app/swagger/appeals_status/v1/api_description.md
  modules/appeals_api/app/swagger/appeals_status/v1/api_description_dev.md
  modules/appeals_api/app/swagger/appeals_status/v1/swagger.json
  modules/appeals_api/app/swagger/appeals_status/v1/swagger_dev.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/api_description_dev.md
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger.json
  modules/appeals_api/app/swagger/legacy_appeals/v0/swagger_dev.json
Labels: banana-peels

#16226 API-34203: Remove Unused Appeals API Routes
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/metadata_request_spec.rb
  modules/appeals_api/spec/requests/v1/appeals_controller_spec.rb
Labels: banana-peels

#16229 Api 34202/cleanup
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/sidekiq/appeals_api/appeal_received_job.rb
  modules/appeals_api/app/sidekiq/appeals_api/appeal_submitted_job.rb
  modules/appeals_api/spec/sidekiq/appeal_received_job_spec.rb
  modules/appeals_api/spec/support/shared_examples_for_appeal_status_updates.rb
Labels: Lighthouse, appeals, banana-peels

#16175 Updating Burial In Progress Form expiration to 1 year
  app/models/in_progress_form.rb
Labels: burial-benefits

#16103 Api 33629 update bi docs
  modules/vba_documents/app/swagger/vba_documents/v1/controller_swagger.rb
  modules/vba_documents/app/swagger/vba_documents/v1/description.md
  modules/vba_documents/app/swagger/vba_documents/v2/description.md
Labels: benefits-intake, banana-peels

#16303 API-34961 Update Decision Reviews PII removal policy
  config/features.yml
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/models/concerns/appeals_api/appeal_scopes.rb
  modules/appeals_api/app/services/appeals_api/remove_pii.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
Labels: Lighthouse, appeals, banana-peels

#16188 Api 34936 ptcpnt addrs create
  modules/claims_api/lib/bgs_service/vnp_ptcpnt_addrs_service.rb
  modules/claims_api/spec/lib/claims_api/vnp_ptcpnt_addrs_service_spec.rb
  modules/claims_api/spec/support/bgs_client_helpers.rb
  spec/support/vcr_cassettes/claims_api/bgs/vnp_ptcpnt_addrs_service/vnp_ptcpnt_addrs_create/happy_path.yml
Labels: claimsApi

#16333 Lighthouse Benefits Intake Metadata
  lib/lighthouse/benefits_intake/metadata.rb
  spec/lib/lighthouse/benefits_intake/metadata_spec.rb
Labels: benefits-intake, pension-benefits

#15806 add feature flag for toe dup call
  config/features.yml
Labels: Stale

#16332 Lighthouse Benefits Intake Configuration
  .github/CODEOWNERS
  config/settings.yml
  lib/lighthouse/benefits_intake/configuration.rb
  spec/lib/lighthouse/benefits_intake/configuration_spec.rb
Labels: benefits-intake, pension-benefits

#16324 Lighthouse Benefits Intake Service
  lib/lighthouse/benefits_intake/service.rb
  spec/lib/lighthouse/benefits_intake/service_spec.rb
Labels: benefits-intake, pension-benefits

#16351 Ndbex/69209 ch36 to benefits intake
  .github/CODEOWNERS
  app/controllers/v0/education_career_counseling_claims_controller.rb
  app/models/saved_claim/education_career_counseling_claim.rb
  app/sidekiq/lighthouse/submit_career_counseling_job.rb
  config/features.yml
  spec/controllers/v0/education_career_counseling_claims_controller_spec.rb
  spec/models/saved_claim/education_career_counseling_claim_spec.rb
  spec/sidekiq/lighthouse/submit_career_counseling_job_spec.rb
Labels: education-career-counseling-benefits

#16349 API-34439 remove obsolete rswag generator and output
  modules/claims_api/app/swagger/claims_api/v2/swagger.json
  rakelib/rswag.rake
Labels: claimsApi

#16364 API-34961 Trace appeals PII removal with Datadog
  modules/appeals_api/app/services/appeals_api/remove_pii.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
Labels: Lighthouse, appeals, banana-peels

#16344 API-34439 option to not transform BGS response
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/manage_representative_service.rb
  modules/claims_api/lib/bgs_service/manage_representative_service/read_poa_request.rb
  modules/claims_api/lib/bgs_service/manage_representative_service/update_poa_request.rb
  modules/claims_api/spec/lib/claims_api/manage_representative_service/read_poa_request_spec.rb
  modules/claims_api/spec/lib/claims_api/manage_representative_service/update_poa_request_spec.rb
Labels: claimsApi

#16197 API-34957 v1 error formatter update
  modules/claims_api/app/controllers/claims_api/v1/claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/app/sidekiq/claims_api/claim_establisher.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/lib/custom_error.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/controllers/v1/disability_compensation_controller_spec.rb
  modules/claims_api/spec/requests/v1/claims_request_spec.rb
  modules/claims_api/spec/sidekiq/claim_custom_error_spec.rb
  modules/claims_api/spec/sidekiq/claim_establisher_spec.rb
Labels: claimsApi

#16379 [78003] removes MHV, DSLogon, and IAL/LOA1 references from rep user loader
  modules/accredited_representative_portal/app/services/accredited_representative_portal/representative_user_loader.rb
Labels: identity, identity-backend

#16348 Dash/oren/api 34439/transform bgs response to lighthouse
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/poa_request.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag_spec.rb
  spec/support/schemas/claims_api/v2/power_of_attorney_requests/index.json
  spec/support/vcr_cassettes/claims_api/bgs/manage_representative_service/read_poa_request/nonempty.yml
Labels: claimsApi

#16429 updates ARP seed to restrict to verified idme and logingov
  db/seeds/development.rb
Labels: identity, identity-backend

#16397 Api 35634 read all veteran response
  modules/claims_api/lib/bgs_service/veteran_representative_service.rb
  modules/claims_api/lib/bgs_service/veteran_representative_service/read_all_veteran_representatives.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/read_all_veteran_representatives_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/read_all_veteran_representatives/empty_response.yml
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/read_all_veteran_representatives/valid_individual.yml
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/read_all_veteran_representatives/valid_org.yml
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/read_all_veteran_representatives/valid_org_single.yml
Labels: claimsApi

#16439 Rename endpoint
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
Labels: claimsApi

#16444 Api 35475 create new route
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16257 Api 35333 update document filenames
  modules/claims_api/app/sidekiq/claims_api/claim_uploader.rb
  modules/claims_api/lib/bd/bd.rb
  modules/claims_api/spec/lib/claims_api/bd_spec.rb
  modules/claims_api/spec/sidekiq/claim_uploader_spec.rb
Labels: claimsApi

#16464 Api 35334 526 docs max length
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
Labels: claimsApi

#16455 [DBX-80624] add 526 states for remediation audit
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: disability-experience, disability-compensation

#16476 Api 35595 registration numbers
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122/invalid_poa.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122/valid.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122a/invalid_poa.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122a/valid.json
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_ind_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_org_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: claimsApi

#16212 Api 34938 poa v2 create veteran rep
  modules/claims_api/lib/bgs_service/veteran_representative_service.rb
  modules/claims_api/lib/bgs_service/veteran_representative_service/create_veteran_representative_request.rb
  modules/claims_api/lib/bgs_service/veteran_representative_service/read_all_veteran_representatives.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/create_veteran_representative_request_spec.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/veteran_representative_service_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/create_veteran_representative/mpi_ptcpnt_id_instead_of_vnp_ptcpnt_id.yml
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/create_veteran_representative/valid_params.yml
Labels: claimsApi

#16475 Wire up the backend API to frontend (Backend)
  db/migrate/20240424132506_remove_ssn_and_icn_from_vye_tables.vye.rb
  db/migrate/20240424132507_remove_address_details_from_vye_user_infos.vye.rb
  db/migrate/20240424132508_change_datetime_to_date.vye.rb
  db/migrate/20240424132509_update_verifications.vye.rb
  db/migrate/20240424132510_create_vye_bdn_clones.vye.rb
  db/migrate/20240424132511_add_to_vye_user_infos.vye.rb
  db/migrate/20240424132512_remove_from_vye_pending_document.vye.rb
  db/schema.rb
  modules/vye/db/migrate/20240303145700_remove_ssn_and_icn_from_vye_tables.rb
  modules/vye/db/migrate/20240305034315_remove_address_details_from_vye_user_infos.rb
  modules/vye/db/migrate/20240415205522_change_datetime_to_date.rb
  modules/vye/db/migrate/20240415220728_update_verifications.rb
  modules/vye/db/migrate/20240422033815_create_vye_bdn_clones.rb
  modules/vye/db/migrate/20240422043836_add_to_vye_user_infos.rb
  modules/vye/db/migrate/20240422051918_remove_from_vye_pending_document.rb
Labels: Please Review

#16470 [81300] Update VSOReloader to correctly upsert organization data
  modules/veteran/app/sidekiq/veteran/vso_reloader.rb
  modules/veteran/spec/sidekiq/veteran/vso_reloader_spec.rb
Labels: representative-status-widget

#16513 add `claims_api_local_bgs_refactor` feature toggle
  config/features.yml
Labels: claimsApi

#16498 [CST] Ensure that EVSS doc upload files have extensions that matches their contents
  .github/CODEOWNERS
  app/models/evss_claim_document.rb
  config/locales/en.yml
  spec/fixtures/files/html.txt
  spec/requests/documents_spec.rb
Labels: Claim Status Tool

#16477 Add words_to_remove for simple forms 21-0966
  modules/simple_forms_api/app/models/simple_forms_api/vba_21_0966.rb
  modules/simple_forms_api/lib/simple_forms_api.rb
Labels: waiting-for-info

#16522 API-35829-error_handling
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_docker_container_upload.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_docker_container_upload_spec.rb
Labels: claimsApi

#16548 Toxic Exposure: Save TE "Add Conditions" fields for future transformation
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: disability-experience

#16485 Api 35596 poa code validation
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/individual_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/2122a/valid.json
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_ind_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: claimsApi

#16575 Toxic Exposure - fix to disabilities mapping logic
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
Labels: disability-experience
