Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-06, with the labels that each got.

#16919 Adds 404s to relevant requests
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
  modules/claims_api/spec/lib/claims_api/v2/error/lighthouse_error_handler_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/errors/disability_compensation/default_without_source.json
Labels: claimsApi

#16897 API-36436 526 validate tests
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16954 API-36890-remove-phone-dash
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#16909 API-36550-response-schema-min-validations
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: claimsApi

#16801 [82969] MAP STS token caching
  app/controllers/v0/map_services_controller.rb
  lib/map/security_token/service.rb
  spec/lib/map/security_token/service_spec.rb
Labels: identity, identity-backend

#16974 Adds dash to CODEOWNERS for modules/veteran
  .github/CODEOWNERS
Labels: claimsApi

#16899 DBEX: add includeToxicExposure indicator to formData
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/form_profiles/va_526ez.rb
  config/form_profile_mappings/21-526EZ.yml
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/models/form_profile_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
  spec/support/disability_compensation_form/all_claims_fe_submission.json
Labels: disability-experience, disability-compensation

#16977 DASH v2 poa requests - simplify routes
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/decisions_controller.rb
  modules/claims_api/config/routes.rb
Labels: claimsApi

#16956 API-37037-poa-v1-downcase-nil-class
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/app/controllers/concerns/claims_api/target_veteran.rb
  modules/veteran/app/models/veteran/service/representative.rb
  modules/veteran/spec/models/veteran/service/representative_spec.rb
Labels: claimsApi

#16987 [CST] Add feature flag cst_5103_update_enabled for 5103 changes and removal of Ask
  config/features.yml
Labels: Claim Status Tool

#16770 [82599] prevents new user verification creation for locked CSPs
  app/services/login/user_verifier.rb
  spec/services/login/user_verifier_spec.rb
Labels: identity, identity-backend

#16912 Income and Assets (21P-0969) endpoint boilerplate
  .github/CODEOWNERS
  Gemfile.lock
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/income_and_assets_claims_controller.rb
  app/models/saved_claim/income_and_assets.rb
  app/swagger/swagger/requests/income_and_assets_claims.rb
  config/routes.rb
  spec/factories/income_and_assets_claim.rb
  spec/models/saved_claim/income_and_assets_spec.rb
  spec/requests/income_and_assets_claims_controller_spec.rb
  spec/requests/swagger_spec.rb
Labels: pension-benefits

#16934 API-36690-claim-type-code
  modules/claims_api/app/controllers/claims_api/v2/blueprints/claim_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: claimsApi

#17001 Api 36824 establish claim in vbms correctly
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
Labels: claimsApi

#16990 API 37106 update problematic regex in v2 only
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16831 update status on emms system io errors
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/sidekiq/vba_documents/slack_status_notifier.rb
  modules/vba_documents/app/sidekiq/vba_documents/upload_status_batch.rb
  modules/vba_documents/spec/models/upload_submission_spec.rb
  modules/vba_documents/spec/sidekiq/slack_status_notifier_spec.rb
Labels: benefits-intake, banana-peels

#16973 API-36438-special-issues-documentation
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: claimsApi

#17039 DASH remove erroneous new_episodes in POA request comparison spec
  modules/claims_api/spec/clients/bgs_client/veteran_representative_vs_poa_request_comparison_spec.rb
Labels: claimsApi

#17038 Api 32404 remove bangs from validation methods
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17043 API-37109-eliminate-dup-error-messages
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
Labels: claimsApi

#17052 [API-36517] Add new poa request controller and specs
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/create_request.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/config/schemas/v2/poa_request.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/request_representative/invalid_claimant_schema.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/request_representative/invalid_poa.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/request_representative/invalid_schema.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/request_representative/valid.json
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_new_poa_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
Labels: claimsApi

#17074 API-36488-claim-notes-tests
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_generate_pdf_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17087 update pension itf schema
  db/migrate/20240611183430_update_veteran_icn_name_on_intent_to_file_queue_exhaustions.rb
  db/schema.rb
Labels: pension-benefits

#17077 [DBEX] add detail to lighthouse validation error response
  app/models/form526_submission.rb
Labels: disability-experience, disability-compensation

#17101 [DBEX] capture default status and error detail
  app/models/form526_submission.rb
Labels: disability-experience, disability-compensation

#17109 Stale Benefit Intake Submission Logging
  app/models/form_submission.rb
  app/sidekiq/benefits_intake_status_job.rb
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
  config/settings.yml
  lib/lighthouse/benefits_intake/service.rb
  spec/factories/form_submission_attempts.rb
  spec/factories/form_submissions.rb
  spec/lib/lighthouse/benefits_intake/service_spec.rb
  spec/sidekiq/benefits_intake_status_job_spec.rb
Labels: pension-benefits

#17072 Add boilerplate for income and assets pdf mapping and tests.
  .github/CODEOWNERS
  Gemfile.lock
  config/form_profile_mappings/21P-0969.yml
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/21P-0969.pdf
  lib/pdf_fill/forms/va21p0969.rb
  spec/fixtures/pdf_fill/21P-0969/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-0969/merge_fields.json
  spec/fixtures/pdf_fill/21P-0969/overflow.pdf
  spec/fixtures/pdf_fill/21P-0969/overflow_extras.pdf
  spec/fixtures/pdf_fill/21P-0969/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
  spec/lib/pdf_fill/forms/va21p0969_spec.rb
Labels: pension-benefits

#17078 Consolidate Submit and Toxic Exposure feature flags
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  config/features.yml
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: disability-compensation

#17130 Added ADR
  .github/CODEOWNERS
  modules/pensions/.adr-dir
  modules/pensions/documentation/adr/0001-record-architecture-decisions.md
  modules/pensions/documentation/readme.md
Labels: pension-benefits

#17103 API 37228 fix claim headers for birthdate value
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: claimsApi

#17115 Revert renaming veteran_icn to user_uuid
  db/migrate/20240613175759_revert_itf_queue_exhaustions_icn_rename.rb
  db/schema.rb
Labels: pension-benefits

#17140 [API-34408] Add swagger docs for poa requests
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/schemas/v2/poa_request.json
  modules/claims_api/spec/fixtures/v2/veterans/power_of_attorney/request_representative/valid_no_claimant.json
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
  spec/support/schemas/claims_api/v2/veterans/power_of_attorney/request_representative/submit.json
Labels: claimsApi

#17133 Remove unneeded API options from Form526 submit
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
Labels: disability-compensation

#17090 Api 37244 validation logic fix
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17128 API-36492-claim-notes-docs
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/generate_pdf_example.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/valid_526_minimum.json
Labels: claimsApi

#17153 Expand claims service timeout + logging
  lib/lighthouse/benefits_claims/configuration.rb
  lib/lighthouse/service_exception.rb
Labels: disability-compensation

#17149 API-37193-remove-claim-auditor-alert
  lib/periodic_jobs.rb
  modules/claims_api/app/sidekiq/claims_api/claim_auditor.rb
  modules/claims_api/spec/sidekiq/claim_auditor_spec.rb
Labels: claimsApi

#17147 Api 37483 v1 2122 apt unit number
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/v1/2122.json
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: claimsApi

#17125 API-37390-multiple-exposures-dates-bug-fix
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#17068 API-37215-526-sync-error-handling
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/services/claims_api/disability_compensation/docker_container_service.rb
  modules/claims_api/app/sidekiq/claims_api/claim_establisher.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_docker_container_upload.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
  modules/claims_api/lib/claims_api/common/exceptions/lighthouse/backend_service_exception.rb
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_mapper.rb
  modules/claims_api/lib/custom_error.rb
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/lib/claims_api/v2/error/lighthouse_error_mapper_spec.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/sidekiq/claim_custom_error_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_pdf_generator_spec.rb
  spec/support/vcr_cassettes/claims_api/disability_comp.yml
Labels: claimsApi

#17131 [DBEX] remove data migration task post-execution
  .github/CODEOWNERS
  lib/data_migrations/form526_submission_submit_endpoint_update.rb
  rakelib/form526_submission_submit_endpoint_update.rake
Labels: disability-experience, disability-compensation

#17099 Add skeleton benefits pension module.
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  app/models/saved_claim.rb
  config/features.yml
  config/routes.rb
  modules/pensions/Gemfile
  modules/pensions/README.rdoc
  modules/pensions/Rakefile
  modules/pensions/app/controllers/pensions/claims_base_controller.rb
  modules/pensions/app/controllers/pensions/v0/pension_claims_controller.rb
  modules/pensions/app/models/pensions/pension.rb
  modules/pensions/app/models/pensions/saved_claim.rb
  modules/pensions/bin/rails
  modules/pensions/config/routes.rb
  modules/pensions/lib/pensions.rb
  modules/pensions/lib/pensions/engine.rb
  modules/pensions/lib/pensions/pension_monitor.rb
  modules/pensions/lib/pensions/version.rb
  modules/pensions/pensions.gemspec
  modules/pensions/spec/controllers/v0/pension_claims_controller_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: pension-benefits, pension

#17196 Toxic Exposure: populate other hazard description to hazard_exposed_to in multipleExposures array
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
Labels: disability-compensation

#17195 [DBEX] add tests & cassette for LH 526 validate endpoint
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/validate526/200_synchronous_response.yml
Labels: disability-experience, disability-compensation

#17111 API-37197: Add Setting to Toggle `VAForms::FormReloader` Job On/Off Per Environment
  config/settings.yml
  modules/va_forms/app/sidekiq/va_forms/form_reloader.rb
  modules/va_forms/spec/sidekiq/form_reloader_spec.rb
Labels: banana-peels

#17207 [API-37195] Add Tyler to Benefits Claims API email reports
  modules/claims_api/app/mailers/claims_api/submission_report_mailer.rb
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/report_monthly_submissions_spec.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: claimsApi

#17206 API 37228 mpi fix headers first & last name check
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/spec/requests/v1/power_of_attorney_request_spec.rb
Labels: claimsApi

#17208 [DBEX] create Form526SubmissionRemediation model
  db/migrate/20240621200006_create_form526_submission_remediations.rb
  db/schema.rb
Labels: disability-experience, disability-compensation

#17188 API-37613-prod-docs-526-v2-sync
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
Labels: claimsApi

#17232 Conditionally handle LH response in 526 submit
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
Labels: disability-compensation

#17132 API-37474-confinement-dates-overlapping
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#17209 [API-37388] Unify monthly PACT and claim submissions
  modules/claims_api/app/mailers/claims_api/submission_report_mailer.rb
  modules/claims_api/app/sidekiq/claims_api/report_monthly_submissions.rb
  modules/claims_api/app/sidekiq/claims_api/reporting_base.rb
  modules/claims_api/app/views/claims_api/_monthly_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/submission_report_mailer/submission_report.html.erb
  modules/claims_api/spec/mailers/report_monthly_submissions_spec.rb
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
  spec/mailers/previews/claims_api_submission_report_mailer_preview.rb
Labels: claimsApi

#17237 [DBEX] create Form526SubmissionRemediation model with lifecycle tracking
  .github/CODEOWNERS
  app/models/form526_submission.rb
  app/models/form526_submission_remediation.rb
  spec/models/form526_submission_remediation_spec.rb
  spec/models/form526_submission_spec.rb
Labels: disability-experience, disability-compensation

#17254 [DBEX] add backup_submitted_claim_status to Form526Submission
  db/migrate/20240625180946_add_backup_submitted_claim_status_to_form526_submission.rb
  db/schema.rb
Labels: disability-experience, disability-compensation

#17253 API-37721-correctly-call-claim-establisher
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
Labels: claimsApi

#17257 Toxic Exposure: Refactor TE flag 526 prefill implementation
  app/models/form_profiles/va_526ez.rb
Labels: disability-compensation

#17272 API-37741: Add Gia Antoniades to Appeals and Benefits Intake Email Reports
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: banana-peels

#17278 [84351] updates SSOe login tags to use CSP "type"
  app/controllers/v1/sessions_controller.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: identity, identity-backend

#17279 Toxic Exposure: Refactor TE flag to indicate PDF version
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/controllers/v0/disability_compensation_in_progress_forms_controller.rb
  app/models/form_profiles/va_526ez.rb
  config/features.yml
  config/form_profile_mappings/21-526EZ.yml
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/models/form_profile_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_request_spec.rb
  spec/support/disability_compensation_form/all_claims_fe_submission.json
Labels: disability-compensation

#17275 Update vets-json-schema
  Gemfile.lock
Labels: pension-benefits

#17310 DASH - V2 POA requests - Fix OAS
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag_spec.rb
Labels: claimsApi

#17120 arf.83757 handle form21a post
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/form21a_controller.rb
  modules/accredited_representative_portal/app/services/accreditation_service.rb
  modules/accredited_representative_portal/config/routes.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/form21a_controller_spec.rb
  modules/accredited_representative_portal/spec/services/accreditaiton_service_spec.rb
Labels: benefits-accredited-rep-facing
