Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-05, with the labels that each got.

#16543 Added Appeals Evidence backup submission by appeal age
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/sidekiq/appeals_api/evidence_submission_backup.rb
  modules/appeals_api/spec/models/supplemental_claim_spec.rb
  modules/appeals_api/spec/sidekiq/appeals_api/evidence_submission_backup_spec.rb
Labels: appeals, banana-peels

#16584 API-34961 Remove Flipper flag for new PII removal rules in appeals APIs
  config/features.yml
  modules/appeals_api/app/controllers/concerns/appeals_api/pdf_downloads.rb
  modules/appeals_api/app/models/appeals_api/higher_level_review.rb
  modules/appeals_api/app/models/appeals_api/notice_of_disagreement.rb
  modules/appeals_api/app/models/appeals_api/supplemental_claim.rb
  modules/appeals_api/app/services/appeals_api/remove_pii.rb
  modules/appeals_api/spec/services/appeals_api/remove_pii_spec.rb
Labels: Lighthouse, appeals, banana-peels

#16520 Add 404 to rswag, add generated swagger
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: claimsApi

#16607 Toxic Exposure - Data Transformation #3 - Add Conditions
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  spec/factories/form526_submissions.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/support/disability_compensation_form/all_claims_fe_submission.json
  spec/support/disability_compensation_form/submissions/with_everything_toxic_exposure.json
Labels: disability-experience

#16494 arf-80297 add ARP verified_representative migration
  db/migrate/20240418233828_create_accredited_representative_portal_verified_representatives.rb
  db/schema.rb
Labels: benefits-accredited-rep-facing

#16526 Dash/oren/api 34439/local bgs refactor
  modules/claims_api/README.md
  modules/claims_api/app/clients/claims_api/bgs_client.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/definition.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/external_id.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/request.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/request/envelope.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/local_bgs_proxy.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/error_handler.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/miscellaneous.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/create_veteran_representative_request_spec.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/read_all_veteran_representatives_spec.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/veteran_representative_service_spec.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_proxy_spec.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_refactored_spec.rb
  modules/claims_api/spec/lib/claims_api/manage_representative_service/read_poa_request_spec.rb
  modules/claims_api/spec/lib/claims_api/manage_representative_service/update_poa_request_spec.rb
  modules/claims_api/spec/lib/claims_api/vnp_atchms_service_spec.rb
  modules/claims_api/spec/lib/claims_api/vnp_person_service_spec.rb
  modules/claims_api/spec/lib/claims_api/vnp_ptcpnt_addrs_service_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag_spec.rb
  modules/claims_api/spec/support/bgs_client_spec_helpers.rb
Labels: claimsApi

#16624 Api 35858 526 docs missing schemas
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/spec/factories/auto_established_claims.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/disability_compensation/attachments.json
Labels: claimsApi

#16633 API-35476-add-restricted-scope
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16493 arf-80297 load ogc_number and poa_codes into the RepresentatveUserLoader
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/verified_representative.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/representative_user_loader.rb
  modules/accredited_representative_portal/spec/factories/representative_user.rb
  modules/accredited_representative_portal/spec/factories/verified_representative.rb
  modules/accredited_representative_portal/spec/models/accredited_representatiive_portal/verified_representative_spec.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/representative_user_loader_spec.rb
Labels: benefits-accredited-rep-facing

#16621 DBEX/81611: return parsable submitted_claim_id from the form526 submit job in the lighthouse pipeline
  .github/CODEOWNERS
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/submit526/200_response.yml
Labels: codeowner-review

#16632 [API-35243] Add terminate pending poa requests service - orchestration part 1
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/orchestrator.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/terminate_existing_requests.rb
  modules/claims_api/lib/bgs_service/manage_representative_service/update_poa_request.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/terminate_existing_requests_spec.rb
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/terminate_existing_requests/no_requests_to_terminate.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/terminate_existing_requests/with_requests_to_terminate.yml
Labels: claimsApi

#16642 DR | Add confirmation page feature flag
  config/features.yml
Labels: feature flag, Notice of Disagreement

#16609 API-34961 Remove appeals PII clearing flags
  config/features.yml
  lib/periodic_jobs.rb
  modules/appeals_api/app/sidekiq/appeals_api/clean_up_pii.rb
  modules/appeals_api/app/sidekiq/appeals_api/higher_level_review_clean_up_pii.rb
  modules/appeals_api/app/sidekiq/appeals_api/supplemental_claim_clean_up_pii.rb
  modules/appeals_api/config/flipper/enabled_features.yml
  modules/appeals_api/spec/sidekiq/clean_up_pii_spec.rb
  modules/appeals_api/spec/sidekiq/higher_level_review_clean_up_pii_spec.rb
  modules/appeals_api/spec/sidekiq/notice_of_disagreement_clean_up_pii_spec.rb
  modules/appeals_api/spec/sidekiq/supplemental_claim_clean_up_pii_spec.rb
Labels: Lighthouse, appeals, banana-peels

#16654 API-35932 monthly email updates
  lib/periodic_jobs.rb
  modules/claims_api/app/mailers/claims_api/submission_report_mailer.rb
  modules/claims_api/app/sidekiq/claims_api/report_monthly_submissions.rb
  modules/claims_api/app/views/claims_api/submission_report_mailer/submission_report.html.erb
  modules/claims_api/spec/mailers/report_monthly_submissions_spec.rb
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
  spec/mailers/previews/claims_api_submission_report_mailer_preview.rb
Labels: claimsApi

#16677 Api 36152 remove empty confinements
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#16097 Use New Status Field to Maintain InProgressForm Data for Dependents Application
  .github/CODEOWNERS
  app/controllers/v0/dependents_applications_controller.rb
  app/controllers/v0/in_progress_forms_controller.rb
  app/models/in_progress_form.rb
  app/services/bgs/dependent_service.rb
  app/services/users/profile.rb
  app/sidekiq/bgs/submit_form674_job.rb
  app/sidekiq/bgs/submit_form686c_job.rb
Labels: dependents-benefits, waiting-for-info

#16698 API-34798: Add Veteran Impact Stats to Appeals API Stats Report
  modules/appeals_api/lib/appeals_api/stats_report.rb
  modules/appeals_api/spec/lib/stats_report_spec.rb
Labels: banana-peels

#16346 [78005] updates logout redirect generator to accept access_token derived user…
  app/controllers/concerns/sign_in/authentication.rb
  app/controllers/v0/sign_in_controller.rb
  app/services/sign_in/logout_redirect_generator.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/representative_user_loader.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/services/sign_in/logout_redirect_generator_spec.rb
Labels: identity, identity-backend

#16690 [CST] - Add new feature toggle cst_claim_phases to vets-api
  config/features.yml
Labels: Claim Status Tool

#16689 DBEX: add submit_endpoint to form526_submissions
  db/migrate/20240508190041_add_submit_endpoint_to_form526_submissions.rb
  db/schema.rb
Labels: disability-experience, disability-compensation

#16595 API-36070-split-method-error
  modules/claims_api/app/controllers/claims_api/v2/veterans/claims_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
Labels: claimsApi

#16660 API-34439 follow-on BGSClient refactor
  modules/claims_api/app/clients/claims_api/bgs_client.rb
  modules/claims_api/app/clients/claims_api/bgs_client/error.rb
  modules/claims_api/app/clients/claims_api/bgs_client/request.rb
  modules/claims_api/app/clients/claims_api/bgs_client/request/envelope.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/definition.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/external_id.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/request.rb
  modules/claims_api/app/clients/claims_api/bgs_client/service_action/request/envelope.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/error_handler.rb
Labels: claimsApi

#16738 Api 36426 service relevance mapping
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
Labels: claimsApi

#16558 [DBEX] classify Reference Data Service errors as retryable
  lib/benefits_intake_service/service.rb
  lib/evss/disability_compensation_form/service_exception.rb
  lib/evss/service_exception.rb
  modules/claims_api/spec/sidekiq/claim_custom_error_spec.rb
Labels: disability-experience, disability-compensation

#16761 Add image tag to manifest commit message
  .github/workflows/deploy-template.yml
Labels: platform-tech-team-1

#16737 [API-35243] Add poa create request service - Part 2
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/create_request.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/orchestrator.rb
  modules/claims_api/spec/lib/claims_api/vnp_proc_form_service_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/create_request_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/orchestrator_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/terminate_existing_requests_spec.rb
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/no_email.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/no_phone.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/with_claimant.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/without_claimant.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/orchestrator/happy_path.yml
Labels: claimsApi

#16692 API-34441 action poa request spike
  modules/claims_api/app/clients/claims_api/bgs_client/service_action.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_request/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_request/decisions_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/helpers/xml_builder.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decline/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/decline/request_spec/valid_declination_with_reason.yml
Labels: claimsApi

#16749 Api 36389 disabilities name validation
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16719 API-35479-526-mock-data
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_benefits_documents_uploader.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
  modules/claims_api/lib/claims_api/v2/mock_526.pdf
  modules/claims_api/lib/claims_api/v2/mock_aws_service.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_benefits_documents_uploader_spec.rb
Labels: claimsApi

#16763 Api 34697
  modules/appeals_api/lib/appeals_api/decision_review_report.rb
  modules/appeals_api/spec/lib/decision_review_report_spec.rb
Labels: appeals, banana-peels

#16659 Add feature flag for enabling/disabling 0969 Income and Assets Form
  config/features.yml
Labels: pension-benefits

#16784 Fixes broken test
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16787 Api 36643 remove fault message
  modules/claims_api/lib/claims_api/error/soap_error_handler.rb
Labels: claimsApi

#16772 [78745] - Create new accreditation join table
  db/migrate/20240515192926_create_accreditations.rb
  db/schema.rb
Labels: find-a-representative, appoint-a-representative

#16693 DBEX: Form526Submission submit_endpoint data migration
  .github/CODEOWNERS
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/models/form526_submission.rb
  lib/data_migrations/form526_submission_submit_endpoint_update.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
  rakelib/form526_submission_submit_endpoint_update.rake
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/models/form526_submission_spec.rb
  spec/requests/disability_compensation_form_request_spec.rb
Labels: disability-experience, disability-compensation

#16796 Api 36429 special issues form526
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
Labels: claimsApi

#16730 API-36406 Adjust docker container upload job tests
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_docker_container_upload.rb
  modules/claims_api/spec/sidekiq/claim_custom_error_spec.rb
  modules/claims_api/spec/sidekiq/service_base_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_docker_container_upload_spec.rb
Labels: claimsApi

#16774 API 35932 monthly email show consumers in table
  modules/claims_api/app/mailers/claims_api/submission_report_mailer.rb
  modules/claims_api/app/sidekiq/claims_api/report_monthly_submissions.rb
  modules/claims_api/app/sidekiq/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/app/sidekiq/claims_api/reporting_base.rb
  modules/claims_api/app/views/claims_api/_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/_ews_errors_table.html.erb
  modules/claims_api/app/views/claims_api/_ews_status_table.html.erb
  modules/claims_api/app/views/claims_api/_itf_status_table.html.erb
  modules/claims_api/app/views/claims_api/_monthly_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/_poa_errors_table.html.erb
  modules/claims_api/app/views/claims_api/_poa_status_table.html.erb
  modules/claims_api/app/views/claims_api/_submission_table.html.erb
  modules/claims_api/app/views/claims_api/submission_report_mailer/submission_report.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_claims_status_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/_counts_table.html.erb
  modules/claims_api/app/views/claims_api/unsuccessful_report_mailer/unsuccessful_report.html.erb
  modules/claims_api/spec/mailers/report_monthly_submissions_spec.rb
  modules/claims_api/spec/shared_reporting_helper.rb
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
  modules/claims_api/spec/sidekiq/report_unsuccessful_submissions_spec.rb
  modules/claims_api/spec/sidekiq/shared_reporting_examples_spec.rb
  spec/mailers/previews/claims_api_submission_report_mailer_preview.rb
Labels: claimsApi

#16799 [78745] Create accreditation model
  .github/CODEOWNERS
  app/models/accreditation.rb
  app/models/accredited_individual.rb
  app/models/accredited_organization.rb
  spec/factories/accreditations.rb
  spec/factories/accredited_individuals.rb
  spec/factories/accredited_organizations.rb
  spec/models/accreditation_spec.rb
  spec/models/accredited_individual_spec.rb
  spec/models/accredited_organization_spec.rb
Labels: find-a-representative, appoint-a-representative

#16800 Dash/oren/api 34441/poa request.representation refinements
  modules/claims_api/app/clients/claims_api/bgs_client.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_request/decisions_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/poa_request.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search/query.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decline/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
Labels: claimsApi

#16802 DBEX: assign toxic exposure submit endpoint & metadata
  app/models/form_profiles/va_526ez.rb
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  lib/sidekiq/form526_backup_submission_process/submit.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: disability-experience, disability-compensation

#16823 DBEX: explicitly load Form526Submission submit_endpoint data migration module
  lib/data_migrations/form526_submission_submit_endpoint_update.rb
  rakelib/form526_submission_submit_endpoint_update.rake
Labels: disability-experience, disability-compensation

#16820 Api 36432 special issues schema
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/lib/claims_api/v2/disability_compensation_evss_mapper.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_evss_mapper_spec.rb
Labels: claimsApi

#16834 Api 36433 special issue validation
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16841 API-367570-fix-test-in-monthly-report
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
Labels: claimsApi

#16442 Added new expired check, changed uploads trigger time
  lib/periodic_jobs.rb
  modules/vba_documents/app/models/vba_documents/upload_submission.rb
  modules/vba_documents/app/sidekiq/vba_documents/slack_inflight_notifier.rb
  modules/vba_documents/app/sidekiq/vba_documents/slack_status_notifier.rb
  modules/vba_documents/app/sidekiq/vba_documents/upload_scanner.rb
  modules/vba_documents/spec/sidekiq/slack_inflight_notifier_spec.rb
  modules/vba_documents/spec/sidekiq/slack_status_notifier_spec.rb
Labels: benefits-intake, banana-peels

#16819 [78745] - Drop unused accredited_individuals_accredited_organizations join table
  db/migrate/20240520191416_drop_accredited_individuals_accredited_organizations.rb
  db/schema.rb
Labels: find-a-representative, appoint-a-representative

#16829 Add new Lighthouse ITF flipper
  config/features.yml
Labels: pension-benefits

#16836 Remove pensions multiresponse flipper
  config/features.yml
Labels: pension-benefits

#16803 API-34441 introduce POA request models
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/decisions_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/searching.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/poa_request.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search/query.rb
  modules/claims_api/config/routes.rb
Labels: claimsApi

#16853 Api 35480 sync endpoint docs
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/support/swagger_shared_components/v2.rb
Labels: claimsApi

#16850 Add specialIssues to generate pdf min validations schema
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16879 API-36848 Handle null for Herbicide serviceDates and Additional Exposure exposureDates in Pdf mapper
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#16895 API-36848-fix-for-herbicide-additional-exposures-being-nil
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#16873 Add tests for 526 special issues scenarios
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
Labels: claimsApi

#16821 API-34441 implement POA request decision model repository methods
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/dump.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/update.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/searching.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/utilities.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search/query.rb
Labels: claimsApi

#16835 API-35481-sidekiq-config-526
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_benefits_documents_uploader.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_docker_container_upload.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_benefits_documents_uploader_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_docker_container_upload_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_pdf_generator_spec.rb
Labels: claimsApi

#16822 Dash/oren/api 34441/bgs client.tweaks
  modules/claims_api/app/clients/claims_api/bgs_client.rb
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/app/clients/claims_api/bgs_client/request.rb
  modules/claims_api/app/clients/claims_api/bgs_client/request/envelope.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/update.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/find_definition.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/find_service_definition.rb
Labels: claimsApi

#16825 API-34441 spike poa request decision invalid status transition
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/decisions_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/create.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide/validation.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search/query.rb
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decline/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
  modules/claims_api/spec/support/auth_helper.rb
  modules/claims_api/spec/support/bgs_client_spec_helpers.rb
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/decisions/create/request_spec/declined_twice.yml
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/decline/request_spec/valid_decline_with_reason.yml
Labels: claimsApi

#16839 API-34441 JSON schema validation of POA request decision payload
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/decisions_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_requests/exception_handling.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_requests/json_validation.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/dump.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/load.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide/validation.rb
  modules/claims_api/config/schemas/v2/power_of_attorney_requests/param/decision/post/request.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
Labels: claimsApi

#16860 API-34441 poa request models not found error + 404 during decide
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_requests/exception_handling.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/error.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/request_spec.rb
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/decisions/create/request_spec/nonexistent_participant_id.yml
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/decisions/create/request_spec/nonexistent_proc_id.yml
Labels: claimsApi

#16900 API-36866-fix-response-setting-for-served-in-herbicide
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi

#16798 API-35477-526-sync-pdf-client
  modules/claims_api/app/services/claims_api/service.rb
  modules/claims_api/lib/claims_api/common/exceptions/lighthouse/bad_request.rb
  modules/claims_api/lib/claims_api/v2/error/lighthouse_error_handler.rb
  modules/claims_api/lib/pdf_generator_service/pdf_client.rb
  modules/claims_api/spec/lib/claims_api/v2/error/lighthouse_error_handler_spec.rb
Labels: claimsApi

#16863 DASH remove redundant body argument from BGSClient
  modules/claims_api/app/clients/claims_api/bgs_client.rb
  modules/claims_api/app/clients/claims_api/bgs_client/request.rb
  modules/claims_api/app/clients/claims_api/bgs_client/request/envelope.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
Labels: claimsApi

#16744 [CST] Manually set the maximum # of retries for EVSS::RequestDecision job
  .github/CODEOWNERS
  app/sidekiq/evss/request_decision.rb
Labels: Claim Status Tool

#16880 Toxic Exposure: Herbicide #3 - Transform to Lighthouse request
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/support/disability_compensation_form/all_claims_fe_submission.json
  spec/support/disability_compensation_form/submissions/with_everything_toxic_exposure.json
Labels: disability-experience

#16881 Dash/oren/api 34441/poa request.decision.status.remodel
  modules/claims_api/README.md
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/app/clients/claims_api/bgs_client/request.rb
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search/query.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide/validation.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search/query.rb
  modules/claims_api/config/schemas/v2/power_of_attorney_requests/param/decision/post/request.json
  modules/claims_api/spec/clients/bgs_client/veteran_representative_vs_poa_request_comparison_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
  modules/claims_api/spec/support/bgs_client_spec_helpers.rb
  spec/support/vcr_cassettes/claims_api/clients/bgs_client/veteran_representative_vs_poa_request_comparison_spec/results.yml
  spec/support/vcr_cassettes/claims_api/requests/v2/power_of_attorney_requests/decisions/create/request_spec/irrelevant_declined_reason.yml
Labels: claimsApi

#16883 DASH POA requests error handling refactor
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/decisions_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_requests/bgs_client_error_handling.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_requests/exception_handling.rb
  modules/claims_api/app/controllers/concerns/claims_api/v2/power_of_attorney_requests/json_validation.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/create.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/error.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/find.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/search/query.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decide/validation.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/search/query.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/error_handler.rb
  modules/claims_api/spec/controllers/concerns/v2/power_of_attorney_requests/json_validation_spec.rb
  modules/claims_api/spec/fixtures/json_validation_schemas/invalid.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/request_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
Labels: claimsApi
