Repository department-of-veterans-affairs/vets-api, pull requests merged in 2024-02, with the labels that each got.

#15320 eMIS code deletion for veteran_status
  .github/CODEOWNERS
  app/models/emis_redis/veteran_status.rb
  app/services/form1010cg/service.rb
  app/services/users/exception_handler.rb
  app/services/users/profile.rb
  config/initializers/breakers.rb
  lib/emis/models/military_service_eligibility_info.rb
  lib/emis/models/veteran_status.rb
  lib/emis/responses/get_military_service_eligibility_info_response.rb
  lib/emis/responses/get_veteran_status_response.rb
  lib/emis/veteran_status_configuration.rb
  lib/emis/veteran_status_service.rb
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
  modules/veteran_confirmation/app/services/veteran_confirmation/status_service.rb
  modules/veteran_confirmation/config/mock_veteran_status_config.rb
  modules/veteran_confirmation/config/routes.rb
  modules/veteran_confirmation/spec/requests/health_request_spec.rb
  rakelib/redis.rake
  spec/lib/emis/responses/get_veteran_status_response_spec.rb
  spec/models/emis_redis/veteran_status_spec.rb
  spec/services/users/exception_handler_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/emis/getVeteranStatusResponse.xml
  spec/support/stub_va_profile.rb
Labels: console-services-review

#15287 Bugfix/15134 set response body
  lib/evss/gi_bill_status/gi_bill_status_response.rb
  spec/controllers/v0/post911_gi_bill_statuses_controller_spec.rb
Labels: console-services-review

#15337 VACMS-16784: Adds error handling for 503 and 504 responses from the search.gov API
  config/locales/exceptions.en.yml
  lib/search/service.rb
  spec/lib/search/service_spec.rb
  spec/support/vcr_cassettes/search/503.yml
  spec/support/vcr_cassettes/search/504.yml
Labels: console-services-review

#15350 Update swagger yaml: add claim_agents to description for 'type' param…
  modules/veteran/app/docs/veteran/v0/accreditation.yaml
Labels: find-a-representative

#15351 Revert "eMIS code deletion for veteran_status"
  .github/CODEOWNERS
  app/models/emis_redis/veteran_status.rb
  app/services/form1010cg/service.rb
  app/services/users/exception_handler.rb
  app/services/users/profile.rb
  config/initializers/breakers.rb
  lib/emis/models/military_service_eligibility_info.rb
  lib/emis/models/veteran_status.rb
  lib/emis/responses/get_military_service_eligibility_info_response.rb
  lib/emis/responses/get_veteran_status_response.rb
  lib/emis/veteran_status_configuration.rb
  lib/emis/veteran_status_service.rb
  modules/veteran_confirmation/VETERAN_CONFIRMATION.yml
  modules/veteran_confirmation/app/controllers/veteran_confirmation/v0/veteran_status_controller.rb
  modules/veteran_confirmation/app/services/veteran_confirmation/status_service.rb
  modules/veteran_confirmation/config/mock_veteran_status_config.rb
  modules/veteran_confirmation/config/routes.rb
  modules/veteran_confirmation/spec/requests/health_request_spec.rb
  rakelib/redis.rake
  spec/lib/emis/responses/get_veteran_status_response_spec.rb
  spec/models/emis_redis/veteran_status_spec.rb
  spec/services/users/exception_handler_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/emis/getVeteranStatusResponse.xml
  spec/support/stub_va_profile.rb
Labels: console-services-review

#15334 7861 cerner facility transition
  config/features.yml
  modules/mobile/app/serializers/mobile/v2/user_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/schemas/v2/User.yml
  modules/mobile/spec/request/v2/user_request_spec.rb
  modules/mobile/spec/support/schemas/v2/user.json
Labels: mobile, console-services-review

#15345 Delete eMIS references for pay info
  config/initializers/breakers.rb
  lib/emis/models/combat_pay.rb
  lib/emis/models/eligibility_military_service_episode.rb
  lib/emis/models/reserve_drill_days.rb
  lib/emis/models/retirement_pay.rb
  lib/emis/models/separation_pay.rb
  lib/emis/payment_configuration.rb
  lib/emis/payment_configuration_v2.rb
  lib/emis/payment_service.rb
  lib/emis/payment_service_v2.rb
  lib/emis/responses/get_combat_pay_response.rb
  lib/emis/responses/get_military_service_eligibility_info_response.rb
  lib/emis/responses/get_reserve_drill_days_response.rb
  lib/emis/responses/get_retirement_pay_response.rb
  lib/emis/responses/get_separation_pay_response.rb
  spec/lib/emis/models/disability_spec.rb
  spec/lib/emis/models/military_service_episode_spec.rb
  spec/lib/emis/responses/get_combat_pay_response_spec.rb
  spec/lib/emis/responses/get_reserve_drill_days_response_spec.rb
  spec/lib/emis/responses/get_retirement_pay_response_spec.rb
  spec/lib/emis/responses/get_separation_pay_response_spec.rb
  spec/support/emis/getCombatPayResponse.xml
  spec/support/emis/getReserveDrillDaysResponse.xml
  spec/support/emis/getRetirementPayResponse.xml
  spec/support/emis/getSeparationPayResponse.xml
Labels: console-services-review

#15340 bump json_schemer to v2.1.1
  Gemfile.lock
  modules/appeals_api/lib/appeals_api/form_schemas.rb
  modules/appeals_api/spec/requests/v2/higher_level_reviews_controller_spec.rb
Labels: console-services-review

#15353 Enable RuboCop Rule: Naming/AccessorMethodName
  .rubocop.yml
  .rubocop_todo.yml
Labels: console-services-review

#15335 API-32629 Validate token ICN for `create` endpoints in appeals v0 APIs
  modules/appeals_api/app/controllers/appeals_api/higher_level_reviews/v0/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/notice_of_disagreements/v0/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/supplemental_claims/v0/supplemental_claims_controller.rb
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger.json
  modules/appeals_api/app/swagger/higher_level_reviews/v0/swagger_dev.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger.json
  modules/appeals_api/app/swagger/notice_of_disagreements/v0/swagger_dev.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger.json
  modules/appeals_api/app/swagger/supplemental_claims/v0/swagger_dev.json
  modules/appeals_api/spec/docs/higher_level_reviews/v0_spec.rb
  modules/appeals_api/spec/docs/notice_of_disagreements/v0_spec.rb
  modules/appeals_api/spec/docs/supplemental_claims/v0_spec.rb
  modules/appeals_api/spec/requests/higher_level_reviews/v0/higher_level_reviews_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/notice_of_disagreements/v0/notice_of_disagreements_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims/evidence_submissions_controller_spec.rb
  modules/appeals_api/spec/requests/supplemental_claims/v0/supplemental_claims_controller_spec.rb
Labels: Lighthouse, appeals, banana-peels

#15355 Enable dependabot updates for GHA
  .github/dependabot.yml
Labels: console-services-review

#15349 71784 - Add response when ezr_async is enabled
  lib/form1010_ezr/service.rb
  spec/requests/form1010_ezrs_request_spec.rb
  spec/support/vcr_cassettes/form1010_ezr/authorized_submit_async.yml
Labels: console-services-review

#15346 [69546] Add 995-supplemental-claim to statsd middleware allowlist.
  lib/statsd_middleware.rb
Labels: console-services-review, Supplemental Claims

#15368 BE | Ask VA Api: Refactoring
  lib/periodic_jobs.rb
  modules/ask_va_api/app/lib/ask_va_api/base_retriever.rb
  modules/ask_va_api/app/lib/ask_va_api/categories/retriever.rb
  modules/ask_va_api/app/lib/ask_va_api/sub_topics/retriever.rb
  modules/ask_va_api/app/lib/ask_va_api/topics/retriever.rb
  modules/ask_va_api/app/services/crm/cache_data.rb
  modules/ask_va_api/app/services/crm/static_data.rb
  modules/ask_va_api/app/sidekiq/crm/topics_data_job.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/categories/retriever_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/subtopics/retriever_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/topics/retriever_spec.rb
  modules/ask_va_api/spec/requests/v0/static_data_spec.rb
  modules/ask_va_api/spec/services/crm/cache_data_spec.rb
  modules/ask_va_api/spec/sidekiq/crm/topics_data_job_spec.rb
Labels: console-services-review

#15132 Use VA Profile v3 service to obtain NOK/EC
  .github/CODEOWNERS
  app/controllers/v0/profile/contacts_controller.rb
  app/serializers/contact_serializer.rb
  app/swagger/swagger/schemas/contacts.rb
  lib/va_profile/models/associated_person.rb
  lib/va_profile/profile/v3/health_benefit_bio_response.rb
  lib/va_profile/profile/v3/service.rb
  spec/controllers/v0/profile/contacts_controller_spec.rb
  spec/lib/va_profile/profile/v3/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/schemas/contacts.json
  spec/support/vcr_cassettes/va_profile/profile/v3/health_benefit_bio_200.yml
Labels: console-services-review

#15357 DBEX: set zip code default for foreign addresses
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/factories/form526_submissions.rb
  spec/lib/sidekiq/form526_backup_submission_process/processor_spec.rb
  spec/support/disability_compensation_form/submissions/with_non_us_address.json
Labels: disability-compensation

#15354 Remove Central Lighthouse Flipper for Benefits
  app/sidekiq/central_mail/submit_central_form686c_job.rb
  config/features.yml
  spec/sidekiq/central_mail/submit_central_form686c_job_spec.rb
Labels: console-services-review

#15339 avs error message test
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/request/v2/appointments_request_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointment_200_no_avs.yml
Labels: VAOS

#15386 NOD and SC | Fix attachment size_range to match Lighthouse's API limits
  app/uploaders/decision_review_evidence_attachment_uploader.rb
Labels: Supplemental Claims, Notice of Disagreement

#15378 API-33718-526-v2-money-attributes
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
  modules/claims_api/config/schemas/v2/request_bodies/disability_compensation/example.json
  modules/claims_api/spec/fixtures/v2/veterans/disability_compensation/form_526_json_api.json
Labels: claimsApi

#15421 API-33993-remove-icn-logging-from-v2
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
Labels: claimsApi

#15365 API-33858-poa-v1-email-phone-optional
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/v1/2122.json
  modules/claims_api/spec/lib/claims_api/error/soap_error_handler_spec.rb
  modules/claims_api/spec/requests/v1/rswag_claims_request_spec.rb
Labels: claimsApi

#15425 DBEX: implement Metadata Validator for backup submissions
  config/features.yml
  lib/sidekiq/form526_backup_submission_process/processor.rb
Labels: disability-compensation

#15420 Api 33825 retries for bd uploads
  modules/claims_api/app/sidekiq/claims_api/claim_uploader.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_claim_service_base.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
  modules/claims_api/spec/sidekiq/claim_uploader_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_docker_container_upload_spec.rb
Labels: Lighthouse, claimsApi

#15408 Change internal report transition pairs
  modules/appeals_api/app/sidekiq/appeals_api/appeal_received_job.rb
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
  modules/appeals_api/lib/appeals_api/stats_report.rb
  modules/appeals_api/spec/lib/stats_report_spec.rb
Labels: appeals, banana-peels

#15394 Ndbex/52022 coe pdf password
  app/controllers/v0/claim_documents_controller.rb
  spec/requests/claim_documents_spec.rb
Labels: coe-benefits

#15101 Adding a separate list of apps to control TOU on/off for different en…
  app/controllers/v1/sessions_controller.rb
  lib/saml/post_url_service.rb
  lib/saml/url_service.rb
  spec/lib/saml/post_url_service_spec.rb
Labels: console-services-review

#15471 Add distance param to far search endpoints swagger documentation
  modules/veteran/app/docs/veteran/v0/accreditation.yaml
Labels: find-a-representative

#15428 Handle distance as a param instead of a default value
  modules/veteran/app/controllers/veteran/v0/base_accredited_representatives_controller.rb
  modules/veteran/app/models/veteran/service/representative.rb
  modules/veteran/spec/requests/v0/base_accredited_representatives_shared_spec.rb
  modules/veteran/spec/requests/v0/other_accredited_representatives_shared_spec.rb
  modules/veteran/spec/requests/v0/other_accredited_representatives_spec.rb
  modules/veteran/spec/requests/v0/vso_accredited_representatives_spec.rb
Labels: find-a-representative

#15436 Implement VANotify callback url for nod email notifications.
  app/controllers/v1/nod_callbacks_controller.rb
  config/features.yml
  config/routes.rb
  config/settings/test.yml
  spec/controllers/v1/nod_callbacks_controller_spec.rb
Labels: Notice of Disagreement

#15454 [DBEX-TREX] 74912 Fix Form 4142, 0781, and 0781a signatureDate fields and specs
  app/sidekiq/evss/disability_compensation_form/submit_form0781.rb
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/evss/disability_compensation_form/form4142_processor.rb
  lib/pdf_fill/forms/va210781.rb
  lib/pdf_fill/forms/va210781a.rb
  lib/pdf_fill/forms/va214142.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_21_4142-min.json
  spec/fixtures/pdf_fill/21-0781/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0781/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-0781/merge_fields.json
  spec/fixtures/pdf_fill/21-0781/overflow.json
  spec/fixtures/pdf_fill/21-0781/overflow.pdf
  spec/fixtures/pdf_fill/21-0781/simple.json
  spec/fixtures/pdf_fill/21-0781/simple.pdf
  spec/fixtures/pdf_fill/21-0781a/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0781a/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-0781a/merge_fields.json
  spec/fixtures/pdf_fill/21-0781a/overflow.json
  spec/fixtures/pdf_fill/21-0781a/overflow.pdf
  spec/fixtures/pdf_fill/21-0781a/simple.json
  spec/fixtures/pdf_fill/21-0781a/simple.pdf
  spec/fixtures/pdf_fill/21-4142/kitchen_sink.json
  spec/fixtures/pdf_fill/21-4142/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-4142/merge_fields.json
  spec/fixtures/pdf_fill/21-4142/overflow.json
  spec/fixtures/pdf_fill/21-4142/overflow.pdf
  spec/fixtures/pdf_fill/21-4142/simple.json
  spec/fixtures/pdf_fill/21-4142/simple.pdf
  spec/lib/decision_review_v1/processor/form4142_processor_spec.rb
  spec/lib/evss/disability_compensation_form/form4142_processor_spec.rb
  spec/lib/pdf_fill/forms/va210781_spec.rb
  spec/lib/pdf_fill/forms/va214142_spec.rb
  spec/sidekiq/central_mail/submit_form4142_job_spec.rb
Labels: disability-experience

#15482 Fixed feature toggle reference. find_a_rep => find_a_representative_enabled
  modules/veteran/spec/requests/v0/vso_accredited_representatives_spec.rb
Labels: find-a-representative

#15484 allows disabling uploads of supp documents for load tests
  modules/claims_api/lib/claims_api/v2/disability_compensation_documents.rb
Labels: claimsApi

#15494 Update FlaggedVeteranRepresentativeContactDatauniqueness validation
  modules/veteran/app/models/veteran/flagged_veteran_representative_contact_data.rb
Labels: find-a-representative

#15505 Ignore flagged_value_updated column
  modules/veteran/app/models/veteran/flagged_veteran_representative_contact_data.rb
Labels: find-a-representative

#15511 Remove ignored columns from FlaggedVeteranRepresentativeContactData
  modules/veteran/app/models/veteran/flagged_veteran_representative_contact_data.rb
Labels: find-a-representative

#15523 Revert "Remove ignored columns from FlaggedVeteranRepresentativeContactData"
  modules/veteran/app/models/veteran/flagged_veteran_representative_contact_data.rb
Labels: find-a-representative

#15455 API-33994-remove-personal-info-log
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/spec/requests/v1/disability_compensation_request_spec.rb
Labels: claimsApi

#15488 Add migration for nod_notifications table
  db/migrate/20240210004449_create_nod_notification.rb
  db/schema.rb
Labels: Notice of Disagreement

#15432 API-34017 update /generatePDF route docs
  .github/CODEOWNERS
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/requests/v2/veterans/disability_compensation_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_disability_compensation_request_spec.rb
  modules/claims_api/spec/support/auth_helper.rb
  spec/support/vcr_cassettes/token_validation/v3/shows_token_is_valid_with_fine_grained_scope.yml
Labels: claimsApi

#15506 [Rated Disabilities] Adding back logic for Rated Disability discrepancy checks
  app/controllers/v0/rated_disabilities_discrepancies_controller.rb
  spec/controllers/v0/rated_disabilities_controller_spec.rb
  spec/controllers/v0/rated_disabilities_discrepancies_controller_spec.rb
  spec/support/vcr_cassettes/lighthouse/veteran_verification/show/200_response.yml
Labels: Rated Disabilities

#15534 run 'rubocop --auto-gen-config --exclude-limit 100'
  .rubocop_todo.yml
Labels: find-a-representative

#15508 Remove flagged_value_updated column
  .rubocop_todo.yml
  db/migrate/20240212220851_drop_column_flagged_value_updated_in_flagged_veteran_representative_contact_data_table.rb
  db/schema.rb
Labels: find-a-representative

#15550 Include attorney and agent phone numbers when processing The Trexler File
  modules/veteran/app/sidekiq/representatives/update.rb
  modules/veteran/app/sidekiq/representatives/xlsx_file_processor.rb
  modules/veteran/spec/sidekiq/representatives/update_spec.rb
  modules/veteran/spec/sidekiq/representatives/xlsx_file_processor_spec.rb
Labels: find-a-representative

#15513 API-28053 Update log line
  modules/claims_api/app/controllers/claims_api/v1/forms/disability_compensation_controller.rb
  modules/claims_api/lib/bd/bd.rb
Labels: claimsApi

#15561 Remove org name search from FAR VSO (officer) name search
  modules/veteran/app/controllers/veteran/v0/vso_accredited_representatives_controller.rb
  modules/veteran/spec/requests/v0/vso_accredited_representatives_spec.rb
Labels: find-a-representative

#15567 Increase FUZZY_SEARCH_THRESHOLD from .3 to .5
  modules/veteran/app/models/veteran/service/constants.rb
  modules/veteran/spec/requests/v0/vso_accredited_representatives_spec.rb
Labels: find-a-representative

#15572 Pension Updated pdf template with correct mapping for dependent place of birth
  lib/pdf_fill/forms/pdfs/21P-527EZ.pdf
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-527EZ/overflow.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.pdf
  spec/fixtures/pdf_fill/21P-527EZ/overflow_extras.pdf
  spec/fixtures/pdf_fill/21P-527EZ/simple.pdf
Labels: pension-benefits

#15503 [DR-75546] Distinguish between NOD v1 and v2 logs
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/models/appeal_submission.rb
  lib/decision_review/service.rb
  lib/decision_review_v1/service.rb
  spec/requests/v0/notice_of_disagreements_controller_request_spec.rb
  spec/requests/v1/notice_of_disagreements_controller_request_spec.rb
Labels: Notice of Disagreement

#15415 Api 33808 sidekiq error logging
  modules/claims_api/app/sidekiq/claims_api/claim_auditor.rb
  modules/claims_api/app/sidekiq/claims_api/claim_establisher.rb
  modules/claims_api/app/sidekiq/claims_api/claim_uploader.rb
  modules/claims_api/app/sidekiq/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/app/sidekiq/claims_api/ews_updater.rb
  modules/claims_api/app/sidekiq/claims_api/flash_updater.rb
  modules/claims_api/app/sidekiq/claims_api/poa_updater.rb
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_updater.rb
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_upload_job.rb
  modules/claims_api/app/sidekiq/claims_api/report_monthly_submissions.rb
  modules/claims_api/app/sidekiq/claims_api/report_unsuccessful_submissions.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/special_issue_updater.rb
  modules/claims_api/app/sidekiq/claims_api/updater_service.rb
  modules/claims_api/app/sidekiq/claims_api/v1/poa_form_builder_job.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_benefits_documents_uploader.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_claim_service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_docker_container_upload.rb
  modules/claims_api/app/sidekiq/claims_api/v2/disability_compensation_pdf_generator.rb
  modules/claims_api/spec/sidekiq/claim_auditor_spec.rb
  modules/claims_api/spec/sidekiq/claim_establisher_spec.rb
  modules/claims_api/spec/sidekiq/claim_uploader_spec.rb
  modules/claims_api/spec/sidekiq/evidence_waiver_builder_job_spec.rb
  modules/claims_api/spec/sidekiq/ews_updater_spec.rb
  modules/claims_api/spec/sidekiq/flash_updater_spec.rb
  modules/claims_api/spec/sidekiq/poa_form_builder_job_spec.rb
  modules/claims_api/spec/sidekiq/poa_updater_spec.rb
  modules/claims_api/spec/sidekiq/poa_vbms_updater_spec.rb
  modules/claims_api/spec/sidekiq/report_monthly_submissions_spec.rb
  modules/claims_api/spec/sidekiq/report_unsuccessful_submissions_spec.rb
  modules/claims_api/spec/sidekiq/service_base_spec.rb
  modules/claims_api/spec/sidekiq/special_issue_updater_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_benefits_documents_uploader_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_docker_container_upload_spec.rb
  modules/claims_api/spec/sidekiq/v2/disability_compensation_pdf_generator_spec.rb
  modules/claims_api/spec/sidekiq/vbms_upload_job_spec.rb
Labels: claimsApi

#15571 [CST] Workaround for EVSSClaimService with non-Veteran users (Second attempt)
  app/services/evss_claim_service.rb
  spec/services/evss_claim_service_spec.rb
Labels: Claim Status Tool

#15605 FAR: Add rate limiting for Trexler File Sidekiq jobs
  modules/veteran/app/sidekiq/representatives/update.rb
Labels: find-a-representative

#15587 75174 add MAP STS logging
  app/controllers/v0/map_services_controller.rb
  lib/map/security_token/service.rb
  spec/lib/map/security_token/service_spec.rb
Labels: identity, identity-backend

#15594 Api 33826 update benefits docs client logging
  modules/claims_api/app/sidekiq/claims_api/claim_uploader.rb
  modules/claims_api/lib/bd/bd.rb
Labels: Lighthouse, claimsApi

#15656 Flipper Update Generator Fix
  db/migrate/20240223173647_add_flipper_indexes.rb
  db/migrate/20240223183025_create_flipper_tables.rb
  db/schema.rb
Labels: bug

#15644 Implement an alternate and non-blocking way of rate-limiting Representatives::Update jobs
  modules/veteran/app/sidekiq/representatives/queue_updates.rb
  modules/veteran/app/sidekiq/representatives/update.rb
  modules/veteran/spec/sidekiq/representatives/update_spec.rb
Labels: find-a-representative

#15407 refactor enums
  Gemfile.lock
  lib/pdf_fill/forms/va21p527ez.rb
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.json
  spec/fixtures/pdf_fill/21P-527EZ/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-527EZ/merge_fields.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.json
  spec/fixtures/pdf_fill/21P-527EZ/overflow.pdf
  spec/fixtures/pdf_fill/21P-527EZ/overflow_extras.pdf
  spec/fixtures/pdf_fill/21P-527EZ/simple.json
Labels: pension-benefits

#15671 Fix bug with trexler file processing
  modules/veteran/app/sidekiq/representatives/queue_updates.rb
  modules/veteran/app/sidekiq/representatives/update.rb
  modules/veteran/app/sidekiq/representatives/xlsx_file_processor.rb
  modules/veteran/spec/sidekiq/representatives/update_spec.rb
  modules/veteran/spec/sidekiq/representatives/xlsx_file_processor_spec.rb
Labels: find-a-representative

#15613 API-34214 - Add rep search by poa_code
  lib/bgs/power_of_attorney_verifier.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/veteran/app/models/veteran/service/representative.rb
  spec/lib/bgs/power_of_attorney_verifier_spec.rb
Labels: claimsApi

#15676 update expected marriage_type value
  lib/pdf_fill/forms/va21p527ez.rb
Labels: pension-benefits

#15681 Add Lighthouse Service History and Eligibility API to betamocks config
  config/betamocks/services_config.yml
Labels: Rated Disabilities

#15670 Arf.76996/create arp application controller
  modules/accredited_representatives/app/controllers/accredited_representatives/application_controller.rb
  modules/accredited_representatives/config/routes.rb
  modules/accredited_representatives/spec/requests/accredited_representatives/application_spec.rb
  modules/accredited_representatives/spec/spec_helper.rb
Labels: benefits-accredited-rep-facing

#15684 Create accredited_representatives module with flag_accredited_representatives create endpoint
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/representation_management/Gemfile
  modules/representation_management/README.rdoc
  modules/representation_management/Rakefile
  modules/representation_management/app/controllers/representation_management/v0/flag_accredited_representatives_controller.rb
  modules/representation_management/app/models/representation_management/flagged_veteran_representative_contact_data.rb
  modules/representation_management/app/serializers/representation_management/flagged_veteran_representative_contact_data_serializer.rb
  modules/representation_management/bin/rails
  modules/representation_management/config/routes.rb
  modules/representation_management/lib/representation_management.rb
  modules/representation_management/lib/representation_management/engine.rb
  modules/representation_management/lib/representation_management/version.rb
  modules/representation_management/representation_management.gemspec
  modules/representation_management/spec/models/representation_management/flagged_veteran_representative_contact_data_spec.rb
  modules/representation_management/spec/requests/v0/flag_accredited_representatives_spec.rb
  modules/representation_management/spec/spec_helper.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: find-a-representative

#15700 Fix Gemfile.lock
  Gemfile.lock
Labels: find-a-representative

#14858 Dbex user identifiers status check
  app/services/users/form_526_user_identifiers_status_service.rb
  app/services/users/profile.rb
  config/features.yml
  spec/services/users/form526_user_identifiers_status_service_spec.rb
  spec/services/users/profile_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: disability-compensation

#15648 API-33700 hourly submission error report to slack
  lib/periodic_jobs.rb
  modules/claims_api/app/services/claims_api/slack/failed_submissions_messenger.rb
  modules/claims_api/app/sidekiq/claims_api/report_hourly_unsuccessful_submissions.rb
  modules/claims_api/spec/services/failed_submissions_messenger_spec.rb
  modules/claims_api/spec/sidekiq/report_hourly_unsuccessful_submissions_spec.rb
Labels: claimsApi

#15643 API-34221 add V2 POA form builder - Part 2
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney_controller.rb
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/base.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/individual.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/organization.rb
  modules/claims_api/spec/fixtures/21-22/v2/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/21-22A/v2/signed_filled_final.pdf
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/individual_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/organization_spec.rb
  modules/claims_api/spec/sidekiq/v2/poa_form_builder_job_spec.rb
Labels: claimsApi

#15702 API-34293-system-scopes
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/claims_api/spec/requests/v2/veterans/claims_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/evidence_waiver_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/intent_to_files_request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney_request_spec.rb
Labels: claimsApi

#15728 Fixes my oversight when updating the window for searching and reporting
  modules/claims_api/app/sidekiq/claims_api/report_hourly_unsuccessful_submissions.rb
Labels: claimsApi
