Repository department-of-veterans-affairs/vets-api, pull requests merged in 2025-06, with the labels that each got.

#22492 EPS draft appointments don't 404
  modules/vaos/app/controllers/vaos/v2/eps_appointments_controller.rb
  modules/vaos/app/models/vaos/v2/eps_appointment.rb
  modules/vaos/spec/requests/vaos/v2/eps_appointments_spec.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#22448 Use AWS OIDC instead of AWS Secrets for GHA
  .github/workflows/audit_service_tags.yml
  .github/workflows/build.yml
  .github/workflows/build_atlas_codeowners.yml
  .github/workflows/check_codeowners.yml
  .github/workflows/code_checks.yml
  .github/workflows/deploy-template.yml
  .github/workflows/deploy_delay_notifications.yml
  .github/workflows/deploy_missing_notifications.yml
  .github/workflows/gh-env-cleanup.yml
  .github/workflows/ready_for_review.yml
  .github/workflows/require_be_approval.yml
  .github/workflows/settings_checks.yml
Labels: require-backend-approval, backend-approval-confirmed, ready-for-review

#22474 Added a new feature flag called `accredited_representative_portal_form_21a`
  config/features.yml
Labels: require-backend-approval, backend-approval-confirmed, form-21a

#22241 [ID-221] Create logingov risc event object and handler
  app/controllers/sign_in/webhooks/logingov_controller.rb
  app/services/sign_in/errors.rb
  app/services/sign_in/logingov/risc_event_handler.rb
  lib/sign_in/logingov/risc_event.rb
  spec/controllers/sign_in/webhooks/logingov_controller_spec.rb
  spec/factories/sign_in/logingov_risc_event_payloads.rb
  spec/lib/sign_in/logingov/risc_event_spec.rb
  spec/services/sign_in/logingov/risc_event_handler_spec.rb
Labels: test-passing, require-backend-approval

#22468 [ARP] Debug log shape of values in claim submission code path
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/representative_form_upload_controller.rb
  modules/accredited_representative_portal/app/controllers/concerns/accredited_representative_portal/v0/representative_form_upload_concern.rb
Labels: benefits-accredited-rep-facing, require-backend-approval, backend-approval-confirmed, ready-for-review

#21967 MHV Messaging policy - va patient check flipper flag
  app/policies/mhv_messaging_policy.rb
  config/features.yml
Labels: test-passing, require-backend-approval, backend-approval-confirmed, workflow-failing

#22482 Travel Pay / Update all external API endpoints to v2
  config/betamocks/services_config.yml
  modules/travel_pay/app/services/travel_pay/appointments_client.rb
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/app/services/travel_pay/expenses_client.rb
  modules/travel_pay/app/services/travel_pay/token_client.rb
  modules/travel_pay/spec/services/appointments_client_spec.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
  modules/travel_pay/spec/services/expenses_client_spec.rb
  modules/travel_pay/spec/services/token_client_spec.rb
  spec/support/vcr_cassettes/travel_pay/200_claims.yml
  spec/support/vcr_cassettes/travel_pay/200_search_claims_by_appt_date_instance.yml
  spec/support/vcr_cassettes/travel_pay/200_search_claims_by_appt_date_instance_no_claims.yml
  spec/support/vcr_cassettes/travel_pay/200_search_claims_by_appt_date_range.yml
  spec/support/vcr_cassettes/travel_pay/400_claims.yml
  spec/support/vcr_cassettes/travel_pay/404_claim_details.yml
  spec/support/vcr_cassettes/travel_pay/404_claims.yml
  spec/support/vcr_cassettes/travel_pay/auth/all_auth.yml
  spec/support/vcr_cassettes/travel_pay/show/success.yml
  spec/support/vcr_cassettes/travel_pay/show/success_details.yml
  spec/support/vcr_cassettes/travel_pay/submit/success.yml
Labels: require-backend-approval, backend-approval-confirmed

#22485 Fix percentages in 10215 form
  lib/pdf_fill/forms/va2210215.rb
  spec/fixtures/pdf_fill/22-10215/kitchen_sink.pdf
  spec/fixtures/pdf_fill/22-10215/overflow.pdf
  spec/fixtures/pdf_fill/22-10215/simple.pdf
Labels: require-backend-approval, backend-approval-confirmed, workflow-failing

#22507 BUG - Update Claim Letters Documents adapter to check for empty data object
  modules/mobile/app/models/mobile/v0/adapters/claim_letter_documents.rb
  modules/mobile/spec/requests/mobile/v0/claims_and_appeals_spec.rb
Labels: require-backend-approval

#22509 Oncall - Fixing prod - Added Survivor and Dependent Benefits 22-5490
  lib/source_app_middleware.rb
Labels: require-backend-approval, ready-for-review

#22504 Resolved Could not log process_action.action_controller event.
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
Labels: require-backend-approval, ready-for-review

#22508 Enable file uploads in 10-10d/10-7959c merged form - IVC CHAMPVA
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
Labels: require-backend-approval, backend-approval-confirmed, workflow-failing

#22526 Resolve remote branch issues in Github Workflows
  .github/workflows/audit_service_tags.yml
  .github/workflows/code_checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ready_for_review.yml
  .github/workflows/require_be_approval.yml
Labels: require-backend-approval, ready-for-review

#22364 Use Dependents::Monitor Methods
  app/services/bgs/dependent_service.rb
  app/sidekiq/bgs/submit_form674_job.rb
  app/sidekiq/bgs/submit_form686c_job.rb
  app/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job.rb
  app/sidekiq/vbms/submit_dependents_pdf_job.rb
  spec/sidekiq/vbms/submit_dependents_pdf_job_spec.rb
Labels: require-backend-approval, backend-approval-confirmed, ready-for-review, workflow-failing

#22306 BMT1/110154: [CST] Filter out claims with 960 and 290 EP Code before they are sent to VA.gov and Mobile
  config/features.yml
  lib/lighthouse/benefits_claims/service.rb
  spec/lib/lighthouse/benefits_claims/service_spec.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/index/200_response.yml
Labels: require-backend-approval, backend-approval-confirmed, ready-for-review, workflow-failing

#22458 submit endpoint serializer, docs, and tests
  app/swagger/swagger/requests/financial_status_reports.rb
  modules/debts_api/app/controllers/debts_api/v0/financial_status_reports_controller.rb
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/app/serializers/debts_api/v0/form5655_submission_serializer.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/financial_status_reports_spec.rb
  spec/requests/swagger_spec.rb
Labels: waiting-for-info, require-backend-approval, backend-approval-confirmed

#22518 create new dependent v2 service, reroute depending on flipper
  .github/CODEOWNERS
  app/controllers/v0/dependents_applications_controller.rb
  app/models/saved_claim/dependency_claim.rb
  app/services/bgs/dependent_v2_service.rb
  spec/services/bgs/dependent_v2_service_spec.rb
Labels: require-backend-approval, backend-approval-confirmed, ready-for-review

#22506 Add date signed to 0781 overflowed signature section
  lib/pdf_fill/forms/va210781v2.rb
  lib/pdf_fill/hash_converter.rb
  spec/fixtures/pdf_fill/21-0781V2/merge_fields.json
  spec/fixtures/pdf_fill/21-0781V2/overflow_redesign_extras.pdf
  spec/lib/pdf_fill/hash_converter_spec.rb
Labels: require-backend-approval, backend-approval-confirmed

#22176 Remove s3 down slack notification
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/spec/requests/appeals_api/metadata_request_spec.rb
  modules/vba_documents/app/controllers/vba_documents/metadata_controller.rb
  modules/vba_documents/spec/requests/v1/healthcheck_spec.rb
Labels: appeals, benefits-intake, banana-peels, require-backend-approval, backend-approval-confirmed

#22490 Update UHD gateway config
  .github/CODEOWNERS
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/unified_health_data/configuration.rb
  lib/unified_health_data/service.rb
  modules/mobile/spec/requests/mobile/v1/health/labs_and_tests_spec.rb
  modules/mobile/spec/support/fixtures/labs_and_tests_ch_response.json
  modules/mobile/spec/support/fixtures/labs_and_tests_sp_response.json
  modules/my_health/spec/requests/my_health/v2/labs_and_tests_spec.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/mobile/unified_health_data/get_labs.yml
  spec/support/vcr_cassettes/mobile/unified_health_data/get_labs_value_attachment.yml
Labels: waiting-for-info, require-backend-approval

#22533 [ARP] Remove `arp_olive_branch_debugging`
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/representative_form_upload_controller.rb
  modules/accredited_representative_portal/app/controllers/concerns/accredited_representative_portal/v0/representative_form_upload_concern.rb
  modules/accredited_representative_portal/config/initializers/bypass_olive_branch.rb
Labels: benefits-accredited-rep-facing, ready-for-backend-review, require-backend-approval, ready-for-review

#22540 Updated CODEOWNERS file for preneed
  .github/CODEOWNERS
Labels: require-backend-approval, ready-for-review

#22532 [374] Fix MHV Account Creation MPI caching bug when we're only pulling results from existing mhv user account creator cache
  app/services/mhv/user_account/creator.rb
Labels: require-backend-approval

#22496 remove feature flag benefits_education_use_lighthouse
  config/features.yml
Labels: require-backend-approval, backend-approval-confirmed

#22556 Bump vets-json-schema
  Gemfile.lock
Labels: require-backend-approval, ready-for-review

#22557 CODEOWNERS: Replace mbs-core-team with pensions-and-burials
  .github/CODEOWNERS
Labels: require-backend-approval

#22327 108258 add diverse vcr cassettes
  spec/lib/mdot/client_spec.rb
  spec/models/form_profiles/mdot_spec.rb
  spec/support/vcr_cassettes/mdot/get_supplies_200_no_supplies.yml
  spec/support/vcr_cassettes/mdot/get_supplies_400.yml
  spec/support/vcr_cassettes/mdot/get_supplies_401_missing_header.yml
  spec/support/vcr_cassettes/mdot/get_supplies_401_patient_not_found.yml
  spec/support/vcr_cassettes/mdot/post_supplies_200_last_order_too_recent.yml
  spec/support/vcr_cassettes/mdot/post_supplies_200_no_disability_station.yml
  spec/support/vcr_cassettes/mdot/post_supplies_401.yml
  spec/support/vcr_cassettes/mdot/post_supplies_500.yml
Labels: require-backend-approval, backend-approval-confirmed, ready-for-review

#20855 [VI-1012] adds SiS pkey jwt ClientConfig seed
  db/seeds/development.rb
Labels: test-passing, require-backend-approval, backend-approval-confirmed, ready-for-review

#22570 [Event Bus] BGS fail to find now raises exception so VA Notify is not hit
  app/sidekiq/event_bus_gateway/letter_ready_email_job.rb
  spec/sidekiq/event_bus_gateway/letter_ready_email_job_spec.rb
Labels: ready-for-backend-review, require-backend-approval, BMT2, ready-for-review

#22505 [API-45822] Update recipients for benefits claims api report
  modules/claims_api/app/mailers/claims_api/submission_report_mailer.rb
  modules/claims_api/app/mailers/claims_api/unsuccessful_report_mailer.rb
  modules/claims_api/spec/mailers/report_monthly_submissions_spec.rb
  modules/claims_api/spec/mailers/unsuccessful_report_mailer_spec.rb
Labels: claimsApi, ready-for-backend-review, require-backend-approval, ready-for-review

#22547 Create Feature Flag for 0969 Form overflow redesign
  config/features.yml
  modules/income_and_assets/app/models/income_and_assets/saved_claim.rb
  modules/income_and_assets/lib/income_and_assets/benefits_intake/submit_claim_job.rb
  modules/income_and_assets/spec/lib/income_and_assets/benefits_intake/submit_claim_job_spec.rb
  modules/income_and_assets/spec/models/income_and_assets/saved_claim_spec.rb
Labels: require-backend-approval

#22581 Add profile_contact_info_page_ui_refresh flag to features.yml
  config/features.yml
Labels: require-backend-approval

#22590 Update source_app_middleware.rb
  lib/source_app_middleware.rb
Labels: require-backend-approval, ready-for-review

#22520 [Event Bus Gateway] Adds basic swagger documentation
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/event_bus_gateway.rb
  spec/controllers/v0/event_bus_gateway_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/event_bus_gateway_spec.rb
Labels: require-backend-approval, BMT2

#22591 Increased date range when making calls to Pega reporting API
  modules/ivc_champva/lib/pega_api/client.rb
  modules/ivc_champva/spec/lib/pega_api_client_spec.rb
Labels: require-backend-approval

#22572 111352 fix rescue logic and add retry logging in the address validation jobs
  modules/veteran/app/sidekiq/organizations/update.rb
  modules/veteran/app/sidekiq/representatives/update.rb
  modules/veteran/spec/sidekiq/organizations/update_spec.rb
  modules/veteran/spec/sidekiq/representatives/update_spec.rb
Labels: require-backend-approval

#22548 Add VR&E v2 save-in-progress configuration
  .github/CODEOWNERS
  app/models/form_profile.rb
  app/models/form_profiles/va_281900v2.rb
  config/form_profile_mappings/28-1900-v2.yml
Labels: require-backend-approval

#22154 [ID-316] - Update MPI profile to ActiveModel
  app/models/user.rb
  lib/mpi/models/mvi_profile.rb
  lib/mpi/models/mvi_profile_address.rb
  lib/mpi/models/mvi_profile_identity.rb
  lib/mpi/models/mvi_profile_ids.rb
  lib/mpi/models/mvi_profile_relationship.rb
  lib/mpi/responses/profile_parser.rb
  lib/mpi/type/datetime_string.rb
  lib/mpi/type/profile_address.rb
  spec/lib/mpi/responses/profile_parser_spec.rb
  spec/lib/mpi/type/date_time_string_spec.rb
  spec/lib/mpi/type/profile_address_spec.rb
  spec/models/user_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: test-passing, require-backend-approval

#22610 update error string
  modules/claims_api/app/services/claims_api/dependent_claimant_verification_service.rb
Labels: Lighthouse, claimsApi, require-backend-approval

#22606 refactor digital disputes endpoint, move controller logic to service,…
  modules/debts_api/app/models/debts_api/v0/digital_dispute.rb
  modules/debts_api/lib/debts_api/v0/digital_dispute_submission_service.rb
  modules/debts_api/spec/lib/debt_api/v0/digital_dispute_submission_service_spec.rb
  modules/debts_api/spec/models/debt_api/v0/digital_dispute_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/digital_disputes_spec.rb
Labels: require-backend-approval

#22527 Feature/add form 4142 template support
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/pdfs/21-4142-2024.pdf
  lib/pdf_fill/forms/va2141422024.rb
  spec/fixtures/pdf_fill/21-4142-2024/kitchen_sink.json
  spec/fixtures/pdf_fill/21-4142-2024/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-4142-2024/merge_fields.json
  spec/fixtures/pdf_fill/21-4142-2024/overflow.json
  spec/fixtures/pdf_fill/21-4142-2024/overflow.pdf
  spec/fixtures/pdf_fill/21-4142-2024/providers_mixed_overflow.json
  spec/fixtures/pdf_fill/21-4142-2024/simple.json
  spec/fixtures/pdf_fill/21-4142-2024/simple.pdf
  spec/lib/pdf_fill/forms/va2141422024_spec.rb
Labels: require-backend-approval

#22616 mhv-71360-bug-duplicate-grouped-meds
  modules/my_health/app/controllers/my_health/v1/prescriptions_controller.rb
  modules/my_health/app/helpers/my_health/rx_grouping_helper.rb
Labels: require-backend-approval

#22341 Arp/form upload/6
  modules/accredited_representative_portal/app/models/accredited_representative_portal/saved_claim/benefits_intake.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/saved_claim_service/create.rb
  modules/accredited_representative_portal/app/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job.rb
  modules/accredited_representative_portal/spec/fixtures/form_data/saved_claim/benefits_intake/dependent_claimant.json
  modules/accredited_representative_portal/spec/fixtures/form_data/saved_claim/benefits_intake/veteran_claimant.json
  modules/accredited_representative_portal/spec/rails_helper.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/saved_claim_service/create_spec.rb
  modules/accredited_representative_portal/spec/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job_spec.rb
  modules/accredited_representative_portal/spec/spec_helper.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/accredited_representative_portal/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job_spec/performs.yml
Labels: benefits-accredited-rep-facing, require-backend-approval

#22429 [mhv-65401] refactor sorting strategy, create custom sorting params.
  modules/my_health/app/controllers/my_health/v1/prescriptions_controller.rb
  modules/my_health/app/helpers/my_health/prescription_helper.rb
  modules/my_health/spec/requests/my_health/v1/prescriptions_spec.rb
  spec/support/vcr_cassettes/rx_client/prescriptions/gets_sorted_list.yml
Labels: require-backend-approval

#22401 Arp/form upload/7
  modules/accredited_representative_portal/app/models/accredited_representative_portal/claimant_representative.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/claimant_representative_spec.rb
Labels: benefits-accredited-rep-facing, ready-for-backend-review, ready-for-review

#22501 API-45980: Add `activeReview` Field to Lighthouse Decision Reviews v2 Contestable Issues Endpoints
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger.json
  modules/appeals_api/app/swagger/decision_reviews/v2/swagger_dev.json
  modules/appeals_api/spec/support/rswag_config.rb
  modules/appeals_api/spec/support/schemas/contestable_issue.json
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/contestable_issues-by-file-number.yml
  spec/support/vcr_cassettes/caseflow/higher_level_reviews/contestable_issues.yml
  spec/support/vcr_cassettes/caseflow/notice_of_disagreements/contestable_issues-by-file-number.yml
  spec/support/vcr_cassettes/caseflow/notice_of_disagreements/contestable_issues.yml
Labels: Lighthouse, appeals, banana-peels, require-backend-approval

#22405 Arp/form upload/8
  db/schema.rb
  modules/accredited_representative_portal/db/migrate/20250527050638_create_ar_saved_claim_claimant_representatives.rb
Labels: benefits-accredited-rep-facing, ready-for-backend-review, require-backend-approval

#22630 109707 - Add LOA tracking to CHAMPVA Claims submissions - form 10-7959a
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959a.rb
  modules/ivc_champva/spec/models/vha_10_7959a_spec.rb
Labels: require-backend-approval

#22624 Endpoint implementation for digital dispute pdfs
  modules/debts_api/app/controllers/debts_api/v0/digital_disputes_controller.rb
  modules/debts_api/spec/fixtures/digital_disputes/standard_submission.json
  modules/debts_api/spec/requests/debts_api/v0/digital_disputes_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/one_debt_letters_spec.rb
Labels: require-backend-approval

#22631 SC 111446: Add feature flag for 4142 FE banner
  config/features.yml
Labels: require-backend-approval

#22633 MHV-69789 SM: Large attachments feature flag
  config/features.yml
Labels: require-backend-approval

#22638 LSS 109344 Claim Evidence API DB Migrations
  db/migrate/20250610154822_create_claim_evidence_api_submission_status_enum.rb
  db/migrate/20250610154823_create_claim_evidence_api_submissions.rb
  db/migrate/20250610154842_create_claim_evidence_api_submission_attempts.rb
  db/migrate/20250610160901_add_needs_kms_rotation_indices_claim_evidence_api_tables.rb
  db/schema.rb
Labels: require-backend-approval, benefits-lifestage-lss

#22637 #111160 [10-10EZR] Updated `vets_json_schema` gem to reflect changes made to `nextOfKins` and `emergencyContacts`
  Gemfile.lock
Labels: require-backend-approval

#22531 #110953 [10-10EZR] Integrate VES Associations API into EZR service
  lib/form1010_ezr/service.rb
  lib/form1010_ezr/veteran_enrollment_system/associations/reconciler.rb
  lib/form1010_ezr/veteran_enrollment_system/associations/service.rb
  lib/veteran_enrollment_system/associations/service.rb
  spec/lib/form1010_ezr/service_spec.rb
  spec/lib/form1010_ezr/veteran_enrollment_system/associations/reconciler_spec.rb
  spec/lib/form1010_ezr/veteran_enrollment_system/associations/service_spec.rb
  spec/lib/veteran_enrollment_system/associations/service_spec.rb
  spec/requests/v0/form1010_ezrs_spec.rb
  spec/support/vcr_cassettes/form1010_ezr/authorized_submit_with_updated_associations.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/bad_request.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/create_associations_success.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/delete_associations_success.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/update_associations_partial_success.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/update_associations_success.yml
Labels: require-backend-approval

#21979 [393] remove Account & AccountLoginStat models, implement TUD `user_account_id`
  .github/CODEOWNERS
  app/controllers/concerns/accountable.rb
  app/models/account.rb
  app/models/account_login_stat.rb
  app/models/user.rb
  app/serializers/user_serializer.rb
  app/services/identity/account_creator.rb
  app/services/login/after_login_actions.rb
  app/services/users/profile.rb
  app/services/users/scaffold.rb
  app/sidekiq/account_login_statistics_job.rb
  lib/bgs/service.rb
  lib/bgsv2/service.rb
  lib/periodic_jobs.rb
  lib/va_profile/demographics/service.rb
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account.rb
  modules/test_user_dashboard/app/models/test_user_dashboard/tud_account_availability_log.rb
  modules/test_user_dashboard/app/serializers/test_user_dashboard/tud_account_serializer.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/account_metrics.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/create_test_user_account.rb
  modules/test_user_dashboard/app/services/test_user_dashboard/update_user.rb
  modules/test_user_dashboard/spec/factories/tud_account_availability_logs.rb
  modules/test_user_dashboard/spec/factories/tud_accounts.rb
  modules/test_user_dashboard/spec/serializers/tud_account_serializer_spec.rb
  modules/test_user_dashboard/spec/services/account_metrics_spec.rb
  modules/test_user_dashboard/spec/services/create_test_user_account_spec.rb
  modules/test_user_dashboard/spec/services/update_user_spec.rb
  modules/test_user_dashboard/spec/support/spec_users.csv
  modules/travel_pay/app/models/travel_pay/travel_pay_store.rb
  modules/travel_pay/app/services/travel_pay/auth_manager.rb
  modules/travel_pay/spec/services/auth_manager_spec.rb
  modules/vaos/app/models/vaos/session_store.rb
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/spec/services/user_service_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_implied_aed_spec.rb
  rakelib/prod/backfill_user_account_for_appeal_submissions.rake
  rakelib/prod/backfill_user_account_for_async_transactions.rake
  rakelib/prod/backfill_user_account_for_form_email_matches_profile_logs.rake
  rakelib/prod/backfill_user_account_id_for_in_progress_forms.rake
  spec/controllers/v0/mhv_opt_in_flags_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/accounts.rb
  spec/factories/users.rb
  spec/models/account_spec.rb
  spec/models/user_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/user_spec.rb
  spec/serializers/user_serializer_spec.rb
  spec/services/identity/account_creator_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/users/profile_spec.rb
  spec/sidekiq/account_login_statistics_job_spec.rb
  spec/simplecov_helper.rb
  spec/spec_helper.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: require-backend-approval

#22629 updates url of hypertext links in readme documentation
  modules/va_notify/README.md
Labels: require-backend-approval

#22609 [Medical Expense Report] generate `medical_expense_reports` module
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/routes.rb
  modules/medical_expense_reports/.adr-dir
  modules/medical_expense_reports/.gitignore
  modules/medical_expense_reports/.irbrc
  modules/medical_expense_reports/.rspec
  modules/medical_expense_reports/Gemfile
  modules/medical_expense_reports/README.rdoc
  modules/medical_expense_reports/Rakefile
  modules/medical_expense_reports/app/controllers/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/app/models/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/app/serializers/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/app/services/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/bin/rails
  modules/medical_expense_reports/config/routes.rb
  modules/medical_expense_reports/documentation/.gitkeep
  modules/medical_expense_reports/lib/medical_expense_reports.rb
  modules/medical_expense_reports/lib/medical_expense_reports/engine.rb
  modules/medical_expense_reports/lib/medical_expense_reports/version.rb
  modules/medical_expense_reports/medical_expense_reports.gemspec
  modules/medical_expense_reports/spec/controllers/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/spec/factories/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/spec/lib/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/spec/models/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/spec/serializers/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/spec/services/medical_expense_reports/.gitkeep
  modules/medical_expense_reports/spec/spec_helper.rb
  modules/medical_expense_reports/spec/support/medical_expense_reports/.gitkeep
  spec/simplecov_helper.rb
  spec/spec_helper.rb
Labels: ready-for-backend-review, require-backend-approval, medical-expense-report

#22613 API-46858 POA v1 active endpoint lookup expansion
  modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/spec/concerns/claims_api/poa_verification_spec.rb
  modules/claims_api/spec/requests/v1/forms/2122_spec.rb
  modules/claims_api/spec/requests/v1/forms/rswag_2122_spec.rb
  modules/claims_api/spec/support/auth_helper.rb
Labels: claimsApi, require-backend-approval

#22658 [393] restores user profile account serialization format & flipper check
  app/models/user.rb
  app/serializers/user_serializer.rb
  app/services/users/profile.rb
  app/services/users/scaffold.rb
  spec/serializers/user_serializer_spec.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: require-backend-approval

#22583 Create method to humanize values sent to ExtrasGeneratorV2
  lib/pdf_fill/extras_generator_v2.rb
  modules/income_and_assets/app/models/income_and_assets/saved_claim.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_06.rb
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow_redesign_extras.pdf
  spec/lib/pdf_fill/extras_generator_v2_spec.rb
Labels: require-backend-approval

#22538 Feature/form 4142 processor refactor 2024
  app/sidekiq/central_mail/submit_form4142_job.rb
  config/features.yml
  lib/decision_review_v1/utilities/form_4142_processor.rb
  lib/evss/disability_compensation_form/form4142_processor.rb
  lib/pdf_fill/processors/base_form_4142_processor.rb
  lib/pdf_utilities/datestamp_pdf.rb
  modules/decision_reviews/spec/requests/v1/supplemental_claims_spec.rb
  modules/decision_reviews/spec/sidekiq/form4142_submit_spec.rb
  spec/lib/decision_review_v1/processor/form4142_processor_spec.rb
  spec/lib/evss/disability_compensation_form/form4142_processor_spec.rb
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
  spec/sidekiq/central_mail/submit_form4142_job_spec.rb
  spec/support/disability_compensation_form/submissions/with_4142_2024.json
Labels: require-backend-approval

#22587 [ID-344] - Use SignIn::Certificate objects for SignIn Configs
  .github/CODEOWNERS
  app/models/sign_in/certificate.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/concerns/certifiable.rb
  app/models/sign_in/service_account_config.rb
  app/services/sign_in/assertion_validator.rb
  app/services/sign_in/client_assertion_validator.rb
  app/sidekiq/sign_in/certificate_checker_job.rb
  db/seeds/development.rb
  db/seeds/development/identity/client_configs.rb
  db/seeds/development/identity/service_account_configs.rb
  db/seeds/development/identity/user_actions.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/factories/sign_in/certificates.rb
  spec/models/sign_in/certificate_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/models/sign_in/service_account_config_spec.rb
  spec/rails_helper.rb
  spec/services/sign_in/assertion_validator_spec.rb
  spec/services/sign_in/client_assertion_validator_spec.rb
  spec/services/sign_in/code_validator_spec.rb
  spec/sidekiq/sign_in/certificate_checker_job_spec.rb
  spec/support/sign_in/certifiable_shared_examples.rb
Labels: require-backend-approval

#22662 Chore: Bump rubocop and related gems
  .rubocop.yml
  Gemfile.lock
  app/models/attachment.rb
  app/models/concerns/kms_encrypted_model_patch.rb
  app/models/folder.rb
  app/models/message.rb
  app/models/preneeds/burial_form.rb
  app/models/prescription.rb
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  lib/vets/attributes.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/in_progress_forms_controller.rb
  modules/avs/app/models/avs/v0/after_visit_summary.rb
  modules/claims_api/app/models/claims_api/veteran.rb
  modules/ivc_champva/app/services/ivc_champva/prod_support_utilities/missing_status_cleanup.rb
  modules/mobile/app/controllers/mobile/application_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/immunizations.rb
  modules/mobile/app/models/mobile/v0/rating.rb
  modules/mobile/lib/scripts/appointments_list_validation.rb
  modules/mobile/lib/scripts/parse_rspec_xml.rb
  modules/mobile/spec/requests/mobile/v0/appointments/facilities/clinics_spec.rb
  modules/my_health/app/controllers/my_health/v1/prescriptions_controller.rb
  rakelib/decision_review_repl.rb
  spec/lib/va_profile/service_spec.rb
  spec/lib/vets/attributes_spec.rb
Labels: require-backend-approval, ready-for-review

#22666 103352 remove burial pension from app persistent attachments
  .github/CODEOWNERS
  app/controllers/v0/claim_documents_controller.rb
  app/models/persistent_attachments/claim_evidence.rb
  app/swagger/swagger/requests/claim_documents.rb
  app/uploaders/claim_documentation/uploader.rb
  modules/pensions/spec/models/pensions/saved_claim_spec.rb
  rakelib/backfill_pension_burial_to_claim_evidence.rake
  spec/factories/persistent_attachments/claim_evidence.rb
  spec/factories/saved_claim.rb
  spec/lib/common/convert_to_pdf_spec.rb
  spec/models/persistent_attachments/claim_evidence_spec.rb
  spec/requests/v0/claim_documents_spec.rb
  spec/serializers/persistent_attachment_serializer_spec.rb
  spec/sidekiq/lighthouse/submit_benefits_intake_claim_spec.rb
Labels: require-backend-approval

#22653 add new case to trigger retry
  modules/claims_api/app/sidekiq/claims_api/claim_establisher.rb
  modules/claims_api/spec/sidekiq/claim_establisher_spec.rb
Labels: Lighthouse, claimsApi, require-backend-approval

#22650 docs and updated specs for digital dispute
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/digital_disputes.rb
  spec/requests/swagger_spec.rb
Labels: require-backend-approval

#22595 111445: Create rake task to update return URLs for in-progress Supplemental Claim forms
  .github/CODEOWNERS
  rakelib/decision_reviews_update_in_progress_sc.rake
  spec/rakelib/decision_reviews_update_in_progress_sc_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#22684 Add Support for Lab Result Comparators
  lib/unified_health_data/service.rb
  spec/lib/unified_health_data/service_spec.rb
Labels: require-backend-approval

#22692 Add page auth, page unauth and cta auth param to operation type
  app/controllers/v1/sessions_controller.rb
  app/services/sign_in/constants/auth.rb
  spec/controllers/v0/sign_in_controller_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#22654 Remove va_online_scheduling_direct_schedule_appointment_conflict feature toggle
  config/features.yml
Labels: require-backend-approval

#22367 Replace FormSubmission references with Lighthouse::Submission for pension form
  app/models/lighthouse/submission.rb
  app/models/lighthouse/submission_attempt.rb
  app/models/submission_attempt.rb
  lib/lighthouse/benefits_intake/sidekiq/submission_status_job.rb
  modules/pensions/lib/pensions/benefits_intake/submit_claim_job.rb
  modules/pensions/lib/pensions/zero_silent_failures/manual_remediation.rb
  modules/pensions/spec/e2e_spec.rb
  modules/pensions/spec/factories/pension_claim.rb
  modules/pensions/spec/lib/benefits_intake/submit_claim_job_spec.rb
  spec/factories/lighthouse/submission_attempts.rb
  spec/factories/lighthouse/submissions.rb
  spec/lib/lighthouse/benefits_intake/sidekiq/submission_status_job_spec.rb
  spec/models/lighthouse/submission_attempt_spec.rb
Labels: burial-benefits, pension-benefits, pension-income-assets, require-backend-approval

#22670 Remove payment history flipper
  app/services/bgs/payment_service.rb
  config/features.yml
  spec/services/bgs/payment_service_spec.rb
Labels: require-backend-approval, BMT2

#22594 Arp/submissions backend (#111041)
  config/features.yml
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/claim_submissions_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user_account.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/saved_claim/benefits_intake.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/saved_claim_claimant_representative.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/saved_claim_claimant_representative_policy.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/saved_claim_claimant_representative_serializer.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/submissions_service/params_schema.rb
  modules/accredited_representative_portal/config/routes.rb
Labels: benefits-accredited-rep-facing, require-backend-approval

#22706 API-46268 - Add setting to set mvi mock to false
  config/identity_settings/environments/development.yml
Labels: require-backend-approval

#22701 Add log statement for when MST checkbox is checked.
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/contention_classification/mental_health_conditions.yml
Labels: require-backend-approval

#22697 BPDS Documentation Update
  lib/bpds/documentation/README.md
Labels: require-backend-approval

#22696 #112087 [10-10EZR] Fix `Uninitialized constant` error in ezr service
  lib/form1010_ezr/service.rb
Labels: require-backend-approval

#22635 111272 - PDF download button supports previous day submissions (v2)
  config/features.yml
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/submission_archive.rb
  modules/simple_forms_api/spec/services/form_remediation/file_utilities_spec.rb
  modules/simple_forms_api/spec/services/form_remediation/submission_archive_spec.rb
Labels: require-backend-approval, ready-for-review

#22669 Test schema contract functionality by adding new contract
  app/models/schema_contract/validation_initiator.rb
  app/models/schema_contract/validator.rb
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/mobile/app/schemas/claims_and_appeals_get_claim.json
  modules/mobile/app/services/mobile/v0/lighthouse_claims/proxy.rb
  modules/mobile/spec/requests/mobile/v0/lighthouse_claim_spec.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/mobile/lighthouse_claims/show/200_response.yml
Labels: require-backend-approval, ready-for-review

#22614 103352: Rename saved claim types to the new format
  rakelib/pensions_migrate_saved_claim_type.rake
  spec/factories/saved_claim.rb
  spec/sidekiq/lighthouse/submit_benefits_intake_claim_spec.rb
Labels: pension-benefits, require-backend-approval

#22725 Update config for MDOT/ROES supply-reordering PagerDuty services
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
Labels: require-backend-approval

#22716 VAOS Referral appointment use specialty for provider search
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/models/ccra/referral_detail.rb
  modules/vaos/app/serializers/ccra/referral_detail_serializer.rb
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/models/ccra/referral_detail_spec.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/serializers/ccra/referral_detail_serializer_spec.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
Labels: require-backend-approval

#22689 Travel Pay / update default page size to 50 for claim association logic
  modules/travel_pay/app/services/travel_pay/claim_association_service.rb
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/spec/services/claims_association_service_spec.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
Labels: ready-for-backend-review

#22617 108612 CC metrics time to complete
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/ccra/redis_client.rb
  modules/vaos/app/services/ccra/referral_service.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  modules/vaos/spec/controllers/v2/referrals_controller_spec.rb
  modules/vaos/spec/requests/v2/referrals_spec.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/services/ccra/redis_client_spec.rb
  modules/vaos/spec/services/ccra/referral_service_spec.rb
Labels: require-backend-approval

#22671 API-47066 make sure code actually executes
  modules/claims_api/app/services/claims_api/dependent_claimant_poa_assignment_service.rb
  modules/claims_api/spec/services/dependent_claimant_poa_assignment_service_spec.rb
Labels: Lighthouse, claimsApi, require-backend-approval

#22754 Update facility check and Rx policy to allow ChampVA beneficiaries to access prescriptions
  app/policies/mhv_prescriptions_policy.rb
  lib/identity/parsers/gc_ids_constants.rb
  spec/lib/identity/parsers/gc_ids_spec.rb
  spec/policies/mhv_prescriptions_policy_spec.rb
Labels: require-backend-approval

#22769 Revert "Travel Pay / update default page size to 50 for claim association logic"
  modules/travel_pay/app/services/travel_pay/claim_association_service.rb
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/spec/services/claims_association_service_spec.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
Labels: require-backend-approval, ready-for-review

#22733 Added logging to debug LevelOfAuthentication for Education Inquiries
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_details.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
  modules/ask_va_api/app/services/log_service.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload_spec.rb
  modules/ask_va_api/spec/services/log_service_spec.rb
Labels: require-backend-approval

#22620 108605 CC metrics referral details page
  modules/vaos/app/controllers/vaos/v2/referrals_controller.rb
  modules/vaos/spec/controllers/v2/referrals_controller_spec.rb
  modules/vaos/spec/requests/v2/referrals_spec.rb
Labels: require-backend-approval

#22691 LSS 106698 Update CODEOWNER Lifestage teams
  .github/CODEOWNERS
Labels: require-backend-approval, benefits-lifestage-lss, ready-for-review

#22584 add is_oh_message to message details in response
  app/models/message.rb
  modules/my_health/app/serializers/my_health/v1/messages_serializer.rb
  modules/my_health/spec/requests/my_health/v1/messaging/messages_spec.rb
  spec/models/message_spec.rb
  spec/support/schemas/my_health/messaging/v1/folder_search.json
  spec/support/schemas/my_health/messaging/v1/message.json
  spec/support/schemas/my_health/messaging/v1/message_with_attachment.json
  spec/support/schemas/my_health/messaging/v1/messages.json
  spec/support/schemas_camelized/my_health/messaging/v1/message.json
  spec/support/schemas_camelized/my_health/messaging/v1/message_with_attachment.json
  spec/support/schemas_camelized/my_health/messaging/v1/messages.json
  spec/support/vcr_cassettes/sm_client/folders/nested_resources/gets_a_collection_of_messages.yml
  spec/support/vcr_cassettes/sm_client/folders/searches_a_folder_oh_messages.yml
  spec/support/vcr_cassettes/sm_client/messages/gets_a_message_thread_oh_messages.yml
Labels: require-backend-approval, final-review-confirmed

#22715 [MHV-65401] accidentally removed va meds from last filled sort option…
  modules/my_health/app/helpers/my_health/prescription_helper.rb
Labels: final-review-confirmed

#22779 skip 1010 VCR flakey specs
  spec/requests/swagger_spec.rb
  spec/sidekiq/form1010cg/delete_old_uploads_job_spec.rb
Labels: require-backend-approval

#22784 make sure holiday? check does not interfere with vye spec
  modules/vye/spec/sidekiq/vye/sundown_sweep_spec.rb
Labels: final-review-confirmed

#22656 Add has_availability_before relationships search param
  modules/vaos/app/controllers/vaos/v2/relationships_controller.rb
  modules/vaos/app/docs/vaos/v2/vaos_v2.yaml
  modules/vaos/app/services/vaos/v2/relationships_service.rb
  modules/vaos/spec/requests/vaos/v2/relationships_spec.rb
  modules/vaos/spec/services/v2/relationships_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/relationships/get_relationships_has_availability.yml
Labels: final-review-confirmed

#22719 DV | Prefill dependents data
  config/form_profile_mappings/21-0538.yml
  modules/dependents_verification/app/models/dependents_verification/form_profiles/va_210538.rb
  modules/dependents_verification/lib/dependents_verification/helpers.rb
  modules/dependents_verification/lib/dependents_verification/monitor.rb
  modules/dependents_verification/spec/models/dependents_verification/form_profiles/va_210538_spec.rb
Labels: dependents-benefits, final-review-confirmed

#22736 Ksoskin/109724 net timeout convert to retryable
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22723 Feature/update signature form 4142
  lib/pdf_fill/forms/va214142.rb
  lib/pdf_fill/processors/base_form_4142_processor.rb
  spec/fixtures/pdf_fill/21-4142-2024/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-4142-2024/overflow copy.pdf
  spec/fixtures/pdf_fill/21-4142-2024/overflow.pdf
  spec/fixtures/pdf_fill/21-4142-2024/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-4142-2024/simple.pdf
  spec/fixtures/pdf_fill/21-4142/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-4142/merge_fields.json
  spec/fixtures/pdf_fill/21-4142/overflow.pdf
  spec/fixtures/pdf_fill/21-4142/simple.pdf
  spec/lib/decision_review_v1/processor/form4142_processor_spec.rb
Labels: final-review-confirmed

#22757 Fix failing VRE v2 validations
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#22763 Add StatsD metrics for VRE form submissions, failures, abandoned forms
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/sidekiq/in_progress_form_cleaner.rb
  app/sidekiq/vre/submit1900_job.rb
  spec/sidekiq/in_progress_form_cleaner_spec.rb
Labels: ready-for-backend-review, require-backend-approval

#22623 MHV-70286: Front end Datadog metrics controller added
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/datadog_action_controller.rb
  app/models/datadog_metrics.rb
  app/swagger/swagger/requests/datadog_action.rb
  config/routes.rb
  spec/controllers/v0/datadog_action_controller_spec.rb
  spec/requests/swagger_spec.rb
Labels: audit-service-failure, ready-for-review, final-review-confirmed

#22773 Put default_scope and inheritance back
  app/models/persistent_attachments/claim_evidence.rb
  modules/burials/app/models/burials/saved_claim.rb
  modules/burials/spec/models/burials/saved_claim_spec.rb
  spec/requests/v0/claim_documents_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22732 111124 Financial Management API connection to Debt Management Center
  config/betamocks/services_config.yml
  lib/debt_management_center/base_service.rb
  modules/debts_api/app/controllers/debts_api/v0/digital_disputes_controller.rb
  modules/debts_api/lib/debts_api/v0/digital_dispute_submission_service.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/lib/debt_api/v0/digital_dispute_submission_service_spec.rb
  spec/requests/swagger_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22774 Fix VR&E all checks on boolean values
  app/models/saved_claim/veteran_readiness_employment_claim.rb
Labels: require-backend-approval, final-review-confirmed

#22735 Arp/claim submissions/tweaks
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/representative_form_upload_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user_account.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/saved_claim/benefits_intake.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/representative_form_upload_policy.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/saved_claim_claimant_representative_serializer.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/saved_claim_service/attach.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/saved_claim_service/create.rb
  modules/accredited_representative_portal/app/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job.rb
  modules/accredited_representative_portal/spec/controllers/concerns/accredited_representative_portal/v0/representative_form_upload_concern_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/saved_claim/benefits_intake_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/representative_form_uploads_spec.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/saved_claim_service/create_spec.rb
  modules/accredited_representative_portal/spec/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job_spec.rb
  spec/support/vcr_cassettes/accredited_representative_portal/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job_spec/performs.yml
Labels: benefits-accredited-rep-facing, final-review-confirmed

#22611 Updating sections used in humanizing values in ExtrasGenerator
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_03.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_04.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_05.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_06.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_07.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_08.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_09.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_10.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_11.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_12.rb
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow_extras.pdf
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow_redesign_extras.pdf
Labels: require-backend-approval, final-review-confirmed

#22797 RepresentativeFormUploadConcern::attachment_guids multiform compliant
  modules/accredited_representative_portal/app/controllers/concerns/accredited_representative_portal/v0/representative_form_upload_concern.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/representative_form_uploads_spec.rb
Labels: benefits-accredited-rep-facing

#22740 Arp/submissions backend 2
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/claim_submissions_controller.rb
  modules/accredited_representative_portal/spec/factories/saved_claim.rb
  modules/accredited_representative_portal/spec/factories/saved_claim_claimant_representative.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/claim_submissions_spec.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed

#22707 remove debt filter flipper
  config/features.yml
  lib/debt_management_center/debts_service.rb
  spec/lib/debt_management_center/shared_examples/debt_service_examples.rb
Labels: final-review-confirmed

#22775 111411 ves internat addresses
  modules/ivc_champva/app/models/ivc_champva/ves_request.rb
  modules/ivc_champva/app/services/ivc_champva/ves_data_formatter.rb
  modules/ivc_champva/spec/services/ves_data_formatter_spec.rb
Labels: final-review-confirmed

#22679 Update 0781 overflow notes text
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
Labels: disability-benefits, final-review-confirmed

#22720 Bump vets_json_schema
  Gemfile.lock
Labels: final-review-confirmed

#22665 VEBT-2213 initial passthrough logic for getting public exports from g…
  .github/CODEOWNERS
  app/controllers/v1/apidocs_controller.rb
  app/controllers/v1/gids/version_public_exports_controller.rb
  app/swagger/swagger/v1/requests/gibct/version_public_exports.rb
  app/swagger/swagger/v1/schemas/gibct/version_public_exports.rb
  config/routes.rb
  lib/gi/client.rb
  spec/requests/v1/gi/version_public_exports_spec.rb
  spec/support/vcr_cassettes/gi/public_export_found.yml
  spec/support/vcr_cassettes/gi/public_export_missing.yml
Labels: require-backend-approval, final-review-confirmed

#22805 Add additional timeout error classes to the `retryable` error list
  app/sidekiq/evss/disability_compensation_form/submit_form526.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22780 API-47234: Add optional POA Code end_date check
  app/models/power_of_attorney.rb
  lib/bgs/power_of_attorney_verifier.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
  spec/lib/bgs/power_of_attorney_verifier_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/claimant_web_service/find_poa_by_participant_id_with_end_date.yml
Labels: Lighthouse, claimsApi, final-review-confirmed, exempt-be-review

#22800 112573: Fix incorrectly formulated BPDS request body for pension claims
  lib/bpds/service.rb
  spec/lib/bpds/service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22770 Log BGSV2 params
  config/features.yml
  lib/bgsv2/service.rb
  spec/lib/bgsv2/vnp_veteran_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22724 Feature/mobile feature toggles
  .github/CODEOWNERS
  app/controllers/v0/feature_toggles_controller.rb
  app/services/feature_toggles_service.rb
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/feature_toggles_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/openapi.json
  modules/mobile/docs/openapi.yaml
  modules/mobile/spec/requests/v0/feature_toggles_request_spec.rb
  spec/services/feature_toggles_service_spec.rb
Labels: ready-for-review, final-review-confirmed

#22750 Removing erroneous MPI localhost mock
  config/identity_settings/environments/development.yml
Labels: ready-for-review, final-review-confirmed

#22813 10-10EZR: Adds feature toggle for spouse confirmation flow.
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#22815 #112640 [10-10EZR] Add code to `Reconciler` class that accounts for missing `relationType` from VES DB
  lib/form1010_ezr/veteran_enrollment_system/associations/reconciler.rb
  spec/lib/form1010_ezr/veteran_enrollment_system/associations/reconciler_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#22822 Run settings check only on settings files
  .github/workflows/settings_checks.yml
Labels: final-review-confirmed

#22804 ASK-VA Issue 1872 - Add Validation for Education Categories
  modules/ask_va_api/app/lib/ask_va_api/inquiries/creator.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_details.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/creator_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/inquiry_details_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload_spec.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/inquiries_spec.rb
Labels: final-review-confirmed

#22827 111124 BUGFIX Digital Dispute connection to DMC
  modules/debts_api/app/controllers/debts_api/v0/digital_disputes_controller.rb
  modules/debts_api/lib/debts_api/v0/digital_dispute_submission_service.rb
Labels: require-backend-approval, final-review-confirmed

#22812 VEBT-1357: VYE: adding feature toggle for dgib endpoint only
  config/features.yml
Labels: final-review-confirmed

#22829 Increase 526 submission upload delay to reduce impact on LH Benefits Documents API
  app/models/form526_submission.rb
  spec/models/form1010cg/attachment_spec.rb
  spec/models/form526_submission_spec.rb
  spec/support/disability_compensation_form/submissions/with_duplicate_uploads.json
  spec/support/disability_compensation_form/submissions/with_many_duplicate_uploads.json
Labels: require-backend-approval, final-review-confirmed

#22841 [111946] adds email index to tud_accounts
  db/schema.rb
  modules/test_user_dashboard/db/migrate/20250624162553_add_index_to_tud_account_emails.rb
Labels: require-backend-approval, final-review-confirmed

#22837 VEBT 2237: Fix decimal in 10215
  lib/pdf_fill/forms/va2210215.rb
Labels: final-review-confirmed

#22772 [API-46391] Refactor get_error_info in custom_errors to not throw uncaught exception
  modules/claims_api/lib/custom_error.rb
  modules/claims_api/spec/sidekiq/claim_custom_error_spec.rb
Labels: final-review-confirmed, exempt-be-review

#22821 Order PoA requests in claimant search
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/claimant_serializer.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/claimant_request_spec.rb
Labels: benefits-accredited-rep-facing

#22853 MHV-65409 Remove DICOM and CCD from API Gateway migration
  config/features.yml
  lib/medical_records/bb_internal/client.rb
  lib/medical_records/bb_internal/configuration.rb
  spec/support/vcr_cassettes/mr_client/get_ccd_download.yml
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#22855 Datadog shows an error when attempting to create an Inquiry. Moving Logging to isolate
  modules/ask_va_api/app/lib/ask_va_api/inquiries/creator.rb
Labels: require-backend-approval

#22828 DV | Change prefill to last 4 SSN
  config/form_profile_mappings/21-0538.yml
  modules/dependents_verification/spec/models/dependents_verification/form_profiles/va_210538_spec.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#22860 VAOS Referral appointments uses provider's appointment types
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/models/ccra/referral_detail.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/services/ccra/redis_client_spec.rb
Labels: require-backend-approval, final-review-confirmed, exempt-be-review

#22864 Add conditionals for failed migration
  modules/test_user_dashboard/db/migrate/20250624162553_add_index_to_tud_account_emails.rb
Labels: require-backend-approval, final-review-confirmed

#22785 106676 CC appointment status notification job
  modules/vaos/app/services/eps/appointment_service.rb
  modules/vaos/app/services/eps/redis_client.rb
  modules/vaos/app/sidekiq/eps/appointment_status_email_job.rb
  modules/vaos/app/sidekiq/eps/appointment_status_job.rb
  modules/vaos/app/sidekiq/eps/eps_appointment_worker.rb
  modules/vaos/spec/services/eps/appointment_service_spec.rb
  modules/vaos/spec/services/eps/redis_client_spec.rb
  modules/vaos/spec/sidekiq/eps/appointment_status_email_job_spec.rb
  modules/vaos/spec/sidekiq/eps/appointment_status_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22483 eps errors update
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/exceptions/vaos/exceptions/backend_service_exception.rb
  modules/vaos/app/services/eps/appointment_service.rb
  modules/vaos/app/services/eps/base_service.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/requests/vaos/v2/eps_appointments_spec.rb
  modules/vaos/spec/services/eps/appointment_service_spec.rb
  modules/vaos/spec/services/eps/base_service_spec.rb
Labels: final-review-confirmed

#22823 VEBT-2148 form 10297 models
  .github/CODEOWNERS
  app/models/education_benefits_claim.rb
  app/models/form_profiles/va_10297.rb
  app/models/saved_claim/education_benefits/va_10297.rb
  app/sidekiq/education_form/create_daily_fiscal_year_to_date_report.rb
  app/sidekiq/education_form/create_daily_year_to_date_report.rb
  app/sidekiq/education_form/forms/va_10297.rb
  config/features.yml
  spec/models/education_benefits_claim_spec.rb
  spec/models/education_benefits_submission_spec.rb
  spec/models/form_profile_v2_spec.rb
  spec/sidekiq/education_form/create_daily_fiscal_year_to_date_report_spec.rb
  spec/sidekiq/education_form/create_daily_year_to_date_report_spec.rb
  spec/sidekiq/education_form/education_facility_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22856 Refactored VAOS appointments spec file to use referral VCR cassette
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  spec/support/vcr_cassettes/vaos/ccra/post_get_referral_ref_123.yml
Labels: require-backend-approval

#22652 PBB refactor submission status job
  lib/lighthouse/benefits_intake/sidekiq/submission_status_job.rb
  lib/lighthouse/benefits_intake/submission_handler/saved_claim.rb
  modules/burials/lib/burials/benefits_intake/submission_handler.rb
  modules/burials/spec/e2e_spec.rb
  modules/burials/spec/lib/benefits_intake/submission_handler_spec.rb
  modules/income_and_assets/lib/income_and_assets/benefits_intake/submission_handler.rb
  modules/income_and_assets/spec/e2e_spec.rb
  modules/income_and_assets/spec/lib/income_and_assets/benefits_intake/submission_handler_spec.rb
  modules/pensions/lib/pensions/benefits_intake/submission_handler.rb
  modules/pensions/spec/e2e_spec.rb
  modules/pensions/spec/lib/benefits_intake/submission_handler_spec.rb
  spec/lib/lighthouse/benefits_intake/sidekiq/submission_status_job_spec.rb
Labels: burial-benefits, pension-benefits, pension-income-assets, require-backend-approval

#22497 Add ImmunizationsController and related models/serializers for FHIR immunization data
  .github/CODEOWNERS
  config/betamocks/services_config.yml
  config/features.yml
  lib/lighthouse/veterans_health/client.rb
  lib/lighthouse/veterans_health/models/immunization.rb
  lib/lighthouse/veterans_health/serializers/immunization_serializer.rb
  modules/my_health/app/controllers/my_health/v2/immunizations_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/requests/my_health/v2/immunizations_spec.rb
  spec/support/vcr_cassettes/lighthouse/veterans_health/get_immunizations.yml
Labels: final-review-confirmed

#22585 [Burials] Updating deceased Veteran information text in burials PDF
  modules/burials/lib/burials/pdf_fill/pdfs/21P-530EZ.pdf
Labels: burial-benefits, require-backend-approval

#22878 Fix display of 'packet' in submissions history
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/saved_claim_claimant_representative_serializer.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed

#22714 [394] changes `user_uuid` sourcing to `UserAccount.id`
  app/controllers/sign_in/user_info_controller.rb
  app/controllers/v0/sign_in_controller.rb
  app/controllers/v1/sessions_controller.rb
  app/models/user_session_form.rb
  app/services/sign_in/session_creator.rb
  app/services/sign_in/session_spawner.rb
  app/services/sign_in/user_code_map_creator.rb
  lib/saml/user_attributes/base.rb
  lib/saml/user_attributes/ssoe.rb
  spec/controllers/sign_in/user_info_controller_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/users.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/models/user_session_form_spec.rb
  spec/services/sign_in/attribute_validator_spec.rb
  spec/services/sign_in/session_creator_spec.rb
  spec/services/sign_in/session_spawner_spec.rb
  spec/services/sign_in/token_exchanger_spec.rb
Labels: final-review-confirmed, exempt-be-review

#22887 [324] removes account from user serialization
  app/serializers/user_serializer.rb
  app/services/users/profile.rb
  app/services/users/scaffold.rb
  spec/support/schemas/user_loa1.json
  spec/support/schemas/user_loa3.json
  spec/support/schemas_camelized/user_loa1.json
  spec/support/schemas_camelized/user_loa3.json
Labels: final-review-confirmed, exempt-be-review

#22896 pass current user to flipper
  app/controllers/v0/dependents_applications_controller.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#22891 Add Blank and Nil Checks for presence of File attachments
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
Labels: require-backend-approval, final-review-confirmed

#22894 Fix and make Logging and APM better around Education Related inquiries.
  modules/ask_va_api/app/lib/ask_va_api/inquiries/creator.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload_spec.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/inquiries_spec.rb
Labels: require-backend-approval

#22874 #112895 [10-10EZR] Add code to remove blank fields from VES Associations payload
  lib/form1010_ezr/service.rb
  lib/form1010_ezr/veteran_enrollment_system/associations/reconciler.rb
  lib/form1010_ezr/veteran_enrollment_system/associations/service.rb
  spec/lib/form1010_ezr/service_spec.rb
  spec/lib/form1010_ezr/veteran_enrollment_system/associations/reconciler_spec.rb
  spec/lib/form1010_ezr/veteran_enrollment_system/associations/service_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/form1010_ezrs_spec.rb
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/bad_request.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/delete_associations_success.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/update_associations_partial_success.yml
  spec/support/vcr_cassettes/form1010_ezr/veteran_enrollment_system/associations/update_associations_success.yml
Labels: require-backend-approval, final-review-confirmed

#22826 [API-47468] Add more in depth logging to EWS process
  modules/claims_api/app/services/claims_api/evidence_waiver_document_service.rb
  modules/claims_api/app/sidekiq/claims_api/evidence_waiver_builder_job.rb
  modules/claims_api/spec/sidekiq/evidence_waiver_builder_job_spec.rb
Labels: Lighthouse, claimsApi, require-backend-approval, final-review-confirmed, exempt-be-review
