Repository department-of-veterans-affairs/vets-api, pull requests merged in 2025-09, with the labels that each got.

#23844 Renamed V2::Contact Information to Contact Information::V2
  app/controllers/concerns/vet360/transactionable.rb
  app/controllers/concerns/vet360/writeable.rb
  app/controllers/v0/profile/transactions_controller.rb
  app/models/va_profile_redis/v2/contact_information.rb
  app/swagger/swagger/schemas/vet360/contact_information.rb
  config/initializers/breakers.rb
  lib/va_profile/contact_information/v2/configuration.rb
  lib/va_profile/contact_information/v2/person_response.rb
  lib/va_profile/contact_information/v2/service.rb
  lib/va_profile/contact_information/v2/transaction_response.rb
  lib/va_profile/v2/person/service.rb
  modules/mobile/app/services/mobile/v0/profile/sync_update_service.rb
  modules/mobile/spec/requests/mobile/v0/user_spec.rb
  modules/mobile/spec/requests/mobile/v1/user_spec.rb
  rakelib/vet360.rake
  spec/lib/common/models/concerns/cache_aside_spec.rb
  spec/lib/va_profile/contact_information/v2/service_spec.rb
  spec/lib/va_profile/contact_information/v2/transaction_response_spec.rb
  spec/lib/va_profile/v2/person/service_spec.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
  spec/models/user_spec.rb
  spec/models/va_profile_redis/v2/contact_information_spec.rb
  spec/requests/v0/profile/addresses_spec.rb
  spec/requests/v0/profile/email_addresses_spec.rb
  spec/requests/v0/profile/telephones_spec.rb
  spec/support/va_profile/stub_vaprofile_user.rb
Labels: final-review-confirmed, exempt-be-review

#23769 API 48054 - Update 526 `activeDutyBeginDate` v1 validation and Swagger docs
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/controllers/concerns/claims_api/revised_disability_compensation_validations.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v1/526.json
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/config/schemas/v2/generate_pdf_526.json
  modules/claims_api/spec/requests/v1/forms/526_revised_validations_spec.rb
  modules/claims_api/spec/requests/v1/forms/526_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23789 Unique User Metrics library implementation Part 1
  .github/CODEOWNERS
  app/models/mhv_metrics_unique_user_event.rb
  config/redis.yml
  spec/models/mhv_metrics_unique_user_event_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23875 Renamed VAProfile::V2::Person to VAProfile::Person::V2
  app/controllers/v0/profile/persons_controller.rb
  lib/va_profile/person/v2/service.rb
  modules/mobile/app/sidekiq/mobile/v0/vet360_linking_job.rb
  modules/mobile/spec/sidekiq/vet360_linking_spec.rb
  spec/lib/va_profile/person/v2/service_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23848 114881 claim control number fix
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959a.rb
  modules/ivc_champva/spec/requests/ivc_champva/v1/forms/uploads_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23847 VAOS 117891 - Adding Substance Use Disorder flipper
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#23772 116062: Add logic to use new redesign
  config/features.yml
  modules/pensions/app/models/pensions/saved_claim.rb
  modules/pensions/lib/pensions/benefits_intake/submit_claim_job.rb
  modules/pensions/lib/pensions/pdf_fill/va21p527ez.rb
  modules/pensions/spec/fixtures/kitchen_sink_redesign.pdf
  modules/pensions/spec/fixtures/overflow_redesign.pdf
  modules/pensions/spec/fixtures/overflow_redesign_extras.pdf
  modules/pensions/spec/fixtures/simple_redesign.pdf
  modules/pensions/spec/lib/benefits_intake/submit_claim_job_spec.rb
  modules/pensions/spec/lib/pensions/pdf_fill/va21p527ez_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23837 API 473351 - Revise error messages on 526 Validation Rules 4a(i, ii): `separationLocationCode`
  modules/claims_api/app/controllers/concerns/claims_api/revised_disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/forms/526_revised_validations_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23857 Replace Virtus with Vets::Model - modules/pensions
  modules/pensions/app/models/pensions/form_military_information.rb
Labels: require-backend-approval, final-review-confirmed

#23822 Replace Virtus with Vets::Model - lib/va_profile
  lib/va_profile/address_validation/address_suggestions_response.rb
  lib/va_profile/address_validation/v3/address_suggestions_response.rb
  lib/va_profile/concerns/defaultable.rb
  lib/va_profile/contact_information/transaction_response.rb
  lib/va_profile/contact_information/v2/transaction_response.rb
  lib/va_profile/military_personnel/service_history_response.rb
  lib/va_profile/models/address.rb
  lib/va_profile/models/associated_person.rb
  lib/va_profile/models/base.rb
  lib/va_profile/models/base_address.rb
  lib/va_profile/models/demographic.rb
  lib/va_profile/models/email.rb
  lib/va_profile/models/gender_identity.rb
  lib/va_profile/models/message.rb
  lib/va_profile/models/permission.rb
  lib/va_profile/models/person.rb
  lib/va_profile/models/preferred_name.rb
  lib/va_profile/models/service_history.rb
  lib/va_profile/models/telephone.rb
  lib/va_profile/models/transaction.rb
  lib/va_profile/models/v3/address.rb
  lib/va_profile/models/v3/base_address.rb
  lib/va_profile/models/v3/person.rb
  lib/va_profile/profile/v3/health_benefit_bio_response.rb
  lib/va_profile/profile/v3/military_occupation_response.rb
  lib/va_profile/response.rb
  lib/va_profile/service.rb
  modules/mobile/app/services/mobile/v0/profile/sync_update_service.rb
  modules/pensions/spec/lib/pensions/military_information_spec.rb
  spec/lib/va_profile/concerns/expirable_spec.rb
  spec/lib/va_profile/models/telephone_spec.rb
  spec/lib/va_profile/models/v3/validation_address_spec.rb
  spec/lib/va_profile/models/validation_address_spec.rb
  spec/models/form_profile_spec.rb
  spec/requests/v0/profile/service_history_spec.rb
  spec/serializers/gender_identity_serializer_spec.rb
  spec/serializers/preferred_name_serializer_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23806 Unique User Metrics library implementation Part 2
  .github/CODEOWNERS
  app/models/mhv_metrics_unique_user_event.rb
  lib/unique_user_events.rb
  lib/unique_user_events/service.rb
  spec/lib/unique_user_events/service_spec.rb
  spec/lib/unique_user_events_spec.rb
  spec/models/mhv_metrics_unique_user_event_spec.rb
Labels: final-review-confirmed

#23821 feat(arp): use environment-based frontend_base_url for POA request links
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/accredited_representative_portal/app/sidekiq/accredited_representative_portal/email_personalisations.rb
  modules/accredited_representative_portal/spec/sidekiq/accredited_representative_portal/email_personalisations_spec.rb
Labels: benefits-accredited-rep-facing, ready-for-review, final-review-confirmed

#23786 MhvFE-MR/Add care summaries and notes to UHD service
  .github/CODEOWNERS
  lib/unified_health_data/adapters/clinical_notes_adapter.rb
  lib/unified_health_data/models/clinical_notes.rb
  lib/unified_health_data/serializers/clinical_notes_serializer.rb
  lib/unified_health_data/service.rb
  modules/my_health/app/controllers/my_health/v2/clinical_notes_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/requests/my_health/v2/clinical_notes_spec.rb
  spec/fixtures/unified_health_data/notes_empty_oh_response.json
  spec/fixtures/unified_health_data/notes_empty_response.json
  spec/fixtures/unified_health_data/notes_empty_vista_response.json
  spec/fixtures/unified_health_data/notes_sample_response.json
  spec/lib/unified_health_data/service_spec.rb
  spec/support/vcr_cassettes/unified_health_data/get_clinical_notes_200.yml
  spec/support/vcr_cassettes/unified_health_data/get_clinical_notes_no_records.yml
Labels: final-review-confirmed, exempt-be-review

#23866 Remove unused precaching sidekiq job and related spec
  modules/mobile/app/sidekiq/mobile/v0/pre_cache_claims_and_appeals_job.rb
  modules/mobile/spec/sidekiq/pre_cache_claims_and_appeals_job_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23891 add toggle
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#23853 114832/validate address when candidate not found v3
  config/features.yml
  lib/va_profile/address_validation/v3/service.rb
  spec/lib/va_profile/address_validation/v3/service_spec.rb
  spec/support/vcr_cassettes/va_profile/v3/address_validation/candidate_no_match.yml
Labels: require-backend-approval, final-review-confirmed

#23892 117256 cie travel claims v1 service
  config/features.yml
  modules/check_in/app/services/travel_claim/claim_submission_service.rb
  modules/check_in/spec/services/travel_claim/claim_submission_service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23899 UAE 117241 - Logging for missing telehealth link updated - changes to logging limits and fields
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: require-backend-approval, final-review-confirmed

#23851 117757 Financial Management Digital Dispute Refactor
  config/features.yml
  modules/debts_api/app/controllers/debts_api/v0/digital_disputes_controller.rb
  modules/debts_api/app/models/debts_api/v0/digital_dispute_submission.rb
  modules/debts_api/lib/debts_api/v0/digital_dispute_dmc_service.rb
  modules/debts_api/spec/lib/debt_api/v0/digital_dispute_dmc_service_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/digital_disputes_spec.rb
  spec/requests/swagger_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23905 116836 - Profile - Add VCRs for international phones
  spec/requests/v0/profile/telephones_spec.rb
  spec/support/vcr_cassettes/va_profile/v2/contact_information/delete_international_telephone_success.yml
  spec/support/vcr_cassettes/va_profile/v2/contact_information/post_international_telephone_success.yml
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_international_telephone_success.yml
Labels: require-backend-approval, final-review-confirmed

#23888 API-48805-error-handling-update-in-poa-verification-file
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/spec/concerns/claims_api/poa_verification_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23928 Fix typo in Dependents Verification
  modules/dependents_verification/app/controllers/dependents_verification/v0/claims_controller.rb
Labels: require-backend-approval, final-review-confirmed

#23935 Revert "API 49489 - Add Federal Activation obligation dates requirement to v2 526 schema"
  modules/claims_api/app/controllers/concerns/claims_api/v2/disability_compensation_validation.rb
  modules/claims_api/config/schemas/v2/526.json
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_validation_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_526_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23835 Update comment in filter_parameter_logging.rb
  config/initializers/filter_parameter_logging.rb
Labels: require-backend-approval, final-review-confirmed

#23883 117884: Replace message with error
  lib/claim_documents/monitor.rb
  lib/dependents/monitor.rb
  lib/logging/benefits_intake/monitor.rb
  lib/logging/controller/monitor.rb
  lib/persistent_attachments/sanitizer.rb
  modules/burials/spec/lib/burials/monitor_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/monitor_spec.rb
  modules/dependents_verification/spec/lib/dependents_verification/monitor_spec.rb
  modules/income_and_assets/spec/lib/income_and_assets/monitor_spec.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
  modules/vre/spec/lib/vre/vre_monitor_spec.rb
  spec/lib/dependents/monitor_spec.rb
  spec/lib/persistent_attachments/sanitizer_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23945 47330 - V2 FES Validations (Section 5 of the Validation guide, part 2)
  modules/claims_api/app/controllers/concerns/claims_api/v2/revised_disability_compensation_validation.rb
  modules/claims_api/spec/controllers/concerns/claims_api/v2/revised_disability_compensation_validation_spec.rb
Labels: Lighthouse, claimsApi, final-review-confirmed, exempt-be-review

#23930 Disable Dependents Benefits module in development by default
  config/features.yml
Labels: dependents-benefits

#23911 114376[task]-remove-feature-flags-2of4
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#23908 [10-10EZ] Add additional logging for clearing InProgressForms upon submission
  app/controllers/v0/health_care_applications_controller.rb
  config/features.yml
  spec/requests/v0/health_care_applications_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23965 Fix Copilot instructions to stop suggesting changes to correct Flipper stubs
  .github/copilot-instructions.md
Labels: require-backend-approval, final-review-confirmed

#23977 Revert dependabot's waterdrop version bump
  Gemfile
  Gemfile.lock
Labels: require-backend-approval, final-review-confirmed

#23874 Implement unique user metrics controller
  modules/my_health/app/controllers/my_health/v1/unique_user_metrics_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/requests/my_health/v1/unique_user_metrics_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23901 add feature toggle
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#23955 chore(maintenance): migrate PagerDuty from dsva to ecc instance
  config/settings/test.yml
  spec/support/pagerduty/maintenance_windows_page_1.json
  spec/support/pagerduty/maintenance_windows_page_2.json
  spec/support/pagerduty/maintenance_windows_simple.json
  spec/support/pagerduty/services/invalid.rb
  spec/support/pagerduty/services/valid.rb
  spec/support/vcr_cassettes/pagerduty/external_services/get_services.yml
  spec/support/vcr_cassettes/pagerduty/external_services/get_services_429.yml
  spec/support/vcr_cassettes/pagerduty/external_services/get_services_invalid_status.yml
Labels: require-backend-approval, final-review-confirmed

#23968 `VSOReloader::DECREASE_THRESHOLD` from `0.20` to `0.50`
  modules/veteran/app/sidekiq/veteran/vso_reloader.rb
  modules/veteran/spec/sidekiq/veteran/vso_reloader_spec.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed, exempt-be-review

#23859 Replace Virtus with Vets::Model - Common::Form
  lib/bb/generate_report_request_form.rb
  lib/mhv/aal/create_aal_form.rb
  lib/mhv_ac/registration_form.rb
  lib/mhv_ac/upgrade_form.rb
  modules/vaos/app/models/vaos/preference_form.rb
  modules/vaos/app/models/vaos/v2/appointment_form.rb
  modules/vaos/app/models/vaos/v2/update_appointment_form.rb
  modules/vaos/spec/services/v2/appointments_reason_code_service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23944 API-49671-v1-pdf-mapper-section-2
  modules/claims_api/lib/claims_api/pdf_mapper_base.rb
  modules/claims_api/lib/claims_api/v1/disability_compensation_pdf_mapper.rb
  modules/claims_api/lib/claims_api/v2/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/pdf_mapper_base_spec.rb
  modules/claims_api/spec/lib/claims_api/v1/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23976 Vebt3219 silent form 10203
  .github/CODEOWNERS
  app/models/saved_claim/education_benefits.rb
  app/models/saved_claim/education_benefits/va_10203.rb
  config/features.yml
  spec/lib/saved_claims_spec_helper.rb
  spec/models/saved_claim/education_benefits/va10203_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_education/200_response_gt_6_mos.yml
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23972 Champva 118009 Update to use HexaPDF for decryption
  config/features.yml
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
  modules/ivc_champva/spec/requests/ivc_champva/v1/forms/uploads_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23843 Refactor to allow other APIs to display form statuses #110571
  lib/forms/submission_statuses/benefits_intake_gateway.rb
  lib/forms/submission_statuses/formatter.rb
  lib/forms/submission_statuses/formatters/benefits_intake_formatter.rb
  lib/forms/submission_statuses/report.rb
  spec/lib/forms/submission_statuses/formatters/benefits_intake_formatter_spec.rb
  spec/lib/forms/submission_statuses/report_spec.rb
  spec/requests/v0/my_va/submission_statuses_spec.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#23998 [484] updates sis controller token specs
  .github/CODEOWNERS
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/controllers/v0/sign_in_controller_token_authorization_code_spec.rb
  spec/controllers/v0/sign_in_controller_token_basic_spec.rb
  spec/controllers/v0/sign_in_controller_token_exchange_spec.rb
  spec/controllers/v0/sign_in_controller_token_jwt_bearer_spec.rb
  spec/support/sign_in/shared_contexts.rb
  spec/support/sign_in/shared_contexts/token/setup.rb
  spec/support/sign_in/shared_examples.rb
  spec/support/sign_in/shared_examples/token/error_response.rb
Labels: final-review-confirmed, exempt-be-review

#23890 Add create complex claims backend flow
  modules/travel_pay/app/controllers/concerns/appointment_helper.rb
  modules/travel_pay/app/controllers/concerns/claim_helper.rb
  modules/travel_pay/app/controllers/concerns/feature_flag_helper.rb
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
  modules/travel_pay/app/controllers/travel_pay/v0/complex_claims_controller.rb
  modules/travel_pay/app/controllers/travel_pay/v0/documents_controller.rb
  modules/travel_pay/app/controllers/travel_pay/v0/expenses_controller.rb
  modules/travel_pay/config/routes.rb
  modules/travel_pay/spec/requests/concerns/appointment_helper_spec.rb
  modules/travel_pay/spec/requests/concerns/claim_helper_spec.rb
  modules/travel_pay/spec/requests/concerns/feature_flag_helper_spec.rb
  modules/travel_pay/spec/requests/travel_pay/complex_claims_spec.rb
  modules/travel_pay/spec/requests/travel_pay/documents_spec.rb
  spec/support/vcr_cassettes/travel_pay/submit/200_create_claim.yml
  spec/support/vcr_cassettes/travel_pay/submit/200_find_or_create_appt.yml
Labels: ready-for-backend-review, ready-for-review, final-review-confirmed

#23957 Add COE Home Loan letter to Mobile Letters Controller
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/app/models/mobile/v0/letter.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.json
  modules/mobile/docs/schemas/LettersInfo.yml
  modules/mobile/spec/requests/mobile/v0/letters_spec.rb
  modules/mobile/spec/support/schemas/letter_base.json
  spec/support/vcr_cassettes/mobile/lgy/application_200_status_submitted.yml
  spec/support/vcr_cassettes/mobile/lgy/determination_eligible.yml
  spec/support/vcr_cassettes/mobile/lgy/determination_pending.yml
  spec/support/vcr_cassettes/mobile/lgy/documents_coe_file.yml
Labels: final-review-confirmed, exempt-be-review

#23401 update-rx-quantity
  app/models/prescription.rb
  app/swagger/swagger/schemas/health/prescriptions.rb
  modules/mobile/docs/schemas/PrescriptionRecord.yml
  modules/mobile/spec/support/fixtures/prescriptions.json
  modules/mobile/spec/support/schemas/prescription.json
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/docs/schemas/PrescriptionDetail.yml
  modules/my_health/docs/schemas/RxRfRecord.yml
  spec/factories/prescription_details.rb
  spec/factories/prescriptions.rb
  spec/fixtures/json/get_active_rxs.json
  spec/fixtures/json/get_history_rxs.json
  spec/models/prescription_details_spec.rb
  spec/models/prescription_spec.rb
  spec/support/schemas/my_health/prescriptions/v1/prescription_details.json
  spec/support/schemas/prescription_base.json
  spec/support/schemas_camelized/my_health/prescriptions/v1/prescription_details.json
Labels: final-review-confirmed

#24052 fix: Added EVSS configuration to Betamocks Service config.
  config/betamocks/services_config.yml
Labels: require-backend-approval, final-review-confirmed

#24038 Replaced outdated VAProfile/Models for the previous ContactInformation V1 service.
  app/controllers/concerns/vet360/writeable.rb
  app/controllers/v0/profile/address_validation_controller.rb
  app/models/va_profile_redis/v2/contact_information.rb
  app/swagger/swagger/schemas/vet360/contact_information.rb
  lib/va_profile/address_validation/v3/address_suggestions_response.rb
  lib/va_profile/contact_information/v2/person_response.rb
  lib/va_profile/contact_information/v2/service.rb
  lib/va_profile/contact_information/v2/transaction_response.rb
  lib/va_profile/models/address.rb
  lib/va_profile/models/base_address.rb
  lib/va_profile/models/email.rb
  lib/va_profile/models/person.rb
  lib/va_profile/models/telephone.rb
  lib/va_profile/models/v3/address.rb
  lib/va_profile/models/v3/base_address.rb
  lib/va_profile/models/v3/person.rb
  lib/va_profile/models/v3/validation_address.rb
  lib/va_profile/models/validation_address.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/address_validation_controller.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/address_validation_spec.rb
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/services/mobile/v0/profile/sync_update_service.rb
  modules/mobile/spec/requests/mobile/v0/user/addresses_spec.rb
  modules/mobile/spec/requests/mobile/v0/user/emails_spec.rb
  modules/mobile/spec/requests/mobile/v0/user/phones_spec.rb
  modules/mobile/spec/services/sync_update_service_spec.rb
  modules/representation_management/app/sidekiq/representation_management/accredited_individuals_update.rb
  modules/simple_forms_api/app/models/form_engine/address.rb
  modules/veteran/app/sidekiq/organizations/update.rb
  modules/veteran/app/sidekiq/representatives/update.rb
  modules/veteran/lib/tasks/update_vso_addresses.rake
  rakelib/vet360.rake
  spec/controllers/v0/profile/address_validation_controller_spec.rb
  spec/factories/va_profile/addresses.rb
  spec/factories/va_profile/emails.rb
  spec/factories/va_profile/persons.rb
  spec/factories/va_profile/telephones.rb
  spec/factories/va_profile/v3/addresses.rb
  spec/factories/va_profile/v3/persons.rb
  spec/factories/va_profile/v3/validation_address.rb
  spec/factories/va_profile/validation_address.rb
  spec/lib/common/models/concerns/cache_aside_spec.rb
  spec/lib/va_profile/address_validation/v3/service_spec.rb
  spec/lib/va_profile/contact_information/v2/service_spec.rb
  spec/lib/va_profile/contact_information/v2/transaction_response_spec.rb
  spec/lib/va_profile/models/address_spec.rb
  spec/lib/va_profile/models/telephone_spec.rb
  spec/lib/va_profile/models/v3/address_spec.rb
  spec/lib/va_profile/models/v3/validation_address_spec.rb
  spec/lib/va_profile/models/validation_address_spec.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/async_transaction/vet360/base_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/user_spec.rb
  spec/models/va_profile_redis/v2/contact_information_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/profile/addresses_spec.rb
  spec/requests/v0/profile/email_addresses_spec.rb
  spec/requests/v0/profile/telephones_spec.rb
  spec/support/va_profile/stub_vaprofile_user.rb
Labels: final-review-confirmed, exempt-be-review

#23992 model layer and tests for debt transaction log
  .github/CODEOWNERS
  app/models/debt_transaction_log.rb
  app/services/debt_transaction_log/summary_builders/dispute_summary_builder.rb
  app/services/debt_transaction_log/summary_builders/waiver_summary_builder.rb
  app/services/debt_transaction_log_service.rb
  spec/factories/debt_transaction_logs.rb
  spec/models/debt_transaction_log_spec.rb
  spec/services/debt_transaction_log_service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24006 [10-10EZ] Add statsD metrics for InProgressForm deletes
  app/controllers/v0/health_care_applications_controller.rb
  spec/requests/v0/health_care_applications_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24053 API 49779 - Add new `claims_api_record_metadata` database table
  db/migrate/20250909204906_create_record_metadata.rb
  db/migrate/20250909221715_add_index_to_record_metadata_on_type_and_id.rb
  db/schema.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24049 [484] moves refresh tests, removes duplicate authorize_sso tests
  .github/CODEOWNERS
  spec/controllers/v0/sign_in_controller_refresh_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/support/sign_in/shared_contexts.rb
  spec/support/sign_in/shared_contexts/refresh/setup.rb
  spec/support/sign_in/shared_examples.rb
  spec/support/sign_in/shared_examples/refresh/error_response.rb
Labels: final-review-confirmed, exempt-be-review

#23947 #118703 [Benefits Management Tools] Filter image data from multi-file upload mobile logger
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/spec/requests/mobile/v0/claim/documents_spec.rb
Labels: final-review-confirmed

#24055 [Claims-API-49016] Renamed DockerContainerService to Form526EstablishmentService
  modules/claims_api/app/controllers/claims_api/v2/veterans/disability_compensation_controller.rb
  modules/claims_api/app/services/claims_api/disability_compensation/form526_establishment_service.rb
  modules/claims_api/spec/controllers/v2/veterans/disability_compensation_controller_spec.rb
  modules/claims_api/spec/services/disability_compensation/form526_establishment_service_spec.rb
Labels: Lighthouse, claimsApi, final-review-confirmed, exempt-be-review

#24070 113542 - Add feature toggle for MyVA redesign switch
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#23999 Update to UUM to use the user account ID
  modules/my_health/app/controllers/my_health/v1/unique_user_metrics_controller.rb
Labels: require-backend-approval, final-review-confirmed

#23858 Mhv-FE-MR/add single note endpoint and update adapter and tests
  config/betamocks/services_config.yml
  lib/unified_health_data/adapters/clinical_notes_adapter.rb
  lib/unified_health_data/models/clinical_notes.rb
  lib/unified_health_data/serializers/clinical_notes_serializer.rb
  lib/unified_health_data/service.rb
  modules/my_health/app/controllers/my_health/v2/clinical_notes_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/requests/my_health/v2/clinical_notes_spec.rb
  spec/fixtures/unified_health_data/notes_methods_fallback_response.json
  spec/lib/unified_health_data/clinical_notes_adapter_spec.rb
  spec/lib/unified_health_data/service_spec.rb
  spec/support/vcr_cassettes/unified_health_data/get_clinical_notes_200.yml
  spec/support/vcr_cassettes/unified_health_data/get_clinical_notes_no_records.yml
Labels: final-review-confirmed, exempt-be-review

#23716 [ID-642] Update assertion validator
  app/models/sign_in/certificate.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/service_account_config.rb
  app/services/sign_in/assertion_validator.rb
  app/services/sign_in/base_assertion_validator.rb
  app/services/sign_in/client_assertion_validator.rb
  app/services/sign_in/errors.rb
  spec/controllers/v0/sign_in_controller_token_authorization_code_spec.rb
  spec/factories/sign_in/certificates.rb
  spec/models/sign_in/certificate_spec.rb
  spec/services/sign_in/assertion_validator_spec.rb
  spec/services/sign_in/base_assertion_validator_spec.rb
  spec/services/sign_in/client_assertion_validator_spec.rb
  spec/services/sign_in/code_validator_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23920 arp/accredited-individual-support/2
  config/features.yml
  modules/accredited_representative_portal/app/models/accredited_representative_portal/claimant_representative.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user_account.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/representative_user_loader.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/representative_user_account_spec.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/representative_user_loader_spec.rb
  modules/accredited_representative_portal/spec/sidekiq/accredited_representative_portal/email_personalisations_spec.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed, exempt-be-review

#24077 Update certificate active trait
  app/models/sign_in/certificate.rb
  app/sidekiq/sign_in/certificate_checker_job.rb
  spec/factories/sign_in/certificates.rb
  spec/models/sign_in/certificate_spec.rb
  spec/sidekiq/sign_in/certificate_checker_job_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23952 114271 Financial Management Lighthouse Healthcare Cost and Coverage
  .github/CODEOWNERS
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/lighthouse/healthcare_cost_and_coverage/configuration.rb
  lib/lighthouse/healthcare_cost_and_coverage/invoice/service.rb
  spec/lib/lighthouse/healthcare_cost_and_coverage/configuration_spec.rb
  spec/lib/lighthouse/healthcare_cost_and_coverage/invoice/service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24133 Add newline to end of file
  modules/dependents_verification/spec/fixtures/pdf_fill/21-0538/overflow.json
Labels: require-backend-approval, final-review-confirmed

#24030 VEBT 3259: Fix 1919 PDF Styling
  lib/pdf_fill/forms/pdfs/22-1919.pdf
  spec/fixtures/pdf_fill/22-1919/kitchen_sink.pdf
  spec/fixtures/pdf_fill/22-1919/overflow.pdf
  spec/fixtures/pdf_fill/22-1919/simple.pdf
Labels: final-review-confirmed

#24144 [#119416] Travel Pay, Expense receipt placeholder
  config/features.yml
  modules/travel_pay/app/services/travel_pay/expenses_service.rb
  modules/travel_pay/spec/services/expenses_service_spec.rb
Labels: final-review-confirmed

#24180 Revert "Bump karafka-core from 2.5.5 to 2.5.6"
  .github/dependabot.yml
  Gemfile
  Gemfile.lock
Labels: require-backend-approval

#24171 [Disability Benefits] rel: vets-json-schema latest version (25.2.4) bump
  Gemfile.lock
Labels: disability-benefits, require-backend-approval, disability-benefits-pathways-team

#24080 Add delete document backend flow
  config/brakeman.ignore
  modules/travel_pay/app/controllers/concerns/claim_helper.rb
  modules/travel_pay/app/controllers/concerns/id_validation.rb
  modules/travel_pay/app/controllers/travel_pay/v0/complex_claims_controller.rb
  modules/travel_pay/app/controllers/travel_pay/v0/documents_controller.rb
  modules/travel_pay/app/services/travel_pay/documents_client.rb
  modules/travel_pay/app/services/travel_pay/documents_service.rb
  modules/travel_pay/config/routes.rb
  modules/travel_pay/spec/requests/concerns/claim_helper_spec.rb
  modules/travel_pay/spec/requests/concerns/id_validation_spec.rb
  modules/travel_pay/spec/requests/travel_pay/documents_spec.rb
  modules/travel_pay/spec/services/documents_client_spec.rb
  modules/travel_pay/spec/services/documents_service_spec.rb
  spec/support/vcr_cassettes/travel_pay/documents/delete/success.yml
  spec/support/vcr_cassettes/travel_pay/documents/get/success_pdf.yml
Labels: final-review-confirmed

#24139 arp/poa_code_for_dd_metrics
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_request_decisions_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/representative_users_controller.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/monitoring.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/power_of_attorney_request_service/create.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/user_spec.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/monitoring_spec.rb
Labels: benefits-accredited-rep-facing

#24182 DMT | VA Dependents v3 flipper
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#24028 [#118859] Travel Pay, /find-or-add v4 upgrade
  config/features.yml
  modules/mobile/spec/requests/mobile/v0/travel_pay_claims_spec.rb
  modules/travel_pay/app/services/travel_pay/appointments_client.rb
  modules/travel_pay/app/services/travel_pay/appointments_service.rb
  modules/travel_pay/app/services/travel_pay/auth_manager.rb
  modules/travel_pay/spec/requests/travel_pay/claims_spec.rb
  modules/travel_pay/spec/requests/travel_pay/complex_claims_spec.rb
  modules/travel_pay/spec/services/appointments_client_spec.rb
  modules/travel_pay/spec/services/appointments_service_spec.rb
  spec/requests/swagger_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24149 Champva 119138 added logging to help confirm that the backend sets attachment ids correctly
  modules/ivc_champva/app/services/ivc_champva/file_uploader.rb
Labels: require-backend-approval, final-review-confirmed

#24143 Add new backend notification
  modules/check_in/app/services/travel_claim/claim_submission_service.rb
  modules/check_in/spec/services/travel_claim/claim_submission_service_spec.rb
Labels: final-review-confirmed

#24172 Restore safe error logging for 686C-674 VBMS upload flow
  app/models/saved_claim/dependency_claim.rb
  app/services/bgs/dependent_service.rb
  app/services/bgs/dependent_v2_service.rb
  app/sidekiq/vbms/submit_dependents_pdf_job.rb
  app/sidekiq/vbms/submit_dependents_pdf_v2_job.rb
  config/features.yml
  lib/dependents/monitor.rb
Labels: dependents-benefits, require-backend-approval, final-review-confirmed

#24192 eps logs and preventing sending no params
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#24160 24151 improve shared logging
  lib/vets/shared_logging.rb
  spec/controllers/application_controller_spec.rb
Labels: final-review-confirmed, Watchtower

#24177 Correctly filter excluded fields
  app/helpers/parameter_filter_helper.rb
  config/initializers/filter_parameter_logging.rb
  spec/helpers/parameter_filter_helper_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24150 47330 - FES V2 validations - Round2 - Part 1
  modules/claims_api/app/controllers/concerns/claims_api/v2/revised_disability_compensation_validation.rb
  modules/claims_api/spec/controllers/concerns/claims_api/v2/revised_disability_compensation_validation_spec.rb
Labels: Lighthouse, claimsApi, final-review-confirmed, exempt-be-review

#24191 Removed Contact Information V1 cassettes in the mobile module
  spec/support/vcr_cassettes/mobile/profile/delete_email_initial.yml
  spec/support/vcr_cassettes/mobile/profile/delete_phone_initial.yml
  spec/support/vcr_cassettes/mobile/profile/get_address_status_error.yml
  spec/support/vcr_cassettes/mobile/profile/get_address_transaction_status.yml
  spec/support/vcr_cassettes/mobile/profile/get_email_status_complete.yml
  spec/support/vcr_cassettes/mobile/profile/get_email_status_incomplete.yml
  spec/support/vcr_cassettes/mobile/profile/get_phone_status_complete.yml
  spec/support/vcr_cassettes/mobile/profile/get_phone_status_incomplete.yml
  spec/support/vcr_cassettes/mobile/profile/init_vet360_id_status_400.yml
  spec/support/vcr_cassettes/mobile/profile/init_vet360_id_status_complete.yml
  spec/support/vcr_cassettes/mobile/profile/init_vet360_id_status_incomplete.yml
  spec/support/vcr_cassettes/mobile/profile/init_vet360_id_success.yml
  spec/support/vcr_cassettes/mobile/profile/post_address_initial.yml
  spec/support/vcr_cassettes/mobile/profile/post_email_initial.yml
  spec/support/vcr_cassettes/mobile/profile/post_phone_initial.yml
  spec/support/vcr_cassettes/mobile/profile/put_address_initial.yml
  spec/support/vcr_cassettes/mobile/profile/put_address_success.yml
  spec/support/vcr_cassettes/mobile/profile/put_email_initial.yml
  spec/support/vcr_cassettes/mobile/profile/put_phone_initial.yml
  spec/support/vcr_cassettes/mobile/profile/rated_disabilities.yml
  spec/support/vcr_cassettes/mobile/profile/rated_disabilities_400.yml
  spec/support/vcr_cassettes/mobile/profile/rated_disabilities_401.yml
  spec/support/vcr_cassettes/mobile/profile/rated_disabilities_403.yml
  spec/support/vcr_cassettes/mobile/profile/rated_disabilities_500.yml
  spec/support/vcr_cassettes/mobile/profile/rated_disabilities_mixed_service_connected.yml
  spec/support/vcr_cassettes/mobile/profile/rating_info.yml
  spec/support/vcr_cassettes/mobile/profile/rating_info_400.yml
  spec/support/vcr_cassettes/mobile/profile/rating_info_403.yml
  spec/support/vcr_cassettes/mobile/profile/rating_info_500.yml
  spec/support/vcr_cassettes/mobile/profile/v2/init_vet360_id_status_complete.yml
  spec/support/vcr_cassettes/mobile/profile/v2/init_vet360_id_status_incomplete.yml
  spec/support/vcr_cassettes/va_profile/person/init_vet360_id_status_400.yml
  spec/support/vcr_cassettes/va_profile/person/init_vet360_id_success.yml
  spec/support/vcr_cassettes/va_profile/reference_data/countries.yml
  spec/support/vcr_cassettes/va_profile/reference_data/countries_error.yml
  spec/support/vcr_cassettes/va_profile/reference_data/states.yml
  spec/support/vcr_cassettes/va_profile/reference_data/states_error.yml
  spec/support/vcr_cassettes/va_profile/reference_data/zipcodes.yml
  spec/support/vcr_cassettes/va_profile/reference_data/zipcodes_error.yml
Labels: final-review-confirmed, exempt-be-review

#24196 Removed override_address_pou flipper
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#24054 API 49779 - Update `claims_api_record_metadata` db table with kms rotation column
  db/migrate/20250910165752_add_encrypted_kms_key_and_rotation_flag_to_record_metadata.rb
  db/migrate/20250910170038_add_index_to_record_metadata_needs_kms_rotation.rb
  db/schema.rb
Labels: claimsApi, ready-for-review, final-review-confirmed, exempt-be-review

#24187 remove unused code for one debt letter
  modules/debts_api/lib/debts_api/v0/one_debt_letter_service.rb
  modules/debts_api/spec/lib/debt_api/v0/one_debt_letter_service_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/one_debt_letters_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24212 Api 50022 fix homeless poc phone and handling bugs
  modules/claims_api/lib/claims_api/v1/disability_compensation_pdf_mapper.rb
  modules/claims_api/spec/lib/claims_api/v1/disability_compensation_pdf_mapper_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24176 Add DependentBenefits::ClaimsProcessor
  modules/dependents_benefits/app/controllers/dependents_benefits/v0/claims_controller.rb
  modules/dependents_benefits/lib/dependents_benefits/claim_processor.rb
  modules/dependents_benefits/lib/dependents_benefits/monitor.rb
  modules/dependents_benefits/spec/controllers/dependents_benefits/v0/claims_controller_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/claim_processor_spec.rb
Labels: dependents-benefits, final-review-confirmed

#24213 [484] final SiS controller spec breakouts
  .github/CODEOWNERS
  spec/controllers/v0/sign_in_controller_logingov_logout_proxy_spec.rb
  spec/controllers/v0/sign_in_controller_revoke_all_sessions_spec.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/support/sign_in/shared_contexts.rb
  spec/support/sign_in/shared_contexts/logingov_logout_proxy/setup.rb
  spec/support/sign_in/shared_contexts/revoke_all_sessions/setup.rb
  spec/support/sign_in/shared_examples.rb
  spec/support/sign_in/shared_examples/logingov_logout_proxy/error_response.rb
  spec/support/sign_in/shared_examples/revoke_all_sessions/error_response.rb
Labels: final-review-confirmed, exempt-be-review

#24073 API 49779 - Add new ClaimsApi::RecordMetadata model and specs
  modules/claims_api/app/models/claims_api/record_metadata.rb
  modules/claims_api/spec/models/record_metadata_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24214 POA Code for traces for DD
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_request_decisions_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/representative_users_controller.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/monitoring.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/power_of_attorney_request_service/create.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/user_spec.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/monitoring_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24185 Fix Kafka exhaustion error
  lib/kafka/sidekiq/event_bus_submission_job.rb
  spec/lib/kafka/event_bus_submission_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24001 [#115850] Travel Pay, Get expense
  modules/travel_pay/app/controllers/travel_pay/v0/expenses_controller.rb
  modules/travel_pay/app/services/travel_pay/expenses_client.rb
  modules/travel_pay/app/services/travel_pay/expenses_service.rb
  modules/travel_pay/config/routes.rb
  modules/travel_pay/spec/requests/travel_pay/expenses_spec.rb
  modules/travel_pay/spec/services/expenses_client_spec.rb
  modules/travel_pay/spec/services/expenses_service_spec.rb
  spec/support/vcr_cassettes/travel_pay/expenses/create_other_expense_success.yml
  spec/support/vcr_cassettes/travel_pay/expenses/get_other_expense_success.yml
Labels: require-backend-approval

#24120 Add DependentSubmissionJob
  modules/dependents_benefits/lib/dependents_benefits/sidekiq/dependent_submission_job.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/sidekiq/dependent_submission_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24181 MHV SM: handle updated large attachment response
  lib/sm/client.rb
  lib/sm/middleware/response/sm_parser.rb
  spec/lib/sm/client/messages_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24225 Add updated_at field to Mobile email contact info response
  modules/mobile/app/serializers/mobile/v0/contact_info_serializer.rb
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.json
  modules/mobile/docs/schemas/UserContactInfo.yml
  modules/mobile/spec/requests/mobile/v0/user/contact_info_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24217 Add additional logging for form pdf change detection job
  app/sidekiq/form_pdf_change_detection_job.rb
  spec/sidekiq/form_pdf_change_detection_job_spec.rb
Labels: final-review-confirmed

#24203 add datadog error monitoring to pdf download
  app/controllers/v0/education_benefits_claims_controller.rb
  spec/controllers/v0/education_benefits_claims_controller_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24219 [10-10EZ] Use form_id instead of hard coding form id in log
  app/sidekiq/delete_in_progress_form_job.rb
  spec/sidekiq/delete_in_progress_form_job_spec.rb
Labels: final-review-confirmed

#23942 [619] adds service tag logging to controllers
  app/controllers/application_controller.rb
  app/controllers/concerns/traceable.rb
  app/controllers/sign_in/application_controller.rb
  spec/controllers/application_controller_spec.rb
  spec/controllers/sign_in/application_controller_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24165 118335 Update MHVJwtSessionClient redis caching to use appropriate values (with flag)
  config/features.yml
  lib/common/client/concerns/mhv_fhir_session_client.rb
  lib/common/client/concerns/mhv_jwt_session_client.rb
  lib/medical_records/client_session.rb
  modules/my_health/app/controllers/my_health/mr_controller.rb
  spec/lib/common/client/concerns/mhv_jwt_session_client_spec.rb
  spec/lib/medical_records/client_spec.rb
  spec/support/mr_client_helpers.rb
Labels: final-review-confirmed

#23964 118413[task] Remove caching for prescriptions
  config/settings.yml
  lib/rx/client.rb
  modules/mobile/spec/requests/mobile/v0/health/rx/prescriptions_spec.rb
  spec/lib/rx/client_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24269 [731] Log missing sec_id PCE status when authenticating on sign in service
  app/services/sign_in/attribute_validator.rb
  spec/services/sign_in/attribute_validator_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24260 [Mobile] Update Letters endpoints to check for app version for COE
  modules/mobile/app/controllers/mobile/v0/letters_controller.rb
  modules/mobile/spec/requests/mobile/v0/letters_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24282 remove marriage method name calls
  app/models/bgs_dependents_v2/relationship.rb
  app/models/bgs_dependents_v2/spouse.rb
  spec/lib/bgsv2/vnp_relationships_spec.rb
  spec/models/bgs_dependents_v2/relationship_spec.rb
  spec/models/bgs_dependents_v2/spouse_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24252 Updating saved_claim to include user_account_id
  modules/income_and_assets/app/controllers/income_and_assets/v0/claims_controller.rb
  modules/income_and_assets/lib/income_and_assets/benefits_intake/submit_claim_job.rb
  modules/income_and_assets/spec/e2e_spec.rb
  modules/income_and_assets/spec/factories/income_and_assets/income_and_assets_claim.rb
  modules/income_and_assets/spec/lib/income_and_assets/benefits_intake/submit_claim_job_spec.rb
Labels: pension-income-assets, income-and-asset-benefits

#24279 sub in street2 for unit number
  modules/dependents_verification/lib/dependents_verification/pdf_fill/sections/section1.rb
  modules/dependents_verification/spec/fixtures/pdf_fill/21-0538/kitchen_sink.json
  modules/dependents_verification/spec/fixtures/pdf_fill/21-0538/overflow.json
Labels: require-backend-approval, final-review-confirmed

#24223 MHV / Refactor UHD service
  .github/CODEOWNERS
  app/serializers/lab_or_test_serializer.rb
  config/betamocks/services_config.yml
  lib/unified_health_data/README.md
  lib/unified_health_data/adapters/clinical_notes_adapter.rb
  lib/unified_health_data/adapters/lab_or_test_adapter.rb
  lib/unified_health_data/client.rb
  lib/unified_health_data/logging.rb
  lib/unified_health_data/models/lab_or_test.rb
  lib/unified_health_data/serializers/lab_or_test_serializer.rb
  lib/unified_health_data/service.rb
  modules/mobile/app/controllers/mobile/v1/labs_and_tests_controller.rb
  modules/my_health/app/controllers/my_health/v2/labs_and_tests_controller.rb
  spec/lib/unified_health_data/adapters/lab_or_test_adapter_spec.rb
  spec/lib/unified_health_data/clinical_notes_adapter_spec.rb
  spec/lib/unified_health_data/logging_spec.rb
  spec/lib/unified_health_data/service_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24076 [Claim-API-47338] Create a v1 api mapper for FES
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v1/disability_compensation_pdf_generator.rb
  modules/claims_api/app/sidekiq/claims_api/v1/form526_establishment_upload.rb
  modules/claims_api/lib/claims_api/v1/disability_compensation_fes_mapper.rb
  modules/claims_api/spec/lib/claims_api/v1/disability_compensation_fes_mapper_spec.rb
  modules/claims_api/spec/sidekiq/v1/form526_establishment_upload_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24296 API-49796 - Remove existing `RecordMetadata` model
  modules/claims_api/app/models/claims_api/record_metadata.rb
  modules/claims_api/spec/models/record_metadata_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24284 Add toggle for auth exp email verification #119265
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#24228 [10-10EZ] Remove `hca_in_progress_form_logging` feature toggle
  app/controllers/v0/health_care_applications_controller.rb
  config/features.yml
  spec/requests/v0/health_care_applications_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24266 API-48806: Remove Benefits Intake v2 API, Part 4 (`report`, `download`, and `show` Endpoints)
  modules/vba_documents/app/controllers/vba_documents/v2/reports_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/config/routes.rb
  modules/vba_documents/spec/requests/v2/uploads/reports_spec.rb
  modules/vba_documents/spec/requests/v2/uploads_spec.rb
Labels: Lighthouse, benefits-intake, banana-peels

#24232 119781: Add backup logic for date_receive for notification emails
  modules/burials/lib/burials/notification_email.rb
  modules/burials/spec/lib/burials/notification_email_spec.rb
  modules/pensions/lib/pensions/notification_email.rb
  modules/pensions/spec/lib/pensions/notification_email_spec.rb
Labels: final-review-confirmed

#24294 Use claim grouping when creating associated claims
  modules/dependents_benefits/app/controllers/dependents_benefits/v0/claims_controller.rb
  modules/dependents_benefits/lib/dependents_benefits.rb
  modules/dependents_benefits/lib/dependents_benefits/generators/README.md
  modules/dependents_benefits/lib/dependents_benefits/generators/dependent_claim_generator.rb
  modules/dependents_benefits/spec/controllers/dependents_benefits/v0/claims_controller_spec.rb
  modules/dependents_benefits/spec/factories/dependents_benefits/claim_group.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/generators/claim674_generator_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/generators/claim686c_generator_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/generators/claim_generator_integration_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/generators/dependent_claim_generator_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24197 VEBT-3077/sentry logging cleanup
  .github/CODEOWNERS
  app/controllers/v1/post911_gi_bill_statuses_controller.rb
  app/models/saved_claim/education_benefits/va_10203.rb
Labels: require-backend-approval, final-review-confirmed

#24307 Api 50141 v1 pdf mapper refactor auto claim
  modules/claims_api/lib/claims_api/v1/disability_compensation_pdf_mapper.rb
  modules/claims_api/lib/claims_api/v1/mapper_helpers/auto_claim_lookup.rb
  modules/claims_api/spec/lib/claims_api/v1/mapper_helpers/auto_claim_lookup_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24312 Minor log fixes
  modules/vaos/app/services/eps/appointment_service.rb
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24202 [118697] DisabilityCompensationFormsController uses Disability monitor
  app/controllers/v0/disability_compensation_forms_controller.rb
  lib/disability_compensation/loggers/monitor.rb
  spec/lib/disability_compensation/loggers/monitor_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24322 API-48806: Remove Benefits Intake v2 API, Part 5 (`upload` Endpoints)
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/config/routes.rb
  modules/vba_documents/spec/requests/v2/uploads/submit_spec.rb
  modules/vba_documents/spec/requests/v2/uploads_spec.rb
Labels: Lighthouse, benefits-intake, banana-peels

#24327 Updating typo in URL for SSOe get traits service
  config/identity_settings/environments/staging.yml
Labels: final-review-confirmed, exempt-be-review

#24313 [Disability Compensation Core Form Team] 112048 - add new 526 pdf poll statuses
  app/models/form526_job_status.rb
  app/sidekiq/lighthouse/poll_form526_pdf.rb
  spec/models/form526_job_status_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24289 allow direct runs of the job while periodic runs stay flagged
  app/controllers/v0/health_care_applications_controller.rb
  app/sidekiq/hca/std_institution_import_job.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/health_care_applications_spec.rb
  spec/sidekiq/hca/std_institution_import_job_spec.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review, final-review-confirmed

#24257 4759 upload supporting evidence
  config/features.yml
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/scanned_form_uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/scanned_form_processor.rb
  modules/simple_forms_api/config/routes.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/scanned_form_uploads_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#24361 Api 50173 swagger doc fixes
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24358 mobile /allrecipients returns oh flag
  modules/mobile/app/serializers/mobile/v0/all_triage_teams_serializer.rb
  modules/mobile/docs/schemas/SecureMessagingAllRecipients.yml
  spec/support/schemas_camelized/all_triage_team.json
Labels: final-review-confirmed, exempt-be-review

#24093 Dex module pdf filler
  modules/dependents_benefits/lib/dependents_benefits/pdf_fill/filler.rb
  modules/dependents_benefits/lib/dependents_benefits/pdf_fill/pdfs/21-674-V2.pdf
  modules/dependents_benefits/lib/dependents_benefits/pdf_fill/pdfs/686C-674-V2.pdf
  modules/dependents_benefits/lib/dependents_benefits/pdf_fill/va21674v2.rb
  modules/dependents_benefits/lib/dependents_benefits/pdf_fill/va686c674v2.rb
  modules/dependents_benefits/spec/fixtures/pdf_fill/21-674-V2/kitchen_sink.json
  modules/dependents_benefits/spec/fixtures/pdf_fill/21-674-V2/kitchen_sink.pdf
  modules/dependents_benefits/spec/fixtures/pdf_fill/21-674-V2/overflow.json
  modules/dependents_benefits/spec/fixtures/pdf_fill/21-674-V2/overflow.pdf
  modules/dependents_benefits/spec/fixtures/pdf_fill/21-674-V2/overflow_extras.pdf
  modules/dependents_benefits/spec/fixtures/pdf_fill/21-674-V2/simple.json
  modules/dependents_benefits/spec/fixtures/pdf_fill/21-674-V2/simple.pdf
  modules/dependents_benefits/spec/fixtures/pdf_fill/686C-674-V2/kitchen_sink.json
  modules/dependents_benefits/spec/fixtures/pdf_fill/686C-674-V2/kitchen_sink.pdf
  modules/dependents_benefits/spec/fixtures/pdf_fill/686C-674-V2/overflow.json
  modules/dependents_benefits/spec/fixtures/pdf_fill/686C-674-V2/overflow.pdf
  modules/dependents_benefits/spec/fixtures/pdf_fill/686C-674-V2/overflow_extras.pdf
  modules/dependents_benefits/spec/fixtures/pdf_fill/686C-674-V2/simple.json
  modules/dependents_benefits/spec/fixtures/pdf_fill/686C-674-V2/simple.pdf
  modules/dependents_benefits/spec/lib/dependents_benefits/pdf_fill/fill_form_examples.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/pdf_fill/filler_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24329 Adding user_account_id to ignored_columns
  app/models/saved_claim.rb
  lib/dependents/monitor.rb
  modules/pensions/lib/pensions/benefits_intake/submit_claim_job.rb
  modules/pensions/spec/factories/pension_claim.rb
  spec/services/bgs/dependent_service_spec.rb
  spec/services/bgs/dependent_v2_service_spec.rb
Labels: pension-income-assets, require-backend-approval, final-review-confirmed

#24351 Fix Dependents Benefits claim bugs
  modules/dependents_benefits/app/controllers/dependents_benefits/v0/claims_controller.rb
  modules/dependents_benefits/app/models/dependents_benefits/add_remove_dependent.rb
  modules/dependents_benefits/app/models/dependents_benefits/parent_dependency.rb
  modules/dependents_benefits/app/models/dependents_benefits/saved_claim.rb
  modules/dependents_benefits/app/models/dependents_benefits/school_attendance_approval.rb
  modules/dependents_benefits/documentation/adr/001_move_claim_generators.md
  modules/dependents_benefits/documentation/adr/002_shared_claim_validation.md
  modules/dependents_benefits/lib/dependents_benefits/claim_behavior.rb
  modules/dependents_benefits/spec/controllers/dependents_benefits/v0/claims_controller_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/generators/dependent_claim_generator_spec.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#24309 [10-10EZ] Remove logging from DeleteInProgressFormJob
  app/sidekiq/delete_in_progress_form_job.rb
  spec/sidekiq/delete_in_progress_form_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24308 [10-10EZ] Delete hca_in_progress_form_delete_async toggle
  app/controllers/v0/health_care_applications_controller.rb
  config/features.yml
  spec/requests/v0/health_care_applications_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24372 Api 50225 v1 fes mapper section 5 disabilities
  modules/claims_api/app/sidekiq/claims_api/v1/form526_establishment_upload.rb
  modules/claims_api/lib/claims_api/v1/disability_compensation_fes_mapper.rb
  modules/claims_api/spec/lib/claims_api/v1/disability_compensation_fes_mapper_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24324 118993 remove MessagesController#index endpoint
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/spec/requests/my_health/v1/messaging/folders_spec.rb
Labels: final-review-confirmed

#24344 Decision Reviews: Fix status updater bug discovered in staging testing
  modules/decision_reviews/app/sidekiq/decision_reviews/saved_claim_status_updater_job.rb
  modules/decision_reviews/spec/sidekiq/sc_status_updater_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24256 #119379 [Benefits Management Team 2] Add endpoint for failed upload evidence submissions
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/benefits_claims_controller.rb
  app/swagger/swagger/requests/benefits_claims.rb
  app/swagger/swagger/schemas/benefits_claims.rb
  config/routes.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/benefits_claims_spec.rb
  spec/support/schemas/failed_evidence_submissions.json
Labels: require-backend-approval, final-review-confirmed

#24389 VES 5442 Update Kafka status mapping for Datadog monitoring
  lib/kafka/enhanced_listener.rb
  spec/lib/kafka/enhanced_listener_spec.rb
Labels: ready-for-backend-review, require-backend-approval, ready-for-review

#24264 [#119300] Travel Pay, Mileage expense model
  modules/travel_pay/app/models/travel_pay/mileage_expense.rb
  modules/travel_pay/lib/travel_pay/constants.rb
  modules/travel_pay/spec/factories/mileage_expense.rb
  modules/travel_pay/spec/models/travel_pay/mileage_expense_spec.rb
Labels: require-backend-approval, ready-for-review

#24319 119756 dependents json schema
  Gemfile.lock
  modules/dependents_benefits/lib/dependents_benefits/claim_behavior.rb
  modules/dependents_benefits/lib/dependents_benefits/generators/claim686c_generator.rb
Labels: dependents-benefits, require-backend-approval, final-review-confirmed

#24315 Add claim group processing
  app/models/saved_claim_group.rb
  modules/dependents_benefits/lib/dependents_benefits/claim_processor.rb
  modules/dependents_benefits/spec/factories/dependents_benefits/claim_group.rb
  modules/dependents_benefits/spec/factories/dependents_benefits/dependents_claim.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/claim_processor_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/generators/dependent_claim_generator_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/monitor_spec.rb
  spec/models/saved_claim_group_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24386 120162 POST preferences/signature endpoint needs camel-case params
  app/models/messaging_signature.rb
  lib/sm/client.rb
  spec/lib/sm/client/preferences_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24404 Add my health api from code.va.gov with $text change
  modules/my_health/catalog-info.yaml
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#24371 DV | Add DataDog monitoring toggle
  config/features.yml
Labels: feature toggle, require-backend-approval, final-review-confirmed

#24321 119324 sm web separate attachment requirements for vista and oh recipients
  app/models/message.rb
  config/features.yml
  modules/my_health/app/controllers/my_health/v1/messages_controller.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/spec/requests/my_health/v1/messaging/messages_spec.rb
  spec/models/message_spec.rb
  spec/support/vcr_cassettes/sm_client/messages/creates/aws_s3_attachment_upload_pre_signed_url.yml
  spec/support/vcr_cassettes/sm_client/messages/creates/aws_s3_attachment_upload_pre_signed_url_reply.yml
Labels: require-backend-approval, final-review-confirmed

#24258 Hash the MHV Correlation ID when locking MHV sessions
  .github/CODEOWNERS
  config/features.yml
  lib/common/client/concerns/mhv_session_based_client.rb
  spec/lib/common/client/concerns/mhv_session_based_client_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24408 API-50205 - Update V2 FES mapper to handle secondary disabilities
  modules/claims_api/lib/claims_api/v2/disability_compensation_fes_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_fes_mapper_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24424 Revert "API-50205 - Update V2 FES mapper to handle secondary disabilities"
  modules/claims_api/lib/claims_api/v2/disability_compensation_fes_mapper.rb
  modules/claims_api/spec/lib/claims_api/v2/disability_compensation_fes_mapper_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#24300 community care appts log eps error responses
  modules/vaos/app/services/eps/appointment_service.rb
  modules/vaos/app/services/eps/base_service.rb
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/controllers/v2/providers_controller_spec.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/requests/vaos/v2/eps_appointments_spec.rb
  modules/vaos/spec/services/eps/base_service_spec.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24405 Update CODEOWNERS for new Health Apps contract
  .github/CODEOWNERS
Labels: require-backend-approval, final-review-confirmed

#24414 Lighthouse Payment Reconciliation Resource 2
  .github/CODEOWNERS
  lib/lighthouse/healthcare_cost_and_coverage/payment_reconciliation/service.rb
  spec/lib/lighthouse/healthcare_cost_and_coverage/payment_reconciliation/service_spec.rb
Labels: final-review-confirmed

#24457 ci: add documentation format to rspec for test visibility
  .github/workflows/code_checks.yml
Labels: require-backend-approval, final-review-confirmed

#24461 Revert "Adding date tests and pass through (#24365)"
  config/features.yml
  lib/disability_compensation/requests/form526_request_body.rb
  lib/evss/disability_compensation_form/form526_to_lighthouse_transform.rb
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/lib/disability_compensation/requests/form526_requests_body_spec.rb
  spec/lib/evss/disability_compensation_form/form526_to_lighthouse_transform_spec.rb
  spec/lib/sidekiq/form526_backup_submission_process/processor_spec.rb
Labels: require-backend-approval, final-review-confirmed
