Repository department-of-veterans-affairs/vets-api, pull requests merged in 2025-03, with the labels that each got.

#20993 [CST] "Friendly" Evidence Requests feature flipper
  config/features.yml
Labels: test-passing, require-backend-approval, BMT2, benefits-management-tools

#21039 Single Config File - Settings - Attempt 2
  .github/CODEOWNERS
  .github/workflows/settings_checks.yml
  config/application.rb
  config/initializers/add_local_config.rb
  config/initializers/config.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  rakelib/config_settings.rake
Labels: test-passing, require-backend-approval

#20889 API-45159-update-shared-serializer
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
Labels: claimsApi, test-passing, require-backend-approval

#21006 Api 45118 update oas tes data ref
  modules/claims_api/app/swagger/claims_api/description/v1.md
  modules/claims_api/app/swagger/claims_api/description/v2.md
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
Labels: claimsApi, test-passing

#20894 Add section headers to PDF overflow page
  lib/pdf_fill/extras_generator.rb
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/form_base.rb
  lib/pdf_fill/forms/va210781v2.rb
  lib/pdf_fill/hash_converter.rb
  spec/fixtures/pdf_fill/21-0781V2/overflow_redesign_extras.pdf
  spec/lib/pdf_fill/extras_generator_spec.rb
  spec/lib/pdf_fill/hash_converter_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#21040 Revert "Single Config File - Settings - Attempt 2"
  .github/CODEOWNERS
  .github/workflows/settings_checks.yml
  config/application.rb
  config/initializers/add_local_config.rb
  config/initializers/config.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  rakelib/config_settings.rake
Labels: test-failure, test-passing, require-backend-approval

#20948 Champva 101071 enhance pdf stamping with error handling
  modules/ivc_champva/app/services/ivc_champva/pdf_stamper.rb
  modules/ivc_champva/lib/ivc_champva/monitor.rb
  modules/ivc_champva/spec/services/monitor_spec.rb
  modules/ivc_champva/spec/services/pdf_stamper_spec.rb
Labels: test-passing, require-backend-approval

#20800 Update - handling metadata with incorrect keys
  modules/va_notify/lib/va_notify/default_callback.rb
  modules/va_notify/spec/lib/default_callback_spec.rb
Labels: test-passing, require-backend-approval

#21005 104036 - Update unit tests for Missing Form Status Job - IVC CHAMPVA forms
  modules/ivc_champva/app/jobs/ivc_champva/missing_form_status_job.rb
  modules/ivc_champva/spec/jobs/missing_form_status_job_spec.rb
Labels: test-passing, require-backend-approval

#21022 [10-10EZ] Add new hca_download_completed_pdf toggle
  config/features.yml
Labels: test-passing, require-backend-approval

#21047 Resolve bundle audit error - URI gem update
  Gemfile.lock
Labels: test-failure, test-passing, require-backend-approval

#21045 Single Config File - Settings - Attempt 3
  .github/CODEOWNERS
  .github/workflows/settings_checks.yml
  config/application.rb
  config/initializers/add_local_config.rb
  config/initializers/config.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/production.yml
  config/settings/test.yml
  rakelib/config_settings.rake
Labels: ready-for-backend-review, test-passing, require-backend-approval

#21048 Include FactoryBot::Syntax::Methods
  spec/rails_helper.rb
Labels: test-passing, require-backend-approval

#20969 [10-10EZ] Remove retry_form_validation toggle logic
  app/models/health_care_application.rb
  spec/models/health_care_application_spec.rb
Labels: test-passing, require-backend-approval

#20996 Removes Feature Flag references
  app/models/concerns/form526_claim_fast_tracking_concern.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/virtual_regional_office/client.rb
  spec/lib/virtual_regional_office/client_spec.rb
  spec/lib/virtual_regional_office/integration/client_spec.rb
  spec/sidekiq/evss/disability_compensation_form/submit_form526_all_claim_spec.rb
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification.yml
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification_failure.yml
  spec/support/vcr_cassettes/virtual_regional_office/contention_classification_null_response.yml
  spec/support/vcr_cassettes/virtual_regional_office/expanded_classification.yml
  spec/support/vcr_cassettes/virtual_regional_office/fully_classified_contention_classification.yml
  spec/support/vcr_cassettes/virtual_regional_office/multi_contention_classification.yml
Labels: test-passing, require-backend-approval

#20839 [VACMS-20390]Limit Banner Update all retries when failing to fetch valid data
  modules/banners/app/sidekiq/banners/update_all_job.rb
  modules/banners/spec/sidekiq/banners_update_all_job_spec.rb
Labels: test-passing, require-backend-approval

#20757 Dex multiple 674 bgs models
  app/models/bgs_dependents/adult_child_attending_school.rb
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/child.rb
  app/models/bgs_dependents/child_school.rb
  app/models/bgs_dependents/child_student.rb
  app/models/bgs_dependents/death.rb
  app/models/bgs_dependents/divorce.rb
  app/models/bgs_dependents/marriage_history.rb
  app/models/bgs_dependents/spouse.rb
  lib/bgs/children.rb
  lib/bgs/dependent_higher_ed_attendance.rb
  lib/bgs/dependents.rb
  lib/bgs/form674.rb
  lib/bgs/student_school.rb
  spec/factories/686c/adopted_child_lives_with_veteran.rb
  spec/factories/686c/form_674_only.rb
  spec/factories/686c/form_686c_674.rb
  spec/factories/686c/spouse.rb
  spec/factories/686c/step_child_lives_with_veteran.rb
  spec/lib/bgs/children_spec.rb
  spec/lib/bgs/dependent_higher_ed_attendance_spec.rb
  spec/lib/bgs/dependents_spec.rb
  spec/lib/bgs/form674_spec.rb
  spec/lib/bgs/form686c_spec.rb
  spec/lib/bgs/marriages_spec.rb
  spec/lib/bgs/student_school_spec.rb
  spec/lib/bgs/vnp_veteran_spec.rb
  spec/models/bgs_dependents/adult_child_attending_school_spec.rb
  spec/models/bgs_dependents/base_spec.rb
  spec/models/bgs_dependents/child_marriage_spec.rb
  spec/models/bgs_dependents/child_school_spec.rb
  spec/models/bgs_dependents/child_spec.rb
  spec/models/bgs_dependents/child_stopped_attending_school_spec.rb
  spec/models/bgs_dependents/child_student_spec.rb
  spec/models/bgs_dependents/death_spec.rb
  spec/models/bgs_dependents/divorce_spec.rb
  spec/models/bgs_dependents/marriage_history_spec.rb
  spec/models/bgs_dependents/relationship_spec.rb
  spec/models/bgs_dependents/spouse_spec.rb
  spec/models/bgs_dependents/step_child_spec.rb
  spec/models/bgs_dependents/veteran_spec.rb
Labels: test-passing, require-backend-approval

#21051 Include FactoryBot::Syntax::Methods for decision_review specs
  modules/decision_reviews/spec/dr_spec_helper.rb
Labels: require-backend-approval

#20985 Vebt 1040 - 10215 Backend (Set up architecture, save to database, rspec)
  .github/CODEOWNERS
  app/models/education_benefits_claim.rb
  app/models/form_profiles/va_10215.rb
  app/models/saved_claim/education_benefits/va_10215.rb
  app/sidekiq/education_form/create_daily_fiscal_year_to_date_report.rb
  app/sidekiq/education_form/create_daily_year_to_date_report.rb
  app/sidekiq/education_form/forms/va_10215.rb
  spec/factories/va10215.rb
  spec/fixtures/education_benefits_claims/10215/minimal.json
  spec/models/education_benefits_claim_spec.rb
  spec/models/saved_claim/education_benefits/va10215_spec.rb
Labels: test-passing, require-backend-approval

#20937 VEBT-1243 - Fix 10216 PDF download button
  app/controllers/v0/education_benefits_claims_controller.rb
Labels: test-passing, require-backend-approval

#20921 102639 One debt letter endpoint
  modules/debts_api/app/assets/documents/one_debt_letter_legal_content.pdf
  modules/debts_api/app/assets/images/va_logo.png
  modules/debts_api/app/controllers/debts_api/v0/one_debt_letters_controller.rb
  modules/debts_api/config/routes.rb
  modules/debts_api/lib/debts_api/v0/one_debt_letter_service.rb
  modules/debts_api/spec/lib/debt_api/v0/one_debt_letter_service_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/one_debt_letters_spec.rb
Labels: test-passing, require-backend-approval

#21057 Included FactoryBot::Syntax::Methods in modules/claims_api specs
  modules/claims_api/spec/rails_helper.rb
Labels: test-passing

#21033 Handle Flipper UI actions for instrumentation
  modules/vaos/config/initializers/flipper.rb
Labels: test-passing, require-backend-approval

#21056 Mock flippers for VAOS appointment specs
  modules/mobile/spec/requests/mobile/v0/appointments/cancel_spec.rb
  modules/mobile/spec/requests/mobile/v0/appointments/create_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#20849 Add token authentication to CCRA referral service
  config/redis.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/vaos/app/services/ccra/base_service.rb
  modules/vaos/app/services/ccra/configuration.rb
  modules/vaos/app/services/common/jwt_wrapper.rb
  modules/vaos/app/services/concerns/token_authentication.rb
  modules/vaos/app/services/eps/base_service.rb
  modules/vaos/spec/services/ccra/base_service_spec.rb
  modules/vaos/spec/services/ccra/referral_service_spec.rb
  modules/vaos/spec/services/common/jwt_wrapper_spec.rb
  modules/vaos/spec/services/concerns/token_authentication_spec.rb
  modules/vaos/spec/services/eps/base_service_spec.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/vaos/ccra/post_get_referral_error.yml
  spec/support/vcr_cassettes/vaos/ccra/post_get_referral_not_found.yml
  spec/support/vcr_cassettes/vaos/ccra/post_get_referral_success.yml
  spec/support/vcr_cassettes/vaos/ccra/post_referral_list_empty.yml
  spec/support/vcr_cassettes/vaos/ccra/post_referral_list_error.yml
  spec/support/vcr_cassettes/vaos/ccra/post_referral_list_success.yml
  spec/support/vcr_cassettes/vaos/concerns/token/token_200.yml
  spec/support/vcr_cassettes/vaos/concerns/token/token_400.yml
Labels: test-passing, require-backend-approval

#21055 [CST] [ZSF] Removed incorrect second parameter from StatsdD.increment
  app/sidekiq/lighthouse/evidence_submissions/delete_evidence_submission_records_job.rb
  spec/sidekiq/lighthouse/evidence_submissions/delete_evidence_submission_records_job_spec.rb
Labels: Claim Status Tool, test-passing, require-backend-approval, zero-silent-failures

#20920 102813 check for existing appointment before creating draft
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_v2.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_partial_error.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_partial_error_v2.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_partial_errors.yml
  spec/support/vcr_cassettes/vaos/v2/appointments/get_appointments_200_with_partial_errors_v2.yml
Labels: test-passing, require-backend-approval

#20999 98780 redis client referral data
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/vaos/app/services/eps/redis_client.rb
  modules/vaos/spec/services/eps/redis_client_spec.rb
Labels: test-passing, require-backend-approval

#20956 [VI-866] User Action Event creation
  .github/CODEOWNERS
  app/sidekiq/user_action_events_cleanup_job.rb
  app/sidekiq/user_actions_cleanup_job.rb
  config/audit_log/user_action_events.yml
  db/seeds/development.rb
  lib/periodic_jobs.rb
  spec/sidekiq/user_action_events_cleanup_job_spec.rb
  spec/sidekiq/user_actions_cleanup_job_spec.rb
Labels: test-passing, require-backend-approval

#21060 [CST] [ZSF] Added additional logging around Evidence Submission record creation
  app/services/evss_claim_service.rb
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/lighthouse/evidence_submissions/document_upload.rb
  lib/lighthouse/benefits_documents/service.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
  spec/services/evss_claim_service_spec.rb
  spec/sidekiq/evss/document_upload_spec.rb
  spec/sidekiq/lighthouse/evidence_submissions/document_upload_spec.rb
Labels: Claim Status Tool, ready-for-backend-review, test-passing, require-backend-approval, zero-silent-failures

#21053 Lowercase ENV in settings.yml
  config/application.rb
  config/initializers/config.rb
  config/settings.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#21037 100844 Silent Error mailer template value update
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
Labels: test-passing, require-backend-approval

#21064 switch to lowercase ENVs
  config/settings.yml
Labels: test-failure, audit-service-failure, test-passing, require-backend-approval, settings-failure

#21052 [10-10EZ/10-10CG] Delete retry_form_validation toggle
  config/features.yml
Labels: test-passing, require-backend-approval

#21067 Fix s3 bucket for ivc_forms
  config/settings.yml
Labels: ready-for-backend-review, test-passing, require-backend-approval

#21070 Bump gha runner image to ubuntu-22.04
  .github/workflows/build.yml
  .github/workflows/deploy-template.yml
  .github/workflows/labeler.yml
Labels: test-failure, test-passing, require-backend-approval

#21029 API-43728-req-rep-doc-cleanup
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/app/swagger/claims_api/v2/production/swagger.json
  modules/claims_api/config/schemas/v2/poa_request.json
Labels: claimsApi, test-passing

#21007 API-45235-fix-terminate-req-when-empty
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/terminate_existing_requests.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/terminate_existing_requests_spec.rb
Labels: claimsApi, test-failure, test-passing

#21073 Fix accredited_representative_portal/allow_list settings
  config/settings.yml
Labels: test-failure, test-passing, require-backend-approval

#20953 Added service logging for CCRA referral service
  modules/vaos/app/services/ccra/configuration.rb
  modules/vaos/app/services/ccra/middleware/ccra_logging.rb
  modules/vaos/app/services/common/middleware/base_logging.rb
  modules/vaos/app/services/eps/middleware/eps_logging.rb
  modules/vaos/spec/services/ccra/middleware/ccra_logging_spec.rb
  modules/vaos/spec/services/common/middleware/base_logging_spec.rb
  modules/vaos/spec/services/eps/middleware/eps_logging_spec.rb
  modules/vaos/spec/services/middleware/eps_logging_spec.rb
Labels: test-passing, require-backend-approval

#20770 Add submit date to form header for 0781 Overflow Redesign
  lib/pdf_fill/extras_generator.rb
  lib/pdf_fill/filler.rb
  spec/fixtures/pdf_fill/21-0781V2/overflow_redesign_extras.pdf
  spec/lib/pdf_fill/extras_generator_spec.rb
Labels: test-passing, require-backend-approval

#21046 Fixed validation bug when no treatment date objects are not supplied
  modules/appeals_api/app/models/concerns/appeals_api/model_validations.rb
  modules/appeals_api/spec/factories/supplemental_claims.rb
  modules/appeals_api/spec/fixtures/decision_reviews/v2/pdfs/v4/expected_200995_no_treatment_dates.pdf
  modules/appeals_api/spec/fixtures/decision_reviews/v2/valid_200995_no_treatment_dates.json
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
Labels: Lighthouse, banana-peels, ready-for-backend-review, test-passing, require-backend-approval

#21078 fix: require IntentToFilesResponse to resolve error
  spec/serializers/intent_to_file_serializer_spec.rb
Labels: test-passing, require-backend-approval

#21059 Attempting to fix more flakey specs
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/form21a_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/in_progress_forms_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
  modules/appeals_api/spec/lib/health_checker_spec.rb
  modules/appeals_api/spec/services/appeals_api/central_mail_updater_spec.rb
  modules/appeals_api/spec/sidekiq/higher_level_review_upload_status_updater_spec.rb
  modules/appeals_api/spec/sidekiq/notice_of_disagreement_upload_status_batch_spec.rb
  modules/appeals_api/spec/sidekiq/notice_of_disagreement_upload_status_updater_spec.rb
  modules/appeals_api/spec/sidekiq/pdf_submit_job_spec.rb
  modules/appeals_api/spec/sidekiq/supplemental_claim_upload_status_updater_spec.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v1/forms/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122a_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/power_of_attorney_request_spec.rb
  modules/mobile/spec/requests/mobile/v0/appointments/facilities/clinics_spec.rb
  modules/mobile/spec/requests/mobile/v0/appointments/vaos_v2_spec.rb
  modules/mobile/spec/requests/mobile/v2/user_spec.rb
  modules/mobile/spec/sidekiq/legacy_pre_cache_claims_and_appeals_job_spec.rb
  modules/travel_pay/spec/requests/travel_pay/claims_spec.rb
  modules/vaos/spec/requests/vaos/v2/community_care/eligibility_spec.rb
  modules/vaos/spec/requests/vaos/v2/eligibility_spec.rb
  modules/vaos/spec/requests/vaos/v2/facilities_spec.rb
  modules/vaos/spec/requests/vaos/v2/locations/slots_spec.rb
  modules/vaos/spec/requests/vaos/v2/scheduling/configurations_spec.rb
  modules/vaos/spec/services/user_service_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/patients_service_spec.rb
  modules/vaos/spec/services/v2/systems_service_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/requests/v0/caregivers_assistance_claims_spec.rb
Labels: test-passing, require-backend-approval

#21089 Simple Forms email notifications do not symbolize form data keys
  app/models/form_submission_attempt.rb
  app/sidekiq/simple_forms_api/notification/send_notification_email_job.rb
  spec/factories/form_submission_attempts.rb
  spec/factories/form_submissions.rb
  spec/models/form_submission_attempt_spec.rb
  spec/sidekiq/simple_forms_api/notification/send_notification_email_job_spec.rb
Labels: test-passing, require-backend-approval

#21093 [CST] [ZSF] Resolved edge case bug with turning on ff cst_send_evidence_submission_failure_emails
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/lighthouse/evidence_submissions/document_upload.rb
  spec/sidekiq/evss/document_upload_spec.rb
  spec/sidekiq/lighthouse/evidence_submissions/document_upload_spec.rb
Labels: Claim Status Tool, test-passing, require-backend-approval, zero-silent-failures

#21025 [104070] Migration for new poa withdrawals - Part 1
  db/schema.rb
  modules/accredited_representative_portal/db/migrate/20250227192104_create_ar_power_of_attorney_request_withdrawals.rb
Labels: appoint-a-representative, test-failure, test-passing, require-backend-approval

#20747 [ARP POA Submission] (#3) Decision Creation Controller Action (#101919)
  config/settings/test.yml
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/application_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_request_decisions_controller.rb
  modules/accredited_representative_portal/app/controllers/concerns/accredited_representative_portal/power_of_attorney_requests.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_form_submission.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_decision.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_resolution.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/power_of_attorney_request_service/accept.rb
  modules/accredited_representative_portal/config/routes.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec.rb
  spec/support/vcr_cassettes/accredited_representative_portal/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec/202_response.yml
  spec/support/vcr_cassettes/accredited_representative_portal/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec/404_response.yml
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#20730 Adds v2 mapping for 21-674
  app/models/form_profiles/va_686c674v2.rb
  app/models/saved_claim/dependency_claim.rb
  app/sidekiq/vbms/submit_dependents_pdf_job.rb
  lib/pdf_fill/filler.rb
  lib/pdf_fill/forms/form_helper.rb
  lib/pdf_fill/forms/pdfs/21-674-V2.pdf
  lib/pdf_fill/forms/pdfs/686C-674-V2.pdf
  lib/pdf_fill/forms/va21674v2.rb
  lib/pdf_fill/forms/va686c674v2.rb
  spec/factories/dependency_claim.rb
  spec/fixtures/pdf_fill/21-674-V2/kitchen_sink.json
  spec/fixtures/pdf_fill/21-674-V2/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-674-V2/overflow.json
  spec/fixtures/pdf_fill/21-674-V2/overflow.pdf
  spec/fixtures/pdf_fill/21-674-V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-674-V2/simple.json
  spec/fixtures/pdf_fill/21-674-V2/simple.pdf
  spec/fixtures/pdf_fill/686C-674-V2/kitchen_sink.json
  spec/fixtures/pdf_fill/686C-674-V2/kitchen_sink.pdf
  spec/fixtures/pdf_fill/686C-674-V2/overflow.json
  spec/fixtures/pdf_fill/686C-674-V2/overflow.pdf
  spec/fixtures/pdf_fill/686C-674-V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/686C-674-V2/simple.json
  spec/fixtures/pdf_fill/686C-674-V2/simple.pdf
  spec/fixtures/pdf_fill/686C-674-V2/tester.pdf
  spec/lib/pdf_fill/fill_form_examples.rb
  spec/lib/pdf_fill/filler_spec.rb
  spec/sidekiq/vbms/submit_dependents_pdf_job_spec.rb
Labels: test-passing, require-backend-approval

#21063 103965 add email to orchestrator for digital submission
  modules/representation_management/app/controllers/representation_management/v0/power_of_attorney_requests_controller.rb
  modules/representation_management/app/services/representation_management/power_of_attorney_request_service/orchestrate.rb
  modules/representation_management/spec/services/power_of_attorney_request_service/orchestrate_spec.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#20895 Adding a Kafka producer for sending events to the Event Bus
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  app/sidekiq/kafka/example_job.rb
  config/features.yml
  config/initializers/sidekiq.rb
  config/puma.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/kafka/avro_producer.rb
  lib/kafka/oauth_token_refresher.rb
  lib/kafka/producer_manager.rb
  lib/kafka/schemas/test-value-1.avsc
  spec/lib/kafka/avro_producer_spec.rb
Labels: test-passing, require-backend-approval

#21028 Add error logging for SendNotificationEmailJob
  app/sidekiq/simple_forms_api/notification/send_notification_email_job.rb
  spec/sidekiq/simple_forms_api/notification/send_notification_email_job_spec.rb
Labels: test-passing, require-backend-approval

#21049 added form 10-7959a pagerduty service to settings.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
Labels: test-failure, require-backend-approval

#21024 253 | mobile vshe connection
  modules/mobile/app/controllers/mobile/v0/vet_verification_statuses_controller.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/openapi.json
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/VetVerificationStatus.yml
  modules/mobile/spec/requests/mobile/v0/vet_verification_statuses_spec.rb
Labels: test-passing

#21010 Burial 103348 Refactor Burial LH submission job
  app/controllers/v0/burial_claims_controller.rb
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
  modules/burials/README.md
  modules/burials/app/controllers/burials/v0/claims_controller.rb
  modules/burials/app/sidekiq/burials/.gitkeep
  modules/burials/documentation/readme.md
  modules/burials/lib/burials/benefits_intake/submit_claim_job.rb
  modules/burials/lib/burials/monitor.rb
  modules/burials/spec/factories/saved_claim.rb
  modules/burials/spec/lib/burials/benefits_intake/submit_claim_job_spec.rb
  modules/burials/spec/lib/burials/monitor_spec.rb
  spec/controllers/v0/burial_claims_controller_spec.rb
  spec/factories/burial_claim.rb
  spec/factories/persistent_attachments/pension_burial.rb
  spec/sidekiq/lighthouse/submit_benefits_intake_claim_spec.rb
Labels: burial-benefits, test-passing, require-backend-approval

#21002 Api 45300 add log tags in prod
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
Labels: claimsApi, test-passing, require-backend-approval

#21042 Remove feature toggle - veteran_onboarding_contact_info_flow
  config/features.yml
Labels: test-failure, test-passing, require-backend-approval

#21058 Remove feature toggle for VRE enabling call to RES service
  .rubocop_todo.yml
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  config/features.yml
  lib/vre/ch31_form.rb
  lib/vre/configuration.rb
  lib/vre/errors/ch31_errors.rb
  lib/vre/service.rb
  spec/lib/vre/ch31_form_spec.rb
  spec/lib/vre/monitor_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#21061 Add feature toggles for route guards and appointment conflicts
  config/features.yml
Labels: test-passing, require-backend-approval

#21036 Remove max ratings api switch ff
  app/models/form_profiles/va_526ez.rb
  app/services/claim_fast_tracking/max_rating_annotator.rb
  spec/models/form_profile_spec.rb
  spec/models/form_profile_v2_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_spec.rb
  spec/services/claim_fast_tracking/max_rating_annotator_spec.rb
Labels: test-passing, require-backend-approval

#21071 chore: update Actions to use latest Ubuntu
  .github/workflows/build.yml
  .github/workflows/danger.yml
  .github/workflows/deploy-template.yml
  .github/workflows/labeler.yml
Labels: test-passing, require-backend-approval

#21090 Dex pass user to 674
  app/services/bgs/dependent_service.rb
  app/sidekiq/bgs/submit_form674_job.rb
  app/sidekiq/bgs/submit_form686c_job.rb
  lib/bgs/form674.rb
  spec/controllers/v0/dependents_applications_controller_spec.rb
  spec/lib/bgs/form674_spec.rb
  spec/requests/swagger_spec.rb
  spec/services/bgs/dependent_service_spec.rb
  spec/sidekiq/bgs/submit_form674_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_job_spec.rb
Labels: test-passing, require-backend-approval

#21109 Update Rack version, fix bundle audit
  Gemfile
  Gemfile.lock
Labels: ready-for-backend-review, test-passing, require-backend-approval

#21087 Remove old V0 Decision Review service
  app/controllers/appeals_base_controller.rb
  lib/decision_review/service.rb
  lib/decision_review/service_exception.rb
  modules/appeals_api/app/controllers/appeals_api/v0/appeals_controller.rb
  spec/lib/decision_review/service_spec.rb
Labels: test-passing, require-backend-approval

#20971 #101385 cleanup dr services
  lib/decision_review_v1/configuration.rb
  lib/decision_review_v1/service.rb
  lib/decision_review_v1/service_exception.rb
  lib/decision_review_v1/utilities/helpers.rb
  modules/decision_reviews/app/controllers/decision_reviews/v1/appeals_base_controller.rb
  modules/decision_reviews/app/sidekiq/decision_reviews/saved_claim_status_updater_job.rb
  modules/decision_reviews/lib/decision_reviews/v1/configuration.rb
  modules/decision_reviews/lib/decision_reviews/v1/service.rb
  modules/decision_reviews/lib/decision_reviews/v1/service_exception.rb
  modules/decision_reviews/lib/decision_reviews/v1/supplemental_claim_services.rb
  modules/decision_reviews/spec/lib/v1/service_spec.rb
  modules/decision_reviews/spec/requests/v1/supplemental_claims_spec.rb
  modules/decision_reviews/spec/sidekiq/failure_notification_email_job_spec.rb
  modules/decision_reviews/spec/sidekiq/submit_upload_spec.rb
  modules/decision_reviews/spec/support/engine_shared_examples_for_status_updater_jobs.rb
  spec/lib/decision_review_v1/service_spec.rb
Labels: test-passing, require-backend-approval

#21113 Write to log before sending to slack
  modules/claims_api/app/sidekiq/claims_api/va_notify_accepted_job.rb
  modules/claims_api/app/sidekiq/claims_api/va_notify_declined_job.rb
  modules/claims_api/app/sidekiq/claims_api/va_notify_follow_up_job.rb
Labels: Lighthouse, claimsApi, test-passing

#21032 103017 fix champva test
  modules/ivc_champva/spec/services/s3_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#21068 Added feature toggle for ezr route guard
  config/features.yml
Labels: test-failure, test-passing, require-backend-approval

#21081 Travel Pay / Sentence case claim statuses
  app/swagger/swagger/schemas/travel_pay.rb
  modules/travel_pay/app/services/travel_pay/claim_association_service.rb
  modules/travel_pay/app/services/travel_pay/claims_service.rb
  modules/travel_pay/spec/services/claims_association_service_spec.rb
  modules/travel_pay/spec/services/claims_service_spec.rb
Labels: test-passing, require-backend-approval

#20975 Add MHV UHD service
  config/betamocks/services_config.yml
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/unified_health_data/configuration.rb
  lib/unified_health_data/models/lab_or_test.rb
  lib/unified_health_data/service.rb
  modules/mobile/app/controllers/mobile/v1/labs_and_tests_controller.rb
  modules/mobile/app/serializers/mobile/v1/lab_or_test_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/spec/requests/mobile/v1/health/labs_and_tests_controller_spec.rb
  modules/mobile/spec/support/fixtures/labs_and_tests_response.json
  spec/support/vcr_cassettes/mobile/unified_health_data/get_labs.yml
Labels: test-passing, require-backend-approval

#21121 Replaced mobile_v2_contact_info with remove pciu flipper.
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/services/mobile/v0/profile/sync_update_service.rb
  modules/mobile/app/sidekiq/mobile/v0/vet360_linking_job.rb
  modules/mobile/spec/requests/mobile/v0/user/addresses_spec.rb
  modules/mobile/spec/requests/mobile/v0/user/emails_spec.rb
  modules/mobile/spec/requests/mobile/v0/user/phones_spec.rb
  modules/mobile/spec/requests/mobile/v0/user_spec.rb
  modules/mobile/spec/requests/mobile/v1/user_spec.rb
  modules/mobile/spec/services/sync_update_service_spec.rb
  modules/mobile/spec/sidekiq/vet360_linking_spec.rb
Labels: test-passing, require-backend-approval

#21075 Add migration for POA Request notification model
  db/migrate/20250304165503_create_ar_power_of_attorney_request_notifications.rb
  db/schema.rb
Labels: test-passing, require-backend-approval

#21122 Resolve build error for yq new ubuntu version
  .github/workflows/deploy-template.yml
Labels: test-passing, require-backend-approval

#20968 [10-10EZ] Add download_pdf endpoint for 10-10EZ
  app/controllers/v0/health_care_applications_controller.rb
  app/swagger/swagger/requests/health_care_applications.rb
  config/routes.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/health_care_applications_spec.rb
Labels: test-passing, require-backend-approval

#21091 [#2179] Clean up appeals, decision letters, and ratings controllers
  .github/CODEOWNERS
  app/controllers/v0/virtual_agent/virtual_agent_appeal_controller.rb
  app/controllers/v0/virtual_agent_claim_letters_controller.rb
  config/routes.rb
  spec/controllers/v0/virtual_agent/virtual_agent_appeal_spec.rb
  spec/controllers/v0/virtual_agent_claim_letters_controller_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#21103 API-45450-bug-fix-request-index
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/index.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/index_spec.rb
Labels: claimsApi, test-passing

#21043 API-45228: Update Lighthouse Decision Reviews v2 API Healthcheck and Docs Routes
  modules/appeals_api/.bruno_appeals_api/decision_reviews v2/Docs.bru
  modules/appeals_api/.bruno_appeals_api/decision_reviews v2/Healthcheck.bru
  modules/appeals_api/.bruno_appeals_api/decision_reviews v2/Upstream Healthcheck.bru
  modules/appeals_api/app/controllers/appeals_api/metadata_controller.rb
  modules/appeals_api/catalog-info.yaml
  modules/appeals_api/config/routes.rb
  modules/appeals_api/spec/requests/appeals_api/api_docs_request_spec.rb
  modules/appeals_api/spec/requests/appeals_api/metadata_request_spec.rb
Labels: Lighthouse, banana-peels, test-passing, require-backend-approval

#21008 #103935 [10-10EZR][Prefill]: Add more prefill data to EZR `FormProfile` and include financial data in form profile data
  config/features.yml
  config/form_profile_mappings/10-10EZR.yml
  lib/hca/enrollment_eligibility/service.rb
  spec/fixtures/form1010_ezr/veteran_data.json
  spec/lib/hca/enrollment_eligibility/service_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/form_profile_v2_spec.rb
  spec/support/vcr_cassettes/form1010_ezr/lookup_user_with_ezr_prefill_data.yml
Labels: test-passing, require-backend-approval

#21099 1492: do not retry 1095b ingestion job
  app/sidekiq/form1095/new1095_bs_job.rb
Labels: test-passing, require-backend-approval

#21129 Restored the count parameter used for logging to statsd which records got deleted
  app/sidekiq/lighthouse/evidence_submissions/delete_evidence_submission_records_job.rb
  spec/sidekiq/lighthouse/evidence_submissions/delete_evidence_submission_records_job_spec.rb
Labels: Claim Status Tool, test-passing, require-backend-approval, zero-silent-failures

#21086 Burial 99564: Remove non module code and flipper logic
  .github/CODEOWNERS
  app/controllers/v0/burial_claims_controller.rb
  app/models/form_profile.rb
  app/models/form_profiles/va_21p530ez.rb
  app/swagger/swagger/requests/burial_claims.rb
  config/features.yml
  config/routes.rb
  modules/burials/app/controllers/burials/v0/claims_controller.rb
  modules/burials/spec/controllers/v0/claims_controller_spec.rb
  spec/controllers/v0/burial_claims_controller_spec.rb
  spec/models/form_profile_spec.rb
  spec/requests/swagger_spec.rb
Labels: test-passing, require-backend-approval

#21137 Stub setting so it doesn't affect other specs
  spec/sidekiq/education_form/create_daily_spool_files_spec.rb
Labels: test-passing, require-backend-approval

#21136 Downcase Kafka producer env vars
  config/settings.yml
Labels: test-passing, require-backend-approval

#21141 Stub Settings in create_daily_spool_files_spec
  spec/sidekiq/education_form/create_daily_spool_files_spec.rb
Labels: require-backend-approval

#21085 Update S3 region and email template environment variables in settings file - IVC CHAMPVA forms
  config/settings.yml
Labels: test-passing, require-backend-approval

#21092 Update missing form status job to inspect batches rather than individual records - IVC CHAMPVA
  modules/ivc_champva/app/jobs/ivc_champva/missing_form_status_job.rb
  modules/ivc_champva/spec/jobs/missing_form_status_job_spec.rb
Labels: test-passing, require-backend-approval

#21128 Replaced pciu_address with va_profile_address variable name in DataTr…
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
Labels: test-passing, require-backend-approval

#20685 [MHV-66349] create tooltip endpoints.
  .github/CODEOWNERS
  app/models/tooltip.rb
  app/models/user_account.rb
  modules/my_health/app/controllers/my_health/v1/tooltips_controller.rb
  modules/my_health/config/routes.rb
  spec/factories/tooltips.rb
  spec/models/tooltip_spec.rb
Labels: test-passing, require-backend-approval

#21009 [CST] Adds new fields to claim tracked item response for more readability
  lib/lighthouse/benefits_claims/service.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/controllers/v0/virtual_agent/virtual_agent_claim_status_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/show/200_response.yml
Labels: test-passing, require-backend-approval, BMT2, benefits-management-tools

#21116 [104070] Enforce only one active poa request
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_resolution.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_withdrawal.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/power_of_attorney_request_service/create.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request_resolution.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request_withdrawal.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_request_withdrawal_spec.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/power_of_attorney_request_service/create_spec.rb
Labels: test-passing, require-backend-approval

#21000 102640 Financial Management One Debt Letter Header
  modules/debts_api/lib/debts_api/v0/one_debt_letter_service.rb
  modules/debts_api/spec/lib/debt_api/v0/one_debt_letter_service_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/one_debt_letters_spec.rb
Labels: test-passing, require-backend-approval

#21120 [SIMPLE-FORMS] fix: update send notification email job to account for perform_async args
  app/models/form_submission_attempt.rb
  app/sidekiq/simple_forms_api/notification/send_notification_email_job.rb
  spec/models/form_submission_attempt_spec.rb
  spec/sidekiq/simple_forms_api/notification/send_notification_email_job_spec.rb
Labels: test-passing, require-backend-approval

#21152 Add feature toggle, for consumption by vets-website
  config/features.yml
Labels: test-passing, require-backend-approval

#21156 [SIMPLE-FORMS] fix: add logic and supporting tests for user email support
  modules/simple_forms_api/app/services/simple_forms_api/notification/email.rb
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_20_10207-third-party-non-veteran.json
  modules/simple_forms_api/spec/fixtures/form_json/vba_20_10207-third-party-veteran.json
  modules/simple_forms_api/spec/services/notification/email_spec.rb
Labels: test-passing, require-backend-approval

#21144 Changing schema file name to match Event Bus topic for testing
  lib/kafka/schemas/submission_trace_mock_dev-value-1.avsc
  spec/lib/kafka/avro_producer_spec.rb
Labels: test-passing, require-backend-approval

#21088 [VI-1119] - Create IdentitySettings
  .github/CODEOWNERS
  .gitignore
  config/identity_settings/environments/dev.yml
  config/identity_settings/environments/localhost.yml
  config/identity_settings/environments/production.yml
  config/identity_settings/environments/staging.yml
  config/identity_settings/settings.yml
  config/initializers/identity_config.rb
Labels: test-passing, require-backend-approval

#21102 [ARP] Disable non-POA request routes outside development and test
  modules/accredited_representative_portal/config/routes.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#20950 [ARP Allowist] (#5) `RepresentativeUserAccount`
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_holder.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user_account.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/user_account_accredited_individual.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/application_policy.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/power_of_attorney_request_decision_policy.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/power_of_attorney_request_policy.rb
  modules/accredited_representative_portal/spec/lib/tasks/staging_seed_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_holder_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/representative_user_account_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/representative_user_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/user_account_accredited_individual_spec.rb
  modules/accredited_representative_portal/spec/policies/accredited_representative_portal/power_of_attorney_request_policy_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#20885 Add BPDS API service class
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/bpds/README.md
  lib/bpds/configuration.rb
  lib/bpds/jwt_encoder.rb
  lib/bpds/monitor.rb
  lib/bpds/service.rb
  spec/lib/bpds/configuration_spec.rb
  spec/lib/bpds/monitor_spec.rb
  spec/lib/bpds/service_spec.rb
Labels: pension-benefits, test-passing, require-backend-approval, pension-bpds

#21161 API-45520 Fix structure of VANotify recipient_identifier arg
  modules/claims_api/app/sidekiq/claims_api/va_notify_accepted_job.rb
  modules/claims_api/app/sidekiq/claims_api/va_notify_declined_job.rb
  modules/claims_api/spec/sidekiq/va_notify_accepted_job_spec.rb
  modules/claims_api/spec/sidekiq/va_notify_declined_job_spec.rb
Labels: claimsApi, test-passing

#21143 EDM/update-response-headers-lcpe-caching
  app/controllers/v1/gids/lcpe/exams_controller.rb
  app/controllers/v1/gids/lcpe/lacs_controller.rb
  app/controllers/v1/gids/lcpe_controller.rb
  app/models/lcpe_redis.rb
  lib/gi/lcpe/client.rb
  lib/gi/lcpe/configuration.rb
  lib/gi/lcpe/response.rb
  spec/requests/v1/gi/lcpe/exams_spec.rb
  spec/requests/v1/gi/lcpe/lacs_spec.rb
  spec/support/vcr_cassettes/gi/lcpe/get_exams_cache_fresh.yml
  spec/support/vcr_cassettes/gi/lcpe/get_exams_cache_nil.yml
  spec/support/vcr_cassettes/gi/lcpe/get_exams_cache_stale.yml
  spec/support/vcr_cassettes/gi/lcpe/get_lacs_cache_fresh.yml
  spec/support/vcr_cassettes/gi/lcpe/get_lacs_cache_nil.yml
  spec/support/vcr_cassettes/gi/lcpe/get_lacs_cache_stale.yml
Labels: test-failure, test-passing, require-backend-approval

#21155 [ARP POA Submission] (#5) Update POA Form Submission Scopes (#101919)
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_form_submission.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/user_account_accredited_individual.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer/individual_power_of_attorney_holder_serializer.rb
  modules/accredited_representative_portal/lib/tasks/seed.rake
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request.rb
  modules/accredited_representative_portal/spec/lib/tasks/staging_seed_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/representative_user_account_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/user_account_accredited_individual_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#21168 [ARP] Fix POA signature
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user_account.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/power_of_attorney_request_service/accept.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/representative_user_account_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#21135 API-45527 Orchestrator params bug after schema update
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/create_request.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/orchestrator.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/create_request_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/orchestrator_spec.rb
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/no_email.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/no_phone.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/with_claimant.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/create_request/without_claimant.yml
Labels: claimsApi, test-passing

#21072 Api 45362 api standards pagination controller update
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
Labels: claimsApi, test-passing

#21173 [MHV-66597] add feature toggle.
  config/features.yml
Labels: test-passing, require-backend-approval

#21114 [CST] - 103611 Add evidence submission section to show method for a claim
  app/controllers/v0/benefits_claims_controller.rb
  spec/controllers/v0/benefits_claims_controller_spec.rb
  spec/factories/lighthouse/benefits_documents/evidence_submission.rb
Labels: test-passing, require-backend-approval

#21169 Add missing configuration options
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/kafka/producer_manager.rb
Labels: test-passing, require-backend-approval

#21083 [10-10CG] Remove caregiver1010 flipper toggle logic
  app/controllers/v0/caregivers_assistance_claims_controller.rb
  config/brakeman.ignore
  spec/requests/v0/caregivers_assistance_claims_spec.rb
Labels: test-passing, require-backend-approval

#21174 API-45550-changes-422-to-400-bad-request
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
Labels: claimsApi, test-failure, test-passing

#21147 [VI-1120] Load IdentitySettings secrets
  config/initializers/identity_config.rb
  spec/support/vcr_cassettes/identity/idme_200_responses.yml
  spec/support/vcr_cassettes/identity/idme_jwks_jwt_malformed.yml
  spec/support/vcr_cassettes/identity/idme_jwks_malformed.yml
  spec/support/vcr_cassettes/identity/idme_jwks_mismatched_kid.yml
  spec/support/vcr_cassettes/identity/idme_jwks_mismatched_signature.yml
Labels: test-passing

#21165 1421: add form-1095b service tag for datadog monitoring
  app/controllers/v0/form1095_bs_controller.rb
Labels: test-passing, require-backend-approval

#21132 102836: Update vets-json-schema version
  Gemfile.lock
Labels: test-passing, require-backend-approval

#21139 103296 update uploads controller unit tests
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
  modules/ivc_champva/spec/requests/ivc_champva/v1/forms/uploads_spec.rb
Labels: test-passing, require-backend-approval

#21084 remove caregiver1010 toggle
  config/features.yml
Labels: test-passing, require-backend-approval

#21159 Added more failure email template params - IVC CHAMPVA forms
  config/settings.yml
Labels: test-passing, require-backend-approval

#21094 Add Transaction ID datadog link to va.gov-specific alerts
  modules/claims_api/app/services/claims_api/slack/failed_submissions_messenger.rb
  modules/claims_api/app/sidekiq/claims_api/report_hourly_unsuccessful_submissions.rb
  modules/claims_api/spec/services/failed_submissions_messenger_spec.rb
  modules/claims_api/spec/sidekiq/report_hourly_unsuccessful_submissions_spec.rb
Labels: claimsApi, test-passing

#21167 API-45510-add-bgs-service
  modules/claims_api/lib/bgs_service/benefit_claim_web_service.rb
  modules/claims_api/spec/lib/claims_api/bgs/benefit_claim_web_service_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/benefit_claim_web_service/find_bnft_claim.yml
  spec/support/vcr_cassettes/claims_api/bgs/benefit_claim_web_service/find_bnft_claim_by_clmant_id.yml
  spec/support/vcr_cassettes/claims_api/bgs/benefit_claim_web_service/update_bnft_claim.yml
Labels: claimsApi, test-passing, omit-backend-approval

#21119 102826 - CDP - VHA MVP - Add Corresponding Resolve Copay Feature Flag
  config/features.yml
Labels: vsa-benefits-2, test-passing, require-backend-approval

#21082 [Payments] No longer show payments disbursed to a third party
  app/services/bgs/payment_service.rb
  config/features.yml
  spec/services/bgs/payment_service_spec.rb
  spec/support/vcr_cassettes/bgs/payment_service/payment_history.yml
Labels: test-passing, require-backend-approval, BMT2, benefits-management-tools

#21142 [DBEX] Update 0781 PDF fill of evidence & treatment data
  lib/evss/disability_compensation_form/form0781.rb
  lib/pdf_fill/forms/va210781v2.rb
  spec/fixtures/pdf_fill/21-0781V2/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0781V2/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21-0781V2/merge_fields.json
  spec/fixtures/pdf_fill/21-0781V2/overflow.json
  spec/fixtures/pdf_fill/21-0781V2/overflow.pdf
  spec/lib/evss/disability_compensation_form/form0781_spec.rb
  spec/lib/pdf_fill/forms/va210781v2_spec.rb
  spec/support/disability_compensation_form/all_claims_with_0781v2_fe_submission.json
  spec/support/disability_compensation_form/form_0781v2.json
  spec/support/disability_compensation_form/submissions/with_0781v2.json
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval

#21187 [CST]: Remove default values for friendly name and description
  lib/lighthouse/benefits_claims/service.rb
Labels: test-passing, require-backend-approval, BMT2, benefits-management-tools

#21138 103453 - Add validation for VES data - IVC CHAMPVA
  modules/ivc_champva/app/services/ivc_champva/ves_data_validator.rb
  modules/ivc_champva/spec/services/ves_data_validator_spec.rb
Labels: test-passing, require-backend-approval

#21188 chore: Remove unused EVSS::ReferenceData service
  .github/CODEOWNERS
  config/initializers/breakers.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/evss/reference_data/configuration.rb
  spec/lib/evss/reference_data/configuration_spec.rb
Labels: test-passing, require-backend-approval

#21111 103918 Add production support/convenience functions to module - IVC CHAMPVA
  modules/ivc_champva/app/services/ivc_champva/prod_support_utilities/missing_status_cleanup.rb
  modules/ivc_champva/spec/prod_support_utilities/missing_status_cleanup_spec.rb
Labels: test-passing, require-backend-approval

#21172 103691 One Debt Letter Copay Data and Table
  modules/debts_api/lib/debts_api/v0/one_debt_letter_service.rb
  modules/debts_api/spec/fixtures/copay_response.json
  modules/debts_api/spec/lib/debt_api/v0/one_debt_letter_service_spec.rb
  modules/debts_api/spec/requests/debts_api/v0/one_debt_letters_spec.rb
Labels: test-passing, require-backend-approval

#21186 [SIMPLE-FORMS] feat: form upload - turn on forms 21-4192 & 21-8940
  app/models/form_profile.rb
  app/models/persistent_attachments/va_form.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_upload_notification_email.rb
Labels: test-failure, test-passing, require-backend-approval

#20745 adds query to url if on sm and oh pilot flag enabled
  .github/CODEOWNERS
  app/policies/mhv_messaging_policy.rb
  config/features.yml
  lib/common/client/session.rb
  lib/sm/client.rb
  modules/my_health/app/controllers/my_health/sm_controller.rb
  spec/lib/sm/client/folders_spec.rb
  spec/lib/sm/client/message_drafts_spec.rb
  spec/lib/sm/client/messages_spec.rb
  spec/lib/sm/client/preferences_spec.rb
  spec/lib/sm/client/session_spec.rb
  spec/lib/sm/client/triage_teams_spec.rb
  spec/rails_helper.rb
  spec/support/sm_spec_helper.rb
  spec/support/vcr_cassettes/sm_session/session_oh_initial_pull.yml
Labels: test-passing, require-backend-approval

#21201 chore: Update Rack to 2.2.13
  Gemfile.lock
Labels: test-passing, require-backend-approval

#21158 [VI-1104] removes `id_me_user_uuid` method
  app/models/in_progress_form.rb
Labels: test-passing, require-backend-approval

#21197 [ARP] pending sort order & processed only shows decisioned
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#21154 Remove unused appointments feature toggles - 4
  config/features.yml
  modules/mobile/spec/requests/mobile/v0/appointments/cancel_spec.rb
  modules/mobile/spec/requests/mobile/v0/appointments/create_spec.rb
  modules/mobile/spec/requests/mobile/v0/appointments/facilities/clinics_spec.rb
  modules/mobile/spec/requests/mobile/v0/appointments/vaos_v2_spec.rb
  modules/vaos/app/services/vaos/session_service.rb
  modules/vaos/app/services/vaos/user_service.rb
  modules/vaos/app/sidekiq/vaos/extend_session_job.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/requests/vaos/v2/community_care/eligibility_spec.rb
  modules/vaos/spec/requests/vaos/v2/eligibility_spec.rb
  modules/vaos/spec/requests/vaos/v2/facilities_spec.rb
  modules/vaos/spec/requests/vaos/v2/locations/clinics_spec.rb
  modules/vaos/spec/requests/vaos/v2/locations/slots_spec.rb
  modules/vaos/spec/requests/vaos/v2/scheduling/configurations_spec.rb
  modules/vaos/spec/services/ccra/referral_service_spec.rb
  modules/vaos/spec/services/user_service_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  modules/vaos/spec/services/v2/mobile_facility_service_spec.rb
  modules/vaos/spec/services/v2/patients_service_spec.rb
  modules/vaos/spec/services/v2/systems_service_spec.rb
  modules/vaos/spec/sidekiq/extend_session_job_spec.rb
Labels: test-passing, require-backend-approval

#21177 Simple forms send emails by date range rake task
  modules/simple_forms_api/lib/tasks/send_emails_by_date_range.rake
  modules/simple_forms_api/spec/tasks/send_emails_by_date_range_spec.rb
Labels: test-passing, require-backend-approval

#21125 Remove unused appointments feature toggles - 5
  config/features.yml
Labels: test-passing, require-backend-approval

#21153 Remove unused appointments feature toggles - 2
  config/features.yml
  modules/vaos/config/initializers/flipper.rb
Labels: test-passing, require-backend-approval

#20918 POA decline email
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_request_decisions_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_notification.rb
  modules/accredited_representative_portal/app/sidekiq/accredited_representative_portal/power_of_attorney_request_email_job.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request_notification.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_request_notification_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec.rb
  modules/accredited_representative_portal/spec/sidekiq/accredited_representative_portal/power_of_attorney_request_email_job_spec.rb
  modules/representation_management/app/services/representation_management/power_of_attorney_request_service/orchestrate.rb
  modules/representation_management/spec/services/power_of_attorney_request_service/orchestrate_spec.rb
Labels: test-passing, require-backend-approval

#21196 add flag for form 21-4138
  config/features.yml
Labels: test-passing, require-backend-approval

#21213 Ask va api fix veteran profile dup bug
  modules/ask_va_api/app/lib/ask_va_api/base_retriever.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_details.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/inquiry_payload.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/profile_builder_base.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/submitter_profile.rb
  modules/ask_va_api/app/lib/ask_va_api/inquiries/payload_builder/veteran_profile.rb
  modules/ask_va_api/config/locales/en.yml
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/submitter_profile_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/inquiries/payload_builder/veteran_profile_spec.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/inquiries_spec.rb
  modules/ask_va_api/spec/support/shared_contexts.rb
Labels: test-passing, require-backend-approval

#21198 Create Railtie for IdentitySettings
  .github/CODEOWNERS
  config/application.rb
  config/initializers/identity_config.rb
  lib/identity/config/railtie.rb
Labels: test-passing, require-backend-approval

#21206 Add additional feature toggles for source of truth updates
  config/features.yml
Labels: test-passing, require-backend-approval

#21151 Dex 91068 multi 674 pdfs
  app/models/saved_claim/dependency_claim.rb
  app/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job.rb
  lib/pdf_fill/forms/va21674v2.rb
  spec/models/saved_claim/dependency_claim_spec.rb
  spec/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job_spec.rb
Labels: test-passing, require-backend-approval

#21180 [CST] - Updated code to no longer use `.utc` and to use `DateTime.current `
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/lighthouse/evidence_submissions/delete_evidence_submission_records_job.rb
  app/sidekiq/lighthouse/evidence_submissions/document_upload.rb
  app/sidekiq/lighthouse/evidence_submissions/failure_notification_email_job.rb
  lib/lighthouse/benefits_documents/upload_status_updater.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
  spec/lib/lighthouse/benefits_documents/upload_status_updater_spec.rb
  spec/services/evss_claim_service_spec.rb
  spec/sidekiq/evss/document_upload_spec.rb
  spec/sidekiq/lighthouse/evidence_submissions/document_upload_spec.rb
  spec/sidekiq/lighthouse/evidence_submissions/evidence_submission_document_upload_polling_job_spec.rb
  spec/sidekiq/lighthouse/evidence_submissions/failure_notification_email_job_spec.rb
Labels: test-passing, require-backend-approval

#21021 Simple Forms Notification Email refactor
  app/models/form_submission_attempt.rb
  app/sidekiq/simple_forms_api/notification/send_notification_email_job.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/scanned_form_uploads_controller.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/notification/email.rb
  modules/simple_forms_api/app/services/simple_forms_api/notification/template_ids.yml
  spec/lib/lighthouse/benefits_intake/sidekiq/submission_status_job_spec.rb
  spec/models/form_submission_attempt_spec.rb
  spec/sidekiq/benefits_intake_status_job_spec.rb
  spec/sidekiq/simple_forms_api/notification/send_notification_email_job_spec.rb
Labels: test-passing, require-backend-approval

#21189 chore: Remove unused EVSS::ReferenceData::IntakeSitesResponse class
  .github/CODEOWNERS
  app/controllers/v0/disability_compensation_forms_controller.rb
  app/serializers/separation_location_serializer.rb
  lib/evss/reference_data/intake_sites_response.rb
  spec/serializers/separation_location_serializer_spec.rb
Labels: test-passing, require-backend-approval

#21229 Bump ruby-saml to 1.18.0
  Gemfile.lock
Labels: test-passing, require-backend-approval

#21223 BE | Ask VA Api: update crm production env
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/ask_va_api/app/services/crm/service.rb
Labels: test-passing, require-backend-approval

#21192 Burial 104893 reorganize module lib
  modules/burials/lib/burials/benefits_intake/submission_handler.rb
  modules/burials/lib/burials/engine.rb
  modules/burials/lib/burials/pdf_fill/forms/pdfs/21P-530EZ.pdf
  modules/burials/lib/burials/pdf_fill/forms/va21p530ez.rb
  modules/burials/lib/burials/zero_silent_failures/manual_remediation.rb
  modules/burials/spec/lib/benefits_intake/submission_handler_spec.rb
  modules/burials/spec/lib/benefits_intake/submit_claim_job_spec.rb
Labels: test-passing, require-backend-approval

#21245 BE | Ask VA Api: update veft-prod to veft
  modules/ask_va_api/app/services/crm/service.rb
Labels: require-backend-approval

#21207 4487 - Added ST schema and spec files
  lib/kafka/schemas/submission_trace_schema_dev-value-1.avsc
  spec/lib/kafka/avro_producer_payload_spec.rb
Labels: Ready For Review, test-passing, require-backend-approval

#21202 1430: run 1095b cron more frequently
  lib/periodic_jobs.rb
Labels: test-passing, require-backend-approval
