Repository department-of-veterans-affairs/vets-api, pull requests merged in 2025-05, with the labels that each got.

#21961 Replace Virtus with Vets::Model - BGS Dependents
  app/models/bgs_dependents/adult_child_attending_school.rb
  app/models/bgs_dependents/base.rb
  app/models/bgs_dependents/child.rb
  app/models/bgs_dependents/child_school.rb
  app/models/bgs_dependents/child_student.rb
  app/models/bgs_dependents/spouse.rb
  app/models/bgs_dependents/veteran.rb
  lib/bgs/children.rb
Labels: test-passing, require-backend-approval

#21976 Redact logs for VA Profile transaction errors
  lib/va_profile/contact_information/transaction_response.rb
  lib/va_profile/v2/contact_information/transaction_response.rb
  spec/lib/va_profile/contact_information/transaction_response_spec.rb
  spec/lib/va_profile/v2/contact_information/transaction_response_spec.rb
Labels: test-passing, require-backend-approval

#21989 Update language for log redaction
  lib/va_profile/contact_information/transaction_response.rb
  lib/va_profile/v2/contact_information/transaction_response.rb
  spec/lib/va_profile/contact_information/transaction_response_spec.rb
  spec/lib/va_profile/v2/contact_information/transaction_response_spec.rb
Labels: test-passing, require-backend-approval

#21825 MBMS-75887 updated limits
  app/uploaders/claim_documentation/uploader.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
Labels: test-passing, require-backend-approval

#21988 BUG: Fixed preferred name bug for va_0873
  app/models/form_profiles/va_0873.rb
Labels: test-passing, require-backend-approval

#21992 redaction: sanitize params and response
  app/controllers/v0/profile/personal_informations_controller.rb
Labels: test-failure, test-passing, require-backend-approval

#21978 [Yardoc] Removing dependency from pdftk-java
  .github/workflows/yardoc.yml
  rakelib/yardoc.rake
Labels: test-passing, require-backend-approval

#21974 Skip converted_image_TIF test and reformat other skipped tests
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
  spec/uploaders/evss_claim_document_uploader_spec.rb
Labels: test-passing, require-backend-approval

#21898 MHV-69701 Decouple MilitaryServiceController from MrController
  modules/my_health/app/controllers/my_health/v1/medical_records/military_service_controller.rb
  modules/my_health/spec/requests/my_health/v1/medical_records/military_service_spec.rb
Labels: test-passing, require-backend-approval

#21996 Adding VBMS to 0781 log
  app/sidekiq/evss/disability_compensation_form/submit_form0781.rb
Labels: test-passing, require-backend-approval

#21483 [MHV-61858] Adjust API GW Configuration in lower env sm mhv
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/common/client/concerns/mhv_session_based_client.rb
  lib/sm/client.rb
  lib/sm/configuration.rb
  modules/mobile/app/services/mobile/v0/messaging/configuration.rb
  spec/lib/sm/client_spec.rb
  spec/lib/sm/configuration_spec.rb
  spec/support/sm_spec_helper.rb
Labels: test-passing, require-backend-approval

#22000 Add more redaction fields
  app/controllers/v0/profile/personal_informations_controller.rb
  lib/va_profile/contact_information/transaction_response.rb
  lib/va_profile/v2/contact_information/transaction_response.rb
Labels: test-passing, require-backend-approval

#21969 [102101] Add feature flag mhv_supply_reordering_enabled
  config/features.yml
Labels: test-passing, require-backend-approval

#21999 Add logging for EVSS and LH Doc Upload Validation
  app/models/evss_claim_document.rb
  app/models/lighthouse_document.rb
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
Labels: test-passing, require-backend-approval

#21931 Remove deprecated mhv mr phase 1 feature toggles
  config/features.yml
Labels: test-passing, require-backend-approval

#21789 EZR: Prefill Veteran contacts
  config/features.yml
  config/form_profile_mappings/10-10EZR.yml
  lib/hca/enrollment_eligibility/service.rb
  spec/fixtures/form1010_ezr/veteran_data.json
  spec/lib/hca/enrollment_eligibility/service_spec.rb
  spec/models/form_profile_spec.rb
Labels: test-passing, require-backend-approval

#21923 feat: Add rake task for remediating Form 0781-only submissions
  db/seeds/remediation.rb
  lib/simple_forms_api/form_remediation/configuration/form_0781_config.rb
  lib/tasks/remediation_seeds.rake
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/form0781_submission_remediation_data.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/form526_submission_archive.rb
  modules/simple_forms_api/lib/tasks/dev/remediation_stubs.rb
  modules/simple_forms_api/lib/tasks/remediate_0781_and_0781v2_forms.rake
  modules/simple_forms_api/lib/tasks/remediate_0781a_forms.rake
  modules/simple_forms_api/spec/tasks/remediate_0781_and_0781v2_forms_spec.rb
Labels: test-passing, require-backend-approval

#21912 Show all checked items in checklist group together in PDF overflow
  lib/pdf_fill/extras_generator_v2.rb
  lib/pdf_fill/forms/va210781v2.rb
  lib/pdf_fill/hash_converter.rb
  spec/fixtures/pdf_fill/21-0781V2/overflow.json
  spec/fixtures/pdf_fill/21-0781V2/overflow.pdf
  spec/fixtures/pdf_fill/21-0781V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-0781V2/overflow_redesign_extras.pdf
  spec/lib/pdf_fill/extras_generator_v2_spec.rb
Labels: test-passing, require-backend-approval

#21957 MHV-69708 Added an AAL endpoint
  config/features.yml
  config/initializers/inflections.rb
  config/redis.yml
  lib/common/client/concerns/mhv_locked_session_client.rb
  lib/mhv/aal/client.rb
  lib/mhv/aal/client_session.rb
  lib/mhv/aal/configuration.rb
  lib/mhv/aal/create_aal_form.rb
  modules/my_health/app/controllers/concerns/my_health/aal_client_concerns.rb
  modules/my_health/app/controllers/my_health/v1/aal_controller.rb
  modules/my_health/config/routes.rb
  modules/my_health/spec/requests/my_health/v1/aal_spec.rb
  spec/support/vcr_cassettes/phr_mgr_client/create_aal_entry.yml
Labels: test-passing, require-backend-approval

#21975 [Income & Assets] Moving PDF mapping Sections 1 and 2 into separate files
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_01.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_02.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/va21p0969.rb
Labels: pension-income-assets, test-passing, require-backend-approval

#22006 BE | Ask VA Api: link auth_url to parameter store
  config/settings.yml
Labels: test-passing, require-backend-approval

#21995 [VI-1105] updates SchemaContract::Validation to use user_account_id
  .github/CODEOWNERS
  app/models/schema_contract/validation.rb
  app/models/schema_contract/validation_initiator.rb
  modules/vaos/spec/factories/vaos_users.rb
  spec/factories/schema_contract/validations.rb
  spec/models/schema_contract/validation_initiator_spec.rb
Labels: test-passing, require-backend-approval

#21947 PBP 106166 0969 received email
  modules/income_and_assets/lib/income_and_assets.rb
  modules/income_and_assets/lib/income_and_assets/benefits_intake/submission_handler.rb
  modules/income_and_assets/lib/income_and_assets/engine.rb
  modules/income_and_assets/spec/lib/income_and_assets/benefits_intake/submission_handler_spec.rb
Labels: pension-benefits, pension-income-assets, test-passing, require-backend-approval

#21997 108753: Fix up saved_claim.rb; fix typo in Burial
  modules/burials/app/models/burials/saved_claim.rb
  modules/burials/lib/burials/notification_email.rb
  modules/burials/spec/models/burials/saved_claim_spec.rb
  modules/income_and_assets/app/models/income_and_assets/saved_claim.rb
  modules/income_and_assets/spec/factories/income_and_assets/income_and_assets_claim.rb
  modules/income_and_assets/spec/models/income_and_assets/saved_claim_spec.rb
Labels: test-passing, require-backend-approval

#22007 fix pdf filler for 21-674-v2. add marriage date
  lib/pdf_fill/forms/va21674v2.rb
  spec/fixtures/pdf_fill/21-674-V2.zip
  spec/fixtures/pdf_fill/21-674-V2/kitchen_sink.json
  spec/fixtures/pdf_fill/21-674-V2/kitchen_sink.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: test-passing, require-backend-approval

#22008 #108755 [10-10EZR] Updated `vets_json_schema` gem
  Gemfile.lock
Labels: test-passing, require-backend-approval

#21427 [VI-1104] AppealSubmission user_uuid refactor
  .github/CODEOWNERS
  app/models/appeal_submission.rb
  modules/decision_reviews/app/controllers/decision_reviews/v1/supplemental_claims_controller.rb
  modules/decision_reviews/app/controllers/decision_reviews/v2/higher_level_reviews_controller.rb
  modules/decision_reviews/spec/factories/appeal_submissions.rb
  modules/decision_reviews/spec/requests/v1/notice_of_disagreements_spec.rb
  modules/decision_reviews/spec/requests/v1/supplemental_claims_spec.rb
  modules/decision_reviews/spec/requests/v2/higher_level_reviews_spec.rb
  modules/decision_reviews/spec/sidekiq/delete_saved_claim_records_job_spec.rb
  modules/decision_reviews/spec/sidekiq/failure_notification_email_job_spec.rb
  modules/decision_reviews/spec/sidekiq/form4142_submit_spec.rb
  modules/decision_reviews/spec/sidekiq/hlr_status_updater_job_spec.rb
  modules/decision_reviews/spec/sidekiq/nod_status_updater_job_spec.rb
  modules/decision_reviews/spec/sidekiq/sc_status_updater_job_spec.rb
  modules/decision_reviews/spec/sidekiq/submit_upload_spec.rb
  spec/factories/appeal_submissions.rb
  spec/models/appeal_submission_spec.rb
Labels: test-passing, require-backend-approval

#22009 Revert "VEBT-1702 - fix cert thru date logic for VYE verifications and update tests"
  modules/vye/app/controllers/vye/v1/verifications_controller.rb
  modules/vye/app/models/concerns/vye/needs_enrollment_verification.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case10_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case1_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case2_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case3_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case4_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case5_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case6_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case7_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case8_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case9_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case_eom_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_future_award_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_implied_aed_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_past_award_spec.rb
  modules/vye/spec/controllers/vye/v1/verifications_controller_spec.rb
  modules/vye/spec/models/vye/user_info_spec.rb
  modules/vye/spec/support/shared_award_helpers.rb
Labels: test-passing, require-backend-approval

#22001 Create feature toggle for chatbot STS authentication
  config/features.yml
Labels: test-passing, require-backend-approval

#22021 Send RESIDENCE/CHOICE to CIV2 when override_address_pou is enabled
  app/models/va_profile_redis/v2/contact_information.rb
  config/features.yml
  lib/va_profile/v2/contact_information/service.rb
Labels: test-passing, require-backend-approval

#21787 #105611 [10-10] Add create/update/delete functionality for Next of Kin/Emergency Contact
  .github/CODEOWNERS
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/va1010_forms/enrollment_system/associations/service.rb
  lib/veteran_enrollment_system/associations/configuration.rb
  lib/veteran_enrollment_system/associations/service.rb
  lib/veteran_enrollment_system/base_configuration.rb
  spec/lib/veteran_enrollment_system/associations/configuration_spec.rb
  spec/lib/veteran_enrollment_system/associations/service_spec.rb
  spec/lib/veteran_enrollment_system/base_configuration_spec.rb
  spec/support/vcr_cassettes/veteran_enrollment_system/associations/bad_request.yml
  spec/support/vcr_cassettes/veteran_enrollment_system/associations/create_associations_success.yml
  spec/support/vcr_cassettes/veteran_enrollment_system/associations/delete_associations_success.yml
  spec/support/vcr_cassettes/veteran_enrollment_system/associations/update_associations_partial_success.yml
  spec/support/vcr_cassettes/veteran_enrollment_system/associations/update_associations_success.yml
Labels: test-passing, require-backend-approval

#22005 Dependents Notification Emails
  app/controllers/v0/dependents_applications_controller.rb
  app/sidekiq/bgs/submit_form674_job.rb
  app/sidekiq/bgs/submit_form686c_job.rb
  app/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job.rb
  spec/controllers/v0/dependents_applications_controller_spec.rb
  spec/sidekiq/bgs/submit_form674_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_job_spec.rb
  spec/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job_spec.rb
Labels: test-passing, require-backend-approval

#22026 Pension | Add Intent to File toggles
  config/features.yml
Labels: feature flag, pension-benefits, test-passing, require-backend-approval

#22027 Fix app_token configuration for MHV UHD by applying dump method
  config/settings.yml
Labels: test-passing, require-backend-approval

#21956 107624 - Update VES endpoint URL - IVC CHAMPVA forms
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/ivc_champva/lib/ves_api/client.rb
  modules/ivc_champva/lib/ves_api/configuration.rb
Labels: test-passing, require-backend-approval

#22017 Setup DependentsNotificationEmail
  app/controllers/v0/dependents_applications_controller.rb
  app/models/saved_claim/dependency_claim.rb
  app/sidekiq/bgs/submit_form674_job.rb
  app/sidekiq/bgs/submit_form686c_job.rb
  app/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job.rb
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/dependents/monitor.rb
  lib/dependents/notification_email.rb
  spec/controllers/v0/dependents_applications_controller_spec.rb
  spec/sidekiq/bgs/submit_form674_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_job_spec.rb
  spec/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job_spec.rb
Labels: test-passing, require-backend-approval

#21916 Replace Virtus with Vets::Model - App Models
  .github/CODEOWNERS
  app/models/attachment.rb
  app/models/category.rb
  app/models/message.rb
  app/models/payment_history.rb
  app/models/power_of_attorney.rb
  lib/sm/client.rb
Labels: test-passing, require-backend-approval

#21970 Replace Virtus with Vets::Model - Preneeds
  app/models/preneeds/attachment_type.rb
  app/models/preneeds/cemetery.rb
  app/models/preneeds/military_rank_input.rb
  app/models/preneeds/receive_application.rb
  lib/preneeds/xml_date.rb
  lib/vets/type/xml_date.rb
  lib/vets/types.rb
  spec/models/preneeds/attachment_type_spec.rb
  spec/models/preneeds/cemetery_spec.rb
  spec/models/preneeds/receive_application_spec.rb
Labels: test-passing, require-backend-approval

#22023 108945 Update referral requests to utilize consult id
  modules/vaos/app/controllers/vaos/v2/referrals_controller.rb
  modules/vaos/app/models/ccra/referral_detail.rb
  modules/vaos/app/models/ccra/referral_list_entry.rb
  modules/vaos/app/serializers/ccra/referral_detail_serializer.rb
  modules/vaos/app/serializers/ccra/referral_list_serializer.rb
  modules/vaos/spec/controllers/v2/referrals_controller_spec.rb
  modules/vaos/spec/factories/ccra/referrals.rb
  modules/vaos/spec/models/ccra/referral_list_entry_spec.rb
  modules/vaos/spec/requests/v2/referrals_spec.rb
  modules/vaos/spec/serializers/ccra/referral_list_serializer_spec.rb
  modules/vaos/spec/services/ccra/referral_service_spec.rb
Labels: test-passing, require-backend-approval

#22020 removes mhv interstital feature toggle
  config/features.yml
Labels: test-passing, require-backend-approval

#22012 Show 0781 overflow police reports in unnumbered question 11.5
  lib/pdf_fill/extras_generator_v2.rb
  lib/pdf_fill/forms/va210781v2.rb
  spec/fixtures/pdf_fill/21-0781V2/overflow.json
  spec/fixtures/pdf_fill/21-0781V2/overflow.pdf
  spec/fixtures/pdf_fill/21-0781V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-0781V2/overflow_redesign_extras.pdf
  spec/lib/pdf_fill/forms/va210781v2_spec.rb
Labels: test-passing, require-backend-approval

#21911 Vebt 1162
  modules/vye/app/sidekiq/vye/dawn_dash/activate_bdn.rb
  modules/vye/app/sidekiq/vye/dawn_dash/egress_updates.rb
  modules/vye/app/sidekiq/vye/midnight_run/ingress_bdn.rb
  modules/vye/app/sidekiq/vye/midnight_run/ingress_tims.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/clear_deactivated_bdns.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/delete_processed_s3_files.rb
  modules/vye/spec/sidekiq/vye/dawn_dash/activate_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/dawn_dash/egress_updates_spec.rb
  modules/vye/spec/sidekiq/vye/midnight_run/ingress_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/midnight_run/ingress_tims_spec.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/clear_deactivated_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/delete_processed_s3_files_spec.rb
Labels: test-passing, require-backend-approval

#21702 Endpoint for claimant search (#107098)
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/claimant/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/claimant_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/claimant.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/claimant_policy.rb
  modules/accredited_representative_portal/app/policies/concerns/accredited_representative_portal/validate_power_of_attorney.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/claimant_serializer.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/claimant_search_service.rb
  modules/accredited_representative_portal/app/services/accredited_representative_portal/poa_lookup_service.rb
  modules/accredited_representative_portal/config/routes.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/claimant_request_spec.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/power_of_attorney_request_search_service_spec.rb
  spec/support/vcr_cassettes/accredited_representative_portal/requests/accredited_representative_portal/v0/claimant_request_spec/lighthouse/benefits_claims/200_response.yml
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#22022 [ID-103] - Create and update models for sign-in certificates
  app/models/sign_in/certificate.rb
  app/models/sign_in/client_config.rb
  app/models/sign_in/config_certificate.rb
  app/models/sign_in/service_account_config.rb
  spec/factories/sign_in/certificates.rb
  spec/factories/sign_in/client_configs.rb
  spec/factories/sign_in/config_certificates.rb
  spec/factories/sign_in/service_account_configs.rb
  spec/models/sign_in/certificate_spec.rb
  spec/models/sign_in/client_config_spec.rb
  spec/models/sign_in/config_certificate_spec.rb
  spec/models/sign_in/service_account_config_spec.rb
Labels: test-passing

#22029 Downcase file extensions for validation
  app/models/lighthouse_document.rb
  lib/lighthouse/benefits_documents/service.rb
Labels: test-passing, require-backend-approval

#21935 [10-10EZ] Delete BaseSubmissionJob
  app/sidekiq/hca/base_submission_job.rb
  app/sidekiq/hca/submission_job.rb
  spec/models/health_care_application_spec.rb
Labels: test-passing, require-backend-approval

#21918 Replace Virtus with Vets::Model - Model Docs
  app/models/evss_claim_document.rb
  app/models/lighthouse_document.rb
  lib/lighthouse/benefits_documents/configuration.rb
  spec/lib/lighthouse/benefits_documents/configuration_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
  spec/services/evss_claim_service_spec.rb
Labels: test-passing, require-backend-approval

#21877 Replace Virtus with Vets::Model - Form Profile - 2122
  app/models/form_profiles/va_2122.rb
  app/models/form_profiles/va_2122a.rb
Labels: test-passing, require-backend-approval

#22038 Update referral_service.rb to log headers for debugging
  modules/vaos/app/services/ccra/referral_service.rb
Labels: test-passing, require-backend-approval

#22040 [10-10CG] Remove clear_cache flag since new gem does not use it
  app/models/saved_claim.rb
  spec/models/saved_claim_spec.rb
Labels: test-passing, require-backend-approval

#21946 [ID-16] - Create cerner provisioner job and call during authentication
  app/controllers/v0/terms_of_use_agreements_controller.rb
  app/models/user.rb
  app/services/identity/cerner_provisioner.rb
  app/services/login/after_login_actions.rb
  app/services/sign_in/user_loader.rb
  app/sidekiq/identity/cerner_provisioner_job.rb
  spec/controllers/v0/terms_of_use_agreements_controller_spec.rb
  spec/models/user_spec.rb
  spec/services/identity/cerner_provisioner_spec.rb
  spec/services/login/after_login_actions_spec.rb
  spec/services/sign_in/user_loader_spec.rb
  spec/sidekiq/identity/cerner_provisioner_job_spec.rb
Labels: test-passing

#22033 Updated return value for `submit_1010d` to return http response on success - IVC CHAMPVA
  modules/ivc_champva/lib/ves_api/client.rb
  modules/ivc_champva/spec/lib/ves_api_client_spec.rb
Labels: test-passing, require-backend-approval

#22056 Update cerner provisioner
  app/services/identity/cerner_provisioner.rb
  spec/services/identity/cerner_provisioner_spec.rb
Labels: test-passing

#21972 Fix DevContainer Configuration for Apple Silicon Macs and Github Codespaces
  .devcontainer/devcontainer.json
  .devcontainer/on-create.sh
  .devcontainer/post-start.sh
Labels: test-passing, require-backend-approval

#22057 Revert "Replace Virtus with Vets::Model - Model Docs"
  app/models/evss_claim_document.rb
  app/models/lighthouse_document.rb
  lib/lighthouse/benefits_documents/configuration.rb
  spec/lib/lighthouse/benefits_documents/configuration_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
  spec/services/evss_claim_service_spec.rb
Labels: test-passing, require-backend-approval

#22044 API-46261 Add one-off job to report bugged POA records
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_bad_box20_render_report_job.rb
  modules/claims_api/spec/factories/claims_api_base_factory.rb
  modules/claims_api/spec/factories/power_of_attorney.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_bad_box20_render_report_job_spec.rb
Labels: Lighthouse, claimsApi, test-passing

#22049 Add travel_pay setting to maintenance services in settings.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
Labels: test-passing, require-backend-approval

#22062 Update UHD param formats
  lib/unified_health_data/service.rb
  modules/mobile/app/controllers/mobile/v1/labs_and_tests_controller.rb
  modules/mobile/spec/requests/mobile/v1/health/labs_and_tests_spec.rb
  modules/mobile/spec/support/fixtures/labs_and_tests_ch_response.json
  modules/mobile/spec/support/fixtures/labs_and_tests_sp_response.json
  modules/my_health/spec/requests/my_health/v2/labs_and_tests_spec.rb
  spec/support/vcr_cassettes/mobile/unified_health_data/get_labs.yml
  spec/support/vcr_cassettes/mobile/unified_health_data/get_labs_value_attachment.yml
Labels: test-passing, require-backend-approval

#22052 [Income & Assets] Update `first_key` values
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_03.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_04.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_05.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_07.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_08.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_09.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_10.rb
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow.pdf
Labels: pension-income-assets, test-passing, require-backend-approval

#22058 Adding grant_type to parameter allowlist
  config/initializers/filter_parameter_logging.rb
Labels: test-passing, require-backend-approval

#22034 Vets::Collection Caching
  lib/vets/collection.rb
  lib/vets/collections/cacheable.rb
  spec/lib/vets/collection_spec.rb
  spec/lib/vets/collections/cacheable_spec.rb
  spec/lib/vets/collections/finder_spec.rb
Labels: test-passing, require-backend-approval

#22074 API-46261 Fix filtering logic for report job
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_bad_box20_render_report_job.rb
  modules/claims_api/spec/factories/power_of_attorney.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_bad_box20_render_report_job_spec.rb
Labels: Lighthouse, claimsApi, test-passing

#21987 remove initial files for DependentsApplicationJob and the 21-686c form profile
  .github/CODEOWNERS
  app/controllers/v0/dependents_applications_controller.rb
  app/models/dependents_application.rb
  app/models/form_profile.rb
  app/models/form_profiles/va_21686c.rb
  app/sidekiq/evss/dependents_application_job.rb
  spec/models/dependents_application_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/form_profile_v2_spec.rb
  spec/requests/v0/user_spec.rb
  spec/sidekiq/evss/dependents_application_job_spec.rb
Labels: test-passing, require-backend-approval

#22048 add feature flag for 5490/1990e text updates
  config/features.yml
Labels: test-passing, require-backend-approval

#22004 108610 CC appointment creation metric tracking
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
Labels: test-passing, require-backend-approval

#21929 [ART/99582] - update description text on sort, help, profile link arp featu…
  config/features.yml
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#21964 Cleanup VAOS feature toggles
  config/features.yml
Labels: test-passing, require-backend-approval

#22010 107089 Financial Management Zero Silent Error in progress email
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/debts_api/app/sidekiq/debts_api/v0/form5655/send_confirmation_email_job.rb
  modules/debts_api/lib/debts_api/v0/financial_status_report_service.rb
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/send_confirmation_email_job_spec.rb
Labels: test-passing, require-backend-approval

#22064 105776: Add new platform monitoring logic
  lib/logging/base_monitor.rb
  lib/logging/benefits_intake/monitor.rb
  lib/logging/controller/monitor.rb
  spec/lib/logging/base_monitor_spec.rb
Labels: test-passing, require-backend-approval

#22039 MHV-69452 Added AAL logs for sharing
  lib/mhv/aal/configuration.rb
  modules/my_health/app/controllers/my_health/v1/health_records_controller.rb
  modules/my_health/docs/openapi.yaml
  modules/my_health/docs/openapi_merged.yaml
  modules/my_health/spec/requests/my_health/v1/medical_records/health_records_spec.rb
  spec/support/vcr_cassettes/mr_client/post_opt_in.yml
  spec/support/vcr_cassettes/mr_client/post_opt_in_error.yml
  spec/support/vcr_cassettes/mr_client/post_opt_out.yml
  spec/support/vcr_cassettes/mr_client/post_opt_out_error.yml
Labels: test-passing, require-backend-approval

#21282 BE | Ask va api: refactor and deprecate
  modules/ask_va_api/app/controllers/ask_va_api/v0/static_data_auth_controller.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/static_data_controller.rb
  modules/ask_va_api/app/lib/ask_va_api/announcements/retriever.rb
  modules/ask_va_api/app/lib/ask_va_api/states/entity.rb
  modules/ask_va_api/app/lib/ask_va_api/states/retriever.rb
  modules/ask_va_api/app/lib/ask_va_api/states/serializer.rb
  modules/ask_va_api/app/lib/ask_va_api/zipcodes/entity.rb
  modules/ask_va_api/app/lib/ask_va_api/zipcodes/retriever.rb
  modules/ask_va_api/app/lib/ask_va_api/zipcodes/serializer.rb
  modules/ask_va_api/config/routes.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/states/entity_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/states/retriever_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/states/serializer_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/zipcodes/entity_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/zipcodes/retriever_spec.rb
  modules/ask_va_api/spec/app/lib/ask_va_api/zipcodes/serializer_spec.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/static_data_auth_spec.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/static_data_spec.rb
Labels: test-passing, require-backend-approval

#21707 feat(arp): Add redacted_at field and index for POA request redaction
  db/schema.rb
  modules/accredited_representative_portal/db/migrate/20250430165128_add_redacted_at_to_ar_power_of_attorney_requests.rb
  modules/accredited_representative_portal/db/migrate/20250430165129_add_redacted_at_index_to_ar_power_of_attorney_requests.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#22011 [195] Create STS Controller to return ICN given a one-time code
  .github/CODEOWNERS
  app/controllers/v0/virtual_agent/users_controller.rb
  app/models/chatbot/code_container.rb
  config/redis.yml
  config/routes.rb
  db/seeds/development.rb
  spec/factories/chatbot/code_containers.rb
  spec/models/chatbot/code_container_spec.rb
  spec/requests/v0/virtual_agent/user_spec.rb
Labels: test-passing, require-backend-approval

#22093 Filter attributes that are logged when SavedClaim returns validation errors
  app/models/saved_claim.rb
  config/features.yml
  spec/models/saved_claim_spec.rb
Labels: test-passing, require-backend-approval

#22092 Replaced CIV2 validation_key with override_validation_key
  app/controllers/concerns/vet360/writeable.rb
  app/controllers/v0/profile/addresses_controller.rb
  lib/va_profile/models/v3/address.rb
  lib/va_profile/models/v3/base_address.rb
  lib/va_profile/v2/contact_information/service.rb
  lib/va_profile/v3/address_validation/address_suggestions_response.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/address_validation_spec.rb
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  spec/controllers/v0/profile/address_validation_controller_spec.rb
  spec/factories/va_profile/v3/addresses.rb
  spec/lib/va_profile/v3/address_validation/service_spec.rb
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_override.yml
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_success.yml
Labels: test-passing, require-backend-approval

#22094 restructure mobile labs and tests response format to include data object wrapper
  modules/mobile/app/controllers/mobile/v1/labs_and_tests_controller.rb
  modules/mobile/spec/requests/mobile/v1/health/labs_and_tests_spec.rb
Labels: test-passing

#22095 Add index to ar_power_of_attorney_requests.redacted_at
  modules/accredited_representative_portal/db/migrate/20250430165129_add_redacted_at_index_to_ar_power_of_attorney_requests.rb
Labels: require-backend-approval

#22037 Updating Test step to save tmp directory as an artifact
  .github/workflows/code_checks.yml
Labels: test-passing, require-backend-approval

#22061 Fixed reference_data column and short circuit for already submitted claims
  lib/bpds/sidekiq/submit_to_bpds_job.rb
Labels: test-passing, require-backend-approval, pension-bpds

#22066 [Pensions] Moving constants into a separate file
  modules/pensions/lib/pensions/pdf_fill/constants.rb
  modules/pensions/lib/pensions/pdf_fill/va21p527ez.rb
Labels: pension-benefits, test-passing, require-backend-approval

#22043 Dependents webhooks
  .github/CODEOWNERS
  app/models/saved_claim/dependency_claim.rb
  lib/dependents/notification_callback.rb
  lib/dependents/notification_email.rb
  lib/sidekiq/retry_monitoring.rb
  spec/lib/dependents/notification_callback_spec.rb
  spec/lib/dependents/notification_email_spec.rb
  spec/sidekiq/bgs/submit_form674_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_job_spec.rb
  spec/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job_spec.rb
Labels: test-passing, require-backend-approval

#22089 API-46261 Use safer mail delivery method
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_bad_box20_render_report_job.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_bad_box20_render_report_job_spec.rb
Labels: Lighthouse, claimsApi, test-passing

#22101 remove file_obj from doc hash in doc upload job
  app/sidekiq/lighthouse/evidence_submissions/document_upload.rb
Labels: test-passing, require-backend-approval

#22088 Hide VAOS referral controller encryption exception from response
  config/betamocks/services_config.yml
  modules/vaos/app/exceptions/vaos/exceptions/configuration_error.rb
  modules/vaos/app/services/ccra/referral_service.rb
  modules/vaos/app/services/common/jwt_wrapper.rb
  modules/vaos/app/services/vaos/referral_encryption_service.rb
  modules/vaos/spec/services/common/jwt_wrapper_spec.rb
  modules/vaos/spec/services/vaos/referral_encryption_service_spec.rb
Labels: test-passing, require-backend-approval

#22059 excluding the 526 from updating IPF expiration on every update
  app/models/in_progress_form.rb
  spec/models/in_progress_form_spec.rb
Labels: test-passing, require-backend-approval

#22102 Added validationKey to V3 address for UI
  app/controllers/concerns/vet360/writeable.rb
  lib/va_profile/models/v3/address.rb
  lib/va_profile/models/v3/base_address.rb
  spec/factories/va_profile/v3/addresses.rb
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_override.yml
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_success.yml
Labels: audit-service-failure, test-passing, require-backend-approval

#21893 Add encryption rotation fields and indices to submission and attempt tables
  db/migrate/20250506172106_add_needs_kms_rotation_fields_to_submissions_tables.rb
  db/migrate/20250507151848_add_needs_kms_rotation_indices_to_submission_tables.rb
  db/schema.rb
Labels: pension-benefits, test-passing, require-backend-approval, pension-bpds

#21869 Most basic of basic scaffolding for endpoint and sidekiq job
  .github/CODEOWNERS
  app/controllers/v0/event_bus_gateway_controller.rb
  app/sidekiq/event_bus_gateway/letter_ready_email_job.rb
  app/sidekiq/lighthouse/evidence_submissions/failure_notification_email_job.rb
  config/features.yml
  config/routes.rb
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  spec/controllers/v0/event_bus_gateway_controller_spec.rb
  spec/sidekiq/event_bus_gateway/letter_ready_email_job_spec.rb
Labels: test-passing, require-backend-approval

#21954 Va iir 1487 update vre country submission
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  spec/factories/veteran_readiness_employment_claim.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
Labels: test-passing, require-backend-approval

#22084 adds dslogon deprecation feature flags
  config/features.yml
Labels: test-passing, require-backend-approval

#22087 Fix and expand sending Form 526 ancillary data to MAS API
  config/features.yml
  lib/mail_automation/client.rb
  spec/lib/mail_automation/client_spec.rb
Labels: test-passing, require-backend-approval

#22041 Kafka - don't redact icn on staging and rescue all icn lookup errors
  app/models/health_care_application.rb
  lib/kafka/concerns/kafka.rb
  spec/lib/kafka/concerns/kafka_spec.rb
Labels: test-passing, require-backend-approval

#22028 Improve logging for MyVA and Profile #108179
  app/controllers/v0/profile/direct_deposits_controller.rb
  app/controllers/v0/profile/email_addresses_controller.rb
  app/controllers/v0/profile/payment_history_controller.rb
  app/controllers/v0/profile/personal_informations_controller.rb
  app/models/adapters/payment_history_adapter.rb
Labels: test-passing, require-backend-approval

#22108 Return validation_key in the AddressSuggestionResponse
  lib/va_profile/v3/address_validation/address_suggestions_response.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/address_validation_spec.rb
  spec/controllers/v0/profile/address_validation_controller_spec.rb
  spec/lib/va_profile/v3/address_validation/service_spec.rb
Labels: test-passing, require-backend-approval

#22103 [Income & Assets] Applying appropriate suffixes to sections 8, 9 and 10
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_08.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_09.rb
  modules/income_and_assets/lib/income_and_assets/pdf_fill/sections/section_10.rb
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow_extras.pdf
Labels: pension-income-assets, test-passing, require-backend-approval

#22107 [Income & Assets] Updating fonts and font sizes for all text fields
  modules/income_and_assets/lib/income_and_assets/pdf_fill/pdfs/21P-0969.pdf
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/kitchen_sink.pdf
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow.pdf
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/simple.pdf
Labels: pension-income-assets, test-passing, require-backend-approval

#22073 Add CheckIn::Demographics model
  modules/mobile/app/controllers/mobile/v0/check_in_demographics_controller.rb
  modules/mobile/app/models/mobile/v0/adapters/check_in_demographics.rb
  modules/mobile/app/models/mobile/v0/adapters/check_in_update_demographics.rb
  modules/mobile/app/models/mobile/v0/check_in/address.rb
  modules/mobile/app/models/mobile/v0/check_in/contact.rb
  modules/mobile/app/models/mobile/v0/check_in/demographics.rb
  modules/mobile/app/models/mobile/v0/check_in/update_demographics.rb
  modules/mobile/app/serializers/mobile/v0/check_in_demographics_serializer.rb
  modules/mobile/app/serializers/mobile/v0/check_in_update_demographics_serializer.rb
Labels: test-passing

#22030 [refactor] Implement date-aware form structure handling for 0781 remediation
  db/seeds/remediation.rb
  lib/simple_forms_api/form_remediation/configuration/form_0781_config.rb
  modules/simple_forms_api/app/services/simple_forms_api/form_remediation/form0781_submission_remediation_data.rb
  modules/simple_forms_api/lib/tasks/remediate_0781_and_0781v2_forms.rake
  modules/simple_forms_api/spec/tasks/remediate_0781_and_0781v2_forms_spec.rb
Labels: test-passing, require-backend-approval

#22123 Removed validation_key attribute from VAProfile::Models::V3::Address
  app/controllers/concerns/vet360/writeable.rb
  lib/va_profile/models/v3/address.rb
  lib/va_profile/models/v3/base_address.rb
  spec/factories/va_profile/v3/addresses.rb
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_override.yml
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_success.yml
Labels: test-passing, require-backend-approval

#22124 Fixiing dig error in AdaptersPayHistory
  app/models/adapters/payment_history_adapter.rb
Labels: test-passing, require-backend-approval

#21848 105776: Update monitoring around the modules
  lib/logging/base_monitor.rb
  modules/burials/app/controllers/burials/v0/claims_controller.rb
  modules/burials/lib/burials/benefits_intake/submit_claim_job.rb
  modules/burials/lib/burials/monitor.rb
  modules/burials/spec/lib/benefits_intake/submit_claim_job_spec.rb
  modules/burials/spec/lib/burials/monitor_spec.rb
Labels: test-failure, test-passing

#22104 Adjust date check in tests
  spec/sidekiq/bgs/submit_form674_job_spec.rb
  spec/sidekiq/bgs/submit_form686c_job_spec.rb
  spec/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job_spec.rb
Labels: test-passing, require-backend-approval

#21965 Remove all traces of C&P email template #107774
  app/controllers/v0/ppiu_controller.rb
  app/mailers/direct_deposit_mailer.rb
  app/mailers/views/direct_deposit.html.erb
  app/sidekiq/va_notify_dd_email_job.rb
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/mobile/app/controllers/mobile/v0/payment_information_controller.rb
  modules/mobile/app/services/mobile/v0/legacy_payment_information/proxy.rb
  modules/mobile/spec/requests/mobile/v0/payment_information/benefits_spec.rb
  modules/mobile/spec/requests/mobile/v0/payment_information/legacy_benefits_spec.rb
  spec/controllers/v0/profile/direct_deposits_controller_spec.rb
  spec/mailers/direct_deposit_mailer_spec.rb
  spec/requests/v0/ppiu/payment_information_spec.rb
  spec/sidekiq/va_notify_dd_email_job_spec.rb
Labels: test-passing, require-backend-approval

#22120 BE | Ask VA Api: Add global maintenance mode feature toggle for Ask VA API
  config/features.yml
  modules/ask_va_api/app/controllers/ask_va_api/application_controller.rb
  modules/ask_va_api/spec/requests/ask_va_api/v0/inquiries_spec.rb
Labels: test-passing, require-backend-approval

#21932 Add service number regex to match frontend validation
  modules/representation_management/app/models/representation_management/form_2122_base.rb
  modules/representation_management/spec/fixtures/21-22/v0/2122_with_limitations_no_claimant_request_body.json
  modules/representation_management/spec/fixtures/21-22/v0/2122_with_limitations_request_body.json
  modules/representation_management/spec/fixtures/21-22/v0/default/2122_with_limitations.pdf
  modules/representation_management/spec/fixtures/21-22/v0/default/2122_with_limitations_no_claimant.pdf
  modules/representation_management/spec/fixtures/21-22/v0/unflattened/2122_with_limitations.pdf
  modules/representation_management/spec/fixtures/21-22/v0/unflattened/2122_with_limitations_no_claimant.pdf
  modules/representation_management/spec/fixtures/21-22A/v0/2122a_conditions_and_limitations_no_claimant_request_body.json
  modules/representation_management/spec/fixtures/21-22A/v0/2122a_conditions_and_limitations_request_body.json
  modules/representation_management/spec/fixtures/21-22A/v0/default/2122a_conditions_and_limitations.pdf
  modules/representation_management/spec/fixtures/21-22A/v0/default/2122a_conditions_and_limitations_no_claimant.pdf
  modules/representation_management/spec/fixtures/21-22A/v0/unflattened/2122a_conditions_and_limitations.pdf
  modules/representation_management/spec/fixtures/21-22A/v0/unflattened/2122a_conditions_and_limitations_no_claimant.pdf
  modules/representation_management/spec/lib/representation_management/v0/pdf_constructor/form_2122_spec.rb
  modules/representation_management/spec/lib/representation_management/v0/pdf_constructor/form_2122a_spec.rb
  modules/representation_management/spec/models/representation_management/form_2122_base_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/pdf_generator_2122_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/pdf_generator_2122a_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/power_of_attorney_requests_controller_spec.rb
  modules/representation_management/spec/support/swagger_shared_components/v0.rb
Labels: test-passing, require-backend-approval

#22113 [ID-114] - Add as_agent option to mpi add_person
  app/models/mpi_data.rb
  lib/mpi/constants.rb
  lib/mpi/messages/add_person_proxy_add_message.rb
  lib/mpi/messages/request_builder.rb
  lib/mpi/service.rb
  spec/lib/mpi/messages/add_person_proxy_add_message_spec.rb
  spec/lib/mpi/messages/request_builder_spec.rb
  spec/lib/mpi/service_spec.rb
  spec/models/mpi_data_spec.rb
  spec/support/vcr_cassettes/mpi/add_person/add_person_as_agent_already_exists.yml
  spec/support/vcr_cassettes/mpi/add_person/add_person_as_agent_success.yml
Labels: test-passing

#22139 Added validation_key attribute to VAProfile::V3::Address
  app/controllers/concerns/vet360/writeable.rb
  lib/va_profile/models/v3/address.rb
  lib/va_profile/models/v3/base_address.rb
Labels: test-passing, require-backend-approval

#22067 Replace Virtus with Vets::Model - Model Docs
  .github/CODEOWNERS
  app/models/evss_claim_document.rb
  app/models/lighthouse_document.rb
  lib/lighthouse/benefits_documents/configuration.rb
  lib/vets/model.rb
  spec/lib/lighthouse/benefits_documents/configuration_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
  spec/models/evss_claim_document_spec.rb
  spec/models/form_profile_spec.rb
  spec/models/form_profile_v2_spec.rb
  spec/models/lighthouse_document_spec.rb
  spec/services/evss_claim_service_spec.rb
Labels: test-passing, require-backend-approval

#22137 wrap logic in parens to fix bug
  lib/bgs/form686c.rb
Labels: test-passing, require-backend-approval

#22114 MHV-71249: My Health apidocs controller fix
  modules/my_health/app/controllers/my_health/apidocs_controller.rb
Labels: test-passing, require-backend-approval

#22146 Sending override indicator for V2 Contact Information
  app/controllers/concerns/vet360/writeable.rb
  lib/va_profile/models/v3/address.rb
  lib/va_profile/v2/contact_information/service.rb
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_override.yml
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_success.yml
Labels: test-failure, test-passing, require-backend-approval

#22063 [10-10EZ] Replace Sentry calls with Rails logs
  app/models/health_care_application.rb
  config/features.yml
  lib/hca/enrollment_eligibility/service.rb
  lib/hca/soap_parser.rb
  spec/lib/hca/enrollment_eligibility/service_spec.rb
  spec/lib/hca/soap_parser_spec.rb
  spec/models/health_care_application_spec.rb
  spec/requests/v0/health_care_applications_spec.rb
Labels: test-passing, require-backend-approval

#22109 [Pensions] Moving helpers into a separate file
  modules/pensions/lib/pensions/pdf_fill/constants.rb
  modules/pensions/lib/pensions/pdf_fill/helpers.rb
  modules/pensions/lib/pensions/pdf_fill/va21p527ez.rb
  modules/pensions/spec/fixtures/kitchen_sink.pdf
  modules/pensions/spec/fixtures/merge_fields.json
  modules/pensions/spec/fixtures/overflow.pdf
  modules/pensions/spec/fixtures/overflow_extras.pdf
  modules/pensions/spec/fixtures/simple.pdf
  modules/pensions/spec/lib/pensions/pdf_fill/va21p527ez_spec.rb
Labels: pension-benefits, test-passing, require-backend-approval

#22031 Travel Pay/Mobile SMOC controller etc
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/mobile/app/controllers/mobile/v0/travel_pay_claims_controller.rb
  modules/mobile/app/models/mobile/v0/contracts/travel_pay_smoc.rb
  modules/mobile/app/models/mobile/v0/travel_pay_claim_summary.rb
  modules/mobile/app/serializers/mobile/v0/travel_pay_claim_summary_serializer.rb
  modules/mobile/config/routes.rb
  modules/mobile/docs/examples/appointments/cc_appointment.yml
  modules/mobile/docs/examples/appointments/va_appointment.yml
  modules/mobile/docs/examples/appointments/va_video_connect_atlas_appointment.yml
  modules/mobile/docs/index.html
  modules/mobile/docs/openapi.json
  modules/mobile/docs/openapi.yaml
  modules/mobile/docs/schemas/TravelPayClaimSummary.yml
  modules/mobile/docs/schemas/TravelPaySubmitMileageOnlyClaim.yml
  modules/mobile/spec/requests/mobile/v0/travel_pay_claims_spec.rb
  modules/mobile/spec/support/schemas/travel_pay_claim_summary.json
  modules/mobile/spec/support/schemas/travel_pay_smoc_response.json
  modules/travel_pay/app/services/travel_pay/appointments_service.rb
  spec/support/vcr_cassettes/travel_pay/submit/success.yml
Labels: test-passing, require-backend-approval

#22134 fix spelling
  app/models/bgs_dependents/child_student.rb
Labels: test-passing, require-backend-approval

#22091 MHV-67096-add-x-api-key
  .github/CODEOWNERS
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/mhv_ac/client.rb
  lib/mhv_ac/configuration.rb
  lib/rx/client.rb
  lib/rx/configuration.rb
  lib/rx/medications_client.rb
  modules/my_health/app/controllers/my_health/rx_controller.rb
  spec/lib/rx/client_spec.rb
  spec/lib/rx/configuration_spec.rb
  spec/lib/rx/medications_client_spec.rb
  spec/rails_helper.rb
  spec/support/rx_spec_helper.rb
Labels: test-passing, require-backend-approval

#22141 Revert "Revert "VEBT-1702 - fix cert thru date logic for VYE verifications and update tests""
  modules/vye/app/controllers/vye/v1/verifications_controller.rb
  modules/vye/app/models/concerns/vye/needs_enrollment_verification.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case10_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case1_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case2_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case3_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case4_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case5_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case6_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case7_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case8_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case9_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_case_eom_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_future_award_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_implied_aed_spec.rb
  modules/vye/spec/controllers/vye/v1/pending_verification_scenarios/verifications_controller_past_award_spec.rb
  modules/vye/spec/controllers/vye/v1/verifications_controller_spec.rb
  modules/vye/spec/models/vye/user_info_spec.rb
  modules/vye/spec/support/shared_award_helpers.rb
Labels: test-passing, require-backend-approval

#22128 Remove silent_failure_avoided_no_confirmation for failed CST uploads
  app/sidekiq/lighthouse/evidence_submissions/document_upload.rb
  app/sidekiq/lighthouse/evidence_submissions/failure_notification_email_job.rb
  spec/sidekiq/lighthouse/evidence_submissions/document_upload_spec.rb
  spec/sidekiq/lighthouse/evidence_submissions/failure_notification_email_job_spec.rb
Labels: Claim Status Tool, test-passing, require-backend-approval

#22140 API-46261 Use more standard Mailer class for report
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_bad_box20_render_report_job.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_bad_box20_render_report_job_spec.rb
Labels: Lighthouse, claimsApi, test-passing

#22050 MHV-69301 Added AAL logging to CCD Controller
  modules/my_health/app/controllers/my_health/v1/medical_records/ccd_controller.rb
  modules/my_health/spec/requests/my_health/v1/medical_records/ccd_spec.rb
  spec/support/vcr_cassettes/mr_client/get_ccd_download.yml
  spec/support/vcr_cassettes/mr_client/get_ccd_generate.yml
Labels: test-passing, require-backend-approval

#22145 MHV-69302 Added AAL to SEI action; refactored AAL code
  modules/my_health/app/controllers/concerns/my_health/aal_client_concerns.rb
  modules/my_health/app/controllers/my_health/v1/health_records_controller.rb
  modules/my_health/app/controllers/my_health/v1/medical_records/self_entered_controller.rb
  modules/my_health/spec/requests/my_health/v1/medical_records/self_entered_spec.rb
Labels: test-passing, require-backend-approval

#22138 [ID-118] - Create and check cerner eligibility cookie
  app/controllers/concerns/authentication_and_sso_concerns.rb
  app/controllers/v1/sessions_controller.rb
  app/models/user.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/models/user_spec.rb
Labels: test-passing

#22162 Attempting to provide validationKey to UI
  lib/va_profile/models/v3/address.rb
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_override.yml
  spec/support/vcr_cassettes/va_profile/v2/contact_information/put_address_success.yml
Labels: test-passing, require-backend-approval

#22118 Vets::Collection updates to match Common::Collection
  lib/vets/attributes.rb
  lib/vets/collection.rb
  lib/vets/collections/cacheable.rb
  lib/vets/collections/finder.rb
  lib/vets/collections/pagination.rb
  lib/vets/type/utc_time.rb
  spec/lib/vets/collection_spec.rb
  spec/lib/vets/collections/finder_spec.rb
  spec/lib/vets/collections/pagination_spec.rb
Labels: test-passing, require-backend-approval

#21794 Add SSM validation to GHA Settings Check
  .github/workflows/settings_checks.yml
Labels: test-passing, require-backend-approval

#22112 92821 Financial Management - Remove Copay Cache Flipper
  app/services/medical_copays/vbs/service.rb
  config/features.yml
  spec/services/medical_copays/vbs/service_spec.rb
Labels: test-passing, require-backend-approval

#21567 Travel Pay/document download
  app/swagger/swagger/requests/travel_pay.rb
  app/swagger/swagger/schemas/travel_pay.rb
  config/betamocks/services_config.yml
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
  modules/travel_pay/app/controllers/travel_pay/v0/documents_controller.rb
  modules/travel_pay/app/services/travel_pay/base_client.rb
  modules/travel_pay/app/services/travel_pay/documents_client.rb
  modules/travel_pay/app/services/travel_pay/documents_service.rb
  modules/travel_pay/config/routes.rb
  modules/travel_pay/spec/requests/travel_pay/claims_spec.rb
  modules/travel_pay/spec/requests/travel_pay/documents_spec.rb
  modules/travel_pay/spec/services/documents_client_spec.rb
  modules/travel_pay/spec/services/documents_service_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/vcr_cassettes/travel_pay/400_claims.yml
  spec/support/vcr_cassettes/travel_pay/auth/all_auth.yml
  spec/support/vcr_cassettes/travel_pay/documents/index/success.yml
  spec/support/vcr_cassettes/travel_pay/documents/internal_error.yml
  spec/support/vcr_cassettes/travel_pay/documents/not_found.yml
  spec/support/vcr_cassettes/travel_pay/documents/success_pdf.yml
Labels: test-passing, require-backend-approval

#21977 Remove released VAOS feature toggles
  config/features.yml
Labels: test-passing, require-backend-approval

#21835 [105455] Add gclaws origin secret
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
Labels: test-passing, require-backend-approval

#21708 feat: Add PII Redaction Background Job for POA Requests
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_expiration.rb
  modules/accredited_representative_portal/app/sidekiq/accredited_representative_portal/expire_power_of_attorney_requests_job.rb
  modules/accredited_representative_portal/app/sidekiq/accredited_representative_portal/redact_power_of_attorney_requests_job.rb
  modules/accredited_representative_portal/lib/tasks/poa_redaction_dry_run.rake
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request.rb
  modules/accredited_representative_portal/spec/sidekiq/accredited_representative_portal/redact_power_of_attorney_requests_job_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#22105 Dependents | Add monitor toggle
  config/features.yml
Labels: feature flag, dependents-benefits, test-passing, require-backend-approval

#21836 [105455] Add the origin header to the gclaws config
  modules/representation_management/app/services/representation_management/gclaws/configuration.rb
  modules/representation_management/spec/services/representation_management/gclaws/configuration_spec.rb
Labels: test-passing, require-backend-approval

#22086 [Burials] Update the pdf_fill folders' directory hierarchy
  modules/burials/lib/burials.rb
  modules/burials/lib/burials/benefits_intake/submit_claim_job.rb
  modules/burials/lib/burials/engine.rb
  modules/burials/lib/burials/pdf_fill/pdfs/21P-530EZ.pdf
  modules/burials/lib/burials/pdf_fill/va21p530ez.rb
  modules/burials/lib/burials/zero_silent_failures/manual_remediation.rb
  modules/burials/spec/lib/benefits_intake/submit_claim_job_spec.rb
  modules/burials/spec/lib/burials/pdf_fill/filler_spec.rb
  modules/burials/spec/lib/burials/pdf_fill/va21p530ez_spec.rb
Labels: burial-benefits, test-passing, require-backend-approval

#22125 Add VAOS EPS Betamocks
  config/betamocks/services_config.yml
  modules/vaos/app/models/ccra/referral_list_entry.rb
  modules/vaos/app/services/ccra/base_service.rb
  modules/vaos/app/services/ccra/referral_service.rb
  modules/vaos/app/services/eps/appointment_service.rb
  modules/vaos/app/services/eps/base_service.rb
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/services/eps/appointment_service_spec.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
Labels: test-passing, require-backend-approval

#22136 109451 eps token auth updates
  lib/eps/token_authentication.rb
  modules/vaos/app/services/eps/base_service.rb
  modules/vaos/app/services/eps/configuration.rb
  modules/vaos/app/services/eps/redis_client.rb
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
  modules/vaos/spec/requests/vaos/v2/eps_appointments_spec.rb
  modules/vaos/spec/services/eps/redis_client_spec.rb
  modules/vaos/spec/services/eps/token_authentication_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
  spec/support/vcr_cassettes/vaos/eps/token/token_200.yml
Labels: test-passing, require-backend-approval

#22150 feat(dev): add local-openresty script for reverse proxy setup
  bin/local-openresty
  docs/setup/local-openresty.md
  docs/setup/local-traefik.md
Labels: test-passing, require-backend-approval

#22152 add batched record deletion for old db entries
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  lib/periodic_jobs.rb
  modules/ivc_champva/app/jobs/ivc_champva/old_records_cleanup_job.rb
  modules/ivc_champva/spec/jobs/old_records_cleanup_job_spec.rb
Labels: test-passing, require-backend-approval

#22161 [Payments] Payment data may not be an array, so wrap before iterating
  app/services/bgs/payment_service.rb
Labels: test-passing, require-backend-approval, BMT2

#22130 [10-10EZ] Replace JSON::Validator with JSONSchemer
  app/models/health_care_application.rb
  config/features.yml
  spec/models/health_care_application_spec.rb
  spec/requests/v0/health_care_applications_spec.rb
Labels: test-passing, require-backend-approval

#22183 Removed null country_code_iso3 from transaction logs
  lib/va_profile/v2/contact_information/transaction_response.rb
Labels: test-passing, require-backend-approval

#22158 Update Chatbot seeds
  db/seeds/development.rb
Labels: test-passing, require-backend-approval

#21781 Fix POA Request Eager Loading, Enforce Unredacted Scope, and Add Redaction Tests
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/power_of_attorney_request_policy.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_request_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval

#22131 update url in settings to point to env variable
  config/settings.yml
Labels: test-passing, require-backend-approval, pension-bpds

#21998 [VI-1105] adds user_account_id to FormEmailMatchesProfileLog
  app/models/in_progress_form.rb
  app/sidekiq/hca/log_email_diff_job.rb
  spec/factories/in_progress_forms/in_progress_forms.rb
  spec/lib/lighthouse/benefits_claims/intent_to_file/monitor_spec.rb
  spec/requests/v0/in_progress_forms_controller_spec.rb
  spec/sidekiq/hca/log_email_diff_job_spec.rb
Labels: test-passing, require-backend-approval

#22191 Log all ContactInformationV2 requests to debug double requests to VAProfile
  lib/va_profile/v2/contact_information/service.rb
Labels: test-passing, require-backend-approval

#22187 API-46261 Send emails in batches too
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_bad_box20_render_report_job.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_bad_box20_render_report_job_spec.rb
Labels: Lighthouse, claimsApi, test-passing

#22164 109295 - Validate form pdf downloads
  .github/CODEOWNERS
  app/controllers/v0/my_va/submission_pdf_urls_controller.rb
  spec/requests/v0/my_va/submission_pdf_urls_spec.rb
  spec/support/vcr_cassettes/my_va/submission_pdf_urls.yml
  spec/support/vcr_cassettes/my_va/submission_pdf_urls_404.yml
Labels: test-passing, require-backend-approval

#22115 105778 audit pension monitoring
  lib/logging/benefits_intake/monitor.rb
  modules/pensions/lib/pensions/benefits_intake/pension_benefit_intake_job.rb
  modules/pensions/lib/pensions/monitor.rb
  modules/pensions/spec/lib/benefits_intake/pension_benefit_intake_job_spec.rb
  modules/pensions/spec/lib/pensions/monitor_spec.rb
Labels: test-passing, require-backend-approval

#22121 92821 Financial Management remove failure mailer flipper
  modules/debts_api/app/models/debts_api/v0/form5655_submission.rb
  modules/debts_api/spec/lib/debt_api/v0/financial_status_report_service_spec.rb
  modules/debts_api/spec/models/debt_api/v0/form5655_submission_spec.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vba_submission_job_spec.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vha/vbs_submission_job_spec.rb
Labels: test-passing, require-backend-approval

#22132 Update overflow placeholder text in PDF form; Add PDF rspec matcher
  .github/CODEOWNERS
  lib/pdf_fill/extras_generator.rb
  lib/pdf_fill/extras_generator_v2.rb
  lib/pdf_fill/hash_converter.rb
  modules/burials/spec/lib/burials/pdf_fill/filler_spec.rb
  modules/representation_management/spec/lib/representation_management/v0/pdf_constructor/form_2122_spec.rb
  modules/representation_management/spec/lib/representation_management/v0/pdf_constructor/form_2122a_spec.rb
  spec/fixtures/pdf_fill/21-0781V2/overflow_redesign.pdf
  spec/lib/pdf_fill/extras_generator_spec.rb
  spec/lib/pdf_fill/fill_form_examples.rb
  spec/lib/pdf_fill/filler_spec.rb
  spec/lib/pdf_fill/hash_converter_spec.rb
  spec/rails_helper.rb
  spec/support/matchers/pdf_fill_matchers.rb
  spec/support/pdf_fill_helper.rb
Labels: test-passing, require-backend-approval
