Repository department-of-veterans-affairs/vets-api, pull requests merged in 2025-01, with the labels that each got.

#19999 Add 21-509 min and max pages to Form Upload flow
  app/models/persistent_attachments/va_form.rb
  spec/models/persistent_attachments/va_form_spec.rb
Labels: test-passing, require-backend-approval

#20023 Form Upload flow, increase file size limit to 25MB
  app/uploaders/form_upload/uploader.rb
Labels: test-passing, require-backend-approval

#20061 Log form number and file size for form upload submissions
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/scanned_form_uploads_controller.rb
Labels: test-passing, require-backend-approval

#20075 Use engine only test helpers
  modules/decision_reviews/spec/controllers/decision_review_evidences_controller_spec.rb
  modules/decision_reviews/spec/controllers/decision_review_notification_callbacks_controller_spec.rb
  modules/decision_reviews/spec/dr_spec_helper.rb
  modules/decision_reviews/spec/requests/v1/higher_level_reviews/contestable_issues_spec.rb
  modules/decision_reviews/spec/requests/v1/higher_level_reviews_spec.rb
  modules/decision_reviews/spec/requests/v1/notice_of_disagreements/contestable_issues_spec.rb
  modules/decision_reviews/spec/requests/v1/notice_of_disagreements_spec.rb
  modules/decision_reviews/spec/requests/v1/supplemental_claims/contestable_issues_spec.rb
  modules/decision_reviews/spec/requests/v1/supplemental_claims_spec.rb
  modules/decision_reviews/spec/requests/v2/higher_level_reviews_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#19975 99537: Remove silent_failure_avoided_no_confirmation from DR jobs
  app/sidekiq/decision_review/failure_notification_email_job.rb
  app/sidekiq/decision_review/form4142_submit.rb
  app/sidekiq/decision_review/submit_upload.rb
  modules/decision_reviews/app/sidekiq/decision_reviews/failure_notification_email_job.rb
  modules/decision_reviews/app/sidekiq/decision_reviews/form4142_submit.rb
  modules/decision_reviews/app/sidekiq/decision_reviews/submit_upload.rb
  modules/decision_reviews/spec/sidekiq/form4142_submit_spec.rb
  modules/decision_reviews/spec/sidekiq/submit_upload_spec.rb
  spec/sidekiq/decision_review/form4142_submit_spec.rb
  spec/sidekiq/decision_review/submit_upload_spec.rb
Labels: test-passing, require-backend-approval

#19770 [94404] [CST] Create a job to poll upload status
  .github/CODEOWNERS
  app/models/evidence_submission.rb
  app/sidekiq/lighthouse/evidence_submission_document_upload_polling_job.rb
  db/migrate/20240925160219_create_evidence_submissions.rb
  db/schema.rb
  lib/lighthouse/benefits_documents/documents_status_polling_service.rb
  lib/lighthouse/benefits_documents/update_documents_status_service.rb
  lib/lighthouse/benefits_documents/upload_status_updater.rb
  spec/factories/lighthouse/benefits_documents/evidence_submission.rb
  spec/lib/lighthouse/benefits_documents/update_documents_status_service_spec.rb
  spec/lib/lighthouse/benefits_documents/upload_status_updater_spec.rb
  spec/sidekiq/lighthouse/document_upload_spec.rb
  spec/sidekiq/lighthouse/evidence_submission_document_upload_polling_job_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_document_upload_status_polling_failed.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_document_upload_status_polling_pending.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_document_upload_status_polling_success.yml
  spec/support/vcr_cassettes/spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_document_upload_200_jpg.yml
  spec/support/vcr_cassettes/spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_document_upload_200_pdf.yml
Labels: Claim Status Tool, test-failure, test-passing, require-backend-approval

#20088 vebt-981 - 1995 spool file show R after form type for Rudisill
  app/sidekiq/education_form/forms/va_1995.rb
  app/sidekiq/education_form/templates/1995.erb
  spec/fixtures/education_benefits_claims/1995/ch1606.spl
  spec/fixtures/education_benefits_claims/1995/ch30.spl
  spec/fixtures/education_benefits_claims/1995/ch30_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/1995/ch30_guardian_graduated_sponsor.spl
  spec/fixtures/education_benefits_claims/1995/ch30_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/1995/ch33_fry.spl
  spec/fixtures/education_benefits_claims/1995/ch33_fry_noncollege.spl
  spec/fixtures/education_benefits_claims/1995/ch33_post911.spl
Labels: test-passing, require-backend-approval

#19981 Created Feature Flipper to Remove PCIU Data Requests in Pre-Fill
  config/features.yml
  spec/models/form_profile_spec.rb
  spec/requests/v0/in_progress_forms_controller_spec.rb
Labels: test-passing, require-backend-approval

#20091 edm-455 add feature flag for sob
  config/features.yml
Labels: test-passing, require-backend-approval

#20087 Bump nokogiri 1.17.2 -> 1.18.1
  Gemfile.lock
Labels: test-passing, require-backend-approval

#20083 Bump carrierwave 3.0.7 -> 3.1.0
  Gemfile.lock
Labels: test-passing, require-backend-approval

#20077 [DBEX] set indicator object from submitted string value
  lib/pdf_fill/forms/va210781v2.rb
  spec/fixtures/pdf_fill/21-0781V2/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0781V2/overflow.json
  spec/support/disability_compensation_form/all_claims_with_0781v2_fe_submission.json
  spec/support/disability_compensation_form/form_0781v2.json
  spec/support/disability_compensation_form/submissions/with_0781v2.json
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval

#19941 99019: Add deprecation warning and unschedule DR non-engine jobs
  app/sidekiq/decision_review/delete_saved_claim_records_job.rb
  app/sidekiq/decision_review/failure_notification_email_job.rb
  app/sidekiq/decision_review/hlr_status_updater_job.rb
  app/sidekiq/decision_review/nod_status_updater_job.rb
  app/sidekiq/decision_review/sc_status_updater_job.rb
  lib/periodic_jobs.rb
Labels: test-passing, require-backend-approval

#20094 [96901] Add Individual Type to current rep API response
  modules/representation_management/app/serializers/representation_management/power_of_attorney/representative_serializer.rb
  modules/representation_management/app/swagger/v0/swagger.json
  modules/representation_management/spec/requests/representation_management/v0/power_of_attorney_swagger_spec.rb
  modules/representation_management/spec/serializers/power_of_attorney/representative_serializer_spec.rb
  modules/representation_management/spec/support/rswag_config.rb
Labels: appoint-a-representative, test-passing, require-backend-approval

#20096 Add test coverage to verify correct argument is passed to process_0781
  spec/sidekiq/evss/disability_compensation_form/submit_form0781_spec.rb
Labels: test-passing, require-backend-approval

#20086 [DBEX] assign otherBehaviors string value to own property
  lib/evss/disability_compensation_form/form0781.rb
  lib/pdf_fill/forms/va210781v2.rb
  spec/fixtures/pdf_fill/21-0781V2/kitchen_sink.json
  spec/fixtures/pdf_fill/21-0781V2/merge_fields.json
  spec/fixtures/pdf_fill/21-0781V2/overflow.json
  spec/lib/pdf_fill/forms/va210781v2_spec.rb
  spec/support/disability_compensation_form/all_claims_with_0781v2_fe_submission.json
  spec/support/disability_compensation_form/form_0781v2.json
  spec/support/disability_compensation_form/submissions/with_0781v2.json
Labels: disability-experience, disability-compensation, test-passing, require-backend-approval

#20050 [10-10CG] Update caregiver facilities endpoint from GET to POST
  config/routes.rb
  spec/requests/v0/caregivers_assistance_claims_spec.rb
Labels: test-passing, require-backend-approval

#20065 94111: 21P-530EZ Wire up flipper and new logic for email notification
  app/sidekiq/benefits_intake_status_job.rb
  config/settings.yml
  modules/burials/lib/burials/engine.rb
Labels: test-passing, require-backend-approval

#20092 Update README.md
  modules/decision_reviews/README.md
Labels: test-passing

#19823 API-42325-extract-tracked-tems-service
  modules/claims_api/app/controllers/concerns/claims_api/v2/claims_requests/tracked_items.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/tracked_item_service.rb
  modules/claims_api/spec/concerns/claims_api/v2/claims_requests/tracked_items_spec.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_proxy_spec.rb
  modules/claims_api/spec/requests/metadata_spec.rb
  modules/claims_api/spec/requests/v2/veterans/claims_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_claims_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20100 VEBT-985 - 1995 spool file fix form type for rudisill
  app/sidekiq/education_form/forms/va_1995.rb
  app/sidekiq/education_form/templates/1995.erb
  spec/fixtures/education_benefits_claims/1995/ch1606.spl
  spec/fixtures/education_benefits_claims/1995/ch30.spl
  spec/fixtures/education_benefits_claims/1995/ch30_guardian_graduated.spl
  spec/fixtures/education_benefits_claims/1995/ch30_guardian_graduated_sponsor.spl
  spec/fixtures/education_benefits_claims/1995/ch30_guardian_not_graduated.spl
  spec/fixtures/education_benefits_claims/1995/ch33_fry.spl
  spec/fixtures/education_benefits_claims/1995/ch33_fry_noncollege.spl
  spec/fixtures/education_benefits_claims/1995/ch33_post911.spl
Labels: test-passing, require-backend-approval

#20046 [VI-918] Updating UserVerifier to take distinct attributes, and to properly propagate mhv uuid
  app/controllers/v1/sessions_controller.rb
  app/services/login/user_verifier.rb
  app/services/sign_in/user_code_map_creator.rb
  spec/controllers/v0/sign_in_controller_spec.rb
  spec/models/user_spec.rb
  spec/services/login/user_verifier_spec.rb
Labels: test-passing

#20047 [VI-917] MHV Correlation ID attribute only for verified users
  app/models/user.rb
  spec/models/user_spec.rb
Labels: test-passing

#19839 #1429: update notificaiton model for encrypted field
  modules/va_notify/app/models/va_notify/notification.rb
Labels: test-passing, require-backend-approval

#20076 Allow SAHSHA emails to be sent without reference_numbers
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
  modules/simple_forms_api/spec/services/notification_email_spec.rb
Labels: test-passing, require-backend-approval

#19868 [API-43131] Validate 526 v1 disabilitiesʼ classification code end date
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/spec/requests/v1/forms/526_spec.rb
Labels: claimsApi, test-passing

#20104 Fix SubmitBenefitsIntakeClaim import error
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
  spec/sidekiq/lighthouse/submit_benefits_intake_claim_spec.rb
Labels: test-passing, require-backend-approval

#20067 API-43467-2122-consent-limits
  modules/claims_api/lib/claims_api/v1/poa_pdf_constructor/base.rb
  modules/claims_api/lib/claims_api/v1/poa_pdf_constructor/organization.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/base.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/organization.rb
  modules/claims_api/spec/lib/claims_api/shared_pdf_constructor_base_examples_spec.rb
  modules/claims_api/spec/lib/claims_api/v1/poa_pdf_constructor/base_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/base_spec.rb
Labels: claimsApi, test-passing

#20035 VaNotify - Update callback logging
  modules/va_notify/app/controllers/va_notify/callbacks_controller.rb
  modules/va_notify/spec/requests/callbacks_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#20101 Update VANotify README to clarify callback metadata inclusion with Service
  modules/va_notify/README.md
Labels: test-passing, require-backend-approval

#20102 [VACMS-20093]Update real-time banners every 5 minutes instead of waiting 10
  lib/periodic_jobs.rb
Labels: test-passing, require-backend-approval

#20030 Log whenever Form Upload Flow prefill data is changed
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/scanned_form_uploads_controller.rb
  modules/simple_forms_api/app/services/simple_forms_api/prefill_data_service.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/scanned_form_uploads_spec.rb
  modules/simple_forms_api/spec/services/prefill_data_service_spec.rb
Labels: test-passing, require-backend-approval

#20028 Vebt 747 additional logging - Vye Midnight Run & Sundown Sweep
  config/settings.yml
  modules/vye/app/sidekiq/vye/midnight_run.rb
  modules/vye/app/sidekiq/vye/midnight_run/ingress_bdn.rb
  modules/vye/app/sidekiq/vye/midnight_run/ingress_bdn_chunk.rb
  modules/vye/app/sidekiq/vye/sundown_sweep.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/clear_deactivated_bdns.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/delete_processed_s3_files.rb
  modules/vye/lib/concerns/vye/cloud_transfer.rb
  modules/vye/lib/tasks/vye/setup_for_sundown_sweep_devtest.rake
  modules/vye/lib/vye/batch_transfer/bdn_chunk.rb
  modules/vye/lib/vye/batch_transfer/chunk.rb
  modules/vye/lib/vye/batch_transfer/chunking.rb
  modules/vye/spec/fixtures/bdn_sample/WAVE.txt
  modules/vye/spec/lib/vye/batch_transfer/bdn_chunk_spec.rb
  modules/vye/spec/lib/vye/batch_transfer/chunk_spec.rb
  modules/vye/spec/sidekiq/vye/midnight_run/ingress_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/midnight_run_spec.rb
Labels: test-passing, require-backend-approval

#20069 Adds notification kicker and DPO option feature flags
  config/features.yml
Labels: test-passing, require-backend-approval

#19752 [VI-850] updates SiS session refresher to poll MPI for id theft & death flags
  app/models/user.rb
  app/services/sign_in/user_loader.rb
  lib/mpi/errors/errors.rb
  modules/mobile/spec/controllers/application_controller_spec.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/models/user_spec.rb
  spec/services/sign_in/user_loader_spec.rb
Labels: test-passing, require-backend-approval

#20108 [CST] - Add feature flag `cst_send_evidence_submission_failure_emails`
  config/features.yml
Labels: Claim Status Tool, test-passing, require-backend-approval

#19907 [VI-252] MAP STS token validation
  app/controllers/v0/map_services_controller.rb
  config/betamocks/services_config.yml
  lib/map/security_token/configuration.rb
  lib/map/security_token/service.rb
  modules/check_in/spec/requests/check_in/v2/sessions/appointments_spec.rb
  spec/fixtures/map/jwks.json
  spec/lib/map/security_token/service_spec.rb
  spec/lib/map/sign_up/service_spec.rb
  spec/requests/v0/map_services_spec.rb
  spec/support/vcr_cassettes/check_in/map/security_token_service_401.yml
  spec/support/vcr_cassettes/map/security_token_service_200_invalid_token.yml
  spec/support/vcr_cassettes/map/security_token_service_200_response.yml
  spec/support/vcr_cassettes/map/sign_up_service_200_responses.yml
Labels: test-passing, require-backend-approval

#20062 93461: Add #zip_code_is_us_based to VBA214140
  modules/simple_forms_api/app/models/simple_forms_api/vba_21_4140.rb
  modules/simple_forms_api/spec/models/vba_20_10207_spec.rb
  modules/simple_forms_api/spec/models/vba_21_0845_spec.rb
  modules/simple_forms_api/spec/models/vba_21_0966_spec.rb
  modules/simple_forms_api/spec/models/vba_21_4140_spec.rb
  modules/simple_forms_api/spec/models/vba_40_0247_spec.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
  modules/simple_forms_api/spec/support/shared_examples_for_base_form.rb
Labels: test-passing, require-backend-approval

#20121 Add feature toggle for Burials
  config/features.yml
Labels: burial-benefits, test-passing, require-backend-approval

#20112 Adding routes for provider endpoint
  modules/vaos/config/routes.rb
Labels: test-failure, test-passing, require-backend-approval

#20110 chore: replace `ddtrace` gem with `datadog`
  Gemfile
  Gemfile.lock
  Rakefile
  app/controllers/concerns/exception_handling.rb
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/lighthouse/document_upload.rb
  app/sidekiq/lighthouse/document_upload_synchronous.rb
  config/initializers/datadog.rb
  lib/shrine/plugins/validate_virus_free.rb
  modules/appeals_api/app/services/appeals_api/remove_pii.rb
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
Labels: test-passing, require-backend-approval

#19972 Api 43135 poa updated notification dependent
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/sidekiq/claims_api/poa_assign_dependent_claimant_job.rb
  modules/claims_api/app/sidekiq/claims_api/poa_updater.rb
  modules/claims_api/app/sidekiq/claims_api/service_base.rb
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/app/sidekiq/claims_api/va_notify_accepted_job.rb
  modules/claims_api/spec/sidekiq/poa_assign_dependent_claimant_job_spec.rb
  modules/claims_api/spec/sidekiq/poa_updater_spec.rb
Labels: claimsApi, test-passing

#19954 API-42609-health-checks-new-services
  modules/claims_api/config/initializers/okcomputer.rb
  modules/claims_api/lib/bgs_service/veteran_representative_service.rb
  modules/claims_api/lib/bgs_service/vnp_atchms_service.rb
  modules/claims_api/lib/bgs_service/vnp_person_service.rb
  modules/claims_api/lib/bgs_service/vnp_proc_form_service.rb
  modules/claims_api/lib/bgs_service/vnp_proc_service_v2.rb
  modules/claims_api/lib/bgs_service/vnp_ptcpnt_addrs_service.rb
  modules/claims_api/lib/bgs_service/vnp_ptcpnt_phone_service.rb
  modules/claims_api/lib/bgs_service/vnp_ptcpnt_service.rb
  modules/claims_api/spec/requests/metadata_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20130 Revert "[VI-252] MAP STS token validation"
  app/controllers/v0/map_services_controller.rb
  config/betamocks/services_config.yml
  lib/map/security_token/configuration.rb
  lib/map/security_token/service.rb
  modules/check_in/spec/requests/check_in/v2/sessions/appointments_spec.rb
  spec/fixtures/map/jwks.json
  spec/lib/map/security_token/service_spec.rb
  spec/lib/map/sign_up/service_spec.rb
  spec/requests/v0/map_services_spec.rb
  spec/support/vcr_cassettes/check_in/map/security_token_service_200.yml
  spec/support/vcr_cassettes/check_in/map/security_token_service_401.yml
  spec/support/vcr_cassettes/map/security_token_service_200_response.yml
  spec/support/vcr_cassettes/map/sign_up_service_200_responses.yml
Labels: require-backend-approval

#20124 fix: update caller location handling for Ruby 3.4 compatibility
  app/models/application_record.rb
  lib/common/client/concerns/monitoring.rb
  modules/accredited_representative_portal/app/policies/accredited_representative_portal/application_policy.rb
  modules/va_notify/lib/va_notify/service.rb
Labels: test-failure, test-passing, require-backend-approval

#20132 fix: update argon2-kdf gem to address fiddle deprecation warning
  Gemfile.lock
Labels: test-passing, require-backend-approval

#20079 Btsss/submit claim endpoint
  config/betamocks/services_config.yml
  modules/travel_pay/app/controllers/travel_pay/application_controller.rb
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
  modules/travel_pay/app/services/travel_pay/appointments_client.rb
  modules/travel_pay/app/services/travel_pay/appointments_service.rb
  modules/travel_pay/app/services/travel_pay/claims_client.rb
  modules/travel_pay/app/services/travel_pay/claims_service.rb
  modules/travel_pay/app/services/travel_pay/expenses_client.rb
  modules/travel_pay/app/services/travel_pay/token_client.rb
  modules/travel_pay/spec/requests/travel_pay/claims_spec.rb
  modules/travel_pay/spec/services/appointments_client_spec.rb
  modules/travel_pay/spec/services/claims_client_spec.rb
  modules/travel_pay/spec/services/claims_service_spec.rb
  modules/travel_pay/spec/services/expenses_client_spec.rb
  modules/travel_pay/spec/services/token_client_spec.rb
  spec/support/vcr_cassettes/travel_pay/200_claims.yml
  spec/support/vcr_cassettes/travel_pay/404_claims.yml
  spec/support/vcr_cassettes/travel_pay/show/success.yml
  spec/support/vcr_cassettes/travel_pay/submit/success.yml
Labels: test-passing, require-backend-approval

#20066 API-43073: Drop `va_forms_forms` Table
  db/migrate/20241231213045_drop_va_forms_forms.rb
  db/schema.rb
Labels: Lighthouse, banana-peels, test-passing, require-backend-approval

#20073 #90355 [10-10 Health Apps] Improve code quality for shared code
  app/models/health_care_application.rb
  lib/form1010_ezr/service.rb
  lib/hca/enrollment_system.rb
  lib/va1010_forms/enrollment_system/service.rb
  lib/va1010_forms/utils.rb
  spec/lib/va1010_forms/enrollment_system/service_spec.rb
  spec/lib/va1010_forms/utils_spec.rb
Labels: test-passing, require-backend-approval

#20141 Revert "Bump faraday from 2.10.1 to 2.12.2 (#19978)"
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/settings.yml
  modules/mobile/spec/support/helpers/iam_session_helper.rb
  spec/fixtures/iam_ssoe/oauth.crt
  spec/fixtures/iam_ssoe/oauth.key
  spec/lib/iam_ssoe_oauth/service_spec.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
Labels: test-passing, require-backend-approval

#19932 [API-43408] PowerOfAttorneyRequest create Blueprint
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/request_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/power_of_attorney_request_spec.rb
  spec/support/schemas/claims_api/v2/veterans/power_of_attorney/request_representative/submit.json
Labels: claimsApi, test-passing

#20152 Update tests with unique data to prevent race conditions
  spec/uploaders/evss_claim_document_uploader_spec.rb
Labels: test-passing, require-backend-approval

#20144 98411: Add feature flag for burial module
  config/features.yml
Labels: test-failure, require-backend-approval

#20095 Add pagination info to Vets::Collection
  lib/vets/collection.rb
  lib/vets/collections/pagination.rb
  spec/lib/vets/collection_spec.rb
  spec/lib/vets/collections/pagination_spec.rb
Labels: codeowners-addition-failure, codeowners-delete-failure, test-passing, require-backend-approval

#20123 93461: Map name fields for VBA 21-4140
  modules/simple_forms_api/app/form_mappings/vba_21_4140.json.erb
  modules/simple_forms_api/app/models/simple_forms_api/vba_21_4140.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_21_4140.json
  modules/simple_forms_api/spec/models/vba_21_4140_spec.rb
Labels: test-passing, require-backend-approval

#19796 Api 42322 extract org web service bean from local bgs
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/org_web_service.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_proxy_spec.rb
  modules/claims_api/spec/models/veteran/service/user_spec.rb
  modules/claims_api/spec/requests/metadata_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122_spec.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/2122a_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/veteran/app/models/veteran/user.rb
  modules/veteran/spec/models/veteran/user_spec.rb
Labels: claimsApi, test-passing

#19949 [API-42091] Retrieve POA Requests - Schema Update
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/index.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/index/rswag/200.json
Labels: claimsApi, test-passing

#19945 [API-43464] Add index to proc_id
  db/migrate/20241218183417_add_proc_id_index_to_claims_api_power_of_attorney_requests.rb
  db/schema.rb
Labels: claimsApi, test-passing, require-backend-approval

#20078 API-43677-remove-refactored-local-bgs-files
  modules/claims_api/lib/bgs_service/local_bgs_proxy.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_proxy_spec.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_refactored_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20140 Cache Contact Information V2 with user's ICN instead of UUID.
  app/models/va_profile_redis/v2/cache.rb
  app/models/va_profile_redis/v2/contact_information.rb
  lib/va_profile/configuration.rb
  lib/va_profile/v2/contact_information/service.rb
  modules/mobile/spec/requests/mobile/v0/community_care_providers_spec.rb
  spec/models/va_profile_redis/v2/cache_spec.rb
  spec/models/va_profile_redis/v2/contact_information_spec.rb
  spec/requests/v0/profile/email_addresses_spec.rb
Labels: test-passing, require-backend-approval

#20070 Added logic to send new application received email for pensions
  app/sidekiq/benefits_intake_status_job.rb
  config/settings.yml
  lib/va_notify/notification_email/saved_claim.rb
Labels: test-passing, require-backend-approval

#20103 API-40053-store-id-from-vnp-requests
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/create_request.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/create_request_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/orchestrator_spec.rb
Labels: claimsApi, test-passing

#20107 API-43724-remove-local-bgs-refactored-dependencies
  config/features.yml
  modules/claims_api/lib/bgs_service/find_definition.rb
  modules/claims_api/lib/bgs_service/local_bgs.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/error_handler.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/find_definition.rb
  modules/claims_api/lib/bgs_service/local_bgs_refactored/miscellaneous.rb
  modules/claims_api/spec/clients/bgs_client/veteran_representative_vs_poa_request_comparison_spec.rb
  modules/claims_api/spec/lib/claims_api/find_definition_spec.rb
  modules/claims_api/spec/lib/claims_api/local_bgs_spec.rb
  modules/claims_api/spec/support/bgs_client_spec_helpers.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20122 add flush statement
  modules/ivc_champva/app/services/ivc_champva/pdf_filler.rb
  modules/ivc_champva/spec/services/pdf_filler_spec.rb
Labels: test-passing, require-backend-approval

#20173 Update configuration.rb
  lib/lighthouse/benefits_documents/configuration.rb
Labels: test-passing, require-backend-approval

#20154 Adds Feature Flag for Migration of Contention Classifier
  config/features.yml
Labels: test-passing, require-backend-approval

#20172 99889 BUG Debt team streamline eligible
  modules/debts_api/app/controllers/debts_api/v0/financial_status_reports_controller.rb
Labels: test-failure, test-passing, require-backend-approval

#20015 98603 Callbacks for ZSF logging - IVC CHAMPVA forms
  config/features.yml
  modules/ivc_champva/app/jobs/ivc_champva/missing_form_status_job.rb
  modules/ivc_champva/app/services/ivc_champva/email.rb
  modules/ivc_champva/app/services/ivc_champva/zsf_email_notification_callback.rb
  modules/ivc_champva/spec/services/email_spec.rb
Labels: test-passing, require-backend-approval

#20175 Corrected Contact Info V2 authorization policies and added country_name to the AskVA AddressValidation Controller params
  app/models/form_profiles/va_21686c.rb
  app/models/form_profiles/va_526ez.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/address_validation_controller.rb
  spec/models/form_profile_spec.rb
  spec/models/form_profile_v2_spec.rb
Labels: test-passing, require-backend-approval

#20177 MHV-65628 Escape spaces in name for generate_ccd
  lib/medical_records/bb_internal/client.rb
  spec/lib/medical_records/bb_internal/client_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#20179 API-43678-remove-poa-search-part-2
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests_controller.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/summary/search.rb
  modules/claims_api/config/routes.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20153 API-43736-poa-request-response-w-location-header
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/spec/requests/v2/veterans/power_of_attorney/power_of_attorney_request_spec.rb
Labels: claimsApi, test-failure, test-passing

#20170 [VI-961] fix MHV user account error body
  app/services/mhv/user_account/errors.rb
  spec/controllers/v0/user/mhv_user_accounts_controller_spec.rb
  spec/services/mhv/user_account/creator_spec.rb
Labels: test-passing

#20126 VI-911 Update Mock User Auth params
  modules/mocked_authentication/lib/credential/service.rb
  modules/mocked_authentication/spec/lib/credential/service_spec.rb
Labels: test-failure, test-passing

#20184 Added feature toggle for appoint a rep v2 features
  config/features.yml
Labels: appoint-a-representative, test-passing, require-backend-approval

#19998 5: [ART] Serialize POA form data with POA request
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_form.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/application_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_decision_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_expiration_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_resolution_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer/decision_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer/expiration_serializer.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer/resolution_serializer.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_form.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval, art-mvp-prstack

#20145 Fix bug in credential email route with missing credential email
  app/controllers/v0/users_controller.rb
  spec/controllers/v0/users_controller_spec.rb
Labels: test-passing

#20187 [SIMPLE-FORMS] feat: add submission api to submit return json
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
Labels: test-failure, test-passing, require-backend-approval

#20052 6: [ART] Skip spec for POA request representatives migration
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval, art-mvp-prstack

#20192 Bumping to OVER lighthouse limit
  config/settings.yml
  lib/lighthouse/benefits_documents/configuration.rb
Labels: test-failure, test-passing, require-backend-approval

#20200 chore: Update Sidekiq gem to 7.3.4
  Gemfile
  Gemfile.lock
  lib/sidekiq/semantic_logging.rb
Labels: test-passing, require-backend-approval

#20162 Add filtering info to Vets::Collection
  lib/vets/collection.rb
  lib/vets/collections/finder.rb
  spec/lib/vets/collection_spec.rb
  spec/lib/vets/collections/finder_spec.rb
Labels: codeowners-addition-failure, codeowners-delete-failure, test-passing, require-backend-approval

#20176 Add logging/exception handling to controller
  modules/travel_pay/app/controllers/travel_pay/v0/claims_controller.rb
  modules/travel_pay/spec/requests/travel_pay/claims_spec.rb
Labels: test-passing, require-backend-approval

#20204 2122 PDF generation only check boxes when specified
  modules/representation_management/app/models/representation_management/form_2122_data.rb
  modules/representation_management/lib/representation_management/v0/pdf_constructor/form_2122.rb
  modules/representation_management/lib/representation_management/v0/pdf_constructor/form_2122a.rb
  modules/representation_management/spec/models/representation_management/form_2122_data_spec.rb
Labels: test-passing, require-backend-approval

#20158 [10-10CG,10-10EZ] Update Swagger documentation
  app/controllers/v0/apidocs_controller.rb
  app/swagger/swagger/requests/caregivers_assistance_claims.rb
  app/swagger/swagger/requests/health_care_applications.rb
  spec/requests/swagger_spec.rb
Labels: test-passing, require-backend-approval

#19989 [Disability Benefits Team 1 DBEX-TREX] Force IPF submissions without startedFormVersion to get set as '2019'
  .github/CODEOWNERS
  app/controllers/v0/disability_compensation_in_progress_forms_controller.rb
  app/models/form_profiles/va_526ez.rb
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/requests/v0/disability_compensation_form_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#20188 93461: Add #address to VBA214140
  modules/simple_forms_api/app/form_mappings/vba_21_4140.json.erb
  modules/simple_forms_api/app/models/form_engine/address.rb
  modules/simple_forms_api/app/models/simple_forms_api/vba_21_4140.rb
  modules/simple_forms_api/spec/models/vba_21_4140_spec.rb
  modules/simple_forms_api/spec/support/shared_examples_for_base_form.rb
Labels: test-passing, require-backend-approval

#20146 7: Art/poa requests/part 5/representatives.2.retry 1
  db/schema.rb
  modules/accredited_representative_portal/db/migrate/20250101213060_add_poa_request_references_representatives.rb
  modules/accredited_representative_portal/db/migrate/20250101213061_add_poa_request_references_representatives_foreign_key.rb
  modules/accredited_representative_portal/db/migrate/20250101213062_add_poa_request_references_representatives_foreign_key_validate.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval, art-mvp-prstack

#20191 MHV-65985 Added a check to block BBInternal client init threads if ICN is not set
  lib/medical_records/bb_internal/client.rb
  modules/my_health/spec/requests/my_health/v1/medical_records/imaging_spec.rb
  modules/my_health/spec/requests/my_health/v1/medical_records/radiology_spec.rb
  spec/lib/medical_records/bb_internal/client_spec.rb
Labels: test-passing, require-backend-approval

#20220 1354: add 1095b-2024.pdf template
  lib/form1095_b/templates/pdfs/1095b-2024.pdf
Labels: test-passing, require-backend-approval

#20228 revert: restore faraday version to 2.12
  .github/CODEOWNERS
  Gemfile
  Gemfile.lock
  config/settings.yml
  modules/mobile/spec/support/helpers/iam_session_helper.rb
  spec/fixtures/iam_ssoe/oauth.crt
  spec/fixtures/iam_ssoe/oauth.key
  spec/lib/iam_ssoe_oauth/service_spec.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#20233 98603 Update metadata to match what VANotify expects - IVC CHAMPVA forms
  modules/ivc_champva/app/jobs/ivc_champva/missing_form_status_job.rb
Labels: test-passing, require-backend-approval

#20199 DR | Remove unused prefills
  config/form_profile_mappings/10182.yml
  config/form_profile_mappings/20-0996.yml
  spec/models/form_profile_spec.rb
  spec/models/form_profile_v2_spec.rb
Labels: NOD, HLR, test-passing, require-backend-approval

#20236 Replace `statsd_tag` with proper `statsd_tags` in VA Notify callback metadata hash - IVC CHAMPVA forms
  modules/ivc_champva/app/jobs/ivc_champva/missing_form_status_job.rb
Labels: test-passing

#20163 [VI-957] Add MHVUserAccountPolicy
  .github/CODEOWNERS
  app/controllers/v0/user/mhv_user_accounts_controller.rb
  app/models/user.rb
  app/policies/mhv_user_account_policy.rb
  spec/controllers/v0/user/mhv_user_accounts_controller_spec.rb
  spec/policies/mhv_user_account_policy_spec.rb
Labels: test-passing, require-backend-approval

#20222 API-43896-v1-poa-dependent-job-arguments
  modules/claims_api/app/sidekiq/claims_api/poa_assign_dependent_claimant_job.rb
Labels: claimsApi, test-passing

#20160 Add feature flag for Max CFI service switch and tests
  app/models/form_profiles/va_526ez.rb
  app/services/claim_fast_tracking/max_rating_annotator.rb
  config/features.yml
  spec/services/claim_fast_tracking/max_rating_annotator_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#20198 API-43679-remove-bgs-client
  modules/claims_api/app/clients/claims_api/bgs_client.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/power_of_attorney_requests/decisions_controller.rb
  modules/claims_api/spec/clients/bgs_client/veteran_representative_vs_poa_request_comparison_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20203 API-43905-remove-deprecated-models-II
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/dump.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/decision/load.rb
  modules/claims_api/app/models/claims_api/power_of_attorney_request/summary/load.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20167 [API-43015] Add power_of_attorney_requests get endpoint
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/show.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/factories/power_of_attorney_request.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/show/rswag/200.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/show/rswag/401.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/show/rswag/404.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/show/rswag_spec.rb
Labels: claimsApi, test-passing

#20247 Renaming feature toggle to remove . character
  config/features.yml
Labels: appoint-a-representative, test-passing, require-backend-approval

#20216 Always use mhv_user_account cached response on User
  app/models/user.rb
  app/services/mhv/user_account/creator.rb
  lib/mhv/account_creation/service.rb
  spec/controllers/v0/user/mhv_user_accounts_controller_spec.rb
  spec/lib/mhv/account_creation/service_spec.rb
  spec/models/user_spec.rb
  spec/services/mhv/user_account/creator_spec.rb
Labels: test-passing

#20142 [#1957] Add feature toggle for chatbot Datadog logging
  config/features.yml
Labels: test-passing, require-backend-approval

#20043 Toxic Exposure: Toggle clean up in BE
  app/models/form526_submission.rb
  config/features.yml
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/models/form526_submission_spec.rb
  spec/models/form_profile_spec.rb
  spec/requests/v0/disability_compensation_in_progress_forms_controller_spec.rb
Labels: disability-compensation, test-passing, require-backend-approval

#20253 Add missing source app name
  lib/source_app_middleware.rb
Labels: test-passing, require-backend-approval

#20252 Fallback to current user's first name in 21-0966
  modules/simple_forms_api/app/services/simple_forms_api/notification_email.rb
Labels: test-passing, require-backend-approval

#19551 EVSS PCIU Migration: Remove from betamocks
  config/betamocks/services_config.yml
  docs/setup/betamocks.md
Labels: test-passing, require-backend-approval

#20263 Fixed docker build and spec failures
  Dockerfile
  spec/lib/medical_records/client_spec.rb
Labels: test-passing, require-backend-approval

#19971 API-43825-bgs-service-standardization
  modules/claims_api/app/clients/claims_api/bgs_client/definitions.rb
  modules/claims_api/spec/lib/claims_api/find_definition_spec.rb
Labels: claimsApi, test-passing, omit-backend-approval

#20085 96247 add organization address validation to trexler file process job
  lib/periodic_jobs.rb
  modules/veteran/app/models/veteran/service/organization.rb
  modules/veteran/app/sidekiq/organizations/queue_updates.rb
  modules/veteran/app/sidekiq/organizations/update.rb
  modules/veteran/app/sidekiq/organizations/xlsx_file_processor.rb
  modules/veteran/spec/fixtures/xlsx_files/rep-mock-data.xlsx
  modules/veteran/spec/sidekiq/organizations/queue_updates_spec.rb
  modules/veteran/spec/sidekiq/organizations/update_spec.rb
  modules/veteran/spec/sidekiq/organizations/xlsx_file_processor_spec.rb
Labels: test-passing, require-backend-approval

#20143 Burial 100122 Correct log level for FormSubmissionAttempt Status Change
  app/models/form_submission_attempt.rb
Labels: burial-benefits, test-passing, require-backend-approval

#20231 93461: Add #employment_history to VBA214140
  modules/simple_forms_api/app/form_mappings/vba_21_4140.json.erb
  modules/simple_forms_api/app/models/form_engine/employment_history.rb
  modules/simple_forms_api/app/models/simple_forms_api/vba_21_4140.rb
  modules/simple_forms_api/spec/fixtures/form_json/vba_21_4140-min.json
  modules/simple_forms_api/spec/fixtures/form_json/vba_21_4140.json
  modules/simple_forms_api/spec/models/form_engine/employment_history_spec.rb
  modules/simple_forms_api/spec/models/vba_21_4140_spec.rb
Labels: test-passing, require-backend-approval

#20243 Add diagnostics for VAOS modality error
  modules/vaos/app/services/vaos/v2/appointments_service.rb
Labels: test-passing, require-backend-approval

#20113 [API-43472] Handle Form526 validation for phone numbers
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/v1/526.json
  modules/claims_api/spec/models/auto_established_claim_spec.rb
Labels: claimsApi, test-passing

#20259 Fix Rubocop/Layout
  .github/CODEOWNERS
  .rubocop_todo.yml
  app/controllers/v1/sessions_controller.rb
  app/models/in_progress_form.rb
  app/sidekiq/cypress_viewport_updater/viewport.rb
  app/sidekiq/form1095/new1095_bs_job.rb
  app/swagger/swagger/requests/health_care_applications.rb
  app/swagger/swagger/requests/profile.rb
  app/swagger/swagger/requests/user.rb
  lib/evss/disability_compensation_form/data_translation_all_claim.rb
  lib/generators/module_component/module_component_generator.rb
  modules/appeals_api/app/swagger/appeals_api/v1/notice_of_disagreements_controller_swagger.rb
  modules/appeals_api/spec/docs/decision_reviews/higher_level_reviews_spec.rb
  modules/claims_api/app/controllers/concerns/claims_api/disability_compensation_validations.rb
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
  modules/claims_api/app/sidekiq/claims_api/poa_vbms_updater.rb
  modules/mobile/spec/services/lighthouse_health_service_spec.rb
  modules/vba_documents/lib/vba_documents/upload_validator.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/factories/saml_attributes.rb
  spec/lib/bgs/form686c_spec.rb
  spec/lib/evss/disability_compensation_form/data_translation_all_claim_spec.rb
  spec/lib/iam_ssoe_oauth/service_spec.rb
  spec/lib/saml/post_url_service_spec.rb
  spec/lib/saml/responses/login_spec.rb
  spec/lib/saml/ssoe_user_spec.rb
  spec/lib/saml/url_service_spec.rb
  spec/mailers/direct_deposit_mailer_spec.rb
  spec/models/async_transaction/va_profile/base_spec.rb
  spec/models/user_session_form_spec.rb
  spec/rakelib/vet360_spec.rb
  spec/sidekiq/cypress_viewport_updater/cypress_config_js_file_spec.rb
  spec/sidekiq/cypress_viewport_updater/github_service_spec.rb
  spec/sidekiq/cypress_viewport_updater/viewport_preset_js_file_spec.rb
  spec/support/saml/response_builder.rb
Labels: test-passing, require-backend-approval

#19940 Add 0969 section 4 pdf mapping
  Gemfile.lock
  lib/pdf_fill/forms/pdfs/21P-0969.pdf
  lib/pdf_fill/forms/va21p0969.rb
  spec/fixtures/pdf_fill/21P-0969/kitchen_sink.pdf
  spec/fixtures/pdf_fill/21P-0969/merge_fields.json
  spec/fixtures/pdf_fill/21P-0969/overflow.pdf
  spec/fixtures/pdf_fill/21P-0969/simple.pdf
Labels: test-passing, require-backend-approval

#20256 Update burials submission stat name
  lib/burials/monitor.rb
Labels: test-passing, require-backend-approval

#20237 [VI-976] Removing email requirement to call MHV Account Creator API
  app/services/mhv/user_account/creator.rb
  spec/controllers/v0/user/mhv_user_accounts_controller_spec.rb
  spec/models/user_spec.rb
  spec/services/mhv/user_account/creator_spec.rb
Labels: test-passing

#20131 set raise_on_missing_callback_actions to true
  config/environments/development.rb
  config/environments/test.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/inquiries_controller.rb
  modules/check_in/app/controllers/check_in/v0/travel_claims_controller.rb
  modules/claims_api/app/controllers/claims_api/v1/application_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/application_controller.rb
  modules/covid_vaccine/app/controllers/covid_vaccine/application_controller.rb
  modules/covid_vaccine/app/controllers/covid_vaccine/v0/registration_controller.rb
  modules/mobile/app/controllers/mobile/concerns/sso_logging.rb
  modules/mobile/app/controllers/mobile/v0/addresses_controller.rb
  modules/mobile/app/controllers/mobile/v0/profile_base_controller.rb
Labels: claimsApi, test-passing, require-backend-approval

#20262 [10-10CG] Update actor_type for caregiver_use_facilities_API toggle
  config/features.yml
Labels: test-passing, require-backend-approval

#20260 Fix Rubocop/Lint 1
  .rubocop_todo.yml
  app/controllers/v1/sessions_controller.rb
  app/models/user.rb
  app/services/users/exception_handler.rb
  app/sidekiq/education_form/create_daily_fiscal_year_to_date_report.rb
  app/sidekiq/education_form/create_daily_year_to_date_report.rb
  app/sidekiq/education_form/process10203_submissions.rb
  app/uploaders/decision_review_evidence_attachment_uploader.rb
  app/uploaders/evss_claim_document_uploader_base.rb
  app/uploaders/form1010cg/poa_uploader.rb
  app/uploaders/hca_attachment_uploader.rb
  app/uploaders/preneed_attachment_uploader.rb
  config/initializers/rack_attack.rb
  lib/va_profile/military_personnel/service_history_response.rb
  lib/va_profile/stats.rb
  modules/appeals_api/app/services/appeals_api/pdf_construction/supplemental_claim/v2/structure.rb
  modules/check_in/lib/check_in/utils/logger.rb
  modules/claims_api/app/uploaders/claims_api/base_uploader.rb
  modules/mobile/app/helpers/mobile/facilities_helper.rb
  rakelib/form526.rake
  spec/controllers/v1/sessions_controller_spec.rb
  spec/models/session_spec.rb
  spec/services/mhv_logging_service_spec.rb
  spec/sidekiq/cypress_viewport_updater/cypress_config_js_file_spec.rb
  spec/support/bb_client_helpers.rb
  spec/support/rx_client_helpers.rb
  spec/support/sm_client_helpers.rb
  spec/uploaders/form1010cg/poa_uploader_spec.rb
Labels: test-passing, require-backend-approval

#20190 HLR | Remove content toggle
  config/features.yml
Labels: feature flag, HLR, test-failure, test-passing, require-backend-approval

#20238 [VI-977] Add operation param to SSOe auth callback
  app/controllers/v1/sessions_controller.rb
  lib/saml/url_service.rb
  spec/controllers/v1/sessions_controller_spec.rb
Labels: test-failure, test-passing

#20240 95247 toggle cleanup for 526 confirmation page
  config/features.yml
Labels: disability-compensation, test-passing, require-backend-approval

#20157 Update attachment uploader for Form Submission and improve debugging
  modules/ivc_champva/app/services/ivc_champva/attachments.rb
  modules/ivc_champva/spec/services/attachments_spec.rb
Labels: test-passing, require-backend-approval

#20274 Log form id in SubmitBenefitsIntakeClaim
  app/sidekiq/lighthouse/submit_benefits_intake_claim.rb
Labels: test-passing, require-backend-approval

#20248 [10-10EZ] Remove log email diff toggle
  app/sidekiq/hca/log_email_diff_job.rb
  config/features.yml
  spec/sidekiq/hca/log_email_diff_job_spec.rb
Labels: test-passing, require-backend-approval

#20224 99889 [Bug] Debt Team 5655 is mis-categorizing some forms
  modules/debts_api/lib/debts_api/v0/fsr_form_transform/streamlined_calculator.rb
  modules/debts_api/spec/fixtures/pre_submission_fsr/pre_transform_non_streamlined.json
  modules/debts_api/spec/fixtures/pre_submission_fsr/pre_transform_streamlined_long.json
  modules/debts_api/spec/fixtures/pre_submission_fsr/pre_transform_streamlined_short.json
  modules/debts_api/spec/fixtures/pre_submission_fsr/sw_long/minimal_asset_post_transform.json
  modules/debts_api/spec/fixtures/pre_submission_fsr/sw_long/minimal_asset_pre_transform.json
  modules/debts_api/spec/lib/debt_api/v0/fsr_form_transform/streamlined_calculator_spec.rb
Labels: test-passing, require-backend-approval

#20290 [VI-912] removes covid_vaccine periodic jobs
  lib/periodic_jobs.rb
Labels: test-failure, require-backend-approval

#20288 updated expected form id for burial applications
  app/controllers/v0/claim_documents_controller.rb
Labels: ready-for-backend-review, test-passing, require-backend-approval

#20106 Add logging to non-module Decision Review controllers
  app/controllers/appeals_base_controller_v1.rb
  app/controllers/v1/decision_review_evidences_controller.rb
  app/controllers/v1/decision_review_notification_callbacks_controller.rb
  app/controllers/v1/higher_level_reviews/contestable_issues_controller.rb
  app/controllers/v1/higher_level_reviews_controller.rb
  app/controllers/v1/notice_of_disagreements/contestable_issues_controller.rb
  app/controllers/v1/notice_of_disagreements_controller.rb
  app/controllers/v1/supplemental_claims/contestable_issues_controller.rb
  app/controllers/v1/supplemental_claims_controller.rb
  app/controllers/v2/higher_level_reviews_controller.rb
  spec/controllers/v1/decision_review_evidences_controller_spec.rb
  spec/controllers/v1/decision_review_notification_callbacks_controller_spec.rb
  spec/requests/v1/higher_level_reviews/contestable_issues_spec.rb
  spec/requests/v1/higher_level_reviews_spec.rb
  spec/requests/v1/notice_of_disagreements/contestable_issues_spec.rb
  spec/requests/v1/notice_of_disagreements_spec.rb
  spec/requests/v1/supplemental_claims/contestable_issues_spec.rb
  spec/requests/v1/supplemental_claims_spec.rb
  spec/requests/v2/higher_level_reviews_spec.rb
Labels: test-passing, require-backend-approval

#20297 Revert "Bump statsd-instrument from 3.9.8 to 3.9.9"
  Gemfile.lock
Labels: require-backend-approval

#20298 Skip flaky test block
  spec/lib/sidekiq/form526_backup_submission_process/submit_spec.rb
Labels: test-failure, test-passing, require-backend-approval

#20272 replace Rails logging with StatsD metrics for diagnostic codes
  app/services/claim_fast_tracking/max_rating_annotator.rb
  spec/services/claim_fast_tracking/max_rating_annotator_spec.rb
Labels: test-passing, require-backend-approval

#20278 Fix Rubocop/Lint 2
  .rubocop_todo.yml
  app/sidekiq/education_form/process10203_submissions.rb
  config/initializers/integration_recorder.rb
  lib/common/file_helpers.rb
  lib/generators/module/module_generator.rb
  lib/saml/user_attributes/ssoe.rb
  modules/appeals_api/app/controllers/concerns/appeals_api/header_modification.rb
  modules/appeals_api/app/sidekiq/appeals_api/pdf_submit_job.rb
  modules/appeals_api/spec/services/appeals_api/pdf_construction/generator_spec.rb
  modules/check_in/app/services/travel_claim/service.rb
  modules/check_in/app/services/v2/chip/service.rb
  modules/claims_api/app/controllers/concerns/claims_api/endpoint_deprecation.rb
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/lib/scripts/appointments_list_validation.rb
  rakelib/form526.rake
  rakelib/mvi.rake
  rakelib/vet360.rake
  spec/controllers/v0/caregivers_assistance_claims_controller_spec.rb
  spec/models/form1010cg/attachment_spec.rb
  spec/rswag_override.rb
Labels: test-passing, require-backend-approval

#20239 100078: Remove unused DR V1::HigherLevelReviewsController
  .github/CODEOWNERS
  app/controllers/v1/higher_level_reviews_controller.rb
  config/routes.rb
  modules/decision_reviews/app/controllers/decision_reviews/v1/higher_level_reviews_controller.rb
  modules/decision_reviews/config/routes.rb
  modules/decision_reviews/spec/requests/v1/higher_level_reviews_spec.rb
  spec/requests/v1/higher_level_reviews_spec.rb
Labels: test-passing, require-backend-approval

#20182 #100703 - Unit test sanitize_date_string method
  modules/debts_api/spec/lib/debt_api/v0/fsr_form_transform/utils_spec.rb
Labels: test-passing, require-backend-approval

#20180 Api 43014 add lh id poa decide
  modules/claims_api/app/controllers/claims_api/v2/blueprints/power_of_attorney_request_blueprint.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/base_controller.rb
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/swagger/claims_api/v2/dev/swagger.json
  modules/claims_api/config/routes.rb
  modules/claims_api/config/schemas/v2/power_of_attorney_requests/param/decision/post.json
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/rswag/200.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/rswag/404.json
  modules/claims_api/spec/requests/v2/power_of_attorney_requests/decisions/create/rswag_spec.rb
Labels: claimsApi, test-passing

#20307 Created AddressValidation logs for staging
  app/controllers/v0/profile/address_validation_controller.rb
Labels: test-passing, require-backend-approval

#19872 API-42927-veteran-rep-service-standardization
  modules/claims_api/lib/bgs_service/veteran_representative_service.rb
  modules/claims_api/lib/bgs_service/veteran_representative_service/create_veteran_representative_request.rb
  modules/claims_api/lib/bgs_service/veteran_representative_service/read_all_veteran_representatives.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/create_veteran_representative_request_spec.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/read_all_veteran_representatives_spec.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/veteran_representative_service_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/create_veteran_representative/valid_params.yml
Labels: claimsApi, test-passing, omit-backend-approval

#20315 API-43977-org-web-specs
  modules/claims_api/spec/lib/claims_api/bgs/org_web_service_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/org_web_service/happy_path.yml
  spec/support/vcr_cassettes/claims_api/bgs/org_web_service/sad_path.yml
Labels: claimsApi, test-passing, omit-backend-approval

#20280 [API-44003] Add claims_api_processes
  db/migrate/20250114210637_add_claims_api_processes.rb
  db/migrate/20250114223139_add_claims_api_processes_index.rb
  db/schema.rb
Labels: claimsApi, test-passing, require-backend-approval

#20018 11: [ART] POA request seed task for dev
  modules/accredited_representative_portal/Rakefile
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_form.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_resolution.rb
  modules/accredited_representative_portal/lib/tasks/seed.rake
  modules/accredited_representative_portal/lib/tasks/seed/records.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_form.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_request_decision_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_request_resolution_spec.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_request_spec.rb
  spec/factories/accredited_individuals.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval, art-mvp-prstack

#20056 12: Art/poa requests/decisions
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_request_decisions_controller.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_decision.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_resolution.rb
  modules/accredited_representative_portal/config/routes.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec.rb
Labels: benefits-accredited-rep-facing, test-passing, require-backend-approval, art-mvp-prstack

#20257 [VI-962] adds CodeownersParser & octo-identity test coverage group
  .github/CODEOWNERS
  spec/spec_helper.rb
  spec/support/codeowners_parser.rb
Labels: test-passing, require-backend-approval

#20235 [VANotify] - Update VANotify::DefaultCallback to handle hash or array statsd_tags
  config/features.yml
  modules/va_notify/lib/va_notify/default_callback.rb
  modules/va_notify/spec/lib/default_callback_spec.rb
Labels: test-passing, require-backend-approval

#20189 [VI-912] removes covid_vaccine registration submission tables
  db/migrate/20250109172425_remove_covid_vaccine_registration_submissions.rb
  db/schema.rb
Labels: test-passing, require-backend-approval

#20327 Revert "Bump statsd-instrument from 3.9.8 to 3.9.9 (#20313)"
  Gemfile
  Gemfile.lock
Labels: require-backend-approval

#20309 Fix Rubocop/Rails 1
  .rubocop_todo.yml
  app/controllers/claims_base_controller.rb
  app/controllers/v0/dependents_applications_controller.rb
  app/controllers/v0/gi_bill_feedbacks_controller.rb
  app/controllers/v0/health_care_applications_controller.rb
  app/controllers/v0/onsite_notifications_controller.rb
  app/models/form_profile.rb
  app/models/user.rb
  app/serializers/dependents_verifications_serializer.rb
  lib/evss/disability_compensation_form/form0781.rb
  lib/evss/pciu/request_body.rb
  lib/hca/enrollment_system.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v1/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/higher_level_reviews_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/notice_of_disagreements_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims/evidence_submissions_controller.rb
  modules/appeals_api/app/controllers/appeals_api/v2/decision_reviews/supplemental_claims_controller.rb
  modules/claims_api/app/models/claims_api/auto_established_claim.rb
  modules/claims_api/spec/models/veteran/service/user_spec.rb
  modules/mobile/lib/mobile/v0/exceptions/validation_errors.rb
  modules/va_notify/app/services/va_notify/find_in_progress_forms.rb
  modules/va_notify/lib/va_notify/in_progress_form_helper.rb
  modules/vaos/spec/services/user_service_spec.rb
  modules/vba_documents/app/controllers/vba_documents/v1/uploads_controller.rb
  modules/vba_documents/app/controllers/vba_documents/v2/uploads_controller.rb
  modules/vba_documents/app/sidekiq/vba_documents/report_unsuccessful_submissions.rb
  modules/vba_documents/app/sidekiq/vba_documents/upload_scanner.rb
  modules/vba_documents/spec/lib/object_store_spec.rb
  modules/vba_documents/spec/sidekiq/upload_scanner_spec.rb
  modules/veteran/spec/models/veteran/user_spec.rb
  spec/controllers/sign_in/application_controller_spec.rb
  spec/controllers/v1/sessions_controller_spec.rb
  spec/lib/iam_ssoe_oauth/session_manager_spec.rb
  spec/services/login/user_verifier_spec.rb
  spec/services/sign_in/access_token_jwt_decoder_spec.rb
  spec/services/sign_in/session_refresher_spec.rb
  spec/services/sign_in/session_revoker_spec.rb
Labels: test-passing, require-backend-approval

#20295 Vebt 1035 - add logging to VYE holidays logic
  modules/vye/app/sidekiq/vye/dawn_dash/activate_bdn.rb
  modules/vye/app/sidekiq/vye/dawn_dash/egress_updates.rb
  modules/vye/app/sidekiq/vye/midnight_run/ingress_bdn.rb
  modules/vye/app/sidekiq/vye/midnight_run/ingress_tims.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/clear_deactivated_bdns.rb
  modules/vye/app/sidekiq/vye/sundown_sweep/delete_processed_s3_files.rb
  modules/vye/spec/sidekiq/vye/dawn_dash/activate_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/dawn_dash/egress_updates_spec.rb
  modules/vye/spec/sidekiq/vye/midnight_run/ingress_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/midnight_run/ingress_tims_spec.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/clear_deactivated_bdn_spec.rb
  modules/vye/spec/sidekiq/vye/sundown_sweep/delete_processed_s3_files_spec.rb
Labels: test-failure, test-passing, require-backend-approval
