Repository department-of-veterans-affairs/vets-api, pull requests merged in 2025-07, with the labels that each got.

#22934 API-prefactor-for-gathering-data-declined-workflow
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#22881 Change pdf_fill mappings to fill out pdf and add specs
  lib/pdf_fill/forms/va281900v2.rb
  spec/fixtures/pdf_fill/28-1900-V2/kitchen_sink.json
  spec/fixtures/pdf_fill/28-1900-V2/kitchen_sink.pdf
  spec/fixtures/pdf_fill/28-1900-V2/overflow.json
  spec/fixtures/pdf_fill/28-1900-V2/overflow.pdf
  spec/fixtures/pdf_fill/28-1900-V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/28-1900-V2/simple.json
  spec/fixtures/pdf_fill/28-1900-V2/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
Labels: final-review-confirmed

#22931 107651 BUGFIX DMC api data contract update
  modules/debts_api/lib/debts_api/v0/digital_dispute_submission_service.rb
  modules/debts_api/spec/lib/debt_api/v0/digital_dispute_submission_service_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22908 21-686c date box stamp copy fix
  modules/simple_forms_api/app/models/simple_forms_api/vba_21686_c.rb
  modules/simple_forms_api/spec/models/vba_21686_c_spec.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed

#22858 Vebt 1966 Part 2 (Tests)
  spec/fixtures/pdf_fill/22-10215a/kitchen_sink.json
  spec/fixtures/pdf_fill/22-10215a/kitchen_sink.pdf
  spec/fixtures/pdf_fill/22-10215a/overflow.json
  spec/fixtures/pdf_fill/22-10215a/overflow.pdf
  spec/fixtures/pdf_fill/22-10215a/overflow_extras.pdf
  spec/fixtures/pdf_fill/22-10215a/simple.json
  spec/fixtures/pdf_fill/22-10215a/simple.pdf
  spec/lib/pdf_fill/filler_spec.rb
  spec/lib/pdf_fill/forms/va2210215_spec.rb
  spec/lib/pdf_fill/forms/va2210215a_spec.rb
  spec/lib/pdf_fill/processors/va2210215_continuation_sheet_processor_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#22954 [ARP] Benefits Intake API configuration workaround
  modules/accredited_representative_portal/app/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job.rb
  spec/support/vcr.rb
  spec/support/vcr_cassettes/accredited_representative_portal/sidekiq/accredited_representative_portal/submit_benefits_intake_claim_job_spec/performs.yml
Labels: benefits-accredited-rep-facing

#22922 API-47550: Update Email Report Recipients for Lighthouse Decision Reviews and Benefits Intake APIs
  modules/appeals_api/config/mailinglists/error_report_daily.yml
  modules/appeals_api/config/mailinglists/error_report_weekly.yml
  modules/appeals_api/config/mailinglists/report_daily.yml
  modules/appeals_api/config/mailinglists/report_weekly.yml
  modules/appeals_api/config/mailinglists/stats_report_monthly.yml
  modules/vba_documents/app/mailers/vba_documents/monthly_report_recipients.yml
  modules/vba_documents/app/mailers/vba_documents/unsuccessful_report_recipients.yml
Labels: Lighthouse, appeals, benefits-intake, banana-peels, final-review-confirmed

#22961 Skip Form21a flaky tests
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/form21a_spec.rb
Labels: final-review-confirmed

#22947 API-47708-prefactor-cleanups-local-vars-in-decide
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#22926 #109903 [10-10EZR] Add pdf download endpoint
  app/controllers/v0/form1010_ezrs_controller.rb
  app/swagger/swagger/requests/form1010_ezrs.rb
  config/routes.rb
  spec/requests/swagger_spec.rb
  spec/requests/v0/form1010_ezrs_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22941 #113299 [10-10EZR] Add PDF download feature flag
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#22944 Point to latest vets_json_schema version
  Gemfile.lock
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/form21a_spec.rb
Labels: form-21a, final-review-confirmed

#22892 [API-47559] EVSS response error handling
  modules/claims_api/lib/evss_service/base.rb
  modules/claims_api/spec/services/evss_service_spec.rb
Labels: Lighthouse, claimsApi, final-review-confirmed, exempt-be-review

#22946 Add conditional on formatting veteranAddress field
  lib/pdf_fill/forms/va281900v2.rb
  spec/fixtures/pdf_fill/28-1900-V2/simple.json
  spec/fixtures/pdf_fill/28-1900-V2/simple.pdf
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#22843 Upload spacing logic refactor
  .github/CODEOWNERS
  app/models/concerns/form526_mpi_concern.rb
  app/models/form526_submission.rb
  spec/models/form526_submission_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22968 VAOS referral provider slot search must paginate even if no slots present
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
  spec/support/vcr_cassettes/vaos/eps/get_provider_slots/200_with_pagination.yml
Labels: require-backend-approval

#22960 Remove va_online_scheduling_convert_slots_to_utc feature toggle
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#22971 Fix for NoMethodError in Sentry
  app/controllers/concerns/sentry_controller_logging.rb
Labels: bug, final-review-confirmed

#22974 Clean factory_bot_rails upgrade from 6.4.4 to 6.5.0
  Gemfile.lock
  modules/vaos/spec/factories/vaos_users.rb
  spec/factories/users.rb
  spec/requests/swagger_spec.rb
  spec/support/authenticated_session_helper.rb
  spec/support/mpi/stub_mpi.rb
  spec/support/va_profile/stub_vaprofile_user.rb
  spec/support/va_profile/stub_vet360.rb
Labels: final-review-confirmed

#22945 Update date format for treatment date
  lib/pdf_fill/forms/va2141422024.rb
  spec/lib/pdf_fill/forms/va2141422024_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22980 Burials | Reordered the fields in the PDF form metadata to match presentation order
  modules/burials/lib/burials/pdf_fill/pdfs/21P-530EZ-2025.pdf
Labels: burial-benefits, final-review-confirmed

#22992 Skip flaky VAOS EPS referral tests
  modules/vaos/spec/requests/vaos/v2/appointments_spec.rb
Labels: require-backend-approval

#22981 [10-10EZ] Remove hca_enrollment_status_v2 toggle
  app/controllers/v0/health_care_applications_controller.rb
  config/features.yml
  spec/requests/v0/health_care_applications_spec.rb
Labels: final-review-confirmed

#22673 111177 ocr discovery
  modules/ivc_champva/lib/ivc_champva/document_ocr_validators.rb
  modules/ivc_champva/lib/ivc_champva/document_ocr_validators/base_validator.rb
  modules/ivc_champva/lib/ivc_champva/document_ocr_validators/tesseract/eob_tesseract_validator.rb
  modules/ivc_champva/lib/ivc_champva/supporting_document_validator.rb
Labels: final-review-confirmed

#22818 111669 updated telehealth modality
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/factories/v2/appointment_forms.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: final-review-confirmed

#22956 Api 47739 extract service for decision handling poa
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decision_handler.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/decision_handler_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23003 [ARP] Fix test failure due to hardcoded time
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/claim_submissions_spec.rb
Labels: benefits-accredited-rep-facing

#22909 Add VSI flash to BGS when form 20-10207 VSI_SI is true
  config/features.yml
  modules/simple_forms_api/app/controllers/simple_forms_api/v1/uploads_controller.rb
  modules/simple_forms_api/app/models/simple_forms_api/vba_20_10207.rb
  modules/simple_forms_api/app/services/simple_forms_api/vsi_flash_service.rb
  modules/simple_forms_api/spec/models/vba_20_10207_spec.rb
  modules/simple_forms_api/spec/requests/simple_forms_api/v1/simple_forms_spec.rb
  modules/simple_forms_api/spec/services/simple_forms_api/vsi_flash_service_spec.rb
Labels: final-review-confirmed

#22997 #113655 [10-10EZR] Add PIL log to parsing failures
  app/sidekiq/hca/ezr_submission_job.rb
  spec/sidekiq/hca/ezr_submission_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22994 Burials | Updating radio choices to follow 0, 1, 2, etc. pattern
  modules/burials/lib/burials/pdf_fill/pdfs/21P-530EZ-2025.pdf
Labels: burial-benefits, require-backend-approval, ready-for-review, final-review-confirmed

#23004 0969 | Updating pre-fill data to fix submission issues
  config/form_profile_mappings/21P-0969.yml
  modules/income_and_assets/app/models/income_and_assets/form_profiles/va_21p0969.rb
Labels: pension-income-assets, require-backend-approval, final-review-confirmed

#23005 Remove profile_ppiu_reject_requests flipper and related tests
  .github/CODEOWNERS
  app/controllers/v0/apidocs_controller.rb
  app/controllers/v0/ppiu_controller.rb
  app/swagger/swagger/requests/ppiu.rb
  config/features.yml
  spec/requests/swagger_spec.rb
  spec/requests/v0/ppiu/payment_information_spec.rb
Labels: require-backend-approval, final-review-confirmed, exempt-be-review

#23000 case insensitive email lookup
  modules/accredited_representative_portal/app/models/accredited_representative_portal/representative_user_account.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/representative_user_account_spec.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed

#22911 110116 accreditation api app code
  lib/periodic_jobs.rb
  modules/representation_management/app/models/representation_management/accreditation_api_entity_count.rb
  modules/representation_management/app/sidekiq/representation_management/accredited_entities_queue_updates.rb
  modules/representation_management/app/sidekiq/representation_management/accredited_individuals_update.rb
  modules/representation_management/lib/representation_management.rb
  modules/representation_management/lib/representation_management/tasks/reprocess_accredited_entities.rake
Labels: ready-for-review

#22984 [CST] Adds a migration to add File Size (integer) to Evidence Submissions table
  db/migrate/20250703183404_add_file_size_to_evidence_submission.rb
  db/schema.rb
Labels: BMT2, final-review-confirmed, exempt-be-review

#23019 Add location name to veterans health immunizations
  lib/lighthouse/veterans_health/models/immunization.rb
  lib/lighthouse/veterans_health/serializers/immunization_serializer.rb
  modules/my_health/spec/requests/my_health/v2/immunizations_spec.rb
Labels: require-backend-approval, final-review-confirmed

#22985 Adding check for presence of user.identity to SSO auth
  app/controllers/concerns/authentication_and_sso_concerns.rb
Labels: final-review-confirmed, exempt-be-review

#22978 [API-47634] Refactor slack reporting on vets-website / va.gov errored claim submissions to be less noisy.
  modules/claims_api/app/services/claims_api/slack/failed_submissions_messenger.rb
  modules/claims_api/app/sidekiq/claims_api/report_hourly_unsuccessful_submissions.rb
  modules/claims_api/spec/services/failed_submissions_messenger_spec.rb
  modules/claims_api/spec/sidekiq/report_hourly_unsuccessful_submissions_spec.rb
Labels: Lighthouse, claimsApi, final-review-confirmed, exempt-be-review

#22988 Remove setting veteranAddress data if no address submitted
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  app/sidekiq/vre/submit1900_job.rb
  lib/res/ch31_form.rb
  spec/factories/veteran_readiness_employment_claim.rb
  spec/lib/res/ch31_form_spec.rb
Labels: final-review-confirmed

#23021 fix: restore Docker build cache
  .github/workflows/audit_service_tags.yml
  .github/workflows/code_checks.yml
  .github/workflows/gh-env-cleanup.yml
Labels: final-review-confirmed

#22952 [CST] Check that a to-be-uploaded document has not already been uploaded
  config/features.yml
  lib/lighthouse/benefits_documents/service.rb
  spec/controllers/v0/benefits_documents_controller_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
Labels: final-review-confirmed

#23013 Delete unused PPIU json, serializer, policy, and schema
  .github/CODEOWNERS
  app/policies/ppiu_policy.rb
  app/serializers/ppiu_serializer.rb
  app/swagger/swagger/schemas/ppiu.rb
  lib/evss/ppiu/service.rb
  lib/tasks/camelize_file.rake
  spec/lib/evss/ppiu/service_spec.rb
  spec/policies/ppiu_policy_spec.rb
  spec/serializers/ppiu_serializer_spec.rb
  spec/support/ppiu/ppiu_response.json
  spec/support/ppiu/ppiu_response_in_camel.json
  spec/support/ppiu/update_ppiu_request.json
  spec/support/ppiu/update_ppiu_request_in_camel.json
  spec/support/ppiu/update_ppiu_response.json
  spec/support/ppiu/update_ppiu_response_in_camel.json
  spec/support/vcr_cassettes/evss/ppiu/forbidden.yml
  spec/support/vcr_cassettes/evss/ppiu/update_flagged.yml
  spec/support/vcr_cassettes/evss/ppiu/update_forbidden.yml
  spec/support/vcr_cassettes/evss/ppiu/update_fraud.yml
Labels: require-backend-approval, final-review-confirmed

#23043 go back to v1 service is v2 is nil
  app/controllers/v0/dependents_applications_controller.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23028 UHD lab type logging job
  .github/CODEOWNERS
  app/sidekiq/unified_health_data/labs_refresh_job.rb
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/my_health/app/controllers/my_health/mr_controller.rb
  modules/my_health/spec/controllers/my_health/mr_controller_job_spec.rb
  spec/sidekiq/unified_health_data/labs_refresh_job_spec.rb
Labels: require-backend-approval, final-review-confirmed, exempt-be-review

#23020 rel: `vets-json-schema` Version Bump
  Gemfile.lock
Labels: disability-compensation, require-backend-approval, disability-benefits-team2, final-review-confirmed

#22752 LSS 109340 Claims Evidence API Service
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
  modules/claims_evidence_api/app/models/claims_evidence_api/submission.rb
  modules/claims_evidence_api/app/serializers/claims_evidence_api/.gitkeep
  modules/claims_evidence_api/app/services/claims_evidence_api/.gitkeep
  modules/claims_evidence_api/lib/claims_evidence_api/configuration.rb
  modules/claims_evidence_api/lib/claims_evidence_api/exceptions.rb
  modules/claims_evidence_api/lib/claims_evidence_api/service/base.rb
  modules/claims_evidence_api/lib/claims_evidence_api/service/files.rb
  modules/claims_evidence_api/lib/claims_evidence_api/x_folder_uri.rb
  modules/claims_evidence_api/spec/lib/claims_evidence_api/configuration_spec.rb
  modules/claims_evidence_api/spec/lib/claims_evidence_api/service/base_spec.rb
  modules/claims_evidence_api/spec/lib/claims_evidence_api/service/files_spec.rb
  modules/claims_evidence_api/spec/lib/claims_evidence_api/x_folder_uri_spec.rb
  modules/claims_evidence_api/spec/models/claims_evidence_api/submission_attempt_spec.rb
  modules/claims_evidence_api/spec/models/claims_evidence_api/submission_spec.rb
  modules/claims_evidence_api/spec/support/claims_evidence_api/.gitkeep
  modules/claims_evidence_api/spec/support/claims_evidence_api/shared_examples/service.rb
Labels: benefits-lifestage-lss, final-review-confirmed

#22901 Bypass VAOS API calls when using EPS betamocks
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/vaos/v2/appointments_service.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  modules/vaos/spec/services/v2/appointment_service_spec.rb
Labels: final-review-confirmed

#22643 bmt1/102839: [CST] Migrate from connect_VBMS to LH document service for claim letters
  .github/CODEOWNERS
  app/controllers/v0/claim_letters_controller.rb
  config/features.yml
  lib/claim_letters/claim_letter_downloader.rb
  lib/claim_letters/providers/claim_letters/claim_letters_provider.rb
  lib/claim_letters/providers/claim_letters/lighthouse_claim_letters_provider.rb
  lib/claim_letters/responses/claim_letters_response.rb
  lib/claim_letters/utils/doctype_service.rb
  lib/claim_letters/utils/letter_transformer.rb
  lib/claim_letters/utils/user_helper.rb
  modules/mobile/app/controllers/mobile/v0/decision_letters_controller.rb
  modules/mobile/spec/requests/mobile/v0/claims/decision_letters_spec.rb
  spec/controllers/v0/claim_letters_controller_spec.rb
  spec/lib/claim_letters/providers/claim_letters_provider_spec.rb
  spec/lib/claim_letters/providers/lighthouse_claim_letters_provider_spec.rb
  spec/lib/claim_letters/utils/letter_transformer_spec.rb
  spec/requests/swagger_spec.rb
  spec/support/claim_letters/claims_letters_provider.rb
Labels: final-review-confirmed, exempt-be-review

#23053 Permit country name in the V0::Profile::AddressController
  app/controllers/v0/profile/addresses_controller.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/put_address_override.yml
Labels: final-review-confirmed

#23049 Update TestAccountUserEmail email key generation
  app/controllers/v0/test_account_user_emails_controller.rb
  spec/requests/v0/test_account_user_emails_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23039 112032 - Add resubmission metadata properties to form submissions - form 10-7959a
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959a.rb
  modules/ivc_champva/spec/models/vha_10_7959a_spec.rb
Labels: final-review-confirmed

#23018 Extra logging for when a provider is not found when creating a draft referral appointment
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
Labels: final-review-confirmed

#23060 fix: move SentryLogging deprecation warning from boot to method usage
  lib/sentry_logging.rb
Labels: final-review-confirmed

#23056 [ARP] Always `BypassOliveBranch`. Once and for all
  config/features.yml
  modules/accredited_representative_portal/app/controllers/concerns/accredited_representative_portal/v0/representative_form_upload_concern.rb
  modules/accredited_representative_portal/config/initializers/bypass_olive_branch.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/bypass_olive_branch_spec.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed

#23063 Removed country_name from permitted parameters
  app/controllers/v0/profile/address_validation_controller.rb
  app/controllers/v0/profile/addresses_controller.rb
  modules/ask_va_api/app/controllers/ask_va_api/v0/address_validation_controller.rb
  spec/factories/va_profile/v3/validation_address.rb
  spec/lib/va_profile/contact_information/service_spec.rb
  spec/lib/va_profile/models/v3/validation_address_spec.rb
  spec/support/vcr_cassettes/va_profile/contact_information/put_address_override.yml
  spec/support/vcr_cassettes/va_profile/v3/address_validation/candidate_multiple_matches.yml
Labels: require-backend-approval, final-review-confirmed

#23030 fix in place and first set of test fixes
  modules/claims_api/app/sidekiq/claims_api/v1/poa_form_builder_job.rb
  modules/claims_api/app/swagger/claims_api/v1/swagger.json
  modules/claims_api/config/schemas/v1/2122.json
  modules/claims_api/lib/claims_api/v1/poa_pdf_constructor/individual.rb
  modules/claims_api/spec/fixtures/21-22A/signed_filled_final.pdf
  modules/claims_api/spec/fixtures/21-22A/signed_filled_phone_country_codes.pdf
  modules/claims_api/spec/lib/claims_api/v1/poa_pdf_constructor/individual_spec.rb
  modules/claims_api/spec/sidekiq/poa_form_builder_job_spec.rb
Labels: Lighthouse, claimsApi, final-review-confirmed, exempt-be-review

#23068 Address schema contract discrepancies
  modules/mobile/app/schemas/claims_and_appeals_get_claim.json
  modules/vaos/app/schemas/appointments_index.json
Labels: final-review-confirmed

#23050 VEBT-2356: Adding feature toggle for VYE downtime alert
  config/features.yml
Labels: final-review-confirmed

#22334 Enabled file uploads + overflow OHI generation for 10-10d/10-7959c merged form - IVC CHAMPVA forms
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
  modules/ivc_champva/app/form_mappings/vha_10_7959c.json.erb
  modules/ivc_champva/app/form_mappings/vha_10_7959c_rev2025.json.erb
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959c_rev2025.rb
  modules/ivc_champva/app/services/ivc_champva/pdf_stamper.rb
  modules/ivc_champva/spec/fixtures/form_json/vha_10_10d_extended.json
  modules/ivc_champva/spec/requests/ivc_champva/v1/forms/uploads_merged_form_spec.rb
  modules/ivc_champva/templates/vha_10_7959c_rev2025.pdf
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23062 Dependents Verification | Accept FE 0538 claims
  lib/source_app_middleware.rb
  modules/dependents_verification/app/controllers/dependents_verification/v0/claims_controller.rb
Labels: require-backend-approval, final-review-confirmed

#23045 Dependents Verification | Add env variables and flipper for emails
  config/features.yml
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
Labels: require-backend-approval, final-review-confirmed

#23038 Api 43735 gather data for poa accept request
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/accepted_decision_handler.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/read_all_veteran_representative_data_mapper.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decision_handler.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/accepted_decision_handler_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_mapper/read_all_veteran_representative_data_mapper_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/decision_handler_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23082 fix va callbacks
  modules/accredited_representative_portal/app/services/accredited_representative_portal/email_delivery_status_callback.rb
  modules/accredited_representative_portal/spec/services/accredited_representative_portal/email_delivery_status_callback_spec.rb
Labels: final-review-confirmed

#23052 Dependents Verification | Add framework for Email Notifications
  modules/dependents_verification/lib/dependents_verification/monitor.rb
  modules/dependents_verification/lib/dependents_verification/notification_callback.rb
  modules/dependents_verification/lib/dependents_verification/notification_email.rb
  modules/dependents_verification/spec/lib/dependents_verification/monitor_spec.rb
  modules/dependents_verification/spec/lib/dependents_verification/notification_callback_spec.rb
  modules/dependents_verification/spec/lib/dependents_verification/notification_email_spec.rb
Labels: final-review-confirmed

#23076 fix(ci): Remove ECR driver options to fix Docker cache
  .github/workflows/audit_service_tags.yml
  .github/workflows/code_checks.yml
  .github/workflows/gh-env-cleanup.yml
Labels: require-backend-approval, final-review-confirmed, exempt-be-review

#22987 110117 add additional functionality to the daily sidekiq job for vsos and vso representatives
  modules/representation_management/app/models/representation_management/accreditation_api_entity_count.rb
  modules/representation_management/app/sidekiq/representation_management/README.md
  modules/representation_management/app/sidekiq/representation_management/accredited_entities_queue_updates.rb
  modules/representation_management/app/sidekiq/representation_management/accredited_individuals_update.rb
  modules/representation_management/lib/representation_management.rb
  modules/representation_management/lib/tasks/reprocess_accredited_entities.rake
  modules/representation_management/spec/lib/representation_management/tasks/reprocess_accredited_entities_rake_spec.rb
  modules/representation_management/spec/models/representation_management/accreditation_api_entity_count_spec.rb
  modules/representation_management/spec/sidekiq/representation_management/accredited_entities_queue_updates_spec.rb
Labels: final-review-confirmed

#23067 [10-10EZ] Filter on mobile facilities and delete old facilities in HealthFacilitiesImportJob
  app/sidekiq/hca/health_facilities_import_job.rb
  config/features.yml
  spec/sidekiq/hca/health_facilities_import_job_spec.rb
Labels: final-review-confirmed

#23002 Fix/4142 overflow email
  Gemfile
  Gemfile.lock
  lib/pdf_fill/extras_generator.rb
  lib/pdf_fill/forms/va214142.rb
  modules/burials/spec/fixtures/pdf_fill/21P-530EZ/overflow_extras.pdf
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow_extras.pdf
  modules/income_and_assets/spec/fixtures/pdf_fill/21P-0969/overflow_redesign_extras.pdf
  modules/pensions/spec/fixtures/overflow_extras.pdf
  spec/fixtures/pdf_fill/10-10CG/signed/overflow_extras.pdf
  spec/fixtures/pdf_fill/10-10EZ/unsigned/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-0781/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-0781V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-0781V2/overflow_redesign_extras.pdf
  spec/fixtures/pdf_fill/21-0781a/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-4142/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-674-V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-674/overflow_extras.pdf
  spec/fixtures/pdf_fill/21-8940/overflow_extras.pdf
  spec/fixtures/pdf_fill/22-10215/overflow_extras.pdf
  spec/fixtures/pdf_fill/22-10215a/overflow_extras.pdf
  spec/fixtures/pdf_fill/22-10216/overflow_extras.pdf
  spec/fixtures/pdf_fill/26-1880/overflow_extras.pdf
  spec/fixtures/pdf_fill/28-1900-V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/28-1900/overflow_extras.pdf
  spec/fixtures/pdf_fill/28-8832/overflow_extras.pdf
  spec/fixtures/pdf_fill/5655/overflow_extras.pdf
  spec/fixtures/pdf_fill/686C-674-V2/overflow_extras.pdf
  spec/fixtures/pdf_fill/686C-674/overflow_extras.pdf
  spec/fixtures/pdf_fill/extras.pdf
Labels: final-review-confirmed

#23086 adds cerner cookie ff
  config/features.yml
Labels: require-backend-approval, final-review-confirmed, exempt-be-review

#22428 110609 add uuid to travel claim notification job logging
  modules/check_in/app/sidekiq/check_in/travel_claim_base_job.rb
  modules/check_in/app/sidekiq/check_in/travel_claim_notification_job.rb
  modules/check_in/app/sidekiq/check_in/travel_claim_status_check_job.rb
  modules/check_in/app/sidekiq/check_in/travel_claim_submission_job.rb
  modules/check_in/spec/sidekiq/travel_claim_notification_job_spec.rb
  modules/check_in/spec/sidekiq/travel_claim_status_check_job_spec.rb
Labels: final-review-confirmed

#23079 Validate betamocks config in all non-prod envs
  config/initializers/betamocks.rb
Labels: final-review-confirmed

#23059 Migrate extend SentryLogging to Vets::SharedLogging
  app/models/iam_user_identity.rb
  app/sidekiq/evss/document_upload.rb
  app/sidekiq/hca/ezr_submission_job.rb
  app/sidekiq/lighthouse/poll_form526_pdf.rb
  lib/common/pdf_helpers.rb
  lib/form1010_ezr/service.rb
  lib/lighthouse/service_exception.rb
  lib/va_profile/contact_information/transaction_response.rb
  lib/va_profile/v2/contact_information/transaction_response.rb
  spec/lib/form1010_ezr/service_spec.rb
  spec/sidekiq/hca/ezr_submission_job_spec.rb
Labels: ready-for-review, final-review-confirmed

#23047 21P-530EZ - Remove overflow behavior for state, country and zip fields
  modules/burials/lib/burials/pdf_fill/va21p530ez.rb
  modules/burials/spec/models/burials/saved_claim_spec.rb
Labels: burial-benefits, pension-benefits, final-review-confirmed

#23034 Adds new BenefitsDocuments service method to validate claimant
  config/features.yml
  lib/lighthouse/benefits_documents/configuration.rb
  lib/lighthouse/benefits_documents/service.rb
  modules/mobile/spec/requests/mobile/v0/claim/documents_spec.rb
  spec/controllers/v0/benefits_documents_controller_spec.rb
  spec/lib/lighthouse/benefits_documents/configuration_spec.rb
  spec/lib/lighthouse/benefits_documents/service_spec.rb
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_validate_claimant_failure.yml
  spec/support/vcr_cassettes/lighthouse/benefits_claims/documents/lighthouse_validate_claimant_success.yml
Labels: final-review-confirmed

#22677 Origin/111177 ocr discovery 3
  modules/ivc_champva/lib/ivc_champva/document_ocr_validators.rb
  modules/ivc_champva/lib/ivc_champva/document_ocr_validators/tesseract/pharmacy_claim_tesseract_validator.rb
  modules/ivc_champva/lib/ivc_champva/document_ocr_validators/tesseract/social_security_card_tesseract_validator.rb
  modules/ivc_champva/lib/ivc_champva/document_ocr_validators/tesseract/superbill_tesseract_validator.rb
  modules/ivc_champva/lib/ivc_champva/supporting_document_validator.rb
  modules/ivc_champva/spec/lib/ivc_champva/document_ocr_validators/tesseract/social_security_card_tesseract_validator_spec.rb
  modules/ivc_champva/spec/lib/ivc_champva/supporting_document_validator_spec.rb
Labels: final-review-confirmed

#23097 112006 mpi validation fix empty date
  modules/ivc_champva/app/services/ivc_champva/mpi_service.rb
  modules/ivc_champva/spec/services/mpi_service_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23104 Revert "Console flipper error"
  .github/CODEOWNERS
  lib/flipper_utils.rb
  lib/mhv_ac/configuration.rb
  lib/rx/configuration.rb
  lib/sm/configuration.rb
  spec/lib/flipper_utils_spec.rb
  spec/lib/mhv_ac/configuration_spec.rb
  spec/lib/rx/configuration_spec.rb
  spec/lib/sm/configuration_spec.rb
Labels: test-failure, audit-service-failure

#23105 BUG: Travel-pay/exclude phone types from eligible count
  modules/mobile/app/models/mobile/v0/adapters/vaos_v2_appointment.rb
  modules/mobile/spec/requests/mobile/v0/appointments/vaos_v2_spec.rb
  spec/support/vcr_cassettes/mobile/appointments/VAOS_v2/get_appointments_200_for_travel_pay.yml
Labels: final-review-confirmed, exempt-be-review

#23033 Add appointmentId to slotSearch EPS request
  modules/vaos/app/controllers/vaos/v2/appointments_controller.rb
  modules/vaos/app/services/eps/provider_service.rb
  modules/vaos/spec/controllers/v2/appointments_controller_spec.rb
  modules/vaos/spec/services/eps/provider_service_spec.rb
  spec/support/vcr_cassettes/vaos/eps/get_provider_slots/200.yml
  spec/support/vcr_cassettes/vaos/eps/get_provider_slots/200_no_slots.yml
  spec/support/vcr_cassettes/vaos/eps/get_provider_slots/200_with_pagination.yml
  spec/support/vcr_cassettes/vaos/eps/get_provider_slots/timeout_simulation.yml
Labels: require-backend-approval, final-review-confirmed

#23108 Benefit Docs Upload: Makes error details more like dictionary keys
  lib/lighthouse/benefits_documents/service.rb
  spec/controllers/v0/benefits_documents_controller_spec.rb
Labels: BMT2, final-review-confirmed

#23125 [515] Add key to header for MHV Account Creation API service
  lib/mhv/account_creation/service.rb
Labels: final-review-confirmed, exempt-be-review

#23111 API-47680 Add more logging when POA not found
  modules/claims_api/app/controllers/concerns/claims_api/poa_verification.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23124 Updated the vets-json-schema version
  Gemfile.lock
Labels: require-backend-approval, final-review-confirmed

#23077 feat(526): Toxic exposure destruction modal feature toggle (flipper)
  config/features.yml
Labels: enhancement, feature flag, disability-benefits, disability-compensation, disability-benefits-team2

#23123 Skip flakey send_emails_by_date_range test
  modules/simple_forms_api/spec/tasks/send_emails_by_date_range_spec.rb
Labels: final-review-confirmed

#23122 [10-10] Add vfs-10-10 to champva-engineering owned codeowners entries
  .github/CODEOWNERS
Labels: require-backend-approval, final-review-confirmed

#23114 Dv 114121
  modules/dependents_verification/app/controllers/dependents_verification/v0/claims_controller.rb
  modules/dependents_verification/app/models/dependents_verification/saved_claim.rb
  modules/dependents_verification/lib/dependents_verification/pdf_fill/sections/section1.rb
  modules/dependents_verification/lib/dependents_verification/pdf_fill/sections/section2.rb
  modules/dependents_verification/lib/dependents_verification/pdf_fill/va210538.rb
  modules/dependents_verification/spec/factories/dependents_verification/dependents_verification_claim.rb
  modules/dependents_verification/spec/fixtures/pdf_fill/21-0538/kitchen_sink.json
  modules/dependents_verification/spec/fixtures/pdf_fill/21-0538/kitchen_sink.pdf
  modules/dependents_verification/spec/fixtures/pdf_fill/21-0538/merge_fields.json
  modules/dependents_verification/spec/lib/dependents_verification/pdf_fill/filler_spec.rb
  modules/dependents_verification/spec/lib/dependents_verification/pdf_fill/va210538_spec.rb
  modules/dependents_verification/spec/models/dependents_verification/saved_claim_spec.rb
  modules/dependents_verification/spec/swagger/swagger/requests/dependents_verification_claims_spec.rb
  spec/lib/pdf_fill/fill_form_examples.rb
Labels: NOT_YET, ready-for-review, final-review-confirmed

#23099 113263: Updates to persistent_attachment_remediation rake task
  config/settings.yml
  lib/persistent_attachments/sanitizer.rb
  rakelib/persistent_attachment_remediation.rake
Labels: require-backend-approval, final-review-confirmed

#22976 Remove va_online_scheduling_fe_source_of_truth_telehealth feature toggle
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#22983 config changes, adding breaker
  .github/CODEOWNERS
  config/initializers/breakers.rb
  lib/ccra/configuration.rb
  lib/eps/configuration.rb
  modules/vaos/app/services/ccra/middleware/ccra_logging.rb
  modules/vaos/app/services/eps/middleware/eps_logging.rb
  modules/vaos/spec/services/ccra/middleware/ccra_logging_spec.rb
  modules/vaos/spec/services/eps/configuration_spec.rb
  modules/vaos/spec/services/eps/middleware/eps_logging_spec.rb
Labels: final-review-confirmed

#23150 [515] Adding MHV account creation api cache header in non production environments
  lib/mhv/account_creation/service.rb
Labels: final-review-confirmed, exempt-be-review

#23149 Added 403 to error map and added a safe operator
  lib/veteran_enrollment_system/associations/service.rb
Labels: require-backend-approval, final-review-confirmed

#23143 [Event Bus Gateway]: Create DB table for tracking sent notifications
  db/migrate/20250717152023_create_event_bus_gateway_notification.rb
  db/schema.rb
Labels: require-backend-approval, final-review-confirmed

#23084 1825 1095b service
  .github/CODEOWNERS
  app/models/form1095_b.rb
  lib/veteran_enrollment_system/form1095_b/configuration.rb
  lib/veteran_enrollment_system/form1095_b/service.rb
  lib/veteran_enrollment_system/form1095_b/templates/pdfs/1095b-2021.pdf
  lib/veteran_enrollment_system/form1095_b/templates/pdfs/1095b-2024.pdf
  lib/veteran_enrollment_system/form1095_b/templates/txts/1095b-2021.txt
  lib/veteran_enrollment_system/form1095_b/templates/txts/1095b-2024.txt
  spec/lib/veteran_enrollment_system/form1095_b/configuration_spec.rb
  spec/lib/veteran_enrollment_system/form1095_b/service_spec.rb
  spec/support/vcr_cassettes/veteran_enrollment_system/form1095_b/get_form_not_found.yml
  spec/support/vcr_cassettes/veteran_enrollment_system/form1095_b/get_form_success.yml
Labels: final-review-confirmed

#23075 submitting 0538 claim in new module
  modules/dependents_verification/app/controllers/dependents_verification/v0/claims_controller.rb
  modules/dependents_verification/lib/dependents_verification.rb
  modules/dependents_verification/lib/dependents_verification/benefits_intake/submission_handler.rb
  modules/dependents_verification/lib/dependents_verification/benefits_intake/submit_claim_job.rb
  modules/dependents_verification/lib/dependents_verification/engine.rb
  modules/dependents_verification/lib/dependents_verification/notification_email.rb
  modules/dependents_verification/spec/controllers/dependents_verification/v0/claims_controller_spec.rb
  modules/dependents_verification/spec/factories/dependents_verification/dependents_verification_claim.rb
  modules/dependents_verification/spec/lib/dependents_verification/benefits_intake/submission_handler_spec.rb
  modules/dependents_verification/spec/lib/dependents_verification/benefits_intake/submit_claim_job_spec.rb
Labels: final-review-confirmed

#23126 arp/fix-to-withdrawn-poa-search-break
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/claimant_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_request_decisions_controller.rb
  modules/accredited_representative_portal/app/controllers/accredited_representative_portal/v0/power_of_attorney_requests_controller.rb
  modules/accredited_representative_portal/app/controllers/concerns/accredited_representative_portal/v0/withdrawal_guard.rb
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request.rb
  modules/accredited_representative_portal/spec/models/accredited_representative_portal/power_of_attorney_request_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/claimant_request_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_request_decisions_spec.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/power_of_attorney_requests_spec.rb
Labels: Ready For Review, benefits-accredited-rep-facing

#23162 [10-10CG] Refactor MuleSoft client
  config/features.yml
  lib/carma/client/mule_soft_auth_token_client.rb
  lib/carma/client/mule_soft_auth_token_configuration_v2.rb
  lib/carma/client/mule_soft_client.rb
  lib/carma/client/mule_soft_configuration_v2.rb
  spec/lib/carma/client/mule_soft_auth_token_client_spec.rb
  spec/lib/carma/client/mule_soft_auth_token_configuration_v2_spec.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/lib/carma/client/mule_soft_configuration_v2_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23141 pass nil to postal_cd and prvnc_nm if foreign address
  app/models/bgs_dependents_v2/base.rb
  spec/models/bgs_dependents_v2/base_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23158 API-47460 Backfill header_hash (Part 1)
  config/features.yml
  modules/claims_api/app/sidekiq/claims_api/one_off/header_hash_filler_job.rb
  modules/claims_api/spec/sidekiq/one_off/header_hash_filler_job_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23159 ClaimsApi: Remove completed oneoff jobs
  config/features.yml
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_bad_box20_render_report_job.rb
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_pdf_gen_fixup_batcher_job.rb
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_pdf_gen_fixup_ids.csv
  modules/claims_api/app/sidekiq/claims_api/one_off/poa_v1_pdf_gen_fixup_job.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_bad_box20_render_report_job_spec.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_pdf_gen_fixup_batcher_job_spec.rb
  modules/claims_api/spec/sidekiq/one_off/poa_v1_pdf_gen_fixup_job_spec.rb
Labels: claimsApi, require-backend-approval, final-review-confirmed, exempt-be-review

#23154 Fix order of attachment ID evaluations - IVC CHAMPVA
  modules/ivc_champva/app/controllers/ivc_champva/v1/uploads_controller.rb
Labels: final-review-confirmed

#23156 Update resubmission metadata properties - form 10-7959a
  modules/ivc_champva/app/models/ivc_champva/vha_10_7959a.rb
  modules/ivc_champva/spec/models/vha_10_7959a_spec.rb
Labels: final-review-confirmed

#23171 API-43735-gather-data-for-poa-accept-phone-vet-claimant
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/accepted_decision_handler.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/claimant_data_mapper.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/veteran_data_mapper.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/vnp_ptcpnt_phone_find_by_primary_key_data_mapper.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decision_handler.rb
  modules/claims_api/lib/bgs_service/vnp_ptcpnt_phone_service.rb
  modules/claims_api/spec/lib/claims_api/bgs/vnp_ptcpnt_phone_service_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/accepted_decision_handler_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_mapper/claimant_data_mapper_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_mapper/veteran_data_mapper_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_mapper/vnp_ptcpnt_phone_find_by_primary_key_data_mapper_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/decision_handler_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/vnp_ptcpnt_phone_service/valid_vnp_ptcpnt_phone_find_by_primary_key.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/decide/valid_accepted_dependent.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/decide/valid_accepted_veteran.yml
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23147 113263 remediation rake task
  rakelib/persistent_attachment_remediation.rake
Labels: final-review-confirmed

#23191 Rotate Identity Dashboard Cert
  spec/fixtures/sign_in/identity_dashboard_service_account.crt
Labels: final-review-confirmed, exempt-be-review

#23187 Cleanup and minor changes
  modules/dependents_verification/app/models/dependents_verification/saved_claim.rb
  modules/dependents_verification/lib/dependents_verification/pdf_fill/section.rb
  modules/dependents_verification/spec/models/dependents_verification/saved_claim_spec.rb
  modules/dependents_verification/spec/swagger/swagger/requests/dependents_verification_claims_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23188 include street as keyword to be normalized
  app/sidekiq/bgs/job.rb
  spec/sidekiq/bgs/job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23179 Removes mhv_medications_display_refill_content feature toggle
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#23132 LSS 111754 Claims Evidence Submission and Tracking
  app/models/persistent_attachment.rb
  app/models/saved_claim.rb
  app/models/saved_claim/dependency_claim.rb
  lib/pdf_utilities/pdf_stamper.rb
  modules/burials/app/models/burials/saved_claim.rb
  modules/claims_evidence_api/app/models/claims_evidence_api/submission.rb
  modules/claims_evidence_api/lib/claims_evidence_api/service/base.rb
  modules/claims_evidence_api/lib/claims_evidence_api/uploader.rb
  modules/claims_evidence_api/spec/factories/claims_evidence_api/.gitkeep
  modules/claims_evidence_api/spec/factories/claims_evidence_api/service/files_response.rb
  modules/claims_evidence_api/spec/factories/claims_evidence_api/submission.rb
  modules/claims_evidence_api/spec/factories/claims_evidence_api/submission_attempt.rb
  modules/claims_evidence_api/spec/lib/claims_evidence_api/uploader_spec.rb
  modules/claims_evidence_api/spec/models/claims_evidence_api/submission_spec.rb
  modules/claims_evidence_api/spec/serializers/claims_evidence_api/.gitkeep
  modules/claims_evidence_api/spec/services/claims_evidence_api/.gitkeep
  modules/income_and_assets/app/models/income_and_assets/saved_claim.rb
  modules/pensions/app/models/pensions/saved_claim.rb
  spec/factories/persistent_attachments/claim_evidence.rb
  spec/factories/saved_claim.rb
  spec/fixtures/files/attachment.pdf
  spec/lib/pdf_utilities/pdf_stamper_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23139 Add fallback logic for vba job when redis data fails
  modules/debts_api/app/sidekiq/debts_api/v0/form5655/vba_submission_job.rb
  modules/debts_api/spec/sidekiq/debt_api/v0/vba_submission_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23184 Update to avoid nil context
  app/helpers/parameter_filter_helper.rb
  config/initializers/filter_parameter_logging.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23210 [10-10EZ] Add context in a comment for hca sidekiq jobs
  app/sidekiq/hca/ezr_submission_job.rb
  app/sidekiq/hca/health_facilities_import_job.rb
  app/sidekiq/hca/log_email_diff_job.rb
  app/sidekiq/hca/std_institution_import_job.rb
  app/sidekiq/hca/submission_job.rb
Labels: require-backend-approval, final-review-confirmed

#23208 [10-10] Revert "Add vfs-10-10 to champva-engineering owned codeowners entries"
  .github/CODEOWNERS
Labels: require-backend-approval, final-review-confirmed

#23203 Accreditation Jobs slack fix
  modules/representation_management/app/models/representation_management/accreditation_api_entity_count.rb
  modules/representation_management/app/services/representation_management/gclaws/client.rb
  modules/representation_management/app/sidekiq/representation_management/accredited_entities_queue_updates.rb
  modules/veteran/app/sidekiq/veteran/vso_reloader.rb
  modules/veteran/spec/sidekiq/veteran/vso_reloader_spec.rb
Labels: final-review-confirmed

#23195 Add privacyStatmentAcknowledged to RES payload
  app/models/saved_claim/veteran_readiness_employment_claim.rb
  lib/res/ch31_form.rb
  spec/factories/veteran_readiness_employment_claim.rb
  spec/lib/res/ch31_form_spec.rb
  spec/models/saved_claim/veteran_readiness_employment_claim_spec.rb
  spec/sidekiq/vre/submit1900_job_spec.rb
Labels: final-review-confirmed

#23212 [10-10CG] Add context in a comment for caregiver sidekiq jobs
  app/sidekiq/form1010cg/delete_old_uploads_job.rb
  app/sidekiq/form1010cg/submission_job.rb
Labels: require-backend-approval, final-review-confirmed

#23216 [10-10CG] Revert generating Oauth token in config to instead generate in perform in client class
  lib/carma/client/mule_soft_client.rb
  lib/carma/client/mule_soft_configuration_v2.rb
  spec/lib/carma/client/mule_soft_client_spec.rb
  spec/lib/carma/client/mule_soft_configuration_v2_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23196 114690 CC appts log when referral provider id is missing
  modules/vaos/app/controllers/vaos/v2/referrals_controller.rb
  modules/vaos/spec/controllers/v2/referrals_controller_spec.rb
  modules/vaos/spec/requests/v2/referrals_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23027 [10-10EZ/10-10CG] Add csrf_token endpoint
  .github/CODEOWNERS
  app/controllers/v0/csrf_token_controller.rb
  config/routes.rb
  spec/requests/v0/csrf_token_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23228 113263 remediation rake task
  rakelib/persistent_attachment_remediation.rake
Labels: final-review-confirmed

#22427 Remove Mobile feature flags for Claims and Appeals
  config/features.yml
  modules/mobile/app/controllers/mobile/v0/claims_and_appeals_controller.rb
  modules/mobile/app/models/mobile/v0/user_accessible_services.rb
  modules/mobile/app/services/mobile/v0/claims/proxy.rb
  modules/mobile/app/services/mobile/v0/lighthouse_claims/claims_index_interface.rb
  modules/mobile/spec/models/user_accessible_services_spec.rb
  modules/mobile/spec/requests/mobile/v0/claim/documents_spec.rb
  modules/mobile/spec/requests/mobile/v0/claim/legacy_documents_spec.rb
  modules/mobile/spec/requests/mobile/v0/claim/legacy_request_decision_spec.rb
  modules/mobile/spec/requests/mobile/v0/claim/request_decision_spec.rb
  modules/mobile/spec/requests/mobile/v0/claims_and_appeals_spec.rb
  modules/mobile/spec/requests/mobile/v0/evss_claim_spec.rb
  modules/mobile/spec/requests/mobile/v0/lighthouse_claim_spec.rb
  modules/mobile/spec/requests/mobile/v0/user_spec.rb
  modules/mobile/spec/requests/mobile/v1/user_spec.rb
  modules/mobile/spec/sidekiq/legacy_pre_cache_claims_and_appeals_job_spec.rb
  modules/mobile/spec/sidekiq/pre_cache_claims_and_appeals_job_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23232 Change slack webhook_url to known working value
  modules/representation_management/app/models/representation_management/accreditation_api_entity_count.rb
  modules/representation_management/app/services/representation_management/gclaws/client.rb
  modules/representation_management/app/sidekiq/representation_management/accredited_entities_queue_updates.rb
  modules/veteran/app/sidekiq/veteran/vso_reloader.rb
  modules/veteran/spec/sidekiq/veteran/vso_reloader_spec.rb
Labels: final-review-confirmed

#23245 Replace EVSS references with Lighthouse in MW spec
  modules/mobile/spec/factories/maintenance_windows.rb
  modules/mobile/spec/models/service_graph_spec.rb
  modules/mobile/spec/requests/mobile/v0/maintenance_windows_spec.rb
  modules/mobile/spec/sidekiq/weekly_maintenance_window_logger_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23157 105200 CC draft appt poro
  modules/vaos/app/services/vaos/v2/eps_draft_appointment.rb
  modules/vaos/spec/services/vaos/v2/eps_draft_appointment_spec.rb
Labels: ready-for-review, final-review-confirmed

#23236 Adding a flipper for FE to use for new 4142 for 526
  config/features.yml
Labels: require-backend-approval, final-review-confirmed

#23246 Add DataDog metrics for broker health
  lib/kafka/enhanced_listener.rb
  lib/kafka/producer_manager.rb
  spec/lib/kafka/enhanced_listener_spec.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23257 Add two new feature toggles for jumplinks between PDF form and overflow page
  config/features.yml
Labels: final-review-confirmed

#23244 VEBT-2485: Update vets-json-schema to 25.1.3
  Gemfile.lock
  app/sidekiq/education_form/forms/va_10297.rb
  app/sidekiq/education_form/templates/10297.erb
  config/form_profile_mappings/22-10297.yml
  spec/fixtures/education_benefits_claims/10297/simple.json
  spec/models/form_profile_v2_spec.rb
Labels: final-review-confirmed

#23240 113263 remediation rake task
  rakelib/persistent_attachment_remediation.rake
Labels: require-backend-approval, final-review-confirmed

#23262 alter all 686c 674 stampers with updated coordinates
  app/models/saved_claim/dependency_claim.rb
  app/sidekiq/lighthouse/benefits_intake/submit_central_form686c_job.rb
  app/sidekiq/lighthouse/benefits_intake/submit_central_form686c_v2_job.rb
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23263 add special exception for dependents. switch date checks to first loo…
  lib/pdf_fill/filler.rb
Labels: require-backend-approval, final-review-confirmed

#23264 1887: add paperless delivery feature flag
  config/features.yml
Labels: require-backend-approval, ready-for-review, final-review-confirmed

#23269 VEBT-2730/udpate salesforce breakers arg
  lib/salesforce/configuration.rb
Labels: require-backend-approval, final-review-confirmed

#23270 API-47460 Optimize header_hash filler job
  modules/claims_api/app/sidekiq/claims_api/one_off/header_hash_filler_job.rb
  modules/claims_api/spec/sidekiq/one_off/header_hash_filler_job_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23254 [Decision Reviews] Prevent schema errors related to evidence retrieval requests for duplicate facilities
  modules/decision_reviews/app/controllers/decision_reviews/v1/supplemental_claims_controller.rb
  modules/decision_reviews/spec/controllers/supplemental_claims_controller_spec.rb
Labels: final-review-confirmed

#23277 Removed form_profile_v2 spec
  .github/CODEOWNERS
  spec/models/form_profile_spec.rb
  spec/models/form_profile_v2_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23253 Api 48224 v2 poa pdf cleanup
  modules/claims_api/app/sidekiq/claims_api/v2/poa_form_builder_job.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/base.rb
  modules/claims_api/lib/claims_api/v2/poa_pdf_constructor/individual.rb
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/individual_spec.rb
  modules/claims_api/spec/lib/claims_api/v2/poa_pdf_constructor/organization_spec.rb
  modules/claims_api/spec/sidekiq/v2/poa_form_builder_job_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23279 Adjust Accreditation API endpoints
  modules/representation_management/app/controllers/representation_management/v0/accredited_entities_for_appoint_controller.rb
  modules/representation_management/app/controllers/representation_management/v0/accredited_individuals_controller.rb
  modules/representation_management/app/models/representation_management/accredited_individual_search.rb
  modules/representation_management/app/serializers/representation_management/accredited_individuals/individual_serializer.rb
  modules/representation_management/spec/requests/representation_management/v0/accredited_entities_for_appoint_spec.rb
  modules/representation_management/spec/requests/representation_management/v0/accredited_individuals_spec.rb
  modules/representation_management/spec/serializers/accredited_individuals/individual_serializer_spec.rb
Labels: final-review-confirmed

#23205 [Disability Benefits] Bug: Shorten Backup Path Submission upload filenames
  lib/sidekiq/form526_backup_submission_process/processor.rb
  spec/fixtures/files/medical-records-long-name-rt36FSVxn2VTCGJye9i2UTBjyZnYuhXR0uXTFcQzX7eE61r4PUuobiS2V958VHS9r2999H37jJVbY020p5AR2UQS6S8nZNLXCw9s5hC94m1Z0zdsxlDDDjwJ9o3Fhqky6lLEnKNmBPyaHda71xPN0N7gy7ux9Yu187I.pdf
  spec/lib/sidekiq/form526_backup_submission_process/processor_spec.rb
  spec/support/disability_compensation_form/submissions/with_everything.json
Labels: require-backend-approval, final-review-confirmed

#23182 VEBT 2539 - New grid structure for 10215 pdf - Make PDFs alternate color
  .github/CODEOWNERS
  lib/pdf_fill/forms/pdfs/22-10215.pdf
  lib/pdf_fill/forms/pdfs/22-10215a.pdf
Labels: require-backend-approval, final-review-confirmed

#23218 Vebt 2056 - add rspec tests to cover all live forms to provide more complete coverage in case of changes such as the evss initiative.
  spec/factories/va0993.rb
  spec/factories/va10203.rb
  spec/factories/va10297.rb
  spec/factories/va1990.rb
  spec/factories/va1990e.rb
  spec/factories/va1990n.rb
  spec/factories/va5490.rb
  spec/factories/va5495.rb
  spec/fixtures/education_benefits_claims/10297/kitchen_sink.json
  spec/sidekiq/education_form/create_daily_spool_files_spec.rb
Labels: final-review-confirmed

#23287 Added env var for pagerduty services
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
Labels: require-backend-approval, final-review-confirmed

#23295 Update the vets-json-schema version to 25.1.4
  Gemfile.lock
Labels: require-backend-approval, final-review-confirmed

#23278 API-43734-refactor-mappers-and-gatherers
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/accepted_decision_handler.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_gatherer/poa_auto_establishment_data_gatherer.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_gatherer/read_all_veteran_representative_data_gatherer.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_gatherer/vnp_ptcpnt_addrs_find_by_primary_key_data_gatherer.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_gatherer/vnp_ptcpnt_phone_find_by_primary_key_data_gatherer.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/claimant_data_mapper.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/concerns/mapper_utilities.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/organization_data_mapper.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/data_mapper/veteran_data_mapper.rb
  modules/claims_api/spec/lib/claims_api/bgs/veteran_representative_service/create_veteran_representative_request_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/accepted_decision_handler_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_gatherer/poa_auto_establishment_data_gatherer_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_gatherer/read_all_veteran_representative_data_gatherer_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_gatherer/vnp_ptcpnt_addrs_find_by_primary_key_data_gatherer_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_gatherer/vnp_ptcpnt_phone_find_by_primary_key_data_gatherer_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_mapper/claimant_data_mapper_spec.rb
  modules/claims_api/spec/services/power_of_attorney_request_service/data_mapper/veteran_data_mapper_spec.rb
  spec/support/vcr_cassettes/claims_api/bgs/veteran_representative_service/create_veteran_representative/mpi_ptcpnt_id.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/decide/data_gatherer/poa_data_gather.yml
  spec/support/vcr_cassettes/claims_api/power_of_attorney_request_service/decide/data_gatherer/poa_data_gather_dependent.yml
Labels: claimsApi, final-review-confirmed, exempt-be-review

#23259 Fixes 500 on claimant search when mpi returns no records
  modules/accredited_representative_portal/app/models/accredited_representative_portal/claimant.rb
  modules/accredited_representative_portal/spec/requests/accredited_representative_portal/v0/claimant_request_spec.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed

#23281 Don't match on URL if service name exists in breakers_matcher
  .github/CODEOWNERS
  lib/common/client/configuration/base.rb
  spec/lib/common/client/configuration/base_spec.rb
Labels: final-review-confirmed, exempt-be-review

#23145 Associate accredited individual with POA request decision
  modules/accredited_representative_portal/app/models/accredited_representative_portal/power_of_attorney_request_decision.rb
  modules/accredited_representative_portal/app/serializers/accredited_representative_portal/power_of_attorney_request_serializer/decision_serializer.rb
  modules/accredited_representative_portal/spec/factories/power_of_attorney_request_decision.rb
Labels: benefits-accredited-rep-facing, final-review-confirmed

#23309 Delete unused notifications setting
  config/settings.yml
  config/settings/development.yml
  config/settings/test.yml
Labels: final-review-confirmed

#23310 [10-10CG] Skip flaky 10-10CG attachment specs
  spec/requests/v0/form1010cg/attachments_spec.rb
Labels: require-backend-approval, final-review-confirmed

#23314 Api 43734 save and auto establish poa
  modules/claims_api/app/controllers/claims_api/v2/veterans/power_of_attorney/request_controller.rb
  modules/claims_api/app/services/claims_api/power_of_attorney_request_service/decision_handler.rb
  modules/claims_api/app/sidekiq/claims_api/va_notify_accepted_job.rb
  modules/claims_api/spec/controllers/v2/veterans/power_of_attorney/request_controller_spec.rb
  modules/claims_api/spec/requests/v2/veterans/rswag_power_of_attorney_spec.rb
  modules/claims_api/spec/sidekiq/va_notify_accepted_job_spec.rb
Labels: claimsApi, final-review-confirmed, exempt-be-review
