Repository department-of-veterans-affairs/vets-api, pull requests merged in 2025-10, with the labels that each got.

#24378 Dependents Module | Add claim groups to submission job
  app/models/saved_claim_group.rb
  modules/dependents_benefits/lib/dependents_benefits/claim_behavior.rb
  modules/dependents_benefits/lib/dependents_benefits/claim_processor.rb
  modules/dependents_benefits/lib/dependents_benefits/monitor.rb
  modules/dependents_benefits/lib/dependents_benefits/sidekiq/dependent_submission_job.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/sidekiq/dependent_submission_job_spec.rb
Labels: test-failure, ready-for-backend-review, require-backend-approval, ready-for-review

#24475 Bug user lookup failing mobile sm oh flipper
  app/policies/mhv_messaging_policy.rb
  modules/mobile/spec/requests/mobile/v0/messaging/health/all_recipients_spec.rb
Labels: final-review-confirmed, exempt-be-review

#24507 Add production-bypass branch for code freeze deploys
  .github/workflows/build.yml
  .github/workflows/code_checks.yml
  .github/workflows/deploy-template.yml
Labels: require-backend-approval, final-review-confirmed

#24527 Fix workflow status check pagination issue
  .github/workflows/ready_for_review.yml
Labels: require-backend-approval, final-review-confirmed

#24480 121029 exclude test files
  Dangerfile
Labels: require-backend-approval, ready-for-review, final-review-confirmed, approved-for-after-shutdown

#24510 Add user hash to claim group
  modules/dependents_benefits/app/controllers/dependents_benefits/v0/claims_controller.rb
  modules/dependents_benefits/app/models/dependents_benefits/form_profiles/va_686c674.rb
  modules/dependents_benefits/lib/dependents_benefits/monitor.rb
  modules/dependents_benefits/lib/dependents_benefits/sidekiq/dependent_submission_job.rb
  modules/dependents_benefits/lib/dependents_benefits/user_data.rb
  modules/dependents_benefits/spec/controllers/dependents_benefits/v0/claims_controller_spec.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/user_data_spec.rb
Labels: shutdown-hold

#24416 Submit form674 v2 job spec
  spec/sidekiq/bgs/submit_form674_v2_job_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24536 additional logging around gi bill feedback
  app/controllers/v0/gi_bill_feedbacks_controller.rb
  spec/controllers/v0/gi_bill_feedbacks_controller_spec.rb
Labels: require-backend-approval, final-review-confirmed

#24545 fix: update uri gem to 1.0.4 to address CVE-2025-61594
  Gemfile.lock
Labels: require-backend-approval, final-review-confirmed

#24548 Revert "#121184 [Benefits Management Team 2] Update JSON schema for appeal issues to allow for `null` descriptions"
  lib/caseflow/schema/appeals_issue.json
  spec/lib/caseflow/service_spec.rb
  spec/requests/v0/appeals_spec.rb
  spec/support/schemas/appeals_issue.json
Labels: final-review-confirmed

#24467 Remove redundant code owner entries for benefits-admin
  .github/CODEOWNERS
Labels: ready-for-review, exempt-be-review

#24520 Add submission handler for dependents benefits
  modules/dependents_benefits/lib/dependents_benefits.rb
  modules/dependents_benefits/lib/dependents_benefits/benefits_intake/submission_handler.rb
  modules/dependents_benefits/lib/dependents_benefits/engine.rb
  modules/dependents_benefits/spec/lib/dependents_benefits/benefits_intake/submission_handler_spec.rb
Labels: lint-failure

#24556 Update ssoe_idp_int_metadata_isam.xml
  config/ssoe_idp_int_metadata_isam.xml
Labels: final-review-confirmed, exempt-be-review
